/* Scss Document */
#ns_Container {
	width: 100%;
	background-image: url(../img/subpage_bglp_02.jpg);
}
#ns_Contents img {
	max-width: 100%;
	height: auto;
}
#ns_Contents {
	max-width: 960px;
	margin: 0 auto;
	background-color: #FFF;
	text-align: center;
 .nsHeader {
 padding-top:28.2%;
 height:0;
 background-image:url(http://www.rakuten.ne.jp/gold/dentouhonpo/info/img/noshi_header_img.jpg);
 background-size:contain;
 background-repeat:no-repeat;
 max-height:271px;
 h1 {
 padding-top:271px;
 height:0;
 overflow:hidden;
}
 p {
margin-top:10px;
}
}
nav {
	width: 100%;
	height: 75px;
	margin: 30px auto;
 ul.ns_nav {
 margin:0 auto;
 width:700px;
}
ul.ns_nav li {
	float: left;
	width: 140px;
	height: 75px;
 a {
 display:block;
 width:100%;
 height:0;
 padding-top:75px;
 overflow:hidden;
 background-image:url(http://www.rakuten.ne.jp/gold/dentouhonpo/info/img/ns_globalnav.png);
}
}
}
ul.ns_nav li.about a {
	background-position: 0 0;
 &:hover {
background-position:0 -82px;
}
}
ul.ns_nav li.base_noshi a {
	background-position: -140px 0;
 &:hover {
background-position:-140px -82px;
}
}
ul.ns_nav li.attention a {
	background-position: -280px 0;
 &:hover {
background-position:-280px -82px;
}
}
ul.ns_nav li.howto a {
	background-position: -420px 0;
 &:hover {
background-position:-420px -82px;
}
}
ul.ns_nav li.qa a {
	background-position: -560px 0;
 &:hover {
background-position:-560px -82px;
}
}
h2 {
	width: 90%;
	height: 64px;
	text-align: left;
	padding-left: 75px;
	margin-top: 40px;
	margin-bottom: 10px;
	background-image: url(../img/01.jpg);
	background-repeat: no-repeat;
	background-position: 20px 0;
}
.leadtext {
	margin: auto;
	font-size: 16px;
	width: 85%;
	text-align:left;
}
.use {
	margin: auto;
	width: 100%;
	margin-top: 25px;
 h3 {
 margin:0 auto;
 width:200px;
 border:solid 1px #E95330;
 padding:4px;
 font-size:20px;
}
p {
	font-size: 1.1em;
	line-height: 3em;
}
ul {
	margin-top: 10px;
}
ul li {
	font-size: 16px;
}
}
#base_noshi {
	width: 95%;
	margin: 30px auto;
 .base_ns {
 margin-bottom:20px;
 font-size:16px;
 color:#e95330;
 em {
 font-size:30px;
}
}
.free {
	width: 95%;
	margin: 20px auto;
	font-size: 20px;
 em {
 font-size:30px;
}
}
.baseH {
	text-align: left;
	margin-top: 15px;
	margin-bottom:15px;
 p {
 margin-left:85px;
 margin-right:30px;
 text-align:left;
 font-size:1.0rem;
 margin-top:10px;
}
}
.base_exp {
	text-align: left;
	padding-top: 20px;
 p {
 margin-left:85px;
 font-size:1.0rem;
}
b {
	font-size: 1.1rem;
}
}
}
#attention {
 h2 {
background-image:url(../img/02.jpg);
}
ul.ns_attention {
	width: 80%;
	text-align: left;
	font-size: 20px;
	margin: 0 auto;
 li {
 margin-bottom:5px;
 background:url(../img/attention.jpg) no-repeat;
 padding-left:28px;
 em {
 font-size:20px;
 color:#301e21;
 border-bottom:2px solid #D8FF09;
}
}
}
}
#howto {
 h2 {
 background-image:url(../img/03.jpg);
}
.ns_howto {
	margin-bottom: 20px;
 h4 {
 width:80%;
 margin:0 auto;
 font-size:24px;
 text-align:left;
 padding-left:50px;
 margin-bottom:10px;
}
h4.step1 {
	background: url(../img/howto_01.jpg) no-repeat;
}
h4.step2 {
	background: url(../img/howto_02.jpg) no-repeat;
}
p {
	width: 80%;
	text-align: left;
	margin: 0 auto;
	font-size: 16px;
	margin-bottom: 10px;
	margin-top: 10px;
}
img.mobile_only {
	display: none;
}
}
}
#qa {
	margin-bottom: 50px;
 h2 {
 background-image:url(../img/04.jpg);
}
.ns_qa {
	width: 90%;
	margin: auto;
	border-top: 2px dotted #8C8C8C;
	margin-bottom: 14px;
	text-align: left;
 .question {
 font-size:18px;
 padding:29px 10px 0 10px;
 span.qq {
 padding-bottom:10px;
 border-bottom:2px dotted #d7e4f3;
 line-height:48px;
}
}
.answer {
	padding: 15px 15px 15px 25px;
	font-size: 16px;
}
.last_q {
	border-bottom: 2px dotted #8C8C8C;
	padding-bottom: 29px;
}
}
}
p.footer_text {
	font-size: 18px;
	margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
	
	.nsHeader{
		background-image:url(http://www.rakuten.ne.jp/gold/dentouhonpo/info/img/noshi_header_img_sp.jpg);
		padding-top:28.6%;
		}
nav {
	width: 100%;
	height: auto;
 ul.ns_nav {
 width:100%;
}
ul.ns_nav li {
	width: 100%;
	float: none;
	height: auto;
	border-bottom: dotted 1px #fff;
	text-align: center;
 a {
 display:block;
 width:100%;
 clear:both;
 background-image:none;
 background-color:#e95330;
 color:#fff;
 height:30px;
 padding:2px;
 text-decoration:none;
 &:hover {
 background-color:#f59783;
}
}
}
}
#about, #base_noshi, #attention, #howto, #ns_check {
 h2 {
 font-size:16px;
 width:100%;
 text-align:center;
 height:auto;
 background-image:none;
 background-color:#362225;
 padding:10px 0 10px 0;
 margin-bottom:20px;
 color:#fff;
}
}
#about .use ul li {
	font-size: 13px;
}
#base_noshi {
 p.select_bg em {
 font-size:20px;
}
.free {
	font-size: 13px;
 em {
 font-size:20px;
}
}
.baseH {
	text-align: center;
	 margin-top:15px;
 p {
 margin-left:4px;
 font-size:.9rem;
}
}
.base_exp {
	padding-top: 10px;
 p {
 margin-left:4px;
 font-size:.9rem;
}
}
}
#attention ul.ns_attention {
	width: 90%;
 li {
 font-size:15px;
 em {
font-size:15px;
}
}
}
.mobile_only {
	width: 100%;
}
.step_sp01 {
	background-image: url(http://www.rakuten.ne.jp/gold/dentouhonpo/info/img/noshi_capture_SP_r_01.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	padding-top: 72%;
	background-size: contain;
	max-width: 490px;
	height: 0;
}
.step_sp02 {
	background-image: url(http://www.rakuten.ne.jp/gold/dentouhonpo/info/img/noshi_capture_SP_r_02.jpg);
	background-size: contain;
	padding-top: 215%;
	height: 0;
	max-width: 490px;
	background-repeat: no-repeat;
}
.step_sp03 {
	background-image: url(http://www.rakuten.ne.jp/gold/dentouhonpo/info/img/noshi_capture_SP_r_03.jpg);
	background-size: contain;
	padding-top: 147%;
	height: 0;
	max-width: 490px;
	background-repeat: no-repeat;
}
img.pc_only {
	display: none;
}
#howto {
 p {
 width:90%;
}
.ns_howto h4 {
	font-size: 18px;
	padding: 10px 0 10px 50px;
	width: 95%;
}
.ns_howto p {
	width: 95%;
}
}
}
}
