@charset "UTF-8";
/*  $bc : #f5f5f4; $sbc : #b5dedb; $mc : #f3d0cf; $ac : #9c7048; $acc: #000; */
/* 白背景 */
/* 薄い背景色 */
/* 薄い枠線 */
/* 文字色 */
/* 文字色 強調 メインカラー */
/* 文字色 強調 グルーピング */
/* アクセントカラー 鶸色 */
/* ボックス指定 */
/* 透明度指定 */
/* 余白設定 */
/* アニメーション指定 */
/* 角丸指定 */
/* フォントの相対指定 */
/* 独自リセットcss */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0; padding: 0; }

html { color: #000; background: #FFF; }

h1, h2, h3, h4, h5, h6 { font-weight: bold; font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif; }

h1 { font-size: 24px; /* IE8以下対策 */ /* *font-size: ($s * 10) * 2 + px; */ font-size: 1.5rem; line-height: 1.5; }

h2 { font-size: 21.6px; /* IE8以下対策 */ /* *font-size: ($s * 10) * 2 + px; */ font-size: 1.35rem; line-height: 1.5; }

h3 { font-size: 19.2px; /* IE8以下対策 */ /* *font-size: ($s * 10) * 2 + px; */ font-size: 1.2rem; line-height: 1.5; }

h4 { font-size: 16.8px; /* IE8以下対策 */ /* *font-size: ($s * 10) * 2 + px; */ font-size: 1.05rem; line-height: 1.5; }

h5 { font-size: 14.4px; /* IE8以下対策 */ /* *font-size: ($s * 10) * 2 + px; */ font-size: 0.9rem; line-height: 1.5; }

h6 { font-size: 12px; /* IE8以下対策 */ /* *font-size: ($s * 10) * 2 + px; */ font-size: 0.75rem; line-height: 1.5; }

input, textarea, select { font-family: inherit; font-size: inherit; font-weight: inherit; *font-size: 100%; }

img { vertical-align: bottom; }

address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal; }

ol, ul { list-style: none; }

caption, th { text-align: left; }

q:before, q:after { content: ''; }

abbr, acronym { border: 0; font-variant: normal; }

sup { vertical-align: text-top; }

sub { vertical-align: text-bottom; }

/* スタイルガイド */
body { width: 100%; /* 書式の一括指定 */ /* font: 16px/1.5 Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif; */ font: 16px/1.5 "メイリオ", Meiryo,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; color: #000; word-wrap: break-word; -webkit-text-size-adjust: 100%; /* アクセント用テキスト */ /* 回りこみ解除clearfix用クラス */ /* リンクスタイルの変更 */ /* 共通設定 */ }
body .cf { /* IE6/7対策 */ zoom: 1; }
body .cf:before, body .cf:after { content: ""; display: table; }
body .cf:after { clear: both; }
body .ancNone a { text-decoration: none; color: #000; }
body .ancNone a:visited { color: #000; }
body .ancNone a:link { color: #000; }
body .ancNone a:hover { text-decoration: underline; }
body .linkalpha a img { -webkit-transition: 0.2s; transition: 0.2s; opacity: 1.0; filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70); }
body .linkalpha a:hover img { opacity: 0.7; filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70); }
