@import "../../../../scss_common/_sr-common.scss";
body {
    height: 100%;
    overflow-y : hidden;
    .wrapContent {
        height: 100%;
        background: transparent url('https://den-tou.com/common/img/sr_op_back.png') ;
        a {
            display: block;
        }
        /* 共通サービス案内 ここから */
        &.sr {
            max-width: 800px;
            margin:0 auto;
            .header {
                img {
                    display: block;
                    margin: 0 auto;
                    padding: 0;
                }
            }
            .contents {
                ul {
                    overflow: hidden;
                    @include sizing(100%);
                    li {
                        float: left;
                        img {
                            width: 100%;
                        }
                    }
                }
                &.main {
                    margin: 0 0 20px;
                    ul {
                        li {
                            width: 47%;
                            &:nth-child(even) {
                                margin: 1% 2% 1% 0%;
                            }
                            &:nth-child(odd) {
                                margin: 1% 2% 1% 2%;
                            }
                            a {
                                img {
                                    @include anm(0.2s);
                                    @include alpha(100);
                                }
                                &:hover {
                                    img {
                                        @include alpha(70);
                                    }
                                }
                            }
                        }
                    }
                }
                &.sub {
                    padding: 0 0 10px;
                    ul {
                        li {
                            width: 22.5%;
                            margin: 1% 1% 1% 1%;
                            height: 51px;
                            position: relative;
                            &:first-child,
                            &:nth-child(5) {
                                margin: 1% 1% 1% 2%;
                            }
                            a {
                                width: 100%;
                                img {
                                    @include anm(0.2s);
                                    display: block;
                                    top: 0;
                                    left: 0;
                                    position: absolute;
                                    @include alpha(100);
                                    &.hv {
                                        @include alpha(0);
                                    }
                                }
                                &:hover {
                                    img {
                                        @include alpha(0);
                                        &.hv {
                                            @include alpha(100);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        @media only screen and (max-width: 768px) {
            &.sr {
                max-width: 800px;
                &.sub{
                    /* display: none; */
                }
                .header {
                    img {
                        width: 100%;
                        display: block;
                        margin: 0 auto;
                        /* padding: 20px 0 10px; */
                        padding: 0;
                    }
                }
                .contents {
                    ul {
                        overflow: hidden;
                        @include sizing(100%);
                        li {
                            float: left;
                            img {
                                width: 100%;
                            }
                        }
                    }
                    &.main {
                        margin: 0;
                        ul {
                            li {
                                width: 98%;
                                &:nth-child(even) {
                                    margin: 1% 1% 1%;
                                }
                                &:nth-child(odd) {
                                    margin: 1% 1% 1%;
                                }
                            }
                        }
                    }
                    &.sub {
                        padding: 0 0 10px;
                        ul {
                            li {
                                position: relative;
                                width: 47%;
                                &:nth-child(even) {
                                    margin: 1% 2% 2% 0%;
                                }
                                &:nth-child(odd) {
                                    margin: 1% 2% 2% 2%;
                                }
                                a {
                                    img {
                                        position: relative;
                                        @include alpha(100);
                                        &.hv {
                                            display: none;
                                        }
                                    }
                                    &:hover {
                                        img {
                                            @include alpha(100);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        /* 楽天商品ページ用スタイルシート ここから */
        @media only screen and (min-device-width: 600px) and (max-device-width: 720px){
            &.rk{
                .contents {
                    &.sub {
                        padding: 0 0 10px;
                        ul {
                            li {
                                position: relative;
                                width: 30.5%;
                                &:nth-child(even),&:nth-child(odd){
                                    margin: 1% 2% 2% 2%;
                                }
                                &:nth-child(2),&:nth-child(5),&:nth-child(8) {
                                    margin: 1% 0 2%;
                                }
                                a {
                                    img {
                                        position: relative;
                                        @include alpha(100);
                                        &.hv {
                                            display: none;
                                        }
                                    }
                                    &:hover {
                                        img {
                                            @include alpha(100);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        /* 楽天700px商品ページ用スタイルシート ここまで */
        /* 共通サービス案内 ここまで */
        /* 特典案内 ここから */
        &.op {
            max-width: 760px;
            padding: 0 20px 20px;
            .opContents {
                @include sizing(100%);
                overflow: hidden;
                padding: 0;
                /* タイトル画像 */
                .opTitle{
                    width: 100%;
                    float: left;
                    img {
                        display: block;
                        margin: 0 auto 30px;
                        padding: 30px 0 0;
                        width: auto;
                        &.title{
                            display: block;
                            &.sp{
                                display: none;
                            }
                        }
                    }
                }
                /* バナー画像 */
                .opImg {
                    width: 100%;
                    float: left;
                    div{
                        img {
                            display: block;
                            margin: 0 auto;
                            width: 100%;
                            &.opdelivery,&.opdishstand,&.opname,&.opplate,&.opreview,&.opsaucer,&.opsheet,&.opwoodenbox,&.opwarranty02,&.opwarranty01,&.opcalender,&.opfg01,&.opfg02,&.opfg03{
                                display: block;
                                &.sp{
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        /* 楽天商品ページ用スタイルシート ここから */
        @media only screen and (max-device-width: 768px){
            &.op {
                width: 100%;
                padding: 0;
                .opContents {
                    padding: 0;
                    .img {
                        width: 96%;
                        padding: 3% 2% 0;
                        clear: both;
                        img{
                            display: block;
                            width: 50%;
                        }
                    }
                    /* タイトル画像 */
                    .opTitle{
                        width: 100%;
                        float: left;
                        img {
                            display: block;
                            margin: 0 auto;
                            padding: 0;
                            width: 100%;
                            &.title{
                                display: none;
                                &.sp{
                                    display: block;
                                }
                            }
                        }
                    }
                    /* バナー画像 */
                    .opImg {
                        width: 100%;
                        float: left;
                        div{
                            img {
                                display: block;
                                margin: 0 auto;
                                width: 100%;
                                &.opdelivery,&.opdishstand,&.opname,&.opplate,&.opreview,&.opsaucer,&.opsheet,&.opwoodenbox,&.opwarranty02,&.opwarranty01,&.opcalender,&.opfg01,&.opfg02,&.opfg03{
                                    display: none;
                                    &.sp{
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        /* 楽天商品ページ用スタイルシート ここまで */
        /* 特典案内 ここまで */
    }
    /* 特典案内ヘッダー ここから */
    .Option {
        width: 100%;
        max-width: 800px;
        background: transparent url('https://den-tou.com/common/img/sr_op_back.png') left top;
        .opHeader {
            margin: 0 auto;
            padding: 0;
            display: block;
            &.sp {
                width: 100%;
                display: none;
            }
        }
        iframe {
            border: none;
            &.service{
                width: 100%;
            }
        }
    }
    @media only screen and (max-width: 768px) {
        .Option {
            background: transparent url('https://den-tou.com/common/img/sr_op_back.png') left top;
            .opHeader {
                display: none;
                &.sp {
                    width: 100%;
                    display: block;
                }
            }
        }
    }
    /* 特典案内ヘッダー ここまで */


    /* ギフトサービスiframe設定 ここから */
    .ifopsp,.ifsr{
        width: 100%;
    }
    .ifopsp{
        height: 2060px;
        margin: 30px 0;
    }
    .ifsr{
        height: 670px;
        margin: 0 0 30px;
    }
    /* ギフトサービスiframe設定 ここまで */

    
}
