@import "../../styleguide/_scss/styleguide-default.scss";

/* ドロップダウンメニュー */
a.meanmenu-reveal {
    display: none;
}

.mean-container{
    .mean-bar {
        float: left;
        width: 100%;
        position: relative;
        background: $bc;
        min-height: 42px;
        z-index: 999999;
    }
    .mean-nav {
        float: left;
        width: 100%;
        background: $bc;
        margin-top: 44px;
        ul {
            padding: 0;
            margin: 0;
            width: 100%;
            list-style-type: none;
            li {
                position: relative;
                float: left;
                width: 100%;
                border: 1px solid $mc;
                border-bottom: none;
                a {
                    display: block;
                    float: left;
                    width: 90%;
                    padding: 1em 5%;
                    margin: 0;
                    text-align: left;
                    color: $acc;
                    border-top: 1px solid #383838;
                    border-top: 1px solid rgba(255,255,255,0.5);
                    text-decoration: none;
                    text-transform: uppercase;
                    &:hover {
                        background-color: $mc;
                        background: rgba(255,255,255,0.1);
                    }
                    &.mean-expand {
                        margin-top: 1px;
                        width: 26px;
                        height: 32px;
                        padding: 12px !important;
                        text-align: center;
                        position: absolute;
                        right: 0;
                        top: 0;
                        z-index: 2;
                        font-weight: 700;
                        background: rgba(255,255,255,0.1);
                        border: none !important;
                        border-left: 1px solid rgba(255,255,255,0.4) !important;
                        border-bottom: 1px solid rgba(255,255,255,0.2) !important;
                        color: $mc;
                        &:hover {
                            color: $bc;
                            background-color: $mc;
                            background: rgba(232,73,37,0.9);
                            a{

                                background-color: $mc;
                            }
                        }
                    }
                }
                li{
                    a {
                        width: 80%;
                        padding: 1em 10%;
                        border-top: 1px solid #f1f1f1;
                        border-top: 1px solid rgba(255,255,255,0.25);
                        opacity: 0.75;
                        filter: alpha(opacity=75);
                        text-shadow: none !important;
                        visibility: visible;
                    }
                    li{
                        a {
                            width: 70%;
                            padding: 1em 15%;
                        }
                        li{
                            a {
                                width: 60%;
                                padding: 1em 20%;
                            }
                            li{
                                a {
                                    width: 50%;
                                    padding: 1em 25%;
                                }
                            }
                        }
                    }
                }
                .mean-last a {
                    border-bottom: none;
                    margin-bottom: 0;
                }
            }
        }
        .wrapper {
            width: 100%;
            padding: 0;
            margin: 0;
        }
    }
    .mean-push {
        float: left;
        width: 100%;
        padding: 0;
        margin: 0;
        clear: both;
    }
    a{
        &.meanmenu-reveal {
            background-color: $mc;
            width: 22px;
            height: 22px;
            padding: 11px 13px 11px 13px;
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
            color: #fff;
            text-decoration: none;
            font-size: 16px;
            text-indent: -9999em;
            line-height: 22px;
            font-size: 1px;
            display: block;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 700;
        }

        span{
            display: block;
            background: #fff;
            height: 3px;
            margin-top: 3px;

        }
    }
}
/* Fix for box sizing on Foundation Framework etc. */
.mean-container .mean-bar, .mean-container .mean-bar * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}


.mean-remove {
    display: none !important;
}