/* line 15, sass/fg-style.scss */
img {
  max-width: 100%;
}

/* line 19, sass/fg-style.scss */
html {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  line-height: 1.5;
  font-size: 15px 1.5rem;
}

/* line 26, sass/fg-style.scss */
em {
  font-style: normal;
}

/* line 30, sass/fg-style.scss */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 12px;
}

/* line 34, sass/fg-style.scss */
h1 {
  line-height: .5;
}

/* line 38, sass/fg-style.scss */
h2 {
  font-size: 35px;
  line-height: 1.0;
  line-height: 1.0rem;
}

/* line 44, sass/fg-style.scss */
h3 {
  font-size: 18px;
  line-height: 1.33;
  line-height: 1.33rem;
}

/* line 50, sass/fg-style.scss */
body.fgOnerank, body.fgNameservice {
  width: 100%;
  font-size: 100%;
  background-color: #fff;
}
/* line 54, sass/fg-style.scss */
body.fgOnerank header, body.fgNameservice header {
  width: 100%;
  min-height: 40px;
  height: auto !important;
  height: 40px;
  background-color: #141517;
  margin: 0;
  padding: 0;
}
/* line 62, sass/fg-style.scss */
body.fgOnerank header h1, body.fgNameservice header h1 {
  font-size: 75%;
  float: left;
  margin: 5px 0 0 10px;
}
/* line 66, sass/fg-style.scss */
body.fgOnerank header h1 strong, body.fgNameservice header h1 strong {
  color: #fff;
  text-decoration: none;
  vertical-align: middle;
  position: relative;
  bottom: 12px;
  font-weight: normal;
}
/* line 74, sass/fg-style.scss */
body.fgOnerank header h1 img, body.fgNameservice header h1 img {
  width: 29px;
  height: 29px;
}
/* line 79, sass/fg-style.scss */
body.fgOnerank header nav, body.fgNameservice header nav {
  float: right;
}
/* line 81, sass/fg-style.scss */
body.fgOnerank header nav a, body.fgNameservice header nav a {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  border: none;
  border-left: 1px solid #fff;
  background-color: #141517;
}
/* line 89, sass/fg-style.scss */
body.fgOnerank header nav a img, body.fgNameservice header nav a img {
  margin: 6px;
  width: 29px;
  height: 29px;
}
/* line 97, sass/fg-style.scss */
body.fgOnerank #contents, body.fgNameservice #contents {
  overflow: hidden;
  float: left;
  width: 100%;
}
/* line 102, sass/fg-style.scss */
body.fgOnerank #contents #nameLinks, body.fgNameservice #contents #nameLinks {
  display: block;
  height: 100%;
  background: url("https://image.rakuten.co.jp/dentouhonpo/cabinet/fg/fg-ft-bg.jpg");
  padding-bottom: 60px;
  overflow: hidden;
}
/* line 108, sass/fg-style.scss */
body.fgOnerank #contents #nameLinks h2, body.fgNameservice #contents #nameLinks h2 {
  display: block;
  clear: both;
  line-height: 0;
  font-size: 1px;
  margin: 0;
  padding: 0;
}
/* line 116, sass/fg-style.scss */
body.fgOnerank #contents #nameLinks h2 a img, body.fgNameservice #contents #nameLinks h2 a img {
  min-width: 100%;
  margin: 0;
}
/* line 122, sass/fg-style.scss */
body.fgOnerank #contents #nameLinks a, body.fgNameservice #contents #nameLinks a {
  text-align: center;
  text-decoration: none;
}
/* line 125, sass/fg-style.scss */
body.fgOnerank #contents #nameLinks a img, body.fgNameservice #contents #nameLinks a img {
  box-sizing: border-box;
  moz-box-sizing: border-box;
  width: 47%;
  margin: 20px 1%;
}
/* line 132, sass/fg-style.scss */
body.fgOnerank #contents #nameItem, body.fgNameservice #contents #nameItem {
  background: url("https://image.rakuten.co.jp/dentouhonpo/cabinet/fg/fg-ft-bg.jpg");
  /* header-fin */
}
/* line 134, sass/fg-style.scss */
body.fgOnerank #contents #nameItem header, body.fgNameservice #contents #nameItem header {
  display: block;
  height: 100%;
  margin-bottom: 20px;
  background: url("https://image.rakuten.co.jp/dentouhonpo/cabinet/fg/fg-ft-bg.jpg");
}
/* line 139, sass/fg-style.scss */
body.fgOnerank #contents #nameItem header h2, body.fgNameservice #contents #nameItem header h2 {
  display: block;
  clear: both;
  line-height: 0;
  font-size: 1px;
  margin: 0;
  padding: 0;
}
/* line 146, sass/fg-style.scss */
body.fgOnerank #contents #nameItem header h2 img, body.fgNameservice #contents #nameItem header h2 img {
  margin: 0;
  min-width: 100%;
}
/* line 152, sass/fg-style.scss */
body.fgOnerank #contents #nameItem a, body.fgNameservice #contents #nameItem a {
  text-align: center;
  text-decoration: none;
}
/* line 155, sass/fg-style.scss */
body.fgOnerank #contents #nameItem a img, body.fgNameservice #contents #nameItem a img {
  box-sizing: border-box;
  moz-box-sizing: border-box;
  width: 47%;
  margin: 0 1%;
}
/* line 161, sass/fg-style.scss */
body.fgOnerank #contents #nameItem section, body.fgNameservice #contents #nameItem section {
  font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
  display: block;
  clear: both;
  box-sizing: border-box;
  moz-box-sizing: border-box;
  width: 100%;
  position: relative;
}
/* line 167, sass/fg-style.scss */
body.fgOnerank #contents #nameItem section img, body.fgNameservice #contents #nameItem section img {
  box-sizing: border-box;
  moz-box-sizing: border-box;
  width: 100%;
  min-width: 100%;
}
/* line 171, sass/fg-style.scss */
body.fgOnerank #contents #nameItem section p, body.fgNameservice #contents #nameItem section p {
  font-size: 160%;
  text-align: center;
  margin: 30px 0;
}
/* line 177, sass/fg-style.scss */
body.fgOnerank #contents #nameItem section .scene img, body.fgNameservice #contents #nameItem section .scene img {
  margin-bottom: 40px;
}
/* line 182, sass/fg-style.scss */
body.fgOnerank #contents #nameItem section section header, body.fgNameservice #contents #nameItem section section header {
  background: none;
  background-color: #3b2c14;
  border: none;
  border-top: #b1a11a 5px solid;
  border-bottom: #6f4a15 5px solid;
  color: #fff;
  padding: 20px 0 10px;
  margin: 0;
}
/* line 191, sass/fg-style.scss */
body.fgOnerank #contents #nameItem section section header h1, body.fgNameservice #contents #nameItem section section header h1 {
  box-sizing: border-box;
  moz-box-sizing: border-box;
  width: 100%;
  text-align: center;
  font-size: 140%;
  margin: 10px 0 10px;
  line-height: 1.0;
}
/* line 197, sass/fg-style.scss */
body.fgOnerank #contents #nameItem section section header h1 span, body.fgNameservice #contents #nameItem section section header h1 span {
  font-size: 300%;
}
/* line 202, sass/fg-style.scss */
body.fgOnerank #contents #nameItem section section header p, body.fgNameservice #contents #nameItem section section header p {
  margin: 10px 0;
  font-size: 80%;
}
/* line 206, sass/fg-style.scss */
body.fgOnerank #contents #nameItem section section header hr, body.fgNameservice #contents #nameItem section section header hr {
  width: 84%;
  border: none;
  border-top: #b0a11a 1px solid;
}
/* line 213, sass/fg-style.scss */
body.fgOnerank #contents #nameItem section section div.itemList span, body.fgNameservice #contents #nameItem section section div.itemList span {
  font-size: 70%;
  color: #f00;
  text-align: center;
  display: block;
}
/* line 219, sass/fg-style.scss */
body.fgOnerank #contents #nameItem section section div.itemList hr, body.fgNameservice #contents #nameItem section section div.itemList hr {
  width: 90%;
  border: none;
  border-top: #b0a11a 1px solid;
}
/* line 224, sass/fg-style.scss */
body.fgOnerank #contents #nameItem section section div.itemList p, body.fgNameservice #contents #nameItem section section div.itemList p {
  margin: 0;
}
/* line 227, sass/fg-style.scss */
body.fgOnerank #contents #nameItem section section div.itemList ul, body.fgNameservice #contents #nameItem section section div.itemList ul {
  list-style-type: none;
  box-sizing: border-box;
  moz-box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}
/* line 231, sass/fg-style.scss */
body.fgOnerank #contents #nameItem section section div.itemList ul li, body.fgNameservice #contents #nameItem section section div.itemList ul li {
  box-sizing: border-box;
  moz-box-sizing: border-box;
  width: 45%;
  margin: 0 2% 10%;
  background-color: #fff;
  border: #b1a11a 1px solid;
  display: block;
  float: left;
  position: relative;
}
/* line 239, sass/fg-style.scss */
body.fgOnerank #contents #nameItem section section div.itemList ul li a, body.fgNameservice #contents #nameItem section section div.itemList ul li a {
  display: block;
  margin-bottom: 10px;
}
/* line 242, sass/fg-style.scss */
body.fgOnerank #contents #nameItem section section div.itemList ul li a img, body.fgNameservice #contents #nameItem section section div.itemList ul li a img {
  margin: 0;
}
/* line 246, sass/fg-style.scss */
body.fgOnerank #contents #nameItem section section div.itemList ul li img.dline01, body.fgOnerank #contents #nameItem section section div.itemList ul li img.dline02, body.fgNameservice #contents #nameItem section section div.itemList ul li img.dline01, body.fgNameservice #contents #nameItem section section div.itemList ul li img.dline02 {
  position: absolute;
  box-sizing: border-box;
  moz-box-sizing: border-box;
  width: 40%;
  min-width: 0;
  top: 0;
  right: 0;
}
/* line 253, sass/fg-style.scss */
body.fgOnerank #contents #nameItem section section div.itemList ul li div, body.fgNameservice #contents #nameItem section section div.itemList ul li div {
  box-sizing: border-box;
  moz-box-sizing: border-box;
  width: 100%;
  padding: 0 6% 10%;
}
/* line 256, sass/fg-style.scss */
body.fgOnerank #contents #nameItem section section div.itemList ul li div p, body.fgNameservice #contents #nameItem section section div.itemList ul li div p {
  font-size: 70%;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
/* line 261, sass/fg-style.scss */
body.fgOnerank #contents #nameItem section section div.itemList ul li div h2, body.fgNameservice #contents #nameItem section section div.itemList ul li div h2 {
  font-size: 80%;
  margin: 0;
}
/* line 265, sass/fg-style.scss */
body.fgOnerank #contents #nameItem section section div.itemList ul li div img, body.fgNameservice #contents #nameItem section section div.itemList ul li div img {
  min-width: 0;
  box-sizing: border-box;
  moz-box-sizing: border-box;
  width: 50%;
}
/* line 269, sass/fg-style.scss */
body.fgOnerank #contents #nameItem section section div.itemList ul li div hr, body.fgNameservice #contents #nameItem section section div.itemList ul li div hr {
  width: 100%;
}
/* line 277, sass/fg-style.scss */
body.fgOnerank #contents #nameItem section section div.itemDetail, body.fgNameservice #contents #nameItem section section div.itemDetail {
  padding: 0 0 50px;
}
/* line 279, sass/fg-style.scss */
body.fgOnerank #contents #nameItem section section div.itemDetail h2, body.fgNameservice #contents #nameItem section section div.itemDetail h2 {
  line-height: 120%;
  margin: 40px auto 0;
  text-align: center;
  font-family: HannariMincho;
  color: #2b0c0c;
  text-shadow: 1px 2px rgba(131, 139, 174, 0.75);
}
/* line 287, sass/fg-style.scss */
body.fgOnerank #contents #nameItem section section div.itemDetail p, body.fgNameservice #contents #nameItem section section div.itemDetail p {
  font-size: 80%;
  line-height: 200%;
  letter-spacing: .1rem;
}
/* line 293, sass/fg-style.scss */
body.fgOnerank #contents #nameItem section section div.itemDrawer, body.fgNameservice #contents #nameItem section section div.itemDrawer {
  padding: 0 0 50px;
}
/* line 295, sass/fg-style.scss */
body.fgOnerank #contents #nameItem section section div.itemDrawer .logo, body.fgNameservice #contents #nameItem section section div.itemDrawer .logo {
  min-width: 40%;
  width: 10%;
  display: block;
  margin: 10px auto 0;
}
/* line 301, sass/fg-style.scss */
body.fgOnerank #contents #nameItem section section div.itemDrawer h2, body.fgNameservice #contents #nameItem section section div.itemDrawer h2 {
  font-size: 160%;
  line-height: 120%;
  margin: 40px auto 0;
  text-align: center;
  color: #2b0c0c;
}
/* line 308, sass/fg-style.scss */
body.fgOnerank #contents #nameItem section section div.itemDrawer p, body.fgNameservice #contents #nameItem section section div.itemDrawer p {
  font-size: 80%;
  line-height: 1.5;
}
/* line 311, sass/fg-style.scss */
body.fgOnerank #contents #nameItem section section div.service, body.fgNameservice #contents #nameItem section section div.service {
  padding: 0 0 10px;
}
/* line 313, sass/fg-style.scss */
body.fgOnerank #contents #nameItem section section div.service p, body.fgNameservice #contents #nameItem section section div.service p {
  font-size: 120%;
}
/* line 321, sass/fg-style.scss */
body.fgOnerank #contents #rankingItem, body.fgNameservice #contents #rankingItem {
  background: url("https://image.rakuten.co.jp/dentouhonpo/cabinet/fg/fg-rank-bg.jpg");
  background-attachment: fixed;
  overflow: hidden;
}
/* line 325, sass/fg-style.scss */
body.fgOnerank #contents #rankingItem header, body.fgNameservice #contents #rankingItem header {
  display: block;
  height: 100%;
  margin-bottom: 20px;
}
/* line 329, sass/fg-style.scss */
body.fgOnerank #contents #rankingItem header h2, body.fgNameservice #contents #rankingItem header h2 {
  display: block;
  clear: both;
  line-height: 0;
  font-size: 1px;
  margin: 0;
  padding: 0;
}
/* line 337, sass/fg-style.scss */
body.fgOnerank #contents #rankingItem header img, body.fgNameservice #contents #rankingItem header img {
  min-width: 100%;
}
/* line 341, sass/fg-style.scss */
body.fgOnerank #contents #rankingItem section, body.fgNameservice #contents #rankingItem section {
  background: none;
  display: block;
  clear: both;
  box-sizing: border-box;
  moz-box-sizing: border-box;
  width: 90%;
  margin: 0 auto 30px;
  position: relative;
}
/* line 348, sass/fg-style.scss */
body.fgOnerank #contents #rankingItem section img, body.fgNameservice #contents #rankingItem section img {
  min-width: 100%;
}
/* line 351, sass/fg-style.scss */
body.fgOnerank #contents #rankingItem section a, body.fgNameservice #contents #rankingItem section a {
  color: #000;
}
/* line 353, sass/fg-style.scss */
body.fgOnerank #contents #rankingItem section a:visited, body.fgNameservice #contents #rankingItem section a:visited {
  color: #000;
}
/* line 356, sass/fg-style.scss */
body.fgOnerank #contents #rankingItem section a > span, body.fgNameservice #contents #rankingItem section a > span {
  display: block;
  width: 70px;
  height: 70px;
  position: absolute;
  top: -4px;
  left: -4px;
}
/* line 363, sass/fg-style.scss */
body.fgOnerank #contents #rankingItem section a > span.rank01, body.fgNameservice #contents #rankingItem section a > span.rank01 {
  width: 70px;
  height: 70px;
  background: url("https://www.rakuten.ne.jp/gold/dentouhonpo/sp/images/fg-rank01.png") no-repeat;
  -moz-background-size: cover;
  background-size: cover;
}
/* line 366, sass/fg-style.scss */
body.fgOnerank #contents #rankingItem section a > span.rank02, body.fgNameservice #contents #rankingItem section a > span.rank02 {
  width: 70px;
  height: 70px;
  background: url("https://www.rakuten.ne.jp/gold/dentouhonpo/sp/images/fg-rank02.png") no-repeat;
  -moz-background-size: cover;
  background-size: cover;
}
/* line 369, sass/fg-style.scss */
body.fgOnerank #contents #rankingItem section a > span.rank03, body.fgNameservice #contents #rankingItem section a > span.rank03 {
  width: 70px;
  height: 70px;
  background: url("https://www.rakuten.ne.jp/gold/dentouhonpo/sp/images/fg-rank03.png") no-repeat;
  -moz-background-size: cover;
  background-size: cover;
}
/* line 372, sass/fg-style.scss */
body.fgOnerank #contents #rankingItem section a > span.rank04, body.fgNameservice #contents #rankingItem section a > span.rank04 {
  width: 70px;
  height: 70px;
  background: url("https://www.rakuten.ne.jp/gold/dentouhonpo/sp/images/fg-rank04.png") no-repeat;
  -moz-background-size: cover;
  background-size: cover;
}
/* line 375, sass/fg-style.scss */
body.fgOnerank #contents #rankingItem section a > span.rank05, body.fgNameservice #contents #rankingItem section a > span.rank05 {
  width: 70px;
  height: 70px;
  background: url("https://www.rakuten.ne.jp/gold/dentouhonpo/sp/images/fg-rank05.png") no-repeat;
  -moz-background-size: cover;
  background-size: cover;
}
/* line 379, sass/fg-style.scss */
body.fgOnerank #contents #rankingItem section a > div, body.fgNameservice #contents #rankingItem section a > div {
  clear: both;
  font-size: 70%;
  line-height: 150%;
  background: #fff;
  margin-top: 4px;
  padding: 10px;
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
/* line 389, sass/fg-style.scss */
body.fgOnerank #contents #rankingItem section a > div div.tag, body.fgNameservice #contents #rankingItem section a > div div.tag {
  box-sizing: border-box;
  moz-box-sizing: border-box;
  width: 100%;
  float: left;
}
/* line 392, sass/fg-style.scss */
body.fgOnerank #contents #rankingItem section a > div div.tag span, body.fgNameservice #contents #rankingItem section a > div div.tag span {
  display: inline-block;
  position: relative;
  clear: both;
  background-color: #000;
  color: #fff;
  font-size: 80%;
  box-sizing: border-box;
  moz-box-sizing: border-box;
  width: auto;
  padding: 2px 6px;
  width: auto;
  height: 20px;
  margin: 0 0 6px;
  font-weight: bold;
}
/* line 405, sass/fg-style.scss */
body.fgOnerank #contents #rankingItem section a > div div.tag span.noCharge, body.fgNameservice #contents #rankingItem section a > div div.tag span.noCharge {
  background: #f00;
}
/* line 410, sass/fg-style.scss */
body.fgOnerank #contents #rankingItem section a > div div.price, body.fgNameservice #contents #rankingItem section a > div div.price {
  float: left;
  margin: 8px 0 0 0;
  width: 100%;
}
/* line 414, sass/fg-style.scss */
body.fgOnerank #contents #rankingItem section a > div div.price em, body.fgNameservice #contents #rankingItem section a > div div.price em {
  font-weight: bold;
  float: left;
}
/* line 418, sass/fg-style.scss */
body.fgOnerank #contents #rankingItem section a > div div.price span, body.fgNameservice #contents #rankingItem section a > div div.price span {
  float: right;
  color: #fff;
  background: #2b2982;
  font-weight: bold;
  padding: 2px 6px;
}
/* line 428, sass/fg-style.scss */
body.fgOnerank #contents #rankingItem section a#icStyle, body.fgNameservice #contents #rankingItem section a#icStyle {
  box-sizing: border-box;
  moz-box-sizing: border-box;
  width: 99%;
}
/* line 431, sass/fg-style.scss */
body.fgOnerank #contents #rankingItem section a.otherLinks, body.fgNameservice #contents #rankingItem section a.otherLinks {
  display: block;
  float: left;
  box-sizing: border-box;
  moz-box-sizing: border-box;
  width: 48%;
  margin: 0 1%;
}
/* line 436, sass/fg-style.scss */
body.fgOnerank #contents #rankingItem section a.otherLinks div, body.fgNameservice #contents #rankingItem section a.otherLinks div {
  padding: 6px 8px;
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  line-height: 1.6;
  font-size: 60%;
  margin: 10px 0 40px;
  -webkit-border-radius: 0 0 8px 8px;
  -moz-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
  background-color: #000;
  background-color: #252525;
  -webkit-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2), inset 0 0 0 2px rgba(255, 255, 255, 0.14), inset 0 0 0 1px black;
  -moz-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2), inset 0 0 0 2px rgba(255, 255, 255, 0.14), inset 0 0 0 1px black;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2), inset 0 0 0 2px rgba(255, 255, 255, 0.14), inset 0 0 0 1px black;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(126, 185, 0, 0));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(126, 185, 0, 0));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(126, 185, 0, 0));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(126, 185, 0, 0));
}
/* line 461, sass/fg-style.scss */
body.fgOnerank #contents #categoryItem, body.fgNameservice #contents #categoryItem {
  background: url("https://image.rakuten.co.jp/dentouhonpo/cabinet/fg/fg-cat-bg.jpg");
  overflow: hidden;
}
/* line 464, sass/fg-style.scss */
body.fgOnerank #contents #categoryItem a, body.fgOnerank #contents #categoryItem a:visited, body.fgOnerank #contents #categoryItem a:link, body.fgNameservice #contents #categoryItem a, body.fgNameservice #contents #categoryItem a:visited, body.fgNameservice #contents #categoryItem a:link {
  color: #000;
}
/* line 468, sass/fg-style.scss */
body.fgOnerank #contents #categoryItem section:nth-child(n) header, body.fgNameservice #contents #categoryItem section:nth-child(n) header {
  background: #6465c1;
  width: 100%;
  overflow: hidden;
}
/* line 472, sass/fg-style.scss */
body.fgOnerank #contents #categoryItem section:nth-child(n) header img, body.fgNameservice #contents #categoryItem section:nth-child(n) header img {
  width: 6px;
  float: left;
  margin: 8px 8px 8px 16px;
}
/* line 477, sass/fg-style.scss */
body.fgOnerank #contents #categoryItem section:nth-child(n) header h2, body.fgNameservice #contents #categoryItem section:nth-child(n) header h2 {
  color: #fff;
  font-size: 140%;
  float: left;
  font-weight: normal;
  margin: 12px 0;
}
/* line 485, sass/fg-style.scss */
body.fgOnerank #contents #categoryItem section:nth-child(n) section, body.fgNameservice #contents #categoryItem section:nth-child(n) section {
  margin: 10px auto;
  box-sizing: border-box;
  moz-box-sizing: border-box;
  width: 90%;
}
/* line 488, sass/fg-style.scss */
body.fgOnerank #contents #categoryItem section:nth-child(n) section ul li, body.fgNameservice #contents #categoryItem section:nth-child(n) section ul li {
  background-color: #fff;
  color: #000;
  font-size: 70%;
  line-height: 1.5;
  overflow: hidden;
  border: 1px solid #6465c1;
  border-bottom: none;
}
/* line 496, sass/fg-style.scss */
body.fgOnerank #contents #categoryItem section:nth-child(n) section ul li:last-child, body.fgNameservice #contents #categoryItem section:nth-child(n) section ul li:last-child {
  border-bottom: 1px solid #6465c1;
}
/* line 499, sass/fg-style.scss */
body.fgOnerank #contents #categoryItem section:nth-child(n) section ul li span, body.fgNameservice #contents #categoryItem section:nth-child(n) section ul li span {
  float: right;
  display: block;
  background: url("https://image.rakuten.co.jp/dentouhonpo/cabinet/fg/fg-btn-b.jpg") no-repeat;
  -moz-background-size: contain;
  background-size: contain;
  width: 16px;
  height: 16px;
  position: relative;
  right: 10px;
  top: -16px;
}
/* line 511, sass/fg-style.scss */
body.fgOnerank #contents #categoryItem section:nth-child(n) section ul li img, body.fgNameservice #contents #categoryItem section:nth-child(n) section ul li img {
  float: left;
  width: 20%;
  margin-right: 6px;
}
/* line 517, sass/fg-style.scss */
body.fgOnerank #contents #categoryItem section:nth-child(n) section ul li h3, body.fgNameservice #contents #categoryItem section:nth-child(n) section ul li h3 {
  font-size: 80%;
  color: #000;
  margin-bottom: 0;
}
/* line 522, sass/fg-style.scss */
body.fgOnerank #contents #categoryItem section:nth-child(n) section ul li em, body.fgNameservice #contents #categoryItem section:nth-child(n) section ul li em {
  margin: 0;
}
/* line 527, sass/fg-style.scss */
body.fgOnerank #contents #categoryItem section:nth-child(n) footer, body.fgNameservice #contents #categoryItem section:nth-child(n) footer {
  background: none;
  margin-bottom: 40px;
}
/* line 530, sass/fg-style.scss */
body.fgOnerank #contents #categoryItem section:nth-child(n) footer a, body.fgNameservice #contents #categoryItem section:nth-child(n) footer a {
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  margin: 20px auto;
  padding: 6px 10px 8px;
  box-sizing: border-box;
  moz-box-sizing: border-box;
  width: 40%;
  display: block;
  color: #fff;
  background: #6465c1;
  text-align: center;
}
/* line 544, sass/fg-style.scss */
body.fgOnerank #contents #categoryItem section:nth-child(2n) header, body.fgNameservice #contents #categoryItem section:nth-child(2n) header {
  background: #c1b564;
  width: 100%;
  overflow: hidden;
}
/* line 548, sass/fg-style.scss */
body.fgOnerank #contents #categoryItem section:nth-child(2n) header img, body.fgNameservice #contents #categoryItem section:nth-child(2n) header img {
  width: 6px;
  float: left;
  margin: 8px 8px 8px 16px;
}
/* line 553, sass/fg-style.scss */
body.fgOnerank #contents #categoryItem section:nth-child(2n) header h2, body.fgNameservice #contents #categoryItem section:nth-child(2n) header h2 {
  color: #fff;
  font-size: 140%;
  float: left;
  font-weight: normal;
  margin: 12px 0;
}
/* line 561, sass/fg-style.scss */
body.fgOnerank #contents #categoryItem section:nth-child(2n) section, body.fgNameservice #contents #categoryItem section:nth-child(2n) section {
  margin: 20px auto;
  box-sizing: border-box;
  moz-box-sizing: border-box;
  width: 90%;
}
/* line 564, sass/fg-style.scss */
body.fgOnerank #contents #categoryItem section:nth-child(2n) section ul li, body.fgNameservice #contents #categoryItem section:nth-child(2n) section ul li {
  color: #000;
  font-size: 70%;
  line-height: 1.5;
  overflow: hidden;
  border: 1px solid #c1b564;
  border-bottom: none;
}
/* line 571, sass/fg-style.scss */
body.fgOnerank #contents #categoryItem section:nth-child(2n) section ul li:last-child, body.fgNameservice #contents #categoryItem section:nth-child(2n) section ul li:last-child {
  border-bottom: 1px solid #c1b564;
}
/* line 574, sass/fg-style.scss */
body.fgOnerank #contents #categoryItem section:nth-child(2n) section ul li span, body.fgNameservice #contents #categoryItem section:nth-child(2n) section ul li span {
  float: right;
  display: block;
  background: url("https://image.rakuten.co.jp/dentouhonpo/cabinet/fg/fg-btn-y.jpg") no-repeat;
  -moz-background-size: contain;
  background-size: contain;
  width: 16px;
  height: 16px;
  position: relative;
  right: 10px;
  top: -16px;
}
/* line 586, sass/fg-style.scss */
body.fgOnerank #contents #categoryItem section:nth-child(2n) section ul li img, body.fgNameservice #contents #categoryItem section:nth-child(2n) section ul li img {
  float: left;
  width: 20%;
  margin-right: 6px;
}
/* line 592, sass/fg-style.scss */
body.fgOnerank #contents #categoryItem section:nth-child(2n) section ul li h3, body.fgNameservice #contents #categoryItem section:nth-child(2n) section ul li h3 {
  font-size: 80%;
  color: #000;
  margin-bottom: 0;
}
/* line 599, sass/fg-style.scss */
body.fgOnerank #contents #categoryItem section:nth-child(2n) footer, body.fgNameservice #contents #categoryItem section:nth-child(2n) footer {
  background: none;
  margin-bottom: 40px;
}
/* line 602, sass/fg-style.scss */
body.fgOnerank #contents #categoryItem section:nth-child(2n) footer a, body.fgNameservice #contents #categoryItem section:nth-child(2n) footer a {
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  margin: 20px auto;
  padding: 6px 10px 8px;
  box-sizing: border-box;
  moz-box-sizing: border-box;
  width: 40%;
  display: block;
  color: #fff;
  background: #c1b564;
}
/* line 615, sass/fg-style.scss */
body.fgOnerank #contents #giftService, body.fgNameservice #contents #giftService {
  overflow: hidden;
  background: url(https://image.rakuten.co.jp/dentouhonpo/cabinet/fg/fg-ft-bg.jpg);
}
/* line 618, sass/fg-style.scss */
body.fgOnerank #contents #giftService header, body.fgNameservice #contents #giftService header {
  height: 100%;
}
/* line 620, sass/fg-style.scss */
body.fgOnerank #contents #giftService header h2, body.fgNameservice #contents #giftService header h2 {
  margin: 0;
}
/* line 623, sass/fg-style.scss */
body.fgOnerank #contents #giftService header img, body.fgNameservice #contents #giftService header img {
  display: block;
  min-width: 100%;
  overflow: hidden;
  height: auto;
}
/* line 630, sass/fg-style.scss */
body.fgOnerank #contents #giftService section, body.fgNameservice #contents #giftService section {
  padding: 40px 0;
}
/* line 632, sass/fg-style.scss */
body.fgOnerank #contents #giftService section h3, body.fgNameservice #contents #giftService section h3 {
  text-align: center;
}
/* line 634, sass/fg-style.scss */
body.fgOnerank #contents #giftService section h3 img, body.fgNameservice #contents #giftService section h3 img {
  width: 80%;
}
/* line 638, sass/fg-style.scss */
body.fgOnerank #contents #giftService section ul, body.fgNameservice #contents #giftService section ul {
  width: 90%;
  margin: 30px auto;
  overflow: hidden;
}
/* line 642, sass/fg-style.scss */
body.fgOnerank #contents #giftService section ul li, body.fgNameservice #contents #giftService section ul li {
  margin: 0;
  box-sizing: border-box;
  moz-box-sizing: border-box;
  width: 28%;
  float: left;
  padding: 0;
}
/* line 648, sass/fg-style.scss */
body.fgOnerank #contents #giftService section ul li figure p, body.fgNameservice #contents #giftService section ul li figure p {
  text-align: center;
}
/* line 650, sass/fg-style.scss */
body.fgOnerank #contents #giftService section ul li figure p img, body.fgNameservice #contents #giftService section ul li figure p img {
  width: 100%;
  margin-bottom: 20px;
}
/* line 655, sass/fg-style.scss */
body.fgOnerank #contents #giftService section ul li figure figcaption, body.fgNameservice #contents #giftService section ul li figure figcaption {
  font-size: 60%;
  text-align: center;
}
/* line 660, sass/fg-style.scss */
body.fgOnerank #contents #giftService section ul li.math, body.fgNameservice #contents #giftService section ul li.math {
  box-sizing: border-box;
  moz-box-sizing: border-box;
  width: 5%;
  margin: 10% 0 0 0;
}
/* line 664, sass/fg-style.scss */
body.fgOnerank #contents #giftService section ul li.twin, body.fgNameservice #contents #giftService section ul li.twin {
  margin: 0;
  box-sizing: border-box;
  moz-box-sizing: border-box;
  width: 45%;
  float: left;
}
/* line 669, sass/fg-style.scss */
body.fgOnerank #contents #giftService section ul li.single, body.fgNameservice #contents #giftService section ul li.single {
  margin: 0 auto;
  box-sizing: border-box;
  moz-box-sizing: border-box;
  width: 100%;
}
/* line 672, sass/fg-style.scss */
body.fgOnerank #contents #giftService section ul li.single img, body.fgNameservice #contents #giftService section ul li.single img {
  min-width: 100%;
  border: 1px solid #E4DABF;
}
/* line 677, sass/fg-style.scss */
body.fgOnerank #contents #giftService section ul li.relationItem, body.fgNameservice #contents #giftService section ul li.relationItem {
  margin: 5px;
}
/* line 679, sass/fg-style.scss */
body.fgOnerank #contents #giftService section ul li.relationItem p, body.fgNameservice #contents #giftService section ul li.relationItem p {
  padding: 0;
}
/* line 685, sass/fg-style.scss */
body.fgOnerank #contents #giftService section p.serviceText, body.fgNameservice #contents #giftService section p.serviceText {
  text-align: left;
}
/* line 688, sass/fg-style.scss */
body.fgOnerank #contents #giftService section p, body.fgNameservice #contents #giftService section p {
  text-align: center;
  font-size: 70%;
  padding: 0 10px;
  line-height: 1.3;
}
/* line 693, sass/fg-style.scss */
body.fgOnerank #contents #giftService section p small, body.fgNameservice #contents #giftService section p small {
  font-size: 70%;
  color: #f00;
}
/* line 697, sass/fg-style.scss */
body.fgOnerank #contents #giftService section p strong, body.fgNameservice #contents #giftService section p strong {
  font-weight: bold;
  font-size: 120%;
}
/* line 702, sass/fg-style.scss */
body.fgOnerank #contents #giftService section hr, body.fgNameservice #contents #giftService section hr {
  width: 90%;
  margin: 40px auto 0;
  border: none;
  border-bottom: 1px dashed #000;
}
/* line 711, sass/fg-style.scss */
body.fgOnerank footer, body.fgNameservice footer {
  overflow: hidden;
  background: url(https://image.rakuten.co.jp/dentouhonpo/cabinet/fg/fg-ft-bg.jpg);
  clear: both;
}
/* line 715, sass/fg-style.scss */
body.fgOnerank footer header, body.fgNameservice footer header {
  height: 100%;
}
/* line 717, sass/fg-style.scss */
body.fgOnerank footer header p, body.fgNameservice footer header p {
  text-align: center;
  display: block;
  height: 30px;
  padding: 10px 0 0;
}
/* line 723, sass/fg-style.scss */
body.fgOnerank footer header a, body.fgNameservice footer header a {
  text-align: center;
  color: #fff;
}
/* line 727, sass/fg-style.scss */
body.fgOnerank footer header img, body.fgNameservice footer header img {
  min-width: 100%;
  overflow: hidden;
  border-top: 1px solid #c89739;
}
/* line 733, sass/fg-style.scss */
body.fgOnerank footer section, body.fgNameservice footer section {
  box-sizing: border-box;
  moz-box-sizing: border-box;
  width: 90%;
  margin: 20px auto;
  border: 1px solid 000;
}
/* line 738, sass/fg-style.scss */
body.fgOnerank footer section #form, body.fgNameservice footer section #form {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
  -webkit-box-shadow: 0 1px rgba(255, 255, 255, 0), inset 0 2px 3px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 255, 255, 0.15);
  -moz-box-shadow: 0 1px rgba(255, 255, 255, 0), inset 0 2px 3px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 255, 255, 0.15);
  box-shadow: 0 1px rgba(255, 255, 255, 0), inset 0 2px 3px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 255, 255, 0.15);
  border: solid 4px #ebe6d0;
  background-image: -webkit-linear-gradient(bottom, white, rgba(255, 255, 255, 0.5));
  background-image: -moz-linear-gradient(bottom, white, rgba(255, 255, 255, 0.5));
  background-image: -o-linear-gradient(bottom, white, rgba(255, 255, 255, 0.5));
  background-image: linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0.5));
}
/* line 752, sass/fg-style.scss */
body.fgOnerank footer section #form, body.fgNameservice footer section #form {
  padding: 8px 0 6px 10px;
  width: 75%;
}
/* line 756, sass/fg-style.scss */
body.fgOnerank footer section #btn, body.fgNameservice footer section #btn {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background-color: rgba(184, 184, 184, 0);
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.25);
  border: solid 4px #ebe6d0;
  background-image: -webkit-linear-gradient(bottom, #cfc7aa, white);
  background-image: -moz-linear-gradient(bottom, #cfc7aa, white);
  background-image: -o-linear-gradient(bottom, #cfc7aa, white);
  background-image: linear-gradient(to top, #cfc7aa, #ffffff);
  background: url("../images/fg-ft-sr.png") no-repeat;
  -moz-background-size: contain;
  background-size: contain;
  background-position: center;
  padding: 8px 20px;
  width: 10%;
}
/* line 777, sass/fg-style.scss */
body.fgOnerank footer nav, body.fgNameservice footer nav {
  box-sizing: border-box;
  moz-box-sizing: border-box;
  width: 90%;
  margin: 0 auto;
  border: 1px solid 000;
}
/* line 781, sass/fg-style.scss */
body.fgOnerank footer nav ul, body.fgNameservice footer nav ul {
  overflow: hidden;
  margin-bottom: 20px;
}
/* line 784, sass/fg-style.scss */
body.fgOnerank footer nav ul li:first-child, body.fgNameservice footer nav ul li:first-child {
  -webkit-border-radius: 6px 0 0 0;
  border-radius: 6px 0 0 0;
}
/* line 788, sass/fg-style.scss */
body.fgOnerank footer nav ul li:nth-child(2), body.fgNameservice footer nav ul li:nth-child(2) {
  -webkit-border-radius: 0 6px 0 0;
  border-radius: 0 6px 0 0;
}
/* line 792, sass/fg-style.scss */
body.fgOnerank footer nav ul li, body.fgNameservice footer nav ul li {
  border: 1px solid #b3ad98;
  background: #fff;
  box-sizing: border-box;
  moz-box-sizing: border-box;
  width: 50%;
  float: left;
  padding: 6px 8px;
  font-size: 80%;
}
/* line 799, sass/fg-style.scss */
body.fgOnerank footer nav ul li img, body.fgNameservice footer nav ul li img {
  margin: 0 10px 0 6px;
  width: 20%;
}
/* line 803, sass/fg-style.scss */
body.fgOnerank footer nav ul li a, body.fgNameservice footer nav ul li a {
  color: #000;
  line-height: 2.2;
}
/* line 808, sass/fg-style.scss */
body.fgOnerank footer nav ul li:last-child, body.fgNameservice footer nav ul li:last-child {
  background: #fff;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
/* line 813, sass/fg-style.scss */
body.fgOnerank footer nav ul li:last-child img, body.fgNameservice footer nav ul li:last-child img {
  margin: 0 10px 0 6px;
  width: 10%;
}
/* line 820, sass/fg-style.scss */
body.fgOnerank footer p.copy, body.fgNameservice footer p.copy {
  text-align: center;
}
/* line 822, sass/fg-style.scss */
body.fgOnerank footer p.copy small, body.fgNameservice footer p.copy small {
  font-size: 60%;
}
