@import "../../styleguide/_scss/styleguide-default.scss";
@import "../../common/ip/_scss/style-stationery.scss";


body {
    /* 商品情報共通スタイルシート */
    /* 関連商品紹介部分 ここから */
    .relation {
        margin: 30px 0 50px;
        width: 100%;
        float: left;
        clear: both;
        &>p {
            @include sizing(100%);
            font-weight: bold;
            padding: 10px 20px;
            font-size: 16px;
            color: #000;
            background-color: #f1f1f1;
        }
        &.item {
            ul {
                li {
                    width: 15%;
                    float: left;
                    margin: 15px 2% 15px 0;
                    &:nth-child(6n) {
                        margin: 15px 0 15px 0;
                    }
                    &:nth-child(7) {
                        clear: both;
                        float: left;
                    }
                    a {
                        display: block;
                        letter-spacing: 0px;
                        img {
                            width: 100%;
                        }
                        color: #000;
                        text-decoration: none;
                        @include anm(0.2s);
                        opacity:1;
                        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
                        p {
                            letter-spacing: 1;
                            margin: 8px 0 0;
                            line-height: 1.1;
                            font-size: 12px;
                            span {
                                display: block;
                                margin: 8px 0 0;
                                color: #900;
                                small {
                                    font-size: 10px;
                                }
                            }
                        }
                        &:hover {
                            opacity: 0.7;
                            filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        &.category {
            ul {
                li {
                    width: 100%;
                    margin: 15px 0;
                    a {
                        display: block;
                        img {
                            width: 100%;
                        }
                        @include anm(0.2s);
                        opacity:1;
                        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
                        &:hover {
                            opacity: 0.7;
                            filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
                        }
                    }
                }
            }
        }
    }
    /* 関連商品紹介部分 ここまで */
    .ipdscarea {
        margin: 0 auto;
        width: 100%;
        max-width: 840px;
        background-color: #fff;

        .ipbi,
        .ipbt,
        .bfct,
        .seo {
            width: 800px;
            margin: 0 auto;
            font-size: 0.85em;
            border: solid 1px #ccc;
            b {
                font-weight: bold;
                background-color: #F0F0F0;
                color: #000;
                margin: 0;
                padding: 1%;
                border-bottom: solid 1px #ccc;
                display: block;
            }
        }

        /*商品情報*/
        .ipbi {
            dl {
                background-color: #fff;
                overflow: hidden;
                padding: 1% 10px;
                margin: 4px auto 0;
                dt {
                    width: 10%;
                    float: left;
                    clear: left;
                    margin: 0 0 4px;
                }
                dd {
                    width: 88%;
                    float: left;
                    margin: 0 0 4px;
                }
            }
        } //商品の基本説明文（短めの文章）
        .ipbt,
        .seo {
            p {
                padding: 1% 10px;
                margin: 4px auto;
            }
        }
        /*産地・メーカー・本物保証*/
        .prd,
        .mkr,
        .wrt {
            margin: 30px 0 30px;
            img {
                width: 100%;
            }
        }
        /*メール便可・不可バナー*/
        .mlbn {
            width: 800px;
            margin: 0 0 30px;
            img {
                width: 100%;
            }
        }
        /*ご購入の前に・注意点*/
        .bfct {
            p {
                padding: 1% 10px;
                margin: 4px auto;
            }
        }
    }
    /* カート下用スタイルシート旧 */
    .iparea {
        background-color: #fff;
        margin: 40px 0 0;
        min-width: 440px;
        &.inner {
            margin: 0;
            width: 100%;
            min-width: 100% !important;
        }
        .ipd {
            background-color: #fff;
            border: 1px solid #900;
            padding: 3%;
            width: 93.5%;
            letter-spacing: 2px;
            font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
            p {
                font-size: 14px;
                line-height: 2;
                color: #900;
                b {
                    font-size: 18px;
                    font-weight: bold;
                    display: inline-block;
                }
                a {
                    text-decoration: underline;
                    color: #900;
                    display: inline-block;
                    margin: 0 0 0 15px;
                }
            }
        }
        /* 関連ブランド、カテゴリ */
        .ifslick {
            width: 100%;
            height: 320px;
            border: none;
            margin: 20px 0 0;
        }
        .ipdif {
            /* width: 440px; */
            width: 100%;
            height: 125px;
            border: none;
        }
        .ipi {
            background-color: #fff;
            width: 100%;
            /* max-width: 440px; */
            margin: 30px 0 0;
            letter-spacing: 1px;
            font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
            b {
                font-weight: normal;
                font-size: 18px;
                color: #464646;
            }
            hr {
                border: none;
                border-bottom: 1px solid #464646;
            }
            p {
                font-size: 14px;
                line-height: 2;
            }
        }
        .ipt {
            margin: 30px 0;
            width: 100%;
            /* max-width: 440px; */
            b {
                font-weight: normal;
                font-size: 18px;
                color: #464646;
            }
            hr {
                border: none;
                border-bottom: 1px solid #464646;
                padding: 0;
                margin: 10px 0 0;
            }
            dl {
                background-color: #f5f0eb;
                overflow: hidden;
                padding: 2%;
                /* max-width: 410px; */
                width: 96%;
                dt {
                    width: 16%;
                    float: left;
                    clear: both;
                    margin: 0 0 10px;
                    span {
                        float: right;
                    }
                }
                dd {
                    width: 79%;
                    float: left;
                    margin: 0 0 10px;
                    padding: 0 0 0 5%;
                }
            }
        }
        .ipr {
            margin: 30px 0 0;
            background-color: #fff;
            border: 1px solid #bfbfbf;
            padding: 2%;
            width: 96%;
            max-width: 408px;
            font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
            b {
                font-weight: normal;
                font-size: 14px;
                color: #464646;
            }
            hr {
                border: none;
                border-bottom: 1px solid #464646;
            }
            p {
                font-size: 12px;
                line-height: 2;
            }
        }
    }

    /* 産地情報 */
    .caption {
        border: 1px dotted #356a71;
        padding: 30px 30px 0;
        width: 758px;
        margin: 0 auto 50px;
        overflow: hidden;
        div {
            margin: 0 0 30px;
            /* overflow: hidden; */
            b {
                display: block;
                margin: 0 0 16px;
                width: 100%;
                clear: both;
            }
            em {
                display: block;
                font-weight: bold;
                font-size: 14px;
                margin: 0 0 6px;
            }
            .caption_img {
                width: 30%;
                float: left;
                img {
                    border: 1px solid #cccccc;
                    margin: 0 0 15px;
                    display: block;
                    float: left;
                    width: 100%;
                }
                a {
                    clear: both;
                    width: auto;
                    font-size: 12px;
                    margin: 0 auto;
                    text-align: center;
                    display: block;
                    padding: 6px;
                    border: 1px solid #cccccc;
                    background-color: #ffffff;
                    color: #595857;
                    @include anm(0.2s);
                    text-decoration: none;
                    &:hover {
                        color: #ffffff;
                        border: 1px solid #356a71;
                        background-color: #356a71;
                        text-decoration: none;
                    }
                    -webkit-transition: .2s;
                    transition: .2s;
                }
            }
            .caption_txt {
                width: 65%;
                padding: 0 0 0 5%;
                float: left;
                p {
                    font-size: 12px;
                    line-height: 2;
                }
            }
        }
        hr {
            margin: 50px 0;
            display: block;
            clear: both;
            border: none;
            border-bottom: 1px dotted #cccccc;
            border-top: 1px dotted #cccccc;
        }
    }
    /* ギフトサービスiframe設定 ここから */
    .ifopsp,
    .ifsr {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
    }
    .ifopsp {
        height: 0;
        margin: 30px 0;
    }
    .ifsr {
        height: 750px;
        margin: 0;
    }
    /* ギフトサービスiframe設定 ここまで */
    .wrapContent {
        height: 100%;
        background: transparent url('https://www.rakuten.ne.jp/gold/dentouhonpo/common/img/sr_op_back.png') left top;
        a {
            display: block;
        }
        /* 特典案内 ここから */
        &.op {
            max-width: 760px;
            padding: 0 20px 20px;
            .opContents {
                @include sizing(100%);
                overflow: hidden;
                padding: 0;
                /* タイトル画像 */
                .opTitle {
                    width: 100%;
                    float: left;
                    img {
                        display: block;
                        margin: 0 auto 30px;
                        padding: 30px 0 0;
                        width: auto;
                        &.title {
                            display: block;
                            &.sp {
                                display: none;
                            }
                        }
                    }
                }
                /* バナー画像 */
                .opImg {
                    width: 100%;
                    float: left;
                    div {
                        img {
                            display: block;
                            margin: 0 auto;
                            width: 100%;
                            &.opdelivery,
                            &.opdishstand,
                            &.opname,
                            &.opplate,
                            &.opreview,
                            &.opsaucer,
                            &.opsheet,
                            &.opwoodenbox,
                            &.opwarranty02,
                            &.opwarranty01,
                            &.opcalender,
                            &.opfg01,
                            &.opfg02 {
                                display: block;
                                &.sp {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
        /* 特典案内 ここまで */
    }


    /* 共通サービス部分 */
    .ipcmn_giftservice {
        clear: both;
        padding: 4%;
        @include sizing(100%);
        background-color: #f0f0f0;
        overflow: hidden;
        margin: 0 auto 20px;
        b {
            font-size: 23px;
            display: block;
            margin: 0 0 30px;
            span {
                font-size: 18px;
                display: inline-block;
                margin: 0 0 0 1em;
            }
        }
        ul {
            width: 100%;
            li {
                float: left;
                width: 48%;
                margin: 0 0 3% 4%;
                &:nth-child(1),
                &:nth-child(3) {
                    margin: 0;
                }
                a {
                    color: #000;
                    text-decoration: none;
                    div {
                        &.giftImage {
                            width: 50%;
                            float: left;
                            img {
                                width: 100%;
                                display: block;
                            }
                        }
                        &.giftTxt {
                            width: 48%;
                            padding: 0 0 0 2%;
                            float: left;
                            b {
                                font-size: 15px;
                                margin: 0 0 10px;
                            }
                            p {
                                line-height: 1.75;
                                font-size: 12px;
                            }
                            span {
                                text-decoration: underline;
                                display: block;
                                @include anm(0.2s);
                                font-size: 11px;
                                text-align: right;
                                &:hover {
                                    color: $mc;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /* 商品ページ共通設定 */
    position: relative \9;
    background-image: url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/wrapbnr.gif');
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: left 0px;

    /* 商品ページバナーリンク */
    .otherLinks {
        display: block;
        width: 100%;
        max-width: 800px;
        margin: 0 auto 4px;
        img {
            display: block;
            width: 100%;
        }
    }

    /* 売り切れ時の他商品案内用 */
    .soldOut_otherContents {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        position: relative;
        img {
            display: block;
            width: 100%;
        }
        .textContents {
            hr {
                display: block;
                clear: both;
                width: 108%;
                margin: 0 -4% 4px;
                padding: 4px 0;
                border: none;
                border-bottom: 1px solid #000;
            }
            -webkit-box-shadow: 0 0 4px 1px rgba(0,
            0,
            0,
            0.25);
            box-shadow: 0 0 4px 1px rgba(0,
            0,
            0,
            0.25);
            background-color: #fff;
            padding: 1%;
            position: absolute;
            &>div {
                padding: 4px 0;
                border: 1px solid #000;
            }
            &.normal {
                width: 15%;
            }
            &.wide {
                width: 30%;
                hr {
                    width: 104%;
                    margin: 0 -2% 4px;
                }
            }
            &.wrap {
                width: 95%;
                background-color: rgba(255, 255, 255, 0.9);
                hr {
                    width: 101%;
                    margin: 0 -.5% 4px;
                }
            }
            &.topleft {
                left: 10px;
                top: 10px;
            }
            &.topright {
                right: 10px;
                top: 10px;
            }
            &.bottomright {
                right: 10px;
                bottom: 10px;
            }
            &.bottomleft {
                left: 10px;
                bottom: 10px;
            }
            &.center {
                left: 40%;
                top: 30%;
            }
            a {
                text-align: center;
                font-size: 20px;
                display: block;
                text-decoration: none;
                color: #000;
                font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                p {
                    @include anm(0.2s);
                    padding: 0 4px;
                    line-height: 1.25;
                    span {
                        display: block;
                        background-color: #000;
                        color: #fff;
                        padding: 3px 10px;
                        margin: 8px auto 5px;
                        font-size: 12px;
                        width: 60%;
                        border: 1px solid #000;
                    }
                }
                small {
                    font-size: 10px;
                }
                &:hover {
                    p {
                        span {
                            background-color: #fff;
                            color: #000;
                            border: 1px solid #000;
                        }
                    }
                }
            }
        }
    }
    #pagebody {
        position: absolute;
        /* イベント時 */
        top: 0;
        left: 0;
        width: 100%;
    }



    .tdPos tbody tr:nth-child(2) td:nth-child(3) table:nth-child(2) {
        max-width: 990px;
    }



    /* 工芸フェア用設定 */
    .fair_brandInfo {
        margin: 0 0 30px;
    }

    /* 父の日商品ページ設定 */
    .fg_style {
        background-color: #000;
        iframe {
            display: block;
            margin: 0 0 60px;
        }
        .fgOtherlinks01,
        .fgOtherlinks02 {
            display: block;
            width: 551px;
            height: 77px;
            margin: 50px auto 0;
            padding: 0 0 50px;
        }
        .fgOtherlinks01 {
            background: url(https://www.rakuten.ne.jp/gold/dentouhonpo/item/img/ip_fg_link01.png) 0 0 no-repeat;
        }
        .fgOtherlinks02 {
            background: url(https://www.rakuten.ne.jp/gold/dentouhonpo/item/img/ip_fg_link02.png) 0 0 no-repeat;
        }
    }

    /* サイズガイドボタン設定 */
    &.ip {
        background: none;
        background-color: #fff;
    }

    /* タイマー用iframe設定 */
    iframe.timer {
        display: block;
        margin: 20px auto;
    }

    /* カテゴリ別商品バナー */
    .cmnipBnr {
        width: 100%;
        max-width: 800px;
        overflow: hidden;
        margin: 0 auto;
        li {
            width: 100%;
            margin: 0 0 15px;
            img {
                width: 100%;
            }
        }
    }
    /* 母の日商品ページ設定 */
    .ipmg {
        width: 992px;
        margin: 0 auto;
        background-color: #fff;
        img {
            display: block;
            margin: 0 auto;
        }
        p {
            text-align: center;
        }
    }

    /* 山中漆器新商品テンプレート */
    .ymftrService {
        max-width: 990px;
        margin: 0 auto;
        display: block;
    }

    .ymSeo {
        max-width: 990px;
        margin: 0 auto;
        @include fsize(10,
        1.0);
    }

    .linkbnr {
        margin: 20px auto;
        height: 150px;
        clear: both;
        a {
            display: block;
            width: 100%;
            height: 150px;
            text-decoration: none;
        }
        background:transparent url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/mg_wraplink_800.jpg') left top no-repeat;
        &.wide {
            background: transparent url('https://www.rakuten.ne.jp/gold/dentouhonpo/event/img/ip_bnr_kr_990.jpg') left top no-repeat;
            /* width: 990px; */
            /* 母の日 */
            width: 990px;
            height: 160px;
            margin: 20px auto;
            display: block;
        }
        &.small {
            background: transparent url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/mg_wraplink_610.jpg') left top no-repeat;
            width: 610px;
            margin: 20px auto;
        }
    }


    .ifSizeguide {
        width: 342px;
        height: 40px;
        display: block;
        margin: 80px auto 40px;
    }
    .sizeGuide {
        background: url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/sizeguideBtn.png') no-repeat;
        width: 342px;
        height: 40px;
        display: block;
        @include anm(0.2s);
        &:hover {
            background: url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/sizeguideBtn_hv.png') no-repeat;
        }
    }

    .rankBnr {
        margin: 0 auto 40px;
        img {
            display: block;
            margin: 0 auto;
        }
        &.mini {
            img {
                width: 610px;
            }
        }
    }


    /* 名入れ商品ページ */
    .nameService {
        width: 800px;
        background-color: #fff;
        font-size: 14px;

        span {
            color: $mc;
            font-weight: bold;
        }
        .nmTitle {
            background-color: $mc;
            color: $bc;
            padding: 6px 1%;
            display: block;
            width: 98%;
            font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
            font-size: 18px;
        }
        .nmInfo {
            width: 100%;
            div {
                width: 60%;
                padding: 3% 2%;
                float: left;
                &.nmImage_main {
                    width: 32%;
                    img {
                        display: block;
                        margin: 0 auto;
                    }
                }
            }
        }
        .nmContents {
            width: 96%;
            margin: 0 auto 40px;
            border-spacing: 0;
            border-collapse: collapse;
            .nmText_center {
                text-align: center;
                font-weight: bold;
                font-size: 16px;
                color: $bc;
                background-color: $mc;
            }
            &.howto {
                tr {
                    td {
                        &:first-child {
                            width: 130px;
                        }
                    }
                }
            }
            tr {
                td {
                    border: 1px solid #000;
                    padding: 6px 10px;
                    img {
                        display: block;
                        width: 23%;
                        padding: 1%;
                        float: left;
                    }
                    hr {
                        width: 100%;
                        border: none;
                        border-bottom: 1px dotted #000;
                    }
                    &:first-child {
                        width: 70px;
                        text-align: center;
                    }
                    ul {
                        overflow: hidden;
                        li {
                            width: 23%;
                            padding: 1%;
                            float: left;
                            img {
                                width: 100%;
                                clear: both;
                                display: block;
                                margin: 0 auto;
                            }
                            text-align: center;
                        }
                        &.nmSampletxt {
                            li {
                                width: 31%;
                            }
                        }
                    }
                }
            }
        }
    }

    /* 初めて九谷焼をお買い求めの方へ */
    .infoTxt {
        display: block;
        color: $mc;
        @include fsize(12,
        1.5);
        &:hover {
            color: $acc;
        }
        &:visited {
            color: $mc;
        }
    }

    .ipWrap {
        img {
            vertical-align: bottom;
            border: none;
        }
    }
    /* スタッフレコメンド */
    .stfRecomm {
        /* 一時削除 */
        /* display: none; */
        overflow: hidden;
        margin: 30px auto;
        background-color: #f7f1f1;
        border: 1px solid #f3d9d4;
        padding: 20px 15px 15px;
        &.small {
            width: 578px;
        }
        &.big {
            width: 354px;
            margin: 0 6px 10px;
            float: left;
        }
        &.wide {
            width: 768px;
            margin: 0 6px 30px;
        }
        .catch {
            .stfIcon {
                width: 174px;
                height: 47px;
                float: left;
                margin: 0 0 15px 0;
                &.male01 {
                    background: url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/stf_icon01.png') no-repeat;
                }
                &.male02 {
                    background: url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/stf_icon02.png') no-repeat;
                }
                &.female01 {
                    background: url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/stf_icon03.png') no-repeat;
                }
                &.female02 {
                    background: url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/stf_icon04.png') no-repeat;
                }
            }
            b {
                font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                font-weight: normal;
                @include fsize(20,
                1.2);
                color: $mc;
            }
            hr {
                display: block;
                margin: 0 0 10px;
                clear: both;
                border: none;
                border-bottom: 1px dotted $mc;
            }
        }
        p {
            @include fsize(12,
            2.0);
        }
    }


    /* 正方形画像のみ使用 */
    .squareLayout {
        width: 800px;
        color: #525252;
        font-size: 13px;
        line-height: 1.9;
        background-color: #fff;
        div {
            overflow: hidden;
        }
        b {
            font-weight: normal;
            font-size: 28px;
            display: block;
            line-height: 1.0;
            margin: 0 0 15px;
            font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
        }
        .catch {
            width: 800px;
        }
        .information {
            padding: 24px;
            span {
                display: block;
            }
        }
        .leftSide,
        .rightSide {
            width: 752px;
            overflow: hidden;
            p {
                width: 380px;
                margin: 0 0 50px;
            }
        }
        .rightSide {
            p {
                float: right;
                text-align: right;
            }
        }
        .parts {
            &.tall01 {
                padding: 24px;
                ul {
                    li {
                        float: left;
                        position: relative;
                        width: 356px;
                        padding: 4px;
                        img {
                            width: 386px;
                            height: 386px;
                        }
                        &.information {
                            width: 320px;
                            padding: 4px 40px 4px 4px;
                            height: 385px;
                        }
                        &.smallBox {
                            width: 320px;
                            padding: 4px 40px 4px 4px;
                            height: 385px;
                            img {
                                position: absolute;
                                right: 3px;
                                bottom: 3px;
                                width: 160px;
                                height: 160px;
                            }
                        }
                    }
                }
            }
            &.big01 {
                margin: 150px 100px;
                img {
                    display: block;
                    width: 600px;
                    height: 600px;
                    margin: 0 0 20px;
                }
            }
            &.rand01 {
                padding: 36px 12px 160px;
                p {
                    text-align: right;
                }
                .size01 {
                    img {
                        width: 500px;
                        height: 500px;
                    }
                    margin: 0 0 6px;
                }
                .size02 {
                    clear: both;
                    float: left;
                    margin: 156px 6px 0 154px;
                    img {
                        width: 230px;
                        height: 230px;
                    }
                }
                .size03 {
                    float: left;
                    margin: 0 0 20px;
                    img {
                        width: 386px;
                        height: 386px;
                    }
                }
            }
            &.wide {
                padding: 12px;
                margin: 40px 0;
                .size01 {
                    float: left;
                    img {
                        width: 504px;
                        height: 504px;
                        margin: 0 4px 0 0;
                    }
                }
                .size02 {
                    float: left;
                    img {
                        clear: both;
                        float: left;
                        width: 250px;
                        height: 250px;
                        margin: 0 0 4px;
                    }
                }
            }
            &.tall02 {
                overflow: hidden;
                padding: 50px 0;
                ul {
                    padding: 40px 59px 0;
                    li {
                        float: left;
                        margin: 3px;
                        img {
                            width: 335px;
                            height: 335px;
                        }
                    }
                }
                p {
                    @include fsize(20,
                    4.0);
                    font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                    text-align: center;
                    clear: both;
                }
            }
        }
    }

    .defaultLayout {
        /* 動画設定 */
        .imgCatch {
            &.mov {
                iframe {
                    display: block;
                    margin: 0 auto;
                }
                div {
                    width: 100%;
                    padding: 20px 54px 20px 64px;
                }
            }
        }

        img {
            display: block;
            margin: 0 auto;
            text-align: center\9;
            vertical-align: bottom;
        }
        .right {
            text-align: right;
        }
        .left {
            text-align-last: left;
        }
        .cf {
            zoom: 1;
            &:before,
            &:after {
                content: "";
                display: table;
            }
            &:after {
                clear: both;
            }
        }

        b {
            display: block;
            font-size: 19px;
            margin: 0 0 10px;
            padding: 0 0 10px;
            border-bottom: 1px solid #000;
            font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
            &.white {
                border-bottom: 1px solid #fff;
            }
        }
        a,
        a:link,
        a:visited {
            color: #b4c4d7;
        }
        .white {
            color: #fff;
        }

        .imgDouble,
        .imgTri,
        .imgCatch,
        .imgScene,
        .imgDetail,
        .imgDual,
        .imgCatchtxt,
        .imgPoints,
        .imgDeepinfo {
            margin: 0;
            padding: 0 10px 120px;
            overflow: hidden;
        }
        .imgDual {
            clear: both;
            padding: 0 0 120px;
            &>div {
                width: 395px;
                padding: 0;
                float: left;
                .catchTxt {
                    width: 365px;
                    padding: 30px 10px 0;
                    height: 128px;
                    margin: 0 0 20px;
                    overflow: hidden;
                }
                .dualImage {
                    width: 395px;
                    overflow: hidden;
                    img {
                        width: 170px;
                        padding: 0 0 0 10px;
                        display: block;
                        float: left;
                    }
                }
            }
            .dualScene {
                img {
                    width: 430px;
                    padding: 10px 10px 10px 0;
                }
            }
        }

        &.wide {
            width: 990px;
            background-color: #fff;
            margin: 0 auto;
            font-size: 13px;
            letter-spacing: 0.1em;
            line-height: 1.6em;
            .imgDeepinfo {
                img {
                    display: block;
                    margin: 0 0 10px;
                }
                .deepMain {
                    position: relative;
                    p {
                        position: absolute;
                        width: auto;
                        top: 60px;
                        &.itemInfo {
                            left: 60px;
                            padding: 0 20px;
                            &.posCh {
                                right: 60px;
                                left: auto;
                            }
                            &.size {
                                width: 300px;
                            }
                        }
                    }
                    img {
                        width: 970px;
                        margin: 0 auto;
                    }
                }
                .deepSub {
                    margin: 10px 0 0;
                    width: 480px;
                    float: left;
                    text-align: left;
                    &.left {
                        padding: 0 5px 0 0;
                        img {
                            width: 480px;
                        }
                    }
                    &.right {
                        padding: 0 0 0 5px;
                        img {
                            width: 480px;
                        }
                    }
                    p {
                        padding: 0 0 10px;
                        height: 8em;
                        overflow: hidden;
                    }
                    b {
                        font-size: 16px;
                        border: none;
                        padding: 0;
                    }
                }
            }

            div.imgCatchtxt {
                text-align: center;
                margin: 40px 0 0\9;
                padding: 30px 0 100px;
                strong {
                    font-size: 40px;
                    font-weight: normal;
                    line-height: 1.25;
                    margin: 0 0 40px;
                    display: block;
                    font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                }
            }
            .imgPoints {
                .point {
                    width: 100%;
                    margin: 0 0 100px;
                    overflow: hidden;
                    div {
                        clear: both;
                        width: 100%;
                        margin: 0 0 50px;
                        overflow: hidden;
                        img {
                            width: 480px;
                            display: block;
                            float: left;
                        }
                        p {
                            width: 50%;
                            display: block;
                            float: left;
                            text-align: center;
                            font-size: 20px;
                            &.descLeft,
                            &.descRight {
                                text-align: left;
                                width: 80%;
                                font-size: 14px;
                            }
                            &.descLeft {
                                float: left;
                            }
                            &.descRight {
                                float: right;
                            }
                            .pointNumber {
                                display: block;
                                font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                                font-size: 50px;
                                padding: 80px 0 40px;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
            .imgDouble {
                div {
                    width: 480px;
                    float: left;
                    text-align: left;
                    &.left {
                        padding: 0 5px 0 0;
                    }
                    &.right {
                        padding: 0 0 0 5px;
                    }
                    p {
                        padding: 0 20px 10px;
                        height: 8em;
                        overflow: hidden;
                    }
                }
                img {
                    margin: 10px 0 0;
                    width: 480px;
                }
            }
            .imgTri {
                div {
                    width: 475px;
                    float: left;
                    text-align: left;
                    &.left {
                        padding: 0 0 0 0;
                    }
                    &.right {
                        padding: 0 0 0 19px;
                    }
                    p {
                        padding: 0 10px 10px;
                        height: 8em;
                        overflow: hidden;
                    }
                }
                ul {
                    width: 100%;
                    clear: both;
                    overflow: hidden;
                    li {
                        width: 310px;
                        padding: 0 0 0 19px;
                        float: left;
                        &:first-child {
                            padding: 0;
                        }
                        img {
                            margin: 10px 0 0;
                            width: 310px;
                        }
                    }
                }
            }
            .imgCatch {
                img {
                    width: 728px;
                    float: left;
                }
                div {
                    width: 212px;
                    padding: 20px 10px 20px 20px;
                    float: left;
                }
                &.mov {
                    div {
                        width: 212px;
                        padding: 20px 54px 20px 64px;
                    }
                }
            }
            .imgScene {
                div {
                    position: relative;
                    p {
                        position: absolute;
                        width: auto;
                        top: 60px;
                        &.itemInfo {
                            left: 60px;
                            &.posCh {
                                right: 60px;
                                left: auto;
                                padding: 0 20px;
                            }
                            &.size {
                                width: 300px;
                            }
                        }
                        &.itemData {
                            bottom: 10px;
                            right: 40px;
                            top: auto;
                        }
                    }
                    img {
                        width: 970px;
                        display: block\9;
                        clear: both;
                        margin: 60px 0 0\9;
                    }
                }
            }
            .imgDetail {
                padding: 0 0 120px;
                ul {
                    overflow: hidden;
                    li {
                        overflow: hidden;
                        float: left;
                        width: 227px;
                        margin: 0 10px 20px;
                        img {
                            width: 227px;
                            margin: 0 0 4px;
                        }
                        p {
                            height: 2em;
                        }
                        &.fifth {
                            clear: both;
                        }
                    }
                }
                .option {
                    display: block;
                    float: right;
                    width: auto;
                    margin: 50px 0 0 auto;
                    padding: 10px 0 0;
                    border: 1px dotted $acc;
                    li {
                        margin: 0 10px;
                    }
                    .opTitle {
                        width: auto;
                        border-bottom: 1px solid #000;
                        font-weight: bold;
                        margin-bottom: 10px;
                    }
                }
            }
            .imgDual {
                clear: both;
                padding: 0 0 120px;

                &>div {
                    width: 495px;
                    width: 465px\9;
                    padding: 0;
                    float: left;
                    .catchTxt {
                        width: 435px;
                        padding: 30px 30px 0;
                        height: 128px;
                        margin: 0 0;
                        overflow: hidden;
                    }
                    .dualImage {
                        width: 495px;
                        overflow: hidden;
                        img {
                            width: 230px;
                            padding: 0 0 0 10px;
                            display: block;
                            float: left;
                        }
                    }
                }
                div {
                    float: left\9;
                }
                .dualScene {
                    img {
                        width: 485px;
                        padding: 10px 10px 10px 0;
                    }
                }

                .dualImage {
                    overflow: hidden\9;
                    clear: both\9;
                    img {
                        width: 220px\9;
                        float: left\9;
                    }
                }
                .dualscene {
                    width: 455px\9;
                    float: right\9;
                }
                .catchTxt {
                    width: 435px\9;
                    padding: 30px 30px 0\9;
                    height: 128px\9;
                    margin: 0 0 20px\9;
                    overflow: hidden\9;
                }
            }
        }
    }
    /* 九谷焼、山中漆器とは */
    .ip_key {
        width: 100%;
        max-width: 990px;
        margin: 20px auto;
    }

    .ip_infoBrands {
        /* width: 100%; */
        width: 100%;
        max-width: 990px;
        overflow: hidden;
        margin: 100px auto;
        padding: 0;
        padding: 20px \9;
        list-style-type: none;
        background-color: #efefef;
        div {
            width: 42%;
            margin: 5% 4% 0%;
            display: block;
            float: left;
            font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
            &.infoTxt {
                color: #000;
                width: 46%;
                width: none \9;
                margin: 5% 0% 0% 4%;
                padding: 0 10px 0 0 \9;
            }
            &.link {
                width: 92%;
                margin: 6% 4% 5%;
                a {
                    width: 30%;
                    height: 24px;
                    font-size: 14px;
                    line-height: 24px;
                    line-height: 18px \9;
                    text-decoration: none;
                    margin: 0 auto;
                    margin: 10px 0 0 \9;
                    display: block;
                    text-align: center;
                    background-color: #e84925;
                    -webkit-border-radius: 3px 3px 3px 3px;
                    border-radius: 3px 3px 3px 3px;
                    border: 1px solid #e84925;
                    color: #fff;
                    -webkit-transition: 0.2s;
                    transition: 0.2s;
                    &:hover {
                        background-color: #fff;
                        color: #e84925;
                        text-decoration: underline;
                    }
                }
            }
            b {
                display: block;
                text-align: center;
                font-size: 24px;
                line-height: 24px;
                line-height: 24px \9;
            }
            span {
                font-size: 14px;
                display: block;
                text-align: center;
                margin: 10px 0;
                font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
            }
            img {
                display: block;
                margin: 0 auto;
                max-width: 100%;
                padding: 0 10px 10px 0;
                width: 257px \9;
                height: 170px \9;
            }
            p {
                font-size: 13px;
                line-height: 2.0;
                letter-spacing: 1px;
                margin: 0;
                padding: 0;
            }
        }
    }
    /* 山中漆器　夫婦箸 */
    .ym_relationLst {
        width: 100%;
        max-width: 800px;
        overflow: hidden;
        font-size: 11px;
        margin: 20px 0;
        padding: 0;
        padding: 20px 10px\9;
        list-style-type: none;
        background: url('https://image.rakuten.co.jp/dentouhonpo/cabinet/bg_lp_wood.jpg');
        li {
            width: 21%;
            margin: 2%;
            margin: 0 13px\9;
            display: block;
            float: left;
            b {
                font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                font-size: 16px;
            }
            hr {
                border: none;
                border-bottom: 1px dotted #000;
            }
            a {
                display: block;
                width: 100%;
                color: #000;
                text-decoration: none;
                img {
                    max-width: 100%;
                    width: 135px \9;
                }
                &:hover {
                    text-decoration: underline;
                }
            }
            p {
                line-height: 1.5;
                margin: 0;
                padding: 0;
                span {
                    font-size: 10px;
                }
            }
            &.info {
                p {
                    line-height: 2.0;
                }
                a {
                    -webkit-transition: 0.2s;
                    transition: 0.2s;
                    text-align: center;
                    width: 50%;
                    margin: 30px auto;
                    background-color: #e84925;
                    color: #fff;
                    padding: 6px 10px;
                    -webkit-border-radius: 3px 3px 3px 3px;
                    border-radius: 3px 3px 3px 3px;
                    border: 1px solid #e84925;
                    &:hover {
                        background-color: #fff;
                        color: #000;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    /* 共通フッター用設定 */
    .ftrSize {
        margin: 40px 0 0;
        /* height: 3450px; */
        height: 2800px;
        &.fair {
            height: 2000px;
        }
        display: inline;
    }
    /* サイドナビゲーション */
    .ifSidenav {
        position: fixed;
        right: 0;
        bottom: 60px;
        width: 80px;
        height: 200px;
        display: none \9;
    }


    /* 共通ヘッダー用設定 */
    .hdrSize {
        position: absolute;
        position: relative \9;
        display: block;
        width: 100%;
        /* イベント時 */
        top: 66px;
        /* top: 40px; */
        top: -106px \9;
        left: 0;
        z-index: 1;
        height: 650px;
        display: inline;
    }
    .srIframe {
        width: 100%;
        max-width: 990px;
        margin: 0 auto;
    }
    iframe.ipIframe {
        position: absolute;
        position: relative \9;
        display: block;
        width: 100%;

        /* 旧デザインイベント時 */
        /* top: 82px; */
        /* 新デザインイベント時 */
        top: 124px;
        /* top: 131px; */
        /* 新デザイン何も無し */
        /* top: 56px; */
        /* 旧デザイン何も無し */
        /* top: 39px; */
        z-index: 1;
        display: inline;
        left: 0;
    }

    /* 質問部屋 */
    .chatRoom {
        display: none;
        position: fixed;
        right: 0;
        bottom: 230px;
        margin: 0;
        padding: 0;
        width: 80px;
        height: 150px;
        overflow: hidden;
        display: none;
    }
    /* 休業案内バナー */
    div.holidaybnr {
        background: url("https://dentouhonpo.com/img/bnr_emergency.jpg") no-repeat;
        width: 990px;
        height: 160px;
        clear: both;
        background-size: 100%;
        margin: 0 auto 20px;
        display: none;
    }
    .dammy_n705 {
        height: 1260px;
        width: 100%;
        float: left;
        display: none \9;
    }
    .dammy_ym {
        height: 1260px;
        width: 100%;
        float: left;
        display: none \9;
    }
    .dammy_trish {
        height: 1260px;
        width: 100%;
        float: left;
        display: none \9;
    }
    /* 共通レフトナビ用設定 */
    iframe.navSize {
        height: 8200px;
        overflow: hidden;
    }
    iframe.navSize_m {
        height: 8000px + 3300px;
        overflow: hidden;
    }
    /* 海外配送表示 */
    #overseas_dlivery {
        position: absolute;
        left: 10px;
        top: 160px;
        z-index: 2;
        &:after {
            font-size: 12px;
            content: '商品です。';
            position: absolute;
            top: 18px;
            left: 2em;
        }
    }
    /* 商品詳細上方部分 k1,k2用設定 */
    .itemDetail {
        list-style-type: none;
        background-color: #fff;
        padding: 0;
        width: 300px;
        margin: 0 0 20px;
        line-height: 20px;
        font-size: 12px;
        border: 1px solid #dfdfdf;
        dt,
        dd {
            display: block;
            border-top: 1px dotted #dfdfdf;
            padding: 10px;
        }
        dd {
            text-indent: 1em;
            text-align: left;
            span {
                color: $mc;
            }
        }
        dt {
            clear: both \9;
            text-align: center;
            float: left;
            border-right: 1px dotted #dfdfdf;
            width: 25px;
            width: 50px \9;
        }
        .title {
            text-align: center;
            background-color: #efefef;
            padding: 10px 0;
            font-size: 12px;
        }
    }
    .itemDetail dt.first_prop,
    .itemDetail dd.first_prop {
        border-top: none;
    }
    .tagGroup {
        border: 1px solid #dfdfdf;
        background-color: #fff;
        width: 280px;
        padding: 5px 10px 10px;
        margin: 20px 0;
        font-size: 12px;
        span {
            text-align: center;
            font-size: 10px;
            font-size: 10px \9;
            border-bottom: 1px dotted #000;
            width: 100%;
            display: block;
            margin: 10px auto 6px;
            padding: 0 0 6px;
        }
        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
            overflow: hidden;
            li {
                float: left;
                width: auto;
                margin: 0;
                padding: 0;
                a {
                    display: block;
                    font-size: 10px;
                    font-weight: bold;
                    float: left;
                    padding: 3px 6px;
                    margin: 4px;
                    background-color: #e84925;
                    border: 1px solid #e84925;
                    color: #fff;
                    text-decoration: none;
                    -webkit-transition: 0.2s;
                    transition: 0.2s;
                    -webkit-border-radius: 3px 3px 3px 3px;
                    border-radius: 3px 3px 3px 3px;
                    &:hover {
                        background-color: #fff;
                        color: #e84925;
                        text-decoration: underline;
                        font-weight: normal;
                    }
                }
            }
        }
    }
    /* 商品詳細上方部分 k3用設定 */
    #item_info {
        line-height: 20px;
        .title {
            text-align: center;
            background-color: #efefef;
            padding: 10px 0;
            font-size: 12px;
        }
    }
    /* 臨時案内用設定 */
    #infomation {
        tr {
            td {
                line-height: 1.5em;
            }
        }
    }
    #asuraku_available {
        position: absolute;
        left: 10px;
        top: 230px;
        z-index: 2;
        &:after {
            font-size: 12px;
            content: '商品です。';
            position: absolute;
            top: 18px;
            left: 2em;
        }
    }
    /* ブロガー用iframe位置設定 */
    iframe.blgpos {
        margin: 0 auto;
        display: block;
    }
    /* レビューiframe設定 */
    .ifReviewtitle {
        background: url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/review_titlebnr.png') no-repeat;
        width: 800px;
        height: 117px;
        overflow: hidden;
        margin: 50px 0 20px;
        &.ifReviewtitle {
            background: url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/review_titlebnr_s.png') no-repeat;
            width: 610px;
            margin: 50px auto 20px;
        }
    }
    .ifReview {
        width: 700px;
        height: 400px;
        overflow: hidden;
        margin: 0 auto;
        border: 1px solid #dfdfdf;
        position: relative;
        iframe {
            width: 700px;
            height: 1050px;
            border: none;
            position: absolute;
            top: -650px;
        }
        &.ifReview-small {
            width: 610px;
            iframe {
                width: 610px;
            }
        }
    }
    /* 特典情報 */
    .privilege {
        margin: 10px auto;
        clear: both;
        &.plate {
            background: url('https://image.rakuten.co.jp/dentouhonpo/cabinet/ipftr_bnr_plate.jpg') no-repeat;
            width: 799px;
            height: 149px;
        }
        &.plate_m {
            background: url('https://image.rakuten.co.jp/dentouhonpo/cabinet/ipftr_bnr_plate_m.jpg') no-repeat;
            width: 606px;
            height: 149px;
        }
        &.del_m {
            background: url('https://image.rakuten.co.jp/dentouhonpo/cabinet/ipftr_bnr_del_m.jpg') no-repeat;
            width: 606px;
            height: 149px;
        }
        &.del {
            background: url('https://image.rakuten.co.jp/dentouhonpo/cabinet/ipftr_bnr_del.jpg') no-repeat;
            width: 799px;
            height: 149px;
        }
        &.review_m {
            background: url('https://image.rakuten.co.jp/dentouhonpo/cabinet/ipftr_bnr_review_m.jpg') no-repeat;
            width: 608px;
            height: 266px;
        }
        &.review {
            background: url('https://image.rakuten.co.jp/dentouhonpo/cabinet/ipftr_bnr_review.jpg') no-repeat;
            width: 799px;
            height: 189px;
        }
        &.sheet_m {
            background: url('https://image.rakuten.co.jp/dentouhonpo/cabinet/ipftr_bnr_sheet_m.jpg') no-repeat;
            width: 606px;
            height: 149px;
        }
        &.sheet {
            background: url('https://image.rakuten.co.jp/dentouhonpo/cabinet/ipftr_bnr_sheet.jpg') no-repeat;
            width: 799px;
            height: 149px;
        }
        &.stand_m {
            background: url('https://image.rakuten.co.jp/dentouhonpo/cabinet/ipftr_bnr_stand_m.jpg') no-repeat;
            width: 606px;
            height: 149px;
        }
        &.stand {
            background: url('https://image.rakuten.co.jp/dentouhonpo/cabinet/ipftr_bnr_stand.jpg') no-repeat;
            width: 799px;
            height: 149px;
        }
        &.wood_m {
            background: url('https://image.rakuten.co.jp/dentouhonpo/cabinet/ipftr_bnr_wood_m.jpg') no-repeat;
            width: 606px;
            height: 266px;
        }
        &.wood {
            background: url('https://image.rakuten.co.jp/dentouhonpo/cabinet/ipftr_bnr_wood.jpg') no-repeat;
            width: 799px;
            height: 189px;
        }
        &.saucer_m {
            background: url('https://image.rakuten.co.jp/dentouhonpo/cabinet/ipftr_bnr_sau_m.jpg') no-repeat;
            width: 608px;
            height: 416px;
        }
        &.saucer {
            background: url('https://image.rakuten.co.jp/dentouhonpo/cabinet/ipftr_bnr_sau.jpg') no-repeat;
            width: 799px;
            height: 358px;
        }
        &.name_m {
            background: url('https://image.rakuten.co.jp/dentouhonpo/cabinet/ipftr_bnr_name_m.jpg') no-repeat;
            width: 608px;
            height: 440px;
        }
        &.name {
            background: url('https://image.rakuten.co.jp/dentouhonpo/cabinet/ipftr_bnr_name.jpg') no-repeat;
            width: 799px;
            height: 364px;
        }
        &.hina_m {
            background: url('https://image.rakuten.co.jp/dentouhonpo/cabinet/ipftr_bnr_hina_m.jpg') no-repeat;
            width: 608px;
            height: 781px;
        }
        &.hina {
            background: url('https://image.rakuten.co.jp/dentouhonpo/cabinet/ipftr_bnr_hina.jpg') no-repeat;
            width: 800px;
            height: 561px;
        }
        &.hinaop_m {
            background: url('https://image.rakuten.co.jp/dentouhonpo/cabinet/ipftr_bnr_hinaop_m.jpg') no-repeat;
            width: 608px;
            height: 510px;
        }
        &.hinaop {
            background: url('https://image.rakuten.co.jp/dentouhonpo/cabinet/ipftr_bnr_hinaop.jpg') no-repeat;
            width: 800px;
            height: 364px;
        }
        &.hinawp {
            background: url('https://image.rakuten.co.jp/dentouhonpo/cabinet/ipftr_bnr_hinawp.jpg') no-repeat;
            width: 800px;
            height: 319px;
        }

        &.tng_m {
            background: url('https://image.rakuten.co.jp/dentouhonpo/cabinet/ipftr_bnr_tng_m.jpg') no-repeat;
            width: 608px;
            height: 781px;
        }
        &.tng {
            background: url('https://image.rakuten.co.jp/dentouhonpo/cabinet/ipftr_bnr_tng.jpg') no-repeat;
            width: 800px;
            height: 1037px;
        }
        &.tngop_m {
            background: url('https://image.rakuten.co.jp/dentouhonpo/cabinet/ipftr_bnr_tngop_m.jpg') no-repeat;
            width: 608px;
            height: 510px;
        }
        &.tngop {
            background: url('https://image.rakuten.co.jp/dentouhonpo/cabinet/ipftr_bnr_tngop.jpg') no-repeat;
            width: 800px;
            height: 364px;
        }
    }
    /* 関連商品紹介 */
    .recommWrap {
        font-size: 12px;
        line-height: 1.5;
        max-width: 990px;
        overflow: hidden;
        hr {
            display: block\9;
            width: 100%;
            border: none;
            border-bottom: 1px solid #cebfbb;
            margin: 0 0 20px;
            float: left\9;
            padding: 0;
            &.bold {
                border-bottom: 2px solid #cebfbb;
                margin: 0;
                float: left\9;
                width: 30%;
            }
        }
        .catch {
            margin: 0;
            font-size: 16px;
            font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
            letter-spacing: .1em;
        }
        .recommTxt {
            float: right;
            width: 10%;
            border: none;
            border-right: 1px solid #cebfbb;
            border-left: 1px solid #cebfbb;
            padding: 10px 0 30px;
            img {
                display: block;
                margin: 0 auto;
            }
        }
        .itemList {
            float: left;
            width: auto;
            font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
            font-size: 10px;
            border-right: 1px solid #cebfbb;
            border-left: 1px solid #cebfbb;
            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                width: 100%;
                text-indent: 0;
                float: left;
                li {
                    float: left;
                    width: 18.8%;
                    width: 20%\9;
                    display: block;
                    padding: 0 3% 24px 3%;
                    padding: 0 16px 24px\9;
                    border-right: 1px solid #cebfbb;
                    a {
                        color: #301e21;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                        }
                        b {
                            font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
                            display: block;
                            font-size: 12px;
                            margin: 6px 0 4px;
                            width: 100%;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            text-align-last: left;
                        }
                        p {
                            display: block;
                            margin: 0 0 10px;
                            padding: 0;
                        }
                        span {
                            display: block;
                            padding: 0;
                            margin: 6px 0 0;
                        }
                    }
                    img {
                        max-width: 100%;
                        width: 130px\9;
                        display: block;
                    }
                    &:last-child {
                        border: none;
                    }
                    &:nth-child(4n) {
                        border: none;
                    }
                    &:nth-child(5),
                    &:nth-child(9) {
                        clear: both;
                        float: left;
                    }
                }
            }
        }
        .link {
            font-size: 10px;
            clear: both;
            float: right;
            display: block;
            background-color: #c0b293;
            padding: 4px 20px;
            color: #fff;
            text-decoration: none;
            margin: 10px 0 0;
            -webkit-transition: 0.2s;
            transition: 0.2s;
            span {
                -webkit-transition: 0.2s;
                transition: 0.2s;
            }
            &:hover {
                padding: 4px 26px;
                background-color: #e84925;
            }
        }
    }
}


/* 商品設定 */

@mixin sizing($width) {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: $width;
}

@mixin alpha($int) {
    filter: alpha(opacity=$int);
    -moz-opacity: $int / 100;
    opacity: $int / 100;
}

body.ip {
    width: 800px;
    margin: auto;
    *font-size: 12px;
    &+div {
        margin: 0 auto;
    }
    #blue {
        div.catch {
            background: url("https://image.rakuten.co.jp/dentouhonpo/cabinet/ymnk/scb_l501_catch.jpg") no-repeat;
        }
        .locateProp01 {
            div.colorBlack {
                background: url("https://image.rakuten.co.jp/dentouhonpo/cabinet/ymnk/scb_l501_point01_03.jpg") no-repeat;
                color: #000;
                em {
                    color: #2aaceb;
                }
            }
            div.colorRed {
                background: url("https://image.rakuten.co.jp/dentouhonpo/cabinet/ymnk/scb_l501_point01_04.jpg") no-repeat;
                color: #fff;
                -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);
                box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);
                em {
                    color: #2aaceb;
                }
            }
        }
    }
    #togi {
        div.catch {
            background: url("https://image.rakuten.co.jp/dentouhonpo/cabinet/ymnk/scb_l501_catch.jpg") no-repeat;
        }
        .locateProp01 {
            span.careful {
                font-size: 50%;
            }
            div.colorBlack {
                background: url("https://image.rakuten.co.jp/dentouhonpo/cabinet/ymnk/sct_s504_point01_03.jpg") no-repeat;
                color: #000;
                em {
                    color: #000;
                }
            }
            div.colorRed {
                background: url("https://image.rakuten.co.jp/dentouhonpo/cabinet/ymnk/sct_s504_point01_04.jpg") no-repeat;
                color: #000;
                -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);
                box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);
                em {
                    color: #000;
                }
            }
        }
    }
    .l501 {
        em {
            font-style: normal;
        }
        h1 {
            margin: 0;
            padding: 0;
        }
        font-size: 12px;
        font-size: 1.2rem;
        line-height: 1.4;
        font-family: "ＭＳ Ｐ明朝",
        "MS PMincho",
        "ヒラギノ明朝 Pro W3",
        "Hiragino Mincho Pro",
        serif;
        div.catch {
            background: url("https://image.rakuten.co.jp/dentouhonpo/cabinet/ymnk/scw_l501_catch.jpg") no-repeat;
            width: 800px;
            height: 524px;
            position: relative;
            margin-bottom: 40px;
            div {
                em {
                    font-size: 210%;
                    font-weight: bold;
                }
                position: absolute;
                right: 0;
                top: 50px;
                font-size: 74%;
                line-height: 200%;
            }
        }
        ul.locatePoint {
            @include sizing(100%);
            padding: 0;
            overflow: hidden;
            margin-bottom: 50px;
            li {
                float: left;
                @include sizing(33%);
                display: block;
                padding: 20px;
                font-size: 70%;
                h3 {
                    @include sizing(100);
                    font-size: 200%;
                    text-align: justify;
                    position: relative;
                    text-align: center;
                    line-height: 300%;
                    text-indent: -0.1em;
                    span {
                        font-size: 200%;
                        font-weight: normal;
                        position: absolute;
                        bottom: 0px;
                    }
                }
            }
        }
        .locateProp01 {
            overflow: hidden;
            margin-bottom: 50px;
            p.locateIcon {
                text-align: center;
            }
            div.wood {
                p {
                    text-align: left;
                }
                background: url("https://image.rakuten.co.jp/dentouhonpo/cabinet/ymnk/scw_l501_point01_02.jpg") no-repeat;
                width:760px;
                height: 269px;
                padding: 20px;
                color: #fff;
                font-size: 74%;
                div {
                    width: 620px;
                    line-height: 180%;
                    em {
                        font-size: 160%;
                        span {
                            font-size: 220%;
                            ruby {
                                rt,
                                rp {
                                    font-size: 20%;
                                }
                            }
                        }
                    }
                }
            }
            div.colorBlack {
                width: 780px;
                height: 243px;
                background: url("https://image.rakuten.co.jp/dentouhonpo/cabinet/ymnk/scw_l501_point01_03.jpg") no-repeat;
                padding: 10px;
                text-align: right;
                color: #fff;
                em {
                    color: #000;
                }
            }
            div.colorRed {
                width: 780px;
                height: 241px;
                padding: 10px;
                background: url("https://image.rakuten.co.jp/dentouhonpo/cabinet/ymnk/scw_l501_point01_04.jpg") no-repeat;
                text-align: left;
                color: #fff;
                em {
                    color: #f00;
                }
            }
            div.colorRed,
            div.colorBlack {
                font-size: 80%;
                line-height: 160%;
                em {
                    font-size: 240%;
                    line-height: 200%;
                }
            }
        }
        .locateProp02 {
            overflow: hidden;
            letter-spacing: .05em;
            font-size: 80%;
            margin-bottom: 50px;
            em {
                font-size: 200%;
            }
            p.locateIcon {
                text-align: center;
            }
            .point01 {
                background: url("https://image.rakuten.co.jp/dentouhonpo/cabinet/ymnk/scw_l501_point02_01.jpg") no-repeat;
                width: 760px;
                height: 484px;
                padding: 20px;
                p {
                    line-height: 200%;
                    span {
                        color: #1696e4;
                        font-size: 180%;
                    }
                }
            }
            .point02 {
                background: url("https://image.rakuten.co.jp/dentouhonpo/cabinet/ymnk/scw_l501_point02_02.jpg") no-repeat;
                width: 760px;
                height: 484px;
                padding: 20px;
                text-align: right;
                p {
                    line-height: 200%;
                    span {
                        color: #1696e4;
                        font-size: 180%;
                    }
                }
            }
            .point03 {
                overflow: hidden;
                background: url("https://image.rakuten.co.jp/dentouhonpo/cabinet/ymnk/scw_l501_point02_03.jpg") no-repeat;
                width: 760px;
                height: 774px;
                padding: 20px;
                p {
                    display: block;
                    float: left;
                    line-height: 200%;
                    margin-right: 10px;
                    span {
                        color: #1696e4;
                        font-size: 180%;
                    }
                }
                .comparison {
                    display: block;
                    float: left;
                    margin: 160px 0 20px;
                }
                ul {
                    clear: both;
                    width: 780px;
                    overflow: hidden;
                    margin: 40px auto;
                    li {
                        float: left;
                        display: block;
                        margin: 4px;
                        @include sizing(19%);
                        p {
                            width: 100%;
                            text-align: center;
                        }
                        img {
                            width: 100%;
                            -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
                            -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
                            box-shadow: 0 0 10px rgba(0, 0, 0, .2);
                        }
                        &.arrowIcon {
                            img {
                                -webkit-box-shadow: none;
                                -moz-box-shadow: none;
                                box-shadow: none;
                            }
                            margin-top: 60px;
                            width: 39px;
                            height: 27px;
                        }
                    }
                }
                div {
                    width: 520px;
                    clear: both;
                    margin: 44px 0 0 150px;
                }
            }
            .point04 {
                background: url("https://image.rakuten.co.jp/dentouhonpo/cabinet/ymnk/scw_l501_point02_09s.jpg") no-repeat;
                width: 760px;
                height: 456px;
                padding: 20px;
                text-align: left;
                p {
                    line-height: 200%;
                }
            }
        }
        .locateProp03 {
            overflow: hidden;
            margin-bottom: 50px;
            font-size: 80%;
            p.locateIcon {
                text-align: center;
            }
            .paper {
                em {
                    font-size: 200%;
                }
                background: url("https://image.rakuten.co.jp/dentouhonpo/cabinet/ymnk/scw_l501_point03_02.jpg") no-repeat;
                width: 760px;
                height: 484px;
                padding:20px;
            }
        }
        .detail {
            font-size: 80%;
            text-align: center;
            overflow: hidden;
            margin-bottom: 50px;
            div {
                border: 1px solid #000;
                overflow: hidden;
                padding-bottom: 20px;
            }
            p {
                span {
                    font-size: 180%;
                }
            }
            ul {
                width: 800px;
                margin: 0 auto;
                li {
                    float: left;
                    margin: 10px 20px;
                    width: 160px;
                    img {
                        width: 100%;
                    }
                }
            }
        }
        .service {
            img {
                display: block;
                margin: auto;
            }
        }
    }
    .n705 {
        p {
            text-align: center;
        }
        .anm {
            em {
                display: block;
                font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
                font-size: 20px;
                font-weight: normal;
                text-align: center;
            }
            p {
                font-size: 12px;
            }
        }
        .review {
            background: url("https://image.rakuten.co.jp/dentouhonpo/cabinet/ymnk/n705_ip_review.jpg") no-repeat;
            width: 800px;
            height: 500px;
            position: relative;
            margin-bottom: 60px;
            div {
                width: 610px;
                height: 340px;
                overflow: hidden;
                position: absolute;
                padding: 0 20px;
                border-top: 1px solid #fff;
                border-bottom: 3px solid #fff;
                top: 130px;
                left: 90px;
                iframe {
                    width: 610px;
                    height: 340px;
                    border: none;
                    @include alpha(85);
                }
            }
        }
        .sale {
            background: url("https://image.rakuten.co.jp/dentouhonpo/cabinet/ymnk/n705_ip_sale.jpg") no-repeat;
            width: 800px;
            height: 500px;
            position: relative;
            div {
                width: 500px;
                height: 300px;
                overflow: hidden;
                position: absolute;
                padding: 0 20px;
                border-top: 1px solid #fff;
                border-bottom: 3px solid #fff;
                top: 160px;
                left: 130px;
                iframe {
                    width: 500px;
                    height: 300px;
                    border: none;
                    @include alpha(85);
                }
            }
        }
    }
}


/* ビアカップ　完売情報　スタイル */

body.infoSale {
    table {
        @include sizing(100%);
        background-color: none;
        font-size: 12px;
        & tr td.first {
            &:nth-child(1) {
                background-color: #fff;
            }
            p {
                background-color: #fff;
                text-align: center;
            }
        }
        & tr td {
            padding: 10px;
            border: 1px solid #000;
            &:nth-child(1) {
                @include sizing(30%);
                background-color: #efefef;
                color: #666;
            }
            &:nth-child(2n) {
                text-align: center;
                @include sizing(70%);
                background-color: #efefef;
                color: #666;
                font-weight: normal;
            }
        }
        & tr.Sale td {
            &:nth-child(1) {
                @include sizing(30%);
                background-color: #900;
                color: #fff;
            }
            &:nth-child(2n) {
                text-align: center;
                @include sizing(70%);
                background-color: #fff;
                color: #900;
                font-weight: bold;
            }
        }
    }
}



/* 配送に関する注意点 */

.cmn_careful {
    font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    width: 100%;
    max-width: 990px;
    overflow: hidden;
    margin: 100px auto;
    padding: 0;
    padding: 20px 0 20px 0;
    background-image: url(../../common/img/cmn_careful_bg.jpg);
    .cmn_careful_title {
        width: 95%;
        display: block;
        margin: 0 auto 1%;
        background-color: $mc;
        color: #FFFFFF;
        font-size: 18px;
        letter-spacing: 3px;
        text-align: center;
        padding: 5px 0;
    }
    .cmn_careful_ctg {
        width: 95%;
        display: block;
        text-align: left;
        margin: 0 auto;
        font-size: 13px;
        line-height: 1.5;
        ul {
            overflow: hidden;
            margin: 15px 0 0;
            list-style-type: disc;
            list-style-position: inside;
        }
        img {
            width: 100%;
            margin-right: 10px;
        }
        .cmn_careful_right {
            text-align: right;
            margin: 10px 0 0;
            img {
                width: 25px;
                height: 22px;
            }
        }
        .cmn_careful_redline {
            border-bottom: 1px solid $mc;
            padding-bottom: 2px;
        }
    }
    p {
        line-height: 200%;
        margin: 0;
        padding-top: 0;
    }
    img {
        width: 100%;
    }
}



.ipArea01 {
    width: 490px;
    margin: 0 auto;

    .ipInfo {
        width: 490px;
        border: none;
        border-collapse: collapse;
        font-size: 11px;
        td {
            border: 1px solid #efefef;
            padding: 14px 12px;
        }
        thead td {
            border: none;
            padding: 14px 0;
        }
        tr:nth-child(even) {
            background-color: #f7f7f7;
        }
        .ipTitle {
            font-size: 18px;
        }
    }
    .ipBrands {
        width: 490px;
        margin: 40px 0 0;
        b {
            font-weight: normal;
            font-size: 18px;
            padding: 12px 0;
            display: block;
            margin: 0;
        }
        a {
            display: block;
            clear: both;
            font-size: 12px;
            color: $mc;
            text-align: center;
            padding: 10px 12px;
            @include rad(3,
            3,
            3,
            3);
            @include anm(0.2s);
            background-color: #fff;
            margin: 0 auto;
            width: 200px;
            text-decoration: none;
            border: 1px solid $mc;
            &:hover {
                background-color: $mc;
                color: #fff;
            }
        }
        .ipBrands_img {
            width: 30%;
            float: left;
            img {
                width: 100%;
            }
        }
        .ipBrands_txt {
            width: 66%;
            float: right;
            padding: 0 2%;
            margin: 0 0 30px;
            font-size: 10px;
            line-height: 2;
            em {
                font-weight: normal;
                font-size: 12px;
                margin: 0 0 10px;
                padding: 0;
                line-height: 1.0;
                display: block;
            }
            p {
                margin: 0;
            }
        }
    }
    hr {
        border: none;
        clear: both;
        display: block;
        margin: 30px 0;
        border-bottom: 1px dotted #dfdfdf;
    }
    .ipTaggroup {
        b {
            font-weight: normal;
            font-size: 18px;
            padding: 12px 0;
            display: block;
            margin: 0;
        }
        ul {
            overflow: hidden;
            width: 100%;
            li {
                width: 24%;
                float: left;
                margin: 0 0 6px;
                a {
                    word-wrap: break-word;
                    overflow: hidden;
                    display: block;
                    clear: both;
                    text-decoration: none;
                    font-size: 12px;
                    color: #000;
                    text-align: center;
                    padding: 10px 8px;
                    @include rad(3,
                    3,
                    3,
                    3);
                    @include anm(0.2s);
                    background-color: #fff;
                    text-decoration: none;
                    border: 1px solid #ababab;
                    img {
                        width: 100%;
                    }
                    &:visited,
                    &:links {
                        color: #000;
                    }
                    &:hover {
                        background-color: #ababab;
                        color: #fff;
                    }
                }
                &.second {
                    padding: 0 0.65% 0 1.33%;
                }
                &.third {
                    padding: 0 1.33% 0 0.65%;
                }
            }
        }
    }
    .ipRecommends {
        b {
            font-weight: normal;
            font-size: 18px;
            padding: 12px 0;
            display: block;
            margin: 0;
        }
        ul {
            overflow: hidden;
            width: 100%;
            li {
                width: 32%;
                float: left;
                font-size: 12px;
                a {
                    text-decoration: none;
                    img {
                        width: 100%;
                    }
                    &:visited,
                    &:links {
                        color: #000;
                    }
                    &:hover {
                        text-decoration: underline;
                    }
                }
                &.listCenter {
                    padding: 0 2%;
                }
            }
        }
    }
}