    @charset "utf-8";
    #intro, #second, #third, #fourth, #sixth, #seventh, #eighth, #nineth, #tenth, #eleventh, #fifth {
        background-attachment: fixed;
        -webkit-background-size: cover;
        background-size: cover;
    }
