@import "../../styleguide/_scss/styleguide-default.scss";

body {

    .defaultLayout {
        &.wide{
            width: 990px;
            margin: 0 auto;
            font-size: 13px;
            letter-spacing: 0.1em;
            line-height: 1.6em;
            img{
                margin: 0;
            }
            b{
                display: block;
                font-size: 19px;
                margin: 0 0 10px;
                padding: 0 0 10px;
                border-bottom: 1px solid #000;
                font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                &.white{
                    border-bottom: 1px solid #fff;
                }
            }
            a,a:link,a:visited{
                color: #b4c4d7;
            }
            .white{
                color: #fff;
            }
            .imgDouble,.imgTri,.imgCatch,.imgScene,.imgDetail,.imgDualm,.catchTxt,.imgPoints{
                margin: 0;
                padding: 0 10px 120px;
                overflow: hidden;
            }
            div.imgCatchtxt{
                text-align: center;
                padding: 30px 0 100px;
                strong{
                    font-size: 40px;
                    font-weight: normal;
                    margin: 0 0 40px;
                    display: block;
                    font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                }
            }
            .imgPoints{
                .point{
                    width: 100%;
                    margin: 0 0 100px;
                    overflow: hidden;
                    div{
                        clear: both;
                        width: 100%;
                        margin: 0 0 50px;
                        overflow: hidden;
                        img{
                            width: 480px;
                            display: block;
                            float: left;
                        }
                        p{
                            width: 50%;
                            display: block;
                            float: left;
                            text-align: center;
                            font-size: 20px;
                            &.descLeft,&.descRight{
                                text-align: left;
                                width: 80%;
                                font-size: 14px;
                            }
                            &.descLeft{
                                float: left;
                            }
                            &.descRight{
                                float: right;
                            }
                            .pointNumber{
                                display: block;
                                font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                                font-size: 50px;
                                padding: 80px 0 40px; 
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
            .imgDouble{
                div{
                    width: 480px;
                    float: left;
                    text-align: left;
                    &.left{
                        padding: 0 5px 0 0;                        
                    }
                    &.right{
                        padding: 0 0 0 5px;
                    }
                    p{
                        padding: 0 20px 10px;
                        height: 8em;
                        overflow: hidden;
                    }
                }
                img{
                    margin: 10px 0 0;
                    width: 480px;
                }
            }
            .imgTri{
                div{
                    width: 475px;
                    float: left;
                    text-align: left;
                    &.left{
                        padding: 0 0 0 0;                        
                    }
                    &.right{
                        padding: 0 0 0 19px;
                    }
                    p{
                        padding: 0 10px 10px;
                        height: 8em;
                        overflow: hidden;
                    }
                }
                ul{
                    width: 100%;
                    clear: both;
                    overflow: hidden;
                    li{
                        width: 310px;
                        padding: 0 0 0 19px;
                        float: left;
                        &:first-child{
                            padding: 0;
                        }
                        img{
                            margin: 10px 0 0;
                            width: 310px;
                        }       
                    }
                }
            }
            .imgCatch{
                img{
                    width: 728px;
                    float: left;
                }
                div{
                    width: 212px;
                    padding: 20px 10px 20px 20px;
                    float: left;
                }
                &.mov{
                    div{
                        width: 212px;
                        padding: 20px 54px 20px 64px;
                    }
                }
            }
            .imgScene{
                div{
                    position: relative;
                    p{
                        position: absolute;
                        width: auto;
                        top: 60px;
                        &.itemInfo{
                            left: 60px;
                            &.posCh{
                                right: 60px;
                                left: auto;
                            }
                            &.size{
                                width: 300px;
                            }
                        }
                        &.itemData{
                            bottom: 10px;
                            right: 40px;
                            top: auto;
                        }
                    }
                    img{
                        width: 970px;
                    }
                }
            }
            .imgDetail{
                padding: 0 0 120px;
                ul{
                    overflow: hidden;
                    li{
                        overflow: hidden;
                        float: left;
                        width: 227px;
                        margin: 0 10px 20px;
                        img{
                            width: 227px;
                            margin: 0 0 4px;
                        }
                        p{
                            height: 2em;
                        }
                    }
                }
                .option{
                    display: block;
                    float: right;
                    width: auto;
                    margin: 50px 0 0 auto;
                    padding: 10px 0 0;
                    border: 1px dotted $acc;
                    li{
                        margin: 0 10px;
                    }
                    .opTitle{
                        width: auto;
                        border-bottom: 1px solid #000;
                        font-weight: bold;
                        margin-bottom: 10px;
                    }
                }
            }
            .imgDual{
                clear: both;
                padding: 0 0 120px;
                & > div{
                    width: 495px;
                    padding: 0;
                    float: left;
                    .catchTxt{
                        width: 435px;
                        padding: 30px 30px 0;
                        height: 128px;
                        margin: 0 0 20px;
                        overflow: hidden;
                    }
                    .dualImage{
                        width: 495px;
                        overflow: hidden;
                        img{
                            width: 230px;
                            padding: 0 0 0 10px;
                            display: block;
                            float: left;
                        }
                    }
                }
                .dualScene{
                    img{
                        width: 485px;
                        padding: 10px 10px 10px 0;
                    }
                }
            }
        }
    }
    /* 九谷焼、山中漆器とは */
    
    
    .recommWrap {
        font-size: 12px;
        line-height: 1.5;
        max-width: 990px;
        overflow: hidden;
        hr {
            width: 100%;
            border: none;
            border-bottom: 1px solid #cebfbb;
            margin: 0 0 20px;
            padding: 0;
            &.bold {
                border-bottom: 2px solid #cebfbb;
                margin: 0;
                width: 30%;
            }
        }
        .catch {
            margin: 0;
            font-size: 16px;
            font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
            letter-spacing: .1em;
        }
        .recommTxt {
            float: right;
            width: 10%;
            border: none;
            border-right: 1px solid #cebfbb;
            border-left: 1px solid #cebfbb;
            padding: 10px 0 30px;
            img {
                display: block;
                margin: 0 auto;
            }
        }
        .itemList {
            float: left;
            width: auto;
            font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
            font-size: 10px;
            border-right: 1px solid #cebfbb;
            border-left: 1px solid #cebfbb;
            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                width: 100%;
                text-indent: 0;
                float: left;
                li {
                    float: left;
                    width: 18.8%;
                    display: block;
                    padding: 0 3% 24px 3%;
                    border-right: 1px solid #cebfbb;
                    a {
                        color: #301e21;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                        }
                        b {
                            font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
                            display: block;
                            font-size: 12px;
                            margin: 6px 0 4px;
                            width: 100%;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            text-align-last: left;
                        }
                        p {
                            display: block;
                            margin: 0 0 10px;
                            padding: 0;
                        }
                        span {
                            display: block;
                            padding: 0;
                            margin: 6px 0 0;
                        }
                    }
                    img {
                        max-width: 100%;
                        display: block;
                    }
                    &:last-child {
                        border: none;
                    }
                    &:nth-child(4n) {
                        border: none;
                    }
                    &:nth-child(5), &:nth-child(9) {
                        clear: both;
                        float: left;
                    }
                }
            }
        }
        .link {
            font-size: 10px;
            clear: both;
            float: right;
            display: block;
            background-color: #c0b293;
            padding: 4px 20px;
            color: #fff;
            text-decoration: none;
            margin: 10px 0 0;
            -webkit-transition: 0.2s;
            transition: 0.2s;
            span {
                -webkit-transition: 0.2s;
                transition: 0.2s;
            }
            &:hover {
                padding: 4px 26px;
                background-color: #e84925;
            }
        }
    }
}
/* 商品設定 */

@mixin sizing($width) {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: $width;
}
@mixin alpha($int) {
    filter: alpha(opacity=$int);
    -moz-opacity: $int / 100;
    opacity: $int / 100;
}