@import "../../styleguide/_scss/default.scss";
html,
body {
    height: 100%;
}



/* 商品ページ用スタイルシート */

.defaultLayout {
    margin: 30px auto;
    /* 990px一枚画像の余白設定 */
    /* padding: 60px 0 0; */
    padding: 0 0 20px;
    background-color: #ffffff;


    img {
        display: block;
        margin: 0 auto;
        text-align: center\9;
        vertical-align: bottom;
    }
    .right {
        text-align: right;
    }
    .left {
        text-align-last: left;
    }
    .cf {
        zoom: 1;
        &:before,
        &:after {
            content: "";
            display: table;
        }
        &:after {
            clear: both;
        }
    }
    b {
        display: block;
        font-size: 19px;
        margin: 0 0 10px;
        padding: 0 0 10px;
        border-bottom: 1px solid #000000;
        &.white {
            color: #ffffff;
            border-bottom: 1px solid #ffffff;
        }
    }
    a {
        &:link,
        &:hover,
        &:visited {
            /* color: #ffffff; */
            font-size: 15px;
            color: #03c;
            text-decoration: underline;
        }
    }
    /* 名入れ商品メイン紹介用 ここから */
    & > .description{
        margin: 0 0 40px;
        table{
            border-collapse: collapse;
            text-align: left;
            line-height: 1.5;
            border: 1px solid #ccc;
            @include sizing(100%);
            @media only screen and (max-width: 768px) {
                font-size: 12px;
                a{
                    font-size: 12px;
                    font-weight: bold;
                }
            }
            .careful{
                color: #f00;
                @media only screen and (max-width: 768px) {
                    font-size: 12px;
                    font-weight: bold;
                }
            }
            small{
                font-size: 15px;
            }
            th{
                @include sizing(20%);
                padding: 20px;
                font-weight: bold;
                vertical-align: top;
                border-bottom: 1px solid #ccc;
                background: #efefef;
                @media only screen and (max-width: 768px) {
                    padding: 10px;
                }
            }
            td{
                @include sizing(80%);
                padding: 20px;
                vertical-align: top;
                background-color: #fff;
                border-bottom: 1px solid #ccc;
                span{
                    font-size: 18px;
                    font-weight: bold;
                    display: block;
                    text-align: center;
                    margin: 0 auto 15px;
                    @media only screen and (max-width: 768px) {
                        font-size: 14px;
                        margin: 0 auto 5px;
                    }
                }
                img{
                    width: 100%;
                    &.pc{
                        display: block;
                    }
                    &.sp{
                        display: none;
                    }
                    @media only screen and (max-width: 768px) {
                        &.pc{
                            display: none;
                        }
                        &.sp{
                            display: block;
                        }
                    }
                }
                @media only screen and (max-width: 768px) {
                    padding: 10px;
                }
            }
            thead{
                border-right: 1px solid #ccc;
                border-left: 1px solid #ccc;
                th{
                    text-align: center;
                    padding: 20px;
                    font-size: 18px;
                    font-weight: bold;
                    vertical-align: top;
                    color: #000;
                    @media only screen and (max-width: 768px) {
                        font-size: 14px;
                        padding: 10px;
                    }
                }
            }
        }
        &.howto{
            table{
                th{
                    @include sizing(20%);
                }
                td{
                    @include sizing(80%);
                    border-right: 1px solid #ccc;
                    div{
                        @include sizing(100%);
                        padding: 0 0 20px 0;
                        float: left;
                        &.capture{
                            padding: 0;
                            @include sizing(100%);
                        }
                        a{
                            display: inline-block;
                            @include anm(0.2s);
                            opacity:1;
                            filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
                            &:hover{
                                opacity:0.7;
                                filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
                            }
                            @media only screen and (max-width: 768px) {
                                font-size: 12px;
                            }
                        }
                        @media only screen and (max-width: 768px) {
                            @include sizing(100%);
                            padding: 0 0 20px 0;
                            &.capture{
                                padding: 0;
                                @include sizing(100%);
                            }
                        }
                    }
                }
            }
        }
        &.image{
            table{
                td{
                    @include sizing(50%);
                    padding: 30px;
                    &.triple{
                        @include sizing(33.333%);
                        padding: 10px;
                        @media only screen and (max-width: 768px) {
                            float: left;
                            @include sizing(50%);
                        }
                    }
                    @media only screen and (max-width: 768px) {
                        padding: 8px;
                    }
                    img{
                        width: 100%;
                        display: block;
                        margin: 0 0 5px;
                    }
                }
            }
        }
    }
    /* 名入れ商品メイン紹介用 ここまで */
    &.wide {
        width: 100%;
        max-width: 840px;
        background-color: #ffffff;
        margin: 0 auto 40px;
        font-size: 15px;
        letter-spacing: 0.1em;
        line-height: 2;
        .imgDeepinfo {
            img {
                display: block;
                margin: 0 0 10px;
            }
            .deepMain {
                position: relative;
                p {
                    position: absolute;
                    width: auto;
                    top: 60px;
                    &.itemInfo {
                        left: 60px;
                        padding: 0 20px;
                        &.posCh {
                            right: 60px;
                            left: auto;
                        }
                        &.size {
                            width: 300px;
                        }
                        &.white {
                            color: #ffffff;
                        }
                    }
                }
                img {
                    width: 100%;
                    margin: 0 auto;
                }
            }
            .deepSub {
                margin: 10px 0 0;
                width: 395px;
                float: left;
                text-align: left;
                &.left {
                    padding: 0 5px 0 0;
                    img {
                        width: 480px;
                    }
                }
                &.right {
                    padding: 0 0 0 5px;
                    img {
                        width: 480px;
                    }
                }
                p {
                    padding: 0 0 10px;
                    height: auto;
                    overflow: hidden;
                }
                b {
                    font-size: 16px;
                    border: none;
                    padding: 0;
                }
            }
            .ic_deepSub {
                margin: 10px 0 0;
                width: 48%;
                float: left;
                text-align: left;
                &.left {
                    padding: 0 5px 0 0;
                    img {
                        width: 100%;
                    }
                }
                &.right {
                    padding: 0 0 0 5px;
                    img {
                        width: 100%;
                    }
                }
                p {
                    padding: 0 0 10px;
                    height: auto;
                    overflow: hidden;
                }
                b {
                    font-size: 16px;
                    border: none;
                    padding: 0;
                }
            }
        }
        div.imgCatchtxt {
            text-align: center;
            margin: 40px 0 0\9;
            padding: 30px 0 10px;
            strong {
                font-size: 40px;
                font-weight: normal;
                margin: 0 0 40px;
                line-height: 1.5;
                display: block;
                font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
            }
        }
        @media only screen and (max-width: 768px) {
            div.imgCatchtxt {
                padding: 10px 10px 50px;
                text-align: left;
                strong {
                    font-size: 14px;
                    margin: 0 0 10px;
                    font-weight: bold;
                    font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                }
            }
            .ic_deepSub {
                margin: 10px 0 0;
                width: 100%;
                float: left;
                text-align: left;
                &.left {
                    padding: 0 5px 0 0;
                    img {
                        width: 100%;
                    }
                }
                &.right {
                    padding: 0 0 0 5px;
                    text-align: left;
                    img {
                        width: 100%;
                    }
                }
                p {
                    padding: 0 0 10px;
                    height: auto;
                    overflow: hidden;
                }
                b {
                    font-size: 16px;
                    border: none;
                    padding: 0;
                }
            }
        }
        .imgPoints {
            .point {
                width: 100%;
                margin: 0 0 100px;
                overflow: hidden;
                div {
                    clear: both;
                    width: 100%;
                    margin: 0 0 50px;
                    overflow: hidden;
                    img {
                        width: 480px;
                        display: block;
                        float: left;
                    }
                    p {
                        width: 50%;
                        display: block;
                        float: left;
                        text-align: center;
                        font-size: 20px;
                        &.descLeft,
                        &.descRight {
                            text-align: left;
                            width: 80%;
                            font-size: 14px;
                        }
                        &.descLeft {
                            float: left;
                        }
                        &.descRight {
                            float: right;
                        }
                        .pointNumber {
                            display: block;
                            font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                            font-size: 50px;
                            padding: 80px 0 40px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
        .imgDouble {
            position: relative;
            height: 400px;
            margin: 50px 0 15px;
            div {
                width: 49%;
                float: left;
                text-align: left;
                &.left {
                    padding: 0 5px 0 0;
                }
                &.right {
                    padding: 0 0 0 5px;
                }
                p {
                    padding: 0 40px 10px 0;
                    height: auto;
                    line-height: 2;
                    overflow: hidden;
                }
            }
            img {
                position: absolute;
                bottom: 0;
                margin: 10px 0 0;
                width: 390px;
            }
        }
        @media only screen and (max-width: 768px) {
            .imgDouble {
                div {
                    width: 100%;
                    float: left;
                    text-align: left;
                    &.left {
                        padding: 0;
                    }
                    &.right {
                        padding: 0;
                    }
                    p {
                        b {
                            font-size: 14px;
                            display: block;
                            font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                            font-weight: bold;
                            margin: 10px 0;
                        }
                    }
                    p {
                        padding: 0 0 10px;
                        height: auto;
                        overflow: hidden;
                    }
                }
                img {
                    margin: 10px 0 0;
                    width: 100%;
                }
            }
        }
        .imgTri {
            margin: 0 0 40px;
            div {
                width: 390px;
                float: left;
                text-align: left;
                &.left {
                    padding: 0 0 0 0;
                }
                &.right {
                    padding: 0 0 0 19px;
                }
                p {
                    padding: 0 10px 10px;
                    height: auto;
                    overflow: hidden;
                }
            }
            ul {
                width: 100%;
                clear: both;
                overflow: hidden;
                li {
                    width: 254px;
                    padding: 0 0 0 19px;
                    float: left;
                    &:first-child {
                        padding: 0;
                    }
                    img {
                        margin: 10px 0 0;
                        width: 310px;
                    }
                }
            }
        }
        @media only screen and (max-width: 768px) {
            .imgTri {
                div {
                    width: 100%;
                    p {
                        b {
                            font-size: 14px;
                            display: block;
                            font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                            font-weight: bold;
                            margin: 10px 0;
                        }
                    }
                    p {
                        padding: 0 0 10px;
                        height: 8em;
                        overflow: hidden;
                    }
                    &.right {
                        padding: 0;
                    }
                }
                ul {
                    list-style-type: none;
                    li {
                        width: 100%;
                        padding: 0;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
        .imgCatch {
            img {
                width: 100%;
                float: left;
            }
            div {
                width: 75%;
                padding: 20px 10px 20px 20px;
                margin: 0 0 30px;
                float: left;
            }
            &.mov {
                div {
                    width: 60%;
                    padding: 100px 54px 0 0;
                }
            }
        }
        @media only screen and (max-width: 768px) {
            .imgCatch {
                margin: 60px 0 0;
                padding: 0;
                img {
                    width: 100%;
                }
                div {
                    padding: 2%;
                    width: 96%;
                    p {
                        margin: 0;
                        b {
                            font-size: 14px;
                            display: block;
                            font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                            font-weight: bold;
                            margin: 10px 0;
                        }
                    }
                    p {
                        padding: 0 0 10px;
                        height: 8em;
                        overflow: hidden;
                    }
                }
                &.mov {
                    div {
                        width: 100%;
                        padding: 20px 54px 20px 64px;
                    }
                }
            }
        }
        .imgScene {
            padding: 0 0 30px;
            /* PC用 */
            &.pc {
                display: block;
            }
            &.sp {
                display: none;
            }
            p {
                font-size: 15px;
                color: #000;
                margin: 10px 0 0;
            }
            div {
                position: relative;
                p {
                    position: absolute;
                    width: auto;
                    top: 60px;
                    &.itemInfo {
                        left: 60px;
                        &.posCh {
                            right: 60px;
                            left: auto;
                            padding: 0 20px;
                        }
                        &.size {
                            width: 300px;
                        }
                        &.white {
                            color: #ffffff;
                        }
                    }
                    &.itemData {
                        bottom: 10px;
                        right: 40px;
                        top: auto;
                        &.size {
                            width: 300px;
                        }
                        &.white {
                            color: #ffffff;
                        }
                    }
                }
                img {
                    width: 100%;
                    display: block\9;
                    clear: both;
                    margin: 60px 0 0\9;
                }
                @media only screen and (max-width: 768px) {
                    p {
                        display: none;
                    }
                }
            }
        }
        .imgDetail {
            padding: 40px 0 0;
            ul {
                list-style-type: none;
                /* overflow: hidden; */
                &:after {
                    visibility: hidden;
                    display: block;
                    content: " ";
                    clear: both;
                    height: 0;
                }
                li {
                    /* overflow: hidden; */
                    float: left;
                    width: 185px;
                    margin: 0 10px 20px;
                    img {
                        width: 227px;
                        margin: 0 0 4px;
                    }
                    p {
                        /* height: 2em; */
                    }
                    &.fifth {
                        clear: both;
                    }
                }
            }
            .option {
                display: block;
                float: right;
                width: auto;
                margin: 10px 0 50px auto;
                padding: 10px 0 0;
                border: 1px dotted #000;
                li {
                    margin: 0 10px;
                }
                .opTitle {
                    width: auto;
                    border-bottom: 1px solid #000000;
                    font-weight: bold;
                    margin-bottom: 10px;
                }
            }
        }
        @media only screen and (max-width: 768px) {
            .imgDetail {
                margin: 30px 0 0;
                ul {
                    margin: 0;
                    list-style-type: none;
                    padding: 0 !important;
                    li {
                        width: 50%;
                        padding: 3% 3% 1%;
                        margin: 0;
                        img {
                            width: 100%;
                        }
                    }
                    &.option {
                        width: 90%;
                        padding: 5%;
                    }
                }
            }
        }
        .imgDual {
            margin: 60px 0 0;
            clear: both;
            position: relative;
            padding: 0;
            &>div {
                width: 410px;
                width: 380px\9;
                padding: 0;
                float: left;
                .catchTxt {
                    width: 385px;
                    padding: 0 10px 0;
                    height: auto;
                    /* height: 128px; */
                    margin: 0 0 20px;
                    overflow: hidden;
                    a {
                        &:link,
                        &:hover,
                        &:visited {
                            color: #000000;
                            text-decoration: underline;
                        }
                    }
                }
                .dualImage {
                    width: 410px;
                    /* overflow: hidden; */
                    img {
                        width: 188px;
                        padding: 0 0 0 10px;
                        display: block;
                        float: left;
                    }
                }
            }
            div {
                float: left\9;
            }
            .dualScene {
                position: absolute;
                bottom: 0;
                right: 0;
                img {
                    width: 400px;
                    padding: 10px 10px 0 0;
                }
            }
            .dualImage {
                overflow: hidden\9;
                clear: both\9;
                img {
                    width: 220px\9;
                    float: left\9;
                }
            }
            .dualscene {
                width: 455px\9;
                float: right\9;
            }
            .catchTxt {
                width: 435px\9;
                padding: 30px 30px 0\9;
                height: 128px\9;
                margin: 0 0 20px\9;
                overflow: hidden\9;
            }
        }
        @media only screen and (max-width: 768px) {
            .imgDual {
                padding: 0;
                &>div {
                    width: 100%;
                    padding: 0;
                    float: left;
                    .catchTxt {
                        width: 96%;
                        padding: 30px 2% 0;
                        margin: 0;
                        p {
                            margin: 0;
                            b {
                                font-size: 14px;
                                display: block;
                                font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                                font-weight: bold;
                                margin: 10px 0;
                            }
                        }
                        p {
                            padding: 0 0 10px;
                            height: 8em;
                            overflow: hidden;
                        }
                    }
                    .dualImage {
                        width: 100%;
                        padding: 0 3% 3%;
                        img {
                            padding: 0;
                            width: 100%;
                        }
                    }
                }
                .dualScene {
                    padding: 0;
                    img {
                        padding: 0;
                        margin: 0;
                        width: 100%;
                    }
                }
            }
        }
    }
    .imgDouble,
    .imgTri,
    .imgCatch,
    .imgScene,
    .imgDetail,
    .imgDual,
    .imgCatchtxt,
    .imgPoints,
    .imgDeepinfo {
        margin: 0;
        padding: 3px 10px 0;
        /* overflow: hidden; */
        &:after {
            visibility: hidden;
            display: block;
            content: " ";
            clear: both;
            height: 0;
        }
    }




    @media only screen and (max-width: 768px) {
        .imgDouble,
        .imgTri,
        .imgCatch,
        .imgScene,
        .imgDetail,
        .imgDual,
        .imgCatchtxt,
        .imgPoints,
        .imgDeepinfo {
            padding: 0 10px 0;
        }
    }
    .imgDual {
        clear: both;
        padding: 0 0 120px;
        &>div {
            width: 395px;
            padding: 0;
            float: left;
            .catchTxt {
                width: 365px;
                padding: 30px 10px 0;
                height: 128px;
                margin: 0 0 20px;
                overflow: hidden;
            }
            .dualImage {
                width: 395px;
                /* overflow: hidden; */
                img {
                    width: 170px;
                    padding: 0 0 0 10px;
                    display: block;
                    float: left;
                }
            }
        }
        .dualScene {
            img {
                width: 430px;
                padding: 10px 10px 10px 0;
            }
        }
    }
    .imgAbout {
        margin: 0;
        padding: 0 10px 0;
        overflow: hidden;
        .option {
            overflow: hidden;
            display: block;
            width: auto;
            margin: 20px 0 40px auto;
            padding: 10px 0 0;
            border: 1px dotted #301e21;
            .aboutTitle {
                width: 100%;
                font-weight: bold;
                margin-bottom: 10px;
                display: block;
                margin: 10px 0 5px 20px;
                font-size: 20px;
                font-weight: bold;
            }
            li {
                overflow: hidden;
                float: left;
                width: 225px;
                margin: 0px 20px;
                img {
                    width: 100%;
                    margin: 0 0 4px;
                    display: inline-block;
                }
                p {
                    width: 100%;
                    margin: 0 0 20px 0;
                    font-size: 14px;
                }
            }
            .last {
                border-bottom: none;
            }
            &.textOnly {
                li {
                    width: 95%;
                }
            }
        }
    }
    .imgSection {
        &.sp {
            display: none;
        }
        clear: both;
        overflow: hidden;
        padding: 0 0 30px;
        div {
            width: 100%;
            padding: 0;
            float: left;
            .catchTxt {
                padding: 20px 0 0;
                height: 128px;
                margin: 0 auto;
                overflow: hidden;
                text-align: center;
                p {
                    b {
                        padding: 0;
                        border-bottom: none;
                        font-size: 20px;
                    }
                }
            }
            .leftText,
            .rightText {
                width: 47.6%;
                display: block;
                p {
                    font-size: 16px;
                    /*font-weight: bold;*/
                    letter-spacing: 0;
                    margin: 10px 0 0 0;
                    color: #000;
                    /*font: 16px/1.5 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;*/
                }
            }
            .rightText {
                padding-left: 39px;
            }
            .singleText {
                margin-left: 5px;
                b {
                    border: none;
                    margin: 0;
                    padding: 0;
                    font-size: 25px;
                }
            }
            .dualImage {
                width: 100%;
                overflow: hidden;
                img {
                    width: 48%;
                    padding: 0;
                    display: block;
                    float: left;
                    &.rightImg {
                        margin-left: 4%;
                    }
                }
            }
            .singleImage {
                img {
                    width: 100%;
                }
            }
        }
        &.triple {
            .tripleImage {
                width: 100%;
                overflow: hidden;
                img {
                    width: 32%;
                    margin-left: 5px;
                    padding: 0;
                    display: block;
                    float: left;
                }
            }
            .tripleText {
                width: 32%;
                margin-left: 5px;
                display: block;
                p {
                    font-size: 16px;
                    font-weight: bold;
                    letter-spacing: 0;
                    margin: 10px 0 0 0;
                    color: #000;
                    float: left;
                    font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                    font-size: 15px;
                }
            }
        }
        .distantText {
            float: left;
            margin-top: 20px;
            width: 100%;
            font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
            font-size: 15px;
            text-align: center;
            color: #000;
        }
    }
    .imgSize {
        margin: 15px 0 30px 0;
        width: 100%;
        .size-title {
            display: block;
            font-size: 24px;
            font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
        }
        div {
            position: relative;
            img {
                width: 100%;
                clear: both;
            }
            .itemImportant {
                width: 35%;
                position: absolute;
                top: 0;
                right: 0;
                img {
                    width: 100%
                }
            }
            .itemData {
                bottom: 10px;
                right: 10px;
                font-size: 15px;
                top: auto;
                position: absolute;
                width: auto;
                border: 1px #111 dotted;
                padding: 5px;
                color: #000;
                &.top {
                    top: 15px;
                    bottom: inherit;
                }
            }
        }
    }
    .imgDualSize {
        overflow: hidden;
        padding: 30px 0 30px;
        div {
            width: 100%;
            padding: 0;
            .dualImage {
                width: 100%;
                overflow: hidden;
                position: relative;
                img {
                    padding: 0;
                    display: inline-block;
                    &.rightImg {
                        width: 65%;
                        padding-left: 10px;
                    }
                    &.leftImg {
                        width: 30%;
                    }
                }
                p {
                    position: absolute;
                    left: 285px;
                    bottom: 10px;
                    font-size: 15px;
                    color: #000;
                    font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                    font-size: 15px;
                    &.white {
                        color: #fff
                    }
                }
            }
        }
    }

    .imgVariation {
        margin: 0;
        padding: 0 10px 120px;
        overflow: hidden;
        div {
            position: relative;
            p {
                position: absolute;
                width: auto;
                top: 90px;
            }
        }
        ul {
            li {
                overflow: hidden;
                img {
                    width: 100%;
                    background-color: #000;
                    &:hover {
                        opacity: 0.8;
                    }
                }
                a {
                    color: #000;
                    &:hover>.itemName {
                        opacity: 1;
                    }
                    &:hover>.dim {
                        opacity: 0;
                        background-color: rgba(0, 0, 0, 0);
                    }
                }
                .itemName {
                    font-size: 12px;
                    letter-spacing: 1px;
                    position: absolute;
                    left: 15px;
                    top: 20px;
                    -webkit-transition: all 0.25s ease-in-out;
                    transition: all 0.25s ease-in-out;
                    opacity: 0;
                    b {
                        font-size: 13px;
                        letter-spacing: 1px;
                    }
                }
                .dim {
                    opacity: 1;
                    background-color: rgba(0, 0, 0, 0.2);
                    position: absolute;
                    text-align: center;
                    -webkit-transition: all 0.25s ease-in-out;
                    transition: all 0.25s ease-in-out;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    padding-top: 25%;
                }
            }
        }
        .variation {
            img {
                width: 970px;
                clear: both;
            }
            b {
                border: none;
            }
            p.itemInfo.size {
                left: 50px;
            }
        }
        .lineupTwoItem {
            ul {
                li {
                    width: 400px;
                    float: left;
                    position: relative;
                }
            }
        }
        .lineupThreeItem {
            ul {
                li {
                    width: 266px;
                    float: left;
                    position: relative;
                }
            }
        }
    }
    .imgAccessories,
    .imgLinup,
    .imgRelated {
        &.sp {
            display: none;
        }
        margin: 0;
        padding: 15px 0 15px;
        overflow: hidden;
        b {
            border: none;
        }
        span {
            display: inline-block;
            background-color: #f00;
            color: #fff;
            font-weight: bold;
            padding: 6px 10px;
            line-height: 1.0;
            font-size: 16px;
        }
        a {
            color: #000;
        }
        img.size45 {
            width: 45%;
        }
        img {
            width: 65%;
            float: left;
        }
        img.width70 {
            width: 70%;
        }
        img.width80 {
            width: 80%;
        }
        div {
            width: 30%;
            padding: 20px 10px 20px 20px;
            float: left;
        }
        p {
            font-size: 16px;
            color: #000;
        }
        div.width25 {
            width: 25%
        }
        div.width15 {
            width: 15%
        }
        div.width17 {
            width: 17%;
            padding: 20px 10px 20px 10px;
        }
    }
}

.imgLinup {
    margin: 30px 0 0 0;
    .double {
        width: 60%;
        img {
            width: 50%;
        }
    }
}

.imgOverall {
    padding: 0 0 30px;
    div {
        position: relative;
        p {
            position: absolute;
            width: auto;
            color: #000;
            letter-spacing: -1px;
            line-height: 25px;
            font-size: 14px;
            font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
            &.leftText {
                top: 30px;
                left: 10px;
            }
            &.rightText {
                bottom: 0;
                right: 10px;
                text-align: right;
            }
            &.top {
                top: 15px;
            }
            b {
                border: none;
                padding: 0;
                margin: 0 0 15px 0;
                font-size: 39px;
                &.small {
                    margin: 0 0 5px 0;
                    font-size: 20px;
                }
            }
        }
        img {
            width: 100%;
            display: block;
            clear: both;
            margin: 30px 0 0;
        }
        img.sp_only {
            display: none;
        }
        @media only screen and (max-width: 768px) {
            p {}
        }
    }
    .reverse {
        p {
            &.leftText {
                top: 30px;
                right: 10px;
                text-align: right;
            }
            &.rightText {
                bottom: 30px;
                left: 10px;
                text-align: left;
            }
        }
    }
}

.imgCaution {
    padding: 0 10px 0;
    border: 1px solid #999;
    .caution_title {
        margin: 15px 0;
        .c-title {
            font-size: 20px;
            font-style: normal;
            font-weight: normal;
            display: block;
            margin-bottom: 10px;
            /*font-family:"メイリオ", Meiryo,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;*/
        }
    }
    .caution_ph {
        text-align: left;
        margin-bottom: 20px;
        li {
            margin: 0 5px 0 0;
            display: inline-block;
            a {
                img {
                    width: 90px;
                    height: 90px;
                }
            }
            a:visited {
                color: #333;
                text-decoration: none;
            }
            a:link {
                color: #333;
                text-decoration: none;
            }
        }
        &.imgOnly {
            text-align: left;
            width: 90%;
            margin: 0 auto;
            li {
                display: inline-block;
                width: 49%;
                img {
                    width: 100%;
                }
            }
        }
    }
    .caution_text {
        text-align: left;
        font-size: 15px;
        line-height: 1.8em;
        letter-spacing: 0.1em;
        margin-bottom: 15px;
    }
    &.links {
        .caution_title {
            margin: 15px auto;
            .c-title,
            .caution_pc {
                text-align: center;
            }
        }
        .caution_ph {
            width: 70%;
            margin: 15px auto;
            li {
                width: 47%;
                a {
                    text-align: center;
                    display: block;
                    line-height: 1.25;
                    img {
                        width: 160px;
                        height: 160px;
                        border: 1px solid #000;
                    }
                    span {
                        font-weight: bold;
                        color: #f00;
                        display: block;
                        margin: 10px 0 0;
                    }
                }
            }
            @media only screen and (max-width: 768px) {
                width: 100%;
            }
        }
    }
}


.LineupFlm {
    width: 99%;
    height: 810px;
    border: none;
}

.confirmFlm {
    width: 98%;
    height: 380px;
    border: none;
    margin: 0 auto;
    display: block;
}

.reviewGroup,
.ipRecommgroup,
.ipGiftservice {
    display: none;
}



/* 商品情報共通スタイルシート */

.ipdscarea {
    margin: 0 auto;
    width: 100%;
    max-width: 840px;
    background-color: #fff;

    .ipbi,
    .ipbt,
    .bfct {
        width: 95%;
        margin: 0 auto;
        font-size: 0.85em;
        border: solid 1px #ccc;
        b {
            font-weight: bold;
            background-color: #F0F0F0;
            color: #000;
            margin: 0;
            padding: 1%;
            border-bottom: solid 1px #ccc;
            display: block;
        }
    }

    /*商品情報*/
    .ipbi {
        dl {
            background-color: #fff;
            overflow: hidden;
            padding: 1% 10px;
            margin: 4px auto 0;
            dt {
                width: 10%;
                float: left;
                clear: left;
                margin: 0 0 4px;
            }
            dd {
                width: 88%;
                float: left;
                margin: 0 0 4px;
            }
        }
    } //商品の説明文（短い文章）
    .ipbt {
        p {
            padding: 1% 10px;
            margin: 4px auto;
        }
    }
    /*産地・メーカー・本物保証*/
    .prd,
    .mkr,
    .wrt {
        margin: 0 0 30px;
        img {
            width: 100%;
        }
    }
    /*メール便可・不可バナー*/
    .mlbn {
        margin: 0 0 30px;
        img {
            width: 100%;
        }
    }
    /*ご購入の前に・注意点*/
    .bfct {
        p {
            padding: 1% 10px;
            margin: 4px auto;
        }
    }
}




/* 商品情報用スタイルシート */

.iparea {
    margin: 30px 0 30px;
    background-color: #fff;
    clear: both;
    .ipd {
        background-color: #fff;
        border: 1px solid #900;
        padding: 3%;
        width: 93.5%;
        letter-spacing: 2px;
        font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
        p {
            font-size: 15px;
            line-height: 2;
            color: #900;
            b {
                font-size: 24px;
                font-weight: bold;
            }
            a {
                text-decoration: underline;
                color: #900;
                display: inline-block;
                margin: 0 0 0 15px;
            }
        }
    }
    .ipdif {
        /* width: 440px; */
        width: 100%;
        height: 125px;
        border: none;
    }
    /* 関連ブランド、カテゴリ */
    .ifslick {
        width: 100%;
        height: 320px;
        border: none;
        margin: 20px auto 0;
    }
    .ipi {
        background-color: #fff;
        width: 100%;
        /* max-width: 440px; */
        margin: 30px 0 0;
        letter-spacing: 1px;
        font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
        b {
            font-weight: normal;
            font-size: 18px;
            color: #000;
        }
        hr {
            border: none;
            border-bottom: 1px solid #000;
        }
        p {
            font-size: 14px;
            line-height: 2;
        }
    }
    .ipt {
        margin: 30px 0;
        width: 100%;
        /* max-width: 440px; */
        b {
            font-weight: normal;
            font-size: 24px;
            color: #000;
            margin: 0 0 -10px;
        }
        hr {
            border: none;
            border-bottom: 1px solid #000;
            padding: 0;
            margin: 10px 0 0;
        }
        dl {
            background-color: #f5f0eb;
            overflow: hidden;
            padding: 2%;
            /* max-width: 410px; */
            width: 96%;
            dt {
                width: 17%;
                float: left;
                clear: both;
                margin: 0 0 8px;
                span {
                    float: right;
                }
            }
            dd {
                width: 81%;
                float: left;
                margin: 0 0 8px;
                padding: 0 0 0 2%;
                .remarks {
                    width: 15%;
                    display: inline-block;
                    padding: 0;
                    overflow: inherit;
                    margin-top: 8px;
                    dt,
                    dd {
                        display: inline-block;
                        float: none;
                        border: 1px solid;
                        margin: 0;
                        padding: 0;
                        text-align: center;
                        width: 100%;
                    }
                }
            }
        }
    }
    .ipt2 {
        margin: 0 0 30px;
        padding: 0 5px 10px;
        width: 97%;
        /* max-width: 440px; */
        b {
            font-weight: bold;
            font-size: 14px;
            color: #000;
            margin: 0;
            padding: 0;
        }
        hr {
            border: none;
            border-bottom: 1px solid #000;
            padding: 0;
            margin: 10px 0 0;
            width: 97%;
        }
        dl {
            background-color: #f5f0eb;
            overflow: hidden;
            padding: 2%;
            width: 96%;
            margin: 0 auto;
            dt {
                width: 20%;
                float: left;
                clear: both;
                margin: 0 0 10px;
                span {
                    float: right;
                }
            }
            dd {
                width: 75%;
                float: left;
                margin: 0 0 10px;
                padding: 0 0 0 2%;
                .remarks {
                    width: 33%;
                    display: inline-block;
                    padding: 0;
                    overflow: inherit;
                    margin-top: 3px;
                    dt,
                    dd {
                        display: inline-block;
                        float: none;
                        border: 1px solid;
                        margin: 0;
                        padding: 0;
                        text-align: center;
                        width: 100%;
                        font-size: 11px;
                    }
                }
            }
        }
    }
    .ipr {
        margin: 30px 0 0;
        background-color: #fff;
        border: 1px solid #bfbfbf;
        padding: 2%;
        width: 96%;
        max-width: 408px;
        font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
        b {
            font-weight: normal;
            font-size: 14px;
            color: #000;
        }
        hr {
            border: none;
            border-bottom: 1px solid #000;
        }
        p {
            font-size: 12px;
            line-height: 2;
        }
    }
}



/* 名入れ商品ページ用スタイルシート */

.nameService {
    width: 820px;
    background-color: #ffffff;
    font-size: 14px;
    color: #333;
    p,
    ul,
    ol,
    form,
    th,
    td,
    a,
    strong,
    em {
        font-size: 14px;
    }
    span {
        color: #F00;
        font-weight: bold;
    }
    .nmTitle {
        background-color: #cecece;
        padding: 6px 1%;
        display: block;
        width: 98%;
        font-size: 18px;
    }
    .nmInfo {
        width: 100%;
        b {
            font-size: 20px;
            border-bottom: none;
            color: #111;
            padding-bottom: 0px;
        }
        p {
            margin-top: 15px;
            border-top: dotted 1px;
            padding-top: 15px;
            font-size: 14px;
            line-height: 1.8em;
            .nmEm {
                color: #000;
                font-size: 18px;
            }
        }

        div {
            width: 60%;
            padding: 3% 2%;
            float: left;
            &.nmImage_main {
                width: 32%;
                img {
                    display: block;
                    margin: 0 auto;
                    width: 100%;
                }
            }
        }
    }
    .nmContents {
        width: 100%;
        margin: 0 auto 40px;
        border-spacing: 0;
        border-collapse: collapse;
        a {
            color: #004006;
            font-weight: bold;
        }
        em {
            font-size: 1.7em;
        }
        .nmText_center {
            text-align: center;
            font-weight: bold;
            font-size: 16px;
            background-color: #cecece;
            color: #333333;
        }
        .nm_link {
            padding-top: 10px;
        }
        b {
            border-bottom: none;
        }
        &.howto {
            tr {
                td {
                    &:first-child {
                        width: 200px;
                        font-size: 18px;
                        font-weight: bold;
                    }
                }
            }
        }
        tr {
            td {
                border: 1px solid #000000;
                padding: 12px 12px;
                img {
                    display: block;
                    width: 45%;
                    padding: 1%;
                    float: left;
                }
                hr {
                    width: 100%;
                    border: none;
                    margin-top: 8px;
                    margin-bottom: 8px;
                    border-bottom: 1px dotted;
                }
                &:first-child {
                    text-align: center;
                    width: 25%;
                    padding: 12px;
                    text-align: center;
                    font-size: 18px;
                }
                ul {
                    overflow: hidden;
                    li {
                        width: 23%;
                        padding: 1%;
                        float: left;
                        img {
                            width: 100%;
                            clear: both;
                            display: block;
                            margin: 0 auto;
                        }
                        text-align: center;
                    }
                    &.nmSampletxt {
                        li {
                            width: 31%;
                            font-size: 0.95em;
                            div.nmSample_text {
                                margin-bottom: 15px;
                                height: 10em;
                            }
                        }
                        li.first {
                            font-weight: bold;
                            font-size: 0.8em;
                        }
                    }
                }
            }
        }
    }
    .nm_caution {
        width: 96%;
        margin: 0 auto 40px;
        ul {
            list-style-type: disc;
        }
        b {
            font-size: 22px;
            display: block;
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: dotted 1px;
        }
    }
}




/* 旧商品ページ用スタイルシート */

.wrapcontents_ip {
    img {
        /* width: 100%; */
        display: block;
    }
    p {
        font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
        font-size: 14px;
        line-height: 2.3;
    }
    hr {
        margin: 0;
        padding: 0;
        border: none;
        border-bottom: 1px dotted #cccccc;
    }
    .ip_info {
        width: 780px;
        background-color: #f6f6f6;
        padding: 15px 20px;
        margin: 0;
        overflow: hidden;
        line-height: 2;
        hr {
            margin: 10px 0;
            display: block;
            clear: both;
            border: none;
            border-top: 2px dotted #cccccc;
            border-bottom: 2px dotted #cccccc;
        }
        .infoTable {
            font-size: 12px;
            border-collapse: collapse;
            border-spacing: 0;
            width: 49%;
            margin: 0 1% 3% 0;
            float: left;
            &:before {
                content: '商品情報';
                display: block;
                color: #000;
                font-size: 13px;
                font-weight: bold;
                padding: 0;
                text-indent: 1.5em;
                background: url("https://www.rakuten.ne.jp/gold/dentouhonpo/img/contents/info_icon_data.png") left 2px no-repeat;
                width: 100%;
                height: 25px;
                margin: 0 0 2px;
            }
            tr {
                /* border-bottom: 1px dotted $lc; */
                &:nth-child(odd) {
                    background-color: #f6f6f6;
                }
                &:first-child {
                    /* border-top: 1px dotted $lc; */
                }
            }
            td {
                padding: 2px 0;
                width: 20%;
                /* clear: both;
                    float: left; */
                    &:nth-child(even) {
                        float: left;
                        width: 80%;
                    }
                    &:first-child {
                        font-weight: bold;
                        padding: 2px 0;
                    }
                }
            }
            .ip_Servicegroup {
                b {
                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: url("https://www.rakuten.ne.jp/gold/dentouhonpo/img/contents/info_icon_gift.png") left top no-repeat;
                        width: 17px;
                        height: 16px;
                    }
                }
            }
            .ip_Deliverygroup {
                b {
                    font-size: 13px;
                    display: block;
                    line-height: 1.5;
                    padding: 0;
                    margin: 10px 0;
                    border-bottom: 1px dotted #000;
                    text-indent: 1.5em;
                    position: relative;
                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: url("https://www.rakuten.ne.jp/gold/dentouhonpo/img/contents/info_icon_time.png") left top no-repeat;
                        width: 17px;
                        height: 17px;
                    }
                }
            }
            .ip_Servicegroup {
                clear: both;
                width: 100%;
                padding: 0 0 10px;
                b {
                    font-size: 13px;
                    display: block;
                    line-height: 1.5;
                    padding: 0;
                    margin: 10px 0;
                    border-bottom: 1px dotted #000;
                    text-indent: 1.5em;
                    position: relative;
                }
                ul {
                    @include sizing(100%);
                    padding: 0;
                    overflow: hidden;
                    li {
                        float: left;
                        margin: 0 0 10px 10px;
                        &:first-child {
                            margin: 0 0 10px 0;
                        }
                        a {
                            word-wrap: break-word;
                            overflow: hidden;
                            display: block;
                            clear: both;
                            text-decoration: none;
                            font-size: 12px;
                            color: #000;
                            text-align: center;
                            padding: 4px 8px;
                            @include rad(3,
                                3,
                                3,
                                3);
                            @include anm(0.2s);
                            background-color: #ffffff;
                            text-decoration: none;
                            border: 1px solid #cccccc;
                            position: relative;
                            text-indent: 2em;
                            img {
                                width: 100%;
                            }
                            &:visited,
                            &:links {
                                color: #000000;
                            }
                            &:hover {
                                background-color: #356a71;
                                color: #ffffff;
                                border: 1px solid #356a71;
                                a {}
                                &.tag_del {
                                    &:before {
                                        background: url("https://www.rakuten.ne.jp/gold/dentouhonpo/img/contents/info_icon_del_hv.png") no-repeat;
                                        width: 24px;
                                        height: 18px;
                                    }
                                }
                                &.tag_noshi {
                                    &:before {
                                        background: url("https://www.rakuten.ne.jp/gold/dentouhonpo/img/contents/info_icon_noshi_hv.png") no-repeat;
                                        width: 24px;
                                        height: 18px;
                                    }
                                }
                                &.tag_ribbon {
                                    &:before {
                                        background: url("https://www.rakuten.ne.jp/gold/dentouhonpo/img/contents/info_icon_ribbon_hv.png") no-repeat;
                                        width: 24px;
                                        height: 18px;
                                    }
                                }
                                &.tag_wrap {
                                    &:before {
                                        background: url("https://www.rakuten.ne.jp/gold/dentouhonpo/img/contents/info_icon_wrap_hv.png") no-repeat;
                                        width: 24px;
                                        height: 18px;
                                    }
                                }
                                &.tag_name {
                                    &:before {
                                        background: url("https://www.rakuten.ne.jp/gold/dentouhonpo/img/contents/info_icon_name_hv.png") no-repeat;
                                        width: 24px;
                                        height: 18px;
                                    }
                                }
                                &.tag_wood {
                                    &:before {
                                        background: url("https://www.rakuten.ne.jp/gold/dentouhonpo/img/contents/info_icon_wood_hv.png") no-repeat;
                                        width: 24px;
                                        height: 18px;
                                    }
                                }
                                &.tag_messe {
                                    &:before {
                                        background: url("https://www.rakuten.ne.jp/gold/dentouhonpo/img/contents/info_icon_mail_hv.png") no-repeat;
                                        width: 24px;
                                        height: 18px;
                                    }
                                }
                                &.tag_bundle {
                                    &:before {
                                        background: url("https://www.rakuten.ne.jp/gold/dentouhonpo/img/contents/info_icon_bundle_hv.png") no-repeat;
                                        width: 24px;
                                        height: 18px;
                                    }
                                }
                            }
                            &:before {
                                content: '';
                                display: block;
                                position: absolute;
                                top: 7px;
                                left: 5px;
                                width: 24px;
                                height: 18px;
                                @include anm(0.2s);
                                -webkit-transition: .2s;
                                transition: .2s;
                            }
                            &.tag_del {
                                &:before {
                                    background: url("https://www.rakuten.ne.jp/gold/dentouhonpo/img/contents/info_icon_del.png") left top no-repeat;
                                }
                            }
                            &.tag_noshi {
                                &:before {
                                    background: url("https://www.rakuten.ne.jp/gold/dentouhonpo/img/contents/info_icon_noshi.png") left top no-repeat;
                                    width: 24px;
                                    height: 18px;
                                }
                            }
                            &.tag_ribbon {
                                &:before {
                                    background: url("https://www.rakuten.ne.jp/gold/dentouhonpo/img/contents/info_icon_ribbon.png") left top no-repeat;
                                    width: 24px;
                                    height: 18px;
                                }
                            }
                            &.tag_wrap {
                                &:before {
                                    background: url("https://www.rakuten.ne.jp/gold/dentouhonpo/img/contents/info_icon_wrap.png") left top no-repeat;
                                    width: 24px;
                                    height: 18px;
                                }
                            }
                            &.tag_name {
                                &:before {
                                    background: url("https://www.rakuten.ne.jp/gold/dentouhonpo/img/contents/info_icon_name.png") left top no-repeat;
                                    width: 24px;
                                    height: 18px;
                                }
                            }
                            &.tag_wood {
                                &:before {
                                    background: url("https://www.rakuten.ne.jp/gold/dentouhonpo/img/contents/info_icon_wood.png") left top no-repeat;
                                    width: 24px;
                                    height: 18px;
                                }
                            }
                            &.tag_messe {
                                &:before {
                                    background: url("https://www.rakuten.ne.jp/gold/dentouhonpo/img/contents/info_icon_mail.png") left top no-repeat;
                                    width: 24px;
                                    height: 18px;
                                }
                            }
                            &.tag_bundle {
                                &:before {
                                    background: url("https://www.rakuten.ne.jp/gold/dentouhonpo/img/contents/info_icon_bundle.png") left top no-repeat;
                                    width: 24px;
                                    height: 18px;
                                }
                            }
                            -moz-border-radius: 3px 3px 3px 3px;
                            border-radius: 3px 3px 3px 3px;
                            -webkit-transition: .2s;
                            transition: .2s;
                        }
                    }
                    -moz-box-sizing: border-box;
                    -ms-box-sizing: border-box;
                    box-sizing: border-box;
                    *behavior: url(/js/boxsizing.htc);
                    width: 100%;
                }
            }
            .ip_Taggroup {
            /* border-top: 1px dotted $lc;
                border-bottom: 1px dotted $lc; */
                padding: 0;
                width: 49%;
                margin: 0 0 0 1%;
                float: left;
                .ip_Tag {
                    padding: 0 0 16px;
                    b {
                        font-size: 13px;
                        display: block;
                        line-height: 1.5;
                        text-indent: 1.5em;
                        padding: 0;
                        margin: 0 0 10px;
                        border-bottom: 1px dotted #000;
                        position: relative;
                        &:before {
                            content: '';
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 0;
                            background: url("https://www.rakuten.ne.jp/gold/dentouhonpo/img/contents/info_icon_cat.png") left top no-repeat;
                            width: 16px;
                            height: 16px;
                        }
                    }
                    ul {
                        overflow: hidden;
                        margin: 0 0 10px;
                        li {
                            float: left;
                            margin: 0 0 10px 10px;
                            &:first-child {
                                margin: 0 0 10px 0;
                            }
                            a {
                                word-wrap: break-word;
                                overflow: hidden;
                                display: block;
                                clear: both;
                                text-decoration: none;
                                font-size: 12px;
                                color: #000;
                                text-align: center;
                                padding: 4px 8px;
                                @include rad(3,
                                    3,
                                    3,
                                    3);
                                @include anm(0.2s);
                                background-color: #ffffff;
                                text-decoration: none;
                                border: 1px solid #cccccc;
                                img {
                                    width: 100%;
                                }
                                &:visited,
                                &:links {
                                    color: #000000;
                                }
                                &:hover {
                                    background-color: #356a71;
                                    color: #ffffff;
                                    border: 1px solid #356a71;
                                }
                                -moz-border-radius: 3px 3px 3px 3px;
                                border-radius: 3px 3px 3px 3px;
                                -webkit-transition: .2s;
                                transition: .2s;
                            }
                        }
                    }
                }
            }
            .aboutLink {
                display: block;
                margin: 30px auto 10px;
                text-align: center;
                font-size: 16px;
                background-color: #356a71;
                color: #ffffff;
                padding: 10px;
                @include anm(0.2s);
                @include rad(3,
                    3,
                    3,
                    3);
                border: 1px solid #356a71;
                text-decoration: none;
                -webkit-box-shadow: 0px 0px 2px 0 transparent;
                box-shadow: 0px 0px 2px 0 transparent;
                small {
                    font-size: 12px;
                }
                &:hover {
                    color: #ffffff;
                    background-color: #518990;
                    border: 1px solid #518990;
                    -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
                    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
                }
                -webkit-transition: .2s;
                transition: .2s;
                -moz-border-radius: 3px 3px 3px 3px;
                border-radius: 3px 3px 3px 3px;
            }
        }
        .ip_main,
        .ip_sub {
            img {
                margin: 0 0 7px;
            }
            .imgpos {
                img {
                    margin: 0 !important;
                    display: block;
                    float: left;
                }
            }
            &>img {
            /* width: 100%; */
        }
        .posL {
            float: left;
        }
        .posR {
            float: right;
        }
        .posC {
            margin: 0 auto;
            text-align: center;
        }
        .txt {
            width: 75%;
            h3 {
                width: auto;
                display: inline-block;
                margin: 0;
                letter-spacing: 3px;
                font-size: 20px;
                padding: 0 0 5px;
                font-weight: normal;
                border-bottom: 1px dotted #cccccc;
                font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
            }
            b {
                font-size: 24px;
                display: block;
                margin: 40px 0 20px;
            }
            p {
                margin: 10px 0 0;
            }
            span {
                display: block;
                clear: both;
                font-size: 12px;
                font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                margin: 10px 0 40px;
            }
        }
        .caption {
            border: 1px dotted #356a71 !important;
            padding: 30px 30px 0 !important;
            width: 758px !important;
            margin: 0 auto 50px !important;
            overflow: hidden;
            div {
                margin: 0 0 30px;
                b {
                    display: block;
                    margin: 0 0 16px;
                    width: 100%;
                }
                em {
                    display: block;
                    font-weight: bold;
                    font-size: 14px !important;
                    margin: 0 0 6px;
                }
                .caption_img {
                    width: 30%;
                    float: left;
                    img {
                        border: 1px solid #cccccc;
                        margin: 0 0 15px !important;
                        display: block;
                        float: left;
                    }
                    a {
                        clear: both;
                        width: auto;
                        font-size: 12px;
                        margin: 0 auto;
                        text-align: center;
                        display: block;
                        padding: 6px;
                        border: 1px solid #cccccc;
                        background-color: #ffffff;
                        color: #000;
                        @include anm(0.2s);
                        &:hover {
                            color: #ffffff;
                            border: 1px solid #356a71;
                            background-color: #356a71;
                            text-decoration: none;
                        }
                        -webkit-transition: .2s;
                        transition: .2s;
                    }
                }
                .caption_txt {
                    width: 65%;
                    padding: 0 0 0 5%;
                    float: left;
                    p {
                        font-size: 12px;
                        line-height: 2;
                    }
                }
            }
            hr {
                margin: 50px 0;
                display: block;
                clear: both;
                border: none;
                border-bottom: 1px dotted #cccccc;
                border-top: 1px dotted #cccccc;
            }
        }
        /* 購入前にご注意下さい */
        .careful {
            padding: 15px 10px;
            width: 808px;
            margin: 60px auto 120px;
            overflow: hidden;
            border: 1px dotted #cccccc;
            background-color: #f6f6f6;
            b {
                color: #000;
                display: inline-block;
                margin: 0 0 15px;
                font-size: 14px;
                border-bottom: 1px dotted #000;
            }
            ul {
                overflow: hidden;
                li {
                    display: block;
                    width: 33.332999999999998%;
                    float: left;
                    padding: 0 15px;
                    p {
                        font-size: 11px;
                    }
                    img {
                        margin: 0;
                    }
                    color: #000;
                }
            }
        }
        /* 関連商品 */
        .recommend {
            .recommend_title {
                clear: both;
                overflow: hidden;
                li {
                    float: left;
                    width: 33.332999999999998%;
                    font-weight: bold;
                    text-align: center;
                    font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                    p {
                        font-size: 15px;
                        line-height: 1.5;
                    }
                    hr {
                        display: block;
                        width: 100%;
                        margin: 0 auto;
                        padding: 10px 0 0;
                        border: none;
                        border-bottom: 1px dotted #000;
                    }
                    span {
                        margin: 0 6px 0 0;
                        display: block;
                        font-size: 10px;
                    }
                }
            }
            .recommend_item {
                display: table;
                li {
                    display: table-cell;
                    padding: 20px 40px 20px;
                    p {
                        color: #000;
                        font-size: 12px;
                        line-height: 2;
                    }
                    span {
                        font-size: 10px;
                        color: #000;
                        font-size: 14px;
                        em {
                            font-size: 10px;
                            margin: 0 0 0 5px;
                            color: #000;
                        }
                    }
                    img {
                        outline: 1px solid #f6f6f6;
                        width: 100%;
                    }
                }
            }
        }
    }
    .ip_main {
        margin: 0 0 50px;
        .txt {
            padding: 30px 30px 0px;
            margin: 0 0 70px;
        }
    }
    .ip_sub {
        margin: 50px 0 0;
        .txt {
            padding: 0 30px 100px;
            p {
                a,
                a:visited,
                a:link {
                    color: #aaaaaa;
                    text-decoration: underline !important;
                    margin: 0 4px;
                }
            }
        }
    }
}