@charset 'UTF-8';

body
{
    margin: 0;
    padding: 0;
}



/*スライダーのフレーム高さを変更*/

iframe#cate_iframe
{
    height: 80vw;
}

#relatedKeywords
{
    display: none;
}

section#shopRevenueRecommendSection
{
    display: none;
}



/*商品カラムの変更_コピペ fromたまちゃん*/

#sCSLContainer > a
{
    position: relative;

    display: block;
    float: left;
    overflow: hidden;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: calc(100% / 3 - 6.7px);
    height: 240px;
    margin-bottom: 10px;

    background: #fff;

         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
}

#sCSLContainer
{
    padding: 10px;

    background: #efefef;
}

.ctgItemsPaginate
{
    clear: both;
}

#sCSLContainer .sCSLBox01,
#sCSLContainer .sCSLBox02
{
    display: block !important;

    padding: 0;

    border: 0;
    background: #fff;
}

#sCSLContainer > a:nth-child(2),
#sCSLContainer > a:nth-child(3n+2)
{
    margin-right: 10px;
    margin-left: 10px;
}

.inRight
{
    display: block;
    float: left;
    clear: both;

    width: 100%;
    height: 140px;
}

.inLeft
{
    overflow: hidden;

    width: 100% !important;
    min-height: 80px;
    max-height: 130px;
}

.sCSLBox01 .inLeft img,
.sCSLBox02 .inLeft img
{
    width: 100%;

    border: inherit;
    border-bottom: 1px solid #efefef;
}

#sCSLContainer .ctgItemNormal
{
    font-size: 10px;
    line-height: 1.5em;

    overflow: hidden;

    height: 45px;
    margin: 0 5px;
    padding: 0;

    background: inherit;
}

#sCSLContainer .txtheight
{
    min-height: 60px;
    padding: 0;
}

#sCSLContainer .inRight .txtheight {
    height: 5rem;
    min-height: auto;
}

#sCSLContainer .txtprice
{
    padding-right: 5px;

    color: #371804;
}

#sCSLContainer .txtprice span
{
    margin-top: -1px;
}

#sCSLContainer .txtprice span:nth-child(2)
{
    display: block;
}

#sCSLContainer .ctgItemPoint
{
    margin-bottom: 5px;

    text-align: center;

    color: #fff;
    background: #bf0000;
}
#sCSLContainer .inRight .ctgItemNormal
{
    font-size: 11px;
    line-height: 16px;
}

/*カテゴリページの絞り込み部分_コピペ*/

/* カテゴリを絞り込む 強制表示 */
.sCLToggleCont
{
    display: block !important;
}

/* カテゴリを絞り込む デザイン変更 */
.sCLToggleTr
{
    font-weight: normal;

    display: block;

    color: #fff;
    border-top: none;
    border-bottom: none;
    background: #666;
}

/* 表示カテゴリを2列表示 */
.sCLToggleCont .ilistnon
{
    padding: 10px 4px 5px 4px;
}

.sCLToggleCont .ilistnon li
{
    float: left;

    box-sizing: border-box;
    width: calc(100% / 3 - .67px);
    padding: 0 3px 6px;

    border-bottom: none;
}

.sCLToggleCont .ilistnon li a
{
    font-size: 12px;

    display: block;
    overflow: hidden;

    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 10px 5px;

    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: #333;
    border: solid 1px #bebebe;
    border-radius: 5px;
    background: none;
}

.sCLToggleCont .ilistnon ul:after
{
    display: block;
    visibility: hidden;
    clear: both;

    height: 0;

    content: ' ';
}


/*カテゴリのパンくず部分*/
.ctgBreadcrumbs
{
    font-size: 12px;

    margin-top: 63px;
    padding-top: 5px;

    border-top: 1px solid #dedede;
    // padding-top: 127px;
    background: #f1f1f1;
}

/*キャンペーンテキスト*/

#campaignText
{
    display: none !important;
}

/* イベントバナー画像の表示設定 */
.evBnr_01
{
    display: none;
}

.evBnr_02
{
    display: none;
}

.evhbnr
{
    position: absolute;
    top: 93px;
    left: 0;

    overflow: hidden;

    height: 90px;
}

/* メニューボタン */
.boxPJ li:nth-child(1) a
{
    /* left: 35px; */
    /* text-indent: -999999px;
    background-image: url('https://www.rakuten.ne.jp/gold/dentouhonpo/frameworks/img/menu_w02.png') !important;
    background-size: cover !important;
    float: inherit;
    margin: 0;
    z-index: 9999;
    position: fixed;
    width: 30px;
    height: 30px;
    top: 6px;
    right: 10px;
    padding: 0; */
}

.boxPJ li:nth-child(1) a span
{
    display: block;
}

a[href*='https://search.rakuten.co.jp/search/mall/?sid=215297']
{
    position: fixed;
    z-index: 999;
    top: 7px;
    left: 5px;

    display: block;

    width: 30px;
    height: 30px;

    text-indent: -999999px;

    background-image: url(icon_search.png) !important;
    background-size: cover !important;
}

b > b > b > b > font > b
{
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;

    width: 100%;

    background: rgba(0, 0, 0, .7);
}

b > b > b > b > font > b > p
{
    overflow: hidden;

    margin: 8px 8px 0;
}

b > b > b > b > font > b > p > a
{
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;

    display: block;
    float: left;

    width: auto;

    text-decoration: none;
    letter-spacing: 2px;

    color: #fff;
}


b > b > b > b > font > b > p > a > b
{
    display: inline-block;
    float: left;

    width: 100%;
    min-width: 121px;
    max-width: 132px;
    margin: 0;
    padding: 0 8px 0 0;

    color: #fff;
}


b > b > b > b > font > b > p > a > b > b
{
    font-size: 9px;
    line-height: 1.0;

    display: block;
}


/* 検索ボタン */
b > b > b > b > font > b > p > a:nth-child(2)
{
    display: block;
    display: none;
    float: right;

    width: 30px;
    height: 30px;
    margin: 0 76px 0 0;

    background: url('https://www.rakuten.ne.jp/gold/dentouhonpo/frameworks/img/search_w.png') 50% 50% no-repeat;
    background-size: 76%;
}

/* 楽天へのリンク */
b > b > b > b > font > b > p > a:nth-child(3)
{
    display: block;
    float: left;

    width: 30px;
    height: 30px;
    margin: 0 0 0 34px;

    background: url('https://www.rakuten.ne.jp/gold/dentouhonpo/frameworks/img/rakuten_w.png') 50% 50% no-repeat;
    background-size: 76%;
}

b > b > b > b > font > b > p > a > img
{
    display: inline-block;
    float: left;

    width: 27px;
}

/* PC用 */
#itemImageSlider
{
    /* バナー2枚 */
    margin: 300px 0 32px 0 !important;
    /*ポイントアップバナー用
    margin: 144px 0 32px 0 !important; */
    /* バナー3枚 
    margin: 560px 0 32px 0 !important;*/
    /* バナー4枚
    margin: 720px 0 32px 0 !important; */
}

/* SP用 */
iframe.spHeader
{
    position: absolute;
    top: 268px;
    left: 0;

    display: none;
    overflow: hidden;
    /* バナー2枚 */

    height: 300px;
    /*ポイントアップバナー
    height: 140px;*/
    /* バナー3枚 
    height: 540px;*/
    /* バナー4枚 
    height: 700px;*/
}

iframe#spForm
{
    position: fixed;
    z-index: 10000;
    top: -102px;
    right: 0;

    display: none;
    overflow: hidden;

    width: 100%;
    height: 118px;

    transition: .3s;
}

iframe#spForm_n
{
    position: absolute;
    z-index: 10000;
    top: 0;
    right: 0;

    display: none;
    overflow: hidden;

    width: 100%;
    height: 118px;

    transition: .3s;
}

iframe.spFooter
{
    position: fixed;
    bottom: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 35px;

    border: none;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
}

iframe#spSlide
{
    position: absolute;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    margin-top: 100px;
}

//カテゴリーページのスタイル設定

/* #page_top{
    #sCLContainer{
        margin: 0px 0 0 !important;   
    }
}
#sCLContainer{
    margin: 0px 0 0 !important;   
}

.categorydescription{
    margin: 260px 0 -260px 0 !important;
} */


/* ヘッダ table 二行目 */
b > b > b > b > font > b
{
    overflow: hidden;

    height: 85px;
}

b > b > b > b > font > b > table
{
    position: fixed;
    z-index: 999;
    top: 46px;
    left: 0;

    width: 100%;

    border-spacing: 0;

    border-top: 1px solid #ccc;
}

b > b > b > b > font > b > table td
{
    text-align: center;

    border-left: 1px solid #ccc;
    /* border-bottom: 1px solid #ccc; */
}

b > b > b > b > font > b > table td:first-child
{
    border-left: 0 solid #ccc;
}

b > b > b > b > font > b > table td:nth-child(1)
{
    width: 65%;
}

b > b > b > b > font > b > table td:nth-child(2)
{
    width: 35%;
}

.commondescription b > b > b > b > font > b > table a
{
    font-size: 9px;
    font-weight: normal;

    display: inline-block;

    width: 100%;

    color: #fff !important;
}


.commondescription b > b > b > b > font > b > table a,
font > b > font > b > b > b > font > input#menuHdOpen:after
{
    line-height: 30px;
}


b > b > b > b > font > b > table td,
font > b > font > b > b > b > font > input#menuHdOpen
{
    width: 20%;
}

/* カテゴリページ調整
.ctgTtl {
  background: inherit;
  border-top: inherit;
  border-bottom: inherit;
}
.ctgTtl h1 {
    // display: none;
}
.ctgBreadcrumbs {
  padding: 5px;
}
.rstPop {
    position: fixed;
}

 */

.ctgTtl
{
    width: 100%;
    height: 62px;
    padding: 0 !important;

    background: transparent url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/sp_title.jpg') center top no-repeat;
    background-color: #ffffff;
    background-size: contain;

    h1
    {
        display: none;
    }
}

.current,
#page_top .ctgTtl
{
    /* padding-top: 145px !important; */
    h1
    {
        // padding-top: 15px;
        display: none;

        a
        {
            margin-bottom: 0;
        }
    }

    nav
    {
        margin-top: 60px;
    }
}

/* 2015-06-25 カテゴリページ ヘッダ
.categorydescription {
    padding: 5px 0 10px !important;
border-top: 0px solid #DFDFDF;
text-align: left;
overflow: hidden;
border-bottom: 1px solid #DFDFDF;
}
.categorydescription > b > b > p:nth-child(1) > img {
width: 100%;    
}
.categorydescription > b > b > p:nth-child(2) {
    font-family:serif;
    font-weight: lighter;
    font-size: 40px;
    line-height: 1em;
    padding: 5px;
}
.categorydescription > b > b > p:nth-child(3) {
    font-weight: lighter;
    font-size: 12px;
        padding:0 10px;
        line-height: 1.6em;

}
 */

#ipnsh-header
{
    /*padding-top: 30px;*/
}

/* ヘッダー店舗名 */
.campBnr,
.shopname-info
{
    display: block;

    .itemtitle
    {
        margin: 0;
    }
}

/* カテゴリーページ メニューのデザイン設定 */
.celebrate
{
    overflow: hidden;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    margin: 10px 0;

    li
    {
        line-height: 5em;

        float: left;

        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        width: 48%;
        margin: 1%;
        padding: 1%;

        text-align: center;

        border: 1px solid #999;
        -webkit-border-radius: 4px 4px 4px 4px;
                border-radius: 4px 4px 4px 4px;

        &:first-child
        {
            font-size: 20px;

            width: 98%;
            padding: 2% 0;

            color: #000;
            border: 1px solid #9e8333;
            background-color: #fff0df;

            b
            {
                font-weight: normal;
            }
        }

        a
        {
            font-size: 14px;

            display: block;

            color: #000;

            &:after
            {
                font-size: 19px;

                margin: 0 0 0 12px;

                content: '>';
            }
        }
    }

    span
    {
        font-size: 20px;
        font-weight: normal;
        line-height: 5em;

        display: block;

        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        width: 94%;
        margin: 0 auto;
        padding: 2% 0;

        text-align: center;

        color: #000;
        border: 1px solid #9e8333;
        -webkit-border-radius: 4px 4px 4px 4px;
                border-radius: 4px 4px 4px 4px;
        background-color: #fff0df;
    }
}


/* スマホ店舗名 */
.itemtitle
{
    width: 100%;
    height: 62px;
    padding: 0 !important;

    background: transparent url('https://image.rakuten.co.jp/dentouhonpo/cabinet/smartphone/sp_title.jpg') left top no-repeat;
    background-size: contain;

    h1
    {
        display: none;
    }
}

.categorydescription
{
    /* 画像の余白を無くす */
    line-height: 0;

    margin-top: 44px;
    padding: 7px 5px 5px 5px !important;

    table
    {
        tr
        {
            td
            {
                padding: 0;
            }
        }
    }
}

.current
{
    /*padding-top: 100px;*/
}

/* カテゴリーページのみヘッダーバナーを除外 */
div.current .spHeader
{
    display: none;
}

#page_top .ctgTtl
{
    padding-top: 0;
}

#page_top div#rstTopSearch
{
    margin: 92px 0 0;
}

/* ヘッダ table 二行目 */
font > b > font > b > b > b > font > input#menuHdOpen
{
    position: fixed;
    z-index: 999;
    top: 46px;
    left: 0;

    visibility: hidden;

    cursor: pointer;
}

font > b > font > b > b > b > font > input#menuHdOpen:after
{
    font-size: 9px;

    position: absolute;
    left: 50%;

    visibility: visible;

    width: 100%;

    content: '\0030ab\0030c6\0030b4\0030ea\004e00\0089a7';
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;

    color: #fff;
}

font > b > font > b > b > b > font > input#menuHdOpen:checked:after
{
    font-size: 40px;
    line-height: 40px;

    position: fixed;
    z-index: 999;
    z-index: 2147483647;
    top: 0;
    left: 72%;

    display: block;

    width: 45px;
    height: 45px;
    /*閉じるボタン*/

    content: '\00d7';
    -webkit-transform: inherit;
        -ms-transform: inherit;
            transform: inherit;
    text-align: center;

    color: #fff;
    border-radius: 50%;
    background: rgba(255, 255, 255, .80);
}


font > b > font > b > b > b > font > input#menuHdOpen + font
{
    /*大枠*/
    position: fixed;
    top: 0;
    left: -70%;

    overflow: scroll;

    width: 70%;
    height: 100%;

    transition: .1s ease-in-out;
    text-align: left;

    color: #fff;
    background: rgba(245, 245, 245, .1);

    -webkit-overflow-scrolling: touch;
}

font > b > font > b > b > b > font > input#menuHdOpen:checked
{
    z-index: 9999;
}

font > b > font > b > b > b > font > input#menuHdOpen:checked:before
{
    position: fixed;
    z-index: 2147483645;
    top: 0;
    left: 0;

    display: block;
    /*背景黒*/
    visibility: visible;

    width: 100%;
    height: 100%;

    content: '';

    color: #fff;
    background: rgba(0, 0, 0, .40);
}

font > b > font > b > b > b > font > input#menuHdOpen:checked + font
{
    z-index: 2147483646;
    left: 0;
    /*アコーディオンON*/

    visibility: inherit;

    transition: .1s ease-in-out;
}

font > b > font > b > b > b > font > input#menuHdOpen + font > iframe
{
    /* 追加で指定 */
    z-index: 2147483646;
    /* 追加で指定 */

    display: block;

    width: 100%;
    height: 100%;

    border: none;
    background: rgba(245, 245, 245, .95);
}

/* 楽天カートボタンなど */
.topbtn
{
    /*width: 100%;
    z-index: 9999;
    position: absolute;
    top: 0;
    right: 0; */
}

.topbtn > ul > li
{
    /*display: none;
    float: left;*/
}

.topbtn > ul > li:nth-child(4)
{
    /*display: block;
    position: fixed;
    top: 5px;
    right: 47px;
    z-index: 9999;*/
}

.topbtn a
{
    /*color: #32658a !important;
    text-decoration: underline !important; */
}

div#rstTopSearch
{
    /*display: none;
    margin: 10px 0 0;*/
}

#topFuncShopPopup
{
    border-bottom: 1px;
    // display:none;
}

#ipnsh-header > .logo
{
    /* 楽天ロゴ */
    /*position:fixed;
    top: 13px;
    right:10px;
    z-index: 9999;
    width: inherit;*/
}

#ipnsh-header > .logo > a
{
    /*width: 20px;
    height: 20px;
    background-image: url(icon_r.png) !important;
    background-size: cover !important;
    z-index: 9999;
    display: block;*/
}

#ipnsh-header > .logo img
{
    display: block;

    text-indent: -99999px;
}

#topFuncShopPopup,
#ipnsh-item-header
{
    /* position: absolute;
   top: -9999px; */
}

.sCLToggleBox
{
    margin-top: 50px;
}

#ipnsh-header
{
    /*position: absolute;*/
}

b > b > b > b > font > b > table > tbody > tr > td > a
{
    font-size: 10px;
    font-weight: bold;
    line-height: 35px;

    text-decoration: none;

    color: #fff;
}

iframe#pointBanner
{
    position: absolute;
    top: 77px;
    left: 0;

    width: 100%;
    height: 46px;
    /* 被らないように注意 */
}


/*** フッター部 ***/
#BtmFlag
{
    position: fixed;
    z-index: 2147483647;
    right: 0;
    bottom: -5px;

    width: 100%;
    margin: 0;
    padding: 10px 0;

    text-align: center;

    background-color: #bf0000;
}

#BtnFlag font
{
    font-weight: bold;

    color: white;
}


#floatingButtons .toTopButton div
{
    color: #595857;
    border: 1px solid #ccc;
    background-color: #fff;
}

#floatingButtons .toCartButton div
{
    color: #fff;
    border: 1px solid #595857;
    background-color: #595857;
}



body
{
    /* pc用ページリンクボタン */
    #ipnsh-header .ris-pcbtn:before
    {
        /*         float: inherit;
margin: 0;
z-index: 9999 !important;
position: fixed;
width: 30px;
height: 30px;
top: 7px;
padding: 0;
left: 140px;
text-indent: -999999px;
background-image: url('https://www.rakuten.ne.jp/gold/dentouhonpo/frameworks/img/pc_w.png') !important;
background-size: cover !important;
background-position: inherit !important;
display: none; */
    }
}


/* 固定ヘッダー */
#menu-wrap
{
    font-family: 'Open Sans', sans-serif;

    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;

    width: 100%;

    transition: .3s;

    background: rgba(0, 0, 0, .75);;
}

#menu
{
    font-size: 12px;

    width: 100%;
    margin: 0 auto 0;
    padding: 0;

    list-style-type: none;

    li
    {
        font-size: 100%;
        font-size: 85%;
        font-weight: bold;

        float: left;

        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        width: 25%;
        margin: 0;
        padding: 0;

        text-align: center;

        border-right: 1px solid #fff;

        a
        {
            font-size: 100%;
            line-height: 1;

            display: block;

            width: 100%;
            padding: 8px 0;

            transition: .3s;
            text-decoration: none;

            color: #fff;

            &:hover
            {
                background: rgba(0, 0, 0, .3);
            }
        }

        &:nth-child(4)
        {
            border-right: none;
        }

        &:nth-child(5)
        {
            width: 100%;
            margin: 0 0 8px;

            border-top: 1px solid #fff;
            border-right: none;
            border-bottom: 1px solid #fff;

            a
            {
                padding: 8px 0 8px;
            }
        }

        &:last-child
        {
            width: 100%;

            border-right: none;
        }
    }
}


.submenu__search
{
    width: 96%;
    margin: 0 auto 6px;

    form
    {
        display: flex;

        width: 100%;
    }
}

.submenu__search__input
{
    font-size: 10px;

    display: block;
    float: left;

    width: 100%;
    height: 32px;
    padding: 0 0 0 6px;

    border: none;
    -webkit-border-radius: 4px 4px 4px 4px;
            border-radius: 4px 4px 4px 4px;

    flex-basis: auto;
}

.submenu__search__btn
{
    display: block;
    float: left;

    width: 36px;
    height: 36px;
    margin: -2px 2px 0 4px;

    border: none;
    background: url(https://www.rakuten.ne.jp/gold/dentouhonpo/frameworks/img/search_w.png) 50% 50% no-repeat;
    background-size: 76%;

    flex-basis: 36px;
}
