/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$babble_bg-x: 410px;
$babble_bg-y: 0px;
$babble_bg-offset-x: -410px;
$babble_bg-offset-y: 0px;
$babble_bg-width: 990px;
$babble_bg-height: 600px;
$babble_bg-total-width: 2911px;
$babble_bg-total-height: 2065px;
$babble_bg-image: '../img/sprites/spritesheet.png';
$babble_bg: 410px 0px -410px 0px 990px 600px 2911px 2065px '../img/sprites/spritesheet.png';
$babble_bg01-x: 1410px;
$babble_bg01-y: 0px;
$babble_bg01-offset-x: -1410px;
$babble_bg01-offset-y: 0px;
$babble_bg01-width: 705px;
$babble_bg01-height: 505px;
$babble_bg01-total-width: 2911px;
$babble_bg01-total-height: 2065px;
$babble_bg01-image: '../img/sprites/spritesheet.png';
$babble_bg01: 1410px 0px -1410px 0px 705px 505px 2911px 2065px '../img/sprites/spritesheet.png';
$babble_bg02-x: 1300px;
$babble_bg02-y: 1154px;
$babble_bg02-offset-x: -1300px;
$babble_bg02-offset-y: -1154px;
$babble_bg02-width: 718px;
$babble_bg02-height: 432px;
$babble_bg02-total-width: 2911px;
$babble_bg02-total-height: 2065px;
$babble_bg02-image: '../img/sprites/spritesheet.png';
$babble_bg02: 1300px 1154px -1300px -1154px 718px 432px 2911px 2065px '../img/sprites/spritesheet.png';
$babble_bg03-x: 490px;
$babble_bg03-y: 1154px;
$babble_bg03-offset-x: -490px;
$babble_bg03-offset-y: -1154px;
$babble_bg03-width: 800px;
$babble_bg03-height: 441px;
$babble_bg03-total-width: 2911px;
$babble_bg03-total-height: 2065px;
$babble_bg03-image: '../img/sprites/spritesheet.png';
$babble_bg03: 490px 1154px -490px -1154px 800px 441px 2911px 2065px '../img/sprites/spritesheet.png';
$cray_sub01-x: 1269px;
$cray_sub01-y: 1634px;
$cray_sub01-offset-x: -1269px;
$cray_sub01-offset-y: -1634px;
$cray_sub01-width: 400px;
$cray_sub01-height: 400px;
$cray_sub01-total-width: 2911px;
$cray_sub01-total-height: 2065px;
$cray_sub01-image: '../img/sprites/spritesheet.png';
$cray_sub01: 1269px 1634px -1269px -1634px 400px 400px 2911px 2065px '../img/sprites/spritesheet.png';
$dot-x: 2321px;
$dot-y: 1076px;
$dot-offset-x: -2321px;
$dot-offset-y: -1076px;
$dot-width: 15px;
$dot-height: 24px;
$dot-total-width: 2911px;
$dot-total-height: 2065px;
$dot-image: '../img/sprites/spritesheet.png';
$dot: 2321px 1076px -2321px -1076px 15px 24px 2911px 2065px '../img/sprites/spritesheet.png';
$dot02-x: 2346px;
$dot02-y: 1076px;
$dot02-offset-x: -2346px;
$dot02-offset-y: -1076px;
$dot02-width: 15px;
$dot02-height: 15px;
$dot02-total-width: 2911px;
$dot02-total-height: 2065px;
$dot02-image: '../img/sprites/spritesheet.png';
$dot02: 2346px 1076px -2346px -1076px 15px 15px 2911px 2065px '../img/sprites/spritesheet.png';
$n705_ip_img01-x: 2321px;
$n705_ip_img01-y: 956px;
$n705_ip_img01-offset-x: -2321px;
$n705_ip_img01-offset-y: -956px;
$n705_ip_img01-width: 583px;
$n705_ip_img01-height: 110px;
$n705_ip_img01-total-width: 2911px;
$n705_ip_img01-total-height: 2065px;
$n705_ip_img01-image: '../img/sprites/spritesheet.png';
$n705_ip_img01: 2321px 956px -2321px -956px 583px 110px 2911px 2065px '../img/sprites/spritesheet.png';
$n705_ip_img02-x: 0px;
$n705_ip_img02-y: 1634px;
$n705_ip_img02-offset-x: 0px;
$n705_ip_img02-offset-y: -1634px;
$n705_ip_img02-width: 265px;
$n705_ip_img02-height: 431px;
$n705_ip_img02-total-width: 2911px;
$n705_ip_img02-total-height: 2065px;
$n705_ip_img02-image: '../img/sprites/spritesheet.png';
$n705_ip_img02: 0px 1634px 0px -1634px 265px 431px 2911px 2065px '../img/sprites/spritesheet.png';
$n705_ip_img03-x: 0px;
$n705_ip_img03-y: 0px;
$n705_ip_img03-offset-x: 0px;
$n705_ip_img03-offset-y: 0px;
$n705_ip_img03-width: 400px;
$n705_ip_img03-height: 619px;
$n705_ip_img03-total-width: 2911px;
$n705_ip_img03-total-height: 2065px;
$n705_ip_img03-image: '../img/sprites/spritesheet.png';
$n705_ip_img03: 0px 0px 0px 0px 400px 619px 2911px 2065px '../img/sprites/spritesheet.png';
$n705_ip_img04-x: 0px;
$n705_ip_img04-y: 1154px;
$n705_ip_img04-offset-x: 0px;
$n705_ip_img04-offset-y: -1154px;
$n705_ip_img04-width: 480px;
$n705_ip_img04-height: 470px;
$n705_ip_img04-total-width: 2911px;
$n705_ip_img04-total-height: 2065px;
$n705_ip_img04-image: '../img/sprites/spritesheet.png';
$n705_ip_img04: 0px 1154px 0px -1154px 480px 470px 2911px 2065px '../img/sprites/spritesheet.png';
$n705_ip_img05-x: 2625px;
$n705_ip_img05-y: 563px;
$n705_ip_img05-offset-x: -2625px;
$n705_ip_img05-offset-y: -563px;
$n705_ip_img05-width: 264px;
$n705_ip_img05-height: 187px;
$n705_ip_img05-total-width: 2911px;
$n705_ip_img05-total-height: 2065px;
$n705_ip_img05-image: '../img/sprites/spritesheet.png';
$n705_ip_img05: 2625px 563px -2625px -563px 264px 187px 2911px 2065px '../img/sprites/spritesheet.png';
$n705_ip_img06-x: 2454px;
$n705_ip_img06-y: 339px;
$n705_ip_img06-offset-x: -2454px;
$n705_ip_img06-offset-y: -339px;
$n705_ip_img06-width: 439px;
$n705_ip_img06-height: 189px;
$n705_ip_img06-total-width: 2911px;
$n705_ip_img06-total-height: 2065px;
$n705_ip_img06-image: '../img/sprites/spritesheet.png';
$n705_ip_img06: 2454px 339px -2454px -339px 439px 189px 2911px 2065px '../img/sprites/spritesheet.png';
$n705_ip_img07-x: 2331px;
$n705_ip_img07-y: 763px;
$n705_ip_img07-offset-x: -2331px;
$n705_ip_img07-offset-y: -763px;
$n705_ip_img07-width: 577px;
$n705_ip_img07-height: 180px;
$n705_ip_img07-total-width: 2911px;
$n705_ip_img07-total-height: 2065px;
$n705_ip_img07-image: '../img/sprites/spritesheet.png';
$n705_ip_img07: 2331px 763px -2331px -763px 577px 180px 2911px 2065px '../img/sprites/spritesheet.png';
$n705_ip_img08-x: 275px;
$n705_ip_img08-y: 1634px;
$n705_ip_img08-offset-x: -275px;
$n705_ip_img08-offset-y: -1634px;
$n705_ip_img08-width: 984px;
$n705_ip_img08-height: 411px;
$n705_ip_img08-total-width: 2911px;
$n705_ip_img08-total-height: 2065px;
$n705_ip_img08-image: '../img/sprites/spritesheet.png';
$n705_ip_img08: 275px 1634px -275px -1634px 984px 411px 2911px 2065px '../img/sprites/spritesheet.png';
$n705_ip_img09-x: 2125px;
$n705_ip_img09-y: 0px;
$n705_ip_img09-offset-x: -2125px;
$n705_ip_img09-offset-y: 0px;
$n705_ip_img09-width: 786px;
$n705_ip_img09-height: 329px;
$n705_ip_img09-total-width: 2911px;
$n705_ip_img09-total-height: 2065px;
$n705_ip_img09-image: '../img/sprites/spritesheet.png';
$n705_ip_img09: 2125px 0px -2125px 0px 786px 329px 2911px 2065px '../img/sprites/spritesheet.png';
$n705_ip_img10-x: 2125px;
$n705_ip_img10-y: 956px;
$n705_ip_img10-offset-x: -2125px;
$n705_ip_img10-offset-y: -956px;
$n705_ip_img10-width: 186px;
$n705_ip_img10-height: 178px;
$n705_ip_img10-total-width: 2911px;
$n705_ip_img10-total-height: 2065px;
$n705_ip_img10-image: '../img/sprites/spritesheet.png';
$n705_ip_img10: 2125px 956px -2125px -956px 186px 178px 2911px 2065px '../img/sprites/spritesheet.png';
$n705_ip_img11-x: 2125px;
$n705_ip_img11-y: 763px;
$n705_ip_img11-offset-x: -2125px;
$n705_ip_img11-offset-y: -763px;
$n705_ip_img11-width: 196px;
$n705_ip_img11-height: 183px;
$n705_ip_img11-total-width: 2911px;
$n705_ip_img11-total-height: 2065px;
$n705_ip_img11-image: '../img/sprites/spritesheet.png';
$n705_ip_img11: 2125px 763px -2125px -763px 196px 183px 2911px 2065px '../img/sprites/spritesheet.png';
$n705_ip_img12-x: 2125px;
$n705_ip_img12-y: 339px;
$n705_ip_img12-offset-x: -2125px;
$n705_ip_img12-offset-y: -339px;
$n705_ip_img12-width: 187px;
$n705_ip_img12-height: 214px;
$n705_ip_img12-total-width: 2911px;
$n705_ip_img12-total-height: 2065px;
$n705_ip_img12-image: '../img/sprites/spritesheet.png';
$n705_ip_img12: 2125px 339px -2125px -339px 187px 214px 2911px 2065px '../img/sprites/spritesheet.png';
$n705_ip_img13-x: 2125px;
$n705_ip_img13-y: 563px;
$n705_ip_img13-offset-x: -2125px;
$n705_ip_img13-offset-y: -563px;
$n705_ip_img13-width: 490px;
$n705_ip_img13-height: 190px;
$n705_ip_img13-total-width: 2911px;
$n705_ip_img13-total-height: 2065px;
$n705_ip_img13-image: '../img/sprites/spritesheet.png';
$n705_ip_img13: 2125px 563px -2125px -563px 490px 190px 2911px 2065px '../img/sprites/spritesheet.png';
$n705_ip_logo-x: 2322px;
$n705_ip_logo-y: 339px;
$n705_ip_logo-offset-x: -2322px;
$n705_ip_logo-offset-y: -339px;
$n705_ip_logo-width: 122px;
$n705_ip_logo-height: 195px;
$n705_ip_logo-total-width: 2911px;
$n705_ip_logo-total-height: 2065px;
$n705_ip_logo-image: '../img/sprites/spritesheet.png';
$n705_ip_logo: 2322px 339px -2322px -339px 122px 195px 2911px 2065px '../img/sprites/spritesheet.png';
$silver_bg01-x: 694px;
$silver_bg01-y: 629px;
$silver_bg01-offset-x: -694px;
$silver_bg01-offset-y: -629px;
$silver_bg01-width: 594px;
$silver_bg01-height: 511px;
$silver_bg01-total-width: 2911px;
$silver_bg01-total-height: 2065px;
$silver_bg01-image: '../img/sprites/spritesheet.png';
$silver_bg01: 694px 629px -694px -629px 594px 511px 2911px 2065px '../img/sprites/spritesheet.png';
$silver_bg02-x: 1410px;
$silver_bg02-y: 515px;
$silver_bg02-offset-x: -1410px;
$silver_bg02-offset-y: -515px;
$silver_bg02-width: 585px;
$silver_bg02-height: 479px;
$silver_bg02-total-width: 2911px;
$silver_bg02-total-height: 2065px;
$silver_bg02-image: '../img/sprites/spritesheet.png';
$silver_bg02: 1410px 515px -1410px -515px 585px 479px 2911px 2065px '../img/sprites/spritesheet.png';
$silver_bg03-x: 0px;
$silver_bg03-y: 629px;
$silver_bg03-offset-x: 0px;
$silver_bg03-offset-y: -629px;
$silver_bg03-width: 684px;
$silver_bg03-height: 515px;
$silver_bg03-total-width: 2911px;
$silver_bg03-total-height: 2065px;
$silver_bg03-image: '../img/sprites/spritesheet.png';
$silver_bg03: 0px 629px 0px -629px 684px 515px 2911px 2065px '../img/sprites/spritesheet.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
