@charset "utf-8";
/* CSS Document */
@import "../../styleguide/_scss/styleguide-default.scss";
$spmc : #605623;



#nav {
    list-style: none;
    position: fixed;
    right: 10px;
    top: 10px;
}
#nav li {
    margin: 0 0 15px 0;
    a{
        span{
            display: block;
            float: left;
            font-size: 10px;
            line-height: 1.5;
            width: 100px;
            margin: 3px 0 0;
            overflow: hidden;
        }

        img{
            height: 26px;
        }
        text-decoration: none;
        font-size: 12px;
        color: $spmc;
        font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    }
}


.sp-gn{
    margin: 0;
    width: 100%;
    .wideContents{
        &.hdr{
            background: url('https://www.rakuten.ne.jp/gold/dentouhonpo/item/img/ip_tri_header.jpg');
            background-size: cover;
            background-position: 50% 0;
            height: 700px;
            h1{
                display: block;
                padding: 130px 0 0;
                text-align: center;
            }
        }
    }
    .wrapContents{
        width: 990px;
        margin: 0 auto;
        .return{
            clear: both;
            a{
                font-size: 14px;
                text-align: center;
                text-decoration: none;
                width: 120px;
                padding: 6px 20px;
                margin: 150px auto 0;
                display: block;
                font-weight: bold;
                color: #000;
                @include rad(4,4,4,4);
                background-image: -webkit-linear-gradient(top, #f6f15e, #b2950c);
                background-image: -moz-linear-gradient(top, #f6f15e, #b2950c);
                background-image: -o-linear-gradient(top, #f6f15e, #b2950c);
                background-image: -ms-linear-gradient(top, #f6f15e, #b2950c);
                background-image: linear-gradient(to bottom, #f6f15e, #b2950c);
            }
        }
        .intro{
            margin: 0 auto;
            img{
                display: block;
                margin: 160px auto 80px;
            }
        }
        .scene{
            margin: 160px 0 0;
            overflow: hidden;
            img{
                display: block;
                margin: 0 0 200px;
            }
            .center{
                margin: 0 auto 200px;
            }
            .left{
                float: left;
            }
            .right{
                float: right;
            }
        }
        .detail{
            margin: 0;
            overflow: hidden;
            img{
                display: block;
                margin: 0 auto 260px;
            }
            div{
                margin: 0 auto 200px;
                font-size: 15px;
                width: 374px;
                letter-spacing: 2px;
                line-height: 32px;
                font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
            }
        }
        &.ftr{
         position: relative;
         .bgLast{
            z-index: 0;
            position: absolute;
            bottom: 0;
            left: auto;
        }   
    }
    img{
        display: block;
        margin: 0 auto;
    }


}
}




