@import"../../frameworks/_scss/styleguide-genre.scss";

body{
    width: 100%;
    margin: 0  auto;
    .wrapcontents{
        margin: 0 auto;
        height: 100%;
    }
    .kr{
        width: 990px;
        .detail{
            background: url(https://den-tou.com/img/category/ip_ic_kr_detail02.jpg) no-repeat;
            width:910px;
            height: 770px;
            padding: 0 40px;
            a{
                display: block;
                float: left;
                margin: 10px 10px 20px;
            }
        }
        #ic_ga{
            background:url(https://den-tou.com/img/category/ip_ic_kr_bglp.jpg);
            width:990px;
            height:600px;
            #slideshow{
                float:left;
                padding:0;
                margin:15px 0 0 15px;
                width:990px;
                position:relative;
                div{
                    float:left;
                    width:990px;
                    height:655px;
                    overflow:hidden;
                    position:absolute;
                    margin:0;
                    padding:0;
                    z-index:0;
                    div{
                        top: 0;
                        left: 0;
                        position: absolute;
                        img{
                            border:1px #000 solid;
                        }
                    }
                    #ic_info{
                        position: absolute;
                        right: 30px;
                        bottom: 95px;
                        width: 360px;
                        font-size:12px;
                        opacity:1.0;
                        font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                        padding:10px;
                        background-color:#FFF;
                        line-height:1.9;
                        span{
                            font-weight:bold;
                            color:$mc;
                        }
                    }
                    .pro{
                        display: block;
                        position: absolute;
                        right: 50px;
                        bottom: 90px;
                        width: 360px;
                        height: 200px;
                        img{
                            border: none;
                            margin: 0 10px 0 0;
                        }
                    }
                }
                .careful{
                    position: absolute;
                    left: 650px;
                    width: 320px;
                    top: 260px;
                    color: #f00;
                }
                ul{
                    width: 410px;
                    height:auto;
                    left:580px;
                    top: 2px;
                    padding: 0;
                    margin: 0;
                    float:left;
                    z-index:10;
                    position:absolute;
                    li{
                        width:53px;
                        margin:0 5px 10px;
                        padding:0;
                        float: left;
                        display:block;
                        outline:1px #000 solid;
                        transition:all 0.2s ease-in-out;
                        -o-transition:all 0.2s ease-in-out;
                        -webkit-transition:all 0.2s ease-in-out;
                        -moz-transition:all 0.2s ease-in-out;
                        border:none;
                    }
                }
                .active{
                    filter:alpha(opacity=100)!important;
                    -moz-opacity: 1!important;
                    opacity: 1!important;
                }

            }
        }
    }
}









