#ym_body {
    font-family: "ヒラギノ角ゴ Pro W3", "メイリオ";
    position: relative;
    width: 710px;
    font-size: 12px;
    hr{
        float: left;
        width: 100%;
    }
    h2{
        margin: 0;
        font-family: "ＭＳ Ｐ明朝", "ヒラギノ明朝 Pro W3;"
    }
    a:hover img,a:hover p {
        opacity: 1 !important;
        /* 
        filter: progid: DXImageTransform.Microsoft.Alpha(opacity=100) !important;
        */
    }
}
#if {
    width: 700px;
    font-size: 12px;
    position: relative;
}
#ta {
    width: 190px;
    font-size: 10px;
    float: right;
    margin-top: 37px;
    margin-bottom: 20px;
    td{
        padding: 3px 6px;
        border: 1px solid #d9bf85;
        line-height: 2;
    }
}

#in {
    float: left;
    width: 492px;
    height: auto;
    margin-top: 30px;
}

#iH h2 {
    margin: 0;
    font-family: "ＭＳ Ｐ明朝", "ヒラギノ明朝 Pro W3;"
}
#if iframe {
    clear: both;
    border: none;
    overflow: hidden;
    width: 700px;
    clear: both;
    margin-top: 60px;
}
.ma {
    background: #ffefcc;
    padding: 6px;
    width: 70%;
    line-height: 1.6;
}
.ma2 {
    padding-left: 6px;
    line-height: 1.8;
    font-size: 12px;
}
#ta tr {
    margin: 0;
    padding: 0;
    &:nth-child(odd) {
        background: #ffefcc;
    }
}
#g2 {
    clear: both;
    margin: 0;
    width: 700px;
    img{
        width: 170px;
        height: 170px;
        border: 1px solid #dfdfdf;
        &.yminfobnr{
            margin-top: 20px;
            display: block;
            width: 100%;
            height: auto;
        }
    }
}
#iH {
    position: relative;
    width: 665px;
    margin: 30px auto 0px;
    #iF {
        outline: solid 1px #efefef;
        width: 492px;
        height: 492px;
        display: inline-block;
        display: block\9;
        float: left;
        margin-right: 20px;
        img{
            width: 492px;
            height: 492px;
        }
    }
    #iHL {
        list-style: none;
        float: left;
        margin: 0;
        padding: 12px 0 0;
    }
    ul li {
        margin: 0;
        img{
            border: none;
        }
        a{
            display: block;
            &:hover{
                position: static;
                .mI {
                    display: block;
                    position: absolute;
                    top: 12px;
                    left: 0px;
                    border: none;
                }
            }
            .mi{
                display: none;
            }
        }
    }
}





ul#iHL img {
    width: 70px;
    height: 70px;
    &.mI{
    width: 492px;
    height: 492px;
    }
}

ul#iHL a {
    display: block;
    width: 70px;
    height: 70px;
    outline: 1px solid #efefef;
}
p#cap {
    clear: both;
    text-align: right;
    line-height: normal;
    font-size: 10px;
    margin-right: 28px;
}
#Se {
    font-size: 11px;
    margin-top: 30px;
}
