    @charset "utf-8";
    /* CSS Document */
    @import "../../styleguide/_scss/default.scss";
    
    body {
        margin: 0;
        min-width: 980px;
        padding: 0;
    }
    p {
        margin: 0 0 20px 0;
        font-size: 14px;
        line-height: 2.0;
        font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    }
    p,
    ul {
        font-size-adjust: 0.488;
        font-weight: 200;
        font-style: normal;
    }
    img {
        border: 0;
    }
    h1,
    #pixels {
        font-size-adjust: 0.40;
        font-weight: 700;
        font-style: normal;
    }
    h2 {
        font-size: 30px;
        font-size-adjust: 0.531;
        font-weight: 500;
        font-style: normal;
        font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    }
    #header h1,
    #pixels {
        color: #48941A;
    }
    .float-left {
        float: left;
        margin: 0 0 0 20px;
    }
    .float-right {
        float: right;
        margin: 0 20px 0 0;
    }
    .float-center{
        img{
            display: block;
            margin: 60px auto 0;
        }
    }
    iframe{
        -webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
        box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
        border: 1px solid #000;
    }
    .center {
        font-size: 2.5em;
        padding: 80px 0 0 0;
        text-align: center;
    }
    #nav {
        list-style: none;
        position: fixed;
        right: 10px;
        top: 10px;
    }
    #nav li {
        margin: 0 0 15px 0;
        a{
            span{
                display: block;
                float: left;
                width: 70px;
                margin: 3px 0 0;
                overflow: hidden;
            }
            text-decoration: none;
            font-size: 13px;
            color: #fff;
            font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
        }
    }
    #header,
    #intro,
    #second {
        width: 100%;
    }
    #intro {
        background: url(https://den-tou.com/item/img/n705_ip_bg02.jpg) 50% 0 no-repeat fixed;
        -webkit-background-size: cover;
        background-size: cover;
        color: white;
        height: 720px;
        margin: 0 auto;
        padding: 0;
        .bg{
            background: url(https://den-tou.com/item/img/n705_ip_logo.png) 50% 10% no-repeat fixed;
            height: 1300px;
            margin: 0 auto;
            padding: 0;
            position: absolute;
            width: 990px;
            z-index: 200;
        }
    }
    #second {
        background: url(https://den-tou.com/item/img/babble.jpg) 50% 0 no-repeat fixed;
        -webkit-background-size: cover;
        background-size: cover;
        color: white;
        height: 700px;
        margin: 0 auto;
        overflow: hidden;
        padding: 0;
        div{
            img{
                margin: 40px 0 0;
                display: block;
            }   
        }
        .bg01,.bg02,.bg03{
            height: 700px;
            margin: 0 auto;
            padding: 0;
            position: absolute;
            width: 990px;
            z-index: 10;
        }
        .bg01 {
            background: url(https://den-tou.com/item/img/babble_bg01.png) 50% 0 no-repeat fixed;
        }
        .bg02 {
            background: url(https://den-tou.com/item/img/babble_bg02.png) 50% 0 no-repeat fixed;
        }
        .bg03 {
            background: url(https://den-tou.com/item/img/babble_bg03.png) 50% 0 no-repeat fixed;
        }
    }
    #third {
        background: url(https://den-tou.com/item/img/cray.jpg) 50% 0 no-repeat fixed;
        -webkit-background-size: cover;
        background-size: cover;
        color: white;
        height: 700px;
        margin: 0 auto;
        overflow: hidden;
        padding: 0;
        div{
            img{
                margin: 40px 0 0 0;
            }
        }
    }
    #fourth {
        background: url(https://den-tou.com/item/img/silver.jpg) 50% 0 no-repeat fixed;
        -webkit-background-size: cover;
        background-size: cover;
        color: white;
        height: 840px;
        padding: 0;
        div{
            img{
                margin: 60px 0 0 60px;
            }
            &.float-txt{
                img{
                    margin: 0;
                }
            }
        }
        .bg01,.bg02,.bg03{
            height: 840px;
            margin: 0 auto;
            padding: 0;
            position: absolute;
            width: 990px;
            z-index: 10;
            overflow: hidden;
        }
        .bg01 {
            background: url(https://den-tou.com/item/img/silver_bg01.png) 50% 0 no-repeat fixed;
        }
        .bg02 {
            background: url(https://den-tou.com/item/img/silver_bg02.png) 50% 0 no-repeat fixed;
        }
        .bg03 {
            background: url(https://den-tou.com/item/img/silver_bg03.png) 50% 0 no-repeat fixed;
        }
    } 
    #sixth {
        background: url(https://den-tou.com/item/img/wrap.jpg) 50% 0 no-repeat fixed;
        -webkit-background-size: cover;
        background-size: cover;
        color: white;
        height: 900px;
        padding: 0;
        a{
            color: #fff;
        }
    }
    #seventh {
        background-color: #fff;
        -webkit-background-size: cover;
        background-size: cover;
        color: white;
        height: 650px;
        margin: 80px 0 0;
        padding: 0;
        h2{
            color: #000;
            text-align: center;
        }
    }
    #eighth {
        background: url(https://den-tou.com/item/img/n705_ip_bg03.jpg) 50% 0 no-repeat fixed;
        -webkit-background-size: cover;
        background-size: cover;
        color: white;
        height: 650px;
        padding: 0;
        h2{
            text-align: center;
        }
    }
    #nineth {
        background: url(https://den-tou.com/item/img/beerset.jpg) 50% 0 no-repeat fixed;
        -webkit-background-size: cover;
        background-size: cover;
        color: white;
        height: 1200px;
        padding: 0;
        h2{
            text-align: center;
        }
        .story{
            .float-txt{
                width: 60%;
                margin: 60px 0 0;
            }
            .float-img{
                width: 15%;
                padding: 40px 0 0 5%;
                p{
                    text-align: center;
                }
            }
            .float-center img{
                margin: 0 auto;
            }
        } 
    }
    #tenth {
        background: url(https://den-tou.com/item/img/n705_ip_bg04.jpg) 50% 0 no-repeat fixed;
        -webkit-background-size: cover;
        background-size: cover;
        color: white;
        height: 900px;
        margin:0 0;
        padding: 0;
        h2{
            text-align: center;
        }
    }
    #eleventh {
        background: url(https://den-tou.com/item/img/n705_ip_bg05.jpg) 50% 0 no-repeat fixed;
        -webkit-background-size: cover;
        background-size: cover;
        color: white;
        height: 900px;
        margin:0 0;
        padding: 0;
        h2{
            margin: 250px 0 0;
            text-align: center;
        }
    }
    #fifth {
        background: #ccc;
        height: 400px;
        margin: 0 auto;
        padding: 40px 0 0 0;
    }
    .story {
        margin: 0 auto;
        overflow: hidden;
        width: 990px;
        hr{
            border: none;
            border-bottom: 1px dotted #fff;
            width: 70%;
        }
        .float-img,.float-txt{
            line-height: 1.25;
            padding: 40px 5% 0 0;
            position: relative;
            z-index: 20;
        }
        .float-img{
            width: 30%;
            p{
                text-align: center;
            }
        }
        .float-center{
            p{
                text-align: center;
                font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
            }
        }
        .float-txt{
            width: 45%;
            p{
                -webkit-text-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
                text-shadow: 0 0 10px 1px rgba(0,0,0,0.5); 
            }
        }
    }
    @media only screen and (min-width: 1300px) {
        #intro {
            background: url(https://den-tou.com/item/img/n705_ip_bg02_02.jpg) 50% 0 no-repeat fixed;
            height: 1200px;
        }
        #second {
            background: url(https://den-tou.com/item/img/babble02.jpg) 50% 0 no-repeat fixed;
            height: 1200px;
            .bg01,.bg02,.bg03{
                height: 1200px;
                margin: 0 auto;
                padding: 0;
                position: absolute;
                width: 990px;
                z-index: 10;
            }
            .bg01 {
                background: url(https://den-tou.com/item/img/babble_bg01.png) 50% 0 no-repeat fixed;
            }
            .bg02 {
                background: url(https://den-tou.com/item/img/babble_bg02.png) 50% 0 no-repeat fixed;
            }
            .bg03 {
                background: url(https://den-tou.com/item/img/babble_bg03.png) 50% 0 no-repeat fixed;
            }
        }
        #third {
            background: url(https://den-tou.com/item/img/cray02.jpg) 50% 0 no-repeat fixed;
            height: 1200px;
        }
        #fourth {
            background: url(https://den-tou.com/item/img/silver02.jpg) 50% 0 no-repeat fixed;
            height: 1200px;
            .bg01,.bg02,.bg03{
                height: 1200px;
            }
            .bg01 {
                background: url(https://den-tou.com/item/img/silver_bg01.png) 50% 0 no-repeat fixed;
            }
            .bg02 {
                background: url(https://den-tou.com/item/img/silver_bg02.png) 50% 0 no-repeat fixed;
            }
            .bg03 {
                background: url(https://den-tou.com/item/img/silver_bg03.png) 50% 0 no-repeat fixed;
            }
        } 
        #sixth {
            background: url(https://den-tou.com/item/img/wrap02.jpg) 50% 0 no-repeat fixed;
            height: 1200px;
        }
        #seventh {
            height: 650px;
        }
        #eighth {
            background: url(https://den-tou.com/item/img/n705_ip_bg03_02.jpg) 50% 0 no-repeat fixed;
            height: 1200px;
        }
        #nineth {
            background: url(https://den-tou.com/item/img/beerset02.jpg) 50% 0 no-repeat fixed;
            height: 1200px;
        }
        #tenth {
            background: url(https://den-tou.com/item/img/n705_ip_bg04_02.jpg) 50% 0 no-repeat fixed;
            height: 1200px;
        }
        #eleventh {
            background: url(https://den-tou.com/item/img/n705_ip_bg05_02.jpg) 50% 0 no-repeat fixed;
            height: 1200px;
        }
    }


