/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$ip_recommtext-x: 0px;
$ip_recommtext-y: 0px;
$ip_recommtext-offset-x: 0px;
$ip_recommtext-offset-y: 0px;
$ip_recommtext-width: 43px;
$ip_recommtext-height: 171px;
$ip_recommtext-total-width: 43px;
$ip_recommtext-total-height: 171px;
$ip_recommtext-image: '../img/sprites/spritesheet.png';
$ip_recommtext: 0px 0px 0px 0px 43px 171px 43px 171px '../img/sprites/spritesheet.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
