@charset "utf-8";
/* CSS Document */
@import "../../styleguide/_scss/default.scss";
$spmc : #605623;



#nav {
    list-style: none;
    position: fixed;
    right: 10px;
    top: 10px;
}
#nav li {
    margin: 0 0 15px 0;
    a{
        span{
            display: block;
            float: left;
            width: 100px;
            margin: 3px 0 0;
            overflow: hidden;
        }

        img{
            height: 26px;
        }
        text-decoration: none;
        font-size: 12px;
        color: $spmc;
        font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    }
}


.sp-gn{
    margin: 0;
    width: 100%;
    .wideContents{
        &.review{
            clear: both;
            background: url('https://den-tou.com/item/img/sp_gn_c06_bglp.jpg');
            height: 190px;
            margin: 0;
            span{
                display: block;
                padding: 25px 0 0;
                text-align: center;
            }
        }
        &.hdr{
            background: url('https://den-tou.com/item/img/sp_gn_hdrbg.jpg');
            background-size: cover;
            background-position: 50% 0;
            height: 700px;
            h1{
                display: block;
                padding: 130px 0 0;
                text-align: center;
            }
        }
        &.history{
            background: url('https://den-tou.com/item/img/sp_gn_c04_bg.jpg') no-repeat;
            background-size: cover;
            background-position: 50% 0;
            height: 600px;
            margin: 100px 0 0;
            span{
                display: block;
                padding: 60px 0 0;
                text-align: center;
            }
            a{
                margin: 70px auto 0;
                display: block;
                background: url('https://den-tou.com/item/img/sp_gn_c04_link.jpg');
                width: 166px;
                height: 38px;
                @include anm(0.2s);
                &:hover{
                    background: url('https://den-tou.com/item/img/sp_gn_c04_linkh.jpg');
                }
            }
        }
        &.gift{
            background: url('https://den-tou.com/item/img/sp_gn_c06_bglp.jpg');
            height: 190px;
            margin: 0;
            span{
                display: block;
                padding: 25px 0 0;
                text-align: center;
            }
        }
        &.giftContents{
            overflow: hidden;
            .giftLineup{
                width: 990px;
                margin: 0 auto;
                li{
                    float: left;
                    width: 33.333%;
                    position: relative;
                    a{
                        display: block;
                        width: 100%;
                        height: 100%;
                        @include anm(0.2s);
                        &.service01,&.service02,&.service03,&.service04,&.service05,&.service06{
                            height: 660px;
                        }
                        &.service01{
                            background: url('https://den-tou.com/item/img/sp_gn_c05_img01.jpg') no-repeat;
                            background-size: cover;
                            &:hover{
                                background: url('https://den-tou.com/item/img/sp_gn_c05_img01h.jpg') no-repeat;
                                background-size: cover;
                            }
                        } 
                        &.service02{
                            background: url('https://den-tou.com/item/img/sp_gn_c05_img02.jpg') no-repeat;
                            background-size: cover;
                            &:hover{
                                background: url('https://den-tou.com/item/img/sp_gn_c05_img02h.jpg') no-repeat;
                                background-size: cover;
                            }
                        } 
                        &.service03{
                            background: url('https://den-tou.com/item/img/sp_gn_c05_img03.jpg') no-repeat;
                            background-size: cover;
                            &:hover{
                                background: url('https://den-tou.com/item/img/sp_gn_c05_img03h.jpg') no-repeat;
                                background-size: cover;
                            }
                        } 
                        &.service04{
                            background: url('https://den-tou.com/item/img/sp_gn_c05_img04.jpg') no-repeat;
                            background-size: cover;
                            &:hover{
                                background: url('https://den-tou.com/item/img/sp_gn_c05_img04h.jpg') no-repeat;
                                background-size: cover;
                            }
                        } 
                        &.service05{
                            background: url('https://den-tou.com/item/img/sp_gn_c05_img05.jpg') no-repeat;
                            background-size: cover;
                            &:hover{
                                background: url('https://den-tou.com/item/img/sp_gn_c05_img05h.jpg') no-repeat;
                                background-size: cover;
                            }
                        } 
                        &.service06{
                            background: url('https://den-tou.com/item/img/sp_gn_c05_img06.jpg') no-repeat;
                            background-size: cover;
                            &:hover{
                                background: url('https://den-tou.com/item/img/sp_gn_c05_img06h.jpg') no-repeat;
                                background-size: cover;
                            }
                        }
                    }
                    .tag{
                        img{
                            position: absolute;
                            top: 220px;
                            left: 55px;
                        }
                    }
                    div{
                        display: none; 
                        background-color:#fff; 
                        position: fixed;
                        opacity: 1;
                        z-index: 11000;
                        /* left: 50%;
                        margin-left: -330px; 
                        top: 200px;
                        width: 600px; */

                        left: 0 !important;
                        margin-left: 0 !important;
                        top: 0 !important;
                        width: 100% !important;
                        height: auto;
                        span{
                            display: block;
                            &.image{
                                background-color: #fff;
                                float: left;
                                width: 65%;
                                padding: 0;
                                img{
                                    width: 100%;
                                }
                            }
                            &.text{
                                background-color: #fff;
                                float: left;
                                width: 25%;
                                padding: 5%;
                                b,em{
                                    font-weight: normal;
                                    color: #dbc0c0;
                                    display: block;
                                    line-height: 1.0;
                                    font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                                }
                                b{
                                    font-size: 40px;
                                }
                                em{
                                    font-size: 20px;
                                }
                                p{
                                    font-size: 14px;
                                    line-height: 2;
                                    font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                                }
                                hr{
                                    border: none;
                                    display: block;
                                    margin: 15px 0;
                                    border-bottom: 1px solid #dbc0c0;
                                }
                                .moreLinks{
                                    text-decoration: none;
                                    border: 1px solid #dbc0c0;
                                    padding: 4px 6px;
                                    text-align: center;
                                    display: block;
                                    margin: 60px auto 0;
                                    color: #fff;
                                    width: 150px;
                                    background-color: #dbc0c0;
                                    &:hover{
                                        color:#dbc0c0; 
                                        background-color: #fff;
                                    }
                                }
                                .modal_close{
                                    position: absolute;
                                    right: 20px;
                                    top: 20px;
                                    display: block;
                                    background: url('https://den-tou.com/item/img/sp_gn_closeBtn.png') no-repeat;
                                    width: 48px;
                                    height: 48px;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.reviewContents{
            overflow: hidden;
            width: 990px;
            margin: 0 auto;
            .reviewLineup{
                width: 50%;
                float: left;
                li{
                    width: 50%;
                    float: left;
                    outline: 1px solid #fff;
                    position: relative;
                    a{
                        img{
                            @include anm(0.2s);
                            width: 100%;
                            display: block;
                            float: left;
                            opacity: 1.0;
                        }
                        span{
                            @include anm(0.2s);
                            position: absolute;
                            top: 0;
                            left: 0;
                            display: none;
                            width: 80%;
                            height: 80%;
                            padding: 10%;
                            float: left;
                            b,em{
                                color: #dbc0c0;
                                font-size: 12px;
                            }
                            em{
                                float: right;
                            }
                            p{
                                color: #000;
                                font-size: 12px;
                            }
                            hr{
                                border: none;
                                border-bottom: 1px solid #dbc0c0;
                            }
                        }
                        &:hover{
                            img{
                                opacity: 0.1;
                            }
                            span{
                                display: block;
                            }
                        }
                    }
                    &.large{
                        width: 100%;
                        a{
                            img{
                                width: 100%;
                            }
                            span{
                                b,em{
                                    font-size: 16px;
                                }
                                p{
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.ftr{
            margin: 60px 0 0;
        }
        .scene{
            padding: 20px 0 160px;
            overflow: hidden;
            &.sep{
                padding: 20px 0 60px; 
            }
            img{
                display: block;
                margin: 0 auto;
            }
        }
        .slideArea{
            margin: 30px auto 0;
            height: 450px !important;
            .slider{
                position: relative;
                @include sizing(90%);
                ul{
                    overflow: hidden;
                    width: 85%;
                    margin: 30px auto;
                    li{
                        margin: 0 20px;
                        width: 149px;
                        padding: 10px 40px 0 50px;
                        height: 383px;
                        float: left;
                        background: url('https://den-tou.com/item/img/sp_n705_c08_label.png') no-repeat;
                        b{
                            font-size: 20px;
                            display: block;
                            text-align: center;
                        }
                        span{
                            display: block;
                            text-align: center;
                            font-weight: bold;
                            margin: 0 0 20px;
                            font-size: 14px;
                        }
                    }
                }
            }


            .sr-pager{
                z-index: 2;
                position: absolute;
                width: 100%;
                list-style: none;
                top: 200px;
                li{
                    float: left;
                    a{
                        cursor: pointer;
                        display: block;
                        padding: 2px;
                        text-indent: -9999px;
                    }
                }
                .sr-prev{
                    position: absolute;
                    left: 60px;
                    background: url('https://den-tou.com/item/img/sp_n705_slide_pre.png') no-repeat;
                    width: 28px;
                    height: 61px;
                }
                .sr-next{
                    position: absolute;
                    right: 60px;
                    background: url('https://den-tou.com/item/img/sp_n705_slide_next.png') no-repeat;
                    width: 28px;
                    height: 61px;
                }
            }
        }
    }
    .wrapContents{
        width: 990px;
        margin: 0 auto;
        .intro{
            width: 990px;
            height: 800px;
            background:transparent url('https://den-tou.com/item/img/sp_gn_infobg.jpg') left top no-repeat;
            img{
                display: block;
                float: right;
                margin: 110px 0 0;
            }
        }
        .lineup{
            h2{
                display: block;
                text-align: center;
                margin: 30px 0 100px;
            }
            .item01,.item02,.item03{

                .slideArea{
                    margin: 30px auto 0;
                    height: 552px !important;
                    .slider{
                        position: relative;
                        @include sizing(90%);
                        .info,.image{
                            float: left;
                        }
                        .info{
                            @include sizing(100%);
                            padding: 0;
                        }
                        .image{
                            @include sizing(65%);
                        }
                    }
                    .sr-pager{
                        z-index: 2;
                        position: absolute;
                        width: 100%;
                        list-style: none;
                        top: 45%;
                        li{
                            float: left;
                            a{
                                cursor: pointer;
                                display: block;
                                padding: 2px;
                                text-indent: -9999px;
                            }
                        }
                        .sr-prev{
                            position: absolute;
                            left: 0;
                            background: url('https://den-tou.com/item/img/sp_gn_prebtn.png') no-repeat;
                            width: 88px;
                            height: 87px;
                        }
                        .sr-next{
                            position: absolute;
                            right: 0;
                            background: url('https://den-tou.com/item/img/sp_gn_nextbtn.png') no-repeat;
                            width: 89px;
                            height: 86px;
                        }
                    }
                }
                .contents{
                    width: 100%;
                    ul{
                        margin: 30px 0 0;
                        overflow: hidden;
                        li{
                            float: left;
                            img{
                                margin: 0;
                            }
                            &.image{
                                width: 20%;
                                margin: 15px 0 0;
                            }
                            &.detail{
                                width: 24%;
                                margin: 15px 0 0;
                            }
                            &.text{
                                width: 50%;
                                margin: 15px 0 0;
                                p{
                                    margin: 13px 0 0;
                                    font-size: 13px;
                                    line-height: 2.0;
                                }
                            }
                            &.sepalate{
                                width: 6%;
                                img{
                                    margin: 0 auto;
                                }
                            }

                            table{
                                display: block;
                                float: left;
                                margin: 0;
                                border: none;
                                tr{
                                    &:first-child{
                                        td{
                                            border: none;
                                            margin: 0;
                                            padding: 0 0 10px;
                                        }
                                    }
                                    td{
                                        /* border: 1px solid #dfdfdf; */
                                        border: none;
                                        line-height: 2.0;
                                        font-size: 12px;
                                        padding: 0;
                                        &:first-child{
                                            width: 80px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .split{
                margin: 70px 0 80px;
            }
        }
        &.itemLinks{
            overflow: hidden;
            margin: 100px auto 0;
            padding: 0 0 100px;
            h2{
                margin: 40px 0 60px;
            }
            div{
                width: 990px;
                margin: 0 auto;
                ul{
                    li{
                        float: left;
                        width: 32%;
                        img{
                            display: block;
                            margin: 0 auto;
                        }
                        &.sepalate{
                            width: 2%;
                        }
                    }
                }   
            }
        }


        .scene{
            padding: 20px 0 160px;
            overflow: hidden;
            &.sep{
                padding: 20px 0 60px; 
            }
        }
        &.ftr{
           position: relative;
           .bgLast{
            z-index: 0;
            position: absolute;
            bottom: 0;
            left: auto;
        }   
    }
    .detail{
        overflow: hidden;
        div{
            float: left;
            a{
                background-color: $spmc;
                color: #fff;
                font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                @include rad(4,4,4,4);
                display: block;
                margin: 20px auto 0;
                width: 100px;
                padding: 3px 20px;
                text-align: center;
                text-decoration: none;
                border: 1px solid $spmc;
                &:hover{
                    background: none;
                    color: $spmc;
                }
            }
        }
    }
    img{
        display: block;
        margin: 0 auto;
    }


    #slideshow{
        float:left;
        padding:0;
        margin:15px 0 0 15px;
        width:990px;
        position:relative;
        .mainImage{
            float:left;
            width:475px;
            height:475px;
            z-index:0;
            div{
                top: 0;
                left: 0;
                position: absolute;
                a{
                    img{
                        width: 475px;
                        height: 475px;
                    }
                }
            }
        }
        ul{
            height:auto;
            width: 440px;
            z-index:10;
            display: block;
            float: left;
            margin: 0 0 0 50px;
            li{
                width:60px;
                margin:0 5px 10px;
                padding:0;
                float: left;
                display:block;
                transition:all 0.2s ease-in-out;
                -o-transition:all 0.2s ease-in-out;
                -webkit-transition:all 0.2s ease-in-out;
                -moz-transition:all 0.2s ease-in-out;
                border:none;
                img{
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }

}
}



#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}




