@charset "UTF-8";
/*  $bc : #f5f5f4;
 $sbc : #b5dedb;
 $mc : #f3d0cf;
 $ac : #9c7048;
 $acc: #000; */
/* 白背景 */
/* 薄い背景色 */
/* 薄い枠線 */
/* 文字色 */
/* 文字色 強調 メインカラー */
/* 文字色 強調 グルーピング */
/* アクセントカラー 鶸色 */
/* ボックス指定 */
/* 透明度指定 */
/* 余白設定 */
/* アニメーション指定 */
/* 角丸指定 */
/* フォントの相対指定 */
/* 独自リセットcss */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

html {
  color: #000;
  background: #FFF; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif; }

h1 {
  font-size: 24px;
  /* IE8以下対策 */
  /* *font-size: ($s * 10) * 2 + px; */
  font-size: 1.5rem;
  line-height: 1.5; }

h2 {
  font-size: 21.6px;
  /* IE8以下対策 */
  /* *font-size: ($s * 10) * 2 + px; */
  font-size: 1.35rem;
  line-height: 1.5; }

h3 {
  font-size: 19.2px;
  /* IE8以下対策 */
  /* *font-size: ($s * 10) * 2 + px; */
  font-size: 1.2rem;
  line-height: 1.5; }

h4 {
  font-size: 16.8px;
  /* IE8以下対策 */
  /* *font-size: ($s * 10) * 2 + px; */
  font-size: 1.05rem;
  line-height: 1.5; }

h5 {
  font-size: 14.4px;
  /* IE8以下対策 */
  /* *font-size: ($s * 10) * 2 + px; */
  font-size: 0.9rem;
  line-height: 1.5; }

h6 {
  font-size: 12px;
  /* IE8以下対策 */
  /* *font-size: ($s * 10) * 2 + px; */
  font-size: 0.75rem;
  line-height: 1.5; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  *font-size: 100%; }

img {
  vertical-align: bottom; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

/* スタイルガイド */
body {
  width: 100%;
  /* 書式の一括指定 */
  font: 16px/1.5 "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: #595857;
  word-wrap: break-word;
  -webkit-text-size-adjust: 100%;
  /* アクセント用テキスト */
  /* 回りこみ解除clearfix用クラス */
  /* リンクスタイルの変更 */
  /* 共通設定 */ }
  body .cf {
    /* IE6/7対策 */
    zoom: 1; }
    body .cf:before, body .cf:after {
      content: "";
      display: table; }
    body .cf:after {
      clear: both; }
  body .ancNone a {
    text-decoration: none;
    color: #595857; }
    body .ancNone a:visited {
      color: #595857; }
    body .ancNone a:link {
      color: #595857; }
    body .ancNone a:hover {
      text-decoration: underline; }
  body .linkalpha a img {
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    opacity: 1.0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70); }
  body .linkalpha a:hover img {
    opacity: 0.7;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70); }

html,
body {
  height: 100%; }

/* レフトナビ、フッター用iframe */
iframe.ftrif {
  width: 100%;
  height: 2455px; }

iframe.lftif {
  width: 100%;
  height: 5800px; }

iframe.hdrif {
  width: 100%;
  height: 600px; }

body {
  font-family: 'メイリオ', Meiryo,'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  /* ページを閉じる ここから */
  /* ページを閉じる ここまで */
  /* 休業案内バナー ここから */
  /* 休業案内バナー ここまで */
  /* メインコンテンツ共通設定 ここから */
  /* メインコンテンツ共通設定 ここまで */
  /* ヘッダー */
  /* レフトナビ */
  /* フッター */
  /* スマートフォン用設定 */ }
  body .backLink {
    display: none; }
  body body .wrapcontents .mainContents .mainArea .info .contents.flow div > div.image img {
    border: 1px solid #999; }
  @media only screen and (max-width: 768px) {
    body .backLink {
      font-weight: bold;
      position: fixed;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      padding: 12px;
      text-align: center;
      text-decoration: none;
      color: #fff;
      background-color: #356a71;
      -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); } }
  body div.holidaybnr {
    display: none;
    clear: both;
    width: 990px;
    height: 160px;
    margin: 0 auto 20px;
    background: url("https://image.wowma.jp/43748372/gold/dentouhonpo/img/bnr_emergency.jpg") no-repeat;
    background-size: 100%; }
  body .linkbnr a {
    display: block;
    width: 100%;
    height: 100%; }
  body .linkbnr.wide {
    display: none;
    width: 1100px;
    height: 258px;
    margin: 20px auto;
    background: transparent url("https://image.wowma.jp/43748372/gold/dentouhonpo/img/header/top_slidebnr_gws.jpg") left top no-repeat;
    background-size: cover; }
  body .linkbnr.wide02 {
    display: none;
    width: 900px;
    height: 148px;
    margin: 20px auto;
    background: transparent url("https://image.wowma.jp/43748372/gold/dentouhonpo/img/bnr_mother-990.jpg") left top no-repeat; }
  body .linkbnr.wide03 {
    display: none;
    width: 900px;
    height: 148px;
    margin: 20px auto;
    background: transparent url("https://image.wowma.jp/43748372/gold/dentouhonpo/img/bnr_mother-990.jpg") left top no-repeat; }
  body #top iframe {
    width: 100%;
    margin: 0 0 30px; }
  body #bottom iframe {
    clear: both;
    width: 100%; }
  body .wrapcontents {
    width: 1080px;
    margin: 0 auto;
    padding: 0 10px; }
    body .wrapcontents.frame {
      width: 100%;
      padding: 0; }
    body .wrapcontents .mainContents {
      float: left;
      max-width: 820px;
      margin: 0;
      /* padding: 2%; */
      padding: 0 2% 2%;
      color: #000;
      background-color: #e4e4e4;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      /* IE7対策 */
      *behavior: url(/js/boxsizing.htc);
      width: 100%;
      /* 熨斗紙 */
      /* 海外配送案内 */
      /* 送料案内 */ }
      body .wrapcontents .mainContents .notice em {
        color: #f00;
        font-weight: bold; }
      body .wrapcontents .mainContents.ns {
        margin: 0; }
      body .wrapcontents .mainContents.other {
        float: right;
        margin: 40px 0; }
      body .wrapcontents .mainContents .mainHeader {
        padding: 4% 0 6%;
        text-align: center; }
        body .wrapcontents .mainContents .mainHeader small {
          font-size: 1.25em; }
        body .wrapcontents .mainContents .mainHeader h2 {
          font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
          font-size: 2.2em;
          font-weight: bold;
          line-height: 2em; }
        body .wrapcontents .mainContents .mainHeader p {
          font-size: .8em; }
        body .wrapcontents .mainContents .mainHeader img {
          width: 100%; }
      body .wrapcontents .mainContents.gs, body .wrapcontents .mainContents.ovs, body .wrapcontents .mainContents.ns {
        /* background:url('https://image.wowma.jp/43748372/gold/dentouhonpo/info/img/gift_bglp.jpg') left top ;
                background-size: 10%;
                background-color: #e4e4e4; */
        margin: 0 auto 40px; }
      body .wrapcontents .mainContents .mainArea {
        overflow: hidden;
        width: 96%;
        height: auto;
        padding: 2%;
        background-color: #fff; }
        body .wrapcontents .mainContents .mainArea .info .header > div {
          clear: both; }
          body .wrapcontents .mainContents .mainArea .info .header > div h3 {
            font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
            font-size: 2.8em;
            line-height: 1.6;
            display: inline-block;
            float: left;
            margin: 0 5px 0 0;
            color: #666; }
          body .wrapcontents .mainContents .mainArea .info .header > div h4 {
            font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
            font-size: 2em;
            display: block;
            width: 100%;
            text-align: center; }
          body .wrapcontents .mainContents .mainArea .info .header > div small {
            font-size: 15px;
            display: block;
            padding: 0; }
            body .wrapcontents .mainContents .mainArea .info .header > div small.center {
              text-align: center; }
            body .wrapcontents .mainContents .mainArea .info .header > div small.flowcatch {
              font-size: 16px; }
          body .wrapcontents .mainContents .mainArea .info .header > div b {
            font-size: 1.7em; }
            body .wrapcontents .mainContents .mainArea .info .header > div b span {
              font-size: 18px; }
          body .wrapcontents .mainContents .mainArea .info .header > div p {
            font-size: 15px;
            padding: 0 0 0 38px; }
            body .wrapcontents .mainContents .mainArea .info .header > div p a {
              text-decoration: underline;
              color: #999; }
          body .wrapcontents .mainContents .mainArea .info .header > div .priceless {
            position: relative;
            display: inline-block; }
            body .wrapcontents .mainContents .mainArea .info .header > div .priceless:after {
              position: absolute;
              top: 4px;
              right: -70px;
              display: block;
              width: 51px;
              height: 100%;
              content: '';
              background: url(https://image.wowma.jp/43748372/gold/dentouhonpo/info/img/gift_priceless.jpg) top left no-repeat;
              background-size: contain; }
          body .wrapcontents .mainContents .mainArea .info .header > div .price {
            position: relative;
            display: inline-block; }
            body .wrapcontents .mainContents .mainArea .info .header > div .price:after {
              position: absolute;
              top: -4px;
              right: -70px;
              display: block;
              width: 63px;
              height: 100%;
              content: '';
              background: url(https://image.wowma.jp/43748372/gold/dentouhonpo/info/img/gift_price.jpg) top left no-repeat;
              background-size: contain; }
          body .wrapcontents .mainContents .mainArea .info .header > div .price_ms {
            position: relative;
            display: inline-block; }
            body .wrapcontents .mainContents .mainArea .info .header > div .price_ms:after {
              position: absolute;
              top: 4px;
              right: -150px;
              display: block;
              width: 140px;
              height: 100%;
              content: '';
              background: url(https://image.wowma.jp/43748372/gold/dentouhonpo/info/img/gift_price_ms.jpg) top left no-repeat;
              background-size: contain; }
        body .wrapcontents .mainContents .mainArea .info .contents {
          clear: both;
          overflow: hidden;
          margin: 0 0 50px;
          /* ご利用方法 */ }
          body .wrapcontents .mainContents .mainArea .info .contents > div small {
            font-size: 15px;
            display: block;
            padding: 0; }
            body .wrapcontents .mainContents .mainArea .info .contents > div small.center {
              text-align: center; }
            body .wrapcontents .mainContents .mainArea .info .contents > div small.flowcatch {
              font-size: 16px; }
          body .wrapcontents .mainContents .mainArea .info .contents > div b {
            font-size: 1.7em; }
            body .wrapcontents .mainContents .mainArea .info .contents > div b span {
              font-size: 18px; }
          body .wrapcontents .mainContents .mainArea .info .contents em {
            font-size: 20px;
            font-weight: bold;
            display: block;
            text-align: center; }
          body .wrapcontents .mainContents .mainArea .info .contents img.main {
            display: block;
            width: 100%; }
          body .wrapcontents .mainContents .mainArea .info .contents dl {
            font-size: 14px;
            line-height: 1.75em;
            -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            /* IE7対策 */
            *behavior: url(/js/boxsizing.htc);
            width: 100%; }
            body .wrapcontents .mainContents .mainArea .info .contents dl dt {
              display: block;
              float: left;
              clear: both;
              width: 20%; }
            body .wrapcontents .mainContents .mainArea .info .contents dl dd {
              display: block;
              float: left;
              width: 80%; }
          body .wrapcontents .mainContents .mainArea .info .contents.nslists > div {
            float: left;
            padding: 1%;
            border: 1px solid #dfdfdf;
            -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            /* IE7対策 */
            *behavior: url(/js/boxsizing.htc);
            width: 49%; }
            body .wrapcontents .mainContents .mainArea .info .contents.nslists > div:nth-child(odd) {
              clear: both;
              margin: 0 1% 1% 0; }
            body .wrapcontents .mainContents .mainArea .info .contents.nslists > div:nth-child(even) {
              margin: 0 0 1% 1%; }
            body .wrapcontents .mainContents .mainArea .info .contents.nslists > div span {
              font-weight: bold;
              display: block;
              margin: 0 0 5px;
              text-align: center;
              color: #000; }
              body .wrapcontents .mainContents .mainArea .info .contents.nslists > div span.marriage {
                background-color: #ffdce2; }
              body .wrapcontents .mainContents .mainArea .info .contents.nslists > div span.baby {
                background-color: #fffedc; }
              body .wrapcontents .mainContents .mainArea .info .contents.nslists > div span.turning {
                background-color: #dcffe0; }
              body .wrapcontents .mainContents .mainArea .info .contents.nslists > div span.inhouse {
                background-color: #fff0dc; }
              body .wrapcontents .mainContents .mainArea .info .contents.nslists > div span.sick {
                background-color: #e2e2e2; }
              body .wrapcontents .mainContents .mainArea .info .contents.nslists > div span.build {
                background-color: #e2e2e2; }
              body .wrapcontents .mainContents .mainArea .info .contents.nslists > div span.event {
                background-color: #dcfbff; }
              body .wrapcontents .mainContents .mainArea .info .contents.nslists > div span.other {
                background-color: #fff; }
              body .wrapcontents .mainContents .mainArea .info .contents.nslists > div span.award {
                background-color: #ffe8dc; }
              body .wrapcontents .mainContents .mainArea .info .contents.nslists > div span.company {
                background-color: #ffdcfa; }
            body .wrapcontents .mainContents .mainArea .info .contents.nslists > div img {
              display: block;
              width: 100%;
              border: 1px solid #dfdfdf; }
            body .wrapcontents .mainContents .mainArea .info .contents.nslists > div dl {
              width: 100%;
              padding: 2% 0; }
              body .wrapcontents .mainContents .mainArea .info .contents.nslists > div dl dt {
                float: left;
                clear: both;
                -moz-box-sizing: border-box;
                -ms-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                /* IE7対策 */
                *behavior: url(/js/boxsizing.htc);
                width: 20%; }
              body .wrapcontents .mainContents .mainArea .info .contents.nslists > div dl dd {
                float: left;
                -moz-box-sizing: border-box;
                -ms-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                /* IE7対策 */
                *behavior: url(/js/boxsizing.htc);
                width: 80%; }
                body .wrapcontents .mainContents .mainArea .info .contents.nslists > div dl dd:before {
                  margin: 0 5px 0 0;
                  content: ':'; }
          body .wrapcontents .mainContents .mainArea .info .contents table {
            width: 100%;
            border-collapse: collapse;
            border: 1px solid #999; }
            body .wrapcontents .mainContents .mainArea .info .contents table tr {
              font-size: 15px;
              -moz-box-sizing: border-box;
              -ms-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              /* IE7対策 */
              *behavior: url(/js/boxsizing.htc);
              width: 100%; }
              body .wrapcontents .mainContents .mainArea .info .contents table tr td {
                padding: 1%;
                border: 1px solid #999; }
                body .wrapcontents .mainContents .mainArea .info .contents table tr td img {
                  width: 100%; }
                body .wrapcontents .mainContents .mainArea .info .contents table tr td small.red {
                  color: #f00; }
                body .wrapcontents .mainContents .mainArea .info .contents table tr td ul {
                  padding: 1.25em;
                  list-style-position: initial;
                  list-style-type: circle; }
                  body .wrapcontents .mainContents .mainArea .info .contents table tr td ul li {
                    clear: both;
                    width: 100%;
                    margin: 0;
                    padding: 0 0 0 1em;
                    text-indent: -1em; }
          body .wrapcontents .mainContents .mainArea .info .contents ul li {
            position: relative;
            float: left;
            margin: 2% 0 0 2%;
            -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            /* IE7対策 */
            *behavior: url(/js/boxsizing.htc);
            width: 49%; }
            body .wrapcontents .mainContents .mainArea .info .contents ul li:nth-child(odd) {
              margin: 2% 0 0 0; }
            body .wrapcontents .mainContents .mainArea .info .contents ul li img {
              display: block;
              width: 100%; }
              body .wrapcontents .mainContents .mainArea .info .contents ul li img.badge {
                position: absolute;
                top: 3%;
                right: 1%;
                width: auto; }
            body .wrapcontents .mainContents .mainArea .info .contents ul li .caption {
              font-size: 14px;
              text-align: center; }
              body .wrapcontents .mainContents .mainArea .info .contents ul li .caption small {
                display: block;
                color: #f00; }
          body .wrapcontents .mainContents .mainArea .info .contents ul.dic li {
            position: relative;
            float: left;
            margin: 2% 0 0 2%;
            padding: 2% 4%;
            text-align: center;
            -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            /* IE7対策 */
            *behavior: url(/js/boxsizing.htc);
            width: 49%; }
            body .wrapcontents .mainContents .mainArea .info .contents ul.dic li:nth-child(odd) {
              margin: 2% 0 0 0; }
            body .wrapcontents .mainContents .mainArea .info .contents ul.dic li b {
              display: block;
              padding: 0 0 5px; }
          body .wrapcontents .mainContents .mainArea .info .contents ul.rbn li {
            float: left;
            margin: 2% 0 0 2%;
            -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            /* IE7対策 */
            *behavior: url(/js/boxsizing.htc);
            width: 23.5%; }
            body .wrapcontents .mainContents .mainArea .info .contents ul.rbn li:first-child {
              margin: 2% 0 0 0; }
          body .wrapcontents .mainContents .mainArea .info .contents ul.msg li {
            float: left;
            margin: 2% 0 0 0;
            /* @include sizing(23.5%) ;
                                float: left;
                                margin: 2% 0 0 2%; */
            -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            /* IE7対策 */
            *behavior: url(/js/boxsizing.htc);
            width: 100%;
            /* &:first-child{
                                    margin: 2% 0 0 0;
                                    @include sizing(100%) ;
                                }
                                &:nth-child(2){
                                    margin: 2% 0 0 0;
                                } */ }
          body .wrapcontents .mainContents .mainArea .info .contents ul.wrap li {
            margin: 2% 0 0 2%; }
            body .wrapcontents .mainContents .mainArea .info .contents ul.wrap li:first-child, body .wrapcontents .mainContents .mainArea .info .contents ul.wrap li:nth-child(2), body .wrapcontents .mainContents .mainArea .info .contents ul.wrap li:nth-child(3) {
              margin: 2% 0 0 0;
              -moz-box-sizing: border-box;
              -ms-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              /* IE7対策 */
              *behavior: url(/js/boxsizing.htc);
              width: 100%; }
            body .wrapcontents .mainContents .mainArea .info .contents ul.wrap li:nth-child(4) {
              margin: 2% 2% 0 0; }
            body .wrapcontents .mainContents .mainArea .info .contents ul.wrap li:nth-child(5) {
              margin: 2% 0 0 0; }
          body .wrapcontents .mainContents .mainArea .info .contents ul.msg li img, body .wrapcontents .mainContents .mainArea .info .contents ul.pb li img {
            border: 1px solid #dfdfdf;
            -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            /* IE7対策 */
            *behavior: url(/js/boxsizing.htc);
            width: 100%; }
          body .wrapcontents .mainContents .mainArea .info .contents.flow {
            margin: 0;
            padding: 0 0 20px;
            border-bottom: 1px solid #999; }
            body .wrapcontents .mainContents .mainArea .info .contents.flow:last-child, body .wrapcontents .mainContents .mainArea .info .contents.flow.last {
              border: none; }
            body .wrapcontents .mainContents .mainArea .info .contents.flow div > div {
              float: left;
              padding: 4% 4% 2%;
              -moz-box-sizing: border-box;
              -ms-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              /* IE7対策 */
              *behavior: url(/js/boxsizing.htc);
              width: 100%; }
              body .wrapcontents .mainContents .mainArea .info .contents.flow div > div.txt b {
                font-size: 1.25em;
                display: block;
                margin: 0 0 .35em; }
              body .wrapcontents .mainContents .mainArea .info .contents.flow div > div.txt p {
                font-size: 15px;
                font-weight: bold;
                margin: 0 0 .25em; }
                body .wrapcontents .mainContents .mainArea .info .contents.flow div > div.txt p.disc {
                  font-weight: normal;
                  margin: 0;
                  padding: 0 0 0 1em;
                  text-indent: 0; }
                body .wrapcontents .mainContents .mainArea .info .contents.flow div > div.txt p a {
                  text-decoration: underline; }
              body .wrapcontents .mainContents .mainArea .info .contents.flow div > div.labelink p {
                display: inline-block; }
                body .wrapcontents .mainContents .mainArea .info .contents.flow div > div.labelink p a {
                  display: block;
                  margin: 10px 0 0;
                  padding: 3px 8px;
                  text-decoration: none;
                  color: #f00;
                  border: 1px solid #f00;
                  background-color: #fff; }
                  body .wrapcontents .mainContents .mainArea .info .contents.flow div > div.labelink p a:hover {
                    color: #fff;
                    border: 1px solid #f00;
                    background-color: #f00; }
              body .wrapcontents .mainContents .mainArea .info .contents.flow div > div.image img {
                width: 100%;
                border: 1px solid #999; }
                body .wrapcontents .mainContents .mainArea .info .contents.flow div > div.image img.pc {
                  display: block; }
                body .wrapcontents .mainContents .mainArea .info .contents.flow div > div.image img.sp {
                  display: none; }
              body .wrapcontents .mainContents .mainArea .info .contents.flow div > div.image p {
                font-size: 14px;
                text-align: center; }
              body .wrapcontents .mainContents .mainArea .info .contents.flow div > div.bag {
                -moz-box-sizing: border-box;
                -ms-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                /* IE7対策 */
                *behavior: url(/js/boxsizing.htc);
                width: 50%; }
                body .wrapcontents .mainContents .mainArea .info .contents.flow div > div.bag img {
                  display: block;
                  width: 100%;
                  margin: 0 auto; }
        body .wrapcontents .mainContents .mainArea .info hr {
          display: block;
          width: 100%;
          height: 2px;
          margin: 80px 0 40px;
          padding: 0;
          border: none;
          border-top: 1px dashed #000;
          border-bottom: 1px dashed #000;
          /* &.end{
                            margin: 40px 0 120px;
                        } */ }
      body .wrapcontents .mainContents.ns .mainArea .info {
        /* ご利用方法 */ }
        body .wrapcontents .mainContents.ns .mainArea .info .contents.flow {
          border: none; }
          body .wrapcontents .mainContents.ns .mainArea .info .contents.flow div > div {
            padding: 0 4% 2%;
            -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            /* IE7対策 */
            *behavior: url(/js/boxsizing.htc);
            width: 100%; }
      body .wrapcontents .mainContents.ovs {
        background-color: #fff; }
        body .wrapcontents .mainContents.ovs .mainHeader {
          padding: 0 0 6%; }
        body .wrapcontents .mainContents.ovs .mainArea .info {
          /* ご利用方法 */ }
          body .wrapcontents .mainContents.ovs .mainArea .info .last {
            border: none; }
          body .wrapcontents .mainContents.ovs .mainArea .info .header > div p {
            font-size: 15px;
            padding: 0 0 0 38px; }
            body .wrapcontents .mainContents.ovs .mainArea .info .header > div p b {
              font-size: 1.2em; }
          body .wrapcontents .mainContents.ovs .mainArea .info .header > div h3 {
            line-height: 1.6em; }
          body .wrapcontents .mainContents.ovs .mainArea .info .contents blockquote {
            position: relative;
            margin: 1em;
            padding: 2em 2em;
            background-color: #efefef;
            -moz-border-radius: 6px 6px 6px 6px;
            border-radius: 6px 6px 6px 6px; }
          body .wrapcontents .mainContents.ovs .mainArea .info .contents blockquote:before {
            font-family: 'ＭＳ Ｐゴシック',sans-serif;
            font-size: 400%;
            line-height: 1em;
            position: absolute;
            top: 5px;
            left: 5px;
            content: '“';
            color: #999; }
          body .wrapcontents .mainContents.ovs .mainArea .info .contents blockquote:after {
            font-family: 'ＭＳ Ｐゴシック',sans-serif;
            font-size: 400%;
            line-height: 0;
            position: absolute;
            right: 5px;
            bottom: 5px;
            content: '”';
            color: #999; }
          body .wrapcontents .mainContents.ovs .mainArea .info .contents small {
            font-size: 14px; }
          body .wrapcontents .mainContents.ovs .mainArea .info .contents strong {
            font-size: 18px;
            font-weight: bold;
            display: block;
            float: left;
            width: 100%;
            margin: 20px 0 10px;
            padding: .5% 1%;
            background-color: #fefbb0; }
          body .wrapcontents .mainContents.ovs .mainArea .info .contents table {
            margin: 20px 0;
            color: #000;
            border: 1px solid #999; }
            body .wrapcontents .mainContents.ovs .mainArea .info .contents table tr td {
              padding: 2%;
              -moz-box-sizing: border-box;
              -ms-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              /* IE7対策 */
              *behavior: url(/js/boxsizing.htc);
              width: 100%; }
              body .wrapcontents .mainContents.ovs .mainArea .info .contents table tr td:first-child {
                width: 20%;
                border: 1px solid #999 !important;
                background-color: #e4e4e4; }
              body .wrapcontents .mainContents.ovs .mainArea .info .contents table tr td:nth-child(2) {
                width: 80%; }
            body .wrapcontents .mainContents.ovs .mainArea .info .contents table.sheet tr:first-child td {
              text-align: center;
              background-color: #e4e4e4; }
              body .wrapcontents .mainContents.ovs .mainArea .info .contents table.sheet tr:first-child td:first-child {
                font-size: 14px; }
            body .wrapcontents .mainContents.ovs .mainArea .info .contents table.sheet tr td {
              padding: .75%; }
              body .wrapcontents .mainContents.ovs .mainArea .info .contents table.sheet tr td:first-child {
                font-size: 13px;
                width: 48%;
                border: 1px solid #999 !important;
                background-color: #e4e4e4; }
                body .wrapcontents .mainContents.ovs .mainArea .info .contents table.sheet tr td:first-child .txt {
                  font-size: 14px;
                  float: left;
                  width: 86%;
                  padding: 0 0 0 3%; }
                  body .wrapcontents .mainContents.ovs .mainArea .info .contents table.sheet tr td:first-child .txt small {
                    font-size: 13px; }
                body .wrapcontents .mainContents.ovs .mainArea .info .contents table.sheet tr td:first-child .img {
                  float: left;
                  width: 11%; }
              body .wrapcontents .mainContents.ovs .mainArea .info .contents table.sheet tr td:nth-child(2), body .wrapcontents .mainContents.ovs .mainArea .info .contents table.sheet tr td:nth-child(3), body .wrapcontents .mainContents.ovs .mainArea .info .contents table.sheet tr td:nth-child(4), body .wrapcontents .mainContents.ovs .mainArea .info .contents table.sheet tr td:nth-child(5) {
                font-size: 13px;
                width: 13%;
                text-align: center; }
          body .wrapcontents .mainContents.ovs .mainArea .info .contents a {
            -webkit-transition: 0.2s;
            -o-transition: 0.2s;
            transition: 0.2s; }
            body .wrapcontents .mainContents.ovs .mainArea .info .contents a img {
              opacity: 1;
              -webkit-transition: 0.2s;
              -o-transition: 0.2s;
              transition: 0.2s;
              filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100); }
            body .wrapcontents .mainContents.ovs .mainArea .info .contents a:hover img {
              opacity: .7;
              filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70); }
          body .wrapcontents .mainContents.ovs .mainArea .info .contents em {
            font-size: 18px;
            margin: 0 0 20px;
            text-align: left; }
          body .wrapcontents .mainContents.ovs .mainArea .info .contents ul li {
            font-size: 15px;
            clear: both;
            width: 100%;
            margin: 2% 0; }
            body .wrapcontents .mainContents.ovs .mainArea .info .contents ul li b {
              font-size: 15px; }
          body .wrapcontents .mainContents.ovs .mainArea .info .contents ul.other {
            -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            /* IE7対策 */
            *behavior: url(/js/boxsizing.htc);
            width: 100%; }
            body .wrapcontents .mainContents.ovs .mainArea .info .contents ul.other li {
              float: left;
              clear: none;
              margin: .5%;
              -moz-box-sizing: border-box;
              -ms-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              /* IE7対策 */
              *behavior: url(/js/boxsizing.htc);
              width: 32.3%; }
              body .wrapcontents .mainContents.ovs .mainArea .info .contents ul.other li img {
                display: block;
                width: 100%; }
              body .wrapcontents .mainContents.ovs .mainArea .info .contents ul.other li a {
                display: block;
                opacity: 1;
                -webkit-transition: 0.2s;
                -o-transition: 0.2s;
                transition: 0.2s;
                filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100); }
                body .wrapcontents .mainContents.ovs .mainArea .info .contents ul.other li a:hover {
                  opacity: .7;
                  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70); }
          body .wrapcontents .mainContents.ovs .mainArea .info .contents ul.caution {
            float: left;
            margin: 0 0 40px; }
            body .wrapcontents .mainContents.ovs .mainArea .info .contents ul.caution li {
              margin: 0;
              color: #f00; }
          body .wrapcontents .mainContents.ovs .mainArea .info .contents .careful {
            float: left;
            clear: both;
            margin: 40px 0 0;
            -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            /* IE7対策 */
            *behavior: url(/js/boxsizing.htc);
            width: 100%; }
            body .wrapcontents .mainContents.ovs .mainArea .info .contents .careful div {
              float: left;
              width: 50%; }
              body .wrapcontents .mainContents.ovs .mainArea .info .contents .careful div.txt ul li {
                margin: 0 0 20px; }
                body .wrapcontents .mainContents.ovs .mainArea .info .contents .careful div.txt ul li span.red {
                  color: #f00; }
              body .wrapcontents .mainContents.ovs .mainArea .info .contents .careful div.image {
                font-size: 15px;
                text-align: center; }
                body .wrapcontents .mainContents.ovs .mainArea .info .contents .careful div.image img {
                  display: block;
                  width: 100%; }
      body .wrapcontents .mainContents.postage {
        background-color: #fff; }
        body .wrapcontents .mainContents.postage .mainHeader {
          padding: 0 0 6%; }
        body .wrapcontents .mainContents.postage .mainArea .info {
          /* ご利用方法 */ }
          body .wrapcontents .mainContents.postage .mainArea .info .last {
            border: none; }
          body .wrapcontents .mainContents.postage .mainArea .info .header > div p {
            font-size: 13px;
            line-height: 2.2em;
            padding: 0 0 10px 38px; }
            body .wrapcontents .mainContents.postage .mainArea .info .header > div p b {
              font-size: 1.2em; }
          body .wrapcontents .mainContents.postage .mainArea .info .header > div h3 {
            line-height: 1.6em; }
          body .wrapcontents .mainContents.postage .mainArea .info .contents blockquote {
            position: relative;
            margin: 1em;
            padding: 2em 2em;
            background-color: #efefef;
            -moz-border-radius: 6px 6px 6px 6px;
            border-radius: 6px 6px 6px 6px; }
          body .wrapcontents .mainContents.postage .mainArea .info .contents blockquote:before {
            font-family: 'ＭＳ Ｐゴシック',sans-serif;
            font-size: 400%;
            line-height: 1em;
            position: absolute;
            top: 5px;
            left: 5px;
            content: '“';
            color: #999; }
          body .wrapcontents .mainContents.postage .mainArea .info .contents blockquote:after {
            font-family: 'ＭＳ Ｐゴシック',sans-serif;
            font-size: 400%;
            line-height: 0;
            position: absolute;
            right: 5px;
            bottom: 5px;
            content: '”';
            color: #999; }
          body .wrapcontents .mainContents.postage .mainArea .info .contents small {
            font-size: 14px; }
          body .wrapcontents .mainContents.postage .mainArea .info .contents strong {
            font-size: 18px;
            font-weight: bold;
            display: block;
            float: left;
            width: 100%;
            margin: 20px 0 10px;
            padding: .5% 1%;
            background-color: #e4e4e4; }
          body .wrapcontents .mainContents.postage .mainArea .info .contents .indent {
            padding-left: 1em;
            text-indent: -1em; }
          body .wrapcontents .mainContents.postage .mainArea .info .contents table {
            margin: 20px 0;
            color: #000;
            border: 1px solid #999; }
            body .wrapcontents .mainContents.postage .mainArea .info .contents table tr td {
              padding: 2%;
              -moz-box-sizing: border-box;
              -ms-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              /* IE7対策 */
              *behavior: url(/js/boxsizing.htc);
              width: 100%; }
              body .wrapcontents .mainContents.postage .mainArea .info .contents table tr td:first-child {
                font-size: 13px;
                width: 10%;
                border: 1px solid #999 !important;
                background-color: #e4e4e4; }
              body .wrapcontents .mainContents.postage .mainArea .info .contents table tr td:nth-child(2) {
                font-size: 12px;
                width: 90%; }
            body .wrapcontents .mainContents.postage .mainArea .info .contents table.sheet tr:first-child td {
              text-align: center;
              background-color: #e4e4e4; }
              body .wrapcontents .mainContents.postage .mainArea .info .contents table.sheet tr:first-child td:first-child {
                font-size: 13px; }
            body .wrapcontents .mainContents.postage .mainArea .info .contents table.sheet tr td {
              padding: .75%; }
              body .wrapcontents .mainContents.postage .mainArea .info .contents table.sheet tr td:first-child {
                font-size: 13px;
                width: 48%;
                border: 1px solid #999 !important;
                background-color: #e4e4e4; }
                body .wrapcontents .mainContents.postage .mainArea .info .contents table.sheet tr td:first-child .txt {
                  font-size: 14px;
                  float: left;
                  width: 86%;
                  padding: 0 0 0 3%; }
                  body .wrapcontents .mainContents.postage .mainArea .info .contents table.sheet tr td:first-child .txt small {
                    font-size: 13px; }
                body .wrapcontents .mainContents.postage .mainArea .info .contents table.sheet tr td:first-child .img {
                  float: left;
                  width: 11%; }
              body .wrapcontents .mainContents.postage .mainArea .info .contents table.sheet tr td:nth-child(2), body .wrapcontents .mainContents.postage .mainArea .info .contents table.sheet tr td:nth-child(3), body .wrapcontents .mainContents.postage .mainArea .info .contents table.sheet tr td:nth-child(4), body .wrapcontents .mainContents.postage .mainArea .info .contents table.sheet tr td:nth-child(5) {
                font-size: 13px;
                width: 13%;
                text-align: center; }
          body .wrapcontents .mainContents.postage .mainArea .info .contents a {
            -webkit-transition: 0.2s;
            -o-transition: 0.2s;
            transition: 0.2s; }
            body .wrapcontents .mainContents.postage .mainArea .info .contents a img {
              opacity: 1;
              -webkit-transition: 0.2s;
              -o-transition: 0.2s;
              transition: 0.2s;
              filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100); }
            body .wrapcontents .mainContents.postage .mainArea .info .contents a:hover img {
              opacity: .7;
              filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70); }
          body .wrapcontents .mainContents.postage .mainArea .info .contents em {
            font-size: 18px;
            margin: 0 0 20px;
            text-align: left; }
          body .wrapcontents .mainContents.postage .mainArea .info .contents ul li {
            font-size: 15px;
            clear: both;
            width: 100%;
            margin: 2% 0; }
            body .wrapcontents .mainContents.postage .mainArea .info .contents ul li b {
              font-size: 15px; }
          body .wrapcontents .mainContents.postage .mainArea .info .contents ul.other {
            -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            /* IE7対策 */
            *behavior: url(/js/boxsizing.htc);
            width: 100%; }
            body .wrapcontents .mainContents.postage .mainArea .info .contents ul.other li {
              float: left;
              clear: none;
              margin: .5%;
              -moz-box-sizing: border-box;
              -ms-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              /* IE7対策 */
              *behavior: url(/js/boxsizing.htc);
              width: 32.3%; }
              body .wrapcontents .mainContents.postage .mainArea .info .contents ul.other li img {
                display: block;
                width: 100%; }
              body .wrapcontents .mainContents.postage .mainArea .info .contents ul.other li a {
                display: block;
                opacity: 1;
                -webkit-transition: 0.2s;
                -o-transition: 0.2s;
                transition: 0.2s;
                filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100); }
                body .wrapcontents .mainContents.postage .mainArea .info .contents ul.other li a:hover {
                  opacity: .7;
                  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70); }
          body .wrapcontents .mainContents.postage .mainArea .info .contents ul.caution {
            float: left;
            margin: 0 0 40px; }
            body .wrapcontents .mainContents.postage .mainArea .info .contents ul.caution li {
              margin: 0;
              color: #f00; }
          body .wrapcontents .mainContents.postage .mainArea .info .contents .careful {
            float: left;
            clear: both;
            margin: 40px 0 0;
            -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            /* IE7対策 */
            *behavior: url(/js/boxsizing.htc);
            width: 100%; }
            body .wrapcontents .mainContents.postage .mainArea .info .contents .careful div {
              float: left;
              width: 50%; }
              body .wrapcontents .mainContents.postage .mainArea .info .contents .careful div.txt ul li {
                margin: 0 0 20px; }
                body .wrapcontents .mainContents.postage .mainArea .info .contents .careful div.txt ul li span.red {
                  color: #f00; }
              body .wrapcontents .mainContents.postage .mainArea .info .contents .careful div.image {
                font-size: 15px;
                text-align: center; }
                body .wrapcontents .mainContents.postage .mainArea .info .contents .careful div.image img {
                  display: block;
                  width: 100%; }
    body .wrapcontents hr.line {
      width: 100%;
      max-width: 800px;
      margin: 40px auto;
      border: none;
      border-bottom: 2px solid #744f4f; }
    body .wrapcontents .otherInfo {
      float: right;
      clear: both;
      max-width: 800px;
      margin: 0 2% 4% 0;
      padding: 2%;
      color: #000;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      /* IE7対策 */
      *behavior: url(/js/boxsizing.htc);
      width: 96%; }
      body .wrapcontents .otherInfo a img {
        width: 100%;
        margin: 0 auto; }
      body .wrapcontents .otherInfo.ns ul li {
        float: left;
        margin: .5%;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        /* IE7対策 */
        *behavior: url(/js/boxsizing.htc);
        width: 32.3%; }
        body .wrapcontents .otherInfo.ns ul li a {
          -webkit-transition: 0.2s;
          -o-transition: 0.2s;
          transition: 0.2s; }
          body .wrapcontents .otherInfo.ns ul li a img {
            opacity: 1;
            -webkit-transition: 0.2s;
            -o-transition: 0.2s;
            transition: 0.2s;
            filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100); }
          body .wrapcontents .otherInfo.ns ul li a:hover img {
            opacity: .7;
            filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70); }
        body .wrapcontents .otherInfo.ns ul li img {
          display: block;
          width: 100%; }
  @media only screen and (max-width: 768px) {
    body .wrapcontents {
      width: 100%;
      margin: 0 auto;
      padding: 0; }
      body .wrapcontents .mainContents {
        padding: 4%; }
        body .wrapcontents .mainContents .mainHeader {
          padding: 4% 0 6%;
          text-align: center; }
          body .wrapcontents .mainContents .mainHeader small {
            font-size: 1em; }
          body .wrapcontents .mainContents .mainHeader h2 {
            font-size: 1.75em; }
          body .wrapcontents .mainContents .mainHeader p {
            font-size: .6em; }
        body .wrapcontents .mainContents .mainArea {
          width: 96%;
          height: auto;
          padding: 2%;
          background-color: #fff; }
          body .wrapcontents .mainContents .mainArea .info {
            /* ご利用方法 */ }
            body .wrapcontents .mainContents .mainArea .info .header div {
              -moz-box-sizing: border-box;
              -ms-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              /* IE7対策 */
              *behavior: url(/js/boxsizing.htc);
              width: 100%; }
              body .wrapcontents .mainContents .mainArea .info .header div b {
                font-size: 1.25em; }
              body .wrapcontents .mainContents .mainArea .info .header div p {
                margin: 10px 0 0;
                padding: 0 !important; }
              body .wrapcontents .mainContents .mainArea .info .header div h3 {
                display: block;
                float: left;
                width: 100%;
                text-align: center; }
              body .wrapcontents .mainContents .mainArea .info .header div > div {
                float: left;
                width: 100%;
                margin: 0 0 15px;
                text-align: center; }
            body .wrapcontents .mainContents .mainArea .info .contents div b {
              font-size: 1.25em; }
            body .wrapcontents .mainContents .mainArea .info .contents dl {
              font-size: 14px; }
              body .wrapcontents .mainContents .mainArea .info .contents dl dt {
                width: 30%; }
              body .wrapcontents .mainContents .mainArea .info .contents dl dd {
                width: 70%; }
            body .wrapcontents .mainContents .mainArea .info .contents ul li,
            body .wrapcontents .mainContents .mainArea .info .contents ul.rbn li {
              float: left;
              margin: 2% 0 2% 2%;
              -moz-box-sizing: border-box;
              -ms-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              /* IE7対策 */
              *behavior: url(/js/boxsizing.htc);
              width: 49%; }
              body .wrapcontents .mainContents .mainArea .info .contents ul li:nth-child(odd),
              body .wrapcontents .mainContents .mainArea .info .contents ul.rbn li:nth-child(odd) {
                margin: 2% 0 0; }
              body .wrapcontents .mainContents .mainArea .info .contents ul li .caption,
              body .wrapcontents .mainContents .mainArea .info .contents ul.rbn li .caption {
                font-size: 12px; }
            body .wrapcontents .mainContents .mainArea .info .contents ul.msg li {
              float: left;
              margin: 2% 0 2% 0;
              -moz-box-sizing: border-box;
              -ms-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              /* IE7対策 */
              *behavior: url(/js/boxsizing.htc);
              width: 100%; }
              body .wrapcontents .mainContents .mainArea .info .contents ul.msg li:nth-child(even) {
                margin: 2% 0 2% 0; }
            body .wrapcontents .mainContents .mainArea .info .contents ul.wrap li {
              float: left;
              margin: 2% 0 2% 0;
              -moz-box-sizing: border-box;
              -ms-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              /* IE7対策 */
              *behavior: url(/js/boxsizing.htc);
              width: 50%; }
              body .wrapcontents .mainContents .mainArea .info .contents ul.wrap li:nth-child(even) {
                margin: 2% 0 2% 0; }
            body .wrapcontents .mainContents .mainArea .info .contents ul.pb li {
              float: left;
              margin: 2% 0 2% 0;
              -moz-box-sizing: border-box;
              -ms-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              /* IE7対策 */
              *behavior: url(/js/boxsizing.htc);
              width: 100%; }
              body .wrapcontents .mainContents .mainArea .info .contents ul.pb li:nth-child(even) {
                margin: 2% 0 2% 0; }
            body .wrapcontents .mainContents .mainArea .info .contents ul.dic {
              overflow: hidden;
              margin: 0 0 4%;
              text-align: center; }
              body .wrapcontents .mainContents .mainArea .info .contents ul.dic li {
                -moz-box-sizing: border-box;
                -ms-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                /* IE7対策 */
                *behavior: url(/js/boxsizing.htc);
                width: 100%; }
                body .wrapcontents .mainContents .mainArea .info .contents ul.dic li:nth-child(n) {
                  margin: 2% 0 0 0; }
            body .wrapcontents .mainContents .mainArea .info .contents.nslists > div {
              float: left;
              padding: 1%;
              border: 1px solid #bfbfbf;
              -moz-box-sizing: border-box;
              -ms-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              /* IE7対策 */
              *behavior: url(/js/boxsizing.htc);
              width: 49%; }
              body .wrapcontents .mainContents .mainArea .info .contents.nslists > div:nth-child(odd) {
                clear: both;
                margin: 0 1% 2% 0; }
              body .wrapcontents .mainContents .mainArea .info .contents.nslists > div:nth-child(even) {
                margin: 0 0 2% 1%; }
              body .wrapcontents .mainContents .mainArea .info .contents.nslists > div span {
                font-weight: normal;
                display: block;
                margin: 0 0 5px;
                text-align: center;
                color: #000;
                background-color: #ffdce2; }
              body .wrapcontents .mainContents .mainArea .info .contents.nslists > div img {
                display: block;
                width: 99%;
                border: 1px solid #dfdfdf; }
              body .wrapcontents .mainContents .mainArea .info .contents.nslists > div dl {
                font-size: 11px;
                width: 100%;
                padding: 2% 0; }
                body .wrapcontents .mainContents .mainArea .info .contents.nslists > div dl dt {
                  float: left;
                  clear: both;
                  -moz-box-sizing: border-box;
                  -ms-box-sizing: border-box;
                  -webkit-box-sizing: border-box;
                  box-sizing: border-box;
                  /* IE7対策 */
                  *behavior: url(/js/boxsizing.htc);
                  width: 30%; }
                body .wrapcontents .mainContents .mainArea .info .contents.nslists > div dl dd {
                  float: left;
                  -moz-box-sizing: border-box;
                  -ms-box-sizing: border-box;
                  -webkit-box-sizing: border-box;
                  box-sizing: border-box;
                  /* IE7対策 */
                  *behavior: url(/js/boxsizing.htc);
                  width: 70%; }
                  body .wrapcontents .mainContents .mainArea .info .contents.nslists > div dl dd:before {
                    margin: 0 5px 0 0;
                    content: ':'; }
            body .wrapcontents .mainContents .mainArea .info .contents table tr td:nth-child(1) {
              width: 20%; }
              body .wrapcontents .mainContents .mainArea .info .contents table tr td:nth-child(1) img {
                display: block; }
            body .wrapcontents .mainContents .mainArea .info.flow {
              margin: 0;
              padding: 2% 0 4%;
              border-bottom: 1px solid #999; }
              body .wrapcontents .mainContents .mainArea .info.flow div > div {
                float: left;
                padding: 4% 4% 2%;
                -moz-box-sizing: border-box;
                -ms-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                /* IE7対策 */
                *behavior: url(/js/boxsizing.htc);
                width: 100%; }
                body .wrapcontents .mainContents .mainArea .info.flow div > div.image img.pc {
                  display: none; }
                body .wrapcontents .mainContents .mainArea .info.flow div > div.image img.sp {
                  display: block; }
                body .wrapcontents .mainContents .mainArea .info.flow div > div.labelink p a {
                  font-weight: bold; }
              body .wrapcontents .mainContents .mainArea .info.flow:last-child {
                padding: 2% 0 0;
                border: none; }
            body .wrapcontents .mainContents .mainArea .info hr {
              display: block;
              width: 100%;
              margin: 50px 0;
              padding: 0;
              border: none;
              border-top: 1px solid #000; }
        body .wrapcontents .mainContents.ns {
          margin: 0; }
        body .wrapcontents .mainContents.ovs .mainArea {
          padding: 2% 2% 8%; }
          body .wrapcontents .mainContents.ovs .mainArea .info .contents .careful div {
            width: 100%; }
          body .wrapcontents .mainContents.ovs .mainArea .info .contents ul li {
            margin: 2% 0 0; }
          body .wrapcontents .mainContents.ovs .mainArea .info .contents table.sheet tr td:first-child .img {
            display: block;
            float: left;
            width: 30%; }
          body .wrapcontents .mainContents.ovs .mainArea .info .contents table.sheet tr td:first-child .txt {
            width: 100%; }
          body .wrapcontents .mainContents.ovs .mainArea .info .contents table.sheet tr td:nth-child(1) .img {
            display: block !important; }
    body .otherInfo {
      margin: 0;
      padding: 2% 2% 15%; }
      body .otherInfo.ns ul li {
        float: left;
        margin: 2%;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        /* IE7対策 */
        *behavior: url(/js/boxsizing.htc);
        width: 46%; }
        body .otherInfo.ns ul li img {
          display: block;
          width: 100%; } }
  body .header {
    margin: 0 0 30px;
    /* サブナビゲーション */
    /* メインナビゲーション */ }
    body .header .area_subnav {
      font-family: 'ヒラギノ丸ゴ ProN W4', 'Hiragino Maru Gothic ProN';
      overflow: hidden;
      width: 100%;
      height: auto;
      padding: 0;
      background-color: #f6f6f6; }
      body .header .area_subnav h1 {
        font-family: 'ヒラギノ丸ゴ ProN W4', 'Hiragino Maru Gothic ProN';
        font-size: 11px;
        display: block;
        float: left;
        padding: 7px 0;
        color: #595857; }
      body .header .area_subnav .subnav {
        font-size: 11px;
        float: right; }
        body .header .area_subnav .subnav li {
          float: left;
          padding: 7px 10px; }
          body .header .area_subnav .subnav li:before {
            padding: 0 10px 0 0;
            content: '|'; }
          body .header .area_subnav .subnav li:first-child:before {
            content: ' ';
            content: none; }
      body .header .area_subnav .subnav_main {
        font-size: 11px;
        float: right; }
        body .header .area_subnav .subnav_main li {
          float: left;
          padding: 7px 14px;
          -webkit-transition: .2s;
          -o-transition: .2s;
          transition: .2s;
          border-left: 1px solid #f6f6f6;
          background-color: #595857;
          -webkit-transition: 0.2s;
          -o-transition: 0.2s;
          transition: 0.2s; }
          body .header .area_subnav .subnav_main li a {
            display: block;
            width: 100%;
            text-decoration: none;
            color: #fff; }
            body .header .area_subnav .subnav_main li a span {
              display: block;
              float: right;
              margin: 1px 0 0 10px; }
              body .header .area_subnav .subnav_main li a span.cart {
                width: 19px;
                height: 14px;
                background: url("https://image.wowma.jp/43748372/gold/dentouhonpo/img/header/nv_icon_cart.jpg") no-repeat; }
              body .header .area_subnav .subnav_main li a span.login {
                width: 12px;
                height: 14px;
                background: url("https://image.wowma.jp/43748372/gold/dentouhonpo/img/header/nv_icon_login.jpg") no-repeat; }
          body .header .area_subnav .subnav_main li:hover {
            background-color: #356a71; }
    body .header .area_mainnav {
      overflow: hidden;
      width: 100%;
      height: auto;
      padding: 0;
      border-bottom: 1px solid #f6f6f6;
      background-color: #fff; }
      body .header .area_mainnav .logo {
        float: left;
        padding: 18px 0 15px 0; }
        body .header .area_mainnav .logo h2 {
          display: block;
          width: 165px;
          height: 45px;
          margin: 0 0 0;
          text-indent: -9999px;
          background: url("https://image.wowma.jp/43748372/gold/dentouhonpo/img/header/hdr_logo.jpg") no-repeat; }
          body .header .area_mainnav .logo h2 a {
            display: block;
            width: 100%;
            height: 100%; }
        body .header .area_mainnav .logo span {
          font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
          font-size: 9px;
          letter-spacing: 1px; }
      body .header .area_mainnav .separate {
        font-size: 20px;
        display: block;
        float: left;
        padding: 28px 10px 0 20px;
        color: #595857; }
      body .header .area_mainnav .mainnav {
        float: left; }
        body .header .area_mainnav .mainnav li {
          float: left;
          margin: 23px 0 0 10px; }
          body .header .area_mainnav .mainnav li a {
            display: block;
            width: 100px;
            height: 49px; }
            body .header .area_mainnav .mainnav li a img {
              -webkit-transition: .2s;
              -o-transition: .2s;
              transition: .2s;
              opacity: 1;
              -webkit-transition: 0.2s;
              -o-transition: 0.2s;
              transition: 0.2s;
              /* filter: progid: DXImageTransform.Microsoft.Alpha(opacity=0); */ }
            body .header .area_mainnav .mainnav li a:hover img {
              opacity: 0;
              /* filter: progid: DXImageTransform.Microsoft.Alpha(opacity=0); */ }
            body .header .area_mainnav .mainnav li a.nav_wg {
              background: url("https://image.wowma.jp/43748372/gold/dentouhonpo/img/header/nav_wg_hv.jpg") left top no-repeat; }
            body .header .area_mainnav .mainnav li a.nav_bg {
              background: url("https://image.wowma.jp/43748372/gold/dentouhonpo/img/header/nav_bg_hv.jpg") left top no-repeat; }
            body .header .area_mainnav .mainnav li a.nav_fa {
              background: url("https://image.wowma.jp/43748372/gold/dentouhonpo/img/header/nav_fa_hv.jpg") left top no-repeat; }
            body .header .area_mainnav .mainnav li a.nav_gf {
              background: url("https://image.wowma.jp/43748372/gold/dentouhonpo/img/header/nav_gf_hv.jpg") left top no-repeat; }
            body .header .area_mainnav .mainnav li a.nav_nc {
              background: url("https://image.wowma.jp/43748372/gold/dentouhonpo/img/header/nav_nc_hv.jpg") left top no-repeat; }
            body .header .area_mainnav .mainnav li a.nav_sb {
              background: url("https://image.wowma.jp/43748372/gold/dentouhonpo/img/header/nav_sb_hv.jpg") left top no-repeat; }
            body .header .area_mainnav .mainnav li a.nav_rt {
              background: url("https://image.wowma.jp/43748372/gold/dentouhonpo/img/header/nav_rt_hv.jpg") left top no-repeat; }
            body .header .area_mainnav .mainnav li a.nav_br {
              background: url("https://image.wowma.jp/43748372/gold/dentouhonpo/img/header/nav_br_hv.jpg") left top no-repeat; }
          body .header .area_mainnav .mainnav li:first-child {
            margin: 23px 0 0 0; }
  body .leftnav {
    float: left;
    overflow: hidden;
    width: 200px;
    height: auto;
    margin: 0 28px 100px 0;
    /* 検索フォーム */
    /* バナー部分 */
    /* 商品メニュー */
    /* その他案内 */ }
    body .leftnav.rk, body .leftnav.ya {
      width: 200px; }
    body .leftnav .area_search {
      overflow: hidden;
      margin: 0 0 30px; }
      body .leftnav .area_search form {
        overflow: hidden;
        margin: 0 0 10px; }
        body .leftnav .area_search form .form {
          font-size: 11px;
          line-height: 1.5;
          display: block;
          float: left;
          width: 182px;
          height: 30px;
          padding: 0 10px;
          border-style: none;
          background: url("https://image.wowma.jp/43748372/gold/dentouhonpo/img/leftnav/lt_form.jpg") left top no-repeat; }
        body .leftnav .area_search form .btn {
          display: block;
          float: left;
          width: 30px;
          height: 30px;
          border-style: none;
          background: url("https://image.wowma.jp/43748372/gold/dentouhonpo/img/leftnav/lt_form_btn.jpg") left top no-repeat; }
      body .leftnav .area_search b {
        font-size: 14px; }
      body .leftnav .area_search hr {
        clear: both;
        border: none;
        border-bottom: 1px dotted #595857; }
      body .leftnav .area_search ul {
        overflow: hidden;
        margin: 0 0 6px; }
        body .leftnav .area_search ul li {
          font-size: 11px;
          float: left;
          padding: 0 6px 0 0; }
          body .leftnav .area_search ul li a {
            text-decoration: none;
            color: #595857; }
            body .leftnav .area_search ul li a:hover {
              text-decoration: underline; }
          body .leftnav .area_search ul li:before {
            margin: 0 5px 0 0;
            content: '|'; }
          body .leftnav .area_search ul li:first-child:before {
            content: none; }
    body .leftnav .area_bnr {
      margin: 0 0 30px; }
      body .leftnav .area_bnr ul li {
        margin: 0 0 20px; }
    body .leftnav .area_menu .parent.category {
      display: block !important; }
    body .leftnav .area_menu .parent li {
      font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
      font-size: 11px;
      padding: 2px 0; }
      body .leftnav .area_menu .parent li a {
        display: block;
        width: 100%; }
      body .leftnav .area_menu .parent li:before {
        display: block;
        float: left;
        margin: 0 10px 0 32px;
        content: '>';
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s; }
      body .leftnav .area_menu .parent li:first-child {
        margin: 30px 0 10px;
        padding: 8px 16px;
        border: none;
        border-top: 1px solid #595857;
        border-bottom: 1px dotted #595857;
        background-color: #f6f6f6; }
        body .leftnav .area_menu .parent li:first-child img {
          display: block; }
        body .leftnav .area_menu .parent li:first-child:before {
          content: none; }
      body .leftnav .area_menu .parent li:hover {
        background-color: #f6f6f6; }
        body .leftnav .area_menu .parent li:hover:before {
          margin: 0 10px 0 36px; }
        body .leftnav .area_menu .parent li:hover a {
          text-decoration: none; }
      body .leftnav .area_menu .parent li.title {
        margin: 10px 0 4px 16px; }
        body .leftnav .area_menu .parent li.title:before {
          float: left;
          margin: 0;
          content: none; }
        body .leftnav .area_menu .parent li.title.eat {
          display: block;
          width: 41px;
          height: 14px;
          background: url("https://image.wowma.jp/43748372/gold/dentouhonpo/img/leftnav/lf_title_eat.jpg") left top no-repeat; }
        body .leftnav .area_menu .parent li.title.drink {
          display: block;
          width: 27px;
          height: 13px;
          background: url("https://image.wowma.jp/43748372/gold/dentouhonpo/img/leftnav/lf_title_drink.jpg") left top no-repeat; }
        body .leftnav .area_menu .parent li.title.sake {
          display: block;
          width: 27px;
          height: 14px;
          background: url("https://image.wowma.jp/43748372/gold/dentouhonpo/img/leftnav/lf_title_sake.jpg") left top no-repeat; }
        body .leftnav .area_menu .parent li.title.put {
          display: block;
          width: 23px;
          height: 14px;
          background: url("https://image.wowma.jp/43748372/gold/dentouhonpo/img/leftnav/lf_title_put.jpg") left top no-repeat; }
        body .leftnav .area_menu .parent li.title.table {
          display: block;
          width: 57px;
          height: 14px;
          background: url("https://image.wowma.jp/43748372/gold/dentouhonpo/img/leftnav/lf_title_table.jpg") left top no-repeat; }
        body .leftnav .area_menu .parent li.title.kitchen {
          display: block;
          width: 67px;
          height: 14px;
          background: url("https://image.wowma.jp/43748372/gold/dentouhonpo/img/leftnav/lf_title_kitchen.jpg") left top no-repeat; }
        body .leftnav .area_menu .parent li.title.study {
          display: block;
          width: 68px;
          height: 14px;
          background: url("https://image.wowma.jp/43748372/gold/dentouhonpo/img/leftnav/lf_title_study.jpg") left top no-repeat; }
        body .leftnav .area_menu .parent li.title.interior {
          display: block;
          width: 26px;
          height: 14px;
          background: url("https://image.wowma.jp/43748372/gold/dentouhonpo/img/leftnav/lf_title_interior.jpg") left top no-repeat; }
        body .leftnav .area_menu .parent li.title.guest {
          display: block;
          width: 54px;
          height: 14px;
          background: url("https://image.wowma.jp/43748372/gold/dentouhonpo/img/leftnav/lf_title_guest.jpg") left top no-repeat; }
        body .leftnav .area_menu .parent li.title.relux {
          display: block;
          width: 52px;
          height: 14px;
          background: url("https://image.wowma.jp/43748372/gold/dentouhonpo/img/leftnav/lf_title_relux.jpg") left top no-repeat; }
        body .leftnav .area_menu .parent li.title.set {
          display: block;
          width: 54px;
          height: 14px;
          background: url("https://image.wowma.jp/43748372/gold/dentouhonpo/img/leftnav/lf_title_set.jpg") left top no-repeat; }
    body .leftnav .area_menu .ifCal {
      overflow: hidden;
      border: none; }
  body .footer {
    clear: both;
    background-color: #fff; }
    body .footer .area_event .event_title {
      overflow: hidden;
      margin: 0 0 50px; }
      body .footer .area_event .event_title li {
        font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
        font-weight: bold;
        float: left;
        width: 33.332999999999998%;
        text-align: center; }
        body .footer .area_event .event_title li p {
          font-size: 15px;
          line-height: 1.5; }
        body .footer .area_event .event_title li hr {
          display: block;
          width: 100%;
          margin: 0 auto;
          padding: 10px 0 0;
          border: none;
          border-bottom: 1px dotted #595857; }
        body .footer .area_event .event_title li span {
          font-size: 10px;
          display: block;
          margin: 0 6px 0 0; }
    body .footer .area_event .wrapcontents > div {
      float: left;
      overflow: hidden;
      width: 48%;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }
      body .footer .area_event .wrapcontents > div:nth-child(even) {
        margin: 0 2% 40px 0; }
      body .footer .area_event .wrapcontents > div:nth-child(odd) {
        margin: 0 0 40px 2%; }
    body .footer .area_event .wrapcontents {
      position: relative;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
      /* & > div:hover{
                    position: relative;
                    top: auto;
                    left: auto;
                    width: 100%;
                    margin: 0 0 40px;
                }
                &:hover{
                    .contents:not(:hover){
                        opacity:0;
                        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
                    }
                } */ }
    body .footer .area_event .contents img {
      display: block;
      float: left;
      width: 60%; }
    body .footer .area_event .contents div {
      float: left;
      width: 36%;
      height: auto;
      margin: 0 0 0 2%;
      padding: 5px 0;
      border-top: 1px dotted #ccc; }
      body .footer .area_event .contents div a {
        display: block; }
      body .footer .area_event .contents div span {
        font-size: 10px;
        display: block;
        clear: both;
        color: #ccc; }
      body .footer .area_event .contents div em {
        font-family: AGaramond-Regular, '游明朝体', 'Yu Mincho', YuMincho, 'Hiragino Mincho ProN', 'HiraMinProN-W6', 'ヒラギノ明朝 ProN W6', 'HG明朝E', 'ＭＳ Ｐ明朝', 'MS PMincho', 'MS 明朝', serif;
        font-size: 28px;
        line-height: 1.25;
        display: block;
        clear: both; }
      body .footer .area_event .contents div p {
        font-family: AGaramond-Regular, '游明朝体', 'Yu Mincho', YuMincho, 'Hiragino Mincho ProN', 'HiraMinProN-W6', 'ヒラギノ明朝 ProN W6', 'HG明朝E', 'ＭＳ Ｐ明朝', 'MS PMincho', 'MS 明朝', serif;
        font-size: 12px;
        line-height: 1.75;
        margin: 10px 0 0; }
    body .footer .area_event .magazineLink {
      font-family: AGaramond-Regular, '游明朝体', 'Yu Mincho', YuMincho, 'Hiragino Mincho ProN', 'HiraMinProN-W6', 'ヒラギノ明朝 ProN W6', 'HG明朝E', 'ＭＳ Ｐ明朝', 'MS PMincho', 'MS 明朝', serif;
      font-size: 10px;
      display: block;
      clear: both;
      width: 200px;
      margin: 0 auto 50px;
      padding: 10px 20px;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s;
      text-align: center;
      border: 1px solid #ccc;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }
      body .footer .area_event .magazineLink span {
        font-size: 16px; }
      body .footer .area_event .magazineLink:hover {
        text-decoration: none;
        color: #fff;
        border: 1px solid #356a71;
        background-color: #356a71; }
    body .footer .area_announce {
      clear: both;
      background-color: #fff; }
      body .footer .area_announce .area {
        font-size: 11px;
        position: relative;
        float: left;
        width: 212px;
        height: 295px;
        margin: 0 0 10px;
        padding: 10px;
        background-color: #f6f6f6; }
        body .footer .area_announce .area h4 img {
          display: block;
          margin: 10px auto; }
        body .footer .area_announce .area img {
          display: block; }
        body .footer .area_announce .area.pay ul, body .footer .area_announce .area.gift ul {
          margin: 5px 0 0 3px;
          list-style-position: inside;
          list-style-type: circle; }
        body .footer .area_announce .area.pay img, body .footer .area_announce .area.gift img {
          margin: 10px auto; }
        body .footer .area_announce .area.gift ul {
          margin: 5px 0 34px 3px; }
        body .footer .area_announce .area.care {
          margin: 0 0 10px 10px; }
          body .footer .area_announce .area.care img {
            margin: 10px auto; }
          body .footer .area_announce .area.care p {
            margin: 0 0 68px; }
        body .footer .area_announce .area.delivery {
          position: relative;
          width: 333px;
          margin: 0 10px 10px;
          padding: 10px; }
          body .footer .area_announce .area.delivery .map {
            position: absolute;
            right: 10px;
            bottom: 50px; }
          body .footer .area_announce .area.delivery ul {
            margin: 0 0 26px; }
            body .footer .area_announce .area.delivery ul li {
              line-height: 2; }
              body .footer .area_announce .area.delivery ul li span {
                display: block;
                float: left;
                margin: 0 5px 0 0; }
                body .footer .area_announce .area.delivery ul li span.mapicon_01 {
                  color: #9acdd3; }
                body .footer .area_announce .area.delivery ul li span.mapicon_02 {
                  color: #d3bfa4; }
                body .footer .area_announce .area.delivery ul li span.mapicon_03 {
                  color: #9b9ad3; }
                body .footer .area_announce .area.delivery ul li span.mapicon_04 {
                  color: #d3d39a; }
        body .footer .area_announce .area hr {
          margin: 20px 0;
          border: none;
          border-bottom: 1px solid #595857; }
        body .footer .area_announce .area.media {
          width: 1060px;
          height: auto;
          min-height: 220px;
          margin: 0 10px 10px 0;
          padding: 10px; }
          body .footer .area_announce .area.media .media_text_area {
            float: left;
            width: 370px;
            padding-top: 10px;
            padding-left: 20px; }
            body .footer .area_announce .area.media .media_text_area p {
              font-size: 1.15em;
              line-height: 1.6; }
          body .footer .area_announce .area.media ul.media_contents {
            float: right; }
            body .footer .area_announce .area.media ul.media_contents li {
              float: left;
              width: 150px;
              margin-right: 10px; }
              body .footer .area_announce .area.media ul.media_contents li img {
                width: 125px;
                height: auto;
                text-align: center; }
        body .footer .area_announce .area.order {
          width: 696px;
          height: auto;
          min-height: 220px;
          margin: 0 10px 20px 0;
          padding: 10px; }
          body .footer .area_announce .area.order ul {
            display: table; }
            body .footer .area_announce .area.order ul li {
              line-height: 1.75;
              display: table-cell;
              overflow: hidden; }
              body .footer .area_announce .area.order ul li b {
                font-size: 12px; }
              body .footer .area_announce .area.order ul li hr {
                display: block;
                margin: 2px 10px 10px 0;
                border: none;
                border-bottom: 1px dotted #356a71; }
              body .footer .area_announce .area.order ul li p {
                padding: 0 7px 0 0; }
              body .footer .area_announce .area.order ul li a {
                font-family: 'ヒラギノ丸ゴ ProN W4', 'Hiragino Maru Gothic ProN';
                display: block;
                float: left;
                margin: 10px 0 5px 0;
                padding: 4px 8px;
                -webkit-transition: .2s;
                -o-transition: .2s;
                transition: .2s;
                text-align: center;
                border: 1px solid #ccc;
                background-color: #fff;
                -webkit-transition: 0.2s;
                -o-transition: 0.2s;
                transition: 0.2s; }
                body .footer .area_announce .area.order ul li a:hover {
                  text-decoration: none;
                  color: #fff;
                  background-color: #356a71; }
        body .footer .area_announce .area.contact {
          width: 334px;
          height: auto;
          min-height: 220px; }
          body .footer .area_announce .area.contact dl {
            line-height: 1.75;
            overflow: hidden;
            width: 100%;
            margin: 0 0 20px; }
            body .footer .area_announce .area.contact dl dt {
              float: left;
              clear: both;
              width: 20%; }
            body .footer .area_announce .area.contact dl dd {
              float: left;
              width: 80%; }
        body .footer .area_announce .area .morelinks {
          font-family: 'ヒラギノ丸ゴ ProN W4', 'Hiragino Maru Gothic ProN';
          position: absolute;
          bottom: 10px;
          left: auto;
          display: block;
          width: 88%;
          margin: 10px 0 5px;
          padding: 4px 2%;
          -webkit-transition: .2s;
          -o-transition: .2s;
          transition: .2s;
          text-align: center;
          background-color: #fff;
          -webkit-transition: 0.2s;
          -o-transition: 0.2s;
          transition: 0.2s; }
          body .footer .area_announce .area .morelinks:hover {
            text-decoration: none;
            color: #fff;
            background-color: #356a71; }
    body .footer .area_menu {
      clear: both;
      overflow: hidden;
      width: 100%;
      background-color: #f6f6f6; }
      body .footer .area_menu .parent {
        float: left;
        width: 212px; }
        body .footer .area_menu .parent.service li {
          padding: 2px 0 6px; }
          body .footer .area_menu .parent.service li:before {
            content: none; }
        body .footer .area_menu .parent li {
          font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
          font-size: 11px;
          clear: both;
          padding: 2px 0; }
          body .footer .area_menu .parent li a {
            display: block;
            width: 100%; }
          body .footer .area_menu .parent li:before {
            display: block;
            float: left;
            margin: 0 10px 0 12px;
            content: '>';
            -webkit-transition: .2s;
            -o-transition: .2s;
            transition: .2s;
            -webkit-transition: 0.2s;
            -o-transition: 0.2s;
            transition: 0.2s; }
          body .footer .area_menu .parent li:hover {
            background-color: #f6f6f6; }
            body .footer .area_menu .parent li:hover:before {
              margin: 0 10px 0 18px; }
            body .footer .area_menu .parent li:hover a {
              text-decoration: none; }
          body .footer .area_menu .parent li.title {
            margin: 10px 0 4px 16px; }
            body .footer .area_menu .parent li.title:before {
              float: left;
              margin: 0;
              content: none; }
        body .footer .area_menu .parent > li:first-child {
          width: 90%;
          margin: 30px 0 20px;
          padding: 8px 0;
          border: none; }
          body .footer .area_menu .parent > li:first-child:before {
            content: none; }
          body .footer .area_menu .parent > li:first-child b {
            font-size: 14px;
            display: block;
            float: left; }
            body .footer .area_menu .parent > li:first-child b span {
              font-size: 9px;
              display: block;
              float: right;
              margin: 2px 0 0 7px; }
      body .footer .area_menu #dropmenu {
        float: left;
        width: 212px;
        margin: 30px auto 0;
        padding: 0;
        list-style-type: none;
        border: none; }
        body .footer .area_menu #dropmenu li {
          font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
          font-size: 11px;
          position: relative;
          float: left;
          clear: both;
          width: 90%;
          margin: 0;
          padding: 0; }
          body .footer .area_menu #dropmenu li a {
            display: block;
            width: 100%; }
          body .footer .area_menu #dropmenu li ul {
            position: absolute;
            z-index: 100;
            top: 100%;
            left: 0;
            width: 100%;
            margin: 0;
            padding: 0;
            list-style: none; }
            body .footer .area_menu #dropmenu li ul li {
              overflow: hidden;
              width: 100%;
              height: 0;
              -webkit-transition: .2s;
              -o-transition: .2s;
              transition: .2s;
              color: #fff; }
              body .footer .area_menu #dropmenu li ul li a {
                font-size: 10px;
                font-weight: normal;
                padding: 4px;
                text-align: left;
                background: #fff; }
              body .footer .area_menu #dropmenu li ul li:before {
                display: block;
                float: left;
                margin: 2px 10px 0 18px;
                content: '>';
                -webkit-transition: .2s;
                -o-transition: .2s;
                transition: .2s;
                color: #595857;
                -webkit-transition: 0.2s;
                -o-transition: 0.2s;
                transition: 0.2s; }
              body .footer .area_menu #dropmenu li ul li:hover:before {
                margin: 2px 10px 0 24px;
                content: '>'; }
          body .footer .area_menu #dropmenu li.main {
            padding: 2px 0; }
            body .footer .area_menu #dropmenu li.main:before {
              display: block;
              float: left;
              margin: 0 10px 0 12px;
              content: '+';
              -webkit-transition: .4s;
              -o-transition: .4s;
              transition: .4s;
              -webkit-transition: 0.4s;
              -o-transition: 0.4s;
              transition: 0.4s; }
            body .footer .area_menu #dropmenu li.main:hover:before {
              content: '-'; }
          body .footer .area_menu #dropmenu li:hover {
            background-color: #f6f6f6; }
            body .footer .area_menu #dropmenu li:hover:before {
              margin: 0 10px 0 18px; }
            body .footer .area_menu #dropmenu li:hover a {
              text-decoration: none; }
          body .footer .area_menu #dropmenu li.title {
            margin: 10px 0 4px 16px; }
            body .footer .area_menu #dropmenu li.title:before {
              float: left;
              margin: 0;
              content: none; }
          body .footer .area_menu #dropmenu li:first-child {
            margin: 0; }
        body .footer .area_menu #dropmenu > li:first-child {
          margin: 0 0 8px;
          padding: 8px 0 0;
          border: none; }
          body .footer .area_menu #dropmenu > li:first-child:before {
            content: none; }
          body .footer .area_menu #dropmenu > li:first-child b {
            font-size: 14px;
            display: block;
            float: left; }
            body .footer .area_menu #dropmenu > li:first-child b span {
              font-size: 9px;
              display: block;
              float: right;
              margin: 2px 0 0 7px; }
      body .footer .area_menu #dropmenu > li:hover > a {
        background: #fff; }
      body .footer .area_menu #dropmenu > li:hover li:hover > a {
        background: #fff; }
      body .footer .area_menu #dropmenu li:hover > ul > li {
        overflow: visible;
        height: auto; }
      body .footer .area_menu #dropmenu li ul li ul {
        top: 0;
        left: 100%; }
      body .footer .area_menu #dropmenu li:last-child ul li ul {
        left: -100%;
        width: 100%; }
      body .footer .area_menu #dropmenu li ul li ul li a {
        background: #fff; }
      body .footer .area_menu #dropmenu li:hover ul li ul li:hover > a {
        background: #fff; }
      body .footer .area_menu #dropmenu li ul li ul:before {
        position: absolute;
        top: 13px;
        left: -20px;
        width: 0;
        height: 0;
        content: '';
        border: 5px solid transparent;
        border-left-color: #454e08; }
      body .footer .area_menu #dropmenu li:last-child ul li ul:before {
        position: absolute;
        top: 13px;
        left: 200%;
        margin-left: -20px;
        content: '>';
        border: 5px solid transparent;
        border-right-color: #454e08; }
      body .footer .area_menu .separate {
        display: block;
        clear: both;
        width: 100%;
        margin: 0 0 4px;
        padding: 10px 0 0;
        border: none;
        border-bottom: 1px dotted #595857; }
      body .footer .area_menu .ftrnav {
        font-size: 10px;
        clear: both;
        overflow: hidden;
        width: 100%;
        margin: 0 0 10px;
        color: #595857; }
        body .footer .area_menu .ftrnav li {
          float: left;
          margin: 0 0 0 6px; }
          body .footer .area_menu .ftrnav li:before {
            margin: 0 6px 0 0;
            content: '/'; }
          body .footer .area_menu .ftrnav li:first-child:before {
            content: none; }
      body .footer .area_menu .copy {
        font-size: 9px;
        display: block;
        clear: both;
        text-align: left;
        color: #ccc; }
      body .footer .area_menu .logo {
        clear: both;
        width: 170px;
        margin: 40px auto; }
        body .footer .area_menu .logo h5 {
          display: block;
          width: 162px;
          height: 45px;
          margin: 0 0 4px;
          text-indent: -9999px;
          background: url("https://image.wowma.jp/43748372/gold/dentouhonpo/img/header/hdr_logo.jpg") 40% no-repeat;
          background-size: 75% 75%; }
          body .footer .area_menu .logo h5 a {
            display: block;
            width: 100%;
            height: 100%; }
        body .footer .area_menu .logo span {
          font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
          font-size: 9px;
          text-align: center;
          letter-spacing: 1px; }
  @media only screen and (max-width: 768px) {
    body .wrapcontents.sp {
      width: 100%;
      padding: 0; }
    body > .header,
    body > .footer {
      display: none; }
    body .leftnav {
      display: none; }
    body #top iframe {
      display: none; }
    body #bottom iframe {
      display: none; } }

/* ---------------------------------------------------------------------------------- */
/* 共通設定ここから */
hr {
  display: block;
  clear: both;
  padding: 0;
  border: none;
  border-bottom: 1px dotted #dfdfdf; }

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0; }

/* 共通設定ここまで */
