@charset "UTF-8";
body {
	font: 16px/1.5 Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
	color: #301e21;
	word-wrap: break-word;
	-webkit-text-size-adjust: 100%
}
body #maincolor, body #basecolor, body #subcolor01, body #subcolor02, body #subcolor03, body #accentcolor, body #text-basecolor {
	width: 60px;
	height: 60px;
	border: 1px dotted #000;
	float: left;
	margin: 10px;
	font-size: 10px;
	text-align: center
}
body .cf {
	zoom: 1
}
body .cf:before, body .cf:after {
	content: "";
	display: table
}
body .cf:after {
	clear: both
}
body #text-basecolor {
	background-color: #f4f0e6
}
body #maincolor {
	background-color: #e84925
}
body #basecolor {
	background-color: #fff
}
body #subcolor01 {
	background-color: #cebfbb
}
body #subcolor02 {
	background-color: #b4c4d7
}
body #subcolor03 {
	background-color: #c0b293
}
body #accentcolor {
	background-color: #301e21;
	color: #fff
}
body h1, body h2, body h3, body h4, body h5, body strong {
	font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
	font-weight: normal
}
body h1, body h2 {
	font-size: 26px;
	font-size: 1.625rem;
	line-height: 3
}
body h3 {
	font-size: 16px;
	font-size: 1rem;
	line-height: 2
}
body h3.bc {
	text-indent: .5em;
	background-color: #f4f0e6
}
body h4 {
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 2;
	text-indent: .5em
}
body h5 {
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1.5
}
body p {
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1.5
}
body blockquote {
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1.5
}
body strong {
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 2;
	color: #e84925
}
body img {
	border: none
}
body em {
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1.5;
	color: #e84925;
	font-weight: bold
}
body em.question {
	border-left: 4px solid #b4c4d7;
	color: #301e21;
	padding: .3rem 0;
	display: block;
	background-color: #d7e4f3;
	text-indent: .6rem
}
body em.answer {
	border-left: 4px solid #cebfbb;
	background-color: #cebfbb;
	color: #301e21;
	padding: .3rem 0;
	background-color: #f4f0e6;
	text-indent: .6rem
}
body small {
	font-size: 11px;
	font-size: 0.6875rem;
	line-height: 1.75;
	font-weight: bold;
	color: #e84925
}
body a {
	color: #e84925;
	text-decoration: underline
}
body a:hover {
	text-decoration: none
}
body ul, body ol {
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 2;
	text-indent: .5em
}
body ul.careful {
	list-style-type: disc;
	list-style-position: inside;
	padding: 1em;
	border: 1px dashed #cebfbb
}
body ul.careful li {
	padding-left: 1em;
	text-indent: -1em
}
body table td {
	border: 1px solid #cebfbb;
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1.5;
	font-weight: normal;
	padding: 1em 2em;
	vertical-align: middle
}
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}
body {
	margin: 0
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block
}
audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline
}
audio:not([controls]) {
	display: none;
	height: 0
}
[hidden], template {
	display: none
}
a {
	background: transparent
}
a:active, a:hover {
	outline: 0
}
abbr[title] {
	border-bottom: 1px dotted
}
b, strong {
	font-weight: bold
}
dfn {
	font-style: italic
}
h1 {
	font-size: 2em;
	margin: 0.67em 0
}
mark {
	background: #ff0;
	color: #000
}
small {
	font-size: 80%
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}
sup {
	top: -0.5em
}
sub {
	bottom: -0.25em
}
img {
	border: 0
}
svg:not(:root) {
	overflow: hidden
}
figure {
	margin: 1em 0px
}
hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0
}
pre {
	overflow: auto
}
code, kbd, pre, samp {
	font-family: monospace, monospace;
	font-size: 1em
}
button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0
}
button {
	overflow: visible
}
button, select {
	text-transform: none
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer
}
button[disabled], html input[disabled] {
	cursor: default
}
button::-moz-focus-inner, input::-moz-focus-inner {
border:0;
padding:0
}
input {
	line-height: normal
}
input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
height:auto
}
input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
-webkit-appearance:none
}
fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em
}
legend {
	border: 0;
	padding: 0
}
textarea {
	overflow: auto
}
optgroup {
	font-weight: bold
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
td, th {
	padding: 0
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0
}
input, textarea, select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
*font-size:100%
}
img {
	vertical-align: bottom
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal
}
ul {
	list-style: none
}
caption, th {
	text-align: left
}
q:before, q:after {
	content: ''
}
abbr, acronym {
	border: 0;
	font-variant: normal
}
sup {
	vertical-align: text-top
}
sub {
	vertical-align: text-bottom
}
.leftNav {
	width: 100%;
	overflow: hidden;
	background-color: #fff
}
.leftNav .rankItem {
	width: 100%;
	width: 160px \9;
	float: left \9;
	height: 3000px;
	overflow: hidden;
	margin: 0 0 20px;
	margin: 0 0 50px\9;
	padding: 0;
	border: 1px solid #dfdfdf;
	border-top: 3px solid #301e21
}
.leftNav .rankItem iframe {
	margin: 0;
	height: 99%;
	width: 100%;
	overflow: hidden;
	padding: 0 1px 0;
	display: block;
	float: left;
	background-color: #fff
}
.leftNav .rankItem span {
	width: 100%;
	background-color: #e84925;
	color: #fff;
	display: block;
	text-align: center;
	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 2;
	font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif
}

@media only screen and (min-width: 166px) {
.leftNav .rankItem {
	width: 50%;
	float: left
}
}
.leftNav .otherInfo {
	width: 100%;
	width: 158px \9;
	float: left;
	margin: 30px 0;
	margin: 0 0 0 6px \9;
	padding: 0
}

@media only screen and (min-width: 166px) {
.leftNav .otherInfo {
	margin: 0 0 30px;
	width: 47%;
	padding: 0 0 0 2%
}
}
.leftNav .calender {
	margin: 30px 0 0;
	background-color: #fff;
	clear: both;
	overflow: hidden
}
.leftNav .calender p {
	margin: 0px 0px 0px 0px;
	margin: 0rem 0rem 0rem 0rem;
	text-align: center
}
.leftNav .calender p .sat {
	color: #b4c4d7
}
.leftNav .calender p .sun {
	color: #c0b293
}
.leftNav .calender b {
	font-weight: normal;
	font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif
}
.leftNav .calender hr {
	border: none;
	border-bottom: 1px solid #301e21;
	margin: 0 0 10px;
	padding: 0
}
.leftNav .calender .cal_wrapper {
	display: block;
	float: right;
	margin: 0;
	width: 100%;
	position: relative
}
.leftNav .calender .cal_wrapper table.cal {
	padding: 0;
	width: 100%;
	margin: 0px 10px 0px 0px;
	margin: 0rem 0.625rem 0rem 0rem
}
.leftNav .calender .cal_wrapper table.cal tr th p {
	float: left;
	padding: 5px 0 0;
	margin: 0;
	color: #666;
	font-size: 10px;
	font-size: 0.625rem;
	line-height: 1.5
}
.leftNav .calender .cal_wrapper table.cal tr th div.cal_ui {
	float: right;
	font-size: 10px;
	font-size: 0.625rem;
	line-height: 0
}
.leftNav .calender .cal_wrapper table.cal tr th div.cal_ui input {
	background-color: #efefef;
	border-style: none;
	font-size: 10px;
	font-size: 0.625rem;
	line-height: 1;
	margin: 0px 1px;
	padding: 1px 5px;
	color: #301e21
}
.leftNav .calender .cal_wrapper table.cal tr td {
	border-top: solid 1px #EEE;
	font-size: 10px;
	text-align: center;
	padding: 0
}
.leftNav .calender .cal_wrapper table.cal tr td div {
	font-size: 10px;
	font-size: 0.625rem;
	line-height: 1.5;
	text-align: center
}
.leftNav .calender .cal_wrapper table.cal tr td div span {
	display: none;
	position: absolute;
	top: 20px;
	right: 10px;
	width: 130px;
	border: solid 1px #EEE;
	background-color: #FFF;
	text-align: left;
	padding: 5px;
	z-index: 10;
	color: #000;
	font-weight: normal;
	line-height: 1.5em;
	box-shadow: 1px 1px 3px #666
}
.leftNav .calender .cal_wrapper table.cal tr td div.Sat {
	color: #301e21;
	background-color: #b4c4d7
}
.leftNav .calender .cal_wrapper table.cal tr td div.Sun {
	color: #301e21;
	background-color: #c0b293
}
.leftNav .calender .cal_wrapper table.cal tr td div.Today {
	font-weight: bolder
}
.leftNav .calender .cal_wrapper table.cal tr td div.Deli {
	background-color: #EFE
}
.leftNav .calender .cal_wrapper table.cal tr td div.Holyday {
	background-color: #cebfbb;
	color: #301e21
}
.leftNav .calender .cal_wrapper table.cal tr td div.Birthday {
	font-weight: bolder;
	color: #090;
	border-radius: 3px
}
.leftNav .calender .cal_wrapper table.cal tr td div.backward {
	color: #cebfbb;
	font-weight: normal;
	border-radius: 3px
}
.leftNav .calender .cal_wrapper table.cal tr td div.pointer {
	cursor: pointer
}
.leftNav .calender .cal_wrapper table.cal tr td div.pointer:hover {
	background-color: #cebfbb;
	color: #301e21
}
.leftNav .calender .cal_wrapper table.cal tr.headline td {
	padding: 5px 0px;
	color: #666;
	background-color: #EEE
}
.leftNav ul {
	overflow: hidden
}
.leftNav ul.service {
	width: 100%
}
.leftNav ul.service li {
	width: 100%;
	padding: 0;
	margin: 0 0 10px
}
.leftNav ul.service li a .gift {
	width: 165px;
	height: 80px;
	background: url("http://image.rakuten.co.jp/dentouhonpo/cabinet/leftnavi/cmn_lft_gift_min.jpg") no-repeat
}
.leftNav ul.service li a .comp {
	width: 165px;
	height: 80px;
	background: url("http://image.rakuten.co.jp/dentouhonpo/cabinet/leftnavi/cmn_lft_comp_min.jpg") no-repeat
}
.leftNav ul.service li a .sea {
	width: 165px;
	height: 80px;
	background: url("http://image.rakuten.co.jp/dentouhonpo/cabinet/leftnavi/cmn_lft_sea_min.jpg") no-repeat
}
.leftNav ul.service li a .fax_order {
	width: 165px;
	height: 80px;
	background: url("http://image.rakuten.co.jp/dentouhonpo/cabinet/leftnavi/cmn_lft_fax_min.jpg") no-repeat
}
.leftNav ul.service li a:hover {
	outline: 4px solid #cebfbb;
	outline-offset: -4px
}

@media screen and (min-width: 166px) {
.leftNav ul.service li {
	width: 100%;
	padding: 0;
	margin: 0 0 10px
}
.leftNav ul.service li a .gift {
	width: 330px;
	height: 160px;
	background: url("http://image.rakuten.co.jp/dentouhonpo/cabinet/leftnavi/cmn_lft_gift.jpg") no-repeat
}
.leftNav ul.service li a .comp {
	width: 330px;
	height: 160px;
	background: url("http://image.rakuten.co.jp/dentouhonpo/cabinet/leftnavi/cmn_lft_comp.jpg") no-repeat
}
.leftNav ul.service li a .sea {
	width: 330px;
	height: 160px;
	background: url("http://image.rakuten.co.jp/dentouhonpo/cabinet/leftnavi/cmn_lft_sea.jpg") no-repeat
}
.leftNav ul.service li a .fax_order {
	width: 330px;
	height: 160px;
	background: url("http://image.rakuten.co.jp/dentouhonpo/cabinet/leftnavi/cmn_lft_fax.jpg") no-repeat
}
}
.leftNav ul li {
	text-indent: 0;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	width: 147px;
	float: left\9;
	margin: 0px 0px 0px 0px;
	margin: 0rem 0rem 0rem 0rem;
	padding: 0 6px
}
.leftNav ul li a {
	width: 100%;
	display: block;
	font-size: 11px;
	font-size: 0.6875rem;
	line-height: 1.8;
	-webkit-transition: 0.2s;
	transition: 0.2s;
	text-decoration: none;
	color: #301e21
}
.leftNav ul li a span {
	float: left;
	margin: 0px 8px 0px 0px;
	margin: 0rem 0.5rem 0rem 0rem;
	padding: 0px 0px 0px 6px;
	padding: 0rem 0rem 0rem 0.375rem;
	font-size: 8px;
	font-size: 0.5rem;
	line-height: 1.8;
	color: #cebfbb
}
.leftNav ul li a:hover {
	background-color: #f4f0e6
}
.leftNav ul li a:hover span {
	margin: 0px 8px 0px 0px;
	margin: 0rem 0.5rem 0rem 0rem
}
.leftNav ul li#category:hover, .leftNav ul li#event:hover, .leftNav ul li#budget:hover, .leftNav ul li#type:hover, .leftNav ul li#return:hover, .leftNav ul li#pro:hover, .leftNav ul li#ymnk:hover {
	background: none
}
.leftNav ul li#category a:hover, .leftNav ul li#event a:hover, .leftNav ul li#budget a:hover, .leftNav ul li#type a:hover, .leftNav ul li#return a:hover, .leftNav ul li#pro a:hover, .leftNav ul li#ymnk a:hover {
	background-color: none
}
.leftNav ul li#category a {
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: 0px -92px;
	width: 165px;
	height: 36px
}
.leftNav ul li#event a {
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: -175px -46px;
	width: 165px;
	height: 36px
}
.leftNav ul li#budget a {
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: -340px -276px;
	width: 165px;
	height: 36px
}
.leftNav ul li#type a {
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: -340px -414px;
	width: 165px;
	height: 36px
}
.leftNav ul li#return a {
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: -340px -322px;
	width: 165px;
	height: 36px
}
.leftNav ul li#ymnk a {
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: -340px -230px;
	width: 165px;
	height: 36px
}
.leftNav ul li#pro a {
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: 0px 0px;
	width: 165px;
	height: 36px
}

@media only screen and (min-width: 166px) {
.leftNav ul li#category a {
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: -175px 0px;
	width: 330px;
	height: 36px
}
.leftNav ul li#event a {
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: -175px -92px;
	width: 330px;
	height: 36px
}
.leftNav ul li#budget a {
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: 0px -276px;
	width: 330px;
	height: 36px
}
.leftNav ul li#type a {
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: -515px 0px;
	width: 330px;
	height: 36px
}
.leftNav ul li#return a {
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: 0px -414px;
	width: 330px;
	height: 36px
}
.leftNav ul li#pro a {
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: 0px -322px;
	width: 330px;
	height: 36px
}
.leftNav ul li#ymnk a {
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: 0px -230px;
	width: 330px;
	height: 36px
}
}
.leftNav ul li#type, .leftNav ul li#category, .leftNav ul li#budget, .leftNav ul li#event, .leftNav ul li#return, .leftNav ul li#pro, .leftNav ul li#ymnk {
	width: 100%;
	padding: 0
}
.leftNav ul li#type a, .leftNav ul li#category a, .leftNav ul li#budget a, .leftNav ul li#event a, .leftNav ul li#return a, .leftNav ul li#pro a, .leftNav ul li#ymnk a {
	display: block;
	margin: 20px 0 5px;
	height: 36px
}
.leftNav ul li#type a:hover, .leftNav ul li#category a:hover, .leftNav ul li#budget a:hover, .leftNav ul li#event a:hover, .leftNav ul li#return a:hover, .leftNav ul li#pro a:hover, .leftNav ul li#ymnk a:hover {
	background-color: #f4f0e6
}
.leftNav ul li.genreName {
	width: 96%;
	padding: 2%
}
.leftNav ul li.table, .leftNav ul li.tea, .leftNav ul li.dish, .leftNav ul li.beer, .leftNav ul li.rice, .leftNav ul li.flower, .leftNav ul li.plate, .leftNav ul li.aroma, .leftNav ul li.interior, .leftNav ul li.item, .leftNav ul li.stand, .leftNav ul li.cup, .leftNav ul li.ymtea, .leftNav ul li.ymrice, .leftNav ul li.ymlunch, .leftNav ul li.ymplate, .leftNav ul li.ymboard, .leftNav ul li.ymtable, .leftNav ul li.ymcat, .leftNav ul li.ymflower, .leftNav ul li.yminterior {
	width: 100%;
	border-top: 1px dashed #dfdfdf;
	padding: 10px 0px 0px 0px;
	padding: 0.625rem 0rem 0rem 0rem;
	margin: 20px 0px 5px 0px;
	margin: 1.25rem 0rem 0.3125rem 0rem
}
.leftNav ul li.table a, .leftNav ul li.tea a, .leftNav ul li.dish a, .leftNav ul li.beer a, .leftNav ul li.rice a, .leftNav ul li.flower a, .leftNav ul li.plate a, .leftNav ul li.aroma a, .leftNav ul li.interior a, .leftNav ul li.item a, .leftNav ul li.stand a, .leftNav ul li.cup a, .leftNav ul li.ymtea a, .leftNav ul li.ymrice a, .leftNav ul li.ymlunch a, .leftNav ul li.ymplate a, .leftNav ul li.ymboard a, .leftNav ul li.ymtable a, .leftNav ul li.ymcat a, .leftNav ul li.ymflower a, .leftNav ul li.yminterior a {
	text-indent: -9999px
}
.leftNav ul li.table, .leftNav ul li.ymtea {
	border: none;
	padding: 0px 0px 0px 0px;
	padding: 0rem 0rem 0rem 0rem;
	margin: 6px 0px 6px 0px;
	margin: 0.375rem 0rem 0.375rem 0rem
}
.leftNav ul li.table a {
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: -660px -298px;
	width: 135px;
	height: 32px
}
.leftNav ul li.tea a {
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: -515px -340px;
	width: 135px;
	height: 32px
}
.leftNav ul li.dish a {
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: -660px -172px;
	width: 135px;
	height: 32px
}
.leftNav ul li.beer a {
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: -515px -88px;
	width: 135px;
	height: 32px
}
.leftNav ul li.rice a {
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: -660px -214px;
	width: 135px;
	height: 32px
}
.leftNav ul li.flower a {
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: -515px -46px;
	width: 135px;
	height: 32px
}
.leftNav ul li.plate a {
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: -515px -214px;
	width: 135px;
	height: 32px
}
.leftNav ul li.aroma a {
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: -515px -256px;
	width: 135px;
	height: 32px
}
.leftNav ul li.interior a {
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: -660px -256px;
	width: 135px;
	height: 32px
}
.leftNav ul li.item a {
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: -660px -340px;
	width: 135px;
	height: 32px
}
.leftNav ul li.stand a {
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: -515px -298px;
	width: 135px;
	height: 32px
}
.leftNav ul li.cup a {
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: -515px -382px;
	width: 135px;
	height: 32px
}
.leftNav ul li.ymtea a {
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: -660px -46px;
	width: 135px;
	height: 32px
}
.leftNav ul li.ymrice a {
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: -515px -130px;
	width: 135px;
	height: 32px
}
.leftNav ul li.ymlunch a {
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: -515px -172px;
	width: 135px;
	height: 32px
}
.leftNav ul li.ymplate a {
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: -660px -130px;
	width: 135px;
	height: 32px
}
.leftNav ul li.ymboard a {
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: -660px -382px;
	width: 135px;
	height: 32px
}
.leftNav ul li.ymtable a {
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: -660px -88px;
	width: 135px;
	height: 32px
}
.leftNav ul li.ymcat a {
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: -515px -424px;
	width: 135px;
	height: 32px
}
.leftNav ul li.ymflower a {
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: -660px -424px;
	width: 135px;
	height: 32px
}
.leftNav ul li.yminterior a {
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: -350px -46px;
	width: 135px;
	height: 32px
}

@media screen and (min-width: 166px) {
.leftNav li {
	float: left
}
}
.leftNav iframe {
	width: 99%;
	margin: 0;
	overflow: hidden;
	border: none;
	padding: 0
}
.leftNav iframe#fb {
	margin: 0 0 20px \9;
	height: 370px;
	border-bottom: 1px solid #ababab
}
.leftNav .media {
	margin: 50px 0px 0px 0px;
	margin: 3.125rem 0rem 0rem 0rem
}
.leftNav .media img {
	display: block;
	margin: 15px auto
}
.leftNav .media p span {
	display: block;
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: 0px -184px;
	width: 165px;
	height: 36px
}

@media only screen and (min-width: 166px) {
.leftNav .media p span {
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: -175px -184px;
	width: 330px;
	height: 36px
}
}
.leftNav .media a {
	color: #301e21
}
.leftNav .media a ul li {
	font-size: 10px;
	font-size: 0.625rem;
	line-height: 1.5;
	margin: 6px 0px 0px 0px;
	margin: 0.375rem 0rem 0rem 0rem
}
.leftNav .media a:hover {
	text-decoration: underline
}
.leftNav p.season {
	margin: 50px 0 0
}
.leftNav p.season span {
	display: block;
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: -340px -368px;
	width: 165px;
	height: 36px
}

@media only screen and (min-width: 166px) {
.leftNav p.season span {
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: 0px -460px;
	width: 330px;
	height: 36px
}
}
.leftNav p.ranking {
	margin: 50px 0 0
}
.leftNav p.ranking span {
	display: block;
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: 0px -46px;
	width: 165px;
	height: 36px
}

@media only screen and (min-width: 166px) {
.leftNav p.ranking span {
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: 0px -368px;
	width: 330px;
	height: 36px
}
}
.leftNav ul#event {
	background-color: #efefef;
	width: 96%;
	padding: 2%;
	margin: 20px 0
}
.leftNav ul#event li {
	padding: 5px;
	margin: 0;
	float: left
}
.leftNav ul#event li a img {
	width: 100%;
	height: 100%
}
.leftNav ul#ranking {
	background-color: #efefef;
	width: 96%;
	padding: 2% 2% 6%;
	margin: 20px 0 40px
}
.leftNav ul#ranking li {
	padding: 5px;
	margin: 0;
	float: left
}
.leftNav ul#ranking li p {
	margin: 5px 0;
	font-size: 11px;
	font-size: 0.6875rem;
	line-height: 1.5
}
.leftNav ul#ranking li span {
	display: block;
	margin: 10px auto 4px
}
.leftNav ul#ranking li span.rank01 {
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: -805px -382px;
	width: 29px;
	height: 23px
}
.leftNav ul#ranking li span.rank02 {
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: -805px -424px;
	width: 29px;
	height: 23px
}
.leftNav ul#ranking li span.rank03 {
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: -805px -340px;
	width: 29px;
	height: 23px
}
.leftNav ul#ranking li span.rank04 {
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: -805px -298px;
	width: 29px;
	height: 23px
}
.leftNav ul#ranking li span.rank05 {
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: -805px -256px;
	width: 29px;
	height: 23px
}
.leftNav ul#ranking li span.rank06 {
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: -805px -214px;
	width: 29px;
	height: 23px
}
.leftNav ul#ranking li a img {
	max-width: 100%;
behavior:expression((function( el ) {
el.style.width = el.clientWidth < 600 ? '100%' : '100%';
el.runtimeStyle.behavior = 'none';
}
)( this ))
}
.leftNav div.careful {
	width: 91%;
	margin: auto;
	padding: 4%;
	border: 1px solid #dfdfdf
}
.leftNav div.careful strong {
	color: #301e21;
	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 1.5;
	margin: 10px 0 15px;
	display: block
}
.leftNav div.careful p {
	font-size: 11px;
	font-size: 0.6875rem;
	line-height: 1.5;
	margin: 0 0 10px
}
.leftNav div.careful em {
	font-size: 10px;
	font-size: 0.625rem;
	line-height: 1.5
}
.leftNav div.careful ol {
	font-size: 11px;
	font-size: 0.6875rem;
	line-height: 1.5;
	list-style-position: inside;
	text-indent: 0;
	padding: 0
}
.leftNav div.careful ol li {
	margin: 0 0 10px;
	width: 100%
}
.leftNav div.careful hr {
	width: 100%;
	clear: both;
	border: none;
	border-bottom: 1px dashed #cebfbb
}
.leftNav .contact a span {
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: 0px -506px;
	width: 115px;
	height: 22px
}
.leftNav .question a span {
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: -630px -466px;
	width: 112px;
	height: 22px
}
.leftNav .noshi a span {
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: -340px -460px;
	width: 127px;
	height: 22px
}
.leftNav .ymnk a span {
	background-image: url(../img/sprites/spritesheet_leftnav.png);
	background-position: -515px -466px;
	width: 105px;
	height: 22px
}
.leftNav .subContents {
	background-color: #301e21;
	width: 100%;
	margin: 10px 0
}
.leftNav .subContents a {
	color: #fff;
	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 1.5;
	text-decoration: none;
	text-align: center;
	display: block;
	-webkit-transition: 0.2s;
	transition: 0.2s;
	padding: 8px 0
}
.leftNav .subContents a:hover {
	background-color: #e84925
}
.leftNav .subContents a span {
	display: block;
	margin: 0 auto
}
.leftNav .subContents a.txt {
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif
}
