@charset "UTF-8";
/* ボックス指定 */
/* 透明度指定 */
/* アニメーション指定 */
/* 角丸指定 */
/*
```
<body>
<div id="maincolor">メインカラー</div>
<div id="basecolor">ベースカラー</div>
<div id="subcolor01">サブカラー01</div>
<div id="subcolor02">サブカラー02</div>
<div id="subcolor03">サブカラー03</div>
<div id="accentcolor">アクセントカラー</div>
<div id="text-basecolor">テキスト　ベースカラー</div><br><br><br><br><br>

<h2>注文方法</h2>
<h3 class="bc">お買い物手順</h3>
<ul> <li>1.商品を探す</li> <li>2.買い物カゴへ入れる</li> <li>3.注文する</li> <li>4.注文情報を入力する </li> <li>5.注文内容を確認する</li> <li>6.商品をお届け</li>
</ul>

<h3 class="bc">お届けまでの流れ</h3>
<h4>1.ご注文</h4>
<p>ご注文確認後、当店から<a>「ご注文ありがとうございます」</a>メールをお送りします。 
ご注文内容・お届け先など間違いが無いか<em>再度ご確認</em>下さい。 </p>

<strong>クレジットカード決済をされるかたに大事なお知らせ</strong> <table> <tr> <td>クレジット決済<br>※当日・または翌営業日に発送致します(土日を除く)</td> <td>&yen;0&nbsp;当店負担</td> </tr> <tr> <td>NP後払い</td> <td>&yen;216&nbsp;お客様負担</td> </tr> <tr> <td>代金引換 </td> <td>&yen;324&nbsp;お客様負担</td> </tr> </table>
<small>※ ご指定いただいた場合は、ご指定日のお届け予定となります。</small>

<ul class="careful"> <li>宛名のご指定がない場合は、「ご注文者様のお名前」にて発行させて頂きます。</li> <li>日付無し・金額ゼロ・宛名なし・上様などのご希望には添えかねますのでご了承下さい。</li> <li>領収書の金額は商品代金＋消費税＋送料の合計となります。但し、ポイントを利用された場合は、合計金額からポイント使用分を引いた金額となります。</li> <li>領収書は商品の「出荷日」にて作成しております。</li>
</ul>


<em class="question">Q.海外配送には対応していますか。</em>
<em class="answer">はい、対応しています。</em>
<p>当店は楽天国際〜に登録しております。</p>
</body>
```
*/
body { font: 16px/1.5 "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; color: #301e21; word-wrap: break-word; -webkit-text-size-adjust: 100%; /* 回りこみ解除clearfix用クラス */ }
body #maincolor, body #basecolor, body #subcolor01, body #subcolor02, body #subcolor03, body #accentcolor, body #text-basecolor { width: 60px; height: 60px; border: 1px dotted #000; float: left; margin: 10px; font-size: 10px; text-align: center; }
body .cf { /* IE6/7対策 */ zoom: 1; }
body .cf:before, body .cf:after { content: ""; display: table; }
body .cf:after { clear: both; }
body #text-basecolor { background-color: #f4f0e6; }
body #maincolor { background-color: #e84925; }
body #basecolor { background-color: #ffffff; }
body #subcolor01 { background-color: #cebfbb; }
body #subcolor02 { background-color: #b4c4d7; }
body #subcolor03 { background-color: #c0b293; }
body #accentcolor { background-color: #301e21; color: #ffffff; }
body h1, body h2, body h3, body h4, body h5, body strong { font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif; font-weight: normal; }
body h1, body h2 { font-size: 26px; /* IE8以下対策 */ /* *font-size: ($s * 10) * 2 + px; */ font-size: 1.625rem; line-height: 3; }
body h3 { font-size: 16px; /* IE8以下対策 */ /* *font-size: ($s * 10) * 2 + px; */ font-size: 1rem; line-height: 2; }
body h3.bc { text-indent: .5em; background-color: #f4f0e6; }
body h4 { font-size: 15px; /* IE8以下対策 */ /* *font-size: ($s * 10) * 2 + px; */ font-size: 0.9375rem; line-height: 2; text-indent: .5em; }
body h5 { font-size: 12px; /* IE8以下対策 */ /* *font-size: ($s * 10) * 2 + px; */ font-size: 0.75rem; line-height: 1.5; }
body p { font-size: 12px; /* IE8以下対策 */ /* *font-size: ($s * 10) * 2 + px; */ font-size: 0.75rem; line-height: 1.5; }
body blockquote { font-size: 12px; /* IE8以下対策 */ /* *font-size: ($s * 10) * 2 + px; */ font-size: 0.75rem; line-height: 1.5; }
body strong { font-size: 15px; /* IE8以下対策 */ /* *font-size: ($s * 10) * 2 + px; */ font-size: 0.9375rem; line-height: 2; color: #e84925; }
body img { border: none; }
body em { font-size: 12px; /* IE8以下対策 */ /* *font-size: ($s * 10) * 2 + px; */ font-size: 0.75rem; line-height: 1.5; color: #e84925; font-weight: bold; }
body em.question { border-left: 4px solid #b4c4d7; color: #301e21; padding: .3rem 0; display: block; background-color: #d7e4f3; text-indent: .6rem; }
body em.answer { border-left: 4px solid #cebfbb; background-color: #cebfbb; color: #301e21; padding: .3rem 0; background-color: #f4f0e6; text-indent: .6rem; }
body small { font-size: 11px; /* IE8以下対策 */ /* *font-size: ($s * 10) * 2 + px; */ font-size: 0.6875rem; line-height: 1.75; font-weight: bold; color: #e84925; }
body a { color: #e84925; text-decoration: underline; }
body a:hover { text-decoration: none; }
body ul, body ol { font-size: 12px; /* IE8以下対策 */ /* *font-size: ($s * 10) * 2 + px; */ font-size: 0.75rem; line-height: 2; text-indent: .5em; }
body ul.careful { list-style-type: disc; list-style-position: inside; padding: 1em; border: 1px dashed #cebfbb; }
body ul.careful li { padding-left: 1em; text-indent: -1em; }
body table td { border: 1px solid #cebfbb; font-size: 12px; /* IE8以下対策 */ /* *font-size: ($s * 10) * 2 + px; */ font-size: 0.75rem; line-height: 1.5; font-weight: normal; padding: 1em 2em; vertical-align: middle; }

html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

body { margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }

audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

a { background: transparent; }

a:active, a:hover { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

h1 { font-size: 2em; margin: 0.67em 0; }

mark { background: #ff0; color: #000; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

img { border: 0; }

svg:not(:root) { overflow: hidden; }

figure { margin: 1em 0px; }

hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }

pre { overflow: auto; }

code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }

button { overflow: visible; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

input { line-height: normal; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

legend { border: 0; padding: 0; }

textarea { overflow: auto; }

optgroup { font-weight: bold; }

table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0; padding: 0; }

input, textarea, select { font-family: inherit; font-size: inherit; font-weight: inherit; *font-size: 100%; }

img { vertical-align: bottom; }

address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal; }

ul { list-style: none; }

caption, th { text-align: left; }

q:before, q:after { content: ''; }

abbr, acronym { border: 0; font-variant: normal; }

sup { vertical-align: text-top; }

sub { vertical-align: text-bottom; }
