@import "../../../styleguide/_scss/styleguide.scss";
@charset "UTF-8";
/* CSS Document */

/* wrapContents */
.recomm{
    width: 980px;
    margin: 0 auto;
    font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;

    i{
        display: block;
        margin: 0 auto 0;
        @include fsize(14,2);
        font-style: normal;
    }

    
    h1{
        display: block;
        font-weight: normal;
        margin: 0 auto;
        padding: 20px 0 0;
        text-align: center;
        @include fsize(28,1.5);
        font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
    }



    //タブ切り替え
    .main{
        padding: 0 0 40px;
        #slideshow{
            margin: 0px auto 0px;
        }
    }

    p.catch{
        display: block;
        width: 350px;
        font-size: 220%;
        line-height: 130%;
        text-align: center;
        margin: 0 auto 20px;
        font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
        border-top: 1px dashed $sbc01;
        border-bottom: 1px dashed $sbc01;
        padding: 10px 0 5px;
        span{
            font-size: 50%;
        }
    }

    /* 法人用タブメニュー */
    .comp div div ul.tabbernav li{
        a{
            border: 1px solid $acc;
            border-bottom: none;
            color: $acc;
            background: $acc;
            text-decoration: none;
            text-align: center;
            font-size: 110%;
            -webkit-border-radius: 2px 2px 0 0;
            border-radius: 2px 2px 0 0;
            -webkit-box-shadow:inset 0 -2px 8px 0 rgba(0,0,0,0.2);
            box-shadow:inset 0 -2px 8px 0 rgba(0,0,0,0.2);
            &:link{
                color: $bc;
            }
            &:visited{
                color: $bc;
            }
            &:hover{
                color: $acc;
                background: $bc;
                -webkit-box-shadow:none;
                box-shadow:none;
            }
        }
        &.tabberactive a{
            color: $mc;
            background-color: $bc;
            border-bottom: 1px solid #fff;
            -webkit-box-shadow:none;
            box-shadow:none;
            &:hover{
                color: $mc;
                background: white;
                border-bottom: 1px solid white;
            }
        }
    }
    .comp div div .tabbertab{
        div{
            border: 1px solid $acc;
        }
    }
    ul.tabbernav
    {
        text-indent: 0;
        width: 980px;
        margin:20px auto 0;
        padding: 0;
        font: normal 12px Verdana, sans-serif;
        li{
            list-style: none;
            margin: 0;
            display: inline;
            position: relative;
            a{
                font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
                position: relative;
                top: 1px;
                display: block;
                float: left;
                width: 101px;
                padding: 6px 0;
                margin-left:5px;
                border: 1px solid $sbc01;
                border-bottom: none;
                background: $mc;
                text-decoration: none;
                text-align: center;
                font-size: 110%;
                -webkit-border-radius: 2px 2px 0 0;
                border-radius: 2px 2px 0 0;
                -webkit-box-shadow:inset 0 -2px 8px 0 rgba(0,0,0,0.2);
                box-shadow:inset 0 -2px 8px 0 rgba(0,0,0,0.2);
                &:link{
                    color: $bc;
                }
                &:visited{
                    color: $bc;
                }
                &:hover{
                    color: $mc;
                    background: $bc;
                    -webkit-box-shadow:none;
                    box-shadow:none;
                }
            }
        }
        li:nth-child(odd){
            a{
                background: #f97a5d;
                &:hover{
                    color: $mc;
                    background: $bc;

                    -webkit-box-shadow:none;
                    box-shadow:none;
                }
            }
        }

        li.tabberactive a{
            color: $mc;
            background-color: $bc;
            border-bottom: 1px solid #fff;
            -webkit-box-shadow:none;
            box-shadow:none;
            &:hover{
                color: $mc;
                background: white;
                border-bottom: 1px solid white;
            }
        }
    }
    .tabbertabhide {
        display:none;
    }
    .tabbertab{
        h2 {
            display:none;
        }

        div{        
            font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
            width: 940px;
            height: 340px;
            border: 1px solid $sbc01;
            padding: 10px 20px 0;
            margin: 0 auto ;
            background-color: #fff;
            clear: both;
            ul{
                text-indent: 0;
                overflow: hidden;
                margin: 0;
                li{
                    overflow: hidden;
                    width: 163px;
                    margin-left: 30px;
                    float: left;
                    display: block;
                    font-size: 90%;

                    a{
                        text-decoration: none;
                        color: #000;
                        &:hover{
                            color: $acc;
                            letter-spacing: 0em;
                        }
                    }
                    p:first-child{
                        text-align: center;
                        img{
                            width: 29px;
                            height: 23px;
                        }
                    }
                    p{
                        line-height: 140%;
                        span{
                            font-size: 70%;
                        }
                    }
                    img{
                        width: 100%;
                        margin: 5px 0;
                    }
                }
                li:first-child{
                    margin-left: 0;
                }
            }
            p.links{
                font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
                @include fsize(16,1.4);
                display: block;
                margin: 25px auto 0;
                clear: both;
                text-align: center;
                width: 360px;
                height: 30px;
                a{

                    border: 1px solid $sbc01;
                    -webkit-border-radius: 2px;
                    -moz-border-radius: 2px;
                    border-radius: 2px;
                    height: 30px;
                    padding: 10px 16px 0;
                    display: block;
                    color: $acc;
                    text-decoration: none;
                    &:hover{
                        color: $mc;
                        border: 1px dashed $mc;
                    }
                }
            }
        }
    }
}