body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    line-height: 1.5;
}

/* ラジオボタン用 */
td.inventory_choice_name{
    color: #555;
    min-width: 100px;
    padding: 5px 0 5px 0;
}

.inventory font {
    font-size: 80%;
    color: #555;
    line-height: 1.2;
}