@import"../frameworks/css/responsive.gs.24col.css";
@import"../frameworks/_scss/dropdown.scss";


.analyse{
    width:1px;
    height:1px;
}

.cmnftr_if{
    width:100%;
    height:725vw;
    iframe.spft{
    width:100%;
    height:100%;
}
}
.ss_if{
    width:100%;
    height:150vw;
    border:none;
}


.sp{
    @include sizing(100%);
    /* @include padd(0,10,0,10); */
    .navigation__title{
        position: absolute;
        left: 6px;
        top: 0px;
    }
    .navigation__pcview{
        position: absolute;
        top: 10px;
        right: 18%;
    }
    /* サブメニュー */
    .submenu{
        overflow: hidden;
        @include sizing(100%);
        border: none;
        border-top: 1px solid $sbc01;
        border-bottom: 1px solid $sbc01;
        .submenu__cart,.submenu__guide{
            @include sizing(14%);
            float: left;
            border-right: 1px solid $sbc01;
            padding: 2%;
            img{
                display: block;
                margin: 0 auto;
            }
        }
        .submenu__search{
            @include sizing(72%);
            height: 100%;
            float: left;
            .submenu__search__input{
                float: left;
                display: block;
                @include sizing(84%);
                @include fsize(11,3);
                border: none;
                padding: 0 0 0 10px;
                border-right: 1px solid $sbc01;
            }
            .submenu__search__btn{
                background: url("../img/svg/search.svg") 100% 50% no-repeat;
                display: block;
                margin: 0 auto;
                float: left;
                height: 34px;
                @include sizing(12%);
                padding: 1% 2%;
                style:none;
                border: none;
            }
        }
    }


    /* 配送予定のお知らせ */
    .delivery{
        @include fsize(10,1.5);
        border: none;
        border-bottom: 1px solid $sbc01;
        background-color: $bc;
        @include padd(6,4,6,4);
        text-align: center;
        em{
            font-weight: bold;
            color: $mc;
        }
    }
    /* facebook */
    .fb-like{
        padding: 2px 5px 6px;
        display: block;
        overflow: hidden;
    }

    .careful{
        @include fsize(10,1.5);
        border: none;
        border-bottom: 1px solid $sbc01;
        background-color: $bc;
        @include padd(6,4,6,4);
        em{
            font-weight: bold;
            color: $mc;
        }
    }
    
    .giftService{
        overflow: hidden;
        padding: 6px 10px;
        .giftService__txt{
            float: left;
        }
    }
    /* アコーディオン */
    .accordion {
        border: none;
        border-top: 1px solid $sbc01;
        border-bottom: 1px solid $sbc01;
        width:100%;
        margin:0 auto 30px;
        padding:0; 
        font-size:16px;
        dt {
            width: 96%;
            background:url(../img/svg/servicelink.svg) 100% center no-repeat;
            border-bottom:1px solid #EEE;
            height:40px; text-indent:10px; 
            line-height:40px; color:#333;
            font-weight:bold; 
            cursor:pointer;
            @include anm(0.2s);
            img{
                vertical-align: middle;
            }
            &.open {
                background:url(../img/svg/servicelink02.svg) 100% center no-repeat;
            }
        }
        dd{
            background:#FFF;
            padding:10px; 
            line-height:1.5;
            display:none;
            b{
                color: $sbc03;
            }
            a{
                display: block;
                @include fsize(12,2.4);
                width: 100%;
                color: $acc;
                text-decoration: none;
                position: relative;
                border-bottom: 1px dashed $sbc03;
                &:last-child{
                    border: none;
                }
                em{
                    color: $mc;
                    font-weight: bold;
                }
                &.giftService__content{
                    span{
                        display: inline;
                    }
                }
                &:after{
                    content: ">";
                    position: absolute;
                    right: 0;
                    color: $sbc03;
                }
            }
        }
    }

    /* 結婚売れ筋ランキング */
    .monthlyRanking{
        .monthlyRanking__title{
            text-align: center;
            margin:10px 0;
            display: block;
            img{
                padding: 0 10px;
                width: 100%;
            }
        }
        .monthlyRanking__content{
            padding: 15px 10px;
            @include fsize(10,1.5);
            overflow: hidden;
            border-bottom: 1px solid $sbc03;
            &:last-child{
                border: none;
            }
            a{
                color: $acc;
                text-decoration: none;
                h3{
                    @include fsize(12,1.5);
                    font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
                }
                .monthlyRanking__content__image,.monthlyRanking__content__text,.monthlyRanking__content__link{
                    float: left;
                }
                .monthlyRanking__content__image{
                    @include sizing(35%);
                    img{
                        width: 100%;
                    }
                }
                .monthlyRanking__content__text{
                    @include sizing(60%);
                    padding: 0 10px;
                    .monthlyRanking__content__text__price{
                        color: $sbc03;
                    }
                }
                .monthlyRanking__content__link{
                    @include sizing(5%);
                    img{
                        width: 100%;
                    }
                }
            }
        }
        .monthlyRanking__content--pos--top{
            padding: 10px;
        }
    }

    /* スタッフのオススメ */
    .staffRecommend{
        background-color: $tbc;
        margin: 20px 0 0;
        padding: 0 0 20px;
        .staffRecommend__title{
            text-align: center;
            margin:20px 0 10px;
            display: block;
            img{
                width: 100%;
                padding: 0 10px;
            }
        }
        .staffRecommend__content{
            @include fsize(10,1.5);
            overflow: hidden;
            a{
                color: $acc;
                text-decoration: none;
                h3{
                    @include fsize(11,1.5);
                    font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
                }
            }
            .staffRecommend__content__image,.staffRecommend__content__profile,.staffRecommend__content__text{
                padding: 10px 10px 0;
                img{
                    width: 100%;
                }
            }
            .staffRecommend__content__text{
                .monthlyRanking__content__text__price{
                    color: $sbc03;
                }
            }
        }
    }

    /* 旬なイベント */
    .event{
        margin: 20px 0 0;
        padding: 0 10px 20px;
        .event__title{
            text-align: center;
            margin:20px 0 10px;
            display: block;
            img{
                width: 100%;
            }
        }
        .event__content{
            @include fsize(10,1.5);
            overflow: hidden;
            padding: 0 0 10px;
            border-bottom: 1px dashed $sbc03;
            &:last-child{
                border: none;
            }
            a{
                color: $acc;
                text-decoration: none;
                h3{
                    @include fsize(14,1.5);
                    font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
                }
            }
            .event__content__image,.event__content__profile,.event__content__text{
                padding: 10px 0 0;
                img{
                    width: 100%;
                }
            }
            .event__content__text{
                padding: 10px 0 0 10px;
                .event__content__text__date{
                    background-color: $sbc03;
                    line-height: 2.0;
                    color: $bc;
                    display: inline;
                    padding: 3px 4px;
                }
            }
        }
    }


    /* 新着情報 */
    .news{
        margin: 20px 0 0;
        padding: 0 10px 20px;
        .news__title{
            text-align: center;
            margin:0;
            display: block;
            img{
                width: 100%;
            }
        }
        .news__content{
            @include fsize(12,2.0);
            overflow: hidden;
            padding: 0 0 10px;
            margin: 10px 0 0;
            border-bottom: 1px dashed $sbc03;
            &:last-child{
                border: none;
            }

            .news__content__text{
                a{
                    width: 100%;
                    display: block;
                    color: $acc;
                    text-decoration: none;
                    span{
                        @include fsize(10,2.5);
                        background-color: $sbc03;
                        line-height: 2.0;
                        color: $bc;
                        display: inline;
                        clear: both;
                        padding: 3px 4px;
                    }
                }
            }
        }
        .news__fb{
            margin: 20px 0 0;
            width: 100%;
            height: 140px;
            overflow: auto;
            iframe{
                width: 100%;
                height: 140px;
                border: none;
                border-bottom: 1px solid #315c99;
            }
        }
    }
    footer{
        .itemCategory{
            font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
            @include fsize(12,1.5);
            .itemCategory__title{
                h4{
                    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                    font-weight: normal;
                    @include fsize(14,1.5);
                }
                background-color: $mc;
                color: $bc;
                padding: 4px 6px;
            }
            .itemCategory__content{
                ul{
                    li{
                        border-right: 1px solid $mc;
                        border-bottom: 1px solid $mc;
                        padding: 6px 4px;
                        @include anm(0.2s);
                        a{
                            width: 100%;
                            text-align: center;
                            display: block;
                            text-decoration: none;
                            color: $acc;
                        }
                        &:hover{
                            a{
                                color: $bc;
                            }
                            background-color: $mc;
                        }
                        &:nth-child(3n+1){
                            border-left: 1px solid $mc;
                        }

                    }
                }
            }
        }
        .information{
            @include fsize(12,1.5);
            .information__content{
                .information__content__return{
                    background-color: $mc;
                    position: relative;
                    a{
                        display: block;
                        color: $bc;
                        text-align: center;
                        text-decoration: none;
                        padding: 6px 0;
                        width: 40%;
                        margin: 0 auto;
                    }
                    .wf{
                        width: auto;
                        .fs1 {
                            @include fsize(23.4,1);
                            border: none;
                            float: right;
                            line-height: 0rem;
                            padding: 0;
                            margin: 0;
                            position: relative;
                            bottom: 2px;
                            color: $bc;
                        }
                    }
                }
            }
            ul {
                text-indent: 0;
                li {
                    @include sizing(50%);
                    display: block;
                    float: left;
                    border: 1px solid $acc;
                    border-top: none;
                    border-left: none;
                    padding: 10px;
                    background-color: $bc;
                    a {
                        color: $acc;
                        text-decoration: none;
                        display: block;
                        text-align: center;
                    }
                }
            }
            .info{
                li{
                    a{
                        text-decoration: none;
                        line-height: 1.6rem;
                        display: block;
                        width:80%;
                        margin: auto;
                        .wf{
                            width: auto;
                            .fs1 {
                                @include fsize(23.4,1);
                                border: none;
                                float: right;
                                line-height: 0rem;
                                padding: 0;
                                margin: 0 auto;
                                color: $mc;
                            }
                        }
                    }
                }
            }
            address {
                background-color: $bc;
                small{
                    color: $acc;
                    font-weight: normal;
                }
                ul {
                    li {
                        @include sizing(33.3%);
                        display: block;
                        float: left;
                        border: 1px solid $acc;
                        border-right: none;
                        text-align: center;
                        &:first-child {
                            @include sizing(100%);
                            border-bottom: none;
                            a{
                                display: block;
                                width: 50%;
                                margin: 0 auto;
                                text-align: center;
                                .wf{
                                    width: 100px;
                                    margin: 0 auto;
                                    .fs1 {
                                        line-height: 1.5rem;
                                    }
                                }
                            }
                        }
                        /* &:last-child {
                            @include sizing(100%);
                            border-top: none;
                            padding: 1.5rem 1rem 1rem;
                            #label{
                                color: #aaa;
                                clear: both;
                                display: block;
                            }
                            #form{
                                float: left;
                                @include sizing(90%);
                                height: 30px;
                                border-style: none;
                                border: 1px solid $acc;
                            }
                            .wf{
                                @include sizing(10%);
                                float: left;
                                padding: 0 0 0 0.4rem;
                                position: relative;
                                .fs1 {
                                    position: relative;
                                    line-height: 2.0rem;
                                    @include fsize(25.2,1);
                                    color: $mc;
                                    #btn{
                                        position: absolute;
                                        border-style:none;
                                        width: 1rem;
                                        right: 10px;
                                        @include alpha(0);
                                        background-color: #fff;
                                    }
                                }
                            }
                        } */
                        a{
                            display: block;
                            width: 100%;
                            margin: 0 auto;
                            text-align: center;
                            .wf{
                                width: 60px;
                                margin: 0 auto;
                                .fs1 {
                                    @include fsize(18,1);
                                    border: none;
                                    float: left;
                                    line-height: 0;
                                    padding: 0;
                                    margin: 0 auto;
                                    color: $mc;
                                }
                            }
                        }
                    }
                }
                p {
                    clear: both;
                    margin: 1rem 1rem 0;
                    display: block;
                    overflow: hidden;
                    &:last-child{
                        text-align: center;
                        padding: 0 0 1rem 0 ;
                    }
                    &:first-child{
                        text-align: center;
                        padding: 30px 0 10px;
                        font-size: 1.3rem;
                        font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
                    }
                }
            }
        }
    }
}




.header{
    a{
        width: 100%;
        img{
            max-width: 100%;
            display: block;
            margin: 0 0 10px;
        }
    }
}

/* スライド部分 */
.bx-wrapper {
    position: relative;
    margin: 0 auto 20px;
    padding: 0;
    *zoom: 1;
    max-width: 100%;
    height: 140px;
    img{
        max-width: 100%;
    }
    .slide01,.slide02,.slide03,.slide04,.slide05{
    }
    .bx-window{
        overflow: hidden;
        height: 140px;
    }
    #slider{
        margin: 0 auto;
    }
    .slide{
        opacity:.6;
    }
    .slide.active{ 
        opacity:1;
        -moz-box-shadow: 0 0 5px #ccc;
        -webkit-box-shadow: 0 0 5px #ccc;
        box-shadow: 0 0 5px #ccc;
        /* border: 2px solid $sbc01; */
        -webkit-transform: translatez(0);
        -moz-transform: translatez(0);
        -ms-transform: translatez(0);
        -o-transform: translatez(0);
        transform: translatez(0);
    }

    .bx-viewport {
        overflow: visible !important;
        width: 100%;
    }
    .bx-pager,.bx-controls-auto {
        position: absolute;
        bottom: 10px;
        width: 100%;
        height:40px;
        overflow: hidden;
    }
    .bx-loading {
        min-height: 50px;
        background: url(images/bx_loader.gif) center center no-repeat #fff;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2000;
    }
    .bx-pager {
        text-align: center;
        font-size: .85em;
        font-family: Arial;
        font-weight: bold;
        color: #666;
        padding-top: 20px;
    }
    .bx-pager .bx-pager-item,.bx-controls-auto .bx-controls-auto-item {
        display: inline-block;
        *zoom: 1;
        *display: inline;
    }
    .bx-pager.bx-default-pager a {
        background: $sbc01;
        text-indent: -9999px;
        display: block;
        width: 10px;
        height: 10px;
        margin: 0 5px;
        outline: 0;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        &:hover,&.active{
            background: $acc;
        }
    }
    .bx-prev {
        left: 20px;
    }
    .bx-next {
        right: 20px;
    }
    .bx-controls-direction a {
        position: absolute;
        top: 50%;
        margin-top: -16px;
        outline: 0;
        width: 32px;
        height: 32px;
        text-indent: -9999px;
        z-index: 9999;
        &.disabled {
            display: none;
        }
    }
    .bx-controls-auto {
        text-align: center;
        .bx-start {
            display: block;
            text-indent: -9999px;
            width: 10px;
            height: 11px;
            outline: 0;
            background: url(images/controls.png) -86px -11px no-repeat;
            margin: 0 3px;
            &:hover,&.active {
                background-position: -86px 0;
            }
        }
        .bx-stop {
            display: block;
            text-indent: -9999px;
            width: 9px;
            height: 11px;
            outline: 0;
            background: url(images/controls.png) -86px -44px no-repeat;
            margin: 0 3px;
            &:hover,&.active {
                background-position: -86px -33px;
            }
        }
    }
    .bx-controls .bx-has-controls-auto .bx-has-pager .bx-pager {
        text-align: left;
        width: 80%;
    }
    .bx-controls .bx-has-controls-auto .bx-has-pager .bx-controls-auto {
        right: 0;
        width: 35px;
    }
    .bx-caption {
        position: absolute;
        bottom: 0;
        left: 0;
        background: #666\9;
        background: rgba(80, 80, 80, 0.75);
        width: 100%;
        span {
            color: #fff;
            font-family: Arial;
            display: block;
            font-size: .85em;
            padding: 10px;
        }
    }
}







/* レスポンシブ設定*/
@media ( max-width : 9999px ) {
    .gutters .col {
        margin-left: 2%;
    }
    
    .gutters .col:first-child { 
        margin-left: 0; 
    }
}


@media ( max-width : 9999px ) {
    .span_1 { width: 4.16666666667%; }
    .span_2 { width: 8.33333333333%; }
    .span_3 { width:12.5%; }
    .span_4 { width: 16.6666666667%; }
    .span_5 { width: 20.8333333333%; }
    .span_6 { width: 25%; }
    .span_7 { width: 29.1666666667%; }
    .span_8 { width: 33.3333333333%; }
    .span_9 { width: 37.5%; }
    .span_10 { width: 41.6666666667%; }
    .span_11 { width: 45.8333333333%; }
    .span_12 { width: 50%; }
    .span_13 { width: 54.1666666667%; }
    .span_14 { width: 58.3333333333%; }
    .span_15 { width: 62.5%; }
    .span_16 { width: 66.6666666667%; }
    .span_17 { width: 70.8333333333%; }
    .span_18 { width: 75%; }
    .span_19 { width: 79.1666666667%; }
    .span_20 { width: 83.3333333333%; }
    .span_21 { width: 87.5%; }
    .span_22 { width: 91.6666666667%; }
    .span_23 { width: 95.8333333333%; }
    .span_24 { width: 100%; }
    
    .gutters .span_1 { width: 2.25%; }
    .gutters .span_2 { width: 6.5%; }
    .gutters .span_3 { width: 10.75%; }
    .gutters .span_4 { width: 15.0%; }
    .gutters .span_5 { width: 19.25%; }
    .gutters .span_6 { width: 23.5%; }
    .gutters .span_7 { width: 27.75%; }
    .gutters .span_8 { width: 32.0%; }
    .gutters .span_9 { width: 36.25%; }
    .gutters .span_10 { width: 40.5%; }
    .gutters .span_11 { width: 44.75%; }
    .gutters .span_12 { width: 49.0%; }
    .gutters .span_13 { width: 53.25%; }
    .gutters .span_14 { width: 57.5%; }
    .gutters .span_15 { width: 61.75%; }
    .gutters .span_16 { width: 66.0%; }
    .gutters .span_17 { width: 70.25%; }
    .gutters .span_18 { width: 74.5%; }
    .gutters .span_19 { width: 78.75%; }
    .gutters .span_20 { width: 83.0%; }
    .gutters .span_21 { width: 87.25%; }
    .gutters .span_22 { width: 91.5%; }
    .gutters .span_23 { width: 95.75%; }
    .gutters .span_24 { width: 100%; }
}



