    @charset "UTF-8";
    /* CSS Document */

    @import "style-header.scss";
    @import "footer.scss";
    @import "leftnav-style.scss";
    /* @import "sprite-footer.scss"; */

    $line: solid 1px $sbc01;


    body {
        background: url('../img/cmn_hdr_bg.jpg');
        ul,
        ol {
            text-indent: 0;
        }

        strong {
            font-weight: normal;
            color: #000;
            font-size: 10px;
            margin: 0;
            padding: 0;
            line-height: 0;
        }

        h2.title {
            @include fsize(12,
            2.5);
            text-indent: 0;
            margin: 0 0 0px;
        }

        /* seo leftnav */
        h3 {
            line-height: 1;
        }


        #headerStyle {
            width: 990px;
            margin: 0 auto;
            .campaign {
                margin: 10px 0 0 5px;
            }
            .careful {
                top: 100px;
            }

            /* seo用設定 */
            .hdrLogo {
                position: absolute;
                left: 425px;
            }

            .sideContents {
                margin: 0 0 0;
            }
            /* 休業案内バナー */
            div.holidaybnr {
                /*background: url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/pcbnr_mrtn_coupon.jpg') no-repeat;*/
                background: url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/bnr_emergency.jpg') no-repeat;
                width: 990px;
                height: 155px;
                background-size: 100%;
                clear: both;
                margin: 0 auto 20px;
                display: block;
            }
            div.holidaybnr2 {
                /*background: url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/bnr_emergency.jpg') no-repeat;*/
                /*楽天スーパーセール*/
                background: url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/shippingfreebnr.jpg') no-repeat;
                /* 父の日 */
                width: 980px;
                height: 148px;
                background-size: 100%;
                clear: both;
                margin: 0 auto 20px;
                display: none;
            }
            .linkbnr {
                margin: 20px auto;
                height: 150px;
                clear: both;
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    text-decoration: none;
                }
                background:transparent url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/mg_wraplink_800.jpg') left top no-repeat;
                &.wide {
                    background: transparent url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/campaign/pointup_bnr201711.gif') left top no-repeat;
                    /* width: 990px; */
                    background-size: 100%;
                    width: 840px;
                    height: 165px;
                    margin: 20px auto;
                    display: none;
                }
            }
        }

        .adbnr {
            max-width: 990px;
            display: none;
            margin: 20px auto;
            img {
                display: block;
                width: 100%;
            }
        }


        #mainContents {
            border-top: 1px dotted $sbc03;
            width: 990px;
            margin: 0 auto 30px;
            padding: 30px 0 0;
            overflow: hidden;
            .leftNav {
                background: none;
            }
        }
        iframe#fb {
            margin: 20px 0 0;
        }

        #footerContents {
            background-color: #fff;
            border-top: 1px solid $sbc01;
            width: 100%;
            .wrapContents {
                width: 990px;
                margin: 0 auto;
            }
        }

        #topNav {
            display: block;
            max-width: 165px;
            float: left;

            strong {
                position: absolute;
                opacity: 0;
                filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
            }


            /* SEO用にh2をpに変更 */
            /* p.title{
            @include fsize(16,1.5);
            text-indent: 0;
            line-height: 1;
            margin: 0 0 4px;
            span{
                @include fsize(12,1.5);
                letter-spacing: 1px;
                margin: 0 0 0 0px;
            }
        } */
            h2 {
                @include fsize(16,
                1.5);
                text-indent: 0;
                line-height: 1;
                margin: 0 0 4px;
                span {
                    @include fsize(12,
                    1.5);
                    letter-spacing: 1px;
                    margin: 0 0 0 0px;
                }
            }


            h3 {
                @include fsize(16,
                1.5);
                text-indent: 0;
                line-height: 1;
                margin: 0 0 4px;
                span {
                    @include fsize(12,
                    1.5);
                    letter-spacing: 1px;
                    margin: 0 0 0 0px;
                }
            }

            hr {
                margin: 0;
                border: none;
                border-bottom: 1px solid $sbc03;
                &.short {
                    width: 20%;
                    border-bottom: 2px solid $sbc03;
                }
            }

            /* ギフトサービス */
            .service {
                li {
                    a {
                        text-indent: -9999px;
                        .gift {
                            width: 165px;
                            height: 80px;
                            background: url('https://image.rakuten.co.jp/dentouhonpo/cabinet/leftnavi/cmn_lft_gift_min.jpg') no-repeat;
                        }
                        .comp {
                            width: 165px;
                            height: 80px;
                            background: url('https://image.rakuten.co.jp/dentouhonpo/cabinet/leftnavi/cmn_lft_comp_min.jpg') no-repeat;
                        }
                        .sea {
                            width: 165px;
                            height: 80px;
                            background: url('https://image.rakuten.co.jp/dentouhonpo/cabinet/leftnavi/cmn_lft_sea_min.jpg') no-repeat;
                        }
                        &:hover {
                            outline: 4px solid $sbc01;
                            outline-offset: -4px;
                        }
                        &.ovs {
                            text-indent: 0;
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
            ul li {
                margin: 0;
                padding: 2px 0;
                @include anm(0.2s);
                &:hover {
                    /* background-color: $bc; */
                }
                a {
                    &:hover {
                        /* background-color: $bc; */
                    }
                }
                &#category,
                &#event,
                &#budget,
                &#type,
                &#return,
                &#pro {
                    a {
                        text-indent: -9999px;
                    }
                }
                /* 大カテゴリー */
                &#category {
                    a {
                        margin-bottom: 0;
                        @include sprite($cmn_lft_category);
                    }
                }
                &#event {
                    a {
                        @include sprite($cmn_lft_event);
                    }
                }
                &#budget {
                    a {
                        @include sprite($cmn_lft_budget)
                    }
                }
                &#type {
                    a {
                        @include sprite($cmn_lft_type);
                    }
                }
                &#return {
                    a {
                        @include sprite($cmn_lft_return);
                    }
                }

                /* 匠の器 */
                &#pro {
                    a {
                        @include sprite($cmn_lft_pro);
                    }
                }
            }

            ul#genre {
                margin: 30px 0 0;
                li {
                    a {
                        margin: 0;
                    }
                }
            }
            /* メディア掲載情報 */
            .media {
                @include marg(50,
                0,
                0,
                0);
                img {
                    display: block;
                    margin: 15px auto;
                }
                p {
                    span {
                        display: block;
                        @include sprite($cmn_lft_media);
                    }
                }
            }
            /* 季節限定イベント */
            p.season {
                margin: 50px 0 0;
                span {
                    display: block;
                    @include sprite($cmn_lft_season);
                }
            }
            /* 売れ筋商品 */
            p.ranking {
                margin: 50px 0 0;
                span {
                    display: block;
                    @include sprite($cmn_lft_rank);
                }
            }

            /* 海外向け販売サイト */
            .overSealink {
                ul {
                    li {
                        float: left;
                    }
                }
            }

            .otherInfo {
                @media only screen and (min-width: 166px) {
                    margin: 0 0 10px;
                    padding: 0;
                    width: 87%;
                }
            }
            .overSealink,
            .otherInfo {
                border: none;
                border-left: 1px solid $sbc01;
                border-right: 1px solid $sbc01;
                padding: 10px;
                .noshi,
                .ymnk {
                    a span {
                        text-indent: -9999px;
                    }
                }
                ul {
                    margin: 10px 0 0;
                    width: 100%;
                    li {
                        width: 24px;
                        margin: 0 5px;
                        a {
                            display: block;
                            text-align: center;
                            span {
                                display: block;
                                margin: 0 auto;
                                padding: 0;
                                &.en {
                                    @include sprite($cmn_lft_en);
                                }
                                &.zh {
                                    @include sprite($cmn_lft_zh);
                                }
                                &.ko {
                                    @include sprite($cmn_lft_ko);
                                }
                                &.zhtw {
                                    @include sprite($cmn_lft_zhtw);
                                }
                            }
                        }
                    }
                }
            }
        }
        /* topNav-fin */
        #topContents {
            margin: 3px 0 40px 20px;
            width: 800px;
            float: left;
            overflow: hidden;

            /* seoテスト用 */
            /* p.title{
            @include fsize(16,1.5);
            text-indent: 0;
            line-height: 1;
            margin: 0 0 4px;
            font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
            span{
                float: right;
                @include fsize(10,1.5);
                a{
                    background-color: $sbc01;
                    color: $bc;
                    text-decoration: none;
                    border: 1px solid $sbc01;
                    padding: 3px 6px;
                    @include anm(0.2s);
                    -webkit-border-radius: 2px 2px 2px 2px;
                    border-radius: 2px 2px 2px 2px;
                    &:hover{
                        background-color: $bc;
                        color: $sbc01;
                    }
                }
            }
        } */
            h2 {
                @include fsize(16,
                1.5);
                text-indent: 0;
                line-height: 1;
                margin: 0 0 4px;
                span {
                    float: right;
                    @include fsize(10,
                    1.5);
                    a {
                        background-color: $sbc01;
                        color: $bc;
                        text-decoration: none;
                        border: 1px solid $sbc01;
                        padding: 3px 6px;
                        @include anm(0.2s);
                        -webkit-border-radius: 2px 2px 2px 2px;
                        border-radius: 2px 2px 2px 2px;
                        &:hover {
                            background-color: $bc;
                            color: $sbc01;
                        }
                    }
                }
            }


            hr {
                margin: 0;
                border: none;
                border-bottom: 1px solid $sbc03;
                &.short {
                    display: block;
                    margin: 0 !important;
                    text-align: left;
                    padding: 0;
                    width: 20%;
                    border-bottom: 2px solid $sbc03;
                }
            }
            .topicks {
                margin: 0 0 42px;
                overflow: hidden;
                .service,
                .pickupItem,
                .pickupEvent {
                    width: 250px;
                    float: left;
                    /* background-color: #efefef; */
                }

                /* 法人用コンテンツ */
                .pickupContents,
                .pickupCategory {
                    ul {
                        li {
                            float: left;
                            a {
                                @include anm(0.2s);
                                display: block;
                                -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, .5);
                                box-shadow: 0 0 1px 0 rgba(0, 0, 0, .5);
                                &:hover {
                                    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, .7);
                                    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .7);
                                    outline: 4px solid $bc;
                                    outline-offset: -4px;
                                }
                            }
                        }
                    }
                }
                .pickupContents {
                    width: 525px;
                    float: left;
                    margin: 0 0 25px 25px;
                    overflow: hidden;
                    ul {
                        margin: 4px 0 0 0;
                        li {
                            width: 250px;
                            margin: 6px;
                        }
                    }
                }

                /* 法人用カテゴリ */
                .pickupCategory {
                    width: 800px;
                    margin: 30px 0 0;
                    ul {
                        margin: 10px 0 0 0;
                        li {
                            width: 188px;
                            margin: 0 0 0 15px;
                            &:first-child {
                                margin: 0;
                            }
                        }
                    }
                }


                .service {
                    p {
                        margin: 5px 0 0;
                        @include fsize(11,
                        1.5);
                    }

                    /* seoテスト用 */
                    /* p.title{
                    margin: 0 0 4px;
                    @include fsize(16,1);
                    font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
                } */
                    ul {
                        font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
                        text-indent: 0;
                        height: auto;
                        margin: 10px 0 0;
                        overflow: hidden;
                        /* background-color: #dfdfdf; */
                        li {
                            @include fsize(11,
                            2.4);
                            border: none;
                            border-bottom: 1px solid $sbc01;
                            a {
                                display: block;
                                padding: 2px 2px 2px 0;
                                color: $acc;
                                text-decoration: none;
                                width: 100%;
                                @include anm(0.2s);
                                em {
                                    color: $mc;
                                    @include fsize(14,
                                    1);
                                    display: inline-block;
                                }
                                /* SEO テスト用 */
                                span {
                                    color: $mc;
                                    @include fsize(14,
                                    1);
                                    display: inline-block;
                                    font-weight: bold;
                                }

                                &:hover {
                                    background-color: $sbc01;
                                }
                            }
                            &:first-child {
                                border-top: 1px solid $sbc01;
                            }
                            b {
                                @include fsize(14,
                                1.5);
                                margin: 0 10px 0 0;
                            }
                        }
                    }
                    a.more {
                        @include fsize(12,
                        1.5);
                        display: block;
                        width: 100px;
                        text-align: center;
                        text-decoration: none;
                        color: $sbc01;
                        @include anm(0.2s);
                        background-color: $tbc;
                        outline: 1px solid $sbc01;
                        margin: 0 auto;
                        &:hover {
                            color: $bc;
                            background-color: $acc;
                        }
                    }
                }
                .pickupItem,
                .pickupEvent {
                    font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
                    .image {
                        margin: 16px 0;
                        border: 2px solid $bc;
                        height: 210px;
                        overflow: hidden;
                        -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, .5);
                        box-shadow: 0 0 1px 0 rgba(0, 0, 0, .5);
                        position: relative;
                        img {
                            position: absolute;
                            top: -18px;
                        }
                        a {
                            letter-spacing: 1px;
                            @include anm(0.2s);
                            position: absolute;
                            display: block;
                            width: 100%;
                            height: 100%;
                            color: $bc;
                            @include fsize(12,
                            1.5);
                            @include alpha(0);
                            width: 80%;
                            height: 80%;
                            padding: 10%;
                            text-decoration: none;
                            i {
                                font-style: normal;
                                @include fsize(14,
                                1.5);
                            }
                            hr {
                                border: none;
                                border-bottom: 1px dotted $bc;
                                margin: 5px 0;
                            }
                            &:hover {
                                background-color: $acc;
                                @include alpha(75);
                                display: block;
                                color: $bc;
                            }
                        }
                    }
                }
                /* 今週の注目商品 */
                .pickupItem {
                    margin: 0 25px 0;
                    div {
                        width: 246px;
                    }
                }

                /* 今週の作家 */
                .pickupEvent {
                    .catch {
                        margin: 16px 20px 0 4px;
                        width: 1em;
                        height: 210px;
                        float: left;
                        @include fsize(12,
                        1);
                        color: $sbc01;
                    }
                    .name {
                        margin: 16px 0 0 12px;
                        width: 1em;
                        height: 210px;
                        @include fsize(18,
                        1.2);
                        float: left;
                    }
                    .image {
                        width: 180px;
                    }
                }
            }
            /* topicks-fin */
            /* 売れ筋ランキング */
            .rankingItem {
                margin: 0 0 50px;
                ul {
                    overflow: hidden;
                    text-indent: 0;
                    width: 100%;
                    li {
                        width: 148px;
                        float: left;
                        margin: 0 0 0 15px;
                        &:first-child {
                            margin: 0;
                        }
                        p {
                            @include fsize(11,
                            1.5);
                        }
                        a {
                            color: $acc;
                            text-decoration: none;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                        img {
                            width: 100%;
                        }
                        span {
                            @include fsize(14,
                            1.0);
                            display: block;
                            margin: 6px auto;
                            &.rank01 {
                                @include sprite($cmn_lft_rankic01);
                            }
                            &.rank02 {
                                @include sprite($cmn_lft_rankic02);
                            }
                            &.rank03 {
                                @include sprite($cmn_lft_rankic03);
                            }
                            &.rank04 {
                                @include sprite($cmn_lft_rankic04);
                            }
                            &.rank05 {
                                @include sprite($cmn_lft_rankic05);
                            }
                            &.rank06 {
                                @include sprite($cmn_lft_rankic06);
                            }
                        }
                    }
                }
            }


            /* ご注文状況、ランキング */
            .dOrder {
                width: 595px;
                height: 260px;
                float: left;
                margin: 0 0 20px;
                div {
                    margin: 20px 0 0;
                    overflow: hidden;
                    width: 595px;
                    height: 210px;
                    iframe {
                        width: 593px;
                        height: 208px;
                        border: none;
                        border: 1px solid #aaa;
                    }
                }
            }

            .dRank {
                margin: 0 0 0 25px;
                width: 180px;
                height: 260px;
                float: left;
                overflow: hidden;
                div {
                    margin: 20px 0 0;
                    overflow: hidden;
                    width: 178px;
                    height: 208px;
                    border: 1px solid #aaa;
                    iframe {
                        margin: -105px 0 0 0;
                        width: 178px;
                        height: 308px;
                        overflow: hidden;
                        border: none;
                    }
                }
            }
            /* dOrder,dRank-fin */
            /* スタッフのおすすめ */
            .recommItem {
                margin: 0 0 50px;
                overflow: hidden;
                clear: both;
                .item {
                    width: 48%;
                    padding: 2% 1%;
                    float: left;
                    div {
                        a {
                            color: $acc;
                            text-decoration: none;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                        width: 46%;
                        margin: 0 2%;
                        float: left;
                        img {
                            -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, .5);
                            box-shadow: 0 0 1px 0 rgba(0, 0, 0, .5);
                            width: 100%;
                            height: 100%;
                        }
                        b {
                            @include fsize(12,
                            1);
                            font-weight: normal;
                            margin: 0;
                            padding: 0;
                        }
                        span {
                            @include fsize(10,
                            1.5);
                            color: $sbc01;
                            display: block;
                            margin: 0 0 15px;
                            &.itemName {
                                color: $acc;
                                @include fsize(14,
                                1.0);
                                margin: 0 0 5px;
                            }
                        }
                    }
                }
            }


            /* 種類別売れ筋ランキング */
            .genreContents,
            .eventContents {
                width: 796px;
                height: 380px;
                position: relative;
                margin: 0px auto;
                clear: both;
                .genremenu,
                .eventmenu {
                    text-indent: 0;
                    overflow: hidden;
                    @include fsize(12,
                    2.2);
                    width: 9%;
                    height: 26px;
                    float: left;
                    list-style: none;
                    margin: 20px 0 0 5px;
                    text-align: center;
                    display: block;
                    cursor: pointer;
                    color: $acc;
                    &:first-child {
                        margin-left: 0;
                    }
                    span {
                        @include fsize(10,
                        2.5);
                        float: left;
                        margin: 0 0 0 6px;
                        @include anm(0.2s);
                    }
                }
                .genremenu,
                .eventmenu {
                    background: $sbc01;
                    border: 1px solid $sbc01;
                }
                .genreactive,
                .genrehover,
                .eventactive,
                .eventhover {
                    background-color: $bc;
                    color: $acc;
                }

                .genreactive,
                .eventactive {
                    span {
                        float: left;
                        -moz-transform: rotate(90deg);
                        -webkit-transform: rotate(90deg);
                        -o-transform: rotate(90deg);
                        -ms-transform: rotate(90deg);
                        transform: rotate(90deg);
                    }
                }
                .genrecontent,
                .eventcontent {
                    clear: both;
                    display: block;
                    width: 96%;
                    margin: 20px 0 0;
                    height: 220px;
                    border: $sbc01 1px solid;
                    background: #FFF;
                    top: 49px;
                    left: 0;
                    padding: 1% 2% 2%;
                    position: absolute;

                    ul {
                        overflow: hidden;
                        text-indent: 0;
                        width: 100%;
                        li {
                            width: 140px;
                            float: left;
                            margin: 0 0 0 15px;
                            &:first-child {
                                margin: 0;
                            }
                            p {
                                @include fsize(11,
                                1.5);
                            }
                            a {
                                color: $acc;
                                text-decoration: none;
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                            img {
                                width: 100%;
                            }
                            span {
                                @include fsize(14,
                                1.0);
                                font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
                                display: block;
                                margin: 2px auto;
                                &.rank01,
                                &.rank02,
                                &.rank03,
                                &.rank04,
                                &.rank05 {
                                    margin: 6px auto;
                                }
                                &.rank01 {
                                    @include sprite($cmn_lft_rankic01);
                                }
                                &.rank02 {
                                    @include sprite($cmn_lft_rankic02);
                                }
                                &.rank03 {
                                    @include sprite($cmn_lft_rankic03);
                                }
                                &.rank04 {
                                    @include sprite($cmn_lft_rankic04);
                                }
                                &.rank05 {
                                    @include sprite($cmn_lft_rankic05);
                                }
                                &.rank06 {
                                    @include sprite($cmn_lft_rankic06);
                                }
                            }
                        }
                    }
                }
            }
            /* genreContents,eventContents-fin */
            /* お知らせ、メディア掲載情報、注文状況、大切なお知らせ */
            .information {
                .news,
                .press {
                    width: 250px;
                    height: 250px;
                    float: left;
                    /* background-color: #efefef; */
                    ul {
                        text-indent: 0;
                        height: 170px;
                        margin: 15px 0 20px;
                        overflow: hidden;
                        /* background-color: #dfdfdf; */
                        li {
                            @include fsize(12,
                            1.5);
                            margin: 0 0 6px;
                            a {
                                display: block;
                                padding: 2px 2px 2px 0;
                                color: $acc;
                                text-decoration: none;
                                width: 100%;
                                @include anm(0.2s);
                                span {
                                    color: #999;
                                    @include fsize(10,
                                    1.5);
                                    margin: 0 10px 0 0;
                                    display: inline-block;
                                    vertical-align: middle;
                                }
                                &:hover {
                                    background-color: $sbc01;
                                }
                            }
                        }
                    }
                }

                .press {
                    margin: 0 0 30px 25px;
                    width: 525px;
                    ul {
                        float: left;
                        width: 60%;
                    }
                    div {
                        float: left;
                        width: 34%;
                        margin: 15px 0 0;
                        padding: 0 3%;
                        img {
                            display: block;
                            margin: 0 auto;
                            width: 90%;
                        }
                    }
                }
                /* press-fin */
                .careful {
                    width: 800px;
                    clear: both;
                    @include fsize(12,
                    1.5);
                    ol,
                    dl,
                    div {
                        width: 250px;
                        margin: 10px 0 0;
                        float: left;
                    }
                    ol {
                        list-style-position: inside;
                        list-style-type: decimal;
                        margin: 10px 25px 0;
                        li {
                            margin: 0 0 10px;
                            @include fsize(12,
                            1.5);
                            span {
                                font-weight: normal;
                                margin: 0 0 0 22px;
                            }
                        }
                    }
                    dl {
                        dt {
                            margin: 10px 0 0;
                            @include fsize(12,
                            1.5);
                            &:first-child {
                                margin: 0;
                            }
                        }
                    }
                }
                /* careful-fin */
            }
            /* information-fin */
        }
        /* topContents-fin */
        /* 法人スライド部分 */
        .bx-wrapper {
            position: relative;
            margin: 0 auto 20px;
            padding: 0;
            *zoom: 1;
            max-width: 100%;
            img {
                max-width: 100%;
            }
            .slide01,
            .slide02,
            .slide03,
            .slide04,
            .slide05 {}
            .bx-window {
                overflow: hidden;
                height: 360px;
            }
            #slider {
                margin: 0 auto;
            }
            .slide {
                opacity: .6;
            }
            .slide.active {
                opacity: 1;
                -moz-box-shadow: 0 0 5px #ccc;
                -webkit-box-shadow: 0 0 5px #ccc;
                box-shadow: 0 0 5px #ccc;
                border: 2px solid $sbc01;
                -webkit-transform: translatez(0);
                -moz-transform: translatez(0);
                -ms-transform: translatez(0);
                -o-transform: translatez(0);
                transform: translatez(0);
            }

            .bx-viewport {
                left: -5px;
                overflow: visible !important;
                width: 100%;
            }
            .bx-pager,
            .bx-controls-auto {
                position: absolute;
                bottom: -40px;
                width: 100%;
                height: 30px;
                overflow: hidden;
            }
            .bx-loading {
                min-height: 50px;
                background: url(images/bx_loader.gif) center center no-repeat #fff;
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2000;
            }
            .bx-pager {
                text-align: center;
                font-size: .85em;
                font-family: Arial;
                font-weight: bold;
                color: #666;
                padding-top: 20px;
            }
            .bx-pager .bx-pager-item,
            .bx-controls-auto .bx-controls-auto-item {
                display: inline-block;
                *zoom: 1;
                *display: inline;
            }
            .bx-pager.bx-default-pager a {
                background: $sbc01;
                text-indent: -9999px;
                display: block;
                width: 10px;
                height: 10px;
                margin: 0 5px;
                outline: 0;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                border-radius: 5px;
                &:hover,
                &.active {
                    background: $acc;
                }
            }
            .bx-prev {
                left: 20px;
                @include sprite($cmn_hdr_pre);
                &:hover {
                    @include sprite($cmn_hdr_pre_hv);
                }
            }
            .bx-next {
                right: 20px;
                @include sprite($cmn_hdr_next);
                &:hover {
                    right: 22px;
                    @include sprite($cmn_hdr_next_hv);
                }
            }
            .bx-controls-direction a {
                position: absolute;
                top: 50%;
                margin-top: -16px;
                outline: 0;
                width: 32px;
                height: 32px;
                text-indent: -9999px;
                z-index: 9999;
                &.disabled {
                    display: none;
                }
            }
            .bx-controls-auto {
                text-align: center;
                .bx-start {
                    display: block;
                    text-indent: -9999px;
                    width: 10px;
                    height: 11px;
                    outline: 0;
                    background: url(images/controls.png) -86px -11px no-repeat;
                    margin: 0 3px;
                    &:hover,
                    &.active {
                        background-position: -86px 0;
                    }
                }
                .bx-stop {
                    display: block;
                    text-indent: -9999px;
                    width: 9px;
                    height: 11px;
                    outline: 0;
                    background: url(images/controls.png) -86px -44px no-repeat;
                    margin: 0 3px;
                    &:hover,
                    &.active {
                        background-position: -86px -33px;
                    }
                }
            }
            .bx-controls .bx-has-controls-auto .bx-has-pager .bx-pager {
                text-align: left;
                width: 80%;
            }
            .bx-controls .bx-has-controls-auto .bx-has-pager .bx-controls-auto {
                right: 0;
                width: 35px;
            }
            .bx-caption {
                position: absolute;
                bottom: 0;
                left: 0;
                background: #666\9;
                background: rgba(80, 80, 80, 0.75);
                width: 100%;
                span {
                    color: #fff;
                    font-family: Arial;
                    display: block;
                    font-size: .85em;
                    padding: 10px;
                }
            }
        }

        /* slide update */
        /* slide */
        #container {
            width: 100%;
            margin: 30px 0 0;
            text-align: center;
        }
        .wideslider {
            padding-bottom: 150px;
            width: 100%;
            text-align: left;
            position: relative;
            margin: 0;
            bottom: 10px;
            overflow: hidden;
        }
        .wideslider ul,
        .wideslider ul li {
            float: left;
            display: inline;
            overflow: hidden;
            outline: 2px solid #fff;
        }
        .wideslider ul li a {}
        .wideslider ul li img {
            width: 100%;
            display: none;
        }
        .wideslider_base {
            top: 0;
            position: absolute;
        }
        .wideslider_wrap {
            top: 0;
            position: absolute;
            overflow: hidden;
        }
        .slider_prev,
        .slider_next {
            bottom: 0;
            overflow: hidden;
            position: absolute;
            z-index: 100;
            cursor: pointer;
        }
        .slider_prev {
            background: #fff url('../img/gallery_prebtn.png') no-repeat right center;
        }
        .slider_next {
            background: #fff url('../img/gallery_nextbtn.png') no-repeat -10px center;
        }
        .pagination {
            bottom: 0;
            left: 0;
            width: 1100px;
            height: 110px;
            text-align: center;
            /* position: absolute; */
            z-index: 200;
            margin: 280px auto 0;
        }
        .pagination a {
            margin: 0;
            width: 220px;
            height: 52px;
            border: 3px solid $bc;
            display: inline-block;
            overflow: hidden;
        }
        .pagination a.pn1 {
            background: transparent url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/header/top_slidebnr_agg.jpg') no-repeat left top;
            background-size: 220px;
        }
        .pagination a.pn2 {
            background: transparent url('https://image.rakuten.co.jp/dentouhonpo/cabinet/header/top_slidebnr_scw_01.jpg') no-repeat left top;
            background-size: 220px;
        }
        /*
        .pagination a.pn3{
            background: transparent url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/header/top_slidebnr_agg.jpg') no-repeat left top;
            background-size: 220px;
        }
        .pagination a.pn4{
            background: transparent url('https://image.rakuten.co.jp/dentouhonpo/cabinet/header/top_slidebnr_scw_01.jpg') no-repeat left top;
            background-size: 220px;
        }
        
        .pagination a.pn5{
            background: transparent url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/header/top_slidebnr_life.jpg') no-repeat left top;
            background-size: 220px;
        }*/
        /*
        .pagination a.active {
            filter: alpha(opacity=100)!important;
            -moz-opacity: 1!important;
            opacity: 1!important;
        }


        .wideslider ul:after {
            content: ".";
            height: 0;
            clear: both;
            display: block;
            visibility: hidden;
        }
        .wideslider ul {
            display: inline-block;
            overflow: hidden;
        }

        #wrapper {
            margin: 0 auto;
            padding: 0 40px;
            text-align: left;
        }
        #wrapper p {
            padding: 0 0 20px 0;
            font-size: 100%;
            line-height: 180%;
        }
        /* end slide */
        /* 画面右固定バナー */
        div#abs {
            position: absolute !important;
            /* top: expression((documentElement.scrollTop || document.body.scrollTop) + document.body.clientHeight - this.offsetHeight - 150 + 'px');
        left: expression((documentElement.scrollLeft || document.body.scrollLeft) + document.body.clientWidth -105 + 'px'); */
            a#side_leave,
            a#side_review {
                float: right;
                clear: both;
                display: block;
                position: fixed;
                position: relative\9;
                right: -50px;
                z-index: 10;
                outline: none;
                width: 100px;
                height: 200px;
                &:hover {
                    right: 0px;
                    padding-right: 50px\9;
                }
                img {
                    display: none;
                }
            }
            a#side_leave {
                top: 10px\9;
                bottom: 10px;
                background: url(https://image.rakuten.co.jp/dentouhonpo/cabinet/side_bn_01.gif) no-repeat;
            }
            a#side_review {
                top: 80px\9;
                bottom: 220px;
                background: url(https://image.rakuten.co.jp/dentouhonpo/cabinet/side_bn_02.gif) no-repeat;
            }
        }
    }