@import "../common/interior/_scss/recommend.scss";
@import "../frameworks/_scss/default.scss";
body {
    .footerWrap{
        background-color: $bc;
        overflow: hidden;
        .spContents{
            width: 100%;
            overflow: hidden;
            /* border-bottom: 1px solid #ccc; */
            border-top: 1px solid #ccc;
            padding: 30px 0 40px;
            @include fsize(11,1.5);
            font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
            .compInfo{
                img{
                    display: block;
                    margin: 10px auto 60px;
                }
            }
            .service{
                width: 990px;
                margin: 0 auto 30px;
                padding: 20px 0 0;
                ul{
                    overflow: hidden;
                    li{
                        float: left;
                        width: 33%;
                        a{
                            display: block;
                            width: 304px;
                            height: 52px;
                            margin: 0 auto;
                            @include anm(0.2s);
                            &.noshi{
                                background:url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/hdr_bnr_noshi.png') no-repeat;
                                &:hover{
                                    background:url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/hdr_bnr_noshi_hvr.png') no-repeat;
                                }
                            }
                            &.wrap{
                                background:url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/hdr_bnr_wrap.png') no-repeat;
                                &:hover{
                                    background:url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/hdr_bnr_wrap_hvr.png') no-repeat;
                                }
                            }
                            &.delivery{
                                background:url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/hdr_bnr_delivery.png') no-repeat;
                                &:hover{
                                    background:url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/hdr_bnr_delivery_hvr.png') no-repeat;
                                }
                            }
                        }
                    }
                }
            }
            .info{
                width: auto;
                display: block;
                margin: 0 auto;
            }
            .contents{      
                overflow: hidden;
                border:1px solid $sbc01;
                border-top: none; 
                width: 988px;
                margin: 0 auto;
                padding: 5px 0;  
                span{
                    display: block;
                    width: 55px;
                    height: 54px;float: left;
                    position: absolute;
                    right: -10px;
                    top: -4px;
                    &.icon01{
                        background: url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/footer/service-icon01.png') no-repeat;
                    }
                    &.icon02{
                        background: url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/footer/service-icon02.png') no-repeat;
                    }
                    &.icon03{
                        background: url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/footer/service-icon03.png') no-repeat;
                    }
                    &.icon04{
                        background: url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/footer/service-icon04.png') no-repeat;
                    }
                    &.icon05{
                        background: url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/footer/service-icon05.png') no-repeat;
                    }
                    &.icon06{
                        background: url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/footer/service-icon06.png') no-repeat;
                    }

                }
                b{
                    font-weight: bold;
                    @include fsize(18,1.5);
                }
                hr{
                    border: none;
                    border-bottom: 1px solid $sbc01;
                }
                li{
                    float: left;
                    width: 12.5%;
                    height: 130px;
                    margin: 1% 0;
                    padding: 1% 2%;
                    border-left: 1px dashed $sbc03;
                    position: relative;
                    &:first-child{
                        border: none;
                    }
                    p{
                        height: 5em;
                    }
                    a{
                        clear: both;
                        float: right;
                        margin: 10px auto 0;
                        width: auto;
                        text-align: center;
                        @include anm(0.2s);
                        display: block;
                        color: $bc;
                        text-decoration: none;
                        background-color: $mc;
                        border: 1px solid $mc;
                        @include rad(2,2,2,2);
                        @include fsize(10,1.5);
                        padding: 2px 4px;
                        &:hover{
                            color: $acc;
                            background-color: $bc;
                        }
                    }
                }
            }
            .pickupTitle{
                display: block;
                margin: 50px auto 20px;
            }
            .ftr-pickupContents{
                overflow: hidden;
                width: 990px;
                margin: 10px auto 0;
                li{
                    float: left;
                    display: block;
                    width: 46%;
                    margin: 1% 2%;
                    position: relative;
                    a{
                        display: block;
                        width: 100%;
                        @include anm(0.2s);
                        position: relative;
                        top: 0;
                        left: 0;
                        img{
                            max-width: 100%;
                        }
                        &:hover{
                            position: relative;
                            left: -2px;
                            top: -2px;
                            -webkit-box-shadow: 0 0 6px 0 rgba(2,0,0,0.4);
                            box-shadow: 0 0 6px 0 rgba(2,0,0,0.4);
                            span{
                                display: block;
                                @include alpha(90);
                            }
                        }
                        span{
                            display: none;
                            color: $bc;
                            padding: 10px;
                            text-align: center;
                            position: absolute;
                            bottom: 0;
                            background-color: $acc;
                        }
                    }
                }
            }
        }
        #top{
            background-color: none;
        }
        #footerContents{
            width: 990px;
            margin: 0 auto;
            background-color: #efefef;
            h1,.genreName,em,i{
                font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
                font-weight: bold;
            }
            a{
                text-decoration: none;
                color: $acc;
            }
            hr{
                border: none;
                border-bottom: 1px solid $tc;
                &.acLine{
                    position: relative;
                    bottom: 3px;
                    margin: 0;
                    width: 307px;
                    border: 1px solid $acc;
                    float: left;
                }
            }
        }

        &.infoservice{
            padding: 30px 0 0;
            background-color: $sbc01;
            clear: both;
            .footer{
                background-color: $sbc01;
            }
        }

        &.menu{
            background-color: $mc;
            clear: both;
            padding: 15px 0;
            a,p{
                color: $bc;
            }
            .footer{
                background-color: $mc;
                .area_menu{
                    background-color: $mc;
                    margin: 0;
                }
            }
        }
        .footer{
            width: 1100px;
            margin: 0 auto;
            background-color: $bc;
            clear: both;
            font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
            .area_event{

                .event_title{
                    overflow: hidden;
                    margin: 0 0 50px;
                    li{
                        float: left;
                        width: 33.333%;
                        font-weight: bold;
                        text-align: center;
                        p{
                            font-size: 15px;
                            line-height: 1.5;
                        }
                        hr{
                            display: block;
                            width: 100%;
                            margin: 0 auto;
                            padding: 10px 0 0;
                            border: none;
                            border-bottom: 1px dotted $tc;
                        }
                        span{
                            margin: 0 6px 0 0;
                            display: block;
                            font-size: 10px;
                        }
                    }
                }
                .wrapcontents > div{
                    overflow: hidden;
                    width: 48%;
                    float: left;
                    @include anm(0.2s);
                    &:nth-child(even){
                        margin: 0 2% 40px 0;
                    }
                    &:nth-child(odd){
                        margin: 0 0 40px 2%;
                    }
                }
                .wrapcontents{
                    position: relative;
                    @include anm(0.2s);
                /* & > div:hover{
                    position: relative;
                    top: auto;
                    left: auto;
                    width: 100%;
                    margin: 0 0 40px;
                }
                &:hover{
                    .contents:not(:hover){
                        opacity:0;
                        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
                    }
                } */
            }
            .contents{
                img{
                    display: block;
                    float: left;
                    width: 60%;
                }
                div{
                    border-top: 1px dotted $tc;
                    float: left;
                    width: 36%;
                    height: auto;
                    padding: 5px 0;
                    margin: 0 0 0 2%;
                    a{
                        display: block;
                    }
                    span{
                        font-size: 10px;
                        clear: both;
                        display: block;
                        color: $tc;
                    }
                    em{
                        display: block;
                        clear: both;
                        line-height: 1.25;
                        font-size: 28px;
                    }
                    p{
                        margin: 10px 0 0;
                        font-size: 12px;
                        line-height: 1.75;
                    }
                }
            }
            .magazineLink{
                clear: both;
                display: block;
                padding: 10px 20px;
                border: 1px solid $tc;
                font-size: 10px;
                text-align: center;
                width: 200px;
                margin: 0 auto 50px;
                @include anm(0.2s);
                font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                span{
                    font-size: 16px;
                }
                &:hover{
                    border: 1px solid $mc;
                    background-color: $mc;
                    color: $bc;
                    text-decoration: none;
                }
            }
        }
        .area_announce{
            clear: both;
            background-color: $sbc01;
            .area{
                padding: 10px;
                position: relative;
                width: 212px;
                height: 295px;
                margin: 0 0 10px;
                float: left;
                font-size: 11px;
                background-color: $sbc01;
                h4{
                    img{
                        display: block;
                        margin: 10px auto;
                    }
                }
                img{
                    display: block;
                }
                &.pay,&.gift{
                    ul{
                        margin: 5px 0 0 3px;
                        list-style-type: circle;
                        list-style-position: inside;
                    }
                    img{
                        margin: 10px auto;
                    }
                }
                &.gift{
                    ul{
                        margin: 5px 0 34px 3px;
                    }
                }
                &.care{
                    margin: 0 0 10px 10px;
                    img{
                        margin: 10px auto;
                    }
                    p{
                        margin: 0 0 68px;
                    }
                }
                &.delivery{
                    position: relative;
                    padding: 10px;
                    width: 333px;
                    margin: 0 10px 10px;
                    .map{
                        position: absolute;
                        right: 10px;
                        bottom: 50px;
                    }
                    ul{
                        margin: 0 0 26px;
                        li{
                            line-height: 2;
                            span{
                                display: block;
                                float: left;
                                margin: 0 5px 0 0;
                                &.mapicon_01{
                                    color: #9acdd3;
                                }
                                &.mapicon_02{
                                    color: #d3bfa4;
                                }
                                &.mapicon_03{
                                    color: #9b9ad3;
                                }
                                &.mapicon_04{
                                    color: #d3d39a;
                                }
                            }
                        }
                    }
                }
                hr{
                    border: none;
                    border-bottom: 1px solid $tc;
                    margin: 20px 0;
                }
                &.order{
                    padding: 10px;
                    width: 696px;
                    margin: 0 10px 20px 0;
                    height: auto;
                    min-height: 220px;
                    ul{
                        display: table;
                        li{
                            display: table-cell;
                            overflow: hidden;
                            line-height: 1.75;
                            b{
                                font-size: 13px;
                            }
                            hr{
                                border: none;
                                border-bottom: 1px dotted $mc;
                                display: block;
                                margin: 2px 10px 10px 0;
                            }
                            p{
                                padding: 0 7px 0 0;
                            }
                            a{
                                display: block;
                                background-color: $sbc01;
                                float: left;
                                margin: 10px 0 5px 0;
                                padding: 4px 8px;
                                text-align: center;
                                @include anm(0.2s);
                                border: 1px solid $tc;
                                &:hover{
                                    background-color: $mc;
                                    color: $bc;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
                &.contact{
                    width: 334px;
                    height: auto;
                    min-height: 220px;
                    font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                    dl{
                        width: 100%;
                        line-height: 1.75;
                        overflow: hidden;
                        margin: 0 0 20px;
                        dt{
                            width: 20%;
                            clear: both;
                            float: left;
                        }
                        dd{
                            width: 80%;
                            float: left;
                        }
                    }
                }
                .morelinks{
                    position: absolute;
                    bottom: 10px;
                    left: auto;
                    width: 88%;
                    display: block;
                    background-color: $sbc01;
                    border: 1px solid $mc;
                    margin: 10px 0 5px;
                    padding: 4px 2%;
                    text-align: center;
                    font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                    @include anm(0.2s);
                    &:hover{
                        background-color: $mc;
                        color: $bc;
                        text-decoration: none;
                    }
                }
            }
        }

        .area_menu{
            width: 100%;
            clear: both;
            overflow: hidden;
            background-color: $sbc01;
            margin: 0 0 40px;
            .parent{
                float: left;
                width: 212px;
                &.service{
                    li{
                        padding: 2px 0 6px;
                        &:before{
                            content: none;
                        }
                    }
                }

                li{
                    clear: both;
                    font-size: 11px;
                    padding: 2px 0;
                    font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                    a{
                        display: block;
                        width: 100%;
                    }
                    &:before{
                        content: ">";
                        display: block;
                        float: left;
                        margin: 0 10px 0 12px;
                        @include anm(0.2s);
                    }
                    &:hover{
                        &:before{
                            margin: 0 10px 0 18px;
                        }
                        a{
                            text-decoration: none;
                        }
                        background-color: $sbc01;
                    }
                    &.title{
                        margin: 10px 0 4px 16px;
                        &:before{
                            content: none;
                            float: left;
                            margin: 0;
                        }
                    }
                }
                & > li{
                    &:first-child{
                        width: 90%;
                        border: none;
                        padding: 8px 0;
                        margin: 30px 0 20px;
                        &:before{
                            content: none;
                        }
                        &:hover{
                            background-color: $sbc01;
                        }
                        b{
                            display: block;
                            font-size: 14px;
                            float: left;
                            span{
                                display: block;
                                float: right;
                                margin: 2px 0 0 7px;
                                font-size: 9px;
                            }
                        }
                    }
                }
            }

            #dropmenu {
                list-style-type: none;
                margin: 30px auto 0;
                padding: 0;
                float: left;
                width: 212px;
                border: none;
                li{
                    position: relative;
                    clear: both;
                    width: 90%;
                    float: left;
                    margin: 0;
                    padding: 0;
                    font-size: 11px;
                    font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                    a{
                        display: block;
                        width: 100%;
                    }
                    ul{
                        list-style: none;
                        position: absolute;
                        z-index: 100;
                        top: 100%;
                        left: 0;
                        width: 100%;
                        margin: 0;
                        padding: 0;
                        li{
                            overflow: hidden;
                            width: 100%;
                            height: 0;
                            color: #fff;
                            transition: .2s;
                            a {
                                padding: 4px;
                                background: $bc;
                                text-align: left;
                                font-size: 10px;
                                font-weight: normal;
                            }
                            &:before{
                                content: ">";
                                display: block;
                                color: $tc;
                                float: left;
                                margin: 2px 10px 0 18px;
                                @include anm(0.2s);
                            }
                            &:hover{
                                &:before{
                                    content: ">";
                                    margin: 2px 10px 0 24px;
                                }
                            }
                        }
                    }
                    &.main{
                        padding: 2px 0;
                        &:before{
                            content: "+";
                            display: block;
                            float: left;
                            margin: 0 10px 0 12px;
                            @include anm(0.4s);
                        }
                        &:hover{
                            &:before{
                                content: "-";
                            }
                        }
                    }
                    &:hover{
                        &:before{
                            margin: 0 10px 0 18px;
                        }
                        a{
                            text-decoration: none;
                        }
                        background-color: $bc;
                    }
                    &.title{
                        margin: 10px 0 4px 16px;
                        &:before{
                            content: none;
                            float: left;
                            margin: 0;
                        }
                    }
                    &:first-child{
                        margin: 0;
                        &:hover{

                            background-color: $sbc01;
                        }
                    }
                }
                & > li{
                    &:first-child{
                        border: none;
                        padding: 8px 0 0;
                        margin: 0 0 8px;
                        &:before{
                            content: none;
                        }
                        b{
                            display: block;
                            font-size: 14px;
                            float: left;
                            span{
                                display: block;
                                float: right;
                                margin: 2px 0 0 7px;
                                font-size: 9px;
                            }
                        }
                    }
                }
            }
            #dropmenu > li:hover > a {  background: $bc; }
            #dropmenu > li:hover li:hover > a {  background: $bc; }
            #dropmenu li:hover > ul > li {
                overflow: visible;
                height: auto;
            }
            #dropmenu li ul li ul {
                top: 0;
                left: 100%;
            }
            #dropmenu li:last-child ul li ul {
                left: -100%;
                width: 100%;
            }
            #dropmenu li ul li ul li a {  background: $bc; }
            #dropmenu li:hover ul li ul li:hover > a {  background: $bc; }
            #dropmenu li ul li ul:before {
                position: absolute;
                content: "";
                top: 13px;
                left: -20px;
                width: 0;
                height: 0;
                border: 5px solid transparent;
                border-left-color: #454e08;
            }
            #dropmenu li:last-child ul li ul:before {
                position: absolute;
                content: ">";
                top: 13px;
                left: 200%;
                margin-left: -20px;
                border: 5px solid transparent;
                border-right-color: #454e08;
            }
            .ftrnav{
                overflow: hidden;
                clear: both;
                width: 100%;
                font-size: 10px;
                margin: 0 0 10px;
                color: $bc;
                li{
                    float: left;
                    margin: 0 0 0 6px;
                    &:before{
                        content: "/";
                        margin: 0 6px 0 0;
                    }
                    &:first-child{
                        &:before{
                            content: none;
                        }
                    }
                }
            }
            .copy{
                display: block;
                clear: both;
                font-size: 9px;
                text-align: left;
                color: $bc;
            }
        }
    }
}
}






*:first-child+html #menu ul a
/* IE7 */

{
    height: 10px;
    width: 150px;
}
* html #menu {
    zoom: 1;
}
/* IE6 */

*:first-child+html #menu {
    zoom: 1;
}
/* IE7 */
