@import "../frameworks/_scss/default.scss";
body {
    .headerWrap{
        .headerWrapNavbar{
            background-color: $sbc01;
            height: 26px;
            color: $bc;
            .headerWrapNavbarWrap{
                width: 1080px;
                margin: 0 auto;
                padding: 0 10px;
                a{
                    font-size: 11px;
                    font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                    color: #000;
                    text-decoration: none;
                    display: block;
                    margin: 5px 0 0;
                    &.dellink{
                        float: left;
                    }
                    &:hover{
                        text-decoration: underline;
                    }
                }
                ul{
                    margin: 7px 0 0;
                    float: right;
                    li{
                        float: left;
                        height: 12px;
                        padding: 0 10px;
                        /* border-left: 1px solid $tc; */
                        a{
                            margin: -3px 0 0;
                            font-size: 11px;
                        }
                        &:first-child{
                            border: none;
                        }
                        &:last-child{
                            padding: 0 0 0 10px;
                        }
                    }
                }
            }
        }

        .headerWrapContetns{
            width: 1080px;
            margin: 0 auto;
            padding: 0 10px;
            .headerWrapContetnsCatch{
                float: left;
                margin: 30px 0 0;
                img{
                    display: block;
                }
            }
            .headerWrapContetnsTitle{
                float: left;
                img{
                    display: block;
                    margin: 46px 0 0 190px;
                }
            }
            .headerWrapContetnsSidenav{
                float: right;
                ul{
                    li{
                        float: left;
                    }
                    &.SidenavSubmenu{
                        margin: 5px 0 20px;
                        overflow: hidden;
                        li{
                            padding: 0 10px;
                            border-left: 1px solid $tc;
                            height: 15px;
                            a{
                                display: block;
                                margin: -8px 0 0;
                            }
                            &:last-child{
                                padding: 0 0 0 10px;
                            }
                            &:first-child{
                                border: none;
                            }
                        }
                    }
                    &.SidenavSocial{
                        margin: 4px 0 0;
                        float: right;
                        clear: both;
                        li{
                            margin: 0 0 0 6px;
                        }
                    }
                }

                form{
                    float: right;
                    #form{
                        border: none;
                        display: block;
                        font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                        font-size: 11px;
                        background: url('../../../rel/rakuten/img/ic_form.png') left top no-repeat;
                        width: 152px;
                        height: 22px;
                        float: left;
                        padding: 0 0 0 6px;
                    }
                    #btn{
                        display: block;
                        background: url('../../../rel/rakuten/img/ic_search.png') left top no-repeat;
                        width: 22px;
                        height: 22px;
                        float: left;
                        border: none;
                    }
                }
            }
            .headerWrapContentsMenu{

                .mainnav{
                    float: left;
                    margin: 40px 0 0;
                    li{
                        float: left;
                        padding: 0 17px;
                        height: 26px;
                        border-left: 1px solid $tc;
                        a{
                            display: block;
                            margin: -14px 0 0;
                            width: 100px;
                            height: 49px;
                            img{
                                @include anm(0.2s);
                                opacity:1;
                                filter:progid:DXImageTransform.Microsoft.Alpha(opacity=10);
                            }
                            &:hover{
                                img{
                                    opacity:0;
                                    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
                                }
                            }
                            &.nav_wg{
                                background:url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/nav_wg_hv.png') left top no-repeat;
                            }
                            &.nav_bg{
                                background:url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/nav_bg_hv.png') left top no-repeat;
                            }
                            &.nav_fa{
                                background:url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/nav_fa_hv.png') left top no-repeat;
                            }
                            &.nav_gf{
                                background:url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/nav_gf_hv.png') left top no-repeat;
                            }
                            &.nav_nc{
                                background:url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/nav_nc_hv.png') left top no-repeat;
                            }
                            &.nav_sb{
                                background:url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/nav_sb_hv.png') left top no-repeat;
                            }
                            &.nav_rt{
                                background:url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/nav_rt_hv.png') left top no-repeat;
                            }
                            &.nav_br{
                                background:url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/nav_br_hv.png') left top no-repeat;
                            }
                        }
                        &:first-child{
                            border: none;
                        }
                    }
                }
            }
        }
    }
}


/* IE6対策 *html #menu li a:hover {color: #fafafa; } */
/* IE6対策 *html #menu ul a {height: 10px; width: 150px; } */











*:first-child+html #menu ul a
/* IE7 */

{
    height: 10px;
    width: 150px;
}
* html #menu {
    zoom: 1;
}
/* IE6 */

*:first-child+html #menu {
    zoom: 1;
}
/* IE7 */
