//@import "../styleguide/_scss/default.scss";
/* 白背景 */
$bcw : #fff;

/* 薄い背景色 */
$bc : #f6f6f6;

/* 薄い枠線 */
$lc : #ccc;

/* 文字色 */
$tc : #595857;

/* 文字色 強調 メインカラー */
$mc : #356a71;

/* 文字色 強調 グルーピング */
$tcg : #000;

/* アクセントカラー 鶸色 */
$ac : #BEC23F;

/* ボックス指定 */
@mixin sizing($width) {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    /* IE7対策 */
    *behavior: url(/js/boxsizing.htc); 
    width: $width;
}

/* 透明度指定 */
@mixin alpha($value) {
    filter: alpha(opacity=$value);
    -moz-opacity:$value / 100;
    opacity:$value / 100;
}

/* 余白設定 */
@mixin padd($pt,$pr,$pb,$pl) {
  padding: $pt+px $pr+px $pb+px $pl+px;
  padding: ($pt/16)+rem ($pr/16)+rem ($pb/16)+rem ($pl/16)+rem;
}

@mixin marg($pt,$pr,$pb,$pl) {
  margin: $pt+px $pr+px $pb+px $pl+px;
  margin: ($pt/16)+rem ($pr/16)+rem ($pb/16)+rem ($pl/16)+rem;
}

/* アニメーション指定 */
@mixin anm($time) {
    -webkit-transition: $time;
    transition: $time;
}

/* 角丸指定 */
@mixin rad($lt,$rt,$lb,$rb) {
    -moz-border-radius: $lt+px $rt+px $lb+px $rb+px;
    border-radius: $lt+px $rt+px $lb+px $rb+px;
}

/* フォントの相対指定 */
@mixin fsize($s,$l) {
    font-size: $s + px;
    /* IE8以下対策 */
    /* *font-size: ($s * 10) * 2 + px; */
    font-size: ($s/16) + rem;

    line-height: $l;
}






body{
    .wrapcontents{
        width: 1080px;
        margin: 0 auto;
        padding: 0 10px;
    }
    .wrapcontents_ip{
        width: 820px;
        margin: 0 auto;
        /* padding: 0 0 0 28px; */
        float: left;
    }
    /* ヘッダー */
    .header{
        margin: 0 0 30px;
        /* サブナビゲーション */
        .area_subnav{
            background-color: $bc;
            overflow: hidden;
            height: auto;
            width: 100%;
            padding: 0;
            font-family: "ヒラギノ丸ゴ ProN W4","Hiragino Maru Gothic ProN";
            h1{
                font-family: "ヒラギノ丸ゴ ProN W4","Hiragino Maru Gothic ProN";
                font-size: 11px;
                padding: 7px 0;
                display: block;
                float: left;
                color: $tc;
            }
            .subnav{
                float: right;
                font-size: 11px;
                li{
                    float: left;
                    padding: 7px 10px;
                    &:before{
                        content: "|";
                        padding: 0 10px 0 0;
                    }
                    &:first-child{
                        &:before{
                            content: " ";
                            content: none;
                        }
                    }
                }
            }
            .subnav_main{
                float: right;
                font-size: 11px;
                li{
                    padding: 7px 14px;
                    background-color: $tc;
                    float: left;
                    border-left: 1px solid $bc;
                    @include anm(0.2s);
                    a{
                        display: block;
                        width: 100%;
                        color: $bcw;
                        text-decoration: none;
                        span{
                            display: block;
                            float: right;
                            background: url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/header/nv_icon_arrow.png') no-repeat;
                            width: 5px;
                            height: 6px;
                            margin: 5px 0 0 10px;
                        }
                    }
                    &:hover{
                        background-color: $mc;
                    }
                }
            }
        }

        /* メインナビゲーション */
        .area_mainnav{
            background-color: $bcw;
            border-bottom: 1px solid $bc;
            overflow: hidden;
            height: auto;
            width: 100%;
            padding: 0;
            .logo{
                float: left;
                padding: 18px 0 15px 0;
                h2{
                    text-indent: -9999px;
                    display: block;
                    background: url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/header/hdr_logo.png') no-repeat;
                    width: 162px;
                    height: 45px;
                    margin: 0 0 10px;
                    a{
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }
                span{
                    letter-spacing: 1px;
                    font-size: 9px;
                    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                }
            }
            .separate{
                padding: 28px 38px 0 42px;
                font-size: 20px;
                display: block;
                float: left;
                color: $tc;
            }
            
        }
    }
    /* レフトナビ */
    .leftnav{
        width: 232px;
        float: left;
        height: auto;
        overflow: hidden;
        margin: 0 0 100px;
        /* 検索フォーム */
        .area_search{
            overflow: hidden;
            margin: 0 0 30px;
            form{
                margin: 0 0 10px;
                overflow: hidden;
                .form{
                    display: block;
                    background:url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/leftnav/lt_form.png') left top no-repeat;
                    width: 182px;
                    height: 30px;
                    padding: 0 10px;
                    border-style: none;
                    font-size: 11px;
                    float: left;
                    line-height: 1.5;
                }
                .btn{
                    display: block;
                    background:url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/leftnav/lt_form_btn.png') left top no-repeat;
                    width: 30px;
                    height: 30px;  
                    border-style: none;
                    float: left;
                }
            }
            b{
                font-size: 12px;
            }
            hr{
                clear: both;
                border: none;
                border-bottom: 1px dotted $tc;
            }
            ul{
                overflow: hidden;
                margin: 0 0 6px;
                li{
                    float: left;
                    font-size: 11px;
                    padding: 0 6px 0 0;
                    a{
                        color: $tc;
                        text-decoration: none;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                    &:before{
                        content: "|";
                        margin: 0 5px 0 0;
                    }
                    &:first-child{
                        &:before{
                            content: none;
                        }
                    }
                }
            }
        }
        /* バナー部分 */
        .area_bnr{
            margin: 0 0 30px;
            ul{
                li{
                    margin: 0 0 20px;
                }
            }
        }
        /* 商品メニュー */
        .area_menu{
            .parent{
                &.category{

                }
                li{
                    font-size: 11px;
                    padding: 2px 0;
                    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                    a{
                        display: block;
                        width: 100%;
                    }
                    &:before{
                        content: ">";
                        display: block;
                        float: left;
                        margin: 0 10px 0 32px;
                        @include anm(0.2s);
                    }
                    &:first-child{
                        border: none;
                        border-top: 1px solid $tc;
                        border-bottom: 1px dotted $tc;
                        background-color: $bc;
                        padding: 8px 16px;
                        margin: 30px 0 10px;
                        img{
                            display: block;
                        }
                        &:before{
                            content: none;
                        }
                    }
                    &:hover{
                        &:before{
                            margin: 0 10px 0 36px;
                        }
                        a{
                            text-decoration: none;
                        }
                        background-color: $bc;
                    }
                    &.title{
                        margin: 10px 0 4px 16px;
                        &:before{
                            content: none;
                            float: left;
                            margin: 0;
                        }
                        &.eat{
                            display: block;
                            background:url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/leftnav/lf_title_eat.png') left top no-repeat;
                            width: 41px;
                            height: 14px;
                        }
                        &.drink{
                            display: block;
                            background:url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/leftnav/lf_title_drink.png') left top no-repeat;
                            width: 27px;
                            height: 13px;
                        }
                        &.sake{
                            display: block;
                            background:url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/leftnav/lf_title_sake.png') left top no-repeat;
                            width: 27px;
                            height: 14px;
                        }
                        &.put{
                            display: block;
                            background:url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/leftnav/lf_title_put.png') left top no-repeat;
                            width: 23px;
                            height: 14px;
                        }
                        &.table{
                            display: block;
                            background:url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/leftnav/lf_title_table.png') left top no-repeat;
                            width: 57px;
                            height: 14px;
                        }
                        &.kitchen{
                            display: block;
                            background:url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/leftnav/lf_title_kitchen.png') left top no-repeat;
                            width: 67px;
                            height: 14px;
                        }
                        &.study{
                            display: block;
                            background:url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/leftnav/lf_title_study.png') left top no-repeat;
                            width: 68px;
                            height: 14px;
                        }
                        &.interior{
                            display: block;
                            background:url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/leftnav/lf_title_interior.png') left top no-repeat;
                            width: 26px;
                            height: 14px;
                        }
                    }
                }
            }
        }
        /* その他案内 */
        .area_menu{
            .ifCal{
                border: none;
                overflow: hidden;
            }
        }
    }
    /* フッター */
    .footer{
        clear: both;
        .area_event{

            .event_title{
                overflow: hidden;
                margin: 0 0 50px;
                li{
                    float: left;
                    width: 33.333%;
                    font-weight: bold;
                    text-align: center;
                    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                    p{
                        font-size: 15px;
                        line-height: 1.5;
                    }
                    hr{
                        display: block;
                        width: 100%;
                        margin: 0 auto;
                        padding: 10px 0 0;
                        border: none;
                        border-bottom: 1px dotted $tc;
                    }
                    span{
                        margin: 0 6px 0 0;
                        display: block;
                        font-size: 10px;
                    }
                }
            }
            .wrapcontents > div{
                overflow: hidden;
                width: 48%;
                float: left;
                @include anm(0.2s);
                &:nth-child(even){
                    margin: 0 2% 40px 0;
                }
                &:nth-child(odd){
                    margin: 0 0 40px 2%;
                }
            }
            .wrapcontents{
                position: relative;
                @include anm(0.2s);
                /* & > div:hover{
                    position: relative;
                    top: auto;
                    left: auto;
                    width: 100%;
                    margin: 0 0 40px;
                }
                &:hover{
                    .contents:not(:hover){
                        opacity:0;
                        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
                    }
                } */
            }
            .contents{
                img{
                    display: block;
                    float: left;
                    width: 60%;
                }
                div{
                    border-top: 1px dotted $lc;
                    float: left;
                    width: 36%;
                    height: auto;
                    padding: 5px 0;
                    margin: 0 0 0 2%;
                    a{
                        display: block;
                    }
                    span{
                        font-size: 10px;
                        clear: both;
                        display: block;
                        color: $lc;
                    }
                    em{
                        display: block;
                        clear: both;
                        line-height: 1.25;
                        font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                        font-size: 28px;
                    }
                    p{
                        margin: 10px 0 0;
                        font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                        font-size: 12px;
                        line-height: 1.75;
                    }
                }
            }
            .magazineLink{
                clear: both;
                display: block;
                padding: 10px 20px;
                border: 1px solid $lc;
                font-size: 10px;
                text-align: center;
                width: 200px;
                margin: 0 auto 160px;
                @include anm(0.2s);
                font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                span{
                    font-size: 16px;
                }
                &:hover{
                    border: 1px solid $mc;
                    background-color: $mc;
                    color: $bcw;
                    text-decoration: none;
                }
            }
        }
        .area_announce{
            clear: both;
            background-color: $bcw;
            .area{
                padding: 10px;
                position: relative;
                width: 212px;
                height: 295px;
                margin: 0 0 10px;
                float: left;
                font-size: 11px;
                background-color: $bc;
                h4{
                    img{
                        display: block;
                        margin: 10px auto;
                    }
                }
                img{
                    display: block;
                }
                &.pay,&.gift{
                    ul{
                        margin: 5px 0 0 3px;
                        list-style-type: circle;
                        list-style-position: inside;
                    }
                    img{
                        margin: 10px auto;
                    }
                }
                &.gift{
                    ul{
                        margin: 5px 0 34px 3px;
                    }
                }
                &.care{
                    margin: 0 0 10px 10px;
                    img{
                        margin: 10px auto;
                    }
                    p{
                        margin: 0 0 68px;
                    }
                }
                &.delivery{
                    position: relative;
                    padding: 10px;
                    width: 333px;
                    margin: 0 10px 10px;
                    .map{
                        position: absolute;
                        right: 10px;
                        bottom: 50px;
                    }
                    ul{
                        margin: 0 0 26px;
                        li{
                            line-height: 2;
                            span{
                                display: block;
                                float: left;
                                margin: 0 5px 0 0;
                                &.mapicon_01{
                                    color: #9acdd3;
                                }
                                &.mapicon_02{
                                    color: #d3bfa4;
                                }
                                &.mapicon_03{
                                    color: #9b9ad3;
                                }
                                &.mapicon_04{
                                    color: #d3d39a;
                                }
                            }
                        }
                    }
                }
                hr{
                    border: none;
                    border-bottom: 1px solid $tc;
                    margin: 20px 0;
                }
                &.order{
                    padding: 10px;
                    width: 696px;
                    margin: 0 10px 20px 0;
                    height: auto;
                    min-height: 220px;
                    ul{
                        display: table;
                        li{
                            display: table-cell;
                            overflow: hidden;
                            line-height: 1.75;
                            b{
                                font-size: 12px;
                            }
                            hr{
                                border: none;
                                border-bottom: 1px dotted $mc;
                                display: block;
                                margin: 2px 10px 10px 0;
                            }
                            p{
                                padding: 0 7px 0 0;
                            }
                            a{
                                display: block;
                                background-color: $bcw;
                                float: left;
                                margin: 10px 0 5px 0;
                                padding: 4px 8px;
                                text-align: center;
                                font-family: "ヒラギノ丸ゴ ProN W4","Hiragino Maru Gothic ProN";
                                @include anm(0.2s);
                                &:hover{
                                    background-color: $mc;
                                    color: $bcw;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
                &.contact{
                    width: 334px;
                    height: auto;
                    min-height: 220px;
                    dl{
                        width: 100%;
                        line-height: 1.75;
                        overflow: hidden;
                        margin: 0 0 20px;
                        dt{
                            width: 20%;
                            clear: both;
                            float: left;
                        }
                        dd{
                            width: 80%;
                            float: left;
                        }
                    }
                }
                .morelinks{
                    position: absolute;
                    bottom: 10px;
                    left: auto;
                    width: 88%;
                    display: block;
                    background-color: $bcw;
                    margin: 10px 0 5px;
                    padding: 4px 2%;
                    text-align: center;
                    font-family: "ヒラギノ丸ゴ ProN W4","Hiragino Maru Gothic ProN";
                    @include anm(0.2s);
                    &:hover{
                        background-color: $mc;
                        color: $bcw;
                        text-decoration: none;
                    }
                }
            }
        }

        .area_menu{
            width: 100%;
            clear: both;
            overflow: hidden;
            background-color: $bc;
            .parent{
                float: left;
                width: 212px;
                &.service{
                    li{
                        padding: 2px 0 6px;
                        &:before{
                            content: none;
                        }
                    }
                }

                li{
                    clear: both;
                    font-size: 11px;
                    padding: 2px 0;
                    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                    a{
                        display: block;
                        width: 100%;
                    }
                    &:before{
                        content: ">";
                        display: block;
                        float: left;
                        margin: 0 10px 0 12px;
                        @include anm(0.2s);
                    }
                    &:hover{
                        &:before{
                            margin: 0 10px 0 18px;
                        }
                        a{
                            text-decoration: none;
                        }
                        background-color: $bc;
                    }
                    &.title{
                        margin: 10px 0 4px 16px;
                        &:before{
                            content: none;
                            float: left;
                            margin: 0;
                        }
                    }
                }
                & > li{
                    &:first-child{
                        width: 90%;
                        border: none;
                        padding: 8px 0;
                        margin: 30px 0 20px;
                        &:before{
                            content: none;
                        }
                        b{
                            display: block;
                            font-size: 14px;
                            float: left;
                            span{
                                display: block;
                                float: right;
                                margin: 2px 0 0 7px;
                                font-size: 9px;
                            }
                        }
                    }
                }
            }

            #dropmenu {
                list-style-type: none;
                margin: 30px auto 0;
                padding: 0;
                float: left;
                width: 212px;
                border: none;
                li{
                    position: relative;
                    clear: both;
                    width: 90%;
                    float: left;
                    margin: 0;
                    padding: 0;
                    font-size: 11px;
                    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

                    a{
                        display: block;
                        width: 100%;
                    }
                    ul{
                        list-style: none;
                        position: absolute;
                        z-index: 100;
                        top: 100%;
                        left: 0;
                        width: 100%;
                        margin: 0;
                        padding: 0;
                        li{
                            overflow: hidden;
                            width: 100%;
                            height: 0;
                            color: #fff;
                            transition: .2s;
                            a {
                                padding: 4px;
                                background: $bcw;
                                text-align: left;
                                font-size: 10px;
                                font-weight: normal;
                            }
                            &:before{
                                content: ">";
                                display: block;
                                color: $tc;
                                float: left;
                                margin: 2px 10px 0 18px;
                                @include anm(0.2s);
                            }
                            &:hover{
                                &:before{
                                    content: ">";
                                    margin: 2px 10px 0 24px;
                                }
                            }
                        }
                    }
                    &.main{
                        padding: 2px 0;
                        &:before{
                            content: "+";
                            display: block;
                            float: left;
                            margin: 0 10px 0 12px;
                            @include anm(0.4s);
                        }
                        &:hover{
                            &:before{
                                content: "-";
                            }
                        }
                    }
                    &:hover{
                        &:before{
                            margin: 0 10px 0 18px;
                        }
                        a{
                            text-decoration: none;
                        }
                        background-color: $bc;
                    }
                    &.title{
                        margin: 10px 0 4px 16px;
                        &:before{
                            content: none;
                            float: left;
                            margin: 0;
                        }
                    }
                    &:first-child{
                        margin: 0;
                    }
                }
                & > li{
                    &:first-child{
                        border: none;
                        padding: 8px 0 0;
                        margin: 0 0 8px;
                        &:before{
                            content: none;
                        }
                        b{
                            display: block;
                            font-size: 14px;
                            float: left;
                            span{
                                display: block;
                                float: right;
                                margin: 2px 0 0 7px;
                                font-size: 9px;
                            }
                        }
                    }
                }
            }
            #dropmenu > li:hover > a {  background: $bcw; }
            #dropmenu > li:hover li:hover > a {  background: $bcw; }
            #dropmenu li:hover > ul > li {
                overflow: visible;
                height: auto;
            }
            #dropmenu li ul li ul {
                top: 0;
                left: 100%;
            }
            #dropmenu li:last-child ul li ul {
                left: -100%;
                width: 100%;
            }
            #dropmenu li ul li ul li a {  background: $bcw; }
            #dropmenu li:hover ul li ul li:hover > a {  background: $bcw; }
            #dropmenu li ul li ul:before {
                position: absolute;
                content: "";
                top: 13px;
                left: -20px;
                width: 0;
                height: 0;
                border: 5px solid transparent;
                border-left-color: #454e08;
            }
            #dropmenu li:last-child ul li ul:before {
                position: absolute;
                content: ">";
                top: 13px;
                left: 200%;
                margin-left: -20px;
                border: 5px solid transparent;
                border-right-color: #454e08;
            }

            .separate{
                width: 100%;
                border: none;
                display: block;
                border-bottom: 1px dotted $tc;
                clear: both;
                padding: 10px 0 0;
                margin: 0 0 4px;
            }
            .ftrnav{
                overflow: hidden;
                clear: both;
                width: 100%;
                font-size: 10px;
                margin: 0 0 10px;
                color: $tc;
                li{
                    float: left;
                    margin: 0 0 0 6px;
                    &:before{
                        content: "/";
                        margin: 0 6px 0 0;
                    }
                    &:first-child{
                        &:before{
                            content: none;
                        }
                    }
                }
            }
            .copy{
                display: block;
                clear: both;
                font-size: 9px;
                text-align: left;
                color: $lc;
            }

            .logo{
                clear: both;
                width: 170px;
                margin: 40px auto;
                h5{
                    text-indent: -9999px;
                    display: block;
                    background: url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/header/hdr_logo.png') 40% no-repeat;
                    background-size: 75% 75%;
                    width: 162px;
                    height: 45px;
                    margin: 0 0 4px;
                    a{
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }
                span{
                    text-align: center;
                    letter-spacing: 1px;
                    font-size: 9px;
                    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                }
            }
        }
    }
    /* 商品ページコンテンツ部分 */
    .wrapcontents_ip{
        img{
            width: 100%;
            display: block;
        }
        p{
            font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
            font-size: 13px;
            line-height: 2;
        }
        hr{
            margin: 0;
            padding: 0;
            border: none;
            border-bottom: 1px dotted $lc;
        }
        .ip_info{
            width: 820px;
            margin: 30px 0 60px;
            overflow: hidden;
            line-height: 2;
            hr{
                margin: 0 0 20px;
                display: block;
                clear: both;
                border: none;
                border-top: 2px dotted $lc;
                border-bottom: 2px dotted $lc;
            }
            .infoTable{
                font-size: 12px;
                border-collapse: collapse;
                border-spacing: 0; 
                width: 49%;
                margin: 0 1% 3% 0;
                float: left;
                tr{
                    /* border-bottom: 1px dotted $lc; */
                    &:nth-child(odd){
                        background-color: $bc;
                    }
                    &:first-child{
                        /* border-top: 1px dotted $lc; */
                    }
                }
                td{
                    padding: 2px 0;
                    width: 20%;
                    /* clear: both;
                    float: left; */
                    &:nth-child(even){
                        float: left;
                        width: 80%;
                    }
                    &:first-child{
                        font-weight: bold;
                        padding: 2px 10px;
                    }
                }
            }
            .ip_Taggroup{
                /* border-top: 1px dotted $lc;
                border-bottom: 1px dotted $lc; */
                padding: 0;
                width: 49%;
                margin: 0 0 0 1%;
                float: left;
                .ip_Tag{
                    padding: 0 0 16px;
                    b{
                        font-size: 13px;
                        display: block;
                        line-height: 1.5;
                        padding: 0;
                        margin: 0 0 10px;
                        border-bottom: 1px dotted $tc;
                    }
                    ul{
                        overflow: hidden;
                        li{
                            float: left;
                            margin: 0 0 10px 10px;
                            &:first-child{
                                margin: 0 0 10px 0;
                            }
                            a{
                                word-wrap: break-word;
                                overflow: hidden;
                                display: block;
                                clear: both;
                                text-decoration: none;
                                font-size: 12px;
                                color: $tc;
                                text-align: center;
                                padding: 4px 8px;
                                @include rad(3,3,3,3);
                                @include anm(0.2s);
                                background-color: #fff;
                                text-decoration: none;
                                border: 1px solid $lc;
                                img{
                                    width: 100%;
                                }
                                &:visited,&:links{
                                    color: #000;
                                }
                                &:hover{
                                    background-color: $mc;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
        .ip_main{
            margin: 0 0 200px;
            .txt{
                padding: 0 30px 0px;
            }
        }
        .ip_sub{
            margin: 0 0 50px;
            .txt{
                padding: 0 30px 160px;
            }
        }
        .ip_main,.ip_sub{
            img{
                margin: 0 0 30px;
            }
            .posL{
                float: left;
            } 
            .posR{
                float: right;
            }
            .posC{
                margin: 0 auto;
                text-align: center;
            }
            .txt{
                width: 60%;
                h3{
                    width: auto;
                    display: inline-block;
                    margin: 0;
                    letter-spacing: 3px;
                    font-size: 20px;
                    padding: 0 0 5px;
                    font-weight: normal;
                    border-bottom: 1px dotted $lc;
                    font-family: "Lucida Grande", "segoe UI", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Meiryo, Verdana, Arial, sans-serif;
                }
                b{
                    font-size: 16px;
                    display: block;
                    margin: 60px 0 20px;
                }
                p{
                    margin: 10px 0 0;
                }
                span{
                    display: block;
                    clear: both;
                    font-size: 12px;
                    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                    margin: 10px 0 40px;   
                }
            }
            .caption{
                border: 1px dotted $mc !important;
                padding: 30px 30px 0 !important;
                width: 768px !important;
                margin: 60px auto !important;
                overflow: hidden;
                div{
                    margin: 0 0 30px;
                    b{
                        display: block;
                        margin: 0 0 16px;
                        width: 100%;
                    }
                    em{

                        display: block;
                        font-weight: bold;
                        font-size: 14px !important;
                        margin: 0 0 6px;
                    }
                    .caption_img{
                        width: 30%;
                        float: left;
                        img{
                            border: 1px solid $lc;
                            margin: 0 0 15px !important;
                            display: block;
                            float: left;
                        }
                        a{
                            clear: both;
                            width: auto;
                            font-size: 12px;
                            margin: 0 auto;
                            text-align: center;
                            display: block;
                            padding: 6px;
                            border: 1px solid $lc; 
                            background-color: $bcw;
                            color: $tc;
                            @include anm(0.2s);
                            &:hover{
                                color: $bcw;
                                border: 1px solid $mc;
                                background-color: $mc;
                                text-decoration: none;
                            }
                        }
                    }
                    .caption_txt{
                        width: 65%;
                        padding: 0 0 0 5%;
                        float: left;
                        p{
                            font-size: 11px;   
                        }
                    }
                }
                hr{
                    margin: 50px 0;
                    display: block;
                    clear: both;
                    border: none;
                    border-bottom: 1px dotted $lc;
                    border-top: 1px dotted $lc;
                }
            }
            /* 購入前にご注意下さい */
            .careful{
                padding: 15px 10px;
                width: 828px;
                margin: 60px auto 120px;
                overflow: hidden;
                border: 1px dotted $lc;
                background-color: $bc;
                b{
                    color: $tc;
                    display: inline-block;
                    margin: 0 0 15px;
                    font-size: 14px;
                    border-bottom: 1px dotted $tc;
                }
                ul{
                    display: table;
                    overflow: hidden;
                    li{
                        display: table-cell;
                        padding: 0 15px;
                        p{
                            font-size: 11px;
                        }
                        img{
                            margin: 0;
                        }
                        color: $tc;
                    }
                }
            }
            /* 関連商品 */
            .recommend{
                .recommend_title{
                    clear: both;
                    overflow: hidden;
                    li{
                        float: left;
                        width: 33.333%;
                        font-weight: bold;
                        text-align: center;
                        font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                        p{
                            font-size: 15px;
                            line-height: 1.5;
                        }
                        hr{
                            display: block;
                            width: 100%;
                            margin: 0 auto;
                            padding: 10px 0 0;
                            border: none;
                            border-bottom: 1px dotted $tc;
                        }
                        span{
                            margin: 0 6px 0 0;
                            display: block;
                            font-size: 10px;
                        }
                    }
                }
                .recommend_item{
                    display: table;
                    li{
                        display: table-cell;
                        padding: 50px 40px 100px;
                        p{
                            color: $tc;
                            font-size: 10px;
                        }
                        span{
                            font-size: 10px;
                            color: $tc;
                            font-size: 14px;
                            em{
                                font-size: 10px;
                                margin: 0 0 0 5px;
                                color: $tc;
                            }
                        }
                        img{
                            outline: 1px solid #f6f6f6;
                        }
                    }
                }
            }
        }
    }
}









/* ---------------------------------------------------------------------------------- */

.ipMaincontents{
    .ipMainwrapcontents{
        border: none;
        border-bottom: 1px solid #ddd;
        padding: 0 0 30px;
        margin: 0 0 60px;
        width: 100%;
        img{
            display: block;
            width: 100%;
        }
        .ipMaintxt{
            @include sizing(100%);
            font-size: 12px;
            em{
                display: block;
                margin: 30px 0 0;
                font-size: 16px;
                line-height: 2.0;
            }
        }   
    }
    .ipSubcontents{
        b{
            font-weight: normal;
            font-size: 18px;
            padding: 12px 0;
            display: block;
            margin: 0;
            small{
                font-size: 11px;
                margin: 0 0 0 10px;
            }
        }
        ul{
            margin: 0 0 10px;
            li{
                float: left;
                width: 22%;
                margin: 0 0 3% 4%;
                img{
                    width: 100%;
                    display: block;
                    margin: 0 0 2px;
                }
                p{
                    font-size:11px;
                    line-height: 2.5;
                }
                &:nth-child(1),&:nth-child(4n+1){
                    margin: 0;
                }
            }
        }
    }
}

.ipInfo,.ipDelivery,.ipPayment{
    .ipCheck{
        ol{
            margin: 0 0 0 26px;
        }
    }
    table{
        tr{
            td{
                &:first-child{
                    width: 60px;
                }
            }
        }
    }
}


.ipGiftservice{
    margin-top: 10px;
    ul{
        li{
            a{
                div{
                    top: 5px;
                    &:after{
                        content: none;
                    }
                }
            }
        }
    }
}

.ipInfo,.ipDelivery,.ipPayment {
    float: left;
    border: none;
    border-collapse: collapse;
    font-size: 11px;
    tr{
        background-color: #fff;
        border: 1px dotted #ababab;
        border-right: none;
        border-left: none;
    }
    td{
        border: none;
        padding: 8px 12px;
        &:first-child{
            width: 50px;
        }
    }
    .head{
        background: none;
        td{
            border: none;
            padding: 14px 0;
        }
    }
    tr:nth-child(even) {
        background-color: #fff;
    }
    .ipTitle {
        font-size: 18px;
    }
}


.ipInfo{
    tr{
        &:nth-child(even){
            background-color: #efefef;
        }
    }
}


.ipDelivery,.ipPayment{
    width: 48%;
    margin: 0 0 30px;
}
.ipPayment{
    margin: 0 0 40px 3.5%;
}
.ipBrands{
    clear: both;
    width: 100%;
    margin: 40px 0 0;
    padding: 0 0 30px;
    b{
        font-weight: normal;
        font-size: 18px;
        padding: 12px 0;
        display: block;
        margin: 0;
    }
    .ipBrands_img{
        width: 30%;
        float: left;
        img{
            width: 100%;
        }
    }
    .ipBrands_txt{
        width: 66%;
        float: right;
        padding: 0 2%;
        margin: 0 0 20px;
        font-size: 12px;
        line-height: 2;
        em{
            font-weight: normal;
            font-size: 14px;
            margin: 0 0 10px;
            padding: 0;
            line-height: 1.0;
            display: block;
        }
        p{
            margin: 0 0 30px;
        }
        a{
            display: block;
            clear: both;
            font-size: 12px;
            color: $tc;
            text-align: center;
            padding: 10px 12px;
            @include rad(3,3,3,3);
            @include anm(0.2s);
            background-color: #fff;
            margin: 0 auto;
            width: 200px;
            text-decoration: none;
            border: 1px solid $mc;
            &:hover{
                background-color: $mc;
                color: #fff;
            }
        }
    }
}
hr{
    border: none;
    clear: both;
    display: block;
    padding: 0;
    border-bottom: 1px dotted #dfdfdf;
}
.gallerySpace{
    width: 100%;
    overflow: hidden;
    margin: 0 0 100px;
    .ipGallery{
        width: 63%;
        padding: 0 2% 0 0;
        float: left;
        img{
            width: 100%;
            display: block;
        }
    }
    .ipCart{
        background-color: #fff;
        padding: 1%;
        width: 32%;
        border: 1px solid $mc;
        float: left;
        a{
            display: block;
            color: #fff;
            text-decoration: none;
            width: 91%;
            float: left;
            clear: both;
            margin: 10px auto 0;
            padding: 6px 10px;
            text-align: center;
            font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
            font-size: 14px;
            @include anm(0.2s);

            &.sample_cart{
                background-color: $mc;
                border: 1px solid $mc;
            }
            &.sample_fav{
                background-color: $tc;
                border: 1px solid $tc;
            }
            &.sample_contact{
                color: #999;
                background-color: #fff;
                border: 1px solid #999;
                &:hover{
                    background-color: #efefef;
                    border: 1px solid #efefef;
                }
            }
            &:hover{
                background-color: #fff;
                border: 1px solid #dfdfdf;
                color: #000;
            }
        }
        em{
            font-size: 16px;
            font-weight: bold;
            display: block;
            margin: 0;
        }
        p{
            font-size: 13px;
            padding: 6px 0;
            border-bottom: 1px dotted #dfdfdf;
            span{
                display: block;
                color: #9f9f9f;
            }
        }
    }
}
.ipInfo{
    width: 49%;
    float: left;
    margin: 0 1% 0 0 ;
}
.ipTaggroup{
    width: 46%;
    float: left;
    margin: 0 0 2% 1%;
    border: 1px dotted #999;
    padding: 0 1% 1%;
    background-color: #fff;
    overflow: hidden;
    b{
        font-weight: normal;
        font-size: 14px;
        padding: 6px 0 10px;
        display: block;
        margin: 0;
    }
    ul{
        overflow: hidden;
        display: table;
        width: 100%;
        li{
            display: table-cel;
            float: left;
            margin: 0 0 6px;
            a{
                word-wrap: break-word;
                overflow: hidden;
                display: block;
                clear: both;
                text-decoration: none;
                font-size: 12px;
                color: $tc;
                text-align: center;
                padding: 6px 8px;
                @include rad(3,3,3,3);
                @include anm(0.2s);
                background-color: #fff;
                text-decoration: none;
                border: 1px solid $mc;
                img{
                    width: 100%;
                }
                &:visited,&:links{
                    color: #000;
                }
                &:hover{
                    background-color: $mc;
                    color: #fff;
                }
            }
            &.second{
                padding: 0 0.65% 0 1.33%;
            }
            &.third{
                padding: 0 1.33% 0 0.65%;
            }
        }
    }
}
.ipRecommends{
    margin: 0 0 60px;
    img{
        width: 100%;
        display: block;
        border: 1px solid $mc;
    }
    b{
        font-weight: normal;
        font-size: 18px;
        padding: 12px 0;
        display: block;
        margin: 0;
    }
    ul{
        overflow: hidden;
        width: 100%;
        li{
            width: 15.66%;
            float: left;
            font-size: 12px;
            margin: 0 0 0 1%;
            &:first-child{
                margin: 0;
            }
            a{
                text-decoration: none;
                img{
                    width: 100%;
                }
                &:visited,&:links{
                    color: #000;
                }
                &:hover{
                    text-decoration: underline;
                }
                p{
                    margin: 4px 0 0;
                }
            }
        }
    }
}
.ipColumnspace,.ipNewsspace{
    margin-bottom: 40px;
    b{
        font-weight: normal;
        font-size: 18px;
        padding: 12px 0;
        display: block;
        margin: 0;
    }
    ul{
        overflow: hidden;
        li{
            border: 1px solid $mc;
            background-color: #fff;
            width: 30%;
            padding: 1%;
            margin: 0 0 2% 1.5%;
            float: left;
            a{
                text-decoration: none;
                color: #000;
            }
            img{
                width: 100%;
            }
            &:first-child{
                width: 30%;
                margin: 0 0 2% 0;
            }
            &:nth-child(3n+1){
                width: 30%;
                margin: 0 0 2% 0;
            }
            p{
                clear: both;
                font-size: 13px;
                margin: 5px 0 0;
            }
            hr{
                margin: 10px 0;
            }
            .tag01{
                color: #fff;
                background-color: $mc;
                font-size: 10px;
                font-weight: bold;
                padding: 4px 6px;
                display: block;
                clear: both;
                float: left;
            }
            .date{
                color: #999;
                border: 1px solid #dfdfdf;
                background-color: #fff;
                font-size: 10px;
                font-weight: bold;
                padding: 4px 6px;
                margin: 6px auto;
                display: block;
                clear: both;
                float: left;
            }

        }
    }
}
.ipMediaspace{
    margin-bottom: 40px;
    b{
        font-weight: normal;
        font-size: 18px;
        padding: 12px 0;
        display: block;
        margin: 0;
    }
    ul{
        overflow: hidden;
        li{
            width: 15%;
            margin: 0 0 2% 2%;
            float: left;
            img{
                /* width: 100%; */
                height: 170px;
                display: block;
                margin: 0 0 4px;
            }
            &:first-child{
                margin: 0 0 2% 0;
            }
            p{
                font-size: 11px;
            }
        }
    }
}
.ipCampaignspace{
    margin-bottom: 40px;
    b{
        font-weight: normal;
        font-size: 18px;
        padding: 12px 0;
        display: block;
        margin: 0;
    }
    ul{
        overflow: hidden;
        li{
            width: 32.333%;
            margin: 0 0 2% 1.5%;
            float: left;
            img{
                width: 100%;
            }
            &:first-child{
                width: 32.333%;
                margin: 0 0 2% 0;
            }
            &:nth-child(3n+1){
                width: 32.333%;
                margin: 0 0 2% 0;
            }
        }
    }
}
.ipEventspace{
    margin-bottom: 40px;
    b{
        font-weight: normal;
        font-size: 18px;
        padding: 12px 0;
        display: block;
        margin: 0;
    }
    ul{
        overflow: hidden;
        li{
            width: 50%;
            float: left;
            img{
                width: 100%;
            }
            &:nth-child(odd){
                width: 49%;
                margin: 0 1% 2% 0;
            }
            &:nth-child(even){
                width: 49%;
                margin: 0 0 2% 1%;
            }
        }
    }
}
.ipReturncart{
    position: fixed;
    right: 10px;
    bottom: -90px;
    width: 60px;
    height: 60px;
    @include rad(30,30,30,30);
    background-color: $mc;

    display: block;
    word-wrap: break-word;
    overflow: hidden;
    display: block;
    clear: both;
    text-decoration: none;
    font-size: 13px;
    color: #000;
    text-align: center;
    font-weight: bold;
    margin: 0 auto 100px;
    padding: 20px 0 0;
    line-height: 1.5;
    @include anm(0.2s);
    background-color: #fff;
    text-decoration: none;
    border: 1px solid $mc;
    img{
        width: 100%;
    }
    &:visited,&:links{
        color: #000;
    }
    &:hover{
        background-color: $mc;
        color: #fff;
    }
}




/* ---------------------------------------------------------------------------------- */



.defaultLayout{
    margin: 30px auto;
    padding: 60px 0;
    background-color: #fff;
    img{
        display: block;
        margin: 0 auto;
        text-align: center\9;
        vertical-align: bottom;
    }
    .right{
        text-align: right;
    }
    .left{
        text-align-last: left;
    }
    .cf{
        zoom:1;
        &:before, &:after{
            content:"";
            display: table;
        }
        &:after{
            clear: both;
        }
    }

    b{
        display: block;
        font-size: 19px;
        margin: 0 0 10px;
        padding: 0 0 10px;
        border-bottom: 1px solid #000;
        font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
        &.white{
            border-bottom: 1px solid #fff;
        }
    }


    .imgDouble,.imgTri,.imgCatch,.imgScene,.imgDetail,.imgDual,.imgCatchtxt,.imgPoints,.imgDeepinfo{
        margin: 0;
        padding: 0 10px 120px;
            /* overflow: hidden; */

            &:after{
                visibility: hidden;
                display: block;
                content: " ";
                clear: both;
                height: 0;
            }
        }

        @media only screen and (max-width: 768px) {
            .imgDouble,.imgTri,.imgCatch,.imgScene,.imgDetail,.imgDual,.imgCatchtxt,.imgPoints,.imgDeepinfo{
                padding: 0 10px 0;
            }
        }
        .imgDual{
            clear: both;
            padding: 0 0 120px;
            & > div{
                width: 395px;
                padding: 0;
                float: left;
                .catchTxt{
                    width: 365px;
                    padding: 30px 10px 0;
                    height: 128px;
                    margin: 0 0 20px;
                    overflow: hidden;
                }
                .dualImage{
                    width: 395px;
                    /* overflow: hidden; */
                    img{
                        width: 170px;
                        padding: 0 0 0 10px;
                        display: block;
                        float: left;
                    }
                }
            }
            .dualScene{
                img{
                    width: 430px;
                    padding: 10px 10px 10px 0;
                }
            }
        }

        &.wide{
            width: 100%;
            max-width: 840px;
            background-color: #fff;
            margin: 60px auto;
            font-size: 13px;
            letter-spacing: 0.1em;
            line-height: 1.6em;
            .imgDeepinfo{
                img{
                    display: block;
                    margin: 0 0 10px;
                }
                .deepMain{
                    position: relative;
                    p{
                        position: absolute;
                        width: auto;
                        top: 60px;
                        &.itemInfo{
                            left: 60px;
                            padding: 0 20px;
                            &.posCh{
                                right: 60px;
                                left: auto;
                            }
                            &.size{
                                width: 300px;
                            }
                        }
                    }
                    img{
                        width: 100%;
                        margin: 0 auto;
                    }
                }
                .deepSub{
                    margin: 10px 0 0;
                    width: 480px;
                    float: left;
                    text-align: left;
                    &.left{
                        padding: 0 5px 0 0; 
                        img{
                            width: 480px;
                        }                 
                    }
                    &.right{
                        padding: 0 0 0 5px;
                        img{
                            width: 480px;
                        }
                    }
                    p{
                        padding: 0 0 10px;
                        height: 8em;
                        overflow: hidden;
                    }
                    b{
                        font-size: 16px;
                        border: none;
                        padding: 0;
                    }
                }
            }

            div.imgCatchtxt{
                text-align: center;
                margin: 40px 0 0\9;
                padding: 30px 0 100px;
                strong{
                    font-size: 40px;
                    font-weight: normal;
                    margin: 0 0 40px;
                    display: block;
                    font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                }
            }

            @media only screen and (max-width: 768px) {
                div.imgCatchtxt{
                    padding: 10px 10px 50px;
                    text-align: left;
                    strong{
                        font-size: 14px;
                        margin: 0 0 10px;
                        font-weight: bold;
                        font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                    }
                }
            }
            .imgPoints{
                .point{
                    width: 100%;
                    margin: 0 0 100px;
                    overflow: hidden;
                    div{
                        clear: both;
                        width: 100%;
                        margin: 0 0 50px;
                        overflow: hidden;
                        img{
                            width: 480px;
                            display: block;
                            float: left;
                        }
                        p{
                            width: 50%;
                            display: block;
                            float: left;
                            text-align: center;
                            font-size: 20px;
                            &.descLeft,&.descRight{
                                text-align: left;
                                width: 80%;
                                font-size: 14px;
                            }
                            &.descLeft{
                                float: left;
                            }
                            &.descRight{
                                float: right;
                            }
                            .pointNumber{
                                display: block;
                                font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                                font-size: 50px;
                                padding: 80px 0 40px; 
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
            .imgDouble{
                div{
                    width: 49%;
                    float: left;
                    text-align: left;
                    &.left{
                        padding: 0 5px 0 0;                        
                    }
                    &.right{
                        padding: 0 0 0 5px;
                    }
                    p{
                        padding: 0 20px 10px;
                        height: 8em;
                        overflow: hidden;
                    }
                }
                img{
                    margin: 10px 0 0;
                    width: 480px;
                }
            }
            @media only screen and (max-width: 768px) {
                .imgDouble{
                    div{
                        width: 100%;
                        float: left;
                        text-align: left;
                        &.left{
                            padding: 0;                        
                        }
                        &.right{
                            padding: 0;
                        }
                        p{
                            b{
                                font-size: 14px;
                                display: block;
                                font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                                font-weight: bold;
                                margin: 10px 0;
                            }
                        }
                        p{
                            padding: 0 0 10px;
                            height: 8em;
                            overflow: hidden;
                        }
                    }
                    img{
                        margin: 10px 0 0;
                        width: 100%;
                    }
                }
            }
            .imgTri{
                div{
                    width: 475px;
                    float: left;
                    text-align: left;
                    &.left{
                        padding: 0 0 0 0;                        
                    }
                    &.right{
                        padding: 0 0 0 19px;
                    }
                    p{
                        padding: 0 10px 10px;
                        height: 8em;
                        overflow: hidden;
                    }
                }
                ul{
                    width: 100%;
                    clear: both;
                    overflow: hidden;
                    li{
                        width: 310px;
                        padding: 0 0 0 19px;
                        float: left;
                        &:first-child{
                            padding: 0;
                        }
                        img{
                            margin: 10px 0 0;
                            width: 310px;
                        }       
                    }
                }
            }
            @media only screen and (max-width: 768px) {
                .imgTri{
                    div{
                        width: 100%;
                        p{
                            b{
                                font-size: 14px;
                                display: block;
                                font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                                font-weight: bold;
                                margin: 10px 0;
                            }
                        }
                        p{
                            padding: 0 0 10px;
                            height: 8em;
                            overflow: hidden;
                        }
                        &.right{
                            padding: 0;
                        }
                    }
                    ul{
                        list-style-type: none;
                        li{
                            width: 100%;
                            padding: 0;
                            img{
                                width: 100%;
                            }
                        }
                    }
                }
            }
            .imgCatch{
                img{
                    width: 100%;
                    float: left;
                }
                div{
                    width: 212px;
                    padding: 20px 10px 20px 20px;
                    float: left;
                }
                &.mov{
                    div{
                        width: 212px;
                        padding: 20px 54px 20px 64px;
                    }
                }
            }
            @media only screen and (max-width: 768px) {

                .imgCatch{
                    margin: 60px 0 0;
                    padding: 0;
                    img{
                        width: 100%;
                    }
                    div{
                        padding: 2%;
                        width: 96%;
                        p{
                            margin: 0;
                            b{
                                font-size: 14px;
                                display: block;
                                font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                                font-weight: bold;
                                margin: 10px 0;
                            }
                        }
                        p{
                            padding: 0 0 10px;
                            height: 8em;
                            overflow: hidden;
                        }
                    }
                    &.mov{
                        div{
                            width: 100%;
                            padding: 20px 54px 20px 64px;
                        }
                    }
                }
            }
            .imgScene{
                div{
                    position: relative;
                    p{
                        position: absolute;
                        width: auto;
                        top: 60px;
                        &.itemInfo{
                            left: 60px;
                            &.posCh{
                                right: 60px;
                                left: auto;
                                padding: 0 20px;
                            }
                            &.size{
                                width: 300px;
                            }
                            &.white{
                                color: #fff;
                            }
                        }
                        &.itemData{
                            bottom: 10px;
                            right: 40px;
                            top: auto;
                        }
                    }
                    img{
                        width: 100%;
                        display: block\9;
                        clear: both;
                        margin: 60px 0 0\9;
                    }

                    @media only screen and (max-width: 768px) {
                        p{
                            display: none;
                        }
                    }
                }
            }
            .imgDetail{
                padding: 0 0 120px;
                ul{
                    list-style-type: none;
                    /* overflow: hidden; */
                    &:after{
                        visibility: hidden;
                        display: block;
                        content: " ";
                        clear: both;
                        height: 0;
                    }
                    li{
                        /* overflow: hidden; */
                        float: left;
                        width: 190px;
                        margin: 0 10px 20px;
                        img{
                            width: 227px;
                            margin: 0 0 4px;
                        }
                        p{
                            height: 2em;
                        }
                        &.fifth{
                            clear: both;
                        }
                    }
                }
                .option{
                    display: block;
                    float: right;
                    width: auto;
                    margin: 50px 0 0 auto;
                    padding: 10px 0 0;
                    border: 1px dotted $tc;
                    li{
                        margin: 0 10px;
                    }
                    .opTitle{
                        width: auto;
                        border-bottom: 1px solid #000;
                        font-weight: bold;
                        margin-bottom: 10px;
                    }
                }
            }

            @media only screen and (max-width: 768px) {
                .imgDetail{
                    margin: 30px 0 0;
                    ul{
                        margin: 0;
                        list-style-type: none;
                        padding: 0 !important;
                        li{
                            width: 50%;
                            padding: 3% 3% 1%;
                            margin: 0;
                            img{
                                width: 100%;
                            }
                        }
                        &.option{
                            width: 90%;
                            padding: 5%;
                        }
                    }
                }
            }
            .imgDual{
                clear: both;
                padding: 0 0 120px;

                & > div{
                    width: 495px;
                    width: 465px\9;
                    padding: 0;
                    float: left;
                    .catchTxt{
                        width: 435px;
                        padding: 30px 30px 0;
                        height: auto;
                        /* height: 128px; */
                        margin: 0 0 20px;
                        overflow: hidden;
                    }
                    .dualImage{
                        width: 495px;
                        /* overflow: hidden; */
                        img{
                            width: 230px;
                            padding: 0 0 0 10px;
                            display: block;
                            float: left;
                        }
                    }
                }
                div{
                    float: left\9;
                }
                .dualScene{
                    img{
                        width: 485px;
                        padding: 10px 10px 10px 0;
                    }
                }

                .dualImage{
                    overflow: hidden\9;
                    clear: both\9;
                    img{
                        width: 220px\9;
                        float: left\9;
                    }
                }
                .dualscene{
                    width: 455px\9;
                    float:right\9;
                }
                .catchTxt{
                    width: 435px\9;
                    padding: 30px 30px 0\9;
                    height: 128px\9;
                    margin: 0 0 20px\9;
                    overflow: hidden\9;
                }
            }

            @media only screen and (max-width: 768px) {
                .imgDual{
                    padding: 0;
                    & > div{
                        width: 100%;
                        padding: 0;
                        float: left;
                        .catchTxt{
                            width: 96%;
                            padding: 30px 2% 0;
                            margin: 0;
                            p{
                                margin: 0;
                                b{
                                    font-size: 14px;
                                    display: block;
                                    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                                    font-weight: bold;
                                    margin: 10px 0;
                                }
                            }
                            p{
                                padding: 0 0 10px;
                                height: 8em;
                                overflow: hidden;
                            }
                        }
                        .dualImage{
                            width: 100%;
                            padding: 0 3% 3%;
                            img{
                                padding: 0;
                                width: 100%;
                            }
                        }
                    }
                    .dualScene{
                        padding: 0;
                        img{
                            padding: 0;
                            margin: 0;
                            width: 100%;
                        }
                    }
                }
            }
        }

    }

    .reviewGroup,.ipRecommgroup,.ipGiftservice{
        display: none;
    }

    /* 九谷焼、山中漆器とは */
    .reviewGroup,.brandInfo{
        max-width: 96%;
        margin: 0 7px;
        border: 1px dotted $mc;
        float: left;
        padding: 2%;
        background-color: #fff;
    }
    .brandInfo{
        .brandContents{
            p{
                margin: 0 0 15px;
            }
        }
    }

    .ipCheck{
        margin: 15px 0;
        padding: 2%;
        width: 95.5%;
        background-color: #fff;
        border: 1px dotted $mc;
        img{
            display: none;
        }
    }

    .ip_infoBrands{
        /* width: 100%; */
        width: 99%;
        overflow: hidden;
        margin: 100px auto;
        padding: 0;
        list-style-type: none;
        background-color: #fff;
        border: 1px dotted $mc;
        div{
            width: 42%;
            margin: 5% 4% 0%;
            display: block;
            float: left;
            font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
            &.infoTxt{
                width: 46%;
                margin: 5% 0% 0% 4%;
            }
            &.link{
                width: 92%;
                margin: 6% 4% 5%;
                a{
                    width: 30%;
                    height: 24px;
                    font-size: 14px;
                    text-decoration: none;
                    margin: 0 auto;
                    display: block;
                    text-align: center;
                    background-color: #e84925;
                    -webkit-border-radius: 3px 3px 3px 3px;
                    border-radius: 3px 3px 3px 3px;
                    border: 1px solid #e84925;
                    color: #fff;
                    -webkit-transition: 0.2s;
                    transition: 0.2s;
                    &:hover{
                        background-color: #fff;
                        color: #e84925;
                        text-decoration: underline;
                    }
                }
            }
            b{
                font-size: 16px;
                display: block;
                text-align: center;
                font-size: 24px;
            }
            span{
                font-size: 14px;
                display: block;
                text-align: center;
                margin: 10px 0;
                font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
            }
            img{
                display: block;
                margin: 0 auto;
                max-width: 100%;
                behavior: expression( (function( el ) {
                    el.style.width = el.clientWidth < 600 ? '100%' : '100%';
                    el.runtimeStyle.behavior = 'none';
                })( this ));
            }
            p{
                font-size: 13px;
                line-height: 2.0;
                letter-spacing: 1px;
                margin: 0;
                padding: 0;
            }
        }
    }
