/*	16 COLUMN : RESPONSIVE GRID SYSTEM
	DEVELOPER : DENIS LEBLANC
	URL : https://responsive.gs
	VERSION : 3.0
	LICENSE : GPL & MIT */


/* 	SET ALL ELEMENTS TO BOX-SIZING : BORDER-BOX */
* { 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	*behavior: url(../js/boxsizing.htc); 
	/*	If you need support for IE7 and lower make 
		sure the boxsizing.htc file is linked properly.
		More info here:  https://github.com/Schepp/box-sizing-polyfill */
}


/*	MAIN CONTAINER 
	Set the width to whatever you want the width of your site to be. */
.container { 
	margin: 0 auto; 
}


/*	SELF CLEARING FLOATS - CLEARFIX METHOD */
.container:after,
.row:after, 
.col:after, 
.clr:after, 
.group:after { 
	content: ""; 
	display: table; 
	clear: both; 
}

/* 	DEFAULT ROW STYLES 
	Set bottom padding according to preference */
.row { padding-bottom: 0; }
			
								  
/* DEFAULT COLUMN STYLES */
.col { 
	display: block;
	float: left;
	width: 100%;
}

@media ( min-width : 768px ) {
	
	.gutters .col {
		margin-left: 2%;
	}
	
	.gutters .col:first-child { 
		margin-left: 0; 
	}
}


/*	COLUMN WIDTH ON DISPLAYS +768px 
	You might need to play with media queries here to suite your design. */
@media ( min-width : 768px ) {
	.span_1 { width: 6.25%; }
    .span_2 { width: 12.5%; }
    .span_3 { width: 18.75%; }
    .span_4 { width: 25%; }
    .span_5 { width: 31.25%; }
    .span_6 { width: 37.5%; }
    .span_7 { width: 43.75%; }
    .span_8 { width: 50%; }
    .span_9 { width: 56.25%; }
    .span_10 { width: 62.5%; }
    .span_11 { width: 68.75%; }
    .span_12 { width: 75%; }
    .span_13 { width: 81.25%; }
    .span_14 { width: 87.5%; }
    .span_15 { width: 93.75%; }
    .span_16 { width: 100%; }
    
    .gutters .span_1 { width: 4.375%; }
	.gutters .span_2 { width: 10.75%; }
	.gutters .span_3 { width: 17.125%; }
	.gutters .span_4 { width: 23.5%; }
	.gutters .span_5 { width: 29.875%; }
	.gutters .span_6 { width: 36.25%; }
	.gutters .span_7 { width: 42.625%; }
	.gutters .span_8 { width: 49.0%; }
	.gutters .span_9 { width: 55.375%; }
	.gutters .span_10 { width: 61.75%; }
	.gutters .span_11 { width: 68.125%; }
	.gutters .span_12 { width: 74.5%; }
	.gutters .span_13 { width: 80.875%; }
	.gutters .span_14 { width: 87.25%; }
	.gutters .span_15 { width: 93.625%; }
	.gutters .span_16 { width: 100%; }
}