body{font-size:x-small;color:#464646;background-color:#FFFFFF;}
img {max-width: 100%;}
/*	縞背景2	*/
.bg2{margin: 0;padding:5px 0;text-align:left;width:100%;background-color:#EDF2ED;}
/*	menu縞背景2	*/
.mbg2{margin:0;text-align:left;width:100%;background-color:#EDF2ED;}
.productlist{text-align:right;background-color:#EDF2ED;}
/*	hr	*/
.hr{color:#b3b3b4;background-color:#b3b3b4;height:1px;border:0px solid #b3b3b4;margin:2px 0;}
/*	購入商品情報	*/
input{color:#282828;}

/*	注文内容	*/
.order{margin:10px 0;text-align:left;color:#464646;}
/*	ポイント表示	*/
.point{margin:10px 0;text-align:left;color:#464646;}


/*	絵文字	*/
.emoji{color:#E10000;}
/*	タイトルバー	*/
/*	見出し	*/
/*	絵文字	*/
.caption span{color:#F9F5ED;}
.title span{color:#F9F5ED;}
.caption{text-align:center;background-color:#787878;font-size:medium;color:#FFFFFF}
.title{text-align:left;background-color:#787878;font-size:medium;color:#FFFFFF;}

a:link {color:#4790D0;}
a:focus {}
a:visited {color:#9E54AD;}

/*	商品名	*/
.product_name{margin:0;color:#00b0f0;width:90%;text-align:left;}
/*	キャッチコピー	*/
.tagline{color:#A5A5A5;}
/*	値段	*/
.value{margin:0;text-align:left;color:#464646;}
/*	割引	*/
.sale{margin:0;color:#D53A38;}
/*	在庫切れ	*/
.soldout{margin:5px 0;text-align:right;color:#E10000;}

/*	検索結果	*/
.result{background-color:#D7D7D7;}

/*	戻る	*/
.gotop{text-align:right;background-color:#D7D7D7;}

/*	ｵｽｽﾒ度	*/
.recommend{margin-bottom:0;text-align:left;color:#eb8f07;}
/*	（罫線記号）	*/
.navicurt .rule{color:#B3B3B4;}
/*	■	*/
.text_gray{margin:10px 0;color:#B3B3B4;}
/*	エラー表示場所	*/
.error{margin:5px 0;color:#FF0000;border:1px solid #FF0000;}
/*	ご案内	*/
.error_info{margin:5px 0;color:#FF0000;}





table{width:100%;margin:0;font-size:x-small;}
form,option{width:100%;margin:0;}
form p{margin:0 0 3px 0;}
/*	wrapper	*/
.wrapper{}

/*	spacer	*/
.spacer_w{color:#ffffff;background-color:#ffffff;height:1px;border:0px solid #ffffff;margin:0.3em 0;}
/*	clear	*/
.clear{clear:both;margin:0;}
.input_s{width:40px;}
.input_m{width:120px;}
.input_l{width:100%;}



/*	共通ヘッダ	*/
.header{margin-bottom:0;width:100%;}
/*	フリーエリア	*/
.freearea{margin:10px 0;}
/*	ログイン | 新規会員登録	*/
.login{margin:10px auto;text-align:center;}
/*	メルマガ	*/
.mailmagazine{text-align:center;}
/*	お知らせ	*/
.news{margin:10px 0;text-align:left;}
/*	縞背景	*/
.bg{margin:0;padding:5px 0;text-align:left;width:100%;}

/*	menu縞背景	*/
.mbg{margin:0;text-align:left;width:100%;}

/*	商品情報	*/
.product_description{margin:5px 0;text-align:left;}



/*	商品	*/
.product_list{margin:10px 0;}
/*	商品画像	*/
.product{float:left;margin:0 3px 0 0;vertical-align:top;border:1px solid #b4b4b4;}
/*	サブ紹介文 定価　価格
.sub_price{margin:5px 0;text-align:left;width:100%;border:1px solid #FF0000;}*/


/*	商品検索	*/
.product_search{margin-bottom:0;}
/*	フリーページカテゴリ	*/
.category{margin:10px 0;text-align:left;}
/*	フリーページカテゴリ	*/
.category_list{margin:10px 0;text-align:left;}
/*	ｷｰﾜｰﾄﾞ検索価格帯検索	*/
.keyword_search{}
.price_search{}
/*	グループ一覧	*/
.group_list{margin:10px 0;text-align:left;}
/*	logo	*/
.logo{margin-bottom:0;vertical-align:bottom;float:left;}
/*	cart	*/
.cart{float:right;text-align:right;width:100%;vertical-align:middle;}
/*	パンくず	*/
.breadcrumbs{text-align:left;}
/*	専用ヘッダ	*/
.shop_header{margin:10px 0;}
/*	小カテゴリ一覧	*/
.s_category_list{margin:10px 0;text-align:left;}
.s_category{margin:0;}
/*	専用フッタ	*/
.shop_footer{margin:10px 0;}
/*	並び替え	*/
.sort{margin:0 auto;width:100%;}


/*	商品画像	*/
.product_img{margin:0 auto;text-align:center;width:100%;}
/*	商品画像 big	*/
.main_img{margin:0;text-align:center;border:1px solid #b4b4b4;width:100%;}
/*	サブ画像	*/
.sub_img{margin:0 auto;width:100%;text-align:center;}
/*	サムネール	*/
.thumbnail{margin:0;vertical-align:top;border:1px solid #b4b4b4;width:23%;}
/*	赤
.text_red{text-align:left;color:#E10000;}*/
/*	商品価格（簡易）	*/
.sub_price{margin:0 auto;text-align:center;}
/*	商品価格	*/
.product_price{margin:5px 0;text-align:left;}

/*	カートに入れる	*/
.product_select{margin:5px auto;text-align:center;width:90%;}
/*	form	*/
.shopping_form{margin:5px auto;text-align:left;font-size:x-small;width:100%;}
/*	form_menu	*/
.form_menu{margin:10px 0;text-align:left;}
/*	submit	*/
.submit{margin:5px auto;text-align:center;}
.item{margin:0;}
/*	SNS連携	*/
.to_sns{margin:10px 0;text-align:left;}
/*	サブ紹介文	*/
.sub_description{margin:10px 0;text-align:left;}
/*	関連商品	*/
.cross-sell{margin:5px 0;text-align:left;}
/*	購入者のレビュー	*/
.review{margin:5px 0;text-align:left;}
.review_name{margin:0;}
/*	続きを読む	*/
.more{margin:5px 0;text-align:right;}
/*	レビュー	*/
.review_list{margin:5px 0;text-align:left;}

/*	レビュー日にち	*/
.date{margin-bottom:0;text-align:right;}
/*	買った人のｺﾒﾝﾄ一覧へ	*/
.review_all{margin-bottom:0;text-align:right;}
/*	左寄せテキスト	*/
.text_left{margin:10px 0;text-align:left;}
/*	右寄せテキスト	*/
.text_right{margin:10px 0;text-align:right;}
/*	centerテキスト	*/
.text_center{margin-bottom:0;text-align:center;}
/*	共通フッタ	*/
.footer{margin:0;text-align:left;}
/*	コピーライト	*/
.copy{margin:5px 0;text-align:center;}

/*	ページャ	*/
.page_table{margin:0 auto;width:100%;text-align:center;}
.page_table a{padding:0 2px;}
.page_table .st{text-align:right;}
.page_table .fin{text-align:left;}
.page_table .cent{text-align:center;width:60%;}

/*	共通ヘッダ	*/
.header_cart{margin-bottom:0;width:100%;text-align:center;}
/*	ナビ	*/
.navi{margin-bottom:0;width:100%;text-align:center;}
.navicurt{margin:5px 0;width:100%;}

/*	品名	*/
.itemname{margin:5px 0;}
/*	価格	*/
.price{margin:5px 0;}
/*	数量	*/
.count{margin:5px 0;}
/*	小計	*/
.subtotal{margin:5px 0;}
/*	商品合計	*/
.total{margin:10px 0;}

/*	リンク（他の商品も見る）	*/
.otheritem{margin:10px 0;text-align:left;}
/*	会員用購入手続き	*/
.member{margin:10px 0;text-align:left}
/*	非会員用購入手続き	*/
.freemember{margin:10px 0;text-align:center;}
.domainassignment,.lostidpw{margin:10px 0;text-align:left;}
/*	ご案内	*/
.infomation{margin:10px 0;}
/*	返品条件	*/
.returnedgoods{margin:10px 0;text-align:left;}
/*	購入者情報入力	*/
.buyerinfo{margin:10px 0;}

.indent5{margin:0 0 0 5px;}
/*	ボタン	*/
.formbutton{margin:10px 0;text-align:center;}
/*	削除	*/
.del{margin:5px 0;text-align:left;}
/*	←戻る	*/
.goback{margin:10px 0;text-align:left;}


.registration .menu{margin:10px 0;text-align:left;color:#000;}
.registration .submit{margin:10px 0;text-align:left;}
/*	お店のトップへ戻る	*/
.storetop{margin:10px 0;text-align:left;color:#147;}
/*	項目名	*/
.text_info{margin:10px 0;text-align:left;}

/*	会員登録 */
.registration{margin:10px 0;text-align:left;}
.registration .freemessage{margin:10px 0;text-align:left;}



/*	ご案内	*/
.information{text-align:left;}

/*	お買いもの情報	*/
.purchaseinfo{margin:10px 0;text-align:left;color:#F00;}
.purchasehistory{text-align:left;color:#F00;}
/*	お客様情報	*/
.memberinfo{margin:10px 0;text-align:left;color:#F00;}
.confirmation{text-align:left;color:#F00;}
.sendlist{text-align:left;color:#F00;}
.edit{text-align:left;color:#F00;}
/*	退会手続き	*/
.withdrawal{margin:10px 0;text-align:left;color:#F00;}
.logout{text-align:left;color:#F00;}
/*	会員登録フォーム	*/
.entryform{margin:10px 0;text-align:left;}
/*	専用ヘッダ	*/
.onlyheaders{margin:5px 0;text-align:left;}
/*	専用フッタ	*/
.newproductslist{text-align:right;}

.rank{color:#;}
/*	商品一覧	*/
.listing{text-align:left;}

/*	商品名	*/
.productname{text-align:left;}
/*	在庫情報	*/
.stockinfo{text-align:left;}
.stockinfo div{margin:5px 0;}
.stockinfo .ok{color:#359e65;}
.stockinfo .few{color:#ef9848;}
.stockinfo .not{color:#777777;}



/*	お店２	*/
/*	フリーページ詳細	*/
.pagecontent{margin:0;text-align:left;}
.pagetitle{margin:10px 0;text-align:center;}
.pagetitle2{padding:5px 0;text-align:left;}
.explanation{text-align:center;}
.image{text-align:center;}
.box{margin:5px 0;text-align:left;}



/*	お客様の声リスト	*/
.testimonials{margin:5px 0;}


.items{text-align:left;color:#b56;}
.overroll{margin:5px 0;text-align:left;}
/*	アンケート	*/
.enquete{margin:10px 0;text-align:left;width:100%;}

.enquetetitle span{color:#FFFFFF;}
.end{text-align:right}
/*	お問い合わせ	*/
.tel{margin:5px 0;}
.email{margin:5px 0;}
.notes{margin:5px 0;}
/*	サイトマップ	*/
.genre{color:#159;}


/*		*/
.agreement{margin:10px 0;}
.address{margin:10px 0;}

/*	商品合計	*/
.message{margin:10px 0;color:#FF0000;text-align:center;}
/*	ranking順位	*/
.superiorrank{font-size:medium;color:#FF0000;}
/*	※	*/
.text_red{margin:10px 0;color:#FF0000;}

.select{margin:10px 0 0;}
/*	productlist	*/
.box_l{float:left;width:50%;}
.img_border{border:1px solid #b4b4b4;width:100%;}
.box_r{float:right;vertical-align:top;width:50%;}
.lefts{text-align:left;}

/*************************************************/
/*** キーワードリンクデザイン ***/
/*01_gray*/
#sps-keywordBox .sps-keywordList {color:#b3b3b4;}

