@charset "UTF-8";
/*
```
<body>
<div class="maincolor">メインカラー</div>
<div class="basecolor">ベースカラー</div>
<div class="subcolor01">サブカラー01</div>
<div class="accentcolor">アクセントカラー</div>
<div class="textcolor">テキストカラー</div><br><br><br><br><br><br><br><br><br><br>


<h1>ご利用ガイド</h1>
<h2>買い物手順</h2>
<h3>お届けまでの流れ</h3>
<h4>1.ご注文</h4>
<p>ご注文確認後、当店から<a>「ご注文ありがとうございます」</a>メールをお送りします。 
ご注文内容・お届け先など間違いが無いか<em>再度ご確認</em>下さい。 </p>
<br><br><br>
<ul> <li>1.商品を探す</li> <li>2.買い物カゴへ入れる</li> <li>3.注文する</li> <li>4.注文情報を入力する </li> <li>5.注文内容を確認する</li> <li>6.商品をお届け</li>
</ul>


<h1>ご利用ガイド</h1>

<strong>クレジットカード決済をされるかたに大事なお知らせ</strong> <table> <tr> <td>クレジット決済<br>※当日・または翌営業日に発送致します(土日を除く)</td> <td>&yen;0&nbsp;当店負担</td> </tr> <tr> <td>NP後払い</td> <td>&yen;216&nbsp;お客様負担</td> </tr> <tr> <td>代金引換 </td> <td>&yen;324&nbsp;お客様負担</td> </tr> </table>
<small>※ ご指定いただいた場合は、<br>ご指定日のお届け予定となります。</small><br>


<a href="#"><img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text=img+placeholder"></a>



</body>
```
*/
/* ベースカラー 白色*/
/* テキストカラー　墨色 */
/* メインカラー 青碧色 */
/* サブカラー01 梅鼠色 */
/* アクセントカラー　菜の花色 */
/* 背景色 */
/* 朱色 */
.maincolor { background-color: #9c7048; color: #fff; }

.basecolor { background-color: white; color: #000; }

.subcolor01 { background-color: #c099a0; color: #fff; }

.accentcolor { background-color: #cfb239; color: #fff; }

.textcolor { background-color: #595857; color: #fff; }

.maincolor, .basecolor, .subcolor01, .accentcolor, .textcolor { width: 60px; height: 60px; border: 1px dotted #000; float: left; margin: 10px; font-size: 10px; text-align: center; }

/* ボックス指定 */
/* 透明度指定 */
/* 余白設定 */
/* アニメーション指定 */
/* 角丸指定 */
/* フォントの相対指定 */
/* 独自リセットcss */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0; padding: 0; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: bold; font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif; }

h1 { font-size: 24px; /* IE8以下対策 */ /* *font-size: ($s * 10) * 2 + px; */ font-size: 1.5rem; line-height: 1.5; }

h2 { font-size: 20.6px; /* IE8以下対策 */ /* *font-size: ($s * 10) * 2 + px; */ font-size: 1.2875rem; line-height: 1.5; }

h3 { font-size: 18.2px; /* IE8以下対策 */ /* *font-size: ($s * 10) * 2 + px; */ font-size: 1.1375rem; line-height: 1.5; }

h4 { font-size: 14.8px; /* IE8以下対策 */ /* *font-size: ($s * 10) * 2 + px; */ font-size: 0.925rem; line-height: 1.5; }

p, ul, ol, form, th, td, a, strong, em { font-size: 12px; /* IE8以下対策 */ /* *font-size: ($s * 10) * 2 + px; */ font-size: 0.75rem; line-height: 1.7; }

/* 禁則事項等 */
small { font-size: 10px; /* IE8以下対策 */ /* *font-size: ($s * 10) * 2 + px; */ font-size: 0.625rem; line-height: 1; }

/* 強調文字 */
em { font-weight: bold; font-style: normal; }

/* リンクカラー,画像ホバー設定 */
a { /* color: $sbc01;
img { @include anm(0.2s);
}
&:hover { img { opacity: 0.7; }
} */ }

input, textarea, select { font-family: inherit; font-size: inherit; font-weight: inherit; *font-size: 100%; }

img { vertical-align: bottom; border: none; }

address, caption, cite, code, dfn, strong, th, var { font-style: normal; font-weight: normal; }

ol, ul { list-style: none; }

caption, th { text-align: left; }

q:before, q:after { content: ''; }

abbr, acronym { border: 0; font-variant: normal; }

sup { vertical-align: text-top; }

sub { vertical-align: text-bottom; }

/* table */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

/* table { td { border: 1px solid $tc; padding: 1em 2em; vertical-align: middle; margin: 0; }
} */
/* hr ライン設定 */
.line { /* IE6/7対策 */ zoom: 1; border: none; border-bottom: 1px solid #c099a0; }
.line:before, .line:after { content: ""; display: table; }
.line:after { clear: both; }

/* スタイルガイド */
body { width: 100%; /* 書式の一括指定 */ font: 16px/1.0 Verdana, AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif; color: #595857; word-wrap: break-word; -webkit-text-size-adjust: 100%; /* アクセント用テキスト */ /* 回りこみ解除clearfix用クラス */ }
body .cf { /* IE6/7対策 */ zoom: 1; }
body .cf:before, body .cf:after { content: ""; display: table; }
body .cf:after { clear: both; }
