/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$cmn_hdr_asu-x: 363px;
$cmn_hdr_asu-y: 483px;
$cmn_hdr_asu-offset-x: -363px;
$cmn_hdr_asu-offset-y: -483px;
$cmn_hdr_asu-width: 111px;
$cmn_hdr_asu-height: 21px;
$cmn_hdr_asu-total-width: 671px;
$cmn_hdr_asu-total-height: 531px;
$cmn_hdr_asu-image: '../img/sprites/spritesheet_header.png';
$cmn_hdr_asu: 363px 483px -363px -483px 111px 21px 671px 531px '../img/sprites/spritesheet_header.png';
$cmn_hdr_asu_hv-x: 436px;
$cmn_hdr_asu_hv-y: 438px;
$cmn_hdr_asu_hv-offset-x: -436px;
$cmn_hdr_asu_hv-offset-y: -438px;
$cmn_hdr_asu_hv-width: 111px;
$cmn_hdr_asu_hv-height: 21px;
$cmn_hdr_asu_hv-total-width: 671px;
$cmn_hdr_asu_hv-total-height: 531px;
$cmn_hdr_asu_hv-image: '../img/sprites/spritesheet_header.png';
$cmn_hdr_asu_hv: 436px 438px -436px -438px 111px 21px 671px 531px '../img/sprites/spritesheet_header.png';
$cmn_hdr_cal-x: 0px;
$cmn_hdr_cal-y: 136px;
$cmn_hdr_cal-offset-x: 0px;
$cmn_hdr_cal-offset-y: -136px;
$cmn_hdr_cal-width: 178px;
$cmn_hdr_cal-height: 68px;
$cmn_hdr_cal-total-width: 671px;
$cmn_hdr_cal-total-height: 531px;
$cmn_hdr_cal-image: '../img/sprites/spritesheet_header.png';
$cmn_hdr_cal: 0px 136px 0px -136px 178px 68px 671px 531px '../img/sprites/spritesheet_header.png';
$cmn_hdr_comp-x: 242px;
$cmn_hdr_comp-y: 483px;
$cmn_hdr_comp-offset-x: -242px;
$cmn_hdr_comp-offset-y: -483px;
$cmn_hdr_comp-width: 111px;
$cmn_hdr_comp-height: 21px;
$cmn_hdr_comp-total-width: 671px;
$cmn_hdr_comp-total-height: 531px;
$cmn_hdr_comp-image: '../img/sprites/spritesheet_header.png';
$cmn_hdr_comp: 242px 483px -242px -483px 111px 21px 671px 531px '../img/sprites/spritesheet_header.png';
$cmn_hdr_comp_hv-x: 194px;
$cmn_hdr_comp_hv-y: 438px;
$cmn_hdr_comp_hv-offset-x: -194px;
$cmn_hdr_comp_hv-offset-y: -438px;
$cmn_hdr_comp_hv-width: 111px;
$cmn_hdr_comp_hv-height: 21px;
$cmn_hdr_comp_hv-total-width: 671px;
$cmn_hdr_comp_hv-total-height: 531px;
$cmn_hdr_comp_hv-image: '../img/sprites/spritesheet_header.png';
$cmn_hdr_comp_hv: 194px 438px -194px -438px 111px 21px 671px 531px '../img/sprites/spritesheet_header.png';
$cmn_hdr_del-x: 515px;
$cmn_hdr_del-y: 112px;
$cmn_hdr_del-offset-x: -515px;
$cmn_hdr_del-offset-y: -112px;
$cmn_hdr_del-width: 123px;
$cmn_hdr_del-height: 38px;
$cmn_hdr_del-total-width: 671px;
$cmn_hdr_del-total-height: 531px;
$cmn_hdr_del-image: '../img/sprites/spritesheet_header.png';
$cmn_hdr_del: 515px 112px -515px -112px 123px 38px 671px 531px '../img/sprites/spritesheet_header.png';
$cmn_hdr_del_hv-x: 515px;
$cmn_hdr_del_hv-y: 56px;
$cmn_hdr_del_hv-offset-x: -515px;
$cmn_hdr_del_hv-offset-y: -56px;
$cmn_hdr_del_hv-width: 123px;
$cmn_hdr_del_hv-height: 38px;
$cmn_hdr_del_hv-total-width: 671px;
$cmn_hdr_del_hv-total-height: 531px;
$cmn_hdr_del_hv-image: '../img/sprites/spritesheet_header.png';
$cmn_hdr_del_hv: 515px 56px -515px -56px 123px 38px 671px 531px '../img/sprites/spritesheet_header.png';
$cmn_hdr_form-x: 582px;
$cmn_hdr_form-y: 214px;
$cmn_hdr_form-offset-x: -582px;
$cmn_hdr_form-offset-y: -214px;
$cmn_hdr_form-width: 89px;
$cmn_hdr_form-height: 21px;
$cmn_hdr_form-total-width: 671px;
$cmn_hdr_form-total-height: 531px;
$cmn_hdr_form-image: '../img/sprites/spritesheet_header.png';
$cmn_hdr_form: 582px 214px -582px -214px 89px 21px 671px 531px '../img/sprites/spritesheet_header.png';
$cmn_hdr_formbtn-x: 250px;
$cmn_hdr_formbtn-y: 77px;
$cmn_hdr_formbtn-offset-x: -250px;
$cmn_hdr_formbtn-offset-y: -77px;
$cmn_hdr_formbtn-width: 26px;
$cmn_hdr_formbtn-height: 21px;
$cmn_hdr_formbtn-total-width: 671px;
$cmn_hdr_formbtn-total-height: 531px;
$cmn_hdr_formbtn-image: '../img/sprites/spritesheet_header.png';
$cmn_hdr_formbtn: 250px 77px -250px -77px 26px 21px 671px 531px '../img/sprites/spritesheet_header.png';
$cmn_hdr_guide-x: 315px;
$cmn_hdr_guide-y: 438px;
$cmn_hdr_guide-offset-x: -315px;
$cmn_hdr_guide-offset-y: -438px;
$cmn_hdr_guide-width: 111px;
$cmn_hdr_guide-height: 21px;
$cmn_hdr_guide-total-width: 671px;
$cmn_hdr_guide-total-height: 531px;
$cmn_hdr_guide-image: '../img/sprites/spritesheet_header.png';
$cmn_hdr_guide: 315px 438px -315px -438px 111px 21px 671px 531px '../img/sprites/spritesheet_header.png';
$cmn_hdr_guide_hv-x: 121px;
$cmn_hdr_guide_hv-y: 483px;
$cmn_hdr_guide_hv-offset-x: -121px;
$cmn_hdr_guide_hv-offset-y: -483px;
$cmn_hdr_guide_hv-width: 111px;
$cmn_hdr_guide_hv-height: 21px;
$cmn_hdr_guide_hv-total-width: 671px;
$cmn_hdr_guide_hv-total-height: 531px;
$cmn_hdr_guide_hv-image: '../img/sprites/spritesheet_header.png';
$cmn_hdr_guide_hv: 121px 483px -121px -483px 111px 21px 671px 531px '../img/sprites/spritesheet_header.png';
$cmn_hdr_logo-x: 250px;
$cmn_hdr_logo-y: 0px;
$cmn_hdr_logo-offset-x: -250px;
$cmn_hdr_logo-offset-y: 0px;
$cmn_hdr_logo-width: 61px;
$cmn_hdr_logo-height: 67px;
$cmn_hdr_logo-total-width: 671px;
$cmn_hdr_logo-total-height: 531px;
$cmn_hdr_logo-image: '../img/sprites/spritesheet_header.png';
$cmn_hdr_logo: 250px 0px -250px 0px 61px 67px 671px 531px '../img/sprites/spritesheet_header.png';
$cmn_hdr_m01-x: 388px;
$cmn_hdr_m01-y: 270px;
$cmn_hdr_m01-offset-x: -388px;
$cmn_hdr_m01-offset-y: -270px;
$cmn_hdr_m01-width: 184px;
$cmn_hdr_m01-height: 46px;
$cmn_hdr_m01-total-width: 671px;
$cmn_hdr_m01-total-height: 531px;
$cmn_hdr_m01-image: '../img/sprites/spritesheet_header.png';
$cmn_hdr_m01: 388px 270px -388px -270px 184px 46px 671px 531px '../img/sprites/spritesheet_header.png';
$cmn_hdr_m01_hv-x: 0px;
$cmn_hdr_m01_hv-y: 326px;
$cmn_hdr_m01_hv-offset-x: 0px;
$cmn_hdr_m01_hv-offset-y: -326px;
$cmn_hdr_m01_hv-width: 184px;
$cmn_hdr_m01_hv-height: 46px;
$cmn_hdr_m01_hv-total-width: 671px;
$cmn_hdr_m01_hv-total-height: 531px;
$cmn_hdr_m01_hv-image: '../img/sprites/spritesheet_header.png';
$cmn_hdr_m01_hv: 0px 326px 0px -326px 184px 46px 671px 531px '../img/sprites/spritesheet_header.png';
$cmn_hdr_m02-x: 194px;
$cmn_hdr_m02-y: 326px;
$cmn_hdr_m02-offset-x: -194px;
$cmn_hdr_m02-offset-y: -326px;
$cmn_hdr_m02-width: 184px;
$cmn_hdr_m02-height: 46px;
$cmn_hdr_m02-total-width: 671px;
$cmn_hdr_m02-total-height: 531px;
$cmn_hdr_m02-image: '../img/sprites/spritesheet_header.png';
$cmn_hdr_m02: 194px 326px -194px -326px 184px 46px 671px 531px '../img/sprites/spritesheet_header.png';
$cmn_hdr_m02_hv-x: 388px;
$cmn_hdr_m02_hv-y: 326px;
$cmn_hdr_m02_hv-offset-x: -388px;
$cmn_hdr_m02_hv-offset-y: -326px;
$cmn_hdr_m02_hv-width: 184px;
$cmn_hdr_m02_hv-height: 46px;
$cmn_hdr_m02_hv-total-width: 671px;
$cmn_hdr_m02_hv-total-height: 531px;
$cmn_hdr_m02_hv-image: '../img/sprites/spritesheet_header.png';
$cmn_hdr_m02_hv: 388px 326px -388px -326px 184px 46px 671px 531px '../img/sprites/spritesheet_header.png';
$cmn_hdr_m03-x: 0px;
$cmn_hdr_m03-y: 382px;
$cmn_hdr_m03-offset-x: 0px;
$cmn_hdr_m03-offset-y: -382px;
$cmn_hdr_m03-width: 184px;
$cmn_hdr_m03-height: 46px;
$cmn_hdr_m03-total-width: 671px;
$cmn_hdr_m03-total-height: 531px;
$cmn_hdr_m03-image: '../img/sprites/spritesheet_header.png';
$cmn_hdr_m03: 0px 382px 0px -382px 184px 46px 671px 531px '../img/sprites/spritesheet_header.png';
$cmn_hdr_m03_hv-x: 194px;
$cmn_hdr_m03_hv-y: 382px;
$cmn_hdr_m03_hv-offset-x: -194px;
$cmn_hdr_m03_hv-offset-y: -382px;
$cmn_hdr_m03_hv-width: 184px;
$cmn_hdr_m03_hv-height: 46px;
$cmn_hdr_m03_hv-total-width: 671px;
$cmn_hdr_m03_hv-total-height: 531px;
$cmn_hdr_m03_hv-image: '../img/sprites/spritesheet_header.png';
$cmn_hdr_m03_hv: 194px 382px -194px -382px 184px 46px 671px 531px '../img/sprites/spritesheet_header.png';
$cmn_hdr_m04-x: 388px;
$cmn_hdr_m04-y: 382px;
$cmn_hdr_m04-offset-x: -388px;
$cmn_hdr_m04-offset-y: -382px;
$cmn_hdr_m04-width: 184px;
$cmn_hdr_m04-height: 46px;
$cmn_hdr_m04-total-width: 671px;
$cmn_hdr_m04-total-height: 531px;
$cmn_hdr_m04-image: '../img/sprites/spritesheet_header.png';
$cmn_hdr_m04: 388px 382px -388px -382px 184px 46px 671px 531px '../img/sprites/spritesheet_header.png';
$cmn_hdr_m04_hv-x: 0px;
$cmn_hdr_m04_hv-y: 270px;
$cmn_hdr_m04_hv-offset-x: 0px;
$cmn_hdr_m04_hv-offset-y: -270px;
$cmn_hdr_m04_hv-width: 184px;
$cmn_hdr_m04_hv-height: 46px;
$cmn_hdr_m04_hv-total-width: 671px;
$cmn_hdr_m04_hv-total-height: 531px;
$cmn_hdr_m04_hv-image: '../img/sprites/spritesheet_header.png';
$cmn_hdr_m04_hv: 0px 270px 0px -270px 184px 46px 671px 531px '../img/sprites/spritesheet_header.png';
$cmn_hdr_m05-x: 194px;
$cmn_hdr_m05-y: 270px;
$cmn_hdr_m05-offset-x: -194px;
$cmn_hdr_m05-offset-y: -270px;
$cmn_hdr_m05-width: 184px;
$cmn_hdr_m05-height: 46px;
$cmn_hdr_m05-total-width: 671px;
$cmn_hdr_m05-total-height: 531px;
$cmn_hdr_m05-image: '../img/sprites/spritesheet_header.png';
$cmn_hdr_m05: 194px 270px -194px -270px 184px 46px 671px 531px '../img/sprites/spritesheet_header.png';
$cmn_hdr_m05_hv-x: 388px;
$cmn_hdr_m05_hv-y: 214px;
$cmn_hdr_m05_hv-offset-x: -388px;
$cmn_hdr_m05_hv-offset-y: -214px;
$cmn_hdr_m05_hv-width: 184px;
$cmn_hdr_m05_hv-height: 46px;
$cmn_hdr_m05_hv-total-width: 671px;
$cmn_hdr_m05_hv-total-height: 531px;
$cmn_hdr_m05_hv-image: '../img/sprites/spritesheet_header.png';
$cmn_hdr_m05_hv: 388px 214px -388px -214px 184px 46px 671px 531px '../img/sprites/spritesheet_header.png';
$cmn_hdr_m06-x: 194px;
$cmn_hdr_m06-y: 214px;
$cmn_hdr_m06-offset-x: -194px;
$cmn_hdr_m06-offset-y: -214px;
$cmn_hdr_m06-width: 184px;
$cmn_hdr_m06-height: 46px;
$cmn_hdr_m06-total-width: 671px;
$cmn_hdr_m06-total-height: 531px;
$cmn_hdr_m06-image: '../img/sprites/spritesheet_header.png';
$cmn_hdr_m06: 194px 214px -194px -214px 184px 46px 671px 531px '../img/sprites/spritesheet_header.png';
$cmn_hdr_m06_hv-x: 321px;
$cmn_hdr_m06_hv-y: 168px;
$cmn_hdr_m06_hv-offset-x: -321px;
$cmn_hdr_m06_hv-offset-y: -168px;
$cmn_hdr_m06_hv-width: 184px;
$cmn_hdr_m06_hv-height: 35px;
$cmn_hdr_m06_hv-total-width: 671px;
$cmn_hdr_m06_hv-total-height: 531px;
$cmn_hdr_m06_hv-image: '../img/sprites/spritesheet_header.png';
$cmn_hdr_m06_hv: 321px 168px -321px -168px 184px 35px 671px 531px '../img/sprites/spritesheet_header.png';
$cmn_hdr_m07-x: 0px;
$cmn_hdr_m07-y: 214px;
$cmn_hdr_m07-offset-x: 0px;
$cmn_hdr_m07-offset-y: -214px;
$cmn_hdr_m07-width: 184px;
$cmn_hdr_m07-height: 46px;
$cmn_hdr_m07-total-width: 671px;
$cmn_hdr_m07-total-height: 531px;
$cmn_hdr_m07-image: '../img/sprites/spritesheet_header.png';
$cmn_hdr_m07: 0px 214px 0px -214px 184px 46px 671px 531px '../img/sprites/spritesheet_header.png';
$cmn_hdr_m07_hv-x: 0px;
$cmn_hdr_m07_hv-y: 438px;
$cmn_hdr_m07_hv-offset-x: 0px;
$cmn_hdr_m07_hv-offset-y: -438px;
$cmn_hdr_m07_hv-width: 184px;
$cmn_hdr_m07_hv-height: 35px;
$cmn_hdr_m07_hv-total-width: 671px;
$cmn_hdr_m07_hv-total-height: 531px;
$cmn_hdr_m07_hv-image: '../img/sprites/spritesheet_header.png';
$cmn_hdr_m07_hv: 0px 438px 0px -438px 184px 35px 671px 531px '../img/sprites/spritesheet_header.png';
$cmn_hdr_m08-x: 321px;
$cmn_hdr_m08-y: 112px;
$cmn_hdr_m08-offset-x: -321px;
$cmn_hdr_m08-offset-y: -112px;
$cmn_hdr_m08-width: 184px;
$cmn_hdr_m08-height: 46px;
$cmn_hdr_m08-total-width: 671px;
$cmn_hdr_m08-total-height: 531px;
$cmn_hdr_m08-image: '../img/sprites/spritesheet_header.png';
$cmn_hdr_m08: 321px 112px -321px -112px 184px 46px 671px 531px '../img/sprites/spritesheet_header.png';
$cmn_hdr_m08_hv-x: 321px;
$cmn_hdr_m08_hv-y: 56px;
$cmn_hdr_m08_hv-offset-x: -321px;
$cmn_hdr_m08_hv-offset-y: -56px;
$cmn_hdr_m08_hv-width: 184px;
$cmn_hdr_m08_hv-height: 46px;
$cmn_hdr_m08_hv-total-width: 671px;
$cmn_hdr_m08_hv-total-height: 531px;
$cmn_hdr_m08_hv-image: '../img/sprites/spritesheet_header.png';
$cmn_hdr_m08_hv: 321px 56px -321px -56px 184px 46px 671px 531px '../img/sprites/spritesheet_header.png';
$cmn_hdr_next-x: 515px;
$cmn_hdr_next-y: 168px;
$cmn_hdr_next-offset-x: -515px;
$cmn_hdr_next-offset-y: -168px;
$cmn_hdr_next-width: 30px;
$cmn_hdr_next-height: 33px;
$cmn_hdr_next-total-width: 671px;
$cmn_hdr_next-total-height: 531px;
$cmn_hdr_next-image: '../img/sprites/spritesheet_header.png';
$cmn_hdr_next: 515px 168px -515px -168px 30px 33px 671px 531px '../img/sprites/spritesheet_header.png';
$cmn_hdr_next_hv-x: 555px;
$cmn_hdr_next_hv-y: 168px;
$cmn_hdr_next_hv-offset-x: -555px;
$cmn_hdr_next_hv-offset-y: -168px;
$cmn_hdr_next_hv-width: 30px;
$cmn_hdr_next_hv-height: 33px;
$cmn_hdr_next_hv-total-width: 671px;
$cmn_hdr_next_hv-total-height: 531px;
$cmn_hdr_next_hv-image: '../img/sprites/spritesheet_header.png';
$cmn_hdr_next_hv: 555px 168px -555px -168px 30px 33px 671px 531px '../img/sprites/spritesheet_header.png';
$cmn_hdr_phonecall-x: 321px;
$cmn_hdr_phonecall-y: 0px;
$cmn_hdr_phonecall-offset-x: -321px;
$cmn_hdr_phonecall-offset-y: 0px;
$cmn_hdr_phonecall-width: 350px;
$cmn_hdr_phonecall-height: 46px;
$cmn_hdr_phonecall-total-width: 671px;
$cmn_hdr_phonecall-total-height: 531px;
$cmn_hdr_phonecall-image: '../img/sprites/spritesheet_header.png';
$cmn_hdr_phonecall: 321px 0px -321px 0px 350px 46px 671px 531px '../img/sprites/spritesheet_header.png';
$cmn_hdr_pr-x: 557px;
$cmn_hdr_pr-y: 438px;
$cmn_hdr_pr-offset-x: -557px;
$cmn_hdr_pr-offset-y: -438px;
$cmn_hdr_pr-width: 111px;
$cmn_hdr_pr-height: 21px;
$cmn_hdr_pr-total-width: 671px;
$cmn_hdr_pr-total-height: 531px;
$cmn_hdr_pr-image: '../img/sprites/spritesheet_header.png';
$cmn_hdr_pr: 557px 438px -557px -438px 111px 21px 671px 531px '../img/sprites/spritesheet_header.png';
$cmn_hdr_pr_hv-x: 0px;
$cmn_hdr_pr_hv-y: 483px;
$cmn_hdr_pr_hv-offset-x: 0px;
$cmn_hdr_pr_hv-offset-y: -483px;
$cmn_hdr_pr_hv-width: 111px;
$cmn_hdr_pr_hv-height: 21px;
$cmn_hdr_pr_hv-total-width: 671px;
$cmn_hdr_pr_hv-total-height: 531px;
$cmn_hdr_pr_hv-image: '../img/sprites/spritesheet_header.png';
$cmn_hdr_pr_hv: 0px 483px 0px -483px 111px 21px 671px 531px '../img/sprites/spritesheet_header.png';
$cmn_hdr_pre-x: 595px;
$cmn_hdr_pre-y: 168px;
$cmn_hdr_pre-offset-x: -595px;
$cmn_hdr_pre-offset-y: -168px;
$cmn_hdr_pre-width: 30px;
$cmn_hdr_pre-height: 33px;
$cmn_hdr_pre-total-width: 671px;
$cmn_hdr_pre-total-height: 531px;
$cmn_hdr_pre-image: '../img/sprites/spritesheet_header.png';
$cmn_hdr_pre: 595px 168px -595px -168px 30px 33px 671px 531px '../img/sprites/spritesheet_header.png';
$cmn_hdr_pre_hv-x: 635px;
$cmn_hdr_pre_hv-y: 168px;
$cmn_hdr_pre_hv-offset-x: -635px;
$cmn_hdr_pre_hv-offset-y: -168px;
$cmn_hdr_pre_hv-width: 30px;
$cmn_hdr_pre_hv-height: 33px;
$cmn_hdr_pre_hv-total-width: 671px;
$cmn_hdr_pre_hv-total-height: 531px;
$cmn_hdr_pre_hv-image: '../img/sprites/spritesheet_header.png';
$cmn_hdr_pre_hv: 635px 168px -635px -168px 30px 33px 671px 531px '../img/sprites/spritesheet_header.png';
$cmn_hdr_sptxt01-x: 229px;
$cmn_hdr_sptxt01-y: 514px;
$cmn_hdr_sptxt01-offset-x: -229px;
$cmn_hdr_sptxt01-offset-y: -514px;
$cmn_hdr_sptxt01-width: 115px;
$cmn_hdr_sptxt01-height: 17px;
$cmn_hdr_sptxt01-total-width: 671px;
$cmn_hdr_sptxt01-total-height: 531px;
$cmn_hdr_sptxt01-image: '../img/sprites/spritesheet_header.png';
$cmn_hdr_sptxt01: 229px 514px -229px -514px 115px 17px 671px 531px '../img/sprites/spritesheet_header.png';
$cmn_hdr_sptxt02-x: 484px;
$cmn_hdr_sptxt02-y: 483px;
$cmn_hdr_sptxt02-offset-x: -484px;
$cmn_hdr_sptxt02-offset-y: -483px;
$cmn_hdr_sptxt02-width: 94px;
$cmn_hdr_sptxt02-height: 17px;
$cmn_hdr_sptxt02-total-width: 671px;
$cmn_hdr_sptxt02-total-height: 531px;
$cmn_hdr_sptxt02-image: '../img/sprites/spritesheet_header.png';
$cmn_hdr_sptxt02: 484px 483px -484px -483px 94px 17px 671px 531px '../img/sprites/spritesheet_header.png';
$cmn_hdr_sptxt03-x: 0px;
$cmn_hdr_sptxt03-y: 514px;
$cmn_hdr_sptxt03-offset-x: 0px;
$cmn_hdr_sptxt03-offset-y: -514px;
$cmn_hdr_sptxt03-width: 115px;
$cmn_hdr_sptxt03-height: 17px;
$cmn_hdr_sptxt03-total-width: 671px;
$cmn_hdr_sptxt03-total-height: 531px;
$cmn_hdr_sptxt03-image: '../img/sprites/spritesheet_header.png';
$cmn_hdr_sptxt03: 0px 514px 0px -514px 115px 17px 671px 531px '../img/sprites/spritesheet_header.png';
$cmn_hdr_sptxt04-x: 125px;
$cmn_hdr_sptxt04-y: 514px;
$cmn_hdr_sptxt04-offset-x: -125px;
$cmn_hdr_sptxt04-offset-y: -514px;
$cmn_hdr_sptxt04-width: 94px;
$cmn_hdr_sptxt04-height: 17px;
$cmn_hdr_sptxt04-total-width: 671px;
$cmn_hdr_sptxt04-total-height: 531px;
$cmn_hdr_sptxt04-image: '../img/sprites/spritesheet_header.png';
$cmn_hdr_sptxt04: 125px 514px -125px -514px 94px 17px 671px 531px '../img/sprites/spritesheet_header.png';
$hdr_delivery_bnr-x: 125px;
$hdr_delivery_bnr-y: 0px;
$hdr_delivery_bnr-offset-x: -125px;
$hdr_delivery_bnr-offset-y: 0px;
$hdr_delivery_bnr-width: 115px;
$hdr_delivery_bnr-height: 126px;
$hdr_delivery_bnr-total-width: 671px;
$hdr_delivery_bnr-total-height: 531px;
$hdr_delivery_bnr-image: '../img/sprites/spritesheet_header.png';
$hdr_delivery_bnr: 125px 0px -125px 0px 115px 126px 671px 531px '../img/sprites/spritesheet_header.png';
$hdr_delivery_bnr_hv-x: 0px;
$hdr_delivery_bnr_hv-y: 0px;
$hdr_delivery_bnr_hv-offset-x: 0px;
$hdr_delivery_bnr_hv-offset-y: 0px;
$hdr_delivery_bnr_hv-width: 115px;
$hdr_delivery_bnr_hv-height: 126px;
$hdr_delivery_bnr_hv-total-width: 671px;
$hdr_delivery_bnr_hv-total-height: 531px;
$hdr_delivery_bnr_hv-image: '../img/sprites/spritesheet_header.png';
$hdr_delivery_bnr_hv: 0px 0px 0px 0px 115px 126px 671px 531px '../img/sprites/spritesheet_header.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
