@charset "UTF-8";
<!--{load_hfdesign}-->
 /*---------------------------------------------
     Browser Default Initialization seo_e_white
     ---------------------------------------------*/
     * {margin:0;padding:0;}
     html {
          overflow-y: scroll;
          height: 100%;
     }
     body {
          margin: 0;
          padding: 0;
          font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
          *font-family: 'メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
          color: #595857;
          font-size: 16px;
          line-height: 125%;
          text-align: left;
          -webkit-text-size-adjust: 100%;
          background-color: #fff;
          height: 100%;
          word-wrap: break-word;
     }
     div, dl, dt, dd, ul, ul li, ol, ol li, h1, h2, h3, h4, h5, h6,
     pre, form, fieldset, input, textarea, p, blockquote, th, td,
     section, nav, article, aside, hgroup, header, address,
     figure, figcaption {
          margin: 0;
          padding: 0;
     }
     address, caption, cite, code, dfn, em, strong, th, var {
          font-style: normal;
          font-weight: normal;
     }
     table {
          border-collapse: collapse;
          border-spacing: 0;
          width: 100%;
     }
     caption, th {text-align: left;}
     q:before ,q:after {content: '';}
     object, embed {vertical-align: top;}
     hr {display: none;}
     h1, h2, h3, h4, h5, h6 {
          font-size: 100%;
          font-weight: normal;
     }
     img, abbr, acronym, fieldset {border: 0;}
     img {
          -ms-interpolation-mode: bicubic;
          border: none;
     }
     ul li, ol li {list-style-type: none;}
     input {vertical-align: middle;}

     a {outline: none;}
     a:link {
          text-decoration: none;
          color: #333;
     }
     a:visited {
          text-decoration: none;
          color: #333;
     }
     a:hover {
          text-decoration: underline;
          color: #666;
     }
     a:hover img {
          opacity: .70;
          filter: alpha(opacity=70);
          -ms-filter: "alpha(opacity=70)";
          -khtml-opacity: .70;
          -moz-opacity: .70;
          cursor: pointer;
     }
     a:active {
          text-decoration: underline;
          color: #c00;
     }

     iframe{
          
     }
     .ftrService{
        width: 800px;
        height: 3300px;
        overflow: hidden;
        margin: 20px 0 0 ;
        padding: 0;
     }

     img {
          max-width: 100%;
          height: auto;
          width: auto;
     }
     .text-center {text-align: center;}
     #wrapper {
          width: 100%;
          background-color: #fff;
          min-height: 100%;
     }
     article h1 {
          background: url(../img/Tline-scolumn.gif) repeat-x left bottom;
          padding: 0 0 12px 0;
          margin-bottom: 15px;
          color: #333;
          font-size: 90%;
          font-weight: bold;
          line-height: 165%;
     }
     article h2 {
          background: none repeat scroll 0 0 transparent;
          border-bottom: 1px dotted;
          font-size: 75%;
          font-weight: bold;
          line-height: 200%;
          margin-bottom: 10px;
          padding: 0;
     }
     #sub-column h2 {
          background: url(../img/Tline-scolumn.gif) repeat-x left bottom;
          font-size: 80%;
          font-weight: bold;
          line-height: 165%;
          padding: 0 0 10px;
          margin: 0 0 4px;
     }
     .w100 {width: 100%;}
     .bold {font-weight: bold;}
     #contents-pop {width: auto;}
     div#wrapper div#enquete-header,
     div#wrapper > div#cart-header,
     header {
          width:100%;
          margin:0 auto;
          background-color: #FFF;
          background:url(../img/header_bg.gif) repeat-x left top !important;
     }
     div#wrapper div#enquete-header,
     div#wrapper > div#cart-header,
     header {padding-top:0;}
     #header-inner {
          width: 990px;
          margin: 0 auto;
          *zoom: 1;
     }
     header #header-inner{
          <!--{if $hfdesign.h_bgurl}-->
          background:url(<!--{$hfdesign.h_bgurl}-->) <!--{$hfdesign.h_bgurlp|background_pos}--> no-repeat;
          <!--{/if}-->
     }
     #header-inner #logo, #hNav {
          display: table-cell;
          vertical-align: middle;
          padding: 5px 0;
     }
     #header-inner #hNav {
          width: 660px;
          text-align: right;
     }
     * html #header-inner div {
        display: inline;
        zoom: 1;
   }
   *:first-child+html #header-inner div {
        display: inline;
        zoom: 1;
   }
   #header-inner #logo {width: 340px;}
   #header-inner h1 {
     max-width: 340px;
     background: none;
     margin: 0;
     padding: 0;
}
#header-inner h1 a img:hover, #header-inner h2 a img:hover {
     opacity: 1;
     filter: alpha(opacity=100);
     -ms-filter: "alpha(opacity=70)";
     -khtml-opacity: 1;
     -moz-opacity: 1;
     filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
#hNav #searchbox_wrap {
     overflow: hidden;
     margin: 10px 0;

}
#hNav #searchbox {
     line-height: 160%;
     font-size: 65%;
     color: #999;
     text-align:right;
     float: right;
     overflow: hidden;
}
#hNav #searchbox p.cart-search {margin-top: 10px;}
#hNav #searchbox p {
     float: left;
     margin: 0px 5px 0 0;
}
#hNav #searchbox p img {vertical-align: bottom;}
#hNav #searchbox form{
     background: url(../img/searchbox.gif) no-repeat left top;
     width: 230px;
     height: 27px;
     float: left;
}
#hNav #searchbox input.searchbox {
     border: none;
     width: 189px;
     height: 24px;
     padding: 0 5px;
}
#hNav #searchbox input.searchSubmit {padding: 1px 1px 0 0;}
#hNav ul#keyword {
     line-height: 80%;
     color: #333;
     text-align: right;
     margin-top: 5px;
}
#hNav ul#keyword li {
     display: inline-block;
     *display: inline;
     *zoom: 1;
}
#hNav ul#keyword li a {
     float: left;
     font-size: 60%;
     padding: 0 0 0 10px;
}
#hNav ul#keyword li a:hover {
     padding: 0 0 0 10px;
     color: #999;
}
#hNav ul#header-nav {
     line-height: 100%;
     color: #999;
}
#hNav ul#header-nav li {
     display: inline-block;
     *display: inline;
     *zoom: 1;
     background: url("../img/slash_000.gif") no-repeat left center;
     font-size: 65%;
     height: 21px;
     padding: 5px 0 0 15px;
}
#hNav ul#header-nav li a:hover {
     background-color: #DDDDDD;
     color: #333333;
     text-decoration: none;
}
#g-nav {
     width: 100%;
     background-color: #FFF;
}

/* グローバルナビゲーション設定 */
#gnav div.cart-nav,
#gnav nav {
     display: none;
     width: 960px;
     margin: 0 auto;
     border-top: 1px dotted #111;
     border-bottom: 1px dotted #111;
     overflow: hidden;
     *zoom: 1;
}
#gnav div.cart-nav ul,
#gnav nav ul {float: left;}
#gnav div.cart-nav ul li,
#gnav nav ul li {
     float: left;
     height: 21px;
     padding: 10px 20px 10px 31px;
     background: url(../img/slash_000.gif) no-repeat left center;
     font-size: 75%;
}
#gnav div.cart-nav ul li:first-child,
#gnav nav ul li:first-child {
     padding-left: 15px;
     background-image: none;
}
#gnav div.cart-nav ul li a,
#gnav nav ul li a {display: block;}
#gnav div.cart-nav ul li a:link,
#gnav div.cart-nav ul li a:visited,
#gnav nav ul li a:link,
#gnav nav ul li a:visited {
     color: #333;
     text-decoration: none;
}
#gnav div.cart-nav ul li a:hover,
#gnav div.cart-nav ul li a:active,
#gnav nav ul li a:hover,
#gnav nav ul li a:active {
     color: #333;
     text-decoration: none;
     background-color: #DDD;
}
#contents {
     width: 990px;
     margin: 0 auto;
     padding-top: 20px;
     overflow: auto;
     *zoom: 1;
     padding-bottom: 57px;
}
#sub-column {
     float: left;
     width: 165px;
     margin: 0 25px 0 0;
     padding-bottom: 60px;
     *zoom: 1;
     word-break:break-all;
}
#main-column {
     float: right;
     width: 800px;
     margin: 0 0 60px;
}
#main-column-full {
     width: 100%;
     margin: 0 auto 60px;
}
div#wrapper  div#enquete-section,
div.cart-article div.cart-section,
article section {padding: 0;}
div#wrapper  div#enquete-section:first-child,
div.cart-article div.cart-section:first-child,
article section:first-child {border-top: none;}
div.cart-article p,
article p {
     color: #333;
     font-size: 0.75rem;
}
div.cart-article a:hover p,
article a:hover p {color: #666;}
div#wrapper  div#enquete-section ul,
div.cart-article div.cart-section ul,
article section ul {
     font-size: 90%;
     font-size: 0.9rem;
     line-height: 160%;
     color: #333;
}
#mainVisual {width: 100%;}
#bread-crumb {margin: 0 0 15px 0;}
#bread-crumb-listTop, .bread-crumb-listCate {
     width: 100%;
     padding: 0;
     margin: 0;
}
#bread-crumb-listTop ol, .bread-crumb-listCate ol {
     width: 720px;
     margin: 0;
     padding: 0;
     overflow: hidden;
     *zoom: 1;
}
#bread-crumb-listTop ol li, .bread-crumb-listCate ol li {
     float: left;
     *float: none;
     *display: inline;
     padding: 0 10px 0 13px;
     font-size: 60%;
     line-height: 120%;
     background: url(../img/breadcrumb_bg.gif) no-repeat left center;
     *zoom: 1;
}
#bread-crumb-listTop ol li:first-child {
     padding-left: 0;
     background-image: none;
}
#bread-crumb-listTop, .bread-crumb-listCate {
     padding: 0;
     margin: 0 0 3px 0;
}
.column-set {
     width: 100%;
     overflow: hidden;
     *zoom: 1;
}
.column3 {
     float: left;
     width: 230px;
     margin: 0 15px 20px 0;
     padding-bottom: 20px;
     border-bottom: 1px dotted #333;
}
.column3:nth-child(3n) {margin: 0 0 20px 0;}
.newItem .column3 .itemThumb-wrap {margin: 0 0 5px 0;}
.newItem .column3 .itemThumb {
     display: table-cell;
     text-align: center;
     height: auto;
     width: 230px;
     vertical-align: middle;
     margin-bottom: 5px;
}
.column3 .itemThumb a {
     height: auto;
     width: 230px;
     display: block;
}
.column3 h3 {
     font-size: 70%;
     line-height: 120%;
     margin-bottom: 3px;
}
.column3 p {font-size: 70%;}
.column3 img {vertical-align: bottom;}
.column3 p.price {margin-bottom: 3px;}
.column3 p.sp_price {color: #F00;}
.column4 {
     float: left;
     width: 170px;
     margin: 0 13px 20px 0;
     padding-bottom: 20px;
     border-bottom: 1px dotted #333;
}
.column4:nth-child(4n) {margin: 0 1px 20px 0;}
.column4 .itemThumb-wrap {margin: 0 0 10px 0;}
.column4 .itemThumb {
     display: table-cell;
     text-align: center;
     height: auto;
     width: 170px;
     vertical-align: middle;
     margin-bottom: 5px;
}
.column4 .itemThumb a {
     height: auto;
     width: 170px;
     display: block;
}
.column4 .itemThumb a img {
     max-height: 170px;
     max-width: 170px;
}
.column4 .item-list-span-img{
     width:170px;
     display:inline-block;
}
.column5 .item-list-span-img{
     width:130px;
     display:inline-block;
}
.column4 h3 {
     font-size: 70%;
     line-height: 130%;
     margin-bottom: 3px;
}
.column4 p {font-size: 70%;}
.column4 img {vertical-align: bottom;}
.column4 p.sp_price {color: #F00;}
.column5 {
     float: left;
     width: 130px;
     margin: 0 17px 20px 0;
     padding-bottom: 10px;
     border-bottom: 1px dotted #333;
}
.column5:nth-child(5n) {margin-right:1px;}
.column5:nth-child(5n+1) {clear:both;}

.column5 .itemThumb-wrap {margin: 0 0 10px 0;}
.column5 .itemThumb {
     display: table-cell;
     height: auto;
     width: 130px;
     margin-bottom: 5px;
     text-align: center;
     vertical-align: middle;
}
.column5 .itemThumb a {
     height: auto;
     width: 130px;
     display: block;
}
.column5 .itemThumb a img {
     max-height: 130px;
     max-width: 130px;
}
.column5 h3 {
     font-size: 70%;
     line-height: 130%;
     margin-bottom: 3px;
}
.column5 p {font-size: 70%;}
.column5 img {vertical-align: bottom;}
.column5 p.sp_price {color: #F00;}
p.fx_price span.strike {text-decoration: line-through;}
p.sp_price span.special_price_str,
p.sp_price span.selling_price_str,
p.sp_price span.selling_price,
p.sp_price span.taxin,
p.sp_price span.discount_rate{color: #F00;}
p.price span.selling_price,
p.price span.taxin{color: #F00;}
section .newItem h2, section .pickup h2, section .ranking h2, section .group h2, section .category h2 {
     border: none;
     font-size: 90%;
     font-weight: bold;
     line-height: 165%;
     margin-bottom: 10px;
     padding: 0 0 10px;
     min-height: 25px;
}
.newItem {
     background: url(../img/Title-new.gif) no-repeat right 4px;
     position: relative;
     margin: 30px 0 10px;
}
.newItem .new-Title {
     position: absolute;
     right: 0px;
     top: 3px;
}
.newItem h2 {
     background: url(../img/Tline-new.gif) repeat-x left bottom;
     margin-bottom: 15px;
     padding-right: 100px !important;
}
.column3 .badge {
     padding: 4px 0 0 4px;
     position: absolute;
     z-index: 100;
}
.column4 .badge {
     padding: 4px 0 0 4px;
     position: absolute;
     z-index: 100;
}
.pickup {
     background: url(../img/Title-pickup.gif) no-repeat right 4px;
     position: relative;
     margin-bottom: 10px;
}
.pickup .pickup-Title {
     position: absolute;
     right: 0px;
     top: 4px;
}
.pickup h2 {
     background: url(../img/Tline-pickup.gif) repeat-x left bottom;
     margin-bottom: 15px;
     padding-right: 60px !important;
}
.pickup .column5 {margin-bottom: 20px;}
.pickup .column5 .itemThumb {
     margin-bottom: 5px;
     position: relative;
}
.pickup .column5 .badge {
     padding: 4px 0 0 4px;
     position: absolute;
     z-index: 100;
}
.ranking {
     background: url(../img/Title-ranking.gif) no-repeat right 4px;
     position: relative;
}
.ranking .ranking-Title {
     position: absolute;
     right: 0px;
     top: 4px;
}
.ranking h2 {
     background: url(../img/Tline-ranking.gif) repeat-x left bottom;
     margin-bottom: 15px;
     padding-right: 66px !important;
}
.ranking .column5 {margin-bottom: 20px;}
.ranking .column5 .itemThumb {position: relative;}
.ranking .column5 .badge {
     padding: 4px 0 0 4px;
     position: absolute;
     z-index: 100;
}
.half-cont_wrap01, .half-cont_wrap02 {overflow: hidden;}
.half-cont {
     float: left;
     width: 48%;
     margin-right: 4%;
}
.half-cont:nth-child(2n) {
     float: left;
     width: 48%;
     margin-right: 0;
}
.news {
     padding-bottom: 20px;
     margin-bottom: 30px;
     border-bottom: 1px dotted #333333;
}
#main-column .news {background: url(../img/Title-news.gif) no-repeat right 4px;}
.news h2 {
     background: url(../img/Tline-news.gif) repeat-x left bottom;
     display: block;
     width: 100%;
     border: none;
     font-size: 90%;
     font-weight: bold;
     line-height: 165%;
     margin-bottom: 10px;
     padding: 0 0 10px;
     min-height: 25px;
}
.news h2 img {
     display: block;
     height: 20px;
     width: 85px;
     margin: 0 auto;
}
.news .news-contents {
     overflow: hidden;
     padding: 5px 0 0;
}
dl.news-box {
     font-size: 75%;
     color: #333;
     padding: 10px 0;
     border-bottom: 1px solid #B9B9B9;
}
dl.news-box:first-child {padding: 0 0 10px 0;}
dl.news-box:last-child {border: none;}
.news-box dd {line-height: 145%;}
.news-box dd a {color: #2675c1;}
.news-box dd a:hover {color: #489ef0;}
.w100 .news {
     float: none;
     width: 100%;
     margin-right: 0;
     padding: 0 0 15px;
     border-bottom: 1px dotted #333333;
}
.w100 .news h2 {
     background: url(../img/Tline-news.gif) repeat-x left bottom;
     display: block;
     width: 100%;
     margin: 0 0 20px;
}
.w100 .news h2 img {
     display: block;
     height: 20px;
     width: 85px;
     margin: 0 auto;
}
.shopDiary{background: url(../img/Title-shop.gif) no-repeat right top;}
#sub-column .shopDiary{background: none;}
.freeArea2 {
     padding-bottom: 20px;
     margin-bottom: 30px;
     border-bottom: 1px dotted #333333;
}
.freeArea2 h2 {
     background: url(../img/Tline-shop.gif) repeat-x left bottom;
     display: block;
     width: 100%;
     margin: 0 0 20px;
     padding: 0;
     padding-bottom:10px;
     border: none;
}
.freeArea2 h2 img {
     display: block;
     height: 20px;
     width: 85px;
     margin: 0 auto;
}
.freeArea2 .free-contents {padding-top: 10px;}
.freeArea2 .free-banner {margin-bottom: 5px;}
.freeArea2 .free-contents p {
     font-size: 70%;
     line-height: 160%;
}
.freeArea2 .free-contents p a{text-decoration: underline;}
.w100 .freeArea2 {
     float: none;
     width: 100%;
     padding: 0 0 15px;
     border-bottom: 1px dotted #333333;
}
.freeArea2 .free-contents ul
{margin: 0px 40px;}
.freeArea2 .free-contents ul li
{list-style-type: square;}
.freeArea2 .free-contents ol
{margin: 0px 40px;}
.freeArea2 .free-contents ol li
{list-style-type: decimal;}
.w100 .freeArea2 h2 {
     background: url(../img/Tline-shop.gif) repeat-x left bottom;
     display: block;
     width: 100%;
     margin: 0 0 20px;
     padding: 0;
}
.w100 .freeArea2 h2 img {
     display: block;
     height: 20px;
     width: 85px;
     margin: 0 auto;
}
#main-column .w100 .freeArea2 .freeAreaTitle{padding-left:5px;}
#main-column .half-cont .freeArea2 .freeAreaTitle{
     padding-left:5px;
     font-size: 14px;
     font-weight: bold;
     line-height: 165%;
     border: none;
     margin-bottom: 10px;
     padding: 0 0 10px;
     min-height: 25px;
}
.cont .freeArea2 h2{
     border: medium none;
     font-size: 90%;
     font-weight: bold;
     line-height: 165%;
     margin-bottom: 10px !important;
     padding: 0 0 10px !important;
}
.group {
     position: relative;
     padding-bottom: 20px;
     margin-bottom: 30px;
     border-bottom: 1px dotted #333333;
}
.group .group-Title {
     position: absolute;
     right: 0px;
     top: 4px;
}
.group h2 {
     background: url(../img/Tline-group.gif) repeat-x left bottom;
     margin-bottom: 15px;
     padding-right: 38px !important;
}
.group .group-banner {margin-bottom: 5px;}
.group ul {line-height: 110%;}
.group ul li {
     display: inline-block;
     *display: inline;
     *zoom: 1;
     font-size: 75%;
     padding: 0 3px 0 12px;
     background: url(../img/slash_000.gif) no-repeat left center;
}
.group ul li:first-child {
     background-image: none;
     padding: 0 3px 0 0;
}
.w100 .group {
     background: url(../img/Title-group.gif) no-repeat right 4px;
     position: relative;
     float: none;
     width: 100%;
     margin-right: 0%;
     padding-bottom: 20px;
     margin-bottom: 30px;
     border-bottom: 1px dotted #333333;
}
.w100 .group .group-Title {top: 3px;}
.w100 .group h2 {
     background: url(../img/Tline-group.gif) repeat-x left bottom;
     display: block;
     width: 100%;
     margin: 0 0 15px;
}
.w100 .group h2 img {
     display: block;
     height: 20px;
     width: 85px;
     margin: 0 auto;
}
#main-column .group {background: url(../img/Title-group.gif) no-repeat right 4px;}
.category {
     position: relative;
     padding-bottom: 20px;
     margin-bottom: 30px;
     border-bottom: 1px dotted #333333;
}
.category .category-Title {
     position: absolute;
     right: 0px;
     top: 4px;
}
.category h2 {
     background: url(../img/Tline-category.gif) repeat-x left bottom;
     margin-bottom: 15px;
}
.category .category-banner {margin-bottom: 5px;}
.category ul {line-height: 110%;}
.category ul li {
     display: inline-block;
     *display: inline;
     *zoom: 1;
     font-size: 75%;
     padding: 0 3px 0 12px;
     background: url(../img/slash_000.gif) no-repeat left center;
}
.category ul li:first-child {
     background-image: none;
     padding: 0 3px 0 0;
}
.w100 .category {
     background: url(../img/Title-category.gif) no-repeat right 4px;
     position: relative;
     float: none;
     width: 100%;
     padding-bottom: 20px;
     margin-bottom: 30px;
     border-bottom: 1px dotted #333333;
}
.w100 .category h2 {
     background: url(../img/Tline-category.gif) repeat-x left bottom;
     display: block;
     width: 100%;
     margin: 0 0 15px;
}
.w100 .category h2 img {
     display: block;
     height: 20px;
     width: 85px;
     margin: 0 auto;
}
.w100 .category h3 {
     font-weight: bold;
     line-height: 120%;
     font-size: 80%;
}
#main-column .category {background: url(../img/Title-category.gif) no-repeat right 4px;}
.freeArea {
     width: 100%;
     height: 300px;
     background-color: #EEE;
}
#sub-column .group, #sub-column .category, #sub-column #followUs, #sub-column .newItem, #sub-column .link {
     width: 100%;
     border: none;
     top: 0;
     left: 0;
     margin: 0;
     padding: 0;
}
#sub-column .category h3 {
     font-size: 70%;
     font-weight: bold;
     padding: 0;
     border-bottom: 1px dotted  #333333;
}
#sub-column .group nav, #sub-column .category nav, #sub-column .link nav {
     margin-bottom: 20px;
     border-top: none;
}
#sub-column .group nav ul, #sub-column .category nav ul, #sub-column .link nav ul {line-height: 160%;}
#sub-column .group nav ul li, #sub-column .category nav ul li, #sub-column .link nav ul li {
     /*border-bottom: dotted 1px #333;*/
     padding: 5px 0;
     background-image: none;
     display: block;
     font-size: 75%;
}



#sub-column .link nav ul li {line-height:180%;}
#sub-column .keyword nav ul li {
  display: inline;
}
#sub-column .group nav ul li a, #sub-column .category nav ul li a, #sub-column .link nav ul li a {
     color: #333;
     display: block;
     text-decoration: none;
     padding: 3px 0;
     line-height: 130%;
}
#sub-column .link nav ul li a{
     display: inline;
}
#sub-column .group nav ul li:first-child a, #sub-column .category nav ul li:first-child a, #sub-column .link nav ul li:first-child a {
     border-top: none;
     padding: 4px 0 0;
}
#sub-column .group nav ul li a:hover, #sub-column .group nav ul li a:active, #sub-column .link nav ul li a:hover, #sub-column .link nav ul li a:active {
     background-color: #DDDDDD;
     color: #333333;
     text-decoration: none;
}
#sub-column .sitelink:hover{background-color:#DDDDDD;}
#sub-column .category nav ul li.cat2 a {
     zoom: 1;
     display: block;
     padding: 3px 2px 3px 30px;
     margin:0px 0;
     line-height: 100%;
     color:#000;
     text-decoration: none;
}
#sub-column #snav_calendar h2 {background-image: none;}
#sub-column #subc_calendar {
     background: url(../img/BGline-scolumn.gif) repeat left top;
     padding: 8px;
     width:  149px;
     margin-bottom: 20px;
     display: none;
}
#sub-column div.subc_cal_cont {
     background-color: #FFF;
     width:     119px;
     padding: 10px 15px 15px 15px;
}
#sub-column div#subc_calendar h2 {
     width:  119px;
     text-align: center;
     padding: 21px 0 3px 0;
     margin: 0 0 10px 0;
     border-bottom: 1px dotted #333;
     background: url(../img/Title-scolumn_calendar.gif) no-repeat;
     background-position: center;
}
#sub-column div.cal_wrapper {padding: 7px 0 0 0;}
#sub-column div.cal_wrapper table.cal {
     width: 100%;
     line-height: 130%;
}
#sub-column div.cal_wrapper table.cal tr th p.month {
     float: left;
     width: 70%;
     text-align: center;
     font-size: 80%;
}
#sub-column div.cal_wrapper table.cal tr th input {
     float: left;
     border: none;
}
#sub-column div.cal_wrapper table.cal tr th input.prev {
     background: url(../img/calendar_pleft.gif) no-repeat left bottom #FFF;
     width: 15%;
     height: 17px;
}
#sub-column div.cal_wrapper table.cal tr th input.next {
     background: url(../img/calendar_pright.gif) no-repeat right bottom #FFF;
     width: 15%;
     height: 17px;
}
#sub-column div.cal_wrapper table.cal tr td {
     border: solid 1px #CCC;
     font-size: 70%;
     text-align: center;
}
#sub-column div.cal_wrapper table.cal tr.headline td {
     border: none;
     padding: 10px 0 2px 0;
}
#sub-column div.subc_cal_cont .cap {
     font-size: 60%;
     font-family: "ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", Osaka-mono, monospace;
     width: auto;
}
#sub-column div.subc_cal_cont .cap ul {margin: 3px 0 0;}
#sub-column div.subc_cal_cont .cap li {
     display: inline-block;
     line-height: 140%;
     overflow: hidden;
}
#sub-column div.subc_cal_cont .cap li span {margin: 0 10px 0 0;}
#sub-column div.subc_cal_cont .cap .ico_cap01 {
     font-size: 120%;
     vertical-align: middle;
     margin: 0 2px 0 0;
     color: #FF5078;
}
#sub-column div.subc_cal_cont .cap .ico_cap02 {
     font-size: 120%;
     vertical-align: middle;
     margin: 0 2px 0 0;
     color: #39F;
}
#sub-column div.subc_cal_cont .cap .cap-info {
     line-height: 140%;
     padding: 10px 0 0;
}
#sub-column div.cal_wrapper table.cal tr td div.Today {
     background-color: #CCCCCC;
     font-weight: bold;
}
#sub-column div.cal_wrapper table.cal tr td div.Deli {background-color: #EFE;}
#sub-column div.cal_wrapper table.cal tr td div.Holyday {
     background-color: #FF5078;
     color: #FFFFFF;
}
#sub-column div.cal_wrapper table.cal tr td div.backward {
     color: #CCC;
     font-weight: normal;
     background-color: #FFF;
}
#sub-column div.cal_wrapper table.cal tr td div.pointer {cursor: pointer;}
#sub-column div.cal_wrapper table.cal tr td div.pointer:hover {background-color: #EEE;}
#sub-column #snav_mailMag {
     background: url(../img/BGline-scolumn.gif) repeat left top;
     padding: 8px;
     width:  194px;
     margin-bottom: 20px;
}
#sub-column #snav_mailMag h2 {background-image: none;}
#sub-column div.snav_mailMag_cont {
     background: #FFF url(../img/Title-scolumn_mmag.gif) no-repeat center top;
     width:     161px;
     padding: 46px 16px 8px 17px;
}
#sub-column div.snav_mailMag_cont h2 {
     width:  161px;
     text-align: center;
     padding: 0 0 3px 0;
     margin: 0 0 7px 0;
     border-bottom: 1px dotted #333;
}
#sub-column div.snav_mailMag_cont p {
     font-size: 70%;
     line-height: 130%;
     padding: 5px 0 10px;
}
#sub-column div.snav_mailMag_cont input.mailAddress{
     width: 120px;
     height: 18px;
     position: relative;
     vertical-align: middle;
}
#sub-column div.snav_mailMag_cont input.submit_mailMag {
     width: 30px;
     height: 18px;
     text-align: center;
     background-color: #272727;
     border: none;
     color: #FFF;
     font-size: 75%;
}
#sub-column div.snav_mailMag_cont input.submit_mailMag:hover {background-color: #666;}
#sub-column #snav_followUs {margin: 0 0 20px 0;}
#sub-column #snav_followUs nav ul {overflow: hidden;}
#sub-column #snav_followUs nav ul li {
     float: left;
     margin: 0 5px 0 0;
     padding: 0;
}
#sub-column #snav_followUs nav ul li img {vertical-align: bottom;}
#sub-column #snav_followUs nav ul li a:hover img{
     opacity: .70;
     filter: alpha(opacity=70);
     -ms-filter: "alpha(opacity=70)";
     -khtml-opacity: .70;
     -moz-opacity: .70;
     cursor: pointer;
}
#subc_freeArea {
     margin: 0 0 20px 0;
     padding-bottom: 10px;
     border-bottom: 1px dotted #333;
}
#subc_freeArea img {margin-bottom: 10px;}
#sub-column .newItem {
     background:url(../img/Title-new.gif) no-repeat right 1px;
     position: relative;
     margin: 30px 0 0 0;
     line-height: 90%;
}
#sub-column .newItem h2 {
     background: url(../img/Tline-new.gif) repeat-x left bottom;
     font-size: 80%;
     font-weight: bold;
     line-height: 165%;
     padding: 0 0 10px 0;
     margin-bottom: 15px;
}
#sub-column .newItem .new-Title {
     position: absolute;
     right: 0px;
     top: 1px;
}
#sub-column .newItem .column3, #sub-column .newItem .column4 {
     padding: 0 0 10px 0;
     margin: 0 0 25px 0;
     float: none;
     width: 100%;
}
#sub-column .newItem .column4 .itemThumb-wrap {margin: 0 20px 10px 20px;}
#sub-column .newItem .column4 .itemThumb {
     height: auto;
     width: 170px;
     display: table-cell;
     text-align: center;
     vertical-align: middle;
}
#sub-column .newItem .column4 .itemThumb a img {
     max-height: auto;
     max-width: 170px;
}
#sub-column .newItem h3 {text-align: left;}
#sub-column .newItem p.price {
     text-align: left;
     margin: 0;
}
#sub-column .newItem p.sp_price {text-align: left;}
#sub-column .newItem p.sp_price {color: #F00;}
#sub-column .newItem .column4 .badge {
     padding: 4px 0 0 4px;
     position: absolute;
     z-index: 100;
}
#sub-column .newItem .column4_fourth .itemThumb {
     margin: 0 20px 5px 20px;
     position: relative;
}
#sub-column .pickup {
     background:url(../img/Title-pickup.gif) no-repeat right 2px;
     position: relative;
     line-height: 90%;
}
#sub-column .pickup .pickup-Title {
     position: absolute;
     right: 0px;
     top: 1px;
}
#sub-column .pickup h2 {
     background: url(../img/Tline-pickup.gif) repeat-x left bottom;
     margin-bottom: 15px;
     font-size: 80%;
     font-weight: bold;
     line-height: 165%;
     padding: 0 0 10px 0;
}
#sub-column .pickup .column5 {
     padding: 0 0 10px 0;
     margin: 0 0 25px 0;
     float: none;
     width: 100%;
}
#sub-column .pickup .column5 .itemThumb-wrap {margin: 0 40px 10px 40px;}
#sub-column .pickup .column5 .itemThumb {
     margin: 0 0 5px 0;
     position: relative;
     text-align: center;
     height: auto;
     width: 130px;
}
#sub-column .pickup .column5 .itemThumb img {
     max-height: 130px;
     max-width: 130px;
}
#sub-column .pickup .column5 .badge {
     padding: 4px 0 0 4px;
     position: absolute;
     z-index: 100;
}
#sub-column .ranking {
     background: url(../img/Title-ranking.gif) no-repeat 100% 1px;
     position: relative;
     line-height: 90%;
}
#sub-column .ranking .ranking-Title {
     position: absolute;
     right: 0px;
     top: 1px;
}
#sub-column .ranking h2 {
     background: url(../img/Tline-ranking.gif) repeat-x left bottom;
     margin-bottom: 15px;
     font-size: 80%;
     font-weight: bold;
     line-height: 165%;
     padding: 0 0 10px 0;
}
#sub-column .ranking .column5 {
     padding: 0 0 10px 0;
     margin: 0 0 25px 0;
     float: none;
     width: 100%;
}
#sub-column .ranking .column5 .itemThumb-wrap {
     margin: 0 40px 10px 40px;
     height: 130px;
     width: 130px;
}
#sub-column .ranking .column5 .itemThumb {
     margin-bottom: 5px;
     position: relative;
     text-align: center;
}
#sub-column .ranking .column5 .itemThumb img {
     max-height: 130px;
     max-width: 130px;
}
#sub-column .ranking .column5 .itemThumb {
     margin-bottom: 5px;
     position: relative;
}
#sub-column .ranking .column5 .badge {
    padding: 4px 0 0 4px;
    position: absolute;
    z-index: 100;
}
#main-column .recommend .column5 .badge {
     padding: 4px 0 0 4px;
     position: absolute;
     z-index: 100;
}
div#cart-footer,
footer {
    margin:0 auto;
    /*background: url(../img/footer_bg.gif) repeat-x left bottom !important;*/
    line-height: 100%;
    position: relative;
    <!--{if $hfdesign.f_bgurl}-->
    <!--{else}-->
    height: 57px;
    margin-top: -57px;
    <!--{/if}-->
    clear: both;
}
#footer-inner {
     width: 960px;
     margin: 0 auto;
     overflow: hidden;
}
footer #footer-inner{
    <!--{if $hfdesign.f_bgurl}-->
    background:url(<!--{$hfdesign.f_bgurl}-->) <!--{$hfdesign.f_bgurlp|background_pos}--> no-repeat ;
    <!--{/if}-->
}
div#cart-footer #footer-inner .footer_gnavi,
footer #footer-inner .footer_gnavi {
     float: left;
     padding:20px;
}
div#cart-footer #footer-inner .footer_gnavi ul li,
footer #footer-inner .footer_gnavi ul li {
     display: inline-block;
     *display: inline;
     *zoom: 1;
     *margin-bottom: 12px;
     padding: 0 3px 0 18px;
     line-height: 100%;
     font-size: 60%;
     color: #999;
     background: url(../img/slash_ccc.gif) no-repeat left center;
}
div#cart-footer #footer-inner .footer_gnavi ul li:first-child,
footer #footer-inner .footer_gnavi ul li:first-child {
     background-image: none;
     padding: 0 3px 0 0;
}
div#cart-footer #footer-inner .footer_gnavi ul li a,
footer #footer-inner .footer_gnavi ul li a {color: #999;}
div#cart-footer div.cart-nav,
footer nav, #copyright {
     float: right;
     font-size: 67%;
     text-align: right;
     color: #FFF;
     padding:20px
}
#copyright ul li {
     color: #FFF;
     background-image: none;
     padding: 0;
}
div#cart-footer #footer-inner .footer_gnavi ul li a:hover,
footer #footer-inner .footer_gnavi ul li a:hover {
     color: #FFF;
     text-decoration: underline;
}

#page-top {
     position: fixed;
     bottom: 67px;
     right: 20px;
     font-size: 77%;
     z-index: 100;
}
#page-top a {
     background: #666;
     text-decoration: none;
     color: #fff;
     width: 39px;
     height: 39px;
     padding: 0;
     text-align: center;
     display: block;
}
#page-top a:hover {
     text-decoration: none;
     background-image: url(../img/pagetop_on.gif);
}
#page-top a:hover img {opacity: 0;}
section #guide p {
     font-size: 75%;
     line-height: 175%
}
section #guide .guide01 {padding-bottom: 20px;}
section #guide .guide01 h2 {
     font-size: 75%;
     font-weight: bold;
     line-height: 200%;
     border-bottom:1px dotted;
     margin-bottom: 20px;
     background: none;
     padding: 0;
}
section #guide .guide01 ul {
     font-size: 75%;
     list-style-type: disc;
     margin-top: 10px;
}
section #guide .inner {
     overflow: hidden;
     margin-bottom: 10px;
}
section #guide .inner .fL {
     float: left;
     width: auto;
     margin-right: 20px;
     max-width: 350px;
}
section #guide .inner .fR {
     float: right;
     width: auto;
     max-width: 350px;
}
section #guide .chart .ttlShop {
     font-size: 80%;
     font-weight: bold;
     border: none;
     margin: 0;
}
section #guide table {
     line-height: 120%;
     border-bottom: 1px dotted #000000;
     table-layout: fixed;
}
section #guide table th {
     background-color: #EEEEEE;
     border-top: 1px dotted #000000;
     color: #2B2B2B;
     font-size: 75%;
     font-weight: bold;
     padding: 15px 20px;
     width: 100px;
}
section #guide table th.shopGuidePointClass{width:530px;}
section #guide table td {
     font-size: 75%;
     border-top: 1px dotted #000000;
     padding: 15px 20px;
     width: 530px;
}
#shopGuide_wrap section #guide table td {width: 50%;;}
section #guide table th.shopGuidePointClass {width: 50%;}
section #guide ul
{margin: 0px 40px;}
section #guide ul li
{list-style-type: square;}
section #guide ol
{margin: 0px 40px;}
section #guide ol li
{list-style-type: decimal;}
#DiaryList h2, #Diary h2 {font-size: 90%;}
#DiaryList .Diary-cont, #Diary .Diary-cont {margin: 0 0 15px;}
#DiaryList article {margin: 0 0 40px;}
.state_l {
     border-top: 1px dotted #333;
     padding: 10px 0 0;
     font-size: 65%;
}
.state_r {
     border-top: 1px dotted #333;
     padding: 10px 0 0;
     margin: 0 0 25px;
     text-align: right;
     font-size: 65%;
}
.state_l ul, .state_r ul {line-height: 90%;}
.state_l li, .state_r li {
     display: inline-block;
     *display: inline;
     *zoom: 1;
     padding: 0 3px 0 0;
}
.state_l li.comment, .state_r li.comment {
     border-left: 1px solid #333;
     padding: 0 0 0 5px;
}
.state_l li.cate, .state_r li.cate {
     border-left: 1px solid #333;
     padding: 0 5px;
}
.state_l li.name {
     border-right: 1px solid #333;
     padding: 0 5px 0;
     margin: 0 5px 0 0;
}
#Diary .more, #Journal .more {
     display: block;
     width: 160px;
     height: 22px;
     font-size: 75%;
     font-size: 0.75rem;
     color: #FFF;
     text-align: center;
     vertical-align: middle;
     margin: 10px 0 0;
     padding: 3px 0 0;
     background: url(http://dentouhonpo.com/img/btn-confirm_bg2.gif) repeat-x scroll left top;
}
#Diary a, #Journal a {text-decoration: none;}
#Diary a .more:hover, #Journal a .more:hover {
     width: 160px;
     height: 22px;
     background: url(../img/btn-confirm_bg_on.gif) repeat-x scroll left top;
}
#Diary .more img, #Journal .more img {
     padding: 0 5px 0;
     vertical-align: middle;
}
#DiaryList .comment-t, #Diary .comment-t, #JournalList .comment-t, #Journal .comment-t {
     font-size: 80%;
     font-weight: bold;
     margin: 0 0 10px 0;
}
#Diary .comment-cont, #Journal .comment-cont {margin: 0 0 15px;}
#Diary fieldset, #Journal fieldset {margin-bottom: 5px;}
#Diary legend, #Journal legend {
     background: none repeat scroll 0 0 transparent;
     font-size: 75%;
     line-height: 200%;
     padding: 0;
     width: 100%;
}
#Diary fieldset p, #Journal fieldset p {
     margin-bottom: 5px;
     font-size: 75%;
     font-size: 0.75rem;
}
#Diary fieldset input, #Journal fieldset input {margin: 0 3px 2px 0;}
#Diary input.name, #Journal input.name {
     width: 215px;
     height: 20px;
     margin: 0;
}
#Diary input.url, #Journal input.url {
     width: 215px;
     height: 20px;
     margin: 0;
}
#Diary textarea, #Journal textarea {
     width: 360px;
     height: 100px;
     margin: 0;
     padding: 1px;
}
#Diary .btn-confirm, #Journal .btn-confirm {margin: 10px 0 0 120px;}
.btn-confirmPost {
     height: 25px;
     width: 120px;
     color: #FFF;
     padding: 0 0 0 8px;
     font-size: 80%;
     font-size: 0.8rem;
     text-align: center;
     background: url(http://dentouhonpo.com/img/btn-confirm_bg2.gif) repeat-x left top;
     border: none;
     margin: 0 0 0 5px;
}
.btn-confirmPost:hover {background: url(../img/btn-confirm_bg_on.gif) repeat-x left top;}
#comment-form #comment-post {margin: 0;}
#comment-form legend  {
     background: none repeat scroll 0 0 transparent;
     font-size: 75%;
     line-height: 200%;
     padding: 0;
     width: 100%;
     font-weight: bold;
}
#comment-form p {margin-bottom: 15px;}
#comment-form .name {
     width: 215px;
     height: 16px;
}
#comment-form .comment-txt {
     width: 360px;
     padding: 0;
     height: auto;
}
#comment-post {margin: 35px 0;}
.comment-box {margin: 30px 0 0;}
div.caution p {
     color: #d51414;
     font-size: 70%;
     line-height: 145%;
}
.btn-confirmBack {
     height: 25px;
     width: 80px;
     color: #FFF;
     padding: 0 0 0 8px;
     font-size: 75%;
     font-size: 0.75rem;
     text-align: center;
     background: url(../img/btn-back_bg.gif) no-repeat left top;
     border: none;
     margin: 0 5px 0 0;
}
.btn-confirmBack:hover {background: url(../img/btn-back_bg_on.gif) repeat-x left top;}
@-moz-document url-prefix() {
     .btn-confirmPost {
         padding: 0 5px 2px;
    }
    .btn-confirmBack {
         padding: 0 2px 2px 8px;
    }
}
#JournalList h2, #Journal h2 {font-size: 85%;}
#JournalList .journal-cont, #Journal .journal-cont {margin: 0 0 15px;}
#JournalList article {margin: 0 0 40px;}
#JournalList .journal-cont ul, #Journal .journal-cont ul
{margin: 0px 40px;}
#JournalList .journal-cont ul li, #Journal .journal-cont ul li
{list-style-type: square;}
#JournalList .journal-cont ol, #Journal .journal-cont ol
{margin: 0px 40px;}
#JournalList .journal-cont ol li, #Journal .journal-cont ol li
{list-style-type: decimal;}
section#document_wrap h2 {
     font-size: 85%;
     font-weight: bold;
     line-height: 200%;
     border-bottom:1px dotted;
     margin-bottom: 10px;
     background: none;
     padding: 0;
}
section#document_wrap h3 {font-size: 75%;}
section #document li {
     font-size: 75%;
     font-size: 0.75rem;
}
section #document .txt-list01 {padding-bottom: 30px;}
section #document .txt-list01 li.c1 {
     display: inline-block;
     *display: inline;
     *zoom: 1;
     padding: 0 25px 0 0;
}
section #document .txt-list02 {
     padding-bottom: 10px;
     overflow: hidden;
}
section #document .txt-list02 h3 {font-weight: bold;}
section #document .txt-list02 section.tree00 {
     float: left;
     padding: 0 35px 20px 0;
     width:156px;
}
section #document .txt-list02 ul.tree01 {
     padding: 0 0 0 12px;
     overflow: hidden;
}
section #document .txt-list02 ul.tree01 li.c2 {
     padding: 0 0 0 14px;
     margin: 0 0 0 3px;
     font-size: 75%;
     font-size: 0.75rem;
}
section #document .txt-list02 ul.tree01 li.c3 {
     padding: 0 0 0 28px;
     margin: 0 0 0 3px;
     font-size: 75%;
     font-size: 0.75rem;
}
section #document .txt-list02 ul.tree01 li.c4 {
     padding: 0 0 0 42px;
     margin: 0 0 0 3px;
     font-size: 75%;
     font-size: 0.75rem;
}
section #document .txt-list02 ul.tree01 ul.tree02 li.c5 {
     padding: 0 0 0 56px;
     margin: 0 0 0 3px;
     font-size: 75%;
     font-size: 0.75rem;
}
section #document .txt-list02 ul.tree01 li.sp1 {
     float:left;
     padding: 0 0 0 14px;
     margin: 0 0 0 3px;
     font-size: 75%;
     font-size: 0.75rem;
}
section #document .txt-list02 ul.tree01 li.sp2 {
     float:left;
     padding: 0 0 0 2px;
     font-size: 75%;
     font-size: 0.75rem;
}
section #document .txt-list02 ul.tree01 li.sp3{
     float:left;
     padding: 0 0 0 2px;
     font-size: 75%;
     font-size: 0.75rem;
}
section #document .txt-list02 ul.tree01 ul.tree02 li.c5 a{
     display: inline;
     *display: inline;
     *zoom: 1;
     padding: 0 10px 0 0;
     font-size: 110%;
     font-size: 0.75rem;
}
section #document .txt-list02 ul.iB {
     padding: 5px 0 0 12px;
     float: left;
     line-height: 120%;
}
section #document .txt-list02 ul.iB li {
     padding: 0 10px 0 0;
     float: left;
}
section #document .txt-list03 {
     padding-bottom: 30px;
     overflow: hidden;
}
section #document .txt-list03 section.tree00 {
     float: left;
     padding: 0 35px 0 0;
     width: 156px;
}
section #document .txt-list03 ul.tree01 li {
     padding: 0 0 0 7px;
     margin: 0 0 0 5px;
     background: url(../img/ico_list01.gif) no-repeat left center;
}
#contact div.caution {margin-bottom: 15px;}
#contact div.caution p {
     color: #d51414;
     font-size: 70%;
     line-height: 145%;
}
#formArea_cc #contact form {margin-top: 30px;}
#contents-pop #contact {
     width: auto;
     margin: 10px 20px;
}
#contact {
     width: 720px;
     margin: 0 auto;
}
#contact h4 {font-size: 75%;}
#contact .txtBox {margin: 25px 0 10px;}
section #contact .text-center {
     text-align: center;
     margin: 50px 0;
}
#contact .txtBox p.txt-T {
     font-size: 80%;
     font-weight: bold;
     margin-bottom: 5px;
}
section #document li {
     font-size: 100%;
     font-size: 0.75rem;
}
#contact table {
     width: 100%;
     margin: 10px 0 0;
     word-break:break-all;
}
#contents-pop table {width: 100%;}
#contact table th {
     width: 28%;
     padding: 20px;
     font-size: 75%;
     font-weight: bold;
     color: #2B2B2B;
     background-color: #EEE;
     border-top: dotted 1px #000;
     border-bottom: dotted 1px #000;
}
#contact em {
     color: #C23E42;
     margin-left: 5px;
     font-size: 90%;
     font-size: 0.7rem;
}
#contact table td {
     width: 72%;
     font-size: 75%;
     font-size: 90%\9;
     padding:20px;
}
#contact table td input.name, #contact table td input.tel {
     height: 16px;
     width: 40%;
     padding: 2px 5px;
}
#contact table td input.mailAddress, #contact table td input.mailAddress2 {
     height: 20px;
     width: 60%;
}
#contact .weaktxt {
     color: #333;
     font-size: 90%;
     padding: 5px 0 0;
}
#contact .note {
     color: #333;
     font-size: 95%;
     font-size: 0.7rem;
     line-height: 150%;
     margin: 0 0 15px;
}
#contact .txtBox .note {
     font-size: 70%;
     font-size: 0.7rem;
}
#contact table td textarea {
     height: 150px;
     width: 90%;
     padding: 5px;
}
#contact table td .text-area {
     display: block;
     margin: 0 0 15px;
}
#contact .btn-confirm {
     text-align: center;
     padding: 20px;
     border-bottom: none;
     font-size: 100%;
}
#contact .btn-confirm-enq {
     padding: 20px;
     font-size: 100%;
}
#contact input.btn-confirmNext {
     height: 25px;
     width: 150px;
     color: #FFF;
     font-size: 75%;
     font-size: 0.75rem;
     text-align: center;
     background: url(http://dentouhonpo.com/img/btn-confirm_bg2.gif) repeat-x left top;
     border: none;
     margin: 0 5px;
}
#contact input.btn-confirmNext:hover {background: url(../img/btn-confirm_bg_on.gif) repeat-x left top;}
#contact .btn-enq input.btn-confirmNext {
     height: 25px;
     width: 200px;
     color: #FFF;
     padding: 0;
     font-size: 75%;
     font-size: 0.75rem;
     background: url(http://dentouhonpo.com/img/btn-confirm_bg2.gif) repeat-x left top;
     border: none;
     margin: 0 5px;
}
#contact .btn-enq input.btn-confirmNext:hover {background: url(../img/btn-confirm_bg_on.gif) repeat-x left top;}
#contact input.btn-confirmBack {
     height: 25px;
     width: 80px;
     color: #FFF;
     padding: 0 0 0 8px;
     font-size: 75%;
     font-size: 0.75rem;
     text-align: center;
     background: url(../img/btn-back_bg.gif) no-repeat left top;
     border: none;
     margin: 0 5px;
}
#contact input.btn-confirmBack:hover {background: url(../img/btn-back_bg_on.gif) no-repeat left top;}
#contact input.btn-confirmCancel {
     height: 25px;
     width: 120px;
     color: #FFF;
     padding: 0 0 0 8px;
     font-size: 75%;
     font-size: 0.75rem;
     text-align: center;
     background: url(http://dentouhonpo.com/img/btn-confirm_bg2.gif) repeat-x left top;
     border: none;
     margin: 0 5px;
}
#contact .btn-confirmCancel:hover {background: url(../img/btn-confirm_bg_on.gif) repeat-x left top;}
#contact .btn-confirmClose {
     height: 25px;
     width: 120px;
     color: #FFF;
     padding: 0 0 0 8px;
     font-size: 80%;
     font-size: 0.8rem;
     text-align: center;
     background: url(../img/btn-close_bg.gif) no-repeat left top;
     border: none;
     margin: 0 5px;
}
#contact .btn-confirmClose:hover {background: url(../img/btn-close_bg_on.gif) no-repeat left top;}
@-moz-document url-prefix() {
     #contact .btn-enq input.btn-confirmNext {
         padding: 0 5px 2px;
    }
    #contact input.btn-confirmNext {
         padding: 0 5px 2px;
    }
    #contact input.btn-confirmBack {
         padding: 0 2px 2px 8px;
    }
    #contact input.btn-confirmCancel {
         padding: 0 2px 3px 8px;
    }
    #contact input.btn-confirmClose {
         padding: 0 2px 4px 8px;
    }
}
#contact fieldset {margin-bottom: 25px;}
#contact legend {
     background: none repeat scroll 0 0 transparent;
     border-bottom: 1px dotted;
     font-size: 75%;
     font-weight: bold;
     line-height: 200%;
     margin-bottom: 10px;
     padding: 0;
     width: 100%;
}
#contact fieldset p {
     margin-bottom: 5px;
     font-size: 75%;
     font-size: 0.75rem;
}
#contact fieldset ul {overflow: hidden;}
#contact fieldset li {
     font-size: 75%;
     font-size: 0.75rem;
}
#contact fieldset li.fL {
     float: left;
     margin-right: 20px;
}
#contact fieldset input {margin: 0 3px 2px 0;}
#contact fieldset label {
     margin-right: 10px;
     font-size: 100%;
     font-size: 0.75rem;
}
#contact input.txtF {
     height: 16px;
     margin: 0;
     padding: 2px 5px;
}
#contact input.mailAddress {
     width: 300px;
     margin: 0;
}
#contact input.name_sei {margin: 0 10px 0 0;}
#contact select {
     margin: 0 0 5px;
     padding: 3px 1px;
     min-width: 110px;
}
#contact fieldset textarea {
     width: 70%;
     height: 150px;
     padding: 5px;
}
#contact .commentItem {padding: 10px 0 0;}
#contact table td.commentWite {
     border-bottom: 1px dotted #000000;
     border-top: 1px dotted #000000;
     font-size: 100%;
     padding: 15px 20px 20px;
     width: 72%;
}
#contact .commentItem {font-weight: 150%;}
#contact .memberF {
     padding: 20px 20px 10px;
     margin: 20px 0 0 0;
     border: 10px solid #EEE;
}
#contact .atttxt {
     color: #333;
     font-size: 75%;
     padding: 5px 0 0;
}
#contact .memberF input {
     width: 40%;
     height: 16px;
     margin: 0;
     padding: 2px 5px;
}
#contact .memberF th {padding: 10px 20px;}
#contact .memberF td {
     padding: 10px 20px;
     font-size: 100%;
}
#contact .memberF input.btn-confirm160 {margin: 10px 0 0;}
.memberName {
     border-bottom: 1px dotted;
     font-size: 75%;
     font-weight: bold;
     line-height: 200%;
     margin-bottom: 5px;
     padding: 0;
}
#contact input.btn-confirm120 {
     height: 25px;
     width: 120px;
     color: #FFF;
     padding: 0;
     font-size: 75%;
     font-size: 0.75rem;
     background: url(http://dentouhonpo.com/img/btn-confirm_bg2.gif) repeat-x left top;
     border: none;
     margin: 0 5px;
}
#contact input.btn-confirm120:hover {background: url(../img/btn-confirm_bg_on.gif) repeat-x left top;}
#contact input.btn-confirm160 {
     height: 25px;
     width: 160px;
     color: #FFF;
     padding: 0 0 0 8px;
     font-size: 75%;
     font-size: 0.75rem;
     text-align: center;
     background: url(http://dentouhonpo.com/img/btn-confirm_bg2.gif) repeat-x left top;
     border: none;
}
#contact input.btn-confirm160:hover {background: url(../img/btn-confirm_bg_on.gif) repeat-x left top;}
#contact input.btn-confirmReg {
     height: 25px;
     width: 160px;
     color: #FFF;
     padding: 0 0 0 8px;
     font-size: 75%;
     font-size: 0.75rem;
     text-align: center;
     background: url(http://dentouhonpo.com/img/btn-confirm_bg2.gif) repeat-x left top;
     border: none;
}
#contact input.btn-confirmReg:hover {background: url(../img/btn-confirm_bg_on.gif) repeat-x left top;}
#contact input.btn-confirmBackItem {
     height: 25px;
     width: 120px;
     color: #FFF;
     padding: 0 5px 2px 15px;
     font-size: 75%;
     font-size: 0.75rem;
     text-align: center;
     background: url(../img/btn-back_bg120.gif) no-repeat left top;
     border: none;
     margin: 0 5px;
}
#contact input.btn-confirmBackItem:hover {background: url(../img/btn-back_bg120_on.gif) no-repeat left top;}
@-moz-document url-prefix() {
     #contact input.btn-confirm120, #contact input.btn-confirm160, #contact input.btn-confirmReg {
         padding: 0 5px 2px;
    }
    #contact input.btn-confirmBackItem {
         padding: 0 2px 2px 8px;
    }
}
#contact .mailm:first-child {margin: 3px 0 0;}
#contact .mailm {margin: 30px 0 0 0;}
#contact .mailm .txtBox {margin: 0;}
#contact .mailm .txtBox h2 {
     border-bottom: none;
     margin: 0;
     font-weight: normal;
}
#contact .mailm .caution {margin: 0 0 5px;}
#contact table.mailMF td {
     overflow: hidden;
     font-size: 100%;
     border-top: dotted 1px #000;
     border-bottom: dotted 1px #000;
}
#contact table.mailMF input.mailAddress {
     margin: 0 10px 0 0;
     float: left;
}
#contact table.mailMF span.btn-confirm {
     display: block;
     float: left;
     padding: 0;
}
#contact table.mailMF input.btn-confirmNext, #contact .mailMC input.btn-confirmNext {
     float: left;
     height: 21px;
     width: 100px;
     padding: 0 5px 2px;
}
#contact .mailMF input.btn-confirmNext:hover {background: url(../img/btn-confirm_bg_on.gif) repeat-x left top;}
@-moz-document url-prefix() {
     #contact table.mailMF input.btn-confirmNext, #contact .mailMC input.btn-confirmNext {
          padding: 0 5px 3px;
     }
}
#contact table.mailMF td.n1 {
     border-bottom: none;
     padding: 20px 20px 10px;
}
#contact table.mailMF td.n2 {
     border-top: none;
     padding: 10px 20px 20px;
}
#contact table.mailMF td p {
     float: left;
     padding: 2px 0 0;
     margin-right: 10px;
}
#contact input.mailAddress_new {
     height: 20px;
     width: 60%;
     margin: 0 10px 0 0;
     float: left;
}
#contact .mailMC span.btn-confirm {
     display: block;
     padding: 0;
}
#contact .freeArea {
     margin: 60px 50px 0;
     width: 620px;
     background-color: #FFFFFF;
}
#contact .ann-input {
     margin: 5px 0 0;
     font-size: 100%;
}
#contact .ann-input input {margin: 0 3px 2px 0;}
#itemList_wrap {margin: 0 0 20px 0;}
#itemList {
     margin: 15px 0 0 0;
     position: relative;
}
article #main-column #itemList section {margin: 0;}
.column4 h2 {
     font-size: 70%;
     line-height: 130%;
     margin-bottom: 3px;
     background: none;
     font-weight: normal;
     padding: 0;
     border: none;
}
article #main-column #itemList section.column4 {
     overflow: hidden;
     margin: 0 13px 20px 0;
}
article #main-column #itemList section.column4:nth-child(4n) {margin: 0 1px 20px 0;}
#itemList2 {margin:15px 0 0 0;position:relative;}
#itemList2 .column4 {float:none;width:100%;height:auto !important;overflow:hidden;*zoom:1;}
#itemList2 .column4 .itemThumb-wrap {float:left;padding-right:15px;}
#itemList2 .column4 .inner-catch {
     line-height:160%;
     margin-top:3px;
}
#itemList_wrap #pager-top {
     width: 100%;
     padding: 5px 0 0 0;
     overflow: hidden;
     border-top: 1px dotted #333333;
     line-height: 100%;
}
#itemList_wrap div.pagerlist #pager-bm {
     width: 100%;
     padding: 0;
     margin: 0 0 20px 0;
     overflow: hidden;
     line-height: 100%;
}
#itemList_wrap #pager-top .quantity {
     float: left;
     font-size:80%;
     line-height:100%;
}
#itemList_wrap #pager-bm .quantity {
     float: left;
     font-size:80%;
     line-height:100%;
     margin: 1px 30px 0 0;
}
#itemList_wrap #pager-top .selectbox, #itemList_wrap #pager-bm .selectbox {font-size: 70%;}
#itemList_wrap #pager-top .selectbox {margin-bottom:10px;}
#itemList_wrap #pager-top .selectbox .select01 {margin-right:10px;}
#itemList_wrap #pager-top .pagerlist, #itemList_wrap #pager-bm .pagerlist {float: right;}
#itemList_wrap #pager-top ul, #itemList_wrap #pager-bm ul {
     margin: 0;
     padding: 0;
     overflow: hidden;
     *zoom: 1;
}
#itemList_wrap #pager-top ul li, #itemList_wrap #pager-bm ul li {
     float: left;
     *float: none;
     *display: inline;
     padding: 0 4px;
     margin: 0;
     line-height: 120%;
     *zoom: 1;
     font-size: 80%;
}
#itemList_wrap #pager-top ul li.pagericon, #itemList_wrap #pager-bm ul li.pagericon  {
     float: left;
     *float: none;
     *display: inline;
     padding: 0;
     margin: 0;
     line-height: 120%;
     *zoom: 1;
}
#pager-top ul li.selected, #pager-bm ul li.selected {
     font-weight: bold;
     color: #333;
     text-decoration: none;
}
#itemDetail-cont {overflow: hidden;}
#itemDetail-cont .cartArea input:hover,
#itemDetail-cont .cartArea .variation a:hover{
     opacity: .70;
     filter: alpha(opacity=70);
     -ms-filter: "alpha(opacity=70)";
     -khtml-opacity: .70;
     -moz-opacity: .70;
     cursor: pointer;
}
#itemDetail-cont .itemThumb-wrap {
     float: left;
     width: 400px;
     margin: 0 20px 0 0;
}
#itemDetail-cont .itemThumb-wrap .itemThumb-main {text-align:center;}
#itemDetail-cont .itemThumb-wrap .itemThumb-main img {
     margin: 0 0 5px 0;
     width: 400px;
     height: 400px;
}
#itemDetail-cont .itemThumb-wrap .itemThumb ul {overflow: hidden;}
#itemDetail-cont .itemThumb-wrap .itemThumb ul li {
     float: left;
     padding: 0;
     height: 72px;
     width: 72px;
     margin: 0 10px 10px 0;
     overflow: hidden;
}
#itemDetail-cont .itemThumb-wrap .itemThumb ul li:nth-child(5n) {margin: 0 0 10px 0;}
#itemDetail-cont .itemOutline {
     float: left;
     width: 360px;
     margin-right: 20px;
}
#itemDetail-cont .itemOutline .icons {margin: 0 0 15px 0;}
#itemDetail-cont .itemOutline  ul.ico_salesMethod {
     overflow: hidden;
     margin: 0 0 10px 0;
}
#itemDetail-cont .itemOutline ul.ico_salesMethod li {
     float: left;
     width: 60px;
     height: 17px;
}
#itemDetail-cont .itemOutline  ul.ico_itemType {overflow: hidden;}
#itemDetail-cont .itemOutline ul.ico_itemType li {
     float: left;
     width: 35px;
     height: 36px;
}
article#Detail #main-column h1 {
     background: none;
     margin-bottom: 10px;
     font-size: 110%;
     font-weight: bold;
     padding: .5em 0;
     border-top: 1px dashed #c099a0;
     border-bottom: 1px dashed #c099a0;
     font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
}
article#Detail #main-column h2 {
     background: none;
     border-bottom: 1px dotted #333;
     margin: 0;
     font-size: 80%;
     padding: 0;
}

/*position設定*/
article#Detail section#itemDetail-wrap{
     position: relative;
     overflow: hidden;
}

article#Detail section#itemDetail-wrap p.price {
     font-size: 90%;
     margin-bottom: 3px;
}
article#Detail section#itemDetail-wrap p.sp_price {
     font-size: 90%;
     color: #FF0000;
     font-weight: bold;
     margin-bottom: 3px;
}
article#Detail section#itemDetail-wrap p.regular_price {
     font-size: 80%;
     margin-bottom: 0;
     color: #2A78D0;
}
section#itemDetail-wrap table.spec {
     line-height: 250%;
     margin: 0 0 25px;
     font-size: 70%;
}
section#itemDetail-wrap table.spec tr {border: none;}
section#itemDetail-wrap table.spec tr.date {line-height:150%;}
section#itemDetail-wrap table.spec th {
     vertical-align: top;
     padding: 0 5px 0 0;
     width: 30%;
}
section#itemDetail-wrap table.date {margin: 15px 0 3px;}
section#itemDetail-wrap table.jan {margin: 0 0 15px;}
section#itemDetail-wrap table.price {
     line-height: 170%;
     margin: 0;
}
section#itemDetail-wrap table.price th {
     font-size: 70%;
     padding: 0 0 1px;
     width: 30% !important;
}
section#itemDetail-wrap table.price td {font-size: 80%;}
table.price tr.fx_price span.strike span.fixed_price,
table.price span.strike {text-decoration: line-through;}
table.price tr.price span.selling_price,
table.price tr.price span.taxin,
table.price tr.price span.discount_rate,
table.price tr.sp_price span.special_price,
table.price tr.sp_price span.taxin,
table.price tr.sp_price span.discount_rate {
     color: #595857;
     font-size: 90%;
     font-weight: bold;
     margin-bottom: 3px;
     line-height: 2.3em;
}
table.price tr.rg_price span.regular_price_str {
     color: #2A78D0;
     margin-bottom: 3px;
}
table.price tr.rg_price span.regular_price,
table.price tr.rg_price span.taxin
{
     color: #2A78D0;
     margin-bottom: 3px;
}
.quantityArea select.quantity {padding: 1px 2px;}
section#itemDetail-wrap .cartArea {margin-bottom: 20px;}
section#itemDetail-wrap .cartArea img {
     width: 350px;
     height: 30px;
}
section#itemDetail-wrap .cartArea img.nostock {
     width: auto;
     height: auto;
}
section#itemDetail-wrap .cartArea table.variation {
     width: 100%;
     word-break:break-all;
}
section#itemDetail-wrap .cartArea tr.t-variation {
     background-image: url(../img/valiation_bk.gif);
     background-repeat: x-repeat;
     background-position: left top;
}
section#itemDetail-wrap .cartArea table.variation th {
     font-size: 60%;
     font-weight: bold;
     padding: 3px 5px;
     text-align: center;
     line-height: 150%;
     border: 1px solid #CCCCCC;
}
section#itemDetail-wrap .cartArea table.variation tr {border-bottom: 1px dotted #CCCCCC;}
section#itemDetail-wrap .cartArea table.variation tr.t-variation {border: none;}
section#itemDetail-wrap .cartArea table.variation td {
     font-size: 60%;
     padding: 5px;
     text-align: center;
     line-height: 150%;
     border: 1px solid #CCCCCC;
}
section#itemDetail-wrap .cartArea table.variation td img {
     vertical-align: middle;
     width: 110px;
     height: 20px;
}
section#itemDetail-wrap .cartArea table.variation span.nostock {color: #F00;}
section#itemDetail-wrap p.cancel {
     /*非表示*/
     display: none;

     padding-left: 20px;
     background-image: url(../img/ico_return.gif);
     background-repeat: no-repeat;
     background-position: left top;
     font-size: 70%;
     margin-bottom: 5px;
}
section#itemDetail-wrap p.review_txt {
     padding-left: 20px;
     background-image: url(../img/ico_review.gif);
     background-repeat: no-repeat;
     background-position: left top;
     margin-bottom: 15px;
     font-size: 70%;
}
section#itemDetail-wrap p.cancel a, section#itemDetail-wrap p.review_txt a {display: block;}
.itemOutline ul.snsArea, article#Detail .itemOutline ul.infoArea {
     overflow: hidden;
     margin-bottom: 10px;
     height:30px;
}

/*シェアボタン、お問い合わせボタン表示部分の削除*/
ul.snsArea, ul.infoAream {
     display: none;
}

section#itemDetail-wrap .itemOutline li {
     float: left;
     margin-right: 5px;
}
section#itemDetail-wrap .description .info{
     margin: 20px 0 0;
     width: 360px;
     padding: 0;
     position: absolute;
     right: 20px;
     top: 280px;
     font-size: 70%;
     color: #595857;
}

section#itemDetail-wrap .description .info a{
     color: #c099a0;
     text-decoration: underline;
}

section#itemDetail-wrap .description .info td{
     width: 20px;
     border-bottom: 1px solid #e8e8e8;
     border-top: 1px solid #e8e8e8;
     padding: 6px 0;
}

/*商品説明、技法説明*/

section#itemDetail-wrap .description .caption{
     width: 400px;
     margin: 20px 0 0;
     color: #595857;
     float: left;
}

section#itemDetail-wrap .description .caption em{
     font-size: 120%;
     font-weight: bold;
}


section#itemDetail-wrap .description .caption p {
     line-height: 2.0em;
}

section#itemDetail-wrap .description .caption a{
     color: #c099a0;
     display: block;
     text-align: right;
     font-size: 70%;
     text-decoration: underline;
}


section#itemDetail-wrap .description .caption img{
     margin: 20px 0 5px;
}

section#itemDetail-wrap .description .contentArea01, section#itemDetail-wrap .description .contentArea02{
     clear: both;
     overflow: hidden;
}

section#itemDetail-wrap .description .contentArea02{
     margin: 40px 0 0;
}


section#itemDetail-wrap .description .contentArea02 img{
     display: block;
     margin: 0 auto;
     vertical-align: bottom;
}

/*商品詳細誘導画像*/
section#itemDetail-wrap .description .contentArea02 img.readmore{
     margin: 40px auto;
}

/*カートへ戻るボタン*/
section#itemDetail-wrap .description .contentArea02 a.return{
     margin: 40px auto;
     display: block;
     width: 318px;
     height: 41px;
     background: url("http://dentouhonpo.com/img/ip_return.png") no-repeat;
}

section#itemDetail-wrap .description .contentArea02 a.return:hover{
     margin: 40px auto;
     background: url("http://dentouhonpo.com/img/ip_return_hv.png") no-repeat;
}

/*サービス情報*/

section#itemDetail-wrap .description .service{
     width: 360px;
     margin: 20px 20px 0;
     color: #595857;
     float: right;
     font-size: 75%;
}


section#itemDetail-wrap .description .service td{
     padding: 10px;
     border: 1px solid #e8e8e8;
}


section#itemDetail-wrap .description .service tr:first-child{
     text-align: center;
     font-size: 120%;
     background-color: #e8e8e8;
}


section#itemDetail-wrap .description .service tr td:first-child{
     width: 95px;
}


article#Detail #main-column .spec-g_txt_table_wrap {
     width: 100%;
     overflow: hidden;
}
article#Detail #main-column section.spec-g_txt {
     float: left;
     margin-right: 4%;
     width: 48%;
     padding: 20px 0 0;
}
article#Detail #main-column section.spec-g_txt p {
     font-size: 70%;
     padding-top: 10px;
     line-height: 160%;
}
article#Detail #main-column section.spec-g_table {
     float: right;
     width: 48%;
     padding: 20px 0 0;
}
article#Detail #main-column section.spec-g_table table {width: 100%;}
article#Detail #main-column section.spec-g_table th {
     width: 70px;
     max-width: 70px;
     min-width: 25px;
     padding: 5px 0;
}
article#Detail #main-column section.spec-g_table tr {
     border-bottom: 1px dotted #CCC;
     width: 100%;
     font-size: 65%;
}
article#Detail #main-column section.spec-g_table td {padding: 5px 0;}
article#Detail #main-column .w100 section.spec-g_txt {
     float: none;
     width: 100%;
}
article#Detail #main-column .w100 section.spec-g_txt p {
     font-size: 70%;
     padding-top: 10px;
     line-height: 160%;
}
article#Detail #main-column .w100 section.spec-g_table {
     float: none;
     width: 100%;
}
article#Detail #main-column .w100 table.spec-g_cont tr {
     border-bottom: 1px dotted #CCC;
     width: 100%;
}
article#Detail #main-column .w100 table.spec-g_cont th {padding: 5px 0;}
article#Detail #main-column .w100 table.spec-g_cont td {padding: 5px 0;}
section.userreview {padding: 20px 0 0;}
section.userreview table.userreview_list {
     width: 100%;
     font-size: 70%;
     margin: 10px 0 0 0;
     line-height: 160%;
     border-bottom: 1px dotted #CCC;
}
section.userreview div.more {
     width: 80px;
     height: 19px;
     margin: 3px 0 0 0;
}
section.userreview div.more a img {
     width: 80px;
     height: 19px;
     vertical-align: middle;
}
section.userreview table.userreview_list tr td.userreview_user {text-align: left;}
section.userreview table.userreview_list tr td.userreview_date {text-align: right;}
section.userreview table.userreview_list td.userreview_rate img {vertical-align: middle;}
section.userreview table.userreview_list td.userreview_comment {padding: 10px 0 20px;}
article#Detail #main-column section.recommend {padding: 20px 0 0;}
article#Detail #main-column section.recommend h2 {
     margin: 0 0 10px 0;
     padding: 0 0 2px 0;
}
article#Detail section.column5 {border: none;}
.column-set .quantityArea {margin-top: 5px;}
.column-set .quantityArea span {font-size: 70%;}
article #main-column .pageNav_top {
     overflow: hidden;
     font-size: 70%;
     padding-bottom: 5px;
     border-bottom: 1px dotted #111111;
}
article #main-column .pageNav{font-size: 70%;}
article #main-column .pageL  {
     float: left;
     width:100%;
}
article #main-column .pageNav_top .pageL {width: 50%;}
article #main-column .pageR {float: right;}
article #main-column h1 {
     background: url("../img/Tline-scolumn.gif") repeat-x scroll left bottom transparent;
     color: #333333;
     font-size: 90%;
     font-weight: bold;
     line-height: 165%;
     margin-bottom: 15px;
     padding: 0 0 10px;
}
article #main-column section.rating {
     padding-bottom: 30px;
     margin-bottom: 5px;
     border-bottom: 1px dotted #111111;
}
article #main-column section.rating .reviewBox {
     overflow: hidden;
     margin: 15px 0;
}
article #main-column section.rating .tmb {
     float: left;
     margin-right: 20px;
     width:80px;
}
article #main-column section.rating .reviewTxt {
     float: right;
     width: 620px;
}
article #main-column section.rating .reviewTxtNoImg {
     float: left;
     width: 100%;
}
article #main-column section.rating .ttlArea {overflow: hidden;}
article #main-column section.rating h2 {
     float: left;
     font-size: 100%;
     background: none;
     font-weight: normal;
     padding: 0;
     margin: 0;
     line-height: 160%;
     border-bottom: none;
}
article #main-column section.rating .btnMore {float: right;}
article #main-column section.rating .reviewTxt ul ,
article #main-column section.rating .reviewTxtNoImg ul {
     margin: 5px 0;
     vertical-align: middle;
     line-height: 120%;
     overflow: hidden;
}
article #main-column section.rating .reviewTxt ul li ,
article #main-column section.rating .reviewTxtNoImg ul li {
     float: left;
     margin-right: 5px;
     font-size: 75%;
}
article #main-column section.rating .comment p {
     background: #eaeaea;
     padding: 5px 15px 15px;
}
article #main-column section.rating .comment h3 {
     padding: 20px 0 0 15px;
     background: url(../img/shop/trigona.png) no-repeat;
     font-size: 70%;
     font-weight: bold;
}
article #main-column .pageNav .pageL strong , article #main-column .pageNav_top .pageL strong {font-weight: bold;}
article #main-column section.rating .reviewBox_item h2 {
     color: #0C3;
     float: left;
     font-size: 75%;
     background: none;
     font-weight: bold;
     padding: 0;
     margin: 0;
     line-height: 160%;
     border-bottom: none;
}
article #main-column section.rating .reviewBox_item {margin: 15px 0;}
article #main-column section.rating .reviewBox_item ul {
     overflow: hidden;
     vertical-align: middle;
     line-height: 120%;
}
article #main-column section.rating .reviewBox_item ul li {
     float: left;
     margin-right: 5px;
     margin-bottom: 10px;
     font-size: 75%;
}
article #main-column section.rating .reviewBox_item ul li.point {
     margin-right: 20px;
     color: #F60;
     font-weight: bold;
}
article #main-column section.rating ul li.space {margin-right: 20px;}
article #main-column #itemBox {
     overflow: hidden;
     margin-bottom: 15px;
}
article #itemBox h2 {
     float: left;
     font-size: 90%;
     border-bottom: none;
}
article #itemBox p {float: right;}
#contact #center1 .centerbox {margin:0px;}
#contact #center1 .centerbox .mainCont .step_navi01 {
     background-image: url("../img/navi01.gif");
     background-repeat: no-repeat;
}
#contact #center1 .centerbox .mainCont .step_navi02 {
     background-image:url(../img/navi02.gif);
     background-repeat:no-repeat;
}
#contact #center1 .centerbox .mainCont .step_navi03 {
     background-image:url(../img/navi03.gif);
     background-repeat:no-repeat;
}
#contact #center1 .centerbox .mainCont .step_navi04 {
     background-image:url(../img/navi04.gif);
     background-repeat:no-repeat;
}
#contact #center1 .centerbox .mainCont .step_navi01,#contact #center1 .centerbox .mainCont .step_navi02,#contact #center1 .centerbox .mainCont .step_navi03,#contact #center1 .centerbox .mainCont .step_navi04 {
     height: 83px;
     text-align: center;
     width: 100%;
}
#contact #center1 .centerbox .mainCont input[type="button"],
#contact #center1 .centerbox .mainCont input[type="submit"]{
     height: 25px;
     color: rgb(255, 255, 255);
     padding: 0px 8px;
     font-size: 0.8rem;
     text-align: center;
     background: url("http://dentouhonpo.com/img/btn-confirm_bg2.gif") repeat-x scroll left top transparent;
     border: medium none;
     margin: 5px 5px;
     width:auto;
}
#contact #center1 .centerbox .mainCont input[type="button"]:hover,
#contact #center1 .centerbox .mainCont input[type="submit"]:hover{background: url(../img/btn-confirm_bg_on.gif) repeat-x left top;}
#contact #center1 .center{text-align:center!important;}
#contact #center1 p.center a#logout{float:none;}
#deli_scadule .deli_plan_box{width:681px;}
#contact #center1 .centerbox .mainCont input[name="PZIP_SEEK"]{width:180px;}
#contact #center1 .centerbox .mainCont .bordlayoutp3 #deli_scadule .deli_plan_box table.deli_plan_cal td table td.day,
#contact #center1 .centerbox .mainCont .bordlayoutp3 #deli_scadule .deli_plan_box table.deli_plan_cal td table td.sat,
#contact #center1 .centerbox .mainCont .bordlayoutp3 #deli_scadule .deli_plan_box table.deli_plan_cal td table td.sun,
#center3 .centerbox table td[align="right"],
#center3 .centerbox .right,
#contact #center1 .right{text-align:right!important;}

#center-seo .centerbox .backcolor3 .deli_plan_box table.layoutp5 th,
#center-seo .centerbox table th[align="left"],
#center-seo .centerbox table td[align="left"],
#center3 .centerbox .backcolor3 .deli_plan_box table.layoutp5 th,
#center3 .centerbox table th[align="left"],
#center3 .centerbox table td[align="left"],
#contact #center1 .left{text-align:left!important;}
#contact #center1 .middle{vertical-align:middle!important;}
#contact #center1 .buttom{vertical-align:bottom!important;}
#contact #center1 .float_left{float:left!important;}
#contact #center1 .centerbox .title1{
     padding:15px 0px 12px 8px;
     margin:0px;
     width:auto;
     line-height:100%;
     font-weight:bold;
     font-size:12px;
     vertical-align:middle;
     letter-spacing:0.2em;
     color:#000000;
     background-color:#D6D6D6;
}
#contact #center1 .centerbox .title1 a{color:#000000;text-decoration:underline;}
#contact #center1 .centerbox .title1 a:hover{
     color:#000000;
     text-decoration:underline;
     font-weight:bold;
}
#contact #center1 .centerbox .mainCont {
     padding:10px;
     margin:0px;
     width:auto;
     background-color:#FFFFFF;
}
.backcolor1 strong,.backcolor2 strong{font-weight:bold;}
#contact #center1 .centerbox .mainFrame .mainCont #confirm .right{width:100%!important;}
#contact #center1 .centerbox .mainFrame .mainCont .bordlayoutp3 table{font-size:100%;}
#contact #center1 .centerbox .mainFrame .mainCont .bordlayoutp3  {padding:5px 0px;}
#contact #center1 .centerbox .mainFrame .mainCont .bordlayoutp3 th {padding:10px;border:1px solid #999999;}
#contact #center1 .centerbox .mainFrame .mainCont .bordlayoutp3 td {padding:2px 4px;border:1px solid #999999;font-size:0.75rem;}
#contact #center1 .centerbox .mainCont .bordlayoutp3 #deli_scadule .deli_plan_box table.deli_plan_cal td.first,
#contact #center1 .centerbox .mainCont .bordlayoutp3 #deli_scadule .deli_plan_box table.deli_plan_cal td.second,
#contact #center1 .centerbox .mainCont .bordlayoutp3 #deli_scadule .deli_plan_box table.deli_plan_cal td.third,
#contact #center1 .centerbox .mainCont .bordlayoutp3 #deli_scadule .deli_plan_box table.deli_plan_cal td.deli_plan_calday,
#contact #center1 .centerbox .mainFrame .mainCont .bordlayoutp3 tr.border_none td {border:none;}
#contact #center1 .centerbox .mainFrame .mainCont .bordlayoutp3 .side {padding:10px 15px;}
#contact #center1 .backcolor3 { background:#D7EBF4;}
#contact #center1 .centerbox .mainFrame .mainCont .bordlayoutp3 td.backcolor1 {width:35%;background:#DDDDDD}
#contact #center1 .centerbox .mainFrame .mainCont .bordlayoutp3 tr.backcolor1 {background:#DDDDDD}
#contact #center1 .centerbox .mainFrame .mainCont .bordlayoutp3 tr.backcolor1 td{text-align:center;}
#contact #center1 .centerbox .mainFrame .mainCont .bordlayoutp3 td.backcolor2 {vertical-align:middle;background:#FFFFFF;}
#contact #center1 .centerbox .mainFrame .mainCont .bordlayoutp3 td.backcolor2[width="17%"]{width:1%;}
#contact #center1 .centerbox .mainFrame .mainCont .bordlayoutp3 td.backcolor2 input[type="text"] ,
#contact #center1 .centerbox .mainFrame .mainCont .bordlayoutp3 td.backcolor2 input[type="password"]{padding:2px 1px;height:16px;}
#contact #center1 .centerbox .mainFrame .mainCont form[name="NEXT"] .bordlayoutp3 table.border tbody tr td.backcolor1{background:#DDDDDD;width:100%\9;}
#deli_scadule .deli_scadule_box div.backcolor3.deli_plan table.layoutp5.deli_plan_day tbody tr td.backcolor1{width:15%!important;}
#deli_scadule .deli_scadule_box table.layoutp5.deli_cycle tbody tr td.backcolor1{width:35%\9!important;}
#contact #center1 .centerbox .mainFrame .mainCont form[name="PREV_ENQUETE"] + form[name="NEXT"] .bordlayoutp3 table.border tbody tr td.backcolor1{background:#DDDDDD;width:30%\9!important;}
#contact #center1 .centerbox .mainFrame .mainCont .bordlayoutp3 table.border tbody tr td{width:15%;#width:100%;}
#contact #center1 .centerbox .mainFrame .mainCont .bordlayoutp3 table.border tbody tr td + td{width:25%;#width:100%;}
#contact #center1 .centerbox .mainFrame .mainCont .bordlayoutp3 table.border tbody tr td + td + td{width:12%;}
#contact #center1 .centerbox .mainFrame .mainCont form[name="MODIFY"] .bordlayoutp3 table.border tbody tr td + td + td + td{width:26%;}
#contact #center1 .centerbox .mainFrame .mainCont form[name="MODIFY"] .bordlayoutp3 table.border tbody tr td + td + td + td + td{width:12%;}
#contact #center1 .centerbox .mainFrame .mainCont form[name="MODIFY"] .bordlayoutp3 table.border tbody tr td + td + td + td + td + td{width:10%;}
#contact #center1 .centerbox .mainFrame .mainCont .bordlayoutp3 table.border tbody tr td + td + td + td{width:8%;}
#contact #center1 .centerbox .mainFrame .mainCont .bordlayoutp3 table.border tbody tr td + td + td + td + td{width:10%;}
#contact #center1 .centerbox .mainFrame .mainCont .bordlayoutp3 form[name="NEXTM"] table.border tbody tr td{width:auto;}
#contact #center1 .centerbox .mainFrame .mainCont form[name="NEXTM"] .bordlayoutp3 table.border tbody tr td{width:auto;}
#contact #center1 .centerbox .mainFrame .mainCont form[name="NEXTM"] table.border tbody tr td.backcolor1.center,
#contact #center1 .centerbox .mainFrame .mainCont table.border tbody tr td[width="49%"],
#contact #center1 .centerbox .mainFrame .mainCont table.border tbody tr td[width="49%"] + td + td[width="49%"]{width:49%;}
#contact #center1 .centerbox .mainFrame .mainCont form[name="NEXTM"] table.border tbody tr td + td,
#contact #center1 .centerbox .mainFrame .mainCont table.border tbody tr td[width="49%"] + td,
#contact #center1 .centerbox .mainFrame .mainCont table.border tbody tr td.backcolor2 + td{width:2%;}
#contact #center1 .centerbox .mainFrame .mainCont form[name="NEXTM"] table.border tbody tr td + td +td.backcolor1.center{width:49%;}
#contact #center1 .centerbox .mainFrame .mainCont .bordlayoutp3 table.layoutp5.deli_cycle tbody tr td{width:auto;}
#contact #center1 .centerbox .mainFrame .mainCont .bordlayoutp3 table.border tbody tr td[align=right]{text-align:right;}
#deli_scadule table.deli_plan_cal tbody tr td{vertical-align:top;}
#contact #center1 .centerbox .mainFrame .mainCont div.layoutp3 table.border{border: 1px solid #999999;width:100%!important}
#contact #center1 .centerbox .mainFrame .mainCont div.layoutp3 table.border tbody tr td.backcolor2 table.layoutp3{margin-top: 0px;}
#contact #center1 .centerbox .mainFrame .mainCont div.layoutp3 table.border tbody tr td{border:none;padding:2px 9px;}
#contact #center1 .centerbox .mainCont .bordlayoutp3 #deli_scadule .deli_plan_box table.deli_plan_day th {
     font-size: 100%;
     background-color: inherit;
     border: none;
}
table#enter #center3 .centerbox .mainCont div.bordlayoutp3 form[name=list] table[align=center],
table#enter #center3 .centerbox .mainCont div.bordlayoutp3.center form table[align=center],
table#enter #center3 .centerbox .mainCont div.bordlayoutp3.center table[align=center]{
     width:auto;
     margin:0 auto;
}
table#enter #center3 .centerbox .mainCont div.bordlayoutp3 hr{
     display:block;
     margin:5px;
}
table#enter #center-seo .centerbox .mainCont div.bordlayoutp3,
table#enter #center3 .centerbox .mainCont div.bordlayoutp3 {padding: 5px 0;}
table#enter{
     background: none repeat scroll 0 0 #FFFFFF;
     text-align: left;
     width: 100%;
}
table#enter #center3 .centerbox form[name="NEXT"] .mainCont .bordlayoutp3 table tbody td div.send_info{
     width:75% !important;
     margin:0 54px !important;
}
#center-seo .centerbox a,#center3 .centerbox a{text-decoration : underline;}
#contact #center1 .centerbox .mainCont .bordlayoutp3 #deli_scadule .deli_plan_box table.deli_plan_cal td table caption,
#contact #center1 .centerbox .mainFrame .mainCont .bordlayoutp3 td.backcolor3 div>table tr.backcolor2 td[align="center"],
#center3 .centerbox .bordlayoutp3 table td[align="center"],
#center3 .centerbox .bordlayoutp3 table tr.center td,
#center-seo .centerbox .center,#center3 .centerbox .center,
#contact #center1 .centerbox .mainFrame .mainCont .bordlayoutp3 table.border tbody tr td[align=center] {text-align:center;}
#contact #center1 .centerbox .mainFrame .mainCont .bordlayoutp3 table.border tbody tr td[align=center] p font[color=red] strong{font-weight:bold;}
#contact #center1 .float_right,table#enter td#center3 div.centerbox form div.mainCont input.float_right{float:right!important;}
table#enter td#center3 div.centerbox form div.mainCont div{width:100%!important;}
table#enter td#center3 div.centerbox form div.mainCont input.float_right{
     position: absolute;
     right: 19px;
     top: 77px;
}
table#enter td#center3 div.centerbox input[type=checkbox]{margin-top:5px;}
#contact #center1 .centerbox .mainFrame{
     margin:0px;
     padding:1px;
     background-color:#EBEBEB;
}
#contact #center1 .box_in_box{text-align:center!important;}
#contact .layoutp3 table.layoutp3 tbody td,
#contact .layoutp3 table.layoutp5 tbody td,
#contact .bordlayoutp3 table tbody td{text-align:left}
#contact .layoutp3 table.layoutp3 tbody td,
#contact .layoutp3 table.layoutp5 tbody td{padding:5px }
#contact .mainFrame .mainCont .layoutp3 table.layoutp3 tbody td.center,
#contact .mainFrame .mainCont .layoutp3 table.layoutp5 tbody td.center{width: 2%;}
#contact .mainFrame .mainCont .layoutp3 table.layoutp3 tbody td label,
#contact .mainFrame .mainCont .layoutp3 table.layoutp5 tbody td label strong{font-size: 0.75rem;}
#contact .mainFrame .mainCont #tradesafe_div1 {
     font-size: 100% !important;
     line-height: 142% !important;
}
#center3 .centerbox .red,
#contact #center1 .red{color:#CC0000;font-size: 0.75rem!important;}
#contact #center1 .point {font-size:120%;color:red;font-weight:900;}
#contact #center1 .pointline {font-size:100%;color:#FFFFFF;font-weight:900;padding:5px ;padding-bottom:5px;background-color:#666666;margin-top:5px;margin-bottom:5px;}
#contact .mainFrame .mainCont a{color:#333333; font-size:0.75rem;}
#contact .mainFrame .mainCont div.layoutp3 table tbody tr td{border:none;}
#contact .mainFrame .mainCont a:hover{color:#666666; text-decoration: underline;}
#contact .mainFrame .mainCont h4{
     font-size: 0.75rem;
     font-weight:bold;
}
#contents div.enquete-section #contact #center1 .centerbox .mainCont .mainFrame{
     border: 1px solid #EBEBEB;
     margin: 0;
     padding: 10px;
     background-color:#fff;
}
#contents .enquete-section #contact table tbody tr td div.mainCont:first-child{padding:0px;}
div.enquete-section #contact #center1 .centerbox .mainCont .mainFrame .mainCont form[name=ENQ] p{
     margin: 5px 0;
     padding: 2px 0;
}
div.enquete-section #contact #center1 .centerbox .mainCont .mainFrame .mainCont form[name="ENQ"] table tbody tr td:first-child{width:45%;}
div.enquete-section #contact #center1 .centerbox .mainCont .mainFrame .mainCont form[name=ENQ] table{width:50%;}
div.enquete-section #contact #center1 .centerbox .mainCont .mainFrame .mainCont form[name=ENQ] table tbody tr td{
     padding: 1px;
     text-align: left;
     vertical-align: top;
     word-break: break-all;
     border:none;
     font-size:100%;
}
div.enquete-section #contact #center1 .centerbox .mainCont .mainFrame{border:soild 1px;}
div.enquete-section #contact{width:100%;}
div.enquete-section #contact #center1 .centerbox .mainCont .mainFrame .mainCont form[name=ENQ] input[type="text"],
div.enquete-section #contact #center1 .centerbox .mainCont .mainFrame .mainCont form[name=ENQ] input[type="password"],
div.enquete-section #contact #center1 .centerbox .mainCont .mainFrame .mainCont form[name=ENQ] select{
     height: 20px;
     padding: 0;
}
div.enquete-section #contact #center1 .centerbox .mainCont .mainFrame .mainCont form[name=ENQ] h4.title {
     background: none repeat scroll 0 0 transparent;
     border-bottom: 1px dotted;
     font-size: 110%;
     font-weight: bold;
     line-height: 200%;
     margin-bottom: 10px;
     padding: 0;
     width: 100%;
}
#enquete-header{
     width:960px;
     margin:0 auto;
     background-color: #FFF;
     <!--{if $hfdesign.h_bgurl}-->
     background:url(<!--{$hfdesign.h_bgurl}-->) <!--{$hfdesign.h_bgurlp|background_pos}--> no-repeat;
     <!--{else}-->
     background:url(../img/header_bg.gif) repeat-x left top;
     <!--{/if}-->
}
#enquete-header #logo {
     margin: 0 auto;
     width: 960px;
}
#enquete-header #logo .shoplogo img{
     display: table-cell;
     vertical-align: middle;
     padding: 5px 0;
}
#enquete-header #logo .shoplogo h1 {
     max-width: 340px;
     background: none;
     margin: 0;
     padding-top: 5px;
}
#enquete-header #logo .shoplogo h1 a:hover img, #enquete-header #logo h1 a:hover img {
     opacity: 1;
     filter: alpha(opacity=100);
     -ms-filter: "alpha(opacity=70)";
     -khtml-opacity: 1;
     -moz-opacity: 1;
     filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
#enquete-header #logo .shoplogo img.float_right{float:right;}
#enquete-header #logo .shoplogo img.float_left{float:left;}
div.enquete-section #contact #center1 .centerbox .mainCont .mainFrame .mainCont form[name=ENQ] input[type=radio] ,
div.enquete-section #contact #center1 .centerbox .mainCont .mainFrame .mainCont form[name=ENQ] input[type=checkbox] {margin:0px 5px 3px 5px;}
div.enquete-section{padding:0;}
div.enquete-section #contact table tbody tr td#center1 .centerbox .mainCont h3.title1{
     background: url("../img/Tline-scolumn.gif") repeat-x scroll left bottom transparent;
     color: #333333;
     font-size: 120%;
     font-weight: bold;
     line-height: 165%;
     margin-bottom: 15px;
     padding: 0 0 12px;
}
div.enquete-section #contact table tbody tr td{
     width:100%;
     border-top:none;
     padding:0px;
}
div.enquete-section #contact .centerbox .mainCont .mainFrame .mainCont form[name=ENQ] input[name=ANS4_1] {margin-left:22px;}
div.enquete-section #contact .centerbox .mainCont .mainFrame .mainCont form[name=ENQ] input[name=ANS4_2] ,
div.enquete-section #contact .centerbox .mainCont .mainFrame .mainCont form[name=ENQ] input[name=ANS4_3]{margin-left:11px;}
div.enquete-section #contact .centerbox .mainCont .mainFrame .mainCont form[name=ENQ] select[name=ANS5_1]{margin-left:13px;}
div.enquete-section #contact .centerbox .mainCont .mainFrame .mainCont form[name=ENQ] input[name=ANS5_2]{margin-left:25px;}
div.enquete-section #contact .centerbox .mainCont .mainFrame .mainCont form[name=ENQ] input[name=ANS5_3]{margin-left:2px;}
div.enquete-section #contact .centerbox .mainCont .mainFrame .mainCont form[name=ENQ] input[name=ANS5_4]{margin-left:26px;}
div.enquete-section #contact .centerbox .mainCont .mainFrame .mainCont form[name=ENQ] strong{font-weight:bold;}
div.enquete-section #contact .centerbox .mainCont .mainFrame .mainCont form[name=ENQ] textarea{
     height: 150px;
     padding: 5px;
     width: 70%;
}
div.enquete-section #contact .centerbox .mainCont .mainFrame .mainCont form[name=ENQ] input[type=submit]{
     background: url("http://dentouhonpo.com/img/btn-confirm_bg2.gif") repeat-x scroll left top transparent;
     border: medium none;
     color: #FFFFFF;
     font-size: 0.75rem;
     height: 25px;
     margin: 0 5px;
     padding: 0;
     width: 200px;
}
div.enquete-section #contact .centerbox .mainCont .mainFrame .mainCont form[name=ENQ] input[type=submit]:hover{background: url(../img/btn-confirm_bg_on.gif) repeat-x left top;}
.shoplogo{width:340px;}
#enquete-footer{
     width:960px;
     margin:0 auto;
     height: 57px;
     line-height: 100%;
     position: relative;
     clear: both;
}
#enquete-footer #footer-inner .footer_gnavi{float:left;}
#enquete-footer #footer-inner .footer_gnavi ul li:first-child{
     background-image:none;
     padding:0 3px 0 0;
}
#enquete-footer #footer-inner .footer_gnavi ul li{
     background: url("../img/slash_ccc.gif") no-repeat scroll left center transparent;
     color: #999999;
     display: inline-block;
     font-size: 60%;
     line-height: 100%;
     padding: 0 3px 0 18px;
}
#enquete-footer #footer-inner .footer_gnavi ul li a{color:#999;}
#enquete-footer #footer-inner .footer_gnavi ul li a:hover{
     color:#fff;
     text-decoration: underline;
}
#enquete-footer #footer-inner .footer_gnavi ul li{#float:left}
#enquete-footer #copyright{
     float: right;
     font-size: 67%;
     text-align: right;
     color: #FFF;
}
#center-seo .centerbox,#center3 .centerbox {
     font-size: 75%;
     line-height: 200%;
     margin: 0px;
     padding: 0 10px 10px;
     word-break:break-all;
}
#center-seo h3.title1,#center3 h3.title1 {
     background: url("../img/Tline-scolumn.gif") repeat-x scroll left bottom transparent;
     color: #333333;
     font-size: 120%;
     font-weight: bold;
     line-height: 165%;
     margin-bottom: 15px;
     padding: 0 0 10px;
}
#center-seo #bread,#center3 #bread {
     margin: 0px;
     padding: 3px 15px;
     text-align: left;
     font-size: 75%;
     line-height: 200%;
}
#center-seo .mainCont,#center3 .mainCont {
     padding: 10px;
     margin: 0px;
     width: auto;
}
#center-seo .centerbox .caution,#center3 .centerbox .caution {
     font-weight: bold;
     color: #d51414;
}
#center-seo .centerbox table th,#center-seo .centerbox table td,#center3 .centerbox table th,
#center3 .centerbox table td {
     word-break: break-all;
     vertical-align: top;
     text-align: left;
     padding: 1px;
}
#center3 .centerbox table td[width="5%"] {width: 10%;}
#center-seo .centerbox .backcolor1,#center3 .centerbox .backcolor1 {background-color: #EEEEEE;}
#center-seo .centerbox .bordlayoutp3 table th,#center3 .centerbox .bordlayoutp3 table th {
     color: #2B2B2B;
     font-weight: bold;
     text-align: center;
     word-break: normal;
}
#center3 .layoutp3 table th,
form[name$="FORM"]~tbody #center3 .layoutp3 table th {
     width: 25%;
     font-weight: bold;
     *width: 0%;
}
#center-seo .centerbox th.backcolor1,
#center-seo .bordlayoutp3 th,
#center-seo .bordlayoutp3 td,
#center3 .centerbox th.backcolor1,
#center3 .bordlayoutp3 th,
#center-seo .bordlayoutp3 td,#center3 .bordlayoutp3 td {
     border: 1px solid #999999;
     vertical-align: middle;
}
#center3 .bordlayoutp3 .layoutp3 th,
#center3 .bordlayoutp3 .layoutp3 td {
     padding: 0px;
     border: none;
}
#center3 .bordlayoutp3 .layoutp3 td.send_info {border: 1px solid #999999;}
#center3 .bordlayoutp3 .layoutp3 td.send_info+td {*width: 70%;}
#center3 .centerbox strong,
#center3 .centerbox h4 {
     text-align: left;
     font-weight: bold;
}
#center-seo .centerbox .layoutp3 + .bordlayoutp3>table,
#center3 .centerbox .layoutp3 + .bordlayoutp3>table {width:95%;}

#center-seo input[type="submit"],
#center-seo input[type="button"],
#center3 input[type="submit"],
#center3 input[type="button"] {
     height: 25px;
     color: #FFF;
     padding: 0 8px 0 8px;
     font-size: 80%;
     font-size: 0.8rem;
     text-align: center;
     background: url(http://dentouhonpo.com/img/btn-confirm_bg2.gif) repeat-x left top;
     border: none;
     margin: 2px 2px;
     width:initial;
}
#contact #center1 .centerbox .mainFrame .mainCont .bordlayoutp3 td.backcolor3 div>table tr.backcolor2 td div select,
#center-seo select, #center-seo input[type="text"],
#center3 select,
#center3 input[type="text"],
#center3 input[type="password"] {
     height: 20px;
     line-height:20px;
     padding: 0px;
     margin: 2px 0px;
     min-width: inherit;
}
#contact #center1 .centerbox .mainFrame .mainCont .bordlayoutp3 td.backcolor3 div>table tr.backcolor2 td div select,
#center-seo select,
#center-seo textarea,
#center3 select,
#center3 textarea{
     padding: 1px;
     margin: 2px 0px;
}
#center3 select[name="SEL_CARD"] {
     margin-left: 5px;
     padding: 1px;
}
#center-seo input[type="submit"]:hover,
#center-seo input[type="button"]:hover,
#center3 input[type="submit"]:hover,
#center3 input[type="button"]:hover {background: url(../img/btn-confirm_bg_on.gif) repeat-x left top;}
#center-seo .centerbox table td input[type="radio"],
#center3 .centerbox table td input[type="radio"] {
     margin: -3px 3px 0px 5px;
}
table#enter form[name="NEWMEM"] #center3 .centerbox .bordlayoutp3 table td[colspan="2"] input[type="checkbox"] {margin: -3px 4px 0px 0px;}
#center-seo p,#center3 p {
     margin: 5px 0px;
     padding: 2px 0px;
}
#center3 .centerbox .bordlayoutp3 table td.backcolor2 div form {display: inline-block;}
#contact #center1 .centerbox .mainFrame .mainCont .bordlayoutp3 td.backcolor3 div>table tr.backcolor2 td {background-color:#FFFFFF;}
#contact #center1 .centerbox .mainFrame .mainCont .bordlayoutp3 table.layoutp5.deli_cycle tbody tr td input[type="radio"],
#contact #center1 .centerbox .mainCont form[name="NEXT"] h4 + div.right input[type="button"],
#contact #center1 .centerbox .mainCont form[name="NEXT"] h4 + div.right input[type="submit"] {
     margin: 0px 3px;
     height: 20px;
}
#center-seo .bordlayoutp3 table tbody tr td input[type="button"],
#center3 .bordlayoutp3 table tbody tr td input[type="button"]{
     width:190px;
}
section .freeTop h2 {
     border: medium none;
     font-size: 90%;
     font-weight: bold;
     line-height: 165%;
     margin-bottom: 10px !important;
     padding: 0 0 10px !important;
}
.leftSearch {overflow: hidden;}
.leftSearch #searchbox_wrap {
     margin: 10px 0;
     overflow: hidden;
     display: none;
}
.leftSearch searchbox {
     color: #999999;
     float: right;
     font-size: 65%;
     line-height: 160%;
     overflow: hidden;
     text-align: right;
}
.leftSearch #searchbox form {
     border: 1px solid #777777;
     float: left;
     height: 27px;
     width: 160px;
}
.leftSearch #searchbox input.searchbox {
     border: medium none;
     margin-left: 1px;
     padding: 0 5px;
     width: 117px;
     height:26px;
}
.leftSearch #searchbox input.searchSubmit {padding: 1px 1px 0 0;}
.leftSearch #searchbox p {
     float: left;
     margin: 5px 5px 0 0;
}
#header-inner h2 {max-width : 340px;}
.siteName {
     margin:0px;
     padding:10px 10px 5px 10px;
     font-size:100%;
     line-height:1em;
}
.siteName a {color:black ;text-decoration:none;}
.siteName a:hover {color:blue;text-decoration:underline;}
.sitecopy{
     padding:10px 10px 5px 5px;
     margin:0px;
     color:#999999;
     font-size:80%;
     line-height:1em;
}
.sitecopy a {color:black;text-decoration:none;}
.sitecopy a:hover {color:blue;text-decoration:underline;}
.header_area {
     text-align:left;
     width:800px;
     margin:0;
     padding:0px;
}
.footer_area {
     text-align:left;
     width:800px;
     margin:0;
     padding:0px;
}
.cart-section .header_area {
     margin: 0 auto;
}
.cart-section .footer_area {
     margin: 0 auto;
}
#contents #main-column .footer_area{padding-top:5px;}
.pageNav form img{float:right;}
#sub-column .category .fukidashi nav,
#sub-column .category .tatenarabi nav,
#sub-column .category #sps-itemListAllCategory nav {margin-bottom:0;}
#sub-column .category .fukidashi nav:last-child,
#sub-column .category .tatenarabi nav:last-child,
#sub-column .category #sps-itemListAllCategory section nav:last-child {margin-bottom:20px;}
#sub-column .category #sps-itemListAllCategory section nav:first-child {margin-bottom:0;}
#sub-column .category .fukidashi ul {zoom:1;}
#sub-column .category .fukidashi nav {position:relative;}
#sub-column .category .fukidashi nav .sps-itemCategorySub {
     width:100%;
     position:absolute;
     top:0;
     left:100%;
     display:none;
}
#sub-column .category .fukidashi nav:hover .sps-itemCategorySub {
     display:block;
     z-index:999;
}
#sub-column .category .fukidashi nav .sps-itemCategorySub {
     padding: 5px;
     border-top:1px solid #ddd;
     border-left:1px solid #ddd;
     border-right:1px solid #aaa;
     border-bottom:1px solid #aaa;
     background:#fff;
}
#sub-column .category .fukidashi nav .sps-itemCategorySub .cat2 a {
     color:#333;
     font-weight:normal;
}
#sub-column .category .fukidashi nav .sps-itemCategorySub .cat2 a:hover {
     color:#333;
     font-weight:normal;
}
#sub-column .category nav ul li.listcat2 a {
     zoom: 1;
     display: block;
     padding: 3px 2px 3px 30px;
     margin:0px 0;
     line-height: 100%;
     color:#000;
     text-decoration: none;
     font-weight:bold;
}
#sub-column .category nav ul li.listcat3 a {
     zoom: 1;
     display: block;
     padding: 3px 2px 3px 50px;
     margin:0px 0;
     line-height: 100%;
     color:#000;
     text-decoration: none;
}
#sub-column .category nav ul li.child a {color:#000;}
section.half-cont div.category section h3{
     font-weight: bold;
     line-height: 120%;
     font-size:    80%;
}
#sub-column .category .sps-allList {margin-bottom:20px;}
#sub-column .category .sps-allList+#sps-itemListAllCategory {
     display:none;
     margin-top:-20px;
}
#center1 .centerbox .mainCont{
     width: 600px;
     padding: 10px;
}
#center1 .centerbox .mainCont h3{
     line-height: 43px;
     margin-bottom: 0;
     padding: 0;
     vertical-align: middle;
     font-size: 100%;
     font-weight: bold;
     background: url("../img/Tline-scolumn.gif") repeat-x scroll left bottom transparent;
     color: #333333;
}
.mainCont .comment_box  td.backcolor1 {
     background-color: #EEEEEE;
     border: 1px solid #999999;
     color: #2B2B2B;
     font-weight: bold;
     text-align: center;
     word-break: normal;
}
.mainCont .comment_box  td.backcolor2 {
     background-color: #fff;
     border: 1px solid #999999;
     color: #2B2B2B;
     font-weight: normal;
     text-align: center;
     word-break: normal;
}
.mainCont .comment_box  td.backcolor2 div.float_left{text-align:left;}
.mainCont .comment_box  td.backcolor2 div.float_left a{text-decoration: underline;}
.mainCont .comment_box  td.backcolor1,
.mainCont .comment_box  td.backcolor2{text-align:left;}
.mainCont .comment_box td.center{text-align:center !important;}
.mainCont .comment_box td.backcolor2 div.write_comment input[type="submit"],
.mainCont .comment_box td.backcolor2 div.write_comment input[type="button"] {
     height: 25px;
     color: #FFF;
     padding: 0 8px 0 8px;
     font-size: 80%;
     font-size: 0.8rem;
     text-align: center;
     background: url(http://dentouhonpo.com/img/btn-confirm_bg2.gif) repeat-x left top;
     border: none;
     margin: 2px 2px;
}
.mainCont .comment_box td.backcolor2 div.write_comment  input[type="submit"]:hover,
.mainCont .comment_box td.backcolor2 div.write_comment  input[type="button"]:hover {background: url(../img/btn-confirm_bg_on.gif) repeat-x left top;}
div.mainCont input[type="button"],
div.mainCont input[type="submit"]{
     width:150px;
     width:auto\9;
     height:25px;
     color: #FFF;
     padding: 0 8px 0 8px;
     font-size: 0.8rem;
     text-align: center;
     background: url(http://dentouhonpo.com/img/btn-confirm_bg2.gif) repeat-x left top;
     border: none;
     margin: 2px 2px;
}
div.mainCont input[type="button"]:hover,
div.mainCont input[type="submit"]:hover{background: url(../img/btn-confirm_bg_on.gif) repeat-x left top;}
div.cart-section div#contact img[height="1"]{display:none;}
.itemDescFc{
     position:absolute;
     margin-left:5px;
}
.itemThumb-wrap-left{
     width:170px;
     padding-left:10px;
}
.itemThumb-wrap-right{
     width:70%;
     word-break:break-all;
     margin-left:210px;
}
#enter #contents {
     width: auto;
}


/* スマートフォン設定 */
.sp_recomm{
     display: none;
}


/* 追加設定 */

/*商品ページの画像の中央寄せ*/
.defaultLayout img{
     display: block;
     margin: 0 auto;
}