/* IMPORT RESET */

@import"../../frameworks/_scss/_styleguide.scss";
$line: 1px solid $sbc01;
@mixin main($url) {
    background: url($url);
    background-size: cover;
    background-position: 50% 50%;
    article {
        padding: 0;
    }
}

header {
    position: fixed;
    z-index: 2;
    top: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 18px 2%;
    width: 96%;
    h1 {
        float: left;
        img {
            display: block;
        }
    }
    nav {
        ul {
            float: right;
            position: relative;
            li {
                float: left;
                padding: 0 24px;
                margin: 10px 0;
                border-left: 1px solid #000;
                &:first-child {
                    border: none;
                }
                a {
                    text-decoration: none;
                    img {
                        border-bottom: 3px solid #fff;
                        padding: 3px 0;
                    }
                    &:hover {
                        img {
                            border-bottom: 3px solid #b5dedb;
                        }
                    }
                }
                .child {
                    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
                    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
                    background-color: #fff;
                    color: #000;
                    display: none;
                    position: absolute;
                    margin-left: -5px;
                    top: 35px;
                    padding: 0 10px 10px;
                    li {
                        padding: 0 6px;
                        width: 100px;
                        clear: both;
                        border: none;
                        a {
                            font-size: 15px;
                            text-align: center;
                            padding: 5px 0 10px;
                            margin-left: -5px;
                            margin-right: -5px;
                            margin-bottom: -5px;
                            display: block;
                            color: #000;
                            border-bottom: 2px dotted #b5dedb;
                            &:hover {
                                border-bottom: 2px solid #b5dedb;
                            }
                        }
                    }
                }
            }
        }
        span {
            display: block;
            float: right;
            width: 46px;
            height: 46px;
        }
    }
}

.dammy {
    height: 80px;
    width: 100%;
}

.container {
    .catch {
        background: transparent url('https://shopping.geocities.jp/dentouhonpo/corp/img/bg_catch.jpg') left top no-repeat;
        background-size: cover;
        width: 100%;
        min-height: 900px;
        img {
            margin: 8% 0 0 6%;
        }
    }
    .separate {
        height: 157px;
        width: 100%;
        &.fl {
            background: transparent url('https://shopping.geocities.jp/dentouhonpo/corp/img/bg_fl.jpg') left top;
            background-repeat: repeat-x;
        }
        &.jp {
            background: transparent url('https://shopping.geocities.jp/dentouhonpo/corp/img/bg_jp_02.jpg') left top;
            img {
                display: block;
                margin: 0 auto;
                padding: 0;
            }
        }
    }
    .intro {
        background: transparent url('https://shopping.geocities.jp/dentouhonpo/corp/img/bg_intro.jpg') left top no-repeat;
        background-size: cover;
        width: 100%;
        min-height: 900px;
        div {
            width: 1150px;
            margin: 0 auto;
            position: relative;
            img {
                margin: 8% 0 0 6%;
            }
            span {
                background: transparent url('https://shopping.geocities.jp/dentouhonpo/corp/img/intro_title.png') left top no-repeat;
                display: block;
                width: 131px;
                height: 657px;
                position: absolute;
                right: 6%;
                top: 8%;
            }
        }
    }
    .ceo {
        width: 100%;
        position: relative;
        img {
            margin: 6% 0 0 4%;
            position: absolute;
            top: 8%;
            left: 6%;
            &.bg_ceo {
                margin: 0;
                width: 100%;
                display: block;
                position: relative;
                top: 0;
                left: 0;
            }
        }
    }
    .message {
        overflow: hidden;
        margin: 0 0 10px;
        div {
            width: 1100px;
            padding: 0 25px;
            margin: 0 auto;
            p {
                font-size: 16px;
                line-height: 1.75;
                font-family:"メイリオ", Meiryo,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
            }
            img {
                display: block;
                margin: 50px 0 30px;
            }
            span {
                display: block;
                float: right;
            }
        }
    }
    .companyTitle {
        background-color: #000;
        width: 100%;
        height: 100px;
        padding: 50px 0;
        background: transparent url('https://shopping.geocities.jp/dentouhonpo/corp/img/bg_title.jpg') left top;
        img {
            display: block;
            margin: 0 auto;
            &.pc {
                display: block;
            }
            &.sp {
                display: none;
            }
        }
        &.dob {
            overflow: hidden;
            &.pt01 {
                background: transparent url('https://shopping.geocities.jp/dentouhonpo/corp/img/bg_management.jpg') left top no-repeat;
            }
            &.pt02 {
                background: transparent url('https://shopping.geocities.jp/dentouhonpo/corp/img/bg_creative.jpg') left top no-repeat;
            }
            background-size: cover;
            div {
                width: 1150px;
                margin: 0 auto;
                img {
                    /* width: 15%; */
                    margin: 0 0 0 10px;
                }
            }
        }
    }
    .slideArea {
        width: 100%;
        max-width: 1100px;
        margin: 30px auto 0;
        height: 2200px !important;
        .slider {
            position: relative;
            @include sizing(90%);
            .info,
            .image {
                float: left;
            }
            .stfHeader {
                width: 960px;
                margin: 0 65px 50px;
                em {
                    display: block;
                    margin: 40px 0 0;
                    color: #b5dedb;
                    font-size: 34px;
                    text-shadow: 2px 2px 0 #77afab;
                }
            }
            .contents {
                width: 960px;
                margin: 0 65px;
                .column {
                    width: 70%;
                    padding: 0;
                    float: left;
                    line-height: 2;
                    font-size: 14px;
                    em {
                        font-size: 18px;
                        font-weight: bold;
                    }
                    hr {
                        margin: 0 0 15px;
                        border: none;
                        border-bottom: 3px solid #000;
                    }
                    p {
                        margin: 0 0 50px;
                    }
                }
                .schedule {
                    width: 25%;
                    padding: 0 0 0 5%;
                    float: right;
                    font-size: 12px;
                    em {
                        font-size: 18px;
                        line-height: 2;
                        font-weight: bold;
                        text-align: center;
                        display: block;
                        color: #b5dedb;
                        text-shadow: 2px 2px 0 #77afab;
                    }
                    hr {
                        clear: both;
                        display: block;
                        margin: 0 0 15px;
                        border: none;
                        border-bottom: 3px solid #77afab;
                        &.separate {
                            height: auto;
                            margin: 30px 0 0;
                        }
                    }
                    dl {
                        width: 100%;
                        overflow: hidden;
                        dt {
                            clear: both;
                            width: 15%;
                            padding: 0 5% 0 0;
                            float: left;
                            img {
                                display: block;
                                margin: 10px auto;
                            }
                            &.figure {
                                width: 100%;
                                margin: 0;
                                padding: 30px 0 0;
                                img {
                                    width: 100%;
                                }
                            }
                        }
                        dd {
                            width: 80%;
                            padding: 0;
                            float: left;
                            &.figure {
                                width: 100%;
                            }
                        }
                    }
                }
            }
            .info {
                @include sizing(35%);
                padding: 60px 0 60px 60px;
                p {
                    font-size: 16px;
                    margin: 30px 0 0;
                    color: #000;
                }
            }
            .image {
                @include sizing(65%);
            }
        }
        .sr-pager {
            z-index: 2;
            position: absolute;
            width: 100%;
            list-style: none;
            top: 120px;
            li {
                float: left;
                a {
                    cursor: pointer;
                    display: block;
                    padding: 2px;
                    text-indent: -9999px;
                }
            }
            .sr-prev {
                position: absolute;
                left: 0;
                background: url('https://shopping.geocities.jp/dentouhonpo/corp/img/slide_pre.png') no-repeat;
                width: 28px;
                height: 61px;
            }
            .sr-next {
                position: absolute;
                right: 0;
                background: url('https://shopping.geocities.jp/dentouhonpo/corp/img/slide_next.png') no-repeat;
                width: 28px;
                height: 61px;
            }
        }
    }
    .recruit {
        background-size: contain;
        width: 100%;
        min-height: 900px;
        font-size: 12px;
        padding: 70px 0;
        overflow: hidden;
        background: transparent url('https://shopping.geocities.jp/dentouhonpo/corp/img/bg_closing.jpg') left bottom no-repeat;
        div {
            width: 1150px;
            margin: 0 auto;
            position: relative;
            img {
                display: block;
                margin: 90px auto 150px;
            }
        }
        table {
            &.right {
                margin: 0 0 100px 2%;
            }
            &.middle {
                margin: 20px 0 100px 2%;
                clear: both;
                width: 98%;
            }
            &.left {
                margin: 0 2% 100px 0;
            }
            width: 48%;
            float: left;
            border-collapse: collapse;
            border-spacing: 0;
            td,
            th {
                padding: 6px 12px;
                border: 1px solid #dcdcdc;
                &:first-child {
                    width: 100px;
                    text-align: center;
                }
                &.mapcell {
                    padding: 2px;
                    span {
                        /* width: 47%;  */
                        width: 100%;
                        float: left;
                        display: block;
                        &.left {
                            margin: 1% 1% 1% 2%;
                            width: 47%;
                        }
                        &.right {
                            margin: 1% 2% 1% 1%;
                            width: 47%;
                        }
                    }
                    padding: 0;
                    iframe {}
                }
                ul {
                    list-style-type: circle;
                    list-style-position: inside;
                    li {
                        text-align: left;
                    }
                }
            }
            b.head {
                text-align: center;
                font-size: 16px;
                span{
                    text-decoration: underline;
                    color: #f00;
                }
            }
            thead {
                tr {
                    td {
                        text-align: center;
                        font-size: 16px;
                    }
                }
            }
        }
        .recruitFlow {
            clear: both;
            padding: 0;
            font-size: 15px;
            .title {
                display: block;
                margin: 0 auto;
            }
            .flow {
                clear: both;
                margin: 50px auto;
                width: 75%;
                overflow: hidden;
                span {
                    display: block;
                    float: left;
                    &.number {
                        width: 25%;
                    }
                    &.text {
                        width: 75%;
                        height: 80px;
                    }
                }
            }
            div {
                height: auto;
                img {
                    margin: 0;
                    padding: 0;
                    display: block;
                    float: left;
                }
                span {
                    display: block;
                    float: left;
                }
            }
        }
        .recruitForm {
            clear: both;
            margin: 100px 0 0;
            overflow: hidden;
        }
        img {
            &.pc {
                display: block;
            }
            &.sp {
                display: none;
            }
        }
    }
    .company {
        width: 1100px;
        padding: 0 25px;
        margin: 0 auto;
        &.baContents {
            p {
                font-size: 16px;
                line-height: 1.75;
                font-family:"メイリオ", Meiryo,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
            }
            img {
                display: block;
                margin: 60px 0 40px;
                &.area {
                    margin: 60px auto 120px;
                }
            }
        }
        &.dobContents {
            padding: 0 0 70px;
            p {
                font-size: 16px;
                line-height: 1.75;
                font-family:"メイリオ", Meiryo,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

                em{
                    display: block;
                    margin: 15px 0 0;
                    font-size: 20px;
                }
            }
            img {
                display: block;
                margin: 70px 0 20px;
            }
            ol,ul{
                list-style-type: circle;
                list-style-position: inside;
            }
        }
        &.hpContents {
            ul {
                overflow: hidden;
                li {
                    float: left;
                    width: 261px;
                    margin: 0 0 32px 16px;
                    position: relative;
                    &:first-child {
                        margin: 0 0 32px;
                    }
                    &:nth-child(2),
                    &:nth-child(6) {
                        margin: 0 0 32px;
                    }
                    &:first-child {
                        background-color: #f3d0cf;
                        padding: 1.2%;
                        margin: 0 0 20px;
                        width: 97%;
                        -moz-border-radius: 3px 3px 3px 3px;
                        border-radius: 3px 3px 3px 3px;
                        &.first {
                            background-color: #fabab8;
                        }
                        &.second {
                            background-color: #e9c3a4;
                        }
                        &.third {
                            background-color: #b3ddaf;
                        }
                        &.fourth {
                            background-color: #b2daef;
                        }
                        em {
                            font-size: 24px;
                            color: #fff;
                        }
                    }
                    b {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        font-weight: normal;
                        display: block;
                        text-align: center;
                        line-height: 2;
                        color: #fff;
                        font-family:"メイリオ", Meiryo,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                        font-size: 22px;
                        @media only screen and (max-width: 768px) {
                            line-height: 3;
                        }
                    }
                    &.last {
                        clear: both;
                        width: 100%;
                        margin: 0 0 32px;
                        img {
                            &.sp {
                                display: none;
                            }
                        }
                        div {
                            width: 1052px;
                            height: auto;
                        }
                        b{
                            line-height: 3;
                        }
                        @media only screen and (max-width: 768px) {
                            b{
                                position: relative;
                                background-color: #add4de;
                                line-height: 2;
                            }
                        }
                    }
                    img {
                        display: block;
                        height: auto !important;
                        width: 100% !important;
                    }
                    div {
                        width: 219px;
                        height: 290px;
                        padding: 10px 20px 20px;
                        border: 1px solid #b5dedb;
                        border-top: none;
                        background-color: #fff;
                        em {
                            font-size: 18px;
                            margin: 0 0 20px;
                            font-family:"メイリオ", Meiryo,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                        }
                        hr {
                            clear: both;
                            border: none;
                            margin: 10px 0;
                            border-bottom: 1px solid #b5dedb;
                        }
                        p {
                            line-height: 1.75;
                            font-size: 13px;
                            font-family:"メイリオ", Meiryo,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                        }
                    }
                }
            }
        }
    }
    .hpWrapcontents {
        overflow: hidden;
        padding: 70px 0;
        background: transparent url('https://shopping.geocities.jp/dentouhonpo/corp/img/bg_tile.jpg') left top;
        img.title {
            display: block;
            margin: 0 auto 80px;
        }
    }
}

footer {
    padding: 0 0 15px;
    .ftrLine {
        width: 100%;
        height: 50px;
        background-color: #b5dedb;
        margin: 0 0 20px;
        small {
            display: block;
            text-align: center;
            padding: 20px 0;
            font-size: 10px;
            color: #fff;
        }
    }
    nav {
        ul {
            width: 700px;
            margin: 0 auto;
            padding: 0 25px;
            overflow: hidden;
            li {
                float: left;
                padding: 0 24px;
                margin: 10px auto;
                border-left: 1px solid #000;
                &:first-child {
                    border: none;
                }
                a {
                    text-decoration: none;
                    img {
                        border-bottom: 3px solid #fff;
                        padding: 3px 0;
                    }
                    &:hover {
                        img {
                            border-bottom: 3px solid #b5dedb;
                        }
                    }
                }
            }
        }
        span {
            display: block;
            float: right;
            width: 46px;
            height: 46px;
        }
    }
}

//ここからスマートフォン用設定
body {
    font-family:"メイリオ", Meiryo,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    &.sp {
        width: 100%;
    }
}

header {
    &.sp {
        padding: 2%;
        h1 {
            img {
                width: 80%;
                height: auto;
            }
        }
        nav {
            ul {
                float: left;
                li {
                    .child {
                        display: block;
                        -webkit-box-shadow: none;
                        box-shadow: none;
                        position: relative;
                        top: 0;
                    }
                }
            }
        }
    }
}

.dammy {
    &.sp {
        height: 40px;
    }
}

.drawer-hamburger {
    padding: 9px 1em !important;
}

.container {
    &.sp {
        .separate {
            height: 50px;
            &.fl {
                background-size: contain;
            }
            &.jp {
                background-size: 1%;
                img {
                    width: 27%;
                    height: auto;
                }
            }
        }
        .catch {
            min-height: 360px;
            img {
                width: 90%;
                margin: 5% 5% 0;
            }
        }
        .intro {
            min-height: 700px;
            div {
                width: 100%;
                img {
                    padding: 40px 0;
                    margin: 0 auto;
                    display: block;
                    width: 90%;
                }
            }
            &#message01 {
                color: #fff;
                p {
                    width: 90%;
                    margin: 0 auto;
                    font-family:"メイリオ", Meiryo,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                    font-weight: normal;
                    font-size: 12px;
                }
            }
        }
        .company {
            width: 90%;
            margin: 0 auto;
            padding: 0 5% 20%;
            height: auto;
            &.baContents {
                img {
                    width: 100%;
                    height: auto;
                    margin: 30px 0 15px;
                    &.area {
                        display: block;
                        width: 80%;
                        height: auto;
                        margin: 20px auto;
                    }
                }
                p {
                    font-size: 14px;
                }
            }
            &.dobContents {
                p {
                    font-size: 14px;
                }
                img {
                    margin: 40px 0 5px;
                }
            }
            &.hpContents {
                ul {
                    li {
                        width: 100%;
                        margin: 0 0 32px 0;
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }
        }
        #message {
            background: transparent url('https://shopping.geocities.jp/dentouhonpo/corp/img/bg_ceo.jpg') left top no-repeat;
            background-size: 200%;
            background-position: 50% 0;
            height: 220px;
            img {
                height: auto;
                width: 80%;
                top: 0;
                left: 0;
            }
        }
        .message {
            div {
                width: 90%;
                padding: 0 5%;
                img {
                    margin: 20px 0;
                    width: 60%;
                    height: auto;
                }
                p {
                    font-size: 12px;
                }
                span {
                    float: left;
                }
            }
        }
        .companyTitle {
            padding: 30px 0 0px;
            img {
                width: 60%;
                height: auto;
                &.pc {
                    display: none;
                }
                &.sp {
                    display: block;
                }
            }
            &.dob {
                overflow: hidden;
                &.pt01 {
                    background: transparent url('https://shopping.geocities.jp/dentouhonpo/corp/img/bg_creative.jpg') left top no-repeat;
                    background-size: cover;
                    background-position: 50% 0;
                }
                &.pt02 {
                    background: transparent url('https://shopping.geocities.jp/dentouhonpo/corp/img/bg_management.jpg') left top no-repeat;
                    background-size: cover;
                    background-position: 50% 0;
                }
                div{
                    img{
                        @media only screen and (max-width: 768px) {
                            width: 20%;
                        }
                    }
                }
            }
        }
        .hpWrapcontents {
            padding: 0;
            .company {
                &.hpContents {
                    ul {
                        li {
                            width: 100%;
                            margin: 0 0 32px 0;
                            &:first-child {
                                margin: 32px 0 15px;
                            }
                            &.last {
                                img {
                                    display: none;
                                    &.sp {
                                        display: block;
                                    }
                                }
                                div {
                                    width: 90%;
                                }
                            }
                            div {
                                width: 90%;
                                padding: 5%;
                                height: auto;
                            }
                        }
                    }
                }
            }
        }
        .slideArea {
            width: 100%;
            margin: 0 auto;
            height: 3750px !important;
            .sr-pager {
                top: 160px;
                .sr-prev {
                    background: url('https://shopping.geocities.jp/dentouhonpo/corp/img/rec_sp_slide_pre.png') no-repeat;
                    left: 10px;
                }
                .sr-next {
                    background: url('https://shopping.geocities.jp/dentouhonpo/corp/img/rec_sp_slide_next.png') no-repeat;
                    right: 10px;
                }
            }
            .slider {
                .stfHeader {
                    width: auto;
                    margin: 0;
                    img {
                        width: 100%;
                    }
                    em {
                        width: 90%;
                        margin: 10px 5% 0;
                        font-size: 24px;
                        min-height: 3em;
                    }
                }
                .contents {
                    width: 100%;
                    margin: 15px 0 0;
                    .column {
                        width: 90%;
                        padding: 0 5%;
                    }
                    .schedule {
                        width: 90%;
                        padding: 0 5%;
                    }
                }
            }
        }
        .recruit {
            div {
                width: 100%;
                p.rectxt {
                    width: 90%;
                    text-align: center;
                    font-family:"メイリオ", Meiryo,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                    color: #fff;
                    margin: 0 auto;
                }
            }
            table {
                width: 96%;
                margin: 0 2% 40px;
            }
            .recruitFlow {
                div {
                    img {
                        height: 24px;
                        width: auto;
                        margin: 0 auto;
                    }
                }
                .flow {
                    width: 96%;
                    margin: 0 auto 50px;
                    span {
                        &.number {
                            width: 40%;
                        }
                        &.text {
                            width: 60%;
                        }
                    }
                }
                .title {
                    width: 100%;
                    height: auto;
                }
            }
            .recruitForm {
                margin: 0;
            }
            #Form {
                max-width: 1100px;
                width: 100%;
                height: 2350px;
                @media only screen and (max-width: 768px) {
                    height: 2040px;
                }
            }
            img {
                &.pc {
                    display: none;
                }
                &.sp {
                    display: block;
                    width: 90%;
                    margin: 30px auto 0;
                }
            }
        }
    }
}

footer {
    &.sp {
        padding: 0;
        .ftrLine {
            margin: 0;
            small {
                padding: 18px 0;
                color: #000;
            }
        }
    }
}
