@charset "UTF-8";
/* CSS Document */

@import "../../_scss/style-public.scss";
body {
    .main {
        line-height: 0;
        .mainWrap {
            &.mainWrap-sp {
                width: 100%;
            }
            &.mainWrap-december {
                width: 100%;
            }
            .mainWrap_container {
                width: 990px;
                margin: 0 auto;
                &.mainWrap_container-sp {
                    width: 100%;
                    height: 600px;
                    position: relative;
                    margin: 0 auto;
                    .containerSp_title {
                        margin: 0 auto;
                        padding: 0;
                        width: 990px;
                        overflow: hidden;
                    }
                }
                &.spWrap {
                    overflow: hidden;
                    margin: 0 auto 100px;
                }
                .spContents_title {
                    h3 {
                        display: block;
                        margin: 40px auto;
                        @include fsize(14, 2.5);
                        &.campaign_title {
                            margin: 40px auto 10px;
                            @include fsize(28, 1.5);
                            font-weight: normal;
                        }
                    }
                }
                .spContents {
                    overflow: hidden;
                    border-bottom: 1px dashed #dfdfdf;
                    border-top: 1px dashed $sbc01;
                    ul {
                        margin: 0 auto;
                        li {
                            float: left;
                            width: 43.9%;
                            width: 43%\9;
                            margin: 8% 2%;
                            border: none;
                            position: relative;
                            b {
                                display: block;
                                position: relative;
                                left: -40px;
                                padding: 0 0 10px;
                                margin: 0 0 20px;
                                @include fsize(34, 1.5);
                            }
                            span {
                                @include fsize(18, 1.0);
                                &.price {
                                    @include fsize(10, 1.0);
                                }
                            }
                            a {
                                @include anm(0.2s);
                                text-decoration: none;
                                &.ipLink {
                                    color: $bc;
                                    clear: both;
                                    width: 120px;
                                    padding: 6px 10px;
                                    border: 1px solid $bc;
                                    text-align: center;
                                    display: block;
                                    margin: 90px auto 60px;
                                    background: url('../img/bg_lp.gif');
                                    -webkit-border-radius: 4px 4px 4px 4px;
                                    border-radius: 4px 4px 4px 4px;
                                    &:hover {
                                        background: none;
                                        background-color: $bc;
                                        border: 1px solid $mc;
                                        color: $mc;
                                        -webkit-border-radius: 4px 4px 4px 4px;
                                        border-radius: 4px 4px 4px 4px;
                                    }
                                }
                            }
                            img {
                                max-width: 100%;
                                &.subImages {
                                    width: 40%;
                                    margin: 0 5%;
                                    display: block;
                                    float: left;
                                }
                            }
                            &.spContents_info {
                                background: url('../img/sp_bg_lp.gif');
                                border-top: 2px solid $sbc01;
                                height: 540px;
                                padding: 3% 2%;
                                display: block;
                            }
                            p {
                                height: 4em;
                                display: block;
                                margin: 10px 0 0;
                                @include fsize(14, 1.5);
                            }
                        }
                    }
                }
                /* tabcontents brandContents */
                
                &.mainWrap_container-brandContents {
                    margin: 0 auto;
                    font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                    .mainWrap_container-brandContents_title {
                        float: left;
                        display: block;
                        font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                    }
                    .mainWrap_container-brandContents_update {
                        display: inline-block;
                        float: right;
                        color: $sbc01;
                        margin: 10px 0 0;
                        @include fsize(12, 1.5);
                        .mainWrap_container_moreLink {
                            color: $acc;
                        }
                    }
                    hr {
                        display: block;
                        border: none;
                        margin: 10px 0;
                        clear: both;
                        border-bottom: 1px solid #dfdfdf;
                    }
                    #tabwrap {
                        overflow: hidden;
                        background-color: $bc;
                        width: 100%;
                        min-height: 300px;
                        margin: 0 auto 30px;
                        ul {
                            li {
                                width: 100%;
                                a {
                                    color: $acc;
                                    @include fsize(12, 1.5);
                                    float: left;
                                    display: block;
                                    text-decoration: none;
                                    text-align: center;
                                    border: 1px solid #dfdfdf;
                                    border-left: none;
                                    padding: 6px 0;
                                    &:hover {
                                        color: $bc;
                                        background-color: $mc;
                                    }
                                }
                                &:first-child a {
                                    border-left: 1px solid #dfdfdf;
                                }
                                &:last-child a {}
                                &.current a {
                                    color: $bc;
                                    background-color: $mc;
                                    border-bottom: none;
                                    &:hover {
                                        color: $bc;
                                    }
                                }
                            }
                        }
                    }
                    .skill {
                        .kutani {
                            li {
                                a {
                                    width: 8.22%;
                                }
                            }
                        }
                        .ymnk {
                            li {
                                a {
                                    width: 9.87%;
                                }
                            }
                        }
                    }
                    .making {
                        .kutani {
                            li {
                                a {
                                    width: 9.87%;
                                }
                            }
                        }
                        .ymnk {
                            li {
                                a {
                                    width: 10.99%;
                                }
                            }
                        }
                    }
                    #content {
                        &.kutani, &.ymnk {
                            height: 500px;
                            border-bottom: 1px dashed #dfdfdf;
                            margin: 0 0 40px;
                        }
                        & > div {
                            width: 100%;
                            clear: both;
                            padding: 20px 0;
                            line-height: 19px;
                            color: #666;
                            display: none;
                            a.otherLinks {
                                @include fsize(12, 1.5);
                                text-align: center;
                                width: 200px;
                                padding: 4px 6px;
                                clear: both;
                                display: block;
                                margin: 0 auto;
                                background-color: $mc;
                                color: $bc;
                                text-decoration: none;
                            }
                            .title {
                                width: 30%;
                                padding: 8% 5%;
                                float: left;
                                h3 {
                                    margin: 0 0 5px;
                                    @include fsize(30, 1.5);
                                }
                                p {
                                    @include fsize(13, 2.0);
                                }
                            }
                            .images {
                                width: 58%;
                                padding: 1%;
                                float: left;
                                img {
                                    width: 100%;
                                }
                            }
                        }
                        .span_4 {
                            float: left;
                            width: 23.0%;
                            margin: 0 0 0 2%;
                        }
                        .current {
                            display: block;
                        }
                        #home.first {
                            display: block;
                        }
                        a {
                            position: relative;
                            display: block;
                            margin: 20px 0 0;
                            text-align: right;
                            color: $acc;
                            text-decoration: none;
                            &:hover {
                                text-decoration: underline;
                            }
                            img {
                                max-width: 100%;
                                margin: 0 0 2px;
                            }
                            p {
                                margin: 0 0 20px 0;
                                @include fsize(11, 1.5);
                                .price {
                                    display: block;
                                    text-align: right;
                                    @include fsize(10, 1.5);
                                }
                            }
                            &.mainWrap_container_moreLink {
                                color: $bc;
                                @include fsize(12, 1.5);
                                background-color: $mc;
                                font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                                padding: 4px 6px;
                                width: 160px;
                                text-align: center;
                                margin: 20px auto 0;
                                border: 1px solid $mc;
                                @include anm(0.2s);
                                &:hover {
                                    background-color: $bc;
                                    border: 1px solid $mc;
                                    color: $mc;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
                /* brand rank */
                /* 今月のおすすめ */
                
                &.mainWrap_container-monthly {
                    background-size: cover;
                    &.december {
                        background: url('../../event/img/december_bg.jpg') no-repeat center top;
                    }
                    &.february {
                        background: url('../../event/img/february_bg.jpg') no-repeat center top;
                    }
                    &.march {
                        background: url('../../event/img/march_bg.jpg') no-repeat center top;
                    }
                    &.april {
                        background: url('../../event/img/april_bg.jpg') no-repeat center top;
                    }
                    &.may {
                        background: url('../../event/img/may_bg.jpg') no-repeat center top;
                    }
                    &.june {
                        background: url('../../event/img/june_bg.jpg') no-repeat center top;
                    }
                    width: 100%;
                    height: 500px;
                    top: -10px;
                    position: relative;
                    margin: 0 auto;
                    .containerMonthly_title {
                        margin: 0 auto;
                        padding: 110px 0 0;
                        width: 990px;
                        h2 {
                            display: block;
                            margin: 0 auto;
                            text-indent: -9999px;
                            background: url('../../event/img/monthbnr_jan.png') no-repeat;
                            width: 731px;
                            height: 261px;
                            &.feb {
                                background: url('../../event/img/monthbnr_feb.png') no-repeat;
                            }
                            &.mar {
                                background: url('../../event/img/monthbnr_mar.png') no-repeat;
                            }
                            &.apl {
                                background: url('../../event/img/monthbnr_apl.png') no-repeat;
                            }
                            &.may {
                                background: url('../../event/img/monthbnr_may.png') no-repeat;
                            }
                            &.june {
                                background: url('../../event/img/monthbnr_june.png') no-repeat;
                            }
                        }
                    }
                }
                &.monthlyWrap {
                    overflow: hidden;
                    margin: 40px auto 100px;
                }
                .monthlyContents_title {
                    h3 {
                        display: block;
                        margin: 40px auto;
                        text-indent: -9999px;
                        &.dec01 {
                            background: url('../../event/img/dec_title02.jpg') no-repeat;
                            width: 600px;
                            height: 73px;
                        }
                        &.dec02 {
                            background: url('../../event/img/dec_title02.jpg') no-repeat;
                            width: 600px;
                            height: 73px;
                        }
                        &.jan01 {
                            background: url('../../event/img/jan_title02.jpg') no-repeat;
                            width: 600px;
                            height: 73px;
                        }
                        &.jan02 {
                            background: url('../../event/img/jan_title03.jpg') no-repeat;
                            width: 600px;
                            height: 73px;
                        }
                        &.feb01 {
                            background: url('../../event/img/feb_title01.jpg') no-repeat;
                            width: 600px;
                            height: 73px;
                        }
                        &.feb02 {
                            background: url('../../event/img/feb_title02.jpg') no-repeat;
                            width: 600px;
                            height: 73px;
                        }
                        &.feb03 {
                            background: url('../../event/img/feb_title03.jpg') no-repeat;
                            width: 600px;
                            height: 73px;
                        }
                        &.mar01 {
                            background: url('../../event/img/mar_title01.jpg') no-repeat;
                            width: 600px;
                            height: 73px;
                        }
                        &.mar02 {
                            background: url('../../event/img/mar_title02.jpg') no-repeat;
                            width: 600px;
                            height: 73px;
                        }
                        &.mar03 {
                            background: url('../../event/img/mar_title03.jpg') no-repeat;
                            width: 600px;
                            height: 73px;
                        }
                        &.apl01 {
                            background: url('../../event/img/apl_title01.jpg') no-repeat;
                            width: 600px;
                            height: 73px;
                        }
                        &.apl02 {
                            background: url('../../event/img/apl_title02.jpg') no-repeat;
                            width: 600px;
                            height: 73px;
                        }
                        &.apl03 {
                            background: url('../../event/img/apl_title03.jpg') no-repeat;
                            width: 600px;
                            height: 73px;
                        }
                        &.may01 {
                            background: url('../../event/img/may_title01.jpg') no-repeat;
                            width: 600px;
                            height: 73px;
                        }
                        &.may02 {
                            background: url('../../event/img/may_title02.jpg') no-repeat;
                            width: 600px;
                            height: 73px;
                        }
                        &.may03 {
                            background: url('../../event/img/may_title03.jpg') no-repeat;
                            width: 600px;
                            height: 73px;
                        }
                    }
                    &.june01 {
                        background: url('../../event/img/june_title01.jpg') no-repeat;
                        width: 600px;
                        height: 73px;
                    }
                    &.june02 {
                        background: url('../../event/img/june_title02.jpg') no-repeat;
                        width: 600px;
                        height: 73px;
                    }
                    &.june03 {
                        background: url('../../event/img/june_title03.jpg') no-repeat;
                        width: 600px;
                        height: 73px;
                    }
                    &.campaign_title {
                        background: url('../../event/img/campaign_title.jpg') no-repeat;
                        width: 600px;
                        height: 73px;
                    }
                }
            }
            .monthlyContents {
                overflow: hidden;
                ul {
                    margin: 0 auto;
                    border-top: 2px dotted $sbc01;
                    li {
                        float: left;
                        width: 43.9%;
                        width: 43%\9;
                        padding: 3%;
                        border: none;
                        border-bottom: 1px dashed $mc;
                        b {
                            display: block;
                            padding: 0 0 10px;
                            margin: 0 0 20px;
                            @include fsize(20, 1.5);
                            border-bottom: 1px dotted $sbc01;
                        }
                        a {
                            @include anm(0.2s);
                            text-decoration: none;
                            &.ipLink {
                                color: $acc;
                                @include fsize(13, 1.8);
                                width: 140px;
                                padding: 6px 10px;
                                border: 1px solid $mc;
                                text-align: center;
                                display: block;
                                margin: 20px auto;
                                background-color: $bc;
                                -webkit-border-radius: 4px 4px 4px 4px;
                                border-radius: 4px 4px 4px 4px;
                                &:hover {
                                    background: none;
                                    background-color: $mc;
                                    border: 1px solid $mc;
                                    color: $bc;
                                    -webkit-border-radius: 4px 4px 4px 4px;
                                    border-radius: 4px 4px 4px 4px;
                                }
                            }
                        }
                        img {
                            max-width: 100%;
                        }
                        &.monthlyContents_lists-border {
                            border-right: 1px dotted $sbc01;
                        }
                        p {
                            height: 4em;
                            display: block;
                            margin: 10px 0 0;
                            @include fsize(14, 1.5);
                        }
                    }
                }
            }
            /* monthly */
        }
        /* end mainWrap_container */
    }
    /* end mainWrap */
}