@charset "UTF-8";
/* CSS Document */

@import "../../_scss/style-public.scss";
body {
    .main {
        line-height: 0;
        .mainWrap {
            &.mainWrap-sp {
                width: 100%;
            }
            .mainWrap_container {
                width: 990px;
                margin: 0 auto;
                &.mainWrap_container-sp {
                    width: 100%;
                    height: 600px;
                    position: relative;
                    margin: 0 auto;
                    .containerSp_title {
                        margin: 0 auto;
                        padding: 0;
                        width: 990px;
                        overflow: hidden;
                    }
                    /* 九谷焼 */
                    &.kutani01 {
                        background: url('https://image.rakuten.co.jp/dentouhonpo/cabinet/category/b_kutani_bg01.jpg') no-repeat center top;
                        background-size: cover;
                        h2 {
                            background: url('../img/b_kutani_title01.png') no-repeat;
                            width: 120px;
                            height: 260px;
                            display: block;
                            text-indent: -9999px;
                            position: absolute;
                            left: 46%;
                            top: 160px;
                        }
                    }
                    &.kutani02 {
                        background: url('https://image.rakuten.co.jp/dentouhonpo/cabinet/category/b_kutani_bg02.jpg') no-repeat center top;
                        background-size: cover;
                        h2 {
                            background: url('../img/b_kutani_title02.png') no-repeat;
                            width: 486px;
                            height: 201px;
                            display: block;
                            position: absolute;
                            top: 70px;
                            left: 70px;
                            text-indent: -9999px;
                        }
                    }
                    &.kutani03 {
                        background: url('https://image.rakuten.co.jp/dentouhonpo/cabinet/category/b_kutani_bg03.jpg') no-repeat center top;
                        background-size: cover;
                        h2 {
                            background: url('../img/b_kutani_title03.png') no-repeat;
                            width: 475px;
                            height: 170px;
                            display: block;
                            position: absolute;
                            top: 70px;
                            right: 70px;
                            text-indent: -9999px;
                        }
                    }
                    &.kutani04 {
                        background: url('https://image.rakuten.co.jp/dentouhonpo/cabinet/category/b_kutani_bg04.jpg') no-repeat center top;
                        background-size: cover;
                        h2 {
                            background: url('../img/b_kutani_title04.png') no-repeat;
                            width: 543px;
                            height: 253px;
                            display: block;
                            position: absolute;
                            top: 70px;
                            left: 70px;
                            text-indent: -9999px;
                        }
                    }
                    &.kutani05 {
                        background: url('https://image.rakuten.co.jp/dentouhonpo/cabinet/category/b_kutani_bg05.jpg') no-repeat center top;
                        background-size: cover;
                        h2 {
                            background: url('../img/b_kutani_title05.png') no-repeat;
                            width: 481px;
                            height: 201px;
                            display: block;
                            position: absolute;
                            top: 70px;
                            right: 70px;
                            text-indent: -9999px;
                        }
                    }

                    /* 山中漆器 */
                    &.ymnk01 {
                        background: url('https://image.rakuten.co.jp/dentouhonpo/cabinet/category/b_ymnk_bg01.jpg') no-repeat center top;
                        background-size: cover;
                        h2 {
                            background: url('../img/b_ymnk_title01.png') no-repeat;
                            width: 209px;
                            height: 214px;
                            display: block;
                            text-indent: -9999px;
                            position: absolute;
                            left: 42%;
                            top: 160px;
                        }
                    }
                    &.ymnk02 {
                        background: url('https://image.rakuten.co.jp/dentouhonpo/cabinet/category/b_ymnk_bg02.jpg') no-repeat center top;
                        background-size: cover;
                        h2 {
                            background: url('../img/b_ymnk_title02.png') no-repeat;
                            width: 485px;
                            height: 291px;
                            display: block;
                            position: absolute;
                            top: 70px;
                            left: 70px;
                            text-indent: -9999px;
                        }
                    }
                    &.ymnk03 {
                        background: url('https://image.rakuten.co.jp/dentouhonpo/cabinet/category/b_ymnk_bg03.jpg') no-repeat center top;
                        background-size: cover;
                        h2 {
                            background: url('../img/b_ymnk_title03.png') no-repeat;
                            width: 486px;
                            height: 201px;
                            display: block;
                            position: absolute;
                            top: 70px;
                            right: 70px;
                            text-indent: -9999px;
                        }
                    }
                    &.ymnk04 {
                        background: url('https://image.rakuten.co.jp/dentouhonpo/cabinet/category/b_ymnk_bg04.jpg') no-repeat center top;
                        background-size: cover;
                        h2 {
                            background: url('../img/b_ymnk_title04.png') no-repeat;
                            width: 474px;
                            height: 171px;
                            display: block;
                            position: absolute;
                            top: 70px;
                            left: 70px;
                            text-indent: -9999px;
                        }
                    }
                    &.ymnk05 {
                        background: url('https://image.rakuten.co.jp/dentouhonpo/cabinet/category/b_ymnk_bg05.jpg') no-repeat center top;
                        background-size: cover;
                        h2 {
                            background: url('../img/b_ymnk_title05.png') no-repeat;
                            width: 481px;
                            height: 201px;
                            display: block;
                            position: absolute;
                            top: 70px;
                            right: 70px;
                            text-indent: -9999px;
                        }
                    }
                }

                /* 商品詳細紹介用 */
                &.spWrap {
                    overflow: hidden;
                    margin: 0 auto 100px;
                }
                .spContents_title {
                    h3 {
                        display: block;
                        text-align: center;
                        margin: 20px auto;
                        @include fsize(30, 2.0);
                        &.campaign_title {
                            margin: 40px auto 10px;
                            @include fsize(28, 1.5);
                            font-weight: normal;
                        }
                    }
                    p{
                        text-align: center;
                        margin: 0 0 20px;
                        @include fsize(13,1.5);
                    }
                }
                .spContents {
                    overflow: hidden;
                    border-bottom: 1px dashed #dfdfdf;
                    border-top: 1px dashed $sbc01;
                    ul {
                        margin: 0 auto;
                        li {
                            float: left;
                            width: 43.9%;
                            width: 43%\9;
                            margin: 8% 2%;
                            border: none;
                            position: relative;
                            b {
                                display: block;
                                position: relative;
                                left: -40px;
                                padding: 0 0 10px;
                                margin: 0 0 20px;
                                font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                                @include fsize(34, 1.5);
                            }
                            span {
                                @include fsize(18, 1.0);
                                font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                                &.price {
                                    @include fsize(10, 1.0);
                                    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                                }
                            }
                            a {
                                @include anm(0.2s);
                                text-decoration: none;
                                @include fsize(12,1.5);
                                &.ipLink {
                                    color: $bc;
                                    clear: both;
                                    width: 120px;
                                    padding: 6px 10px;
                                    border: 1px solid $bc;
                                    text-align: center;
                                    display: block;
                                    margin: 90px auto 60px;
                                    background-color: $mc;
                                    -webkit-border-radius: 4px 4px 4px 4px;
                                    border-radius: 4px 4px 4px 4px;
                                    &:hover {
                                        background: none;
                                        background-color: $bc;
                                        border: 1px solid $mc;
                                        color: $mc;
                                        -webkit-border-radius: 4px 4px 4px 4px;
                                        border-radius: 4px 4px 4px 4px;
                                    }
                                }
                            }
                            img {
                                max-width: 100%;
                                &.subImages {
                                    width: 40%;
                                    margin: 0 5%;
                                    display: block;
                                    float: left;
                                }
                            }
                            &.spContents_info {
                                background: url('../img/sp_bg_lp.gif');
                                border-top: 2px solid $sbc01;
                                height: 540px;
                                padding: 3% 2%;
                                display: block;
                            }
                            p {
                                height: 4em;
                                display: block;
                                margin: 10px 0 0;
                                @include fsize(14, 1.5);
                            }
                        }
                    }
                }
            }
            /* end mainWrap_container */
        }
        /* end mainWrap */
    }
}
