@import "../../../styleguide/_scss/styleguide-default.scss";

body {
    margin: 0 2px;
}

body.delivery{
    padding: 0;
    margin: 0;
    div{
        background: url("https://shopping.c.yimg.jp/lib/dentouhonpo/ip_del_bnr.gif") no-repeat;
        width: 290px;
        height: 100px;
        position: relative;
        a{
            width: 100%;
            height: 100%;
            display: block;
            text-decoration: none;
            .delDate{
                position: absolute;
                top: 36px;
                left: 8px;
                color: $mc;
                font-weight: bold;
                @include fsize(18,1.5);
            }
            .dateUpdate{
                display: block;
                padding: 4px 0 0 8px;
                color: $bc;
                @include fsize(14,1.5);
            }
        }
    }
}


#cat_body {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    width: 300px;
    font-size: 10px;
    margin: 0;
    padding: 0;
    .iH {
        position: relative;
        width: 300px;
        height: 270px;
        margin: 10px auto;
        .iHL {
            list-style: none;
            float: left;
            margin: 0;
            padding: 0;
            img {
                width: 70px;
                height: 70px;
            }
            a {
                display: block;
                width: 70px;
                height: 100px;
                outline: 1px solid #efefef;
                padding: 15px;
                color: #301e21;
                transition:all 0.2s ease-in-out;
                -o-transition:all 0.2s ease-in-out;
                -webkit-transition:all 0.2s ease-in-out;
                -moz-transition:all 0.2s ease-in-out;
                &.cat_link {
                    width: 70px;
                    height: 100px;
                    display: block;
                    text-decoration: none;
                    background: url(https://image.rakuten.co.jp/dentouhonpo/cabinet/relation_link.jpg) no-repeat;
                    background-position: 13px 13px;
                    &:hover {
                        background: url(https://image.rakuten.co.jp/dentouhonpo/cabinet/relation_link_hv.jpg) no-repeat;
                        background-position: 13px 13px;
                    }
                }
            }
        }
        ul {
            width: 300px;
            li {
                margin: 0;
                float: left;
                img {
                    border: none;
                    &.mI {
                        width: 270px;
                        height: 270px;
                    }
                }
                a {
                    display: block;
                    text-decoration: none;
                    .mI{
                    }
                    &:hover {
                        position: static;
                        text-decoration: underline;
                        .mI {
                            opacity:1;
                            filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
                            display: block;
                            position: absolute;
                            top: 270px;
                            left: 15px;
                            outline: 4px solid #900;
                        }
                    }
                    .mI {
                        display: none;
                    }
                }
            }
        }
    } 
    p#cap {
        clear: both;
        text-align: right;
        line-height: normal;
        font-size: 10px;
        margin-right: 28px;
    }
    .cat_prop {
        width: 290px;
        margin: 0 5px;
        clear: both;
        display: block;
    }
    .cat_li {
        list-style-type: none;
        font-size: 12px;
        margin: 0;
        padding: 5px 15px;
        li {
            margin: 10px 0;
            a {
                color: #301e21;
                text-decoration: underline;
                &:hover {
                    color: #e84925;
                    text-decoration: underline;
                }
            }
        }
    }
}
