.category_kanazawa {
    width: 100%;
    max-width: 990px;
    overflow: hidden;
    margin: 100px auto;
    padding: 0;
    list-style-type: none;
    background-image: url(https://www.rakuten.ne.jp/gold/dentouhonpo/common/ip/img/kan_bg.jpg);
    padding-bottom: 40px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 40px;
    .title {
        width: 90%;
        display: block;
        text-align: left;
        margin-bottom: 3%;
        margin-right: auto;
        margin-left: auto;
    }
    .ctg {
        width: 90%;
        display: block;
        text-align: left;
        margin-right: auto;
        margin-left: auto;
        .space_right {
            margin-right: 2.45%;
            &.under {
                margin-right: 2.45%;
                img {
                    width: 100%;
                }
            }
            img {
                width: 100%;
            }
        }
        .under {
            margin-bottom: 3%;
        }
        img {
            width: 100%;
        }
    }
    .k_off {
        position: relative;
        margin: 0;
        padding: 0;
        overflow: hidden;
        width: 31.7%;   
        float: left;
        &:hover .k_on {
            color: #ffffff;
            font-family: 'Open Sans', sans-serif;
            top: 0;
            left: 0;
            a {
                color: #ffffff;
                font-family: 'Open Sans', sans-serif;
                text-decoration: none;
                &:hover {
                    color: #ffffff;
                    font-family:  'Open Sans', sans-serif;
                    text-decoration: none;
                }
            }
        }
    }
    .k_on {
        width: 31.7%;   
        position: absolute;
        top: -100%;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 74%;
        background: rgba(57,3,3,.6);
        -webkit-transition: .3s;
        transition: .3s;
    }
    .k_off p {
        color: #fff;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        margin-top: 68px;
    }
}