@import "../../../styleguide/_scss/default.scss";

body {
    margin: 0 2px;
}

body.delivery{
    padding: 0;
    margin: 0;
    div{
        @include rad(3,3,3,3);
        overflow: hidden;
        color: $tc;
        @include sizing(100%);
        max-width: 100%;
        background-color: $bc;
        @media only screen and (max-width: 768px) {
            background-color: #fff ;
        }
        @media only screen and (max-width: 233px) {
            width: 100%;
            padding: 8px;
            border: 2px solid #dfdfdf;
            background-color: $bc;
        }
        position: relative;
        /* border-top: 3px solid #dfdfdf; */
        p{
            font-size: 12px;
            padding: 2px 6px 4px;
            color: $tc;
        }
        b{
            font-size: 14px;
            margin: 0 0 6px;
            display: block;
            text-indent: 1.5em;
            position: relative;
            border-bottom: 1px dotted $tc;
            @media only screen and (max-width: 233px) {
                border: none;
            }
            &:before{
                position: absolute;
                top: 2px;
                left: 0;
                content: '';
                display: block;
                background:url('https://den-tou.com/img/contents/info_icon_time.png') left top no-repeat;
                width: 17px;
                height: 17px;
            }
        }
        .contents{
            @include sizing(60%);
            height: 100%;
            display: block;
            float: left;
            color: $tc;
            text-decoration: none;
            font-size: 12px;
            span{
                color: #900;
                font-weight: bold;
                margin: 0 6px;
                font-size: 16px;
                &:hover{
                    text-decoration: underline;
                }
            }
            @media only screen and (max-width: 233px) {
                span{
                    font-size: 14px;
                }
            }
        }
        .delLinks{
            margin: 6px 0 0;
            @include sizing(40%);
            text-decoration: none;
            display: block;
            float: right;
            text-align: right;
            color: #000;
            font-size: 12px;
            padding: 0 4px 5px;
            /* color: #04c;
            text-decoration: underline; */
            &:hover{
                text-decoration: underline;
            }
        }
        hr{
            display: none;
            border: none;
            width: 100%;
            margin: 5px 0;
            border-bottom: 1px dotted $mc;
        }
        @media only screen and (max-width: 768px) {
            .contents{
                @include sizing(100%);
                span{
                    display: inline-block;
                    clear: both;
                    margin: 0 6px 0 0;
                }
            }

            .delLinks{
                display: none;
                @include sizing(100%);
            }
        }
        small{
            font-size: 11px;
            padding: 0;
        }
        @media only screen and (max-width: 768px) {
            small{
                display: none;
                a{
                    display: inline-block;
                }
            }
        }
    }
}
