/* IMPORT RESET */
@import"../../../frameworks/_scss/responsive.gs.24col.scss";
@import "../../../styleguide/_scss/styleguide.scss";
$line : 1px solid $sbc01;

@mixin main($url) {
    background: url($url);
    background-size:cover;
    background-position: 50% 50%;
    article{
        padding: 0;
    }
    
}

.container{
    overflow: hidden;
    max-width: 990px;
}

.ev_iframe{
    width: 100%;
    max-width: 990px;
    height: 300px;
    overflow: hidden;
    border: none;
}

/* tabcontents rankContents */
#tabwrap { 
    overflow: hidden; 
    background-color: $bc;
    width: 100%;
    min-height: 300px;
    margin: 0 auto 30px;
    border: 1px solid #e8e8e8;
}
#tabs li {
    list-style: none;
    a{
        float: left; 
        display: block;
        padding: 6px;
        color: $tc;
        width: 50%;
        text-decoration: none;
        text-align: center;
        border-right: 1px solid #e8e8e8;
        border-bottom: 1px solid #e8e8e8;;
        &:hover{
            background: $mc;
            color: $bc;
            border:none;
        }
    }
    &:first-child a{
        border-left: 0;
    }

    &:last-child a{
        border-right: 0;
    }
    &.current a{
        color: $tc; 
        border-bottom: none;
        &:hover{
            color: $bc;
        }
    }
    &:nth-child(5){
        clear: both;
    }
}

#content{
    & >div {
        clear: both;
        padding: 20px;
        line-height: 19px;
        color: #666;
        display: none;
    }
    ul{
        li{
            @include sizing(18.4%);
        }
    }
    .current{
        display: block;
    }
    #home.first{
        display: block;
    }
    a{
        position: relative;
        color: $tc;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
        .rank01,.rank02,.rank03,.rank04,.rank05,.rank06{
            display: block;
            width: 30px;
            height: 32px;
            margin: 0 auto;
        }
        .rank01{
            background:url('../img/top_rank01.png') no-repeat;
        }
        .rank02{
            background:url('../img/top_rank02.png') no-repeat;
        }
        .rank03{
            background:url('../img/top_rank03.png') no-repeat;
        }
        .rank04{
            background:url('../img/top_rank04.png') no-repeat;
        }
        .rank05{
            background:url('../img/top_rank05.png') no-repeat;
        }
        .rank06{
            background:url('../img/top_rank06.png') no-repeat;
        }
        img{
            max-width: 100%;
            margin: 0 0 5px;
        }

        p{
            margin: 0 0 20px 0;
            text-align-last: left;
            @include fsize(11,1.5);
            .price{
                font-weight: bold;
                @include fsize(10,1.5);
            }
        }
    }
}






/* --------------------------------スマートフォン-------------------------------- */





/* タブレット端末、スマートフォン用設定 */
@mixin addquery($point) {
    @media screen and (max-width: $point) {
        @content;
    }
}


@include addquery(768px) {
    .span_8,.span_4{
        overflow: hidden;

    }
    .ev_iframe{
        width: 100%;
        height: 760px;
        overflow: hidden;
        border: none;
    }


    /* tabcontents rankContents */
    .rankContents{
        padding: 0;
        article{
            margin: 0 0 30px;
        }
    }
    #tabs li {
        a{
            width: 50%;
            height: 3.2rem;
        }
    }
    #content{
        & >div {
            padding: 10px;
        }
        ul{
            li{
                &.col{
                    width: 50%;
                    padding: 3% 3% 0;
                }
                &.hide{
                    display: none;
                }
            }
        }
    }


    .menu{
        font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
        @include sizing(100%);
        p{
            width: 100%;
            background-color: $mc;
            color: $bc;
            text-align: center;
            @include fsize(16,2.5);
        }
        ul {
            display: none;
            li{
                @include fsize(12,1.5);
                width: 100%;
                border-bottom: 1px solid $sbc01;
                display: block;
                cursor: pointer;
                padding: 10px 12px;
                ul{
                    li{
                        @include fsize(12,1.5);
                        border-bottom: 1px dashed $sbc01;
                        &:last-child{
                            border: none;
                        }
                    }
                }
                a{
                    display: block;
                    width: 100%;
                    text-decoration: none;
                    color: $tc;
                }
            }
        }
        span {
            width: 100%;
            background-color: $bc;
            border-bottom: 1px solid $mc;
            display: block;
            cursor: pointer;
            padding: 10px 8px;
            &:first-child{
                border-top: 1px solid $mc;
            }
            &:after{
                content: '>';
                color: $mc;
                position: absolute;
                right: 10px;
            }
            &.current:after{
                content: '>';
                color: $mc;
                position: absolute;
                right: 10px;
                -moz-transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                transform: rotate(90deg);
            }
        }
        li {
            cursor: pointer;
        }
    }

    .ftr{
        display: none;
    }

    /* credit */
    .credit{
        margin: 10px 0 0;
        padding: 0 10px 10px;
        ul{
            li{
                float: left;
                margin: 0 0 6px;
            }
        }
        small{
            display: block;
            margin: 10px 0 0;
            text-align: center;
        }
    }
}






/* 480px以上の時 */
@media only screen and (min-width: 480px) {

}




/* drawermenu */
#build-menu-page {
  left: 0;
  position: relative;
}

#build-menu {
    background-color: #fff;
    visibility: visible;
    z-index: 0;
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
    display: none;
    width: 64%;
    padding: 0;
    position: static;
    z-index: 0;
    top: 0;
    height: 100%;
    overflow-y: auto;
    left: 0;
    ul{
        li{
            border-bottom: 1px solid #dfdfdf;
            padding: 8px 10px;
            a{
                display: block;
                width: 100%;
                color: $tc;
                text-decoration: none;
            }
            &:first-child{
                background-color: $bgc;
                border-bottom: 1px solid $sbc01;
                border-top:  1px solid $sbc01;
                a{
                    text-align: center;
                    font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
                    @include fsize(14,1.5);
                    font-weight: bold;
                }
            }
        }
    }
}