/* IMPORT RESET */
@import"../../../styleguide/_scss/styleguide.scss";
@import "../../../frameworks/_scss/responsive.gs.24col.scss";
$line : 1px solid $sbc01;

@mixin main($url) {
    background: url($url);
    background-size:cover;
    background-position: 50% 50%;
    article{
        padding: 0;
    }
    
}


body {
    background-color: $bgc;
}

.container{
    overflow: hidden;
}

span.title{
    height: 30px;
    display: block;
    overflow: hidden;
    max-width: 990px;
    margin: 0 auto;
    img{
        height: 25px;
    }
}

.rcm_iframe{
    display: block;
    margin: 0 auto ;
    max-width: 990px;
    width: 100%;
    height: 280px;
    overflow: hidden;
    border: none;
}


/* 人気商品 */
.popularItem{
    max-width: 990px;
    margin: 0 auto 30px;
    overflow: hidden;
    ul{
        li{
            @include sizing(18%);
            margin: 2% 0 2% 2.5%;
            float: left;
            a{
                display: block;
                color: $tc;
                text-decoration: none;
                img{
                    max-width: 100%;
                }
                p{
                    margin: 5px 0 0;
                    @include fsize(11,1.5);
                    span{
                        @include fsize(10,1.5);
                    }
                }
                &:hover{
                    text-decoration: underline;
                }
            }
            &:first-child{
                margin: 2% 0 2% 0;
            }
        }
    }
}

/* 季節のイベント */
.seasonEvent{
    max-width: 990px;
    padding: 2%;
    border: 1px solid $sbc01;
    margin: 0 auto;
    overflow: hidden;
    article{
        &.title{
            height: 40px;
        }
        &.contents{
            margin: 0;
        }
    }
    ul{
        li{
            @include sizing(31.333%);
            float: left;
            a{
                display: block;
                color: $tc;
                text-decoration: none;
                img{
                    max-width: 100%;
                }
                p{
                    margin: 5px 0 0;
                    @include fsize(11,1.5);
                    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                    font-weight: bold;
                    span{
                        @include fsize(11,1.5);
                        font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
                    }
                }
                &:hover{
                    text-decoration: underline;
                }
            }
            &:nth-child(3n-1){
                margin: 0 3% 0;
            }
        }
    }
}





/* --------------------------------スマートフォン-------------------------------- */







/* タブレット端末、スマートフォン用設定 */
@mixin addquery($point) {
    @media screen and (max-width: $point) {
        @content;
    }
}


@include addquery(768px) {
    .span_8,.span_4{
        overflow: hidden;

    }
    .seasonEvent{
        @include sizing(95%);
        margin: 0 auto;
        padding: 6% 6% 3%;
        ul{
            li{
                @include sizing(100%);
                &:nth-child(3n-1){
                    margin: 0 0 20px;
                }
                margin: 0 0 20px;
            }
        }
    }
}


























