@import "../../../frameworks/_scss/default.scss";
@charset "UTF-8";
/* CSS Document */

/* wrapContents */
.recomm{
    width: 100%;
    background-color: $bc;
    margin: 0 auto;
    padding: 0 0 30px;
    font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;

    i{
        width: 990px;
        display: block;
        margin: 0 auto 0;
        @include fsize(14,2);
        font-style: normal;
    }
    .history{
        width: 990px;
        margin: 0 auto;
        hr.checkLine{
            width: 990px;
            margin: 0 auto;
            border: none;
            border-bottom: 1px solid $bc;
        }   
    }
    h1{
        display: block;
        font-weight: normal;
        margin: 0 auto;
        padding: 20px 0 0;
        text-align: center;
        @include fsize(28,1.5);
        /* IE9以下対策 */
        font-size: 20px\9;
        font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
    }
    .jcarousel-skin-ie7,.jcarousel-skin-ie8{
        width: 920px;
        margin: 0 auto;
        a:link {
            text-decoration: none;
            color:#000;
            &:hover {
                text-decoration: underline;
                color:#900;
            }
            &:visited {
                text-decoration:none;
                color:#000;
            }
        }
        img {
            border: 0;
            width: 80px;
        }
        .txt01 {
            text-align:left;
            text-decoration: none;
            @include fsize(10,1.1);
            padding: 0;
            margin:4px 0 0;
            width:80px;
            height: 1.4rem;
            height: 23px;
            overflow: hidden;
        }
        .txt02 {
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            padding: 38px 7px;
        }
        .jcarousel-container {
            // border: 1px solid $bc;
        }
        .jcarousel-direction-rtl {
            direction: rtl;
        }
        .jcarousel-container-horizontal {
            height: 140px;
            padding: 0px 0px;
        }
        .jcarousel-clip {
            overflow: hidden;
            padding: 6px 10px;
        }
        .jcarousel-clip-horizontal {
            width: 820px;
            height: auto;
            padding: 10px 40px;
        }
        .jcarousel-item {
            width: 100px;
            height: 130px;
            border-right: 1px dashed #F5F5F5;
        }
        .jcarousel-item:hover,.jcarousel-item:focus {
            border-color: #F5F5F5;
        }
        .jcarousel-item-horizontal {
            margin-top: 10px;
            margin-left: 0;
            margin-right: 1px;
        }
        .jcarousel-direction-rtl .jcarousel-item-horizontal {
            margin-left: 7px;
            margin-right: 0;
        }

        .jcarousel-next-horizontal {
            position: absolute;
            top: 60px;
            right: -34px;
            width: 24px;
            height: 155px;
            cursor: pointer;
            background: transparent url('https://www.rakuten.ne.jp/gold/dentouhonpo/common/interior/img/ftr_arrow_right.png') no-repeat 0 0;
        }
        .jcarousel-direction-rtl .jcarousel-next-horizontal {
            left: 0px;
            right: auto;
        }
        .jcarousel-next-horizontal:hover,
        .jcarousel-next-horizontal:focus {
            background-position: 0px 0;
        }
        .jcarousel-next-horizontal:active {
            background-position: 0px 0;
        }
        .jcarousel-next-disabled-horizontal,
        .jcarousel-next-disabled-horizontal:hover,
        .jcarousel-next-disabled-horizontal:focus,
        .jcarousel-next-disabled-horizontal:active {
            cursor: default;
            background-position: 0px 0;
        }
        .jcarousel-prev-horizontal {
            position: absolute;
            top: 60px;
            left: -25px;
            width: 20px;
            height: 155px;
            cursor: pointer;
            background: transparent url('https://www.rakuten.ne.jp/gold/dentouhonpo/common/interior/img/ftr_arrow_left.png') no-repeat 0 0;
        }
        .jcarousel-direction-rtl .jcarousel-prev-horizontal {
            left: auto;
            right: 0px;
        }
        .jcarousel-prev-horizontal:hover,
        .jcarousel-prev-horizontal:focus {
            background-position: 0px 0;
        }
        .jcarousel-prev-horizontal:active {
            background-position: 0px 0;
        }
        .jcarousel-prev-disabled-horizontal,
        .jcarousel-prev-disabled-horizontal:hover,
        .jcarousel-prev-disabled-horizontal:focus,
        .jcarousel-prev-disabled-horizontal:active {
            cursor: default;
            background-position: 0px 0;
        }
        .jcarousel-item-placeholder {
        }
    }

    //タブ切り替え
    .main{
        padding: 0 0 40px;
        #slideshow{
            margin: 0px auto 0px;
        }
    }

    p.catch{
        display: block;
        width: 350px;
        font-size: 220%;
        line-height: 130%;
        text-align: center;
        margin: 0 auto 20px;
        font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
        border-top: 1px dashed $bc;
        border-bottom: 1px dashed $bc;
        padding: 10px 0 5px;
        span{
            font-size: 50%;
        }
    }

    /* 法人用タブメニュー */
    .comp div div ul.tabbernav li{
        a{
            border: none;
            border-bottom: 1px solid $tc;
            color: $acc;
            background: $acc;
            text-decoration: none;
            text-align: center;
            font-size: 110%;
            -webkit-border-radius: 2px 2px 0 0;
            border-radius: 2px 2px 0 0;
            -webkit-box-shadow:inset 0 -2px 8px 0 rgba(0,0,0,0.2);
            box-shadow:inset 0 -2px 8px 0 rgba(0,0,0,0.2);
            &:link{
                color: $bc;
            }
            &:visited{
                color: $bc;
            }
            &:hover{
                color: $acc;
                background: $bc;
                -webkit-box-shadow:none;
                box-shadow:none;
            }
        }
        &.tabberactive a{
            color: $mc;
            background-color: $bc;
            border-bottom: 1px solid #fff;
            -webkit-box-shadow:none;
            box-shadow:none;
            border: 1px solid $tc;
            border-bottom: none;
            &:hover{
                color: $mc;
                background: white;
                border-bottom: 1px solid white;
            }
        }
    }
    .comp div div .tabbertab{
        div{
            border: 1px solid $acc;
        }
    }
    ul.tabbernav
    {
        text-indent: 0; 
        overflow: hidden;
        width: 980px;
        margin:20px auto 0;
        border-bottom: 1px solid #ccc;
        padding: 0;
        font: normal 12px Verdana, sans-serif;
        li{
            list-style: none;
            margin: 0;
            display: inline;
            position: relative;
            a{
                font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
                position: relative;
                top: 1px;
                display: block;
                float: left;
                width: 101px;
                padding: 6px 0;
                margin-left:5px;
                border: none;
                background: $bc;
                color: $tc;
                text-decoration: none;
                text-align: center;
                font-size: 110%;
                &:link{
                    color: $tc;
                }
                &:visited{
                    color: $tc;
                }
                &:hover{
                    color: $tc;
                    background: $bc;
                }
            }
        }
        li:nth-child(odd){
            a{
                background: $bc;
                &:hover{
                    color: $tc;
                    background: $bc;
                }
            }
        }

        li.tabberactive a{
            color: $mc;
            background-color: $bc;
            border-bottom: 1px solid #fff;
            -webkit-box-shadow:none;
            box-shadow:none;
            border: 1px solid #ccc;
            border-bottom: none;
            &:hover{
                color: $mc;
                background: white;
            }
        }
    }
    .tabbertabhide {
        display:none;
    }
    .tabbertab{
        h2 {
            display:none;
        }

        div{        
            font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
            width: 940px;
            height: 340px;
            border: 1px solid $bc;
            padding: 10px 20px 0;
            margin: 0 auto ;
            background-color: #fff;
            clear: both;
            ul{
                text-indent: 0;
                overflow: hidden;
                margin: 0;
                li{
                    overflow: hidden;
                    width: 163px;
                    margin-left: 30px;
                    float: left;
                    display: block;
                    font-size: 90%;

                    a{
                        text-decoration: none;
                        color: #000;
                        &:hover{
                            color: $acc;
                            letter-spacing: 0em;
                            text-decoration: underline;
                        }
                    }
                    p:first-child{
                        text-align: center;
                        img{
                            width: 29px;
                            height: 23px;
                        }
                    }
                    p{
                        line-height: 140%;
                        span{
                            font-size: 70%;
                        }
                    }
                    img{
                        width: 100%;
                        margin: 5px 0;
                    }
                }
                li:first-child{
                    margin-left: 0;
                }
            }
            p.links{
                font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
                @include fsize(16,1.4);
                display: block;
                margin: 25px auto 0;
                clear: both;
                text-align: center;
                width: 360px;
                height: 30px;
                a{
                    @include anm(0.4s);
                    border: 1px solid #ccc;
                    -webkit-border-radius: 2px;
                    -moz-border-radius: 2px;
                    border-radius: 2px;
                    height: 30px;
                    padding: 10px 16px 0;
                    display: block;
                    color: $acc;
                    text-decoration: none;
                    &:hover{
                        color: $bc;
                        background-color: $mc;
                        border: 1px solid $mc;
                    }
                }
            }
        }
    }
}