@import "../../../../shopserve/_scss/ipStyle-default.scss";
@import "../../../../shopserve/frameworks/_scss/responsive.gs.24col.scss";

body{
    background-color: $bcw;

    .mainContents{
        width: 1100px;
        margin: 0 auto;
        .mainArea01{
            width: 840px;
            float: left;
            .adbnr{
                width: 100%;
                display: block;
                margin: 0 0 10px;
                img{
                    display: block;
                    width: 100%;
                }
            }
        }
    }

    /* wrapContents */
    .recomm{
        margin: 0 auto;
        font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;

        i{
            display: block;
            margin: 0 auto 0;
            @include fsize(14,2);
            font-style: normal;
        }
        hr.checkLine{
            margin: 0;
            border: none;
            border-bottom: 1px solid $lc;
        }
        h1{
            display: block;
            font-weight: normal;
            margin: 0 auto;
            padding: 20px 0 0;
            text-align: center;
            @include fsize(28,1.5);
            font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
        }
        .jcarousel-skin-ie7,.jcarousel-skin-ie8{
            width: 920px;
            margin: 0 auto;
            a:link {
                text-decoration: none;
                color:#000;
                &:hover {
                    text-decoration: underline;
                    color:#900;
                }
                &:visited {
                    text-decoration:none;
                    color:#000;
                }
            }
            img {
                border: 0;
                width: 80px;
            }
            .txt01 {
                text-align:left;
                text-decoration: none;
                @include fsize(10,1.1);
                padding: 0;
                margin:4px 0 0;
                width:80px;
                height: 1.4rem;
                height: 23px;
                overflow: hidden;
            }
            .txt02 {
                text-align: center;
                text-decoration: none;
                font-size: 16px;
                padding: 38px 7px;
            }
            .jcarousel-container {
            // border: 1px solid $lc;
        }
        .jcarousel-direction-rtl {
            direction: rtl;
        }
        .jcarousel-container-horizontal {
            height: 140px;
            padding: 0px 0px;
        }
        .jcarousel-clip {
            overflow: hidden;
            padding: 6px 10px;
        }
        .jcarousel-clip-horizontal {
            width: 820px;
            height: auto;
            padding: 10px 40px;
        }
        .jcarousel-item {
            width: 100px;
            height: 130px;
            border-right: 1px dashed #F5F5F5;
        }
        .jcarousel-item:hover,.jcarousel-item:focus {
            border-color: #F5F5F5;
        }
        .jcarousel-item-horizontal {
            margin-top: 10px;
            margin-left: 0;
            margin-right: 1px;
        }
        .jcarousel-direction-rtl .jcarousel-item-horizontal {
            margin-left: 7px;
            margin-right: 0;
        }

        .jcarousel-next-horizontal {
            position: absolute;
            top: 60px;
            right: -34px;
            width: 24px;
            height: 155px;
            cursor: pointer;
            background: transparent url('../img/ftr_arrow_right.png') no-repeat 0 0;
        }
        .jcarousel-direction-rtl .jcarousel-next-horizontal {
            left: 0px;
            right: auto;
        }
        .jcarousel-next-horizontal:hover,
        .jcarousel-next-horizontal:focus {
            background-position: 0px 0;
        }
        .jcarousel-next-horizontal:active {
            background-position: 0px 0;
        }
        .jcarousel-next-disabled-horizontal,
        .jcarousel-next-disabled-horizontal:hover,
        .jcarousel-next-disabled-horizontal:focus,
        .jcarousel-next-disabled-horizontal:active {
            cursor: default;
            background-position: 0px 0;
        }
        .jcarousel-prev-horizontal {
            position: absolute;
            top: 60px;
            left: -25px;
            width: 20px;
            height: 155px;
            cursor: pointer;
            background: transparent url('../img/ftr_arrow_left.png') no-repeat 0 0;
        }
        .jcarousel-direction-rtl .jcarousel-prev-horizontal {
            left: auto;
            right: 0px;
        }
        .jcarousel-prev-horizontal:hover,
        .jcarousel-prev-horizontal:focus {
            background-position: 0px 0;
        }
        .jcarousel-prev-horizontal:active {
            background-position: 0px 0;
        }
        .jcarousel-prev-disabled-horizontal,
        .jcarousel-prev-disabled-horizontal:hover,
        .jcarousel-prev-disabled-horizontal:focus,
        .jcarousel-prev-disabled-horizontal:active {
            cursor: default;
            background-position: 0px 0;
        }
        .jcarousel-item-placeholder {
        }
    }

    //タブ切り替え
    .main{
        #slideshow{
            margin: 0px auto 0px;
        }
    }

    p.catch{
        display: block;
        width: 350px;
        font-size: 220%;
        line-height: 130%;
        text-align: center;
        margin: 0 auto 20px;
        font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
        border-top: 1px dashed $lc;
        border-bottom: 1px dashed $lc;
        padding: 10px 0 5px;
        span{
            font-size: 50%;
        }
    }

    ul.tabbernav{
        text-indent: 0;
        width: 800px;
        margin:0 auto;
        padding: 0;
        font: normal 12px Verdana, sans-serif;
        li{
            list-style: none;
            margin: 0;
            display: inline;
            position: relative;
            a{
                font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
                position: relative;
                top: 1px;
                display: block;
                float: left;
                width: 92px;
                padding: 6px 0;
                margin-left:5px;
                border: 1px solid $lc;
                border-bottom: none;
                background: $bc;
                text-decoration: none;
                text-align: center;
                font-size: 110%;
                -webkit-border-radius: 2px 2px 0 0;
                border-radius: 2px 2px 0 0;
                &:link{
                    color: $tc;
                }
                &:visited{
                    color: $tc;
                }
                &:hover{
                    color: $mc;
                    background: #fff;
                    -webkit-box-shadow:none;
                    box-shadow:none;
                }
            }
        }
        li:nth-child(odd){
            a{
                background: $bc;
                &:hover{
                    color: $mc;
                    background: #fff;

                    -webkit-box-shadow:none;
                    box-shadow:none;
                }
            }
        }

        li.tabberactive a{
            color: $mc;
            background-color: #fff;
            border-bottom: 1px solid #fff;
            -webkit-box-shadow:none;
            box-shadow:none;
            &:hover{
                color: $mc;
                background: white;
                border-bottom: 1px solid white;
            }
        }
    }
    .tabbertabhide {
        display:none;
    }
    .tabbertab{
        h2 {
            display:none;
        }

        div{        
            font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
            width: 760px;
            height: 340px;
            border: 1px solid $lc;
            padding: 10px 20px 0;
            margin: 0 auto ;
            background-color: #fff;
            clear: both;
            ul{
                text-indent: 0;
                overflow: hidden;
                margin: 0;
                li{
                    overflow: hidden;
                    width: 233px;
                    margin-left: 30px;
                    float: left;
                    display: block;
                    font-size: 90%;

                    a{
                        text-decoration: none;
                        color: #000;
                        &:hover{
                            color: $lc;
                            letter-spacing: 0em;
                        }
                    }
                    p:first-child{
                        text-align: center;
                        img{
                            width: 29px;
                            height: 23px;
                        }
                    }
                    p{
                        line-height: 140%;
                        span{
                            font-size: 70%;
                        }
                    }
                    img{
                        width: 100%;
                        margin: 5px 0 0;
                    }
                }
                li:first-child{
                    margin-left: 0;
                }
            }
            p.links{
                font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                font-size: 13px;
                font-weight: bold;
                display: block;
                margin: 25px auto 0;
                clear: both;
                text-align: center;
                width: 360px;
                height: 30px;
                a{

                    border: 1px solid $lc;
                    -webkit-border-radius: 2px;
                    -moz-border-radius: 2px;
                    border-radius: 2px;
                    height: 30px;
                    padding: 10px 16px 0;
                    display: block;
                    color: $tc;
                    text-decoration: none;
                    &:hover{
                        color: $mc;
                        border: 1px dashed $mc;
                    }
                }
            }
        }
    }





}




}


@media only screen and (max-width: 768px) {
    body{
        hr{
            display: none;
        }
        .mainContents{
            width: 100%;
            .mainArea01{
                width: 100%;
                img{
                    vertical-align: bottom;
                    border-bottom: 1px solid #cccccc;
                }
            }
        }
        .header_catch{
            background-color: #eee;
            padding: 4px;
            font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
            font-size: 10px;
            text-align: center;
            a{
                text-decoration: none;
                display: block;
                width: 100%;
                font-weight: bold;
                color: #000;
                margin: 4px 0;
                font-size: 13px; 
                span{
                    color: #e84925;
                }
            }
        }
        .footer_catch{
            background-color: #e84925;
            padding: 8px;
            font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
            font-size: 13px;
            text-align: center;
            a{
                text-decoration: none;
                display: block;
                width: 100%;
                font-weight: bold;
                color: #fff;
            }
        }
        .recomm{
            @include sizing(100%);
            .main{
                margin: 0 0 30px;
            }
            h2{
                font-size: 14px;
                padding: 4px 10px;
                margin: 0 0 10px;
                font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                font-weight: bold;
                border: none;
                border-bottom: 1px solid #999;
                border-top: 1px solid #999;
                border-right: 1px solid #999;
                border-left: 6px solid #999;
            }
            ul.tabbernav{
                text-indent: 0;
                width: 100%;
                li{
                    a{
                        width: 23.3%;
                        height: 32px;
                        overflow: hidden;
                        @include rad(0,0,0,0);
                    }
                }
            }
            .tabbertab{
                div{
                    height: auto;
                    padding: 10px 10px 30px;
                    @include sizing(100%);
                    ul{
                        li{
                            &:nth-child(1),&:nth-child(2){
                                width: 48.5%;
                            }
                            width: 32%;
                            margin: 0;

                            &:nth-child(2){
                                margin: 0 0 0 3%;
                            }
                            &:nth-child(3){
                                clear: both;
                            }
                            &:nth-child(4),&:nth-child(5){
                                margin: 0 0 0 2%;
                            }
                        }
                    }
                    p.links{
                        width: 100%;
                        a{
                            padding: 10px 16px 28px;
                        }
                    }
                }
            }
        }
    }
}



