/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$ftr_arrow_left-x: 0px;
$ftr_arrow_left-y: 0px;
$ftr_arrow_left-offset-x: 0px;
$ftr_arrow_left-offset-y: 0px;
$ftr_arrow_left-width: 16px;
$ftr_arrow_left-height: 16px;
$ftr_arrow_left-total-width: 42px;
$ftr_arrow_left-total-height: 16px;
$ftr_arrow_left-image: '../img/sprites/spritesheet.png';
$ftr_arrow_left: 0px 0px 0px 0px 16px 16px 42px 16px '../img/sprites/spritesheet.png';
$ftr_arrow_right-x: 26px;
$ftr_arrow_right-y: 0px;
$ftr_arrow_right-offset-x: -26px;
$ftr_arrow_right-offset-y: 0px;
$ftr_arrow_right-width: 16px;
$ftr_arrow_right-height: 16px;
$ftr_arrow_right-total-width: 42px;
$ftr_arrow_right-total-height: 16px;
$ftr_arrow_right-image: '../img/sprites/spritesheet.png';
$ftr_arrow_right: 26px 0px -26px 0px 16px 16px 42px 16px '../img/sprites/spritesheet.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
