/* ベースカラー */
$bc : #ffffff;
/* メインカラー　黄丹 */
$mc : #e84925;
/* サブカラー01 鳥の子色 */
$sbc01 : #cebfbb;
/* サブカラー02 瓶覗色 */
$sbc02 : #b4c4d7;
/* サブカラー03 蒸栗色 */
$sbc03 : #c0b293;
/* アクセントカラー　黒鳶 */
$acc : #301e21;

$mc02 : #f66241;
$tbc : #f4f0e6;
$qbc : #d7e4f3;

/* ボックス指定 */
@mixin sizing($width) {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    /* IE7対策 */
    *behavior: url(/js/boxsizing.htc); 
    width: $width;
}

/* 透明度指定 */
@mixin alpha($value) {
    filter: alpha(opacity=$value);
    -moz-opacity:$value / 100;
    opacity:$value / 100;
}

/* 余白設定 */
@mixin padd($pt,$pr,$pb,$pl) {
  padding: $pt+px $pr+px $pb+px $pl+px;
  padding: ($pt/16)+rem ($pr/16)+rem ($pb/16)+rem ($pl/16)+rem;
}

@mixin marg($pt,$pr,$pb,$pl) {
  margin: $pt+px $pr+px $pb+px $pl+px;
  margin: ($pt/16)+rem ($pr/16)+rem ($pb/16)+rem ($pl/16)+rem;
}

/* アニメーション指定 */
@mixin anm($time) {
    -webkit-transition: $time;
    transition: $time;
}

/* 角丸指定 */
@mixin rad($lt,$rt,$lb,$rb) {
    -moz-border-radius: $lt+px $rt+px $lb+px $rb+px;
    border-radius: $lt+px $rt+px $lb+px $rb+px;
}

/* フォントの相対指定 */
@mixin fsize($s,$l) {
    font-size: $s + px;
    /* IE8以下対策 */
    /* *font-size: ($s * 10) * 2 + px; */
    font-size: ($s/16) + rem;

    line-height: $l;
}



/* 独自リセットcss */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
    margin:0;padding:0;line-height:1.25;
}
html{
    color:#000;background:#FFF;
}
h1,h2,h3,h4,h5,h6{
    font-weight:bold;
    font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
}
h1{
    @include fsize(24,1.5);
}
h2{
    @include fsize(21.6,1.5);
}
h3{
    @include fsize(19.2,1.5);
}
h4{
    @include fsize(16.8,1.5);
}
h5{
    @include fsize(14.4,1.5);
}
h6{
    @include fsize(12,1.5);
}


input,textarea,select{
    font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%;
}
img{
    vertical-align: bottom;
}
address,caption,cite,code,dfn,em,strong,th,var{
    font-style:normal;font-weight:normal;
}
ol,ul{
    list-style:none;
}
caption,th{
    text-align:left;
}
q:before,q:after{
    content:'';
}
abbr,acronym{
    border:0;font-variant:normal;
}
sup{
    vertical-align:text-top;
}
sub{
    vertical-align:text-bottom;
}





/* スタイルガイド */
body{
    width: 100%;
    /* 書式の一括指定 */
    font: 16px/1.5 "メイリオ", Meiryo,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    color: $acc;
    word-wrap:break-word;
    -webkit-text-size-adjust: 100%;
    /* アクセント用テキスト */
    /* 回りこみ解除clearfix用クラス */
    .cf{
        /* IE6/7対策 */
        zoom:1;
        &:before, &:after{
            content:"";
            display: table;
        }
        &:after{
            clear: both;
        }
    }
    /* リンクスタイルの変更 */
    .ancNone{
        a{
            text-decoration: none;
            color: $acc;
            &:visited{
                color: $acc;
            }
            &:link{
                color: $acc;
            }
            &:hover{
                text-decoration: underline;
            }
        }

    }
}
