/* IMPORT RESET */
@import"../../../rakuten/frameworks/_scss/_styleguide-genre.scss";
@import"../../../rakuten/frameworks/_scss/responsivegs12col.scss";
@import "../../../rakuten/_scss/sprite-leftnav.scss";
$line : 1px solid $sbc01;

@mixin main($url) {
    background: url($url);
    background-size:cover;
    background-position: 50% 50%;
    article{
        padding: 0;
    }
    
}


article {
    height: auto;
    text-align: left;
    /* background: $bc; */
    padding: 0;
    a{
        color: $acc;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
        &:visited{
            color: #04c;
        }
        &:link{
            color: #04c;
        }
        &:active{
            color: #04c;
        }
    }
    &.span_12{
        position: relative;
        height: 200px;
    }
}

/* original stylesheet */
#otherMaincontent{
    width: 800px;
    margin: 0 0 0 30px;
    float: left;
    h2{
        display: block;
        font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
        font-weight: bold;
        @include fsize(2.0);
        @include sizing(80%);
        margin: 0 auto;
        padding: 0;
        text-align: center;
        color: $bc;
        position: relative;
    }


    em {
        font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
        font-weight: bold;
        @include fsize(2.0);
        text-align: center;
        margin: 1rem auto;
        margin: 10px auto;
        padding: 0 0 0.5rem 0;
        padding: 0 0 5px 0;
        display: block;
        width: 78%;
        border-bottom: 1px dotted $mc;
    }
    h3 {
        padding: 0;
        margin: 0;
        clear: both;
        display: block;
    }
    /* PC用設定 */
    .container {
        max-width: 800px;
        padding: 0 0 50px;
        background-color: $bc;
        h3 {
            line-height: 1.1;
        }
        .catchBanner {
            height: 200px;
            width: 100%;
            margin: 3.6rem 0 0 0;
            margin: 60px 0 0 0;
            &:first-child {
                margin: 0;
            }
            h2{
                padding: 0;
                width: 100%;
                img{
                    width: 100%;
                }
            }
        }

        #mainBanner{
            height: auto;
            article{
                height: auto;
            }
        }
        .w{
            h1,h2{
                color: $bc;
                border-color: $bc;
            }
        }

        .b{
            h1,h2{
                color: $acc;
                border-color: $acc;
            }
        }





        .introDuction,.howto,.attention,.question {
            padding: 15px;
            overflow: hidden;
            article{
                &.contents{
                    padding: 2% 0 0;
                    font-size: 16px;
                    ul{
                        width: 95%;
                        margin: 0 auto;
                        font-size: 15px;
                        list-style-type: circle;
                        list-style-position: inside;            
                        li{
                        }
                    }
                    img{
                        clear: both;
                    }
                    div{
                        &.sample{
                            margin: 10px 0;
                        }
                        &.short{
                            width: 38%;
                            padding: 1%;
                            float: left;
                            margin: 0 0 30px;
                        }
                        &.long{
                            width: 58%;
                            padding: 1%;
                            float: left;
                            margin: 0 0 30px;
                            img{
                                width: 100%;
                            }
                        }
                        .otherLinks{
                            margin: 0 auto;
                            display: block;
                            width: 223px;
                            -webkit-border-radius: 10px;
                            -moz-border-radius: 10px;
                            border-radius: 10px;
                            background-color: #803a3a;
                            a{
                                padding: 15px 0;
                                display: block;
                                width: 100%;
                                height: auto;
                                font-family: "Hiragino Kaku Gothic ProN";
                                font-size: 16px;
                                color: #fff;
                                text-align: center;
                                font-weight: bold;
                                &:hover{
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
                &.span_12 {
                    width: 100%;
                    height: auto;
                    em{
                        @include fsize(1.5);
                        display: block;
                        text-align-last: left;
                        margin: 0 0 20px;
                        border: none;
                    }
                    p {
                        text-align: left;
                        margin: 0 auto;
                        display: block;
                        width: 95%;
                    }
                    img{
                        display: block;
                        &.cap{
                            margin: 20px auto;
                        }
                    }
                }
            }
        }
        .description{
            &.short_01{
                width: 82%;
                padding: 2% 9% 0;
            }
            &.short_02{
                width: 90%;
                padding: 2% 5% 0;
            }
            .span_12,.span_6,.span_8,.span_5,.span_7,.span_4{
                font-size: 15px;
                ol{
                    li{
                        font-size: 15px;
                        margin: 0 0 10px;
                        display: block;
                        overflow: hidden;
                        ul{
                            width: 90%;
                            margin: 0 auto;
                            overflow: hidden;
                            li{

                            }
                        }
                        div{
                            width: 48%;
                            padding: 0 1%;
                            float: left;
                            &.short{
                                width: 38%;
                                padding: 1%;
                            }
                            &.long{
                                width: 58%;
                                padding: 1%;
                                img{
                                    width: 100%;
                                }
                            }
                        }
                        span{
                            &.adress{
                                font-weight: bold;
                                padding: 4% 2%;
                                display: block;
                            }
                        }
                        em{
                            font-family: "Hiragino Mincho Pro";
                            font-size: 22px;
                            color: #803a3a;
                            border: none;
                            text-align-last: left;
                            margin: 10px 0 0;
                            padding: 0;
                            width: 100%;
                            clear: both;
                        }
                    }
                }
                img{
                    width: auto;
                    display: block;
                    margin: 0 auto;
                }
                ul{
                    &.attention{
                        font-size: 18px;
                        li{
                            padding: 0 0 0 1em;
                            text-indent: -2em;
                            width: 90%;
                            margin: 0 auto 14px;
                            list-style-position: inside;
                            list-style-image: url('https://den-tou.com/info/img/attention_list.png');
                            p{
                                line-height: 1.75;
                                b{
                                    font-weight: normal;
                                    padding: 0 0 3px;
                                    border-bottom: 3px solid #d8ff09;
                                }
                            }
                        }
                    }
                }
            }
            div{
                &.qa{
                    width: 90%;
                    margin: 0 auto;
                    b{
                        border-bottom: 1px solid #000;
                        padding: 0 0 20px;
                        margin: 0 0 20px;
                        display: block;
                    }
                }
                article{
                    ol{
                        li{
                            & > div{
                                &.pc{
                                    display: block;
                                }
                                &.sp{
                                    display: none;
                                }
                            }
                        }
                    }
                    .cap{
                        &.pc{
                            display: block;
                        }
                        &.sp{
                            display: none;
                        }
                    }
                }
            }
        }
        .moreLink,.parentLink{
            margin: 0;
            overflow: hidden;
            article{
                height: auto;
                div{
                    width: 30%;
                    text-align: center;
                    margin: 2% auto 0;
                    a{
                        @include fsize(1.1);
                        width: 100%;
                        height: 100%;
                        padding: 10px;
                        display: block;
                        background-color: $sbc03;
                        color: $bc;
                        @include rad(3,3,3,3);
                        @include anm(0.2s);
                        span{
                            @include anm(0.2s);
                        }
                        &:hover{
                            background-color: $mc;
                            text-decoration: none;
                            span{
                                padding: 0 0 0 10px;
                            }
                        }
                    }
                }
            }
        }
        .moreLink{
            border-bottom: 1px solid $sbc01;
            padding:0 0 20px 0;
        }
        .parentLink{

        }
    /* moreLink-fin */
}
/* container */

}
@mixin addquery($point) {
    @media screen and (max-width: $point) {
        @content;
    }
}

/* 楽天カテゴリページ用 */

@include addquery(801px) {
    @media only screen and (min-width: 799px) {
        #categoryMenu{
            display: none;
        }
        header{
            display: none;
        }
        footer{
            display: none;
        }
    }
}













/* タブレット端末、スマートフォン用設定 */
@include addquery(768px) {
    #otherMaincontent{
        width: 100%;
        margin: 0;
        .mean-container{
            .mean-bar {
                display: block;
            }
        }
        /* 480px以上の時 */
        @media only screen and (min-width: 480px) {
            h2, h3, h4 {
                @include fsize(1.4);
                display: block;
                line-height: 1.1;
            }
        }
        h2, h3, h4 {
            @include fsize(1.0);
            margin-bottom: 1.2rem;
            display: block;
            line-height: 1.1;
        }
        h3 {
            padding:0;
            margin: 0;
        }
        .shopName {
            @include fsize(0.8);
            font-weight: bold;
            margin-bottom: 1.2rem;
            display: block;
        }
        header {
            background-color: $bc;
            color: $bc;
            height: auto;
            iframe {
                display: none;
            }
            .wf .fs1 {
                font-size: 24px;
                border: 1px solid $sbc01;
                border-right: none;
                height: 43px;
                padding: 0;
                margin: 0 auto;
                color: $acc;
            }
            .nav {
                @include sizing(100%);
                display: block;
                height: auto;
                overflow: hidden;
                a {
                    text-decoration: none;
                    color: $acc;
                }
                .shopName {
                    display: block;
                    @include sizing(75%);
                    padding: 0;
                    float: left;
                    margin:0;
                    border: 1px solid $sbc01;
                    border-right: none;
                    border-left: none;
                    height: 45px;
                    text-indent: 0.25rem;
                    font-size: 0.9rem;
                    line-height: 3;
                    font-weight: normal;
                    img {
                        width: 1.5rem;
                        height: 1.5rem;
                        display: block;
                        margin: 0.5rem;
                        float: left;
                    }
                }
                div.menu {
                    @include sizing(25%);
                    float: left;
                    a {
                        text-align: center;
                        display: block;
                        width: 50%;
                        float: left;
                    }
                }
            }
        }
        .container {
            padding: 0;
            background: none;
            /* useFull */

            @media only screen and (min-width: 480px) {
                h1{
                    @include fsize(2);
                    @include sizing(80%);
                }
                h2{
                    @include fsize(1.8);
                    @include sizing(60%);
                }
                em{
                    @include fsize(1.5);
                    @include sizing(60%);
                }
            }
            h1{
                @include fsize(1.8);
                @include sizing(90%);
            }
            h2{
                @include fsize(1.5);
                @include sizing(90%);
            }
            em{
                @include fsize(1.2);
                @include sizing(90%);
            }


            .introDuction,.howto,.attention,.question {
                article{
                    &.contents{
                        padding: 0;
                        img{
                            width: 100%;
                        }
                        div{
                            &.sample{
                                margin: 10px 0;
                            }
                            &.short{
                                width: 98%;
                                padding: 1%;
                                float: left;
                                margin: 0 0 30px;
                            }
                            &.long{
                                width: 98%;
                                padding: 1%;
                                float: left;
                                margin: 0 0 30px;
                                img{
                                    width: 100%;
                                }
                            }
                            .otherLinks{
                                margin: 0 auto;
                                display: block;
                                width: 223px;
                                -webkit-border-radius: 10px;
                                -moz-border-radius: 10px;
                                border-radius: 10px;
                                background-color: #803a3a;
                                a{
                                    padding: 15px 0;
                                    display: block;
                                    width: 100%;
                                    height: auto;
                                    font-family: "Hiragino Kaku Gothic ProN";
                                    font-size: 16px;
                                    color: #fff;
                                    text-align: center;
                                    font-weight: bold;
                                    &:hover{
                                        text-decoration: none;
                                    }
                                }
                            }
                        }
                    }
                    &.span_12 {
                        width: 100%;
                        height: auto;
                        em{
                            @include fsize(1.3);
                            display: block;
                            text-align-last: left;
                            margin: 0 0 20px;
                            border: none;
                            img{
                                width: 60%;
                            }
                        }
                        p {
                            text-align: left;
                            display: block;
                            margin: 1% 0 2%;
                            width: 100%;
                        }

                        img{
                            display: block;
                            &.cap{
                                margin: 20px auto;
                            }
                        }
                    }
                }
            }

            .howto,& > .attention,.question{
                padding: 30px 15px 0;
                article{
                    &.contents{
                        padding: 0;
                        img{
                            width: 60%;
                        }
                        em{
                            margin: 0;
                        }
                    }
                }
            }
            /* introDuction */

            /* description */
            .description{
                &.short_01{
                    width: 92%;
                    padding: 2% 4% 0;
                }
                &.short_02{
                    width: 92%;
                    padding: 2% 4% 0;
                }
                .span_12,.span_6,.span_8,.span_5,.span_7,.span_4{
                    font-size: 15px;
                    ol{
                        li{
                            font-size: 15px;
                            margin: 0 0 10px;
                            display: block;
                            overflow: hidden;
                            ul{
                                width: 90%;
                                margin: 0 auto;
                                overflow: hidden;
                                li{

                                }
                            }
                            div{
                                width: 48%;
                                padding: 0 1%;
                                float: left;
                                &.short{
                                    width: 98%;
                                    padding: 1%;
                                }
                                &.long{
                                    width: 98%;
                                    padding: 1%;
                                    img{
                                        width: 100%;
                                    }
                                }
                            }
                            span{
                                &.adress{
                                    font-weight: bold;
                                    padding: 4% 2%;
                                    display: block;
                                }
                            }
                            em{
                                font-family: "Hiragino Mincho Pro";
                                font-size: 22px;
                                color: #803a3a;
                                border: none;
                                text-align-last: left;
                                margin: 10px 0 0;
                                padding: 0;
                                width: 100%;
                                clear: both;
                            }
                        }
                    }
                    img{
                        width: 94%;
                        display: block;
                        margin: 0 auto;
                    }
                    ul{
                        &.attention{
                            font-size: 16px;
                            li{
                                padding: 0;
                                text-indent: -0;
                                width: 100%;
                                margin: 0 auto 14px;
                                list-style-position: inside;
                                list-style-image: url('https://den-tou.com/img/attention_list.png');
                                p{
                                    line-height: 1.75;
                                    b{
                                        font-weight: normal;
                                        padding: 0 0 3px;
                                        border-bottom: 3px solid #d8ff09;
                                    }
                                }
                            }
                        }
                    }
                }
                .span_6 {
                    width: 48%;
                    padding: 1%;
                    float: left;
                }
                div{
                    &.qa{
                        width: 90%;
                        margin: 0 auto;
                        b{
                            border-bottom: 1px solid #000;
                            padding: 0 0 20px;
                            margin: 0 0 20px;
                            display: block;
                        }
                    }
                    article{
                        ol{
                            li{
                                & > div{
                                    &.pc{
                                        display: none;
                                    }
                                    &.sp{
                                        display: block;
                                    }
                                }
                            }
                        }
                        .cap{
                            &.pc{
                                display: none;
                            }
                            &.sp{
                                display: block;
                            }
                        }
                    }
                }
            }
            /* スマートフォン用「カテゴリ商品をもっと見る」 */
            .moreLink,.parentLink{
                article{
                    div{
                        width: 80%;
                        a{
                            @include fsize(1.0);
                            padding: 6px;
                        }
                    }
                }
            }
        }
        /* container */
    }
}
