@import "../../styleguide/_scss/default.scss";

body{
    background-color: #ddd;
    font-size: 0.75em;
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    line-height: 1.75;
    h1{
        text-align: center;
        margin: 0 0 20px;
    }
    .wrapContents{
        width: 80%;
        padding: 5%;
        margin: 0 auto;
        overflow: hidden;
        background-color: #fff;
        .option{
            .contents{
                border: none;
                border-bottom: 1px solid $lc;
                margin: 0 0 40px;
                padding: 0 0 40px;
                overflow: hidden;
                & > b{
                    font-size: 1.25em;
                    margin: 0 0 15px;
                    display: block;
                    span{
                        margin: 0 0 0 5px;
                        font-size: 0.5em;
                    }
                }
                .point{
                    color: $ac;
                    &:before{
                        content: "[";
                        margin: 0 4px 0 2px;
                    }
                    &:after{
                        content: "]";
                        margin: 0 2px 0 4px;
                    }
                }
                .howto{
                    @include sizing(100%);
                    width: 100%;
                    padding: 5%;
                    margin: 20px auto;
                    border: 1px dotted $lc;
                }
                .caption{
                    ul{
                        overflow: hidden;
                        width: 100%;
                        li{
                            float: left;
                            width: 29.333%;
                            padding: 2%;
                            text-align: center;
                            font-size: 0.5em;
                            img{
                                width: 100%;
                                margin: 0 0 5px;
                            }
                        }
                    }
                }
            }
        }

        .backLink,.return{
            font-weight: bold;
            float: right;
            font-size: 0.75em;
            padding: 2px 6px;
            text-align: center;
            background-color: $bcw;
            color: $mc;
            display: block;
            border: 2px solid $mc;
            text-decoration: none;
            &:hover{
                background-color: $mc;
                color: $bcw;
            }
        }
        .return{
            display: block;
            width: 100%;
            padding: 6px 0;
            margin: 30px auto;
        }
    }
}