@charset "UTF-8";
/* CSS Document */

@import "../../styleguide/_scss/styleguide.scss";

body{
    margin: 0;
    padding: 0;
    
    	iframe#rank_if{
			width:100%;
			height:340px;
			max-width:750px;
			margin:0 auto;
			display:block;

    	}
    }
