@charset "UTF-8";

/* CSS Document */

@import "../../styleguide/_scss/styleguide.scss";

body {
    margin: 0;
    padding: 0;

        /*スマホ用スタイル設定*/
    @media screen and (max-width: 767px) {

        /*季節の特集*/
        .ssrcm {
            margin: 30px 0 0;
            width: 100%;
            float: left;
            clear: both;
            &>p {
                @include sizing(100%);
                font-weight: bold;
                padding: 10px 20px;
                font-size: 16px;
                color: #000;
                background-color: #f1f1f1;
                margin: 0 0 1%;
                span.subtitle {
                    font-size: 0.85em;
                }
            }

            ul {
                list-style-type: none;
                text-indent: 0;
                @include sizing(100%);
                li {
                    margin: 8px 0 0 0;
                    width: 100%;
                    a {
                        display: block;
                        letter-spacing: 0px;
                        img {
                            width: 100%;
                        }
                        @include anm(0.2s);
                        opacity:1;
                        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
                        &:hover {
                            opacity: 0.7;
                            filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        /*季節の特集*/
        /*注文実況ライブ ここから*/
        .iframe_m01 {
            margin: 30px 0 0;
            width: 100%;
            float: left;
            clear: both;
            &>p {
                @include sizing(100%);
                font-weight: bold;
                padding: 10px 20px;
                font-size: 16px;
                color: #000;
                background-color: #f1f1f1;
                margin: 0 0 1%;
                span.subtitle {
                    font-size: 0.85em;
                }
            }

            ul {
                list-style-type: none;
                text-indent: 0;
                @include sizing(100%);
                li {
                    margin: 8px 0 0 0;
                    width: 100%;
                    a {
                        display: block;
                        letter-spacing: 0px;
                        img {
                            width: 100%;
                        }
                        @include anm(0.2s);
                        opacity:1;
                        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
                        &:hover {
                            opacity: 0.7;
                            filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        /*注文実況ライブ*/
        /* オリジナル商品紹介部分 ここから */
        .orgitem {
            margin: 30px 0 15px;
            width: 100%;
            // float: left;
            clear: both;
            &>p {
                @include sizing(100%);
                font-weight: bold;
                padding: 10px 20px;
                font-size: 16px;
                color: #000;
                background-color: #f1f1f1;
                margin: 0 0 1%;
                span.subtitle {
                    font-size: 0.85em;
                }
            }

            ul {
                list-style-type: none;
                padding: 0 0 0 3%;
                text-indent: 0;
                @include sizing(100%);
                li {
                    width: 45%;
                    float: left;
                    margin: 1% 3% 1% 0;
                    &:nth-child(2n) {
                        margin: 1% 0 1% 0;
                    }
                    /*&:nth-child(4n) {
                        clear: both;
                        float: left;
                    }*/
                    a {
                        display: block;
                        letter-spacing: 0px;
                        img {
                            width: 100%;
                        }
                        color: #000;
                        text-decoration: none;
                        @include anm(0.2s);
                        opacity:1;
                        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
                        p {
                            letter-spacing: 1;
                            margin: 8px 0 0;
                            line-height: 1.4;
                            font-size: 12px;
                            span {
                                display: block;
                                margin: 8px 0 0;
                                font-size: 0.95em;
                                color: #900;
                                text-align: right;
                                small {
                                    font-size: 0.95em;
                                    color: #900;
                                    font-weight: normal;
                                }
                                em {
                                    display: inline-block;
                                    font-size: .75em;
                                    color: #fff;
                                    background-color: #900;
                                    margin: 0 4px;
                                    padding: 0 2px;
                                }
                                &.cctxt {
                                    color: #333;
                                    text-align: left;
                                }
                            }
                        }
                        &:hover {
                            opacity: 0.7;
                            filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        /*新着情報*/
        .newinfo {
            margin: 30px 0 0;
            width: 100%;
            float: left;
            clear: both;
            &>p {
                @include sizing(100%);
                font-weight: bold;
                padding: 10px 20px;
                font-size: 16px;
                color: #000;
                background-color: #f1f1f1;
                margin: 0 0 1%;
                span.subtitle {
                    font-size: 0.85em;
                }
            }

            ul {
                list-style-type: none;
                padding: 0 0 0 3%;
                text-indent: 0;
                @include sizing(100%);
                li {
                    width: 97%;
                    margin: 4% 3% 2% 0;
                    /*&:nth-child(4n) {
                        clear: both;
                        float: left;
                    }*/
                    a {
                        display: block;
                        overflow: hidden;
                        letter-spacing: 0px;
                        img {
                            width: 45%;
                            display: block;
                            float: left;
                        }
                        color: #000;
                        text-decoration: none;
                        @include anm(0.2s);
                        opacity:1;
                        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
                        p {
                            letter-spacing: 1;
                            margin: 1px 2px 1px;
                            line-height: 1.4;
                            font-size: 10.5px;
                            color: #000;
                            width: 50%;
                            float: right;
                            span {
                                display: inline-block;
                                padding: 1px 2px 1px;
                                margin: 0 0 4px;
                                font-size: 0.85em;
                                color: #fff;
                                background-color: #333;
                                small {
                                    font-size: 10px;
                                }
                            }
                        }

                        &:hover {
                            opacity: 0.7;
                            filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
                            text-decoration: underline;
                        }
                    }
                    hr {
                        border-top: 1px dashed #ccc;
                        margin: 15px 0 0;
                        display: block;
                    }
                }
            }
        }
        /*新着情報*/
        /* 新着商品紹介部分 ここから */
        .newitem {
            margin: 30px 0 0;
            width: 100%;
            float: left;
            clear: both;
            &>p {
                @include sizing(100%);
                font-weight: bold;
                padding: 10px 20px;
                font-size: 16px;
                color: #000;
                background-color: #f1f1f1;
                margin: 0 0 1%;
                overflow: hidden;
                span.subtitle {
                    font-size: 0.85em;
                }
                span.date {
                    font-size: 12px;
                    display: inline-block;
                    float: right;
                    padding: 0 5px;
                    line-height: 24px;
                    text-align: right;
                    font-weight: normal;
                    font-weight: bold;
                }
            }
            ul {
                list-style-type: none;
                padding: 0 0 0 3%;
                text-indent: 0;
                @include sizing(100%);
                li {
                    width: 30%;
                    float: left;
                    margin: 1% 3% 1% 0;
                    &:nth-child(3n) {
                        margin: 1% 0 1% 0;
                    }
                    &:nth-child(3n+1) {
                        clear: both;
                        float: left;
                    }
                    a {
                        display: block;
                        letter-spacing: 0px;
                        img {
                            width: 100%;
                        }
                        color: #000;
                        text-decoration: none;
                        @include anm(0.2s);
                        opacity:1;
                        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
                        p {
                            letter-spacing: 1;
                            margin: 8px 0 0;
                            line-height: 1.4;
                            font-size: 12px;
                            span {
                                display: block;
                                font-size: 0.85em;
                                color: #333;
                                small {
                                    font-size: 10px;
                                }
                            }
                            .new,
                            .renew,
                            .restock {
                                display: inline-block;
                                padding: 0 4px;
                                color: #fff;
                            }
                            .new {
                                background: #990000;
                            }
                            .renew {
                                background: #356a71;
                            }
                            .restock {
                                background: #1d54a7;
                            }
                        }
                        &:hover {
                            opacity: 0.7;
                            filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        /*768px以上のスタイル*/
    }



    /*PC用スタイル設定*/
    @media screen and (min-width: 768px) {
        .newitem {
            margin: 30px 0 0;
            &>p {
                @include sizing(100%);
                font-weight: bold;
                padding: 10px 20px;
                font-size: 20px;
                color: #000;
                background-color: #f1f1f1;
                margin: 0 0 1%;
                span.subtitle {
                    font-size: 0.85em;
                }
                span.date {
                font-size: 12px;
                display: inline-block;
                float: right;
                padding: 0 5px;
                line-height: 24px;
                text-align: right;
                font-weight: normal;
                font-weight: bold;
                }
            }
            ul {
                li {
                    width: 17%;
                    float: left;
                    margin: 1% 3% 1% 0;
                    &:nth-child(3n) {
                        margin: 1% 3% 1% 0;
                    }
                    &:nth-child(5n) {
                        margin: 1% 0 1% 0;
                    }
                    a {
                        display: block;
                        letter-spacing: 0px;
                        img {
                            width: 100%;
                        }
                        color: #000;
                        text-decoration: none;
                        @include anm(0.2s);
                        opacity:1;
                        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
                        p {
                            letter-spacing: 1;
                            margin: 8px 0 0;
                            line-height: 1.4;
                            font-size: 16px;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            span {
                                display: block;
                                font-size: 0.85em;
                                color: #333;
                                small {
                                    font-size: 10px;
                                }
                            }
                            .new,
                            .renew,
                            .restock {
                                display: inline-block;
                                padding: 2px 4px;
                                color: #fff;
                                margin: 0 0 8px
                            }
                            .new {
                                background: #990000;
                            }
                            .renew {
                                background: #356a71;
                            }
                            .restock {
                                background: #1d54a7;
                            }
                        }
                        &:hover {
                            opacity: 0.7;
                            filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .newitem:after {
          display: block;
          clear: both;
          content: "";
        }

        /*新着情報*/
        .newinfo {
            margin: 30px 0 0;
            &>p {
                @include sizing(100%);
                font-weight: bold;
                padding: 10px 20px;
                font-size: 20px;
                color: #000;
                background-color: #f1f1f1;
                margin: 0 0 1%;
                span.subtitle {
                    font-size: 0.85em;
                }
            }

            ul {
                list-style-type: none;
                padding: 0 0 0 3%;
                text-indent: 0;
                @include sizing(100%);
                li {
                    width: 97%;
                    margin: 2% 3% 2% 0;
                    /* &:nth-child(4n) {
                    clear: both;
                    float: left;
                                    } */
                    a {
                        img {
                            width: 30%;
                        }
                        p {
                            line-height: 1.6;
                            font-size: 16px;
                            width: 65%;
                            color: #000;
                            float: right;
                            text-decoration:none;
                            span {
                                display: inline-block;
                                padding: 1px 2px 1px;
                                margin: 0 0 4px;
                                font-size: 0.85em;
                                color: #fff;
                                background-color: #333;
                                small {
                                    font-size: 10px;
                                }
                            }
                        }

                        &:hover {
                            opacity: 0.7;
                            filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
                            text-decoration: underline;
                        }
                    }
                    hr {
                        border-top: 1px dashed #ccc;
                        border-bottom: 0;
                        margin: 2% 0 0;
                    }
                }
            }
        }
        /*新着情報*/
        /* オリジナル商品紹介部分 ここから */
        .orgitem {
            margin: 30px 0 0;
            width: 100%;
            clear: both;
            &>p {
                @include sizing(100%);
                font-weight: bold;
                padding: 10px 20px;
                font-size: 20px;
                color: #000;
                background-color: #f1f1f1;
                margin: 0 0 1%;
                span.subtitle {
                    font-size: 0.85em;
                }
            }
            ul {
                list-style-type: none;
                padding: 0 0 0 3%;
                text-indent: 0;
                @include sizing(100%);
                li {
                    width: 45%;
                    float: left;
                    margin: 1% 4% 1% 0;
                    &:nth-child(2n) {
                        margin: 1% 0 1% 0;
                    }
                    /*&:nth-child(4n) {
                    clear: both;
                    float: left;
                }*/
                    a {
                        display: block;
                        letter-spacing: 0px;
                        img {
                            width: 50%;
                        }
                        color: #000;
                        text-decoration: none;
                        @include anm(0.2s);
                        opacity:1;
                        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
                        p {
                            letter-spacing: 1;
                            margin: 8px 0 0;
                            line-height: 1.4;
                            font-size: 14px;
                            width: 45%;
                            float: right;
                            span {
                                display: block;
                                margin: 8px 0 0;
                                font-size: 0.95em;
                                color: #900;
                                text-align: right;
                                small {
                                    font-size: 0.95em;
                                    color: #900;
                                    font-weight: normal;
                                }
                                em {
                                    display: inline-block;
                                    font-size: .75em;
                                    color: #fff;
                                    background-color: #900;
                                    margin: 0 4px;
                                    padding: 0 2px;
                                }
                                &.cctxt {
                                    color: #333;
                                    text-align: left;
                                }
                            }
                        }
                        &:hover {
                            opacity: 0.7;
                            filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .orgitem:after {
          display: block;
          clear: both;
          content: "";
        }

        /*季節の特集*/
        .ssrcm {
            margin: 30px 0 0;
            &>p {
                @include sizing(100%);
                font-weight: bold;
                padding: 10px 20px;
                font-size: 20px;
                color: #000;
                background-color: #f1f1f1;
                margin: 0 0 1%;
                span.subtitle {
                    font-size: 0.85em;
                }
            }
            ul {
                @include sizing(100%);
                li {
                    margin: 8px auto;
                    width: 95%;
                }
            }
        }
        /*季節の特集*/

        /*注文実況ライブ*/
        .iframe_m01 {
            margin: 30px 0 0;
            &>p {
                @include sizing(100%);
                font-weight: bold;
                padding: 10px 20px;
                font-size: 20px;
                color: #000;
                background-color: #f1f1f1;
                margin: 0 0 1%;;
                span.subtitle {
                    font-size: 0.85em;
                }
            }

            ul {
                @include sizing(100%);
                li {
                    margin: 8px auto;
                    width: 95%;
                }
            }
        }
        /*注文実況ライブ*/
    }
    /*768px以上のスタイル*/
}