@charset "utf-8";
/* CSS Document */

<!--
body{width:100%; font-size:10px; line-height:1.0; font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;}
#com_cat{width:800px; height:900px; margin:0 auto; border:1px solid #999;}
#com_cat td{font-size:110%; height:20px; letter-spacing:1;}
#com_cat td a{text-decoration:none; color:#333; padding:5px; display:block; cursor:pointer;}
#com_cat td a:hover{ background-color:#F2F2F2; text-decoration:none; color:#333;}
#com_cat td a img{text-decoration:none; width:14px; border:0;}

#com_cat tr#head td{padding:4px 10px; text-align:right; font-size:140%; font-weight:bold; color:#FFF; letter-spacing:2px; background-color:#900;}

#com_cat hr{padding:0 10px; margin:10px 0; border:none;  border-bottom:dashed #CCC 1px;}
#com_cat table{float:left;}

#com_cat #info img{margin-top:200px;}
#com_cat #info{text-align:right;}


.cate a{text-decoration:none; text-indent:-9999px; display:block; cursor:pointer; padding:5px; margin:auto; background-position:center 0px; background-repeat:no-repeat; width:50%; height:50px; }
.cate a:hover{ background-position:center -60px;}

#f_contents{width:800px; margin:0 auto; line-height:1.6; font-size:110%;}


#f_contents a:link {
	color:#000001;
	border-style:none;
	text-decoration:none;
}   /* リンク */

#f_contents a:visited {
	text-decoration:none;
	border-style:none;
	color:#000001;
}

#f_contents a img,a p {
	transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	filter:alpha(opacity=100);
	-moz-opacity:1;
	opacity:1;
}

#f_contents a:hover img,a:hover p,a:hover h1{
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	opacity:0.7;
	text-decoration:underline;
	color:#000001;
}

#f_contents a:hover img{
opacity:0.5;
filter: alpha(opacity=50);
-ms-filter: "alpha( opacity=50 )";
border:none;
}

#f_contents #rank{width:800px;margin:0 auto;}
#f_contents iframe{
	float:left;
	border-left:1px #CCC dashed;
	border-bottom:1px #CCC dashed;
	border-right:1px #CCC dashed;
	border-top:none;
	margin:0 0 20px 0;
}

#f_contents img{margin:0;}
#f_contents #real-ranking{width:auto; border:none;}
#f_contents tr{width:100%;}
#f_contents h1{font-size:14px; color:#ed7171;}
#f_contents .rank td{
	color:#900;
	font-weight:bold;
	width:180px;
	background-color:#efefef;
	font-size:160%;
}
#f_contents table{width:100%;}
#f_contents h2{font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; font-size:42px;}


#f_contents #specialcontents td{padding:8px 15px;}
#f_contents #specialcontents td:hover img{
box-shadow: 1px 1px 3px #000;
}

#f_contents #itemlist td{
	width:234px;
	height:117px;
	font-size:12px;
}

#f_contents #itemlist td:hover{
	width:234px;
	height:117px;
	font-size:10px; 
}

#f_contents #itemlist img{
	width:100px;
	height:100px;
	float:left;
	margin-right:4px;
}

#f_contents #itemlist td{padding:0 8px; font-size:10px;}
#f_contents #itemlist a:hover{text-decoration:underline;}
#f_contents span{
	font-size:14px;
	color:#8379b7;
	font-weight:bold;
}

#f_contents .pickuptxt{
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	text-align:left;
}

#f_contents .pickuptxt2{
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size:30px;
	margin:0;
	padding:0;
	font-weight:bold;
}

#f_contents .linebox{border-right:1px dashed #CCC; font-size:140%;}
#f_contents .categorytext{
	background:url(https://shopping.geocities.jp/dentouhonpo/img/category/public_footercategor.jpg) no-repeat 0px 14px; padding:0 0 0 16px;
	background:url(https://shopping.geocities.jp/dentouhonpo/img/category/public_footercategor.jpg) no-repeat 0px 12px; padding:0 0 0 16px;/* IE7 */
	background:url(https://shopping.geocities.jp/dentouhonpo/img/category/public_footercategor.jpg) no-repeat 0px 12px; padding:0 0 0 16px;/* IE8 */
	background:url(https://shopping.geocities.jp/dentouhonpo/img/category/public_footercategor.jpg) no-repeat 0px 12px; padding:0 0 0 16px;/* IE6 and IE5 (but who cares, right?) */
	font-size:140%;
}

#f_contents .footercontents p img{margin:0 8px;}
#f_contents .footercontents{
	width:800px;
	height:auto; 
	margin:0 auto;
	border-left:1px #000 solid;
	border-right:1px #000 solid;
}
#f_contents #footer{
	height:auto; 
	width:100%; 
	margin:20px auto; 
	padding-bottom:20px; 
	clear:both; 
	background:url(https://shopping.geocities.jp/dentouhonpo/img/header/f_contents_lp.jpg);
	border:1px #900 solid;
}


.cal_info{
	margin-top:15px;
	line-height:1.2;
}
.cal_info .cal_holiday{color:#FFCB9B;}
.cal_info .cal_holiday2{color:#DDFCFF;}


.info_title{
	width:100%; 
	border-left:4px solid #900; 
	padding-left:10px;
	color:#900; 
	font-size:16px; 
	line-height:1.0;
	font-weight:bold;
}
#gifts li{
	float:left;
	display:block;
	margin:5px;
}

.categorytext{
	clear:both;
}
-->