body{
    margin: 0;
    padding-right:2px;
}

$mc : #e84925;
@mixin links($fsize,$width,$pad) {
    display: block;
    width: $width;
    background-color: rgba(228,132,110,0);
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 2px rgba(0,0,0,.5);
    box-shadow: 0 0 2px rgba(0,0,0,.5);
    border: solid 1px #ffb09f;
    color: $mc;
    text-decoration: none;
    text-indent: 16px;
    font-size: $fsize;
    position: relative;
    padding: $pad;
    span{
        width: 7px;
        height: 7px;
        display: block;
        background: url("https://shopping.geocities.jp/dentouhonpo/img/cmn_ftr_c02_arrow.png") no-repeat;
        background-size: 75%; 
        float: left;
        position: relative;
        left: 10px;
        top: 7px;
    }
    &:hover{
        color: #fff;
        background-color: $mc;
        span{
            background: url("https://shopping.geocities.jp/dentouhonpo/img/cmn_ftr_c02_arrow_w.png") no-repeat;
            background-size: 75%; 
        }
    }
}

@mixin linksCompany($url) {
    display: block;
    width: auto;
    height: 26px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    background-color: rgba(255,255,255,0);
    -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,.25);
    -moz-box-shadow: inset 0 0 0 1px rgba(0,0,0,.25);
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.25);
    background-image: -webkit-linear-gradient(bottom, #000, #6e6e6e);
    background-image: -moz-linear-gradient(bottom, #000, #6e6e6e);
    background-image: -o-linear-gradient(bottom, #000, #6e6e6e);
    background-image: linear-gradient(to top, #000, #6e6e6e);
    background-color: #000\9;
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
        background-image: -webkit-linear-gradient(bottom, #000, #6e6e6e);
        background-image: -moz-linear-gradient(bottom, #000, #6e6e6e);
        background-image: -o-linear-gradient(bottom, #000, #6e6e6e);
        background-image: linear-gradient(to top, #000, #6e6e6e);

    }
    color: #fff;
    text-decoration: none;
    text-indent: 6px;
    font-size: 80%;
    position: relative;
    padding: 6px 6px 1px 0;
    font-weight: bold;
    float: left;
    display: block;
    margin: 10px 8px 2px 0;
    span{
        width: 22px;
        height: 22px;
        display: block;
        background: url(#{$url}) no-repeat;
        background-size: 75%; 
        float: left;
        position: relative;
        left: 8px;
        top: 2px;
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
           top: 2px;   
       }
       top: 0\9;
   }
   &:hover{
    -webkit-border-radius: 0 0 1px 1px;
    -moz-border-radius: 0 0 1px 1px;
    border-radius: 0 0 1px 1px;
    background-color: rgba(255,255,255,0);
    -webkit-box-shadow: inset 11px 18px 21px rgba(10,2,4,.75);
    -moz-box-shadow: inset 11px 18px 21px rgba(10,2,4,.75);
    box-shadow: inset 11px 18px 21px rgba(10,2,4,.75);
    background-image: -webkit-linear-gradient(top, #000, #6e6e6e);
    background-image: -moz-linear-gradient(top, #000, #6e6e6e);
    background-image: -o-linear-gradient(top, #000, #6e6e6e);
    background-image: linear-gradient(to bottom, #000, #6e6e6e);
}
}

@mixin sizing($width,$height){
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    width:$width;
    height: $height;
}

@mixin alpha($value){
    filter: alpha(opacity=$value);
    -moz-opacity:$value / 100;
    opacity:$value / 100;
    -ms-filter: "alpha(opacity="$value")";  /* ie 8 */
}

.service{
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 12px 1.2rem;
    line-height: 1.3em;
    overflow: hidden;
    background:url("https://shopping.c.yimg.jp/lib/dentouhonpo/cmn_ftr_bglp.gif");
    border: 1px solid $mc;
    width:100%;
    span{
        color: $mc;
    }
    header{
        overflow: hidden;
        font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
        padding: 0 0 20px;
        h1{
            margin: 0;
            height: 200px;
            display: block;
            min-width: 100%;
            @include sizing(100%,300px);
            background: url("https://shopping.c.yimg.jp/lib/dentouhonpo/cmn_ftr_header05.jpg") no-repeat 50% 50%;
            background-size: cover;
            position: relative;
            font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
            p{
                padding: 0;
                position: relative;
                text-align: left;
                margin: 0;
                display: block;
                width: 100%;
                height: 100px;
                /* @include alpha(40); */

                span{
                    position: relative;
                    font-size: 30px;
                    line-height: 2.2rem;
                    line-height: 1.2em\9;
                    margin: 0 auto;
                    padding: 20px 0 0 20px;
                    width: 100%;
                    height: 70px;
                    display: block;
                    background-color:rgba(255,255,255,0);
                    color: #fff;
                }
            }
        }/* header */
        p{
            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
                @include sizing(100%,auto);
            }
            @include sizing(100%,auto);
            padding: 20px 40px;
            width: 80%\9;
            margin: 0 auto\9;
            font-size: 76%;
            color: #545454;
        }/* infomation */
        .package{
            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
                @include sizing(100%,auto);
            }
            @include sizing(100%,auto);
            margin: 0 auto\9;
            padding: 0px 40px;
            overflow: hidden;

            div.box{
                @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
                    @include sizing(30%,auto);
                }
                @include sizing(30%,auto);
                width: 20%\9;
                padding:0;
                float: left;
                overflow: hidden;
                display: inline-block;
                img{
                    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){

                        width:90%;
                    }
                    display: block;
                    width:100%\9;
                    width:90%;
                }
            }
            div.infoTxt{
                @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
                    @include sizing(70%,auto);
                }
                @include sizing(70%,auto);
                display: block;
                float: left;
                width:81%\9;
                p{
                    padding: 0;
                    margin: 0 0 0 2%;
                    em{
                        font-weight: bold;
                        font-size: 120%;
                        display: block;
                        margin-bottom: 6px;
                        font-style: normal;

                    }
                }
                p.companyInfo{
                    .nameService{
                        @include linksCompany("https://shopping.geocities.jp/dentouhonpo/img/cmn_ftr_name.png");
                    }
                    .overSea{
                        @include linksCompany("https://shopping.geocities.jp/dentouhonpo/img/cmn_ftr_oversea.png");
                    }
                    .orderItem{
                        @include linksCompany("https://shopping.geocities.jp/dentouhonpo/img/cmn_ftr_order.png");
                    }
                }
            }

        }
    }/* header-fin */
    article{
        width: 100%;
        clear: both;
        margin: 20px 0 0 0;
        section{
            header{
                h2.subTitle{
                    width: 100%;
                    background-color: $mc;
                }
                p{
                    padding: 20px;
                }
            }
            section.giftService{
                overflow: hidden;
                padding: 0 0 20px;
                ul{
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                    @include sizing(100%,auto);
                    li{
                        padding: 0px;
                        float: left;
                        display: block;
                        @include sizing(100%,auto);
                        div{
                            padding: 6px 0;
                            hr{
                                border:none;
                                border-bottom: 1px dotted $mc;
                                width: 95%;
                                margin: 0 auto;
                                padding: 5px 0;
                                clear: both\9;
                            }
                            div{
                                padding: 0;
                                border:none;
                                &.text{
                                    width: 67%;
                                    width: 63%\9;
                                    float: left;
                                    margin: 0 4% 0 2%;
                                }
                                &.image{
                                    width: 23%;
                                    margin: 0 2%;
                                    float: left;
                                    img{
                                        max-width: 100%;
                                    }
                                }
                                p{
                                    font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                                    font-size: 95%;
                                    line-height: 1.6em;
                                    margin: 10px 0 0;
                                }
                                em{
                                    display: block;
                                    margin:0 0 6px;
                                    font-style: normal;
                                    img{
                                        width: auto;
                                        height: 26px;
                                    }
                                }
                                a{
                                    @include links(70%,110px,1px 0);
                                    margin: 30px auto 20px;
                                }
                            }
                            div.serviceLast{
                                border-right: none;
                            }
                        }
                        &.fourth{
                            clear:both;
                            float: left;
                        }
                    }
                }
            }/* giftservice-fin */
            .deliveryDate{
                @include sizing(95%,auto);
                margin:0 auto;
                overflow: hidden;
                border:1px solid $mc;
                padding-bottom: 20px;
                margin-bottom: 20px;
                background-color: #fff;
                header{
                    h3{
                        margin: 6px 0 4px 8px;
                    }
                    hr{
                        border:none;
                        display: block;
                        background-color: #000;
                        background:url("https://shopping.c.yimg.jp/lib/dentouhonpo/cmn_ftr_stitle_bg.gif") repeat-x;
                        height: 9px;
                        margin: 0;
                    }
                }
                div.timeTable{
                    font-size: 68%;
                    line-height: 1.4em;
                    span{
                        font-size: 120%;
                        font-weight: bold;
                    }
                    @include sizing(67%,auto);
                    padding: 0 2% 0 4%;
                    float: left;
                    table{
                        td{
                            border:1px solid #898989;
                            padding: 6px 10px;
                            text-align: center;
                        }
                    }
                }
                div.deliveryMap{
                    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
                        @include sizing(33%,auto);
                    }
                    @include sizing(33%,auto);
                    width:20%\9;
                    padding: 0 4% 0 2%;
                    float: left;
                    p{
                        margin: 20px 0 0 0;
                        line-height: 1.3em;
                        font-size: 68%;
                    }
                    img{
                        width: 100%;
                    }
                }
            }/* deliveryDate-fin */

            .deliveryHowto{
                background-color: #fff;
                font-size: 70%;
                @include sizing(95%,auto);
                margin:0 auto;
                overflow: hidden;
                border:1px solid $mc;
                line-height: 1.8em;
                padding: 0;
                header{
                    padding-top: 4px;
                    h3{
                        margin: 6px 0 4px 8px;
                    }
                    hr{
                        border:none;
                        display: block;
                        background-color: #000;
                        background:url("https://shopping.c.yimg.jp/lib/dentouhonpo/cmn_ftr_stitle_bg.gif") repeat-x;
                        height: 9px;
                        margin: 0;
                    }
                }
                section{
                    .wrapBox{
                        @include sizing(100%,auto);
                        overflow: hidden;
                        padding-bottom: 4px;
                        hr{
                            margin: 16px auto;
                            width: 96%;
                            border:none;
                            display: block;
                            border-bottom: 1px dashed #ababab;
                            height: 20px;
                            height: 0px\9;
                            clear: both\9;
                        }
                        .leftBox{
                            clear: both;
                            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
                                @include sizing(33%,auto);
                            }
                            @include sizing(33%,auto);
                            width:28%\9;
                            padding: 2% 4%;
                            float: left;
                            line-height: 1.4em;
                            img{
                                width: 100%;
                                margin:0 0 10px 0;
                            }
                        }
                        .rightBox{
                            float: left;
                            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
                                @include sizing(67%,auto);
                            }
                            @include sizing(67%,auto);
                            width:58%\9;
                            padding:0 2%;
                            margin-top: 16px;
                            em{
                                font-size: 120%;
                                font-weight: bold;
                                font-style: normal;
                                span{
                                    font-size: 150%;
                                }
                            }
                            a{
                                @include links(90%,110px,1px 0);
                                line-height: 1.9em;
                                margin-top: 10px;
                            }
                            ul{
                                /* list-style: disc url("https://shopping.geocities.jp/dentouhonpo/img/cmn_ftr_c02_arrow.png") inside; */
                                list-style-position: 5px 10px;
                                li{
                                    background:url("https://shopping.geocities.jp/dentouhonpo/img/cmn_ftr_c02_arrow.png") no-repeat 0 5px;
                                    background:url("https://shopping.geocities.jp/dentouhonpo/img/cmn_ftr_c02_arrow.png") no-repeat 6px 5px\9;
                                    padding-left: 15px;
                                    list-style-type: none;
                                    a{
                                        display: inline;
                                        background-color: rgba(228,132,110,0);
                                        -webkit-box-shadow: none;
                                        -moz-box-shadow: none;
                                        box-shadow: none;
                                        border: none;
                                        color: #04c;
                                        text-decoration: underline;
                                        text-indent: none;
                                        position: relative;
                                        padding: 0;
                                        &:hover{
                                            color: #04c;
                                            background-color: #fff;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }/* deliveryHowto fin */
            .shopFeature{
                background-color: #fff;
                font-size: 68%;
                @include sizing(95%,auto);
                margin:20px auto 0;
                overflow: hidden;
                /* border:1px solid $mc; */
                padding: 0;
                p{
                    text-align: center;
                    a{
                        width:48%;
                        width:47%\9;
                        margin:1%;
                        display: block;
                        float: left;
                        img{
                            max-width: 100%;
                            border: none;
                        }
                    }
                }
                header{
                    h3{
                        margin: 16px 0 14px 8px;
                        text-align: center;
                    }
                    hr{
                        border:none;
                        border-bottom: 1px dashed $mc;
                        width: 80%;
                        display: block;
                        margin: 0 auto;
                    }
                }
                section{
                    padding: 0;
                    ul{
                        @include sizing(100%,auto);
                        li{
                            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
                                @include sizing(25%,auto);
                                padding: 8px;
                            }
                            line-height: 1.4em;
                            @include sizing(25%,auto);
                            width:21%\9;
                            padding: 8px;
                            padding: 2% 2% 2% 1%\9; 
                            float: left;
                            display: block;
                            img{
                                width: 100%;
                                margin-bottom: 10px;
                            }
                            h4{
                                margin: 10px auto;
                                width: 99.4%;
                                outline:1px solid #d6d6d6;
                                text-align: center;
                                padding: 6px 0 5px;
                                font-size: 120%;
                            }
                            p{
                                width: 100%;
                            }
                        }
                        &:first-child{
                            padding-left: 10px;
                        }
                        &:last-child{
                            padding-right: 10px;
                        }
                    }
                }
            }
        }
    }
}