    @import '../../styleguide/_scss/styleguide.scss';

    body {
        font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;

        margin: 0;
        padding: 0;

        text-align: center;

        background-color: none;

        iframe.analyse {
            width: 1px;
            height: 1px;
            margin-top: 50px;

            @media only screen and (min-width: 768px) {
                display: none;
            }
        }

        /*特集ページ共通のスタイル*/
        h1 {
            font-size: 12px;
            font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;

            width: 100%;
            padding-left: 10px;

            text-align: left;

            @media only screen and (max-width: 768px) {
                display: none;
            }
        }

        .section {
            overflow: hidden;

            margin: 0 0 70px;
            padding: 0 0 30px;

            border-bottom: 1px dashed #b7b7b7;



            img {
                display: block;

                margin: 0 auto 50px;
            }

            h2 {
                font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
                font-size: 34px;
                font-weight: bold;

                margin: 0 0 50px;

                text-align: center;
                letter-spacing: 4px;

                @media only screen and (max-width: 768px) {
                    font-size: 6vw;
                    font-weight: 100;
                    line-height: 6.5vw;

                    margin: 10vw 0 0;

                    text-align: center;
                    letter-spacing: 1vw;
                }
            }

            p {
                font-size: 14px;
                font-weight: 300;
                line-height: 30px;

                margin: 50px 0;

                text-align: center;

                &.leadtxt {
                    margin: 20px 0 50px;

                    @media only screen and (max-width: 768px) {
                        margin: 10px 0;
                    }
                }

                @media only screen and (max-width: 768px) {
                    font-size: 3vw;
                    font-weight: 300;
                    line-height: 5.5vw;

                    padding: 8vw 6vw;

                    text-align: center;
                }
            }

            //クーポンのスタイル原則2列
            .coupon {
                clear: both;
                overflow: hidden;

                margin-top: 10px;

                li {
                    display: inline-block;
                    overflow: hidden;

                    width: 42%;
                    margin: 2px auto 4px;

                    @media only screen and (max-width: 768px) {
                        width: 44%;
                    }

                    a {
                        display: block;

                        width: 100%;
                    }
                }

                img {
                    display: block;

                    width: 98%;
                    margin: 0 auto;
                }
            }

            ul {
                &.saleitem-3 //PC3列・SP2列

                    {
                    padding: 0 15px;

                    @media only screen and (max-width: 768px) {
                        padding: 0 8vw;
                    }

                    li {
                        position: relative;

                        float: left;

                        width: 243px;
                        margin: 0 40px 60px 0;

                        @media only screen and (max-width: 768px) {
                            position: relative;

                            float: left;

                            width: 40vw;
                            margin: 0 4vw 12vw 0;

                            &:nth-of-type(2n) {
                                margin: 0 0 12vw;
                            }
                        }

                        @media only screen and (min-width: 768px) {
                            &:nth-of-type(3n) {
                                margin: 0 0 60px;
                            }
                        }

                        a {
                            display: block;
                            display: block;

                            width: 100%;

                            text-decoration: none;

                            color: #141414;
                        }

                        figure {
                            height: 234px;
                            margin: 1em 0;

                            @media only screen and (max-width: 768px) {
                                height: 42vw;
                            }
                        }

                        img {
                            width: 100%;
                            margin: 0 auto 5px;
                        }

                        .rankbllon //ランキング入り

                            {
                            font-size: 15px;
                            /* margin: 0 auto; */
                            font-weight: bold;

                            position: absolute;
                            top: 200px;
                            left: -10px;

                            display: none; //rankクラスがついていないとき

                            width: 40px;
                            height: 50px;

                            color: #fff;
                            background: #9c7f12;

                            @media only screen and (max-width: 768px) {
                                top: 29vw;
                                left: -2vw;
                            }

                            span {
                                font-size: 20px;
                                font-weight: 700;

                                position: absolute;
                                left: -3px;

                                display: block;

                                width: 100%;

                                text-align: center;

                                color: #fff;

                                &:after {
                                    font-size: 12px;

                                    position: absolute;
                                    top: 25px;
                                    left: 11px;

                                    content: '位';
                                }
                            }
                        }



                        .salebllon //セール割引％

                            {
                            position: absolute;
                            top: -15px;
                            left: -15px;

                            width: 55px;
                            height: 55px;

                            border-radius: 50%;
                            background: #e4690a;

                            span {
                                font-size: 20px;
                                font-weight: 700;

                                position: absolute;
                                top: 3px;
                                left: 3px;

                                color: #fff;

                                &:before {
                                    font-size: 12px;

                                    position: absolute;
                                    top: 10px;
                                    left: 27px;

                                    content: '％';
                                }

                                &:after {
                                    font-size: 12px;

                                    position: absolute;
                                    top: 25px;
                                    left: 8px;

                                    content: 'OFF';
                                }
                            }
                        }

                        .top {
                            height: 65px;
                            margin: 15px 0 7px;

                            p {
                                font-size: 12px;
                                font-weight: 500;
                                line-height: 1em;

                                margin: 5px 0 0;

                                @media only screen and (max-width: 768px) {
                                    padding: 0;
                                }

                                &.local {
                                    line-height: 15px;

                                    overflow: hidden;

                                    height: 30px;

                                    text-align: center;

                                    @media only screen and (max-width: 768px) {
                                        font-size: 2.8vw;
                                        font-weight: 500;
                                        line-height: 3.5vw;

                                        position: relative;

                                        overflow: hidden;

                                        height: 6.7vw;

                                        text-align: center;
                                    }
                                }

                                &.title {
                                    line-height: 15px;

                                    overflow: hidden;

                                    height: 30px;

                                    text-align: center;
                                }
                            }
                        }

                        .btm {
                            height: 95px;
                            margin: 0 0 20px;

                            p {
                                font-size: 12px;
                                font-weight: 500;

                                margin: 0;

                                @media only screen and (max-width: 768px) {
                                    padding: 0;
                                }

                                &.usually {
                                    font-size: 11px;
                                    font-weight: 300;
                                    line-height: 11px;

                                    width: 100%;
                                    height: 11px;
                                    margin: 0;

                                    text-align: center;
                                    /* display: none; */
                                    letter-spacing: 0;

                                    @media only screen and (max-width: 768px) {
                                        font-size: 9px;

                                        height: 18px;
                                    }

                                    span {
                                        font-size: .8em;
                                    }
                                }

                                &.price {
                                    font-size: 15px;
                                    font-weight: bold;

                                    width: 100%;

                                    text-align: center;

                                    color: #cb4747;

                                    span {
                                        font-size: .8em;
                                    }
                                }

                                &.itemtxt {
                                    font-size: 12px;
                                    line-height: 18px;

                                    display: -webkit-box;
                                    overflow: hidden;

                                    margin: 5px 0 12px 0;

                                    text-align: left;
                                    text-overflow: ellipsis;

                                    color: #555;

                                    -o-text-overflow: ellipsis;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 3;
                                }
                            }
                        }
                    }

                    &.rank {
                        li {
                            .rankbllon {
                                display: block; //rankクラスが付いているときだけランキング表示
                            }
                        }
                    }
                }

                &.saleitem-2 //PC2列・SP2列

                    {
                    padding: 0 25px;

                    @media only screen and (max-width: 768px) {
                        padding: 0 8vw;
                    }

                    li {
                        position: relative;

                        float: left;

                        width: 375px;
                        margin: 0 40px 60px 0;

                        @media only screen and (max-width: 768px) {
                            position: relative;

                            float: left;

                            width: 40vw;
                            margin: 0 4vw 12vw 0;

                            &:nth-of-type(2n) {
                                margin: 0 0 12vw;
                            }
                        }

                        @media only screen and (min-width: 768px) {
                            &:nth-of-type(2n) {
                                margin: 0 0 60px;
                            }
                        }

                        a {
                            display: block;
                            display: block;

                            width: 100%;

                            text-decoration: none;

                            color: #141414;
                        }

                        figure {
                            height: 375px;
                            margin: 1em 0;

                            @media only screen and (max-width: 768px) {
                                height: 42vw;
                            }
                        }

                        img {
                            width: 100%;
                            margin: 0 auto 5px;
                        }

                        .rankbllon //ランキング入り

                            {
                            font-size: 15px;
                            /* margin: 0 auto; */
                            font-weight: bold;

                            position: absolute;
                            top: 330px;
                            left: -10px;

                            display: none; //rankクラスがついていないとき

                            width: 40px;
                            height: 50px;

                            color: #fff;
                            background: #9c7f12;

                            @media only screen and (max-width: 768px) {
                                top: 29vw;
                                left: -2vw;
                            }

                            span {
                                font-size: 20px;
                                font-weight: 700;

                                position: absolute;
                                left: -3px;

                                display: block;

                                width: 100%;

                                text-align: center;

                                color: #fff;

                                &:after {
                                    font-size: 12px;

                                    position: absolute;
                                    top: 25px;
                                    left: 11px;

                                    content: '位';
                                }
                            }
                        }



                        .salebllon //セール割引％

                            {
                            position: absolute;
                            top: -15px;
                            left: -15px;

                            width: 75px;
                            height: 75px;

                            border-radius: 50%;
                            background: #e4690a;

                            @media only screen and (max-width: 768px) {
                                width: 55px;
                                height: 55px;
                            }

                            span {
                                font-size: 20px;
                                font-weight: 700;

                                position: absolute;
                                top: 11px;
                                left: 12px;

                                color: #fff;

                                @media only screen and (max-width: 768px) {
                                    top: 2px;
                                    left: 2px;
                                }

                                &:before {
                                    font-size: 12px;

                                    position: absolute;
                                    top: 10px;
                                    left: 27px;

                                    content: '％';
                                }

                                &:after {
                                    font-size: 12px;

                                    position: absolute;
                                    top: 25px;
                                    left: 8px;

                                    content: 'OFF';
                                }
                            }
                        }

                        .top {
                            height: 65px;
                            margin: 15px 0 7px;

                            p {
                                font-size: 12px;
                                font-weight: 500;
                                line-height: 1em;

                                margin: 5px 0 0;

                                @media only screen and (max-width: 768px) {
                                    padding: 0;
                                }

                                &.local {
                                    line-height: 15px;

                                    overflow: hidden;

                                    height: 30px;

                                    text-align: center;

                                    @media only screen and (max-width: 768px) {
                                        font-size: 2.8vw;
                                        font-weight: 500;
                                        line-height: 3.5vw;

                                        position: relative;

                                        overflow: hidden;

                                        height: 6.7vw;

                                        text-align: center;
                                    }
                                }

                                &.title {
                                    line-height: 15px;

                                    overflow: hidden;

                                    height: 30px;

                                    text-align: center;
                                }
                            }
                        }

                        .btm {
                            height: 95px;
                            margin: 0 0 20px;

                            p {
                                font-size: 12px;
                                font-weight: 500;

                                margin: 0;

                                @media only screen and (max-width: 768px) {
                                    padding: 0;
                                }

                                &.usually {
                                    font-size: 11px;
                                    font-weight: 300;
                                    line-height: 11px;

                                    width: 100%;
                                    height: 11px;
                                    margin: 0;

                                    text-align: center;
                                    /* display: none; */
                                    letter-spacing: 0;

                                    @media only screen and (max-width: 768px) {
                                        font-size: 9px;

                                        height: 18px;
                                    }

                                    span {
                                        font-size: .8em;
                                    }
                                }

                                &.price {
                                    font-size: 15px;
                                    font-weight: bold;

                                    width: 100%;

                                    text-align: center;

                                    color: #cb4747;

                                    span {
                                        font-size: .8em;
                                    }
                                }

                                &.itemtxt {
                                    font-size: 12px;
                                    line-height: 18px;

                                    display: -webkit-box;
                                    overflow: hidden;

                                    margin: 5px 0 12px 0;

                                    text-align: left;
                                    text-overflow: ellipsis;

                                    color: #555;

                                    -o-text-overflow: ellipsis;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 3;
                                }
                            }
                        }
                    }

                    &.rank {
                        li {
                            .rankbllon {
                                display: block; //rankクラスが付いているときだけランキング表示
                            }
                        }
                    }
                }

                &.saleitem-1 //PC1列・SP1列

                    {
                    width: 90%;
                    margin: 0 auto;

                    li {
                        position: relative;

                        width: 500px;
                        margin: 0 auto 60px;

                        @media only screen and (max-width: 768px) {
                            position: relative;

                            width: 80vw;
                            margin: 0 auto 12vw;
                        }


                        a {
                            display: block;

                            width: 100%;

                            text-decoration: none;

                            color: #141414;
                        }

                        figure {
                            margin: 1em 0;
                        }

                        img {
                            width: 100%;
                            margin: 0 auto 5px;
                        }

                        .rankbllon //ランキング入り

                            {
                            font-size: 40px;
                            /* margin: 0 auto; */
                            font-weight: bold;

                            position: absolute;
                            top: 445px;
                            left: -10px;

                            display: none; //rankクラスがついていないとき

                            width: 60px;
                            height: 60px;

                            color: #fff;
                            background: #9c7f12;

                            @media only screen and (max-width: 768px) {
                                top: 62vw;
                            }

                            span {
                                font-size: 26px;
                                font-weight: 700;

                                position: absolute;
                                left: -3px;

                                display: block;

                                width: 100%;

                                text-align: center;

                                color: #fff;

                                &:after {
                                    font-size: 12px;

                                    position: absolute;
                                    top: 35px;
                                    left: 21px;

                                    content: '位';

                                }
                            }
                        }



                        .salebllon //セール割引％

                            {
                            position: absolute;
                            top: -20px;
                            left: -50px;

                            width: 100px;
                            height: 100px;

                            border-radius: 50%;
                            background: #e4690a;

                            @media only screen and (max-width: 768px) {
                                left: -30px;
                            }

                            span {
                                font-size: 42px;
                                font-weight: 700;

                                position: absolute;
                                top: 3px;
                                left: 3px;

                                color: #fff;

                                &:before {
                                    font-size: 20px;

                                    position: absolute;
                                    top: 24px;
                                    left: 58px;

                                    content: '％';
                                }

                                &:after {
                                    font-size: 24px;

                                    position: absolute;
                                    top: 50px;
                                    left: 16px;

                                    content: 'OFF';
                                }
                            }
                        }

                        .top {
                            height: 65px;
                            margin: 15px 0 7px;

                            p {
                                font-size: 12px;
                                font-weight: 500;
                                line-height: 1em;

                                margin: 5px 0 0;

                                @media only screen and (max-width: 768px) {
                                    padding: 0;
                                }

                                &.local {
                                    line-height: 15px;

                                    overflow: hidden;

                                    height: 30px;

                                    text-align: center;

                                    @media only screen and (max-width: 768px) {
                                        font-size: 2.8vw;
                                        font-weight: 500;
                                        line-height: 3.5vw;

                                        position: relative;

                                        overflow: hidden;

                                        height: 6.7vw;

                                        text-align: center;
                                    }
                                }

                                &.title {
                                    line-height: 15px;

                                    overflow: hidden;

                                    height: 30px;

                                    text-align: center;
                                }
                            }
                        }

                        .btm {
                            height: 95px;
                            margin: 0 0 20px;

                            p {
                                font-size: 12px;
                                font-weight: 500;

                                margin: 0;

                                @media only screen and (max-width: 768px) {
                                    padding: 0;
                                }

                                &.usually {
                                    font-size: 11px;
                                    font-weight: 300;
                                    line-height: 11px;

                                    width: 100%;
                                    height: 11px;
                                    margin: 0;

                                    text-align: center;
                                    /* display: none; */
                                    letter-spacing: 0;

                                    @media only screen and (max-width: 768px) {
                                        font-size: 9px;

                                        height: 18px;
                                    }

                                    span {
                                        font-size: .8em;
                                    }
                                }

                                &.price {
                                    font-size: 15px;
                                    font-weight: bold;

                                    width: 100%;

                                    text-align: center;

                                    color: #cb4747;

                                    span {
                                        font-size: .8em;
                                    }
                                }

                                &.itemtxt {
                                    font-size: 12px;
                                    line-height: 18px;

                                    display: -webkit-box;
                                    overflow: hidden;

                                    margin: 5px 0 12px 0;

                                    text-align: left;
                                    text-overflow: ellipsis;

                                    color: #555;

                                    -o-text-overflow: ellipsis;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 3;
                                }
                            }
                        }
                    }

                    &.rank {
                        li {
                            .rankbllon {
                                display: block; //rankクラスが付いているときだけランキング表示
                            }
                        }
                    }
                }
            }
        }



        /*特集ページ共通のスタイルここまで*/

        /* スーパーセール特集ページ ここから */
        &.supersale{
            .main{
                background-color:#fff;
            }
        }
        /* スーパーセール特集ページ ここまで */
    }