/* IMPORT RESET */
@import"../../styleguide/_scss/styleguide.scss";
@import"../../frameworks/css/responsive.gs.24col.css";
@import "sprite.scss";
@import "sprite-r.scss";
$line : 1px solid $sbc01;

header {
    text-align: left;
    background: $bc;
    height: 400px;
    width: 100%;
}
.bghack {
    z-index : -1;
    background-image : url('https://image.wowma.jp/43748372/gold/dentouhonpo/info/img/subpage_bglp.jpg');
    background-repeat : repeat;
    background-size : 70px 79px;
    position : fixed;
    top : 0;
    left : 0;
    right : 0;
    bottom : 0;
}

/* fax_style */
#guideContents .mainContents .section div.fax_order {
    background-image: url(../img/sprites/spritesheet.png);
    background-position:-1265px -519px ;
    width: 202px;
    height: 27px;
}

#Fax_download{
    width:100%;
    text-align:center;
}

.fax_img{
    width:100%;
    height:auto;
}

#fax_num{
    font-weight:bold;
    font-size:1.5em;
}



.comp{
    background-image : url('https://image.wowma.jp/43748372/gold/dentouhonpo/info/img/subpage_bglp_02.jpg');
}

.gform{
    overflow: hidden;
    width: 654px;
    height: 820px;
    border-bottom: 1px solid #bbb;
}
.gform_faq{
    overflow: hidden;
    width: 920px;
    height: 900px;
    border-bottom: 1px solid #bbb;
}


article {
    background: #fff;
}

aside {
    background: #fff;
}

footer {
    background: #fff;
}


/* PC用設定 */
header {
    .nav {
        display: none;
    }
    iframe {
        margin: 0 auto;
        display: block;
        width: 100%;
        height: 100%;
    }
}

/* トップへ戻る */
#pageTop{
    background:$acc;
    border-radius:2px;
    color:$bc;
    padding:6px 10px;
    position:fixed;
    bottom:20px;
    right:20px;
    @include anm(0.25s);
    @include fsize(12,1);
    text-decoration: none;
}
#pageTop:hover{
    background:$mc;
}

/* 章ごとの目次へ戻る */
a.return{
    text-align: right;
    @include fsize(12,1.5);
    display: none;
    display: block\9;
}

#guideContents{
    background-color: $bc;
    max-width: 990px;
    padding: 0 0 120px;
    margin:0 auto;
    overflow: hidden;
    .compinfomation{
        padding: 40px 0 0;
        .compInfo{
            @include sprite($guide_compinfo);
            margin: 0 5%;
            float: left;
        }
        .signImg{
            @include sprite($guide_sign);
            float: right;
            display: block;
        }
        p.infomation{
            margin: 0 5% 0 0;
            display: block;
            float: left;
        }
        p.sign{
            clear: both;
            display: block;
            text-align: right;
            margin: 0 10%;
            @include fsize(12,2.5);
        }
        hr{
            width: 90%;
            border: none;
            border-bottom: 1px dashed $mc;
            margin: 40px auto;
        }
    }
    .guideLogo{
        /*@include sprite($guide_title);*/
        margin: 60px auto;
        h1{
            text-align:center;
        }
    }
    .noshiLogo{
        @include sprite($noshi_title);
        margin: 60px auto;
        h1{
            text-indent: -9999px;
        }
    }
    .faqLogo{
        margin: 60px auto;
        h1{
            text-align:center;
        }
    }

    .aside{
        float: left;
    }
    
    #ieMenu{
        width: 20%\9;
    }
    .menu{
        padding: 0 0 0 16px\9;
        padding: 0 0 0 1rem;

        -moz-box-sizing: border-box\9;
        -ms-box-sizing: border-box\9;
        box-sizing: border-box\9;
        /* IE7対策 */
        *behavior: url(../../frameworks/js/boxsizing.htc);

        .contactBtn{
            @include rad(4,4,4,4);
            width: 166px;
            height: 30px;
            background-color: $mc;
            margin: 10px 0 0;
            a{
                width: 100%;
                display: block;
                text-decoration: none;
                color: $bc;
                text-align: center;
                padding: 9px 10px 10px;
                @include fsize(14, 1.0);
                span{
                    text-decoration: underline;
                }
            }
        }

        .menuLogo{
            h2{
                text-align: center;
                background:#e84925;
                color:#fff;
                padding:10px;
                line-height:1em;
            }
        }
        .menuPerson{
            /*@include sprite($guide_menu_person);*/
        }
        .menuCompany{
            @include sprite($guide_menu_company);
        }
        .compLink{
            @include sprite($guide_comp);
            h3{
                text-indent: -9999px;
                a{
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        ul.noshi{
            overflow: hidden;
            margin: 0 0 40px;
            width: 100%\9;
            li{
                @include sizing(20%);
                margin: 20px 0 0;
                float: left;
                &.event{
                    @include sizing(40%);
                    dd{
                        @include sizing(50%);
                        float: left;
                    }
                }
            }
        }
        ul{
            padding: 0 16px 16px;
            padding: 0 1rem 1rem;
            li{
                margin: 10px 0 0;
                dl{
                    dt{
                        height: 27px;
                        margin: 0 0 10px;
                        font-size:16px;
                        a{
                            width: 100%;
                            height: 17px;
                            display: block;
                            color:#000;
                            text-decoration:none;
                        }
                    }
                    dd{
                        line-height: 1.3;
                        a{
                            color: $acc;
                            text-decoration: none;
                            &:hover{
                                text-decoration: underline;
                                font-weight: normal;
                            }
                        }
                        &:before{
                            content: '・';
                            color: $sbc03;
                        }

                        .fs1 {
                            display: none;
                        }
                    }
                }
            }
        }
    }/* menu-fin */

    #faq{
        border: none;
        width: 100%\9;
    }
    article.noshi{
        .mainContents{
            border: none;
            width: 100%\9;
        }
    }
    .mainContents{
        padding: 0 16px;
        padding: 0 1rem;
        border-left:1px dashed #dfdfdf;

        float: right\9;
        float: right;
        -moz-box-sizing: border-box\9;
        -ms-box-sizing: border-box\9;
        box-sizing: border-box\9;
        /* IE7対策 */
        *behavior: url(../../frameworks/js/boxsizing.htc); 
        width: 80%\9;
        .section{
            margin: 0 0 40px;
            span{
                display: block;
                float: left;
                /*@include sprite($guide_point);*/
            }
            div{
                margin: 0 0 0 30px;
                h2{
                    text-indent: 0px;
                }
            }
            .contents{
                h3{
                    margin: 24px 0;
                    margin: 1.5em 0;
                }
                h4{
                    text-indent: 1em;
                }
                p{

                    a{
                        &.otherLinks{
                            font-weight: bold;
                            background-color: $mc;
                            color: #fff;
                            padding: 6px 12px;
                            text-decoration: none;
                            clear: both;
                        }
                    }
                }
                ol{
                    list-style-position: inside;
                    border-left: 3px solid $sbc03;
                    padding: 0 8px;
                    padding: 0 .5rem;
                    margin: 0 16px;
                    margin: 0 1rem;
                }
                ul{
                    padding: 0 8px;
                    margin: 0 16px;
                    li:before{
                        content: '・';
                        color: $sbc03;
                    }
                    &.itemList{
                        text-indent: 0;
                        overflow: hidden;
                        display: block;
                        li{
                            float: left;
                            width: 31%;
                            margin: 1%;
                            display: block;
                            img{
                                width: 100%;
                                margin: 0;
                            }
                            p{
                                text-align: center;
                                padding: 8px 0;
                                padding: .5rem 0;
                            }
                            &:before{
                                content: none;
                            }
                        }
                    }
                    &.careful{
                        padding: 8px 8px 8px 24px;
                        padding:.5rem .5rem .5rem 1.5rem;
                        list-style-type: none;
                        li{
                            text-indent: -16px;
                            text-indent: -1rem;
                            padding-left: 16px;
                            padding-left: 1rem;
                            &:before{
                                content: '';
                                display: block;
                                float: left;
                                position: relative;
                                left: -25px;
                                top: 5px;
                                @include sprite($guide_li);
                            }
                        }
                    }
                }
                p{
                    padding:0 40px;
                    padding:0 2.5em;
                    &.center{
                        text-align: center;
                        img{
                            border:1px solid $sbc01;
                        }
                    }
                }
                strong{
                    padding:0 32px;
                    padding:0 2em;
                    display: block;
                }
                table{
                    margin: 0 auto;
                    width: 97%;
                    img{
                        width: 100%;
                        margin: 0;
                    }
                    &.delivery{
                        tr:first-child{
                            td:first-child{
                                border-top:none;
                                border-left: none; 
                            }
                        }
                    }
                    &.wrap{
                        @include sizing(100%);
                        tr{
                            td{
                                padding: 8px 4px;
                                padding: .5rem .2rem;
                                text-align: center;
                            }
                            td.wrapImage{
                                padding: 0;
                                margin: 0;
                                @include sizing(30%);
                                p{
                                    padding: 0;
                                    img{
                                        max-width: 100%;
                                        margin: 0;
                                        padding:0;
                                    }
                                }
                            }
                        }
                    }
                    &.box{
                        tr{
                            td{
                                width: 30%;
                            }
                        }
                    }
                    &.name{
                        tr{
                            td{
                                width: 50%;
                                img{
                                    width: 100%;
                                }
                            }
                        }
                    }
                    tr{
                        &.return{
                            background-color: $qbc;
                        }
                        .minImg{
                            width: 30%;
                            img{
                                width:100%;
                            }
                        }
                        th{
                            background-color: $mc;
                            color:$bc;
                            text-align: center;
                            @include fsize(14,2.5);
                            border-left: 1px solid $bc;
                            &:first-child{
                                border: none;
                            }
                        }
                    }
                    tr.center{
                        text-align: center;
                    }
                    strong{
                        padding: 0;
                    }
                    p{
                        text-align: center;
                        padding: 0;
                        @include fsize(14,1.4);
                        font-weight: bold;
                    }
                }
                .single img{
                    width: 90%;
                    display: block;
                    margin: 0 auto;
                }
                @media only screen and (max-width: 768px) {
                    .single{
                        &.payment{
                            width: 100%;
                            padding: 0;
                            p{
                                padding: 0;
                                img{
                                    width: 100%;
                                }
                            }
                        }
                    }   
                }
                .half img{
                    width: 50%;
                }
                .quarter img{
                    width: 25%;
                }
                .third img{
                    width: 33.333%;
                }
                .threequarter img{
                    width: 75%;
                }
                i.question{
                    color: $sbc02;
                    @include fsize(16, 2);
                }
                i.answer{
                    color: $sbc01;
                    @include fsize(16, 2);
                }
                div{
                    position: relative;
                    &.guide_etcop{
                        margin: 32px;
                        margin: 2rem;
                        @include sprite($guide_etcop);
                        blockquote{
                            position: absolute;
                            left: 140px;
                            top: 80px;
                        }
                    }
                    &.guide_parts{
                        margin: 32px;
                        margin: 2rem;
                        @include sprite($guide_parts);
                    }
                    &.guide_wrapop{
                        margin: 32px;
                        margin: 2rem;
                        @include sprite($guide_wrapop);
                    }
                    &.guide_wrapselect{
                        margin: 32px;
                        margin: 2rem;
                        @include sprite($guide_wrapselect);
                    }
                    &.guide_ribbonselect{
                        margin: 32px;
                        margin: 2rem;
                        @include sprite($guide_ribbonselect);
                    }
                    &.guide_timeop{
                        margin: 32px;
                        margin: 2rem;
                        @include sprite($guide_timeop);
                    }
                    &.guide_timeselect{
                        margin: 16px 32px;
                        margin: 1rem 2rem;
                        @include sprite($guide_timeselect);
                    }
                    &.guide_noshi_select{
                        margin: 32px;
                        margin: 2rem;
                        @include r-sprite($guide_noshi_select,1.2);
                    }
                    &.guide_noshiop{
                        margin: 32px;
                        margin: 2rem;
                        @include sprite($guide_noshiop);
                    }
                    &.guide_onetwo{
                        margin: 32px;
                        margin: 2rem;
                        @include sprite($guide_onetwo);
                    }
                    &.guide_flow{
                        margin: 32px;
                        margin: 2rem;
                        @include sprite($guide_flow);
                    }
                    &.guide_paperop{
                        margin: 32px;
                        margin: 2rem;
                        @include sprite($guide_paperop);
                    }
                    &.guide_checkop{
                        margin: 32px;
                        margin: 2rem;
                        @include sprite($guide_checkop);
                    }
                    /* 直送サービス案内 */
                    &.guide_deliop{
                        margin: 32px;
                        margin: 2rem;
                        @include sprite($guide_deliop);
                    }
                    &.guide_deliform{
                        margin: 32px;
                        margin: 2rem;
                        @include sprite($guide_deliform);
                    }
                    blockquote{
                        display: inline-block;
                        font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
                        color: $mc;
                        width: auto;
                        @include fsize(16,1.5);
                    }
                }

                div{
                    @include sizing(100%);
                    padding: 16px;
                    padding: 1rem;
                    margin: 0;
                    overflow: hidden;
                    p{
                        padding: 0 0 0 16px;
                        padding: 0 0 0 1rem;
                    }
                    .serviceleftInfo{
                        float: left;
                        padding: 0;
                        margin: 0;
                        @include sizing(30%);
                        img{
                            max-width:100%;
                            margin: 0;
                        }
                    }
                    .servicerightInfo{
                        @include sizing(70%);
                        float: left;
                        padding: 0;
                        margin: 0;
                    }
                }
            }
        }
    }
}

@mixin addquery($point) {
    @media screen and (max-width: $point) {
        @content;
    }
}

footer{

    /* maincontents-fin */
    iframe {
        display: block;
        width: 100%;
        /* height: 3450px; */
        height: 2110px;
        margin: 0 auto;
    }
    #sp {
        display: none;
    }
}


/* タブレット端末、スマートフォン用設定 ヘッダー、フッター */
@include addquery(768px) {

    header {
        background-color: $bc;
        color: $bc;
        height: auto;
        iframe {
            display: none;
        }
        .wf .fs1 {
            font-size: 10px;
            border: 1px solid $sbc01;
            border-right: none;
            line-height: 43px;
            height: 43px;
            padding: 0;
            margin: 0 auto;
            color: $acc;
        }
        .nav {
            @include sizing(100%);
            display: block;
            height: auto;
            overflow: hidden;
            a {
                text-decoration: none;
                color: $acc;
            }
            .shopName {
                font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
                display: block;
                @include sizing(75%);
                padding: 0;
                float: left;
                margin:0;
                border-bottom: 1px solid $sbc01;
                height: 43px;
                text-indent: 0.25rem;
                font-size: 0.9rem;
                line-height: 3;
                font-weight: normal;
                background-color: #5f3f18;
                img {
                    /*width: 1.5rem;*/
                    height: 1.5rem;
                    display: block;
                    margin: 0.5rem;
                    float: left;
                }
            }
            div.menu {
                @include sizing(25%);
                float: left;
                a {
                    text-align: center;
                    display: block;
                    width: 50%;
                    float: left;
                }
            }
        }
    }
    /* header-fin */

    footer {
        iframe {
            display: none;
        }
        #sp {
            display: block;
            overflow: hidden;
            ul#itemCategory,#genreCategory,#budgetCategory {
                @include sizing(100%);
                overflow: hidden;
                li {
                    float: left;
                    width: 50%;
                    display: block;
                    border: none;
                    border-right: $line;
                    border-bottom: $line;
                    line-height: 1rem;
                    text-indent: 0.5rem;

                    a{
                        line-height: 1.6rem;
                        display: block;
                        width:80%;
                        margin: auto;
                        .wf{
                            width: auto;
                            .fs1 {
                                @include fsize(23.4,1);
                                border: none;
                                float: right;
                                line-height: 0rem;
                                padding: 0;
                                margin: 0 auto;
                                color: $mc;
                            }
                        }
                    }
                }
                li:first-child {
                    width: 100%;
                    color: $acc;
                    @include fsize(19.8,2.3);
                    padding: 0.5rem 0;
                    font-family:"Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;

                    .wf .fs1 {
                        @include fsize(21.6,1);
                        border: none;
                        float: left;
                        line-height: 3.1rem;
                        padding: 0;
                        margin: 0 0.25rem 0 0;
                        text-indent: 1rem;
                        color: $mc;
                    }
                }
                li.listWrap{
                    width: 100%;
                    a{
                        width: 40%;
                    }
                }
            }
            ul#eventCategory {
                overflow: hidden;
                background-color: $bc;
                @media only screen and (min-width: 480px) {
                    li {
                        @include sizing(50%);
                        padding: 1%;
                        display: block;
                        float: left;
                        img {
                            width: 100%;
                        }
                    }
                }
                li {
                    @include sizing(100%);
                    padding: 2% 1%;
                    display: block;
                    img {
                        max-width: 100%;
                        outline: 1px solid $sbc01;
                    }
                }
                li:first-child {
                    width: 100%;
                    color: $acc;
                    padding: 0.5rem 0;
                    @include fsize(19.8,2.3);
                    font-family:"Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
                    border-bottom: $line;
                    .wf .fs1 {
                        @include fsize(21.6,1);
                        border: none;
                        line-height: 3.1rem;
                        float: left;
                        padding: 0;
                        margin: 0 0.25rem 0 0;
                        text-indent: 1rem;
                        color: $mc;
                    }
                }
            }
        }
            /* menu */
            @media only screen and (min-width: 480px) {
                .gotoTop{
                    border-top: $line;
                }
            }
            .gotoTop {
                overflow: hidden;
                border-bottom: $line;
                border-top: none;
                background-color: $bc;
                width: 100%;
                line-height: 4.5;
                text-align: center;
                a {
                    clear: both;
                    color: $acc;
                    text-decoration: none;
                    display: block;
                    width: 100%;
                    text-align: center;
                    padding: .8rem 0 1rem;
                    .wf{
                        width: auto;
                        .fs1 {
                            @include fsize(21.6,1);
                            border: none;
                            line-height: .5rem;
                            padding: 0;
                            margin: 0 1rem;
                            color: $mc;
                        }
                    }
                    span{
                        display: block;
                        text-align: center;
                        line-height: 1.3rem;
                        font-weight: normal;

                    }
                }
            }
            ul {
                text-indent: 0;
                li {
                    @include sizing(50%);
                    display: block;
                    float: left;
                    border: $line;
                    border-top: none;
                    border-left: none;
                    padding: 10px;
                    background-color: $bc;
                    a {
                        color: $acc;
                        text-decoration: none;
                        display: block;
                        text-align: center;
                    }
                }
            }
            .info{
                li{
                    a{
                        line-height: 1.6rem;
                        display: block;
                        width:80%;
                        margin: auto;
                        .wf{
                            width: auto;
                            .fs1 {
                                @include fsize(23.4,1);
                                border: none;
                                float: right;
                                line-height: 0rem;
                                padding: 0;
                                margin: 0 auto;
                                color: $mc;
                            }
                        }
                    }
                }
            }
            address {
                background-color: $bc;
                small{
                    color: $acc;
                    font-weight: normal;
                }
                ul {
                    li {
                        @include sizing(33.3%);
                        display: block;
                        float: left;
                        border: $line;
                        border-right: none;
                        text-align: center;
                        &:first-child {
                            @include sizing(100%);
                            border-bottom: none;
                            a{
                                display: block;
                                width: 100%;
                                margin: 0 auto;
                                text-align: center;
                                .wf{
                                    width: 110px;
                                    margin: 0 auto;
                                    .fs1 {
                                        line-height: 1.5rem;
                                    }
                                }
                            }
                        }
                        &:last-child {
                            @include sizing(100%);
                            border-top: none;
                            padding: 1.5rem 1rem 1rem;
                            #label{
                                color: #aaa;
                                clear: both;
                                display: block;
                            }
                            #form{
                                float: left;
                                @include sizing(90%);
                                height: 30px;
                                border-style: none;
                                border: 1px solid $acc;
                            }
                            .wf{
                                @include sizing(10%);
                                float: left;
                                padding: 0 0 0 0.4rem;
                                position: relative;
                                .fs1 {
                                    position: relative;
                                    line-height: 2.0rem;
                                    @include fsize(25.2,1);
                                    color: $mc;
                                    #btn{
                                        position: absolute;
                                        border-style:none;
                                        width: 1rem;
                                        right: 10px;
                                        @include alpha(0);
                                        background-color: #fff;
                                    }
                                }
                            }
                        }
                        a{
                            display: block;
                            width: 100%;
                            margin: 0 auto;
                            text-align: center;
                            .wf{
                                width: 60px;
                                margin: 0 auto;
                                .fs1 {
                                    @include fsize(18,1);
                                    border: none;
                                    float: left;
                                    line-height: 0;
                                    padding: 0;
                                    margin: 0 auto;
                                    color: $mc;
                                }
                            }
                        }
                    }
                }
                p {
                    clear: both;
                    margin: 1rem 1rem 0;
                    display: block;
                    overflow: hidden;
                    &:last-child{
                        text-align: center;
                        padding: 0 0 1rem 0 ;
                    }
                    &:first-child{
                        text-align: center;
                        padding: 30px 0 10px;
                        font-size: 1.3rem;
                        font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
                    }
                }
            }
        }
    }


/* タブレット端末、スマートフォン用設定 */
@include addquery(768px) {
    .gutters .col{
        margin: 0;
    }
    #guideContents{
        clear: both;

        .compinfomation{
            .compInfo{
                margin: 20px 5%;
            }
            p.infomation{
                margin: 0 5%;
            }
            p.sign{
                margin: 0 10% 10%;
            }
            hr{
                width: 90%;
                border: none;
                border-bottom: 1px dashed $mc;
                margin: 20px auto;
            }
        }
        .guideLogo{
            /*@include sprite($guide_title);*/
            margin: 0 auto;
            h1{
            }
        }
        .noshiLogo{
            @include sprite($noshi_title);
            margin: 30px auto;
            h1{
                text-indent: -9999px;
            }
        }
        .span_6{
            width: 100%;
        }
        .span_18{
            width: 100%;
        }
        .menu{
            padding: 0 0 1rem;
            margin: 0 0 1rem;
            border: none;
            border-bottom: 1px dashed $mc;
            overflow: hidden;
            .contactBtn{
                display: none;
            }
            .menuLogo{
                display: none;
            }
            .compLink{
                display: none;
            }
            ul.noshi{
                overflow: hidden;
                margin: 0;
                li{
                    @include sizing(100%);
                    margin: 20px 0 0;
                    clear: both;
                    &.event{
                        @include sizing(100%);
                        dd{
                            @include sizing(50%);
                        }
                    }
                }
            }
            ul{
                padding: 0;
                width: 100%;
                li{
                    @include sizing(100%);
                    float: left;
                    @include marg(20,0,0,0);
                    border: none;
                    dl{
                        dt{
                            width: 100%;
                            display: block;
                            margin: 1rem auto .5rem;
                        }
                        dd{
                            line-height: 2.5;
                            width: 50%;
                            float: left;
                            border: 1px solid $sbc01;
                            padding: .2rem .2rem;
                            margin: 0;
                            overflow: hidden;
                            display: block;
                            a{
                                width: 100%;
                                display: block;
                                overflow: hidden;
                                float: left;
                                color: $acc;
                                text-decoration: none;
                                &:hover{
                                    text-decoration: none;
                                }
                                &:active{
                                    background-color: $mc;
                                    color: $bc;
                                }/* 
                                &:after{
                                    content: '>>';
                                    color: $mc;
                                    display: block;
                                    float: right;
                                    margin-right: 4%;
                                } */
                            }
                            &:nth-child(odd){
                                border-left: none;
                            }

                            &.wrap{
                                width: 100%;
                            }

                            &:before{
                                content: '';
                                clear: both;
                                zoom:1;
                            }

                            .fs1 {
                                display: block;
                                @include fsize(24,1);
                                float: right;
                                padding: 0;
                                margin: 0 auto;
                                color: $mc;
                            }
                        }
                    }

                    &:last-child{
                        dd{
                            border-left: 1px solid $sbc01;
                        }
                    }
                }
            }
        }
        /* menu-fin */

        /* 320px以下設定 */
        /* @media only screen and (max-width: 320px) { */
        /* GALAXY Note Xperia Z(UL)等 */
        @media only screen and (max-width: 540px) {
            .mainContents{
                padding: 0;
                .section{
                    span{
                        margin: 0 20px 0 0;
                    }
                    div{
                        margin: 0;
                        &.title{
                            margin: 0 0 0 30px;
                        }
                    }
                    .contents{
                        strong{
                            @include fsize(15,1.4);
                        }
                        h3{
                            margin: 1.5em 0;
                        }
                        h4{
                            padding:0 .8em;
                            text-indent: 0em;
                        }
                        ul{
                            padding: 0 .5rem 0 0;
                            margin: 0 ;
                            li:before{
                                content: '・';
                                color: $sbc03;
                            }
                            li{
                                text-indent: -0.75rem;
                                padding-left: 1.5rem;
                            }
                            &.careful{
                                width: 95%;
                                margin: 0 auto;
                                list-style-type: none;
                                li{
                                }
                            }
                        }
                        p{
                            padding:0 1em;
                            &.center{
                                text-align: center;
                            }
                        }
                        strong{
                            padding:0 .8em;
                            display: block;
                        }
                        .half img{
                            width: 100%;
                        }
                        .quarter img{
                            width: 100%;
                        }
                        .third img{
                            width: 100%;
                        }
                        .threequarter img{
                            width: 100%;
                        }
                        table{
                            tr{
                                td{
                                    padding: .5rem;
                                }
                            }
                            &.sp{
                                td:first-child{
                                    width: 40%;
                                }
                            }
                        }
                    }
                }
            }
        }
        .mainContents{
            padding: 0 1rem 0 0;
            .section{
                margin: 0 0 40px;
                span{
                    display: block;
                    float: left;
                    /*@include sprite($guide_point);*/
                }
                div{
                    margin: 0 0 0 30px;
                    h2{
                        text-indent: 0px;
                    }
                }
                .contents{
                /* 320px以下設定 */
                /* @media only screen and (max-width: 320px) */

                /* GALAXY Note Xperia Z(UL)等 */
                @media only screen and (max-width: 540px) {
                    div{
                        position: relative;
                        &.guide_etcop{
                            margin: 2rem;
                            @include r-sprite($guide_etcop,2.6);
                            blockquote{
                                @include fsize(10,1.4);
                                position: absolute;
                                left: 60px;
                                top: 30px;
                            }
                        }
                        &.guide_parts{
                            margin: 1rem;
                            @include r-sprite($guide_parts,1.6);
                        }
                        &.guide_timeop{
                            margin: 1rem;
                            @include r-sprite($guide_timeop,1.4);
                        }
                        &.guide_wrapop{
                            margin: 1rem;
                            @include r-sprite($guide_wrapop,1.6);
                        }
                        &.guide_wrapselect{
                            margin: 1rem;
                            @include r-sprite($guide_wrapselect,2.2);
                        }
                        &.guide_ribbonselect{
                            margin: 1rem;
                            @include r-sprite($guide_ribbonselect,2.2);
                        }
                        &.guide_timeselect{
                            margin: 1rem;
                            @include r-sprite($guide_timeselect,2.2);
                        }
                        &.guide_noshi_select{
                            margin: 1rem;
                            @include r-sprite($guide_noshi_select,2.6);
                        }
                        &.guide_noshiop{
                            margin: 1rem;
                            @include r-sprite($guide_noshiop,2.2);
                        }
                        &.guide_onetwo{
                            margin: 1rem;
                            @include r-sprite($guide_onetwo,2.2);
                        }
                        &.guide_flow{
                            margin: 1rem;
                            @include r-sprite($guide_flow,1.6);
                        }
                        &.guide_paperop{
                            margin: 1rem;
                            @include r-sprite($guide_paperop,2.6);
                        }
                        &.guide_checkop{
                            margin: 1rem;
                            @include r-sprite($guide_checkop,1.6);
                        }
                        /* 直送サービス案内 */
                        &.guide_deliop{
                            margin: 32px;
                            margin: 2rem;
                            @include r-sprite($guide_deliop,1.8);
                        }
                        &.guide_deliform{
                            margin: 32px;
                            margin: 2rem;
                            @include r-sprite($guide_deliform,2.6);
                        }
                        blockquote{
                            display: inline-block;
                            font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
                            color: $mc;
                            width: auto;
                            @include fsize(16,1.5);
                        }
                    }
                }/* 320px用設定-fin */
            }
        }
    }
}
}



@media only screen and (max-width: 768px) {
    #contactArea {
        position: relative;
        width: 100%;
        padding: calc(1230 / 410 * 100%) 0 0;
    }
    .gform {
        position: absolute;
        top: 0;
        left: 0;
        width: 88%;
        height: 100%;
    }
}