/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$faq_title-x: 1440px;
$faq_title-y: 144px;
$faq_title-offset-x: -1440px;
$faq_title-offset-y: -144px;
$faq_title-width: 194px;
$faq_title-height: 50px;
$faq_title-total-width: 1657px;
$faq_title-total-height: 1215px;
$faq_title-image: '../img/sprites/spritesheet.png';
$faq_title: 1440px 144px -1440px -144px 194px 50px 1657px 1215px '../img/sprites/spritesheet.png';
$guide_checkop-x: 0px;
$guide_checkop-y: 1105px;
$guide_checkop-offset-x: 0px;
$guide_checkop-offset-y: -1105px;
$guide_checkop-width: 394px;
$guide_checkop-height: 110px;
$guide_checkop-total-width: 1657px;
$guide_checkop-total-height: 1215px;
$guide_checkop-image: '../img/sprites/spritesheet.png';
$guide_checkop: 0px 1105px 0px -1105px 394px 110px 1657px 1215px '../img/sprites/spritesheet.png';
$guide_comp-x: 1440px;
$guide_comp-y: 206px;
$guide_comp-offset-x: -1440px;
$guide_comp-offset-y: -206px;
$guide_comp-width: 166px;
$guide_comp-height: 48px;
$guide_comp-total-width: 1657px;
$guide_comp-total-height: 1215px;
$guide_comp-image: '../img/sprites/spritesheet.png';
$guide_comp: 1440px 206px -1440px -206px 166px 48px 1657px 1215px '../img/sprites/spritesheet.png';
$guide_compinfo-x: 1132px;
$guide_compinfo-y: 876px;
$guide_compinfo-offset-x: -1132px;
$guide_compinfo-offset-y: -876px;
$guide_compinfo-width: 83px;
$guide_compinfo-height: 83px;
$guide_compinfo-total-width: 1657px;
$guide_compinfo-total-height: 1215px;
$guide_compinfo-image: '../img/sprites/spritesheet.png';
$guide_compinfo: 1132px 876px -1132px -876px 83px 83px 1657px 1215px '../img/sprites/spritesheet.png';
$guide_deliform-x: 0px;
$guide_deliform-y: 876px;
$guide_deliform-offset-x: 0px;
$guide_deliform-offset-y: -876px;
$guide_deliform-width: 658px;
$guide_deliform-height: 219px;
$guide_deliform-total-width: 1657px;
$guide_deliform-total-height: 1215px;
$guide_deliform-image: '../img/sprites/spritesheet.png';
$guide_deliform: 0px 876px 0px -876px 658px 219px 1657px 1215px '../img/sprites/spritesheet.png';
$guide_deliop-x: 668px;
$guide_deliop-y: 876px;
$guide_deliop-offset-x: -668px;
$guide_deliop-offset-y: -876px;
$guide_deliop-width: 454px;
$guide_deliop-height: 121px;
$guide_deliop-total-width: 1657px;
$guide_deliop-total-height: 1215px;
$guide_deliop-image: '../img/sprites/spritesheet.png';
$guide_deliop: 668px 876px -668px -876px 454px 121px 1657px 1215px '../img/sprites/spritesheet.png';
$guide_delivery-x: 1383px;
$guide_delivery-y: 464px;
$guide_delivery-offset-x: -1383px;
$guide_delivery-offset-y: -464px;
$guide_delivery-width: 130px;
$guide_delivery-height: 22px;
$guide_delivery-total-width: 1657px;
$guide_delivery-total-height: 1215px;
$guide_delivery-image: '../img/sprites/spritesheet.png';
$guide_delivery: 1383px 464px -1383px -464px 130px 22px 1657px 1215px '../img/sprites/spritesheet.png';
$guide_etcop-x: 680px;
$guide_etcop-y: 624px;
$guide_etcop-offset-x: -680px;
$guide_etcop-offset-y: -624px;
$guide_etcop-width: 564px;
$guide_etcop-height: 206px;
$guide_etcop-total-width: 1657px;
$guide_etcop-total-height: 1215px;
$guide_etcop-image: '../img/sprites/spritesheet.png';
$guide_etcop: 680px 624px -680px -624px 564px 206px 1657px 1215px '../img/sprites/spritesheet.png';
$guide_flow-x: 617px;
$guide_flow-y: 560px;
$guide_flow-offset-x: -617px;
$guide_flow-offset-y: -560px;
$guide_flow-width: 433px;
$guide_flow-height: 42px;
$guide_flow-total-width: 1657px;
$guide_flow-total-height: 1215px;
$guide_flow-image: '../img/sprites/spritesheet.png';
$guide_flow: 617px 560px -617px -560px 433px 42px 1657px 1215px '../img/sprites/spritesheet.png';
$guide_gift-x: 1581px;
$guide_gift-y: 464px;
$guide_gift-offset-x: -1581px;
$guide_gift-offset-y: -464px;
$guide_gift-width: 73px;
$guide_gift-height: 21px;
$guide_gift-total-width: 1657px;
$guide_gift-total-height: 1215px;
$guide_gift-image: '../img/sprites/spritesheet.png';
$guide_gift: 1581px 464px -1581px -464px 73px 21px 1657px 1215px '../img/sprites/spritesheet.png';
$guide_guara-x: 1601px;
$guide_guara-y: 377px;
$guide_guara-offset-x: -1601px;
$guide_guara-offset-y: -377px;
$guide_guara-width: 49px;
$guide_guara-height: 22px;
$guide_guara-total-width: 1657px;
$guide_guara-total-height: 1215px;
$guide_guara-image: '../img/sprites/spritesheet.png';
$guide_guara: 1601px 377px -1601px -377px 49px 22px 1657px 1215px '../img/sprites/spritesheet.png';
$guide_item-x: 1543px;
$guide_item-y: 377px;
$guide_item-offset-x: -1543px;
$guide_item-offset-y: -377px;
$guide_item-width: 48px;
$guide_item-height: 22px;
$guide_item-total-width: 1657px;
$guide_item-total-height: 1215px;
$guide_item-image: '../img/sprites/spritesheet.png';
$guide_item: 1543px 377px -1543px -377px 48px 22px 1657px 1215px '../img/sprites/spritesheet.png';
$guide_li-x: 1637px;
$guide_li-y: 79px;
$guide_li-offset-x: -1637px;
$guide_li-offset-y: -79px;
$guide_li-width: 12px;
$guide_li-height: 12px;
$guide_li-total-width: 1657px;
$guide_li-total-height: 1215px;
$guide_li-image: '../img/sprites/spritesheet.png';
$guide_li: 1637px 79px -1637px -79px 12px 12px 1657px 1215px '../img/sprites/spritesheet.png';
$guide_menu_company-x: 1264px;
$guide_menu_company-y: 144px;
$guide_menu_company-offset-x: -1264px;
$guide_menu_company-offset-y: -144px;
$guide_menu_company-width: 166px;
$guide_menu_company-height: 52px;
$guide_menu_company-total-width: 1657px;
$guide_menu_company-total-height: 1215px;
$guide_menu_company-image: '../img/sprites/spritesheet.png';
$guide_menu_company: 1264px 144px -1264px -144px 166px 52px 1657px 1215px '../img/sprites/spritesheet.png';
$guide_menu_person-x: 1461px;
$guide_menu_person-y: 79px;
$guide_menu_person-offset-x: -1461px;
$guide_menu_person-offset-y: -79px;
$guide_menu_person-width: 166px;
$guide_menu_person-height: 52px;
$guide_menu_person-total-width: 1657px;
$guide_menu_person-total-height: 1215px;
$guide_menu_person-image: '../img/sprites/spritesheet.png';
$guide_menu_person: 1461px 79px -1461px -79px 166px 52px 1657px 1215px '../img/sprites/spritesheet.png';
$guide_name-x: 1579px;
$guide_name-y: 264px;
$guide_name-offset-x: -1579px;
$guide_name-offset-y: -264px;
$guide_name-width: 76px;
$guide_name-height: 22px;
$guide_name-total-width: 1657px;
$guide_name-total-height: 1215px;
$guide_name-image: '../img/sprites/spritesheet.png';
$guide_name: 1579px 264px -1579px -264px 76px 22px 1657px 1215px '../img/sprites/spritesheet.png';
$guide_noshi_select-x: 0px;
$guide_noshi_select-y: 624px;
$guide_noshi_select-offset-x: 0px;
$guide_noshi_select-offset-y: -624px;
$guide_noshi_select-width: 670px;
$guide_noshi_select-height: 242px;
$guide_noshi_select-total-width: 1657px;
$guide_noshi_select-total-height: 1215px;
$guide_noshi_select-image: '../img/sprites/spritesheet.png';
$guide_noshi_select: 0px 624px 0px -624px 670px 242px 1657px 1215px '../img/sprites/spritesheet.png';
$guide_noshiop-x: 617px;
$guide_noshiop-y: 329px;
$guide_noshiop-offset-x: -617px;
$guide_noshiop-offset-y: -329px;
$guide_noshiop-width: 626px;
$guide_noshiop-height: 221px;
$guide_noshiop-total-width: 1657px;
$guide_noshiop-total-height: 1215px;
$guide_noshiop-image: '../img/sprites/spritesheet.png';
$guide_noshiop: 617px 329px -617px -329px 626px 221px 1657px 1215px '../img/sprites/spritesheet.png';
$guide_onetwo-x: 404px;
$guide_onetwo-y: 1105px;
$guide_onetwo-offset-x: -404px;
$guide_onetwo-offset-y: -1105px;
$guide_onetwo-width: 589px;
$guide_onetwo-height: 96px;
$guide_onetwo-total-width: 1657px;
$guide_onetwo-total-height: 1215px;
$guide_onetwo-image: '../img/sprites/spritesheet.png';
$guide_onetwo: 404px 1105px -404px -1105px 589px 96px 1657px 1215px '../img/sprites/spritesheet.png';
$guide_order-x: 1501px;
$guide_order-y: 321px;
$guide_order-offset-x: -1501px;
$guide_order-offset-y: -321px;
$guide_order-width: 103px;
$guide_order-height: 22px;
$guide_order-total-width: 1657px;
$guide_order-total-height: 1215px;
$guide_order-image: '../img/sprites/spritesheet.png';
$guide_order: 1501px 321px -1501px -321px 103px 22px 1657px 1215px '../img/sprites/spritesheet.png';
$guide_oversea-x: 1264px;
$guide_oversea-y: 432px;
$guide_oversea-offset-x: -1264px;
$guide_oversea-offset-y: -432px;
$guide_oversea-width: 125px;
$guide_oversea-height: 22px;
$guide_oversea-total-width: 1657px;
$guide_oversea-total-height: 1215px;
$guide_oversea-image: '../img/sprites/spritesheet.png';
$guide_oversea: 1264px 432px -1264px -432px 125px 22px 1657px 1215px '../img/sprites/spritesheet.png';
$guide_paper-x: 1399px;
$guide_paper-y: 432px;
$guide_paper-offset-x: -1399px;
$guide_paper-offset-y: -432px;
$guide_paper-width: 104px;
$guide_paper-height: 22px;
$guide_paper-total-width: 1657px;
$guide_paper-total-height: 1215px;
$guide_paper-image: '../img/sprites/spritesheet.png';
$guide_paper: 1399px 432px -1399px -432px 104px 22px 1657px 1215px '../img/sprites/spritesheet.png';
$guide_paperop-x: 668px;
$guide_paperop-y: 1007px;
$guide_paperop-offset-x: -668px;
$guide_paperop-offset-y: -1007px;
$guide_paperop-width: 311px;
$guide_paperop-height: 81px;
$guide_paperop-total-width: 1657px;
$guide_paperop-total-height: 1215px;
$guide_paperop-image: '../img/sprites/spritesheet.png';
$guide_paperop: 668px 1007px -668px -1007px 311px 81px 1657px 1215px '../img/sprites/spritesheet.png';
$guide_parts-x: 1264px;
$guide_parts-y: 321px;
$guide_parts-offset-x: -1264px;
$guide_parts-offset-y: -321px;
$guide_parts-width: 227px;
$guide_parts-height: 46px;
$guide_parts-total-width: 1657px;
$guide_parts-total-height: 1215px;
$guide_parts-image: '../img/sprites/spritesheet.png';
$guide_parts: 1264px 321px -1264px -321px 227px 46px 1657px 1215px '../img/sprites/spritesheet.png';
$guide_pay-x: 1513px;
$guide_pay-y: 432px;
$guide_pay-offset-x: -1513px;
$guide_pay-offset-y: -432px;
$guide_pay-width: 101px;
$guide_pay-height: 22px;
$guide_pay-total-width: 1657px;
$guide_pay-total-height: 1215px;
$guide_pay-image: '../img/sprites/spritesheet.png';
$guide_pay: 1513px 432px -1513px -432px 101px 22px 1657px 1215px '../img/sprites/spritesheet.png';
$guide_person-x: 1264px;
$guide_person-y: 206px;
$guide_person-offset-x: -1264px;
$guide_person-offset-y: -206px;
$guide_person-width: 166px;
$guide_person-height: 48px;
$guide_person-total-width: 1657px;
$guide_person-total-height: 1215px;
$guide_person-image: '../img/sprites/spritesheet.png';
$guide_person: 1264px 206px -1264px -206px 166px 48px 1657px 1215px '../img/sprites/spritesheet.png';
$guide_point-x: 1616px;
$guide_point-y: 206px;
$guide_point-offset-x: -1616px;
$guide_point-offset-y: -206px;
$guide_point-width: 26px;
$guide_point-height: 26px;
$guide_point-total-width: 1657px;
$guide_point-total-height: 1215px;
$guide_point-image: '../img/sprites/spritesheet.png';
$guide_point: 1616px 206px -1616px -206px 26px 26px 1657px 1215px '../img/sprites/spritesheet.png';
$guide_ribbonselect-x: 0px;
$guide_ribbonselect-y: 329px;
$guide_ribbonselect-offset-x: 0px;
$guide_ribbonselect-offset-y: -329px;
$guide_ribbonselect-width: 607px;
$guide_ribbonselect-height: 285px;
$guide_ribbonselect-total-width: 1657px;
$guide_ribbonselect-total-height: 1215px;
$guide_ribbonselect-image: '../img/sprites/spritesheet.png';
$guide_ribbonselect: 0px 329px 0px -329px 607px 285px 1657px 1215px '../img/sprites/spritesheet.png';
$guide_sign-x: 1461px;
$guide_sign-y: 264px;
$guide_sign-offset-x: -1461px;
$guide_sign-offset-y: -264px;
$guide_sign-width: 108px;
$guide_sign-height: 29px;
$guide_sign-total-width: 1657px;
$guide_sign-total-height: 1215px;
$guide_sign-image: '../img/sprites/spritesheet.png';
$guide_sign: 1461px 264px -1461px -264px 108px 29px 1657px 1215px '../img/sprites/spritesheet.png';
$guide_timeop-x: 1264px;
$guide_timeop-y: 0px;
$guide_timeop-offset-x: -1264px;
$guide_timeop-offset-y: 0px;
$guide_timeop-width: 393px;
$guide_timeop-height: 69px;
$guide_timeop-total-width: 1657px;
$guide_timeop-total-height: 1215px;
$guide_timeop-image: '../img/sprites/spritesheet.png';
$guide_timeop: 1264px 0px -1264px 0px 393px 69px 1657px 1215px '../img/sprites/spritesheet.png';
$guide_timeselect-x: 0px;
$guide_timeselect-y: 0px;
$guide_timeselect-offset-x: 0px;
$guide_timeselect-offset-y: 0px;
$guide_timeselect-width: 611px;
$guide_timeselect-height: 319px;
$guide_timeselect-total-width: 1657px;
$guide_timeselect-total-height: 1215px;
$guide_timeselect-image: '../img/sprites/spritesheet.png';
$guide_timeselect: 0px 0px 0px 0px 611px 319px 1657px 1215px '../img/sprites/spritesheet.png';
$guide_title-x: 1264px;
$guide_title-y: 79px;
$guide_title-offset-x: -1264px;
$guide_title-offset-y: -79px;
$guide_title-width: 187px;
$guide_title-height: 55px;
$guide_title-total-width: 1657px;
$guide_title-total-height: 1215px;
$guide_title-image: '../img/sprites/spritesheet.png';
$guide_title: 1264px 79px -1264px -79px 187px 55px 1657px 1215px '../img/sprites/spritesheet.png';
$guide_wrap-x: 1264px;
$guide_wrap-y: 464px;
$guide_wrap-offset-x: -1264px;
$guide_wrap-offset-y: -464px;
$guide_wrap-width: 49px;
$guide_wrap-height: 22px;
$guide_wrap-total-width: 1657px;
$guide_wrap-total-height: 1215px;
$guide_wrap-image: '../img/sprites/spritesheet.png';
$guide_wrap: 1264px 464px -1264px -464px 49px 22px 1657px 1215px '../img/sprites/spritesheet.png';
$guide_wrapop-x: 1264px;
$guide_wrapop-y: 377px;
$guide_wrapop-offset-x: -1264px;
$guide_wrapop-offset-y: -377px;
$guide_wrapop-width: 269px;
$guide_wrapop-height: 45px;
$guide_wrapop-total-width: 1657px;
$guide_wrapop-total-height: 1215px;
$guide_wrapop-image: '../img/sprites/spritesheet.png';
$guide_wrapop: 1264px 377px -1264px -377px 269px 45px 1657px 1215px '../img/sprites/spritesheet.png';
$guide_wrapselect-x: 621px;
$guide_wrapselect-y: 0px;
$guide_wrapselect-offset-x: -621px;
$guide_wrapselect-offset-y: 0px;
$guide_wrapselect-width: 633px;
$guide_wrapselect-height: 318px;
$guide_wrapselect-total-width: 1657px;
$guide_wrapselect-total-height: 1215px;
$guide_wrapselect-image: '../img/sprites/spritesheet.png';
$guide_wrapselect: 621px 0px -621px 0px 633px 318px 1657px 1215px '../img/sprites/spritesheet.png';
$noshi_condolence-x: 1523px;
$noshi_condolence-y: 464px;
$noshi_condolence-offset-x: -1523px;
$noshi_condolence-offset-y: -464px;
$noshi_condolence-width: 48px;
$noshi_condolence-height: 22px;
$noshi_condolence-total-width: 1657px;
$noshi_condolence-total-height: 1215px;
$noshi_condolence-image: '../img/sprites/spritesheet.png';
$noshi_condolence: 1523px 464px -1523px -464px 48px 22px 1657px 1215px '../img/sprites/spritesheet.png';
$noshi_event-x: 1264px;
$noshi_event-y: 496px;
$noshi_event-offset-x: -1264px;
$noshi_event-offset-y: -496px;
$noshi_event-width: 154px;
$noshi_event-height: 22px;
$noshi_event-total-width: 1657px;
$noshi_event-total-height: 1215px;
$noshi_event-image: '../img/sprites/spritesheet.png';
$noshi_event: 1264px 496px -1264px -496px 154px 22px 1657px 1215px '../img/sprites/spritesheet.png';
$noshi_info-x: 1428px;
$noshi_info-y: 496px;
$noshi_info-offset-x: -1428px;
$noshi_info-offset-y: -496px;
$noshi_info-width: 155px;
$noshi_info-height: 22px;
$noshi_info-total-width: 1657px;
$noshi_info-total-height: 1215px;
$noshi_info-image: '../img/sprites/spritesheet.png';
$noshi_info: 1428px 496px -1428px -496px 155px 22px 1657px 1215px '../img/sprites/spritesheet.png';
$noshi_occation-x: 1323px;
$noshi_occation-y: 464px;
$noshi_occation-offset-x: -1323px;
$noshi_occation-offset-y: -464px;
$noshi_occation-width: 50px;
$noshi_occation-height: 22px;
$noshi_occation-total-width: 1657px;
$noshi_occation-total-height: 1215px;
$noshi_occation-image: '../img/sprites/spritesheet.png';
$noshi_occation: 1323px 464px -1323px -464px 50px 22px 1657px 1215px '../img/sprites/spritesheet.png';
$noshi_title-x: 1264px;
$noshi_title-y: 264px;
$noshi_title-offset-x: -1264px;
$noshi_title-offset-y: -264px;
$noshi_title-width: 187px;
$noshi_title-height: 47px;
$noshi_title-total-width: 1657px;
$noshi_title-total-height: 1215px;
$noshi_title-image: '../img/sprites/spritesheet.png';
$noshi_title: 1264px 264px -1264px -264px 187px 47px 1657px 1215px '../img/sprites/spritesheet.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
