/* IMPORT RESET */
@import"../../../rakuten/frameworks/_scss/_styleguide-genre.scss";
@import"../../../rakuten/frameworks/_scss/responsivegs12col.scss";
@import "../../../rakuten/_scss/sprite-leftnav.scss";
$line : 1px solid $sbc01;

@mixin main($url) {
    background: url($url);
    background-size:cover;
    background-position: 50% 50%;
    article{
        padding: 0;
    }
    
}

.navigation{
    @include sizing(100%);
    .navigation__title{
        width: 35px;
        position: absolute;
        left: 0;
        top: 0;
        padding: 8px 0;
        background-color: $bc;
        a{
            display: block;
            width: 100%;
            height: 100%;
            img{
                display: block;
                margin: 0 auto;
            }
        }
    }
    /* サブメニュー */
    .submenu{
        position: absolute;
        top: 0;
        @include sizing(77%);
        left: 36px;
        border: none;
        background-color:$mc;
        .submenu__cart,.submenu__guide{
            width: 29px;
            float: left;
            padding: 10px 3px 0;
            img{
                display: block;
                margin: 0 auto;
            }
        }
        .submenu__search{
            float: left;
            padding: 0;
            width: 71%;
            .submenu__search__input{
                float: left;
                display: block;
                width: 71%;
                @include fsize(0.7);
                border: none;
                padding: 4px 0;
                margin: 8px 4px 0 8px;
                -webkit-border-radius: 2px 2px 2px 2px;
                border-radius: 2px 2px 2px 2px;
            }
            .submenu__search__btn{
                background: url("../../frameworks/img/search.png") 50% 50% no-repeat;
                background-size: 22px 22px;
                display: block;
                margin: 0 auto;
                float: left;
                height: 35px;
                width: 35px;
                padding:0;
                style:none;
                border: none;
            }
        }
    }
}




a.meanmenu-reveal {
    display: none;
}

.mean-container{
    .mean-bar {
        width: 100%;
        float: left;
        position: relative;
        background: $mc;
        min-height: 40px;
        z-index: 999999;
        display: none;
        span{
            display: block;
            background: #fff;
            height: 2px;
            margin-top: 4px;

        }
    }
    .mean-nav {
        float: left;
        width: 100%;
        background: $bc;
        margin-top: 40px;
        ul {
            padding: 0;
            margin: 0;
            width: 100%;
            list-style-type: none;
            li {
                position: relative;
                float: left;
                width: 100%;
                border: 1px solid $mc;
                border-bottom: none;
                a {
                    display: block;
                    float: left;
                    width: 90%;
                    padding: 0.25em 5%;
                    margin: 0;
                    text-align: left;
                    color: $acc;
                    border-top: 1px solid #383838;
                    border-top: 1px solid rgba(255,255,255,0.5);
                    text-decoration: none;
                    text-transform: uppercase;
                    &:hover {
                        background-color: $mc;
                        background: rgba(255,255,255,0.1);
                    }
                    &.mean-expand {
                        width: 26px;
                        height: 20px;
                        padding: 3px 7px !important;
                        text-align: center;
                        position: absolute;
                        right: 0;
                        top: 0;
                        vertical-align: top;
                        line-height: 1.0;
                        z-index: 2;
                        font-weight: 700;
                        background: rgba(255,255,255,0.1);
                        border: none !important;
                        border-left: 1px solid rgba(255,255,255,0.4) !important;
                        border-bottom: 1px solid rgba(255,255,255,0.2) !important;
                        color: $mc;
                        &:hover {
                            color: $bc;
                            background-color: $mc;
                            background: rgba(232,73,37,0.9);
                            a{

                                background-color: $mc;
                            }
                        }
                    }
                }
                li{
                    a {
                        width: 80%;
                        padding: 0.25em 10%;
                        border-top: 1px solid #f1f1f1;
                        border-top: 1px solid rgba(255,255,255,0.25);
                        opacity: 0.75;
                        filter: alpha(opacity=75);
                        text-shadow: none !important;
                        visibility: visible;
                    }
                    li{
                        a {
                            width: 70%;
                            padding: 0.25em 15%;
                        }
                        li{
                            a {
                                width: 60%;
                                padding: 0.25em 20%;
                            }
                            li{
                                a {
                                    width: 50%;
                                    padding: 0.25em 25%;
                                }
                            }
                        }
                    }
                }
                .mean-last a {
                    border-bottom: none;
                    margin-bottom: 0;
                }
            }
        }
        .wrapper {
            width: 100%;
            padding: 0;
            margin: 0;
        }
    }
    .mean-push {
        float: left;
        width: 100%;
        padding: 0;
        margin: 0;
        clear: both;
    }
    .meanmenu-reveal {
        background-color: $mc;
        width: 17px;
        height: 16px;
        padding: 9px 9px 14px 9px;
        position: absolute;
        border: 1px solid $bc;
        border-bottom: none;
        margin: 0;
        top: 0;
        right: 0;
        cursor: pointer;
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        text-indent: -9999em;
        line-height: 22px;
        font-size: 1px;
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
    }
}
.mean-container .mean-bar, .mean-container .mean-bar * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}


.mean-remove {
    display: none !important;
}

/*  EXAMPLE STYLES */
body {
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    color: $acc;
    line-height: 1.7;
    img{
        border: none;
    }
}
#bghack {
    z-index : -1;
    background-image : url('https://shopping.geocities.jp/dentouhonpo/genre/img/cate_bg.jpg');
    background-repeat : repeat;
    background-size : 70px 79px;
    position : fixed;
    top : 0;
    left : 0;
    right : 0;
    bottom : 0;
}
header {
    text-align: left;
    background: $bc;
    height: 650px;
    width: 100%;
}
article {
    height: auto;
    text-align: left;
    /* background: $bc; */
    padding: 2% 0%;
    a{
        color: $acc;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
        &:visited{
            color: #04c;
        }
        &:link{
            color: #04c;
        }
        &:active{
            color: #04c;
        }
    }
    &.span_12{
        position: relative;
        height: 200px;
    }
}


aside {
    height: auto;
    text-align: left;
    /* background: #999; */
    padding: 2% 0%;
}
footer {
    text-align: left;
    padding: 0 0 2%;
}
/* original stylesheet */

/* 共通設定 */
.bnr {
    img {
        @include sizing(100%);
    }
    p{
        margin: 5% 0 0;
        padding: 10%;
        &.pt01{
            color: $bc;
        }
        &.pt02{
            color: $acc;
        }

    }
}


h1{
    @include fsize(2.5);
    @include sizing(60%);
    margin: 0 auto;
    color: $bc;
    position: relative;
    text-align: center;
    top: 50%;
    padding: 20px;
    border-top: 1px dotted $bc;
    border-bottom: 1px dotted $bc;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

h2{
    display: block;
    font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    font-weight: bold;
    @include fsize(2.0);
    @include sizing(80%);
    margin: 0 auto;
    padding: 0;
    text-align: center;
    color: $bc;
    position: relative;
}


em {
    font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    font-weight: bold;
    @include fsize(2.0);
    text-align: center;
    margin: 1rem auto;
    margin: 10px auto;
    padding: 0 0 0.5rem 0;
    padding: 0 0 5px 0;
    display: block;
    width: 78%;
    border-bottom: 1px dotted $mc;
}
h3 {
    padding: 0;
    margin: 0;
    clear: both;
    display: block;
}
/* PC用設定 */
header {
    .nav {
        display: none;
    }
    iframe {
        margin: 0 auto;
        display: block;
        width: 100%;
        height: 100%;
    }
}
.container {
    padding: 0 0 50px;
    background-color: $bc;
    h3 {
        line-height: 1.1;
    }
    .catchBanner {
        height: 200px;
        width: 100%;
        margin: 3.6rem 0 0 0;
        margin: 60px 0 0 0;
        &:first-child {
            margin: 0;
        }
        h2{
            padding: 0;
            width: 100%;
            img{
                width: 100%;
            }
        }
    }

    #mainBanner{
        height: auto;
        article{
            height: auto;
        }
    }
    .w{
        h1,h2{
            color: $bc;
            border-color: $bc;
        }
    }

    .b{
        h1,h2{
            color: $acc;
            border-color: $acc;
        }
    }





    .introDuction,.howto,.attention,.question {
        padding: 15px;
        overflow: hidden;
        article{
            &.contents{
                padding: 2% 0 0;
                font-size: 16px;
                ul{
                    width: 95%;
                    margin: 0 auto;
                    font-size: 15px;
                    list-style-type: circle;
                    list-style-position: inside;            
                    li{
                    }
                }
                img{
                    clear: both;
                }
                div{
                    &.sample{
                        margin: 10px 0;
                    }
                    &.short{
                        width: 38%;
                        padding: 1%;
                        float: left;
                        margin: 0 0 30px;
                    }
                    &.long{
                        width: 58%;
                        padding: 1%;
                        float: left;
                        margin: 0 0 30px;
                        img{
                            width: 100%;
                        }
                    }
                    .otherLinks{
                        margin: 0 auto;
                        display: block;
                        width: 223px;
                        -webkit-border-radius: 10px;
                        -moz-border-radius: 10px;
                        border-radius: 10px;
                        background-color: #803a3a;
                        a{
                            padding: 15px 0;
                            display: block;
                            width: 100%;
                            height: 100%;
                            font-family: "Hiragino Kaku Gothic ProN";
                            font-size: 16px;
                            color: #fff;
                            text-align: center;
                            font-weight: bold;
                            &:hover{
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
            &.span_12 {
                width: 100%;
                height: auto;
                em{
                    @include fsize(1.5);
                    display: block;
                    text-align-last: left;
                    margin: 0 0 20px;
                    border: none;
                }
                p {
                    text-align: left;
                    margin: 0 auto;
                    display: block;
                    width: 95%;
                }
                img{
                    display: block;
                    &.cap{
                        margin: 20px auto;
                    }
                }
            }
        }
    }
    .description{
        &.short_01{
            width: 68%;
            padding: 2% 16% 0;
        }
        &.short_02{
            width: 90%;
            padding: 2% 5% 0;
        }
        .span_12,.span_6,.span_8,.span_5,.span_7,.span_4{
            font-size: 15px;
            ol{
                li{
                    font-size: 15px;
                    margin: 0 0 10px;
                    display: block;
                    overflow: hidden;
                    ul{
                        width: 90%;
                        margin: 0 auto;
                        overflow: hidden;
                        li{

                        }
                    }
                    div{
                        width: 48%;
                        padding: 0 1%;
                        float: left;
                        &.short{
                            width: 38%;
                            padding: 1%;
                        }
                        &.long{
                            width: 58%;
                            padding: 1%;
                            img{
                                width: 100%;
                            }
                        }
                        &.wide{
                            width: 98%;
                            padding: 1%;
                            float: left;
                            margin: 0 0 30px;
                        }
                    }
                    span{
                        &.adress{
                            font-weight: bold;
                            padding: 4% 2%;
                            display: block;
                        }
                    }
                    em{
                        font-family: "Hiragino Mincho Pro";
                        font-size: 22px;
                        color: #803a3a;
                        border: none;
                        text-align-last: left;
                        margin: 10px 0 0;
                        padding: 0;
                        width: 100%;
                        clear: both;
                    }
                }
            }
            img{
                width: auto;
                display: block;
                margin: 0 auto;
            }
            ul{
                &.attention{
                    font-size: 18px;
                    li{
                        padding: 0 0 0 1em;
                        text-indent: -2em;
                        width: 90%;
                        margin: 0 auto 14px;
                        list-style-position: inside;
                        list-style-image: url('https://shopping.geocities.jp/dentouhonpo/info/img/attention_list.png');
                        p{
                            line-height: 1.75;
                            b{
                                font-weight: normal;
                                padding: 0 0 3px;
                                border-bottom: 3px solid #d8ff09;
                            }
                        }
                    }
                }
            }
        }
        div{
            &.qa{
                width: 90%;
                margin: 0 auto;
                b{
                    border-bottom: 1px solid #000;
                    padding: 0 0 20px;
                    margin: 0 0 20px;
                    display: block;
                }
            }
            article{
                ol{
                    li{
                        & > div{
                            &.pc{
                                display: block;
                            }
                            &.sp{
                                display: none;
                            }
                        }
                    }
                }
                .cap{
                    &.pc{
                        display: block;
                    }
                    &.sp{
                        display: none;
                    }
                }
            }
        }
    }
    .moreLink,.parentLink{
        margin: 0;
        overflow: hidden;
        article{
            height: auto;
            div{
                width: 30%;
                text-align: center;
                margin: 2% auto 0;
                a{
                    @include fsize(1.1);
                    width: 100%;
                    height: 100%;
                    padding: 10px;
                    display: block;
                    background-color: $sbc03;
                    color: $bc;
                    @include rad(3,3,3,3);
                    @include anm(0.2s);
                    span{
                        @include anm(0.2s);
                    }
                    &:hover{
                        background-color: $mc;
                        text-decoration: none;
                        span{
                            padding: 0 0 0 10px;
                        }
                    }
                }
            }
        }
    }
    .moreLink{
        border-bottom: 1px solid $sbc01;
        padding:0 0 20px 0;
    }
    .parentLink{

    }
    /* moreLink-fin */
}
/* container */
footer {
    iframe {
        display: block;
        width: 100%;
        /* height: 3450px; */
        height: 2800px;
        margin: 0 auto;
        overflow: hidden;
    }
    #sp { 
        display: none;
    }
}
@mixin addquery($point) {
    @media screen and (max-width: $point) {
        @content;
    }
}

/* 楽天カテゴリページ用 */

@include addquery(801px) {
    @media only screen and (min-width: 799px) {
        #categoryMenu{
            display: none;
        }
        header{
            display: none;
        }
        footer{
            display: none;
        }
        .container{
            padding: 0;
            /* public category style */
        }
    }
}













/* タブレット端末、スマートフォン用設定 */
@include addquery(768px) {

    .mean-container{
        .mean-bar {
            display: block;
        }
    }

    /* 480px以上の時 */
    @media only screen and (min-width: 480px) {
        h2, h3, h4 {
            @include fsize(1.4);
            display: block;
            line-height: 1.1;
        }
    }
    h2, h3, h4 {
        @include fsize(1.0);
        margin-bottom: 1.2rem;
        display: block;
        line-height: 1.1;
    }
    h3 {
        padding:0;
        margin: 0;
    }
    .shopName {
        @include fsize(0.8);
        font-weight: bold;
        margin-bottom: 1.2rem;
        display: block;
    }
    header {
        background-color: $bc;
        color: $bc;
        height: auto;
        iframe {
            display: none;
        }
        .wf .fs1 {
            font-size: 24px;
            border: 1px solid $sbc01;
            border-right: none;
            height: 43px;
            padding: 0;
            margin: 0 auto;
            color: $acc;
        }
        .nav {
            @include sizing(100%);
            display: block;
            height: auto;
            overflow: hidden;
            a {
                text-decoration: none;
                color: $acc;
            }
            .shopName {
                display: block;
                @include sizing(75%);
                padding: 0;
                float: left;
                margin:0;
                border: 1px solid $sbc01;
                border-right: none;
                border-left: none;
                height: 45px;
                text-indent: 0.25rem;
                font-size: 0.9rem;
                line-height: 3;
                font-weight: normal;
                img {
                    width: 1.5rem;
                    height: 1.5rem;
                    display: block;
                    margin: 0.5rem;
                    float: left;
                }
            }
            div.menu {
                @include sizing(25%);
                float: left;
                a {
                    text-align: center;
                    display: block;
                    width: 50%;
                    float: left;
                }
            }
        }
    }
    .container {
        background: none;
        /* useFull */

        @media only screen and (min-width: 480px) {
            h1{
                @include fsize(2);
                @include sizing(80%);
            }
            h2{
                @include fsize(1.8);
                @include sizing(60%);
            }
            em{
                @include fsize(1.5);
                @include sizing(60%);
            }
        }
        h1{
            @include fsize(1.8);
            @include sizing(90%);
        }
        h2{
            @include fsize(1.5);
            @include sizing(90%);
        }
        em{
            @include fsize(1.2);
            @include sizing(90%);
        }


        .introDuction,.howto,.attention,.question {
            article{
                &.contents{
                    padding: 0;
                    img{
                        width: 100%;
                    }
                    div{
                        &.sample{
                            margin: 10px 0;
                        }
                        &.short{
                            width: 98%;
                            padding: 1%;
                            float: left;
                            margin: 0 0 30px;
                        }
                        &.long,&.wide{
                            width: 98%;
                            padding: 1%;
                            float: left;
                            margin: 0 0 30px;
                            img{
                                width: 100%;
                            }
                        }
                        .otherLinks{
                            margin: 0 auto;
                            display: block;
                            width: 223px;
                            -webkit-border-radius: 10px;
                            -moz-border-radius: 10px;
                            border-radius: 10px;
                            background-color: #803a3a;
                            a{
                                padding: 15px 0;
                                display: block;
                                width: 100%;
                                height: 100%;
                                font-family: "Hiragino Kaku Gothic ProN";
                                font-size: 16px;
                                color: #fff;
                                text-align: center;
                                font-weight: bold;
                                &:hover{
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
                &.span_12 {
                    width: 100%;
                    height: auto;
                    em{
                        @include fsize(1.3);
                        display: block;
                        text-align-last: left;
                        margin: 0 0 20px;
                        border: none;
                        img{
                            width: 60%;
                        }
                    }
                    p {
                        text-align: left;
                        display: block;
                        margin: 1% 0 2%;
                        width: 100%;
                    }

                    img{
                        display: block;
                        &.cap{
                            margin: 20px auto;
                        }
                    }
                }
            }
        }

        .howto,& > .attention,.question{
            padding: 30px 15px 0;
            article{
                &.contents{
                    padding: 0;
                    img{
                        width: 60%;
                    }
                    em{
                        margin: 0;
                    }
                }
            }
        }
        /* introDuction */

        /* description */
        .description{
            &.short_01{
                width: 92%;
                padding: 2% 4% 0;
            }
            &.short_02{
                width: 92%;
                padding: 2% 4% 0;
            }
            .span_12,.span_6,.span_8,.span_5,.span_7,.span_4{
                font-size: 15px;
                ol{
                    li{
                        font-size: 15px;
                        margin: 0 0 10px;
                        display: block;
                        overflow: hidden;
                        ul{
                            width: 90%;
                            margin: 0 auto;
                            overflow: hidden;
                            li{

                            }
                        }
                        div{
                            width: 48%;
                            padding: 0 1%;
                            float: left;
                            &.short{
                                width: 98%;
                                padding: 1%;
                            }
                            &.long{
                                width: 98%;
                                padding: 1%;
                                img{
                                    width: 100%;
                                }
                            }
                        }
                        span{
                            &.adress{
                                font-weight: bold;
                                padding: 4% 2%;
                                display: block;
                            }
                        }
                        em{
                            font-family: "Hiragino Mincho Pro";
                            font-size: 22px;
                            color: #803a3a;
                            border: none;
                            text-align-last: left;
                            margin: 10px 0 0;
                            padding: 0;
                            width: 100%;
                            clear: both;
                        }
                    }
                }
                img{
                    width: 94%;
                    display: block;
                    margin: 0 auto;
                }
                ul{
                    &.attention{
                        font-size: 16px;
                        li{
                            padding: 0;
                            text-indent: 0;
                            width: 100%;
                            margin: 0 auto 14px;
                            list-style-position: inside;
                            list-style-image: url('https://shopping.geocities.jp/dentouhonpo/info/img/attention_list.png');
                            p{
                                line-height: 1.75;
                                b{
                                    font-weight: normal;
                                    padding: 0 0 3px;
                                    border-bottom: 3px solid #d8ff09;
                                }
                            }
                        }
                    }
                }
            }
            .span_6 {
                width: 48%;
                padding: 1%;
                float: left;
            }
            div{
                &.qa{
                    width: 90%;
                    margin: 0 auto;
                    b{
                        border-bottom: 1px solid #000;
                        padding: 0 0 20px;
                        margin: 0 0 20px;
                        display: block;
                    }
                }
                article{
                    ol{
                        li{
                            & > div{
                                &.pc{
                                    display: none;
                                }
                                &.sp{
                                    display: block;
                                }
                            }
                        }
                    }
                    .cap{
                        &.pc{
                            display: none;
                        }
                        &.sp{
                            display: block;
                        }
                    }
                }
            }
        }
        /* スマートフォン用「カテゴリ商品をもっと見る」 */
        .moreLink,.parentLink{
            article{
                div{
                    width: 80%;
                    a{
                        @include fsize(1.0);
                        padding: 6px;
                    }
                }
            }
        }
    }
    /* container */
    footer {
        iframe {
            display: none;
        }
        #sp {
            display: block;
            overflow: hidden;
            ul#itemCategory,#genreCategory,#budgetCategory,#typeCategory {
                @include sizing(100%);
                overflow: hidden;
                li {
                    float: left;
                    width: 50%;
                    display: block;
                    border: none;
                    border-right: $line;
                    border-bottom: $line;
                    line-height: 1rem;
                    text-indent: 0.5rem;
                    
                    a{
                        line-height: 1.6rem;
                        display: block;
                        width:80%;
                        margin: auto;
                        .wf{
                            width: auto;
                            .fs1 {
                                @include fsize(1.3);
                                border: none;
                                float: right;
                                line-height: 0rem;
                                padding: 0;
                                margin: 0 auto;
                                color: $mc;
                            }
                        }
                    }
                }
                li:first-child {
                    width: 100%;
                    color: $acc;
                    line-height: 3rem;
                    padding: 0.5rem 0;
                    @include fsize(1.1);
                    font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;

                    .wf .fs1 {
                        @include fsize(1.2);
                        border: none;
                        float: left;
                        line-height: 3.1rem;
                        padding: 0;
                        margin: 0 0.25rem 0 0;
                        text-indent: 1rem;
                        color: $mc;
                    }
                }
                li.listWrap{
                    width: 100%;
                    a{
                        width: 40%;
                    }
                }
            }
            ul#eventCategory {
                overflow: hidden;
                background-color: $bc;
                @media only screen and (min-width: 480px) {
                    li {
                        @include sizing(50%);
                        padding: 1%;
                        display: block;
                        float: left;
                        img {
                            width: 100%;
                        }
                    }
                }
                li {
                    @include sizing(100%);
                    padding: 2% 1%;
                    display: block;
                    img {
                        max-width: 100%;
                        outline: 1px solid $sbc01;
                    }
                }
                li:first-child {
                    width: 100%;
                    color: $acc;
                    line-height: 3rem;
                    padding: 0.5rem 0;
                    @include fsize(1.1);
                    font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
                    border-bottom: $line;
                    .wf .fs1 {
                        @include fsize(1.2);
                        border: none;
                        line-height: 3.1rem;
                        float: left;
                        padding: 0;
                        margin: 0 0.25rem 0 0;
                        text-indent: 1rem;
                        color: $mc;
                    }
                }
            }
            iframe.eventCategory{
                display: block;
                height: 400px;
            }
        }
        /* menu */
        @media only screen and (min-width: 480px) {
            .gotoTop{
                border-top: $line;
            }
        }
        .gotoTop {
            overflow: hidden;
            border-bottom: $line;
            border-top: none;
            background-color: $bc;
            width: 100%;
            line-height: 4.5;
            text-align: center;
            a {
                clear: both;
                color: $acc;
                text-decoration: none;
                display: block;
                width: 100%;
                text-align: center;
                padding: .8rem 0 1rem;
                .wf{
                    width: auto;
                    .fs1 {
                        @include fsize(1.2);
                        border: none;
                        line-height: .5rem;
                        padding: 0;
                        margin: 0 1rem;
                        color: $mc;
                    }
                }
                span{
                    display: block;
                    text-align: center;
                    line-height: 1.3rem;
                }
            }
        }
        ul {
            li {
                @include sizing(50%);
                display: block;
                float: left;
                border: $line;
                border-top: none;
                border-left: none;
                padding: 10px;
                background-color: $bc;
                a {
                    color: $acc;
                    text-decoration: none;
                    display: block;
                    text-align: center;
                }
            }
        }
        .info{
            li{
                a{
                    line-height: 1.6rem;
                    display: block;
                    width:80%;
                    margin: auto;
                    .wf{
                        width: auto;
                        .fs1 {
                            @include fsize(1.3);
                            border: none;
                            float: right;
                            line-height: 0rem;
                            padding: 0;
                            margin: 0 auto;
                            color: $mc;
                        }
                    }
                }
            }
        }
        address {
            background-color: $bc;
            ul {
                li {
                    @include sizing(33.3%);
                    display: block;
                    float: left;
                    border: $line;
                    border-right: none;
                    text-align: center;
                    &:first-child {
                        @include sizing(100%);
                        border-bottom: none;
                        a{
                            display: block;
                            width: 100%;
                            margin: 0 auto;
                            text-align: center;
                            .wf{
                                width: 110px;
                                margin: 0 auto;
                                .fs1 {
                                    line-height: 1.5rem;
                                }
                            }
                        }
                    }
                    &:last-child {
                        @include sizing(100%);
                        border-top: none;
                        padding: 1.5rem 1rem 1rem;
                        #label{
                            color: #aaa;
                        }
                        #form{
                            float: left;
                            @include sizing(90%);
                            height: 30px;
                            border-style: none;
                            border: 1px solid $acc;///
                        }
                        .wf{
                            @include sizing(10%);
                            float: left;
                            padding: 0 0 0 0.4rem;
                            position: relative;
                            .fs1 {
                                position: relative;
                                line-height: 2.0rem;
                                @include fsize(1.4);
                                color: $mc;
                                #btn{
                                    position: absolute;
                                    border-style:none;
                                    width: 1rem;
                                    right: 10px;
                                    @include alpha(0);
                                    background-color: #fff;
                                }
                            }
                        }
                    }
                    a{
                        display: block;
                        width: 100%;
                        margin: 0 auto;
                        text-align: center;
                        .wf{
                            width: 60px;
                            margin: 0 auto;
                            .fs1 {
                                @include fsize(1);
                                border: none;
                                float: left;
                                line-height: 0;
                                padding: 0;
                                margin: 0 auto;
                                color: $mc;
                            }
                        }
                    }
                }
            }
            p {
                clear: both;
                margin: 1rem 1rem 0;
                display: block;
                overflow: hidden;
                &:last-child{
                    text-align: center;
                    padding: 0 0 1rem 0 ;
                }
                &:first-child{
                    text-align: center;
                    padding: 30px 0 10px;
                    font-size: 1.3rem;
                    font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                }
            }
        }
    }
}
/* footer */
