/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$faq_title-x: 1268px;
$faq_title-y: 527px;
$faq_title-offset-x: -1268px;
$faq_title-offset-y: -527px;
$faq_title-width: 194px;
$faq_title-height: 50px;
$faq_title-total-width: 1857px;
$faq_title-total-height: 1180px;
$faq_title-image: '../img/sprites/spritesheet.png';
$faq_title: 1268px 527px -1268px -527px 194px 50px 1857px 1180px '../img/sprites/spritesheet.png';
$guide_checkop-x: 599px;
$guide_checkop-y: 929px;
$guide_checkop-offset-x: -599px;
$guide_checkop-offset-y: -929px;
$guide_checkop-width: 589px;
$guide_checkop-height: 251px;
$guide_checkop-total-width: 1857px;
$guide_checkop-total-height: 1180px;
$guide_checkop-image: '../img/sprites/spritesheet.png';
$guide_checkop: 599px 929px -599px -929px 589px 251px 1857px 1180px '../img/sprites/spritesheet.png';
$guide_comp-x: 1648px;
$guide_comp-y: 527px;
$guide_comp-offset-x: -1648px;
$guide_comp-offset-y: -527px;
$guide_comp-width: 166px;
$guide_comp-height: 48px;
$guide_comp-total-width: 1857px;
$guide_comp-total-height: 1180px;
$guide_comp-image: '../img/sprites/spritesheet.png';
$guide_comp: 1648px 527px -1648px -527px 166px 48px 1857px 1180px '../img/sprites/spritesheet.png';
$guide_compinfo-x: 1573px;
$guide_compinfo-y: 247px;
$guide_compinfo-offset-x: -1573px;
$guide_compinfo-offset-y: -247px;
$guide_compinfo-width: 83px;
$guide_compinfo-height: 83px;
$guide_compinfo-total-width: 1857px;
$guide_compinfo-total-height: 1180px;
$guide_compinfo-image: '../img/sprites/spritesheet.png';
$guide_compinfo: 1573px 247px -1573px -247px 83px 83px 1857px 1180px '../img/sprites/spritesheet.png';
$guide_deliform-x: 0px;
$guide_deliform-y: 0px;
$guide_deliform-offset-x: 0px;
$guide_deliform-offset-y: 0px;
$guide_deliform-width: 659px;
$guide_deliform-height: 352px;
$guide_deliform-total-width: 1857px;
$guide_deliform-total-height: 1180px;
$guide_deliform-image: '../img/sprites/spritesheet.png';
$guide_deliform: 0px 0px 0px 0px 659px 352px 1857px 1180px '../img/sprites/spritesheet.png';
$guide_delioversea-x: 1268px;
$guide_delioversea-y: 0px;
$guide_delioversea-offset-x: -1268px;
$guide_delioversea-offset-y: 0px;
$guide_delioversea-width: 589px;
$guide_delioversea-height: 237px;
$guide_delioversea-total-width: 1857px;
$guide_delioversea-total-height: 1180px;
$guide_delioversea-image: '../img/sprites/spritesheet.png';
$guide_delioversea: 1268px 0px -1268px 0px 589px 237px 1857px 1180px '../img/sprites/spritesheet.png';
$guide_delivery-x: 1268px;
$guide_delivery-y: 676px;
$guide_delivery-offset-x: -1268px;
$guide_delivery-offset-y: -676px;
$guide_delivery-width: 130px;
$guide_delivery-height: 22px;
$guide_delivery-total-width: 1857px;
$guide_delivery-total-height: 1180px;
$guide_delivery-image: '../img/sprites/spritesheet.png';
$guide_delivery: 1268px 676px -1268px -676px 130px 22px 1857px 1180px '../img/sprites/spritesheet.png';
$guide_etcop-x: 0px;
$guide_etcop-y: 650px;
$guide_etcop-offset-x: 0px;
$guide_etcop-offset-y: -650px;
$guide_etcop-width: 564px;
$guide_etcop-height: 269px;
$guide_etcop-total-width: 1857px;
$guide_etcop-total-height: 1180px;
$guide_etcop-image: '../img/sprites/spritesheet.png';
$guide_etcop: 0px 650px 0px -650px 564px 269px 1857px 1180px '../img/sprites/spritesheet.png';
$guide_firstcheck-x: 1268px;
$guide_firstcheck-y: 247px;
$guide_firstcheck-offset-x: -1268px;
$guide_firstcheck-offset-y: -247px;
$guide_firstcheck-width: 295px;
$guide_firstcheck-height: 128px;
$guide_firstcheck-total-width: 1857px;
$guide_firstcheck-total-height: 1180px;
$guide_firstcheck-image: '../img/sprites/spritesheet.png';
$guide_firstcheck: 1268px 247px -1268px -247px 295px 128px 1857px 1180px '../img/sprites/spritesheet.png';
$guide_flow-x: 1268px;
$guide_flow-y: 385px;
$guide_flow-offset-x: -1268px;
$guide_flow-offset-y: -385px;
$guide_flow-width: 388px;
$guide_flow-height: 70px;
$guide_flow-total-width: 1857px;
$guide_flow-total-height: 1180px;
$guide_flow-image: '../img/sprites/spritesheet.png';
$guide_flow: 1268px 385px -1268px -385px 388px 70px 1857px 1180px '../img/sprites/spritesheet.png';
$guide_gift-x: 1685px;
$guide_gift-y: 676px;
$guide_gift-offset-x: -1685px;
$guide_gift-offset-y: -676px;
$guide_gift-width: 73px;
$guide_gift-height: 21px;
$guide_gift-total-width: 1857px;
$guide_gift-total-height: 1180px;
$guide_gift-image: '../img/sprites/spritesheet.png';
$guide_gift: 1685px 676px -1685px -676px 73px 21px 1857px 1180px '../img/sprites/spritesheet.png';
$guide_guara-x: 1727px;
$guide_guara-y: 340px;
$guide_guara-offset-x: -1727px;
$guide_guara-offset-y: -340px;
$guide_guara-width: 49px;
$guide_guara-height: 22px;
$guide_guara-total-width: 1857px;
$guide_guara-total-height: 1180px;
$guide_guara-image: '../img/sprites/spritesheet.png';
$guide_guara: 1727px 340px -1727px -340px 49px 22px 1857px 1180px '../img/sprites/spritesheet.png';
$guide_item-x: 1379px;
$guide_item-y: 644px;
$guide_item-offset-x: -1379px;
$guide_item-offset-y: -644px;
$guide_item-width: 48px;
$guide_item-height: 22px;
$guide_item-total-width: 1857px;
$guide_item-total-height: 1180px;
$guide_item-image: '../img/sprites/spritesheet.png';
$guide_item: 1379px 644px -1379px -644px 48px 22px 1857px 1180px '../img/sprites/spritesheet.png';
$guide_li-x: 1666px;
$guide_li-y: 312px;
$guide_li-offset-x: -1666px;
$guide_li-offset-y: -312px;
$guide_li-width: 12px;
$guide_li-height: 12px;
$guide_li-total-width: 1857px;
$guide_li-total-height: 1180px;
$guide_li-image: '../img/sprites/spritesheet.png';
$guide_li: 1666px 312px -1666px -312px 12px 12px 1857px 1180px '../img/sprites/spritesheet.png';
$guide_menu_company-x: 1666px;
$guide_menu_company-y: 385px;
$guide_menu_company-offset-x: -1666px;
$guide_menu_company-offset-y: -385px;
$guide_menu_company-width: 166px;
$guide_menu_company-height: 52px;
$guide_menu_company-total-width: 1857px;
$guide_menu_company-total-height: 1180px;
$guide_menu_company-image: '../img/sprites/spritesheet.png';
$guide_menu_company: 1666px 385px -1666px -385px 166px 52px 1857px 1180px '../img/sprites/spritesheet.png';
$guide_menu_person-x: 1268px;
$guide_menu_person-y: 465px;
$guide_menu_person-offset-x: -1268px;
$guide_menu_person-offset-y: -465px;
$guide_menu_person-width: 166px;
$guide_menu_person-height: 52px;
$guide_menu_person-total-width: 1857px;
$guide_menu_person-total-height: 1180px;
$guide_menu_person-image: '../img/sprites/spritesheet.png';
$guide_menu_person: 1268px 465px -1268px -465px 166px 52px 1857px 1180px '../img/sprites/spritesheet.png';
$guide_message-x: 0px;
$guide_message-y: 929px;
$guide_message-offset-x: 0px;
$guide_message-offset-y: -929px;
$guide_message-width: 589px;
$guide_message-height: 251px;
$guide_message-total-width: 1857px;
$guide_message-total-height: 1180px;
$guide_message-image: '../img/sprites/spritesheet.png';
$guide_message: 0px 929px 0px -929px 589px 251px 1857px 1180px '../img/sprites/spritesheet.png';
$guide_name-x: 1744px;
$guide_name-y: 465px;
$guide_name-offset-x: -1744px;
$guide_name-offset-y: -465px;
$guide_name-width: 76px;
$guide_name-height: 22px;
$guide_name-total-width: 1857px;
$guide_name-total-height: 1180px;
$guide_name-image: '../img/sprites/spritesheet.png';
$guide_name: 1744px 465px -1744px -465px 76px 22px 1857px 1180px '../img/sprites/spritesheet.png';
$guide_noshi_select-x: 574px;
$guide_noshi_select-y: 650px;
$guide_noshi_select-offset-x: -574px;
$guide_noshi_select-offset-y: -650px;
$guide_noshi_select-width: 667px;
$guide_noshi_select-height: 261px;
$guide_noshi_select-total-width: 1857px;
$guide_noshi_select-total-height: 1180px;
$guide_noshi_select-image: '../img/sprites/spritesheet.png';
$guide_noshi_select: 574px 650px -574px -650px 667px 261px 1857px 1180px '../img/sprites/spritesheet.png';
$guide_order-x: 1572px;
$guide_order-y: 676px;
$guide_order-offset-x: -1572px;
$guide_order-offset-y: -676px;
$guide_order-width: 103px;
$guide_order-height: 22px;
$guide_order-total-width: 1857px;
$guide_order-total-height: 1180px;
$guide_order-image: '../img/sprites/spritesheet.png';
$guide_order: 1572px 676px -1572px -676px 103px 22px 1857px 1180px '../img/sprites/spritesheet.png';
$guide_oversea-x: 1702px;
$guide_oversea-y: 587px;
$guide_oversea-offset-x: -1702px;
$guide_oversea-offset-y: -587px;
$guide_oversea-width: 125px;
$guide_oversea-height: 22px;
$guide_oversea-total-width: 1857px;
$guide_oversea-total-height: 1180px;
$guide_oversea-image: '../img/sprites/spritesheet.png';
$guide_oversea: 1702px 587px -1702px -587px 125px 22px 1857px 1180px '../img/sprites/spritesheet.png';
$guide_paper-x: 1437px;
$guide_paper-y: 644px;
$guide_paper-offset-x: -1437px;
$guide_paper-offset-y: -644px;
$guide_paper-width: 104px;
$guide_paper-height: 22px;
$guide_paper-total-width: 1857px;
$guide_paper-total-height: 1180px;
$guide_paper-image: '../img/sprites/spritesheet.png';
$guide_paper: 1437px 644px -1437px -644px 104px 22px 1857px 1180px '../img/sprites/spritesheet.png';
$guide_parts-x: 1465px;
$guide_parts-y: 587px;
$guide_parts-offset-x: -1465px;
$guide_parts-offset-y: -587px;
$guide_parts-width: 227px;
$guide_parts-height: 46px;
$guide_parts-total-width: 1857px;
$guide_parts-total-height: 1180px;
$guide_parts-image: '../img/sprites/spritesheet.png';
$guide_parts: 1465px 587px -1465px -587px 227px 46px 1857px 1180px '../img/sprites/spritesheet.png';
$guide_pay-x: 1268px;
$guide_pay-y: 644px;
$guide_pay-offset-x: -1268px;
$guide_pay-offset-y: -644px;
$guide_pay-width: 101px;
$guide_pay-height: 22px;
$guide_pay-total-width: 1857px;
$guide_pay-total-height: 1180px;
$guide_pay-image: '../img/sprites/spritesheet.png';
$guide_pay: 1268px 644px -1268px -644px 101px 22px 1857px 1180px '../img/sprites/spritesheet.png';
$guide_person-x: 1472px;
$guide_person-y: 527px;
$guide_person-offset-x: -1472px;
$guide_person-offset-y: -527px;
$guide_person-width: 166px;
$guide_person-height: 48px;
$guide_person-total-width: 1857px;
$guide_person-total-height: 1180px;
$guide_person-image: '../img/sprites/spritesheet.png';
$guide_person: 1472px 527px -1472px -527px 166px 48px 1857px 1180px '../img/sprites/spritesheet.png';
$guide_point-x: 1691px;
$guide_point-y: 340px;
$guide_point-offset-x: -1691px;
$guide_point-offset-y: -340px;
$guide_point-width: 26px;
$guide_point-height: 26px;
$guide_point-total-width: 1857px;
$guide_point-total-height: 1180px;
$guide_point-image: '../img/sprites/spritesheet.png';
$guide_point: 1691px 340px -1691px -340px 26px 26px 1857px 1180px '../img/sprites/spritesheet.png';
$guide_receipt-x: 1444px;
$guide_receipt-y: 465px;
$guide_receipt-offset-x: -1444px;
$guide_receipt-offset-y: -465px;
$guide_receipt-width: 290px;
$guide_receipt-height: 52px;
$guide_receipt-total-width: 1857px;
$guide_receipt-total-height: 1180px;
$guide_receipt-image: '../img/sprites/spritesheet.png';
$guide_receipt: 1444px 465px -1444px -465px 290px 52px 1857px 1180px '../img/sprites/spritesheet.png';
$guide_sign-x: 1573px;
$guide_sign-y: 340px;
$guide_sign-offset-x: -1573px;
$guide_sign-offset-y: -340px;
$guide_sign-width: 108px;
$guide_sign-height: 29px;
$guide_sign-total-width: 1857px;
$guide_sign-total-height: 1180px;
$guide_sign-image: '../img/sprites/spritesheet.png';
$guide_sign: 1573px 340px -1573px -340px 108px 29px 1857px 1180px '../img/sprites/spritesheet.png';
$guide_timeselect-x: 615px;
$guide_timeselect-y: 362px;
$guide_timeselect-offset-x: -615px;
$guide_timeselect-offset-y: -362px;
$guide_timeselect-width: 605px;
$guide_timeselect-height: 278px;
$guide_timeselect-total-width: 1857px;
$guide_timeselect-total-height: 1180px;
$guide_timeselect-image: '../img/sprites/spritesheet.png';
$guide_timeselect: 615px 362px -615px -362px 605px 278px 1857px 1180px '../img/sprites/spritesheet.png';
$guide_title-x: 1666px;
$guide_title-y: 247px;
$guide_title-offset-x: -1666px;
$guide_title-offset-y: -247px;
$guide_title-width: 187px;
$guide_title-height: 55px;
$guide_title-total-width: 1857px;
$guide_title-total-height: 1180px;
$guide_title-image: '../img/sprites/spritesheet.png';
$guide_title: 1666px 247px -1666px -247px 187px 55px 1857px 1180px '../img/sprites/spritesheet.png';
$guide_wrap-x: 1551px;
$guide_wrap-y: 644px;
$guide_wrap-offset-x: -1551px;
$guide_wrap-offset-y: -644px;
$guide_wrap-width: 49px;
$guide_wrap-height: 22px;
$guide_wrap-total-width: 1857px;
$guide_wrap-total-height: 1180px;
$guide_wrap-image: '../img/sprites/spritesheet.png';
$guide_wrap: 1551px 644px -1551px -644px 49px 22px 1857px 1180px '../img/sprites/spritesheet.png';
$guide_wrapop-x: 669px;
$guide_wrapop-y: 0px;
$guide_wrapop-offset-x: -669px;
$guide_wrapop-offset-y: 0px;
$guide_wrapop-width: 589px;
$guide_wrapop-height: 306px;
$guide_wrapop-total-width: 1857px;
$guide_wrapop-total-height: 1180px;
$guide_wrapop-image: '../img/sprites/spritesheet.png';
$guide_wrapop: 669px 0px -669px 0px 589px 306px 1857px 1180px '../img/sprites/spritesheet.png';
$guide_wrapselect-x: 0px;
$guide_wrapselect-y: 362px;
$guide_wrapselect-offset-x: 0px;
$guide_wrapselect-offset-y: -362px;
$guide_wrapselect-width: 605px;
$guide_wrapselect-height: 278px;
$guide_wrapselect-total-width: 1857px;
$guide_wrapselect-total-height: 1180px;
$guide_wrapselect-image: '../img/sprites/spritesheet.png';
$guide_wrapselect: 0px 362px 0px -362px 605px 278px 1857px 1180px '../img/sprites/spritesheet.png';
$noshi_condolence-x: 1775px;
$noshi_condolence-y: 644px;
$noshi_condolence-offset-x: -1775px;
$noshi_condolence-offset-y: -644px;
$noshi_condolence-width: 48px;
$noshi_condolence-height: 22px;
$noshi_condolence-total-width: 1857px;
$noshi_condolence-total-height: 1180px;
$noshi_condolence-image: '../img/sprites/spritesheet.png';
$noshi_condolence: 1775px 644px -1775px -644px 48px 22px 1857px 1180px '../img/sprites/spritesheet.png';
$noshi_event-x: 1408px;
$noshi_event-y: 676px;
$noshi_event-offset-x: -1408px;
$noshi_event-offset-y: -676px;
$noshi_event-width: 154px;
$noshi_event-height: 22px;
$noshi_event-total-width: 1857px;
$noshi_event-total-height: 1180px;
$noshi_event-image: '../img/sprites/spritesheet.png';
$noshi_event: 1408px 676px -1408px -676px 154px 22px 1857px 1180px '../img/sprites/spritesheet.png';
$noshi_info-x: 1610px;
$noshi_info-y: 644px;
$noshi_info-offset-x: -1610px;
$noshi_info-offset-y: -644px;
$noshi_info-width: 155px;
$noshi_info-height: 22px;
$noshi_info-total-width: 1857px;
$noshi_info-total-height: 1180px;
$noshi_info-image: '../img/sprites/spritesheet.png';
$noshi_info: 1610px 644px -1610px -644px 155px 22px 1857px 1180px '../img/sprites/spritesheet.png';
$noshi_occation-x: 1786px;
$noshi_occation-y: 340px;
$noshi_occation-offset-x: -1786px;
$noshi_occation-offset-y: -340px;
$noshi_occation-width: 50px;
$noshi_occation-height: 22px;
$noshi_occation-total-width: 1857px;
$noshi_occation-total-height: 1180px;
$noshi_occation-image: '../img/sprites/spritesheet.png';
$noshi_occation: 1786px 340px -1786px -340px 50px 22px 1857px 1180px '../img/sprites/spritesheet.png';
$noshi_title-x: 1268px;
$noshi_title-y: 587px;
$noshi_title-offset-x: -1268px;
$noshi_title-offset-y: -587px;
$noshi_title-width: 187px;
$noshi_title-height: 47px;
$noshi_title-total-width: 1857px;
$noshi_title-total-height: 1180px;
$noshi_title-image: '../img/sprites/spritesheet.png';
$noshi_title: 1268px 587px -1268px -587px 187px 47px 1857px 1180px '../img/sprites/spritesheet.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
