@charset "UTF-8";
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0
}

html {
    color: #000;
    background: #FFF
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif
}

h1 {
    font-size: 33.2px;
    font-size: 2rem;
    *font-size: 40px
}

h2 {
    font-size: 29.88px;
    font-size: 1.8rem;
    *font-size: 36px
}

h3 {
    font-size: 26.56px;
    font-size: 1.6rem;
    *font-size: 32px
}

h4 {
    font-size: 23.24px;
    font-size: 1.4rem;
    *font-size: 28px
}

h5 {
    font-size: 19.92px;
    font-size: 1.2rem;
    *font-size: 24px
}

h6 {
    font-size: 16.6px;
    font-size: 1rem;
    *font-size: 20px
}

input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    *font-size: 100%
}

img {
    vertical-align: bottom
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal
}

ol,
ul {
    list-style: none
}

caption,
th {
    text-align: left
}

q:before,
q:after {
    content: ''
}

abbr,
acronym {
    border: 0;
    font-variant: normal
}

sup {
    vertical-align: text-top
}

sub {
    vertical-align: text-bottom
}

body {
    width: 100%;
    font: 12px/1.5 "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    color: #301e21;
    word-wrap: break-word;
    -webkit-text-size-adjust: 100%
}

body .acTxt {
    font-size: 19.92px;
    font-size: 1.2rem;
    *font-size: 24px;
    font-weight: bold
}

body .cf {
    zoom: 1
}

body .cf:before,
body .cf:after {
    content: "";
    display: table
}

body .cf:after {
    clear: both
}

body .ancNone a {
    text-decoration: none;
    color: #301e21
}

body .ancNone a:visited {
    color: #301e21
}

body .ancNone a:link {
    color: #301e21
}

body .ancNone a:hover {
    text-decoration: underline
}

.container {
    max-width: 990px;
    margin: 0 auto
}

.container:after,
.row:after,
.col:after,
.clr:after,
.group:after {
    content: "";
    display: table;
    clear: both
}

.row {
    padding-bottom: 0em
}

.col {
    display: block;
    float: left;
    width: 100%
}

@media (min-width: 768px) {
    .gutters .col {
        margin-left: 2%
    }
    .gutters .col:first-child {
        margin-left: 0
    }
    .gutters .col:first-child.rightPos {
        margin-left: 2%
    }
}

@media (min-width: 768px) {
    .span_1 {
        width: 8.33333333333%
    }
    .span_2 {
        width: 16.6666666667%
    }
    .span_3 {
        width: 25%
    }
    .span_4 {
        width: 33.3333333333%
    }
    .span_5 {
        width: 41.6666666667%
    }
    .span_6 {
        width: 50%
    }
    .span_7 {
        width: 58.3333333333%
    }
    .span_8 {
        width: 66.6666666667%
    }
    .span_9 {
        width: 75%
    }
    .span_10 {
        width: 83.3333333333%
    }
    .span_11 {
        width: 91.6666666667%
    }
    .span_12 {
        width: 100%
    }
    .gutters .span_1 {
        width: 6.5%
    }
    .gutters .span_2 {
        width: 15.0%
    }
    .gutters .span_3 {
        width: 23.5%
    }
    .gutters .span_4 {
        width: 32.0%
    }
    .gutters .span_5 {
        width: 40.5%
    }
    .gutters .span_6 {
        width: 49.0%
    }
    .gutters .span_7 {
        width: 57.5%
    }
    .gutters .span_8 {
        width: 66.0%
    }
    .gutters .span_9 {
        width: 74.5%
    }
    .gutters .span_10 {
        width: 83.0%
    }
    .gutters .span_11 {
        width: 91.5%
    }
    .gutters .span_12 {
        width: 100%
    }
}

.navigation {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url(../js/boxsizing.htc);
    width: 100%
}

.navigation .navigation__title {
    width: 35px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 8px 0;
    background-color: #fff
}

.navigation .navigation__title a {
    display: block;
    width: 100%;
    height: 100%
}

.navigation .navigation__title a img {
    display: block;
    margin: 0 auto
}

.navigation .submenu {
    position: absolute;
    top: 0;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url(../js/boxsizing.htc);
    width: 77%;
    left: 36px;
    border: none;
    background-color: #e84925
}

.navigation .submenu .submenu__cart,
.navigation .submenu .submenu__guide {
    width: 29px;
    float: left;
    padding: 10px 3px 0
}

.navigation .submenu .submenu__cart img,
.navigation .submenu .submenu__guide img {
    display: block;
    margin: 0 auto
}

.navigation .submenu .submenu__search {
    float: left;
    padding: 0;
    width: 71%
}

.navigation .submenu .submenu__search .submenu__search__input {
    float: left;
    display: block;
    width: 71%;
    font-size: 11.62px;
    font-size: 0.7rem;
    *font-size: 14px;
    border: none;
    padding: 4px 0;
    margin: 8px 4px 0 8px;
    -webkit-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px
}

.navigation .submenu .submenu__search .submenu__search__btn {
    background: url("../../frameworks/img/search.png") 50% 50% no-repeat;
    background-size: 22px 22px;
    display: block;
    margin: 0 auto;
    float: left;
    height: 35px;
    width: 35px;
    padding: 0;
    style: none;
    border: none
}

a.meanmenu-reveal {
    display: none
}

.mean-container .mean-bar {
    width: 100%;
    float: left;
    position: relative;
    background: #e84925;
    min-height: 40px;
    z-index: 999999;
    display: none
}

.mean-container .mean-bar span {
    display: block;
    background: #fff;
    height: 2px;
    margin-top: 4px
}

.mean-container .mean-nav {
    float: left;
    width: 100%;
    background: #fff;
    margin-top: 40px
}

.mean-container .mean-nav ul {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-type: none
}

.mean-container .mean-nav ul li {
    position: relative;
    float: left;
    width: 100%;
    border: 1px solid #e84925;
    border-bottom: none
}

.mean-container .mean-nav ul li a {
    display: block;
    float: left;
    width: 90%;
    padding: 0.25em 5%;
    margin: 0;
    text-align: left;
    color: #301e21;
    border-top: 1px solid #383838;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    text-decoration: none;
    text-transform: uppercase
}

.mean-container .mean-nav ul li a:hover {
    background-color: #e84925;
    background: rgba(255, 255, 255, 0.1)
}

.mean-container .mean-nav ul li a.mean-expand {
    width: 26px;
    height: 20px;
    padding: 3px 7px !important;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: top;
    line-height: 1.0;
    z-index: 2;
    font-weight: 700;
    background: rgba(255, 255, 255, 0.1);
    border: none !important;
    border-left: 1px solid rgba(255, 255, 255, 0.4) !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
    color: #e84925
}

.mean-container .mean-nav ul li a.mean-expand:hover {
    color: #fff;
    background-color: #e84925;
    background: rgba(232, 73, 37, 0.9)
}

.mean-container .mean-nav ul li a.mean-expand:hover a {
    background-color: #e84925
}

.mean-container .mean-nav ul li li a {
    width: 80%;
    padding: 0.25em 10%;
    border-top: 1px solid #f1f1f1;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    opacity: 0.75;
    filter: alpha(opacity=75);
    text-shadow: none !important;
    visibility: visible
}

.mean-container .mean-nav ul li li li a {
    width: 70%;
    padding: 0.25em 15%
}

.mean-container .mean-nav ul li li li li a {
    width: 60%;
    padding: 0.25em 20%
}

.mean-container .mean-nav ul li li li li li a {
    width: 50%;
    padding: 0.25em 25%
}

.mean-container .mean-nav ul li .mean-last a {
    border-bottom: none;
    margin-bottom: 0
}

.mean-container .mean-nav .wrapper {
    width: 100%;
    padding: 0;
    margin: 0
}

.mean-container .mean-push {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    clear: both
}

.mean-container .meanmenu-reveal {
    background-color: #e84925;
    width: 17px;
    height: 16px;
    padding: 9px 9px 14px 9px;
    position: absolute;
    border: 1px solid #fff;
    border-bottom: none;
    margin: 0;
    top: 0;
    right: 0;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    text-indent: -9999em;
    line-height: 22px;
    font-size: 1px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700
}

.mean-container .mean-bar,
.mean-container .mean-bar * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

.mean-remove {
    display: none !important
}

body {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    color: #301e21;
    line-height: 1.7
}

body img {
    border: none
}

#bghack {
    z-index: -1;
    background-image: url("../img/cate_bg.jpg");
    background-repeat: repeat;
    background-size: 70px 79px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

header {
    text-align: left;
    background: #fff;
    height: 600px;
    width: 100%
}

article {
    height: auto;
    text-align: left;
    padding: 2% 0%
}

article p {
    text-align: center;
}

article a {
    color: #301e21;
    text-decoration: none
}

article a:hover {
    text-decoration: underline
}

article a:visited {
    color: #301e21
}

article a:link {
    color: #301e21
}

article a:active {
    color: #e84925
}

#rankBanner .span_12 {
    height: 200px
}

aside {
    height: auto;
    text-align: left;
    padding: 2% 0%
}

footer {
    text-align: left;
    padding: 0 0 2%
}

.bnr img {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url(../js/boxsizing.htc);
    width: 100%
}

.bnr p {
    margin: 5% 0 0;
    padding: 10%
}

.bnr p.pt01 {
    color: #fff
}

.bnr p.pt02 {
    color: #301e21
}

#bghack {
    z-index: -1;
    background-image: url(../img/subpage_bglp_02.jpg);
    background-repeat: repeat;
    background-size: 70px 79px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

h1 {
    font-size: 41.5px;
    font-size: 2.5rem;
    *font-size: 50px;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url(../js/boxsizing.htc);
    width: 60%;
    margin: 0 auto;
    color: #fff;
    position: relative;
    text-align: center;
    top: 50%;
    padding: 20px;
    border-top: 1px dotted #fff;
    border-bottom: 1px dotted #fff;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    display: none;
}

h2 {
    display: block;
    font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    font-weight: bold;

    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url(../js/boxsizing.htc);
    width: 100%;
    margin: 0 auto;
    padding-left: 10px;
    text-align: left;
    color: #ccc;
    top: 50%;
}

h2.h2_imp {
    color: #301e21;
    font-size: 28px;
    font-size: 1.6rem;
    *font-size: 35px;
    background-color: #e1e1e1;
    margin-top: 50px;
}

em {
    font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    font-weight: bold;
    font-size: 24px;
    font-size: 2rem;
    *font-size: 24px;
    text-align: center;
    margin: 1rem auto;
    margin: 10px auto;
    padding: 0 0 0.5rem 0;
    padding: 0 0 5px 0;
    display: block;
    width: 78%;
    color: #e95330;
}

#request_progress {
    margin-top: 10px;
    margin-bottom: 15px;
}

div.request_imp {
    margin-top: 30px;
}

div.request {
    font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    font-size: 16.2px;
    font-size: 1.2rem;
    *font-size: 20px;
    background-color: #f59783;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    padding: 10px 10px 10px 10px;
    text-align: left;
    margin-bottom: 10px;
}

span.customers_request {
    font-size: 0.8rem;
    background-color: #e95330;
    padding: 4px;
    margin-right: 8px;
}


div.improving {
    background-image: url(https://www.rakuten.ne.jp/gold/dentouhonpo/info/img/kaizenchu.png);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    line-height: 70px;
    font-size: 16px;
}

div.improved {
    background-image: url(https://www.rakuten.ne.jp/gold/dentouhonpo/info/img/kaizensumi.png);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    line-height: 70px;
    font-size: 16px;
}

div.improving p {
    text-align: left;
    padding-left: 70px;
}

div.improved p {
    text-align: left;
    padding-left: 70px;
}

.progress_rate {
    color: #e95330;
    width: 70%;
    margin: 0 auto;
    line-height: 50px;
    font-size: 20px;
}

div.frame {
    width: 100%;
    height: 10px;
    border: 1px solid red;
}

div.sample {
    -webkit-animation-name: sample_anime;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    animation-name: sample_anime;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.sumi {
    background-color: #f59783;
}

@-webkit-keyframes sample_anime {
    from {
        width: 20%;
        height: 10px;
        background-color: #f59783;
    }
    to {
        width: 0%;
        height: 10px;
        background: #f59783;
    }
}

@keyframes sample_anime {
    from {
        width: 20%;
        height: 10px;
        background: #f59783;
    }
    to {
        width: 80%;
        height: 10px;
        background: #f59783;
    }
}





.tagGroup {
    font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    font-weight: bold;
    width: 100%;
    margin: 1.0rem 0;
    margin: 15px 0;
    padding: 0 0 5px 0;
    overflow: hidden;
    height: auto
}

.tagGroup span {
    font-size: 13.28px;
    font-size: 0.8rem;
    *font-size: 16px;
    display: block;
    float: right;
    margin: 0 0 0 0.5rem;
    margin: 0 0 0 5px;
    padding: 0 0.5rem;
    padding: 0 5px;
    width: 38px;
    height: 44px;
    color: #fff;
    line-height: 2.7rem;
    line-height: 44px;
    background: url(../img/icon.png) no-repeat;
    background-size: cover;
    text-align: center
}

.tagGroup li span {
    clear: both;
    float: none;
    display: block;
    margin: auto;
    font-size: 13.28px;
    font-size: 0.8rem;
    *font-size: 16px
}

.tagGroup li p {
    clear: both;
    text-align-last: center
}

header .nav {
    display: none
}

header iframe {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 100%
}

.container {
    background-color: #fff;
    border-bottom: 1px solid #cebfbb
}

.container h3 {
    line-height: 1.1
}

.container .catchBanner {
    height: auto;
    width: 100%;
    margin: 3.6rem 0 0 0;
    margin: 20px 0 0 0
}

.container .catchBanner:first-child {
    margin: 0
}

#imp_footer_text {
    margin-top: 80px;
    margin-bottom: 80px;
}


/*追加*/

p.imp_Link {
    line-height: 2.5em;
    font-size: 1.1em;
    color: #e95330;
    text-align: right;
    padding-right: 45px;
    padding-top: 0;
}

p.imp_Link a {
    color: #e95330;
}

p.imp_Link a:hover {
    color: #301e21;
    text-decoration: none;
}


#imp_footer_text p {
    color: #301e21;
    font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin: 1rem auto;
    margin: 10px auto;
    padding: 0 0 0.5rem 0;
    padding: 0 0 5px 0;
    color: #e95330;
}

#review_Link_btn {
    background: #E84925;
    border: 1px dotted #301e21;
    color: #fff;
    width: 60%;
    margin: 5px auto 0;
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

#review_Link_btn:hover {
    background: #F59783;
}


.imp {
    margin-bottom: 5px;
}


.container .mainCustomer {
    background: url(../img/header.png);
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: auto;
    height: 168px;
}

.container .mainCustomer article {
    padding: 0
}

.contents {
    text-align: center;
}


/*追加*/

.container .imp_img {
    width: 100%;
    max-width: 891px;
    margin-bottom: 0;
}

#footer_text {
    max-width: 90%;
    margin: auto;
}

footer iframe {
    display: block;
    width: 100%;
    height: 2455px;
    margin: 0 auto;
    overflow: hidden
}

footer #sp {
    display: none
}


@media only screen and (max-width: 801px) and (min-width: 799px) {
    #categoryMenu {
        display: none
    }
    header {
        display: none
    }
    footer {
        display: none
    }
    .container #useFull,
    .container #heaLing,
    .container #cooKing,
    .container #deSign {
        padding: 0.625rem;
        padding: 10px
    }
    .container #useFull div.col,
    .container #heaLing div.col,
    .container #cooKing div.col,
    .container #deSign div.col {
        margin-left: 0
    }
    .container #useFull div.col article div p,
    .container #heaLing div.col article div p,
    .container #cooKing div.col article div p,
    .container #deSign div.col article div p {
        height: 96px
    }
}

@media screen and (max-width: 768px) {
    .mean-container .mean-bar {
        display: block
    }
    h2,
    h3,
    h4 {
        font-size: 16.6px;
        font-size: 1rem;
        *font-size: 20px;
        margin-bottom: 1.2rem;
        display: block;
        line-height: 1.2
    }


    h2 {
        text-align: center
    }

    h2.h2_imp {
        margin-top: 30px;
    }
    h3 {
        font-size: 12.2px;
        font-size: 1rem;
        *font-size: 16px;
        padding: 0;
        margin: 0;
        clear: both;
        display: block;
        background-color: #f59783;
        padding: 10px;
        color: #fff;
    }

    div.request {
        font-size: 0.9rem;
    }


    span.customers_request {
        font-size: 0.8rem;
        background-color: #e95330;
        padding: 4px;
        margin-right: 8px;
    }


    div.improving {
        background-image: url(../img/kaizenchu.png);
        background-repeat: no-repeat;
        background-position: 10px 10px;
        height: 70px;
        font-size: 12px;
        text-align: left;
    }
    div.improved {
        background-image: url(https://www.rakuten.ne.jp/gold/dentouhonpo/info/img/kaizensumi.png);
        background-repeat: no-repeat;
        background-position: 10px 10px;
        height: 70px;
        font-size: 12px;
        text-align: left;
    }

    p.progress_rate {
        color: #FFFFFF;
        line-height: 30px;
        font-size: 14px;
        background-color: #e95330;
        width: 100%;
    }

    #imp_footer_text {
        margin-top: 20px;
        margin-bottom: 40px;
    }


    .shopName {
        font-size: 13.28px;
        font-size: 0.8rem;
        *font-size: 16px;
        font-weight: bold;
        margin-bottom: 1.2rem;
        display: block
    }
    header {
        background-color: #fff;
        color: #fff;
        height: auto
    }
    header iframe {
        display: none
    }
    header .wf .fs1 {
        font-size: 24px;
        border: 1px solid #cebfbb;
        border-right: none;
        height: 43px;
        padding: 0;
        margin: 0 auto;
        color: #301e21
    }
    header .nav {
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        *behavior: url(../js/boxsizing.htc);
        width: 100%;
        display: block;
        height: auto;
        overflow: hidden
    }
    header .nav a {
        text-decoration: none;
        color: #301e21
    }
    header .nav .shopName {
        display: block;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        *behavior: url(../js/boxsizing.htc);
        width: 75%;
        padding: 0;
        float: left;
        margin: 0;
        border: 1px solid #cebfbb;
        border-right: none;
        border-left: none;
        height: 45px;
        text-indent: 0.25rem;
        font-size: 0.9rem;
        line-height: 3;
        font-weight: normal
    }
    header .nav .shopName img {
        width: 1.5rem;
        height: 1.5rem;
        display: block;
        margin: 0.5rem;
        float: left
    }
    header .nav div.menu {
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        *behavior: url(../js/boxsizing.htc);
        width: 25%;
        float: left
    }
    header .nav div.menu a {
        text-align: center;
        display: block;
        width: 50%;
        float: left
    }
    .container {
        background: #fff;
    }
    .container #useFull div.col,
    .container #heaLing div.col,
    .container #cooKing div.col,
    .container #deSign div.col {
        width: 100%
    }
    .container #useFull div.col article div,
    .container #heaLing div.col article div,
    .container #cooKing div.col article div,
    .container #deSign div.col article div {
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        *behavior: url(../js/boxsizing.htc);
        width: 50%;
        float: left;
        padding: 2%
    }
    .container #useFull div.col article div img,
    .container #heaLing div.col article div img,
    .container #cooKing div.col article div img,
    .container #deSign div.col article div img {
        width: 70%;
        margin: 0 auto;
        display: block
    }
    .container #useFull div.col article div.wrapGenre,
    .container #heaLing div.col article div.wrapGenre,
    .container #cooKing div.col article div.wrapGenre,
    .container #deSign div.col article div.wrapGenre {
        margin: 0;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        *behavior: url(../js/boxsizing.htc);
        width: 100%
    }
    .container #useFull div.col article div#rightChange,
    .container #heaLing div.col article div#rightChange,
    .container #cooKing div.col article div#rightChange,
    .container #deSign div.col article div#rightChange {
        float: right
    }
    .container h1 {
        font-size: 29.88px;
        font-size: 1.8rem;
        *font-size: 36px;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        *behavior: url(../js/boxsizing.htc);
        width: 90%;
        display: none;
    }
    .container h2 {
        font-size: 24.9px;
        font-size: 1.5rem;
        *font-size: 30px;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        *behavior: url(../js/boxsizing.htc);
        width: 90%
    }
    .container em {
        margin-top: 0;
        font-size: 19.92px;
        font-size: 1.2rem;
        *font-size: 24px;
        width: 100%
    }
    .improving p {
        font-size: 14px;
        line-height: 2.5em;
    }

    #imp_footer_text p {
        font-size: 0.8rem;
    }





    .container #rankBanner,
    .container #usefullBanner,
    .container #designBanner,
    .container #cookBanner,
    .container #healingBanner,
    .container #budgetBanner,
    .container #knowledgeBanner,
    .container #giftBanner {
        height: 200px
    }
    .container #rankBanner article,
    .container #usefullBanner article,
    .container #designBanner article,
    .container #cookBanner article,
    .container #healingBanner article,
    .container #budgetBanner article,
    .container #knowledgeBanner article,
    .container #giftBanner article {
        height: 200px
    }
    .container #introDuction .span_12 em {
        font-size: 18px;
        font-size: 1.1rem;
        *font-size: 24px
    }
    .container #introDuction .span_12 p {
        margin: 1% 0 2%;
        width: 100%
    }
    .container .tagGroup {
        height: auto;
        width: 80%
    }
    .container .tagGroup span {
        font-size: 9.96px;
        font-size: 0.6rem;
        *font-size: 12px;
        margin: 0 0 0.2rem 0.2rem;
        padding: 0.2rem 0.2rem;
        width: 28px;
        height: 25px;
        line-height: 1.7rem
    }
    .container .tagGroup li span {
        font-size: 13.28px;
        font-size: 0.8rem;
        *font-size: 16px;
        width: 38px;
        height: 34px;
        margin: 0 auto;
        line-height: 2.3rem
    }
    .container .tagGroup li p {
        clear: both;
        text-align-last: center
    }
    .container #tagInfo .span_12 ul {
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        *behavior: url(../js/boxsizing.htc);
        width: 100%
    }
    .container #tagInfo .span_12 ul li {
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        *behavior: url(../js/boxsizing.htc);
        width: 16.66667%;
        float: left;
        padding: 1%
    }
    .container #tagInfo .span_12 ul li img {
        margin-top: 20%;
        width: 100%
    }
    .container #tagInfo .span_12 ul li p {
        font-size: 9.96px;
        font-size: 0.6rem;
        *font-size: 12px;
        width: 100%;
        display: block;
        text-align: center;
        margin: 2% 0 0
    }
    .container #tagInfo .span_12 ul#fixIcon {
        width: 100% !important
    }

    .container .publicCategory .image .cf {
        top: 0px
    }
    .container #useFull div.col,
    .container #heaLing div.col,
    .container #cooKing div.col,
    .container #deSign div.col {
        width: 100%
    }
    .container #useFull div.col article div,
    .container #heaLing div.col article div,
    .container #cooKing div.col article div,
    .container #deSign div.col article div {
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        *behavior: url(../js/boxsizing.htc);
        width: 50%;
        float: left;
        padding: 2%
    }
    .container #useFull div.col article div img,
    .container #heaLing div.col article div img,
    .container #cooKing div.col article div img,
    .container #deSign div.col article div img {
        width: 100%;
        margin: 0 auto;
        display: block
    }
    .container #useFull div.col article div .tagGroup,
    .container #heaLing div.col article div .tagGroup,
    .container #cooKing div.col article div .tagGroup,
    .container #deSign div.col article div .tagGroup {
        margin-bottom: 0
    }
    .container #useFull div.col article div p,
    .container #heaLing div.col article div p,
    .container #cooKing div.col article div p,
    .container #deSign div.col article div p {
        height: 80px
    }
    .container #useFull div.col article div h3,
    .container #heaLing div.col article div h3,
    .container #cooKing div.col article div h3,
    .container #deSign div.col article div h3 {
        line-height: 1.9rem
    }
    .container #useFull div.col article div#rightChange,
    .container #heaLing div.col article div#rightChange,
    .container #cooKing div.col article div#rightChange,
    .container #deSign div.col article div#rightChange {
        float: right
    }
    .container .budGet .span_4 {
        padding: 2%
    }
    .container .budGet .span_4 h3 {
        line-height: 1.5rem;
        padding: 0;
        margin: 0.5rem 0 0;
        height: 1.5rem;
        overflow: hidden
    }
    .container .budGet .span_4 div img {
        width: 100%
    }
    .container .budGet .span_4 div .tagGroup {
        width: 100%;
        margin: 0.2rem 0 0 0;
        padding: 0;
        height: auto;
        top: -43px;
        right: 3px
    }
    .container .budGet .span_4 div .tagGroup span {
        font-size: 8.3px;
        font-size: 0.5rem;
        *font-size: 10px;
        margin: 0 0 0.2rem 0.2rem;
        padding: 0.2rem 0.2rem;
        width: 19px;
        height: 17px;
        line-height: 1.1rem
    }
    .container .budGet .span_4 div p {
        height: 10rem;
        line-height: 1.2rem;
        overflow: hidden
    }
    .container #knowLedge {
        padding: 2%
    }
    .container #knowLedge article {
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        *behavior: url(../js/boxsizing.htc);
        width: 100%;
        padding: 3%
    }
    .container #knowLedge article h4 {
        margin: 0 0 1rem 0;
        font-size: 23.24px;
        font-size: 1.4rem;
        *font-size: 28px
    }
    .container #knowLedge aside {
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        *behavior: url(../js/boxsizing.htc);
        width: 100%
    }
    .container #knowLedge aside ul {
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        *behavior: url(../js/boxsizing.htc);
        width: 100%
    }
    .container .giftService,
    .container .categoryLinks {
        position: relative
    }
    .container .giftService .span_8,
    .container .categoryLinks .span_8 {
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        *behavior: url(../js/boxsizing.htc);
        width: 100%;
        padding: 3%;
        height: 100%
    }
    .container .giftService .span_8 h4,
    .container .categoryLinks .span_8 h4 {
        margin: 0 0 1rem 0;
        font-size: 23.24px;
        font-size: 1.4rem;
        *font-size: 28px
    }
    .container .giftService .span_8.rightPos,
    .container .categoryLinks .span_8.rightPos {
        float: right;
        padding: 1rem 0.5rem 1rem
    }
    .container .giftService .span_4,
    .container .categoryLinks .span_4 {
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        *behavior: url(../js/boxsizing.htc);
        width: 100%
    }
    .container .giftService .span_4 p,
    .container .categoryLinks .span_4 p {
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        *behavior: url(../js/boxsizing.htc);
        width: 100%;
        margin-bottom: 1.5rem
    }
    .container .categoryLinks {
        padding: 0
    }
    .container .categoryLinks article div {
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        *behavior: url(../js/boxsizing.htc);
        width: 40%;
        margin: 0 4% 2%
    }
    .container .categoryLinks article div a {
        font-size: 9.96px;
        font-size: 0.6rem;
        *font-size: 12px
    }
    .container .moreLink article div,
    .container .parentLink article div {
        width: 80%
    }
    .container .moreLink article div a,
    .container .parentLink article div a {
        font-size: 16.6px;
        font-size: 1rem;
        *font-size: 20px;
        padding: 6px
    }
    footer iframe {
        display: none
    }
    footer #sp {
        display: block;
        overflow: hidden
    }
    footer #sp ul#itemCategory,
    footer #sp #genreCategory,
    footer #sp #budgetCategory,
    footer #sp #typeCategory {
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        *behavior: url(../js/boxsizing.htc);
        width: 100%;
        overflow: hidden
    }
    footer #sp ul#itemCategory li,
    footer #sp #genreCategory li,
    footer #sp #budgetCategory li,
    footer #sp #typeCategory li {
        float: left;
        width: 50%;
        display: block;
        border: none;
        border-right: 1px solid #cebfbb;
        border-bottom: 1px solid #cebfbb;
        line-height: 1rem;
        text-indent: 0.5rem
    }
    footer #sp ul#itemCategory li a,
    footer #sp #genreCategory li a,
    footer #sp #budgetCategory li a,
    footer #sp #typeCategory li a {
        line-height: 1.6rem;
        display: block;
        width: 80%;
        margin: auto
    }
    footer #sp ul#itemCategory li a .wf,
    footer #sp #genreCategory li a .wf,
    footer #sp #budgetCategory li a .wf,
    footer #sp #typeCategory li a .wf {
        width: auto
    }
    footer #sp ul#itemCategory li a .wf .fs1,
    footer #sp #genreCategory li a .wf .fs1,
    footer #sp #budgetCategory li a .wf .fs1,
    footer #sp #typeCategory li a .wf .fs1 {
        font-size: 21.58px;
        font-size: 1.3rem;
        *font-size: 26px;
        border: none;
        float: right;
        line-height: 0rem;
        padding: 0;
        margin: 0 auto;
        color: #e84925
    }
    footer #sp ul#itemCategory li:first-child,
    footer #sp #genreCategory li:first-child,
    footer #sp #budgetCategory li:first-child,
    footer #sp #typeCategory li:first-child {
        width: 100%;
        color: #301e21;
        line-height: 3rem;
        padding: 0.5rem 0;
        font-size: 18.26px;
        font-size: 1.1rem;
        *font-size: 22px;
        font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif
    }
    footer #sp ul#itemCategory li:first-child .wf .fs1,
    footer #sp #genreCategory li:first-child .wf .fs1,
    footer #sp #budgetCategory li:first-child .wf .fs1,
    footer #sp #typeCategory li:first-child .wf .fs1 {
        font-size: 19.92px;
        font-size: 1.2rem;
        *font-size: 24px;
        border: none;
        float: left;
        line-height: 3.1rem;
        padding: 0;
        margin: 0 0.25rem 0 0;
        text-indent: 1rem;
        color: #e84925
    }
    footer #sp ul#itemCategory li.listWrap,
    footer #sp #genreCategory li.listWrap,
    footer #sp #budgetCategory li.listWrap,
    footer #sp #typeCategory li.listWrap {
        width: 100%
    }
    footer #sp ul#itemCategory li.listWrap a,
    footer #sp #genreCategory li.listWrap a,
    footer #sp #budgetCategory li.listWrap a,
    footer #sp #typeCategory li.listWrap a {
        width: 40%
    }
    footer #sp ul#eventCategory {
        overflow: hidden;
        background-color: #fff
    }
    footer #sp ul#eventCategory li {
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        *behavior: url(../js/boxsizing.htc);
        width: 100%;
        padding: 2% 1%;
        display: block
    }
    footer #sp ul#eventCategory li img {
        max-width: 100%;
        outline: 1px solid #cebfbb
    }
    footer #sp ul#eventCategory li:first-child {
        width: 100%;
        color: #301e21;
        line-height: 3rem;
        padding: 0.5rem 0;
        font-size: 18.26px;
        font-size: 1.1rem;
        *font-size: 22px;
        font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
        border-bottom: 1px solid #cebfbb
    }
    footer #sp ul#eventCategory li:first-child .wf .fs1 {
        font-size: 19.92px;
        font-size: 1.2rem;
        *font-size: 24px;
        border: none;
        line-height: 3.1rem;
        float: left;
        padding: 0;
        margin: 0 0.25rem 0 0;
        text-indent: 1rem;
        color: #e84925
    }
    footer #sp iframe.eventCategory {
        display: block;
        height: 400px
    }
    footer .gotoTop {
        overflow: hidden;
        border-bottom: 1px solid #cebfbb;
        border-top: none;
        background-color: #fff;
        width: 100%;
        line-height: 4.5;
        text-align: center
    }
    footer .gotoTop a {
        clear: both;
        color: #301e21;
        text-decoration: none;
        display: block;
        width: 100%;
        text-align: center;
        padding: .8rem 0 1rem
    }
    footer .gotoTop a .wf {
        width: auto
    }
    footer .gotoTop a .wf .fs1 {
        font-size: 19.92px;
        font-size: 1.2rem;
        *font-size: 24px;
        border: none;
        line-height: .5rem;
        padding: 0;
        margin: 0 1rem;
        color: #e84925
    }
    footer .gotoTop a span {
        display: block;
        text-align: center;
        line-height: 1.3rem
    }
    footer ul li {
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        *behavior: url(../js/boxsizing.htc);
        width: 50%;
        display: block;
        float: left;
        border: 1px solid #cebfbb;
        border-top: none;
        border-left: none;
        padding: 10px;
        background-color: #fff
    }
    footer ul li a {
        color: #301e21;
        text-decoration: none;
        display: block;
        text-align: center
    }
    footer .info li a {
        line-height: 1.6rem;
        display: block;
        width: 80%;
        margin: auto
    }
    footer .info li a .wf {
        width: auto
    }
    footer .info li a .wf .fs1 {
        font-size: 21.58px;
        font-size: 1.3rem;
        *font-size: 26px;
        border: none;
        float: right;
        line-height: 0rem;
        padding: 0;
        margin: 0 auto;
        color: #e84925
    }
    footer address {
        background-color: #fff
    }
    footer address ul li {
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        *behavior: url(../js/boxsizing.htc);
        width: 33.3%;
        display: block;
        float: left;
        border: 1px solid #cebfbb;
        border-right: none;
        text-align: center
    }
    footer address ul li:first-child {
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        *behavior: url(../js/boxsizing.htc);
        width: 100%;
        border-bottom: none
    }
    footer address ul li:first-child a {
        display: block;
        width: 100%;
        margin: 0 auto;
        text-align: center
    }
    footer address ul li:first-child a .wf {
        width: 110px;
        margin: 0 auto
    }
    footer address ul li:first-child a .wf .fs1 {
        line-height: 1.5rem
    }
    footer address ul li:last-child {
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        *behavior: url(../js/boxsizing.htc);
        width: 100%;
        border-top: none;
        padding: 1.5rem 1rem 1rem
    }
    footer address ul li:last-child #label {
        color: #aaa
    }
    footer address ul li:last-child #form {
        float: left;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        *behavior: url(../js/boxsizing.htc);
        width: 90%;
        height: 30px;
        border-style: none;
        border: 1px solid #301e21
    }
    footer address ul li:last-child .wf {
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        *behavior: url(../js/boxsizing.htc);
        width: 10%;
        float: left;
        padding: 0 0 0 0.4rem;
        position: relative
    }
    footer address ul li:last-child .wf .fs1 {
        position: relative;
        line-height: 2.0rem;
        font-size: 23.24px;
        font-size: 1.4rem;
        *font-size: 28px;
        color: #e84925
    }
    footer address ul li:last-child .wf .fs1 #btn {
        position: absolute;
        border-style: none;
        width: 1rem;
        right: 10px;
        filter: alpha(opacity=0);
        -moz-opacity: 0;
        opacity: 0;
        background-color: #fff
    }
    footer address ul li a {
        display: block;
        width: 100%;
        margin: 0 auto;
        text-align: center
    }
    footer address ul li a .wf {
        width: 60px;
        margin: 0 auto
    }
    footer address ul li a .wf .fs1 {
        font-size: 16.6px;
        font-size: 1rem;
        *font-size: 20px;
        border: none;
        float: left;
        line-height: 0;
        padding: 0;
        margin: 0 auto;
        color: #e84925
    }
    footer address p {
        clear: both;
        margin: 1rem 1rem 0;
        display: block;
        overflow: hidden
    }
    footer address p:last-child {
        text-align: center;
        padding: 0 0 1rem 0
    }
    footer address p:first-child {
        text-align: center;
        padding: 30px 0 10px;
        font-size: 1.3rem;
        font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif
    }
}

@media only screen and (max-width: 768px) and (min-width: 480px) {
    h2,
    h3,
    h4 {
        font-size: 23.24px;
        font-size: 1.4rem;
        *font-size: 28px;
        display: block;
        line-height: 1.1
    }
    .publicCategory h3 {
        margin-top: 25%
    }
}

@media only screen and (max-width: 768px) and (min-width: 480px) {
    .container h1 {
        font-size: 33.2px;
        font-size: 2rem;
        *font-size: 40px;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        *behavior: url(../js/boxsizing.htc);
        width: 80%;
        display: none;
    }
    .container h2 {
        font-size: 29.88px;
        font-size: 1.8rem;
        *font-size: 36px;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        *behavior: url(../js/boxsizing.htc);
        width: 60%
    }
    .container em {
        font-size: 24.9px;
        font-size: 1.5rem;
        *font-size: 30px;
        width: 80%
    }
}

@media only screen and (max-width: 768px) and (min-width: 480px) {
    .container #tagInfo .span_12 ul {
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        *behavior: url(../js/boxsizing.htc);
        width: 80%
    }
}

@media only screen and (max-width: 768px) and (min-width: 480px) {
    .container #rankItem .tagGroup span {
        font-size: 12.45px;
        font-size: 0.75rem;
        *font-size: 15px;
        margin: 0 0 0.2rem 0.2rem;
        padding: 0.2rem 0.2rem;
        width: 38px;
        height: 34px;
        line-height: 2.3rem
    }
}

@media only screen and (max-width: 768px) and (max-width: 480px) {
    .container #rankItem .span_6 article img.captionImage {
        display: none
    }
}

@media only screen and (max-width: 768px) and (min-width: 480px) {
    .container #useFull div.col article,
    .container #heaLing div.col article,
    .container #cooKing div.col article,
    .container #deSign div.col article {
        border-bottom: 1px dashed #cebfbb;
        overflow: hidden;
        margin: 0 0 1rem 0
    }
    .container #useFull div.col article div img,
    .container #heaLing div.col article div img,
    .container #cooKing div.col article div img,
    .container #deSign div.col article div img {
        width: 70%;
        margin: 0 auto;
        display: block
    }
}

@media only screen and (max-width: 768px) and (min-width: 480px) {
    .container #useFull div.col article div .tagGroup span,
    .container #heaLing div.col article div .tagGroup span,
    .container #cooKing div.col article div .tagGroup span,
    .container #deSign div.col article div .tagGroup span {
        font-size: 12.45px;
        font-size: 0.75rem;
        *font-size: 15px;
        margin: 0 0 0.2rem 0.2rem;
        padding: 0.2rem 0.2rem;
        width: 38px;
        height: 34px;
        line-height: 2.3rem
    }
}

@media only screen and (max-width: 768px) and (min-width: 480px) {
    .container .budGet .span_4 div .tagGroup span {
        font-size: 12.45px;
        font-size: 0.75rem;
        *font-size: 15px;
        margin: 0 0 0.2rem 0.2rem;
        padding: 0.2rem 0.2rem;
        width: 38px;
        height: 34px;
        line-height: 2.3rem
    }
}

@media only screen and (max-width: 768px) and (min-width: 480px) {
    .container .giftService .span_8,
    .container .categoryLinks .span_8 {
        padding: 90px
    }
    .container .giftService .span_8 h4,
    .container .categoryLinks .span_8 h4 {
        text-align: center;
        width: 100%;
        font-size: 24.9px;
        font-size: 1.5rem;
        *font-size: 30px
    }
    .container .giftService .span_8 p,
    .container .categoryLinks .span_8 p {
        width: 100%;
        line-height: 2
    }
    .container .giftService .span_8.rightPos,
    .container .categoryLinks .span_8.rightPos {
        float: right;
        padding: 90px
    }
}

@media only screen and (max-width: 768px) and (min-width: 480px) {
    .container .categoryLinks article div {
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        *behavior: url(../js/boxsizing.htc);
        width: 25%;
        margin: 0 4% 2%
    }
    .container .categoryLinks article div a {
        font-size: 13.28px;
        font-size: 0.8rem;
        *font-size: 16px
    }
}

@media only screen and (max-width: 768px) and (min-width: 480px) {
    footer #sp ul#eventCategory li {
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        *behavior: url(../js/boxsizing.htc);
        width: 50%;
        padding: 1%;
        display: block;
        float: left
    }
    footer #sp ul#eventCategory li img {
        width: 100%
    }
}

@media only screen and (max-width: 768px) and (min-width: 480px) {
    footer .gotoTop {
        border-top: 1px solid #cebfbb
    }
}