    /* IMPORT RESET */

    @import"../../styleguide/_scss/styleguide.scss";
    @import"../../frameworks/css/responsive.gs.24col.css";
    @import "sprite.scss";
    @import "sprite-r.scss";
    $line: 1px solid $sbc01;
    header {
        text-align: left;
        background: $bc;
        height: 600px;
        width: 100%;
    }

    .bghack {
        z-index: -1;
        background-image: url('../img/subpage_bglp.jpg');
        background-repeat: repeat;
        background-size: 70px 79px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }


/*紙袋用設定*/

#paperbag_Container,
#wrapping_Container {
    width: 100%;
    background-image: url(../img/subpage_bglp_02.jpg);
}

#paperbag_Contents img,
#wrapping_Contents img {
    max-width: 100%;
    height: auto;
}

#paperbag_Contents,
#wrapping_Contents {
    max-width: 960px;
    margin: 0 auto;
    background-color: #FFF;
    text-align: center;
    .pbHeader,
    .wpHeader {
        padding-top: 27.8%;
        height: 0;
        background-size: contain;
        background-repeat: no-repeat;
        max-height: 267px;
        h1 {
            padding-top: 267px;
            height: 0;
            overflow: hidden;
        }
        p {
            margin-top: 10px;
        }
    }
    .pbHeader {
        background-image: url(https://www.rakuten.ne.jp/gold/dentouhonpo/info/img/pb_header_img.jpg);
    }
    .wpHeader {
        background-image: url(https://www.rakuten.ne.jp/gold/dentouhonpo/info/img/wp_header_img.jpg);
    }
    nav {
        width: 100%;
        height: 75px;
        margin: 30px auto;
        ul.pb_nav,
        ul.wp_nav {
            margin: 0 auto;
            width: 700px;
            li {
                float: left;
                width: 140px;
                height: 75px;
                a {
                    display: block;
                    width: 100%;
                    height: 0;
                    padding-top: 75px;
                    overflow: hidden;
                    background-image: url(https://www.rakuten.ne.jp/gold/dentouhonpo/info/img/pb_globalnav.png);
                }
            }
        }
        ul.pb_nav li a {
            background-image: url(https://www.rakuten.ne.jp/gold/dentouhonpo/info/img/pb_globalnav.png);
        }
        ul.wp_nav li a {
            background-image: url(https://www.rakuten.ne.jp/gold/dentouhonpo/info/img/wp_globalnav.png);
        }
    }
    ul.pb_nav li.about a,
    ul.wp_nav li.about a {
        background-position: 0 0;
        &:hover {
            background-position: 0 -82px;
        }
    }
    ul.pb_nav li.select_bag a,
    ul.wp_nav li.select_wrap a {
        background-position: -140px 0;
        &:hover {
            background-position: -140px -82px;
        }
    }
    ul.pb_nav li.attention a,
    ul.wp_nav li.attention a {
        background-position: -280px 0;
        &:hover {
            background-position: -280px -82px;
        }
    }
    ul.pb_nav li.howto a,
    ul.wp_nav li.howto a {
        background-position: -420px 0;
        &:hover {
            background-position: -420px -82px;
        }
    }
    ul.pb_nav li.qa a,
    ul.wp_nav li.qa a {
        background-position: -560px 0;
        &:hover {
            background-position: -560px -82px;
        }
    }
    h2 {
        width: 90%;
        height: 64px;
        text-align: left;
        padding-left: 75px;
        margin-top: 40px;
        margin-bottom: 10px;
        background-image: url(../img/01.jpg);
        background-repeat: no-repeat;
        background-position: 20px 0;
    }
    .leadtext {
        margin: auto;
        font-size: 16px;
        width: 85%;
        &.wp {
            text-align: left;
            list-style-type: none;
            li {
                &:before {
                    content: '-';
                    display: inline-block;
                    margin: 0 0 10px 5px;
                }
            }
        }
    }
    .use {
        margin: auto;
        width: 100%;
        margin-top: 25px;
        h3 {
            margin: 0 auto;
            width: 200px;
            border: solid 1px #E95330;
            padding: 4px;
            font-size: 20px;
        }
        p {
            font-size: 1.1em;
            line-height: 3em;
        }
        ul {
            margin-top: 10px;
        }
        ul li {
            font-size: 16px;
        }
    }
    #select_bag,
    #select_wrap {
        width: 95%;
        margin: 30px auto;
        .select_bg {
            margin-bottom: 20px;
            em {
                font-size: 30px;
            }
        }
        .bag_01 {
            margin-bottom: 10px;
        }
        .wrap_01 {
            margin-bottom: 10px;
        }
        .free {
            width: 95%;
            margin: 20px auto;
            font-size: 20px;
            em {
                font-size: 30px;
            }
        }
    }
    #select_wrap {
        .bg_img {
            margin: 0 0 30px;
            & > div {
                margin: 0 0 45px;
            }
        }
    }
    #attention {
        h2 {
            background-image: url(../img/02.jpg);
        }
        ul.pb_attention,
        ul.wp_attention {
            width: 80%;
            text-align: left;
            font-size: 20px;
            margin: 0 auto;
            li {
                margin-bottom: 5px;
                background: url(../img/attention.jpg) no-repeat;
                padding-left: 28px;
                em {
                    font-size: 20px;
                    color: #301e21;
                    border-bottom: 2px solid #D8FF09;
                }
            }
        }
    }
    #howto {
        h2 {
            background-image: url(../img/03.jpg);
        }
        .pb_howto,
        .wp_howto {
            margin-bottom: 20px;
            h4 {
                width: 80%;
                margin: 0 auto;
                font-size: 24px;
                text-align: left;
                padding-left: 50px;
                margin-bottom: 10px;
            }
        }
        h4.step1 {
            background: url(../img/howto_01.jpg) no-repeat;
        }
        h4.step2 {
            background: url(../img/howto_02.jpg) no-repeat;
        }
        h4.step3 {
            background: url(../img/howto_03.jpg) no-repeat;
        }
        h4.step4 {
            background: url(../img/howto_04.jpg) no-repeat;
        }
        h4.step5 {
            background: url(../img/howto_05.jpg) no-repeat;
        }
        p {
            width: 80%;
            text-align: left;
            margin: 0 auto;
            font-size: 16px;
            margin-bottom: 10px;
        }
        img.mobile_only {
            display: none;
        }
        img.pc_only{
            border: 1px solid #000;
        }
    }
    #qa {
        margin-bottom: 50px;
        h2 {
            background-image: url(../img/04.jpg);
        }
        .pb_qa,
        .wp_qa {
            width: 90%;
            margin: auto;
            border-top: 2px dotted #8C8C8C;
            margin-bottom: 14px;
            text-align: left;
            .question {
                font-size: 18px;
                padding: 29px 10px 0 10px;
                span.qq {
                    padding-bottom: 10px;
                    border-bottom: 2px dotted #d7e4f3;
                    line-height: 48px;
                }
            }
            .answer {
                padding: 15px 15px 15px 25px;
                font-size: 16px;
            }
            .last_q {
                border-bottom: 2px dotted #8C8C8C;
                padding-bottom: 29px;
            }
        }
    }
    p.footer_text {
        font-size: 18px;
        margin-bottom: 40px;
    }
    @media screen and (max-width: 768px) {
        nav {
            width: 100%;
            height: auto;
            ul.pb_nav,
            ul.wp_nav {
                width: 100%;
                li {
                    width: 100%;
                    float: none;
                    height: auto;
                    border-bottom: dotted 1px #fff;
                    text-align: center;
                    a {
                        display: block;
                        width: 100%;
                        clear: both;
                        background-image: none;
                        background-color: #e95330;
                        color: #fff;
                        height: 30px;
                        padding: 2px;
                        text-decoration: none;
                        &:hover {
                            background-color: #f59783;
                        }
                    }
                }
            }
        }
        #about,
        #select_bag,
        #select_wrap,
        #attention,
        #howto,
        #pb_check,
        #wp_check {
            h2 {
                font-size: 16px;
                width: 100%;
                text-align: center;
                height: auto;
                background-image: none;
                background-color: #362225;
                padding: 10px 0 10px 0;
                margin-bottom: 20px;
                color: #fff;
            }
        }
        #about .use ul li {
            font-size: 13px;
        }
        #select_bag,
        #select_wrap {
            p.select_bg em,
            p.select_wp em {
                font-size: 20px;
            }
            .free {
                font-size: 13px;
                em {
                    font-size: 20px;
                }
            }
        }
        #attention ul.pb_attention,
        #attention ul.wp_attention {
            width: 90%;
            li {
                font-size: 15px;
                em {
                    font-size: 15px;
                }
            }
        }
        .mobile_only {
            width: 100%;
        }
        .step_sp01 {
            background-image: url(https://www.rakuten.ne.jp/gold/dentouhonpo/info/img/capture_SP_cart.jpg);
            background-repeat: no-repeat;
            background-position: left center;
            padding-top: 72%;
            background-size: contain;
            max-width: 75%;
            height: 0;
            min-height: 520px;
            margin: 0 auto;
        }
        .step_sp02 {
            background-image: url(https://www.rakuten.ne.jp/gold/dentouhonpo/info/img/pb_capture_SP_r.jpg);
            background-size: contain;
            padding-top: 215%;
            height: 0;
            max-width: 490px;
            background-repeat: no-repeat;
        }
        .wp_howto {
            .step_sp02 {
                background-image: url(https://www.rakuten.ne.jp/gold/dentouhonpo/info/img/wp_capture_SP_r_01.jpg);
                background-size: contain;
                padding-top: 220%;
                height: 0;
                max-width: 490px;
                background-repeat: no-repeat;
            }
            .step_sp03 {
                background-image: url(https://www.rakuten.ne.jp/gold/dentouhonpo/info/img/wp_capture_SP_r_02.jpg);
                background-size: contain;
                padding-top: 135%;
                height: 0;
                max-width: 490px;
                background-repeat: no-repeat;
            }
        }
        img.pc_only {
            display: none;
        }
        #howto {
            p {
                width: 90%;
            }
            .pb_howto h4,
            .wp_howto h4 {
                font-size: 18px;
                padding: 10px 0 10px 50px;
                width: 95%;
            }
            .pb_howto p,
            .wp_howto p {
                width: 95%;
            }
        }
    }
}
    /*紙袋用設定ここまで*/
    .gform {
        overflow: hidden;
        width: 654px;
        height: 820px;
        border-bottom: 1px solid #bbb;
    }
    .gform_faq {
        overflow: hidden;
        width: 920px;
        height: 900px;
        border-bottom: 1px solid #bbb;
    }
    article {
        background: #fff;
    }
    aside {
        background: #fff;
    }
    footer {
        background: #fff;
    }
    /* PC用設定 */
    header {
        .nav {
            display: none;
        }
        iframe {
            margin: 0 auto;
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    /* トップへ戻る */
    #pageTop {
        background: $acc;
        border-radius: 2px;
        color: $bc;
        padding: 6px 10px;
        position: fixed;
        bottom: 20px;
        right: 20px;
        @include anm(0.25s);
        @include fsize(12,
            1);
        text-decoration: none;
    }
    #pageTop:hover {
        background: $mc;
    }
    /* 章ごとの目次へ戻る */
    a.return {
        text-align: right;
        @include fsize(12,
            1.5);
        display: none;
        display: block\9;
    }
    @mixin addquery($point) {
        @media screen and (max-width: $point) {
            @content;
        }
    }
    footer {
        /* maincontents-fin */
        iframe {
            display: block;
            width: 100%;
            /* height: 3450px; */
            height: 2455px;
            margin: 0 auto;
        }
        #sp {
            display: none;
        }
    }
    /* タブレット端末、スマートフォン用設定 ヘッダー、フッター */
    @include addquery(768px) {
        header {
            background-color: $bc;
            color: $bc;
            height: auto;
            iframe {
                display: none;
            }
            .wf .fs1 {
                font-size: 24px;
                border: 1px solid $sbc01;
                border-right: none;
                height: 43px;
                padding: 0;
                margin: 0 auto;
                color: $acc;
            }
            .nav {
                @include sizing(100%);
                display: block;
                height: auto;
                overflow: hidden;
                a {
                    text-decoration: none;
                    color: $acc;
                }
                .shopName {
                    font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
                    display: block;
                    @include sizing(75%);
                    padding: 0;
                    float: left;
                    margin: 0;
                    border-bottom: 1px solid $sbc01;
                    height: 43px;
                    text-indent: 0.25rem;
                    font-size: 0.9rem;
                    line-height: 3;
                    font-weight: normal;
                    img {
                        width: 1.5rem;
                        height: 1.5rem;
                        display: block;
                        margin: 0.5rem;
                        float: left;
                    }
                }
                div.menu {
                    @include sizing(25%);
                    float: left;
                    a {
                        text-align: center;
                        display: block;
                        width: 50%;
                        float: left;
                    }
                }
            }
        }
        /* header-fin */
        footer {
            iframe {
                display: none;
            }
            #sp {
                display: block;
                overflow: hidden;
                ul#itemCategory,
                #genreCategory,
                #budgetCategory {
                    @include sizing(100%);
                    overflow: hidden;
                    li {
                        float: left;
                        width: 50%;
                        display: block;
                        border: none;
                        border-right: $line;
                        border-bottom: $line;
                        line-height: 1rem;
                        text-indent: 0.5rem;
                        a {
                            line-height: 1.6rem;
                            display: block;
                            width: 80%;
                            margin: auto;
                            .wf {
                                width: auto;
                                .fs1 {
                                    @include fsize(23.4,
                                        1);
                                    border: none;
                                    float: right;
                                    line-height: 0rem;
                                    padding: 0;
                                    margin: 0 auto;
                                    color: $mc;
                                }
                            }
                        }
                    }
                    li:first-child {
                        width: 100%;
                        color: $acc;
                        @include fsize(19.8,
                            2.3);
                        padding: 0.5rem 0;
                        font-family: "Times New Roman", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
                        .wf .fs1 {
                            @include fsize(21.6,
                                1);
                            border: none;
                            float: left;
                            line-height: 3.1rem;
                            padding: 0;
                            margin: 0 0.25rem 0 0;
                            text-indent: 1rem;
                            color: $mc;
                        }
                    }
                    li.listWrap {
                        width: 100%;
                        a {
                            width: 40%;
                        }
                    }
                }
                ul#eventCategory {
                    overflow: hidden;
                    background-color: $bc;
                    @media only screen and (min-width: 480px) {
                        li {
                            @include sizing(50%);
                            padding: 1%;
                            display: block;
                            float: left;
                            img {
                                width: 100%;
                            }
                        }
                    }
                    li {
                        @include sizing(100%);
                        padding: 2% 1%;
                        display: block;
                        img {
                            max-width: 100%;
                            outline: 1px solid $sbc01;
                        }
                    }
                    li:first-child {
                        width: 100%;
                        color: $acc;
                        padding: 0.5rem 0;
                        @include fsize(19.8,
                            2.3);
                        font-family: "Times New Roman", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
                        border-bottom: $line;
                        .wf .fs1 {
                            @include fsize(21.6,
                                1);
                            border: none;
                            line-height: 3.1rem;
                            float: left;
                            padding: 0;
                            margin: 0 0.25rem 0 0;
                            text-indent: 1rem;
                            color: $mc;
                        }
                    }
                }
            }
            /* menu */
            @media only screen and (min-width: 480px) {
                .gotoTop {
                    border-top: $line;
                }
                .mobile_only {
                    display: none;
                }
            }
            .gotoTop {
                overflow: hidden;
                border-bottom: $line;
                border-top: none;
                background-color: $bc;
                width: 100%;
                line-height: 4.5;
                text-align: center;
                a {
                    clear: both;
                    color: $acc;
                    text-decoration: none;
                    display: block;
                    width: 100%;
                    text-align: center;
                    padding: .8rem 0 1rem;
                    .wf {
                        width: auto;
                        .fs1 {
                            @include fsize(21.6,
                                1);
                            border: none;
                            line-height: .5rem;
                            padding: 0;
                            margin: 0 1rem;
                            color: $mc;
                        }
                    }
                    span {
                        display: block;
                        text-align: center;
                        line-height: 1.3rem;
                        font-weight: normal;
                    }
                }
            }
            ul {
                text-indent: 0;
                li {
                    @include sizing(50%);
                    display: block;
                    float: left;
                    border: $line;
                    border-top: none;
                    border-left: none;
                    padding: 10px;
                    background-color: $bc;
                    a {
                        color: $acc;
                        text-decoration: none;
                        display: block;
                        text-align: center;
                    }
                }
            }
            .info {
                li {
                    a {
                        line-height: 1.6rem;
                        display: block;
                        width: 80%;
                        margin: auto;
                        .wf {
                            width: auto;
                            .fs1 {
                                @include fsize(23.4,
                                    1);
                                border: none;
                                float: right;
                                line-height: 0rem;
                                padding: 0;
                                margin: 0 auto;
                                color: $mc;
                            }
                        }
                    }
                }
            }
            address {
                background-color: $bc;
                small {
                    color: $acc;
                    font-weight: normal;
                }
                ul {
                    li {
                        @include sizing(33.3%);
                        display: block;
                        float: left;
                        border: $line;
                        border-right: none;
                        text-align: center;
                        &:first-child {
                            @include sizing(100%);
                            border-bottom: none;
                            a {
                                display: block;
                                width: 100%;
                                margin: 0 auto;
                                text-align: center;
                                .wf {
                                    width: 110px;
                                    margin: 0 auto;
                                    .fs1 {
                                        line-height: 1.5rem;
                                    }
                                }
                            }
                        }
                        &:last-child {
                            @include sizing(100%);
                            border-top: none;
                            padding: 1.5rem 1rem 1rem;
                            #label {
                                color: #aaa;
                                clear: both;
                                display: block;
                            }
                            #form {
                                float: left;
                                @include sizing(90%);
                                height: 30px;
                                border-style: none;
                                border: 1px solid $acc;
                            }
                            .wf {
                                @include sizing(10%);
                                float: left;
                                padding: 0 0 0 0.4rem;
                                position: relative;
                                .fs1 {
                                    position: relative;
                                    line-height: 2.0rem;
                                    @include fsize(25.2,
                                        1);
                                    color: $mc;
                                    #btn {
                                        position: absolute;
                                        border-style: none;
                                        width: 1rem;
                                        right: 10px;
                                        @include alpha(0);
                                        background-color: #fff;
                                    }
                                }
                            }
                        }
                        a {
                            display: block;
                            width: 100%;
                            margin: 0 auto;
                            text-align: center;
                            .wf {
                                width: 60px;
                                margin: 0 auto;
                                .fs1 {
                                    @include fsize(18,
                                        1);
                                    border: none;
                                    float: left;
                                    line-height: 0;
                                    padding: 0;
                                    margin: 0 auto;
                                    color: $mc;
                                }
                            }
                        }
                    }
                }
                p {
                    clear: both;
                    margin: 1rem 1rem 0;
                    display: block;
                    overflow: hidden;
                    &:last-child {
                        text-align: center;
                        padding: 0 0 1rem 0;
                    }
                    &:first-child {
                        text-align: center;
                        padding: 30px 0 10px;
                        font-size: 1.3rem;
                        font-family: "Times New Roman", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
                    }
                }
            }
        }
    }
    /* タブレット端末、スマートフォン用設定 */
    @include addquery(768px) {
        .gutters .col {
            margin: 0;
        }
        .compinfomation {
            .compInfo {
                margin: 20px 5%;
            }
            p.infomation {
                margin: 0 5%;
            }
            p.sign {
                margin: 0 10% 10%;
            }
            hr {
                width: 90%;
                border: none;
                border-bottom: 1px dashed $mc;
                margin: 20px auto;
            }
        }
        .guideLogo {
            @include sprite($guide_title);
            margin: 30px auto;
            h1 {
                text-indent: -9999px;
            }
        }
        .noshiLogo {
            @include sprite($noshi_title);
            margin: 30px auto;
            h1 {
                text-indent: -9999px;
            }
        }
        .span_6 {
            width: 100%;
        }
        .span_18 {
            width: 100%;
        }
        .menu {
            padding: 0 0 1rem;
            margin: 0 0 1rem;
            border: none;
            border-bottom: 1px dashed $mc;
            overflow: hidden;
            .contactBtn {
                display: none;
            }
            .menuLogo {
                display: none;
            }
            .compLink {
                display: none;
            }
            ul.noshi {
                overflow: hidden;
                margin: 0;
                li {
                    @include sizing(100%);
                    margin: 20px 0 0;
                    clear: both;
                    &.event {
                        @include sizing(100%);
                        dd {
                            @include sizing(50%);
                        }
                    }
                }
            }
            ul {
                padding: 0;
                width: 100%;
                li {
                    @include sizing(100%);
                    float: left;
                    @include marg(20,
                        0,
                        0,
                        0);
                    border: none;
                    dl {
                        dt {
                            width: 100%;
                            display: block;
                            margin: 1rem auto .5rem;
                        }
                        dd {
                            line-height: 2.5;
                            width: 50%;
                            float: left;
                            border: 1px solid $sbc01;
                            padding: .2rem .2rem;
                            margin: 0;
                            overflow: hidden;
                            display: block;
                            a {
                                width: 100%;
                                display: block;
                                overflow: hidden;
                                float: left;
                                color: $acc;
                                text-decoration: none;
                                &:hover {
                                    text-decoration: none;
                                }
                                &:active {
                                    background-color: $mc;
                                    color: $bc;
                                }
                                /* 
                                &:after{
                                    content: '>>';
                                    color: $mc;
                                    display: block;
                                    float: right;
                                    margin-right: 4%;
                                } */
                            }
                            &:nth-child(odd) {
                                border-left: none;
                            }
                            &.wrap {
                                width: 100%;
                            }
                            &:before {
                                content: '';
                                clear: both;
                                zoom: 1;
                            }
                            .fs1 {
                                display: block;
                                @include fsize(24,
                                    1);
                                float: right;
                                padding: 0;
                                margin: 0 auto;
                                color: $mc;
                            }
                        }
                    }
                    &:last-child {
                        dd {
                            border-left: 1px solid $sbc01;
                        }
                    }
                }
            }
        }
        /* menu-fin */
        /* 320px以下設定 */
        /* @media only screen and (max-width: 320px) { */
        /* GALAXY Note Xperia Z(UL)等 */
        @media only screen and (max-width: 540px) {
            .mainContents {
                padding: 0;
                .section {
                    span {
                        margin: 0 20px 0 0;
                    }
                    div {
                        margin: 0;
                        &.title {
                            margin: 0 0 0 30px;
                        }
                    }
                    .contents {
                        strong {
                            @include fsize(15,
                                1.4);
                        }
                        h3 {
                            margin: 1.5em 0;
                        }
                        h4 {
                            padding: 0 .8em;
                            text-indent: 0em;
                        }
                        ul {
                            padding: 0 .5rem 0 0;
                            margin: 0;
                            li:before {
                                content: '・';
                                color: $sbc03;
                            }
                            li {
                                text-indent: -0.75rem;
                                padding-left: 1.5rem;
                            }
                            &.careful {
                                width: 95%;
                                margin: 0 auto;
                                list-style-type: none;
                                li {}
                            }
                        }
                        p {
                            padding: 0 1em;
                            &.center {
                                text-align: center;
                            }
                        }
                        strong {
                            padding: 0 .8em;
                            display: block;
                        }
                        .half img {
                            width: 100%;
                        }
                        .quarter img {
                            width: 100%;
                        }
                        .third img {
                            width: 100%;
                        }
                        .threequarter img {
                            width: 100%;
                        }
                        table {
                            tr {
                                td {
                                    padding: .5rem;
                                }
                            }
                            &.sp {
                                td:first-child {
                                    width: 40%;
                                }
                            }
                        }
                    }
                }
            }
        }
        .mainContents {
            padding: 0 1rem 0 0;
            .section {
                margin: 0 0 40px;
                span {
                    display: block;
                    float: left;
                    @include sprite($guide_point);
                }
                div {
                    margin: 0 0 0 30px;
                    h2 {
                        text-indent: -9999px;
                    }
                }
                .contents {
                    /* 320px以下設定 */
                    /* @media only screen and (max-width: 320px) */
                    /* GALAXY Note Xperia Z(UL)等 */
                    @media only screen and (max-width: 540px) {
                        div {
                            position: relative;
                            &.guide_etcop {
                                margin: 2rem;
                                @include r-sprite($guide_etcop,
                                    2.6);
                                blockquote {
                                    @include fsize(10,
                                        1.4);
                                    position: absolute;
                                    left: 60px;
                                    top: 30px;
                                }
                            }
                            &.guide_parts {
                                margin: 1rem;
                                @include r-sprite($guide_parts,
                                    1.6);
                            }
                            &.guide_timeop {
                                margin: 1rem;
                                @include r-sprite($guide_timeop,
                                    1.4);
                            }
                            &.guide_wrapop {
                                margin: 1rem;
                                @include r-sprite($guide_wrapop,
                                    1.6);
                            }
                            &.guide_wrapselect {
                                margin: 1rem;
                                @include r-sprite($guide_wrapselect,
                                    2.2);
                            }
                            &.guide_ribbonselect {
                                margin: 1rem;
                                @include r-sprite($guide_ribbonselect,
                                    2.2);
                            }
                            &.guide_timeselect {
                                margin: 1rem;
                                @include r-sprite($guide_timeselect,
                                    2.2);
                            }
                            &.guide_noshi_select {
                                margin: 1rem;
                                @include r-sprite($guide_noshi_select,
                                    2.6);
                            }
                            &.guide_noshiop {
                                margin: 1rem;
                                @include r-sprite($guide_noshiop,
                                    2.2);
                            }
                            &.guide_onetwo {
                                margin: 1rem;
                                @include r-sprite($guide_onetwo,
                                    2.2);
                            }
                            &.guide_flow {
                                margin: 1rem;
                                @include r-sprite($guide_flow,
                                    1.6);
                            }
                            &.guide_paperop {
                                margin: 1rem;
                                @include r-sprite($guide_paperop,
                                    2.6);
                            }
                            &.guide_checkop {
                                margin: 1rem;
                                @include r-sprite($guide_checkop,
                                    1.6);
                            }
                            /* 直送サービス案内 */
                            &.guide_deliop {
                                margin: 32px;
                                margin: 2rem;
                                @include r-sprite($guide_deliop,
                                    1.8);
                            }
                            &.guide_deliform {
                                margin: 32px;
                                margin: 2rem;
                                @include r-sprite($guide_deliform,
                                    2.6);
                            }
                            blockquote {
                                display: inline-block;
                                font-family: "Times New Roman", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
                                color: $mc;
                                width: auto;
                                @include fsize(16,
                                    1.5);
                            }
                        }
                    }
                    /* 320px用設定-fin */
                }
            }
        }
    }
