@charset "UTF-8";
/* IMPORT RESET */
/* ボックス指定 */
/* 透明度指定 */
/* アニメーション指定 */
/* 角丸指定 */
/*
```
<body>
<div id="maincolor">メインカラー</div>
<div id="basecolor">ベースカラー</div>
<div id="subcolor01">サブカラー01</div>
<div id="subcolor02">サブカラー02</div>
<div id="subcolor03">サブカラー03</div>
<div id="accentcolor">アクセントカラー</div>
<div id="text-basecolor">テキスト　ベースカラー</div><br><br><br><br><br>

<h2>注文方法</h2>
<h3 class="bc">お買い物手順</h3>
<ul>
    <li>1.商品を探す</li>
    <li>2.買い物カゴへ入れる</li>
    <li>3.注文する</li>
    <li>4.注文情報を入力する </li>
    <li>5.注文内容を確認する</li>
    <li>6.商品をお届け</li>
</ul>

<h3 class="bc">お届けまでの流れ</h3>
<h4>1.ご注文</h4>
<p>ご注文確認後、当店から<a>「ご注文ありがとうございます」</a>メールをお送りします。 
ご注文内容・お届け先など間違いが無いか<em>再度ご確認</em>下さい。 </p>

<strong>クレジットカード決済をされるかたに大事なお知らせ</strong>
    <table>
        <tr>
            <td>クレジット決済<br>※当日・または翌営業日に発送致します(土日を除く)</td>
            <td>&yen;0&nbsp;当店負担</td>
        </tr>
        <tr>
            <td>NP後払い</td>
            <td>&yen;216&nbsp;お客様負担</td>
        </tr>
        <tr>
            <td>代金引換 </td>
            <td>&yen;324&nbsp;お客様負担</td>
        </tr>
    </table>
<small>※ ご指定いただいた場合は、ご指定日のお届け予定となります。</small>

<ul class="careful">
    <li>宛名のご指定がない場合は、「ご注文者様のお名前」にて発行させて頂きます。</li>
    <li>日付無し・金額ゼロ・宛名なし・上様などのご希望には添えかねますのでご了承下さい。</li>
    <li>領収書の金額は商品代金＋消費税＋送料の合計となります。但し、ポイントを利用された場合は、合計金額からポイント使用分を引いた金額となります。</li>
    <li>領収書は商品の「出荷日」にて作成しております。</li>
</ul>


<em class="question">Q.海外配送には対応していますか。</em>
<em class="answer">はい、対応しています。</em>
<p>当店は楽天国際〜に登録しております。</p>
</body>
```
*/
@import url(../../frameworks/css/responsive.gs.24col.css);
body {
  font: 16px/1.5 "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: #301e21;
  word-wrap: break-word;
  -webkit-text-size-adjust: 100%;
  /* 回りこみ解除clearfix用クラス */ }
  body #maincolor, body #basecolor, body #subcolor01,
  body #subcolor02, body #subcolor03, body #accentcolor, body #text-basecolor {
    width: 60px;
    height: 60px;
    border: 1px dotted #000;
    float: left;
    margin: 10px;
    font-size: 10px;
    text-align: center; }
  body .cf {
    /* IE6/7対策 */
    zoom: 1; }
    body .cf:before, body .cf:after {
      content: "";
      display: table; }
    body .cf:after {
      clear: both; }
  body #text-basecolor {
    background-color: #f4f0e6; }
  body #maincolor {
    background-color: #e84925; }
  body #basecolor {
    background-color: #ffffff; }
  body #subcolor01 {
    background-color: #cebfbb; }
  body #subcolor02 {
    background-color: #b4c4d7; }
  body #subcolor03 {
    background-color: #c0b293; }
  body #accentcolor {
    background-color: #301e21;
    color: #ffffff; }
  body h1, body h2, body h3, body h4, body h5, body strong {
    font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
    font-weight: normal; }
  body h1, body h2 {
    font-size: 26px;
    /* IE8以下対策 */
    /* *font-size: ($s * 10) * 2 + px; */
    font-size: 1.625rem;
    line-height: 3; }
  body h3 {
    font-size: 16px;
    /* IE8以下対策 */
    /* *font-size: ($s * 10) * 2 + px; */
    font-size: 1rem;
    line-height: 2; }
  body h3.bc {
    text-indent: .5em;
    background-color: #f4f0e6; }
  body h4 {
    font-size: 15px;
    /* IE8以下対策 */
    /* *font-size: ($s * 10) * 2 + px; */
    font-size: 0.9375rem;
    line-height: 2;
    text-indent: .5em; }
  body h5 {
    font-size: 12px;
    /* IE8以下対策 */
    /* *font-size: ($s * 10) * 2 + px; */
    font-size: 0.75rem;
    line-height: 1.5; }
  body p {
    font-size: 12px;
    /* IE8以下対策 */
    /* *font-size: ($s * 10) * 2 + px; */
    font-size: 0.75rem;
    line-height: 1.5; }
  body blockquote {
    font-size: 12px;
    /* IE8以下対策 */
    /* *font-size: ($s * 10) * 2 + px; */
    font-size: 0.75rem;
    line-height: 1.5; }
  body strong {
    font-size: 15px;
    /* IE8以下対策 */
    /* *font-size: ($s * 10) * 2 + px; */
    font-size: 0.9375rem;
    line-height: 2;
    color: #e84925; }
  body img {
    border: none; }
  body em {
    font-size: 12px;
    /* IE8以下対策 */
    /* *font-size: ($s * 10) * 2 + px; */
    font-size: 0.75rem;
    line-height: 1.5;
    color: #e84925;
    font-weight: bold; }
  body em.question {
    border-left: 4px solid #b4c4d7;
    color: #301e21;
    padding: .3rem 0;
    display: block;
    background-color: #d7e4f3;
    text-indent: .6rem; }
  body em.answer {
    border-left: 4px solid #cebfbb;
    background-color: #cebfbb;
    color: #301e21;
    padding: .3rem 0;
    background-color: #f4f0e6;
    text-indent: .6rem; }
  body small {
    font-size: 11px;
    /* IE8以下対策 */
    /* *font-size: ($s * 10) * 2 + px; */
    font-size: 0.6875rem;
    line-height: 1.75;
    font-weight: bold;
    color: #e84925; }
  body a {
    color: #e84925;
    text-decoration: underline; }
    body a:hover {
      text-decoration: none; }
  body ul, body ol {
    font-size: 12px;
    /* IE8以下対策 */
    /* *font-size: ($s * 10) * 2 + px; */
    font-size: 0.75rem;
    line-height: 2;
    text-indent: .5em; }
  body ul.careful {
    list-style-type: disc;
    list-style-position: inside;
    padding: 1em;
    border: 1px dashed #cebfbb; }
    body ul.careful li {
      padding-left: 1em;
      text-indent: -1em; }
  body table td {
    border: 1px solid #cebfbb;
    font-size: 12px;
    /* IE8以下対策 */
    /* *font-size: ($s * 10) * 2 + px; */
    font-size: 0.75rem;
    line-height: 1.5;
    font-weight: normal;
    padding: 1em 2em;
    vertical-align: middle; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 0px; }

hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  *font-size: 100%; }

img {
  vertical-align: bottom; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ul {
  list-style: none; }

caption, th {
  text-align: left; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
header {
  text-align: left;
  background: #ffffff;
  height: 400px;
  width: 100%; }

.bghack {
  z-index: -1;
  background-image: url("https://image.wowma.jp/43748372/gold/dentouhonpo/info/img/subpage_bglp.jpg");
  background-repeat: repeat;
  background-size: 70px 79px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

/* fax_style */
#guideContents .mainContents .section div.fax_order {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1265px -519px;
  width: 202px;
  height: 27px; }

#Fax_download {
  width: 100%;
  text-align: center; }

.fax_img {
  width: 100%;
  height: auto; }

#fax_num {
  font-weight: bold;
  font-size: 1.5em; }

.comp {
  background-image: url("https://image.wowma.jp/43748372/gold/dentouhonpo/info/img/subpage_bglp_02.jpg"); }

.gform {
  overflow: hidden;
  width: 654px;
  height: 820px;
  border-bottom: 1px solid #bbb; }

.gform_faq {
  overflow: hidden;
  width: 920px;
  height: 900px;
  border-bottom: 1px solid #bbb; }

article {
  background: #fff; }

aside {
  background: #fff; }

footer {
  background: #fff; }

/* PC用設定 */
header .nav {
  display: none; }

header iframe {
  margin: 0 auto;
  display: block;
  width: 100%;
  height: 100%; }

/* トップへ戻る */
#pageTop {
  background: #301e21;
  border-radius: 2px;
  color: #ffffff;
  padding: 6px 10px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  font-size: 12px;
  /* IE8以下対策 */
  /* *font-size: ($s * 10) * 2 + px; */
  font-size: 0.75rem;
  line-height: 1;
  text-decoration: none; }

#pageTop:hover {
  background: #e84925; }

/* 章ごとの目次へ戻る */
a.return {
  text-align: right;
  font-size: 12px;
  /* IE8以下対策 */
  /* *font-size: ($s * 10) * 2 + px; */
  font-size: 0.75rem;
  line-height: 1.5;
  display: none;
  display: block\9; }

#guideContents {
  background-color: #ffffff;
  max-width: 990px;
  padding: 0 0 120px;
  margin: 0 auto;
  overflow: hidden;
  /* menu-fin */ }
  #guideContents .compinfomation {
    padding: 40px 0 0; }
    #guideContents .compinfomation .compInfo {
      background-image: url(../img/sprites/spritesheet.png);
      background-position: -1132px -876px;
      width: 83px;
      height: 83px;
      margin: 0 5%;
      float: left; }
    #guideContents .compinfomation .signImg {
      background-image: url(../img/sprites/spritesheet.png);
      background-position: -1461px -264px;
      width: 108px;
      height: 29px;
      float: right;
      display: block; }
    #guideContents .compinfomation p.infomation {
      margin: 0 5% 0 0;
      display: block;
      float: left; }
    #guideContents .compinfomation p.sign {
      clear: both;
      display: block;
      text-align: right;
      margin: 0 10%;
      font-size: 12px;
      /* IE8以下対策 */
      /* *font-size: ($s * 10) * 2 + px; */
      font-size: 0.75rem;
      line-height: 2.5; }
    #guideContents .compinfomation hr {
      width: 90%;
      border: none;
      border-bottom: 1px dashed #e84925;
      margin: 40px auto; }
  #guideContents .guideLogo {
    /*@include sprite($guide_title);*/
    margin: 60px auto; }
    #guideContents .guideLogo h1 {
      text-align: center; }
  #guideContents .noshiLogo {
    background-image: url(../img/sprites/spritesheet.png);
    background-position: -1264px -264px;
    width: 187px;
    height: 47px;
    margin: 60px auto; }
    #guideContents .noshiLogo h1 {
      text-indent: -9999px; }
  #guideContents .faqLogo {
    margin: 60px auto; }
    #guideContents .faqLogo h1 {
      text-align: center; }
  #guideContents .aside {
    float: left; }
  #guideContents #ieMenu {
    width: 20%\9; }
  #guideContents .menu {
    padding: 0 0 0 16px\9;
    padding: 0 0 0 1rem;
    -moz-box-sizing: border-box\9;
    -ms-box-sizing: border-box\9;
    -webkit-box-sizing: border-box\9;
    box-sizing: border-box\9;
    /* IE7対策 */
    *behavior: url(../../frameworks/js/boxsizing.htc); }
    #guideContents .menu .contactBtn {
      -moz-border-radius: 4px 4px 4px 4px;
      border-radius: 4px 4px 4px 4px;
      width: 166px;
      height: 30px;
      background-color: #e84925;
      margin: 10px 0 0; }
      #guideContents .menu .contactBtn a {
        width: 100%;
        display: block;
        text-decoration: none;
        color: #ffffff;
        text-align: center;
        padding: 9px 10px 10px;
        font-size: 14px;
        /* IE8以下対策 */
        /* *font-size: ($s * 10) * 2 + px; */
        font-size: 0.875rem;
        line-height: 1; }
        #guideContents .menu .contactBtn a span {
          text-decoration: underline; }
    #guideContents .menu .menuLogo h2 {
      text-align: center;
      background: #e84925;
      color: #fff;
      padding: 10px;
      line-height: 1em; }
    #guideContents .menu .menuPerson {
      /*@include sprite($guide_menu_person);*/ }
    #guideContents .menu .menuCompany {
      background-image: url(../img/sprites/spritesheet.png);
      background-position: -1264px -144px;
      width: 166px;
      height: 52px; }
    #guideContents .menu .compLink {
      background-image: url(../img/sprites/spritesheet.png);
      background-position: -1440px -206px;
      width: 166px;
      height: 48px; }
      #guideContents .menu .compLink h3 {
        text-indent: -9999px; }
        #guideContents .menu .compLink h3 a {
          display: block;
          width: 100%;
          height: 100%; }
    #guideContents .menu ul.noshi {
      overflow: hidden;
      margin: 0 0 40px;
      width: 100%\9; }
      #guideContents .menu ul.noshi li {
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        /* IE7対策 */
        *behavior: url(../../frameworks/js/boxsizing.htc);
        width: 20%;
        margin: 20px 0 0;
        float: left; }
        #guideContents .menu ul.noshi li.event {
          -moz-box-sizing: border-box;
          -ms-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          /* IE7対策 */
          *behavior: url(../../frameworks/js/boxsizing.htc);
          width: 40%; }
          #guideContents .menu ul.noshi li.event dd {
            -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            /* IE7対策 */
            *behavior: url(../../frameworks/js/boxsizing.htc);
            width: 50%;
            float: left; }
    #guideContents .menu ul {
      padding: 0 16px 16px;
      padding: 0 1rem 1rem; }
      #guideContents .menu ul li {
        margin: 10px 0 0; }
        #guideContents .menu ul li dl dt {
          height: 27px;
          margin: 0 0 10px;
          font-size: 16px; }
          #guideContents .menu ul li dl dt a {
            width: 100%;
            height: 17px;
            display: block;
            color: #000;
            text-decoration: none; }
        #guideContents .menu ul li dl dd {
          line-height: 1.3; }
          #guideContents .menu ul li dl dd a {
            color: #301e21;
            text-decoration: none; }
            #guideContents .menu ul li dl dd a:hover {
              text-decoration: underline;
              font-weight: normal; }
          #guideContents .menu ul li dl dd:before {
            content: '・';
            color: #c0b293; }
          #guideContents .menu ul li dl dd .fs1 {
            display: none; }
  #guideContents #faq {
    border: none;
    width: 100%\9; }
  #guideContents article.noshi .mainContents {
    border: none;
    width: 100%\9; }
  #guideContents .mainContents {
    padding: 0 16px;
    padding: 0 1rem;
    border-left: 1px dashed #dfdfdf;
    float: right\9;
    float: right;
    -moz-box-sizing: border-box\9;
    -ms-box-sizing: border-box\9;
    -webkit-box-sizing: border-box\9;
    box-sizing: border-box\9;
    /* IE7対策 */
    *behavior: url(../../frameworks/js/boxsizing.htc);
    width: 80%\9; }
    #guideContents .mainContents .section {
      margin: 0 0 40px; }
      #guideContents .mainContents .section span {
        display: block;
        float: left;
        /*@include sprite($guide_point);*/ }
      #guideContents .mainContents .section div {
        margin: 0 0 0 30px; }
        #guideContents .mainContents .section div h2 {
          text-indent: 0px; }
      #guideContents .mainContents .section .contents h3 {
        margin: 24px 0;
        margin: 1.5em 0; }
      #guideContents .mainContents .section .contents h4 {
        text-indent: 1em; }
      #guideContents .mainContents .section .contents p a.otherLinks {
        font-weight: bold;
        background-color: #e84925;
        color: #fff;
        padding: 6px 12px;
        text-decoration: none;
        clear: both; }
      #guideContents .mainContents .section .contents ol {
        list-style-position: inside;
        border-left: 3px solid #c0b293;
        padding: 0 8px;
        padding: 0 .5rem;
        margin: 0 16px;
        margin: 0 1rem; }
      #guideContents .mainContents .section .contents ul {
        padding: 0 8px;
        margin: 0 16px; }
        #guideContents .mainContents .section .contents ul li:before {
          content: '・';
          color: #c0b293; }
        #guideContents .mainContents .section .contents ul.itemList {
          text-indent: 0;
          overflow: hidden;
          display: block; }
          #guideContents .mainContents .section .contents ul.itemList li {
            float: left;
            width: 31%;
            margin: 1%;
            display: block; }
            #guideContents .mainContents .section .contents ul.itemList li img {
              width: 100%;
              margin: 0; }
            #guideContents .mainContents .section .contents ul.itemList li p {
              text-align: center;
              padding: 8px 0;
              padding: .5rem 0; }
            #guideContents .mainContents .section .contents ul.itemList li:before {
              content: none; }
        #guideContents .mainContents .section .contents ul.careful {
          padding: 8px 8px 8px 24px;
          padding: .5rem .5rem .5rem 1.5rem;
          list-style-type: none; }
          #guideContents .mainContents .section .contents ul.careful li {
            text-indent: -16px;
            text-indent: -1rem;
            padding-left: 16px;
            padding-left: 1rem; }
            #guideContents .mainContents .section .contents ul.careful li:before {
              content: '';
              display: block;
              float: left;
              position: relative;
              left: -25px;
              top: 5px;
              background-image: url(../img/sprites/spritesheet.png);
              background-position: -1637px -79px;
              width: 12px;
              height: 12px; }
      #guideContents .mainContents .section .contents p {
        padding: 0 40px;
        padding: 0 2.5em; }
        #guideContents .mainContents .section .contents p.center {
          text-align: center; }
          #guideContents .mainContents .section .contents p.center img {
            border: 1px solid #cebfbb; }
      #guideContents .mainContents .section .contents strong {
        padding: 0 32px;
        padding: 0 2em;
        display: block; }
      #guideContents .mainContents .section .contents table {
        margin: 0 auto;
        width: 97%; }
        #guideContents .mainContents .section .contents table img {
          width: 100%;
          margin: 0; }
        #guideContents .mainContents .section .contents table.delivery tr:first-child td:first-child {
          border-top: none;
          border-left: none; }
        #guideContents .mainContents .section .contents table.wrap {
          -moz-box-sizing: border-box;
          -ms-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          /* IE7対策 */
          *behavior: url(../../frameworks/js/boxsizing.htc);
          width: 100%; }
          #guideContents .mainContents .section .contents table.wrap tr td {
            padding: 8px 4px;
            padding: .5rem .2rem;
            text-align: center; }
          #guideContents .mainContents .section .contents table.wrap tr td.wrapImage {
            padding: 0;
            margin: 0;
            -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            /* IE7対策 */
            *behavior: url(../../frameworks/js/boxsizing.htc);
            width: 30%; }
            #guideContents .mainContents .section .contents table.wrap tr td.wrapImage p {
              padding: 0; }
              #guideContents .mainContents .section .contents table.wrap tr td.wrapImage p img {
                max-width: 100%;
                margin: 0;
                padding: 0; }
        #guideContents .mainContents .section .contents table.box tr td {
          width: 30%; }
        #guideContents .mainContents .section .contents table.name tr td {
          width: 50%; }
          #guideContents .mainContents .section .contents table.name tr td img {
            width: 100%; }
        #guideContents .mainContents .section .contents table tr.return {
          background-color: #d7e4f3; }
        #guideContents .mainContents .section .contents table tr .minImg {
          width: 30%; }
          #guideContents .mainContents .section .contents table tr .minImg img {
            width: 100%; }
        #guideContents .mainContents .section .contents table tr th {
          background-color: #e84925;
          color: #ffffff;
          text-align: center;
          font-size: 14px;
          /* IE8以下対策 */
          /* *font-size: ($s * 10) * 2 + px; */
          font-size: 0.875rem;
          line-height: 2.5;
          border-left: 1px solid #ffffff; }
          #guideContents .mainContents .section .contents table tr th:first-child {
            border: none; }
        #guideContents .mainContents .section .contents table tr.center {
          text-align: center; }
        #guideContents .mainContents .section .contents table strong {
          padding: 0; }
        #guideContents .mainContents .section .contents table p {
          text-align: center;
          padding: 0;
          font-size: 14px;
          /* IE8以下対策 */
          /* *font-size: ($s * 10) * 2 + px; */
          font-size: 0.875rem;
          line-height: 1.4;
          font-weight: bold; }
      #guideContents .mainContents .section .contents .single img {
        width: 90%;
        display: block;
        margin: 0 auto; }
      @media only screen and (max-width: 768px) {
        #guideContents .mainContents .section .contents .single.payment {
          width: 100%;
          padding: 0; }
          #guideContents .mainContents .section .contents .single.payment p {
            padding: 0; }
            #guideContents .mainContents .section .contents .single.payment p img {
              width: 100%; } }
      #guideContents .mainContents .section .contents .half img {
        width: 50%; }
      #guideContents .mainContents .section .contents .quarter img {
        width: 25%; }
      #guideContents .mainContents .section .contents .third img {
        width: 33.333%; }
      #guideContents .mainContents .section .contents .threequarter img {
        width: 75%; }
      #guideContents .mainContents .section .contents i.question {
        color: #b4c4d7;
        font-size: 16px;
        /* IE8以下対策 */
        /* *font-size: ($s * 10) * 2 + px; */
        font-size: 1rem;
        line-height: 2; }
      #guideContents .mainContents .section .contents i.answer {
        color: #cebfbb;
        font-size: 16px;
        /* IE8以下対策 */
        /* *font-size: ($s * 10) * 2 + px; */
        font-size: 1rem;
        line-height: 2; }
      #guideContents .mainContents .section .contents div {
        position: relative;
        /* 直送サービス案内 */ }
        #guideContents .mainContents .section .contents div.guide_etcop {
          margin: 32px;
          margin: 2rem;
          background-image: url(../img/sprites/spritesheet.png);
          background-position: -680px -624px;
          width: 564px;
          height: 206px; }
          #guideContents .mainContents .section .contents div.guide_etcop blockquote {
            position: absolute;
            left: 140px;
            top: 80px; }
        #guideContents .mainContents .section .contents div.guide_parts {
          margin: 32px;
          margin: 2rem;
          background-image: url(../img/sprites/spritesheet.png);
          background-position: -1264px -321px;
          width: 227px;
          height: 46px; }
        #guideContents .mainContents .section .contents div.guide_wrapop {
          margin: 32px;
          margin: 2rem;
          background-image: url(../img/sprites/spritesheet.png);
          background-position: -1264px -377px;
          width: 269px;
          height: 45px; }
        #guideContents .mainContents .section .contents div.guide_wrapselect {
          margin: 32px;
          margin: 2rem;
          background-image: url(../img/sprites/spritesheet.png);
          background-position: -621px 0px;
          width: 633px;
          height: 318px; }
        #guideContents .mainContents .section .contents div.guide_ribbonselect {
          margin: 32px;
          margin: 2rem;
          background-image: url(../img/sprites/spritesheet.png);
          background-position: 0px -329px;
          width: 607px;
          height: 285px; }
        #guideContents .mainContents .section .contents div.guide_timeop {
          margin: 32px;
          margin: 2rem;
          background-image: url(../img/sprites/spritesheet.png);
          background-position: -1264px 0px;
          width: 393px;
          height: 69px; }
        #guideContents .mainContents .section .contents div.guide_timeselect {
          margin: 16px 32px;
          margin: 1rem 2rem;
          background-image: url(../img/sprites/spritesheet.png);
          background-position: 0px 0px;
          width: 611px;
          height: 319px; }
        #guideContents .mainContents .section .contents div.guide_noshi_select {
          margin: 32px;
          margin: 2rem;
          background-image: url(../img/sprites/spritesheet.png);
          background-position: 0px -520px;
          width: 558.33333px;
          height: 201.66667px;
          background-size: 1380.83333px 1012.5px; }
        #guideContents .mainContents .section .contents div.guide_noshiop {
          margin: 32px;
          margin: 2rem;
          background-image: url(../img/sprites/spritesheet.png);
          background-position: -617px -329px;
          width: 626px;
          height: 221px; }
        #guideContents .mainContents .section .contents div.guide_onetwo {
          margin: 32px;
          margin: 2rem;
          background-image: url(../img/sprites/spritesheet.png);
          background-position: -404px -1105px;
          width: 589px;
          height: 96px; }
        #guideContents .mainContents .section .contents div.guide_flow {
          margin: 32px;
          margin: 2rem;
          background-image: url(../img/sprites/spritesheet.png);
          background-position: -617px -560px;
          width: 433px;
          height: 42px; }
        #guideContents .mainContents .section .contents div.guide_paperop {
          margin: 32px;
          margin: 2rem;
          background-image: url(../img/sprites/spritesheet.png);
          background-position: -668px -1007px;
          width: 311px;
          height: 81px; }
        #guideContents .mainContents .section .contents div.guide_checkop {
          margin: 32px;
          margin: 2rem;
          background-image: url(../img/sprites/spritesheet.png);
          background-position: 0px -1105px;
          width: 394px;
          height: 110px; }
        #guideContents .mainContents .section .contents div.guide_deliop {
          margin: 32px;
          margin: 2rem;
          background-image: url(../img/sprites/spritesheet.png);
          background-position: -668px -876px;
          width: 454px;
          height: 121px; }
        #guideContents .mainContents .section .contents div.guide_deliform {
          margin: 32px;
          margin: 2rem;
          background-image: url(../img/sprites/spritesheet.png);
          background-position: 0px -876px;
          width: 658px;
          height: 219px; }
        #guideContents .mainContents .section .contents div blockquote {
          display: inline-block;
          font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
          color: #e84925;
          width: auto;
          font-size: 16px;
          /* IE8以下対策 */
          /* *font-size: ($s * 10) * 2 + px; */
          font-size: 1rem;
          line-height: 1.5; }
      #guideContents .mainContents .section .contents div {
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        /* IE7対策 */
        *behavior: url(../../frameworks/js/boxsizing.htc);
        width: 100%;
        padding: 16px;
        padding: 1rem;
        margin: 0;
        overflow: hidden; }
        #guideContents .mainContents .section .contents div p {
          padding: 0 0 0 16px;
          padding: 0 0 0 1rem; }
        #guideContents .mainContents .section .contents div .serviceleftInfo {
          float: left;
          padding: 0;
          margin: 0;
          -moz-box-sizing: border-box;
          -ms-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          /* IE7対策 */
          *behavior: url(../../frameworks/js/boxsizing.htc);
          width: 30%; }
          #guideContents .mainContents .section .contents div .serviceleftInfo img {
            max-width: 100%;
            margin: 0; }
        #guideContents .mainContents .section .contents div .servicerightInfo {
          -moz-box-sizing: border-box;
          -ms-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          /* IE7対策 */
          *behavior: url(../../frameworks/js/boxsizing.htc);
          width: 70%;
          float: left;
          padding: 0;
          margin: 0; }

footer {
  /* maincontents-fin */ }
  footer iframe {
    display: block;
    width: 100%;
    /* height: 3450px; */
    height: 2110px;
    margin: 0 auto; }
  footer #sp {
    display: none; }

/* タブレット端末、スマートフォン用設定 ヘッダー、フッター */
@media screen and (max-width: 768px) {
  header {
    background-color: #ffffff;
    color: #ffffff;
    height: auto; }
    header iframe {
      display: none; }
    header .wf .fs1 {
      font-size: 10px;
      border: 1px solid #cebfbb;
      border-right: none;
      line-height: 43px;
      height: 43px;
      padding: 0;
      margin: 0 auto;
      color: #301e21; }
    header .nav {
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      /* IE7対策 */
      *behavior: url(../../frameworks/js/boxsizing.htc);
      width: 100%;
      display: block;
      height: auto;
      overflow: hidden; }
      header .nav a {
        text-decoration: none;
        color: #301e21; }
      header .nav .shopName {
        font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
        display: block;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        /* IE7対策 */
        *behavior: url(../../frameworks/js/boxsizing.htc);
        width: 75%;
        padding: 0;
        float: left;
        margin: 0;
        border-bottom: 1px solid #cebfbb;
        height: 43px;
        text-indent: 0.25rem;
        font-size: 0.9rem;
        line-height: 3;
        font-weight: normal;
        background-color: #5f3f18; }
        header .nav .shopName img {
          /*width: 1.5rem;*/
          height: 1.5rem;
          display: block;
          margin: 0.5rem;
          float: left; }
      header .nav div.menu {
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        /* IE7対策 */
        *behavior: url(../../frameworks/js/boxsizing.htc);
        width: 25%;
        float: left; }
        header .nav div.menu a {
          text-align: center;
          display: block;
          width: 50%;
          float: left; }
  /* header-fin */
  footer {
    /* menu */ }
    footer iframe {
      display: none; }
    footer #sp {
      display: block;
      overflow: hidden; }
      footer #sp ul#itemCategory, footer #sp #genreCategory, footer #sp #budgetCategory {
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        /* IE7対策 */
        *behavior: url(../../frameworks/js/boxsizing.htc);
        width: 100%;
        overflow: hidden; }
        footer #sp ul#itemCategory li, footer #sp #genreCategory li, footer #sp #budgetCategory li {
          float: left;
          width: 50%;
          display: block;
          border: none;
          border-right: 1px solid #cebfbb;
          border-bottom: 1px solid #cebfbb;
          line-height: 1rem;
          text-indent: 0.5rem; }
          footer #sp ul#itemCategory li a, footer #sp #genreCategory li a, footer #sp #budgetCategory li a {
            line-height: 1.6rem;
            display: block;
            width: 80%;
            margin: auto; }
            footer #sp ul#itemCategory li a .wf, footer #sp #genreCategory li a .wf, footer #sp #budgetCategory li a .wf {
              width: auto; }
              footer #sp ul#itemCategory li a .wf .fs1, footer #sp #genreCategory li a .wf .fs1, footer #sp #budgetCategory li a .wf .fs1 {
                font-size: 23.4px;
                /* IE8以下対策 */
                /* *font-size: ($s * 10) * 2 + px; */
                font-size: 1.4625rem;
                line-height: 1;
                border: none;
                float: right;
                line-height: 0rem;
                padding: 0;
                margin: 0 auto;
                color: #e84925; }
        footer #sp ul#itemCategory li:first-child, footer #sp #genreCategory li:first-child, footer #sp #budgetCategory li:first-child {
          width: 100%;
          color: #301e21;
          font-size: 19.8px;
          /* IE8以下対策 */
          /* *font-size: ($s * 10) * 2 + px; */
          font-size: 1.2375rem;
          line-height: 2.3;
          padding: 0.5rem 0;
          font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif; }
          footer #sp ul#itemCategory li:first-child .wf .fs1, footer #sp #genreCategory li:first-child .wf .fs1, footer #sp #budgetCategory li:first-child .wf .fs1 {
            font-size: 21.6px;
            /* IE8以下対策 */
            /* *font-size: ($s * 10) * 2 + px; */
            font-size: 1.35rem;
            line-height: 1;
            border: none;
            float: left;
            line-height: 3.1rem;
            padding: 0;
            margin: 0 0.25rem 0 0;
            text-indent: 1rem;
            color: #e84925; }
        footer #sp ul#itemCategory li.listWrap, footer #sp #genreCategory li.listWrap, footer #sp #budgetCategory li.listWrap {
          width: 100%; }
          footer #sp ul#itemCategory li.listWrap a, footer #sp #genreCategory li.listWrap a, footer #sp #budgetCategory li.listWrap a {
            width: 40%; }
      footer #sp ul#eventCategory {
        overflow: hidden;
        background-color: #ffffff; } }
      @media only screen and (max-width: 768px) and (min-width: 480px) {
        footer #sp ul#eventCategory li {
          -moz-box-sizing: border-box;
          -ms-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          /* IE7対策 */
          *behavior: url(../../frameworks/js/boxsizing.htc);
          width: 50%;
          padding: 1%;
          display: block;
          float: left; }
          footer #sp ul#eventCategory li img {
            width: 100%; } }

@media screen and (max-width: 768px) {
        footer #sp ul#eventCategory li {
          -moz-box-sizing: border-box;
          -ms-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          /* IE7対策 */
          *behavior: url(../../frameworks/js/boxsizing.htc);
          width: 100%;
          padding: 2% 1%;
          display: block; }
          footer #sp ul#eventCategory li img {
            max-width: 100%;
            outline: 1px solid #cebfbb; }
        footer #sp ul#eventCategory li:first-child {
          width: 100%;
          color: #301e21;
          padding: 0.5rem 0;
          font-size: 19.8px;
          /* IE8以下対策 */
          /* *font-size: ($s * 10) * 2 + px; */
          font-size: 1.2375rem;
          line-height: 2.3;
          font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
          border-bottom: 1px solid #cebfbb; }
          footer #sp ul#eventCategory li:first-child .wf .fs1 {
            font-size: 21.6px;
            /* IE8以下対策 */
            /* *font-size: ($s * 10) * 2 + px; */
            font-size: 1.35rem;
            line-height: 1;
            border: none;
            line-height: 3.1rem;
            float: left;
            padding: 0;
            margin: 0 0.25rem 0 0;
            text-indent: 1rem;
            color: #e84925; } }
  @media only screen and (max-width: 768px) and (min-width: 480px) {
    footer .gotoTop {
      border-top: 1px solid #cebfbb; } }

@media screen and (max-width: 768px) {
    footer .gotoTop {
      overflow: hidden;
      border-bottom: 1px solid #cebfbb;
      border-top: none;
      background-color: #ffffff;
      width: 100%;
      line-height: 4.5;
      text-align: center; }
      footer .gotoTop a {
        clear: both;
        color: #301e21;
        text-decoration: none;
        display: block;
        width: 100%;
        text-align: center;
        padding: .8rem 0 1rem; }
        footer .gotoTop a .wf {
          width: auto; }
          footer .gotoTop a .wf .fs1 {
            font-size: 21.6px;
            /* IE8以下対策 */
            /* *font-size: ($s * 10) * 2 + px; */
            font-size: 1.35rem;
            line-height: 1;
            border: none;
            line-height: .5rem;
            padding: 0;
            margin: 0 1rem;
            color: #e84925; }
        footer .gotoTop a span {
          display: block;
          text-align: center;
          line-height: 1.3rem;
          font-weight: normal; }
    footer ul {
      text-indent: 0; }
      footer ul li {
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        /* IE7対策 */
        *behavior: url(../../frameworks/js/boxsizing.htc);
        width: 50%;
        display: block;
        float: left;
        border: 1px solid #cebfbb;
        border-top: none;
        border-left: none;
        padding: 10px;
        background-color: #ffffff; }
        footer ul li a {
          color: #301e21;
          text-decoration: none;
          display: block;
          text-align: center; }
    footer .info li a {
      line-height: 1.6rem;
      display: block;
      width: 80%;
      margin: auto; }
      footer .info li a .wf {
        width: auto; }
        footer .info li a .wf .fs1 {
          font-size: 23.4px;
          /* IE8以下対策 */
          /* *font-size: ($s * 10) * 2 + px; */
          font-size: 1.4625rem;
          line-height: 1;
          border: none;
          float: right;
          line-height: 0rem;
          padding: 0;
          margin: 0 auto;
          color: #e84925; }
    footer address {
      background-color: #ffffff; }
      footer address small {
        color: #301e21;
        font-weight: normal; }
      footer address ul li {
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        /* IE7対策 */
        *behavior: url(../../frameworks/js/boxsizing.htc);
        width: 33.3%;
        display: block;
        float: left;
        border: 1px solid #cebfbb;
        border-right: none;
        text-align: center; }
        footer address ul li:first-child {
          -moz-box-sizing: border-box;
          -ms-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          /* IE7対策 */
          *behavior: url(../../frameworks/js/boxsizing.htc);
          width: 100%;
          border-bottom: none; }
          footer address ul li:first-child a {
            display: block;
            width: 100%;
            margin: 0 auto;
            text-align: center; }
            footer address ul li:first-child a .wf {
              width: 110px;
              margin: 0 auto; }
              footer address ul li:first-child a .wf .fs1 {
                line-height: 1.5rem; }
        footer address ul li:last-child {
          -moz-box-sizing: border-box;
          -ms-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          /* IE7対策 */
          *behavior: url(../../frameworks/js/boxsizing.htc);
          width: 100%;
          border-top: none;
          padding: 1.5rem 1rem 1rem; }
          footer address ul li:last-child #label {
            color: #aaa;
            clear: both;
            display: block; }
          footer address ul li:last-child #form {
            float: left;
            -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            /* IE7対策 */
            *behavior: url(../../frameworks/js/boxsizing.htc);
            width: 90%;
            height: 30px;
            border-style: none;
            border: 1px solid #301e21; }
          footer address ul li:last-child .wf {
            -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            /* IE7対策 */
            *behavior: url(../../frameworks/js/boxsizing.htc);
            width: 10%;
            float: left;
            padding: 0 0 0 0.4rem;
            position: relative; }
            footer address ul li:last-child .wf .fs1 {
              position: relative;
              line-height: 2.0rem;
              font-size: 25.2px;
              /* IE8以下対策 */
              /* *font-size: ($s * 10) * 2 + px; */
              font-size: 1.575rem;
              line-height: 1;
              color: #e84925; }
              footer address ul li:last-child .wf .fs1 #btn {
                position: absolute;
                border-style: none;
                width: 1rem;
                right: 10px;
                filter: alpha(opacity=0);
                -moz-opacity: 0;
                opacity: 0;
                background-color: #fff; }
        footer address ul li a {
          display: block;
          width: 100%;
          margin: 0 auto;
          text-align: center; }
          footer address ul li a .wf {
            width: 60px;
            margin: 0 auto; }
            footer address ul li a .wf .fs1 {
              font-size: 18px;
              /* IE8以下対策 */
              /* *font-size: ($s * 10) * 2 + px; */
              font-size: 1.125rem;
              line-height: 1;
              border: none;
              float: left;
              line-height: 0;
              padding: 0;
              margin: 0 auto;
              color: #e84925; }
      footer address p {
        clear: both;
        margin: 1rem 1rem 0;
        display: block;
        overflow: hidden; }
        footer address p:last-child {
          text-align: center;
          padding: 0 0 1rem 0; }
        footer address p:first-child {
          text-align: center;
          padding: 30px 0 10px;
          font-size: 1.3rem;
          font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif; } }

/* タブレット端末、スマートフォン用設定 */
@media screen and (max-width: 768px) {
  .gutters .col {
    margin: 0; }
  #guideContents {
    clear: both;
    /* menu-fin */
    /* 320px以下設定 */
    /* @media only screen and (max-width: 320px) { */
    /* GALAXY Note Xperia Z(UL)等 */ }
    #guideContents .compinfomation .compInfo {
      margin: 20px 5%; }
    #guideContents .compinfomation p.infomation {
      margin: 0 5%; }
    #guideContents .compinfomation p.sign {
      margin: 0 10% 10%; }
    #guideContents .compinfomation hr {
      width: 90%;
      border: none;
      border-bottom: 1px dashed #e84925;
      margin: 20px auto; }
    #guideContents .guideLogo {
      /*@include sprite($guide_title);*/
      margin: 0 auto; }
    #guideContents .noshiLogo {
      background-image: url(../img/sprites/spritesheet.png);
      background-position: -1264px -264px;
      width: 187px;
      height: 47px;
      margin: 30px auto; }
      #guideContents .noshiLogo h1 {
        text-indent: -9999px; }
    #guideContents .span_6 {
      width: 100%; }
    #guideContents .span_18 {
      width: 100%; }
    #guideContents .menu {
      padding: 0 0 1rem;
      margin: 0 0 1rem;
      border: none;
      border-bottom: 1px dashed #e84925;
      overflow: hidden; }
      #guideContents .menu .contactBtn {
        display: none; }
      #guideContents .menu .menuLogo {
        display: none; }
      #guideContents .menu .compLink {
        display: none; }
      #guideContents .menu ul.noshi {
        overflow: hidden;
        margin: 0; }
        #guideContents .menu ul.noshi li {
          -moz-box-sizing: border-box;
          -ms-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          /* IE7対策 */
          *behavior: url(../../frameworks/js/boxsizing.htc);
          width: 100%;
          margin: 20px 0 0;
          clear: both; }
          #guideContents .menu ul.noshi li.event {
            -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            /* IE7対策 */
            *behavior: url(../../frameworks/js/boxsizing.htc);
            width: 100%; }
            #guideContents .menu ul.noshi li.event dd {
              -moz-box-sizing: border-box;
              -ms-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              /* IE7対策 */
              *behavior: url(../../frameworks/js/boxsizing.htc);
              width: 50%; }
      #guideContents .menu ul {
        padding: 0;
        width: 100%; }
        #guideContents .menu ul li {
          -moz-box-sizing: border-box;
          -ms-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          /* IE7対策 */
          *behavior: url(../../frameworks/js/boxsizing.htc);
          width: 100%;
          float: left;
          margin: 20px 0px 0px 0px;
          margin: 1.25rem 0rem 0rem 0rem;
          border: none; }
          #guideContents .menu ul li dl dt {
            width: 100%;
            display: block;
            margin: 1rem auto .5rem; }
          #guideContents .menu ul li dl dd {
            line-height: 2.5;
            width: 50%;
            float: left;
            border: 1px solid #cebfbb;
            padding: .2rem .2rem;
            margin: 0;
            overflow: hidden;
            display: block; }
            #guideContents .menu ul li dl dd a {
              width: 100%;
              display: block;
              overflow: hidden;
              float: left;
              color: #301e21;
              text-decoration: none;
              /* 
                                &:after{
                                    content: '>>';
                                    color: $mc;
                                    display: block;
                                    float: right;
                                    margin-right: 4%;
                                } */ }
              #guideContents .menu ul li dl dd a:hover {
                text-decoration: none; }
              #guideContents .menu ul li dl dd a:active {
                background-color: #e84925;
                color: #ffffff; }
            #guideContents .menu ul li dl dd:nth-child(odd) {
              border-left: none; }
            #guideContents .menu ul li dl dd.wrap {
              width: 100%; }
            #guideContents .menu ul li dl dd:before {
              content: '';
              clear: both;
              zoom: 1; }
            #guideContents .menu ul li dl dd .fs1 {
              display: block;
              font-size: 24px;
              /* IE8以下対策 */
              /* *font-size: ($s * 10) * 2 + px; */
              font-size: 1.5rem;
              line-height: 1;
              float: right;
              padding: 0;
              margin: 0 auto;
              color: #e84925; }
          #guideContents .menu ul li:last-child dd {
            border-left: 1px solid #cebfbb; } }
  @media only screen and (max-width: 768px) and (max-width: 540px) {
    #guideContents .mainContents {
      padding: 0; }
      #guideContents .mainContents .section span {
        margin: 0 20px 0 0; }
      #guideContents .mainContents .section div {
        margin: 0; }
        #guideContents .mainContents .section div.title {
          margin: 0 0 0 30px; }
      #guideContents .mainContents .section .contents strong {
        font-size: 15px;
        /* IE8以下対策 */
        /* *font-size: ($s * 10) * 2 + px; */
        font-size: 0.9375rem;
        line-height: 1.4; }
      #guideContents .mainContents .section .contents h3 {
        margin: 1.5em 0; }
      #guideContents .mainContents .section .contents h4 {
        padding: 0 .8em;
        text-indent: 0em; }
      #guideContents .mainContents .section .contents ul {
        padding: 0 .5rem 0 0;
        margin: 0; }
        #guideContents .mainContents .section .contents ul li:before {
          content: '・';
          color: #c0b293; }
        #guideContents .mainContents .section .contents ul li {
          text-indent: -0.75rem;
          padding-left: 1.5rem; }
        #guideContents .mainContents .section .contents ul.careful {
          width: 95%;
          margin: 0 auto;
          list-style-type: none; }
      #guideContents .mainContents .section .contents p {
        padding: 0 1em; }
        #guideContents .mainContents .section .contents p.center {
          text-align: center; }
      #guideContents .mainContents .section .contents strong {
        padding: 0 .8em;
        display: block; }
      #guideContents .mainContents .section .contents .half img {
        width: 100%; }
      #guideContents .mainContents .section .contents .quarter img {
        width: 100%; }
      #guideContents .mainContents .section .contents .third img {
        width: 100%; }
      #guideContents .mainContents .section .contents .threequarter img {
        width: 100%; }
      #guideContents .mainContents .section .contents table tr td {
        padding: .5rem; }
      #guideContents .mainContents .section .contents table.sp td:first-child {
        width: 40%; } }

@media screen and (max-width: 768px) {
    #guideContents .mainContents {
      padding: 0 1rem 0 0; }
      #guideContents .mainContents .section {
        margin: 0 0 40px; }
        #guideContents .mainContents .section span {
          display: block;
          float: left;
          /*@include sprite($guide_point);*/ }
        #guideContents .mainContents .section div {
          margin: 0 0 0 30px; }
          #guideContents .mainContents .section div h2 {
            text-indent: 0px; }
        #guideContents .mainContents .section .contents {
          /* 320px以下設定 */
          /* @media only screen and (max-width: 320px) */
          /* GALAXY Note Xperia Z(UL)等 */
          /* 320px用設定-fin */ } }
        @media only screen and (max-width: 768px) and (max-width: 540px) {
          #guideContents .mainContents .section .contents div {
            position: relative;
            /* 直送サービス案内 */ }
            #guideContents .mainContents .section .contents div.guide_etcop {
              margin: 2rem;
              background-image: url(../img/sprites/spritesheet.png);
              background-position: -261.53846px -240px;
              width: 216.92308px;
              height: 79.23077px;
              background-size: 637.30769px 467.30769px; }
              #guideContents .mainContents .section .contents div.guide_etcop blockquote {
                font-size: 10px;
                /* IE8以下対策 */
                /* *font-size: ($s * 10) * 2 + px; */
                font-size: 0.625rem;
                line-height: 1.4;
                position: absolute;
                left: 60px;
                top: 30px; }
            #guideContents .mainContents .section .contents div.guide_parts {
              margin: 1rem;
              background-image: url(../img/sprites/spritesheet.png);
              background-position: -790px -200.625px;
              width: 141.875px;
              height: 28.75px;
              background-size: 1035.625px 759.375px; }
            #guideContents .mainContents .section .contents div.guide_timeop {
              margin: 1rem;
              background-image: url(../img/sprites/spritesheet.png);
              background-position: -902.85714px 0px;
              width: 280.71429px;
              height: 49.28571px;
              background-size: 1183.57143px 867.85714px; }
            #guideContents .mainContents .section .contents div.guide_wrapop {
              margin: 1rem;
              background-image: url(../img/sprites/spritesheet.png);
              background-position: -790px -235.625px;
              width: 168.125px;
              height: 28.125px;
              background-size: 1035.625px 759.375px; }
            #guideContents .mainContents .section .contents div.guide_wrapselect {
              margin: 1rem;
              background-image: url(../img/sprites/spritesheet.png);
              background-position: -282.27273px 0px;
              width: 287.72727px;
              height: 144.54545px;
              background-size: 753.18182px 552.27273px; }
            #guideContents .mainContents .section .contents div.guide_ribbonselect {
              margin: 1rem;
              background-image: url(../img/sprites/spritesheet.png);
              background-position: 0px -149.54545px;
              width: 275.90909px;
              height: 129.54545px;
              background-size: 753.18182px 552.27273px; }
            #guideContents .mainContents .section .contents div.guide_timeselect {
              margin: 1rem;
              background-image: url(../img/sprites/spritesheet.png);
              background-position: 0px 0px;
              width: 277.72727px;
              height: 145px;
              background-size: 753.18182px 552.27273px; }
            #guideContents .mainContents .section .contents div.guide_noshi_select {
              margin: 1rem;
              background-image: url(../img/sprites/spritesheet.png);
              background-position: 0px -240px;
              width: 257.69231px;
              height: 93.07692px;
              background-size: 637.30769px 467.30769px; }
            #guideContents .mainContents .section .contents div.guide_noshiop {
              margin: 1rem;
              background-image: url(../img/sprites/spritesheet.png);
              background-position: -280.45455px -149.54545px;
              width: 284.54545px;
              height: 100.45455px;
              background-size: 753.18182px 552.27273px; }
            #guideContents .mainContents .section .contents div.guide_onetwo {
              margin: 1rem;
              background-image: url(../img/sprites/spritesheet.png);
              background-position: -183.63636px -502.27273px;
              width: 267.72727px;
              height: 43.63636px;
              background-size: 753.18182px 552.27273px; }
            #guideContents .mainContents .section .contents div.guide_flow {
              margin: 1rem;
              background-image: url(../img/sprites/spritesheet.png);
              background-position: -385.625px -350px;
              width: 270.625px;
              height: 26.25px;
              background-size: 1035.625px 759.375px; }
            #guideContents .mainContents .section .contents div.guide_paperop {
              margin: 1rem;
              background-image: url(../img/sprites/spritesheet.png);
              background-position: -256.92308px -387.30769px;
              width: 119.61538px;
              height: 31.15385px;
              background-size: 637.30769px 467.30769px; }
            #guideContents .mainContents .section .contents div.guide_checkop {
              margin: 1rem;
              background-image: url(../img/sprites/spritesheet.png);
              background-position: 0px -690.625px;
              width: 246.25px;
              height: 68.75px;
              background-size: 1035.625px 759.375px; }
            #guideContents .mainContents .section .contents div.guide_deliop {
              margin: 32px;
              margin: 2rem;
              background-image: url(../img/sprites/spritesheet.png);
              background-position: -371.11111px -486.66667px;
              width: 252.22222px;
              height: 67.22222px;
              background-size: 920.55556px 675px; }
            #guideContents .mainContents .section .contents div.guide_deliform {
              margin: 32px;
              margin: 2rem;
              background-image: url(../img/sprites/spritesheet.png);
              background-position: 0px -336.92308px;
              width: 253.07692px;
              height: 84.23077px;
              background-size: 637.30769px 467.30769px; }
            #guideContents .mainContents .section .contents div blockquote {
              display: inline-block;
              font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
              color: #e84925;
              width: auto;
              font-size: 16px;
              /* IE8以下対策 */
              /* *font-size: ($s * 10) * 2 + px; */
              font-size: 1rem;
              line-height: 1.5; } }

@media only screen and (max-width: 768px) {
  #contactArea {
    position: relative;
    width: 100%;
    padding: calc(1230 / 410 * 100%) 0 0; }
  .gform {
    position: absolute;
    top: 0;
    left: 0;
    width: 88%;
    height: 100%; } }
