@mixin fsize($s, $l) {
    font-size: $s + px;
    /* IE8以下対策 */
    /* *font-size: ($s * 10) * 2 + px; */
    font-size: ($s/16) + rem;

    line-height: $l;
}

@mixin padd($pt, $pr, $pb, $pl) {
    padding: $pt+px $pr+px $pb+px $pl+px;
    padding: ($pt/16)+rem ($pr/16)+rem ($pb/16)+rem ($pl/16)+rem;
}

@mixin marg($pt, $pr, $pb, $pl) {
    margin: $pt+px $pr+px $pb+px $pl+px;
    margin: ($pt/16)+rem ($pr/16)+rem ($pb/16)+rem ($pl/16)+rem;
}



/* ボックス指定 */

@mixin sizing($width) {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}


/* 透明度指定 */

@mixin alpha($value) {
    filter: alpha(opacity=$value);
    -moz-opacity: $value / 100;
    opacity: $value / 100
}


/* アニメーション指定 */

@mixin anm($time) {
    -webkit-transition: $time;
    transition: $time;
}


/* 角丸指定 */

@mixin rad($lt, $rt, $lb, $rb) {
    -moz-border-radius: $lt+px $rt+px $lb+px $rb+px;
    border-radius: $lt+px $rt+px $lb+px $rb+px;
}

$bc: #ffffff;
$mc: #e84925;
/* 強調文 */
$highlight: #e18f47;
/* アクセントカラー ダークブラウン */
$acc: #5e3f17;
/* リンクカラー */
$link: #fff;
$sbc02: #b4c4d7;
$sbc03: #c0b293;
$white: #fff;

body {
    .pt {
        background: transparent url('https://image.wowma.jp/43748372/gold/dentouhonpo/img/cmn_hdr_bg.jpg') left top;
    }
    .min {
        font-family: "Yu Mincho", "YuMincho", serif;
    }
}

body {
    font: 16px/1.5 "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    word-wrap: break-word;
    -webkit-text-size-adjust: 100%;

    #maincolor,
    #basecolor,
    #subcolor01,
    #subcolor02,
    #subcolor03,
    #accentcolor,
    #text-basecolor,
    {
        width: 60px;
        height: 60px;
        border: 1px dotted #000;
        float: left;
        margin: 10px;
        font-size: 10px;
        text-align: center;
    }

    /* 回りこみ解除clearfix用クラス */
    .cf {
        /* IE6/7対策 */
        zoom: 1;
        &:before,
        &:after {
            content: "";
            display: table;
        }
        &:after {
            clear: both;
        }
    }

    #maincolor {
        background-color: $mc;
    }
    #basecolor {
        background-color: $bc;
    }
    #subcolor02 {
        background-color: $sbc02;
    }
    #subcolor03 {
        background-color: $sbc03;
    }
    #accentcolor {
        background-color: $acc;
        color: $bc;
    }


    h1,
    h2,
    h3,
    h4,
    h5,
    strong {
        font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
        font-weight: normal;
    }
    h1,
    h2 {
        @include fsize(26,
        3);
    }
    h3 {
        @include fsize(16,
        2);
    }

    h4 {
        @include fsize(15,
        2);
        text-indent: .5em;
    }
    h5 {
        @include fsize(12,
        1.5);
    }
    p {
        @include fsize(14,
        1.5);
    }
    blockquote {
        @include fsize(12,
        1.5);
    }
    strong {
        @include fsize(15,
        2);
        color: $mc;
    }
    img {
        border: none;
    }

    em {
        @include fsize(12,
        1.5);
        color: $mc;
        font-weight: bold;
    }

    small {
        @include fsize(11,
        1.75);
        font-weight: bold;
        color: $mc;
    }

    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    ul,
    ol {
        @include fsize(12,1);
    }
}





























html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}


body {
    margin: 0;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}


audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}


audio:not([controls]) {
    display: none;
    height: 0;
}



[hidden],
template {
    display: none;
}


a {
    background: transparent;
}


a:active,
a:hover {
    outline: 0;
}



abbr[title] {
    border-bottom: 1px dotted;
}


b,
strong {
    font-weight: bold;
}



dfn {
    font-style: italic;
}



h1 {
    font-size: 2em;
    margin: 0.67em 0;
}


mark {
    background: #ff0;
    color: #000;
}


small {
    font-size: 80%;
}


sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}



img {
    border: 0;
}


svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 0px;
}


hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}


pre {
    overflow: auto;
}


code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}



button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}


button {
    overflow: visible;
}


button,
select {
    text-transform: none;
}


button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}



button[disabled],
html input[disabled] {
    cursor: default;
}


button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}


input {
    line-height: normal;
}



input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}



input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}


input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}



input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}


fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}



legend {
    border: 0;
    padding: 0;
}



textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}


body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    *font-size: 100%;
}

img {
    vertical-align: bottom;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    border: 0;
    font-variant: normal;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}