/* ベースカラー */
$bc : #ffffff;
/* メインカラー　黄丹 */
$mc : #e84925;
/* サブカラー01 鳥の子色 */
$sbc01 : #cebfbb;
/* サブカラー02 瓶覗色 */
$sbc02 : #b4c4d7;
/* サブカラー03 蒸栗色 */
$sbc03 : #c0b293;
/* アクセントカラー　黒鳶 */
$acc : #301e21;

/* ボックス指定 */
@mixin sizing($width) {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    /* IE7対策 */
    *behavior: url(../js/boxsizing.htc); 
    width: $width;
}

/* 透明度指定 */
@mixin alpha($value) {
    filter: alpha(opacity=$value);
    -moz-opacity:$value / 100;
    opacity:$value / 100
}

/* アニメーション指定 */
@mixin anm($time) {
    -webkit-transition: $time;
    transition: $time;
}

/* 角丸指定 */
@mixin rad($lt,$rt,$lb,$rb) {
    -moz-border-radius: $lt+px $rt+px $lb+px $rb+px;
    border-radius: $lt+px $rt+px $lb+px $rb+px;
}

/* フォントの相対指定 */
@mixin fsize($s) {
    font-size: (($s * 10) *1.66) + px;
    font-size: ($s + rem);
    /* IE8以下対策 */
    *font-size: ($s * 10) * 2 + px;
}

/* 独自リセットcss */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
    margin:0;padding:0;
}
html{
    color:#000;background:#FFF;
}
h1,h2,h3,h4,h5,h6{
    font-weight:bold;
    font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
}
h1{
    @include fsize(2.0);
}
h2{
    @include fsize(1.8);
}
h3{
    @include fsize(1.6);
}
h4{
    @include fsize(1.4);
}
h5{
    @include fsize(1.2);
}
h6{
    @include fsize(1.0);
}


input,textarea,select{
    font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%;
}
img{
    vertical-align: bottom;
}
address,caption,cite,code,dfn,em,strong,th,var{
    font-style:normal;font-weight:normal;
}
ol,ul{
    list-style:none;
}
caption,th{
    text-align:left;
}
q:before,q:after{
    content:'';
}
abbr,acronym{
    border:0;font-variant:normal;
}
sup{
    vertical-align:text-top;
}
sub{
    vertical-align:text-bottom;
}


/* スタイルガイド */
body{
    width: 100%;
    /* 書式の一括指定 */
    font: 12px/1.5 "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    color: $acc;
    word-wrap:break-word;
    /* スマートフォン拡大時の文字変化対応設定 */
    -webkit-text-size-adjust: 100%;
    /* アクセント用テキスト */
    .acTxt{
        @include fsize(1.2);
        font-weight: bold;
    }
    /* 回りこみ解除clearfix用クラス */
    .cf{
        /* IE6/7対策 */
        zoom:1;
        &:before, &:after{
            content:"";
            display: table;
        }
        &:after{
            clear: both;
        }
    }
    /* リンクスタイルの変更 */
    .ancNone{
        a{
            text-decoration: none;
            color: $acc;
            &:visited{
                color: $acc;
            }
            &:link{
                color: $acc;
            }
            &:hover{
                text-decoration: underline;
            }
        }

    }
}
