/* IMPORT RESET */
@import"../../frameworks/_scss/styleguide-genre.scss";
@import"../../frameworks/_scss/responsivegs12col.scss";
@import "../../_scss/sprite-leftnav.scss";
$line : 1px solid $sbc01;

@mixin main($url) {
    background: url($url);
    background-size:cover;
    background-position: 50% 50%;
    article{
        padding: 0;
    }
    
}


.navigation{
    @include sizing(100%);
    .navigation__title{
        width: 35px;
        position: absolute;
        left: 0;
        top: 0;
        padding: 8px 0;
        background-color: $bc;
        a{
            display: block;
            width: 100%;
            height: 100%;
            img{
                display: block;
                margin: 0 auto;
            }
        }
    }
    /* サブメニュー */
    .submenu{
        position: absolute;
        top: 0;
        @include sizing(77%);
        left: 36px;
        border: none;
        background-color:$mc;
        .submenu__cart,.submenu__guide{
            width: 29px;
            float: left;
            padding: 10px 3px 0;
            img{
                display: block;
                margin: 0 auto;
            }
        }
        .submenu__search{
            float: left;
            padding: 0;
            width: 71%;
            .submenu__search__input{
                float: left;
                display: block;
                width: 71%;
                @include fsize(0.7);
                border: none;
                padding: 4px 0;
                margin: 8px 4px 0 8px;
                -webkit-border-radius: 2px 2px 2px 2px;
                border-radius: 2px 2px 2px 2px;
            }
            .submenu__search__btn{
                background: url("../../frameworks/img/search.png") 50% 50% no-repeat;
                background-size: 22px 22px;
                display: block;
                margin: 0 auto;
                float: left;
                height: 35px;
                width: 35px;
                padding:0;
                style:none;
                border: none;
            }
        }
    }
}




a.meanmenu-reveal {
    display: none;
}

.mean-container{
    .mean-bar {
        width: 100%;
        float: left;
        position: relative;
        background: $mc;
        min-height: 40px;
        z-index: 999999;
        display: none;
        span{
            display: block;
            background: #fff;
            height: 2px;
            margin-top: 4px;

        }
    }
    .mean-nav {
        float: left;
        width: 100%;
        background: $bc;
        margin-top: 40px;
        ul {
            padding: 0;
            margin: 0;
            width: 100%;
            list-style-type: none;
            li {
                position: relative;
                float: left;
                width: 100%;
                border: 1px solid $mc;
                border-bottom: none;
                a {
                    display: block;
                    float: left;
                    width: 90%;
                    padding: 0.25em 5%;
                    margin: 0;
                    text-align: left;
                    color: $acc;
                    border-top: 1px solid #383838;
                    border-top: 1px solid rgba(255,255,255,0.5);
                    text-decoration: none;
                    text-transform: uppercase;
                    &:hover {
                        background-color: $mc;
                        background: rgba(255,255,255,0.1);
                    }
                    &.mean-expand {
                        width: 26px;
                        height: 20px;
                        padding: 3px 7px !important;
                        text-align: center;
                        position: absolute;
                        right: 0;
                        top: 0;
                        vertical-align: top;
                        line-height: 1.0;
                        z-index: 2;
                        font-weight: 700;
                        background: rgba(255,255,255,0.1);
                        border: none !important;
                        border-left: 1px solid rgba(255,255,255,0.4) !important;
                        border-bottom: 1px solid rgba(255,255,255,0.2) !important;
                        color: $mc;
                        &:hover {
                            color: $bc;
                            background-color: $mc;
                            background: rgba(232,73,37,0.9);
                            a{

                                background-color: $mc;
                            }
                        }
                    }
                }
                li{
                    a {
                        width: 80%;
                        padding: 0.25em 10%;
                        border-top: 1px solid #f1f1f1;
                        border-top: 1px solid rgba(255,255,255,0.25);
                        opacity: 0.75;
                        filter: alpha(opacity=75);
                        text-shadow: none !important;
                        visibility: visible;
                    }
                    li{
                        a {
                            width: 70%;
                            padding: 0.25em 15%;
                        }
                        li{
                            a {
                                width: 60%;
                                padding: 0.25em 20%;
                            }
                            li{
                                a {
                                    width: 50%;
                                    padding: 0.25em 25%;
                                }
                            }
                        }
                    }
                }
                .mean-last a {
                    border-bottom: none;
                    margin-bottom: 0;
                }
            }
        }
        .wrapper {
            width: 100%;
            padding: 0;
            margin: 0;
        }
    }
    .mean-push {
        float: left;
        width: 100%;
        padding: 0;
        margin: 0;
        clear: both;
    }
    .meanmenu-reveal {
        background-color: $mc;
        width: 17px;
        height: 16px;
        padding: 9px 9px 14px 9px;
        position: absolute;
        border: 1px solid $bc;
        border-bottom: none;
        margin: 0;
        top: 0;
        right: 0;
        cursor: pointer;
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        text-indent: -9999em;
        line-height: 22px;
        font-size: 1px;
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
    }
}
.mean-container .mean-bar, .mean-container .mean-bar * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}


.mean-remove {
    display: none !important;
}

/*  EXAMPLE STYLES */
body {
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    color: $acc;
    line-height: 1.7;
    img{
        border: none;
    }
}
#bghack {
    z-index : -1;
    background-image : url('../img/cate_bg.jpg');
    background-repeat : repeat;
    background-size : 70px 79px;
    position : fixed;
    top : 0;
    left : 0;
    right : 0;
    bottom : 0;
}
header {
    text-align: left;
    background: $bc;
    height: 650px;
    width: 100%;
}
article {
    height: auto;
    text-align: left;
    /* background: $bc; */
    padding: 2% 0%;
    a{
        color: $acc;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
        &:visited{
            color: $acc;
        }
        &:link{
            color: $acc;
        }
        &:active{
            color: $mc;
        }
    }
    &.span_12{
        position: relative;
    }
}
aside {
    height: auto;
    text-align: left;
    /* background: #999; */
    padding: 2% 0%;
}
footer {
    text-align: left;
    padding: 0 0 2%;
}
/* original stylesheet */

/* 共通設定 */
.bnr {
    img {
        @include sizing(100%);
    }
    p{
        margin: 5% 0 0;
        @include fsize(0.6);
    }
}


h1{
    @include fsize(1.4);
    @include sizing(100%);
    margin: 0 auto;
    position: relative;
    padding: 10px 0;
}

h2{
    display: block;
    font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    font-weight: bold;
    @include fsize(1.2);
    @include sizing(100%);
    margin: 0 auto;
    padding: 6px 10px;
    border-top: 2px dotted $sbc01;
    border-bottom: 2px dotted $sbc01;
    color: $bc;
    background-color: $sbc03;
}


em {
    font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    font-weight: bold;
    @include fsize(2.0);
    margin: 0;
    padding: 0 0 0.5rem 0;
    padding: 0 0 5px 0;
    display: block;
    width: 100%;
    border-bottom: 1px dotted $mc;
}
h3 {
    padding: 0;
    margin: 0;
    clear: both;
    display: block;
}
.tagGroup {
    font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    font-weight: bold;
    width: 100%;
    margin: 1.0rem 0;
    margin: 15px 0;
    padding:0 0 5px 0;
    overflow: hidden;
    height: auto;
    span {
        @include fsize(0.8);
        display: block;
        float: right;
        margin:0 0 0 0.5rem;
        margin:0 0 0 5px;
        padding: 0 0.5rem;
        padding: 0 5px;
        width: 38px;
        height: 44px;
        color: $bc;
        line-height: 2.7rem;
        line-height: 44px;
        background:url(../img/icon.png) no-repeat;
        background-size: cover;
        text-align: center;
    }
    li {
        span {
            clear: both;
            float: none;
            display: block;
            margin: auto;
            @include fsize(0.8);
        }
        p {
            clear: both;
            text-align-last: center;
        }
    }
}
/* PC用設定 */
header {
    .nav {
        display: none;
    }
    iframe {
        margin: 0 auto;
        display: block;
        width: 100%;
        height: 100%;
    }
}
.container {
    padding: 0 0 6rem 0;
    padding: 0 0 90px 0;
    background-color: $bc;
    border-bottom: $line;
    h3 {
        line-height: 1.1;
        @include fsize(1.0);
    }
    .catchBanner {
        width: 100%;
        margin: 0;
        &:first-child {
            margin: 0;
        }
    }

    #mainBanner{
        height: 330px;
        article{
            height: 330px;
        }
    }
    .w{
        h1,h2{
            color: $bc;
            border-color: $bc;
        }
    }

    .b{
        h1,h2{
            color: $acc;
            border-color: $acc;
        }
    }
    /* 銀泉窯 */
    .Vol1{
        @include main('https://image.rakuten.co.jp/dentouhonpo/cabinet/category/bnr_vol03_my.jpg');
    }
    /* 福田良則 */
    .Vol2{
        @include main('https://image.rakuten.co.jp/dentouhonpo/cabinet/category/bnr_vol02_fk.jpg');
    }
    /* 万作工房 */
    .Vol3{
        @include main('https://image.rakuten.co.jp/dentouhonpo/cabinet/category/bnr_vol03_mn.jpg');
    }



    /* 細形花瓶 */
    #slimflowervaseBanner{
        @include main('https://image.rakuten.co.jp/dentouhonpo/cabinet/category/bnr_slimflowervase.jpg');
    }






    #introDuction{
        padding: 0.66rem;
        padding: 10px;
        text-align-last: left;
        .span_12 {
            width: 100%;
            height: auto;
            div{
                @include rad(3,3,3,3);
                padding: 4%;
                margin: 0 0 10px;
                border: 2px dotted $sbc01;
            }
            em{
                @include fsize(1.0);
            }
            p {
                margin-top: 10px;
                display: block;
            }
        }
    }


    #gallery{
        padding: 1.32rem;
        padding: 20px;
        text-align-last: left;
        .span_12 {
            width: 100%;
            height: auto;
            div{
                @include rad(3,3,3,3);
                padding: 4%;
                margin: 0 0 10px;
                border: 2px dotted $sbc01;
                overflow: hidden;
                .catch{
                    @include fsize(1.2);
                    color: $sbc03;
                }
                ul li{
                    @include sizing(29.3%);
                    float: left;
                    margin: 2%;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }


    .qa{
        padding: 0.66rem;
        padding: 10px;
        text-align-last: left;
        .span_12 {
            width: 100%;
            height: auto;
            em{
                color: $sbc03;
                @include fsize(1.6);
            }
            p {
                margin-top: 10px;
                display: block;
                &.answer01{
                    color: #ad634e;
                }
            }
            img{
                width: 100%;
            }
            .posRight{
                float: right;
            }
            .posLeft{
                float: left;
                margin-left: 0;
                margin-right: 2%;
            }
            
        }
    }

    .mainTitle {
        background-color: $bc;
        overflow: hidden;
        padding: 0.66rem;
        padding: 10px;
        text-align-last: left;
        .span_12 {
            width: 100%;
            height: auto;
            em{
                @include fsize(0.8);
                text-align: right;
            }
            p {
                display: block;
            }
        }
    }

    .publicCategory{
        .image{
            position: relative;
            .tagGroup{
                position: absolute;
                right: 4px;
            }
            .cf{
                position: relative;
                top: 30px;
            }
        }
        .subCategory{
            @include sizing(100%);
        }
    }

    /* public category style */

    .budGet {
        padding: 0.66rem;
        padding: 10px;
        hr{
            border: none;
            width: 60%;
            border-bottom: 2px solid $sbc01;
            margin: 0 auto 1rem;
        }
        .span_4 {
            @include sizing(20%);
            *width: 15%;
            margin: 0;
            padding: 1% 2%;
            div {
                position: relative;
                @include fsize(0.6);
                img {
                    width: 100%;
                }
                .tagGroup{
                    position: absolute;
                    top: -75px;
                    right: 5px;
                }
                h3{
                    @include fsize(0.8);
                    margin: 10px 0 0;
                }
            }
        }
    }
    /* budGet */
    .categoryLinks {
        padding: 0.66rem;
        padding: 10px;
        article{
            dl{
                dt{
                    margin: 15px 0 0 0;
                    font-weight: bold;
                }
            }
            a{
                text-decoration: underline;
                color: $mc;
            }
        }
    }

    #knowLedge {
        @include sizing(100%);
        article {
            @include sizing(50%);
            *width: 50%;
            padding: 3% 3% 3% 2%;
            float: left;
            &.wrap{
                @include sizing(100%);
                *width:100%;
            }
        }
        aside {
            &.col {
                margin-left: 0;
            }
            @include sizing(50%);
            *width: 44%;
            float: left;
            ul {
                @include sizing(100%);
                li {
                    @include sizing(33.3%);
                    *width: 29%;
                    float: left;
                    padding: 2%;
                    img {
                        width: 100%;
                        margin-bottom: 6%;
                    }
                }
            }
        }
    }
    /* knowLedge */
    

    .categoryLinks{
        *height:100%;
        *overflow: hidden;
        *margin: 30px 0 0;
        margin: 10px 0 0 0;
        article{
            @include sizing(100%);
            height: 100px;
            padding: 0;
            div{
                @include sizing(29%);
                margin: 0 2% 2%;
                float: left;
                a{
                    @include fsize(0.8);
                    text-decoration: none;
                    width: 86%;
                    height: 60%;
                    padding: 7%;
                    display: block;
                    background-color: $bc;
                    outline: 1px dashed $sbc03;
                    color: $acc;
                    @include rad(3,3,3,3);
                    @include anm(0.2s);
                    span{
                        @include anm(0.2s);
                    }
                    &:hover{
                        outline: none;
                        color: $bc;
                        background-color: $mc;
                        text-decoration: none;
                        span{
                            padding: 0 0 0 10px;
                        }
                    }
                }
            }
        }
        .span_8 {
            @include sizing(100%);
            margin-left: 0;
            h4 {
                margin-bottom: 10px;
            }
        }
        .span_4 {
            *display: block;
            @include sizing(100%);
            margin-left: 0;
            p{
                @include sizing(33.3%);
                *width: 29%; 
                display: block;
                float: left;
                padding:0 2%;
                img{
                    max-width: 100%;
                    display: block;
                    margin: 0 auto;
                    border: 1px solid $sbc01;
                }
            }
        }
    }
    .moreLink,.parentLink{
        margin: 0;
        overflow: hidden;
        article{
            height: auto;
            div{
                width: 30%;
                text-align: center;
                margin: 2% auto 0;
                a{
                    @include fsize(1.1);
                    width: 100%;
                    height: 100%;
                    padding: 10px;
                    display: block;
                    background-color: $sbc03;
                    color: $bc;
                    @include rad(3,3,3,3);
                    @include anm(0.2s);
                    span{
                        @include anm(0.2s);
                    }
                    &:hover{
                        background-color: $mc;
                        text-decoration: none;
                        span{
                            padding: 0 0 0 10px;
                        }
                    }
                }
            }
        }
    }
    .moreLink{
        border-bottom: 1px solid $sbc01;
        padding:0 0 20px 0;
    }
    .parentLink{

    }
    /* moreLink-fin */
}
/* container */
footer {
    iframe {
        display: block;
        width: 100%;
        height: 2800px;
        margin: 0 auto;
        overflow: hidden;
    }
    #sp { 
        display: none;
    }
}
@mixin addquery($point) {
    @media screen and (max-width: $point) {
        @content;
    }
}

/* 楽天カテゴリページ用 */

@include addquery(801px) {
    @media only screen and (min-width: 799px) {
        #categoryMenu{
            display: none;
        }
        header{
            display: none;
        }
        footer{
            display: none;
        }

    }
}





/* タブレット端末、スマートフォン用設定 */
@include addquery(768px) {

    .mean-container{
        .mean-bar {
            display: block;
        }
    }

    /* 480px以上の時 */
    @media only screen and (min-width: 480px) {
        h2, h3, h4 {
            @include fsize(1.0);
            display: block;
            line-height: 1.1;
        }
        .publicCategory{
            h3{
                margin-top: 25%;
            }
        }
    }
    h2, h3, h4 {
        @include fsize(1.0);
        display: block;
        line-height: 1.1;
    }
    h3 {
        padding:0;
        margin: 0;
    }
    .shopName {
        @include fsize(0.8);
        font-weight: bold;
        margin-bottom: 1.2rem;
        display: block;
    }
    header {
        background-color: $bc;
        color: $bc;
        height: auto;
        iframe {
            display: none;
        }
        .wf .fs1 {
            font-size: 24px;
            border: 1px solid $sbc01;
            border-right: none;
            height: 43px;
            padding: 0;
            margin: 0 auto;
            color: $acc;
        }
        .nav {
            @include sizing(100%);
            display: block;
            height: auto;
            overflow: hidden;
            a {
                text-decoration: none;
                color: $acc;
            }
            .shopName {
                display: block;
                @include sizing(75%);
                padding: 0;
                float: left;
                margin:0;
                border: 1px solid $sbc01;
                border-right: none;
                border-left: none;
                height: 45px;
                text-indent: 0.25rem;
                font-size: 0.9rem;
                line-height: 3;
                font-weight: normal;
                img {
                    width: 1.5rem;
                    height: 1.5rem;
                    display: block;
                    margin: 0.5rem;
                    float: left;
                }
            }
            div.menu {
                @include sizing(25%);
                float: left;
                a {
                    text-align: center;
                    display: block;
                    width: 50%;
                    float: left;
                }
            }
        }
    }
    .container {
        @media only screen and (min-width: 480px) {
            h1{
                @include fsize(2);
                @include sizing(80%);
            }
            h2{
                @include fsize(1.4);
                @include sizing(100%);
                padding: 10px;
            }
            em{
                @include fsize(1.5);
                @include sizing(100%);
            }
        }
        h1{
            @include fsize(1.8);
            @include sizing(90%);
            text-align: center;
        }
        h2{
            @include fsize(1.0);
            @include sizing(100%);
            padding: 10px;
        }
        em{
            @include fsize(1.2);
            @include sizing(100%);
        }



        #introDuction{
            .span_12 {
                em{
                    @include fsize(1.0);
                    font-weight: bold;
                    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                }
                p{
                    margin: 10px 0;
                    padding: 0;
                }
                h1{
                    color: $acc;
                }
            }
        }


        #gallery{
        padding: 0.66rem;
        padding: 10px;
            .span_12 {
                em{
                    @include fsize(1.0);
                    font-weight: bold;
                    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                }
                p{
                    margin: 2px 0;
                    padding: 0;
                }
                h1{
                    color: $acc;
                }

                div{
                    ul li{
                        @include sizing(46%);
                        margin: 2%;
                    }
                }
            }
        }


        .qa{
            .span_12 {
                em{
                    margin: 10px 0 0;
                    @include fsize(1.6);
                    font-weight: normal;
                    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                }
                p{
                    @include fsize(0.9);
                    color: #555;
                    margin: 10px 0;
                    padding: 0;
                    line-height: 1.9;
                }
                h1{
                    color: $acc;
                }
                img{
                    width: 100%;
                }
            }
            .span_6{
                i{
                    display: none;
                }
            }
        }

        .mainTitle {
            border-bottom: 1px solid $mc;
            .span_12 {
                padding: 0;
                em{
                    @include fsize(0.8);
                    text-align: right;
                }
                p{
                    margin: 0;
                    padding: 0;
                }
                h1{
                    color: $acc;
                }
            }
        }
        /* introDuction */
        .tagGroup {
            height: auto;
            width: 80%;
            span {
                @include fsize(0.6);
                margin:0 0 0.2rem 0.2rem;
                padding: 0.2rem 0.2rem;
                width: 28px;
                height: 25px;
                line-height: 1.7rem;
            }
            li {
                span {
                    @include fsize(0.8);
                    width: 38px;
                    height: 34px;
                    margin: 0 auto;
                    line-height: 2.3rem;
                }
                p {
                    clear: both;
                    text-align-last: center;
                }
            }
        }

        .publicCategory{
            .image{
                .cf{
                    top: 0px;
                }
            }
        }
        /* public categoryMenu */


        /* 予算別スマートフォン用レイアウト */
        .budGet {

            .span_4 {
                @include sizing(33.3%);
                *width: 25%;
                padding: 2%;
                h3 {
                    line-height: 1.5rem;
                    padding: 0;
                    margin: 0.5rem 0 0;
                    height: 1.5rem;
                    overflow: hidden;
                }
                div {
                    img {
                        width: 100%;
                    }
                    .tagGroup {
                        width: 100%;
                        margin: 0.2rem 0 0 0;
                        padding: 0;
                        height: auto;
                        top: -43px;
                        right: 3px;
                        span {
                            @include fsize(0.5);
                            margin:0 0 0.2rem 0.2rem;
                            padding: 0.2rem 0.2rem;
                            width: 19px;
                            height: 17px;
                            line-height: 1.1rem;
                        }
                        /* 予算別タブレット用タグレイアウト */
                        @media only screen and (min-width: 480px) {
                            span {
                                @include fsize(0.75);
                                margin:0 0 0.2rem 0.2rem;
                                padding: 0.2rem 0.2rem;
                                width: 38px;
                                height: 34px;
                                line-height: 2.3rem;
                            }
                        }
                    }
                    p {
                        height: 10rem;
                        line-height: 1.2rem;
                        overflow: hidden;
                    }
                }
            }
        }


        /* スマートフォン用知って得する豆知識 */
        #knowLedge {
            padding: 2%;
            article {
                @include sizing(100%);
                padding: 3%;
                h4 {
                    margin: 0 0 1rem 0;
                    @include fsize(1.4);
                }
            }
            aside {
                @include sizing(100%);
                ul {
                    @include sizing(100%);
                }
            }
        }

        /* スマートフォン用ギフトサービス */
        .categoryLinks {
            position: relative;
            .span_8 {
                @include sizing(100%);
                padding: 3%;
                height: 100%;
                /* タブレット用ギフトサービスレイアウト */
                @media only screen and (min-width: 480px) {
                    padding: 90px;
                    h4 {
                        text-align: center;
                        width: 100%;
                        @include fsize(1.5);
                        /* position: absolute;
                        top: 15%; */
                    }
                    p {
                        width: 100%;
                        /* position: absolute;
                        top: 25%; */
                        line-height: 2;
                    }

                    &.rightPos {
                        float: right;
                        padding: 90px;
                    }
                }
                h4 {
                    margin: 0 0 1rem 0;
                    @include fsize(1.4);
                }
                &.rightPos {
                    float: right;
                    /* padding: 0.5rem 0 1rem 1rem; */
                    padding: 1rem 0.5rem 1rem;
                }
            }
            .span_4 {
                @include sizing(100%);
                p{
                    @include sizing(33.3%);
                    margin-bottom: 1.5rem;
                }
            }
        }

        .categoryLinks{
            padding: 0;
            article{
                div{
                    @include sizing(45%);
                    margin: 0 2% 2%;
                    a{
                        @include fsize(0.6);
                        text-decoration: none;
                        width: 86%;
                        height: 60%;
                        padding: 20% 7%;
                    }
                }
                @media only screen and (min-width: 480px) {
                    div{
                        @include sizing(25%);
                        margin: 0 4% 2%;
                        a{
                            @include fsize(0.8);
                        }
                    }
                }
            }
        }

        /* スマートフォン用「カテゴリ商品をもっと見る」 */
        .moreLink,.parentLink{
            article{
                div{
                    width: 80%;
                    a{
                        @include fsize(1.0);
                        padding: 6px;
                    }
                }
            }
        }
    }
    /* container */
    footer {
        iframe {
            display: none;
        }
        #sp {
            display: block;
            overflow: hidden;
            ul#itemCategory,#genreCategory,#budgetCategory,#typeCategory {
                @include sizing(100%);
                overflow: hidden;
                li {
                    float: left;
                    width: 50%;
                    display: block;
                    border: none;
                    border-right: $line;
                    border-bottom: $line;
                    line-height: 1rem;
                    text-indent: 0.5rem;
                    
                    a{
                        line-height: 1.6rem;
                        display: block;
                        width:80%;
                        margin: auto;
                        .wf{
                            width: auto;
                            .fs1 {
                                @include fsize(1.3);
                                border: none;
                                float: right;
                                line-height: 0rem;
                                padding: 0;
                                margin: 0 auto;
                                color: $mc;
                            }
                        }
                    }
                }
                li:first-child {
                    width: 100%;
                    color: $acc;
                    line-height: 3rem;
                    padding: 0.5rem 0;
                    @include fsize(1.1);
                    font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;

                    .wf .fs1 {
                        @include fsize(1.2);
                        border: none;
                        float: left;
                        line-height: 3.1rem;
                        padding: 0;
                        margin: 0 0.25rem 0 0;
                        text-indent: 1rem;
                        color: $mc;
                    }
                }
                li.listWrap{
                    width: 100%;
                    a{
                        width: 40%;
                    }
                }
            }
            ul#eventCategory {
                overflow: hidden;
                background-color: $bc;
                @media only screen and (min-width: 480px) {
                    li {
                        @include sizing(33.3%);
                        padding: 2%;
                        display: block;
                        float: left;
                        img {
                            width: 100%;
                        }
                    }
                }
                li {
                    @include sizing(50%);
                    padding: 2%;
                    display: block;
                    float: left;
                    img {
                        width: 100%;
                    }
                }
                li:first-child {
                    width: 100%;
                    color: $acc;
                    line-height: 3rem;
                    padding: 0.5rem 0;
                    @include fsize(1.1);
                    font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
                    border-bottom: $line;
                    .wf .fs1 {
                        @include fsize(1.2);
                        border: none;
                        line-height: 3.1rem;
                        float: left;
                        padding: 0;
                        margin: 0 0.25rem 0 0;
                        text-indent: 1rem;
                        color: $mc;
                    }
                }
            }
            iframe.eventCategory{
                display: block;
                height: 400px;
            }
        }
        /* menu */
        @media only screen and (min-width: 480px) {
            .gotoTop{
                border-top: $line;
            }
        }
        .gotoTop {
            overflow: hidden;
            border-bottom: $line;
            border-top: none;
            background-color: $bc;
            width: 100%;
            line-height: 4.5;
            text-align: center;
            a {
                clear: both;
                color: $acc;
                text-decoration: none;
                display: block;
                width: 100%;
                text-align: center;
                padding: .8rem 0 1rem;
                .wf{
                    width: auto;
                    .fs1 {
                        @include fsize(1.2);
                        border: none;
                        line-height: .5rem;
                        padding: 0;
                        margin: 0 1rem;
                        color: $mc;
                    }
                }
                span{
                    display: block;
                    text-align: center;
                    line-height: 1.3rem;
                }
            }
        }
        ul {
            li {
                @include sizing(50%);
                display: block;
                float: left;
                border: $line;
                border-top: none;
                border-left: none;
                padding: 10px;
                background-color: $bc;
                a {
                    color: $acc;
                    text-decoration: none;
                    display: block;
                    text-align: center;
                }
            }
        }
        .info{
            li{
                a{
                    line-height: 1.6rem;
                    display: block;
                    width:80%;
                    margin: auto;
                    .wf{
                        width: auto;
                        .fs1 {
                            @include fsize(1.3);
                            border: none;
                            float: right;
                            line-height: 0rem;
                            padding: 0;
                            margin: 0 auto;
                            color: $mc;
                        }
                    }
                }
            }
        }
        address {
            background-color: $bc;
            ul {
                li {
                    @include sizing(33.3%);
                    display: block;
                    float: left;
                    border: $line;
                    border-right: none;
                    text-align: center;
                    &:first-child {
                        @include sizing(100%);
                        border-bottom: none;
                        a{
                            display: block;
                            width: 100%;
                            margin: 0 auto;
                            text-align: center;
                            .wf{
                                width: 110px;
                                margin: 0 auto;
                                .fs1 {
                                    line-height: 1.5rem;
                                }
                            }
                        }
                    }
                    &:last-child {
                        @include sizing(100%);
                        border-top: none;
                        padding: 1.5rem 1rem 1rem;
                        #label{
                            color: #aaa;
                        }
                        #form{
                            float: left;
                            @include sizing(90%);
                            height: 30px;
                            border-style: none;
                            border: 1px solid $acc;///
                        }
                        .wf{
                            @include sizing(10%);
                            float: left;
                            padding: 0 0 0 0.4rem;
                            position: relative;
                            .fs1 {
                                position: relative;
                                line-height: 2.0rem;
                                @include fsize(1.4);
                                color: $mc;
                                #btn{
                                    position: absolute;
                                    border-style:none;
                                    width: 1rem;
                                    right: 10px;
                                    @include alpha(0);
                                    background-color: #fff;
                                }
                            }
                        }
                    }
                    a{
                        display: block;
                        width: 100%;
                        margin: 0 auto;
                        text-align: center;
                        .wf{
                            width: 60px;
                            margin: 0 auto;
                            .fs1 {
                                @include fsize(1);
                                border: none;
                                float: left;
                                line-height: 0;
                                padding: 0;
                                margin: 0 auto;
                                color: $mc;
                            }
                        }
                    }
                }
            }
            p {
                clear: both;
                margin: 1rem 1rem 0;
                display: block;
                overflow: hidden;
                &:last-child{
                    text-align: center;
                    padding: 0 0 1rem 0 ;
                }
                &:first-child{
                    text-align: center;
                    padding: 30px 0 10px;
                    font-size: 1.3rem;
                    font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                }
            }
        }
    }
}
/* footer */
