    @import '../../styleguide/_scss/styleguide.scss';
    body {
        margin: 0;
        padding: 0;

        text-align: center;

        background-color: none;

        iframe.analyse {
            width: 1px;
            height: 1px;
            margin-top: 50px;

            @media only screen and (min-width: 768px) {
                display: none;
            }
        }

        /* コンペ用特設ページ ここから */
        .wrapContents {
            .main {
                &.compe {
                    h1 {
                        line-height: 1.7;
                        font-weight: bold;
                        font-size: 36px;
                        @media only screen and (max-width: 640px) {
                            font-size:24px;
                        }
                    }
                    h2 {
                        line-height: 1.7;
                        font-weight: bold;
                        font-size: 36px;
                        padding: 10px;
                        margin: 20px auto 10px;
                        background-color: #ffea63;
                        @media only screen and (max-width: 640px) {
                            font-size:24px;
                        }
                    }
                    h3 {
                        line-height: 1.7;
                        font-weight: bold;
                        font-size: 36px;
                        @media only screen and (max-width: 640px) {
                            font-size:24px;
                        }
                    }
                    hr {
                        width: 95%;
                        margin: 10px auto;
                    }
                    .header {
                        margin: 30px 0;
                        img {
                            width: 95%;
                            margin: 0 auto;
                        }
                    }
                    .info {
                        width: 95%;
                        margin: 0 auto;
                        div {
                            margin: 5px auto;
                        }
                        p {
                            font-size: 20px;
                            text-align: center;

                            padding: 10px;

                            background-color: #dad7b5;
                            @media only screen and (max-width: 640px) {
                                font-size: 14px;
                                padding: 10px;
                            }
                        }
                        .option {
                            p {
                                background-color: #f7eb09;
                                color: #f70909;
                                padding: 15px;
                                span {
                                    font-size: 1.3em;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                    .catch {
                        img {
                            width: 100%
                        }
                    }
                    .service {
                        overflow: hidden;
                        img {
                            width: 100%;
                        }
                        ul {
                            li {
                                float: left;
                                width: 47%;
                                margin: 1%;
                                img {
                                    width: 100%;
                                    border: solid 1px #000;
                                }
                            }
                        }
                    }
                    .lineup {
                        clear: both;
                        overflow: hidden;
                        img {
                            width: 100%;
                        }
                        .titleheader {
                            margin: 30px auto 10px;
                            background-color: #f4c07d;
                            padding: 10px;
                            p {
                                text-align: center;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }

        /* コンペ用特設ページ ここまで */


        /*以下、ヘッダーフッターレフトナビの設定。共通なのでめったにいじらない*/
        /*ヘッダー*/
        #top iframe {
            width: 100%;
            margin: 0 0 30px;
            height: 630px;
        }
        /*フッター*/
        #bottom {
            width: 100%;
            iframe {
                clear: both;
                width: 100%;
                height:2460px;
            }
        }

        .wrapContents {
            width: 1100px;
            margin: 0 auto;
            padding: 0 10px;
            /* レフトナビ */
            .leftnav {
                float: left;
                overflow: hidden;
                width: 200px;
                margin: 0 28px 100px 0;
                &.rk,
                &.ya {
                    width: 200px;
                }
                iframe {
                    height: 10000px;
                    width: 200px;
                }
            }
            .main {
                overflow: hidden;
                width: 840px;
                margin: 0 auto;
                @media only screen and (max-width: 640px) {
                    width: 100%;
                }
            }
        }
            /* スマートフォン用設定 */
            @media only screen and (max-width: 768px) {
                .wrapContents {
                    width:100%;
                    padding: 0;
                    &.sp {
                        width: 100%;
                        padding: 0;
                    }
                }
                &>.header,
                &>.footer {
                    display: none;
                }
                .leftnav {
                    display: none;
                }
                #top {
                    iframe {
                        display: none;
                    }
                }
                #bottom {
                    iframe {
                        display: none;
                    }
                }
            }
    }