@charset "UTF-8";
/* CSS Document */

@import "../../frameworks/_scss/_styleguide-genre.scss";
$line : 1px solid $sbc01;

/* 雛の節句 */
.hina{
    width: 800px;
    .review{
        background:transparent url('https://shopping.geocities.jp/dentouhonpo/img/category/sphina_04.jpg') no-repeat;
        width: 800px;
        height: 900px;
        position: relative;
        iframe{
            position: absolute;
            bottom: 50px;
            width: 722px;
            display: block;
            margin: 0 30px;
            height: 300px;
            border: 1px solid #dfdfdf;
        }
    }
}


.container {
    padding: 0 0 6rem 0;
    padding: 0 0 90px 0;
    background-color: $bc;
    h3 {
        line-height: 1.1;
    }
    .catchBanner {
        height: 200px;
        width: 100%;
        margin: 3.6rem 0 0 0;
        margin: 60px 0 0 0;
        &:first-child {
            margin: 0;
        }
    }

    #mainBanner{
        height: 100%;
        article{
            height: 100%;
        }
    }
    .w{
        h1,h2{
            color: $bc;
            border-color: $bc;
        }
    }

    .b{
        h1,h2{
            color: $acc;
            border-color: $acc;
        }
    }




    #introDuction {
        padding: 10px;
        @include sizing(100%);
        max-width: 990px;
        margin: 0 auto;
        .span_12 {
            width: 100%;
            height: auto;
            p {
                text-align: center;
                margin: 0 auto;
                display: block;
                width: 78%;
            }
            img{
                display: block;
                width: 100%;
                margin: 100px auto;
                &.spym01{
                    max-width: 752px;
                }
                &.spym02{
                    max-width: 658px;
                }
                &.spym03{
                    max-width: 990px;
                }
                &.spym04{
                    max-width: 490px;
                }
            }
        }
    }

    #wideContents {
        padding: 0;
        .span_12{
            @include sizing(100%);
            background-color: #000;
            margin: 0;
            float: left;
            article {
                @include sizing(100%);
                padding: 0;
                overflow: hidden;
                height: 30%;
                position: relative;
                a{
                    .image{
                        position: relative;
                        img{
                            width: 100%;
                            display: block;
                        }
                        .cf{
                            position: absolute;
                            left: 10%;
                            top: 20%;
                            width: 100%;
                            max-width: 440px;
                            &.title{
                                color: #fff;
                                opacity: 1.0;
                                margin: 0;
                                &:hover{
                                    background-image:none;
                                }
                                p{
                                    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                                }
                                h3{
                                    font-size: 40px;
                                    text-align: center;
                                    padding: 0 0 20px;
                                    border-bottom: 1px dotted #fff;
                                    span{
                                        display: block;
                                        font-size: 13px;
                                    }
                                }
                                p{
                                    font-size: 14px;
                                    line-height: 1.7;
                                }
                            }
                        }
                    }
                }
            }
        }
        .span_6 {
            @include sizing(50%);
            margin: 0;
            float: left;
            &.intro{
                @include sizing(100%);
            }
            &.right{
                float: left;
            }
            article {
                @include sizing(100%);
                padding: 0;
                overflow: hidden;
                height: 30%;
                position: relative;
                a{
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    .image{
                        overflow: hidden;
                        position: relative;
                        img{
                            width: 100%;
                            display: block;
                            -moz-transition: -moz-transform 0.2s linear;
                            -webkit-transition: -webkit-transform 0.2s linear;
                            -o-transition: -o-transform 0.2s linear;
                            -ms-transition: -ms-transform 0.2s linear;
                            transition: transform 0.2s linear;
                        }
                        @include anm(0.3s);
                        span{
                            display: block;
                            width: 100%;
                        }
                        &:hover{
                            background-position: -15px 0;
                        }
                        &.right:hover{
                            background-position: 0 0;
                        }
                        .cf{
                            @include sizing(100%);
                            padding: 3%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            color: #fff;
                            display: block;
                            @include anm(0.3s);
                            width: 100%;
                            height: 100%;
                            opacity: 0;
                            &:hover{
                                opacity: 1.0;
                                background-image: -webkit-linear-gradient(top, rgba(0,0,0,.7), rgba(0,0,0,0) 50%);
                                background-image: -moz-linear-gradient(top, rgba(0,0,0,.7), rgba(0,0,0,0) 50%);
                                background-image: -o-linear-gradient(top, rgba(0,0,0,.7), rgba(0,0,0,0) 50%);
                                background-image: -ms-linear-gradient(top, rgba(0,0,0,.7), rgba(0,0,0,0) 50%);
                                background-image: linear-gradient(to bottom, rgba(0,0,0,.7), rgba(0,0,0,0) 50%);
                            }
                            &.add{
                                opacity: 1;
                                h3{
                                    font-size: 20px;
                                }
                                p{
                                    font-size: 11px;
                                    line-height: 2.0;
                                }
                                hr{
                                    border: none;
                                    border-bottom: 1px dotted #fff;
                                    display: block;
                                    margin: 15px 0 20px;
                                }
                                div{
                                    width: 48%;
                                    padding: 0 1%;
                                    float: left;
                                }
                            }
                        }
                        &:hover{
                            img{
                                -webkit-transform: scale(1.05);
                                -moz-transform: scale(1.05);
                                -o-transform: scale(1.05);
                                -ms-transform: scale(1.05);
                                transform: scale(1.05);
                            }
                        }
                    }
                }
                img {
                    width: 100%;
                    display: block;
                    &.captionImage {
                        width: 30%;
                        float: left;
                        margin: 1.0rem 0;
                        margin: 10px 0;
                        display: block;
                    }
                }
                h3 {
                    clear: both;
                }
            }
        }

        @media only screen and (max-width: 540px) {

            .span_12{
                article {
                    @include sizing(100%);
                    padding: 0;
                    overflow: hidden;
                    height: 100%;
                    position: relative;
                    a{
                        .image{
                            position: relative;
                            .cf{
                                position: relative;
                                left: 0;
                                top: 0;
                                width: 94%;
                                padding: 3%;
                                &.title{
                                    h3{
                                        font-size: 25px;
                                        span{
                                            font-size: 12px;
                                        }
                                    }
                                    p{
                                        font-size: 12px;
                                        line-height: 2;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .span_6 {
                @include sizing(100%);
                margin: 0;
                float: left;
                article {
                    @include sizing(100%);
                    padding: 0;
                    overflow: hidden;
                    height: 30%;
                    position: relative;
                    a{
                        .image{
                            overflow: hidden;
                            position: relative;
                            @include anm(0.3s);
                            .bg_clear{
                                display: none;
                            }
                            span{
                                display: block;
                                width: 100%;
                            }
                            .cf{
                                background-color: #000;
                                padding: 3%;
                                position: relative;
                                top: 0;
                                left: 0;
                                opacity: 1;
                                display: none;
                                &:hover{
                                    opacity: 1.0;
                                    background-image: -webkit-linear-gradient(top, rgba(0,0,0,.7), rgba(0,0,0,0) 50%);
                                    background-image: -moz-linear-gradient(top, rgba(0,0,0,.7), rgba(0,0,0,0) 50%);
                                    background-image: -o-linear-gradient(top, rgba(0,0,0,.7), rgba(0,0,0,0) 50%);
                                    background-image: -ms-linear-gradient(top, rgba(0,0,0,.7), rgba(0,0,0,0) 50%);
                                    background-image: linear-gradient(to bottom, rgba(0,0,0,.7), rgba(0,0,0,0) 50%);
                                }
                            }
                            &:hover{
                                img{
                                    -webkit-transform: scale(1.0);
                                    -moz-transform: scale(1.0);
                                    -o-transform: scale(1.0);
                                    -ms-transform: scale(1.0);
                                    transform: scale(1.0);
                                }
                            }
                        }
                    }
                    img {
                        width: 100%;
                        display: block;
                        &.captionImage {
                            width: 30%;
                            float: left;
                            margin: 1.0rem 0;
                            margin: 10px 0;
                            display: block;
                        }
                    }
                    h3 {
                        clear: both;
                    }
                }
            }
        }
    }
    #ipContents {
        padding: 0.66rem;
        padding: 10px;
        .span_8 {
            margin: 0 0 20px;
            &.right{
                float: right;
            }
            article {
                @include sizing(100%);
                padding: 2%;
                position: relative;
                a{
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    .image{
                        img{
                            width: 100%;
                        }
                    }
                    .cf{
                        @include sizing(100%);
                        padding: 20% 5%;
                        height: 100%;
                        display: none;
                        position: absolute;
                        text-align: center;
                        top: 0;
                        color: #000;
                        background-color: #fff;
                        opacity:0.9;
                        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=9);
                        span{
                            border: 1px solid $mc;
                            padding: 6px 10px;
                            display: block;
                            width: 100px;
                            margin: 20px auto;
                            &:hover{
                                background-color: $mc;
                                color: $bc;
                            }
                        }

                    }
                    &:hover{
                        .cf{
                            display: block;
                        }
                    }
                }
                img {
                    width: 100%;
                    display: block;
                    &.captionImage {
                        width: 30%;
                        float: left;
                        margin: 1.0rem 0;
                        margin: 10px 0;
                        display: block;
                    }
                }
                h3 {
                    clear: both;
                }
            }
        }
    }
    /* rankingItem */
    .publicCategory{
        .image{
            position: relative;
            .tagGroup{
                position: absolute;
                right: 4px;
            }
            .cf{
                position: relative;
                top: 30px;
            }
        }
        .subCategory{
            @include sizing(100%);
        }
    }

    /* public category style */
    #useFull,#heaLing,#cooKing,#deSign {
        padding: 0.625rem;
        padding: 10px;
        div.col {
            margin-left: 0;
            article {
                overflow: hidden;
                div {
                    @include sizing(50%);
                    *width:45%;
                    float: left;
                    padding: 2%;
                    img {
                        width: 100%;
                    }
                    div {
                        margin: 0;
                        width: 100%;
                        padding:0;
                    }
                    .tagGroup {
                        margin: 0 0 1rem;
                    }
                    p {
                        height: 140px;
                        overflow: hidden;
                    }

                    /* カテゴリ全体ページ用設定 */
                    &.wrapGenre{
                        margin: 0 4%;
                        @include sizing(100%);
                        h2{

                            -webkit-transform: translateY(0);
                            -moz-transform: translateY(0);
                            -ms-transform: translateY(0);
                            -o-transform: translateY(0);
                            transform: translateY(0);
                        }
                    }
                }
            }
        }
    }
    /* useFull */
    .budGet {
        padding: 0.66rem;
        padding: 10px;
        .price {
            display: block;
            width: 50%;
            color: $acc;
            font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif, "ＭＳ Ｐ明朝", "MS PMincho";
            height: 30px;
            text-align: center;
            margin: 0 auto 0.3rem;
            margin: 0 auto 5px;
            padding: 1.33rem 0 1rem;
            padding: 20px 0 16px;
        }
        hr{
            border: none;
            width: 60%;
            border-bottom: 2px solid $sbc01;
            margin: 0 auto 1rem;
        }
        .span_4 {
            @include sizing(33.3%);
            *width: 25%;
            margin: 0;
            padding: 1% 4%;
            div {
                position: relative;
                img {
                    width: 100%;
                }
                .tagGroup{
                    position: absolute;
                    top: -75px;
                    right: 5px;
                }
                h3{
                    margin: 10px 0 0;
                }
            }
        }
    }
    /* budGet */
    #knowLedge,.giftService,.categoryLinks {
        padding: 0.66rem;
        padding: 10px;
        article{
            dl{
                dt{
                    margin: 15px 0 0 0;
                    font-weight: bold;
                }
            }
            a{
                text-decoration: underline;
                color: $mc;
            }
        }
    }

    #knowLedge {
        @include sizing(100%);
        article {
            @include sizing(50%);
            *width: 50%;
            padding: 3% 3% 3% 2%;
            float: left;
            &.wrap{
                @include sizing(100%);
                *width:100%;
            }
        }
        aside {
            &.col {
                margin-left: 0;
            }
            @include sizing(50%);
            *width: 44%;
            float: left;
            ul {
                @include sizing(100%);
                li {
                    @include sizing(33.3%);
                    *width: 29%;
                    float: left;
                    padding: 2%;
                    img {
                        width: 100%;
                        margin-bottom: 6%;
                    }
                }
            }
        }
    }
    /* knowLedge */
    .giftService,.categoryLinks {
        *height:100%;
        *overflow: hidden;
        *margin: 30px 0 0;
        article{
            padding: 3% 2%;
        }
        .col:first-child.rightPos {
            margin: 0;
        }
        .span_8 {
            @include sizing(100%);
            margin-left: 0;
            h4 {
                margin-bottom: 10px;
                text-align: center;
                background-color: $bc;
                color: $mc;
                border: 1px solid $mc;
                padding: 6px 0;
                font-weight: normal;
            }
            hr{
                border: none;
                border-bottom: 1px dashed $acc;
            }
        }
        .span_4 {
            *display: block;
            @include sizing(100%);
            margin-left: 0;
            p{
                @include sizing(33.3%);
                *width: 29%; 
                display: block;
                float: left;
                padding:0 2%;
                img{
                    max-width: 100%;
                    display: block;
                    margin: 0 auto;
                    border: 1px solid $sbc01;
                }
            }
        }
    }
    /* giftService-fin */


    .categoryLinks{
        margin: 10px 0 0 0;
        article{
            @include sizing(100%);
            height: 100px;
            div{
                @include sizing(29%);
                text-align: center;
                margin: 0 2% 2%;
                float: left;
                a{
                    text-decoration: none;
                    width: 100%;
                    height: 100%;
                    padding: 5px;
                    display: block;
                    background-color: $sbc03;
                    color: $bc;
                    @include rad(3,3,3,3);
                    @include anm(0.2s);
                    span{
                        @include anm(0.2s);
                    }
                    &:hover{
                        background-color: $mc;
                        text-decoration: none;
                        span{
                            padding: 0 0 0 10px;
                        }
                    }
                }
            }
        }
    }
}


/* container */
footer {
    iframe {
        display: block;
        width: 100%;
        /* height: 3450px; */
        height: 2800px;
        margin: 0 auto;
        overflow: hidden;
    }
    #sp { 
        display: none;
    }
}
@mixin addquery($point) {
    @media screen and (max-width: $point) {
        @content;
    }
}

/* 楽天カテゴリページ用 */

@include addquery(801px) {
    @media only screen and (min-width: 799px) {
        header{
            display: none;
        }
        footer{
            display: none;
        }
        .container{
            /* public category style */
            #useFull,#heaLing,#cooKing,#deSign {
                padding: 0.625rem;
                padding: 10px;
                div.col {
                    margin-left: 0;
                    article {
                        div {
                            p {
                                height: 96px;
                            }
                        }
                    }
                }
            }
        }
    }
}


/* タブレット端末、スマートフォン用設定 */
@include addquery(768px) {

    .mean-container{
        .mean-bar {
            display: block;
        }
    }

    /* 480px以上の時 */
    @media only screen and (min-width: 480px) {
        h2, h3, h4 {
            @include fsize(1.4);
            display: block;
            line-height: 1.1;
        }
        .publicCategory{
            h3{
                margin-top: 25%;
            }
        }
    }
    h2, h3, h4 {
        @include fsize(1.0);
        margin-bottom: 1.2rem;
        display: block;
        line-height: 1.1;
    }
    h3 {
        padding:0;
        margin: 0;
    }
    .shopName {
        @include fsize(0.8);
        font-weight: bold;
        margin-bottom: 1.2rem;
        display: block;
    }
    header {
        background-color: $bc;
        color: $bc;
        height: auto;
        iframe {
            display: none;
        }
        .wf .fs1 {
            font-size: 24px;
            border: 1px solid $sbc01;
            border-right: none;
            height: 43px;
            padding: 0;
            margin: 0 auto;
            color: $acc;
        }
        .nav {
            @include sizing(100%);
            display: block;
            height: auto;
            overflow: hidden;
            a {
                text-decoration: none;
                color: $acc;
            }
            .shopName {
                display: block;
                @include sizing(75%);
                padding: 0;
                float: left;
                margin:0;
                border: 1px solid $sbc01;
                border-right: none;
                border-left: none;
                height: 45px;
                text-indent: 0.25rem;
                font-size: 0.9rem;
                line-height: 3;
                font-weight: normal;
                img {
                    width: 1.5rem;
                    height: 1.5rem;
                    display: block;
                    margin: 0.5rem;
                    float: left;
                }
            }
            div.menu {
                @include sizing(25%);
                float: left;
                a {
                    text-align: center;
                    display: block;
                    width: 50%;
                    float: left;
                }
            }
        }
    }
    .container {
        background: none;
        #useFull,#heaLing,#cooKing,#deSign {
            div.col {
                width: 100%;
                article {
                    div {
                        @include sizing(50%);
                        float: left;
                        padding: 2%;
                        img {
                            width: 70%;
                            margin: 0 auto;
                            display: block;
                        }


                        /* カテゴリ全体ページ用設定 */
                        &.wrapGenre{
                            margin: 0;
                            @include sizing(100%);
                        }
                    }
                    div#rightChange {
                        float: right;
                    }
                }
            }
        }
        /* useFull */

        @media only screen and (min-width: 480px) {
            h1{
                @include fsize(2);
                @include sizing(80%);
            }
            h2{
                @include fsize(1.8);
                @include sizing(60%);
            }
            em{
                @include fsize(1.5);
                @include sizing(60%);
            }
        }
        h1{
            @include fsize(1.8);
            @include sizing(90%);
        }
        h2{
            @include fsize(1.5);
            @include sizing(90%);
        }
        em{
            @include fsize(1.2);
            @include sizing(90%);
        }


        #rankBanner,#usefullBanner,#designBanner,#cookBanner,#healingBanner,#budgetBanner,#knowledgeBanner,#giftBanner{
            height: 200px;
            article{
                height: 200px;
            }
        }

        #introDuction {
            .span_12 {
                em{
                    @include fsize(1.3);
                }
                p {
                    margin: 1% 0 2%;
                    width: 100%;
                }
            }
        }
        /* introDuction */
        .tagGroup {
            height: auto;
            width: 80%;
            span {
                @include fsize(0.6);
                margin:0 0 0.2rem 0.2rem;
                padding: 0.2rem 0.2rem;
                width: 28px;
                height: 25px;
                line-height: 1.7rem;
            }
            li {
                span {
                    @include fsize(0.8);
                    width: 38px;
                    height: 34px;
                    margin: 0 auto;
                    line-height: 2.3rem;
                }
                p {
                    clear: both;
                    text-align-last: center;
                }
            }
        }
        /* tagInfo */
        #ipContents {
            .tagGroup{
                @media only screen and (min-width: 480px) {
                    span {
                        @include fsize(0.75);
                        margin:0 0 0.2rem 0.2rem;
                        padding: 0.2rem 0.2rem;
                        width: 38px;
                        height: 34px;
                        line-height: 2.3rem;
                    }
                }
            }
            .rank01{
                top:35px;
            }
            .rank02,.rank03,.rank04,.rank05{
                top: -5px;
            }
            .span_6 {
                width: 100%;
                margin: 0 0 2rem 0;
                article {
                    padding: 1rem;
                    img {
                        margin:1rem auto;
                        display: block;
                        /* 768px以下の時 */
                        @media only screen and (max-width: 480px) {
                            &.captionImage {
                                display: none;
                            }
                        }
                    }
                    div.image{
                        position: relative;
                        right: 0;
                    }
                    .tagGroup{
                        width: 100%;
                    }
                }
            }
            .span_3 {
                width: 50%;
                float: left;
                padding: 0;
                article {
                    @include sizing(100%);
                    overflow: hidden;
                    padding: 0;
                    div {
                        @include sizing(100%);
                        padding: 0.5rem;
                        margin: 0;
                        /* tagGroup setting */
                        div {
                            width: 100%;
                            padding: 0;
                            margin: 5px 0 0;
                        }
                        h3{
                            line-height: 1.9rem;
                        }
                    }
                }
            }
            .col {
                margin-left: 0;
            }
        }
        /* rankingItem */
        #categoryMenu {
            padding: 0;
            width: 100%;
            .span_12 {
                h2{
                    width: 80%;
                    margin: auto;
                    padding: 0;
                }
                article {
                    @include sizing(100%);
                    span {
                        @include sizing(50%);
                        padding:0 0.5rem;
                        margin: 0.5rem 0 0 0;
                        a {
                            text-align: center;
                            display: block;
                            padding: 0.5rem 0;
                            @include fsize(0.8);
                        }
                        &:first-child{
                            @include sizing(100%);
                            margin:0;
                        }
                    }
                }
            }
        }

        .publicCategory{
            .image{
                .cf{
                    top: 0px;
                }
            }
        }
        /* public categoryMenu */
        #useFull,#heaLing,#cooKing,#deSign  {
            div.col {
                width: 100%;
                @media only screen and (min-width: 480px) {
                    article {
                        border-bottom: 1px dashed $sbc01;
                        overflow: hidden;
                        margin: 0 0 1rem 0;
                        div {
                            img {
                                width: 70%;
                                margin: 0 auto;
                                display: block;
                            }
                        }
                    }
                }
                article {
                    div {
                        @include sizing(50%);
                        float: left;
                        padding: 2%;
                        img {
                            width: 100%;
                            margin: 0 auto;
                            display: block;
                        }
                        .tagGroup {
                            margin-bottom: 0;

                            @media only screen and (min-width: 480px) {
                                span {
                                    @include fsize(0.75);
                                    margin:0 0 0.2rem 0.2rem;
                                    padding: 0.2rem 0.2rem;
                                    width: 38px;
                                    height: 34px;
                                    line-height: 2.3rem;
                                }
                            }
                        }
                        p{

                            height: 80px;
                        }
                        h3{
                            line-height: 1.9rem;
                        }
                    }
                    div#rightChange {
                        float: right;
                    }
                }
            }
        }
        /* useFull */

        /* 予算別スマートフォン用レイアウト */
        .budGet {
            .span_4 {
                padding: 2%;
                h3 {
                    line-height: 1.5rem;
                    padding: 0;
                    margin: 0.5rem 0 0;
                    height: 1.5rem;
                    overflow: hidden;
                }
                div {
                    img {
                        width: 100%;
                    }
                    .tagGroup {
                        width: 100%;
                        margin: 0.2rem 0 0 0;
                        padding: 0;
                        height: auto;
                        top: -43px;
                        right: 3px;
                        span {
                            @include fsize(0.5);
                            margin:0 0 0.2rem 0.2rem;
                            padding: 0.2rem 0.2rem;
                            width: 19px;
                            height: 17px;
                            line-height: 1.1rem;
                        }
                        /* 予算別タブレット用タグレイアウト */
                        @media only screen and (min-width: 480px) {
                            span {
                                @include fsize(0.75);
                                margin:0 0 0.2rem 0.2rem;
                                padding: 0.2rem 0.2rem;
                                width: 38px;
                                height: 34px;
                                line-height: 2.3rem;
                            }
                        }
                    }
                    p {
                        height: 10rem;
                        line-height: 1.2rem;
                        overflow: hidden;
                    }
                }
            }
        }


        /* スマートフォン用知って得する豆知識 */
        #knowLedge {
            padding: 2%;
            article {
                @include sizing(100%);
                padding: 3%;
                h4 {
                    margin: 0 0 1rem 0;
                    @include fsize(1.4);
                }
            }
            aside {
                @include sizing(100%);
                ul {
                    @include sizing(100%);
                }
            }
        }

        /* スマートフォン用ギフトサービス */
        .giftService,.categoryLinks {
            position: relative;
            .span_8 {
                @include sizing(100%);
                padding: 3%;
                height: 100%;
                /* タブレット用ギフトサービスレイアウト */
                @media only screen and (min-width: 480px) {
                    padding: 90px;
                    h4 {
                        text-align: center;
                        width: 100%;
                        @include fsize(1.5);
                        /* position: absolute;
                        top: 15%; */
                    }
                    p {
                        width: 100%;
                        /* position: absolute;
                        top: 25%; */
                        line-height: 2;
                    }

                    &.rightPos {
                        float: right;
                        padding: 90px;
                    }
                }
                h4 {
                    margin: 0 0 1rem 0;
                    @include fsize(1.4);
                }
                &.rightPos {
                    float: right;
                    /* padding: 0.5rem 0 1rem 1rem; */
                    padding: 1rem 0.5rem 1rem;
                }
            }
            .span_4 {
                @include sizing(100%);
                p{
                    @include sizing(100%);
                    margin-bottom: 1.5rem;
                }
            }
        }

        .categoryLinks{
            padding: 0;
            article{
                div{
                    @include sizing(40%);
                    margin: 0 4% 2%;
                    a{
                        @include fsize(0.6);
                    }
                }
                @media only screen and (min-width: 480px) {
                    div{
                        @include sizing(25%);
                        margin: 0 4% 2%;
                        a{
                            @include fsize(0.8);
                        }
                    }
                }
            }
        }

        /* スマートフォン用「カテゴリ商品をもっと見る」 */
        .moreLink,.parentLink{
            article{
                div{
                    width: 80%;
                    a{
                        @include fsize(1.0);
                        padding: 6px;
                    }
                }
            }
        }
    }
    /* container */
    footer {
        iframe {
            display: none;
        }
        #sp {
            display: block;
            overflow: hidden;
            ul#itemCategory,#genreCategory,#budgetCategory,#typeCategory {
                @include sizing(100%);
                overflow: hidden;
                li {
                    float: left;
                    width: 50%;
                    display: block;
                    border: none;
                    border-right: $line;
                    border-bottom: $line;
                    line-height: 1rem;
                    text-indent: 0.5rem;
                    
                    a{
                        line-height: 1.6rem;
                        display: block;
                        width:80%;
                        margin: auto;
                        .wf{
                            width: auto;
                            .fs1 {
                                @include fsize(1.3);
                                border: none;
                                float: right;
                                line-height: 0rem;
                                padding: 0;
                                margin: 0 auto;
                                color: $mc;
                            }
                        }
                    }
                }
                li:first-child {
                    width: 100%;
                    color: $acc;
                    line-height: 3rem;
                    padding: 0.5rem 0;
                    @include fsize(1.1);
                    font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;

                    .wf .fs1 {
                        @include fsize(1.2);
                        border: none;
                        float: left;
                        line-height: 3.1rem;
                        padding: 0;
                        margin: 0 0.25rem 0 0;
                        text-indent: 1rem;
                        color: $mc;
                    }
                }
                li.listWrap{
                    width: 100%;
                    a{
                        width: 40%;
                    }
                }
            }
            ul#eventCategory {
                overflow: hidden;
                background-color: $bc;
                @media only screen and (min-width: 480px) {
                    li {
                        @include sizing(50%);
                        padding: 1%;
                        display: block;
                        float: left;
                        img {
                            width: 100%;
                        }
                    }
                }
                li {
                    @include sizing(100%);
                    padding: 2% 1%;
                    display: block;
                    img {
                        max-width: 100%;
                        outline: 1px solid $sbc01;
                    }
                }
                li:first-child {
                    width: 100%;
                    color: $acc;
                    line-height: 3rem;
                    padding: 0.5rem 0;
                    @include fsize(1.1);
                    font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
                    border-bottom: $line;
                    .wf .fs1 {
                        @include fsize(1.2);
                        border: none;
                        line-height: 3.1rem;
                        float: left;
                        padding: 0;
                        margin: 0 0.25rem 0 0;
                        text-indent: 1rem;
                        color: $mc;
                    }
                }
            }
            iframe.eventCategory{
                display: block;
                height: 400px;
            }
        }
        /* menu */
        @media only screen and (min-width: 480px) {
            .gotoTop{
                border-top: $line;
            }
        }
        .gotoTop {
            overflow: hidden;
            border-bottom: $line;
            border-top: none;
            background-color: $bc;
            width: 100%;
            line-height: 4.5;
            text-align: center;
            a {
                clear: both;
                color: $acc;
                text-decoration: none;
                display: block;
                width: 100%;
                text-align: center;
                padding: .8rem 0 1rem;
                .wf{
                    width: auto;
                    .fs1 {
                        @include fsize(1.2);
                        border: none;
                        line-height: .5rem;
                        padding: 0;
                        margin: 0 1rem;
                        color: $mc;
                    }
                }
                span{
                    display: block;
                    text-align: center;
                    line-height: 1.3rem;
                }
            }
        }
        ul {
            li {
                @include sizing(50%);
                display: block;
                float: left;
                border: $line;
                border-top: none;
                border-left: none;
                padding: 10px;
                background-color: $bc;
                a {
                    color: $acc;
                    text-decoration: none;
                    display: block;
                    text-align: center;
                }
            }
        }
        .info{
            li{
                a{
                    line-height: 1.6rem;
                    display: block;
                    width:80%;
                    margin: auto;
                    .wf{
                        width: auto;
                        .fs1 {
                            @include fsize(1.3);
                            border: none;
                            float: right;
                            line-height: 0rem;
                            padding: 0;
                            margin: 0 auto;
                            color: $mc;
                        }
                    }
                }
            }
        }
        address {
            background-color: $bc;
            ul {
                li {
                    @include sizing(33.3%);
                    display: block;
                    float: left;
                    border: $line;
                    border-right: none;
                    text-align: center;
                    &:first-child {
                        @include sizing(100%);
                        border-bottom: none;
                        a{
                            display: block;
                            width: 100%;
                            margin: 0 auto;
                            text-align: center;
                            .wf{
                                width: 110px;
                                margin: 0 auto;
                                .fs1 {
                                    line-height: 1.5rem;
                                }
                            }
                        }
                    }
                    &:last-child {
                        @include sizing(100%);
                        border-top: none;
                        padding: 1.5rem 1rem 1rem;
                        #label{
                            color: #aaa;
                        }
                        #form{
                            float: left;
                            @include sizing(90%);
                            height: 30px;
                            border-style: none;
                            border: 1px solid $acc;///
                        }
                        .wf{
                            @include sizing(10%);
                            float: left;
                            padding: 0 0 0 0.4rem;
                            position: relative;
                            .fs1 {
                                position: relative;
                                line-height: 2.0rem;
                                @include fsize(1.4);
                                color: $mc;
                                #btn{
                                    position: absolute;
                                    border-style:none;
                                    width: 1rem;
                                    right: 10px;
                                    @include alpha(0);
                                    background-color: #fff;
                                }
                            }
                        }
                    }
                    a{
                        display: block;
                        width: 100%;
                        margin: 0 auto;
                        text-align: center;
                        .wf{
                            width: 60px;
                            margin: 0 auto;
                            .fs1 {
                                @include fsize(1);
                                border: none;
                                float: left;
                                line-height: 0;
                                padding: 0;
                                margin: 0 auto;
                                color: $mc;
                            }
                        }
                    }
                }
            }
            p {
                clear: both;
                margin: 1rem 1rem 0;
                display: block;
                overflow: hidden;
                &:last-child{
                    text-align: center;
                    padding: 0 0 1rem 0 ;
                }
                &:first-child{
                    text-align: center;
                    padding: 30px 0 10px;
                    font-size: 1.3rem;
                    font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                }
            }
        }
    }
}
/* footer */