@charset "utf-8";
/* CSS Document */

body{
	margin:0;
	padding:0;
	font-size:12px;
	line-height:1.5em;
	font-family:"ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", Osaka-mono, monospace;
}

#maincontents{
	width:800px;
}

#maincontents p.month_subtitle{
	background:#000;
	border-left:#d5b541 5px solid;
	color:white;
	font-size:120%;
	padding:4px 6px;
}

#maincontents ul{
	width:800px;
	height:auto;
	list-style-type:none;
	padding:0;
}

#maincontents ul li{
	float:left;
	display:block;
	margin:10px;
	width:246px;
	height:auto;
	outline:1px #CCC dashed;
}


/* 商品2個分のリストを定義 */
#maincontents ul.two li{
	float:left;
	display:block;
	margin:2%;
	padding:2%;
	width:42%;
	height:auto;
	outline:1px #CCC dashed;
}

#maincontents h4,#maincontents span,#maincontents p{
	padding:10px;
	line-height:1.2em;
	margin:0;
}

#maincontents ul li a img{
	width:226px;
	height:226px;
	margin:10px;
	outline:#999 1px solid;
}


/* 商品2個分のリストを定義 */
#maincontents ul.two li a img{
	width:100%;
	height:100%;
	margin:0;
	outline:#999 1px solid;
}

#maincontents ul li a{
	text-decoration:none;
	color:#000;
}

#maincontents ul li a:hover{
	text-decoration:underline;
}

#maincontents ul li:hover{
	outline:1px #000 solid;
}

#maincontents div.section{
	clear:both;
	width:800px;
	height:auto;
	padding-top:60px;
}
#maincontents #infomation{
	text-align:center;
	line-height:1.8em;
}
#maincontents #infomation span{
	font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-size:160%;
	font-weight:bold;
	line-height:2.0em;
}

#maincontents p.subtitle_info{
	padding-left:12px;
}

.square{
    background-image:url('https://shopping.c.yimg.jp/lib/dentouhonpo/img-goods/k3_168_blg_pt2_02.jpg');
    background-size: 336px;
    background-position: 0 100%;
    width:336px;
    height:336px;
	}
	
.square2{
    background-image:url('https://shopping.c.yimg.jp/lib/dentouhonpo/img-goods/k3_244_blg_pt2_01.jpg');
    background-size: 336px;
    background-position: 100%;
    width:336px;
    height:336px;
	}