/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$cmn_hdr_asu-x: 776px;
$cmn_hdr_asu-y: 124px;
$cmn_hdr_asu-offset-x: -776px;
$cmn_hdr_asu-offset-y: -124px;
$cmn_hdr_asu-width: 112px;
$cmn_hdr_asu-height: 21px;
$cmn_hdr_asu-total-width: 892px;
$cmn_hdr_asu-total-height: 761px;
$cmn_hdr_asu-image: '../img/sprites/spritesheet.png';
$cmn_hdr_asu: 776px 124px -776px -124px 112px 21px 892px 761px '../img/sprites/spritesheet.png';
$cmn_hdr_asu_hv-x: 628px;
$cmn_hdr_asu_hv-y: 602px;
$cmn_hdr_asu_hv-offset-x: -628px;
$cmn_hdr_asu_hv-offset-y: -602px;
$cmn_hdr_asu_hv-width: 112px;
$cmn_hdr_asu_hv-height: 21px;
$cmn_hdr_asu_hv-total-width: 892px;
$cmn_hdr_asu_hv-total-height: 761px;
$cmn_hdr_asu_hv-image: '../img/sprites/spritesheet.png';
$cmn_hdr_asu_hv: 628px 602px -628px -602px 112px 21px 892px 761px '../img/sprites/spritesheet.png';
$cmn_hdr_cal-x: 266px;
$cmn_hdr_cal-y: 225px;
$cmn_hdr_cal-offset-x: -266px;
$cmn_hdr_cal-offset-y: -225px;
$cmn_hdr_cal-width: 178px;
$cmn_hdr_cal-height: 68px;
$cmn_hdr_cal-total-width: 892px;
$cmn_hdr_cal-total-height: 761px;
$cmn_hdr_cal-image: '../img/sprites/spritesheet.png';
$cmn_hdr_cal: 266px 225px -266px -225px 178px 68px 892px 761px '../img/sprites/spritesheet.png';
$cmn_hdr_cmp-x: 408px;
$cmn_hdr_cmp-y: 602px;
$cmn_hdr_cmp-offset-x: -408px;
$cmn_hdr_cmp-offset-y: -602px;
$cmn_hdr_cmp-width: 100px;
$cmn_hdr_cmp-height: 25px;
$cmn_hdr_cmp-total-width: 892px;
$cmn_hdr_cmp-total-height: 761px;
$cmn_hdr_cmp-image: '../img/sprites/spritesheet.png';
$cmn_hdr_cmp: 408px 602px -408px -602px 100px 25px 892px 761px '../img/sprites/spritesheet.png';
$cmn_hdr_cmp_h-x: 656px;
$cmn_hdr_cmp_h-y: 360px;
$cmn_hdr_cmp_h-offset-x: -656px;
$cmn_hdr_cmp_h-offset-y: -360px;
$cmn_hdr_cmp_h-width: 100px;
$cmn_hdr_cmp_h-height: 25px;
$cmn_hdr_cmp_h-total-width: 892px;
$cmn_hdr_cmp_h-total-height: 761px;
$cmn_hdr_cmp_h-image: '../img/sprites/spritesheet.png';
$cmn_hdr_cmp_h: 656px 360px -656px -360px 100px 25px 892px 761px '../img/sprites/spritesheet.png';
$cmn_hdr_comp-x: 776px;
$cmn_hdr_comp-y: 155px;
$cmn_hdr_comp-offset-x: -776px;
$cmn_hdr_comp-offset-y: -155px;
$cmn_hdr_comp-width: 112px;
$cmn_hdr_comp-height: 21px;
$cmn_hdr_comp-total-width: 892px;
$cmn_hdr_comp-total-height: 761px;
$cmn_hdr_comp-image: '../img/sprites/spritesheet.png';
$cmn_hdr_comp: 776px 155px -776px -155px 112px 21px 892px 761px '../img/sprites/spritesheet.png';
$cmn_hdr_comp_hv-x: 0px;
$cmn_hdr_comp_hv-y: 647px;
$cmn_hdr_comp_hv-offset-x: 0px;
$cmn_hdr_comp_hv-offset-y: -647px;
$cmn_hdr_comp_hv-width: 112px;
$cmn_hdr_comp_hv-height: 21px;
$cmn_hdr_comp_hv-total-width: 892px;
$cmn_hdr_comp_hv-total-height: 761px;
$cmn_hdr_comp_hv-image: '../img/sprites/spritesheet.png';
$cmn_hdr_comp_hv: 0px 647px 0px -647px 112px 21px 892px 761px '../img/sprites/spritesheet.png';
$cmn_hdr_del-x: 314px;
$cmn_hdr_del-y: 372px;
$cmn_hdr_del-offset-x: -314px;
$cmn_hdr_del-offset-y: -372px;
$cmn_hdr_del-width: 124px;
$cmn_hdr_del-height: 38px;
$cmn_hdr_del-total-width: 892px;
$cmn_hdr_del-total-height: 761px;
$cmn_hdr_del-image: '../img/sprites/spritesheet.png';
$cmn_hdr_del: 314px 372px -314px -372px 124px 38px 892px 761px '../img/sprites/spritesheet.png';
$cmn_hdr_del_hv-x: 314px;
$cmn_hdr_del_hv-y: 310px;
$cmn_hdr_del_hv-offset-x: -314px;
$cmn_hdr_del_hv-offset-y: -310px;
$cmn_hdr_del_hv-width: 124px;
$cmn_hdr_del_hv-height: 38px;
$cmn_hdr_del_hv-total-width: 892px;
$cmn_hdr_del_hv-total-height: 761px;
$cmn_hdr_del_hv-image: '../img/sprites/spritesheet.png';
$cmn_hdr_del_hv: 314px 310px -314px -310px 124px 38px 892px 761px '../img/sprites/spritesheet.png';
$cmn_hdr_guide-x: 776px;
$cmn_hdr_guide-y: 186px;
$cmn_hdr_guide-offset-x: -776px;
$cmn_hdr_guide-offset-y: -186px;
$cmn_hdr_guide-width: 112px;
$cmn_hdr_guide-height: 21px;
$cmn_hdr_guide-total-width: 892px;
$cmn_hdr_guide-total-height: 761px;
$cmn_hdr_guide-image: '../img/sprites/spritesheet.png';
$cmn_hdr_guide: 776px 186px -776px -186px 112px 21px 892px 761px '../img/sprites/spritesheet.png';
$cmn_hdr_guide_h-x: 656px;
$cmn_hdr_guide_h-y: 304px;
$cmn_hdr_guide_h-offset-x: -656px;
$cmn_hdr_guide_h-offset-y: -304px;
$cmn_hdr_guide_h-width: 100px;
$cmn_hdr_guide_h-height: 25px;
$cmn_hdr_guide_h-total-width: 892px;
$cmn_hdr_guide_h-total-height: 761px;
$cmn_hdr_guide_h-image: '../img/sprites/spritesheet.png';
$cmn_hdr_guide_h: 656px 304px -656px -304px 100px 25px 892px 761px '../img/sprites/spritesheet.png';
$cmn_hdr_guide_hv-x: 776px;
$cmn_hdr_guide_hv-y: 93px;
$cmn_hdr_guide_hv-offset-x: -776px;
$cmn_hdr_guide_hv-offset-y: -93px;
$cmn_hdr_guide_hv-width: 112px;
$cmn_hdr_guide_hv-height: 21px;
$cmn_hdr_guide_hv-total-width: 892px;
$cmn_hdr_guide_hv-total-height: 761px;
$cmn_hdr_guide_hv-image: '../img/sprites/spritesheet.png';
$cmn_hdr_guide_hv: 776px 93px -776px -93px 112px 21px 892px 761px '../img/sprites/spritesheet.png';
$cmn_hdr_logo-x: 0px;
$cmn_hdr_logo-y: 136px;
$cmn_hdr_logo-offset-x: 0px;
$cmn_hdr_logo-offset-y: -136px;
$cmn_hdr_logo-width: 170px;
$cmn_hdr_logo-height: 79px;
$cmn_hdr_logo-total-width: 892px;
$cmn_hdr_logo-total-height: 761px;
$cmn_hdr_logo-image: '../img/sprites/spritesheet.png';
$cmn_hdr_logo: 0px 136px 0px -136px 170px 79px 892px 761px '../img/sprites/spritesheet.png';
$cmn_hdr_m01-x: 582px;
$cmn_hdr_m01-y: 434px;
$cmn_hdr_m01-offset-x: -582px;
$cmn_hdr_m01-offset-y: -434px;
$cmn_hdr_m01-width: 184px;
$cmn_hdr_m01-height: 46px;
$cmn_hdr_m01-total-width: 892px;
$cmn_hdr_m01-total-height: 761px;
$cmn_hdr_m01-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m01: 582px 434px -582px -434px 184px 46px 892px 761px '../img/sprites/spritesheet.png';
$cmn_hdr_m01_hv-x: 194px;
$cmn_hdr_m01_hv-y: 490px;
$cmn_hdr_m01_hv-offset-x: -194px;
$cmn_hdr_m01_hv-offset-y: -490px;
$cmn_hdr_m01_hv-width: 184px;
$cmn_hdr_m01_hv-height: 46px;
$cmn_hdr_m01_hv-total-width: 892px;
$cmn_hdr_m01_hv-total-height: 761px;
$cmn_hdr_m01_hv-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m01_hv: 194px 490px -194px -490px 184px 46px 892px 761px '../img/sprites/spritesheet.png';
$cmn_hdr_m02-x: 0px;
$cmn_hdr_m02-y: 546px;
$cmn_hdr_m02-offset-x: 0px;
$cmn_hdr_m02-offset-y: -546px;
$cmn_hdr_m02-width: 184px;
$cmn_hdr_m02-height: 46px;
$cmn_hdr_m02-total-width: 892px;
$cmn_hdr_m02-total-height: 761px;
$cmn_hdr_m02-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m02: 0px 546px 0px -546px 184px 46px 892px 761px '../img/sprites/spritesheet.png';
$cmn_hdr_m02_hv-x: 388px;
$cmn_hdr_m02_hv-y: 546px;
$cmn_hdr_m02_hv-offset-x: -388px;
$cmn_hdr_m02_hv-offset-y: -546px;
$cmn_hdr_m02_hv-width: 184px;
$cmn_hdr_m02_hv-height: 46px;
$cmn_hdr_m02_hv-total-width: 892px;
$cmn_hdr_m02_hv-total-height: 761px;
$cmn_hdr_m02_hv-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m02_hv: 388px 546px -388px -546px 184px 46px 892px 761px '../img/sprites/spritesheet.png';
$cmn_hdr_m03-x: 388px;
$cmn_hdr_m03-y: 434px;
$cmn_hdr_m03-offset-x: -388px;
$cmn_hdr_m03-offset-y: -434px;
$cmn_hdr_m03-width: 184px;
$cmn_hdr_m03-height: 46px;
$cmn_hdr_m03-total-width: 892px;
$cmn_hdr_m03-total-height: 761px;
$cmn_hdr_m03-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m03: 388px 434px -388px -434px 184px 46px 892px 761px '../img/sprites/spritesheet.png';
$cmn_hdr_m03_hv-x: 462px;
$cmn_hdr_m03_hv-y: 248px;
$cmn_hdr_m03_hv-offset-x: -462px;
$cmn_hdr_m03_hv-offset-y: -248px;
$cmn_hdr_m03_hv-width: 184px;
$cmn_hdr_m03_hv-height: 46px;
$cmn_hdr_m03_hv-total-width: 892px;
$cmn_hdr_m03_hv-total-height: 761px;
$cmn_hdr_m03_hv-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m03_hv: 462px 248px -462px -248px 184px 46px 892px 761px '../img/sprites/spritesheet.png';
$cmn_hdr_m04-x: 194px;
$cmn_hdr_m04-y: 546px;
$cmn_hdr_m04-offset-x: -194px;
$cmn_hdr_m04-offset-y: -546px;
$cmn_hdr_m04-width: 184px;
$cmn_hdr_m04-height: 46px;
$cmn_hdr_m04-total-width: 892px;
$cmn_hdr_m04-total-height: 761px;
$cmn_hdr_m04-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m04: 194px 546px -194px -546px 184px 46px 892px 761px '../img/sprites/spritesheet.png';
$cmn_hdr_m04_hv-x: 462px;
$cmn_hdr_m04_hv-y: 360px;
$cmn_hdr_m04_hv-offset-x: -462px;
$cmn_hdr_m04_hv-offset-y: -360px;
$cmn_hdr_m04_hv-width: 184px;
$cmn_hdr_m04_hv-height: 46px;
$cmn_hdr_m04_hv-total-width: 892px;
$cmn_hdr_m04_hv-total-height: 761px;
$cmn_hdr_m04_hv-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m04_hv: 462px 360px -462px -360px 184px 46px 892px 761px '../img/sprites/spritesheet.png';
$cmn_hdr_m05-x: 0px;
$cmn_hdr_m05-y: 434px;
$cmn_hdr_m05-offset-x: 0px;
$cmn_hdr_m05-offset-y: -434px;
$cmn_hdr_m05-width: 184px;
$cmn_hdr_m05-height: 46px;
$cmn_hdr_m05-total-width: 892px;
$cmn_hdr_m05-total-height: 761px;
$cmn_hdr_m05-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m05: 0px 434px 0px -434px 184px 46px 892px 761px '../img/sprites/spritesheet.png';
$cmn_hdr_m05_hv-x: 194px;
$cmn_hdr_m05_hv-y: 434px;
$cmn_hdr_m05_hv-offset-x: -194px;
$cmn_hdr_m05_hv-offset-y: -434px;
$cmn_hdr_m05_hv-width: 184px;
$cmn_hdr_m05_hv-height: 46px;
$cmn_hdr_m05_hv-total-width: 892px;
$cmn_hdr_m05_hv-total-height: 761px;
$cmn_hdr_m05_hv-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m05_hv: 194px 434px -194px -434px 184px 46px 892px 761px '../img/sprites/spritesheet.png';
$cmn_hdr_m06-x: 462px;
$cmn_hdr_m06-y: 304px;
$cmn_hdr_m06-offset-x: -462px;
$cmn_hdr_m06-offset-y: -304px;
$cmn_hdr_m06-width: 184px;
$cmn_hdr_m06-height: 46px;
$cmn_hdr_m06-total-width: 892px;
$cmn_hdr_m06-total-height: 761px;
$cmn_hdr_m06-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m06: 462px 304px -462px -304px 184px 46px 892px 761px '../img/sprites/spritesheet.png';
$cmn_hdr_m06_hv-x: 0px;
$cmn_hdr_m06_hv-y: 602px;
$cmn_hdr_m06_hv-offset-x: 0px;
$cmn_hdr_m06_hv-offset-y: -602px;
$cmn_hdr_m06_hv-width: 184px;
$cmn_hdr_m06_hv-height: 35px;
$cmn_hdr_m06_hv-total-width: 892px;
$cmn_hdr_m06_hv-total-height: 761px;
$cmn_hdr_m06_hv-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m06_hv: 0px 602px 0px -602px 184px 35px 892px 761px '../img/sprites/spritesheet.png';
$cmn_hdr_m07-x: 0px;
$cmn_hdr_m07-y: 490px;
$cmn_hdr_m07-offset-x: 0px;
$cmn_hdr_m07-offset-y: -490px;
$cmn_hdr_m07-width: 184px;
$cmn_hdr_m07-height: 46px;
$cmn_hdr_m07-total-width: 892px;
$cmn_hdr_m07-total-height: 761px;
$cmn_hdr_m07-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m07: 0px 490px 0px -490px 184px 46px 892px 761px '../img/sprites/spritesheet.png';
$cmn_hdr_m07_hv-x: 582px;
$cmn_hdr_m07_hv-y: 546px;
$cmn_hdr_m07_hv-offset-x: -582px;
$cmn_hdr_m07_hv-offset-y: -546px;
$cmn_hdr_m07_hv-width: 184px;
$cmn_hdr_m07_hv-height: 35px;
$cmn_hdr_m07_hv-total-width: 892px;
$cmn_hdr_m07_hv-total-height: 761px;
$cmn_hdr_m07_hv-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m07_hv: 582px 546px -582px -546px 184px 35px 892px 761px '../img/sprites/spritesheet.png';
$cmn_hdr_m08-x: 388px;
$cmn_hdr_m08-y: 490px;
$cmn_hdr_m08-offset-x: -388px;
$cmn_hdr_m08-offset-y: -490px;
$cmn_hdr_m08-width: 184px;
$cmn_hdr_m08-height: 46px;
$cmn_hdr_m08-total-width: 892px;
$cmn_hdr_m08-total-height: 761px;
$cmn_hdr_m08-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m08: 388px 490px -388px -490px 184px 46px 892px 761px '../img/sprites/spritesheet.png';
$cmn_hdr_m08_hv-x: 582px;
$cmn_hdr_m08_hv-y: 490px;
$cmn_hdr_m08_hv-offset-x: -582px;
$cmn_hdr_m08_hv-offset-y: -490px;
$cmn_hdr_m08_hv-width: 184px;
$cmn_hdr_m08_hv-height: 46px;
$cmn_hdr_m08_hv-total-width: 892px;
$cmn_hdr_m08_hv-total-height: 761px;
$cmn_hdr_m08_hv-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m08_hv: 582px 490px -582px -490px 184px 46px 892px 761px '../img/sprites/spritesheet.png';
$cmn_hdr_per-x: 656px;
$cmn_hdr_per-y: 248px;
$cmn_hdr_per-offset-x: -656px;
$cmn_hdr_per-offset-y: -248px;
$cmn_hdr_per-width: 100px;
$cmn_hdr_per-height: 25px;
$cmn_hdr_per-total-width: 892px;
$cmn_hdr_per-total-height: 761px;
$cmn_hdr_per-image: '../img/sprites/spritesheet.png';
$cmn_hdr_per: 656px 248px -656px -248px 100px 25px 892px 761px '../img/sprites/spritesheet.png';
$cmn_hdr_per_h-x: 518px;
$cmn_hdr_per_h-y: 602px;
$cmn_hdr_per_h-offset-x: -518px;
$cmn_hdr_per_h-offset-y: -602px;
$cmn_hdr_per_h-width: 100px;
$cmn_hdr_per_h-height: 25px;
$cmn_hdr_per_h-total-width: 892px;
$cmn_hdr_per_h-total-height: 761px;
$cmn_hdr_per_h-image: '../img/sprites/spritesheet.png';
$cmn_hdr_per_h: 518px 602px -518px -602px 100px 25px 892px 761px '../img/sprites/spritesheet.png';
$cmn_hdr_pr-x: 378px;
$cmn_hdr_pr-y: 709px;
$cmn_hdr_pr-offset-x: -378px;
$cmn_hdr_pr-offset-y: -709px;
$cmn_hdr_pr-width: 111px;
$cmn_hdr_pr-height: 21px;
$cmn_hdr_pr-total-width: 892px;
$cmn_hdr_pr-total-height: 761px;
$cmn_hdr_pr-image: '../img/sprites/spritesheet.png';
$cmn_hdr_pr: 378px 709px -378px -709px 111px 21px 892px 761px '../img/sprites/spritesheet.png';
$cmn_hdr_pr_hv-x: 776px;
$cmn_hdr_pr_hv-y: 62px;
$cmn_hdr_pr_hv-offset-x: -776px;
$cmn_hdr_pr_hv-offset-y: -62px;
$cmn_hdr_pr_hv-width: 111px;
$cmn_hdr_pr_hv-height: 21px;
$cmn_hdr_pr_hv-total-width: 892px;
$cmn_hdr_pr_hv-total-height: 761px;
$cmn_hdr_pr_hv-image: '../img/sprites/spritesheet.png';
$cmn_hdr_pr_hv: 776px 62px -776px -62px 111px 21px 892px 761px '../img/sprites/spritesheet.png';
$cmn_hdr_search-x: 250px;
$cmn_hdr_search-y: 0px;
$cmn_hdr_search-offset-x: -250px;
$cmn_hdr_search-offset-y: 0px;
$cmn_hdr_search-width: 202px;
$cmn_hdr_search-height: 108px;
$cmn_hdr_search-total-width: 892px;
$cmn_hdr_search-total-height: 761px;
$cmn_hdr_search-image: '../img/sprites/spritesheet.png';
$cmn_hdr_search: 250px 0px -250px 0px 202px 108px 892px 761px '../img/sprites/spritesheet.png';
$cmn_hdr_searchbtn-x: 776px;
$cmn_hdr_searchbtn-y: 217px;
$cmn_hdr_searchbtn-offset-x: -776px;
$cmn_hdr_searchbtn-offset-y: -217px;
$cmn_hdr_searchbtn-width: 96px;
$cmn_hdr_searchbtn-height: 18px;
$cmn_hdr_searchbtn-total-width: 892px;
$cmn_hdr_searchbtn-total-height: 761px;
$cmn_hdr_searchbtn-image: '../img/sprites/spritesheet.png';
$cmn_hdr_searchbtn: 776px 217px -776px -217px 96px 18px 892px 761px '../img/sprites/spritesheet.png';
$cmn_hdr_sptxt01-x: 776px;
$cmn_hdr_sptxt01-y: 299px;
$cmn_hdr_sptxt01-offset-x: -776px;
$cmn_hdr_sptxt01-offset-y: -299px;
$cmn_hdr_sptxt01-width: 115px;
$cmn_hdr_sptxt01-height: 17px;
$cmn_hdr_sptxt01-total-width: 892px;
$cmn_hdr_sptxt01-total-height: 761px;
$cmn_hdr_sptxt01-image: '../img/sprites/spritesheet.png';
$cmn_hdr_sptxt01: 776px 299px -776px -299px 115px 17px 892px 761px '../img/sprites/spritesheet.png';
$cmn_hdr_sptxt02-x: 776px;
$cmn_hdr_sptxt02-y: 272px;
$cmn_hdr_sptxt02-offset-x: -776px;
$cmn_hdr_sptxt02-offset-y: -272px;
$cmn_hdr_sptxt02-width: 94px;
$cmn_hdr_sptxt02-height: 17px;
$cmn_hdr_sptxt02-total-width: 892px;
$cmn_hdr_sptxt02-total-height: 761px;
$cmn_hdr_sptxt02-image: '../img/sprites/spritesheet.png';
$cmn_hdr_sptxt02: 776px 272px -776px -272px 94px 17px 892px 761px '../img/sprites/spritesheet.png';
$cmn_hdr_sptxt03-x: 776px;
$cmn_hdr_sptxt03-y: 326px;
$cmn_hdr_sptxt03-offset-x: -776px;
$cmn_hdr_sptxt03-offset-y: -326px;
$cmn_hdr_sptxt03-width: 115px;
$cmn_hdr_sptxt03-height: 17px;
$cmn_hdr_sptxt03-total-width: 892px;
$cmn_hdr_sptxt03-total-height: 761px;
$cmn_hdr_sptxt03-image: '../img/sprites/spritesheet.png';
$cmn_hdr_sptxt03: 776px 326px -776px -326px 115px 17px 892px 761px '../img/sprites/spritesheet.png';
$cmn_hdr_sptxt04-x: 776px;
$cmn_hdr_sptxt04-y: 245px;
$cmn_hdr_sptxt04-offset-x: -776px;
$cmn_hdr_sptxt04-offset-y: -245px;
$cmn_hdr_sptxt04-width: 94px;
$cmn_hdr_sptxt04-height: 17px;
$cmn_hdr_sptxt04-total-width: 892px;
$cmn_hdr_sptxt04-total-height: 761px;
$cmn_hdr_sptxt04-image: '../img/sprites/spritesheet.png';
$cmn_hdr_sptxt04: 776px 245px -776px -245px 94px 17px 892px 761px '../img/sprites/spritesheet.png';
$ftr_baby-x: 122px;
$ftr_baby-y: 647px;
$ftr_baby-offset-x: -122px;
$ftr_baby-offset-y: -647px;
$ftr_baby-width: 116px;
$ftr_baby-height: 21px;
$ftr_baby-total-width: 892px;
$ftr_baby-total-height: 761px;
$ftr_baby-image: '../img/sprites/spritesheet.png';
$ftr_baby: 122px 647px -122px -647px 116px 21px 892px 761px '../img/sprites/spritesheet.png';
$ftr_baby_cl-x: 248px;
$ftr_baby_cl-y: 647px;
$ftr_baby_cl-offset-x: -248px;
$ftr_baby_cl-offset-y: -647px;
$ftr_baby_cl-width: 116px;
$ftr_baby_cl-height: 21px;
$ftr_baby_cl-total-width: 892px;
$ftr_baby_cl-total-height: 761px;
$ftr_baby_cl-image: '../img/sprites/spritesheet.png';
$ftr_baby_cl: 248px 647px -248px -647px 116px 21px 892px 761px '../img/sprites/spritesheet.png';
$ftr_baby_cl_hv-x: 374px;
$ftr_baby_cl_hv-y: 647px;
$ftr_baby_cl_hv-offset-x: -374px;
$ftr_baby_cl_hv-offset-y: -647px;
$ftr_baby_cl_hv-width: 116px;
$ftr_baby_cl_hv-height: 21px;
$ftr_baby_cl_hv-total-width: 892px;
$ftr_baby_cl_hv-total-height: 761px;
$ftr_baby_cl_hv-image: '../img/sprites/spritesheet.png';
$ftr_baby_cl_hv: 374px 647px -374px -647px 116px 21px 892px 761px '../img/sprites/spritesheet.png';
$ftr_baby_hv-x: 500px;
$ftr_baby_hv-y: 647px;
$ftr_baby_hv-offset-x: -500px;
$ftr_baby_hv-offset-y: -647px;
$ftr_baby_hv-width: 116px;
$ftr_baby_hv-height: 21px;
$ftr_baby_hv-total-width: 892px;
$ftr_baby_hv-total-height: 761px;
$ftr_baby_hv-image: '../img/sprites/spritesheet.png';
$ftr_baby_hv: 500px 647px -500px -647px 116px 21px 892px 761px '../img/sprites/spritesheet.png';
$ftr_birth-x: 626px;
$ftr_birth-y: 647px;
$ftr_birth-offset-x: -626px;
$ftr_birth-offset-y: -647px;
$ftr_birth-width: 116px;
$ftr_birth-height: 21px;
$ftr_birth-total-width: 892px;
$ftr_birth-total-height: 761px;
$ftr_birth-image: '../img/sprites/spritesheet.png';
$ftr_birth: 626px 647px -626px -647px 116px 21px 892px 761px '../img/sprites/spritesheet.png';
$ftr_birth_hv-x: 0px;
$ftr_birth_hv-y: 678px;
$ftr_birth_hv-offset-x: 0px;
$ftr_birth_hv-offset-y: -678px;
$ftr_birth_hv-width: 116px;
$ftr_birth_hv-height: 21px;
$ftr_birth_hv-total-width: 892px;
$ftr_birth_hv-total-height: 761px;
$ftr_birth_hv-image: '../img/sprites/spritesheet.png';
$ftr_birth_hv: 0px 678px 0px -678px 116px 21px 892px 761px '../img/sprites/spritesheet.png';
$ftr_build-x: 126px;
$ftr_build-y: 678px;
$ftr_build-offset-x: -126px;
$ftr_build-offset-y: -678px;
$ftr_build-width: 116px;
$ftr_build-height: 21px;
$ftr_build-total-width: 892px;
$ftr_build-total-height: 761px;
$ftr_build-image: '../img/sprites/spritesheet.png';
$ftr_build: 126px 678px -126px -678px 116px 21px 892px 761px '../img/sprites/spritesheet.png';
$ftr_build_cl-x: 252px;
$ftr_build_cl-y: 678px;
$ftr_build_cl-offset-x: -252px;
$ftr_build_cl-offset-y: -678px;
$ftr_build_cl-width: 116px;
$ftr_build_cl-height: 21px;
$ftr_build_cl-total-width: 892px;
$ftr_build_cl-total-height: 761px;
$ftr_build_cl-image: '../img/sprites/spritesheet.png';
$ftr_build_cl: 252px 678px -252px -678px 116px 21px 892px 761px '../img/sprites/spritesheet.png';
$ftr_build_cl_hv-x: 378px;
$ftr_build_cl_hv-y: 678px;
$ftr_build_cl_hv-offset-x: -378px;
$ftr_build_cl_hv-offset-y: -678px;
$ftr_build_cl_hv-width: 116px;
$ftr_build_cl_hv-height: 21px;
$ftr_build_cl_hv-total-width: 892px;
$ftr_build_cl_hv-total-height: 761px;
$ftr_build_cl_hv-image: '../img/sprites/spritesheet.png';
$ftr_build_cl_hv: 378px 678px -378px -678px 116px 21px 892px 761px '../img/sprites/spritesheet.png';
$ftr_build_hv-x: 504px;
$ftr_build_hv-y: 678px;
$ftr_build_hv-offset-x: -504px;
$ftr_build_hv-offset-y: -678px;
$ftr_build_hv-width: 116px;
$ftr_build_hv-height: 21px;
$ftr_build_hv-total-width: 892px;
$ftr_build_hv-total-height: 761px;
$ftr_build_hv-image: '../img/sprites/spritesheet.png';
$ftr_build_hv: 504px 678px -504px -678px 116px 21px 892px 761px '../img/sprites/spritesheet.png';
$ftr_business-x: 630px;
$ftr_business-y: 678px;
$ftr_business-offset-x: -630px;
$ftr_business-offset-y: -678px;
$ftr_business-width: 116px;
$ftr_business-height: 21px;
$ftr_business-total-width: 892px;
$ftr_business-total-height: 761px;
$ftr_business-image: '../img/sprites/spritesheet.png';
$ftr_business: 630px 678px -630px -678px 116px 21px 892px 761px '../img/sprites/spritesheet.png';
$ftr_business_hv-x: 0px;
$ftr_business_hv-y: 709px;
$ftr_business_hv-offset-x: 0px;
$ftr_business_hv-offset-y: -709px;
$ftr_business_hv-width: 116px;
$ftr_business_hv-height: 21px;
$ftr_business_hv-total-width: 892px;
$ftr_business_hv-total-height: 761px;
$ftr_business_hv-image: '../img/sprites/spritesheet.png';
$ftr_business_hv: 0px 709px 0px -709px 116px 21px 892px 761px '../img/sprites/spritesheet.png';
$ftr_celeb-x: 126px;
$ftr_celeb-y: 709px;
$ftr_celeb-offset-x: -126px;
$ftr_celeb-offset-y: -709px;
$ftr_celeb-width: 116px;
$ftr_celeb-height: 21px;
$ftr_celeb-total-width: 892px;
$ftr_celeb-total-height: 761px;
$ftr_celeb-image: '../img/sprites/spritesheet.png';
$ftr_celeb: 126px 709px -126px -709px 116px 21px 892px 761px '../img/sprites/spritesheet.png';
$ftr_celeb_hv-x: 252px;
$ftr_celeb_hv-y: 709px;
$ftr_celeb_hv-offset-x: -252px;
$ftr_celeb_hv-offset-y: -709px;
$ftr_celeb_hv-width: 116px;
$ftr_celeb_hv-height: 21px;
$ftr_celeb_hv-total-width: 892px;
$ftr_celeb_hv-total-height: 761px;
$ftr_celeb_hv-image: '../img/sprites/spritesheet.png';
$ftr_celeb_hv: 252px 709px -252px -709px 116px 21px 892px 761px '../img/sprites/spritesheet.png';
$ftr_logo-x: 194px;
$ftr_logo-y: 602px;
$ftr_logo-offset-x: -194px;
$ftr_logo-offset-y: -602px;
$ftr_logo-width: 204px;
$ftr_logo-height: 33px;
$ftr_logo-total-width: 892px;
$ftr_logo-total-height: 761px;
$ftr_logo-image: '../img/sprites/spritesheet.png';
$ftr_logo: 194px 602px -194px -602px 204px 33px 892px 761px '../img/sprites/spritesheet.png';
$ftr_married-x: 499px;
$ftr_married-y: 709px;
$ftr_married-offset-x: -499px;
$ftr_married-offset-y: -709px;
$ftr_married-width: 116px;
$ftr_married-height: 21px;
$ftr_married-total-width: 892px;
$ftr_married-total-height: 761px;
$ftr_married-image: '../img/sprites/spritesheet.png';
$ftr_married: 499px 709px -499px -709px 116px 21px 892px 761px '../img/sprites/spritesheet.png';
$ftr_married_cl-x: 625px;
$ftr_married_cl-y: 709px;
$ftr_married_cl-offset-x: -625px;
$ftr_married_cl-offset-y: -709px;
$ftr_married_cl-width: 116px;
$ftr_married_cl-height: 21px;
$ftr_married_cl-total-width: 892px;
$ftr_married_cl-total-height: 761px;
$ftr_married_cl-image: '../img/sprites/spritesheet.png';
$ftr_married_cl: 625px 709px -625px -709px 116px 21px 892px 761px '../img/sprites/spritesheet.png';
$ftr_married_cl_hv-x: 0px;
$ftr_married_cl_hv-y: 740px;
$ftr_married_cl_hv-offset-x: 0px;
$ftr_married_cl_hv-offset-y: -740px;
$ftr_married_cl_hv-width: 116px;
$ftr_married_cl_hv-height: 21px;
$ftr_married_cl_hv-total-width: 892px;
$ftr_married_cl_hv-total-height: 761px;
$ftr_married_cl_hv-image: '../img/sprites/spritesheet.png';
$ftr_married_cl_hv: 0px 740px 0px -740px 116px 21px 892px 761px '../img/sprites/spritesheet.png';
$ftr_married_hv-x: 126px;
$ftr_married_hv-y: 740px;
$ftr_married_hv-offset-x: -126px;
$ftr_married_hv-offset-y: -740px;
$ftr_married_hv-width: 116px;
$ftr_married_hv-height: 21px;
$ftr_married_hv-total-width: 892px;
$ftr_married_hv-total-height: 761px;
$ftr_married_hv-image: '../img/sprites/spritesheet.png';
$ftr_married_hv: 126px 740px -126px -740px 116px 21px 892px 761px '../img/sprites/spritesheet.png';
$ftr_older-x: 252px;
$ftr_older-y: 740px;
$ftr_older-offset-x: -252px;
$ftr_older-offset-y: -740px;
$ftr_older-width: 116px;
$ftr_older-height: 21px;
$ftr_older-total-width: 892px;
$ftr_older-total-height: 761px;
$ftr_older-image: '../img/sprites/spritesheet.png';
$ftr_older: 252px 740px -252px -740px 116px 21px 892px 761px '../img/sprites/spritesheet.png';
$ftr_older_hv-x: 378px;
$ftr_older_hv-y: 740px;
$ftr_older_hv-offset-x: -378px;
$ftr_older_hv-offset-y: -740px;
$ftr_older_hv-width: 116px;
$ftr_older_hv-height: 21px;
$ftr_older_hv-total-width: 892px;
$ftr_older_hv-total-height: 761px;
$ftr_older_hv-image: '../img/sprites/spritesheet.png';
$ftr_older_hv: 378px 740px -378px -740px 116px 21px 892px 761px '../img/sprites/spritesheet.png';
$ftr_retire-x: 504px;
$ftr_retire-y: 740px;
$ftr_retire-offset-x: -504px;
$ftr_retire-offset-y: -740px;
$ftr_retire-width: 116px;
$ftr_retire-height: 21px;
$ftr_retire-total-width: 892px;
$ftr_retire-total-height: 761px;
$ftr_retire-image: '../img/sprites/spritesheet.png';
$ftr_retire: 504px 740px -504px -740px 116px 21px 892px 761px '../img/sprites/spritesheet.png';
$ftr_retire_hv-x: 630px;
$ftr_retire_hv-y: 740px;
$ftr_retire_hv-offset-x: -630px;
$ftr_retire_hv-offset-y: -740px;
$ftr_retire_hv-width: 116px;
$ftr_retire_hv-height: 21px;
$ftr_retire_hv-total-width: 892px;
$ftr_retire_hv-total-height: 761px;
$ftr_retire_hv-image: '../img/sprites/spritesheet.png';
$ftr_retire_hv: 630px 740px -630px -740px 116px 21px 892px 761px '../img/sprites/spritesheet.png';
$ftr_wedding-x: 776px;
$ftr_wedding-y: 0px;
$ftr_wedding-offset-x: -776px;
$ftr_wedding-offset-y: 0px;
$ftr_wedding-width: 116px;
$ftr_wedding-height: 21px;
$ftr_wedding-total-width: 892px;
$ftr_wedding-total-height: 761px;
$ftr_wedding-image: '../img/sprites/spritesheet.png';
$ftr_wedding: 776px 0px -776px 0px 116px 21px 892px 761px '../img/sprites/spritesheet.png';
$ftr_wedding_hv-x: 776px;
$ftr_wedding_hv-y: 31px;
$ftr_wedding_hv-offset-x: -776px;
$ftr_wedding_hv-offset-y: -31px;
$ftr_wedding_hv-width: 116px;
$ftr_wedding_hv-height: 21px;
$ftr_wedding_hv-total-width: 892px;
$ftr_wedding_hv-total-height: 761px;
$ftr_wedding_hv-image: '../img/sprites/spritesheet.png';
$ftr_wedding_hv: 776px 31px -776px -31px 116px 21px 892px 761px '../img/sprites/spritesheet.png';
$hdr_asu_bnr-x: 0px;
$hdr_asu_bnr-y: 225px;
$hdr_asu_bnr-offset-x: 0px;
$hdr_asu_bnr-offset-y: -225px;
$hdr_asu_bnr-width: 256px;
$hdr_asu_bnr-height: 75px;
$hdr_asu_bnr-total-width: 892px;
$hdr_asu_bnr-total-height: 761px;
$hdr_asu_bnr-image: '../img/sprites/spritesheet.png';
$hdr_asu_bnr: 0px 225px 0px -225px 256px 75px 892px 761px '../img/sprites/spritesheet.png';
$hdr_asu_bnr_hv-x: 180px;
$hdr_asu_bnr_hv-y: 136px;
$hdr_asu_bnr_hv-offset-x: -180px;
$hdr_asu_bnr_hv-offset-y: -136px;
$hdr_asu_bnr_hv-width: 256px;
$hdr_asu_bnr_hv-height: 75px;
$hdr_asu_bnr_hv-total-width: 892px;
$hdr_asu_bnr_hv-total-height: 761px;
$hdr_asu_bnr_hv-image: '../img/sprites/spritesheet.png';
$hdr_asu_bnr_hv: 180px 136px -180px -136px 256px 75px 892px 761px '../img/sprites/spritesheet.png';
$hdr_bnr_delivery-x: 0px;
$hdr_bnr_delivery-y: 310px;
$hdr_bnr_delivery-offset-x: 0px;
$hdr_bnr_delivery-offset-y: -310px;
$hdr_bnr_delivery-width: 304px;
$hdr_bnr_delivery-height: 52px;
$hdr_bnr_delivery-total-width: 892px;
$hdr_bnr_delivery-total-height: 761px;
$hdr_bnr_delivery-image: '../img/sprites/spritesheet.png';
$hdr_bnr_delivery: 0px 310px 0px -310px 304px 52px 892px 761px '../img/sprites/spritesheet.png';
$hdr_bnr_delivery_hvr-x: 462px;
$hdr_bnr_delivery_hvr-y: 124px;
$hdr_bnr_delivery_hvr-offset-x: -462px;
$hdr_bnr_delivery_hvr-offset-y: -124px;
$hdr_bnr_delivery_hvr-width: 304px;
$hdr_bnr_delivery_hvr-height: 52px;
$hdr_bnr_delivery_hvr-total-width: 892px;
$hdr_bnr_delivery_hvr-total-height: 761px;
$hdr_bnr_delivery_hvr-image: '../img/sprites/spritesheet.png';
$hdr_bnr_delivery_hvr: 462px 124px -462px -124px 304px 52px 892px 761px '../img/sprites/spritesheet.png';
$hdr_bnr_noshi-x: 462px;
$hdr_bnr_noshi-y: 62px;
$hdr_bnr_noshi-offset-x: -462px;
$hdr_bnr_noshi-offset-y: -62px;
$hdr_bnr_noshi-width: 304px;
$hdr_bnr_noshi-height: 52px;
$hdr_bnr_noshi-total-width: 892px;
$hdr_bnr_noshi-total-height: 761px;
$hdr_bnr_noshi-image: '../img/sprites/spritesheet.png';
$hdr_bnr_noshi: 462px 62px -462px -62px 304px 52px 892px 761px '../img/sprites/spritesheet.png';
$hdr_bnr_noshi_hvr-x: 462px;
$hdr_bnr_noshi_hvr-y: 186px;
$hdr_bnr_noshi_hvr-offset-x: -462px;
$hdr_bnr_noshi_hvr-offset-y: -186px;
$hdr_bnr_noshi_hvr-width: 304px;
$hdr_bnr_noshi_hvr-height: 52px;
$hdr_bnr_noshi_hvr-total-width: 892px;
$hdr_bnr_noshi_hvr-total-height: 761px;
$hdr_bnr_noshi_hvr-image: '../img/sprites/spritesheet.png';
$hdr_bnr_noshi_hvr: 462px 186px -462px -186px 304px 52px 892px 761px '../img/sprites/spritesheet.png';
$hdr_bnr_wrap-x: 0px;
$hdr_bnr_wrap-y: 372px;
$hdr_bnr_wrap-offset-x: 0px;
$hdr_bnr_wrap-offset-y: -372px;
$hdr_bnr_wrap-width: 304px;
$hdr_bnr_wrap-height: 52px;
$hdr_bnr_wrap-total-width: 892px;
$hdr_bnr_wrap-total-height: 761px;
$hdr_bnr_wrap-image: '../img/sprites/spritesheet.png';
$hdr_bnr_wrap: 0px 372px 0px -372px 304px 52px 892px 761px '../img/sprites/spritesheet.png';
$hdr_bnr_wrap_hvr-x: 462px;
$hdr_bnr_wrap_hvr-y: 0px;
$hdr_bnr_wrap_hvr-offset-x: -462px;
$hdr_bnr_wrap_hvr-offset-y: 0px;
$hdr_bnr_wrap_hvr-width: 304px;
$hdr_bnr_wrap_hvr-height: 52px;
$hdr_bnr_wrap_hvr-total-width: 892px;
$hdr_bnr_wrap_hvr-total-height: 761px;
$hdr_bnr_wrap_hvr-image: '../img/sprites/spritesheet.png';
$hdr_bnr_wrap_hvr: 462px 0px -462px 0px 304px 52px 892px 761px '../img/sprites/spritesheet.png';
$hdr_delivery_bnr-x: 125px;
$hdr_delivery_bnr-y: 0px;
$hdr_delivery_bnr-offset-x: -125px;
$hdr_delivery_bnr-offset-y: 0px;
$hdr_delivery_bnr-width: 115px;
$hdr_delivery_bnr-height: 126px;
$hdr_delivery_bnr-total-width: 892px;
$hdr_delivery_bnr-total-height: 761px;
$hdr_delivery_bnr-image: '../img/sprites/spritesheet.png';
$hdr_delivery_bnr: 125px 0px -125px 0px 115px 126px 892px 761px '../img/sprites/spritesheet.png';
$hdr_delivery_bnr_hv-x: 0px;
$hdr_delivery_bnr_hv-y: 0px;
$hdr_delivery_bnr_hv-offset-x: 0px;
$hdr_delivery_bnr_hv-offset-y: 0px;
$hdr_delivery_bnr_hv-width: 115px;
$hdr_delivery_bnr_hv-height: 126px;
$hdr_delivery_bnr_hv-total-width: 892px;
$hdr_delivery_bnr_hv-total-height: 761px;
$hdr_delivery_bnr_hv-image: '../img/sprites/spritesheet.png';
$hdr_delivery_bnr_hv: 0px 0px 0px 0px 115px 126px 892px 761px '../img/sprites/spritesheet.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
