/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$cmn_lft_aroma-x: 515px;
$cmn_lft_aroma-y: 256px;
$cmn_lft_aroma-offset-x: -515px;
$cmn_lft_aroma-offset-y: -256px;
$cmn_lft_aroma-width: 135px;
$cmn_lft_aroma-height: 32px;
$cmn_lft_aroma-total-width: 845px;
$cmn_lft_aroma-total-height: 528px;
$cmn_lft_aroma-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_aroma: 515px 256px -515px -256px 135px 32px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_beer-x: 515px;
$cmn_lft_beer-y: 88px;
$cmn_lft_beer-offset-x: -515px;
$cmn_lft_beer-offset-y: -88px;
$cmn_lft_beer-width: 135px;
$cmn_lft_beer-height: 32px;
$cmn_lft_beer-total-width: 845px;
$cmn_lft_beer-total-height: 528px;
$cmn_lft_beer-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_beer: 515px 88px -515px -88px 135px 32px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_budget-x: 340px;
$cmn_lft_budget-y: 276px;
$cmn_lft_budget-offset-x: -340px;
$cmn_lft_budget-offset-y: -276px;
$cmn_lft_budget-width: 165px;
$cmn_lft_budget-height: 36px;
$cmn_lft_budget-total-width: 845px;
$cmn_lft_budget-total-height: 528px;
$cmn_lft_budget-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_budget: 340px 276px -340px -276px 165px 36px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_budget02-x: 0px;
$cmn_lft_budget02-y: 276px;
$cmn_lft_budget02-offset-x: 0px;
$cmn_lft_budget02-offset-y: -276px;
$cmn_lft_budget02-width: 330px;
$cmn_lft_budget02-height: 36px;
$cmn_lft_budget02-total-width: 845px;
$cmn_lft_budget02-total-height: 528px;
$cmn_lft_budget02-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_budget02: 0px 276px 0px -276px 330px 36px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_category-x: 0px;
$cmn_lft_category-y: 92px;
$cmn_lft_category-offset-x: 0px;
$cmn_lft_category-offset-y: -92px;
$cmn_lft_category-width: 165px;
$cmn_lft_category-height: 36px;
$cmn_lft_category-total-width: 845px;
$cmn_lft_category-total-height: 528px;
$cmn_lft_category-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_category: 0px 92px 0px -92px 165px 36px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_category02-x: 175px;
$cmn_lft_category02-y: 0px;
$cmn_lft_category02-offset-x: -175px;
$cmn_lft_category02-offset-y: 0px;
$cmn_lft_category02-width: 330px;
$cmn_lft_category02-height: 36px;
$cmn_lft_category02-total-width: 845px;
$cmn_lft_category02-total-height: 528px;
$cmn_lft_category02-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_category02: 175px 0px -175px 0px 330px 36px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_contact-x: 0px;
$cmn_lft_contact-y: 506px;
$cmn_lft_contact-offset-x: 0px;
$cmn_lft_contact-offset-y: -506px;
$cmn_lft_contact-width: 115px;
$cmn_lft_contact-height: 22px;
$cmn_lft_contact-total-width: 845px;
$cmn_lft_contact-total-height: 528px;
$cmn_lft_contact-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_contact: 0px 506px 0px -506px 115px 22px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_cup-x: 515px;
$cmn_lft_cup-y: 382px;
$cmn_lft_cup-offset-x: -515px;
$cmn_lft_cup-offset-y: -382px;
$cmn_lft_cup-width: 135px;
$cmn_lft_cup-height: 32px;
$cmn_lft_cup-total-width: 845px;
$cmn_lft_cup-total-height: 528px;
$cmn_lft_cup-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_cup: 515px 382px -515px -382px 135px 32px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_dish-x: 660px;
$cmn_lft_dish-y: 172px;
$cmn_lft_dish-offset-x: -660px;
$cmn_lft_dish-offset-y: -172px;
$cmn_lft_dish-width: 135px;
$cmn_lft_dish-height: 32px;
$cmn_lft_dish-total-width: 845px;
$cmn_lft_dish-total-height: 528px;
$cmn_lft_dish-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_dish: 660px 172px -660px -172px 135px 32px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_en-x: 805px;
$cmn_lft_en-y: 46px;
$cmn_lft_en-offset-x: -805px;
$cmn_lft_en-offset-y: -46px;
$cmn_lft_en-width: 24px;
$cmn_lft_en-height: 24px;
$cmn_lft_en-total-width: 845px;
$cmn_lft_en-total-height: 528px;
$cmn_lft_en-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_en: 805px 46px -805px -46px 24px 24px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_event-x: 175px;
$cmn_lft_event-y: 46px;
$cmn_lft_event-offset-x: -175px;
$cmn_lft_event-offset-y: -46px;
$cmn_lft_event-width: 165px;
$cmn_lft_event-height: 36px;
$cmn_lft_event-total-width: 845px;
$cmn_lft_event-total-height: 528px;
$cmn_lft_event-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_event: 175px 46px -175px -46px 165px 36px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_event02-x: 175px;
$cmn_lft_event02-y: 92px;
$cmn_lft_event02-offset-x: -175px;
$cmn_lft_event02-offset-y: -92px;
$cmn_lft_event02-width: 330px;
$cmn_lft_event02-height: 36px;
$cmn_lft_event02-total-width: 845px;
$cmn_lft_event02-total-height: 528px;
$cmn_lft_event02-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_event02: 175px 92px -175px -92px 330px 36px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_flower-x: 515px;
$cmn_lft_flower-y: 46px;
$cmn_lft_flower-offset-x: -515px;
$cmn_lft_flower-offset-y: -46px;
$cmn_lft_flower-width: 135px;
$cmn_lft_flower-height: 32px;
$cmn_lft_flower-total-width: 845px;
$cmn_lft_flower-total-height: 528px;
$cmn_lft_flower-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_flower: 515px 46px -515px -46px 135px 32px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_hot-x: 0px;
$cmn_lft_hot-y: 138px;
$cmn_lft_hot-offset-x: 0px;
$cmn_lft_hot-offset-y: -138px;
$cmn_lft_hot-width: 165px;
$cmn_lft_hot-height: 36px;
$cmn_lft_hot-total-width: 845px;
$cmn_lft_hot-total-height: 528px;
$cmn_lft_hot-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_hot: 0px 138px 0px -138px 165px 36px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_hot02-x: 175px;
$cmn_lft_hot02-y: 138px;
$cmn_lft_hot02-offset-x: -175px;
$cmn_lft_hot02-offset-y: -138px;
$cmn_lft_hot02-width: 330px;
$cmn_lft_hot02-height: 36px;
$cmn_lft_hot02-total-width: 845px;
$cmn_lft_hot02-total-height: 528px;
$cmn_lft_hot02-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_hot02: 175px 138px -175px -138px 330px 36px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_interior-x: 660px;
$cmn_lft_interior-y: 256px;
$cmn_lft_interior-offset-x: -660px;
$cmn_lft_interior-offset-y: -256px;
$cmn_lft_interior-width: 135px;
$cmn_lft_interior-height: 32px;
$cmn_lft_interior-total-width: 845px;
$cmn_lft_interior-total-height: 528px;
$cmn_lft_interior-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_interior: 660px 256px -660px -256px 135px 32px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_item-x: 660px;
$cmn_lft_item-y: 340px;
$cmn_lft_item-offset-x: -660px;
$cmn_lft_item-offset-y: -340px;
$cmn_lft_item-width: 135px;
$cmn_lft_item-height: 32px;
$cmn_lft_item-total-width: 845px;
$cmn_lft_item-total-height: 528px;
$cmn_lft_item-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_item: 660px 340px -660px -340px 135px 32px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_ko-x: 805px;
$cmn_lft_ko-y: 130px;
$cmn_lft_ko-offset-x: -805px;
$cmn_lft_ko-offset-y: -130px;
$cmn_lft_ko-width: 24px;
$cmn_lft_ko-height: 24px;
$cmn_lft_ko-total-width: 845px;
$cmn_lft_ko-total-height: 528px;
$cmn_lft_ko-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_ko: 805px 130px -805px -130px 24px 24px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_media-x: 0px;
$cmn_lft_media-y: 184px;
$cmn_lft_media-offset-x: 0px;
$cmn_lft_media-offset-y: -184px;
$cmn_lft_media-width: 165px;
$cmn_lft_media-height: 36px;
$cmn_lft_media-total-width: 845px;
$cmn_lft_media-total-height: 528px;
$cmn_lft_media-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_media: 0px 184px 0px -184px 165px 36px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_media02-x: 175px;
$cmn_lft_media02-y: 184px;
$cmn_lft_media02-offset-x: -175px;
$cmn_lft_media02-offset-y: -184px;
$cmn_lft_media02-width: 330px;
$cmn_lft_media02-height: 36px;
$cmn_lft_media02-total-width: 845px;
$cmn_lft_media02-total-height: 528px;
$cmn_lft_media02-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_media02: 175px 184px -175px -184px 330px 36px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_noshi-x: 340px;
$cmn_lft_noshi-y: 460px;
$cmn_lft_noshi-offset-x: -340px;
$cmn_lft_noshi-offset-y: -460px;
$cmn_lft_noshi-width: 127px;
$cmn_lft_noshi-height: 22px;
$cmn_lft_noshi-total-width: 845px;
$cmn_lft_noshi-total-height: 528px;
$cmn_lft_noshi-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_noshi: 340px 460px -340px -460px 127px 22px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_plate-x: 515px;
$cmn_lft_plate-y: 214px;
$cmn_lft_plate-offset-x: -515px;
$cmn_lft_plate-offset-y: -214px;
$cmn_lft_plate-width: 135px;
$cmn_lft_plate-height: 32px;
$cmn_lft_plate-total-width: 845px;
$cmn_lft_plate-total-height: 528px;
$cmn_lft_plate-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_plate: 515px 214px -515px -214px 135px 32px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_pro-x: 0px;
$cmn_lft_pro-y: 0px;
$cmn_lft_pro-offset-x: 0px;
$cmn_lft_pro-offset-y: 0px;
$cmn_lft_pro-width: 165px;
$cmn_lft_pro-height: 36px;
$cmn_lft_pro-total-width: 845px;
$cmn_lft_pro-total-height: 528px;
$cmn_lft_pro-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_pro: 0px 0px 0px 0px 165px 36px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_pro02-x: 0px;
$cmn_lft_pro02-y: 322px;
$cmn_lft_pro02-offset-x: 0px;
$cmn_lft_pro02-offset-y: -322px;
$cmn_lft_pro02-width: 330px;
$cmn_lft_pro02-height: 36px;
$cmn_lft_pro02-total-width: 845px;
$cmn_lft_pro02-total-height: 528px;
$cmn_lft_pro02-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_pro02: 0px 322px 0px -322px 330px 36px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_question-x: 630px;
$cmn_lft_question-y: 466px;
$cmn_lft_question-offset-x: -630px;
$cmn_lft_question-offset-y: -466px;
$cmn_lft_question-width: 112px;
$cmn_lft_question-height: 22px;
$cmn_lft_question-total-width: 845px;
$cmn_lft_question-total-height: 528px;
$cmn_lft_question-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_question: 630px 466px -630px -466px 112px 22px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_rank-x: 0px;
$cmn_lft_rank-y: 46px;
$cmn_lft_rank-offset-x: 0px;
$cmn_lft_rank-offset-y: -46px;
$cmn_lft_rank-width: 165px;
$cmn_lft_rank-height: 36px;
$cmn_lft_rank-total-width: 845px;
$cmn_lft_rank-total-height: 528px;
$cmn_lft_rank-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_rank: 0px 46px 0px -46px 165px 36px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_rank02-x: 0px;
$cmn_lft_rank02-y: 368px;
$cmn_lft_rank02-offset-x: 0px;
$cmn_lft_rank02-offset-y: -368px;
$cmn_lft_rank02-width: 330px;
$cmn_lft_rank02-height: 36px;
$cmn_lft_rank02-total-width: 845px;
$cmn_lft_rank02-total-height: 528px;
$cmn_lft_rank02-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_rank02: 0px 368px 0px -368px 330px 36px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_rankic01-x: 805px;
$cmn_lft_rankic01-y: 382px;
$cmn_lft_rankic01-offset-x: -805px;
$cmn_lft_rankic01-offset-y: -382px;
$cmn_lft_rankic01-width: 29px;
$cmn_lft_rankic01-height: 23px;
$cmn_lft_rankic01-total-width: 845px;
$cmn_lft_rankic01-total-height: 528px;
$cmn_lft_rankic01-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_rankic01: 805px 382px -805px -382px 29px 23px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_rankic02-x: 805px;
$cmn_lft_rankic02-y: 424px;
$cmn_lft_rankic02-offset-x: -805px;
$cmn_lft_rankic02-offset-y: -424px;
$cmn_lft_rankic02-width: 29px;
$cmn_lft_rankic02-height: 23px;
$cmn_lft_rankic02-total-width: 845px;
$cmn_lft_rankic02-total-height: 528px;
$cmn_lft_rankic02-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_rankic02: 805px 424px -805px -424px 29px 23px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_rankic03-x: 805px;
$cmn_lft_rankic03-y: 340px;
$cmn_lft_rankic03-offset-x: -805px;
$cmn_lft_rankic03-offset-y: -340px;
$cmn_lft_rankic03-width: 29px;
$cmn_lft_rankic03-height: 23px;
$cmn_lft_rankic03-total-width: 845px;
$cmn_lft_rankic03-total-height: 528px;
$cmn_lft_rankic03-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_rankic03: 805px 340px -805px -340px 29px 23px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_rankic04-x: 805px;
$cmn_lft_rankic04-y: 298px;
$cmn_lft_rankic04-offset-x: -805px;
$cmn_lft_rankic04-offset-y: -298px;
$cmn_lft_rankic04-width: 29px;
$cmn_lft_rankic04-height: 23px;
$cmn_lft_rankic04-total-width: 845px;
$cmn_lft_rankic04-total-height: 528px;
$cmn_lft_rankic04-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_rankic04: 805px 298px -805px -298px 29px 23px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_rankic05-x: 805px;
$cmn_lft_rankic05-y: 256px;
$cmn_lft_rankic05-offset-x: -805px;
$cmn_lft_rankic05-offset-y: -256px;
$cmn_lft_rankic05-width: 29px;
$cmn_lft_rankic05-height: 23px;
$cmn_lft_rankic05-total-width: 845px;
$cmn_lft_rankic05-total-height: 528px;
$cmn_lft_rankic05-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_rankic05: 805px 256px -805px -256px 29px 23px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_rankic06-x: 805px;
$cmn_lft_rankic06-y: 214px;
$cmn_lft_rankic06-offset-x: -805px;
$cmn_lft_rankic06-offset-y: -214px;
$cmn_lft_rankic06-width: 29px;
$cmn_lft_rankic06-height: 23px;
$cmn_lft_rankic06-total-width: 845px;
$cmn_lft_rankic06-total-height: 528px;
$cmn_lft_rankic06-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_rankic06: 805px 214px -805px -214px 29px 23px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_return-x: 340px;
$cmn_lft_return-y: 322px;
$cmn_lft_return-offset-x: -340px;
$cmn_lft_return-offset-y: -322px;
$cmn_lft_return-width: 165px;
$cmn_lft_return-height: 36px;
$cmn_lft_return-total-width: 845px;
$cmn_lft_return-total-height: 528px;
$cmn_lft_return-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_return: 340px 322px -340px -322px 165px 36px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_return02-x: 0px;
$cmn_lft_return02-y: 414px;
$cmn_lft_return02-offset-x: 0px;
$cmn_lft_return02-offset-y: -414px;
$cmn_lft_return02-width: 330px;
$cmn_lft_return02-height: 36px;
$cmn_lft_return02-total-width: 845px;
$cmn_lft_return02-total-height: 528px;
$cmn_lft_return02-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_return02: 0px 414px 0px -414px 330px 36px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_rice-x: 660px;
$cmn_lft_rice-y: 214px;
$cmn_lft_rice-offset-x: -660px;
$cmn_lft_rice-offset-y: -214px;
$cmn_lft_rice-width: 135px;
$cmn_lft_rice-height: 32px;
$cmn_lft_rice-total-width: 845px;
$cmn_lft_rice-total-height: 528px;
$cmn_lft_rice-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_rice: 660px 214px -660px -214px 135px 32px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_season-x: 340px;
$cmn_lft_season-y: 368px;
$cmn_lft_season-offset-x: -340px;
$cmn_lft_season-offset-y: -368px;
$cmn_lft_season-width: 165px;
$cmn_lft_season-height: 36px;
$cmn_lft_season-total-width: 845px;
$cmn_lft_season-total-height: 528px;
$cmn_lft_season-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_season: 340px 368px -340px -368px 165px 36px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_season02-x: 0px;
$cmn_lft_season02-y: 460px;
$cmn_lft_season02-offset-x: 0px;
$cmn_lft_season02-offset-y: -460px;
$cmn_lft_season02-width: 330px;
$cmn_lft_season02-height: 36px;
$cmn_lft_season02-total-width: 845px;
$cmn_lft_season02-total-height: 528px;
$cmn_lft_season02-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_season02: 0px 460px 0px -460px 330px 36px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_stand-x: 515px;
$cmn_lft_stand-y: 298px;
$cmn_lft_stand-offset-x: -515px;
$cmn_lft_stand-offset-y: -298px;
$cmn_lft_stand-width: 135px;
$cmn_lft_stand-height: 32px;
$cmn_lft_stand-total-width: 845px;
$cmn_lft_stand-total-height: 528px;
$cmn_lft_stand-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_stand: 515px 298px -515px -298px 135px 32px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_table-x: 660px;
$cmn_lft_table-y: 298px;
$cmn_lft_table-offset-x: -660px;
$cmn_lft_table-offset-y: -298px;
$cmn_lft_table-width: 135px;
$cmn_lft_table-height: 32px;
$cmn_lft_table-total-width: 845px;
$cmn_lft_table-total-height: 528px;
$cmn_lft_table-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_table: 660px 298px -660px -298px 135px 32px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_tea-x: 515px;
$cmn_lft_tea-y: 340px;
$cmn_lft_tea-offset-x: -515px;
$cmn_lft_tea-offset-y: -340px;
$cmn_lft_tea-width: 135px;
$cmn_lft_tea-height: 32px;
$cmn_lft_tea-total-width: 845px;
$cmn_lft_tea-total-height: 528px;
$cmn_lft_tea-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_tea: 515px 340px -515px -340px 135px 32px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_type-x: 340px;
$cmn_lft_type-y: 414px;
$cmn_lft_type-offset-x: -340px;
$cmn_lft_type-offset-y: -414px;
$cmn_lft_type-width: 165px;
$cmn_lft_type-height: 36px;
$cmn_lft_type-total-width: 845px;
$cmn_lft_type-total-height: 528px;
$cmn_lft_type-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_type: 340px 414px -340px -414px 165px 36px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_type02-x: 515px;
$cmn_lft_type02-y: 0px;
$cmn_lft_type02-offset-x: -515px;
$cmn_lft_type02-offset-y: 0px;
$cmn_lft_type02-width: 330px;
$cmn_lft_type02-height: 36px;
$cmn_lft_type02-total-width: 845px;
$cmn_lft_type02-total-height: 528px;
$cmn_lft_type02-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_type02: 515px 0px -515px 0px 330px 36px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_ymboard-x: 660px;
$cmn_lft_ymboard-y: 382px;
$cmn_lft_ymboard-offset-x: -660px;
$cmn_lft_ymboard-offset-y: -382px;
$cmn_lft_ymboard-width: 135px;
$cmn_lft_ymboard-height: 32px;
$cmn_lft_ymboard-total-width: 845px;
$cmn_lft_ymboard-total-height: 528px;
$cmn_lft_ymboard-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_ymboard: 660px 382px -660px -382px 135px 32px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_ymcat-x: 515px;
$cmn_lft_ymcat-y: 424px;
$cmn_lft_ymcat-offset-x: -515px;
$cmn_lft_ymcat-offset-y: -424px;
$cmn_lft_ymcat-width: 135px;
$cmn_lft_ymcat-height: 32px;
$cmn_lft_ymcat-total-width: 845px;
$cmn_lft_ymcat-total-height: 528px;
$cmn_lft_ymcat-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_ymcat: 515px 424px -515px -424px 135px 32px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_ymflower-x: 660px;
$cmn_lft_ymflower-y: 424px;
$cmn_lft_ymflower-offset-x: -660px;
$cmn_lft_ymflower-offset-y: -424px;
$cmn_lft_ymflower-width: 135px;
$cmn_lft_ymflower-height: 32px;
$cmn_lft_ymflower-total-width: 845px;
$cmn_lft_ymflower-total-height: 528px;
$cmn_lft_ymflower-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_ymflower: 660px 424px -660px -424px 135px 32px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_yminterior-x: 350px;
$cmn_lft_yminterior-y: 46px;
$cmn_lft_yminterior-offset-x: -350px;
$cmn_lft_yminterior-offset-y: -46px;
$cmn_lft_yminterior-width: 135px;
$cmn_lft_yminterior-height: 32px;
$cmn_lft_yminterior-total-width: 845px;
$cmn_lft_yminterior-total-height: 528px;
$cmn_lft_yminterior-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_yminterior: 350px 46px -350px -46px 135px 32px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_ymlunch-x: 515px;
$cmn_lft_ymlunch-y: 172px;
$cmn_lft_ymlunch-offset-x: -515px;
$cmn_lft_ymlunch-offset-y: -172px;
$cmn_lft_ymlunch-width: 135px;
$cmn_lft_ymlunch-height: 32px;
$cmn_lft_ymlunch-total-width: 845px;
$cmn_lft_ymlunch-total-height: 528px;
$cmn_lft_ymlunch-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_ymlunch: 515px 172px -515px -172px 135px 32px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_ymnk-x: 515px;
$cmn_lft_ymnk-y: 466px;
$cmn_lft_ymnk-offset-x: -515px;
$cmn_lft_ymnk-offset-y: -466px;
$cmn_lft_ymnk-width: 105px;
$cmn_lft_ymnk-height: 22px;
$cmn_lft_ymnk-total-width: 845px;
$cmn_lft_ymnk-total-height: 528px;
$cmn_lft_ymnk-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_ymnk: 515px 466px -515px -466px 105px 22px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_ymplate-x: 660px;
$cmn_lft_ymplate-y: 130px;
$cmn_lft_ymplate-offset-x: -660px;
$cmn_lft_ymplate-offset-y: -130px;
$cmn_lft_ymplate-width: 135px;
$cmn_lft_ymplate-height: 32px;
$cmn_lft_ymplate-total-width: 845px;
$cmn_lft_ymplate-total-height: 528px;
$cmn_lft_ymplate-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_ymplate: 660px 130px -660px -130px 135px 32px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_ymrice-x: 515px;
$cmn_lft_ymrice-y: 130px;
$cmn_lft_ymrice-offset-x: -515px;
$cmn_lft_ymrice-offset-y: -130px;
$cmn_lft_ymrice-width: 135px;
$cmn_lft_ymrice-height: 32px;
$cmn_lft_ymrice-total-width: 845px;
$cmn_lft_ymrice-total-height: 528px;
$cmn_lft_ymrice-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_ymrice: 515px 130px -515px -130px 135px 32px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_ymtable-x: 660px;
$cmn_lft_ymtable-y: 88px;
$cmn_lft_ymtable-offset-x: -660px;
$cmn_lft_ymtable-offset-y: -88px;
$cmn_lft_ymtable-width: 135px;
$cmn_lft_ymtable-height: 32px;
$cmn_lft_ymtable-total-width: 845px;
$cmn_lft_ymtable-total-height: 528px;
$cmn_lft_ymtable-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_ymtable: 660px 88px -660px -88px 135px 32px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_ymtea-x: 660px;
$cmn_lft_ymtea-y: 46px;
$cmn_lft_ymtea-offset-x: -660px;
$cmn_lft_ymtea-offset-y: -46px;
$cmn_lft_ymtea-width: 135px;
$cmn_lft_ymtea-height: 32px;
$cmn_lft_ymtea-total-width: 845px;
$cmn_lft_ymtea-total-height: 528px;
$cmn_lft_ymtea-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_ymtea: 660px 46px -660px -46px 135px 32px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_ymtitle-x: 340px;
$cmn_lft_ymtitle-y: 230px;
$cmn_lft_ymtitle-offset-x: -340px;
$cmn_lft_ymtitle-offset-y: -230px;
$cmn_lft_ymtitle-width: 165px;
$cmn_lft_ymtitle-height: 36px;
$cmn_lft_ymtitle-total-width: 845px;
$cmn_lft_ymtitle-total-height: 528px;
$cmn_lft_ymtitle-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_ymtitle: 340px 230px -340px -230px 165px 36px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_ymtitle02-x: 0px;
$cmn_lft_ymtitle02-y: 230px;
$cmn_lft_ymtitle02-offset-x: 0px;
$cmn_lft_ymtitle02-offset-y: -230px;
$cmn_lft_ymtitle02-width: 330px;
$cmn_lft_ymtitle02-height: 36px;
$cmn_lft_ymtitle02-total-width: 845px;
$cmn_lft_ymtitle02-total-height: 528px;
$cmn_lft_ymtitle02-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_ymtitle02: 0px 230px 0px -230px 330px 36px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_zh-x: 805px;
$cmn_lft_zh-y: 172px;
$cmn_lft_zh-offset-x: -805px;
$cmn_lft_zh-offset-y: -172px;
$cmn_lft_zh-width: 24px;
$cmn_lft_zh-height: 24px;
$cmn_lft_zh-total-width: 845px;
$cmn_lft_zh-total-height: 528px;
$cmn_lft_zh-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_zh: 805px 172px -805px -172px 24px 24px 845px 528px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_zhtw-x: 805px;
$cmn_lft_zhtw-y: 88px;
$cmn_lft_zhtw-offset-x: -805px;
$cmn_lft_zhtw-offset-y: -88px;
$cmn_lft_zhtw-width: 24px;
$cmn_lft_zhtw-height: 24px;
$cmn_lft_zhtw-total-width: 845px;
$cmn_lft_zhtw-total-height: 528px;
$cmn_lft_zhtw-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_zhtw: 805px 88px -805px -88px 24px 24px 845px 528px '../img/sprites/spritesheet_leftnav.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
