/* .tagContents{
    width: 360px;
    position: absolute;
    right: 20px;
    top: 240px;
    height: 100px;
    .tagLine{
        clear: both;
        display: block;
        padding: 2px 0 0;
        margin: 0 0 4px;
        border: none;
        border-bottom: 1px dotted #c099a0;
    }
    .tagGroup{
        margin: 0;
        width: 100%;
        padding: 0;
        display: block;
        height: auto;
        li{
            width: 87px;
            height: 21px;
            float: left;
            margin: 2px 1px;
            display: block;
            position: relative;
            a{
                display: block;
                width: 87px;
                height: 21px;
                z-index: 1;
            }
            div{
                z-index: 2;
                display: none;
                background-color: #356a71;
                color: #fff;
                position: absolute;
                top: 24px;
                font-size: 10px;
                padding: 4px;
                -moz-border-radius: 3px 3px 3px 3px;
                border-radius: 3px 3px 3px 3px;
            }
            &:hover div{
                display: block;
            }
            &.tagDelivery{
                a{
                    background: url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/tag_delivery.png') no-repeat;
                }
            }
            &.tagName{
                a{
                    background: url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/tag_name.png') no-repeat;
                }
            }
            &.tagEarly{
                a{
                    background: url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/tag_early.png') no-repeat;
                }
            }
            &.tagMessage{
                a{
                    background: url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/tag_message.png') no-repeat;
                }
            }
            &.tagWrap{
                a{
                    background: url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/tag_wrapping.png') no-repeat;
                }
            }
            &.tagNoshi{
                a{
                    background: url('https://www.rakuten.ne.jp/gold/dentouhonpo/img/tag_noshi.png') no-repeat;
                }
            }
        }
    }

    .moreInfo{
        margin: 0;
        padding: 0;
        clear: both;
        font-size: 10px;
        text-align: right;
        a{
            color: #356a71;
        }
    }
} */

@import "../styleguide/_scss/styleguide-default.scss";


body{
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

#sidebar {
    /* display: none; */
}

.twothird {
    width: 100%;
    /* max-width: 960px; */
    max-width: 620px;
    margin: 0 auto;
    .member{
        width: 100%;
        div{
            &.subtitle{
                width: 100%;
                background-color: #000;
                color: #fff;
                height: 41px;
                border: none;
                overflow: hidden;
                margin: 0 0 30px;
                em{
                    color: #fff;
                    font-size: 22px;
                    position: relative;
                    top: -20px;
                    /* top: 3px; */
                    font-weight: bold;
                    display: block;
                    float: left;
                    -moz-transform: rotate(-10deg);
                    -webkit-transform: rotate(-10deg);
                    -o-transform: rotate(-10deg);
                    -ms-transform: rotate(-10deg);
                    transform: rotate(-10deg);
                }
                h3{
                    color: #fff;
                    float: left;
                    display: block;
                    margin: 0 15px 0 30px;
                    line-height: 0.8;
                    font-weight: bold;
                    font-size: 52px;
                    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                }
            }
        }


        a{
            text-decoration: none;
            display: block;
            color: #000;
            &:visited{
                color: #000;
            }
        }
        .contents{
            position: relative;
            border: 1px dotted #ccc;
            padding: 0;
            overflow: hidden;
            @include sizing(100%);
            margin: 0 0 20px;
            &:hover {
                @include anm(0.2s);
                border: 1px solid #000;
                #acMenu{
                    dt{
                        opacity:1;
                        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);   
                    }
                }
            }
            #acMenu{
                clear: both;
                position: relative;
                bottom: 0;
                left: 0;
                @include anm(0.2s);
                color: #333;
                dt{
                    background-color: #b8860b;
                    color: #fff;
                    padding: 4px 6px;
                    display: block;
                    width: 72px;
                    font-size: 10px;
                    cursor: pointer;
                    position: absolute;
                    font-weight: normal;
                    right: 3%;
                    bottom: 13px;
                    &:after{
                        content: '↓';
                        display: block;
                        margin: 0 0 0 10px;
                        float: right;
                    }
                    &.active:after{
                        content: '✕';
                        display: block;
                        margin: 0 0 0 10px;
                        float: right;
                    }
                }
                dd{
                    background: #fff;
                    width: 94%;
                    padding: 0 3% 10%;
                    clear: both;
                    margin: 3% 0 0;
                    line-height: 2;
                    text-align: left;
                    display: none;
                    font-size: 14px;
                    ul{
                        padding: 0;
                        margin: 30px 0 20px;
                        overflow: hidden;
                        li{
                            float: left;
                            width: 29%;
                            margin: 0 1.5%;
                            img{
                                padding: 0.5%;
                                border: 1px solid #dfdfdf;
                                display: block;
                                width: 96%;
                            }
                            a{
                                overflow: hidden;
                            }
                        }
                    }
                }
            }
            .txt{
                width: 61%;
                padding: 3% 0 7% 3%;
                float: left;
                font-family:"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
                div{
                    width: 100%;
                    float: left;
                    margin: 0 40px 0 0;
                    position: relative;
                    em{
                        font-size: 11px;
                        letter-spacing: 4px;
                        display: block;
                        font-weight: bold;
                    }
                    b{
                        position: relative;
                        font-weight: normal;
                        margin: 0 0 10px;
                        width: 100%;
                        height: auto;
                        font-size: 58px;
                        line-height: 1.1;
                        display: inline-block;
                        float: left;
                        &.small{
                            font-size: 56px;
                        }
                    }
                    .history{
                        position: relative;
                        left: 0;
                        top: 0;
                        display: block;
                        width: auto;
                        float: left;
                        margin: 0;
                        span{
                            display: block;
                            float: left;
                            margin: 0 0 6px;
                            overflow: hidden;
                            img{
                                display: block;
                                float: left;
                                margin: 0 3px 0 0;
                                width: 20px;
                            }/* 
                            &.badge{
                                clear: both;
                            }
                            &.star{
                                clear: both;
                            } */
                        }
                    }
                }
                ul{
                    overflow: hidden;
                    padding: 0;
                    float: left;
                    li{
                        float: left;
                        font-size: 12px;
                        font-weight: bold;
                        line-height: 1.5;
                        margin: 0 15px 0 0;
                        img{
                            width: 70px;
                            display: block;
                            margin: 0 auto;
                        }
                        &:first-child{
                            margin: 0 0 4px;
                            font-size: 12px;
                            font-weight: bold;
                        }
                        &:nth-child(2){
                            clear: both;
                        }
                    }
                    &.camera{
                        clear: both;
                        float: left;
                        margin: 6px 0 0;
                    }
                    &.data{
                        float: left;
                        margin: 6px 40px 0 0;
                        li{
                            clear: both;
                            border-left: 2px solid #ccc;
                            padding: 0 0 0 6px;
                            margin: 0 0 6px;
                            img{
                                display: block;
                                float: right;
                                width: 19px;
                                height: 16px;
                            }
                        }
                    }
                }
            }
            .caption{
                width: 30%;
                padding: 3%;
                float: left;
                img{
                    width: 100%;
                    display: block;
                    position: relative;
                    right: -1px;
                }
            }
        }
        .remarks{
            ul{
                overflow: hidden;
                margin: 0 0 10px;
                li{
                    clear: both;
                    font-size: 11px;
                    margin: 0 0 5px;
                    b{
                        display: block;
                        margin: 0 0 6px;
                        font-size: 12px;
                    }
                    span{
                        display: block;
                        float: left;
                    }
                    img{
                        margin: 0 2px;
                        display: block;
                        float: left;
                        height: 14px;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 414px) {

        .member{
            width: 100%;
            div{
                &.subtitle{
                    em{
                        font-size: 17px;
                        top: -14px;
                        /* top: 8px; */
                    }
                    h3{
                        margin: 0 10px 0 5px;
                    }
                }
            }
            .contents{
                #acMenu{
                    dt{
                        opacity:1;
                        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
                        padding: 2px 4px;
                        float: left;
                        text-align: center;
                        cursor: pointer;
                        position: absolute;
                        width: 72px;
                        bottom: 14px;
                        right: 3%;
                    }
                    dd{
                        padding: 0 3% 10%;
                        ul{
                            li{
                                float: left;
                                width: 29%;
                                margin: 0 1.5%;
                            }
                        }
                    }
                }
                .txt{
                    width: 94%;
                    padding: 3%;
                    div{
                        float: left;
                        width: 70%;
                        margin: 0 10px 0 0;
                        position: relative;
                        em{
                            font-size: 10px;
                            letter-spacing: 2px;
                        }
                        b{
                            width: 100%;
                            display: inline-block;
                            font-size: 30px;
                            margin: 0 15px 0 0;
                            position: relative;
                            &.small{
                                font-size: 30px;
                            }
                            @media only screen and (min-width: 375px) {
                                &.small{
                                    font-size: 30px;
                                }
                            }
                        }
                        .history{
                            position: absolute;
                            left: 0;
                            top: 50px;
                            width: auto;
                            float: left;
                            margin: 4px 0 0;
                            span{
                                display: block;
                                margin: 0 0 3px;
                                overflow: hidden;
                                img{
                                    display: block;
                                    float: left;
                                    margin: 0 3px 0 0;
                                    width: 16px;
                                }
                            }
                        }
                    }
                    ul{
                        li{
                            font-size: 10px;
                            &:first-child{
                                font-size: 10px;
                            }
                        }
                        &.data{
                            float: left;
                            margin: 34px 0 0 0;
                        }
                        &.camera{
                            clear: both;
                            margin: 34px 10px 0 0;
                            li{
                                font-size: 10px;
                                margin: 0 6px 0 0;
                            }
                        }
                    }
                }
                .caption{
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    width: 25%;
                    padding: 3%;
                }
            }
            .remarks{
                ul{
                    padding: 0;
                }
            }
        }
    }
}