@charset "UTF-8";
/* CSS Document */

@import "../../frameworks/_scss/default.scss";

body{
    font-size: 12px;
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    background-image: url(https://image.rakuten.co.jp/dentouhonpo/cabinet/category/events/retire_bglp.jpg);
    &.white{
        background: none;
    }
    &.pink{
        background-color: #f6dfdf;
        background-image: none;
    }
    .eventWrapcontents{
        width: 800px;
        margin: 0 auto;
        overflow: hidden;
        .eventHeader{
            width: 800px;
            height: 280px;
            background-size: 800px 400px;
            padding: 100px 0 0;
            position: relative;
            overflow: hidden;
            img{
                width: 48%;
                display: block;
                margin: 0 auto;
                &.option{
                    position: absolute;
                    bottom: 20px;
                    left: 20px;
                    width: 200px;
                }
            }
        }
        .rankContents,.subContents{
            margin: 0 0 50px;
            overflow: hidden;
            .rankHeader{
                div{
                    float: left;
                    width: 94%;
                    padding: 3%;

                    ul{
                        overflow: hidden;
                        list-style-position: inside;
                        list-style-type: circle;
                        li{
                            margin: 0 0 10px;
                        }
                    }
                    &.first{
                        padding: 3%;
                        width: 94%;
                        span{
                            margin: 50px auto 0;
                        }
                    }
                    &.last{
                        padding: 3% 0;
                        width: 100%;
                        img{
                            width: 100%;
                            margin: 0 auto;
                            &.pc{
                                display: block;
                            }
                            &.sp{
                                display: none;
                            }
                        }
                    }
                    span{
                        font-weight: bold;
                        font-size: 20px;
                        display: block;
                        margin: 10px auto;
                    }
                    p{
                        font-size: 14px;
                        width: 100%;
                        margin: 10px auto;
                        line-height: 2;
                    }
                    img{
                        display: block;
                        width: 80%;
                    }
                }
                img{
                    clear: both;
                    display: block;
                    margin: 50px auto;
                }
            }
            .subHeader,.subFooter{
                div{
                    width: 100%;
                    float: left;
                    line-height: 1.75;
                    h1{
                        font-size: 32px;
                    }
                }
                img{
                    clear: both;
                    display: block;
                    margin: 50px 2% 0;
                    width: 100%;
                }
            }
            .rankWrap{
                .rankItem{
                    clear: both;
                    position: relative;
                    width: 96%;
                    padding: 40px 2%;
                    height: auto;
                    overflow: hidden;
                    margin: 0;
                    border-bottom: 1px dotted #900;
                    &.first{
                        padding: 40px 2%;
                    }
                    &.half{
                        width: 46%;
                        height: auto;
                        float: left;
                        clear: none;
                        padding: 40px 2% 60px;
                        .rankItem_image{
                            width: 49%;
                        }
                        .rankItem_info{
                            width: 47%;
                            margin: 0 2%;
                            overflow: hidden;
                            h2{
                                font-size: 18px;
                            }
                            h3{
                                font-size: 12px;
                            }
                        }
                        .rankItem_links{
                            width: 40%;
                            bottom: 20px;
                            right: 15px;
                            a{
                                width: 92%;
                                padding: 3%;
                            }
                        }
                    }
                    .rankItem_image{
                        width: 40%;
                        float: left;
                        img{
                            width: 100%;
                            display: block;
                        }
                    }
                    .rankItem_info{
                        width: 56%;
                        margin: 0 2%;
                        float: left;
                        font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                        img{
                            margin: 0 0 10px;
                        }
                        h2{
                            font-size: 28px;
                        }
                        h3{
                            font-size: 14px;
                        }
                        p{
                            font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                            font-size: 12px;
                        }
                    }
                    .rankItem_links{
                        width: 20%;
                        float: right;
                        position: absolute;
                        right: 2%;
                        bottom: 40px;
                        a{
                            width: 91%;
                            padding: 4%;
                            display: block;
                            background-color: #900;
                            color: #fff;
                            margin: 40px 0 0;
                            text-decoration: none;
                            @include anm(0.2s);
                            text-align: center;
                            border: 1px solid #900;
                            &:hover{
                                background-color: #faf9f6;
                                border: 1px solid #900;
                                color: $tc;
                            }
                        }
                    }
                }
            }
        }

        .subContents{
            .rankWrap{
                .otherLinks{
                    @include anm(0.2s);
                    display: block;
                    text-decoration: none;
                    background-color: #900;
                    color: #fff;
                    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                    text-align: center;
                    font-size: 16px;
                    width: 40%;
                    padding: 10px 0;
                    border: 1px solid #900;
                    margin: 30px auto 10px;
                    &:hover{
                        background-color: #faf9f6;
                        color: #900;
                    }
                }
                .rankItem{
                    .rankItem_image{
                        width: 24%;
                        float: left;
                        img{
                            width: 100%;
                            display: block;
                        }
                    }
                    .rankItem_info{
                        width: 56%;
                        margin: 0 2%;
                        float: left;
                        font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                        img{
                            margin: 0 0 10px;
                        }
                        h2{
                            font-size: 28px;
                        }
                        h3{
                            font-size: 14px;
                        }
                        p{
                            font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                            font-size: 12px;
                        }
                    }
                    .rankItem_info{
                        img{
                            &.top3{
                                width: 28%;
                            }
                        }
                    }
                }
            }

        }
        .giftContents{
            .giftHeader{
                width: 780px;
                height: 240px;
                border: 1px solid #900;
                margin: 0 auto;
                position: relative;
                background-color: #fff;
                img{
                    display: block;
                    &.leftCorner{
                        position: absolute;
                        top: -5px;
                        left: -5px;
                    }
                    &.rightCorner{
                        position: absolute;
                        bottom: -5px;
                        right: -5px;
                    }
                    &.title{
                        margin: 40px auto 0;
                    }
                }
            }
            .giftService{
                width: 780px;
                padding: 10px;
                margin: 10px auto 30px;
                span{
                    font-size: 24px;
                    font-weight: bold;
                    margin: 0 0 10px;
                    font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                }
                p{
                    font-size: 14px;
                    margin: 0 0 20px;
                    line-height: 2;
                }
                img{
                    display: block;
                    margin: 0 auto;
                }
                table{
                    border-collapse: collapse;
                    border-spacing: 0;
                    width: 86%;
                    margin: 0 auto;
                    tr{
                        td{
                            font-size: 12px;
                            padding: 4px 10px;
                            border: 1px solid #000;
                        }   
                    }
                }
                div{
                    padding:2%;
                    width: 83%;
                    font-size: 14px;
                    margin: 20px auto;
                    border: 1px solid #900;
                    span{
                        display: block;
                        text-align: center;
                        margin: 0 0 10px;
                    }
                    ol{
                        overflow: hidden;
                        list-style-position: inside;
                        list-style-type: decimal;
                        li{
                            margin: 0 0 10px;
                        }
                    }
                    ul{
                        overflow: hidden;
                        list-style-position: inside;
                        list-style-type: circle;
                        li{
                            margin: 0 0 10px;
                        }
                    }
                    a{
                        @include anm(0.2s);
                        display: block;
                        text-decoration: none;
                        background-color: #900;
                        color: #fff;
                        font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                        text-align: center;
                        width: 40%;
                        padding: 4px 10px;
                        border: 1px solid #900;
                        margin: 10px auto;
                        &:hover{
                            background-color: #faf9f6;
                            color: #900;
                        }
                    }
                }
            }
        }
        .sp_return{
            display: none;
        }
        /* 退職祝い */
        &.retire{
            .eventHeader{
                background:transparent url('https://www.rakuten.ne.jp/gold/dentouhonpo/event/img/sp_retire_header_bg.jpg') left top no-repeat;
            }
        }
        /* 法人特集 */
        &.company{
            .eventHeader{
                background:transparent url('https://www.rakuten.ne.jp/gold/dentouhonpo/event/img/sp_comp_header_bg.jpg') left top no-repeat;
            }
        }
        /* 母の日特集 */
        &.mother{
            position: relative;
            .lastInfo{
                background:transparent url('https://www.rakuten.ne.jp/gold/dentouhonpo/event/img/sp_mg_last_image.jpg') left top no-repeat;
                height: 600px;
                width: 800px;
                position: relative;
                padding: 0;
                .lastInfoimage{
                    width: 44%;
                    padding: 3% 3% 0;
                    float: right;
                    img{
                        display: block;
                        margin: 20px auto;
                        &.catch{
                            width: 100%;
                        }
                        &.tag{
                            width: 50%;
                        }
                    }
                }
                .lastInfotext{
                    width: 44%;
                    clear: both;
                    float: right;
                    text-align: center;
                    line-height: 1.75;
                    padding: 0 3%;
                }
            }
            .eventHeader{
                background:transparent url('https://www.rakuten.ne.jp/gold/dentouhonpo/event/img/sp_mg_header.jpg') left top no-repeat;
                height: 490px;
                width: 800px;
                position: relative;
                padding: 0;
                img{
                    display: block;
                    width: 55%;
                    margin: 60px auto 0;
                }
            }
            .rankContents,.subContents{
                .rankHeader{
                    div{
                        width: 100%;
                        padding: 0;
                        ul{
                            list-style-type: none;
                            margin: 0;
                            padding: 0;
                            li{
                                float: left;
                                margin: 0 0 0 13px;
                                &:first-child{
                                    margin: 0;
                                }
                                &:last-child{
                                }
                                a{
                                    width: 190px;
                                    height: 81px;
                                    display: block;
                                    @include anm(0.2s);
                                    &.popular{
                                        background:url('https://www.rakuten.ne.jp/gold/dentouhonpo/event/img/sp_mg_menu01.png') no-repeat;
                                        &:hover{
                                            background:url('https://www.rakuten.ne.jp/gold/dentouhonpo/event/img/sp_mg_menu01_hv.png') no-repeat;
                                        }
                                    }
                                    &.mugcup{
                                        background:url('https://www.rakuten.ne.jp/gold/dentouhonpo/event/img/sp_mg_menu02.png') no-repeat;
                                        &:hover{
                                            background:url('https://www.rakuten.ne.jp/gold/dentouhonpo/event/img/sp_mg_menu02_hv.png') no-repeat;
                                        }
                                    }
                                    &.pair{
                                        background:url('https://www.rakuten.ne.jp/gold/dentouhonpo/event/img/sp_mg_menu03.png') no-repeat;
                                        &:hover{
                                            background:url('https://www.rakuten.ne.jp/gold/dentouhonpo/event/img/sp_mg_menu03_hv.png') no-repeat;
                                        }
                                    }
                                    &.early{
                                        background:url('https://www.rakuten.ne.jp/gold/dentouhonpo/event/img/sp_mg_menu04.png') no-repeat;
                                        &:hover{
                                            background:url('https://www.rakuten.ne.jp/gold/dentouhonpo/event/img/sp_mg_menu04_hv.png') no-repeat;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .subHeader{
                    overflow: hidden;
                    div{
                        position: relative;
                        img{
                            margin: 0 0 10px;
                            width: auto;
                            display: block;
                            &.tag{
                                position: absolute;
                                top: 10px;
                                left: 20px;
                                width: 23%;
                            }
                        }
                    }
                }
                .subFooter{
                    a{
                        text-decoration: none;
                        color: #fff;
                        background-color: #ffa5a5;
                        @include sizing(94%);
                        padding: 4px;
                        display: block;
                        text-align: center;
                        margin: 0 auto 20px;
                        @include anm(0.2s);
                        border: 1px solid #ffa5a5;
                        &:after{
                            content: '>';
                            display: block;
                            position: relative;
                            top: 0;
                            left: 0;
                            font-size: 20px;
                            color: #fff;
                            -moz-transform: rotate(-90deg);
                            -webkit-transform: rotate(-90deg);
                            -o-transform: rotate(-90deg);
                            -ms-transform: rotate(-90deg);
                            transform: rotate(-90deg);
                        }
                        &:hover{
                            background-color: #fff;
                            border: 1px solid #ffa5a5;
                            &:after{
                                color: #ffa5a5;
                            }
                        }
                    }
                }
                .rankWrap{
                    .rankItem{
                        &.first{
                            display: block;
                            margin: 30px auto 0;
                            width: 94%;
                            padding: .25%;
                            float: none;
                            .rankItem_image{
                                width: 60%;
                                height: auto;
                                overflow: hidden;
                                &:after{
                                    height: 70px;
                                }
                            }
                            .rankItem_info{
                                width: 33%;
                                margin: 0;
                                padding: 3% 2% 3% 4%;
                                position: relative;
                                a{
                                    text-decoration: none;
                                    color: #000;
                                    .tri{
                                        display: block;
                                        position: absolute;
                                        top: 30px;
                                        left: -18px;
                                        -moz-transform: rotate(0deg);
                                        -webkit-transform: rotate(0deg);
                                        -o-transform: rotate(0deg);
                                        -ms-transform: rotate(0deg);
                                        transform: rotate(0deg);
                                    }
                                    p{
                                        line-height: 1.75;
                                        b{
                                            position: relative;
                                            top: 0;
                                            left: 0;
                                            display: block;
                                            font-size: 14px;
                                            color: #f00;
                                            margin: 0 0 10px;
                                            text-shadow: none;
                                        }
                                        span{
                                            position: relative;
                                            color: #000;
                                            top: 0;
                                            left: 0;
                                            line-height: 1.25;
                                            font-size: 18px;
                                            font-weight: bold;
                                            display: block;
                                            margin: 0 0 10px;
                                            text-shadow: none;
                                            small{
                                                display: block;
                                                font-size: 12px;
                                                font-weight: bold;
                                            }
                                        }
                                    }
                                    .tag{
                                        background-color: #ffa5a5;
                                        padding: 2px 8px;
                                        margin: 8px 4px 0 0;
                                        display: inline-block;
                                        color: #fff;
                                        width: auto;
                                        font-size: 10px;
                                        font-weight: bold;
                                        font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                                    }
                                }
                            }
                        }
                        overflow: hidden;
                        &.left{
                            margin: 20px 5px 20px 20px;
                        }
                        &.right{
                            margin: 20px 10px 20px 5px;
                        }
                        width: 46.25%;
                        clear: none;
                        float: left;
                        padding: .25%;
                        border: none;
                        -webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,0.2);
                        box-shadow: 0 0 3px 1px rgba(0,0,0,0.2);
                        .rankItem_image{
                            width: 100%;
                            height: auto;
                            overflow: hidden;
                            position: relative;
                            &:after{
                                content: '';
                                background: url('https://www.rakuten.ne.jp/gold/dentouhonpo/event/img/sp_mg_scene_frame.png') left top no-repeat;
                                background-size: cover;
                                width: 100%;
                                height: 60px;
                                display: block;
                                position: absolute;
                                bottom: 0;
                                left: 0;
                            }
                        }
                        .rankItem_info{
                            width: 94%;
                            margin: 0;
                            padding: 3%;
                            position: relative;
                            a{
                                text-decoration: none;
                                color: #000;
                                .tri{
                                    display: block;
                                    position: absolute;
                                    top: -15px;
                                    left: 30px;
                                    -moz-transform: rotate(-30deg);
                                    -webkit-transform: rotate(-30deg);
                                    -o-transform: rotate(-30deg);
                                    -ms-transform: rotate(-30deg);
                                    transform: rotate(-30deg);
                                }
                                p{
                                    line-height: 1.75;
                                    b{
                                        position: absolute;
                                        top: -7em;
                                        display: block;
                                        font-size: 14px;
                                        color: #fff;
                                        margin: 0 0 10px;
                                        text-shadow: 0 0 5px #666;
                                    }
                                    span{
                                        line-height: 1.25;
                                        position: absolute;
                                        top: -4em;
                                        font-size: 18px;
                                        font-weight: bold;
                                        display: block;
                                        margin: 0 0 10px;
                                        color: #fff;
                                        text-shadow: 0 0 5px #666;
                                        small{
                                            display: block;
                                            font-size: 12px;
                                            font-weight: bold;
                                        }
                                    }
                                    &.posCh{
                                        b{
                                            top: -16em;
                                        }
                                        span{
                                            top: -11em;
                                        }
                                    }
                                }
                                .tag{
                                    background-color: #ffa5a5;
                                    padding: 2px 8px;
                                    margin: 8px 4px 0 0;
                                    display: inline-block;
                                    color: #fff;
                                    width: auto;
                                    font-size: 10px;
                                    font-weight: bold;
                                    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                                    &.pickup{
                                        font-size: 12px;
                                        background-color: #f00;
                                        width: auto;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .subContents{
                background-color: #fff;
                overflow: hidden;
            }
            .giftContents{
                .giftHeader{
                    background-color: #c70000;
                    padding: 10px 10px;
                    position: relative;
                    height: 20px;
                    img{
                        display: block;
                        margin: 0 0 0 60px;
                        float: left;
                        &.titleIcon{
                            margin: 0;
                            position: absolute;
                            top: -15px;
                        }
                    }
                    p{
                        color: #fff;
                        display: inline-block;
                        margin: 0 0 0 20px;
                    }
                }
                .giftService{
                    overflow: hidden;
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    .info{
                        float: left;
                        img{
                            width: auto;
                            display: block;
                            &.howTo{
                                display: block;
                                margin: 30px 0 10px;
                            }
                            &.title{
                                float: left;
                                margin: 0 0 10px;
                            }
                        }
                        p{
                            clear: both;
                        }
                        border: 1px solid #c70000;
                        margin: 2% 1%;
                        padding: 2%;
                        width: 43.5%;
                        float: left;
                        background-color: #fff;
                        @include rad(8,8,8,8);
                    }
                }
            }
        }
        /* 初任給特集 */
        &.firstSalary{
            .eventHeader{
                background:transparent url('https://www.rakuten.ne.jp/gold/dentouhonpo/event/img/sp_1stsalary_bg.jpg') left top no-repeat;
                padding: 50px 0 0;
                img{
                    width: 20%;
                }
            }
            .rankContents,.subContents{
                margin: 0 0 0;
                overflow: hidden;
                .rankHeader{
                    div{
                        &.first{
                            font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                            span{
                                margin: 0;
                            }
                        }
                        span{
                            color: #78a869;
                            b{
                                font-size: 30px;
                            }
                        }
                        img{
                            width: 70%;
                            margin: 50px auto 0;
                        }
                    }
                }
                .subHeader{
                    width: 100%;
                    float: right;
                    padding: 0 0 0 5%;
                    margin: 0 0 15px;
                    font-size: 14px;
                    &.left{
                        float: left;
                        padding: 0 5% 0 0;
                    }
                    div{
                        img{
                            margin: 0 0 10px;
                            width: auto;
                            display: block;
                        }
                    }
                }
                .subFooter{
                    img{
                        width: 70%;
                        margin: 0 auto;
                    }
                }
                .rankWrap{
                    @include sizing(100%);
                    float: left;
                    .rankItem{
                        float: left;
                        clear: none;
                        width: 100%;
                        padding: 0;
                        margin: 0 0 100px;
                        border: none;
                        position: relative;
                        &.left{
                            margin: .75% 1% 0 0;
                        }
                        &.right{
                            margin: .75% 0 0 0;
                        }
                        ul{
                            @include sizing(100%);
                            li{
                                width: 23%;
                                margin: 2% 0 0 2.666%;
                                float: left;
                                img{
                                    width: 100%;
                                    display: block;
                                }
                                &:first-child{
                                    margin: 2% 0 0 0;
                                }
                                a{
                                    text-decoration: none;
                                    color: #000;
                                    line-height: 1.75;
                                    &:hover{
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                        .rankItem_image{
                            width: 100%;
                            padding: 0;
                            position: relative;
                            div{
                                position: absolute;
                                top: 20px;
                                left: 20px;
                                a{
                                    color: #fff;
                                    text-decoration: none;
                                }
                                p{
                                    width: 400px;
                                    font-size: 14px;
                                    font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                                    b{
                                        font-size: 30px;
                                        display: block;
                                        font-weight: normal;
                                        margin: 0 0 15px;
                                    }
                                    span{
                                        font-size: 12px;
                                        display: block;
                                        margin: 15px 0 0;
                                    }
                                    text-shadow: 0 0 3px #000000;
                                }
                            }
                            img{
                                width: 100%;
                                display: block;
                                &.flag{
                                    position: absolute;
                                    width: auto;
                                    display: block;
                                    top: 3%;
                                    left: 3%;
                                }
                                &.original{
                                    position: absolute;
                                    width: 10%;
                                    display: block;
                                    top: 4%;
                                    right: 3%;
                                }
                            }
                        }
                    }
                }
            }
            .subContents{
                margin: 0 0 50px;
            }

            .giftContents{
                .giftHeader{
                    border: none;
                    height: auto;
                    .title{
                        display: block;
                    }
                    .title_sp{
                        display: none;
                    }
                }
                .giftService{
                    .info{
                        border: none;
                        width: 50%;
                        padding: 0;
                        float: left;
                        p{
                            padding: 0 5% 0 10%;
                            margin: 15px 0 0;
                        }
                        img{
                            display: inline-block;
                            margin: 0;
                        }
                        a{
                            color: #fff;
                            margin: 20px 5% 0 10%;
                            font-size: 12px;
                            font-weight: bold;
                            text-decoration: none;
                            background-color: #78a869;
                            border: 1px solid #78a869;
                            @include anm(0.2s);
                            &:hover{
                                background-color: #fff;
                                color: #78a869;
                            }
                        }
                    }
                }
            }
        }
        /* 新生活特集 */
        &.life{
            .eventHeader{
                background:transparent url('https://www.rakuten.ne.jp/gold/dentouhonpo/event/img/sp_life_header.jpg') left top no-repeat;
            }
            .rankContents,.subContents{
                margin: 0 0 100px;
                overflow: hidden;
                .rankHeader{
                    div{
                        background:transparent url('https://www.rakuten.ne.jp/gold/dentouhonpo/event/img/sp_life_pattern.jpg') left top;
                        &.first{
                            span{
                                margin: 0;
                            }
                        }
                        span{
                            color: #78a869;
                            b{
                                font-size: 30px;
                            }
                        }
                    }
                }
                .subHeader{
                    width: 35%;
                    float: right;
                    padding: 0 0 0 5%;
                    &.left{
                        float: left;
                        padding: 0 5% 0 0;
                    }
                    div{
                        img{
                            margin: 0;
                            width: 100%;
                        }
                    }
                }
                .rankWrap{
                    @include sizing(60%);
                    float: left;
                    .rankItem{
                        float: left;
                        clear: none;
                        width: 49.5%;
                        padding: 0;
                        border: none;
                        position: relative;
                        &.left{
                            margin: .75% 1% 0 0;
                        }
                        &.right{
                            margin: .75% 0 0 0;
                        }
                        &.first{
                            width: 100%;
                            margin: 0;
                        }
                        .rankItem_image{
                            width: 100%;
                            padding: 0;
                            img{
                                width: 100%;
                                display: block;
                                &.flag{
                                    position: absolute;
                                    width: auto;
                                    display: block;
                                    top: 3%;
                                    left: 3%;
                                }
                                &.original{
                                    position: absolute;
                                    width: 10%;
                                    display: block;
                                    top: 4%;
                                    right: 3%;
                                }
                            }
                        }
                    }
                }
            }

            .giftContents{
                .giftHeader{
                    border: none;
                    height: auto;
                    .title{
                        display: block;
                    }
                    .title_sp{
                        display: none;
                    }
                }
                .giftService{
                    .info{
                        border: none;
                        width: 50%;
                        padding: 0;
                        float: left;
                        p{
                            padding: 0 5% 0 10%;
                            margin: 15px 0 0;
                        }
                        img{
                            display: inline-block;
                            margin: 0;
                        }
                        a{
                            color: #fff;
                            margin: 20px 5% 0 10%;
                            font-size: 12px;
                            font-weight: bold;
                            text-decoration: none;
                            background-color: #78a869;
                            border: 1px solid #78a869;
                            @include anm(0.2s);
                            &:hover{
                                background-color: #fff;
                                color: #78a869;
                            }
                        }
                    }
                }
            }
        }
        /* 端午の節句特集 */
        &.tng{
            .eventHeader{
                background:transparent url('https://www.rakuten.ne.jp/gold/dentouhonpo/event/img/sp_tng_header.jpg') left top no-repeat;
            }
            .subHeader{
                img{
                    margin: 50px 0;
                }
            }
            .giftService{
                div{
                    border: none;
                    padding:0;
                    margin: 20px auto 0;
                    &.info{
                        width: 50%;
                        float: left;
                        small{
                            color: #f00;
                        }
                    }
                    &.caption{
                        width: 50%;
                        float: right;
                    }
                    &.howTo{
                        margin: 40px auto 0;
                        small{
                            display: block;
                            margin: 20px 0 0;
                            color: #f00;
                            text-align: center;
                        }
                        .step{
                            margin: 10px 0 0;
                            clear: both;
                            overflow: hidden;
                            list-style-type: none;
                            li{
                                float: left;
                                width: 31.333%;
                                margin: 1%;
                                b{
                                    display: block;
                                    margin: 0 0 10px;
                                    font-size: 12px
                                }
                                p{
                                    margin: 0 0 4px;
                                    font-size: 11px;
                                    span{
                                        display: inline-block;
                                        font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                                        font-size: 11px;
                                        color: #f00;
                                        margin: 0;
                                    }   
                                }
                                img{
                                    display: block;
                                    width: 100%;
                                }
                            }
                        }
                    }
                    
                }
                .option{
                    clear: both;
                    overflow: hidden;
                    list-style-type: none;
                    li{
                        float: left;
                        width: 31.333%;
                        margin: 1%;
                        img{
                            display: block;
                            width: 100%;
                        }
                    }
                }
            }
            .giftContents{
                .giftHeader{

                    background-color: #211c1a;
                    img{
                        display: block;
                        &.title{
                            margin: 60px auto;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 764px) {
    body{
        .eventWrapcontents{
            width: 100%;
            .eventHeader{
                width: 100%;
                height: auto;
                background-size: cover;
                img{
                    width: 80%;
                    &.option{
                        position: absolute;
                        bottom: 10px;
                        left: 10px;
                        width: 100px;
                    }
                }
            }
            &.company{
                .eventHeader{
                    padding: 130px 0;
                }
            }
            &.retire{
                .eventHeader{
                    padding: 20px 0 20px;
                }
            }
            /* 初任給特集 */
            &.firstSalary{
                .eventHeader{
                    padding: 20px 0;
                    img{
                        width: 40%;
                    }
                }
                .rankContents,.subContents{
                    margin: 0 0 0;
                    overflow: hidden;
                    .rankHeader{
                        div{
                            &.first{
                                font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                                span{
                                    margin: 0;
                                }
                            }
                            img{
                                width: 100%;
                                margin: 50px auto 0;
                            }
                        }
                    }
                    .subHeader{
                        width: 100%;
                        float: right;
                        padding: 0 0 0 5%;
                        margin: 0 0 15px;
                        font-size: 14px;
                        &.left{
                            float: left;
                            padding: 0 5% 0 0;
                        }
                        div{
                            img{
                                margin: 0 0 10px;
                                width: auto;
                                display: block;
                            }
                        }
                    }
                    .subFooter{
                        img{
                            width: 70%;
                            margin: 0 auto;
                        }
                    }
                    .rankWrap{
                        @include sizing(100%);
                        float: left;
                        .rankItem{
                            float: left;
                            clear: none;
                            width: 100%;
                            padding: 0;
                            margin: 0 0 100px;
                            border: none;
                            position: relative;
                            &.left{
                                margin: .75% 1% 0 0;
                            }
                            &.right{
                                margin: .75% 0 0 0;
                            }
                            ul{
                                @include sizing(100%);
                                li{
                                    width: 23%;
                                    margin: 2% 0 0 2.666%;
                                    float: left;
                                    img{
                                        width: 100%;
                                        display: block;
                                    }
                                    &:first-child{
                                        margin: 2% 0 0 0;
                                    }
                                    a{
                                        text-decoration: none;
                                        color: #000;
                                        line-height: 1.75;
                                        &:hover{
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }
                            .rankItem_image{
                                width: 100%;
                                padding: 0;
                                position: relative;
                                div{
                                    position: relative;
                                    top: 0;
                                    left: 0;
                                    margin: 0 0 20px;
                                    a{
                                        color: #000;
                                        text-decoration: none;
                                    }
                                    p{
                                        width: 400px;
                                        font-size: 14px;
                                        font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                                        b{
                                            font-size: 30px;
                                            display: block;
                                            font-weight: normal;
                                            margin: 0 0 15px;
                                        }
                                        span{
                                            font-size: 12px;
                                            display: block;
                                            margin: 15px 0 0;
                                        }
                                        text-shadow: none;
                                    }
                                }
                                img{
                                    width: 100%;
                                    display: block;
                                    &.flag{
                                        position: absolute;
                                        width: auto;
                                        display: block;
                                        top: 3%;
                                        left: 3%;
                                    }
                                    &.original{
                                        position: absolute;
                                        width: 10%;
                                        display: block;
                                        top: 4%;
                                        right: 3%;
                                    }
                                }
                            }
                        }
                    }
                }
                .subContents{
                    margin: 0 0 50px;
                }

                .giftContents{
                    .giftHeader{
                        border: none;
                        height: auto;
                        .title{
                            display: block;
                        }
                        .title_sp{
                            display: none;
                        }
                    }
                    .giftService{
                        .info{
                            border: none;
                            width: 50%;
                            padding: 0;
                            float: left;
                            p{
                                padding: 0 5% 0 10%;
                                margin: 15px 0 0;
                            }
                            img{
                                display: inline-block;
                                margin: 0;
                            }
                            a{
                                color: #fff;
                                margin: 20px 5% 0 10%;
                                font-size: 12px;
                                font-weight: bold;
                                text-decoration: none;
                                background-color: #78a869;
                                border: 1px solid #78a869;
                                @include anm(0.2s);
                                &:hover{
                                    background-color: #fff;
                                    color: #78a869;
                                }
                            }
                        }
                    }
                }
            }
            &.tng{
                .eventHeader{
                    background-size: contain;
                    height: 69px;
                }
                .giftService{
                    div{
                        border: none;
                        padding:0;
                        margin: 20px auto 0;
                        &.info{
                            width: 100%;
                            float: left;
                            small{
                                color: #f00;
                            }
                        }
                        &.caption{
                            width: 100%;
                            float: right;
                        }
                        &.howTo{
                            margin: 40px auto 0;
                            small{
                                display: block;
                                margin: 20px 0 0;
                                color: #f00;
                                text-align: center;
                            }
                            .step{
                                margin: 10px 0 0;
                                clear: both;
                                overflow: hidden;
                                list-style-type: none;
                                li{
                                    float: left;
                                    width: 88%;
                                    margin: 0 0 20px;
                                    padding: 6%;
                                    img{
                                        display: block;
                                        width: 100%;
                                    }
                                }
                            }
                        }

                    }
                    .option{
                        clear: both;
                        overflow: hidden;
                        list-style-type: none;
                        li{
                            float: left;
                            width: 96%;
                            margin: 0;
                            padding: 0 2%;
                            img{
                                display: block;
                                width: 100%;
                            }
                        }
                    }
                }
            }
            &.life{

                .eventHeader{
                    padding: 20px 0 20px;
                }
                .rankContents,.subContents{
                    margin: 0 0 100px;
                    overflow: hidden;
                    .rankHeader{
                        div{
                            background:transparent url('https://www.rakuten.ne.jp/gold/dentouhonpo/event/img/sp_life_pattern.jpg') left top;
                            &.first{
                                span{
                                    margin: 0;
                                }
                            }
                            span{
                                color: #78a869;
                                b{
                                    font-size: 30px;
                                }
                            }
                        }
                    }
                    .subHeader{
                        width: 80%;
                        float: none;
                        margin: 0 auto;
                        padding: 0;
                        &.left{
                            float: none;
                        }
                    }
                    .rankWrap{
                        @include sizing(100%);
                        float: left;
                        .rankItem{
                            clear: none;
                            width: 100%;
                            padding: 0;
                            &.left{
                                margin: .75% 0 0 0;
                            }
                            &.right{
                                margin: .75% 0 0 0;
                            }
                            &.first{
                                width: 100%;
                                margin: 0;
                                padding: 0;
                            }
                            .rankItem_image{
                                width: 100%;
                                padding: 0;
                                img{
                                    width: 100%;
                                    display: block;
                                    &.flag{
                                        position: absolute;
                                        width: auto;
                                        display: block;
                                        top: 3%;
                                        left: 3%;
                                    }
                                    &.original{
                                        position: absolute;
                                        width: 10%;
                                        display: block;
                                        top: 4%;
                                        right: 3%;
                                    }
                                }
                            }
                        }
                    }
                }

                .giftContents{
                    .giftHeader{
                        border: none;
                        height: auto;
                        .title{
                            display: none;
                        }
                        .title_sp{
                            display: block;
                        }
                    }
                    .giftService{
                        width: 100%;
                        padding: 0;
                        .info{
                            border: none;
                            width: 90%;
                            padding: 5%;
                            float: left;
                            p{
                                padding: 0 0 0 10%;
                                margin: 15px 0 0;
                            }
                            img{
                                display: inline-block;
                                margin: 0;
                                width: 50%;
                            }
                            a{
                                color: #fff;
                                margin: 20px 5% 0 10%;
                                font-size: 12px;
                                font-weight: bold;
                                text-decoration: none;
                                background-color: #78a869;
                                border: 1px solid #78a869;
                                @include anm(0.2s);
                                &:hover{
                                    background-color: #fff;
                                    color: #78a869;
                                }
                            }
                        }
                    }
                }
            }
            /* 母の日特集 */
            &.mother{
                .lastInfo{
                    background:transparent url('https://www.rakuten.ne.jp/gold/dentouhonpo/event/img/sp_mg_last_image.jpg') left top no-repeat;
                    height: 570px;
                    width: 100%;
                    background-position: 40% 0;
                    position: relative;
                    padding: 0;
                    background-size:cover;
                    .lastInfoimage{
                        width: 56%;
                        padding: 3% 2% 0;
                        float: right;
                        img{
                            display: block;
                            margin: 20px auto;
                            &.catch{
                                width: 100%;
                            }
                            &.tag{
                                width: 50%;
                            }
                        }
                    }
                    .lastInfotext{
                        width: 56%;
                        clear: both;
                        float: right;
                        text-align: center;
                        line-height: 1.75;
                        padding: 0 2%;
                    }
                }
                .eventHeader{
                    background:transparent url('https://www.rakuten.ne.jp/gold/dentouhonpo/event/img/sp_mg_header.jpg') left top no-repeat;
                    height: auto;
                    width: 100%;
                    background-size: cover;
                    background-position: 50% 0;
                    position: relative;
                    padding: 0;
                    img{
                        display: block;
                        width: 90%;
                        margin: 70px auto 40px;
                    }
                }
                .rankContents,.subContents{
                    .rankHeader{
                        div{
                            width: 100%;
                            padding: 0;
                            img{
                                width: 100%;
                                margin: 20px auto;
                            }
                            ul{
                                li{
                                    float: left;
                                    width: 40%;
                                    margin: 0 5%;
                                    &:first-child{
                                        margin: 0 5%;
                                    }
                                    &:last-child{
                                    }
                                    a{
                                        width: 100%;
                                        display: block;
                                        @include anm(0.2s);
                                        &.popular{
                                            background-size: contain;
                                            &:hover{
                                                background-size: contain;
                                            }
                                        }
                                        &.mugcup{
                                            background-size: contain;
                                            &:hover{
                                                background-size: contain;
                                            }
                                        }
                                        &.pair{
                                            background-size: contain;
                                            &:hover{
                                                background-size: contain;
                                            }
                                        }
                                        &.early{
                                            background-size: contain;
                                            &:hover{
                                                background-size: contain;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .subHeader{
                        overflow: hidden;
                        div{
                            position: relative;
                            img{
                                margin: 0 0 10px;
                                width: 100%;
                                display: block;
                                &.tag{
                                    position: absolute;
                                    top: 0px;
                                    left: 30px;
                                    width: 30%;
                                }
                            }
                        }
                    }
                    .rankWrap{
                        .rankItem{
                            &.first{
                                display: block;
                                margin: 30px auto 0;
                                width: 94%;
                                padding: .25%;
                                float: none;
                                .rankItem_image{
                                    width: 100%;
                                    height: auto;
                                    overflow: hidden;
                                    z-index: 0;
                                    &:after{

                                        height: 49px;
                                    }
                                }
                                .rankItem_info{
                                    width: 96%;
                                    margin: 0;
                                    padding: 3% 2% 3% 2%;
                                    position: relative;
                                    z-index: 9999;
                                    a{
                                        text-decoration: none;
                                        color: #000;
                                        .tri{
                                            display: block;
                                            position: absolute;
                                            width: 30%;
                                            top: 0;
                                            left: 0;
                                            display: none;
                                        }
                                    }
                                }
                            }
                            &.left{
                                margin: 20px 1% 20px 2%;
                            }
                            &.right{
                                margin: 20px 2% 20px 1%;
                            }
                            width: 46.25%;
                            clear: none;
                            float: left;
                            padding: .25%;
                            border: none;
                            -webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,0.2);
                            box-shadow: 0 0 3px 1px rgba(0,0,0,0.2);
                            .rankItem_image{
                                width: 100%;
                                height: auto;
                                overflow: hidden;
                                &:after{
                                    height: 20px;
                                }
                            }
                            .rankItem_info{
                                width: 94%;
                                margin: 0;
                                padding: 3%;
                                position: relative;
                                a{
                                    text-decoration: none;
                                    color: #000;
                                    .tri{
                                        display: none;
                                    }
                                    p{
                                        line-height: 1.75;
                                        font-size: 11px;
                                        b{
                                            position: relative;
                                            top: 0;
                                            display: block;
                                            font-size: 12px;
                                            color: #f00;
                                            text-shadow: none;
                                            margin: 0 0 10px;
                                        }
                                        span{
                                            line-height: 1.25;
                                            text-shadow: none;
                                            position: relative;
                                            top: 0;
                                            font-size: 14px;
                                            font-weight: bold;
                                            display: block;
                                            margin: 0 0 10px;
                                            color: #000;
                                            small{
                                                font-size: 10px;
                                            }
                                        }
                                    }
                                    .tag{
                                        background-color: #ffa5a5;
                                        padding: 2px 8px;
                                        margin: 8px 4px 0 0;
                                        display: inline-block;
                                        color: #fff;
                                        width: auto;
                                        font-size: 10px;
                                        font-weight: bold;
                                        font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                                    }
                                }
                            }
                        }
                    }
                }
                .subContents{
                    background-color: #fff;
                    overflow: hidden;
                }
                .subFooter{
                    a{
                        text-decoration: none;
                        color: #fff;
                        background-color: #ffa5a5;
                        @include sizing(94%);
                        padding: 4px;
                        display: block;
                        text-align: center;
                        margin: 20px auto 0;
                        @include anm(0.2s);
                        border: 1px solid #ffa5a5;
                        &:after{
                            content: '>';
                            display: block;
                            position: relative;
                            top: 0;
                            left: 0;
                            font-size: 20px;
                            color: #fff;
                            -moz-transform: rotate(-90deg);
                            -webkit-transform: rotate(-90deg);
                            -o-transform: rotate(-90deg);
                            -ms-transform: rotate(-90deg);
                            transform: rotate(-90deg);
                        }
                        &:hover{
                            background-color: #fff;
                            border: 1px solid #ffa5a5;
                            &:after{
                                color: #ffa5a5;
                            }
                        }
                    }
                }
                .giftContents{
                    .giftHeader{
                        background-color: #c70000;
                        padding: 10px 10px;
                        position: relative;
                        height: 40px;
                        img{
                            display: block;
                            margin: 0 0 0 40px;
                            float: left;
                            width: 100%;
                            &.titleIcon{
                                width: 14%;
                                margin: 0;
                                position: absolute;
                                top: -15px;
                                left: 0;
                            }
                        }
                        p{
                            color: #fff;
                            display: inline-block;
                            margin: 7px 0 0 20px;
                        }
                    }
                    .giftService{
                        overflow: hidden;
                        width: 100%;
                        margin: 0;
                        padding: 0;
                        .info{
                            float: left;
                            img{
                                width: 100%;
                                display: block;
                                &.howTo{
                                    display: block;
                                    margin: 30px 0 10px;
                                }
                                &.title{
                                    float: left;
                                    width: 100%;
                                    margin: 0 0 10px;
                                }
                            }
                            p{
                                clear: both;
                            }
                            border: 1px solid #c70000;
                            margin: 2% auto 1%;
                            padding: 2%;
                            width: 90%;
                            float: none;
                            background-color: #fff;
                            @include rad(8,8,8,8);
                        }
                    }
                }
            }
            .rankContents,.subContents{
                margin: 0 0 20px;
                .rankHeader{
                    div{
                        padding: 4%;
                        width: 92%;
                        &.first,&.last{
                            padding: 4%;
                            width: 92%;
                        }
                        &.last{
                            img{
                                width: 100%;
                                &.pc{
                                    display: none;
                                }
                                &.sp{
                                    display: block;
                                    margin: 0 0 20px;
                                }
                            }      
                        }
                    }
                }
                .subHeader{
                    div{
                        padding: 4%;
                        width: 92%;
                        img{
                            width: 100%;
                        }
                    }
                }
                .rankWrap{
                    .rankItem{
                        clear: both;
                        position: relative;
                        width: 96%;
                        margin: 0;
                        padding: 20px 2%;
                        border-bottom: 1px dotted #900;
                        &.first{
                            padding: 0 0 25px 2%;

                        }
                        &.half{
                            width: 96%;
                            height: auto;
                            float: left;
                            clear: none;
                            padding: 20px 2%;
                            .rankItem_info{
                                h2{
                                    font-size: 15px;
                                }
                                h3{
                                    font-size: 11px;
                                }
                            }
                            .rankItem_links{
                                bottom: 0;
                                right: 0;
                            }
                            .rankItem_image{
                                width: 36%;
                            }
                        }

                        .rankItem_image{
                            width: 36%;
                        }
                        .rankItem_info{
                            width: 60%;
                            margin: 0 2%;
                            overflow: hidden;
                            img{
                                width: 40%;
                            }
                            h2{
                                font-size: 15px;
                            }
                            h3{
                                font-size: 11px;
                            }
                        }
                        .rankItem_links{
                            width: 40%;
                            bottom: 0px;
                            position: relative;
                            a{
                                margin: 10px 0 0;
                                width: 92%;
                                padding: 3%;
                            }
                        }
                    }
                }
            }
            .giftContents{
                .giftHeader{
                    width: 95%;
                    height: auto;
                    border: 1px solid #900;
                    margin: 0 auto;
                    position: relative;
                    background-color: #fff;
                    img{
                        display: block;
                        &.leftCorner{
                            position: absolute;
                            top: -5px;
                            left: -5px;
                            width: 25%;
                        }
                        &.rightCorner{
                            position: absolute;
                            bottom: -5px;
                            right: -5px;
                            width: 25%;
                        }
                        &.title{
                            width: 90%;
                            margin: 20px auto 40px;
                        }
                    }
                }
                .giftService{
                    width: 90%;
                    padding: 5%;
                    margin: 10px auto 30px;
                    span{
                        font-size: 20px;
                        font-weight: bold;
                        font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                    }
                    p{
                        font-size: 13px;
                        margin: 0 0 20px;
                        line-height: 1.75;
                    }
                    img{
                        width: 100%;
                        display: block;
                        margin: 0 auto;
                    }
                    div{
                        width: 96%;
                    }
                }
            }

            .sp_return{
                display: block;
                text-decoration: none;
                background-color: #900;
                color: #fff;
                font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                text-align: center;
                width: 100%;
                font-size: 16px;
                font-weight: bold;
                padding: 10px;
                border: 1px solid #900;
                margin: 0 auto 10px;
                &:hover{
                    background-color: #faf9f6;
                    color: #900;
                }
            }
        }
    }    
}