@charset 'utf-8';

*
{
    box-sizing: border-box;
}




/*クーポン付き・割引率付き*/

body
{
    font-family: 'Open Sans';
    /*width: 100%;*/

    margin: 0;

    /*background-color: #fffcee;*/
    p
    {
        width: 95%;
        margin: 0 auto;

        text-align: left;
    }
}

.l-card
{
    position: relative;

    float: left;
    overflow: inherit;
    /*height: 600px;*/

    width: 98%;
    margin: 24px 1%;
    padding: 0;

    border: 0 solid #ddd;
    border-radius: 4px;
    background: #fcffe5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1), 0 2px 2px rgba(0, 0, 0, .1);
    a
    {
        text-decoration: none;
        .more-text
        {
            display: none;

            letter-spacing: 4px;

            opacity: 1;
        }
        &:hover
        {
            opacity: 1;
        }
    }
    &:hover
    {
        .thumbnail-wrapper
        {
            &:after
            {
                /*opacity: 0.9;
                width: calc(100% - 32px);
                height: calc(100% - 32px);*/
            }
            img
            {
                /*transform: scale(1.2);*/
                opacity: 1;
            }
        }
    }
    a
    {
        text-decoration: none;
        &:hover
        {
            opacity: 1;
        }
    }
}

.l-thumbnail
{
    position: relative;

    overflow: hidden;

    width: 100%;
    height: auto;
    /*background: rgba(12,245,198,1);*/
    /*background: -webkit-linear-gradient(-45deg, rgba(56,120,163,1) 0%, rgba(90,176,107,1) 100%);
  background: linear-gradient(135deg, rgba(56,120,163,1) 0%, rgba(90,176,107,1) 100%);
  background: -webkit-linear-gradient(-45deg, 100%);
  background: linear-gradient(135deg, 100%);*/
}

.thumbnail-wrapper
{
    margin: 0;
    padding: 0;
    /*&:after
    {
        position: absolute;
        top: 50%;
        left: 50%;

        display: block;

        box-sizing: border-box;
        width: 0;
        height: 0;

        content: '';
        transition: .8s;
        transform: translate(-50%, -50%);

        opacity: 0;
        border: 1px solid #fff;
    }*/
    img
    {
        display: block;

        width: 100%;
        /*transition: .5s;
        transform: scale(1);*/

        opacity: 1;
    }
}

.text-content
{
    height: 15em;
    padding: 16px;
    @media screen and (max-width: 768px)
    {
        font-size: 24px;

        height: 12em;
        ;
    }
    .title
    {
        font-size: 24px;

        display: -webkit-box;
        overflow: hidden;

        height: 3em;
        margin: 100px 0 12px 0;

           text-overflow: ellipsis;

        color: #000;

        -o-text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        @media screen and (max-width: 768px)
        {
            font-size: 20px;
            height: 3em;
            margin: 0 0 12px 0;
        }
    }
    .caption
    {
        font-size: 14px;
        font-weight: lighter;

        display: -webkit-box;
        overflow: hidden;

        margin: 0 0 12px 0;

        text-align: left;
        text-overflow: ellipsis;

        color: #555;

        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        @media screen and (max-width: 768px)
        {
            font-size: 12px;
            margin: 0 0 12px 0;
            -webkit-line-clamp: 5;
            ;
        }
    }
}

.content-meta
{
    font-size: 12px;

    overflow: hidden;

    width: 100%;
    @media screen and (max-width: 768px)
    {
        font-size: 12px;
    }
    .shipfree
    {
        display: block;
        float: right;
        clear: both;

        padding: 2px 6px;

        text-align: center;

        color: #fff;
        background: #1a0bbf;
    }
    .tdship
    {
        display: block;
        float: right;

        padding: 2px 6px;

        text-align: center;

        color: #fff;
        background: #5ab06b;
    }
    .price
    {
        font-size: 18px;
        text-decoration:line-through;
        float: right;

        color: #e60f0f;
        @media screen and (max-width: 768px)
        {
            font-size: 18px;
        }
        &:before
        {
            font-size: 12px;

            content: '通常価格';
        }
    }
    .coupon
    {
        font-size: 16px;

        position: absolute;
        right: -3px;
        bottom: 30px;

        width: 154px;
        padding: 3px 10px 3px 10px;

        text-align: left;

        color: #fff;
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
        border-radius: 10px 0 0 10px;
        background: #da2121;
        @media screen and (max-width: 768px)
        {
            font-size: 12px;
        bottom: 30em;
        width: 120px;
        }
    }
    .discount
    {
        font-size: 20px;
        font-weight: bold;

        float: right;


        color: #e60f0f;
        &:before
        {
            font-size: .75em;

            content: '\5272\5F15\4FA1\683C\a0';
        }
    }
    .rate {
        display: block;
        left: -2%;
        top: -2%;
        font-size: 24px;
        line-height: 33px;
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        color: #fff;
        background-color: #00caae;
        &:first-child {
            background-color: #00ccff;
        }
        span.num {
            position: absolute;
            left: 18px;
            top: 28px;
            font-size: 50px;
            &:before {
                content: "";
                font-size: 14px;
                position: absolute;
                top: -30px;
                left: -3px;
            }
            &:after {
                content: "％OFF";
                font-size: 16px;
                position: absolute;
                top: 30px;
                left: 5px;
            }
        }
    }
}




/*小さく表示するver*/

#under
{
    .l-card
    {
        width: 31%;
        @media screen and (max-width: 768px)
        {
            width: 48%;
        }
        .text-content
        {
            height: 17.5em;
            padding: 10px;
            @media screen and (max-width: 768px)
            {
                height: 10.5em;
            }
            .title
            {
                font-size: 16px;

                margin: 2px 0 12px 0;
                @media screen and (max-width: 768px)
                {
                    font-size: 16px;
                }
            }
        }
        .content-meta
        {
            .rank
            {
                display: none;
            }
            .price{
                text-decoration:none;
    width: 100%;
    text-align: right;
        &:before
        {
            font-size: 12px;

            content: '税別';
        }
            }
        }
    }
}









/* PCのみ */

@media screen and (min-width: 769px)
{
    #top1
    {
        .l-card
        {
            width: 98%;
            .l-thumbnail
            {
                float: left;

                width: 60%;
                margin-right: 10px;
            }
            .text-content
            {
                float: right;

                width: 35%;
                padding: 16px 16px 16px 0;
                .caption
                {
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 10;
                }
            }
        }
    }
    #under
    {
        .l-card
        {
            width: 31%;
            height: 480px;
        }
    }
}






/*割引・名入れありのリストここまで*/
