@charset 'utf-8';

*
{
    box-sizing: border-box;
}



/*割引・名入れありのリスト*/

body
{
    font-family: 'Open Sans';
    /*width: 100%;*/

    margin: 0;

    /*background-color: #fffcee;*/
    p
    {
        width: 95%;
        margin: 0 auto;

        text-align: left;
    }
}

.l-card
{
    position: relative;

    float: left;
    overflow: inherit;
    /*height: 600px;*/

    width: 48%;
    margin: 24px 1%;
    padding: 0;

    border: 0 solid #ddd;
    border-radius: 4px;
    background: #fcffe5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1), 0 2px 2px rgba(0, 0, 0, .1);
    a
    {
        text-decoration: none;
        &:hover
        {
            opacity: 1;
        }
    }
    &:hover
    {
        .thumbnail-wrapper
        {
            &:after
            {
                /*opacity: 0.9;
                width: calc(100% - 32px);
                height: calc(100% - 32px);*/
            }
            img
            {
                /*transform: scale(1.2);*/
                opacity: 1;
            }
        }
        .more-text
        {
            display: none;

            letter-spacing: 4px;

            opacity: 1;
        }
    }
    a
    {
        text-decoration: none;
        &:hover
        {
            opacity: 1;
        }
    }
}

.l-thumbnail
{
    position: relative;

    overflow: hidden;

    width: 100%;
    height: auto;
    /*background: rgba(12,245,198,1);*/
    /*background: -webkit-linear-gradient(-45deg, rgba(56,120,163,1) 0%, rgba(90,176,107,1) 100%);
  background: linear-gradient(135deg, rgba(56,120,163,1) 0%, rgba(90,176,107,1) 100%);
  background: -webkit-linear-gradient(-45deg, 100%);
  background: linear-gradient(135deg, 100%);*/
}

.thumbnail-wrapper
{
    margin: 0;
    padding: 0;
    /*&:after
    {
        position: absolute;
        top: 50%;
        left: 50%;

        display: block;

        box-sizing: border-box;
        width: 0;
        height: 0;

        content: '';
        transition: .8s;
        transform: translate(-50%, -50%);

        opacity: 0;
        border: 1px solid #fff;
    }*/
    img
    {
        display: block;

        max-width: 100%;

        /*transition: .5s;
        transform: scale(1);*/

        opacity: 1;
    }
}

.text-content
{
    height: 15em;
    padding: 16px;
    .title
    {
        font-size: 24px;

        display: -webkit-box;
        overflow: hidden;

        height: 3em;
        margin: 0 0 12px 0;

        text-overflow: ellipsis;

        color: #000;

        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
    .caption
    {
        font-size: 14px;
        font-weight: lighter;

        display: -webkit-box;
        overflow: hidden;

        margin: 0 0 12px 0;

        text-align: left;
        text-overflow: ellipsis;

        color: #555;

        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }
}

.content-meta
{
    font-size: 12px;

    overflow: hidden;

    width: 100%;
    .name
    {
        display: block;
        float: right;
        clear: both;

        padding: 2px 6px;

        text-align: center;
        margin:10px 0;
        color: #fff;
        background: #1a0bbf;
    }
    .tdship
    {
        display: block;
        float: right;

        padding: 2px 6px;

        text-align: center;

        color: #fff;
        background: #5ab06b;
    }
    .discount
    {
        font-size: 18px;
        font-weight: bold;

        float: left;

        text-align: left;

        color: #e60f0f;
        &:before
        {
            font-size: .75em;

            content: '\5272\5F15\4FA1\683C\a0';
        }
    }
    .price
    {
        font-size: 14px;

        float: left;
        text-align: left;
        text-decoration: line-through;

        color: #e60f0f;
        &:before
        {
            font-size: .75em;

            content: '\5B9A\4FA1\a0';
        }
    }
    /*.coupon
    {
        font-size: 16px;

        position: absolute;
        right: -3px;
        bottom: 240px;

        width: 154px;
        padding: 3px 10px 3px 10px;

        text-align: left;

        color: #fff;
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
        border-radius: 10px 0 0 10px;
        background: #da2121;
    }*/
    /*
    .rate
    {
        font-size: 20px;
        line-height: 33px;

        position: absolute;
        top: -2%;
        left: -2%;

        display: block;

        width: 100px;
        height: 100px;

        color: #fff;
        border-radius: 50%;
        background-color: #00caae;
        &:first-child
        {
            background-color: #0cf;
        }
        span.num
        {
            font-size: 45px;

            position: absolute;
            top: 37px;
            left: 18px;
            &:before
            {
                font-size: 14px;

                position: absolute;
                top: -30px;
                left: -3px;

                content: 'point';
            }
            &:after
            {
                font-size: 16px;

                position: absolute;
                top: 24px;
                left: 52px;

                content: '倍';
            }
        }
    }*/
}



/*小さく表示するver*/
#under
{
    .l-card
    {
        width: 31%;
        img
        {
            height: 260px;
        }
        .text-content
        {
            height: 11.5em;
            padding: 10px;
            .title
            {
                font-size: 16px;
            }
        }
    }
}








/* PCのみ */

@media screen and (min-width: 769px)
{
    #top1
    {
        .l-card
        {
            width: 98%;
            .l-thumbnail
            {
                float: left;

                width: 60%;
                margin-right: 10px;
            }
            .text-content
            {
                float: right;
                width: 35%;
                padding: 16px 16px 16px 0;
                .caption
                {
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 10;
                }
            }
            .content-meta
            {
                font-size: 12px;

                clear: none;
                overflow: hidden;
                .name
                {
                    display: block;
                    float: right;
                    clear: both;

                    margin: 10px;
                    padding: 2px 6px;

                    text-align: center;

                    color: #fff;
                    background: #1a0bbf;
                }
                .tdship
                {
                    display: block;
                    float: right;

                    padding: 2px 6px;

                    text-align: center;

                    color: #fff;
                    background: #5ab06b;
                }
                .discount
                {
                    font-size: 18px;
                    font-weight: bold;
                    display: block;
                    width: 100%;
                    padding: 5px 5px;

                    text-align: right;

                    color: #e60f0f;
                    /*float: right;*/
                    &:before
                    {
                        font-size: .75em;

                        content: '\5272\5F15\4FA1\683C\a0';
                    }
                }
                .price
                {
                    font-size: 14px;

                    display: block;

                    width: 100%;
                    padding: 5px 10px;

                    text-align: right;
                    /*float: right;*/
                    text-decoration: line-through;

                    color: #e60f0f;
                    &:before
                    {
                        font-size: .75em;

                        content: '\5B9A\4FA1\a0';
                    }
                }
            }
        }
    }
}









/* smartPhone */

@media screen and (max-width: 768px)
{
    #top5,
    #top1
    {
        .l-card
        {
            overflow: inherit;

            width: 97%;
            height: auto;
            margin: 10px 1%;

            border: 1px solid #ddd;
            .coupon
            {
                font-size: 20px;
                width: 170px;
            }
            .discount{
                    font-size: 18px;
                    font-weight: bold;
                    display: block;
                    width: 100%;
                    padding: 5px 5px;
                    text-align: left;
                    color: #e60f0f;
                    /*float: right;*/
                    &:before
                    {
                        font-size: .75em;

                        content: '\5272\5F15\4FA1\683C\a0';
                    }
            }
             .price
                {
                    font-size: 14px;

                    display: block;

                    width: 100%;
                    padding: 5px 10px;

                    text-align: left;
                    /*float: right;*/
                    text-decoration: line-through;

                    color: #e60f0f;
                }
        }
    }

    #under
    {
        .l-card
        {
            width: 47%;
            img
            {
                height: 100%;
            }
        }
    }
}



/*割引・名入れありのリストここまで*/






