/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$hdr_fair_catch-x: 740px;
$hdr_fair_catch-y: 288px;
$hdr_fair_catch-offset-x: -740px;
$hdr_fair_catch-offset-y: -288px;
$hdr_fair_catch-width: 59px;
$hdr_fair_catch-height: 260px;
$hdr_fair_catch-total-width: 815px;
$hdr_fair_catch-total-height: 756px;
$hdr_fair_catch-image: '../img/sprites/spritesheet.png';
$hdr_fair_catch: 740px 288px -740px -288px 59px 260px 815px 756px '../img/sprites/spritesheet.png';
$hdr_fair_logo-x: 0px;
$hdr_fair_logo-y: 559px;
$hdr_fair_logo-offset-x: 0px;
$hdr_fair_logo-offset-y: -559px;
$hdr_fair_logo-width: 107px;
$hdr_fair_logo-height: 197px;
$hdr_fair_logo-total-width: 815px;
$hdr_fair_logo-total-height: 756px;
$hdr_fair_logo-image: '../img/sprites/spritesheet.png';
$hdr_fair_logo: 0px 559px 0px -559px 107px 197px 815px 756px '../img/sprites/spritesheet.png';
$hdr_fair_title-x: 0px;
$hdr_fair_title-y: 0px;
$hdr_fair_title-offset-x: 0px;
$hdr_fair_title-offset-y: 0px;
$hdr_fair_title-width: 74px;
$hdr_fair_title-height: 278px;
$hdr_fair_title-total-width: 815px;
$hdr_fair_title-total-height: 756px;
$hdr_fair_title-image: '../img/sprites/spritesheet.png';
$hdr_fair_title: 0px 0px 0px 0px 74px 278px 815px 756px '../img/sprites/spritesheet.png';
$monthbnr_feb-x: 84px;
$monthbnr_feb-y: 0px;
$monthbnr_feb-offset-x: -84px;
$monthbnr_feb-offset-y: 0px;
$monthbnr_feb-width: 731px;
$monthbnr_feb-height: 261px;
$monthbnr_feb-total-width: 815px;
$monthbnr_feb-total-height: 756px;
$monthbnr_feb-image: '../img/sprites/spritesheet.png';
$monthbnr_feb: 84px 0px -84px 0px 731px 261px 815px 756px '../img/sprites/spritesheet.png';
$monthbnr_jan-x: 0px;
$monthbnr_jan-y: 288px;
$monthbnr_jan-offset-x: 0px;
$monthbnr_jan-offset-y: -288px;
$monthbnr_jan-width: 730px;
$monthbnr_jan-height: 261px;
$monthbnr_jan-total-width: 815px;
$monthbnr_jan-total-height: 756px;
$monthbnr_jan-image: '../img/sprites/spritesheet.png';
$monthbnr_jan: 0px 288px 0px -288px 730px 261px 815px 756px '../img/sprites/spritesheet.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
