@charset "UTF-8";
/* CSS Document */

@import "../../frameworks/_scss/default.scss";

$m : #67b1e0;
$w : #fff;

body{
    &.sm{
        & > .header{
            background:transparent url('https://www.rakuten.ne.jp/gold/dentouhonpo/event/img/sp_sm_header_bg_pc.jpg') left top no-repeat;
            border-bottom: 15px solid $m;
            background-size: cover;
            &.nav{
                background: none;
                background-color: $m;
            }
            .wrapContents{
                width: 800px;
                margin: 0 auto;
                overflow: hidden;
                .title{
                    display: block;
                    margin: 100px auto;
                }
                .intro{
                    display: block;
                    margin: 50px auto 70px;
                }
                ul{
                    overflow: hidden;
                    width: 90%;
                    margin: 0 auto;
                    li{
                        margin: 3% 1%;
                        width:  48%;
                        &:first-child{
                            width: 98%;
                            margin: 1%;
                            img{
                                display: block;
                                margin: 0 auto;
                            }
                        }
                        /* &:nth-child(2){
                            clear: both;
                        } */
                        &:nth-child(1){
                            float: left;
                        }
                        &:nth-child(2),&:nth-child(3),&:nth-child(4),&:nth-child(5){
                            float: left;
                        }
                    }
                }
            }
        }
        .contents{
            .wrapContents{
                width: 800px;
                margin: 0 auto;
                .header{
                    .title{
                        display: block;
                        margin: 40px 0;
                        height: auto;
                    }
                }
                &.ev01,&.ev02,&.ev03{
                    .contents{
                        overflow: hidden;
                        position: relative;
                        padding: 0 0 60px;
                        background:transparent url('https://www.rakuten.ne.jp/gold/dentouhonpo/event/img/sp_fg_bg_pattern.jpg') left top;
                        .main{
                            width: 100%;
                            position: relative;
                            .point{
                                position: absolute;
                                right: 5%;
                                bottom: -20%;
                            }
                            .title{
                                position: absolute;
                                right: 5%;
                                top: 5%;
                            }
                        }
                        & > .txt{
                            position: absolute;
                            left: 3%;
                            width: 45%;
                            padding: 3%;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 1.75;
                            font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                            background-color: rgba(255,255,255,.9);
                            top: 1%;
                            img{
                                margin: 0 0 10px;
                            }
                            p{
                                margin: 0 0 13px;

                            }
                        }
                        .figcaption{
                            padding: 2% 3%;
                            width: 60%;
                            position: absolute;
                            font-size: 12px;
                            line-height: 1.75;
                            span{
                                display: block;
                                font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                                font-size: 20px;
                                margin: 0 0 6px;
                                &:before{
                                    content: '[';
                                    display: inline-block;
                                    margin: 0 6px 0 0;
                                }
                                &:after{
                                    content: ']';
                                    display: inline-block;
                                    margin: 0 0 0 6px;
                                }
                            }
                        }
                        ul{
                            width: 100%;
                            overflow: hidden;
                            clear: both;
                            margin: 130px 0 0;
                            li{
                                width: 29.333%;
                                margin: 2%;
                                float: left;
                                img{
                                    width: 100%;
                                }
                                a{
                                    display: block;
                                    text-decoration: none;
                                    font-size: 13px;
                                    color: #000;
                                    position: relative;
                                    .rank{
                                        position: absolute;
                                        left: 5%;
                                        top: 5%;
                                        width: auto;
                                    }
                                    p{
                                        span{
                                            display: block;
                                            text-align: right;
                                            small{
                                                font-size: 12px;
                                            }
                                        }
                                    }
                                    .moreLinks{
                                        clear: both;
                                        width: 70%;
                                        margin: 10px auto;
                                        text-align: center;
                                        padding: 2px;
                                        background-color: $m;
                                        color: $w;
                                        display: block;
                                        font-size: 12px;
                                        border: 1px solid $m;
                                        @include anm(0.2s);
                                        div{
                                            padding: 4px;
                                            border: 1px solid $w;
                                        }
                                    }
                                    &:hover{
                                        .moreLinks{
                                            clear: both;
                                            width: 72%;
                                            margin: 10px auto;
                                            background-color: $w;
                                            color: $m;
                                            display: block;
                                            font-weight: bold;
                                            border: 1px solid $m;
                                            div{
                                                padding: 4px;
                                                border: 1px solid $m;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .onepoint{
                            clear: both;
                            border: 1px solid $m;
                            width: 90%;
                            margin: 20px auto;
                            .header{
                                background-color: $m;
                                padding: 10px;
                                img{
                                    height: 46px;
                                }
                            }
                            .contents{
                                padding: 3% 3% 0;
                                & > div{
                                    clear: both;
                                    overflow: hidden;
                                    margin: 0 0 30px;
                                    @include sizing(100%);
                                    img{
                                        display: block;
                                        width: 19%;
                                        float: left;
                                    }
                                    .txt{
                                        float: left;
                                        overflow: hidden;
                                        width: 78%;
                                        padding: 0 0 0 3%;
                                    }
                                }
                            }
                        }
                    }
                }
                &.ev01,&.ev03{
                    .contents{
                        ul.other{
                            overflow: hidden;
                            @include sizing(100%);
                            margin: 0;
                            padding: 0 0 3%;
                            li{
                                border: 1px dotted $m;
                                float: left;
                                width: 28.9%;
                                margin: 3% 3% 0 0%;
                                padding:.1% 0 0;
                                &:first-child,&:nth-child(3n+1){
                                    margin: 3% 3% 0 3%;
                                }
                                img{
                                    width: 100%;
                                }
                                a{
                                    display: block;
                                    text-decoration: none;
                                    font-size: 13px;
                                    color: #000;
                                    position: relative;
                                    p{
                                        padding: 3%;
                                        height: auto;
                                        min-height: 4.5em;
                                        img{
                                            width: auto;
                                        }
                                        span{
                                            display: block;
                                            text-align: right;
                                            small{
                                                font-size: 12px;
                                            }
                                        }
                                    }
                                    .moreLinks{
                                        clear: both;
                                        width: 70%;
                                        margin: 10px auto 20px;
                                        text-align: center;
                                        padding: 2px;
                                        background-color: $m;
                                        color: $w;
                                        display: block;
                                        font-size: 12px;
                                        border: 1px solid $m;
                                        @include anm(0.2s);
                                        div{
                                            padding: 4px;
                                            border: 1px solid $w;
                                        }
                                    }
                                    &:hover{
                                        .moreLinks{
                                            width: 72%;
                                            background-color: $w;
                                            color: $m;
                                            font-weight: bold;
                                            border: 1px solid $m;
                                            div{
                                                padding: 4px;
                                                border: 1px solid $m;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .onepoint{
                            .contents{
                                & > div{
                                    clear: both;
                                    overflow: hidden;
                                    margin: 0 0 30px;
                                    @include sizing(100%);
                                    img{
                                        display: block;
                                        width: 40%;
                                        float: left;
                                    }
                                    .txt{
                                        float: left;
                                        overflow: hidden;
                                        width: 57%;
                                        padding: 0 0 0 3%;
                                    }
                                }
                            }
                        }
                    }
                }
                &.ev02{
                    .contents{
                        & > .txt{
                            p{
                                &:first-child{
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
                &.ev04{
                    .contents{
                        overflow: hidden;
                        position: relative;
                        padding: 0 0 60px;
                        background:transparent url('https://www.rakuten.ne.jp/gold/dentouhonpo/event/img/sp_fg_bg_pattern.jpg') left top;
                        .badget{
                            padding: 3% 0 0;
                            img{
                                height: auto;
                                display: block;
                                margin: 0 auto;
                            }
                        }
                        ul{
                            overflow: hidden;
                            @include sizing(100%);
                            li{
                                border: 1px dotted $m;
                                float: left;
                                width: 29%;
                                margin: 3% 3% 0 0%;
                                padding:.1% 0 0;
                                &:first-child,&:nth-child(3n+1){
                                    margin: 3% 3% 0 3%;
                                }
                                img{
                                    width: 100%;
                                }
                                a{
                                    display: block;
                                    text-decoration: none;
                                    font-size: 13px;
                                    color: #000;
                                    position: relative;
                                    p{
                                        padding: 3%;
                                        img{
                                            width: auto;
                                        }
                                        span{
                                            display: block;
                                            text-align: right;
                                            small{
                                                font-size: 12px;
                                            }
                                        }
                                    }
                                    .blockquote{
                                        width: 90%;
                                        margin: 0 auto 20px;
                                        position: relative;
                                        &:before{
                                            content: '"';
                                            position: absolute;
                                            font-size: 16px;
                                            top: -12px;
                                            left: 0;
                                            display: block;
                                        }
                                        &:after{
                                            content: '”';
                                            position: absolute;
                                            font-size: 16px;
                                            bottom: -12px;
                                            right: 0;
                                            display: block;
                                        }
                                    }
                                    .moreLinks{
                                        clear: both;
                                        width: 70%;
                                        margin: 10px auto 20px;
                                        text-align: center;
                                        padding: 2px;
                                        background-color: $m;
                                        color: $w;
                                        display: block;
                                        font-size: 12px;
                                        border: 1px solid $m;
                                        @include anm(0.2s);
                                        div{
                                            padding: 4px;
                                            border: 1px solid $w;
                                        }
                                    }
                                    &:hover{
                                        .moreLinks{
                                            width: 72%;
                                            background-color: $w;
                                            color: $m;
                                            font-weight: bold;
                                            border: 1px solid $m;
                                            div{
                                                padding: 4px;
                                                border: 1px solid $m;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &.ev05{
                    .contents{
                        position: relative;
                        overflow: hidden;
                        width: 100%;
                        height: 700px;
                        iframe{
                            position: absolute;
                            top: -15.5%;
                            left: 0;
                            height: 700px;
                        }
                        & > div{
                            border: 3px solid $m;
                            clear: both;
                            overflow: hidden;
                            margin: 0 0 30px;
                            @include sizing(100%);
                            padding: 3%;
                            img{
                                display: block;
                                width: 39%;
                                float: left;
                            }
                            .txt{
                                float: left;
                                overflow: hidden;
                                width: 58%;
                                padding: 0 0 0 3%;
                                b{
                                    display: block;
                                    font-size: 20px;
                                    margin: 0 0 10px;
                                }
                                ol{
                                    font-size: 14px;
                                    list-style-type: decimal;
                                    list-style-position: inside;
                                }
                            }

                            .moreLinks{
                                clear: both;
                                width: 70%;
                                margin: 10px auto 20px;
                                text-decoration: none;
                                text-align: center;
                                padding: 2px;
                                background-color: $m;
                                color: $w;
                                display: block;
                                font-size: 12px;
                                border: 1px solid $m;
                                @include anm(0.2s);
                                div{
                                    padding: 4px;
                                    border: 1px solid $w;
                                }
                                &:hover{
                                    width: 72%;
                                    background-color: $w;
                                    color: $m;
                                    font-weight: bold;
                                    border: 1px solid $m;
                                    div{
                                        padding: 4px;
                                        border: 1px solid $m;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .return{
                display: none;
            }
        }
    }
    @media only screen and (max-width: 768px) {
        &.sm{
            & > .header{
                background:transparent url('https://www.rakuten.ne.jp/gold/dentouhonpo/event/img/sp_sm_header_bg.jpg') left top no-repeat;
                border-bottom: 15px solid $m;
                background-size: cover;
                .wrapContents{
                    width: 100%;
                    margin: 0 auto;
                    overflow: hidden;
                    .campaign{
                        display: none;
                        width: 100%;
                        &.sp{
                            /* キャンペーン終了 */
                            display: none;
                        }
                    }
                    .title{
                        margin: 100px auto;
                        width: 90%;
                    }
                    .intro{
                        margin: 50px auto 70px;
                        width: 90%;
                    }
                    ul{
                        overflow: hidden;
                        width: 90%;
                        margin: 0 auto;
                        li{
                            margin: 5% 1%;
                            width:  48%;
                            img{
                            }
                            &:first-child{
                                width: 98%;
                                margin: 1%;
                                img{
                                    display: block;
                                    margin: 0;
                                }
                            }
                            &:nth-child(2){
                                clear: both;
                            }
                            &:nth-child(2),&:nth-child(3),&:nth-child(4),&:nth-child(5){
                                clear: both;
                            }
                        }
                    }
                }
            }
            .contents{
                .wrapContents{
                    width: 100%;
                    margin: 0 auto;
                    .header{
                        .title{
                            display: block;
                            margin: 40px auto;
                            width: 90%;
                            height: auto;
                        }
                        p{
                            padding:  0 5%;
                        }
                    }
                    &.ev01,&.ev02,&.ev03{
                        .contents{
                            overflow: hidden;
                            position: relative;
                            padding: 0 0 60px;
                            background:transparent url('https://www.rakuten.ne.jp/gold/dentouhonpo/event/img/sp_fg_bg_pattern.jpg') left top;
                            .main{
                                width: 100%;
                                position: relative;
                                .scene{
                                    width: 100%;
                                }
                                .point{
                                    position: absolute;
                                    left: 3%;
                                    width: 35%;
                                    bottom: 3%;
                                }
                                .title{
                                    position: absolute;
                                    right: 5%;
                                    top: 5%;
                                }
                            }
                            & > .txt{
                                position: relative;
                                left: 0;
                                width: 94%;
                                padding: 3%;
                                font-weight: normal;
                                font-size: 14px;
                                line-height: 1.75;
                                font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                                background-color: rgba(255,255,255,1);
                                top: 1%;
                                img{
                                    margin: 0 0 10px;
                                }
                                p{
                                    margin: 0 0 30px;

                                }
                            }
                            .figcaption{
                                padding: 2% 3%;
                                width: 94%;
                                margin: 0 auto;
                                position: relative;
                                font-size: 16px;
                                line-height: 1.75;
                                background-color: $m;
                                color: $w;
                                span{
                                    text-align: center;
                                    display: block;
                                    font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                                    font-size: 30px;
                                    margin: 0 0 6px;
                                    &:before{
                                        content: '[';
                                        display: inline-block;
                                        margin: 0 6px 0 0;
                                    }
                                    &:after{
                                        content: ']';
                                        display: inline-block;
                                        margin: 0 0 0 6px;
                                    }
                                }
                            }
                            ul{
                                width: 100%;
                                overflow: hidden;
                                clear: both;
                                margin: 30px 0 0;
                                li{
                                    width: 46%;
                                    margin: 2%;
                                    float: left;
                                    img{
                                        width: 100%;
                                    }
                                    a{
                                        display: block;
                                        text-decoration: none;
                                        font-size: 13px;
                                        color: #000;
                                        position: relative;
                                        .rank{
                                            position: absolute;
                                            left: 5%;
                                            top: 5%;
                                            width: 30%;
                                        }
                                        p{
                                            height: 4em;
                                            span{
                                                display: block;
                                                text-align: right;
                                                small{
                                                    font-size: 12px;
                                                }
                                            }
                                        }
                                        .moreLinks{
                                            clear: both;
                                            width: 70%;
                                            margin: 10px auto;
                                            text-align: center;
                                            padding: 2px;
                                            background-color: $m;
                                            color: $w;
                                            display: block;
                                            font-size: 12px;
                                            border: 1px solid $m;
                                            @include anm(0.2s);
                                            div{
                                                padding: 4px;
                                                border: 1px solid $w;
                                            }
                                        }
                                        &:hover{
                                            .moreLinks{
                                                clear: both;
                                                width: 72%;
                                                margin: 10px auto;
                                                background-color: $w;
                                                color: $m;
                                                display: block;
                                                font-weight: bold;
                                                border: 1px solid $m;
                                                div{
                                                    padding: 4px;
                                                    border: 1px solid $m;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .onepoint{
                                clear: both;
                                border: 1px solid $m;
                                width: 90%;
                                margin: 20px auto;
                                .header{
                                    background-color: $m;
                                    padding: 10px;
                                    img{
                                        width: 100%;
                                        height: auto;
                                    }
                                }
                                .contents{
                                    padding: 3% 3% 0;
                                    & > div{
                                        clear: both;
                                        overflow: hidden;
                                        margin: 0 0 30px;
                                        @include sizing(100%);
                                        img{
                                            display: block;
                                            width: 40%;
                                            float: left;
                                        }
                                        .txt{
                                            float: left;
                                            overflow: hidden;
                                            width: 56%;
                                            padding: 0 0 0 3%;
                                            p{
                                                font-size: 13px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.ev01,&.ev03{
                        .contents{
                            ul.other{
                                li{
                                    border: 1px dotted $m;
                                    float: left;
                                    width: 44.9%;
                                    margin: 3% 3% 0 0%;
                                    padding:.1% 0 0;
                                    &:nth-child(3n+1){
                                        margin: 3% 3% 0 0%;
                                    }
                                    &:first-child,&:nth-child(2n+1){
                                        margin: 3% 3% 0 3%;
                                    }
                                }
                            }
                            .onepoint{
                                .contents{
                                    & > div{
                                        clear: both;
                                        overflow: hidden;
                                        margin: 0 0 30px;
                                        @include sizing(100%);
                                        img{
                                            display: block;
                                            width: 100%;
                                            float: left;
                                        }
                                        .txt{
                                            float: left;
                                            overflow: hidden;
                                            width: 100%;
                                            padding: 3% 0 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &.ev04{
                        .contents{
                            overflow: hidden;
                            position: relative;
                            padding: 0 0 60px;
                            background:transparent url('https://www.rakuten.ne.jp/gold/dentouhonpo/event/img/sp_fg_bg_pattern.jpg') left top;
                            .badget{
                                padding: 3% 0 0;
                                img{
                                    height: auto;
                                    width: 90%;
                                    display: block;
                                    margin: 30px auto 0;
                                }
                            }
                            ul{
                                overflow: hidden;
                                @include sizing(100%);
                                li{
                                    width: 28.8%;
                                    img{
                                        width: 100%;
                                    }
                                    a{
                                        display: block;
                                        text-decoration: none;
                                        font-size: 13px;
                                        color: #000;
                                        position: relative;
                                        p{
                                            height: 5em;
                                            padding: 3%;
                                            img{
                                                width: auto;
                                            }
                                            span{
                                                display: block;
                                                text-align: right;
                                                small{
                                                    font-size: 12px;
                                                }
                                            }
                                        }
                                        .blockquote{
                                            width: 90%;
                                            margin: 0 auto 20px;
                                            position: relative;
                                            &:before{
                                                content: '"';
                                                position: absolute;
                                                font-size: 16px;
                                                top: -12px;
                                                left: 0;
                                                display: block;
                                            }
                                            &:after{
                                                content: '”';
                                                position: absolute;
                                                font-size: 16px;
                                                bottom: -12px;
                                                right: 0;
                                                display: block;
                                            }
                                        }
                                        .moreLinks{
                                            clear: both;
                                            width: 80%;
                                            margin: 10px auto 20px;
                                            text-align: center;
                                            padding: 2px;
                                            background-color: $m;
                                            color: $w;
                                            display: block;
                                            font-size: 12px;
                                            border: 1px solid $m;
                                            @include anm(0.2s);
                                            div{
                                                padding: 4px;
                                                border: 1px solid $w;
                                            }
                                        }
                                        &:hover{
                                            .moreLinks{
                                                width: 72%;
                                                background-color: $w;
                                                color: $m;
                                                font-weight: bold;
                                                border: 1px solid $m;
                                                div{
                                                    padding: 4px;
                                                    border: 1px solid $m;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &.ev05{
                        .contents{
                            position: relative;
                            overflow: hidden;
                            width: 100%;
                            padding: calc(300 / 450 * 100%) 0 0;
                            iframe{
                                position: absolute;
                                top: -9%;
                                left: 0;
                                height: 100%;
                            }

                            & > div{
                                border: 3px solid $m;
                                clear: both;
                                overflow: hidden;
                                margin: 0 0 30px;
                                @include sizing(100%);
                                padding: 3%;
                                img{
                                    display: block;
                                    width: 100%;
                                    float: left;
                                }
                                .txt{
                                    float: left;
                                    overflow: hidden;
                                    width: 94%;
                                    padding: 0 3%;
                                    b{
                                        display: block;
                                        font-size: 20px;
                                        margin: 0 0 10px;
                                    }
                                    ol{
                                        font-size: 14px;
                                        list-style-type: decimal;
                                        list-style-position: inside;
                                    }
                                }
                            }
                        }
                    }
                }
                .return{
                    display: block;
                    color: $w;
                    background-color: $m;
                    padding: 14px 0;
                    text-decoration: none;
                    text-align: center;
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}