/* IMPORT RESET */
@import"../../frameworks/_scss/styleguide-genre.scss";
$line : 1px solid $sbc01;

@mixin main($url) {
    background: url($url);
    background-size:cover;
    background-position: 50% 50%;
    article{
        padding: 0;
    }
    
}

body{
    height: 500px;
    &.header{
        background:transparent url('../img/hdr_fair_noren_lp.jpg') 50% top repeat-x;
    }
    .sideContents{
        position: absolute;
        right: 10px;
        top: 10px;
        #form{
            border: none;
            width: 160px;
            padding: 0 0 0 6px;
            height: 17px;
            @include rad(4,4,4,4);
        }
        #btn{
            padding: 0;
        }
    }
    .fairHeader{
        position: relative;
        width: 495px;
        height: 300px;
        padding: 100px 0 0;
        margin: 0 auto 30px;
        span{
            display: block;
            &.fairTitle{
                background:transparent url('../img/hdr_fair_title.png') left top no-repeat;
                position: absolute;
                right: 15px;
                top: 20px;
                width: 74px;
                height: 278px;
            }
            &.fairLogo{
                background:transparent url('../img/hdr_fair_logo.png') left top no-repeat;
                margin: 0 auto;
                width: 107px;
                height: 197px;
                position: relative;
                a{
                    display: block;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                }
            }
            &.fairCatch{
                background:transparent url('../img/hdr_fair_catch.png') left top no-repeat;
                position: absolute;
                left: 15px;
                top: 70px;
                width: 59px;
                height: 260px;
            }
        }
    }
    .fairInfo{
        overflow: hidden;
        width: 990px;
        margin: 0 auto;
        p{
            text-align: center;
            img{
                display: block;
                min-width: 100%;
                width: 990px\9;
                min-width: 495px;
            }
        }
    }
    .fairFooter{
        width: 90%;
        height: 560px;
        padding: 5%;
        background:transparent url('../img/fair_bg_footer.jpg') left 50% no-repeat;
        background-size: cover ;
        /* ?iframe=true */
        .footerInfo{
            display: block;
            padding: 40px;
            background-color: rgba(255,255,255,0.9);
            background-color: #fff\9;
            color: $acc;
            margin: 0 auto;
            width: 415px;
            line-height: 1.75;
            b{
                font-size: 24px;
                display: block;
                text-align: center;
                font-weight: normal;
                font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
            }
        }
    }
    .fairShoplist{
        width: 100%;
        padding: 50px 0 0;
        div{
           .footerTitle{
            text-align: center;
            font-size: 30px;
            font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
            span{
                font-size: 12px;
            }
        }
        ul{
            width: 990px;
            margin: 0 auto;
            li{
                margin: 0 0 20px;
            }
        }   
    }
}
}