@charset "UTF-8";
/* CSS Document */

@import "../../_scss/style-public.scss";
body {
    .main {
        line-height: 0;
        .mainWrap {
            &.mainWrap-sp {
                width: 100%;
            }
            .mainWrap_container {
                width: 990px;
                margin: 0 auto;
                &.mainWrap_container-sp {
                    width: 100%;
                    height: 700px;
                    margin: 0 auto;
                    position: relative;
                    .containerSp_title {
                        margin: 0 auto;
                        padding: 0;
                        width: 990px;
                        position: relative;
                    }
                    .nmContents{
                        width: 990px;
                        margin: 60px auto 0;
                        & > ul{
                            padding: 40px 0 0;
                            li{
                                clear: both;
                                overflow: hidden;
                                margin: 60px 0 0;
                            }
                        }
                        .profile{
                            li{
                                margin: 0;
                            }
                        }
                        #floatMenu{
                            margin: 0;
                            width: 990px;
                            overflow: hidden;
                            background-color: #000;
                            ul{
                                width: 100%;
                                background-color: #000;
                                li{
                                    width: 18%;
                                    overflow: hidden;
                                    margin: 0 auto;
                                    float: left;
                                    border: 1px dotted #f6f15e;
                                    border-left: none;
                                    padding: 6px 7px 6px 6px;
                                    &:first-child{
                                        border-left: 1px dotted #f6f15e;
                                    }
                                    &:hover{
                                        background-color: #b2950c;
                                        a{
                                            background-image: none;
                                            background-color: #000;
                                            color: #000;
                                            border: 1px solid #000;
                                        }
                                    }
                                    a{
                                        color: #b2950c;
                                        font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                                        background-image: -webkit-gradient(linear,left top,left bottom,
                                            color-stop(0%,#f6f15e),
                                            color-stop(100%,#b2950c));
                                        -webkit-text-fill-color:transparent;
                                        -webkit-background-clip:text;
                                        font-size: 14px;
                                        font-weight: bold;
                                        display: block;
                                        padding: 3px 0;
                                        width: 100%;
                                        border: 1px solid #b2950c;
                                        line-height: 1.5;
                                        text-align: center;
                                        text-decoration: none;
                                    }
                                }
                            }
                        }
                        .catch01,.catch02,.catch03,.catch04,.catch05{
                            width: 26%;
                            padding: 2%;
                            background-color: #888;
                            float: left;
                            height: 375px;
                            display: block;
                            color: #fff;
                            h3{
                                margin-top: 230px;
                                font-size: 16px;
                                font-weight: normal;
                            }
                            hr{
                                border: none;
                                margin: 5px 0;
                                border-bottom: 1px solid #fff;
                            }
                            p{
                                line-height: 1.2;
                                font-size: 13px;
                                margin: 0 0 10px;
                            }
                        }
                        .catch01{
                            background: url('../img/name/sp_nmsr_ip01.png') no-repeat center top;
                        }
                        .catch02{
                            background: url('../img/name/sp_nmsr_ip02.png') no-repeat center top;
                        }
                        .catch03{
                            background: url('../img/name/sp_nmsr_ip03.png') no-repeat center top;
                        }
                        .catch04{
                            background: url('../img/name/sp_nmsr_ip04.png') no-repeat center top;
                        }
                        .catch05{
                            background: url('../img/name/sp_nmsr_ip05.png') no-repeat center top;
                        }
                        .table{
                            width: 64%;
                            padding: 0 3%;
                            float: left;
                            color: #fff;
                            line-height: 1.3;
                            overflow: hidden;
                            font-size: 13px;
                            a{
                                color: #b2950c;
                                background-image: -webkit-gradient(linear,left top,left bottom,
                                    color-stop(0%,#f6f15e),
                                    color-stop(100%,#b2950c));
                                -webkit-text-fill-color:transparent;
                                -webkit-background-clip:text;
                                border-bottom: 1px solid #b2950c;
                            }
                            span{
                                color: #b2950c;
                                background-image: -webkit-gradient(linear,left top,left bottom,
                                    color-stop(0%,#f6f15e),
                                    color-stop(100%,#b2950c));
                                -webkit-text-fill-color:transparent;
                                -webkit-background-clip:text;
                                display: block;
                                margin: 0 0 20px;
                                font-size: 16px;
                                &.printType{
                                    border-top: 1px dotted #b2950c;
                                    margin: 0 0 10px;
                                    padding: 15px 0 0;
                                    font-size: 24px;
                                    &.first{
                                        border: none;
                                        padding: 0;
                                    }
                                }
                                em{
                                    font-weight: bold;
                                }
                            }
                            .itemList{
                                width: 100%;
                                overflow: hidden;
                                margin: 0 0 10px;
                                li{
                                    float: left;
                                    clear: none;
                                    width: 18%;
                                    margin: 0;
                                    padding: 1%;
                                    img{
                                        width: 100%;
                                    }
                                    p{
                                        text-align: center;
                                        font-size: 13px;
                                        line-height: 1.75;
                                    }
                                }
                            }
                            table{
                                width: 100%;
                                font-size: 13px;
                                border-collapse: collapse;
                                border-spacing: 0;
                                margin: 0 0 10px;
                                tr{
                                    &.txtCenter{
                                        text-align: center;
                                        font-size: 14px;
                                        font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                                    }
                                    td{
                                        border: 1px solid #cebfbb;
                                        padding: 8px 6px;
                                        img{
                                            display: block;
                                            margin: 0 auto;
                                        }
                                    }
                                }
                            }
                            .careful{
                                border: 1px dotted #b2950c;
                                font-size: 13px;
                                padding: 10px;
                                list-style-type: disc;
                                list-style-position: inside;
                                li{
                                    margin: 0 0 4px;
                                }
                            }
                            .ipLinks,.ipContacts{
                                width: 154px;
                                height: 31px;
                                display: block;
                                margin: 0 auto;
                                border: none;
                            }
                            .ipLinks{
                                background: url('../img/name/sp_nmsr_linkbtn.png') no-repeat;
                            }
                            .ipContacts{
                                background: url('../img/name/sp_nmsr_contactbtn.png') no-repeat;
                            }
                        }
                    }

                    .nmHistory{
                        width: 950px;
                        padding: 10px;
                        margin: 0 auto;
                        ul{
                            margin: 170px 0 0;
                            width:100%;
                            li{
                                margin: 7px;
                                float: left;
                            } 
                        }
                    }
                    /* 九谷焼 */
                    &.event01 {
                        background: url('../img/bnr_oversea_head.jpg') no-repeat center top;
                        min-width: 990px;
                        max-height: 400px;
                        background-size: contain;
                        h2 {
                            background: url('../img/name/sp_nmsr_point.png') no-repeat;
                            display: block;
                            text-indent: -9999px;
                            position: absolute;
                            right: 20px;
                            top: 90px;
                        }
                    }
                    &.event02 {
                        min-width: 990px;
                        max-height: 600px;
                        h2 {
                            background: url('../img/bnr_oversea_info.png') no-repeat;
                            height: 548px;
                            width: 844px;
                            display: block;
                            position: absolute;
                            top: 80px;
                            left: 20px;
                            text-indent: -9999px;
                        }
                    }
                    &.event03 {
                        background: url('../img/name/sp_nmsr_bg04.jpg');
                        height: auto;
                        overflow: hidden;
                        padding: 0 0 50px;
                        h2 {
                            /* background: url('../img/name/sp_nmsr_title.png') no-repeat; */
                            width: 242px;
                            height: 69px;
                            display: block;
                            margin: 40px 0 0;
                        }
                    }
                    &.event04 {
                        background: url('../img/name/sp_nmsr_bg03.jpg') repeat-x center top;
                        background-size: 100%;
                        height: 1350px;
                        background-color: #000;
                        h2 {
                            background: url('../img/name/sp_nmsr_flow.png') no-repeat;
                            width: 990px;
                            height: 1189px;
                            display: block;
                            margin: 0 auto;
                            position: absolute;
                            left: 20px;
                            top: 70px;
                            text-indent: -9999px;
                        }
                    }
                    &.event05 {
                        background: url('../img/name/sp_nmsr_bg04.jpg');
                        height: auto;
                        overflow: hidden;
                        padding: 0 0 60px;
                        h2 {
                            background: url('../img/name/sp_nmsr_history.png') no-repeat;
                            width: 817px;
                            height: 69px;
                            display: block;
                            position: absolute;
                            top: 70px;
                            right: 70px;
                        }
                    }
                    &.event06 {
                        background-color: #000;
                        height: 350px;
                        h2 {
                            background: url('../img/name/sp_nmsr_contact.png') no-repeat;
                            width: 900px;
                            height: 185px;
                            display: block;
                            margin: 0 auto;
                            position: absolute;
                            left: 45px;
                            top: 70px;
                            text-indent: -9999px;
                            a{
                                clear: both;
                                display: block;
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }

                }

                /* 商品詳細紹介用 */
                &.spWrap {
                    overflow: hidden;
                    margin: 0 auto 100px;
                }
                .spContents_title {
                    h3 {
                        display: block;
                        text-align: center;
                        margin: 20px auto;
                        @include fsize(30, 2.0);
                        &.campaign_title {
                            margin: 40px auto 10px;
                            @include fsize(28, 1.5);
                            font-weight: normal;
                        }
                    }
                    p{
                        text-align: center;
                        margin: 0 0 20px;
                        @include fsize(13,1.5);
                    }
                }
                .spContents {
                    overflow: hidden;
                    border-bottom: 1px dashed #dfdfdf;
                    border-top: 1px dashed $sbc01;
                    ul {
                        margin: 0 auto;
                        li {
                            float: left;
                            width: 43.9%;
                            width: 43%\9;
                            margin: 8% 2%;
                            border: none;
                            position: relative;
                            b {
                                display: block;
                                position: relative;
                                left: -40px;
                                padding: 0 0 10px;
                                margin: 0 0 20px;
                                font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                                @include fsize(34, 1.5);
                            }
                            span {
                                @include fsize(18, 1.0);
                                font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                                &.price {
                                    @include fsize(10, 1.0);
                                    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                                }
                            }
                            a {
                                @include anm(0.2s);
                                text-decoration: none;
                                @include fsize(12,1.5);
                                &.ipLink {
                                    color: $bc;
                                    clear: both;
                                    width: 120px;
                                    padding: 6px 10px;
                                    border: 1px solid $bc;
                                    text-align: center;
                                    display: block;
                                    margin: 90px auto 60px;
                                    background-color: $mc;
                                    -webkit-border-radius: 4px 4px 4px 4px;
                                    border-radius: 4px 4px 4px 4px;
                                    &:hover {
                                        background: none;
                                        background-color: $bc;
                                        border: 1px solid $mc;
                                        color: $mc;
                                        -webkit-border-radius: 4px 4px 4px 4px;
                                        border-radius: 4px 4px 4px 4px;
                                    }
                                }
                            }
                            img {
                                max-width: 100%;
                                &.subImages {
                                    width: 40%;
                                    margin: 0 5%;
                                    display: block;
                                    float: left;
                                }
                            }
                            &.spContents_info {
                                background: url('../img/sp_bg_lp.gif');
                                border-top: 2px solid $sbc01;
                                height: 540px;
                                padding: 3% 2%;
                                display: block;
                            }
                            p {
                                height: 4em;
                                display: block;
                                margin: 10px 0 0;
                                @include fsize(14, 1.5);
                            }
                        }
                    }
                }
            }
            /* end mainWrap_container */
        }
        /* end mainWrap */
    }
}
