/* IMPORT RESET */

@import"../../styleguide/_scss/styleguide-default.scss";
@import"../../frameworks/css/responsive.gs.24col.css";

$line : 1px solid $sbc01;

@mixin main($url) {
    background: url($url);
    background-size:cover;
    background-position: 50% 50%;
    article{
        padding: 0;
    }
    
}

body {
    font-family: sans-serif;
    max-width: 800px;
}

aside {
    border:1px solid #ddd;
}

.container{
    overflow: hidden;
}


.line{
    display: none;
}


/* tabcontents rankContents */
#tabwrap { 
    overflow: hidden; 
    background-color: $bc;
    width: 100%;
    min-height: 300px;
    margin: 0 auto 30px;
    border: 1px solid #e8e8e8;
}
#tabs li {
    list-style: none;
    a{
        color: $acc;
        @include fsize(12,1.5);
        float: left; 
        display: block;
        padding: 6px;
        width: 14.28%;
        text-decoration: none;
        text-align: center;
        border-right: 1px solid #e8e8e8;
        border-bottom: 1px solid #e8e8e8;;
        &:hover{
            background: $mc;
            color: $bc;
            border:none;
        }
    }
    &:first-child a{
        border-left: 0;
    }

    &:last-child a{
        border-right: 0;
    }
    &.current a{
        background-color: $mc;
        color: $bc;
        border-bottom: none;
        &:hover{
            color: $bc;
        }
    }
}
#content{
    & >div {
        clear: both;
        padding: 20px;
        line-height: 19px;
        color: #666;
        display: none;
        a.otherLinks{
            @include fsize(12,1.5);
            text-align: center;
            width: 200px;
            padding: 4px 6px;
            clear: both;
            display: block;
            margin: 0 auto;
            background-color: $mc;
            color: $bc;
            text-decoration: none;
        }
    }
    .span_4{
        width: 32.0%;
    }
    .pos{
        margin-left: 0;
    }
    .current{
        display: block;
    }
    #home.first{
        display: block;
    }
    a{
        position: relative;
        color: $acc;
        
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
        .rank01,.rank02,.rank03,.rank04,.rank05,.rank06{
            display: block;
            width: 30px;
            height: 32px;
            margin: 0 auto;
        }
        .rank01{
            background:url('https://shopping.geocities.jp/dentouhonpo/img/top_rank01.png') no-repeat;
        }
        .rank02{
            background:url('https://shopping.geocities.jp/dentouhonpo/img/top_rank02.png') no-repeat;
        }
        .rank03{
            background:url('https://shopping.geocities.jp/dentouhonpo/img/top_rank03.png') no-repeat;
        }
        .rank04{
            background:url('https://shopping.geocities.jp/dentouhonpo/img/top_rank04.png') no-repeat;
        }
        .rank05{
            background:url('https://shopping.geocities.jp/dentouhonpo/img/top_rank05.png') no-repeat;
        }
        .rank06{
            background:url('https://shopping.geocities.jp/dentouhonpo/img/top_rank06.png') no-repeat;
        }
        img{
            max-width: 100%;
            margin: 0 0 5px;
        }

        p{
            margin: 0 0 20px 0;
            text-align-last: left;
            @include fsize(11,1.5);
            .price{
                @include fsize(10,1.5);
            }
        }
    }
}






/* --------------------------------スマートフォン-------------------------------- */







/* タブレット端末、スマートフォン用設定 */
@mixin addquery($point) {
    @media screen and (max-width: $point) {
        @content;
    }
}


@include addquery(768px) {
    .span_8,.span_4{
        overflow: hidden;
    }

    /* mainContents */
    .mainContents{
        margin: 0;
    }



    /* セパレート */
    .line{
        display: block;
        margin: 0;
        border-bottom: 1px dashed $mc;
    }



    /* tabcontents rankContents */
    .rankContents{
        padding: 0 10px;
        article{
            margin: 0 0 30px;
        }
    }
    #tabs li {
        a{
            width: 25%;
        }
        &:nth-child(5){
            clear: both;
        }
    }
    #content{
        & >div {
            padding: 10px;
        }
        ul{
            li{
                &.col{
                    width: 50%;
                    padding: 3% 3% 0;
                }
                &.hide{
                    display: none;
                }
            }
        }
    }

    /* serviceContents */
    .serviceContents{
        padding: 0 10px;
        article{
            .col{
                width: 33.333%;
                padding: 1%;
            }
        }


        a{
            text-decoration: none;
            span{
                @include fsize(12,1.6);
                position: relative;
                margin: 0 0 10px;
                
                opacity:1;
                filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
            }
            &:hover span{
                color: $bc;
                &.c01{
                    background: $sbc01;
                }
                &.c02{
                    background: $acc;
                }
                &.c03{
                    background: $mc;
                }
            }
        }
    }

    /* infoContent */
    .infoContents{
        overflow: hidden;
        margin: 0 0 40px;
        padding: 0 10px;
        article{
            .col{
                padding: 5px 0 7px;
                border-bottom: 1px dashed $sbc01;
            }
        }
        p{
            @include fsize(10,1.4);
            em{
                @include fsize(12,2.0);
            }
            a{
                @include fsize(10,1.4);
            }
        }
    }

    .ftr{
        display: none;
    }


    /* footer */
    .footer{
        padding: 20px 0 0;
        background-color: $bc;
        overflow: hidden;
        .title{
            display: block;
            margin: 0 10px 10px;
            clear: both;
        }

        ul{
            overflow: hidden;
            padding: 0 10px 30px;
            margin: 0 0 30px;
            @include sizing(100%);
            border-bottom: 1px dashed $sbc01;
            li{
                border: 1px solid #dfdfdf;
                border-top: none;
                width: 50%;
                float: left;
                padding: 0 0 0 10px;
                text-align: center;
                background: none;
                span{
                    display: none;
                }
                a{
                    display: block;
                    width: 100%;
                    height: 100%;
                    @include fsize(11,1.2);
                    line-height: 3.0;
                }
                &:nth-child(2n){
                    border-left: none;
                }
                &:nth-child(1),&:nth-child(2){
                    border-top: 1px solid #dfdfdf;
                }
            }
        }
        p{
            padding: 0 10px;
        }
    }

    /* credit */
    .credit{
        padding: 0 10px 10px;
        ul{
            li{
                float: left;
                margin: 0 0 6px;
            }
        }
    }
}






/* 480px以上の時 */
@media only screen and (min-width: 480px) {

}

