/* IMPORT RESET */
@import"../../frameworks/_scss/styleguide-genre.scss";
@import"../../frameworks/_scss/responsive.gs.12col.scss";
@import "../../_scss/sprite-leftnav.scss";
$line : 1px solid $sbc01;

@mixin main($url) {
    background: url($url);
    background-size:cover;
    background-position: 50% 50%;
    article{
        padding: 0;
    }
    
}


.navigation{
    @include sizing(100%);
    .navigation__title{
        width: 35px;
        position: absolute;
        left: 0;
        top: 0;
        padding: 8px 0;
        background-color: $bc;
        a{
            display: block;
            width: 100%;
            height: 100%;
            img{
                display: block;
                margin: 0 auto;
            }
        }
    }
    /* サブメニュー */
    .submenu{
        position: absolute;
        top: 0;
        @include sizing(77%);
        left: 36px;
        border: none;
        background-color:$mc;
        .submenu__cart,.submenu__guide{
            width: 29px;
            float: left;
            padding: 10px 3px 0;
            img{
                display: block;
                margin: 0 auto;
            }
        }
        .submenu__search{
            float: left;
            padding: 0;
            width: 71%;
            .submenu__search__input{
                float: left;
                display: block;
                width: 71%;
                @include fsize(0.7);
                border: none;
                padding: 4px 0;
                margin: 8px 4px 0 8px;
                -webkit-border-radius: 2px 2px 2px 2px;
                border-radius: 2px 2px 2px 2px;
            }
            .submenu__search__btn{
                background: url("../../frameworks/img/search.png") 50% 50% no-repeat;
                background-size: 22px 22px;
                display: block;
                margin: 0 auto;
                float: left;
                height: 35px;
                width: 35px;
                padding:0;
                style:none;
                border: none;
            }
        }
    }
}




a.meanmenu-reveal {
    display: none;
}

.mean-container{
    .mean-bar {
        width: 100%;
        float: left;
        position: relative;
        background: $mc;
        min-height: 40px;
        z-index: 999999;
        display: none;
        span{
            display: block;
            background: #fff;
            height: 2px;
            margin-top: 4px;

        }
    }
    .mean-nav {
        float: left;
        width: 100%;
        background: $bc;
        margin-top: 40px;
        ul {
            padding: 0;
            margin: 0;
            width: 100%;
            list-style-type: none;
            li {
                position: relative;
                float: left;
                width: 100%;
                border: 1px solid $mc;
                border-bottom: none;
                a {
                    display: block;
                    float: left;
                    width: 90%;
                    padding: 0.25em 5%;
                    margin: 0;
                    text-align: left;
                    color: $acc;
                    border-top: 1px solid #383838;
                    border-top: 1px solid rgba(255,255,255,0.5);
                    text-decoration: none;
                    text-transform: uppercase;
                    &:hover {
                        background-color: $mc;
                        background: rgba(255,255,255,0.1);
                    }
                    &.mean-expand {
                        width: 26px;
                        height: 20px;
                        padding: 3px 7px !important;
                        text-align: center;
                        position: absolute;
                        right: 0;
                        top: 0;
                        vertical-align: top;
                        line-height: 1.0;
                        z-index: 2;
                        font-weight: 700;
                        background: rgba(255,255,255,0.1);
                        border: none !important;
                        border-left: 1px solid rgba(255,255,255,0.4) !important;
                        border-bottom: 1px solid rgba(255,255,255,0.2) !important;
                        color: $mc;
                        &:hover {
                            color: $bc;
                            background-color: $mc;
                            background: rgba(232,73,37,0.9);
                            a{

                                background-color: $mc;
                            }
                        }
                    }
                }
                li{
                    a {
                        width: 80%;
                        padding: 0.25em 10%;
                        border-top: 1px solid #f1f1f1;
                        border-top: 1px solid rgba(255,255,255,0.25);
                        opacity: 0.75;
                        filter: alpha(opacity=75);
                        text-shadow: none !important;
                        visibility: visible;
                    }
                    li{
                        a {
                            width: 70%;
                            padding: 0.25em 15%;
                        }
                        li{
                            a {
                                width: 60%;
                                padding: 0.25em 20%;
                            }
                            li{
                                a {
                                    width: 50%;
                                    padding: 0.25em 25%;
                                }
                            }
                        }
                    }
                }
                .mean-last a {
                    border-bottom: none;
                    margin-bottom: 0;
                }
            }
        }
        .wrapper {
            width: 100%;
            padding: 0;
            margin: 0;
        }
    }
    .mean-push {
        float: left;
        width: 100%;
        padding: 0;
        margin: 0;
        clear: both;
    }
    .meanmenu-reveal {
        background-color: $mc;
        width: 17px;
        height: 16px;
        padding: 9px 9px 14px 9px;
        position: absolute;
        border: 1px solid $bc;
        border-bottom: none;
        margin: 0;
        top: 0;
        right: 0;
        cursor: pointer;
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        text-indent: -9999em;
        line-height: 22px;
        font-size: 1px;
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
    }
}
.mean-container .mean-bar, .mean-container .mean-bar * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}


.mean-remove {
    display: none !important;
}

/*  EXAMPLE STYLES */
body {
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    color: $acc;
    line-height: 1.7;
    img{
        border: none;
    }
}
#bghack {
    z-index : -1;
    background-image : url('../img/cate_bg.jpg');
    background-repeat : repeat;
    background-size : 70px 79px;
    position : fixed;
    top : 0;
    left : 0;
    right : 0;
    bottom : 0;
}
header {
    text-align: left;
    background: $bc;
    height: 600px;
    width: 100%;
}
article {
    height: auto;
    text-align: left;
    /* background: $bc; */
    padding: 2% 0%;
    a{
        color: $acc;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
        &:visited{
            color: $acc;
        }
        &:link{
            color: $acc;
        }
        &:active{
            color: $mc;
        }
    }
    &.span_12{
        position: relative;
        height: 200px;
    }
}
aside {
    height: auto;
    text-align: left;
    /* background: #999; */
    padding: 2% 0%;
}
footer {
    text-align: left;
    padding: 0 0 2%;
}
/* original stylesheet */

/* 共通設定 */
.bnr {
    img {
        @include sizing(100%);
    }
    p{
        margin: 5% 0 0;
        padding: 10%;
        &.pt01{
            color: $bc;
        }
        &.pt02{
            color: $acc;
        }

    }
}


h1{
    @include fsize(2.5);
    @include sizing(60%);
    margin: 0 auto;
    color: $bc;
    position: relative;
    text-align: center;
    top: 50%;
    padding: 20px;
    border-top: 1px dotted $bc;
    border-bottom: 1px dotted $bc;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

h2{
    display: block;
    font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
    font-weight: bold;
    @include fsize(2.0);
    @include sizing(80%);
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    border-top: 1px dotted $bc;
    border-bottom: 1px dotted $bc;
    color: $bc;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}


em {
    font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
    font-weight: bold;
    @include fsize(2.0);
    text-align: center;
    margin: 1rem auto;
    margin: 10px auto;
    padding: 0 0 0.5rem 0;
    padding: 0 0 5px 0;
    display: block;
    width: 78%;
    border-bottom: 1px dotted $mc;
}
h3 {
    padding: 0;
    margin: 0;
    clear: both;
    display: block;
}
.tagGroup {
    font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
    font-weight: bold;
    width: 100%;
    margin: 1.0rem 0;
    margin: 15px 0;
    padding:0 0 5px 0;
    overflow: hidden;
    height: auto;
    span {
        @include fsize(0.8);
        display: block;
        float: right;
        margin:0 0 0 0.5rem;
        margin:0 0 0 5px;
        padding: 0 0.5rem;
        padding: 0 5px;
        width: 38px;
        height: 44px;
        color: $bc;
        line-height: 2.7rem;
        line-height: 44px;
        background:url(../img/icon.png) no-repeat;
        background-size: cover;
        text-align: center;
    }
    li {
        span {
            clear: both;
            float: none;
            display: block;
            margin: auto;
            @include fsize(0.8);
        }
        p {
            clear: both;
            text-align-last: center;
        }
    }
}
/* PC用設定 */
header {
    .nav {
        display: none;
    }
    iframe {
        margin: 0 auto;
        display: block;
        width: 100%;
        height: 100%;
    }
}
.container {
    padding: 0 0 6rem 0;
    padding: 0 0 90px 0;
    background-color: $bc;
    border-bottom: $line;
    h3 {
        line-height: 1.1;
    }
    .catchBanner {
        height: 200px;
        width: 100%;
        margin: 3.6rem 0 0 0;
        margin: 60px 0 0 0;
        &:first-child {
            margin: 0;
        }
    }

    #mainBanner{
        height: 300px;
        article{
            height: 300px;
        }
    }
    .w{
        h1,h2{
            color: $bc;
            border-color: $bc;
        }
    }

    .b{
        h1,h2{
            color: $acc;
            border-color: $acc;
        }
    }
	
    /* 結婚祝い */
    .mainMarried{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_married.jpg');
    }
    /* 引き出物 */
    .mainWedding{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_wedding.jpg');
    }
    /* 誕生日 */
    .mainBirth{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_birth.jpg');
    }
    /* 出産祝い */
    .mainBaby{ 
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_baby.jpg');
    }
    /* 新築祝い */
    .mainBuild{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_build.jpg');
    }
    /* 内祝 */
    .mainCeleb{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_celeb.jpg');
    }
    /* 長寿祝い */
    .mainOlder{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_older.jpg');
    }
    /* 還暦祝い */
    .mainOlderKanreki,#Kanreki{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_kanreki.jpg');
    }
    /* 緑寿祝い */
    .mainOlderRokujyu,#Ryokujyu{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_rokujyu.jpg');
    }
    /* 古希・喜寿祝い */
    .mainOlderKoki,#Koki{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_koki.jpg');
    }
    /* 傘寿・米寿・卒寿祝い */
    .mainOlderBeijyu,#Beijyu{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_beijyu.jpg');
    }
    /* 海外への贈り物 */
    .mainOversea{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_oversea.jpg');
    }
    /* 定番法人ギフト */
    .mainPopular{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_popular.jpg');
    }
    /* 結婚記念日 */
    .mainAnnivers{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_grandparent.jpg');
    }
    /* 金婚銀婚式 */
    .mainGoldsilver{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_kinkonsiki.jpg');
    }
    /* 予算で贈る */
    .mainBudget,#budgetBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_budgetmain.jpg');
    }
    /* 友人、兄弟に贈る */
    .mainFriends{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_friend.jpg');
    }
    /* 子どもに贈る */
    .mainChildren{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_children.jpg');
    }
    /* 相手に合わせて贈る */
    .mainType,#typeBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_type.jpg');
    }

    /* 祖父母に贈る */
    .mainGparents{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_grandparent.jpg');
    }
    /* 両親に贈る */
    .mainParents{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_parents.jpg');
    }
    /* 夫に贈る */
    .mainHusband{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_husband.jpg');
    }
    /* 妻に贈る */
    .mainWife{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_wife.jpg');
    }
    /* 退職祝い */
    .mainRetire{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_retire.jpg');
    }
    /* 開業祝い */
    .mainBusiness{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_business.jpg');
    }

    /* 皿・鉢 */
    .mainDish,.mainLargebowl{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_dish.jpg');
    }
    /* 花瓶 */
    .mainFlower{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_flower.jpg');
    }
    /* 飾り皿 */
    .mainPlate,#plateBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_plate.jpg');
    }
    /* 香炉 */
    .mainAroma{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_aroma.jpg');
    }
    /* カップ */
    .mainCup{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_cup.jpg');
    }
    /* 茶器 */
    .mainTea{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_tea.jpg');
    }
    /* 茶器 */
    .mainSetpotcup{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_setcup.jpg');
    }
    /* マグ */
    .mainMug{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_mug.jpg');
    }
    /* 茶碗 */
    .mainPairrice,#pairriceBanner {
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_rice.jpg');
    }
    /* 茶碗 */
    .mainRice {
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_rice.jpg');
    }
    /* 酒器 */
    .mainBeer {
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_beer.jpg');
    }
    /* 縁起置物 */
    .mainItem,#itemBanner {
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_item.jpg');
    }
    /* インテリア */
    .mainInterior,#clockBanner {
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_interior.jpg');
    }
    /* ランキング */
    .mainRanking {
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_rank.jpg');
    }
    /* 食卓小物 */
    .mainTable {
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_table.jpg');
    }
    /* 鍋 */
    .mainPan {
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_pan.jpg');
    }
    /* バレンタイン */
    .main214 {
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_214.jpg');
    }



    /* 売れ筋ランキング */
    #rankBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_sample06.jpg');
    }
    /* 使い心地が良い */
    #usefullBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_usefull.jpg');
    }
    /* おしゃれな方へ */
    #designBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_design.jpg');
    }
    /* 料理好きな方へ */
    #cookBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_cooking.jpg');
    }
    /* くつろぎの器 */
    #healingBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_healing.jpg');
    }
    /* 予算別 */
    #budgetBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_budget.jpg');
    }
    /* 豆知識 */
    #knowledgeBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_knowledge.jpg');
    }
    /* ギフトサービス */
    #giftBanner,#linksBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/cmn_ftr_header.jpg');
        h2{
            color: $acc;
            border-color: $acc;
        }
    }

    /* 細形花瓶 */
    #slimflowervaseBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_slimflowervase.jpg');
    }
    /* 一輪生 */
    #singleflowervaseBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_singleflowervase.jpg');
    }
    /* ナツメ型花瓶 */
    #caddyflowervaseBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_caddyflowervase.jpg');
    }
    /* 飾り花瓶 */
    #displayflowervaseBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_displayflowervas.jpg');
    }
    /* 華やかな器*/
    #gorgeousBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_gorgeous.jpg');
    }
    /* 皿立て*/
    #standBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_stand.jpg');
    }
    /* かたちで選ぶ*/
    #shapeBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_shape.jpg');
    }
    /* 作家物*/
    #artistBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_artist.jpg');
    }
    /* 香炉 */
    #aromaBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_aroma.jpg');
    }
    /* 香炉 */
    #smallaromaBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_smallaroma.jpg');
    }
    /* 香合 */
    #aromaboxBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_aromabox.jpg');
    }
    /* コーヒーカップ */
    #mugBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_mug.jpg');
    }
    /* フリーカップカップ */
    #freecupBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_beercup.jpg');
    }
    /* コーヒーカップ */
    #coffeecupBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_coffeecup.jpg');
    }
    /* コーヒーカップ */
    #coffeecupsetBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_coffeecupset.jpg');
    }
    /* 小皿・中皿 */
    #smalldishBanner,.mainSmalldish{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_smalldish.jpg');
    }
    /* 小鉢・中鉢 */
    #smallbowlBanner,.mainSmallbowl{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_smallbowl.jpg');
    }
    /* 盛皿・大皿 */
    #largedishBanner,.mainLargedish{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_largedish.jpg');
    }
    /* パスタ皿 */
    #pastaBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_pasta.jpg');
    }
    /* 湯呑 */
    #teacupBanner,.mainTeacup{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_teacup.jpg');
    }
    /* 夫婦湯呑 */
    #pairteacupBanner,#pairBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_pairteacup.jpg');
    }
    /* 汲み出し揃え */
    #setcupBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_setcup.jpg');
    }
    /* 茶器セット */
    #setpotcupBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_setpotcup.jpg');
    }
    /* 伝統的庵絵柄 */
    #traditionalBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_traditional.jpg');
    }
    /* ハレの日に */
    #specialdayBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_specialday.jpg');
    }
    /* 丼。おひつ */
    #ricebowlBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_ricebowl.jpg');
    }
    /* ご飯茶碗 */
    #singlericeBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_singlerice.jpg');
    }
    /* 夫婦茶碗 */
    #setriceBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_setrice.jpg');
    }
    /* ビアカップ */
    #beercupBanner,.mainSet{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_beercup.jpg');
    }
    /* 日本酒 */
    #sakecupBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_sakecup.jpg');
    }
    /* 焼酎カップ */
    #spiritBanner,.mainSpirit{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_spirit.jpg');
    }
    /* ワインカップ */
    #winecupBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_winecup.jpg');
    }
    /* 招き猫 */
    #catBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_cat.jpg');
    }
    /* ふくろう */
    #owlBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_owl.jpg');
    }
    /* 獅子 */
    #leoBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_leo.jpg');
    }
    /* 傘立て */
    #umbrBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_umbr.jpg');
    }
    /* 小物 */
    #goodsBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_goods.jpg');
    }
    /* 風鎮 */
    #weightBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_weight.jpg');
    }
    /* 焼酎サーバー */
    #serverBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_server.jpg');
    }
    /* 蓋物 */
    #boxBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_box.jpg');
    }
    /* 箸置き */
    #restBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_rest.jpg');
    }
    /* 醤油差し */
    #bottleBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_bottle.jpg');
    }
    /* スプーン */
    #spoonBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_spoon.jpg');
    }
    /* こだわりの器 */
    #characteristicBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_characteristic.jpg');
    }
    /* タジン鍋 */
    #tagineBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_tagine.jpg');
    }
    /* その他セット物 */
    #setBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_set.jpg');
    }

    /* 陶額 */
    #pictureBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_picture.jpg');
    }
    /* 花台 */
    #flstandBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_flstand.jpg');
    }

    /* 祝い事で選ぶ */
    #eventBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_event.jpg');
    }
    /* お返しで選ぶ */
    #re_eventBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_re_event.jpg');
    }
    /* 商品の種類で選ぶ */
    #genreBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_genre.jpg');
    }
    /* 富士山の情景 */
    #mountBanner{
        @include main('https://shopping.c.yimg.jp/lib/dentouhonpo/bnr_mount.jpg');
    }







    #introDuction {
        padding: 0.66rem;
        padding: 10px;
        .span_12 {
            width: 100%;
            height: auto;
            em{
                @include fsize(1.5);
            }
            p {
                text-align: center;
                margin: 0 auto;
                display: block;
                width: 78%;
            }
        }
    }
    #tagInfo {
        width: 100%;
        /* padding: 0.66rem;
        padding: 10px; */
        .span_12{
            height: auto;
            p{
                text-align: center;
                span{
                    @include fsize(1.3);
                    font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
                }
            }
        }
        ul {
            @include sizing(70%);
            /* IE対策 */
            margin: 0 auto;
            li {
                @include sizing(16.6666667%);
                *width:10%;
                float: left;
                padding:2%;
                *padding: 24px;
                img {
                    width: 100%;
                }
                p {
                    text-align: center;
                    margin: 2% 0 0;
                }
            }
        }
    }
    #rankItem {
        padding: 0.66rem;
        padding: 10px;
        .rank01{
            width: 86px;
            height: 86px;
            position: absolute;
            z-index: 9999px;
            top: 26px;
            background:url(../img/rank01.png) no-repeat;
        }
        .rank02,.rank03,.rank04,.rank05{
            width: 43px;
            height: 43px;
            position: absolute;
            z-index: 9999px;
            top: -10px;
        }
        .rank02{
            background:url(../img/rank02.png) no-repeat;
        }
        .rank03{
            background:url(../img/rank04.png) no-repeat;
        }
        .rank04{
            background:url(../img/rank03.png) no-repeat;
        }
        .rank05{
            background:url(../img/rank05.png) no-repeat;
        }


        .span_6 {
            article {
                @include sizing(100%);
                padding: 5%;
                position: relative;
                img {
                    width: 100%;
                    display: block;
                    &.captionImage {
                        width: 30%;
                        float: left;
                        margin: 1.0rem 0;
                        margin: 10px 0;
                        display: block;
                    }
                }
                h3 {
                    clear: both;
                }
                div.image{
                    position: absolute;
                    right: 20px;
                }
            }
        }
        .span_3 {
            article {
                @include sizing(100%);
                overflow: hidden;
                padding: 10%;
                *padding:20px;
                .image{
                    margin: 0;
                    background-color: #000;
                    position: relative;
                    .tagGroup{
                        position: absolute;
                        bottom: 0px;
                        right: 4px;
                    }
                }
                div {
                    @include sizing(100%);
                    padding: 0;
                    float: left;
                    overflow: hidden;
                    *margin: 0;
                    margin: 0 0 0.66rem 0;
                    margin: 0 0 10px 0;
                    img {
                        width: 100%;
                    }
                    /* tagGroup setting */
                    div {
                        margin: 0.66rem 0;
                        margin: 10px 0;
                    }
                    p {
                        height: 6rem;
                    }
                    .tagGroup{
                        *padding: 0\9;
                        right: 0\9;
                        bottom: -5px\9;
                        span{
                            padding: 0\9;
                            margin: 0\9;
                            width: 55px\9;
                            height: 60px\9;
                            line-height: 36px\9;
                            font-size: 14px\9;
                            text-align: center\9;
                            text-indent: 0em\9;
                        }
                        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
                            span{
                                width: 38px;
                                height: 38px;
                                font-size: 13px;
                                line-height: 36px;
                                text-indent: 0em;
                            }
                        }
                        &:not(:target){
                            span{
                                padding: 0\9;
                                margin: 0\9;
                                width: 38px\9;
                                height: 38px\9;
                                line-height: 36px\9;
                                font-size: 14px\9;
                                text-align: center\9;
                                text-indent: 1em\9;
                            }

                        }
                    }
                }
            }
        }
    }
    /* rankingItem */
    #categoryMenu {
        *clear: both;
        margin: 3.33rem 0;
        margin: 50px 0;
        padding: 1rem;
        padding: 10px;
        .span_12 {
            h2{
                color: $acc;
                width: 80%;
            }
            article {
                background-image : url('../img/cate_bg02.png');
                background-repeat : repeat;
                background-size : 50px 50px;
                border: none;
                border-left: 2px solid $bc;
                border-right: 2px solid $bc;
                display: block;
                overflow: hidden;
                margin: 0;
                span {
                    text-align: center;
                    display: block;
                    float: left;
                    @include sizing(20%);
                    *width:18%;
                    *margin:0 1%;
                    padding:1rem 1.25rem;
                    padding:16px 20px;
                    a {
                        width: 100%;
                        display: block;
                        padding: 1rem 0;
                        color: $acc;
                        background-color: $bc;
                        text-decoration: none;
                        @include fsize(1);
                        @include anm(0.5s);
                        font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
                        &:visited {
                            color: $acc;
                        }
                        &:hover {
                            background-color: $mc;
                            color: $bc;
                        }
                    }
                }
            }
        }
    }
    /* categoryMenu */
    .publicCategory{
        .image{
            position: relative;
            .tagGroup{
                position: absolute;
                right: 4px;
            }
            .cf{
                position: relative;
                top: 30px;
            }
        }
        .subCategory{
            @include sizing(100%);
        }
    }

    /* public category style */
    #useFull,#heaLing,#cooKing,#deSign {
        padding: 0.625rem;
        padding: 10px;
        div.col {
            margin-left: 0;
            article {
                overflow: hidden;
                div {
                    @include sizing(50%);
                    *width:45%;
                    float: left;
                    padding: 2%;
                    img {
                        width: 100%;
                    }
                    div {
                        margin: 0;
                        width: 100%;
                        padding:0;
                    }
                    .tagGroup {
                        margin: 0 0 1rem;
                    }
                    p {
                        height: 140px;
                        overflow: hidden;
                    }

                    /* カテゴリ全体ページ用設定 */
                    &.wrapGenre{
                        margin: 0 4%;
                        @include sizing(100%);
                        h2{

                            -webkit-transform: translateY(0);
                            -moz-transform: translateY(0);
                            -ms-transform: translateY(0);
                            -o-transform: translateY(0);
                            transform: translateY(0);
                        }
                    }
                }
            }
        }
    }
    /* useFull */
    .budGet {
        padding: 0.66rem;
        padding: 10px;
        .price {
            display: block;
            width: 50%;
            color: $acc;
            font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif, "ＭＳ Ｐ明朝", "MS PMincho";
            border-bottom: $line;
            height: 30px;
            text-align: center;
            margin: 0 auto 0.3rem;
            margin: 0 auto 5px;
            padding: 1.33rem 0 1rem;
            padding: 20px 0 16px;
            @include fsize(1.8);
        }
        hr{
            border: none;
            width: 60%;
            border-bottom: 2px solid $sbc01;
            margin: 0 auto 1rem;
        }
        .span_4 {
            @include sizing(33.3%);
            *width: 25%;
            margin: 0;
            padding: 1% 4%;
            div {
                position: relative;
                img {
                    width: 100%;
                }
                .tagGroup{
                    position: absolute;
                    top: -75px;
                    right: 5px;
                }
                h3{
                    margin: 10px 0 0;
                }
            }
        }
    }
    /* budGet */
    #knowLedge,.giftService,.categoryLinks {
        padding: 0.66rem;
        padding: 10px;
        article{
            dl{
                dt{
                    margin: 15px 0 0 0;
                    font-weight: bold;
                }
            }
            a{
                text-decoration: underline;
                color: $mc;
            }
        }
    }

    #knowLedge {
        @include sizing(100%);
        article {
            @include sizing(50%);
            *width: 50%;
            padding: 3% 3% 3% 2%;
            float: left;
            &.wrap{
                @include sizing(100%);
                *width:100%;
            }
        }
        aside {
            &.col {
                margin-left: 0;
            }
            @include sizing(50%);
            *width: 44%;
            float: left;
            ul {
                @include sizing(100%);
                li {
                    @include sizing(33.3%);
                    *width: 29%;
                    float: left;
                    padding: 2%;
                    img {
                        width: 100%;
                        margin-bottom: 6%;
                    }
                }
            }
        }
    }
    /* knowLedge */
    .giftService,.categoryLinks {
        *height:100%;
        *overflow: hidden;
        *margin: 30px 0 0;
        article{
            padding: 3% 2%;
        }
        .col:first-child.rightPos {
            margin: 0;
        }
        .span_8 {
            @include sizing(100%);
            margin-left: 0;
            h4 {
                margin-bottom: 10px;
                text-align: center;
                background-color: $bc;
                color: $mc;
                border: 1px solid $mc;
                padding: 6px 0;
                font-weight: normal;
            }
        }
        .span_4 {
            *display: block;
            @include sizing(100%);
            margin-left: 0;
            p{
                @include sizing(33.3%);
                *width: 29%; 
                display: block;
                float: left;
                padding:0 2%;
                img{
                    max-width: 100%;
                    display: block;
                    margin: 0 auto;
                    border: 1px solid $sbc01;
                }
            }
        }
    }
    /* giftService-fin */


    .categoryLinks{
        margin: 10px 0 0 0;
        article{
            @include sizing(100%);
            height: 100px;
            div{
                @include sizing(29%);
                text-align: center;
                margin: 0 2% 2%;
                float: left;
                a{
                    @include fsize(1.1);
                    text-decoration: none;
                    width: 100%;
                    height: 100%;
                    padding: 5px;
                    display: block;
                    background-color: $sbc03;
                    color: $bc;
                    @include rad(3,3,3,3);
                    @include anm(0.2s);
                    span{
                        @include anm(0.2s);
                    }
                    &:hover{
                        background-color: $mc;
                        text-decoration: none;
                        span{
                            padding: 0 0 0 10px;
                        }
                    }
                }
            }
        }
    }
    .moreLink,.parentLink{
        margin: 0;
        overflow: hidden;
        article{
            height: auto;
            div{
                width: 30%;
                text-align: center;
                margin: 2% auto 0;
                a{
                    @include fsize(1.1);
                    width: 100%;
                    height: 100%;
                    padding: 10px;
                    display: block;
                    background-color: $sbc03;
                    color: $bc;
                    @include rad(3,3,3,3);
                    @include anm(0.2s);
                    span{
                        @include anm(0.2s);
                    }
                    &:hover{
                        background-color: $mc;
                        text-decoration: none;
                        span{
                            padding: 0 0 0 10px;
                        }
                    }
                }
            }
        }
    }
    .moreLink{
        border-bottom: 1px solid $sbc01;
        padding:0 0 20px 0;
    }
    .parentLink{

    }
    /* moreLink-fin */
}
/* container */
footer {
    iframe {
        display: block;
        width: 100%;
        height: 2455px;
        margin: 0 auto;
        overflow: hidden;
    }
    #sp { 
        display: none;
    }
}
@mixin addquery($point) {
    @media screen and (max-width: $point) {
        @content;
    }
}

/* 楽天カテゴリページ用 */

@include addquery(801px) {
    @media only screen and (min-width: 799px) {
        #categoryMenu{
            display: none;
        }
        header{
            display: none;
        }
        footer{
            display: none;
        }
        .container{
            /* public category style */
            #useFull,#heaLing,#cooKing,#deSign {
                padding: 0.625rem;
                padding: 10px;
                div.col {
                    margin-left: 0;
                    article {
                        div {
                            p {
                                height: 96px;
                            }
                        }
                    }
                }
            }
        }
    }
}













/* タブレット端末、スマートフォン用設定 */
@include addquery(768px) {

    .mean-container{
        .mean-bar {
            display: block;
        }
    }

    /* 480px以上の時 */
    @media only screen and (min-width: 480px) {
        h2, h3, h4 {
            @include fsize(1.4);
            display: block;
            line-height: 1.1;
        }
        .publicCategory{
            h3{
                margin-top: 25%;
            }
        }
    }
    h2, h3, h4 {
        @include fsize(1.0);
        margin-bottom: 1.2rem;
        display: block;
        line-height: 1.1;
    }
    h3 {
        padding:0;
        margin: 0;
    }
    .shopName {
        @include fsize(0.8);
        font-weight: bold;
        margin-bottom: 1.2rem;
        display: block;
    }
    header {
        background-color: $bc;
        color: $bc;
        height: auto;
        iframe {
            display: none;
        }
        .wf .fs1 {
            font-size: 24px;
            border: 1px solid $sbc01;
            border-right: none;
            height: 43px;
            padding: 0;
            margin: 0 auto;
            color: $acc;
        }
        .nav {
            @include sizing(100%);
            display: block;
            height: auto;
            overflow: hidden;
            a {
                text-decoration: none;
                color: $acc;
            }
            .shopName {
                display: block;
                @include sizing(75%);
                padding: 0;
                float: left;
                margin:0;
                border: 1px solid $sbc01;
                border-right: none;
                border-left: none;
                height: 45px;
                text-indent: 0.25rem;
                font-size: 0.9rem;
                line-height: 3;
                font-weight: normal;
                img {
                    width: 1.5rem;
                    height: 1.5rem;
                    display: block;
                    margin: 0.5rem;
                    float: left;
                }
            }
            div.menu {
                @include sizing(25%);
                float: left;
                a {
                    text-align: center;
                    display: block;
                    width: 50%;
                    float: left;
                }
            }
        }
    }
    .container {
        background: none;
        #useFull,#heaLing,#cooKing,#deSign {
            div.col {
                width: 100%;
                article {
                    div {
                        @include sizing(50%);
                        float: left;
                        padding: 2%;
                        img {
                            width: 70%;
                            margin: 0 auto;
                            display: block;
                        }


                        /* カテゴリ全体ページ用設定 */
                        &.wrapGenre{
                            margin: 0;
                            @include sizing(100%);
                        }
                    }
                    div#rightChange {
                        float: right;
                    }
                }
            }
        }
        /* useFull */

        @media only screen and (min-width: 480px) {
            h1{
                @include fsize(2);
                @include sizing(80%);
            }
            h2{
                @include fsize(1.8);
                @include sizing(60%);
            }
            em{
                @include fsize(1.5);
                @include sizing(60%);
            }
        }
        h1{
            @include fsize(1.8);
            @include sizing(90%);
        }
        h2{
            @include fsize(1.5);
            @include sizing(90%);
        }
        em{
            @include fsize(1.2);
            @include sizing(90%);
        }


        #rankBanner,#usefullBanner,#designBanner,#cookBanner,#healingBanner,#budgetBanner,#knowledgeBanner,#giftBanner{
            height: 200px;
            article{
                height: 200px;
            }
        }

        #introDuction {
            .span_12 {
                em{
                    @include fsize(1.3);
                }
                p {
                    margin: 1% 0 2%;
                    width: 100%;
                }
            }
        }
        /* introDuction */
        .tagGroup {
            height: auto;
            width: 80%;
            span {
                @include fsize(0.6);
                margin:0 0 0.2rem 0.2rem;
                padding: 0.2rem 0.2rem;
                width: 28px;
                height: 25px;
                line-height: 1.7rem;
            }
            li {
                span {
                    @include fsize(0.8);
                    width: 38px;
                    height: 34px;
                    margin: 0 auto;
                    line-height: 2.3rem;
                }
                p {
                    clear: both;
                    text-align-last: center;
                }
            }
        }
        #tagInfo {
            .span_12 {
                @media only screen and (min-width: 480px) {
                    ul{
                        @include sizing(80%);
                    }
                }
                ul {
                    @include sizing(100%);
                    li {
                        @include sizing(16.6666667%);
                        float: left;
                        padding:1%;
                        img {
                            margin-top: 20%;
                            width: 100%;
                        }
                        p {
                            @include fsize(0.6);
                            width: 100%;
                            display: block;
                            text-align: center;
                            margin: 2% 0 0;
                        }
                    }
                    &#fixIcon{
                        width: 100% !important;

                    }
                }
            }
        }
        /* tagInfo */
        #rankItem {
            .tagGroup{
                @media only screen and (min-width: 480px) {
                    span {
                        @include fsize(0.75);
                        margin:0 0 0.2rem 0.2rem;
                        padding: 0.2rem 0.2rem;
                        width: 38px;
                        height: 34px;
                        line-height: 2.3rem;
                    }
                }
            }
            .rank01{
                top:35px;
            }
            .rank02,.rank03,.rank04,.rank05{
                top: -5px;
            }
            .span_6 {
                width: 100%;
                margin: 0 0 2rem 0;
                article {
                    padding: 1rem;
                    img {
                        margin:1rem auto;
                        display: block;
                        /* 768px以下の時 */
                        @media only screen and (max-width: 480px) {
                            &.captionImage {
                                display: none;
                            }
                        }
                    }
                    div.image{
                        position: relative;
                        right: 0;
                    }
                    .tagGroup{
                        width: 100%;
                    }
                }
            }
            .span_3 {
                width: 50%;
                float: left;
                padding: 0;
                article {
                    @include sizing(100%);
                    overflow: hidden;
                    padding: 0;
                    div {
                        @include sizing(100%);
                        padding: 0.5rem;
                        margin: 0;
                        /* tagGroup setting */
                        div {
                            width: 100%;
                            padding: 0;
                            margin: 5px 0 0;
                        }
                        h3{
                            line-height: 1.9rem;
                        }
                    }
                }
            }
            .col {
                margin-left: 0;
            }
        }
        /* rankingItem */
        #categoryMenu {
            padding: 0;
            width: 100%;
            .span_12 {
                h2{
                    width: 80%;
                    margin: auto;
                    padding: 0;
                }
                article {
                    @include sizing(100%);
                    span {
                        @include sizing(50%);
                        padding:0 0.5rem;
                        margin: 0.5rem 0 0 0;
                        a {
                            text-align: center;
                            display: block;
                            padding: 0.5rem 0;
                            @include fsize(0.8);
                        }
                        &:first-child{
                            @include sizing(100%);
                            margin:0;
                        }
                    }
                }
            }
        }

        .publicCategory{
            .image{
                .cf{
                    top: 0px;
                }
            }
        }
        /* public categoryMenu */
        #useFull,#heaLing,#cooKing,#deSign  {
            div.col {
                width: 100%;
                @media only screen and (min-width: 480px) {
                    article {
                        border-bottom: 1px dashed $sbc01;
                        overflow: hidden;
                        margin: 0 0 1rem 0;
                        div {
                            img {
                                width: 70%;
                                margin: 0 auto;
                                display: block;
                            }
                        }
                    }
                }
                article {
                    div {
                        @include sizing(50%);
                        float: left;
                        padding: 2%;
                        img {
                            width: 100%;
                            margin: 0 auto;
                            display: block;
                        }
                        .tagGroup {
                            margin-bottom: 0;

                            @media only screen and (min-width: 480px) {
                                span {
                                    @include fsize(0.75);
                                    margin:0 0 0.2rem 0.2rem;
                                    padding: 0.2rem 0.2rem;
                                    width: 38px;
                                    height: 34px;
                                    line-height: 2.3rem;
                                }
                            }
                        }
                        p{

                            height: 80px;
                        }
                        h3{
                            line-height: 1.9rem;
                        }
                    }
                    div#rightChange {
                        float: right;
                    }
                }
            }
        }
        /* useFull */

        /* 予算別スマートフォン用レイアウト */
        .budGet {
            .span_4 {
                padding: 2%;
                h3 {
                    line-height: 1.5rem;
                    padding: 0;
                    margin: 0.5rem 0 0;
                    height: 1.5rem;
                    overflow: hidden;
                }
                div {
                    img {
                        width: 100%;
                    }
                    .tagGroup {
                        width: 100%;
                        margin: 0.2rem 0 0 0;
                        padding: 0;
                        height: auto;
                        top: -43px;
                        right: 3px;
                        span {
                            @include fsize(0.5);
                            margin:0 0 0.2rem 0.2rem;
                            padding: 0.2rem 0.2rem;
                            width: 19px;
                            height: 17px;
                            line-height: 1.1rem;
                        }
                        /* 予算別タブレット用タグレイアウト */
                        @media only screen and (min-width: 480px) {
                            span {
                                @include fsize(0.75);
                                margin:0 0 0.2rem 0.2rem;
                                padding: 0.2rem 0.2rem;
                                width: 38px;
                                height: 34px;
                                line-height: 2.3rem;
                            }
                        }
                    }
                    p {
                        height: 10rem;
                        line-height: 1.2rem;
                        overflow: hidden;
                    }
                }
            }
        }


        /* スマートフォン用知って得する豆知識 */
        #knowLedge {
            padding: 2%;
            article {
                @include sizing(100%);
                padding: 3%;
                h4 {
                    margin: 0 0 1rem 0;
                    @include fsize(1.4);
                }
            }
            aside {
                @include sizing(100%);
                ul {
                    @include sizing(100%);
                }
            }
        }

        /* スマートフォン用ギフトサービス */
        .giftService,.categoryLinks {
            position: relative;
            .span_8 {
                @include sizing(100%);
                padding: 3%;
                height: 100%;
                /* タブレット用ギフトサービスレイアウト */
                @media only screen and (min-width: 480px) {
                    padding: 90px;
                    h4 {
                        text-align: center;
                        width: 100%;
                        @include fsize(1.5);
                        /* position: absolute;
                        top: 15%; */
                    }
                    p {
                        width: 100%;
                        /* position: absolute;
                        top: 25%; */
                        line-height: 2;
                    }

                    &.rightPos {
                        float: right;
                        padding: 90px;
                    }
                }
                h4 {
                    margin: 0 0 1rem 0;
                    @include fsize(1.4);
                }
                &.rightPos {
                    float: right;
                    /* padding: 0.5rem 0 1rem 1rem; */
                    padding: 1rem 0.5rem 1rem;
                }
            }
            .span_4 {
                @include sizing(100%);
                p{
                    @include sizing(100%);
                    margin-bottom: 1.5rem;
                }
            }
        }

        .categoryLinks{
            padding: 0;
            article{
                div{
                    @include sizing(40%);
                    margin: 0 4% 2%;
                    a{
                        @include fsize(0.6);
                    }
                }
                @media only screen and (min-width: 480px) {
                    div{
                        @include sizing(25%);
                        margin: 0 4% 2%;
                        a{
                            @include fsize(0.8);
                        }
                    }
                }
            }
        }

        /* スマートフォン用「カテゴリ商品をもっと見る」 */
        .moreLink,.parentLink{
            article{
                div{
                    width: 80%;
                    a{
                        @include fsize(1.0);
                        padding: 6px;
                    }
                }
            }
        }
    }
    /* container */
    footer {
        iframe {
            display: none;
        }
        #sp {
            display: block;
            overflow: hidden;
            ul#itemCategory,#genreCategory,#budgetCategory,#typeCategory {
                @include sizing(100%);
                overflow: hidden;
                li {
                    float: left;
                    width: 50%;
                    display: block;
                    border: none;
                    border-right: $line;
                    border-bottom: $line;
                    line-height: 1rem;
                    text-indent: 0.5rem;
                    
                    a{
                        line-height: 1.6rem;
                        display: block;
                        width:80%;
                        margin: auto;
                        .wf{
                            width: auto;
                            .fs1 {
                                @include fsize(1.3);
                                border: none;
                                float: right;
                                line-height: 0rem;
                                padding: 0;
                                margin: 0 auto;
                                color: $mc;
                            }
                        }
                    }
                }
                li:first-child {
                    width: 100%;
                    color: $acc;
                    line-height: 3rem;
                    padding: 0.5rem 0;
                    @include fsize(1.1);
                    font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;

                    .wf .fs1 {
                        @include fsize(1.2);
                        border: none;
                        float: left;
                        line-height: 3.1rem;
                        padding: 0;
                        margin: 0 0.25rem 0 0;
                        text-indent: 1rem;
                        color: $mc;
                    }
                }
                li.listWrap{
                    width: 100%;
                    a{
                        width: 40%;
                    }
                }
            }
            ul#eventCategory {
                overflow: hidden;
                background-color: $bc;
                @media only screen and (min-width: 480px) {
                    li {
                        @include sizing(50%);
                        padding: 1%;
                        display: block;
                        float: left;
                        img {
                            width: 100%;
                        }
                    }
                }
                li {
                    @include sizing(100%);
                    padding: 2% 1%;
                    display: block;
                    img {
                        max-width: 100%;
                        outline: 1px solid $sbc01;
                    }
                }
                li:first-child {
                    width: 100%;
                    color: $acc;
                    line-height: 3rem;
                    padding: 0.5rem 0;
                    @include fsize(1.1);
                    font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
                    border-bottom: $line;
                    .wf .fs1 {
                        @include fsize(1.2);
                        border: none;
                        line-height: 3.1rem;
                        float: left;
                        padding: 0;
                        margin: 0 0.25rem 0 0;
                        text-indent: 1rem;
                        color: $mc;
                    }
                }
            }
            iframe.eventCategory{
                display: block;
                height: 400px;
            }
        }
        /* menu */
        @media only screen and (min-width: 480px) {
            .gotoTop{
                border-top: $line;
            }
        }
        .gotoTop {
            overflow: hidden;
            border-bottom: $line;
            border-top: none;
            background-color: $bc;
            width: 100%;
            line-height: 4.5;
            text-align: center;
            a {
                clear: both;
                color: $acc;
                text-decoration: none;
                display: block;
                width: 100%;
                text-align: center;
                padding: .8rem 0 1rem;
                .wf{
                    width: auto;
                    .fs1 {
                        @include fsize(1.2);
                        border: none;
                        line-height: .5rem;
                        padding: 0;
                        margin: 0 1rem;
                        color: $mc;
                    }
                }
                span{
                    display: block;
                    text-align: center;
                    line-height: 1.3rem;
                }
            }
        }
        ul {
            li {
                @include sizing(50%);
                display: block;
                float: left;
                border: $line;
                border-top: none;
                border-left: none;
                padding: 10px;
                background-color: $bc;
                a {
                    color: $acc;
                    text-decoration: none;
                    display: block;
                    text-align: center;
                }
            }
        }
        .info{
            li{
                a{
                    line-height: 1.6rem;
                    display: block;
                    width:80%;
                    margin: auto;
                    .wf{
                        width: auto;
                        .fs1 {
                            @include fsize(1.3);
                            border: none;
                            float: right;
                            line-height: 0rem;
                            padding: 0;
                            margin: 0 auto;
                            color: $mc;
                        }
                    }
                }
            }
        }
        address {
            background-color: $bc;
            ul {
                li {
                    @include sizing(33.3%);
                    display: block;
                    float: left;
                    border: $line;
                    border-right: none;
                    text-align: center;
                    &:first-child {
                        @include sizing(100%);
                        border-bottom: none;
                        a{
                            display: block;
                            width: 100%;
                            margin: 0 auto;
                            text-align: center;
                            .wf{
                                width: 110px;
                                margin: 0 auto;
                                .fs1 {
                                    line-height: 1.5rem;
                                }
                            }
                        }
                    }
                    &:last-child {
                        @include sizing(100%);
                        border-top: none;
                        padding: 1.5rem 1rem 1rem;
                        #label{
                            color: #aaa;
                        }
                        #form{
                            float: left;
                            @include sizing(90%);
                            height: 30px;
                            border-style: none;
                            border: 1px solid $acc;///
                        }
                        .wf{
                            @include sizing(10%);
                            float: left;
                            padding: 0 0 0 0.4rem;
                            position: relative;
                            .fs1 {
                                position: relative;
                                line-height: 2.0rem;
                                @include fsize(1.4);
                                color: $mc;
                                #btn{
                                    position: absolute;
                                    border-style:none;
                                    width: 1rem;
                                    right: 10px;
                                    @include alpha(0);
                                    background-color: #fff;
                                }
                            }
                        }
                    }
                    a{
                        display: block;
                        width: 100%;
                        margin: 0 auto;
                        text-align: center;
                        .wf{
                            width: 60px;
                            margin: 0 auto;
                            .fs1 {
                                @include fsize(1);
                                border: none;
                                float: left;
                                line-height: 0;
                                padding: 0;
                                margin: 0 auto;
                                color: $mc;
                            }
                        }
                    }
                }
            }
            p {
                clear: both;
                margin: 1rem 1rem 0;
                display: block;
                overflow: hidden;
                &:last-child{
                    text-align: center;
                    padding: 0 0 1rem 0 ;
                }
                &:first-child{
                    text-align: center;
                    padding: 30px 0 10px;
                    font-size: 1.3rem;
                    font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
                }
            }
        }
    }
}
/* footer */

