/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$cate_bg03-x: 85px;
$cate_bg03-y: 0px;
$cate_bg03-offset-x: -85px;
$cate_bg03-offset-y: 0px;
$cate_bg03-width: 50px;
$cate_bg03-height: 50px;
$cate_bg03-total-width: 135px;
$cate_bg03-total-height: 68px;
$cate_bg03-image: '../img/sprites/spritesheet.png';
$cate_bg03: 85px 0px -85px 0px 50px 50px 135px 68px '../img/sprites/spritesheet.png';
$icon-x: 0px;
$icon-y: 0px;
$icon-offset-x: 0px;
$icon-offset-y: 0px;
$icon-width: 75px;
$icon-height: 68px;
$icon-total-width: 135px;
$icon-total-height: 68px;
$icon-image: '../img/sprites/spritesheet.png';
$icon: 0px 0px 0px 0px 75px 68px 135px 68px '../img/sprites/spritesheet.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
