@charset "utf-8";
/* CSS Document */


a:visited { color: #222; }
a:hover { color: #f00; }
a:active { color: #d6b641; }

a img,a p {
/*transition:all 0.2s ease-in-out;
-o-transition:all 0.2s ease-in-out;
-webkit-transition:all 0.2s ease-in-out;
-moz-transition:all 0.2s ease-in-out;*/
filter:alpha(opacity=100);
-moz-opacity:1;
opacity:1;
}
a:hover img,a:hover p {
/*	filter: alpha(opacity=70);
	-moz-opacity:0.7;
	opacity:0.7;*/
}
.no_filter a img {
	filter: alpha(opacity=100);
	-moz-opacity:1;
	opacity:1;
}

body{
	margin:0;
	padding:0;
	font-family:"メイリオ", Meiryo,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	line-height:1;
}


.nav ul{
	margin:5px 0 10px 0;
	float:right;
}

.nav li{
	float:left;
}

.nav{
	display:block;
	height:17px;
	width:auto;
}

header .nav{
	position:relative;
	top:10px;
	z-index:1;
	clear:both;
}

#h_left{
	float:left;
	font-size:8px;
	color:#FFF;
	line-height:1.6;
	width:545px;
}

#h_left h1{
	font-size:10px;
	position:absolute;
	left:10px;
	top:5px;
}

#h_left h1 a{
	color:#CCC;
	text-decoration:none;
}

#h_left p{
	margin-top:36px;
	font-size:8px;
	color:#666;
}

#h_left span{
	display:block;
	color:#000;
}

#h_left a{
	color:#990000;
}

#h_left a:hover{
	color:#F00;
}

#h_right{
	float:right;
	width:430px;
}

#h_right img{
	float:left;
	margin-left:4px;
}

#h_right form{
	float:right;
}

#hot_keywords{
	font-size:10px;
	line-height:1.6;
	margin-top:50px;
	padding-left:6px;
}

#slidearea{
	width:100%;
	background-color:#000;
	height:230px;
	clear:both;
}

.wrapper{
	width:980px;
	height:auto;
	margin:0 auto;
	padding:1px;
}


#h_bunner{
	width:680px;
	float:left;
	margin-top:10px;
	display:block;
}

#h_bunner li{
	width:165px;
	height:115px;
	float:left;
	margin:0 3px 3px 0;
	border:1px solid #999;
}

#h_service{
	background:url(https://image.rakuten.co.jp/dentouhonpo/cabinet/header/h_service.gif) no-repeat 6px 0px;
	width:290px; 
	height:auto; 
	float:right; 
	padding-top:60px; 
	margin-left:2px;
}

#h_service li{
	background-image:url(https://image.rakuten.co.jp/dentouhonpo/cabinet/header/h_service02.gif);
	background-repeat:no-repeat;
	width:280px;
	height:31px;
	font-size:12px;
	padding:3px 0 0 10px;
}

#h_service a{
	text-decoration:none;
	color:#000;
	line-height:1.4;
}

#h_service a:hover{
	text-decoration:underline;
}

#h_service span{
	font-size:16px;
	font-weight:bolder;
	color:#900;
}

li#h_delidate{
	background:url(https://image.rakuten.co.jp/dentouhonpo/cabinet/header/h_service01.gif) no-repeat;
	margin-bottom:3px;
	height:46px;
	padding-top:6px;
}

img#h_point{
	margin:6px 0 0 0;
}

img#h_info{
	margin:6px 0 0 240px;
}

#left_facebook{
	width:160px;
	height:372px;
	allowtransparency:true;
	padding: 0;
	margin: 0;
	overflow: hidden;
	border:none;
}

img#le_noshi{
	position:relative;
	border-top:10px #FFF solid;
	left:-6px;
	top:-4px;
}

img#le_service{
	float:left;
	margin:10px 0 4px 0;
	position:relative;
	left:-6px;
	top:-4px;
	text-align:left; 
}

#new-head{
	width:376px;
	height:60px;
	overflow:auto;
	float:left;
	border:#999 1px dashed;
}

#haccordion{
	height:60px;
	width:600px;
	border:#CCC 1px solid;
	float:left;
	overflow:hidden;
}


#side_roll_frame2{
	height: 200px;
	width: 980px;
	padding: 0px;
	margin-top: 8px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	overflow: hidden;
	border:none;
}

#side_roll_frame3{
	height: 155px;
	width: 984px;
	padding: 0px;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	overflow: hidden;
	border:none;
}

#press{
	background:url(left_medialp.gif);
	padding:4px 0;
}

#press p{
	color:#666;
	font-size:9px;
	margin-top:3px
}

#press span{
	font-size:5px;
}
#press li{
	font-size:10px;
	margin:6px 0;
}


#press a:link{
	text-decoration:none;
	color:#333;
}
#press a:hover{
	text-decoration:underline;
}

#leftbar{
	background:url(https://image.rakuten.co.jp/dentouhonpo/cabinet/header/h_contents_lp3.jpg);
	background-position:0 10px;
	width:158px;
	height:100%;
	padding:6px;
	float:left;
	clear:both;
}

#leftbar li{
	margin-bottom:4px;
	padding:0;
	display:block;
	width:159px;
}

#leftbar li a:link{
	text-decoration:none;
	color:#333;
}

#leftbar li a:hover{
	text-decoration:underline;
}

#leftbar h2{
	font-size:10px;
}

#cal{
	clear:both;
	margin-bottom:4px;
	margin-top:10px;
	width:170px;
	float:left;
}


#cal li{
	width:22px;
}

#center{
	width:610px;
	height:auto;
	float:left;
	margin:0 4px;
}

#center div{
	border:#dfdfdf 1px solid;
	width:610px;
	margin:2px 10px 10px 10px;
	padding-bottom:10px;
	display:block;
	float:left;
	overflow:hidden;
}

.frame{
	float:left;
	display:block;
	margin:0 10px;
}

.td_special td{
	padding:0 7px 7px 7px;
}

.itemtitle{
	font-size:14px;
}

.itemcatch{
	font-size:10px;
}

.itemcatch a{
	margin-right:10px;
}

.itemtext{
	font-size: 11px;
	font-family: "メイリオ", Meiryo,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	line-height: 1.6;
	float: left;
	margin-top: 6px;
}

.itemlink{
	font-size:10px;
	color:#900;
	text-align:right;
}

.itemtextbox{
	padding:0 6px;
	width:140px;
}
.itemtextbox2{
	padding-right:6px;
}

#weekly dl{
	float:left;
}

#weekly dt{
	height:15px;
	width:100px;
	margin:0 10px 10px 10px;
	padding-top:5px;
	color:#FFF;
	background-color:#000;
	font-size:12px;
}

#weekly dd{
	text-align:left;
	font-size:10px;
	margin-left:10px;
	line-height:1.2;	
}



#weekly a{
	text-decoration:none;
}

#weekly span{
	font-size:14px;
}

.footercontents p img{
	margin:0 8px;
}


.footercontents{
	width:980px;
	height:auto; 
	margin:20px auto;
	padding-left:0px;
	border-left:1px #000 solid;
	border-right:1px #000 solid;
}

#footercontents1 iframe{
	width:980px;
	height:270px;
	margin:0;
	border:none;
	overflow:hidden;
}

iframe#footercontents2{
	width:980px;
	height:2200px;
	margin:0;
	border:none;
	overflow:hidden;
}

#footer{
	height:auto; 
	width:100%; 
	margin:0 auto; 
	padding-bottom:20px; 
	clear:both; 
	background:url(https://image.rakuten.co.jp/dentouhonpo/cabinet/header/f_contents_lp.jpg);
	border-top:2px #900 solid; 
	border-bottom:2px #900 solid;
	border-left:none;
	border-right:none;
}

img{
	border:0;
}



#rightbar{
	background:url(https://image.rakuten.co.jp/dentouhonpo/cabinet/header/h_contents_lp3.jpg);
	background-position:0 10px;
	width:170px;
	height:1100px;
	padding:8px 0;
	float:right;
}

#rightbar h4{
	position:relative;
	top:-8px;
	text-align:right;
	float:right;
}

#rightbar p{
	font-size:9px;
	color:#666;
	text-align:center;
	vertical-align:text-top;
	margin-bottom:20px;
}

#rightbar dd{
	padding-left:47px;
	font-size:10px;
	line-height:1.2;
}

#rightbar span{
	font-size:14px;
}

#rightbar hr{
	width:80%;
	margin:12px auto;
	border:#d66 1px dashed;
}

#rightbar2{
	background:url(https://image.rakuten.co.jp/dentouhonpo/cabinet/header/h_contents_lp3.jpg);
	background-position:0 10px;
	width:170px;
	height:1380px;
	float:right;
}

#rightbar2 img{
	margin-top:10px;
	border-bottom:1px solid #CCC;
}

#rightbar2 iframe{
	width:170px;
	height:1370px;
	margin:0 0 0 0;
	padding:0 0 0 0;
	border:0;
}
#rightbar3{
	float:right;
	width:170px;
	height:auto;
	margin:4px 0;
}

#rightbar a{
	color:#000;
}

#rightbar a:hover{
	color:#F00;
}

#rightbar h3{
	font-size:11px;
}

#rightbar3 li
{
	margin-top:10px;
}

#rightbar a{
	text-decoration:none;
}

#lang{
	background:url(https://image.rakuten.co.jp/dentouhonpo/cabinet/header/right_lang.gif) no-repeat;
	width:170px;
	height:141px;
	padding:0 4px 4px 4px;
}
#lang a{
	margin:4px 0 0 6px;
	float:left;
}
#en{
	background:url(https://image.rakuten.co.jp/dentouhonpo/cabinet/header/right_lang01.gif) no-repeat;
	display:block;
	width:82px;
	height:24px;
	text-indent:-9999px;
}
#en:hover{
	background:url(https://image.rakuten.co.jp/dentouhonpo/cabinet/header/right_lang01h.gif) no-repeat;
}
#ch{
	background:url(https://image.rakuten.co.jp/dentouhonpo/cabinet/header/right_lang02.gif) no-repeat;
	display:block;
	width:61px;
	height:24px;
	text-indent:-9999px;
}
#ch:hover{
	background:url(https://image.rakuten.co.jp/dentouhonpo/cabinet/header/right_lang02h.gif) no-repeat;
}
#hong{
	background:url(https://image.rakuten.co.jp/dentouhonpo/cabinet/header/right_lang03.gif) no-repeat;
	display:block;
	width:82px;
	height:24px;
	text-indent:-9999px;
}
#hong:hover{
	background:url(https://image.rakuten.co.jp/dentouhonpo/cabinet/header/right_lang03h.gif) no-repeat;
}
#ch2{
	background:url(https://image.rakuten.co.jp/dentouhonpo/cabinet/header/right_lang04.gif) no-repeat;
	display:block;
	width:61px;
	height:24px;
	text-indent:-9999px;
}
#ch2:hover{
	background:url(https://image.rakuten.co.jp/dentouhonpo/cabinet/header/right_lang04h.gif) no-repeat;
}

#special{
	display:block;
	float:left;
	padding:0;
	width:auto;
}

#special dl{
	float:left;
	line-height:1.2;
}

#special dt{
	margin:20px 0 0 0;
}

#special dd{
	font-size:10px;
	margin-left:5px;
}

#special span{
	font-size:14px;
}

#special a{
	border:none;
	color:#000;
}

#special img{
	padding:6px 7px 0 7px;
}
#reviews{
	height:auto;
	margin:10px 10px 0 10px;
	padding:0 10px 0 10px;
	display:block;
	padding:0;
}

#reviews ul{
	float:left;
	font-size:10px;
	line-height:1.2;
	margin:20px 0 10px 0;
	width:150px;
}

#reviews span{
	font-size:14px;
}

#reviews img{
	border:0px;
}

#real-review{
	width:590px;
	height:350px;
	float:left;
	display:block;
	margin:0 5px;
	overflow: hidden;
	border:none;
}

#cloudcarousel-rt{
	width:590px;
	height:250px;
	float:left;
	display:block;
	overflow:hidden;
	margin:10px 0 20px 10px;
}

#weekly{
	color: #000;
	background: url(https://image.rakuten.co.jp/dentouhonpo/cabinet/header/h_contents_lp3.jpg);
	text-align: center;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#weekly a{
	color:#000;
}

#weekly a:hover{
	color:#F00;
}

#weekly td{
	padding:0 6px;
	width:100px;
	font-size:12px;
}

#order-now{
	width:590px;
	height:200px;
	display:block;
	margin-left:10px;
	float:left;
}

#post{
	background:url(https://image.rakuten.co.jp/dentouhonpo/cabinet/header/h_contents_lp3.jpg);
}

#new{
	background:url(https://image.rakuten.co.jp/dentouhonpo/cabinet/header/h_contents_lp3.jpg);
	padding-top:20px;
}

.new5{
	width:117px;
	height:300px;
	border:0;
	margin:0;
}

#mv{
	background:url(https://image.rakuten.co.jp/dentouhonpo/cabinet/header/h_contents_lp3.jpg);
	padding-top:20px;
}

#douga2{
	width:615px;
	height:300px;
	overflow:hidden;
	margin:0;
	padding:0;
	border:none;
	display:block;
	float:left;
}

#skill{
	background:url(https://image.rakuten.co.jp/dentouhonpo/cabinet/header/h_contents_lp3.jpg);
}

#skill li{
	width:147px;
	height:99px;
	float:left;
	text-align:left;
	margin:0 0 0 0;
}


.td_maincontents{
	padding:0 14px;
}

.td_pickup_text{
	font-size:12px;
	color:#900;
	line-height:1.4;
}

.td_pickup_text2{
	font-size:12px;
	text-decoration:none;
}

.td_pickup_text2{
	color:#333;
}

@font-face {
	font-family:'KOZMINPRO-LIGHT';
	src: url('https://www.rakuten.ne.jp/gold/dentouhonpo/font/KOZMINPRO-LIGHT.OTF') format('opentype');
}

.td_skilltext{
	font-family:KOZMINPRO-LIGHT;
	font-size:20px;
	text-align:center;
	text-decoration:none;
}

.td_skilltext img{
	margin:8px 0 4px 0;
}

.td_mv{
	font-family:KOZMINPRO-LIGHT;
	font-size:14px;
	text-decoration:none;
	margin:10px auto;
	width:140px;
}

.td_mv a{
	text-decoration:none;
}
.td_mv a:link{
	color:#333;
}

.td_ranking{
	border:1px #900 solid;
	margin:10px 0 0 15px;
}

.td_ranking2{
	border:1px #900 solid;
}

.td_ranking2 td{
	padding:10px 4px 4px 10px;
}

.td_ranking td{
	margin:0 20px 0 0;
	padding:6px 14px;
	font-size:14px;
	font-weight:bold;
	line-height:1.4;
	text-decoration:none;
}



#about a {
	display: block;
	width: 96px;
	height: 17px;
	background: url(https://image.rakuten.co.jp/dentouhonpo/cabinet/category/h_menu_about.gif) no-repeat 0 0;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
#about a:hover {
	background-position: 0 bottom;
}

#pay a {
	display: block;
	width: 96px;
	height: 17px;
	background: url(https://image.rakuten.co.jp/dentouhonpo/cabinet/category/h_menu_pay.gif) no-repeat 0 0;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
#pay a:hover {
	background-position: 0 bottom;
}

#review a {
	display: block;
	width: 96px;
	height: 17px;
	background: url(https://image.rakuten.co.jp/dentouhonpo/cabinet/category/h_menu_rev.gif) no-repeat 0 0;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
#review a:hover {
	background-position: 0 bottom;
}

#mail a {
	display: block;
	width: 96px;
	height: 17px;
	background: url(https://image.rakuten.co.jp/dentouhonpo/cabinet/category/h_menu_mail.gif) no-repeat 0 0;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
#mail a:hover {
	background-position: 0 bottom;
}

#rtop a {
	display: block;
	width: 96px;
	height: 17px;
	background: url(https://image.rakuten.co.jp/dentouhonpo/cabinet/category/h_menu_top.gif) no-repeat 0 0;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
#rtop a:hover {
	background-position: 0 bottom;
}

#category a:hover img{
	opacity:0.6;
	filter: alpha(opacity=60);
}

#sidebunner{
	margin:86px 0 0 0;
}

#bunner img{
	margin:4px 3px 0 0;
	float:left;
	border:1px #CCC solid;
}

#bunner ul{
	margin:0;
}



#form{
	background:url(https://www.rakuten.ne.jp/gold/dentouhonpo/img/h_searchform.png) no-repeat;
	border:none;
	width:117px;
	height:22px;
	padding:0;
	margin:0;
}
#btn{
	background:url(https://image.rakuten.co.jp/dentouhonpo/cabinet/header/h_seachbtn.gif) no-repeat;
	width:19px;
	height:19px;
	border:none;
	margin:0;
}

#liststyle li a{
	text-decoration:none;
	color:#000;
}

#liststyle li a:hover{
	color:#F00;
}

.min_text{
	font-size:11px;
	text-align:left;
	line-height:1.4;
}

.textgroup{
	padding-left:2px; 
	text-align:left;
	font-family:"メイリオ", Meiryo,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	line-height:1.0;
}

#liststyle li img{
	margin:8px 0 4px 0;
	width:100px;
	height:100px;
}

.li_title{
	background-color:#111;
	padding:6px 2px 6px 2px;
	color:#fff;
}
.li_title span{
	margin:4px;
	text-align:left;
}

.itemname{
	line-height:1.2;
}

.cat_name{
	font-size:14px;
	font-weight:bold;
}

.cat_catch{
	font-size:12px;
}

.noren{
	position:relative;
	top:-2px;
}
.noren2{
	position:relative;
	top:-1px;
	left:-1px;
}
#houjin{
	width:144px;
	height:29px;
	display:block;
	float:left;
	text-indent:-9999px;
	margin:4px 0 0 0;
	position:relative;
	left:6px;
	background:url(https://image.rakuten.co.jp/dentouhonpo/cabinet/header/h_houjin.gif) no-repeat;
}
#houjin:hover{
	background-image:url(https://image.rakuten.co.jp/dentouhonpo/cabinet/header/h_houjin_hv.gif);
}

div#abs {
	position:absolute !important;
	top: expression((documentElement.scrollTop || document.body.scrollTop) + document.body.clientHeight - this.offsetHeight - 150 + 'px');
	left: expression((documentElement.scrollLeft || document.body.scrollLeft) + document.body.clientWidth -105 + 'px');
}


/* 翌日配送案内 ここから */
/* リンク先 https://www.rakuten.ne.jp/gold/dentouhonpo/info/guide.html#delivery*/

/*div#abs a#side_leave{
	float:right;
	clear:both;
	display:block;
	position:fixed;
	position:relative\9;
	top:50px\9;
	right:-50px;
	top: 60px;
	z-index:10;
	outline:none;
	background:url(https://image.rakuten.co.jp/dentouhonpo/cabinet/side_bn_01.gif) no-repeat;
	width:100px;
	height:200px;
}
div#abs a#side_leave:hover{
	right:0px;
	padding-right:50px\9;
}*/
/* 翌日配送案内 ここまで */

/* QUOカードプレゼント案内 ここから */
div#abs a#side_leave{
	float:right;
	clear:both;
	display:block;
	position:fixed;
	position:relative\9;
	top:60px\9;
	right:-200px;
	top: 120px;
	z-index:10;
	outline:none;
	background:url(https://www.rakuten.ne.jp/gold/dentouhonpo/img/campaign/side_bnr_01.jpg) no-repeat;
	/*background:url(https://image.rakuten.co.jp/dentouhonpo/cabinet/header/side_bn03.gif) no-repeat;*/
	width:300px;
	height:180px;
	-webkit-transition: .2s;
    transition: .2s;
}

div#abs a#side_leave:hover{
	right:0px;
	padding-right:50px\9;
}

/* 感謝祭会場 ここから 
div#abs a#side_leave3{
	float:right;
	clear:both;
	display:block;
	position:fixed;
	position:relative\9;
	top:60px\9;
	left:-200px;
	top: 150px;
	z-index:10;
	outline:none;
	background:url(https://www.rakuten.ne.jp/gold/dentouhonpo/img/campaign/side_bnr_02_l.jpg) no-repeat;
	width:300px;
	height:180px;
	-webkit-transition: .2s;
    transition: .2s;
}

div#abs a#side_leave3:hover{
	left:0px;
	padding-right:50px\9;
}*/
/* 感謝祭会場 ここまで */


/* クリスマス会場 ここから */
div#abs a#side_leave7{
	float:right;
	clear:both;
	display:none;
	position:fixed;
	position:relative\9;
	top:60px\9;
	right:-232px;
	top: 315px;
	z-index:10;
	outline:none;
	background:url(https://www.rakuten.ne.jp/gold/dentouhonpo/img/campaign/sp_chri_entbnr.png) no-repeat;
	width:400px;
	height:100px;
	-webkit-transition: .2s;
    transition: .2s;
}

div#abs a#side_leave7:hover{
	right:0px;
	padding-right:50px\9;
}
/* クリスマス会場 ここまで */

/* ランキング会場 ここから */
div#abs a#side_leave8{
	float:right;
	clear:both;
	display:block;
	position:fixed;
	position:relative\9;
	top:60px\9;
	right:-232px;
	top: 425px;
	z-index:10;
	outline:none;
	background:url(https://www.rakuten.ne.jp/gold/dentouhonpo/img/sp_ranking.png) no-repeat;
	width:400px;
	height:120px;
	-webkit-transition: .2s;
    transition: .2s;
}

div#abs a#side_leave8:hover{
	right:0px;
	padding-right:50px\9;
}
/* ランキング会場 ここまで */



/* 送料など ここから */
/*div#abs a#side_leave4{
	float:right;
	clear:both;
	display:block;
	position:fixed;
	left:5px;
	top: 55px;
	z-index:10;
	outline:none;
	background:url(https://www.rakuten.ne.jp/gold/dentouhonpo/img/campaign/wrap_ss_bnr.gif) no-repeat;
	width:100px;
	height:550px;
	-webkit-transition: .2s;
    transition: .2s;
}*/

/* 父の日のバナー */
div#abs a#side_leave5{
	float:right;
	clear:both;
	display:none;
	position:fixed;
	left:5px;
	top: 200px;
	z-index:10;
	outline:none;
	background:url(https://www.rakuten.ne.jp/gold/dentouhonpo/img/campaign/sp_fg_leftbnr.png) no-repeat;
	/*background:url(https://image.rakuten.co.jp/dentouhonpo/cabinet/header/side_bn03.gif) no-repeat;*/
	width:170px;
	height:279px;
	-webkit-transition: .2s;
    transition: .2s;
}
div#abs a#side_leave5:hover{
	top: 205px;

}	
/*セール中のクーポン*/
/*
div#abs a#side_leave6{
	float:right;
	clear:both;
	display:block;
	position:fixed;
	left:5px;
	bottom: 210px;
	z-index:10;
	outline:none;
	background:url(https://www.rakuten.ne.jp/gold/dentouhonpo/img/campaign/ny_coupon_l.jpg) no-repeat;
	width:200px;
	height:120px;
	-webkit-transition: .2s;
    transition: .2s;
}
div#abs a#side_leave6:hover{
	bottom:213px;

}*/


/* QUOカードプレゼント案内 ここまで */

/* 送料無料案内 ここから */
/*div#abs a#side_leave2{
	float:right;
	clear:both;
	display:block;
	position:fixed;
	position:relative\9;
	top:50px\9;
	right:-50px;
	top: 270px;
	z-index:10;
	outline:none;
	background:url(https://image.rakuten.co.jp/dentouhonpo/cabinet/side_bn_02_02.gif) no-repeat;
	background-size:100px;
	width:100px;
	height:200px;
}
div#abs a#side_leave2:hover{
	right:0px;
	padding-right:50px\9;
}*/
/* 送料無料案内 ここまで */

/*#abs a#side_review{
	float:right;
	clear:both;
	display:block;
	position:fixed;
	position:relative\9;
	top:80px\9;
	top: 230px;
	right:-50px;
	z-index:10;
	outline:none;
	background:url(https://image.rakuten.co.jp/dentouhonpo/cabinet/side_bn_02.gif) no-repeat;
	width:100px;
	height:200px;
}
div#abs a#side_review:hover{
	right:0px;
	padding-right:50px\9;
}*/
#side_review img,#side_leave img{
	display:none;
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
	div#abs{
		position: fixed;
		right: 0px;
	}

	div#abs a#side_leave{
		position: absolute;
		right: -50px;
	}
	#abs a#side_review{
		position: absolute;
		top: 280px;
		right: -50px;
	}
	div#abs a#side_leave:hover{
		right: -50px;
	}
	div#abs a#side_review:hover{
		right: -50px;
	}

}


/*技法別紹介*/

h3#skillcat{
	background:url(https://image.rakuten.co.jp/dentouhonpo/cabinet/header/index_category.gif) no-repeat;
	clear:both;
	width:594px;
	height:26px;
	font-family:KOZMINPRO-LIGHT;
	font-size:16px;
	letter-spacing:0.1em;
	padding:2px 0 0 10px;
	margin-left:10px;
}

h3#skillcat:first-letter{
	color:#900;
	font-size:20px;
}

p#skill_catch{
	background:url(https://image.rakuten.co.jp/dentouhonpo/cabinet/header/top_skillcategory.jpg) no-repeat; 
	width:610px; 
	height:115px;
	font-family:KOZMINPRO-LIGHT;
	color:#CCC;
	padding:10px 0 0 10px;
	line-height:1.2;
}

p#skill_catch span{
	font-size:20px;
}

p#skill_catch span.lead{
	font-size:26px;
	line-height:1.8;
	
}