@charset "UTF-8";

/* CSS Document */

/* ----------------------------------------------------------------------------------------- */
/* kyoutuu */
/* ----------------------------------------------------------------------------------------- */

.float_end {
  width: 980px;
  clear: both;
}

.position_r {
  position: relative;
}

/* ----------------------------------------------------------------------------------------- */
/* kanban */
/* ----------------------------------------------------------------------------------------- */

.catchcopy {
  position: absolute;
  top: 0px;
  left: 12px;
  color: #999;
  font-size: 10px;
}

#top_menuimage {
  width: 980px;
  height: 120px;
  border: none;
}

#yahoo_slidebunner_anm {
  width: 980px;
  height: 230px;
  border: none;
}

.keyword {
  width: 180px;
  font-size: 10px;
  position: absolute;
  top: 37px;
  left: 793px;
  font-family: 'Hiragino Kaku Gothic Pro W3', 'Hiragino Kaku Gothic Pro', 'Meiryo', Meiryo, Osaka, 'MS PGothic', 'MS PGothic', sans-serif;
  ul {
    list-style-type: none;
  }
  li {
    width: auto;
    float: left;
    margin: 0 8px 4px 0;
  }
}

/* ----------------------------------------------------------------------------------------- */
/* header */
/* ----------------------------------------------------------------------------------------- */

.category_type {
  width: 980px;
}

.category_img {
  width: 980px;
  height: 73px;
  border: none;
}

.category_celeb {
  width: 679px;
  margin: 0 10px 0 0;
  float: left;
}

.category_celeb_img {
  width: 678px;
  height: 246px;
  border: none;
}

.omotenashi {
  line-height: 0.9;
  width: 286px;
  float: right;
  position: relative;
  font-size: 12px;
  font-family: 'Hiragino Kaku Gothic Pro W3', 'Hiragino Kaku Gothic Pro', 'Meiryo', Meiryo, Osaka, 'MS PGothic', 'MS PGothic', sans-serif;
  span {
    color: #900;
    font-size: 18px;
    font-weight: bold;
  }
  img {
    width: 286px;
    height: 241px;
  }
}

.omo_lineframe {
  position: absolute;
  left: 10px;
  width: 285px;
}

.omo_line1 {
  top: 108px;
}

.omo_line2 {
  top: 142px;
}

.omo_line3 {
  top: 177px;
}

.omo_line4 {
  top: 211px;
}

.rightbelt {
  position: relative;
  a {
    position: absolute;
    top: -905px;
    left: 1220px;
    width: 135px;
    height: 8500px;
    background-image: url(https://shopping.c.yimg.jp/lib/dentouhonpo/reviw-ver201206.gif);
    background-repeat: repeat-y;
    display: block;
  }
}

/* ----------------------------------------------------------------------------------------- */
/* side_navi-1 */
/* ----------------------------------------------------------------------------------------- */

.sn1_frame {
  width: 170px;
  text-align: center;
  font-size: 10px;
  line-height: 1.6;
}

.sn1_list1 {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sn1_base {
  width: 159px;
  border: none;
}

.sn1_list2 {
  list-style: none;
  text-align: left;
  margin: 0 0 0 10px;
  padding: 0;
}

.sakka {
  width: 170px;
  border: #E7D0C7 solid 1px;
  img {
    width: 27px;
    height: 27px;
    border: none;
  }
  ul {
    font-size: 14px;
    text-align: left;
    list-style-image: url('https://shopping.c.yimg.jp/lib/dentouhonpo/point.gif');
  }
}

/* ----------------------------------------------------------------------------------------- */
/* side_navi-2 */
/* ----------------------------------------------------------------------------------------- */

.sn2_tab {
  width: px;
  height: px;
}

.sn2_frame {
  line-height: 16px;
  text-align: center;
  width: 170px;
}

.mokuteki {
  border-top: #E7D0C7 2px solid;
  border-left: #E7D0C7 1px solid;
  border-right: #E7D0C7 1px solid;
  border-bottom: #F0DCD5 1px dashed;
  text-align: left;
  ul {
    font-size: 13px;
    line-height: 25px;
    vertical-align: middle;
    list-style-image: url('https://shopping.c.yimg.jp/lib/dentouhonpo/point.gif');
  }
}

.yosan {
  border-top: #E7D0C7 2px solid;
  border-left: #E7D0C7 1px solid;
  border-right: #E7D0C7 1px solid;
  border-bottom: #F0DCD5 1px dashed;
  text-align: left;
  ul {
    font-size: 13px;
    line-height: 25px;
    list-style-image: url('https://shopping.c.yimg.jp/lib/dentouhonpo/point.gif');
  }
}

.rank_font {
  font-size: 10px;
}

.rank_top5 {
  margin: 0 0 10px 0;
}

.rank_width {
  width: 90%;
}

.rank_width_other {
  width: 90%;
  border-top: #d66 1px dashed;
  padding-top: 10px;
  margin-top: 12px;
}

.rank_num {
  width: 27px;
  height: 36px;
}

.rank_img {
  width: 100px;
  height: 100px;
  border: none;
  margin-left: 10px;
}

/* ----------------------------------------------------------------------------------------- */
/* footer */
/* ----------------------------------------------------------------------------------------- */

.fo_img {
  width: 966px;
  height: 126px;
  border: 1px solid #999;
  margin: 0 auto;
}

.fo_rank {
  border-collapse: collapse;
  border: 1px #999999 solid;
}

.gift {
  width: 857px;
  height: 28px;
}

.fo_table1 {
  width: 980px;
  background-color: #999999;
  border: none;
  margin: 0 auto;
}

.fo_td1 {
  background-image: url(https://shopping.c.yimg.jp/lib/dentouhonpo/f_contents_lp.jpg);
  margin: 0 auto;
}

.fo_table2 {
  width: 976px;
  border: none;
  margin: 0 auto;
  line-height: 6px;
  text-align: center;
}

.rank_iframe {
  width: 960px;
  height: 248px;
  border: none;
  margin: 0px;
}

.fo_table3 {
  width: 980px;
  margin: 0 auto;
  border-collapse: collapse;
  border: 1px #999999 solid;
}

.fo_td3 {
  height: 253px;
  text-align: center;
}

.fo_img3 {
  width: 206px;
  height: 333px;
  border: none;
}

.fo_table4 {
  width: 980px;
  margin: 0 auto;
  text-align: left;
}

.fo_tr4 {
  color: #FFFFFF;
  background-color: #990000;
}

.fo_td4_left {
  width: 475px;
}

.fo_td4_right {
  width: 476px;
}

.fo_font4 {
  font-size: 10px;
  color: #333333;
}

.fo_link4 {
  color: #333333;
}

.shiharai {
  width: 300px;
  height: 109px;
}

/*共通サービス部分*/

#CentItemAdditional3 .ip-relation {
  width: 800px;
  height: 500px;
  overflow: hidden;
  border: none;
  iframe {
    width: 800px;
    height: 500px;
  }
}

/*Yahooスタイル強制変更*/

body {
  /*margin: 0;
  background-image: url(https://shopping.c.yimg.jp/lib/dentouhonpo/sideloopbanner.jpg);
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-position: left 0px;*/
}

#TopFreeSpace1 {
  margin: 0 !important;
}

#wrap2 {
  width: 100% !important;
  margin: 0;
  padding: 0;
}

#Left {
  width: 200px !important;
}

#Container {
  width: 900px !important;
  margin: 0 0 0 30px !important;
}

#Main {
  width: 1140px !important;
  margin: 0 auto !important;
  display: block !important;
}

#TopSPathList1 {
  width: 1030px !important;
  margin: 20px auto !important;
}

/*商品ページレイアウト*/

#ip_layout {
  .str_link {
    color: #333;
    text-align: right;
    a {
      text-decoration: underline;
      color: #04c;
      font-size: 14px;
    }
  }
  width: 610px;
  height: 100%;
  font-family: "Hiragino Kaku Gothic Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo", Meiryo, Osaka, "MS PGothic", "MS PGothic", sans-serif;
  .ip_title {
    background-color: #ccc;
    color: #FFF;
    padding: 4px 10px;
  }
  .ip_comm {
    color: #000;
    padding: 10px 10px;
  }
  .ip_left {
    width: 360px;
    height: 380px;
    float: left;
    padding-top: 80px;
  }
  .ip_left2 {
    width: 300px;
    height: 320px;
    float: left;
  }
  .ip_left img {
    margin: 0 30px;
  }
  .ip_right {
    width: 250px;
    height: 460px;
    float: right;
  }
  .ip_right2 {
    width: 300px;
    height: 320px;
    float: right;
  }
  .skill {
    clear: both;
    img {
      margin-bottom: 1px;
    }
  }
  .mainv {
    text-align: center;
  }
  #ip_key {
    font-size: 11px;
    padding: 0 10px;
    line-height: 1.2;
  }
}