@charset "UTF-8";
/* CSS Document */

@import "../styleguide/_scss/styleguide.scss";
@import "sprite-leftnav.scss";
.leftNav{
    width: 100%;
    overflow: hidden;
    ul{
        overflow: hidden;
        /* 各種サービス */
        &.service{
            width: 100%;
            li{
                width: 100%;
                padding: 0;
                margin: 0 0 10px;
                a{
                    .gift{
                        width: 165px;
                        height: 80px;
                        background: url('https://shopping.c.yimg.jp/lib/dentouhonpo/cmn_lft_gift_min.jpg') no-repeat;
                    }
                    .comp{
                        width: 165px;
                        height: 80px;
                        background: url('https://shopping.c.yimg.jp/lib/dentouhonpo/cmn_lft_comp_min.jpg') no-repeat;
                    }
                    .sea{
                        width: 165px;
                        height: 80px;
                        background: url('https://shopping.c.yimg.jp/lib/dentouhonpo/cmn_lft_sea_min.jpg') no-repeat;
                    }
                    .fax_order{
                        width: 165px;
                        height: 80px;
                        background: url('https://shopping.c.yimg.jp/lib/dentouhonpo/cmn_lft_fax_min.jpg') no-repeat;
                    }
                    .customer_improve{
                        width: 165px;
                        height: 80px;
                        background: url('https://shopping.c.yimg.jp/lib/dentouhonpo/cmn_lft_imp_min.jpg') no-repeat;
                    }
                    &:hover{
                        outline: 4px solid $sbc01;
                        outline-offset:-4px;
                    }
                    @media only screen and (min-width: 166px) {
                        .gift{
                            width: 330px;
                            height: 160px;
                            background: url('https://shopping.c.yimg.jp/lib/dentouhonpo/cmn_lft_gift.jpg') no-repeat;
                        }
                        .comp{
                            width: 330px;
                            height: 160px;
                            background: url('https://shopping.c.yimg.jp/lib/dentouhonpo/cmn_lft_comp.jpg') no-repeat;
                        }
                        .sea{
                            width: 330px;
                            height: 160px;
                            background: url('https://shopping.c.yimg.jp/lib/dentouhonpo/cmn_lft_sea.jpg') no-repeat;
                        }
                        .fax_order{
                            width: 330px;
                            height: 160px;
                            background: url('https://shopping.c.yimg.jp/lib/dentouhonpo/cmn_lft_fax.jpg') no-repeat;
                        }
                        .customer_improve{
                            width: 330px;
                            height: 160px;
                            background: url('https://shopping.c.yimg.jp/lib/dentouhonpo/cmn_lft_imp.jpg') no-repeat;
                        }
                    }
                }
            }
        }
        li{
            text-indent: 0;
            font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
            width: 147px;
            @include marg(0,0,0,0);
            padding: 0 6px;
            a{
                width: 100%;
                display: block;
                @include fsize(11,1.8);
                @include anm(0.2s);
                text-decoration: none;
                color: $acc;
                span{
                    float: left;
                    @include marg(0,8,0,0);
                    @include padd(0,0,0,6);
                    @include fsize(8,1.8);
                    color: $sbc01;
                }
                &:hover{
                    background-color: $tbc;
                    span{
                        @include marg(0,8,0,0);
                    }
                }
            }

            /* 大カテゴリー */
            
            &#category,&#event,&#budget,&#type,&#return,&#pro,&#eat,&#drink,&#sake,&#put,&#table,&#kitchen,&#study,&#interior,&#set,&#relux,&#guest,&#place{
                &:hover{
                    background: none;
                }
                a:hover{
                    background-color: none;
                }
            }
            &#category{
                a{
                    @include sprite($cmn_lft_category);
                }
            }
            &#event{
                a{
                    @include sprite($cmn_lft_event);
                }
            }
            &#budget{
                a{
                    @include sprite($cmn_lft_budget)
                }
            }
            &#type{
                a{
                    @include sprite($cmn_lft_type);
                }
            }
            &#return{
                a{
                    @include sprite($cmn_lft_return);
                }
            }

            /* ここから新規カテゴリー */
            &#eat{
                a{
                    display:block;
                    background: url('https://shopping.geocities.jp/dentouhonpo/img/leftnav/cmn_lft_eat.png') no-repeat;
                    background-size:165px 36px;
                    width: 165px;
                    height: 36px;
                }
            }
            &#drink{
                a{
                    display:block;
                    background: url('https://shopping.geocities.jp/dentouhonpo/img/leftnav/cmn_lft_drink.png') no-repeat;
                    background-size:165px 36px;
                    width: 165px;
                    height: 36px;
                }
            }
            &#sake{
                a{
                    display:block;
                    background: url('https://shopping.geocities.jp/dentouhonpo/img/leftnav/cmn_lft_sake.png') no-repeat;
                    background-size:165px 36px;
                    width: 165px;
                    height: 36px;
                }
            }
            &#put{
                a{
                    display:block;
                    background: url('https://shopping.geocities.jp/dentouhonpo/img/leftnav/cmn_lft_put.png') no-repeat;
                    background-size:165px 36px;
                    width: 165px;
                    height: 36px;
                }
            }
            &#table{
                a{
                    display:block;
                    background: url('https://shopping.geocities.jp/dentouhonpo/img/leftnav/cmn_lft_table.png') no-repeat;
                    background-size:165px 36px;
                    width: 165px;
                    height: 36px;
                }
            }
            &#kitchen{
                a{
                    display:block;
                    background: url('https://shopping.geocities.jp/dentouhonpo/img/leftnav/cmn_lft_kitchen.png') no-repeat;
                    background-size:165px 36px;
                    width: 165px;
                    height: 36px;
                }
            }
            &#study{
                a{
                    display:block;
                    background: url('https://shopping.geocities.jp/dentouhonpo/img/leftnav/cmn_lft_study.png') no-repeat;
                    background-size:165px 36px;
                    width: 165px;
                    height: 36px;
                }
            }
            &#interior{
                a{
                    display:block;
                    background: url('https://shopping.geocities.jp/dentouhonpo/img/leftnav/cmn_lft_interior.png') no-repeat;
                    background-size:165px 36px;
                    width: 165px;
                    height: 36px;
                }
            }
            &#set{
                a{
                    display:block;
                    background: url('https://shopping.geocities.jp/dentouhonpo/img/leftnav/cmn_lft_set.png') no-repeat;
                    background-size:165px 36px;
                    width: 165px;
                    height: 36px;
                }
            }
            &#relux{
                a{
                    display:block;
                    background: url('https://shopping.geocities.jp/dentouhonpo/img/leftnav/cmn_lft_relux.png') no-repeat;
                    background-size:165px 36px;
                    width: 165px;
                    height: 36px;
                }
            }
            &#guest{
                a{
                    display:block;
                    background: url('https://shopping.geocities.jp/dentouhonpo/img/leftnav/cmn_lft_guest.png') no-repeat;
                    background-size:165px 36px;
                    width: 165px;
                    height: 36px;
                }
            }
            &#place{
                a{
                    display:block;
                    background: url('https://shopping.geocities.jp/dentouhonpo/img/leftnav/cmn_lft_place.png') no-repeat;
                    background-size:165px 36px;
                    width: 165px;
                    height: 36px;
                }
            }

            /* 匠の器 */
            &#pro{
                a{
                    @include sprite($cmn_lft_pro);
                }
            }
            @media only screen and (min-width: 166px) {
                &#category{
                    a{
                        @include sprite($cmn_lft_category02);
                    }
                }
                &#event{
                    a{
                        @include sprite($cmn_lft_event02);
                    }
                }
                &#budget{
                    a{
                        @include sprite($cmn_lft_budget02);
                    }
                }
                &#type{
                    a{
                        @include sprite($cmn_lft_type02);
                    }
                }
                &#return{
                    a{
                        @include sprite($cmn_lft_return02);
                    }
                }

                /* 匠の器 */
                &#pro{
                    a{
                        @include sprite($cmn_lft_pro02);
                    }
                }
                
                /* ここから新規カテゴリー */
                &#eat{
                    a{
                        display:block;
                        background: url('https://shopping.geocities.jp/dentouhonpo/img/leftnav/cmn_lft_eat.png') no-repeat;
                        background-size:165px 36px;
                        width: 165px;
                        height: 36px;
                    }
                }
                &#drink{
                    a{
                        display:block;
                        background: url('https://shopping.geocities.jp/dentouhonpo/img/leftnav/cmn_lft_drink.png') no-repeat;
                        background-size:165px 36px;
                        width: 165px;
                        height: 36px;
                    }
                }
                &#sake{
                    a{
                        display:block;
                        background: url('https://shopping.geocities.jp/dentouhonpo/img/leftnav/cmn_lft_sake.png') no-repeat;
                        background-size:165px 36px;
                        width: 165px;
                        height: 36px;
                    }
                }
                &#put{
                    a{
                        display:block;
                        background: url('https://shopping.geocities.jp/dentouhonpo/img/leftnav/cmn_lft_put.png') no-repeat;
                        background-size:165px 36px;
                        width: 165px;
                        height: 36px;
                    }
                }
                &#table{
                    a{
                        display:block;
                        background: url('https://shopping.geocities.jp/dentouhonpo/img/leftnav/cmn_lft_table.png') no-repeat;
                        background-size:165px 36px;
                        width: 165px;
                        height: 36px;
                    }
                }
                &#kitchen{
                    a{
                        display:block;
                        background: url('https://shopping.geocities.jp/dentouhonpo/img/leftnav/cmn_lft_kitchen.png') no-repeat;
                        background-size:165px 36px;
                        width: 165px;
                        height: 36px;
                    }
                }
                &#study{
                    a{
                        display:block;
                        background: url('https://shopping.geocities.jp/dentouhonpo/img/leftnav/cmn_lft_study.png') no-repeat;
                        background-size:165px 36px;
                        width: 165px;
                        height: 36px;
                    }
                }
                &#interior{
                    a{
                        display:block;
                        background: url('https://shopping.geocities.jp/dentouhonpo/img/leftnav/cmn_lft_interior.png') no-repeat;
                        background-size:165px 36px;
                        width: 165px;
                        height: 36px;
                    }
                }
                &#set{
                    a{
                        display:block;
                        background: url('https://shopping.geocities.jp/dentouhonpo/img/leftnav/cmn_lft_set.png') no-repeat;
                        background-size:165px 36px;
                        width: 165px;
                        height: 36px;
                    }
                }
                &#relux{
                    a{
                        display:block;
                        background: url('https://shopping.geocities.jp/dentouhonpo/img/leftnav/cmn_lft_relux.png') no-repeat;
                        background-size:165px 36px;
                        width: 165px;
                        height: 36px;
                    }
                }
                &#guest{
                    a{
                        display:block;
                        background: url('https://shopping.geocities.jp/dentouhonpo/img/leftnav/cmn_lft_guest.png') no-repeat;
                        background-size:165px 36px;
                        width: 165px;
                        height: 36px;
                    }
                }
                &#place{
                    a{
                        display:block;
                        background: url('https://shopping.geocities.jp/dentouhonpo/img/leftnav/cmn_lft_place.png') no-repeat;
                        background-size:165px 36px;
                        width: 165px;
                        height: 36px;
                    }
                }
            }

            &#type,&#category,&#budget,&#event,&#return,&#pro,&#eat,&#drink,&#sake,&#put,&#table,&#kitchen,&#study,&#interior,&#set,&#relux,&#guest,&#place{
                width: 100%;
                padding: 0;
                a{
                    display: block;
                    margin: 20px 0 5px;
                    height: 36px;
                    &:hover{
                        background-color: $tbc;
                    }
                }
            }
            &.genreName{
                width: 96%;
                padding: 2%;
            }

            /* 種類で選ぶ */
            &.table,&.tea,&.dish,&.beer,&.rice,&.flower,&.plate,&.aroma,&.interior,&.item,&.stand,&.cup{
                width: 100%;
                border-top: 1px dashed #dfdfdf;
                @include padd(10,0,0,0);
                @include marg(20,0,5,0);
                a{
                    text-indent: -9999px;
                }
            }
            &.table{
                border: none;
                @include padd(0,0,0,0);
                @include marg(6,0,6,0);
            }
            &.table a{
                @include sprite($cmn_lft_table);
            }
            &.tea a{
                @include sprite($cmn_lft_tea);
            }
            &.dish a{
                @include sprite($cmn_lft_dish);
            }
            &.beer a{
                @include sprite($cmn_lft_beer);
            }
            &.rice a{
                @include sprite($cmn_lft_rice);
            }
            &.flower a{
                @include sprite($cmn_lft_flower);
            }
            &.plate a{
                @include sprite($cmn_lft_plate);
            }
            &.aroma a{
                @include sprite($cmn_lft_aroma);
            }
            &.interior a{
                @include sprite($cmn_lft_interior);
            }
            &.item a{
                @include sprite($cmn_lft_item);
            }
            &.stand a{
                @include sprite($cmn_lft_stand);
            }
            &.cup a{
                @include sprite($cmn_lft_cup);
            }
        }


    }

    @media only screen and (min-width: 166px) {
        li{
            float: left;
        }
    }
    /* facebook */
    iframe{
        width: 99%;
        margin: 30px 0;
        overflow: hidden;
        border: none;
        padding: 0;
        &#fb{
            height: 370px;
            border-bottom: 1px solid #ababab;
        }
    }

    /* メディア掲載情報 */
    .media{
        @include marg(50,0,0,0);
        img{
            display: block;
            margin: 15px auto;
        }
        p{
            span{
                display: block;
                @include sprite($cmn_lft_media);
            }
            @media only screen and (min-width: 166px) {
                span{
                    @include sprite($cmn_lft_media02);
                }
            }
        }
        a{
            color: $acc;
            ul{
                li{
                    @include fsize(10,1.5);
                    @include marg(6,0,0,0);
                }
            }
            &:hover{
                text-decoration: underline;
            }
        }
    }

    /* 季節限定イベント */
    p.season{
        margin: 50px 0 0;
        span{
            display: block;
            @include sprite($cmn_lft_season);
        }
        @media only screen and (min-width: 166px) {
            span{
                @include sprite($cmn_lft_season02);
            }
        }
    }

    /* 売れ筋商品 */
    p.ranking{
        margin: 50px 0 0;
        span{
            display: block;
            @include sprite($cmn_lft_rank);
        }
        @media only screen and (min-width: 166px) {
            span{
                @include sprite($cmn_lft_rank02);
            }
        }
    }
    ul#event{
        background-color: #efefef;
        width: 96%;
        padding: 2%;
        margin: 20px 0;
        li{
            padding: 5px;
            margin:0;
            float: left;
            a{
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    ul#ranking{
        background-color: #efefef;
        width: 96%;
        padding: 2% 2% 6%;
        margin: 20px 0;
        li{
            p{
                margin: 5px 0;
                @include fsize(11,1.5);
            }
            span{
                display: block;
                margin: 10px auto 4px;
                &.rank01{
                    @include sprite($cmn_lft_rankic01);
                }
                &.rank02{
                    @include sprite($cmn_lft_rankic02);
                }
                &.rank03{
                    @include sprite($cmn_lft_rankic03);
                }
                &.rank04{
                    @include sprite($cmn_lft_rankic04);
                }
                &.rank05{
                    @include sprite($cmn_lft_rankic05);
                }
                &.rank06{
                    @include sprite($cmn_lft_rankic06);
                }
            }
            padding: 5px;
            margin:0;
            float: left;
            a{
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    /* 模倣サイトの警告 */
    div.careful{
        width: 91%;
        margin: auto;
        padding: 4%;
        border: 1px solid #dfdfdf;
        strong{
            color: $acc;
            @include fsize(13,1.5);
            margin: 10px 0 15px;
            display: block;
        }
        p{
            @include fsize(11,1.5);
            margin: 0 0 10px;
        }
        em{
            @include fsize(10,1.5);
        }
        ol{
            @include fsize(11,1.5);
            list-style-position: inside;
            text-indent: 0;
            padding: 0;
            li{
                margin: 0 0 10px;
            }
        }
        hr{
            width: 100%;
            clear: both;
            border: none;
            border-bottom: 1px dashed $sbc01;
        }
    }

    /* 各種案内 */
    .contact a span{
        @include sprite($cmn_lft_contact);
    }
    .question a span{
        @include sprite($cmn_lft_question);
    }
    .noshi a span{
        @include sprite($cmn_lft_noshi);
    }
    .ymnk a span{
        @include sprite($cmn_lft_ymnk); 
    }

    .subContents{
        background-color: $acc;
        width: 100%;
        margin: 10px 0;
        a{
            color: $bc;
            @include fsize(13,1.5);
            text-decoration: none;
            text-align: center;
            display: block;
            @include anm(0.2s);
            padding: 8px 0;
            &:hover{
                background-color: $mc;
            }
            span{
                display: block;
                margin: 0 auto;
            }
            &.txt{
                font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
            }
        }
    }
}