@charset "UTF-8";
/* CSS Document */

@import "style-header.scss";
@import "style-footer.scss";
@import "style-leftnav.scss";
/* @import "sprite-footer.scss"; */

$line : solid 1px $sbc01; 


body{
    background: none;
    background-color: #fff;
    ul,ol{
        text-indent: 0;
    }

    strong{
        position: absolute;
        opacity:0;
        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    }
    iframe.header{
        width: 100%;
        height: 600px;
        overflow: hidden;
    }
    iframe.leftnav{
        float: left;
        display: block;
        width: 200px;
        height: 5800px;
    }

    #mainContents{
        width: 1020px;
        margin: 30px auto;
        padding: 0;
        overflow: hidden;
        background-color: #fff;
    }

    #footerContents{
        background-color: #fff;
        border-top: 1px solid $sbc01;
        width: 100%;
        .wrapContents{
            width: 990px;
            margin: 0 auto;
        }
    }



    #topContents{
        margin: 3px 0 40px 20px;
        width: 800px;
        float: left;
        overflow: hidden;
    }
    /* topContents-fin */


    .media{
        h2{
            @include fsize(16,1.5);
            text-indent: 0;
            line-height: 1;
            margin: 0 0 4px;
            span{
                float: right;
                @include fsize(10,1.5);
                a{
                    background-color: $sbc01;
                    color: $bc;
                    text-decoration: none;
                    border: 1px solid $sbc01;
                    padding: 3px 6px;
                    @include anm(0.2s);
                    -webkit-border-radius: 2px 2px 2px 2px;
                    border-radius: 2px 2px 2px 2px;
                    &:hover{
                        background-color: $bc;
                        color: $sbc01;
                    }
                }
            }
        }
        hr{
            margin: 0;
            border: none;
            border-bottom: 1px solid $sbc03;
            &.short{
                display: block;
                margin: 0 !important;
                text-align: left;
                padding: 0;
                width: 20%;
                border-bottom: 2px solid $sbc03;
            }
        }
        article{
            hr{
                clear: both;
                width: 100%;
                margin: 30px 0;
            }
            header{
                div{
                    p{
                        text-align: center;
                    }
                }
            }
            section{
                figcaption{
                    text-align: center;
                }
                div{
                    width: 50%;
                    float: left;
                    img{
                        display: block;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
    /* メディア掲載情報 */

    .review{
        @include fsize(16,1.5);
        .step1{
            background:url(https://shopping.c.yimg.jp/lib/dentouhonpo/rp_head.jpg) no-repeat;
        }
        table{
            background: none;
            border: none;
        }
        .head_link{
            float:left;
            width:610px;
            height:auto;
            margin:220px 0 50px 140px;
            text-align:center;
            background: none;
            border: none;
            td{
                padding:10px;
                border: none;
                background: none;
            }
        }
        .description{
            width:90%;
            padding:20px;
            border:#900 1px solid;
            margin:20px auto;
            span{
                color:$mc;
                font-weight:bold;
            }
        }
        .description2{
            width:90%;
            padding:20px;
            border:#36528b 1px solid;
            margin:20px auto;
            span{
                color:$mc;
                font-weight:bold;
            }
        }
        .howto{
            width:800px;
            height:auto;
            small{
                color:$mc;
            }
        }
        .step1_flow{
            display:block;
            width:300px;
            background-color:#d6b641;
            text-align:center;
            color:#FFF;
            padding:6px 12px;
            font-weight:bold;
        }
        .step2_flow{
            display:block;
            width:300px;
            background-color:#36528b;
            text-align:center;
            color:#fff;
            padding:6px 12px;
            font-weight:bold;
        }
        span.step3_flow a{
            display:block;
            width:300px;
            background-color:$mc;
            text-align:center;
            color:#fff;
            padding:6px 12px;
            font-weight:bold;
        }
        .service{
            margin-bottom:60px;
        }
        .step1{
            .service{
                height: 540px;
            }
        }
        .flow{
            width:100%;
            padding:0 0 0 10px;
            p{
                line-height:1.6;
            }
        }
        .allow{
            margin-left:130px;
        }
        .howto_img{
            text-align:center;
            margin:20px auto;
        }
        .howto_txt{
            clear:both;
            padding-top:20px;
        }
        .capture{
            display:block;
            margin:0 auto;
            border:#d6b641 1px solid;
        }
        .capture2{
            display:block;
            margin:0 auto;
            border:#36528b 1px solid;
        }
        .caption{
            clear:both;
            float:right;
        }
        h2 span{
            font-weight:bold;
            font-size:24px;
        }
    }
}


