/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$cmn_hdr_asu-x: 594px;
$cmn_hdr_asu-y: 465px;
$cmn_hdr_asu-offset-x: -594px;
$cmn_hdr_asu-offset-y: -465px;
$cmn_hdr_asu-width: 112px;
$cmn_hdr_asu-height: 21px;
$cmn_hdr_asu-total-width: 710px;
$cmn_hdr_asu-total-height: 621px;
$cmn_hdr_asu-image: '../img/sprites/spritesheet.png';
$cmn_hdr_asu: 594px 465px -594px -465px 112px 21px 710px 621px '../img/sprites/spritesheet.png';
$cmn_hdr_asu_hv-x: 243px;
$cmn_hdr_asu_hv-y: 511px;
$cmn_hdr_asu_hv-offset-x: -243px;
$cmn_hdr_asu_hv-offset-y: -511px;
$cmn_hdr_asu_hv-width: 112px;
$cmn_hdr_asu_hv-height: 21px;
$cmn_hdr_asu_hv-total-width: 710px;
$cmn_hdr_asu_hv-total-height: 621px;
$cmn_hdr_asu_hv-image: '../img/sprites/spritesheet.png';
$cmn_hdr_asu_hv: 243px 511px -243px -511px 112px 21px 710px 621px '../img/sprites/spritesheet.png';
$cmn_hdr_cal-x: 212px;
$cmn_hdr_cal-y: 0px;
$cmn_hdr_cal-offset-x: -212px;
$cmn_hdr_cal-offset-y: 0px;
$cmn_hdr_cal-width: 178px;
$cmn_hdr_cal-height: 68px;
$cmn_hdr_cal-total-width: 710px;
$cmn_hdr_cal-total-height: 621px;
$cmn_hdr_cal-image: '../img/sprites/spritesheet.png';
$cmn_hdr_cal: 212px 0px -212px 0px 178px 68px 710px 621px '../img/sprites/spritesheet.png';
$cmn_hdr_cmp-x: 220px;
$cmn_hdr_cmp-y: 476px;
$cmn_hdr_cmp-offset-x: -220px;
$cmn_hdr_cmp-offset-y: -476px;
$cmn_hdr_cmp-width: 100px;
$cmn_hdr_cmp-height: 25px;
$cmn_hdr_cmp-total-width: 710px;
$cmn_hdr_cmp-total-height: 621px;
$cmn_hdr_cmp-image: '../img/sprites/spritesheet.png';
$cmn_hdr_cmp: 220px 476px -220px -476px 100px 25px 710px 621px '../img/sprites/spritesheet.png';
$cmn_hdr_cmp_h-x: 408px;
$cmn_hdr_cmp_h-y: 431px;
$cmn_hdr_cmp_h-offset-x: -408px;
$cmn_hdr_cmp_h-offset-y: -431px;
$cmn_hdr_cmp_h-width: 100px;
$cmn_hdr_cmp_h-height: 25px;
$cmn_hdr_cmp_h-total-width: 710px;
$cmn_hdr_cmp_h-total-height: 621px;
$cmn_hdr_cmp_h-image: '../img/sprites/spritesheet.png';
$cmn_hdr_cmp_h: 408px 431px -408px -431px 100px 25px 710px 621px '../img/sprites/spritesheet.png';
$cmn_hdr_comp-x: 330px;
$cmn_hdr_comp-y: 476px;
$cmn_hdr_comp-offset-x: -330px;
$cmn_hdr_comp-offset-y: -476px;
$cmn_hdr_comp-width: 112px;
$cmn_hdr_comp-height: 21px;
$cmn_hdr_comp-total-width: 710px;
$cmn_hdr_comp-total-height: 621px;
$cmn_hdr_comp-image: '../img/sprites/spritesheet.png';
$cmn_hdr_comp: 330px 476px -330px -476px 112px 21px 710px 621px '../img/sprites/spritesheet.png';
$cmn_hdr_comp_hv-x: 0px;
$cmn_hdr_comp_hv-y: 511px;
$cmn_hdr_comp_hv-offset-x: 0px;
$cmn_hdr_comp_hv-offset-y: -511px;
$cmn_hdr_comp_hv-width: 112px;
$cmn_hdr_comp_hv-height: 21px;
$cmn_hdr_comp_hv-total-width: 710px;
$cmn_hdr_comp_hv-total-height: 621px;
$cmn_hdr_comp_hv-image: '../img/sprites/spritesheet.png';
$cmn_hdr_comp_hv: 0px 511px 0px -511px 112px 21px 710px 621px '../img/sprites/spritesheet.png';
$cmn_hdr_del-x: 212px;
$cmn_hdr_del-y: 126px;
$cmn_hdr_del-offset-x: -212px;
$cmn_hdr_del-offset-y: -126px;
$cmn_hdr_del-width: 124px;
$cmn_hdr_del-height: 38px;
$cmn_hdr_del-total-width: 710px;
$cmn_hdr_del-total-height: 621px;
$cmn_hdr_del-image: '../img/sprites/spritesheet.png';
$cmn_hdr_del: 212px 126px -212px -126px 124px 38px 710px 621px '../img/sprites/spritesheet.png';
$cmn_hdr_del_hv-x: 212px;
$cmn_hdr_del_hv-y: 78px;
$cmn_hdr_del_hv-offset-x: -212px;
$cmn_hdr_del_hv-offset-y: -78px;
$cmn_hdr_del_hv-width: 124px;
$cmn_hdr_del_hv-height: 38px;
$cmn_hdr_del_hv-total-width: 710px;
$cmn_hdr_del_hv-total-height: 621px;
$cmn_hdr_del_hv-image: '../img/sprites/spritesheet.png';
$cmn_hdr_del_hv: 212px 78px -212px -78px 124px 38px 710px 621px '../img/sprites/spritesheet.png';
$cmn_hdr_guide-x: 452px;
$cmn_hdr_guide-y: 476px;
$cmn_hdr_guide-offset-x: -452px;
$cmn_hdr_guide-offset-y: -476px;
$cmn_hdr_guide-width: 112px;
$cmn_hdr_guide-height: 21px;
$cmn_hdr_guide-total-width: 710px;
$cmn_hdr_guide-total-height: 621px;
$cmn_hdr_guide-image: '../img/sprites/spritesheet.png';
$cmn_hdr_guide: 452px 476px -452px -476px 112px 21px 710px 621px '../img/sprites/spritesheet.png';
$cmn_hdr_guide_h-x: 400px;
$cmn_hdr_guide_h-y: 336px;
$cmn_hdr_guide_h-offset-x: -400px;
$cmn_hdr_guide_h-offset-y: -336px;
$cmn_hdr_guide_h-width: 100px;
$cmn_hdr_guide_h-height: 25px;
$cmn_hdr_guide_h-total-width: 710px;
$cmn_hdr_guide_h-total-height: 621px;
$cmn_hdr_guide_h-image: '../img/sprites/spritesheet.png';
$cmn_hdr_guide_h: 400px 336px -400px -336px 100px 25px 710px 621px '../img/sprites/spritesheet.png';
$cmn_hdr_guide_hv-x: 365px;
$cmn_hdr_guide_hv-y: 511px;
$cmn_hdr_guide_hv-offset-x: -365px;
$cmn_hdr_guide_hv-offset-y: -511px;
$cmn_hdr_guide_hv-width: 112px;
$cmn_hdr_guide_hv-height: 21px;
$cmn_hdr_guide_hv-total-width: 710px;
$cmn_hdr_guide_hv-total-height: 621px;
$cmn_hdr_guide_hv-image: '../img/sprites/spritesheet.png';
$cmn_hdr_guide_hv: 365px 511px -365px -511px 112px 21px 710px 621px '../img/sprites/spritesheet.png';
$cmn_hdr_logo-x: 0px;
$cmn_hdr_logo-y: 118px;
$cmn_hdr_logo-offset-x: 0px;
$cmn_hdr_logo-offset-y: -118px;
$cmn_hdr_logo-width: 170px;
$cmn_hdr_logo-height: 79px;
$cmn_hdr_logo-total-width: 710px;
$cmn_hdr_logo-total-height: 621px;
$cmn_hdr_logo-image: '../img/sprites/spritesheet.png';
$cmn_hdr_logo: 0px 118px 0px -118px 170px 79px 710px 621px '../img/sprites/spritesheet.png';
$cmn_hdr_m01-x: 0px;
$cmn_hdr_m01-y: 319px;
$cmn_hdr_m01-offset-x: 0px;
$cmn_hdr_m01-offset-y: -319px;
$cmn_hdr_m01-width: 184px;
$cmn_hdr_m01-height: 46px;
$cmn_hdr_m01-total-width: 710px;
$cmn_hdr_m01-total-height: 621px;
$cmn_hdr_m01-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m01: 0px 319px 0px -319px 184px 46px 710px 621px '../img/sprites/spritesheet.png';
$cmn_hdr_m01_hv-x: 194px;
$cmn_hdr_m01_hv-y: 319px;
$cmn_hdr_m01_hv-offset-x: -194px;
$cmn_hdr_m01_hv-offset-y: -319px;
$cmn_hdr_m01_hv-width: 184px;
$cmn_hdr_m01_hv-height: 46px;
$cmn_hdr_m01_hv-total-width: 710px;
$cmn_hdr_m01_hv-total-height: 621px;
$cmn_hdr_m01_hv-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m01_hv: 194px 319px -194px -319px 184px 46px 710px 621px '../img/sprites/spritesheet.png';
$cmn_hdr_m02-x: 400px;
$cmn_hdr_m02-y: 0px;
$cmn_hdr_m02-offset-x: -400px;
$cmn_hdr_m02-offset-y: 0px;
$cmn_hdr_m02-width: 184px;
$cmn_hdr_m02-height: 46px;
$cmn_hdr_m02-total-width: 710px;
$cmn_hdr_m02-total-height: 621px;
$cmn_hdr_m02-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m02: 400px 0px -400px 0px 184px 46px 710px 621px '../img/sprites/spritesheet.png';
$cmn_hdr_m02_hv-x: 0px;
$cmn_hdr_m02_hv-y: 207px;
$cmn_hdr_m02_hv-offset-x: 0px;
$cmn_hdr_m02_hv-offset-y: -207px;
$cmn_hdr_m02_hv-width: 184px;
$cmn_hdr_m02_hv-height: 46px;
$cmn_hdr_m02_hv-total-width: 710px;
$cmn_hdr_m02_hv-total-height: 621px;
$cmn_hdr_m02_hv-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m02_hv: 0px 207px 0px -207px 184px 46px 710px 621px '../img/sprites/spritesheet.png';
$cmn_hdr_m03-x: 400px;
$cmn_hdr_m03-y: 112px;
$cmn_hdr_m03-offset-x: -400px;
$cmn_hdr_m03-offset-y: -112px;
$cmn_hdr_m03-width: 184px;
$cmn_hdr_m03-height: 46px;
$cmn_hdr_m03-total-width: 710px;
$cmn_hdr_m03-total-height: 621px;
$cmn_hdr_m03-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m03: 400px 112px -400px -112px 184px 46px 710px 621px '../img/sprites/spritesheet.png';
$cmn_hdr_m03_hv-x: 400px;
$cmn_hdr_m03_hv-y: 168px;
$cmn_hdr_m03_hv-offset-x: -400px;
$cmn_hdr_m03_hv-offset-y: -168px;
$cmn_hdr_m03_hv-width: 184px;
$cmn_hdr_m03_hv-height: 46px;
$cmn_hdr_m03_hv-total-width: 710px;
$cmn_hdr_m03_hv-total-height: 621px;
$cmn_hdr_m03_hv-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m03_hv: 400px 168px -400px -168px 184px 46px 710px 621px '../img/sprites/spritesheet.png';
$cmn_hdr_m04-x: 194px;
$cmn_hdr_m04-y: 263px;
$cmn_hdr_m04-offset-x: -194px;
$cmn_hdr_m04-offset-y: -263px;
$cmn_hdr_m04-width: 184px;
$cmn_hdr_m04-height: 46px;
$cmn_hdr_m04-total-width: 710px;
$cmn_hdr_m04-total-height: 621px;
$cmn_hdr_m04-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m04: 194px 263px -194px -263px 184px 46px 710px 621px '../img/sprites/spritesheet.png';
$cmn_hdr_m04_hv-x: 400px;
$cmn_hdr_m04_hv-y: 280px;
$cmn_hdr_m04_hv-offset-x: -400px;
$cmn_hdr_m04_hv-offset-y: -280px;
$cmn_hdr_m04_hv-width: 184px;
$cmn_hdr_m04_hv-height: 46px;
$cmn_hdr_m04_hv-total-width: 710px;
$cmn_hdr_m04_hv-total-height: 621px;
$cmn_hdr_m04_hv-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m04_hv: 400px 280px -400px -280px 184px 46px 710px 621px '../img/sprites/spritesheet.png';
$cmn_hdr_m05-x: 0px;
$cmn_hdr_m05-y: 375px;
$cmn_hdr_m05-offset-x: 0px;
$cmn_hdr_m05-offset-y: -375px;
$cmn_hdr_m05-width: 184px;
$cmn_hdr_m05-height: 46px;
$cmn_hdr_m05-total-width: 710px;
$cmn_hdr_m05-total-height: 621px;
$cmn_hdr_m05-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m05: 0px 375px 0px -375px 184px 46px 710px 621px '../img/sprites/spritesheet.png';
$cmn_hdr_m05_hv-x: 194px;
$cmn_hdr_m05_hv-y: 375px;
$cmn_hdr_m05_hv-offset-x: -194px;
$cmn_hdr_m05_hv-offset-y: -375px;
$cmn_hdr_m05_hv-width: 184px;
$cmn_hdr_m05_hv-height: 46px;
$cmn_hdr_m05_hv-total-width: 710px;
$cmn_hdr_m05_hv-total-height: 621px;
$cmn_hdr_m05_hv-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m05_hv: 194px 375px -194px -375px 184px 46px 710px 621px '../img/sprites/spritesheet.png';
$cmn_hdr_m06-x: 194px;
$cmn_hdr_m06-y: 207px;
$cmn_hdr_m06-offset-x: -194px;
$cmn_hdr_m06-offset-y: -207px;
$cmn_hdr_m06-width: 184px;
$cmn_hdr_m06-height: 46px;
$cmn_hdr_m06-total-width: 710px;
$cmn_hdr_m06-total-height: 621px;
$cmn_hdr_m06-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m06: 194px 207px -194px -207px 184px 46px 710px 621px '../img/sprites/spritesheet.png';
$cmn_hdr_m06_hv-x: 388px;
$cmn_hdr_m06_hv-y: 375px;
$cmn_hdr_m06_hv-offset-x: -388px;
$cmn_hdr_m06_hv-offset-y: -375px;
$cmn_hdr_m06_hv-width: 184px;
$cmn_hdr_m06_hv-height: 35px;
$cmn_hdr_m06_hv-total-width: 710px;
$cmn_hdr_m06_hv-total-height: 621px;
$cmn_hdr_m06_hv-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m06_hv: 388px 375px -388px -375px 184px 35px 710px 621px '../img/sprites/spritesheet.png';
$cmn_hdr_m07-x: 400px;
$cmn_hdr_m07-y: 224px;
$cmn_hdr_m07-offset-x: -400px;
$cmn_hdr_m07-offset-y: -224px;
$cmn_hdr_m07-width: 184px;
$cmn_hdr_m07-height: 46px;
$cmn_hdr_m07-total-width: 710px;
$cmn_hdr_m07-total-height: 621px;
$cmn_hdr_m07-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m07: 400px 224px -400px -224px 184px 46px 710px 621px '../img/sprites/spritesheet.png';
$cmn_hdr_m07_hv-x: 0px;
$cmn_hdr_m07_hv-y: 431px;
$cmn_hdr_m07_hv-offset-x: 0px;
$cmn_hdr_m07_hv-offset-y: -431px;
$cmn_hdr_m07_hv-width: 184px;
$cmn_hdr_m07_hv-height: 35px;
$cmn_hdr_m07_hv-total-width: 710px;
$cmn_hdr_m07_hv-total-height: 621px;
$cmn_hdr_m07_hv-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m07_hv: 0px 431px 0px -431px 184px 35px 710px 621px '../img/sprites/spritesheet.png';
$cmn_hdr_m08-x: 0px;
$cmn_hdr_m08-y: 263px;
$cmn_hdr_m08-offset-x: 0px;
$cmn_hdr_m08-offset-y: -263px;
$cmn_hdr_m08-width: 184px;
$cmn_hdr_m08-height: 46px;
$cmn_hdr_m08-total-width: 710px;
$cmn_hdr_m08-total-height: 621px;
$cmn_hdr_m08-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m08: 0px 263px 0px -263px 184px 46px 710px 621px '../img/sprites/spritesheet.png';
$cmn_hdr_m08_hv-x: 400px;
$cmn_hdr_m08_hv-y: 56px;
$cmn_hdr_m08_hv-offset-x: -400px;
$cmn_hdr_m08_hv-offset-y: -56px;
$cmn_hdr_m08_hv-width: 184px;
$cmn_hdr_m08_hv-height: 46px;
$cmn_hdr_m08_hv-total-width: 710px;
$cmn_hdr_m08_hv-total-height: 621px;
$cmn_hdr_m08_hv-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m08_hv: 400px 56px -400px -56px 184px 46px 710px 621px '../img/sprites/spritesheet.png';
$cmn_hdr_per-x: 0px;
$cmn_hdr_per-y: 476px;
$cmn_hdr_per-offset-x: 0px;
$cmn_hdr_per-offset-y: -476px;
$cmn_hdr_per-width: 100px;
$cmn_hdr_per-height: 25px;
$cmn_hdr_per-total-width: 710px;
$cmn_hdr_per-total-height: 621px;
$cmn_hdr_per-image: '../img/sprites/spritesheet.png';
$cmn_hdr_per: 0px 476px 0px -476px 100px 25px 710px 621px '../img/sprites/spritesheet.png';
$cmn_hdr_per_h-x: 110px;
$cmn_hdr_per_h-y: 476px;
$cmn_hdr_per_h-offset-x: -110px;
$cmn_hdr_per_h-offset-y: -476px;
$cmn_hdr_per_h-width: 100px;
$cmn_hdr_per_h-height: 25px;
$cmn_hdr_per_h-total-width: 710px;
$cmn_hdr_per_h-total-height: 621px;
$cmn_hdr_per_h-image: '../img/sprites/spritesheet.png';
$cmn_hdr_per_h: 110px 476px -110px -476px 100px 25px 710px 621px '../img/sprites/spritesheet.png';
$cmn_hdr_pr-x: 122px;
$cmn_hdr_pr-y: 511px;
$cmn_hdr_pr-offset-x: -122px;
$cmn_hdr_pr-offset-y: -511px;
$cmn_hdr_pr-width: 111px;
$cmn_hdr_pr-height: 21px;
$cmn_hdr_pr-total-width: 710px;
$cmn_hdr_pr-total-height: 621px;
$cmn_hdr_pr-image: '../img/sprites/spritesheet.png';
$cmn_hdr_pr: 122px 511px -122px -511px 111px 21px 710px 621px '../img/sprites/spritesheet.png';
$cmn_hdr_pr_hv-x: 212px;
$cmn_hdr_pr_hv-y: 174px;
$cmn_hdr_pr_hv-offset-x: -212px;
$cmn_hdr_pr_hv-offset-y: -174px;
$cmn_hdr_pr_hv-width: 111px;
$cmn_hdr_pr_hv-height: 21px;
$cmn_hdr_pr_hv-total-width: 710px;
$cmn_hdr_pr_hv-total-height: 621px;
$cmn_hdr_pr_hv-image: '../img/sprites/spritesheet.png';
$cmn_hdr_pr_hv: 212px 174px -212px -174px 111px 21px 710px 621px '../img/sprites/spritesheet.png';
$cmn_hdr_search-x: 0px;
$cmn_hdr_search-y: 0px;
$cmn_hdr_search-offset-x: 0px;
$cmn_hdr_search-offset-y: 0px;
$cmn_hdr_search-width: 202px;
$cmn_hdr_search-height: 108px;
$cmn_hdr_search-total-width: 710px;
$cmn_hdr_search-total-height: 621px;
$cmn_hdr_search-image: '../img/sprites/spritesheet.png';
$cmn_hdr_search: 0px 0px 0px 0px 202px 108px 710px 621px '../img/sprites/spritesheet.png';
$cmn_hdr_searchbtn-x: 487px;
$cmn_hdr_searchbtn-y: 511px;
$cmn_hdr_searchbtn-offset-x: -487px;
$cmn_hdr_searchbtn-offset-y: -511px;
$cmn_hdr_searchbtn-width: 96px;
$cmn_hdr_searchbtn-height: 18px;
$cmn_hdr_searchbtn-total-width: 710px;
$cmn_hdr_searchbtn-total-height: 621px;
$cmn_hdr_searchbtn-image: '../img/sprites/spritesheet.png';
$cmn_hdr_searchbtn: 487px 511px -487px -511px 96px 18px 710px 621px '../img/sprites/spritesheet.png';
$cmn_hdr_sptxt01-x: 0px;
$cmn_hdr_sptxt01-y: 604px;
$cmn_hdr_sptxt01-offset-x: 0px;
$cmn_hdr_sptxt01-offset-y: -604px;
$cmn_hdr_sptxt01-width: 115px;
$cmn_hdr_sptxt01-height: 17px;
$cmn_hdr_sptxt01-total-width: 710px;
$cmn_hdr_sptxt01-total-height: 621px;
$cmn_hdr_sptxt01-image: '../img/sprites/spritesheet.png';
$cmn_hdr_sptxt01: 0px 604px 0px -604px 115px 17px 710px 621px '../img/sprites/spritesheet.png';
$cmn_hdr_sptxt02-x: 607px;
$cmn_hdr_sptxt02-y: 573px;
$cmn_hdr_sptxt02-offset-x: -607px;
$cmn_hdr_sptxt02-offset-y: -573px;
$cmn_hdr_sptxt02-width: 94px;
$cmn_hdr_sptxt02-height: 17px;
$cmn_hdr_sptxt02-total-width: 710px;
$cmn_hdr_sptxt02-total-height: 621px;
$cmn_hdr_sptxt02-image: '../img/sprites/spritesheet.png';
$cmn_hdr_sptxt02: 607px 573px -607px -573px 94px 17px 710px 621px '../img/sprites/spritesheet.png';
$cmn_hdr_sptxt03-x: 482px;
$cmn_hdr_sptxt03-y: 573px;
$cmn_hdr_sptxt03-offset-x: -482px;
$cmn_hdr_sptxt03-offset-y: -573px;
$cmn_hdr_sptxt03-width: 115px;
$cmn_hdr_sptxt03-height: 17px;
$cmn_hdr_sptxt03-total-width: 710px;
$cmn_hdr_sptxt03-total-height: 621px;
$cmn_hdr_sptxt03-image: '../img/sprites/spritesheet.png';
$cmn_hdr_sptxt03: 482px 573px -482px -573px 115px 17px 710px 621px '../img/sprites/spritesheet.png';
$cmn_hdr_sptxt04-x: 378px;
$cmn_hdr_sptxt04-y: 573px;
$cmn_hdr_sptxt04-offset-x: -378px;
$cmn_hdr_sptxt04-offset-y: -573px;
$cmn_hdr_sptxt04-width: 94px;
$cmn_hdr_sptxt04-height: 17px;
$cmn_hdr_sptxt04-total-width: 710px;
$cmn_hdr_sptxt04-total-height: 621px;
$cmn_hdr_sptxt04-image: '../img/sprites/spritesheet.png';
$cmn_hdr_sptxt04: 378px 573px -378px -573px 94px 17px 710px 621px '../img/sprites/spritesheet.png';
$ftr_baby-x: 594px;
$ftr_baby-y: 31px;
$ftr_baby-offset-x: -594px;
$ftr_baby-offset-y: -31px;
$ftr_baby-width: 116px;
$ftr_baby-height: 21px;
$ftr_baby-total-width: 710px;
$ftr_baby-total-height: 621px;
$ftr_baby-image: '../img/sprites/spritesheet.png';
$ftr_baby: 594px 31px -594px -31px 116px 21px 710px 621px '../img/sprites/spritesheet.png';
$ftr_baby_cl-x: 594px;
$ftr_baby_cl-y: 62px;
$ftr_baby_cl-offset-x: -594px;
$ftr_baby_cl-offset-y: -62px;
$ftr_baby_cl-width: 116px;
$ftr_baby_cl-height: 21px;
$ftr_baby_cl-total-width: 710px;
$ftr_baby_cl-total-height: 621px;
$ftr_baby_cl-image: '../img/sprites/spritesheet.png';
$ftr_baby_cl: 594px 62px -594px -62px 116px 21px 710px 621px '../img/sprites/spritesheet.png';
$ftr_baby_cl_hv-x: 594px;
$ftr_baby_cl_hv-y: 93px;
$ftr_baby_cl_hv-offset-x: -594px;
$ftr_baby_cl_hv-offset-y: -93px;
$ftr_baby_cl_hv-width: 116px;
$ftr_baby_cl_hv-height: 21px;
$ftr_baby_cl_hv-total-width: 710px;
$ftr_baby_cl_hv-total-height: 621px;
$ftr_baby_cl_hv-image: '../img/sprites/spritesheet.png';
$ftr_baby_cl_hv: 594px 93px -594px -93px 116px 21px 710px 621px '../img/sprites/spritesheet.png';
$ftr_baby_hv-x: 594px;
$ftr_baby_hv-y: 124px;
$ftr_baby_hv-offset-x: -594px;
$ftr_baby_hv-offset-y: -124px;
$ftr_baby_hv-width: 116px;
$ftr_baby_hv-height: 21px;
$ftr_baby_hv-total-width: 710px;
$ftr_baby_hv-total-height: 621px;
$ftr_baby_hv-image: '../img/sprites/spritesheet.png';
$ftr_baby_hv: 594px 124px -594px -124px 116px 21px 710px 621px '../img/sprites/spritesheet.png';
$ftr_birth-x: 594px;
$ftr_birth-y: 155px;
$ftr_birth-offset-x: -594px;
$ftr_birth-offset-y: -155px;
$ftr_birth-width: 116px;
$ftr_birth-height: 21px;
$ftr_birth-total-width: 710px;
$ftr_birth-total-height: 621px;
$ftr_birth-image: '../img/sprites/spritesheet.png';
$ftr_birth: 594px 155px -594px -155px 116px 21px 710px 621px '../img/sprites/spritesheet.png';
$ftr_birth_hv-x: 594px;
$ftr_birth_hv-y: 186px;
$ftr_birth_hv-offset-x: -594px;
$ftr_birth_hv-offset-y: -186px;
$ftr_birth_hv-width: 116px;
$ftr_birth_hv-height: 21px;
$ftr_birth_hv-total-width: 710px;
$ftr_birth_hv-total-height: 621px;
$ftr_birth_hv-image: '../img/sprites/spritesheet.png';
$ftr_birth_hv: 594px 186px -594px -186px 116px 21px 710px 621px '../img/sprites/spritesheet.png';
$ftr_build-x: 594px;
$ftr_build-y: 217px;
$ftr_build-offset-x: -594px;
$ftr_build-offset-y: -217px;
$ftr_build-width: 116px;
$ftr_build-height: 21px;
$ftr_build-total-width: 710px;
$ftr_build-total-height: 621px;
$ftr_build-image: '../img/sprites/spritesheet.png';
$ftr_build: 594px 217px -594px -217px 116px 21px 710px 621px '../img/sprites/spritesheet.png';
$ftr_build_cl-x: 594px;
$ftr_build_cl-y: 248px;
$ftr_build_cl-offset-x: -594px;
$ftr_build_cl-offset-y: -248px;
$ftr_build_cl-width: 116px;
$ftr_build_cl-height: 21px;
$ftr_build_cl-total-width: 710px;
$ftr_build_cl-total-height: 621px;
$ftr_build_cl-image: '../img/sprites/spritesheet.png';
$ftr_build_cl: 594px 248px -594px -248px 116px 21px 710px 621px '../img/sprites/spritesheet.png';
$ftr_build_cl_hv-x: 594px;
$ftr_build_cl_hv-y: 279px;
$ftr_build_cl_hv-offset-x: -594px;
$ftr_build_cl_hv-offset-y: -279px;
$ftr_build_cl_hv-width: 116px;
$ftr_build_cl_hv-height: 21px;
$ftr_build_cl_hv-total-width: 710px;
$ftr_build_cl_hv-total-height: 621px;
$ftr_build_cl_hv-image: '../img/sprites/spritesheet.png';
$ftr_build_cl_hv: 594px 279px -594px -279px 116px 21px 710px 621px '../img/sprites/spritesheet.png';
$ftr_build_hv-x: 594px;
$ftr_build_hv-y: 310px;
$ftr_build_hv-offset-x: -594px;
$ftr_build_hv-offset-y: -310px;
$ftr_build_hv-width: 116px;
$ftr_build_hv-height: 21px;
$ftr_build_hv-total-width: 710px;
$ftr_build_hv-total-height: 621px;
$ftr_build_hv-image: '../img/sprites/spritesheet.png';
$ftr_build_hv: 594px 310px -594px -310px 116px 21px 710px 621px '../img/sprites/spritesheet.png';
$ftr_business-x: 594px;
$ftr_business-y: 341px;
$ftr_business-offset-x: -594px;
$ftr_business-offset-y: -341px;
$ftr_business-width: 116px;
$ftr_business-height: 21px;
$ftr_business-total-width: 710px;
$ftr_business-total-height: 621px;
$ftr_business-image: '../img/sprites/spritesheet.png';
$ftr_business: 594px 341px -594px -341px 116px 21px 710px 621px '../img/sprites/spritesheet.png';
$ftr_business_hv-x: 594px;
$ftr_business_hv-y: 372px;
$ftr_business_hv-offset-x: -594px;
$ftr_business_hv-offset-y: -372px;
$ftr_business_hv-width: 116px;
$ftr_business_hv-height: 21px;
$ftr_business_hv-total-width: 710px;
$ftr_business_hv-total-height: 621px;
$ftr_business_hv-image: '../img/sprites/spritesheet.png';
$ftr_business_hv: 594px 372px -594px -372px 116px 21px 710px 621px '../img/sprites/spritesheet.png';
$ftr_celeb-x: 594px;
$ftr_celeb-y: 403px;
$ftr_celeb-offset-x: -594px;
$ftr_celeb-offset-y: -403px;
$ftr_celeb-width: 116px;
$ftr_celeb-height: 21px;
$ftr_celeb-total-width: 710px;
$ftr_celeb-total-height: 621px;
$ftr_celeb-image: '../img/sprites/spritesheet.png';
$ftr_celeb: 594px 403px -594px -403px 116px 21px 710px 621px '../img/sprites/spritesheet.png';
$ftr_celeb_hv-x: 594px;
$ftr_celeb_hv-y: 434px;
$ftr_celeb_hv-offset-x: -594px;
$ftr_celeb_hv-offset-y: -434px;
$ftr_celeb_hv-width: 116px;
$ftr_celeb_hv-height: 21px;
$ftr_celeb_hv-total-width: 710px;
$ftr_celeb_hv-total-height: 621px;
$ftr_celeb_hv-image: '../img/sprites/spritesheet.png';
$ftr_celeb_hv: 594px 434px -594px -434px 116px 21px 710px 621px '../img/sprites/spritesheet.png';
$ftr_logo-x: 194px;
$ftr_logo-y: 431px;
$ftr_logo-offset-x: -194px;
$ftr_logo-offset-y: -431px;
$ftr_logo-width: 204px;
$ftr_logo-height: 33px;
$ftr_logo-total-width: 710px;
$ftr_logo-total-height: 621px;
$ftr_logo-image: '../img/sprites/spritesheet.png';
$ftr_logo: 194px 431px -194px -431px 204px 33px 710px 621px '../img/sprites/spritesheet.png';
$ftr_married-x: 594px;
$ftr_married-y: 496px;
$ftr_married-offset-x: -594px;
$ftr_married-offset-y: -496px;
$ftr_married-width: 116px;
$ftr_married-height: 21px;
$ftr_married-total-width: 710px;
$ftr_married-total-height: 621px;
$ftr_married-image: '../img/sprites/spritesheet.png';
$ftr_married: 594px 496px -594px -496px 116px 21px 710px 621px '../img/sprites/spritesheet.png';
$ftr_married_cl-x: 594px;
$ftr_married_cl-y: 527px;
$ftr_married_cl-offset-x: -594px;
$ftr_married_cl-offset-y: -527px;
$ftr_married_cl-width: 116px;
$ftr_married_cl-height: 21px;
$ftr_married_cl-total-width: 710px;
$ftr_married_cl-total-height: 621px;
$ftr_married_cl-image: '../img/sprites/spritesheet.png';
$ftr_married_cl: 594px 527px -594px -527px 116px 21px 710px 621px '../img/sprites/spritesheet.png';
$ftr_married_cl_hv-x: 0px;
$ftr_married_cl_hv-y: 573px;
$ftr_married_cl_hv-offset-x: 0px;
$ftr_married_cl_hv-offset-y: -573px;
$ftr_married_cl_hv-width: 116px;
$ftr_married_cl_hv-height: 21px;
$ftr_married_cl_hv-total-width: 710px;
$ftr_married_cl_hv-total-height: 621px;
$ftr_married_cl_hv-image: '../img/sprites/spritesheet.png';
$ftr_married_cl_hv: 0px 573px 0px -573px 116px 21px 710px 621px '../img/sprites/spritesheet.png';
$ftr_married_hv-x: 126px;
$ftr_married_hv-y: 573px;
$ftr_married_hv-offset-x: -126px;
$ftr_married_hv-offset-y: -573px;
$ftr_married_hv-width: 116px;
$ftr_married_hv-height: 21px;
$ftr_married_hv-total-width: 710px;
$ftr_married_hv-total-height: 621px;
$ftr_married_hv-image: '../img/sprites/spritesheet.png';
$ftr_married_hv: 126px 573px -126px -573px 116px 21px 710px 621px '../img/sprites/spritesheet.png';
$ftr_older-x: 594px;
$ftr_older-y: 0px;
$ftr_older-offset-x: -594px;
$ftr_older-offset-y: 0px;
$ftr_older-width: 116px;
$ftr_older-height: 21px;
$ftr_older-total-width: 710px;
$ftr_older-total-height: 621px;
$ftr_older-image: '../img/sprites/spritesheet.png';
$ftr_older: 594px 0px -594px 0px 116px 21px 710px 621px '../img/sprites/spritesheet.png';
$ftr_older_hv-x: 378px;
$ftr_older_hv-y: 542px;
$ftr_older_hv-offset-x: -378px;
$ftr_older_hv-offset-y: -542px;
$ftr_older_hv-width: 116px;
$ftr_older_hv-height: 21px;
$ftr_older_hv-total-width: 710px;
$ftr_older_hv-total-height: 621px;
$ftr_older_hv-image: '../img/sprites/spritesheet.png';
$ftr_older_hv: 378px 542px -378px -542px 116px 21px 710px 621px '../img/sprites/spritesheet.png';
$ftr_retire-x: 252px;
$ftr_retire-y: 542px;
$ftr_retire-offset-x: -252px;
$ftr_retire-offset-y: -542px;
$ftr_retire-width: 116px;
$ftr_retire-height: 21px;
$ftr_retire-total-width: 710px;
$ftr_retire-total-height: 621px;
$ftr_retire-image: '../img/sprites/spritesheet.png';
$ftr_retire: 252px 542px -252px -542px 116px 21px 710px 621px '../img/sprites/spritesheet.png';
$ftr_retire_hv-x: 126px;
$ftr_retire_hv-y: 542px;
$ftr_retire_hv-offset-x: -126px;
$ftr_retire_hv-offset-y: -542px;
$ftr_retire_hv-width: 116px;
$ftr_retire_hv-height: 21px;
$ftr_retire_hv-total-width: 710px;
$ftr_retire_hv-total-height: 621px;
$ftr_retire_hv-image: '../img/sprites/spritesheet.png';
$ftr_retire_hv: 126px 542px -126px -542px 116px 21px 710px 621px '../img/sprites/spritesheet.png';
$ftr_wedding-x: 0px;
$ftr_wedding-y: 542px;
$ftr_wedding-offset-x: 0px;
$ftr_wedding-offset-y: -542px;
$ftr_wedding-width: 116px;
$ftr_wedding-height: 21px;
$ftr_wedding-total-width: 710px;
$ftr_wedding-total-height: 621px;
$ftr_wedding-image: '../img/sprites/spritesheet.png';
$ftr_wedding: 0px 542px 0px -542px 116px 21px 710px 621px '../img/sprites/spritesheet.png';
$ftr_wedding_hv-x: 252px;
$ftr_wedding_hv-y: 573px;
$ftr_wedding_hv-offset-x: -252px;
$ftr_wedding_hv-offset-y: -573px;
$ftr_wedding_hv-width: 116px;
$ftr_wedding_hv-height: 21px;
$ftr_wedding_hv-total-width: 710px;
$ftr_wedding_hv-total-height: 621px;
$ftr_wedding_hv-image: '../img/sprites/spritesheet.png';
$ftr_wedding_hv: 252px 573px -252px -573px 116px 21px 710px 621px '../img/sprites/spritesheet.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
