/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$ftr_annivers-x: 360px;
$ftr_annivers-y: 93px;
$ftr_annivers-offset-x: -360px;
$ftr_annivers-offset-y: -93px;
$ftr_annivers-width: 116px;
$ftr_annivers-height: 21px;
$ftr_annivers-total-width: 476px;
$ftr_annivers-total-height: 448px;
$ftr_annivers-image: '../img/sprites/spritesheet_footer.png';
$ftr_annivers: 360px 93px -360px -93px 116px 21px 476px 448px '../img/sprites/spritesheet_footer.png';
$ftr_annivers_hv-x: 360px;
$ftr_annivers_hv-y: 124px;
$ftr_annivers_hv-offset-x: -360px;
$ftr_annivers_hv-offset-y: -124px;
$ftr_annivers_hv-width: 116px;
$ftr_annivers_hv-height: 21px;
$ftr_annivers_hv-total-width: 476px;
$ftr_annivers_hv-total-height: 448px;
$ftr_annivers_hv-image: '../img/sprites/spritesheet_footer.png';
$ftr_annivers_hv: 360px 124px -360px -124px 116px 21px 476px 448px '../img/sprites/spritesheet_footer.png';
$ftr_baby-x: 360px;
$ftr_baby-y: 217px;
$ftr_baby-offset-x: -360px;
$ftr_baby-offset-y: -217px;
$ftr_baby-width: 116px;
$ftr_baby-height: 21px;
$ftr_baby-total-width: 476px;
$ftr_baby-total-height: 448px;
$ftr_baby-image: '../img/sprites/spritesheet_footer.png';
$ftr_baby: 360px 217px -360px -217px 116px 21px 476px 448px '../img/sprites/spritesheet_footer.png';
$ftr_baby_cl-x: 360px;
$ftr_baby_cl-y: 248px;
$ftr_baby_cl-offset-x: -360px;
$ftr_baby_cl-offset-y: -248px;
$ftr_baby_cl-width: 116px;
$ftr_baby_cl-height: 21px;
$ftr_baby_cl-total-width: 476px;
$ftr_baby_cl-total-height: 448px;
$ftr_baby_cl-image: '../img/sprites/spritesheet_footer.png';
$ftr_baby_cl: 360px 248px -360px -248px 116px 21px 476px 448px '../img/sprites/spritesheet_footer.png';
$ftr_baby_cl_hv-x: 252px;
$ftr_baby_cl_hv-y: 365px;
$ftr_baby_cl_hv-offset-x: -252px;
$ftr_baby_cl_hv-offset-y: -365px;
$ftr_baby_cl_hv-width: 116px;
$ftr_baby_cl_hv-height: 21px;
$ftr_baby_cl_hv-total-width: 476px;
$ftr_baby_cl_hv-total-height: 448px;
$ftr_baby_cl_hv-image: '../img/sprites/spritesheet_footer.png';
$ftr_baby_cl_hv: 252px 365px -252px -365px 116px 21px 476px 448px '../img/sprites/spritesheet_footer.png';
$ftr_baby_hv-x: 0px;
$ftr_baby_hv-y: 396px;
$ftr_baby_hv-offset-x: 0px;
$ftr_baby_hv-offset-y: -396px;
$ftr_baby_hv-width: 116px;
$ftr_baby_hv-height: 21px;
$ftr_baby_hv-total-width: 476px;
$ftr_baby_hv-total-height: 448px;
$ftr_baby_hv-image: '../img/sprites/spritesheet_footer.png';
$ftr_baby_hv: 0px 396px 0px -396px 116px 21px 476px 448px '../img/sprites/spritesheet_footer.png';
$ftr_birth-x: 214px;
$ftr_birth-y: 198px;
$ftr_birth-offset-x: -214px;
$ftr_birth-offset-y: -198px;
$ftr_birth-width: 116px;
$ftr_birth-height: 21px;
$ftr_birth-total-width: 476px;
$ftr_birth-total-height: 448px;
$ftr_birth-image: '../img/sprites/spritesheet_footer.png';
$ftr_birth: 214px 198px -214px -198px 116px 21px 476px 448px '../img/sprites/spritesheet_footer.png';
$ftr_birth_hv-x: 0px;
$ftr_birth_hv-y: 241px;
$ftr_birth_hv-offset-x: 0px;
$ftr_birth_hv-offset-y: -241px;
$ftr_birth_hv-width: 116px;
$ftr_birth_hv-height: 21px;
$ftr_birth_hv-total-width: 476px;
$ftr_birth_hv-total-height: 448px;
$ftr_birth_hv-image: '../img/sprites/spritesheet_footer.png';
$ftr_birth_hv: 0px 241px 0px -241px 116px 21px 476px 448px '../img/sprites/spritesheet_footer.png';
$ftr_build-x: 126px;
$ftr_build-y: 241px;
$ftr_build-offset-x: -126px;
$ftr_build-offset-y: -241px;
$ftr_build-width: 116px;
$ftr_build-height: 21px;
$ftr_build-total-width: 476px;
$ftr_build-total-height: 448px;
$ftr_build-image: '../img/sprites/spritesheet_footer.png';
$ftr_build: 126px 241px -126px -241px 116px 21px 476px 448px '../img/sprites/spritesheet_footer.png';
$ftr_build_cl-x: 0px;
$ftr_build_cl-y: 272px;
$ftr_build_cl-offset-x: 0px;
$ftr_build_cl-offset-y: -272px;
$ftr_build_cl-width: 116px;
$ftr_build_cl-height: 21px;
$ftr_build_cl-total-width: 476px;
$ftr_build_cl-total-height: 448px;
$ftr_build_cl-image: '../img/sprites/spritesheet_footer.png';
$ftr_build_cl: 0px 272px 0px -272px 116px 21px 476px 448px '../img/sprites/spritesheet_footer.png';
$ftr_build_cl_hv-x: 126px;
$ftr_build_cl_hv-y: 272px;
$ftr_build_cl_hv-offset-x: -126px;
$ftr_build_cl_hv-offset-y: -272px;
$ftr_build_cl_hv-width: 116px;
$ftr_build_cl_hv-height: 21px;
$ftr_build_cl_hv-total-width: 476px;
$ftr_build_cl_hv-total-height: 448px;
$ftr_build_cl_hv-image: '../img/sprites/spritesheet_footer.png';
$ftr_build_cl_hv: 126px 272px -126px -272px 116px 21px 476px 448px '../img/sprites/spritesheet_footer.png';
$ftr_build_hv-x: 0px;
$ftr_build_hv-y: 303px;
$ftr_build_hv-offset-x: 0px;
$ftr_build_hv-offset-y: -303px;
$ftr_build_hv-width: 116px;
$ftr_build_hv-height: 21px;
$ftr_build_hv-total-width: 476px;
$ftr_build_hv-total-height: 448px;
$ftr_build_hv-image: '../img/sprites/spritesheet_footer.png';
$ftr_build_hv: 0px 303px 0px -303px 116px 21px 476px 448px '../img/sprites/spritesheet_footer.png';
$ftr_business-x: 126px;
$ftr_business-y: 303px;
$ftr_business-offset-x: -126px;
$ftr_business-offset-y: -303px;
$ftr_business-width: 116px;
$ftr_business-height: 21px;
$ftr_business-total-width: 476px;
$ftr_business-total-height: 448px;
$ftr_business-image: '../img/sprites/spritesheet_footer.png';
$ftr_business: 126px 303px -126px -303px 116px 21px 476px 448px '../img/sprites/spritesheet_footer.png';
$ftr_business_hv-x: 360px;
$ftr_business_hv-y: 0px;
$ftr_business_hv-offset-x: -360px;
$ftr_business_hv-offset-y: 0px;
$ftr_business_hv-width: 116px;
$ftr_business_hv-height: 21px;
$ftr_business_hv-total-width: 476px;
$ftr_business_hv-total-height: 448px;
$ftr_business_hv-image: '../img/sprites/spritesheet_footer.png';
$ftr_business_hv: 360px 0px -360px 0px 116px 21px 476px 448px '../img/sprites/spritesheet_footer.png';
$ftr_celeb-x: 360px;
$ftr_celeb-y: 31px;
$ftr_celeb-offset-x: -360px;
$ftr_celeb-offset-y: -31px;
$ftr_celeb-width: 116px;
$ftr_celeb-height: 21px;
$ftr_celeb-total-width: 476px;
$ftr_celeb-total-height: 448px;
$ftr_celeb-image: '../img/sprites/spritesheet_footer.png';
$ftr_celeb: 360px 31px -360px -31px 116px 21px 476px 448px '../img/sprites/spritesheet_footer.png';
$ftr_celeb_hv-x: 360px;
$ftr_celeb_hv-y: 62px;
$ftr_celeb_hv-offset-x: -360px;
$ftr_celeb_hv-offset-y: -62px;
$ftr_celeb_hv-width: 116px;
$ftr_celeb_hv-height: 21px;
$ftr_celeb_hv-total-width: 476px;
$ftr_celeb_hv-total-height: 448px;
$ftr_celeb_hv-image: '../img/sprites/spritesheet_footer.png';
$ftr_celeb_hv: 360px 62px -360px -62px 116px 21px 476px 448px '../img/sprites/spritesheet_footer.png';
$ftr_comp-x: 120px;
$ftr_comp-y: 0px;
$ftr_comp-offset-x: -120px;
$ftr_comp-offset-y: 0px;
$ftr_comp-width: 110px;
$ftr_comp-height: 89px;
$ftr_comp-total-width: 476px;
$ftr_comp-total-height: 448px;
$ftr_comp-image: '../img/sprites/spritesheet_footer.png';
$ftr_comp: 120px 0px -120px 0px 110px 89px 476px 448px '../img/sprites/spritesheet_footer.png';
$ftr_gift-x: 0px;
$ftr_gift-y: 0px;
$ftr_gift-offset-x: 0px;
$ftr_gift-offset-y: 0px;
$ftr_gift-width: 110px;
$ftr_gift-height: 89px;
$ftr_gift-total-width: 476px;
$ftr_gift-total-height: 448px;
$ftr_gift-image: '../img/sprites/spritesheet_footer.png';
$ftr_gift: 0px 0px 0px 0px 110px 89px 476px 448px '../img/sprites/spritesheet_footer.png';
$ftr_goldsilver-x: 360px;
$ftr_goldsilver-y: 155px;
$ftr_goldsilver-offset-x: -360px;
$ftr_goldsilver-offset-y: -155px;
$ftr_goldsilver-width: 116px;
$ftr_goldsilver-height: 21px;
$ftr_goldsilver-total-width: 476px;
$ftr_goldsilver-total-height: 448px;
$ftr_goldsilver-image: '../img/sprites/spritesheet_footer.png';
$ftr_goldsilver: 360px 155px -360px -155px 116px 21px 476px 448px '../img/sprites/spritesheet_footer.png';
$ftr_goldsilver_hv-x: 360px;
$ftr_goldsilver_hv-y: 186px;
$ftr_goldsilver_hv-offset-x: -360px;
$ftr_goldsilver_hv-offset-y: -186px;
$ftr_goldsilver_hv-width: 116px;
$ftr_goldsilver_hv-height: 21px;
$ftr_goldsilver_hv-total-width: 476px;
$ftr_goldsilver_hv-total-height: 448px;
$ftr_goldsilver_hv-image: '../img/sprites/spritesheet_footer.png';
$ftr_goldsilver_hv: 360px 186px -360px -186px 116px 21px 476px 448px '../img/sprites/spritesheet_footer.png';
$ftr_guara-x: 0px;
$ftr_guara-y: 99px;
$ftr_guara-offset-x: 0px;
$ftr_guara-offset-y: -99px;
$ftr_guara-width: 110px;
$ftr_guara-height: 89px;
$ftr_guara-total-width: 476px;
$ftr_guara-total-height: 448px;
$ftr_guara-image: '../img/sprites/spritesheet_footer.png';
$ftr_guara: 0px 99px 0px -99px 110px 89px 476px 448px '../img/sprites/spritesheet_footer.png';
$ftr_logo-x: 0px;
$ftr_logo-y: 198px;
$ftr_logo-offset-x: 0px;
$ftr_logo-offset-y: -198px;
$ftr_logo-width: 204px;
$ftr_logo-height: 33px;
$ftr_logo-total-width: 476px;
$ftr_logo-total-height: 448px;
$ftr_logo-image: '../img/sprites/spritesheet_footer.png';
$ftr_logo: 0px 198px 0px -198px 204px 33px 476px 448px '../img/sprites/spritesheet_footer.png';
$ftr_married-x: 360px;
$ftr_married-y: 279px;
$ftr_married-offset-x: -360px;
$ftr_married-offset-y: -279px;
$ftr_married-width: 116px;
$ftr_married-height: 21px;
$ftr_married-total-width: 476px;
$ftr_married-total-height: 448px;
$ftr_married-image: '../img/sprites/spritesheet_footer.png';
$ftr_married: 360px 279px -360px -279px 116px 21px 476px 448px '../img/sprites/spritesheet_footer.png';
$ftr_married_cl-x: 0px;
$ftr_married_cl-y: 334px;
$ftr_married_cl-offset-x: 0px;
$ftr_married_cl-offset-y: -334px;
$ftr_married_cl-width: 116px;
$ftr_married_cl-height: 21px;
$ftr_married_cl-total-width: 476px;
$ftr_married_cl-total-height: 448px;
$ftr_married_cl-image: '../img/sprites/spritesheet_footer.png';
$ftr_married_cl: 0px 334px 0px -334px 116px 21px 476px 448px '../img/sprites/spritesheet_footer.png';
$ftr_married_cl_hv-x: 126px;
$ftr_married_cl_hv-y: 334px;
$ftr_married_cl_hv-offset-x: -126px;
$ftr_married_cl_hv-offset-y: -334px;
$ftr_married_cl_hv-width: 116px;
$ftr_married_cl_hv-height: 21px;
$ftr_married_cl_hv-total-width: 476px;
$ftr_married_cl_hv-total-height: 448px;
$ftr_married_cl_hv-image: '../img/sprites/spritesheet_footer.png';
$ftr_married_cl_hv: 126px 334px -126px -334px 116px 21px 476px 448px '../img/sprites/spritesheet_footer.png';
$ftr_married_hv-x: 252px;
$ftr_married_hv-y: 334px;
$ftr_married_hv-offset-x: -252px;
$ftr_married_hv-offset-y: -334px;
$ftr_married_hv-width: 116px;
$ftr_married_hv-height: 21px;
$ftr_married_hv-total-width: 476px;
$ftr_married_hv-total-height: 448px;
$ftr_married_hv-image: '../img/sprites/spritesheet_footer.png';
$ftr_married_hv: 252px 334px -252px -334px 116px 21px 476px 448px '../img/sprites/spritesheet_footer.png';
$ftr_older-x: 0px;
$ftr_older-y: 365px;
$ftr_older-offset-x: 0px;
$ftr_older-offset-y: -365px;
$ftr_older-width: 116px;
$ftr_older-height: 21px;
$ftr_older-total-width: 476px;
$ftr_older-total-height: 448px;
$ftr_older-image: '../img/sprites/spritesheet_footer.png';
$ftr_older: 0px 365px 0px -365px 116px 21px 476px 448px '../img/sprites/spritesheet_footer.png';
$ftr_older_hv-x: 126px;
$ftr_older_hv-y: 365px;
$ftr_older_hv-offset-x: -126px;
$ftr_older_hv-offset-y: -365px;
$ftr_older_hv-width: 116px;
$ftr_older_hv-height: 21px;
$ftr_older_hv-total-width: 476px;
$ftr_older_hv-total-height: 448px;
$ftr_older_hv-image: '../img/sprites/spritesheet_footer.png';
$ftr_older_hv: 126px 365px -126px -365px 116px 21px 476px 448px '../img/sprites/spritesheet_footer.png';
$ftr_ovsea-x: 120px;
$ftr_ovsea-y: 99px;
$ftr_ovsea-offset-x: -120px;
$ftr_ovsea-offset-y: -99px;
$ftr_ovsea-width: 110px;
$ftr_ovsea-height: 89px;
$ftr_ovsea-total-width: 476px;
$ftr_ovsea-total-height: 448px;
$ftr_ovsea-image: '../img/sprites/spritesheet_footer.png';
$ftr_ovsea: 120px 99px -120px -99px 110px 89px 476px 448px '../img/sprites/spritesheet_footer.png';
$ftr_pay-x: 240px;
$ftr_pay-y: 0px;
$ftr_pay-offset-x: -240px;
$ftr_pay-offset-y: 0px;
$ftr_pay-width: 110px;
$ftr_pay-height: 89px;
$ftr_pay-total-width: 476px;
$ftr_pay-total-height: 448px;
$ftr_pay-image: '../img/sprites/spritesheet_footer.png';
$ftr_pay: 240px 0px -240px 0px 110px 89px 476px 448px '../img/sprites/spritesheet_footer.png';
$ftr_retire-x: 126px;
$ftr_retire-y: 396px;
$ftr_retire-offset-x: -126px;
$ftr_retire-offset-y: -396px;
$ftr_retire-width: 116px;
$ftr_retire-height: 21px;
$ftr_retire-total-width: 476px;
$ftr_retire-total-height: 448px;
$ftr_retire-image: '../img/sprites/spritesheet_footer.png';
$ftr_retire: 126px 396px -126px -396px 116px 21px 476px 448px '../img/sprites/spritesheet_footer.png';
$ftr_retire_hv-x: 252px;
$ftr_retire_hv-y: 396px;
$ftr_retire_hv-offset-x: -252px;
$ftr_retire_hv-offset-y: -396px;
$ftr_retire_hv-width: 116px;
$ftr_retire_hv-height: 21px;
$ftr_retire_hv-total-width: 476px;
$ftr_retire_hv-total-height: 448px;
$ftr_retire_hv-image: '../img/sprites/spritesheet_footer.png';
$ftr_retire_hv: 252px 396px -252px -396px 116px 21px 476px 448px '../img/sprites/spritesheet_footer.png';
$ftr_wedding-x: 0px;
$ftr_wedding-y: 427px;
$ftr_wedding-offset-x: 0px;
$ftr_wedding-offset-y: -427px;
$ftr_wedding-width: 116px;
$ftr_wedding-height: 21px;
$ftr_wedding-total-width: 476px;
$ftr_wedding-total-height: 448px;
$ftr_wedding-image: '../img/sprites/spritesheet_footer.png';
$ftr_wedding: 0px 427px 0px -427px 116px 21px 476px 448px '../img/sprites/spritesheet_footer.png';
$ftr_wedding_hv-x: 126px;
$ftr_wedding_hv-y: 427px;
$ftr_wedding_hv-offset-x: -126px;
$ftr_wedding_hv-offset-y: -427px;
$ftr_wedding_hv-width: 116px;
$ftr_wedding_hv-height: 21px;
$ftr_wedding_hv-total-width: 476px;
$ftr_wedding_hv-total-height: 448px;
$ftr_wedding_hv-image: '../img/sprites/spritesheet_footer.png';
$ftr_wedding_hv: 126px 427px -126px -427px 116px 21px 476px 448px '../img/sprites/spritesheet_footer.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
