/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$cmn_lft_aroma-x: 660px;
$cmn_lft_aroma-y: 92px;
$cmn_lft_aroma-offset-x: -660px;
$cmn_lft_aroma-offset-y: -92px;
$cmn_lft_aroma-width: 135px;
$cmn_lft_aroma-height: 32px;
$cmn_lft_aroma-total-width: 845px;
$cmn_lft_aroma-total-height: 496px;
$cmn_lft_aroma-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_aroma: 660px 92px -660px -92px 135px 32px 845px 496px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_beer-x: 515px;
$cmn_lft_beer-y: 134px;
$cmn_lft_beer-offset-x: -515px;
$cmn_lft_beer-offset-y: -134px;
$cmn_lft_beer-width: 135px;
$cmn_lft_beer-height: 32px;
$cmn_lft_beer-total-width: 845px;
$cmn_lft_beer-total-height: 496px;
$cmn_lft_beer-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_beer: 515px 134px -515px -134px 135px 32px 845px 496px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_budget-x: 340px;
$cmn_lft_budget-y: 92px;
$cmn_lft_budget-offset-x: -340px;
$cmn_lft_budget-offset-y: -92px;
$cmn_lft_budget-width: 165px;
$cmn_lft_budget-height: 36px;
$cmn_lft_budget-total-width: 845px;
$cmn_lft_budget-total-height: 496px;
$cmn_lft_budget-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_budget: 340px 92px -340px -92px 165px 36px 845px 496px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_budget02-x: 0px;
$cmn_lft_budget02-y: 92px;
$cmn_lft_budget02-offset-x: 0px;
$cmn_lft_budget02-offset-y: -92px;
$cmn_lft_budget02-width: 330px;
$cmn_lft_budget02-height: 36px;
$cmn_lft_budget02-total-width: 845px;
$cmn_lft_budget02-total-height: 496px;
$cmn_lft_budget02-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_budget02: 0px 92px 0px -92px 330px 36px 845px 496px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_category-x: 0px;
$cmn_lft_category-y: 138px;
$cmn_lft_category-offset-x: 0px;
$cmn_lft_category-offset-y: -138px;
$cmn_lft_category-width: 165px;
$cmn_lft_category-height: 36px;
$cmn_lft_category-total-width: 845px;
$cmn_lft_category-total-height: 496px;
$cmn_lft_category-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_category: 0px 138px 0px -138px 165px 36px 845px 496px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_category02-x: 0px;
$cmn_lft_category02-y: 184px;
$cmn_lft_category02-offset-x: 0px;
$cmn_lft_category02-offset-y: -184px;
$cmn_lft_category02-width: 330px;
$cmn_lft_category02-height: 36px;
$cmn_lft_category02-total-width: 845px;
$cmn_lft_category02-total-height: 496px;
$cmn_lft_category02-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_category02: 0px 184px 0px -184px 330px 36px 845px 496px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_contact-x: 515px;
$cmn_lft_contact-y: 344px;
$cmn_lft_contact-offset-x: -515px;
$cmn_lft_contact-offset-y: -344px;
$cmn_lft_contact-width: 115px;
$cmn_lft_contact-height: 22px;
$cmn_lft_contact-total-width: 845px;
$cmn_lft_contact-total-height: 496px;
$cmn_lft_contact-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_contact: 515px 344px -515px -344px 115px 22px 845px 496px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_cup-x: 515px;
$cmn_lft_cup-y: 176px;
$cmn_lft_cup-offset-x: -515px;
$cmn_lft_cup-offset-y: -176px;
$cmn_lft_cup-width: 135px;
$cmn_lft_cup-height: 32px;
$cmn_lft_cup-total-width: 845px;
$cmn_lft_cup-total-height: 496px;
$cmn_lft_cup-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_cup: 515px 176px -515px -176px 135px 32px 845px 496px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_dish-x: 660px;
$cmn_lft_dish-y: 260px;
$cmn_lft_dish-offset-x: -660px;
$cmn_lft_dish-offset-y: -260px;
$cmn_lft_dish-width: 135px;
$cmn_lft_dish-height: 32px;
$cmn_lft_dish-total-width: 845px;
$cmn_lft_dish-total-height: 496px;
$cmn_lft_dish-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_dish: 660px 260px -660px -260px 135px 32px 845px 496px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_en-x: 805px;
$cmn_lft_en-y: 218px;
$cmn_lft_en-offset-x: -805px;
$cmn_lft_en-offset-y: -218px;
$cmn_lft_en-width: 24px;
$cmn_lft_en-height: 24px;
$cmn_lft_en-total-width: 845px;
$cmn_lft_en-total-height: 496px;
$cmn_lft_en-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_en: 805px 218px -805px -218px 24px 24px 845px 496px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_event-x: 340px;
$cmn_lft_event-y: 0px;
$cmn_lft_event-offset-x: -340px;
$cmn_lft_event-offset-y: 0px;
$cmn_lft_event-width: 165px;
$cmn_lft_event-height: 36px;
$cmn_lft_event-total-width: 845px;
$cmn_lft_event-total-height: 496px;
$cmn_lft_event-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_event: 340px 0px -340px 0px 165px 36px 845px 496px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_event02-x: 0px;
$cmn_lft_event02-y: 322px;
$cmn_lft_event02-offset-x: 0px;
$cmn_lft_event02-offset-y: -322px;
$cmn_lft_event02-width: 330px;
$cmn_lft_event02-height: 36px;
$cmn_lft_event02-total-width: 845px;
$cmn_lft_event02-total-height: 496px;
$cmn_lft_event02-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_event02: 0px 322px 0px -322px 330px 36px 845px 496px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_flower-x: 515px;
$cmn_lft_flower-y: 302px;
$cmn_lft_flower-offset-x: -515px;
$cmn_lft_flower-offset-y: -302px;
$cmn_lft_flower-width: 135px;
$cmn_lft_flower-height: 32px;
$cmn_lft_flower-total-width: 845px;
$cmn_lft_flower-total-height: 496px;
$cmn_lft_flower-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_flower: 515px 302px -515px -302px 135px 32px 845px 496px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_hot-x: 340px;
$cmn_lft_hot-y: 46px;
$cmn_lft_hot-offset-x: -340px;
$cmn_lft_hot-offset-y: -46px;
$cmn_lft_hot-width: 165px;
$cmn_lft_hot-height: 36px;
$cmn_lft_hot-total-width: 845px;
$cmn_lft_hot-total-height: 496px;
$cmn_lft_hot-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_hot: 340px 46px -340px -46px 165px 36px 845px 496px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_hot02-x: 0px;
$cmn_lft_hot02-y: 0px;
$cmn_lft_hot02-offset-x: 0px;
$cmn_lft_hot02-offset-y: 0px;
$cmn_lft_hot02-width: 330px;
$cmn_lft_hot02-height: 36px;
$cmn_lft_hot02-total-width: 845px;
$cmn_lft_hot02-total-height: 496px;
$cmn_lft_hot02-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_hot02: 0px 0px 0px 0px 330px 36px 845px 496px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_interior-x: 660px;
$cmn_lft_interior-y: 176px;
$cmn_lft_interior-offset-x: -660px;
$cmn_lft_interior-offset-y: -176px;
$cmn_lft_interior-width: 135px;
$cmn_lft_interior-height: 32px;
$cmn_lft_interior-total-width: 845px;
$cmn_lft_interior-total-height: 496px;
$cmn_lft_interior-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_interior: 660px 176px -660px -176px 135px 32px 845px 496px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_item-x: 515px;
$cmn_lft_item-y: 218px;
$cmn_lft_item-offset-x: -515px;
$cmn_lft_item-offset-y: -218px;
$cmn_lft_item-width: 135px;
$cmn_lft_item-height: 32px;
$cmn_lft_item-total-width: 845px;
$cmn_lft_item-total-height: 496px;
$cmn_lft_item-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_item: 515px 218px -515px -218px 135px 32px 845px 496px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_ko-x: 805px;
$cmn_lft_ko-y: 176px;
$cmn_lft_ko-offset-x: -805px;
$cmn_lft_ko-offset-y: -176px;
$cmn_lft_ko-width: 24px;
$cmn_lft_ko-height: 24px;
$cmn_lft_ko-total-width: 845px;
$cmn_lft_ko-total-height: 496px;
$cmn_lft_ko-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_ko: 805px 176px -805px -176px 24px 24px 845px 496px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_media-x: 340px;
$cmn_lft_media-y: 138px;
$cmn_lft_media-offset-x: -340px;
$cmn_lft_media-offset-y: -138px;
$cmn_lft_media-width: 165px;
$cmn_lft_media-height: 36px;
$cmn_lft_media-total-width: 845px;
$cmn_lft_media-total-height: 496px;
$cmn_lft_media-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_media: 340px 138px -340px -138px 165px 36px 845px 496px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_media02-x: 0px;
$cmn_lft_media02-y: 368px;
$cmn_lft_media02-offset-x: 0px;
$cmn_lft_media02-offset-y: -368px;
$cmn_lft_media02-width: 330px;
$cmn_lft_media02-height: 36px;
$cmn_lft_media02-total-width: 845px;
$cmn_lft_media02-total-height: 496px;
$cmn_lft_media02-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_media02: 0px 368px 0px -368px 330px 36px 845px 496px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_noshi-x: 637px;
$cmn_lft_noshi-y: 376px;
$cmn_lft_noshi-offset-x: -637px;
$cmn_lft_noshi-offset-y: -376px;
$cmn_lft_noshi-width: 127px;
$cmn_lft_noshi-height: 22px;
$cmn_lft_noshi-total-width: 845px;
$cmn_lft_noshi-total-height: 496px;
$cmn_lft_noshi-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_noshi: 637px 376px -637px -376px 127px 22px 845px 496px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_plate-x: 515px;
$cmn_lft_plate-y: 92px;
$cmn_lft_plate-offset-x: -515px;
$cmn_lft_plate-offset-y: -92px;
$cmn_lft_plate-width: 135px;
$cmn_lft_plate-height: 32px;
$cmn_lft_plate-total-width: 845px;
$cmn_lft_plate-total-height: 496px;
$cmn_lft_plate-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_plate: 515px 92px -515px -92px 135px 32px 845px 496px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_pro-x: 340px;
$cmn_lft_pro-y: 184px;
$cmn_lft_pro-offset-x: -340px;
$cmn_lft_pro-offset-y: -184px;
$cmn_lft_pro-width: 165px;
$cmn_lft_pro-height: 36px;
$cmn_lft_pro-total-width: 845px;
$cmn_lft_pro-total-height: 496px;
$cmn_lft_pro-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_pro: 340px 184px -340px -184px 165px 36px 845px 496px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_pro02-x: 0px;
$cmn_lft_pro02-y: 46px;
$cmn_lft_pro02-offset-x: 0px;
$cmn_lft_pro02-offset-y: -46px;
$cmn_lft_pro02-width: 330px;
$cmn_lft_pro02-height: 36px;
$cmn_lft_pro02-total-width: 845px;
$cmn_lft_pro02-total-height: 496px;
$cmn_lft_pro02-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_pro02: 0px 46px 0px -46px 330px 36px 845px 496px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_question-x: 515px;
$cmn_lft_question-y: 376px;
$cmn_lft_question-offset-x: -515px;
$cmn_lft_question-offset-y: -376px;
$cmn_lft_question-width: 112px;
$cmn_lft_question-height: 22px;
$cmn_lft_question-total-width: 845px;
$cmn_lft_question-total-height: 496px;
$cmn_lft_question-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_question: 515px 376px -515px -376px 112px 22px 845px 496px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_rank-x: 340px;
$cmn_lft_rank-y: 230px;
$cmn_lft_rank-offset-x: -340px;
$cmn_lft_rank-offset-y: -230px;
$cmn_lft_rank-width: 165px;
$cmn_lft_rank-height: 36px;
$cmn_lft_rank-total-width: 845px;
$cmn_lft_rank-total-height: 496px;
$cmn_lft_rank-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_rank: 340px 230px -340px -230px 165px 36px 845px 496px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_rank02-x: 0px;
$cmn_lft_rank02-y: 414px;
$cmn_lft_rank02-offset-x: 0px;
$cmn_lft_rank02-offset-y: -414px;
$cmn_lft_rank02-width: 330px;
$cmn_lft_rank02-height: 36px;
$cmn_lft_rank02-total-width: 845px;
$cmn_lft_rank02-total-height: 496px;
$cmn_lft_rank02-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_rank02: 0px 414px 0px -414px 330px 36px 845px 496px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_rankic01-x: 660px;
$cmn_lft_rankic01-y: 302px;
$cmn_lft_rankic01-offset-x: -660px;
$cmn_lft_rankic01-offset-y: -302px;
$cmn_lft_rankic01-width: 29px;
$cmn_lft_rankic01-height: 23px;
$cmn_lft_rankic01-total-width: 845px;
$cmn_lft_rankic01-total-height: 496px;
$cmn_lft_rankic01-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_rankic01: 660px 302px -660px -302px 29px 23px 845px 496px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_rankic02-x: 805px;
$cmn_lft_rankic02-y: 260px;
$cmn_lft_rankic02-offset-x: -805px;
$cmn_lft_rankic02-offset-y: -260px;
$cmn_lft_rankic02-width: 29px;
$cmn_lft_rankic02-height: 23px;
$cmn_lft_rankic02-total-width: 845px;
$cmn_lft_rankic02-total-height: 496px;
$cmn_lft_rankic02-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_rankic02: 805px 260px -805px -260px 29px 23px 845px 496px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_rankic03-x: 816px;
$cmn_lft_rankic03-y: 302px;
$cmn_lft_rankic03-offset-x: -816px;
$cmn_lft_rankic03-offset-y: -302px;
$cmn_lft_rankic03-width: 29px;
$cmn_lft_rankic03-height: 23px;
$cmn_lft_rankic03-total-width: 845px;
$cmn_lft_rankic03-total-height: 496px;
$cmn_lft_rankic03-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_rankic03: 816px 302px -816px -302px 29px 23px 845px 496px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_rankic04-x: 777px;
$cmn_lft_rankic04-y: 302px;
$cmn_lft_rankic04-offset-x: -777px;
$cmn_lft_rankic04-offset-y: -302px;
$cmn_lft_rankic04-width: 29px;
$cmn_lft_rankic04-height: 23px;
$cmn_lft_rankic04-total-width: 845px;
$cmn_lft_rankic04-total-height: 496px;
$cmn_lft_rankic04-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_rankic04: 777px 302px -777px -302px 29px 23px 845px 496px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_rankic05-x: 738px;
$cmn_lft_rankic05-y: 302px;
$cmn_lft_rankic05-offset-x: -738px;
$cmn_lft_rankic05-offset-y: -302px;
$cmn_lft_rankic05-width: 29px;
$cmn_lft_rankic05-height: 23px;
$cmn_lft_rankic05-total-width: 845px;
$cmn_lft_rankic05-total-height: 496px;
$cmn_lft_rankic05-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_rankic05: 738px 302px -738px -302px 29px 23px 845px 496px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_rankic06-x: 699px;
$cmn_lft_rankic06-y: 302px;
$cmn_lft_rankic06-offset-x: -699px;
$cmn_lft_rankic06-offset-y: -302px;
$cmn_lft_rankic06-width: 29px;
$cmn_lft_rankic06-height: 23px;
$cmn_lft_rankic06-total-width: 845px;
$cmn_lft_rankic06-total-height: 496px;
$cmn_lft_rankic06-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_rankic06: 699px 302px -699px -302px 29px 23px 845px 496px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_return-x: 515px;
$cmn_lft_return-y: 46px;
$cmn_lft_return-offset-x: -515px;
$cmn_lft_return-offset-y: -46px;
$cmn_lft_return-width: 165px;
$cmn_lft_return-height: 36px;
$cmn_lft_return-total-width: 845px;
$cmn_lft_return-total-height: 496px;
$cmn_lft_return-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_return: 515px 46px -515px -46px 165px 36px 845px 496px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_return02-x: 515px;
$cmn_lft_return02-y: 0px;
$cmn_lft_return02-offset-x: -515px;
$cmn_lft_return02-offset-y: 0px;
$cmn_lft_return02-width: 330px;
$cmn_lft_return02-height: 36px;
$cmn_lft_return02-total-width: 845px;
$cmn_lft_return02-total-height: 496px;
$cmn_lft_return02-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_return02: 515px 0px -515px 0px 330px 36px 845px 496px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_rice-x: 515px;
$cmn_lft_rice-y: 260px;
$cmn_lft_rice-offset-x: -515px;
$cmn_lft_rice-offset-y: -260px;
$cmn_lft_rice-width: 135px;
$cmn_lft_rice-height: 32px;
$cmn_lft_rice-total-width: 845px;
$cmn_lft_rice-total-height: 496px;
$cmn_lft_rice-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_rice: 515px 260px -515px -260px 135px 32px 845px 496px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_season-x: 340px;
$cmn_lft_season-y: 276px;
$cmn_lft_season-offset-x: -340px;
$cmn_lft_season-offset-y: -276px;
$cmn_lft_season-width: 165px;
$cmn_lft_season-height: 36px;
$cmn_lft_season-total-width: 845px;
$cmn_lft_season-total-height: 496px;
$cmn_lft_season-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_season: 340px 276px -340px -276px 165px 36px 845px 496px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_season02-x: 0px;
$cmn_lft_season02-y: 460px;
$cmn_lft_season02-offset-x: 0px;
$cmn_lft_season02-offset-y: -460px;
$cmn_lft_season02-width: 330px;
$cmn_lft_season02-height: 36px;
$cmn_lft_season02-total-width: 845px;
$cmn_lft_season02-total-height: 496px;
$cmn_lft_season02-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_season02: 0px 460px 0px -460px 330px 36px 845px 496px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_stand-x: 660px;
$cmn_lft_stand-y: 134px;
$cmn_lft_stand-offset-x: -660px;
$cmn_lft_stand-offset-y: -134px;
$cmn_lft_stand-width: 135px;
$cmn_lft_stand-height: 32px;
$cmn_lft_stand-total-width: 845px;
$cmn_lft_stand-total-height: 496px;
$cmn_lft_stand-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_stand: 660px 134px -660px -134px 135px 32px 845px 496px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_table-x: 690px;
$cmn_lft_table-y: 46px;
$cmn_lft_table-offset-x: -690px;
$cmn_lft_table-offset-y: -46px;
$cmn_lft_table-width: 135px;
$cmn_lft_table-height: 32px;
$cmn_lft_table-total-width: 845px;
$cmn_lft_table-total-height: 496px;
$cmn_lft_table-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_table: 690px 46px -690px -46px 135px 32px 845px 496px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_tea-x: 660px;
$cmn_lft_tea-y: 218px;
$cmn_lft_tea-offset-x: -660px;
$cmn_lft_tea-offset-y: -218px;
$cmn_lft_tea-width: 135px;
$cmn_lft_tea-height: 32px;
$cmn_lft_tea-total-width: 845px;
$cmn_lft_tea-total-height: 496px;
$cmn_lft_tea-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_tea: 660px 218px -660px -218px 135px 32px 845px 496px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_type-x: 0px;
$cmn_lft_type-y: 276px;
$cmn_lft_type-offset-x: 0px;
$cmn_lft_type-offset-y: -276px;
$cmn_lft_type-width: 165px;
$cmn_lft_type-height: 36px;
$cmn_lft_type-total-width: 845px;
$cmn_lft_type-total-height: 496px;
$cmn_lft_type-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_type: 0px 276px 0px -276px 165px 36px 845px 496px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_type02-x: 0px;
$cmn_lft_type02-y: 230px;
$cmn_lft_type02-offset-x: 0px;
$cmn_lft_type02-offset-y: -230px;
$cmn_lft_type02-width: 330px;
$cmn_lft_type02-height: 36px;
$cmn_lft_type02-total-width: 845px;
$cmn_lft_type02-total-height: 496px;
$cmn_lft_type02-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_type02: 0px 230px 0px -230px 330px 36px 845px 496px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_ymnk-x: 640px;
$cmn_lft_ymnk-y: 344px;
$cmn_lft_ymnk-offset-x: -640px;
$cmn_lft_ymnk-offset-y: -344px;
$cmn_lft_ymnk-width: 105px;
$cmn_lft_ymnk-height: 22px;
$cmn_lft_ymnk-total-width: 845px;
$cmn_lft_ymnk-total-height: 496px;
$cmn_lft_ymnk-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_ymnk: 640px 344px -640px -344px 105px 22px 845px 496px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_zh-x: 805px;
$cmn_lft_zh-y: 134px;
$cmn_lft_zh-offset-x: -805px;
$cmn_lft_zh-offset-y: -134px;
$cmn_lft_zh-width: 24px;
$cmn_lft_zh-height: 24px;
$cmn_lft_zh-total-width: 845px;
$cmn_lft_zh-total-height: 496px;
$cmn_lft_zh-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_zh: 805px 134px -805px -134px 24px 24px 845px 496px '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_zhtw-x: 805px;
$cmn_lft_zhtw-y: 92px;
$cmn_lft_zhtw-offset-x: -805px;
$cmn_lft_zhtw-offset-y: -92px;
$cmn_lft_zhtw-width: 24px;
$cmn_lft_zhtw-height: 24px;
$cmn_lft_zhtw-total-width: 845px;
$cmn_lft_zhtw-total-height: 496px;
$cmn_lft_zhtw-image: '../img/sprites/spritesheet_leftnav.png';
$cmn_lft_zhtw: 805px 92px -805px -92px 24px 24px 845px 496px '../img/sprites/spritesheet_leftnav.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
