@charset "UTF-8";
/* CSS Document */

@import "../styleguide/_scss/styleguide.scss";
@import "sprite-footer.scss";

$line : solid 1px $sbc01;


body{
    background-color: #efefef; 
    ul,ol{
        text-indent: 0;
    }

    .spContents{
        background: url("../img/cmn_hdr_bg.jpg");
        width: 100%;
        overflow: hidden;
        border-bottom: 1px solid $sbc01;
        border-top: 1px solid $sbc01;
        padding: 50px 0 40px;
        @include fsize(11,1.5);
        font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;

        /* 会社情報 */
        .compInfo{
            img{
                display: block;
                margin: 10px auto 60px;
            }
        }

        .serviceLinks{
            overflow: hidden;
            width: 990px;
            margin: 10px auto 40px;
            ul{
                margin: 0;
                padding: 0;
                li{
                    width: 485px;
                    margin:  4px 5px;
                    padding: 0;
                    float: left;
                    a{
                        display: block;
                        width: 223px;
                        height: 104px;  
                    }
                }
            }
        }

        .info{
            display: block;
            margin: 0 auto;
        }
        .contents{        
            span{
                display: block;
                width: 55px;
                height: 54px;float: left;
                position: absolute;
                right: -10px;
                top: -4px;
                &.icon01{
                    background: url('https://shopping.geocities.jp/dentouhonpo/img/footer/service-icon01.png') no-repeat;
                }
                &.icon02{
                    background: url('https://shopping.geocities.jp/dentouhonpo/img/footer/service-icon02.png') no-repeat;
                }
                &.icon03{
                    background: url('https://shopping.geocities.jp/dentouhonpo/img/footer/service-icon03.png') no-repeat;
                }
                &.icon04{
                    background: url('https://shopping.geocities.jp/dentouhonpo/img/footer/service-icon04.png') no-repeat;
                }
                &.icon05{
                    background: url('https://shopping.geocities.jp/dentouhonpo/img/footer/service-icon05.png') no-repeat;
                }
                &.icon06{
                    background: url('https://shopping.geocities.jp/dentouhonpo/img/footer/service-icon06.png') no-repeat;
                }

            }
            b{
                font-weight: bold;
                @include fsize(18,1.5);
            }
            hr{
                border: none;
                border-bottom: 1px solid $sbc01;
            }
            overflow: hidden;
            border:1px solid $mc;
            border-top: none; 
            width: 988px;
            margin: 0 auto;
            padding: 5px 0;
            li{
                float: left;
                width: 12.5%;
                margin: 1% 0;
                padding: 1% 2%;
                border-left: 1px dashed $sbc03;
                position: relative;
                &:first-child{
                    border: none;
                }
                p{
                    height: 5em;
                }
                a{
                    clear: both;
                    float: right;
                    margin: 10px auto 0;
                    width: auto;
                    text-align: center;
                    @include anm(0.2s);
                    display: block;
                    color: $bc;
                    text-decoration: none;
                    background-color: $mc;
                    border: 1px solid $mc;
                    @include rad(2,2,2,2);
                    @include fsize(10,1.5);
                    padding: 2px 4px;
                    &:hover{
                        color: $acc;
                        background-color: $bc;
                    }
                }
            }
        }
        .pickupTitle{
            display: block;
            margin: 50px auto 20px;
        }
        .ftr-pickupContents{
            overflow: hidden;
            width: 990px;
            margin: 10px auto 0;
            li{
                float: left;
                display: block;
                width: 46%;
                margin: 1% 2%;
                position: relative;
                a{
                    display: block;
                    width: 100%;
                    @include anm(0.2s);
                    position: relative;
                    top: 0;
                    left: 0;
                    img{
                        max-width: 100%;
                    }
                    &:hover{
                        position: relative;
                        left: -2px;
                        top: -2px;
                        -webkit-box-shadow: 0 0 6px 0 rgba(2,0,0,0.4);
                        box-shadow: 0 0 6px 0 rgba(2,0,0,0.4);
                        span{
                            display: block;
                            @include alpha(90);
                        }
                    }
                    span{
                        display: none;
                        color: $bc;
                        padding: 10px;
                        text-align: center;
                        position: absolute;
                        bottom: 0;
                        background-color: $acc;
                    }
                }
            }
        }
    }

    .itemNavi{ 
        text-align: center;
        width: 100%;
        overflow: hidden;
        background-color: $bc;
        float: left;
        border-bottom: $line;
        .giftInfo{
            width: 990px;
            height: 530px;
            margin: 0 auto;
            iframe{
                width: 990px;
                height: 530px;
            }
        }
        .orderItem{
            width: 480px;
            float: left;
        }
    }
    #top{
        background-color: none;
    }
    #footerContents{
        width: 990px;
        margin: 0 auto;
        background-color: #efefef;
        h1,.genreName,em,i{
            font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
            font-weight: bold;
        }
        a{
            text-decoration: none;
            color: $acc;
        }
    /* 商品PR部分 */
    hr{
        border: none;
        border-bottom: $line;
        &.acLine{
            position: relative;
            bottom: 3px;
            margin: 0;
            width: 307px;
            border: 1px solid $acc;
            float: left;
        }
    }
    /* カテゴリ案内部分 */
    .categoryNavi{
        width: 990px;
        overflow: hidden;
        margin: 0 0 20px 0;
        ul{
            width:140px;
            margin: 0 0 0 30px;
            padding: 0;
            float: left;
            overflow: hidden;
            li{
                @include fsize(11,1.5);
                &.genreName{
                    @include fsize(18,1.5);
                    margin: 20px 0 0;
                }
                a{
                    @include anm(0.2s);
                    color: $acc;
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                        color: $mc;
                    }
                    &.married div{
                        @include sprite($ftr_married);
                    }
                    &.baby div{
                        @include sprite($ftr_baby);
                    }
                    &.celeb div{
                        @include sprite($ftr_celeb);
                    }
                    &.wedding div{
                        @include sprite($ftr_wedding);
                    }
                    &.older div{
                        @include sprite($ftr_older);
                    }
                    &.business div{
                        @include sprite($ftr_business);
                    }
                    &.build div{
                        @include sprite($ftr_build);
                    }
                    &.retire div{
                        @include sprite($ftr_retire);
                    }
                    &.birth div{
                        @include sprite($ftr_birth);
                    }
                    &.goldsilver div{
                        @include sprite($ftr_goldsilver);
                    }
                    &.anniversary div{
                        @include sprite($ftr_annivers);
                    }
                    &.marriedCl div{
                        @include sprite($ftr_married_cl);
                    }
                    &.babyCl div{
                        @include sprite($ftr_baby_cl);
                    }
                    &.buildCl div{
                        @include sprite($ftr_build_cl);
                    }


                    &.married:hover div{
                        @include sprite($ftr_married_hv);
                    }
                    &.baby:hover div{
                        @include sprite($ftr_baby_hv);
                    }
                    &.celeb:hover div{
                        @include sprite($ftr_celeb_hv);
                    }
                    &.wedding:hover div{
                        @include sprite($ftr_wedding_hv);
                    }
                    &.older:hover div{
                        @include sprite($ftr_older_hv);
                    }
                    &.business:hover div{
                        @include sprite($ftr_business_hv);
                    }
                    &.build:hover div{
                        @include sprite($ftr_build_hv);
                    }
                    &.retire:hover div{
                        @include sprite($ftr_retire_hv);
                    }
                    &.birth:hover div{
                        @include sprite($ftr_birth_hv);
                    }
                    &.goldsilver:hover div{
                        @include sprite($ftr_goldsilver_hv);
                    }
                    &.anniversary:hover div{
                        @include sprite($ftr_annivers_hv);
                    }
                    &.marriedCl:hover div{
                        @include sprite($ftr_married_cl_hv);
                    }
                    &.babyCl:hover div{
                        @include sprite($ftr_baby_cl_hv);
                    }
                    &.buildCl:hover div{
                        @include sprite($ftr_build_cl_hv);
                    }
                }
            }
            &.mainCategory{
                margin: 0 0 0 0;
            }
            &.category{
                width: 139px;
                margin: 17px 0 0 30px;
                margin: 26px 0 0 30px\9;
                @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
                    margin: 17px 0 0 30px;
                }
                border-right: $line;
                li{
                    margin: 0 0 5px 0;
                    &.genreName{
                        line-height: 1rem;
                        line-height: 33px;
                    }
                }
            }
        }
    }
    /* 店舗情報 */
    .shopInfo{
        width: 309px;
        height: 430px;
        float: left;
        margin: 20px 20px 0 0;
        border-right: $line;
        & .logo{
            @include sprite($ftr_logo);
            text-indent: -9999px;
            margin: 10px 0;
            a{
                width: 100%;
                display: block;
            }
        }
        p{ 
            @include fsize(10,1.5);
            small{
                font-weight: normal;
            }
        }
        b{
            display: block;
            width: 128px;
            text-align: center;
            @include fsize(10,1.5);
        }
        .guide,.mail{
            float: left;
            p{
                margin: 2px 0 0;
                text-align: center;
                font-weight: bold;
                width: 128px;
            }
            a{
                @include anm(0.2s);
                display: block;
                overflow: hidden;
                width: 128px;
                height: 30px;
                margin: 20px 0 0 0;
                line-height: 1.8rem;
                line-height: 30px;
                text-align: center;
                @include fsize(12,2.5);
                font-weight: bold;
                text-decoration: none;
                color: #fff;
                background-color: $acc;
                margin-right:15px;
                font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
                &:hover{
                    background-color: $mc;
                }
                .wf{
                    float: left;
                    width: 20px;
                    .fs1 {
                        @include fsize(14,2);
                        border: none;
                        padding: 0;
                        margin: 0;
                        color: #fff;
                        position: relative;
                        left: 15px;
                    }
                }
            }
        }

        .guide{
            a{
                .wf{
                    .fs1{
                        margin: 0.1rem 0;
                    }
                }
            }
        }
    }
    /* サービス内容 */
    .serviceInfo{
        width: 650px;
        float: left;
        margin: 20px 0;
        ul{
            margin: 0;
            padding: 0;
            overflow: hidden;
            li{
                width: 140px;
                float: left;
                margin: 0 0 0 30px;
                @include fsize(10,1.5);
                em{
                    color: $acc;
                    @include anm(0.2s);
                    width: 110px;
                    display: block;
                    margin: 0 auto;
                    @include fsize(14,1.5);
                    text-align: center;
                    border: $line;
                    @include padd(4,0,4,0);
                }
                /* SEOテスト用 */
                span.title{
                    color: $acc;
                    @include anm(0.2s);
                    width: 110px;
                    display: block;
                    margin: 0 auto;
                    @include fsize(14,1.5);
                    text-align: center;
                    border: $line;
                    @include padd(4,0,4,0);
                    font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
                }
                img{
                    display: block;
                    margin: 0 auto;
                }
                &:first-child{
                    margin: 0;
                }
                p {
                    @include fsize(11,1.5);
                    a{
                        text-decoration: underline;
                        &:hover{
                            color: $mc;
                        }
                    }
                }
                &:hover em{

                    background-color: $mc;
                    color: $bc;
                }
                span{
                    display: block;
                    margin: 0 auto;
                    &.fGuara{
                        @include sprite($ftr_guara);
                    }
                    &.fComp{
                        @include sprite($ftr_comp);
                    }
                    &.fGift{
                        @include sprite($ftr_gift);
                    }
                    &.fOversea{
                        @include sprite($ftr_ovsea);
                    }
                }
            }
        }
        hr{
            margin: 20px auto;
        }
        .pay{
            width: 140px;
            float: left;
            margin: 0 30px 0 0;
            em{
                color: $acc;
                @include anm(0.2s);
                width: 110px;
                display: block;
                margin: 0 auto;
                @include fsize(14,1.5);
                text-align: center;
                border: $line;
                @include padd(4,0,4,0);
            }
            /* SEOテスト用 */
            span.title{
                color: $acc;
                @include anm(0.2s);
                width: 110px;
                display: block;
                margin: 0 auto;
                @include fsize(14,1.5);
                text-align: center;
                border: $line;
                @include padd(4,0,4,0);
                font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;

            }
            img{
                display: block;
                margin: 0 auto;
            }
            span.fPay{
                display: block;
                margin: 0 auto;
                @include sprite($ftr_pay);
            }
            p {
                @include fsize(11,1.5);
                a{
                    text-decoration: underline;
                    &:hover{
                        color: $mc;
                    }
                }
            }
            &:hover em{
                background-color: $mc;
                color: $bc;
            }
        }
        .delivery{
            width: 280px;
            float: left;
            margin: 0 0 0 10px;
            table{
                display: block;
                text-align: center;
                border: none;
                tbody{
                    tr{
                        td{
                            border: $line;
                            padding: .5rem 1rem;
                        }
                        &:first-child td:first-child{
                            background-color: $sbc01;
                            color: $bc;
                        }
                    }
                }
            }
            p{
                margin: 10px 0 0 0;
                i{
                    font-weight: bold;
                }
            }
        }/* delivery--fin */
        .calender{
            overflow: hidden;
            p{
                @include marg(10,0,0,0);
                @include fsize(10,1.5);
                text-align: center;
                float: right;
                .sat{
                    color: $sbc02;
                }
                .sun{
                    color: $sbc03;
                }
            }
        }
    }/* serviceInfo--fin */

    /* 各種案内 */
    .site{
        width: 100%;
        overflow: hidden;
        @include padd(0,0,10,0);
        ul{
            @include fsize(10,1.5);
            li{
                display: block;
                float: left;
                border-left: $line;
                @include padd(0,4,0,4);
                a:hover{
                    text-decoration: underline;
                }
            }
            li:first-child{
                border-left: none;
            }
        }
        small{
            float: right;
            font-weight: normal;
            @include fsize(10,1.5);
            color: $acc;
        }
    }/* site--fin */


    div.cal_wrapper {
        display: block;
        float: right;
        margin: 0;
        width: 140px;
        height: 140px;
        position: relative;
        table.cal{
            padding: 0;
            @include marg(0,10,0,0);
            tr{
                th{
                    p {
                        float: left;
                        padding: 5px 0 0;
                        margin: 0;
                        color: #666;
                        @include fsize(10,1.5);
                    }
                    div.cal_ui {
                        float: right;
                        @include fsize(10,0);
                        input {
                            background-color: #efefef;
                            border-style: none;
                            @include fsize(10,1);
                            margin: 0px 1px;
                            padding: 1px 5px;
                            color: $acc;
                        }
                    }
                }
                td{
                    border-top: solid 1px #EEE;
                    font-size: 10px;
                    text-align: center;
                    padding: 0;
                    div {
                        @include fsize(10,1.5);
                        text-align: center;
                        span {
                            display: none;
                            position: absolute;
                            top: 20px;
                            right: 10px;
                            width: 130px;
                            border: solid 1px #EEE;
                            background-color: #FFF;
                            text-align: left;
                            padding: 5px;
                            z-index: 10;
                            color: #000;
                            font-weight: normal;
                            line-height: 1.5em;
                            box-shadow: 1px 1px 3px #666;
                        }

                        /* 以下曜日別指定 */
                        &.Sat {
                            color: $acc;
                            background-color: $sbc02;
                        }
                        &.Sun {
                            color: $acc;
                            background-color: $sbc03;
                        }
                        &.Today {
                            font-weight: bolder;
                        }
                        &.Deli {
                            background-color: #EFE;
                        }
                        &.Holyday {
                            background-color: $sbc01;
                            color: $acc;
                        }
                        &.Business {
                            background: none;
                        }
                        &.Birthday {
                            font-weight: bolder;
                            color: #090;
                            border-radius: 3px;
                        }
                        &.backward {
                            color: #777;
                            font-weight: normal;
                            border-radius: 3px;
                        }
                        &.pointer {
                            cursor: pointer;
                            &:hover {
                                background-color: $sbc01;
                                color: $acc;
                            }
                        }
                    }
                }
                &.headline td {
                    padding: 5px 0px;
                    color: #666;
                    background-color: #EEE;
                }
            }
        }
    }
}
}
