@charset "UTF-8";
/* CSS Document */
@import "../styleguide/_scss/styleguide-default.scss";

$line : solid 1px $sbc01;

body{
    iframe.header{
        width: 100%;
        height: 600px;
        overflow: hidden;
    }
    iframe.leftnav{
        float: left;
        display: block;
        width: 200px;
        height: 5800px;
    }
    iframe.footer{
        height: 2455px;
        display: block;
    }
    .ifContents{
        width: 990px;
        margin: 0 auto;
        &.kutani-history,&.kutani-skill,&.ymnk-history,&.ymnk-skill{
            display: block;
            width: 100%;
            height: 500px;
            margin: 80px auto 0;
        }
    }
}