@import "../frameworks/_scss/styleguide.scss";
@import "sprite-header.scss";
body {
    background: url("../img/cmn_hdr_bg.jpg");
    @include padd(0, 0, 60, 0);
}

#headerStyle {
    width: 100%;
    margin: 0 auto;
    position: relative;
    .nav {
        float: right;
    }
    .navigation {
        margin: 6px 0 0;
        padding: 6px 0 0;
        @include fsize(11, 1.0);
        li {
            margin: 0 0 0 15px;
            @include fsize(11, 1.0);
            display: block;
            float: left;
            font-size: 80%;
            a:hover {
                text-decoration: underline;
            }
        }
    }
    /* ロゴ */
    
    .hdrLogo {
        position: absolute;
        left: 44%;
        top: 54px;
        a {
            text-indent: -9999px;
            display: block;
            margin: 0 auto;
            @include sprite($cmn_hdr_logo);
        }
        p {
            text-align: center;
            margin: 0;
            @include fsize(12, 3.0);
        }
    }
    h1 {
        margin: 6px 0 0;
        display: block;
        float: left;
        @include fsize(11, 1.0);
    }
    /* 左側オプション */
    
    .fb-like {
       float: left;
       position: absolute;
       top: 1px;
       width: 335px;
       height: 25px;
       margin-left:152px;
       overflow: hidden;
   }
   .calender {
    position: absolute;
    top: -3px;
    clear: both;
    float: left;
    div {
        margin: 0 0 0 38px;
        .calImage {
            color: $bc;
            @include sprite($hdr_delivery_bnr);
            width: 115px;
            height: 126px;
            display: block;
            position: relative;
            &:hover {
                color: $tbc;
                @include sprite($hdr_delivery_bnr_hv);
            }
            p {
                @include fsize(12, 1.0);
                padding: 8px 0 0 10px;
            }
        }
        a {
            text-decoration: none;
        }
        span {
                /* font-size: 12px\9; */
                
                @include fsize(10, 1.7);
                font-weight: bold;
                text-decoration: none;
                font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
                &.weekly {
                    font-size: 100%;
                }
            }
            span.dateUpdate {
                text-decoration: underline;
                @include fsize(20, 1.2);
                span {
                    @include fsize(20, 1.2);
                }
            }
        }
    }
    .campaign {
        position: absolute;
        margin: 32px 0 0;
        top: 0;
        a {
            display: block;
            &.asu {
                @include sprite($hdr_asu_bnr_y);
                &:hover {
                    @include sprite($hdr_asu_bnr_y_hv);
                }
            }
            &.del {
                margin: 6px 0 0 25px;
                @include sprite($hdr_del_bnr_y);
                &:hover {
                    @include sprite($hdr_del_bnr_y_hv);
                }
            }
            &:hover {
                background: url('https://shopping.geocities.jp/dentouhonpo/img/hdr_asu_bnr_hv.png') no-repeat;
            }
        }
    }
    .careful {
        float: left;
        width: 400px;
        position: absolute;
        top: 126px;
        @include fsize(10, 1.5);
        color: $acc;
        a {
            color: $acc;
            &:hover {
                color: $mc;
            }
        }
        p span {
            color: $mc;
            font-weight: bold;
        }
    }
    /* 右側オプション */
    
    .sideContents {
        @include marg(10, 0, 0, 0);
        float: right;
        height: 150px;
        a {
            color: $mc;
            text-decoration: none;
            &.personal, &.company, &.guide {
                text-indent: -9999px;
                float: left;
                width: 100px;
                height: 25px;
                line-height: 0;
            }
            &.personal {
                @include sprite($cmn_hdr_pr);
                margin-right: 3px;
                &:hover {
                    @include sprite($cmn_hdr_pr_hv);
                }
            }
            &.company {
                @include sprite($cmn_hdr_comp);
                margin-right: 3px;
                &:hover {
                    @include sprite($cmn_hdr_comp_hv);
                }
            }
            &.guide {
                margin-left: 3px;
                @include sprite($cmn_hdr_guide);
                &:hover {
                    @include sprite($cmn_hdr_guide_hv);
                }
            }
        }
        form {
            @include marg(0, 0, 0, 10);
            float: left;
            @include fsize(12, 1.3);
            input {
                background: none;
            }
            #form {
                border-style: none;
                text-indent: 0.5em;
                float: left;
                @include sprite($cmn_hdr_form);
            }
            #btn {
                @include sprite($cmn_hdr_formbtn);
                display: block;
                border-style: none;
                float: left;
                border: none;
            }
        }
        .keywords {
            clear: both;
            @include fsize(10, 1.5);
            border: 1px solid $sbc01;
            background-color: $bc;
            padding: 2px 4px;
            margin: 30px 0 0;
            @include rad(15, 15, 15, 15);
            a {
                text-align-last: left;
            }
        }
        .cmn_hdr_phonecall {
            margin: 10px 0 0;
            @include sprite($cmn_hdr_phonecall);
        }
        /* form{
            margin: 0;
            padding: 13px 10px;
            width: 182px;
            height: 82px;
            font-size: 50%;
            background: url(https://shopping.c.yimg.jp/lib/dentouhonpo/cmn_hdr_search.gif) no-repeat;
            #keyword{
                margin-top: 7px;
                padding: 2px;
                height: 12px;
                border:none;
                border: 1px solid $sbc01;
                border-radius: 3px 3px 3px 3px;
                border-radius: 3px;
                background-color: #fff;
                box-shadow: inset 0 0 4px rgba(10, 2, 4, 0.2);
            }
            #min,#max{
                margin-top: 21px;
                padding: 2px;
                height: 12px;
                width: 64px;
                border:none;
                border: 1px solid $sbc01;
                border-radius: 3px 3px 3px 3px;
                border-radius: 3px;
                background-color: #fff;
                box-shadow: inset 0 0 4px rgba(10, 2, 4, 0.2);
            }
            #max{
                margin-left: 28px;
            }
            #btn{
                display: block;
                width: 96px;
                height: 18px;
                background: url(https://shopping.c.yimg.jp/lib/dentouhonpo/cmn_hdr_searchbtn.png) no-repeat;
                border:none;
                margin: 19px auto 0;
            }
        } */
    }
    /* 祝い事カテゴリー　メニュー設定 */
    
    #compEvent {
        li {
            a {
                margin: 7px 0 0;
            }
            &:first-child {
                div {
                    @include sprite($cmn_hdr_m03);
                }
                &:hover {
                    background: none;
                }
            }
            &:hover {
                background-color: $acc;
            }
        }
    }
    .eventNavigation {
        width: 100%;
        height: 36px;
        padding: 0;
        margin: 0 0 10px 0;
        position: relative;
        li {
            position: relative;
            display: block;
            float: left;
            border: 1px solid $sbc01;
            border-left: none;
            width: 98px;
            height: 34px;
            z-index: 1;
            a {
                display: block;
                min-width: 100%;
                min-height: 100%;
                width: 100%;
                height: 100%;
                div {
                    width: 86px;
                    height: 20px;
                    margin: 5px auto;
                }
            }
            &:hover {
                background-color: $mc;
                border: 1px solid $mc;
                border-left: none;
            }
        }
        li:first-child {
            div {
                @include sprite($cmn_hdr_m01);
            }
            z-index: 10;
            position: relative;
            bottom: 29px;
            border: none;
            &:hover {
                border: none;
                background: none;
            }
        }
    }
    /* 商品カテゴリー　ドロップダウンメニュー設定 */
    
    #compCategory {
        li {
            &:first-child {
                div {
                    @include sprite($cmn_hdr_m04);
                }
            }
            &:hover {
                background-color: $acc;
            }
        }
        a {
            &:hover {
                background-color: $acc;
            }
        }
    }
    ul.dropdown,
    ul.dropdown li,
    ul.dropdown ul {
        list-style: none;
        @include marg(0, 0, 20, 0);
        padding: 0;
    }
    ul.dropdown {
        clear: both;
        width: 100%;
        position: relative;
        z-index: 597;
        height: 50px;
        /* seoテスト */
        
        li.mainCategory {
            h2 {
                a {
                    text-indent: -9999px;
                }
            }
        }
        /* 大カテゴリ */
        
        li#genre {
            position: static;
            ul {
                float: left;
                position: absolute;
                width: 100%;
                background-color: $bc;
                background-color: rgba(255, 255, 255, 0.9);
                li {
                    zoom: 1;
                    z-index: 597;
                    width: 66px;
                    position: static;
                    a {
                        display: block;
                        @include padd(14, 0, 14, 0);
                        text-align: center;
                        &:before {}
                    }
                    ul {
                        position: absolute;
                        top: 42px;
                        left: -1px;
                        width: 100%;
                        background-color: $bc;
                        background-color: rgba(255, 255, 255, 0.9);
                        li {
                            width: 20%;
                            a {
                                width: 100%;
                            }
                        }
                    }
                    &:first-child {
                        a {
                            border: none;
                        }
                    }
                }
                & > li{
                    width: 9.09%;
                }
            }
        }
        li {
            float: left;
            min-height: 1px;
            line-height: 1.3em;
            vertical-align: middle;
            @include marg(0, 0, 0, 17);
            position: relative;
            bottom: 0;
            &:first-child {
                margin: 0;
            }
            &:hover {
                @include anm(0.2s);
                bottom: 5px;
                z-index: 599;
                cursor: default;
                & > ul {
                    visibility: visible;
                    position: absolute;
                    left: 0;
                }
            }
            a {
                display: block;
                &.event {
                    @include sprite($cmn_hdr_m01);
                    &:hover {
                        @include sprite($cmn_hdr_m01_hv);
                    }
                }
                &.return {
                    @include sprite($cmn_hdr_m02);
                    &:hover {
                        @include sprite($cmn_hdr_m02_hv);
                    }
                }
                &.type {
                    @include sprite($cmn_hdr_m04);
                    &:hover {
                        @include sprite($cmn_hdr_m04_hv);
                    }
                }
                &.budget {
                    @include sprite($cmn_hdr_m05);
                    &:hover {
                        @include sprite($cmn_hdr_m05_hv);
                    }
                }
                &.genre {
                    @include sprite($cmn_hdr_m03);
                    &:hover {
                        @include sprite($cmn_hdr_m03_hv);
                    }
                }
                /* 法人 */
                
                &.popular {
                    @include sprite($cmn_hdr_m06);
                    &:hover {
                        @include sprite($cmn_hdr_m06_hv);
                    }
                }
                &.oversea {
                    @include sprite($cmn_hdr_m07);
                    &:hover {
                        @include sprite($cmn_hdr_m07_hv);
                    }
                }
                &.professional {
                    @include sprite($cmn_hdr_m08);
                    &:hover {
                        @include sprite($cmn_hdr_m08_hv);
                    }
                }
                &:hover {
                    height: auto;
                }
            }
            /* 中カテゴリ */
            
            ul {
                position: absolute;
                border: 1px dotted $mc;
                left: 0;
                top: 40px;
                background-color: $bc;
                background-color: rgba(255, 255, 255, 0.9);
                @include fsize(12, 1.5);
                padding: 0;
                visibility: hidden;
                width: 184px;
                left: 0;
                z-index: 598;
                li {
                    margin: 0;
                    padding: 0;
                    float: left;
                    width: 50%;
                    a {
                        display: block;
                        margin: 0 auto;
                        width: 96%;
                        padding: 6% 2%;
                        color: $acc;
                        text-decoration: none;
                        border: none;
                        &:hover {
                            background-color: $mc;
                            color: $bc;
                            bottom: 0;
                            &:before {
                                color: $tbc;
                            }
                        }
                        &:before {
                            content: '・';
                            @include padd(0, 2, 0, 0);
                            @include fsize(8, 1.5);
                        }
                    }
                    &:first-child {
                        a {
                            border: none;
                        }
                    }
                    &:hover {
                        bottom: 0;
                    }
                }
                ul {
                    top: 1rem;
                    left: 99%;
                }
            }
        }
    }
    .categoryNavigation {
        width: 100%;
        li {
            float: left;
            position: relative;
            border: 1px solid $sbc01;
            border-left: none;
            width: 58px;
            height: 23px;
            left: 0px;
            z-index: 1;
            &:hover > ul {
                display: block;
            }
            &:hover {
                /* border:1px solid $mc;
                border-left: none; */
                
                background-color: $mc;
                a {
                    color: $bc;
                }
                ul li a {
                    color: $acc;
                }
            }
            &:first-child {
                width: 99px;
                height: 23px;
                border: none;
                left: 0px;
                z-index: 10;
                div {
                    @include sprite($cmn_hdr_m02);
                }
            }
            &.itemWidth {
                width: 63px;
                a {
                    width: 63px;
                }
                li {
                    a {
                        width: auto;
                    }
                }
            }
            /* サブメニュー */
            
            ul {
                background-color: #fff;
                display: none;
                position: absolute;
                top: 23px;
                height: auto;
                width: auto;
                left: -1px;
                z-index: 99999;
                border: 1px solid $mc;
                border-top: 1px solid $bc;
                @include rad(0, 0, 5, 5);
                li {
                    width: 100%;
                    height: auto;
                    float: none;
                    display: block;
                    border: none !important;
                    &:first-child {
                        height: auto;
                        width: 100%;
                        a {
                            &:after {
                                content: '';
                                position: absolute;
                                left: 4px;
                                top: -8px;
                                width: 0;
                                height: 0;
                                @include anm(0.2s);
                                border-left: 5px solid transparent;
                                border-right: 5px solid transparent;
                                border-bottom: 8px solid $bc;
                            }
                            &:hover:after {}
                        }
                    }
                    &:last-child {
                        @include rad(0, 0, 5, 5);
                        a {
                            border: none;
                            -moz-border-radius: 0 0 5px 5px;
                            border-radius: 0 0 5px 5px;
                        }
                    }
                    a {
                        width: auto;
                        height: 100%;
                        padding: 8px 10px;
                        line-height: 1;
                        display: block;
                        white-space: nowrap;
                        float: none;
                        text-transform: none;
                        text-align: left;
                        background-color: $bc;
                        &:hover {
                            color: $bc;
                            background-color: $mc;
                            /* IE */
                            /* filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#04acec', endColorstr='#0186ba'); */
                        }
                    }
                }
            }
            a {
                width: 58px;
                font-size: 90%;
                height: 25px;
                line-height: 230%;
                display: block;
                text-align: center;
                color: $acc;
                @include anm(0.2s);
                &:hover {
                    background-color: $mc;
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
        &:after {
            visibility: hidden;
            display: block;
            font-size: 0;
            content: " ";
            clear: both;
            height: 0
        }
    }
    /* スライドギャラリー設定 */
    
    /* .gallery {
        width: 100%;
        height: 140px;
        position: relative;
        top: -10px;
    } */

    .slider__arrows{
        opacity:0.0;
        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
        @include anm(0.2s);
    }

    .gallery:hover .slider__arrows{
        opacity:1.0;
        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
        @include anm(0.2s);
    }

    .gallery {
        width: 100%;
        max-width: 990px;
        margin: 0 auto;
        height: 320px;
        overflow: hidden;
        /* background: url(https://shopping.geocities.jp/dentouhonpo/img/header/cmn_hdr_bg.gif); */
        
        position: relative;
        .slider {
            position: relative;
            width: 100%;
            height: 100%;
            /* overflow: hidden; */
            .slider__wrapper {
                height: 100%;
                list-style: none;
                overflow: hidden;
                *zoom: 1;
                -webkit-backface-visibility: hidden;
                -webkit-transform-style: preserve-3d;
                .slider__item {
                    height: 100%;
                    float: left;
                    clear: none;
                    a{
                        position: relative;
                        img{
                            width: 32%;
                            display: block;
                            padding: 0 0 1% 1%;
                            float: left;
                        }
                    }
                    &.wide{
                        a{
                            img{
                                width: 100%;
                                padding: 0;
                            }
                        }
                    }
                    &.multi{
                        a{
                            img{
                                width: 50%;
                            }
                        }
                    }
                }
            }
        }

        .slider__arrows-item {
            position: absolute;
            display: block;
            margin-bottom: -20px;
            padding: 20px;
            cursor: pointer;
        }
        .slider__arrows-item--right,.slider__arrows-item--left{
            width: 48px;
            height: 48px;
            text-indent: -9999px;
            bottom: 45%;
            @include anm(0.2s);
        }
        .slider__arrows-item--right {
            right: 10px;
            background: url('https://shopping.geocities.jp/dentouhonpo/img/slideArrowR.png') 50% 50% no-repeat;
            &:hover{
                background: url('https://shopping.geocities.jp/dentouhonpo/img/slideArrowR_hover.png') 50% 50% no-repeat;
            }
        }
        .slider__arrows-item--left {
            left: 10px;
            background: url('https://shopping.geocities.jp/dentouhonpo/img/slideArrowL.png') 50% 50% no-repeat;
            &:hover{
                background: url('https://shopping.geocities.jp/dentouhonpo/img/slideArrowL_hover.png') 50% 50% no-repeat;
            }
        }
        .slider__nav {
            position: absolute;
            bottom: 10px;
            .slider__nav-item {
                width: 12px;
                height: 12px;
                float: left;
                clear: none;
                display: block;
                margin: 0 5px;
                background: #fff;
                @include rad(3,3,3,3);
                border: 1px solid $mc;
            }

            .slider__nav-item--current {
                background: $mc;
            }
            .slider__nav-item:hover {
                background: $mc;
            }
        }
    }
    div {
        & > p {
            text-align: left;
            margin: 15px 0;
        }
        .slideArea {
            margin: 0 auto;
        }
        .slider div {
            text-align: center;
        }
        #box1 {
            /* width:445px; */
            
            width: 990px;
            height: 100px;
            float: left;
            position: absolute;
            padding: 0 10px;
            left: 200px;
            @include fsize(12, 1.5);
            a {
                text-decoration: none;
                display: block;
                float: left;
                width: 135px;
                /* margin-left: 5px; */
                
                margin-left: 3px;
                position: relative;
                p {
                    display: none;
                    position: absolute;
                    background-color: #000;
                    padding: 4px;
                    bottom: 0px;
                    color: $bc;
                    @include alpha(70);
                }
                &:hover {
                    p {
                        display: block;
                        width: 127px;
                        text-align: left;
                    }
                }
            }
        }
        &#seasonItem {
            position: absolute;
            left: 0px;
            *left: -490px;
            text-align: center;
            .season {
                margin: 0 auto;
                @include sprite($cmn_hdr_sptxt01);
            }
            .compGuide {
                margin: 0 auto;
                @include sprite($cmn_hdr_sptxt03);
            }
        }
        &#newItem {
            position: absolute;
            right: 20px;
            *right: -470px;
            .new {
                margin: 0 auto;
                @include sprite($cmn_hdr_sptxt02);
            }
            .compGift {
                margin: 0 auto;
                @include sprite($cmn_hdr_sptxt04);
            }
        }
        /* スクリプト生成タグ */
        
        .sr-pager {
            z-index: -9999px;
            position: relative;
            width: 100%;
            bottom: 0px;
            list-style: none;
            @include fsize(10, 1.5);
        }
        .sr-pager li {
            float: left;
        }
        .sr-pager li a {
            cursor: pointer;
            display: block;
            padding: 32px 2px;
            background: #6a4524;
            color: #fff;
        }
        .sr-next {
            position: absolute;
            right: 0px;
            top: 0px;
        }
        .sr-prev {
            position: relative;
            top: 0px;
            left: 0px;
        }
    }
    .serviceLinks {
        display: none;
        overflow: hidden;
        width: 990px;
        margin: 30px auto 0;
        ul {
            margin: 0;
            padding: 0;
            li {
                width: 485px;
                margin: 4px 5px;
                padding: 0;
                float: left;
                a {
                    display: block;
                    width: 223px;
                    height: 104px;
                }
            }
        }
    }
    .monthItem {
        h2 {
            margin: 20px 0 0;
        }
        div {
            width: 98%;
            padding: 1%;
            background-color: $tbc;
            ul {
                overflow: hidden;
                width: 98%;
                padding: 1%;
                background-color: $bc;
                li {
                    float: left;
                    width: 19.2%;
                    margin: 0 0 0 1%;
                    &:first-child {
                        margin: 0;
                    }
                    a {
                        color: $acc;
                        @include fsize(12, 1.5);
                        text-decoration: none;
                        display: block;
                        img {
                            max-width: 100%;
                        }
                        span {
                            display: block;
                            @include fsize(10, 1.5);
                        }
                    }
                }
            }
        }
    }

    header,& > article,{
        width: 990px;
        margin: 0 auto;
    }
}
/* IE6対策 *html #menu li a:hover {color: #fafafa; } */
/* IE6対策 *html #menu ul a {height: 10px; width: 150px; } */

*:first-child+html #menu ul a
/* IE7 */

{
    height: 10px;
    width: 150px;
}

* html #menu {
    zoom: 1;
}
/* IE6 */

*:first-child+html #menu {
    zoom: 1;
}
/* IE7 */
