/* default.css カスタマイズ */

/* フッター削除 */
section{
    div.footer{
        display: none;
    }
}

/* カートボタンデザイン変更 */
.submit{
    input[type="submit"]{
        /* text-indent: -9999px; */
    }
    .curt_l{
        @include r-sprite($sp_ip_cart,4.25);
        width: 273.41176px !important;
        height: 52.70588px !important;
    }
}
#btnKagoService .submit{
    input[type="submit"]{
        text-indent: -9999px;
    }
}

/* お気に入りボタンデザイン変更 */
.shopping_form{
    input{
        width: auto;
        height: auto;
        /* text-indent: -9999px; */
    }
    .wish_add{
        @include r-sprite($sp_ip_favorite,4.25);
        background-position: 0px -261.82353px;
        background-size: 549.17647px 498.17647px;
        text-indent: -9999px;
    }
    .wish_add_ok{
        @include r-sprite($sp_ip_favorite_hv,4.25);
        display: block;
        margin: 0 auto;
        text-indent: -9999px;
        padding: 0;
    }
    .wishBtnHidden{
        display: none;
    }
}


/* 注文状況部分 */
.orderFrame{
    width: 800px;
    height: 306px;
    overflow: hidden;
    /* 表示設定 */
    display: none;
}

/* ギフトサービス案内 */
.ftrService{
    width: 100%;
    height: 3300px;
    overflow: hidden;
    margin: 20px 0 0 ;
    padding: 0;
    /* 表示設定 */
    display: none;
}

@media only screen and (max-width: 768px) {
    .ftrService{
        width: 100%;
        height: 3300px;
        overflow: hidden;
        margin: 20px 0 0 ;
        padding: 0;
        /* 表示設定 */
        display: none;
    }
}


/* facebookレスポンシブ設定 */
.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget iframe[style]{ width: 100%!important; }

#fbHdr{
    margin: 1px 0 0 4px;
    display: block;
    float: right;
    width: 33% !important;
}

/* 返品について */
.form_menu{
    ul{
        .ar_link_r{
            a{
                display: block;
                margin: 3px auto 0;
                /* text-indent: -9999px; */
                /* @include r-sprite($sp_ip_contact,4.25); */
            }
        }
    }
}


/* 商品説明の削除 */
#pi_main{
    .titlebar_g_o{
        /* display: none; */
    }
    .shopcomment{
        .seemore{
            /* display: none; */
        }
    }
}


/* 開閉機能の削除 */
#contents .description aside{
    height: 100% !important;;
    overflow: hidden !important;
}


/* 商品ページiframeの中央揃え */
.description{
    iframe,img{
        display: block;
        margin: 0 auto;
    }
}

/* 商品名周辺 */
#contents{
    section{
        position: relative;
        &#pi_main{
            /* メイン紹介の上に余白 */
            clear: both;
            margin: 10px auto 10px;
        }
    }
    section.product_name{
        padding: 10px 0 3px 3px;
        margin: 0;
        border: none;
        ul{
            .catch{
                @include fsize(16,1.5);
            }
        }
    }
    section#pi_std_price{
        .productprice{
            padding: 5px 10px 0;
            div{
                padding: 0 !important;
            }
            p{
                margin: 0;
                @include fsize(16,1.25);
                .publish_point{
                    @include fsize(14,1.0);
                }
            }
        }
    }
}


/* 注文表記の削除 */
#sortarea{
    #pi_cart{
        .titlebar_g_o{
            display: none;
            h1{
                display: none;
            }
        }
    }
    /* 選択項目フォームの調整 */
    .stock form{
        padding: 0 5px 5px;
        table.remark{
            margin: 0 20px 15px;
            @media only screen and (max-width: 768px) {
                position: relative;
                top: 8px;
                tr:nth-child(2){
                    td{
                        text-align: left;
                    }
                }
            }
        }
        table.variation3{
            position: absolute;
            left: 25px;
            top: 6px;
            @media only screen and (max-width: 768px) {
                position: relative !important;
                left: -65px !important;
                top: none;
            }
            tr{
                th{
                    line-height: 1.4;
                    padding: 0 10px;
                }
            }
        }
    }
}

/* sns設定 */
#pi_sns{
    .sns{
        table{
            tr{
                td{
                    &:nth-child(1){
                        div{
                            a{
                                display: block;
                                @include r-sprite($sp_ip_tweet,4);   
                            }
                        }
                    }
                    &:nth-child(2){
                        /* div{
                            span{
                                display: block;
                                background: none;
                                @include r-sprite($sp_ip_fb,4);   
                            }
                        } */
                    }
                    &:nth-child(3){
                        div{
                            a{
                                display: block;
                                @include r-sprite($sp_ip_line,4);   
                            }
                        }
                    }
                    div{
                        a{
                            img{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}