@charset "utf-8";

/* CSS Document */


/*------reset------*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    padding: 0;
    margin: 0;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 12px;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    float: left;
}

img {
    border: 0;
}


/*------reset--fin------*/


/*------item------*/

.item {
    height: 460px;
}


/*------item2------*/

.item2 {
    float: left;
    width: 380px;
    height: 850px;
    margin-left: 12px;
}

.listTitle{
    display: none;
    &.gw{
        font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
        font-size: 30px;
        font-weight: bold;
        text-align: left;
        padding: 14px;
        margin: 20px 0 10px;
        display: block;
        background-color: #ffe400;
        color: #8eaeff;
        border-top: 1px solid #8eaeff;
        border-bottom: 1px solid #8eaeff;
        border-left: 4px solid #8eaeff;
        border-right: 4px solid #8eaeff;
    }
    span{
        font-size: 14px;
        display: block;
        margin: 0 0 6px;
    }
}

.intro{
    width: 80%;
    margin: 30px auto 70px;
    &.gw{
        b{
            text-align: center;
            display: block;
            font-size: 36px;
            font-weight: bold;
            line-height: 1.4;
            margin: 0 0 20px;
            span{
                display: block;
                font-size: 14px;
            }
        }
        p{
            line-height: 1.75;
            font-size: 14px;
        }
    }
}

.eventService{
    &.gw{
        ul{
            width: 100%;
            padding: 0;
            margin: 0 0 100px;
            overflow: hidden;
            li{
                float: left;
                width: 25%;
                height: 280px;
                margin: 0 2% 0 0;
                padding: 2%;
                border: 4px solid #8eaeff;
                background-color: #ffe400;
                img{
                    width: 100%;
                }
                &:first-child{
                    margin: 0 2% 0 2%;
                }
                &:last-child{
                    margin: 2% 0 0 2%;
                    padding: 2% 1%;
                    width: 91%;
                    img{
                        padding: 0 1%;
                        display: block;
                        float: left;
                        border: none;
                        &.image{
                            width: 54%;
                        }
                        &.txt{
                            width: 39%;
                        }
                    }
                }
            }
        }
    }
}

.titlebar{
    margin: 0 0 20px;
}

.spHeader{
    display: none;
}
.pcHeader{
    display: block;
}


#main{
    &.message{
        display: none;
    }
}

/*------item2--fin------*/


/*------slide-gallery------*/

#slideshow li,
#slideshow2 li,
#slideshow3 li,
#slideshow4 li {
    transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    border: none;
}

#slideshow,
#slideshow3,
#slideshow4 {
    float: left;
    padding: 0;
    margin: 0;
    width: 400px;
}

#slideshow2{
    float: right;
    padding: 0;
    margin: 0;
    width: 400px;
}

#slideshow div,
#slideshow2 div,
#slideshow3 div,
#slideshow4 div {
    width: 400px;
    height: 395px;
    overflow: hidden;
    position: relative;
}

#slideshow div div,
#slideshow2 div div,
#slideshow3 div div,
#slideshow4 div div {
    top: 0;
    left: 0;
    position: absolute;
}

#slideshow ul,
#slideshow2 ul,
#slideshow3 ul,
#slideshow4 ul {
    width: 400px;
    height: auto;
    margin: 2px 0 0 0;
}

#slideshow ul li,
#slideshow2 ul li,
#slideshow3 ul li,
#slideshow4 ul li {
    width: 55px;
    margin: 0 2px 0 0;
    padding: 0;
    float: left;
    display: block;
}

#slideshow ul li:hover,
#slideshow2 ul li:hover,
#slideshow3 ul li:hover,
#slideshow4 ul li:hover {
    border-bottom: #900 solid 2px;
}

#slideshow .active,
#slideshow2 .active,
#slideshow3 .active,
#slideshow4 .active {
    filter: alpha(opacity=100)!important;
    -moz-opacity: 1!important;
    opacity: 1!important;
}


/* =======================================
    ClearFixElements
======================================= */

#slideshow ul:after {
    content: ".";
    height: 0;
    clear: both;
    display: block;
    visibility: hidden;
}

#slideshow ul {
    display: inline-block;
    overflow: hidden;
}

.cf:after {
    content: ".";
    height: 0;
    clear: both;
    display: block;
    visibility: hidden;
}

.cf {
    display: inline-block;
    overflow: hidden;
    margin: 10px 0 30px;
    width: 100%;
}


/*------slide-gallery--fin------*/


/*------sp_800--prop------*/

#sp_800 {
    width: 800px;
    height: 100%;
    padding: 0px;
    background-color: #FFF;
}


/*documents-property*/

ul li .price {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 12px;
}


/*documents-property--fin*/


/*------items_property------*/

.item2 .items {
    width: 360px;
    height: 452px;
    padding: 0px;
}

.items {
    width: 370px;
    padding: 0px 15px 0 15px;
    float: left;
}

.items h2 {
    font-size: 14px;
    font-weight: bold;
    line-height: 140%;
}

.items span {
    color: #666;
}

.items span.rank {
    color: #000;
    font-size: 24px;
}

.items hr,
.itemlst hr,
.itemlst_5 hr,
.itemlst_3 hr {
    width: 95%;
    border: none;
    border-bottom: dotted #ccc 1px;
    text-align: left;
}

.items p {
    clear: both;
    line-height: 160%;
}

.items table {
    font-family: "ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", Osaka-mono, monospace;
    width: 60%;
    border: 1px solid #ccc;
    text-align: center;
    margin: 20px 0;
    font-size: 11px;
}

.items table td {
    padding: 4px 6px;
    border-bottom: #999 dotted 1px;
}

.items table tr td:first-child {
    background-color: #ddd;
    width: 30%;
    border-right: dotted #999 1px;
}

.item2 .items span.link,
.itemlst span.link,
.itemlst_5 span.link,
.itemlst_3 span.link {
    text-align: right;
}

.items span.link a,
.itemlst span.link a,
.itemlst_5 span.link a,
.itemlst_3 span.link a {
    font-size: 10px;
    color: #FFF;
    background-color: #900;
    text-decoration: none;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-weight: bold;
    padding: 2px 3px;
}


.item2 .items p.link,
.itemlst p.link,
.itemlst_5 p.link,
.itemlst_3 p.link {
    text-align: right;
}

.items p.link a,
.itemlst p.link a,
.itemlst_5 p.link a,
.itemlst_3 p.link a {
    font-size: 10px;
    color: #FFF;
    background-color: #900;
    text-decoration: none;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-weight: bold;
    padding: 2px 3px;
}



.gw span.link a,.gw p.link a {
    font-size: 12px;
    color: #8eaeff;
    background-color: #ffe400;
    text-decoration: none;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-weight: bold;
    padding: 4px 6px;
    border: 1px solid #8eaeff;
}



/*------item--property--fin------*/


/*------review--property------*/

.reviews {
    clear: both;
    margin: 10px 0;
    width: 770px;
    height: auto;
    padding: 15px;
    background: url(https://den-tou.com/img/category/review_bglp.jpg);
    line-height: 140%;
    border: #92724d dotted 1px;
}

.reviews h3 {
    font-weight: bold;
    color: #666;
    font-size: 14px;
    float: left;
}

.reviews span {
    color: #f00;
    font-weight: bold;
}

.reviews p.vote {
    color: #d6b641;
    text-align: right;
    font-size: 14px;
    font-weight: bold;
}

.reviews p.vote img {
    position: relative;
    top: 2px;
}


/*------review--property--fin------*/


/*------itemlst--property------*/

.itemlst ul,
.itemlst_5 ul,
.itemlst_3 ul {
    width: 790px;
    height: auto;
    margin: 0 auto;
    list-style-type: none;
}

.itemlst ul li {
    float: left;
    width: 169px;
    height: auto;
    border: #ccc 1px solid;
    padding: 10px;
    margin: 3px 6px 3px 0px;
}

.itemlst ul li:hover,
.itemlst_5 ul li:hover,
.itemlst_3 ul li:hover {
    background-color: #efefef;
}

#sp_mother .itemlst ul li:hover,
#sp_mother .itemlst_3 ul li:hover {
    background-color: #ffe5e5;
}

#sp_father .itemlst ul li:hover,
#sp_father .itemlst_3 ul li:hover {
    background-color: #fffedd;
}

.itemlst h2,
.itemlst_5 h2,
.itemlst_3 h2 {
    font-size: 12px;
    font-weight: bold;
    line-height: 140%;
}

.itemlst p,
.itemlst_5 p,
.itemlst_3 p {
    line-height: 150%;
    font-size: 12px;
}

#sp_mother .itemlst p,
.itemlst_5 p,
.itemlst_3 p {
    line-height: 150%;
    font-size: 12px;
}

.itemlst span,
.itemlst_5 span,
.itemlst_3 span {
    color: #666;
    font-size: 10px;
}


/*------itemlst--property--fin------*/


/*------itemlst_5--property------*/

.itemlst_5 ul li {
    float: left;
    width: 129px;
    height: auto;
    border: #ccc 1px solid;
    padding: 10px;
    margin: 3px;
}


/*------itemlst--property--fin------*/


/*------itemlst_3--property------*/

.itemlst_3 ul li {
    float: left;
    width: 233px;
    height: auto;
    border: #ccc 1px solid;
    padding: 10px;
    margin: 4px 4px 4px 4px;
}

#sp_father .itemlst_3 ul li {
    float: left;
    width: 134px;
    height: auto;
    border: #ccc 1px solid;
    padding: 10px;
    margin: 1px;
}

#sp_father #sp ul li {
    float: left;
    width: 233px;
    height: auto;
    border: #ccc 1px solid;
    padding: 10px;
    margin: 4px 4px 4px 4px;
}


/*------itemlst--property--fin------*/


/*------doc--------*/

.txt {
    line-height: normal;
    font-size: 16px;
    border: 1px solid #CCC;
    padding: 15px;
    width: auto;
    margin: 0 10px 20px;
}

.txt span {
    font-weight: bold;
    color: #f00;
}


/*------doc--fin------*/


/*------sp------*/

.sp_catch {
    background: url(https://den-tou.com/img/iroiro/sp_bg.gif);
    width: auto;
    height: 40px;
    margin-bottom: 20px;
    padding: 6px 8px 8px;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.sp_catch span {
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4em;
}

#fg {
    background: url(https://den-tou.com/img/iroiro/sp_bg02.gif);
}

span.cap {
    color: #f00;
    float: right;
    font-size: 8px;
}

.tag {
    float: left;
    margin: 20px 0 0 20px;
}

.tag_lst {
    margin: 0px;
    position: relative;
    top: -5px;
    float: right;
}

li.name_ch {
    position: relative;
}

li.name_ch img.name_ch_img {
    position: absolute;
    left: 200px;
    top: -10px;
    width: 65px;
    height: 65px;
}

li.limit {
    position: relative;
}


/*------sp------*/

img.img_pos {
    margin: 0 10px;
}


@media only screen and (max-width: 768px) {

    .eventService{
        &.gw{
            ul{
                width: 100%;
                padding: 0;
                margin: 0 0 100px;
                overflow: hidden;
                li{
                    float: left;
                    width: 63%;
                    height: auto;
                    margin: 0 10% 4%;
                    display: block;
                    padding: 6%;
                    border: 4px solid #8eaeff;
                    background-color: #ffe400;
                    text-align: center;
                    img{
                        width: 100%;
                    }
                    &:first-child{
                        margin: 0 10% 4%;
                    }
                    &:last-child{
                        margin: 0 10% 4%;
                        padding: 6%;
                        width: 63%;
                        img{
                            padding: 0;
                            display: block;
                            clear: both;
                            border: none;
                            &.image{
                                width: 100%;
                                float:left;
                                margin:  0 0 5%;
                            }
                            &.txt{
                                width: 100%;
                                margin:  0;
                            }
                        }
                    }
                }
            }
        }
    }

    #main{
        width: 100% !important;
        #delivery{
            width: 94% !important;
            padding: 3% !important;
            background: none !important;
            .image{
                padding: 4%;
                background-color: #fbe7c2;
                img{
                    margin: 10px 0;
                    width: 100%;
                }
            }
            #column{
                padding: 15px;
                width: 91%;
            }
            .doc{
                width: 100%;
                margin: 0 0 10px;
                .messagecard{
                    display: block;
                    width: 100%;
                    margin: 0 0 20px;
                }
            }
        }
        &.message{
            display: block;
            a{
                background-color: #900;
                color: #fff;
                padding: 6px;
                width: 96%;
                margin: 0 auto;
                display: block;
                text-decoration: none;
                text-align: center;
            }
        }
    }
    .spHeader{
        display: block;
    }
    .pcHeader{
        display: none;
    }
    .listTitle{
        display: block;
        font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        padding: 14px;
        margin: 20px 0 0;
        span{
            font-size: 12px;
            display: block;
            margin: 0 0 6px;
        }
        &.admiss{
            background-color: #fff;
            color: #cd3c3c;
            border-left: 4px solid #cd3c3c;
            border-right: 4px solid #cd3c3c;
            border-bottom: 1px solid #cd3c3c;
            border-top: 1px solid #cd3c3c;
        }
        &.firstpay{
            background-color: #fff;
            color: #3c51cd;
            border-top: 1px solid #3c51cd;
            border-bottom: 1px solid #3c51cd;
            border-left: 4px solid #3c51cd;
            border-right: 4px solid #3c51cd;
        }
    }
    .titlebar{
        display: none;
    }
    /*------item------*/
    .item {
        width: 94%;
        margin-left: 0;
        padding: 3%;
        overflow: hidden;
        height: auto;
    }
    /*------item2------*/
    .item2 {
        float: left;
        width: 94%;
        height: 850px;
        margin-left: 0;
        padding: 3%;
        a{
            img{
                width: 100%
            }   
        }
    }
    /*------item2--fin------*/
    /*------slide-gallery------*/
    #slideshow li,
    #slideshow2 li,
    #slideshow3 li,
    #slideshow4 li {
        transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        border: none;
    }
    #slideshow,
    #slideshow2,
    #slideshow3,
    #slideshow4 {
        float: left;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    #slideshow div,
    #slideshow2 div,
    #slideshow3 div,
    #slideshow4 div {
        width: 100%;
        height: 395px;
        overflow: hidden;
        position: relative;
    }
    #slideshow div div,
    #slideshow2 div div,
    #slideshow3 div div,
    #slideshow4 div div {
        top: 0;
        left: 0;
        position: absolute;
    }
    #slideshow ul,
    #slideshow2 ul,
    #slideshow3 ul,
    #slideshow4 ul {
        width: 100%;
        height: auto;
        margin: 2px 0 0 0;
    }
    #slideshow ul li,
    #slideshow2 ul li,
    #slideshow3 ul li,
    #slideshow4 ul li {
        width: 13.7%;
        margin: 0 .5% 0 0;
        padding: 0;
        float: left;
        display: block;
        img{
            width: 100%;
        }
    }
    #slideshow ul li:hover,
    #slideshow2 ul li:hover,
    #slideshow3 ul li:hover,
    #slideshow4 ul li:hover {
        border-bottom: #900 solid 2px;
    }
    #slideshow .active,
    #slideshow2 .active,
    #slideshow3 .active,
    #slideshow4 .active {
        filter: alpha(opacity=100)!important;
        -moz-opacity: 1!important;
        opacity: 1!important;
    }
    /* =======================================
    ClearFixElements
======================================= */
#slideshow ul:after {
    content: ".";
    height: 0;
    clear: both;
    display: block;
    visibility: hidden;
}
#slideshow ul {
    display: inline-block;
    overflow: hidden;
}
.cf:after {
    content: ".";
    height: 0;
    clear: both;
    display: block;
    visibility: hidden;
}
.cf {
    display: inline-block;
    overflow: hidden;
    margin: 0;
    width: 100%;
}
    /*------slide-gallery--fin------*/
    /*------sp_800--prop------*/
    #sp_800 {
        width: 100%;
        height: 100%;
        padding: 0px;
        background-color: #FFF;
    }
    /*documents-property*/
    ul li .price {
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 12px;
    }
    /*documents-property--fin*/
    /*------items_property------*/
    .item2 .items {
        width: 100%;
        height: auto;
        padding: 0px;
        margin: 0;
    }
    .items {
        float: left;
        width: 94%;
        padding: 3% 3% 0;
        overflow: hidden;
    }
    .items h2 {
        font-size: 14px;
        font-weight: bold;
        line-height: 140%;
    }
    .items span {
        color: #666;
    }
    .items span.rank {
        color: #000;
        font-size: 24px;
    }
    .items hr,
    .itemlst hr,
    .itemlst_5 hr,
    .itemlst_3 hr {
        width: 95%;
        border: none;
        border-bottom: dotted #ccc 1px;
        text-align: left;
    }
    .items p {
        clear: both;
        line-height: 160%;
        span{
            display: none;
        }
    }
    .items table {
        font-family: "ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", Osaka-mono, monospace;
        width: 60%;
        border: 1px solid #ccc;
        text-align: center;
        margin: 20px 0;
        font-size: 11px;
    }
    .items table td {
        padding: 4px 6px;
        border-bottom: #999 dotted 1px;
    }
    .items table tr td:first-child {
        background-color: #ddd;
        width: 30%;
        border-right: dotted #999 1px;
    }
    .item2 .items span.link,
    .itemlst span.link,
    .itemlst_5 span.link,
    .itemlst_3 span.link {
        text-align: center;
        span{
            display: none;
        }
    }
    .items span.link a,
    .itemlst span.link a,
    .itemlst_5 span.link a,
    .itemlst_3 span.link a {
        display: block;
        width: 94%;
        font-size: 10px;
        color: #FFF;
        background-color: #900;
        text-decoration: none;
        font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
        font-weight: bold;
        padding: 6px 3%;
    }
    .item2 .items p.link,
    .itemlst p.link,
    .itemlst_5 p.link,
    .itemlst_3 p.link {
        text-align: right;
        span{
            display: none;
        }
    }
    .items p.link a,
    .itemlst p.link a,
    .itemlst_5 p.link a,
    .itemlst_3 p.link a {
        display: block;
        width: 100%;
        font-size: 14px;
        text-align: center;
        color: #FFF;
        background-color: #900;
        text-decoration: none;
        font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
        font-weight: bold;
        padding: 6px 3px;
    }
    .gw span.link a,.gw p.link a {
        font-size: 14px;
        color: #8eaeff;
        background-color: #ffe400;
        text-decoration: none;
        font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
        font-weight: bold;
        padding: 6px 3px;
    }
    /*------item--property--fin------*/
    /*------review--property------*/
    .reviews {
        clear: both;
        margin: 10px 0 50px;
        width: 93.5%;
        height: auto;
        padding: 3%;
        background: url(https://den-tou.com/img/category/review_bglp.jpg);
        line-height: 140%;
        border: #92724d dotted 1px;
    }
    .reviews h3 {
        font-weight: bold;
        color: #666;
        font-size: 14px;
        float: left;
    }
    .reviews span {
        color: #f00;
        font-weight: bold;
    }
    .reviews p.vote {
        color: #d6b641;
        text-align: right;
        font-size: 14px;
        font-weight: bold;
    }
    .reviews p.vote img {
        position: relative;
        top: 2px;
    }
    /*------review--property--fin------*/
    /*------itemlst--property------*/
    .itemlst ul,
    .itemlst_5 ul,
    .itemlst_3 ul {
        width: 94%;
        height: auto;
        margin: 0 auto;
        padding: 3%;
        list-style-type: none;
    }
    .itemlst ul li {
        float: left;
        width: 45%;
        height: auto;
        border: #ccc 1px solid;
        padding: 2%;
        margin: 3px 0 3px 0px;
        img{
            width: 100%;
        }
    }
    .itemlst ul li:hover,
    .itemlst_5 ul li:hover,
    .itemlst_3 ul li:hover {
        background-color: #efefef;
    }
    #sp_mother .itemlst ul li:hover,
    #sp_mother .itemlst_3 ul li:hover {
        background-color: #ffe5e5;
    }
    #sp_father .itemlst ul li:hover,
    #sp_father .itemlst_3 ul li:hover {
        background-color: #fffedd;
    }
    .itemlst h2,
    .itemlst_5 h2,
    .itemlst_3 h2 {
        font-size: 12px;
        font-weight: bold;
        line-height: 140%;
    }
    .itemlst p,
    .itemlst_5 p,
    .itemlst_3 p {
        line-height: 150%;
        font-size: 12px;
    }
    #sp_mother .itemlst p,
    .itemlst_5 p,
    .itemlst_3 p {
        line-height: 150%;
        font-size: 12px;
    }
    .itemlst span,
    .itemlst_5 span,
    .itemlst_3 span {
        color: #666;
        font-size: 10px;
    }
    /*------itemlst--property--fin------*/
    /*------itemlst_5--property------*/
    .itemlst_5 ul li {
        float: left;
        width: 129px;
        height: auto;
        border: #ccc 1px solid;
        padding: 10px;
        margin: 3px;
    }
    /*------itemlst--property--fin------*/
    /*------itemlst_3--property------*/
    .itemlst_3 ul li {
        float: left;
        width: 233px;
        height: auto;
        border: #ccc 1px solid;
        padding: 10px;
        margin: 4px 4px 4px 4px;
    }
    #sp_father .itemlst_3 ul li {
        float: left;
        width: 134px;
        height: auto;
        border: #ccc 1px solid;
        padding: 10px;
        margin: 1px;
    }
    #sp_father #sp ul li {
        float: left;
        width: 233px;
        height: auto;
        border: #ccc 1px solid;
        padding: 10px;
        margin: 4px 4px 4px 4px;
    }
    /*------itemlst--property--fin------*/
    /*------doc--------*/
    .txt {
        line-height: normal;
        font-size: 16px;
        border: 1px solid #CCC;
        padding: 15px;
        width: auto;
        margin: 0 10px 20px;
    }
    .txt span {
        font-weight: bold;
        color: #f00;
    }
    /*------doc--fin------*/
    /*------sp------*/
    .sp_catch {
        background: url(https://den-tou.com/img/iroiro/sp_bg.gif);
        width: auto;
        height: 40px;
        margin-bottom: 20px;
        padding: 6px 8px 8px;
        font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    }
    .sp_catch span {
        color: #FFF;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.4em;
    }
    #fg {
        background: url(https://den-tou.com/img/iroiro/sp_bg02.gif);
    }
    span.cap {
        color: #f00;
        float: right;
        font-size: 8px;
    }
    .tag {
        float: left;
        margin: 20px 0 0 20px;
    }
    .tag_lst {
        margin: 0px;
        position: relative;
        top: -5px;
        float: right;
        display: none;
    }
    li.name_ch {
        position: relative;
    }
    li.name_ch img.name_ch_img {
        position: absolute;
        left: 200px;
        top: -10px;
        width: 65px;
        height: 65px;
    }
    li.limit {
        position: relative;
    }
    /*------sp------*/
    img.img_pos {
        margin: 0 10px;
    }
}
