@import "ipStyle-header.scss";
@import "ipStyle-footer.scss";
@import "ipStyle-leftnav.scss";
body {
    /*トップページ感謝祭*/
a.thxbnr {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    display: block;
    img{
        width:100%;
    }
}
/*トップページ感謝祭*/
    background-color: $bcw;
    .ipColumnspace,
    .ipNewsspace {
        margin-bottom: 40px;
        b {
            font-weight: normal;
            font-size: 18px;
            padding: 12px 0;
            display: block;
            margin: 0;
        }
        ul {
            overflow: hidden;
            li {
                border: 1px solid $mc;
                background-color: #fff;
                width: 30%;
                padding: 1%;
                margin: 0 0 2% 1.5%;
                float: left;
                a {
                    text-decoration: none;
                    color: #000;
                }
                img {
                    width: 100%;
                }
                &:first-child {
                    width: 30%;
                    margin: 0 0 2% 0;
                }
                &:nth-child(3n+1) {
                    width: 30%;
                    margin: 0 0 2% 0;
                }
                p {
                    clear: both;
                    font-size: 13px;
                    margin: 5px 0 0;
                }
                hr {
                    margin: 10px 0;
                }
                .tag01 {
                    color: #fff;
                    background-color: $mc;
                    font-size: 10px;
                    font-weight: bold;
                    padding: 4px 6px;
                    display: block;
                    clear: both;
                    float: left;
                }
                .date {
                    color: #999;
                    border: 1px solid #dfdfdf;
                    background-color: #fff;
                    font-size: 10px;
                    font-weight: bold;
                    padding: 4px 6px;
                    margin: 6px auto;
                    display: block;
                    clear: both;
                    float: left;
                }
            }
        }
    }
    .ipMediaspace {
        margin-bottom: 40px;
        b {
            font-weight: normal;
            font-size: 18px;
            padding: 12px 0;
            display: block;
            margin: 0;
        }
        ul {
            overflow: hidden;
            li {
                width: 15%;
                margin: 0 0 2% 2%;
                float: left;
                img {
                    height: 170px;
                    display: block;
                    margin: 0 0 4px;
                }
                &:first-child {
                    margin: 0 0 2% 0;
                }
                p {
                    font-size: 11px;
                }
            }
        }
    }
    .ipCampaignspace {
        margin-bottom: 40px;
        b {
            font-weight: normal;
            font-size: 18px;
            padding: 12px 0;
            display: block;
            margin: 0;
        }
        ul {
            overflow: hidden;
            li {
                width: 32.333%;
                margin: 0 0 2% 1.5%;
                float: left;
                img {
                    width: 100%;
                }
                &:first-child {
                    width: 32.333%;
                    margin: 0 0 2% 0;
                }
                &:nth-child(3n+1) {
                    width: 32.333%;
                    margin: 0 0 2% 0;
                }
            }
        }
    }
    .mainContents {
        width: 1100px;
        margin: 0 auto;
        .mainArea01 {
            width: 840px;
            float: left;
            .Events {
                span {
                    font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                    font-weight: normal;
                    display: block;
                    font-size: 24px;
                }
                hr {
                    border: none;
                    border-bottom: 1px dotted #dfdfdf;
                    display: block;
                    width: 100%;
                    padding: 0;
                    margin: 0 0 15px;
                }
                ul {
                    width: 100%;
                    overflow: hidden;
                    li {
                        width: 270px;
                        float: left;
                        margin: 0 0 15px 15px;
                        a {
                            position: relative;
                            display: block;
                            img {
                                @include anm(0.2s);
                                width: 100%;
                                display: block;
                                &.hv {
                                    opacity: 0;
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    /* filter: progid: DXImageTransform.Microsoft.Alpha(opacity=0); */
                                }
                            }
                            &:hover {
                                img {
                                    width: 100%;
                                    &.hv {
                                        opacity: 1;
                                        /* filter: progid: DXImageTransform.Microsoft.Alpha(opacity=100); */
                                    }
                                }
                            }
                        }
                        &:first-child,
                        &:nth-child(3n+1) {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
    /* overwrite */
    .ipHeader,
    .ipHeader_dm {
        margin: 0 0 11px;
    }
    /* slide */
    #slider {
        width: 100%;
        height: auto;
        clear: both;
        margin: 0;
        text-align: center;
        .header_slider {
            width: 1110px;
            margin: 0 auto 30px;
            height: 280px;
            display: block;
        }
        /* 休業案内バナー */
        div.holidaybnr {
            /*background: url('https://den-tou.com/img/bnr_emergency.jpg') no-repeat;*/
            /*楽天スーパーセール*/
            background: url('https://den-tou.com/img/bnr_emergency.jpg') no-repeat;
            /* 父の日 */
            width: 990px;
            height: 155px;
            background-size: 100%;
            clear: both;
            margin: 0 auto 20px;
            display: block;
        }
        .linkbnr {
            a {
                display: block;
                width: 100%;
                height: 100%;
            }
            &.wide {
                background: transparent url("https://den-tou.com/img/bnr_emergency.jpg") left top no-repeat;
                background-size: cover;
                width: 990px;
                height: 301px;
                margin: 20px auto;
                display: none;
            }
        }
    }
    .wideslider {
        padding-bottom: 150px;
        width: 100%;
        text-align: left;
        position: relative;
        margin: 0;
        bottom: 10px;
        overflow: hidden;
        ul,
        ul li {
            float: left;
            display: inline;
            overflow: hidden;
            outline: 2px solid #fff;
        }
        ul li img {
            width: 100%;
            display: none;
        }
    }
    .wideslider_base {
        top: 0;
        position: absolute;
    }
    .wideslider_wrap {
        top: 0;
        position: absolute;
        overflow: hidden;
    }
    .slider_prev,
    .slider_next {
        bottom: 0;
        overflow: hidden;
        position: absolute;
        z-index: 100;
        cursor: pointer;
    }
    .slider_prev {
        background: #fff url('../img/gallery_prebtn.png') no-repeat right center;
    }
    .slider_next {
        background: #fff url('../img/gallery_nextbtn.png') no-repeat -10px center;
    }
    .pagination {
        bottom: 0;
        left: 0;
        width: 1100px;
        height: 110px;
        text-align: center;
        /* position: absolute; */
        z-index: 200;
        margin: 280px auto 0;
        a {
            margin: 0;
            width: 220px;
            height: 52px;
            border: 3px solid $bc;
            display: inline-block;
            overflow: hidden;
            &.pn1 {
                background: transparent url('https://den-tou.com/img/header/sp-newl_header.jpg') no-repeat left top;
                background-size: 220px;
            }
            &.pn2 {
                background: transparent url('https://den-tou.com/img/header/sp-retire_header.jpg') no-repeat left top;
                background-size: 220px;
            }
            &.pn3 {
                background: transparent url('https://den-tou.com/img/header/top_slidebnr_tango.jpg') no-repeat left top;
                background-size: 220px;
            }
            &.pn4 {
                background: transparent url('https://den-tou.com/img/header/top_slidebnr_company.jpg') no-repeat left top;
                background-size: 220px;
            }
            &.pn5 {
                background: transparent url('https://den-tou.com/img/header/top_slidebnr_salary_wide.jpg') no-repeat left top;
                background-size: 220px;
            }
            &.pn6 {
                background: transparent url('https://den-tou.com/img/header/top_slidebnr_k1-106_02.jpg') no-repeat left top;
                background-size: 220px;
            }
            &.pn7 {
                background: transparent url('https://den-tou.com/img/header/top_slidebnr_beer_02.jpg') no-repeat left top;
                background-size: 220px;
            }
            &.pn8 {
                background: transparent url('https://den-tou.com/img/header/top_slidebnr_ic_02.jpg') no-repeat left top;
                background-size: 220px;
            }
            &.active {
                filter: alpha(opacity=100)!important;
                -moz-opacity: 1!important;
                opacity: 1!important;
            }
        }
    }
    .wideslider ul {
        display: inline-block;
        overflow: hidden;
        &:after {
            content: ".";
            height: 0;
            clear: both;
            display: block;
            visibility: hidden;
        }
    }
    #wrapper {
        margin: 0 auto;
        padding: 0 40px;
        text-align: left;
        p {
            padding: 0 0 20px 0;
            font-size: 100%;
            line-height: 180%;
        }
    }
    /* end slide */
    .mainHeader,
    .mainFooter {
        display: none;
    }
    /* wrapContents */
    .recomm {
        width: 800px;
        margin: 0 auto;
        font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
        i {
            display: block;
            margin: 0 auto 0;
            @include fsize(14,
            2);
            font-style: normal;
        }
        hr.checkLine {
            margin: 0;
            border: none;
            border-bottom: 1px solid $lc;
        }
        h1 {
            display: block;
            font-weight: normal;
            margin: 0 auto;
            padding: 20px 0 0;
            text-align: center;
            @include fsize(28,
            1.5);
            font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
        }
        .jcarousel-skin-ie7,
        .jcarousel-skin-ie8 {
            width: 920px;
            margin: 0 auto;
            a:link {
                text-decoration: none;
                color: #000;
                &:hover {
                    text-decoration: underline;
                    color: #900;
                }
                &:visited {
                    text-decoration: none;
                    color: #000;
                }
            }
            img {
                border: 0;
                width: 80px;
            }
            .txt01 {
                text-align: left;
                text-decoration: none;
                @include fsize(10,
                1.1);
                padding: 0;
                margin: 4px 0 0;
                width: 80px;
                height: 1.4rem;
                height: 23px;
                overflow: hidden;
            }
            .txt02 {
                text-align: center;
                text-decoration: none;
                font-size: 16px;
                padding: 38px 7px;
            }
            .jcarousel-container {
                // border: 1px solid $lc;
            }
            .jcarousel-direction-rtl {
                direction: rtl;
            }
            .jcarousel-container-horizontal {
                height: 140px;
                padding: 0px 0px;
            }
            .jcarousel-clip {
                overflow: hidden;
                padding: 6px 10px;
            }
            .jcarousel-clip-horizontal {
                width: 820px;
                height: auto;
                padding: 10px 40px;
            }
            .jcarousel-item {
                width: 100px;
                height: 130px;
                border-right: 1px dashed #F5F5F5;
            }
            .jcarousel-item:hover,
            .jcarousel-item:focus {
                border-color: #F5F5F5;
            }
            .jcarousel-item-horizontal {
                margin-top: 10px;
                margin-left: 0;
                margin-right: 1px;
            }
            .jcarousel-direction-rtl .jcarousel-item-horizontal {
                margin-left: 7px;
                margin-right: 0;
            }
            .jcarousel-next-horizontal {
                position: absolute;
                top: 60px;
                right: -34px;
                width: 24px;
                height: 155px;
                cursor: pointer;
                background: transparent url('../img/ftr_arrow_right.png') no-repeat 0 0;
            }
            .jcarousel-direction-rtl .jcarousel-next-horizontal {
                left: 0px;
                right: auto;
            }
            .jcarousel-next-horizontal:hover,
            .jcarousel-next-horizontal:focus {
                background-position: 0px 0;
            }
            .jcarousel-next-horizontal:active {
                background-position: 0px 0;
            }
            .jcarousel-next-disabled-horizontal,
            .jcarousel-next-disabled-horizontal:hover,
            .jcarousel-next-disabled-horizontal:focus,
            .jcarousel-next-disabled-horizontal:active {
                cursor: default;
                background-position: 0px 0;
            }
            .jcarousel-prev-horizontal {
                position: absolute;
                top: 60px;
                left: -25px;
                width: 20px;
                height: 155px;
                cursor: pointer;
                background: transparent url('../img/ftr_arrow_left.png') no-repeat 0 0;
            }
            .jcarousel-direction-rtl .jcarousel-prev-horizontal {
                left: auto;
                right: 0px;
            }
            .jcarousel-prev-horizontal:hover,
            .jcarousel-prev-horizontal:focus {
                background-position: 0px 0;
            }
            .jcarousel-prev-horizontal:active {
                background-position: 0px 0;
            }
            .jcarousel-prev-disabled-horizontal,
            .jcarousel-prev-disabled-horizontal:hover,
            .jcarousel-prev-disabled-horizontal:focus,
            .jcarousel-prev-disabled-horizontal:active {
                cursor: default;
                background-position: 0px 0;
            }
            .jcarousel-item-placeholder {}
        } //タブ切り替え
        .main {
            padding: 0 0 40px;
            #slideshow {
                margin: 0px auto 0px;
            }
        }
        p.catch {
            display: block;
            width: 350px;
            font-size: 220%;
            line-height: 130%;
            text-align: center;
            margin: 0 auto 20px;
            font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
            border-top: 1px dashed $lc;
            border-bottom: 1px dashed $lc;
            padding: 10px 0 5px;
            span {
                font-size: 50%;
            }
        }
        ul.tabbernav {
            text-indent: 0;
            width: 800px;
            margin: 0 auto;
            padding: 0;
            font: normal 12px Verdana, sans-serif;
            li {
                list-style: none;
                margin: 0;
                display: inline;
                position: relative;
                a {
                    font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
                    position: relative;
                    top: 1px;
                    display: block;
                    float: left;
                    width: 92px;
                    padding: 6px 0;
                    margin-left: 5px;
                    border: 1px solid $lc;
                    border-bottom: none;
                    background: $bc;
                    text-decoration: none;
                    text-align: center;
                    font-size: 110%;
                    -webkit-border-radius: 2px 2px 0 0;
                    border-radius: 2px 2px 0 0;
                    &:link {
                        color: $tc;
                    }
                    &:visited {
                        color: $tc;
                    }
                    &:hover {
                        color: $mc;
                        background: #fff;
                        -webkit-box-shadow: none;
                        box-shadow: none;
                    }
                }
            }
            li:nth-child(odd) {
                a {
                    background: $bc;
                    &:hover {
                        color: $mc;
                        background: #fff;
                        -webkit-box-shadow: none;
                        box-shadow: none;
                    }
                }
            }
            li.tabberactive a {
                color: $mc;
                background-color: #fff;
                border-bottom: 1px solid #fff;
                -webkit-box-shadow: none;
                box-shadow: none;
                &:hover {
                    color: $mc;
                    background: white;
                    border-bottom: 1px solid white;
                }
            }
        }
        .tabbertabhide {
            display: none;
        }
        .tabbertab {
            h2 {
                display: none;
            }
            div {
                font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
                width: 760px;
                height: 340px;
                border: 1px solid $lc;
                padding: 10px 20px 0;
                margin: 0 auto;
                background-color: #fff;
                clear: both;
                ul {
                    text-indent: 0;
                    overflow: hidden;
                    margin: 0;
                    li {
                        overflow: hidden;
                        width: 233px;
                        margin-left: 30px;
                        float: left;
                        display: block;
                        font-size: 90%;
                        a {
                            text-decoration: none;
                            color: #000;
                            &:hover {
                                color: $lc;
                                letter-spacing: 0em;
                            }
                        }
                        p:first-child {
                            text-align: center;
                            img {
                                width: 29px;
                                height: 23px;
                            }
                        }
                        p {
                            line-height: 140%;
                            span {
                                font-size: 70%;
                            }
                        }
                        img {
                            width: 100%;
                            margin: 5px 0;
                        }
                    }
                    li:first-child {
                        margin-left: 0;
                    }
                }
                p.links {
                    font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
                    @include fsize(16,
                    1.4);
                    display: block;
                    margin: 25px auto 0;
                    clear: both;
                    text-align: center;
                    width: 360px;
                    height: 30px;
                    a {
                        border: 1px solid $lc;
                        -webkit-border-radius: 2px;
                        -moz-border-radius: 2px;
                        border-radius: 2px;
                        height: 30px;
                        padding: 10px 16px 0;
                        display: block;
                        color: $tc;
                        text-decoration: none;
                        &:hover {
                            color: $mc;
                            border: 1px dashed $mc;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    body {
        .ipHeader_dm,
        .ipHeader,
        .mainLeftnav,
        .ipFooter,
        .ipMediaspace {
            display: none;
        }
        hr {
            display: none;
        }
        #slider {
            height: 90px;
        }
        .mainHeader,
        .mainFooter {
            display: block;
            .selectForm {
                margin: 0 0 20px;
            }
        }
        .mainContents {
            width: 100%;
            .mainArea01 {
                width: 100%;
                .Events {
                    span {
                        font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                        font-weight: normal;
                        display: block;
                        font-size: 24px;
                    }
                    hr {
                        border: none;
                        border-bottom: 1px dotted #dfdfdf;
                        display: block;
                        width: 100%;
                        padding: 0;
                        margin: 0 0 15px;
                    }
                    ul {
                        width: 100%;
                        li {
                            width: 48%;
                            padding: 1%;
                            float: left;
                            margin: 0 0 0 1%;
                            a {
                                position: relative;
                                display: block;
                                img {
                                    @include anm(0.2s);
                                    width: 100%;
                                    display: block;
                                    &.hv {
                                        opacity: 0;
                                        position: absolute;
                                        left: 0;
                                        top: 0;
                                        /* filter: progid: DXImageTransform.Microsoft.Alpha(opacity=0); */
                                    }
                                }
                                &:hover {
                                    img {
                                        width: 100%;
                                        &.hv {
                                            opacity: 1;
                                            /* filter: progid: DXImageTransform.Microsoft.Alpha(opacity=100); */
                                        }
                                    }
                                }
                            }
                            &:first-child,
                            &:nth-child(3n+1) {
                                margin: 0 0 0 1%;
                            }
                        }
                    }
                }
            }
        }
        .ipCampaignspace {
            b {
                font-weight: normal;
                font-size: 18px;
                padding: 12px 0;
                display: block;
                margin: 0;
            }
            ul {
                overflow: hidden;
                padding: 1%;
                li {
                    width: 50%;
                    padding: 0 1%;
                    margin: 0 0 2%;
                    float: left;
                    img {
                        width: 100%;
                        margin: 0 auto;
                        display: block;
                    }
                    &:first-child {
                        width: 50%;
                        margin: 0 0 2%;
                    }
                    &:nth-child(3n+1) {
                        width: 50%;
                        margin: 0;
                    }
                }
            }
        }
        .ipNewsspace {
            margin-bottom: 40px;
            b {
                font-weight: normal;
                font-size: 18px;
                padding: 12px 0;
                display: block;
                margin: 0;
            }
            ul {
                overflow: hidden;
                li {
                    border: 1px solid $mc;
                    background-color: #fff;
                    width: 100%;
                    padding: 1%;
                    margin: 0 0 2% 1.5%;
                    float: left;
                    a {
                        text-decoration: none;
                        color: #000;
                    }
                    img {
                        width: 40%;
                        margin: 1% 2%;
                        float: left;
                    }
                    &:first-child {
                        width: 100%;
                        margin: 0 0 2% 0;
                    }
                    &:nth-child(3n+1) {
                        width: 100%;
                        margin: 0 0 2% 0;
                    }
                    p {
                        clear: none;
                        display: inline-block;
                        font-size: 13px;
                        margin: 5px 0 0;
                    }
                    hr {
                        margin: 10px 0;
                    }
                    .tag01 {
                        color: #fff;
                        background-color: $mc;
                        font-size: 10px;
                        font-weight: bold;
                        padding: 4px 6px;
                        display: block;
                        clear: both;
                        float: left;
                    }
                    .date {
                        color: #999;
                        border: 1px solid #dfdfdf;
                        background-color: #fff;
                        font-size: 10px;
                        font-weight: bold;
                        padding: 4px 6px;
                        margin: 6px auto;
                        display: block;
                        clear: none;
                        float: left;
                    }
                }
            }
        }
        .pagination {
            bottom: -95px;
            left: 0;
            a {
                margin: 0 2px;
                width: 58px;
                height: 40px;
                border: 2px solid $bc;
                &.pn1 {
                    background-size: 58px;
                }
                &.pn2 {
                    background-size: 58px;
                }
                &.pn3 {
                    background-size: 58px;
                }
                &.pn4 {
                    background-size: 58px;
                }
                &.pn5 {
                    background-size: 58px;
                }
                &.pn6 {
                    background-size: 58px;
                }
                &.active {
                    filter: alpha(opacity=100)!important;
                    -moz-opacity: 1!important;
                    opacity: 1!important;
                }
            }
        }
        .calender {
            margin: 30px 0 0;
            width: 100%;
            clear: both;
            overflow: hidden;
            &.mainCal {
                width: 100%;
                padding: 0 2%;
                margin: 0 0 30px;
                p {
                    text-align: left;
                    &.careful {
                        margin: 0;
                    }
                }
            }
        }
        .copy {
            width: 100%;
            clear: both;
            display: block;
            margin: 10px auto;
            font-size: 10px;
            line-height: 1.5;
            text-align: center;
        }
        .recomm {
            @include sizing(100%);
            ul.tabbernav {
                text-indent: 0;
                width: 100%;
                li {
                    a {
                        width: 48%;
                        height: 35px;
                        overflow: hidden;
                        @include rad(0,
                        0,
                        0,
                        0);
                    }
                }
            }
            .tabbertab {
                div {
                    height: auto;
                    padding: 10px 20px 30px;
                    @include sizing(100%);
                    ul {
                        li {
                            width: 47%;
                            margin: 0;
                            &:first-child {
                                width: 100%;
                            }
                            &:last-child {
                                margin: 0 0 0 6%;
                            }
                        }
                    }
                    p.links {
                        width: 100%;
                        a {
                            padding: 10px 16px 28px;
                        }
                    }
                }
            }
        }
    }
}