@import "ipStyle-default.scss";

.ipLeftnav,.mainLeftnav{
    width: 200px;
    margin: 0 60px 0 0;
    float: left;
    font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;


    .ifCal{
        overflow: hidden;
        border: none;
    }

    .serviceBnr{
        p{
            background-color: $tc;
            color: #fff;
            text-align: center;
            line-height: 2.0;
            font-size: 14px;
            font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
            font-weight: bold;
            margin: 0 0 15px;
        }
        ul{
            overflow: hidden;
            li{
                margin: 0 0 20px;
                img{
                    display: block;
                    width: 100%;
                }
            }
        }
    }
    .Group{
        overflow: hidden;
        clear: both;
        margin: 0 0 30px;
        span{
            float: left;
            display: block;
            font-size: 24px;
            a{
                color: #000;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        .menuInfographic{
            display: block;
            float: right;
        }
        hr{
            clear: both;
            width: 100%;
            display: block;
            text-align: left;
            border: none;
            padding: 0;
            margin: 5px 0;
            border-bottom: 1px solid #dfdfdf;
        }
    }
    .mGroup{
        width: 100%;
        float: left;
        font-size: 14px;
        margin: 0 0 40px;
        line-height: 2.5;
        span{
            clear: both;
            float: left;
            font-size: 16px;
            font-weight: bold;
            display: block;
        }
        ul{
            overflow: hidden;
            &.iconCelebrate{
                li{
                    width: 47%;
                    padding: 5% 1% 8%;
                    a{
                        height: 48px;
                    }
                }
            }
            li{
                float: left;
                width: 47%;
                padding: 1%;
                border-right: 1px solid #dfdfdf;
                border-bottom: 1px solid #dfdfdf;
                a{
                    display: block;
                    font-size: 13px;
                    color: #000;
                    margin: 0 auto;
                    text-align: center;
                    text-decoration: none;
                    @include anm(0.2s);
                    &:hover{
                        text-decoration: underline;
                    }
                    &.left_married{
                        background: url('https://den-tou.com/img/leftIcon_married.png') left top no-repeat;
                        width: 55px;
                        &:hover{
                            background: url('https://den-tou.com/img/leftIcon_married_hv.png') left top no-repeat;
                        }
                    }
                    &.left_baby{
                        background: url('https://den-tou.com/img/leftIcon_baby.png') left top no-repeat;
                        width: 54px;
                        &:hover{
                            background: url('https://den-tou.com/img/leftIcon_baby_hv.png') left top no-repeat;
                        }
                    }
                    &.left_build{
                        background: url('https://den-tou.com/img/leftIcon_build.png') left top no-repeat;
                        width:55px;
                        &:hover{
                            background: url('https://den-tou.com/img/leftIcon_build_hv.png') left top no-repeat;
                        }
                    }
                    &.left_older{
                        background: url('https://den-tou.com/img/leftIcon_older.png') left top no-repeat;
                        width:55px;
                        &:hover{
                            background: url('https://den-tou.com/img/leftIcon_older_hv.png') left top no-repeat;
                        }
                    }
                    &.left_gift{
                        background: url('https://den-tou.com/img/leftIcon_gift.png') left top no-repeat;
                        width: 69px;
                        &:hover{
                            background: url('https://den-tou.com/img/leftIcon_gift_hv.png') left top no-repeat;
                        }
                    }
                    &.left_business{
                        background: url('https://den-tou.com/img/leftIcon_business.png') left top no-repeat;
                        width: 54px;
                        &:hover{
                            background: url('https://den-tou.com/img/leftIcon_business_hv.png') left top no-repeat;
                        }
                    }
                    &.left_retire{
                        background: url('https://den-tou.com/img/leftIcon_retire.png') left top no-repeat;
                        width: 55px;
                        &:hover{
                            background: url('https://den-tou.com/img/leftIcon_retire_hv.png') left top no-repeat;
                        }
                    }
                    &.left_birth{
                        background: url('https://den-tou.com/img/leftIcon_birth.png') left top no-repeat;
                        width: 53px;
                        &:hover{
                            background: url('https://den-tou.com/img/leftIcon_birth_hv.png') left top no-repeat;
                        }
                    }
                    &.left_gift{
                        background: url('https://den-tou.com/img/leftIcon_gift.png') left top no-repeat;
                        width: 55px;
                        &:hover{
                            background: url('https://den-tou.com/img/leftIcon_gift_hv.png') left top no-repeat;
                        }
                    }
                    &.left_celeb{
                        background: url('https://den-tou.com/img/leftIcon_celeb.png') left top no-repeat;
                        width: 69px;
                        &:hover{
                            background: url('https://den-tou.com/img/leftIcon_celeb_hv.png') left top no-repeat;
                        }
                    }
                    &.left_celeb_married{
                        background: url('https://den-tou.com/img/leftIcon_celeb_married.png') left top no-repeat;
                        width: 56px;
                        &:hover{
                            background: url('https://den-tou.com/img/leftIcon_celeb_married_hv.png') left top no-repeat;
                        }
                    }
                    &.left_celeb_baby{
                        background: url('https://den-tou.com/img/leftIcon_celeb_baby.png') left top no-repeat;
                        width: 55px;
                        &:hover{
                            background: url('https://den-tou.com/img/leftIcon_celeb_baby_hv.png') left top no-repeat;
                        }
                    }
                    &.left_celeb_build{
                        background: url('https://den-tou.com/img/leftIcon_celeb_build.png') left top no-repeat;
                        width: 56px;
                        &:hover{
                            background: url('https://den-tou.com/img/leftIcon_celeb_build_hv.png') left top no-repeat;
                        }
                    }
                }
                &:nth-child(2n){
                    border-right: none;
                }
            }
        }
    }
}
/* calender */
.calender{
    margin: 30px 0 0;
    width: 100%;
    clear: both;
    overflow: hidden;


    p{
        padding: 0;
        font-size: 12px;
        clear: both;
        text-align: center;
        .sat{
            margin: 0 10px 5px 0;
            display: block;
            float: left;
            background-color: $lc;
            width: 14px;
            height: 14px;
        }
        .sun{
            margin: 0 10px 5px 0;
            display: block;
            float: left;
            background-color: $ac;
            width: 14px;
            height: 14px;
        }
    }
    b{
        font-weight: normal;
        font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
        &.main{
            font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
            font-weight: normal;
            font-size: 18px;
            padding: 12px 0;
            display: block;
            margin: 0;
            
        }
    }
    hr{
        border: none;
        border-bottom: 1px solid $mc;
        margin: 0 0 10px;
        padding: 0;
    }

    .ifCal{
        padding: 0;
        margin: 0;
        display: block;
    }

    .cal_wrapper {
        display: block;
        float: right;
        margin: 0;
        width: 100%;
        position: relative;
        table.cal{
            padding: 0;
            width: 100%;
            @include marg(0,10,0,0);
            tr{
                th{
                    p {
                        float: left;
                        padding: 5px 0 0;
                        margin: 0;
                        color: #666;
                        @include fsize(10,1.5);
                    }
                    div.cal_ui {
                        float: right;
                        @include fsize(10,0);
                        input {

                            list-style: none;
                            margin: 0;
                            padding: 0;
                            background-color: #efefef;
                            border-style: none;
                            @include fsize(10,1);
                            margin: 0px 1px;
                            padding: 1px 5px;
                            color: $mc;
                        }
                    }
                }
                td{
                    border-top: solid 1px #EEE;
                    font-size: 10px;
                    text-align: center;
                    padding: 0;
                    div {
                        @include fsize(10,1.5);
                        text-align: center;
                        span {
                            display: none;
                            position: absolute;
                            top: 20px;
                            left: 10px;
                            font-size: 13px;
                            width: 130px;
                            @include rad(6,6,6,6);
                            border: solid 1px #EEE;
                            background-color: #FFF;
                            text-align: left;
                            padding: 5px;
                            z-index: 10;
                            color: #000;
                            font-weight: normal;
                            line-height: 1.5em;
                            box-shadow: 1px 1px 6px #ccc;
                        }
                        /* 以下曜日別指定 */
                        &.Holyday{
                            background-color: $ac;
                            &:hover{
                                background-color: $lc;
                            }
                        }
                        &.Sat,&.Sun{
                            background-color: $lc;
                        }
                        &.Business {
                            background-color: #fff;
                        }
                        &.Today {
                            font-weight: bolder;
                        }
                        &.Deli {
                            background-color: #EFE;
                        }
                        &.Birthday {
                            font-weight: bolder;
                            color: #090;
                            border-radius: 3px;
                        }
                        &.backward {
                            color: $mc;
                            font-weight: normal;
                            border-radius: 3px;
                        }
                        &.pointer {
                            cursor: pointer;
                            &:hover {
                                background-color: $mc;
                                color: $mc;
                            }
                        }
                        &.Business {
                            background-color: #fff;
                        }
                    }
                }
                &.headline td {
                    padding: 5px 0px;
                    color: #666;
                    background-color: #EEE;
                }
            }
        }
    }

    &.mainCal{
        width: 46%;
        padding: 0 2%;
        float: left;
        clear: right;
        margin: 0 0 30px;
        p{
            text-align: left;
            &.careful{
                margin: 115px 0 0;
            }
        }
        table.cal{
            tr{
                th{
                    p {
                        padding: 5px 0 6px;
                        @include fsize(14,1.5);
                        font-weight: bold;
                    }
                    div.cal_ui {
                        @include fsize(12,0);
                        input {
                            @include fsize(14,1);
                            padding: 4px 5px;
                        }
                    }
                }
                td{
                    border-top: solid 1px #EEE;
                    font-size: 13px;
                    text-align: center;
                    padding: 0;
                    div {
                        @include fsize(12,1.5);
                        padding: 5px 0;
                        text-align: center;
                        &.Holyday{
                            background-color: $ac;
                            &:hover{
                                background-color: $lc;
                            }
                        }
                        &.Sat,&.Sun{
                            background-color: $lc;
                        }
                        &.Business {
                            background-color: #fff;
                        }
                    }
                }
                &.headline td {
                    padding: 0;
                    color: #666;
                    background-color: #EEE;
                }
            }
        }
    }
}