@import "ipStyle-header.scss";
@import "ipStyle-footer.scss";
@import "ipStyle-leftnav.scss";


.ipMaincontents{
    .ipMainwrapcontents{
        border: none;
        border-bottom: 1px solid #ddd;
        padding: 0 0 30px;
        margin: 0 0 60px;
        width: 100%;
        img{
            display: block;
            width: 100%;
        }
        .ipMaintxt{
            @include sizing(100%);
            font-size: 12px;
            em{
                display: block;
                margin: 30px 0 0;
                font-size: 16px;
                line-height: 2.0;
            }
        }   
    }
    .ipSubcontents{
        b{
            font-weight: normal;
            font-size: 18px;
            padding: 12px 0;
            display: block;
            margin: 0;
            small{
                font-size: 11px;
                margin: 0 0 0 10px;
            }
        }
        ul{
            margin: 0 0 10px;
            li{
                float: left;
                width: 22%;
                margin: 0 0 3% 4%;
                img{
                    width: 100%;
                    display: block;
                    margin: 0 0 2px;
                }
                p{
                    font-size:11px;
                    line-height: 2.5;
                }
                &:nth-child(1),&:nth-child(4n+1){
                    margin: 0;
                }
            }
        }
    }
}

.ipInfo,.ipDelivery,.ipPayment{
    .ipCheck{
        ol{
            margin: 0 0 0 26px;
        }
    }
    table{
        tr{
            td{
                &:first-child{
                    width: 60px;
                }
            }
        }
    }
}


.ipGiftservice{
    margin-top: 10px;
    ul{
        li{
            a{
                div{
                    top: 5px;
                    &:after{
                        content: none;
                    }
                }
            }
        }
    }
}

.ipInfo,.ipDelivery,.ipPayment {
    float: left;
    border: none;
    border-collapse: collapse;
    font-size: 11px;
    tr{
        background-color: #fff;
        border: 1px dotted #ababab;
        border-right: none;
        border-left: none;
    }
    td{
        border: none;
        padding: 8px 12px;
        &:first-child{
            width: 50px;
        }
    }
    .head{
        background: none;
        td{
            border: none;
            padding: 14px 0;
        }
    }
    tr:nth-child(even) {
        background-color: #fff;
    }
    .ipTitle {
        font-size: 18px;
    }
}


.ipInfo{
    tr{
        &:nth-child(even){
            background-color: #efefef;
        }
    }
}


.ipDelivery,.ipPayment{
    width: 48%;
    margin: 0 0 30px;
}
.ipPayment{
    margin: 0 0 40px 3.5%;
}
.ipBrands{
    clear: both;
    width: 100%;
    margin: 40px 0 0;
    padding: 0 0 30px;
    b{
        font-weight: normal;
        font-size: 18px;
        padding: 12px 0;
        display: block;
        margin: 0;
    }
    .ipBrands_img{
        width: 30%;
        float: left;
        img{
            width: 100%;
        }
    }
    .ipBrands_txt{
        width: 66%;
        float: right;
        padding: 0 2%;
        margin: 0 0 20px;
        font-size: 12px;
        line-height: 2;
        em{
            font-weight: normal;
            font-size: 14px;
            margin: 0 0 10px;
            padding: 0;
            line-height: 1.0;
            display: block;
        }
        p{
            margin: 0 0 30px;
        }
        a{
            display: block;
            clear: both;
            font-size: 12px;
            color: $ac;
            text-align: center;
            padding: 10px 12px;
            @include rad(3,3,3,3);
            @include anm(0.2s);
            background-color: #fff;
            margin: 0 auto;
            width: 200px;
            text-decoration: none;
            border: 1px solid $mc;
            &:hover{
                background-color: $mc;
                color: #fff;
            }
        }
    }
}
hr{
    border: none;
    clear: both;
    display: block;
    padding: 0;
    border-bottom: 1px dotted #dfdfdf;
}
.gallerySpace{
    width: 100%;
    overflow: hidden;
    margin: 0 0 100px;
    .ipGallery{
        width: 63%;
        padding: 0 2% 0 0;
        float: left;
        img{
            width: 100%;
            display: block;
        }
    }
    .ipCart{
        background-color: #fff;
        padding: 1%;
        width: 32%;
        border: 1px solid $mc;
        float: left;
        a{
            display: block;
            color: #fff;
            text-decoration: none;
            width: 91%;
            float: left;
            clear: both;
            margin: 10px auto 0;
            padding: 6px 10px;
            text-align: center;
            font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
            font-size: 14px;
            @include anm(0.2s);

            &.sample_cart{
                background-color: $mc;
                border: 1px solid $mc;
            }
            &.sample_fav{
                background-color: $tc;
                border: 1px solid $tc;
            }
            &.sample_contact{
                color: #999;
                background-color: #fff;
                border: 1px solid #999;
                &:hover{
                    background-color: #efefef;
                    border: 1px solid #efefef;
                }
            }
            &:hover{
                background-color: #fff;
                border: 1px solid #dfdfdf;
                color: #000;
            }
        }
        em{
            font-size: 16px;
            font-weight: bold;
            display: block;
            margin: 0;
        }
        p{
            font-size: 13px;
            padding: 6px 0;
            border-bottom: 1px dotted #dfdfdf;
            span{
                display: block;
                color: #9f9f9f;
            }
        }
    }
}
.ipInfo{
    width: 49%;
    float: left;
    margin: 0 1% 0 0 ;
}
.ipTaggroup{
    width: 46%;
    float: left;
    margin: 0 0 2% 1%;
    border: 1px dotted #999;
    padding: 0 1% 1%;
    background-color: #fff;
    overflow: hidden;
    b{
        font-weight: normal;
        font-size: 14px;
        padding: 6px 0 10px;
        display: block;
        margin: 0;
    }
    ul{
        overflow: hidden;
        display: table;
        width: 100%;
        li{
            display: table-cel;
            float: left;
            margin: 0 0 6px;
            a{
                word-wrap: break-word;
                overflow: hidden;
                display: block;
                clear: both;
                text-decoration: none;
                font-size: 12px;
                color: $ac;
                text-align: center;
                padding: 6px 8px;
                @include rad(3,3,3,3);
                @include anm(0.2s);
                background-color: #fff;
                text-decoration: none;
                border: 1px solid $mc;
                img{
                    width: 100%;
                }
                &:visited,&:links{
                    color: #000;
                }
                &:hover{
                    background-color: $mc;
                    color: #fff;
                }
            }
            &.second{
                padding: 0 0.65% 0 1.33%;
            }
            &.third{
                padding: 0 1.33% 0 0.65%;
            }
        }
    }
}
.ipRecommends{
    margin: 0 0 60px;
    img{
        width: 100%;
        display: block;
        border: 1px solid $mc;
    }
    b{
        font-weight: normal;
        font-size: 18px;
        padding: 12px 0;
        display: block;
        margin: 0;
    }
    ul{
        overflow: hidden;
        width: 100%;
        li{
            width: 15.66%;
            float: left;
            font-size: 12px;
            margin: 0 0 0 1%;
            &:first-child{
                margin: 0;
            }
            a{
                text-decoration: none;
                img{
                    width: 100%;
                }
                &:visited,&:links{
                    color: #000;
                }
                &:hover{
                    text-decoration: underline;
                }
                p{
                    margin: 4px 0 0;
                }
            }
        }
    }
}
.ipColumnspace,.ipNewsspace{
    margin-bottom: 40px;
    b{
        font-weight: normal;
        font-size: 18px;
        padding: 12px 0;
        display: block;
        margin: 0;
    }
    ul{
        overflow: hidden;
        li{
            border: 1px solid $mc;
            background-color: #fff;
            width: 30%;
            padding: 1%;
            margin: 0 0 2% 1.5%;
            float: left;
            a{
                text-decoration: none;
                color: #000;
            }
            img{
                width: 100%;
            }
            &:first-child{
                width: 30%;
                margin: 0 0 2% 0;
            }
            &:nth-child(3n+1){
                width: 30%;
                margin: 0 0 2% 0;
            }
            p{
                clear: both;
                font-size: 13px;
                margin: 5px 0 0;
            }
            hr{
                margin: 10px 0;
            }
            .tag01{
                color: #fff;
                background-color: $mc;
                font-size: 10px;
                font-weight: bold;
                padding: 4px 6px;
                display: block;
                clear: both;
                float: left;
            }
            .date{
                color: #999;
                border: 1px solid #dfdfdf;
                background-color: #fff;
                font-size: 10px;
                font-weight: bold;
                padding: 4px 6px;
                margin: 6px auto;
                display: block;
                clear: both;
                float: left;
            }

        }
    }
}
.ipMediaspace{
    margin-bottom: 40px;
    b{
        font-weight: normal;
        font-size: 18px;
        padding: 12px 0;
        display: block;
        margin: 0;
    }
    ul{
        overflow: hidden;
        li{
            width: 15%;
            margin: 0 0 2% 2%;
            float: left;
            img{
                /* width: 100%; */
                height: 170px;
                display: block;
                margin: 0 0 4px;
            }
            &:first-child{
                margin: 0 0 2% 0;
            }
            p{
                font-size: 11px;
            }
        }
    }
}
.ipCampaignspace{
    margin-bottom: 40px;
    b{
        font-weight: normal;
        font-size: 18px;
        padding: 12px 0;
        display: block;
        margin: 0;
    }
    ul{
        overflow: hidden;
        li{
            width: 32.333%;
            margin: 0 0 2% 1.5%;
            float: left;
            img{
                width: 100%;
            }
            &:first-child{
                width: 32.333%;
                margin: 0 0 2% 0;
            }
            &:nth-child(3n+1){
                width: 32.333%;
                margin: 0 0 2% 0;
            }
        }
    }
}
.ipEventspace{
    margin-bottom: 40px;
    b{
        font-weight: normal;
        font-size: 18px;
        padding: 12px 0;
        display: block;
        margin: 0;
    }
    ul{
        overflow: hidden;
        li{
            width: 50%;
            float: left;
            img{
                width: 100%;
            }
            &:nth-child(odd){
                width: 49%;
                margin: 0 1% 2% 0;
            }
            &:nth-child(even){
                width: 49%;
                margin: 0 0 2% 1%;
            }
        }
    }
}
.ipReturncart{
    position: fixed;
    right: 10px;
    bottom: -90px;
    width: 60px;
    height: 60px;
    @include rad(30,30,30,30);
    background-color: $mc;

    display: block;
    word-wrap: break-word;
    overflow: hidden;
    display: block;
    clear: both;
    text-decoration: none;
    font-size: 13px;
    color: #000;
    text-align: center;
    font-weight: bold;
    margin: 0 auto 100px;
    padding: 20px 0 0;
    line-height: 1.5;
    @include anm(0.2s);
    background-color: #fff;
    text-decoration: none;
    border: 1px solid $mc;
    img{
        width: 100%;
    }
    &:visited,&:links{
        color: #000;
    }
    &:hover{
        background-color: $mc;
        color: #fff;
    }
}


body{
    /* default_style */
    section > .category{
        display: none;
    }



    /* background-color: #f5f5f4; */
    background-color: #fff;

    .ipContents{
        width: 900px;
        overflow: hidden;
        margin: 0 auto;
        &.nav{
            width: 200px;
            float: left;
        }
        &.main{
            width: 900px;
            float: right;
        }
    }
    .ipArea01,.mainArea01{
        float: left;
        width: 840px;
        margin: 0 auto;
    }
}


@media only screen and (max-width: 768px) {
    body{
        .ipLeftnav{
            /* display: none; */
        } 
        .ipContents{
            max-width: 748px;
            overflow: hidden;
            margin: 0 auto;
            padding: 10px 0;
        }
        .ipArea01{
            max-width: 748px;
            padding: 10px 0;
        }
        .ipMainContents{
            .ipMainwrapcontents{
                .ipMaintxt{
                    padding: 5%;
                }   
            }
            .ipSubcontents{
                ul{
                    li{
                        p{
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}




/* zoom.css */

img[data-action="zoom"] {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}
.zoom-img,
.zoom-img-wrap {
  position: relative;
  z-index: 666;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
img.zoom-img {
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
}
.zoom-overlay {
  z-index: 420;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  filter: "alpha(opacity=0)";
  opacity: 0;
  -webkit-transition:      opacity 300ms;
  -o-transition:      opacity 300ms;
  transition:      opacity 300ms;
}
.zoom-overlay-open .zoom-overlay {
  filter: "alpha(opacity=100)";
  opacity: 1;
}
.zoom-overlay-open,
.zoom-overlay-transitioning {
  cursor: default;
}




/* wide */


.defaultLayout{
    margin: 30px auto;
    padding: 60px 0;
    background-color: #fff;
    img{
        display: block;
        margin: 0 auto;
        text-align: center\9;
        vertical-align: bottom;
    }
    .right{
        text-align: right;
    }
    .left{
        text-align-last: left;
    }
    .cf{
        zoom:1;
        &:before, &:after{
            content:"";
            display: table;
        }
        &:after{
            clear: both;
        }
    }

    b{
        display: block;
        font-size: 19px;
        margin: 0 0 10px;
        padding: 0 0 10px;
        border-bottom: 1px solid #000;
        font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
        &.white{
            border-bottom: 1px solid #fff;
        }
    }


    .imgDouble,.imgTri,.imgCatch,.imgScene,.imgDetail,.imgDual,.imgCatchtxt,.imgPoints,.imgDeepinfo{
        margin: 0;
        padding: 0 10px 120px;
            /* overflow: hidden; */

            &:after{
                visibility: hidden;
                display: block;
                content: " ";
                clear: both;
                height: 0;
            }
        }

        @media only screen and (max-width: 768px) {
            .imgDouble,.imgTri,.imgCatch,.imgScene,.imgDetail,.imgDual,.imgCatchtxt,.imgPoints,.imgDeepinfo{
                padding: 0 10px 0;
            }
        }
        .imgDual{
            clear: both;
            padding: 0 0 120px;
            & > div{
                width: 395px;
                padding: 0;
                float: left;
                .catchTxt{
                    width: 365px;
                    padding: 30px 10px 0;
                    height: 128px;
                    margin: 0 0 20px;
                    overflow: hidden;
                }
                .dualImage{
                    width: 395px;
                    /* overflow: hidden; */
                    img{
                        width: 170px;
                        padding: 0 0 0 10px;
                        display: block;
                        float: left;
                    }
                }
            }
            .dualScene{
                img{
                    width: 430px;
                    padding: 10px 10px 10px 0;
                }
            }
        }

        &.wide{
            width: 100%;
            max-width: 840px;
            background-color: #fff;
            margin: 60px auto;
            font-size: 13px;
            letter-spacing: 0.1em;
            line-height: 1.6em;
            .imgDeepinfo{
                img{
                    display: block;
                    margin: 0 0 10px;
                }
                .deepMain{
                    position: relative;
                    p{
                        position: absolute;
                        width: auto;
                        top: 60px;
                        &.itemInfo{
                            left: 60px;
                            padding: 0 20px;
                            &.posCh{
                                right: 60px;
                                left: auto;
                            }
                            &.size{
                                width: 300px;
                            }
                        }
                    }
                    img{
                        width: 100%;
                        margin: 0 auto;
                    }
                }
                .deepSub{
                    margin: 10px 0 0;
                    width: 480px;
                    float: left;
                    text-align: left;
                    &.left{
                        padding: 0 5px 0 0; 
                        img{
                            width: 480px;
                        }                 
                    }
                    &.right{
                        padding: 0 0 0 5px;
                        img{
                            width: 480px;
                        }
                    }
                    p{
                        padding: 0 0 10px;
                        height: 8em;
                        overflow: hidden;
                    }
                    b{
                        font-size: 16px;
                        border: none;
                        padding: 0;
                    }
                }
            }

            div.imgCatchtxt{
                text-align: center;
                margin: 40px 0 0\9;
                padding: 30px 0 100px;
                strong{
                    font-size: 40px;
                    font-weight: normal;
                    margin: 0 0 40px;
                    display: block;
                    font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                }
            }

            @media only screen and (max-width: 768px) {
                div.imgCatchtxt{
                    padding: 10px 10px 50px;
                    text-align: left;
                    strong{
                        font-size: 14px;
                        margin: 0 0 10px;
                        font-weight: bold;
                        font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                    }
                }
            }
            .imgPoints{
                .point{
                    width: 100%;
                    margin: 0 0 100px;
                    overflow: hidden;
                    div{
                        clear: both;
                        width: 100%;
                        margin: 0 0 50px;
                        overflow: hidden;
                        img{
                            width: 480px;
                            display: block;
                            float: left;
                        }
                        p{
                            width: 50%;
                            display: block;
                            float: left;
                            text-align: center;
                            font-size: 20px;
                            &.descLeft,&.descRight{
                                text-align: left;
                                width: 80%;
                                font-size: 14px;
                            }
                            &.descLeft{
                                float: left;
                            }
                            &.descRight{
                                float: right;
                            }
                            .pointNumber{
                                display: block;
                                font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                                font-size: 50px;
                                padding: 80px 0 40px; 
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
            .imgDouble{
                div{
                    width: 49%;
                    float: left;
                    text-align: left;
                    &.left{
                        padding: 0 5px 0 0;                        
                    }
                    &.right{
                        padding: 0 0 0 5px;
                    }
                    p{
                        padding: 0 20px 10px;
                        height: 8em;
                        overflow: hidden;
                    }
                }
                img{
                    margin: 10px 0 0;
                    width: 480px;
                }
            }
            @media only screen and (max-width: 768px) {
                .imgDouble{
                    div{
                        width: 100%;
                        float: left;
                        text-align: left;
                        &.left{
                            padding: 0;                        
                        }
                        &.right{
                            padding: 0;
                        }
                        p{
                            b{
                                font-size: 14px;
                                display: block;
                                font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                                font-weight: bold;
                                margin: 10px 0;
                            }
                        }
                        p{
                            padding: 0 0 10px;
                            height: 8em;
                            overflow: hidden;
                        }
                    }
                    img{
                        margin: 10px 0 0;
                        width: 100%;
                    }
                }
            }
            .imgTri{
                div{
                    width: 475px;
                    float: left;
                    text-align: left;
                    &.left{
                        padding: 0 0 0 0;                        
                    }
                    &.right{
                        padding: 0 0 0 19px;
                    }
                    p{
                        padding: 0 10px 10px;
                        height: 8em;
                        overflow: hidden;
                    }
                }
                ul{
                    width: 100%;
                    clear: both;
                    overflow: hidden;
                    li{
                        width: 310px;
                        padding: 0 0 0 19px;
                        float: left;
                        &:first-child{
                            padding: 0;
                        }
                        img{
                            margin: 10px 0 0;
                            width: 310px;
                        }       
                    }
                }
            }
            @media only screen and (max-width: 768px) {
                .imgTri{
                    div{
                        width: 100%;
                        p{
                            b{
                                font-size: 14px;
                                display: block;
                                font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                                font-weight: bold;
                                margin: 10px 0;
                            }
                        }
                        p{
                            padding: 0 0 10px;
                            height: 8em;
                            overflow: hidden;
                        }
                        &.right{
                            padding: 0;
                        }
                    }
                    ul{
                        list-style-type: none;
                        li{
                            width: 100%;
                            padding: 0;
                            img{
                                width: 100%;
                            }
                        }
                    }
                }
            }
            .imgCatch{
                img{
                    width: 100%;
                    float: left;
                }
                div{
                    width: 212px;
                    padding: 20px 10px 20px 20px;
                    float: left;
                }
                &.mov{
                    div{
                        width: 212px;
                        padding: 20px 54px 20px 64px;
                    }
                }
            }
            @media only screen and (max-width: 768px) {

                .imgCatch{
                    margin: 60px 0 0;
                    padding: 0;
                    img{
                        width: 100%;
                    }
                    div{
                        padding: 2%;
                        width: 96%;
                        p{
                            margin: 0;
                            b{
                                font-size: 14px;
                                display: block;
                                font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                                font-weight: bold;
                                margin: 10px 0;
                            }
                        }
                        p{
                            padding: 0 0 10px;
                            height: 8em;
                            overflow: hidden;
                        }
                    }
                    &.mov{
                        div{
                            width: 100%;
                            padding: 20px 54px 20px 64px;
                        }
                    }
                }
            }
            .imgScene{
                div{
                    position: relative;
                    p{
                        position: absolute;
                        width: auto;
                        top: 60px;
                        &.itemInfo{
                            left: 60px;
                            &.posCh{
                                right: 60px;
                                left: auto;
                                padding: 0 20px;
                            }
                            &.size{
                                width: 300px;
                            }
                            &.white{
                                color: #fff;
                            }
                        }
                        &.itemData{
                            bottom: 10px;
                            right: 40px;
                            top: auto;
                        }
                    }
                    img{
                        width: 100%;
                        display: block\9;
                        clear: both;
                        margin: 60px 0 0\9;
                    }

                    @media only screen and (max-width: 768px) {
                        p{
                            display: none;
                        }
                    }
                }
            }
            .imgDetail{
                padding: 0 0 120px;
                ul{
                    list-style-type: none;
                    /* overflow: hidden; */
                    &:after{
                        visibility: hidden;
                        display: block;
                        content: " ";
                        clear: both;
                        height: 0;
                    }
                    li{
                        /* overflow: hidden; */
                        float: left;
                        width: 190px;
                        margin: 0 10px 20px;
                        img{
                            width: 227px;
                            margin: 0 0 4px;
                        }
                        p{
                            height: 2em;
                        }
                        &.fifth{
                            clear: both;
                        }
                    }
                }
                .option{
                    display: block;
                    float: right;
                    width: auto;
                    margin: 50px 0 0 auto;
                    padding: 10px 0 0;
                    border: 1px dotted $tc;
                    li{
                        margin: 0 10px;
                    }
                    .opTitle{
                        width: auto;
                        border-bottom: 1px solid #000;
                        font-weight: bold;
                        margin-bottom: 10px;
                    }
                }
            }

            @media only screen and (max-width: 768px) {
                .imgDetail{
                    margin: 30px 0 0;
                    ul{
                        margin: 0;
                        list-style-type: none;
                        padding: 0 !important;
                        li{
                            width: 50%;
                            padding: 3% 3% 1%;
                            margin: 0;
                            img{
                                width: 100%;
                            }
                        }
                        &.option{
                            width: 90%;
                            padding: 5%;
                        }
                    }
                }
            }
            .imgDual{
                clear: both;
                padding: 0 0 120px;

                & > div{
                    width: 495px;
                    width: 465px\9;
                    padding: 0;
                    float: left;
                    .catchTxt{
                        width: 435px;
                        padding: 30px 30px 0;
                        height: auto;
                        /* height: 128px; */
                        margin: 0 0 20px;
                        overflow: hidden;
                    }
                    .dualImage{
                        width: 495px;
                        /* overflow: hidden; */
                        img{
                            width: 230px;
                            padding: 0 0 0 10px;
                            display: block;
                            float: left;
                        }
                    }
                }
                div{
                    float: left\9;
                }
                .dualScene{
                    img{
                        width: 485px;
                        padding: 10px 10px 10px 0;
                    }
                }

                .dualImage{
                    overflow: hidden\9;
                    clear: both\9;
                    img{
                        width: 220px\9;
                        float: left\9;
                    }
                }
                .dualscene{
                    width: 455px\9;
                    float:right\9;
                }
                .catchTxt{
                    width: 435px\9;
                    padding: 30px 30px 0\9;
                    height: 128px\9;
                    margin: 0 0 20px\9;
                    overflow: hidden\9;
                }
            }

            @media only screen and (max-width: 768px) {
                .imgDual{
                    padding: 0;
                    & > div{
                        width: 100%;
                        padding: 0;
                        float: left;
                        .catchTxt{
                            width: 96%;
                            padding: 30px 2% 0;
                            margin: 0;
                            p{
                                margin: 0;
                                b{
                                    font-size: 14px;
                                    display: block;
                                    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                                    font-weight: bold;
                                    margin: 10px 0;
                                }
                            }
                            p{
                                padding: 0 0 10px;
                                height: 8em;
                                overflow: hidden;
                            }
                        }
                        .dualImage{
                            width: 100%;
                            padding: 0 3% 3%;
                            img{
                                padding: 0;
                                width: 100%;
                            }
                        }
                    }
                    .dualScene{
                        padding: 0;
                        img{
                            padding: 0;
                            margin: 0;
                            width: 100%;
                        }
                    }
                }
            }
        }

    }

    .reviewGroup,.ipRecommgroup,.ipGiftservice{
        display: none;
    }

    /* 九谷焼、山中漆器とは */
    .reviewGroup,.brandInfo{
        max-width: 96%;
        margin: 0 7px;
        border: 1px dotted $mc;
        float: left;
        padding: 2%;
        background-color: #fff;
    }
    .brandInfo{
        .brandContents{
            p{
                margin: 0 0 15px;
            }
        }
    }

    .ipCheck{
        margin: 15px 0;
        padding: 2%;
        width: 95.5%;
        background-color: #fff;
        border: 1px dotted $mc;
        img{
            display: none;
        }
    }

    .ip_infoBrands{
        /* width: 100%; */
        width: 99%;
        overflow: hidden;
        margin: 100px auto;
        padding: 0;
        list-style-type: none;
        background-color: #fff;
        border: 1px dotted $mc;
        div{
            width: 42%;
            margin: 5% 4% 0%;
            display: block;
            float: left;
            font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
            &.infoTxt{
                width: 46%;
                margin: 5% 0% 0% 4%;
            }
            &.link{
                width: 92%;
                margin: 6% 4% 5%;
                a{
                    width: 30%;
                    height: 24px;
                    font-size: 14px;
                    text-decoration: none;
                    margin: 0 auto;
                    display: block;
                    text-align: center;
                    background-color: #e84925;
                    -webkit-border-radius: 3px 3px 3px 3px;
                    border-radius: 3px 3px 3px 3px;
                    border: 1px solid #e84925;
                    color: #fff;
                    -webkit-transition: 0.2s;
                    transition: 0.2s;
                    &:hover{
                        background-color: #fff;
                        color: #e84925;
                        text-decoration: underline;
                    }
                }
            }
            b{
                font-size: 16px;
                display: block;
                text-align: center;
                font-size: 24px;
            }
            span{
                font-size: 14px;
                display: block;
                text-align: center;
                margin: 10px 0;
                font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
            }
            img{
                display: block;
                margin: 0 auto;
                max-width: 100%;
                /* behavior: expression( (function( el ) {
                    el.style.width = el.clientWidth < 600 ? '100%' : '100%';
                    el.runtimeStyle.behavior = 'none';
                })( this )); */
            }
            p{
                font-size: 13px;
                line-height: 2.0;
                letter-spacing: 1px;
                margin: 0;
                padding: 0;
            }
        }
    }
    .imgAbout{
        margin: 0;
        padding: 0 10px 120px;
        overflow: hidden;
        .option{
            overflow: hidden;
            display: block;
            width: auto;
            margin: 50px 0 0 auto;
            padding: 10px 0 0;
            border: 1px dotted #301e21;
            .aboutTitle{
                width: auto;
                border-bottom: 1px solid #000;
                font-weight: bold;
                margin-bottom: 10px;
                display: inline-block;
                margin: 10px 0 0 20px;
                font-size: 20px;
                font-weight: bold;
            }
            li{
                overflow: hidden;
                float: left;
                width: 250px;
                margin: 0px 20px;
                img{
                    width: 227px;
                    margin: 0 0 4px;
                    display: inline-block;
                }
                p{
                    width: 240px;
                    margin: 0 0 20px 0;
                    font-size: 14px;
                }
            }
            li.last{
                border-bottom: none;
            }
        }
    }