 @import "../styleguide/_scss/default.scss";
 $white : #fff;


 body{

    /* 共通設定 */
    .linkalpha{
        a{
            img{
                @include anm(0.2s);
                opacity:1.0;
                filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
            }
            &:hover{
                img{
                    opacity:0.7;
                    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
                }
            }
        }
    }
}


@mixin sizing($width) {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: $width;
}
@mixin alpha($int) {
    filter: alpha(opacity=$int);
    -moz-opacity: $int / 100;
    opacity: $int / 100;
}
