@import "ipStyle-default.scss";

.copy{
    width: 100%;
    clear: both;
    display: block;
    margin: 0 auto 10px;
    font-size: 10px;
    text-align: center;
}


.ipFooter{
    width: 100%;
    min-width: 1100px;
    overflow: hidden;
    background-color: #fff;
    border-bottom: 1px solid $mc;
    margin: 0 0 10px;
    height: auto;
    div{
        font-size: 10px;
        font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
        &.ftrWrapcontents{
            width: 1100px;
            margin: 50px auto 30px;
        }
        &.ftrGlobalnav{
            padding: 30px 0 0;
            clear: both;
            width: 100%;
            ul{
                overflow: hidden;
                li{
                    float: left;
                    padding: 0 10px;
                    border-left: 1px solid #dfdfdf;
                    a{
                        text-decoration: none;
                        font-size: 13px;
                        color: #999;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                    &:first-child{
                        border: none;
                    }
                }
            }
        }
        &.ftrMenu{
            border-left: 1px dotted #dfdfdf;
            padding: 0 1%;
            width: 10%;
            float: left;
            b{
                font-weight: bold;
                font-size: 13px;
                a{
                    text-decoration: none;
                    color: #000;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            ul{
                overflow: hidden;
                margin: 0 0 20px;
                li{
                    a{
                        text-decoration: none;
                        color: #000;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
            hr{
                border: none;
                border-bottom: 1px dotted #dfdfdf;
            }
        }
        &.ftrInfo{
            border-left: 1px dotted #dfdfdf;
            padding: 0 0 0 2%;
            width: 37%;
            float: right;
            .ftrContact{
                span{
                    font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                    background-color: $tc;
                    font-size: 20px;
                    color: #fff;
                    text-align: center;
                    padding: 6px;
                    margin: 0;
                    display: block;
                }
                dl{
                    font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                    display: block;
                    font-size: 13px;
                    font-weight: bold;
                    dt{
                        float: left;
                        width: 60px;
                    }
                    dd{

                    }
                }
                ul{
                    overflow: hidden;
                    margin: 10px 0 0;
                    li{
                        color: $tc;
                    }
                }
            }
            .social{
                margin: 20px 0 0;
                overflow: hidden;
                iframe{
                    width: 500px;
                    margin: 0 auto;
                    height: 240px;
                    display: block;
                }
            }
        }
    }
}



@media only screen and (max-width: 768px) {
    .ipFooter{
        min-width: 768px;
        div{
            &.ftrWrapcontents{
                width: 768px;
            }
            &.ftrMenu{
                border-left: 1px dotted #dfdfdf;
                padding: 0 1%;
                width: 100%;
                b{
                    display: block;
                    margin: 0 0 10px;
                    font-size: 16px;
                }
                ul{
                    padding: 0 0 20px;
                    clear: both;
                    width: 100%;
                    border-bottom: 1px solid #dfdfdf;
                    li{
                        float: left;
                        font-size: 13px;
                        padding: 0 10px;
                        border-left: 1px solid #dfdfdf;
                        &:first-child{
                            border: none;
                        }
                    }
                }
            }
            &.ftrInfo{
                padding: 0 2%;
                clear: both;
                float: left;
            }
        }
    }
}