@import "ipStyle-default.scss";

.ipHeader_dm{
    height: 85px;
    width: 100%;
    margin: 0 0 50px;
}

.ipHeader{
    width: 100%;
    min-width: 1100px;
    /* position: fixed; */
    position: absolute;
    top: 0;
    overflow: hidden;
    background-color: #fff;
    border-bottom: 1px solid $mc;
    margin: 0 0 50px;
    height: 85px;
    h1{
        font-size: 11px;
        font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
        float: left;
        margin: 6px 0 0 10px;
        font-weight: normal;
        color: #bbb;
    }
    .hdrGnav{
        font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
        float: right;
        font-size: 11px;
        li{
            float: left;
            margin: 6px 10px 0 0;
            &:before{
                content: "|";
                margin: 0 6px 0 0;
                color: $mc;
            }
            &:first-child{
                &:before{
                    content: none;
                }
            }
            a{
                color: #000;
                text-decoration: none;
                &:hover{
                    color: $ac;
                    text-decoration: underline;
                }
            }
        }
    }
    .hdrLogo{
        display: block;
        width: 170px;
        margin: 19px auto 0;
    }
    .hdrForm{
        position: absolute;
        right: 10px;
        bottom: -1px;
        #btn,#form{
            @include anm(0.2s);
            height: 30px;
            padding: 0 10px;
            border-style: none;
            background-color: #fff;
            font-size: 11px;
            border: 1px solid $mc;
            &:hover{
                border: 1px solid $ac;
            }
        }
        #form{
            width: 220px;
            margin: 0 -6px 0 0;
        }
        #btn{
            background: url('https://den-tou.com/img/icon_search.png') left top no-repeat;
            width: 30px;
            height: 30px;
            padding: 10px;
        }
    }
    .hdrUsermenu{
        position: absolute;
        right: 10px;
        bottom: 32px;
        font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
        float: right;
        font-size: 12px;
        li{
            float: left;
            margin: 6px 0 0 16px;
            &:before{
                content: "|";
                margin: 0 8px 0 0;
                color: $mc;
            }
            &:first-child{
                &:before{
                    content: none;
                }
            }
            a{
                color: #000;
                text-decoration: none;
                &:hover{
                    color: $ac;
                    text-decoration: underline;
                }
            }
        }
    }
    .hdrOtherlinks{
        position: absolute;
        left: 15px;
        bottom: -1px;
        ul{
            border: none;
            border-right: 1px solid $mc;
            border-left: 1px solid $mc;
            padding: 4px 4px 0 10px;
            overflow: hidden;
            li{
                float: left;
                margin: 0 5px 0 0;
                a{
                    color: #fff;
                    text-indent: -9999px;
                    font-size: 11px;
                    font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                    padding: 4px 6px 4px 0;
                    position: relative;
                    bottom: 0;
                    line-height: 2;
                    @include anm(0.2s);
                    display: block;
                    text-decoration: none;
                    width: 19px;
                    height: 19px;
                    &.fbLink{
                        background: url('https://den-tou.com/img/snsicon_fb.png') left top no-repeat;
                        &:hover{
                            background: url('https://den-tou.com/img/snsicon_fb_hv.png') left top no-repeat;
                            position: relative;
                            bottom: 3px;
                        }
                    }
                    &.pinLink{
                        background: url('https://den-tou.com/img/snsicon_pin.png') left top no-repeat;
                        &:hover{
                            background: url('https://den-tou.com/img/snsicon_pin_hv.png') left top no-repeat;
                            position: relative;
                            bottom: 3px;
                        }
                    }
                    &.insLink{
                        background: url('https://den-tou.com/img/snsicon_in.png') left top no-repeat;
                        &:hover{
                            background: url('https://den-tou.com/img/snsicon_in_hv.png') left top no-repeat;
                            position: relative;
                            bottom: 3px;
                        }
                    }
                    &.viLink{
                        background: url('https://den-tou.com/img/snsicon_vi.png') left top no-repeat;
                        &:hover{
                            background: url('https://den-tou.com/img/snsicon_vi_hv.png') left top no-repeat;
                            position: relative;
                            bottom: 3px;
                        }
                    }
                    &.yuLink{
                        background: url('https://den-tou.com/img/snsicon_yu.png') left top no-repeat;
                        &:hover{
                            background: url('https://den-tou.com/img/snsicon_yu_hv.png') left top no-repeat;
                            position: relative;
                            bottom: 3px;
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 768px) {
    .ipHeader{
        width: 100%;
        min-width: 0;
        max-width: 768px;
        height: auto;

        .hdrLogo{
            margin: 60px auto 0;
            padding: 0 0 40px;
        }
    }
}