@import "../styleguide/_scss/styleguide.scss";
@import url(https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
html{
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #333;
    ul,
    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    img{
        display: block;
    }
    a{
        @include anm(0.2s);
    }

    /* ブログページ用スタイル */
    .page-header{
        display: none;
    }
    .entry-title{
        font-size: 1.25rem !important;
        a{
            font-size: 1.5em !important;
        }
    }
    .wrapcontents{
        .header{
            h1{
                margin: 5% 0;
                @media only screen and (max-width: 768px) {
                    margin: 10% 0;
                }
                a{
                    img{
                        width: 12%;
                        max-width: 140px;
                        margin: 0 auto;
                        @media only screen and (max-width: 768px) {
                            width: 20%;
                            margin: 20% auto 0;
                        }
                    }
                }
            }
            .catch{
                @include sizing(100%);
                background:transparent url('https://mewts.com/images/mt_catch_scene.jpg') right top no-repeat;
                background-size: contain;
                height: 500px;
                padding: 30px;
                position: relative;
                @media only screen and (max-width: 768px) {
                    height: 300px;
                    background-size: cover;
                    background-position: center;
                }
                span{
                    img{
                        margin: 20px 0 0;
                        width: 33%;
                        max-width: 360px;
                    }
                }
                .line{
                    position: absolute;
                    left: 3%;
                    bottom: 7%;
                    border: none;
                    span{
                        a{
                            display: block;
                            text-decoration: none;
                            @include anm(0.2s);
                            opacity:1;
                            filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
                            &:hover{
                                opacity:0.7;
                                filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
                            }
                            img{
                                width: 130px;
                            }
                        }
                    }
                    @media only screen and (max-width: 768px) {
                        display: none;
                    }
                }
                &.bridal{
                    background:transparent url('https://mewts.com/images/mt_bridal_scene_head.jpg') right top no-repeat;
                    background-size: cover;
                    span{
                        img{
                            @media only screen and (max-width: 768px) {
                                float: right;
                                margin: 0;
                                width: 40%;
                            }
                        }
                    }
                }
                &.menu{
                    background:transparent url('https://mewts.com/images/mt_menu_scene.jpg') right top no-repeat;                    
                    @media only screen and (max-width: 768px) {
                        height: 300px;
                        background-size: cover;
                        background-position: center;
                    }
                    span{
                        img{
                            &.sp{
                                display: none;
                            }
                            &.pc{
                                display: block;
                                width: 30%;
                            }
                            @media only screen and (max-width: 768px) {
                                float: right;
                                &.sp{
                                    display: block;
                                    margin: 90px auto 0;
                                    float: inherit;
                                    width: 60%;
                                }
                                &.pc{
                                    display: none;
                                }
                            }
                        }
                    }
                }
                &.blog{
                    background:transparent url('https://mewts.com/images/mt_blog_scene.jpg') right top no-repeat;
                    @media only screen and (max-width: 768px) {
                        background-size: cover;
                    }
                    span{
                        img{
                            &.sp{
                                display: none;
                            }
                            &.pc{
                                display: block;
                                width: 24%;
                            }
                            @media only screen and (max-width: 768px) {
                                float: right;
                                &.sp{
                                    display: block;
                                    margin: 0 auto 0;
                                    float: inherit;
                                    width: 100%;
                                }
                                &.pc{
                                    display: none;
                                }
                            }
                        }
                    }                    
                }
                &.top{
                    span{
                        img{
                            &.sp{
                                display: none;
                            }
                            &.pc{
                                display: block;
                            }
                            @media only screen and (max-width: 768px) {
                                float: right;
                                &.sp{
                                    display: block;
                                    margin: 0 auto 0;
                                    float: inherit;
                                    width: 100%;
                                }
                                &.pc{
                                    display: none;
                                }
                            }
                        }
                    }
                    .line{
                        @media only screen and (max-width: 768px) {
                            position: absolute;
                            right: 3%;
                            bottom: 3%;
                            span{
                                a{
                                    display: block;
                                    img{
                                        width: 70px;
                                    }
                                }
                            }
                            display: block;
                        }
                    }
                }
            }
            .spcontact{
                display: none;
                @media only screen and (max-width: 768px) {
                    display: block;
                    position: fixed;
                    bottom: -20%;
                    width: 100%;
                    z-index: 1000;
                    @include anm(0.2s);
                    ul{
                        display: block;
                        overflow: hidden;
                        width: 100%;
                        li{
                            @include sizing(100%);
                            float: left;
                            a{
                                @include sizing(50%);
                                padding: 2%;
                                float: left;
                                color: #fff;
                                display: block;
                                text-decoration: none;
                                &.spcall{
                                    background-color: #c39a63;
                                    &:before{
                                        content: "";
                                        width: 18%;
                                        height: 40px;
                                        margin: 0 6px 0 0;
                                        float: left;
                                        display: block;
                                        background:transparent url('https://mewts.com/images/mt_spcall.png') left top no-repeat;
                                        background-size: contain;
                                    }
                                    span{
                                        font-family: 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                                    }
                                }
                                &.spline{
                                    background-color: #00b900;
                                    &:before{
                                        content: "";
                                        width: 18%;
                                        height: 40px;
                                        margin: 0 6px 0 0;
                                        float: left;
                                        display: block;
                                        background:transparent url('https://mewts.com/images/mt_spline.png') left top no-repeat;
                                        background-size: contain;
                                    }
                                }
                            }
                        }
                    }
                    &.spfixed{
                        display: block;
                        position: fixed;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                    }
                }
            }
            .menubox{
                height: 110px;
                overflow: hidden;
                @media only screen and (max-width: 768px) {
                    position: fixed;
                    width: 100%;
                    height: 40px;
                    top: 0;
                    z-index: 1000;
                    background-color: #fff;
                }
                .menu{
                    width: 100%;
                    ul{
                        @include sizing(100%);
                        max-width: 960px;
                        margin: 40px auto;
                        overflow: hidden;
                        @include anm(0.2s);
                        @media only screen and (max-width: 768px) {
                            margin: 10px auto;
                            background-color: #fff;
                        }
                        li{
                            float: left;
                            text-align: center;
                            @include sizing(20%);
                            a{
                                text-decoration: none;
                                color: #000;
                                font-family: 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                                font-weight: bold;
                                font-size: 18px;
                                &:hover{
                                    color: #c39a63;
                                }
                                @media only screen and (max-width: 768px) {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
                //メニュー固定用
                .fixed {
                    position: fixed;
                    top: 0px;
                    z-index: 1000;
                    background-color: #fff;
                    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.25);
                    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.25);
                    ul{
                        margin: 10px auto;
                    }
                }
            }
        }
        .contents{
            .description{
                @media only screen and (max-width: 768px) {
                    @include sizing(100%);
                    padding: 0 3%;
                }
                div{
                    width: 100%;
                    max-width: 960px;
                    margin: 0 auto;
                    img{
                        width: 300px;
                        margin: 100px auto 30px;
                    }
                    h2{
                        text-align: center;
                        font-family: 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                        font-size: 36px;
                        margin: 20px 0;
                        font-weight: normal;
                        color: #c39a63;
                        @media only screen and (max-width: 768px) {
                            font-size: 28px;
                        }
                    }
                    h3{
                        img{
                            margin: 40px auto 20px;
                            width: 400px;
                            @media only screen and (max-width: 768px) {
                                width: 100%;
                            }
                        }
                    }
                    .value{
                        display: flex;
                        @media only screen and (max-width: 768px) {
                            display: block;
                            @include sizing(100%);
                        }
                        li{
                            flex-basis: 20%;
                            @include rad(6,6,6,6);
                            border: 1px solid #c39a63;
                            margin: 1%;
                            padding: 2% 1%;
                            font-size: 14px;
                            text-align: center;
                            span{
                                color: #c39a63;
                                line-height: 1;
                                display: block;
                                margin: 0 0 10px;
                                font-size: 24px;
                                font-style: italic;
                                font-family: 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                            }
                            @media only screen and (max-width: 768px) {
                                @include sizing(100%);
                                text-align: left;
                                line-height: 1.5;
                                margin: 2% 0;
                                padding: 2%;
                                span{
                                    display: inline-block;
                                    font-size: 14px;
                                    margin: 0 7px 0 0;
                                }
                            }
                        }
                    }
                    p{
                        text-align: center;
                        font-size: 14px;
                        line-height: 2em;
                    }
                }
            }
            .item{
                @include sizing(100%);
                background:transparent url('https://mewts.com/images/mt_item_bg.jpg') left top no-repeat;
                background-size: cover;
                background-position: center center;
                height: auto;
                padding: 100px 30px;
                position: relative;
                @media only screen and (max-width: 768px) {
                    padding: 30px;
                }
                div{
                    margin: 0 auto;
                    max-width: 960px;
                    b{
                        display: block;
                        font-family: 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                        font-size: 50px;
                        color: #c39a63;
                        font-weight: normal;
                        line-height: 2em;
                        text-align: center;
                        @media only screen and (max-width: 768px) {
                            font-size: 34px;
                            line-height: 1.5em;
                        }
                    }
                    small{
                        display: block;
                        text-align: center;                    
                        font-size: 14px;
                        text-align: center;
                        line-height: 1.5em;
                        font-family: 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                    }
                    img{
                        display: block;
                        margin: 0 auto;
                        @media only screen and (max-width: 768px) {
                            width: 70%;
                        }
                    }
                    p{
                        max-width: 500px;
                        margin: 30px auto;
                        text-align: center;
                        font-size: 14px;
                        line-height: 2em;
                    }
                }
            }
            .salon{
                @include sizing(100%);
                background:transparent url('https://mewts.com/images/mt_item_bg02.jpg') left top no-repeat;
                /* background-color: #000; */
                background-size: cover;
                background-position: center center;
                height: auto;
                padding: 50px 30px;
                position: relative;
                @media only screen and (max-width: 768px) {
                    padding: 30px;
                }
                div{
                    margin: 0 auto;
                    max-width: 960px;
                    b{
                        display: block;
                        font-family: 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                        font-size: 50px;
                        color: #c39a63;
                        font-weight: normal;
                        line-height: 2em;
                        text-align: center;
                        @media only screen and (max-width: 768px) {
                            font-size: 34px;
                            line-height: 1.5em;
                        }
                    }
                    small{
                        display: block;
                        text-align: center;                    
                        font-size: 14px;
                        text-align: center;
                        line-height: 1.5em;
                        font-family: 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                    }
                    img{
                        display: block;
                        margin: 0 auto;
                        width: 440px;
                        @media only screen and (max-width: 768px) {
                            width: 90%;
                        }
                    }
                    p{
                        color: #fff;
                        max-width: 640px;
                        margin: 30px auto 0;
                        text-align: center;
                        font-size: 14px;
                        line-height: 2em;
                    }
                }
            }
            /* .salon{
                @include sizing(100%);
                background:transparent url('https://mewts.com/images/mt_catch_scene.jpg') left top no-repeat;
                background-size: cover;
                background-position: center center;
                height: auto;
                padding: 100px 30px;
                position: relative;
                @media only screen and (max-width: 768px) {
                    padding: 40px 30px;
                }
                .info{
                    background-color: rgba(255,255,255,0.9);
                    @include sizing(100%);
                    padding: 3%;
                    margin: 0 auto;
                    max-width: 960px;
                    @media only screen and (max-width: 768px) {
                        padding: 6%;

                    }
                    b{
                        display: block;
                        font-family: 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                        font-size: 50px;
                        color: #c39a63;
                        font-weight: normal;
                        line-height: 2em;
                        text-align: center;
                        @media only screen and (max-width: 768px) {
                            font-size: 28px;
                            line-height: 1.25em;
                        }
                    }
                    p{
                        margin: 30px auto;
                        text-align: center;
                        font-size: 14px;
                        line-height: 2em;
                    }
                }
            } */
            .catch{
                @include sizing(100%);
                background:transparent url('https://mewts.com/images/mt_about_scene.jpg') left top no-repeat;
                background-size: contain;
                height: 500px;
                padding: 30px;
                position: relative;
                &.face{
                    background:transparent url('https://mewts.com/images/mt_menu_face.jpg') left top no-repeat;                    
                    overflow: inherit;
                }
                &.body{
                    background:transparent url('https://mewts.com/images/mt_menu_body.jpg') left top no-repeat;                    
                    overflow: inherit;
                }
                &.arm{
                    background:transparent url('https://mewts.com/images/mt_menu_arm.jpg') left top no-repeat;                    
                    overflow: inherit;
                }
                @media only screen and (max-width: 768px) {
                    background: none;
                    height: auto;
                    padding: 0;
                }
                .info{
                    position: absolute;
                    width: 25%;
                    right: 10%;
                    bottom: -6%;
                    background-color: rgba(249,237,223,0.9);
                    padding: 3%;
                    @media only screen and (max-width: 768px) {
                        background-color: rgba(249,237,223,1);
                        position: relative;
                        @include sizing(100%);
                        padding: 5%;
                        left: 0;
                        top: 0;
                    }

                    h2{
                        text-align: center;
                        font-family: 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                        font-size: 26px;
                    }
                    small{
                        display: block;
                        text-align: center;                                               font-family: 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                        font-family: 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                        font-size: 14px;
                    }
                    hr{
                        display: block;
                        margin: 20px 0;
                        border: none;
                        border-bottom: 1px solid #c39a63;
                    }
                    p{
                        font-size: 14px;
                        line-height: 2em;
                        b{
                            line-height: 2.5em;
                        }
                    }
                }
                .sp{
                    display: none;
                    @media only screen and (max-width: 768px) {
                        display: block;
                        width: 100%;
                    }
                }
                .person{
                    position: absolute;
                    left: 3%;
                    bottom: -30%;
                    width: 25%;
                    background-color: #fff;
                    padding: 2%;
                    h3{
                        font-family: 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                    }
                    @media only screen and (max-width: 768px) {
                        position: relative;
                        @include sizing(100%);
                        padding: 5%;
                        left: 0;
                        top: 0;
                    }
                }
            }
            .menu{
                background-color: #f3f6f5;
                overflow: hidden;
                padding: 18% 0 0;
                @media only screen and (max-width: 768px) {
                    padding: 14% 0 0;
                }
                &.bridal{
                    padding: 6% 0 0;
                    margin: 6% 0 0;
                }
                &.submenu{
                    background-color: #fff;
                    padding: 8% 0 0;
                }
                .bridalmenu{
                    max-width: 768px;
                    margin: 0 auto;
                    @media only screen and (max-width: 768px) {
                        padding: 0 5%;
                    }
                    & > span{
                        color: #c39a63;
                        display: block;
                        font-size: 40px;
                        text-align: center;
                        margin: 40px auto;
                        font-family: 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                        @media only screen and (max-width: 768px) {
                            font-size: 34px;
                        }
                    }
                    hr{
                        width: 50%;
                        display: block;
                        margin: 30px auto;
                        border: none;
                        border-bottom: 2px dotted #c39a63;
                    }
                    p{
                        margin: 20px 0;
                        text-align: left;
                    }
                    h3{
                        margin: 30px 0;
                        text-align: center;
                        font-size: 40px;
                        font-weight: normal;
                        color: #c39a63;
                        font-family: 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                        @media only screen and (max-width: 768px) {
                            font-size: 20px;
                        }
                    }
                    ul{
                        overflow: hidden;
                        @include sizing(100%);
                        max-width: 768px;
                        margin: 0 auto;
                        li{
                            background-color: #fff;
                            padding: 18px;
                            text-align: center;
                            font-size: 14px;
                            position: relative;
                            @media only screen and (max-width: 768px) {
                                font-size: 12px;
                            }
                            &.name{
                                @include rad(4,4,0,0);
                                color: #c39a63;
                                font-weight: bold;
                                font-size: 18px;
                                @media only screen and (max-width: 768px) {
                                    font-size: 16px;
                                }
                            }
                            &.time{
                                background-color: #c39a63;
                                color:#fff;
                            }
                            &.first{
                                color: #fff;
                                text-shadow: 1px 1px 0 #7A3614;
                                background-color: #f5e1c9;
                                &:after{
                                    content: '';
                                    display: block;
                                    width: 0;
                                    height: 0;
                                    bottom: -10px;
                                    left: 48%;
                                    z-index: 10;
                                    position: absolute;
                                    border-style: solid;
                                    border-width: 10px 10px 0 10px;
                                    border-color: #f5e1c9 transparent transparent transparent;
                                }
                            }
                            &.second{
                                color: #fff;
                                text-shadow: 1px 1px 0 #7A3614;
                                background-color: #f1d9bd;
                                &:after{
                                    content: '';
                                    display: block;
                                    width: 0;
                                    height: 0;
                                    bottom: -10px;
                                    left: 48%;
                                    z-index: 10;
                                    position: absolute;
                                    border-style: solid;
                                    border-width: 10px 10px 0 10px;
                                    border-color: #f1d9bd transparent transparent transparent;
                                }
                            }
                            &.third{
                                color: #fff;
                                text-shadow: 1px 1px 0 #7A3614;
                                background-color: #edd0b0;
                                &:after{
                                    content: '';
                                    display: block;
                                    width: 0;
                                    height: 0;
                                    bottom: -10px;
                                    left: 48%;
                                    z-index: 10;
                                    position: absolute;
                                    border-style: solid;
                                    border-width: 10px 10px 0 10px;
                                    border-color: #edd0b0 transparent transparent transparent;
                                }
                            }
                            &.fourth{
                                color: #fff;
                                text-shadow: 1px 1px 0 #7A3614;
                                background-color: #e9c49a;
                                &:after{
                                    content: '';
                                    display: block;
                                    width: 0;
                                    height: 0;
                                    bottom: -10px;
                                    left: 48%;
                                    z-index: 10;
                                    position: absolute;
                                    border-style: solid;
                                    border-width: 10px 10px 0 10px;
                                    border-color: #e9c49a transparent transparent transparent;
                                }
                            }
                            &.last{
                                &:after{
                                    display: none;
                                }
                            }
                            &.price{
                                color: #fff;
                                text-shadow: 1px 1px 0 #7A3614;
                                span{
                                    color: #fff;
                                    font-size: 20px;
                                    font-family: 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                                    small{
                                        font-size: 14px;
                                    }
                                }
                                &.plan01{
                                    margin: 20px 0 0;
                                    background-color: #e2c196;                                    
                                }
                                &.plan02{
                                    background-color: #c7a67b;                                    
                                }
                                &.plan03{
                                    background-color: #c99f63;                                    
                                }
                                &.last{
                                    @include rad(0,0,4,4);
                                }
                            }
                        }
                    }

                    .review{
                        overflow: hidden;
                        margin: 50px 0 0;
                        @include sizing(100%);
                        .user{
                            @include sizing(12%);
                            padding: 0 2% 0 0;
                            float: left;
                            @media only screen and (max-width: 768px) {
                                @include sizing(20%);
                            }
                            img{
                                width: 100%;
                            }
                        }
                        .uservoice{
                            background-color: #fff;
                            @include sizing(88%);
                            padding: 2% 3%;
                            float: left;
                            position: relative;
                            @media only screen and (max-width: 768px) {
                                @include sizing(80%);
                            }
                            &:before{
                                content: '';
                                display: block;
                                width: 0;
                                height: 0;
                                top: 20px;
                                left: -14px;
                                z-index: 10;
                                position: absolute;
                                border-style: solid;
                                border-width: 14px 14px 0 14px;
                                border-color: #fff transparent transparent transparent;
                                @media only screen and (max-width: 768px) {
                                    display: none;
                                }
                            }
                            b{
                                padding: 0 4px 0 10px;
                                border-left: 2px solid #c39a63;
                                border-bottom: 1px solid #c39a63;
                                display: block;
                                font-family: 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                                font-size: 20px;
                                color: #c39a63;
                                line-height: 1.4em;
                                margin: 0 0 10px;
                                em{
                                    font-size: 14px;
                                }
                            }
                            a{
                                text-decoration: none;
                                float: right;
                                &:hover{
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
                .about{
                    max-width: 500px;
                    margin: 0 auto;
                    @media only screen and (max-width: 768px) {
                        padding: 0 5%;
                    }
                    span{
                        color: #c39a63;
                        display: block;
                        font-size: 40px;
                        text-align: center;
                        font-family: 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                        @media only screen and (max-width: 768px) {
                            font-size: 34px;
                        }
                    }
                    hr{
                        width: 50%;
                        display: block;
                        margin: 30px auto;
                        border: none;
                        border-bottom: 2px dotted #c39a63;
                    }
                    p{
                        text-align: center;
                        font-size: 14px;
                        line-height: 2em;
                        b{
                            display: block;
                            font-size: 16px;
                            line-height: 3em;
                        }
                    }
                }
                .coupon{
                    display: block;
                    @include sizing(100%);
                    max-width: 950px;
                    margin: 60px auto;
                    padding: 5px;
                    &.sp{
                        display: none;
                    }
                    @media only screen and (max-width: 768px) {
                        display: none;
                        &.sp{
                            display: block;
                            float: left;
                        }
                    }
                    img{
                        width: 100%;
                    }
                }
                .plan{
                    @media only screen and (max-width: 768px) {
                        padding: 0 5%;
                    }
                    ul{
                        overflow: hidden;
                        @include sizing(100%);
                        max-width: 960px;
                        margin: 0 auto;
                        li{
                            @include sizing(33.333%);
                            padding: 2%;
                            float: left;
                            a{
                                text-decoration: none;
                                img{
                                    width: 100%;
                                }
                                &.more{
                                    text-align: center;
                                    display: block;
                                    margin: 20px auto;
                                    padding: 6px 0px;
                                    width: 50%;
                                    @include rad(12,12,12,12);
                                    background-color: #c39a63;
                                    color: #fff;
                                    border:1px solid #fff;
                                    @include anm(0.2s);
                                    &:hover{
                                        background-color: #fff;
                                        color: #c39a63;
                                        border:1px solid #c39a63;
                                    }
                                }
                            }
                            p{
                                text-align: center;
                                font-size: 14px;
                                line-height: 2em;
                                height: 13em;
                                b{
                                    display: block;
                                    font-family: 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                                    font-size: 20px;
                                    color: #c39a63;
                                    line-height: 3em;
                                }
                            }
                            @media only screen and (max-width: 768px) {
                                margin: 50px 0 0;
                                @include sizing(100%);
                                padding: 0;
                                div{
                                    @include sizing(50%);
                                    overflow: hidden;
                                    float: left;
                                    img{
                                        width: 100%;
                                    }
                                    &.image{
                                        margin: 0 0 20px;
                                    }
                                    &.txt{
                                        margin: 0 0 20px;
                                        padding: 0 0 0 2%;
                                        p{
                                            height: auto;
                                            line-height: 1.5em;
                                            text-align: left;
                                            b{
                                                text-align: left;
                                                line-height: 1em;
                                                margin: 0 0 10px;
                                            }
                                        }
                                    }
                                }
                                a{
                                    clear: both;
                                    &.more{
                                        text-align: center;
                                        display: block;
                                        margin: 0 auto;
                                        padding: 10px 0px;
                                        width: 50%;
                                    }
                                }
                            }
                        }
                    }
                }
                .detail{
                    @media only screen and (max-width: 768px) {
                        padding: 0 5%;
                    }

                    table{
                        &.brwsr1{
                            font-size: 12px;
                            margin: 0 auto;
                            width: 100%;
                            max-width: 960px;
                            border-collapse: collapse;
                            border-spacing: 0px 1px;
                            tr{

                                &.title{
                                    span{
                                        color: #d9a76f;
                                    }
                                }
                                th {
                                    padding: 12px;
                                    vertical-align: middle;
                                    text-align: center;
                                    color: #fff;
                                    border: #d9a76f 1px solid;
                                    &.r0 {
                                        font-size: 18px;
                                        font-family: 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                                        text-align: center;
                                        width: 100%;
                                        background: #fff;
                                        color: #e9c49a;
                                        &.first{
                                            color: #fff;
                                            background: #d9a76f;
                                            font-size: 18px;
                                            font-family: 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                                        }
                                    }
                                    &.r1 {
                                        color: #c58b49;
                                        background: #f5e1c9;
                                    }
                                    &.r2 {
                                        color: #000;
                                        border-left: #fff 1px solid;
                                    }
                                    &.r3{
                                        text-align: center;
                                        color: #000;
                                        border-left: #fff 1px solid;
                                    }
                                    &.r4{
                                        text-align: center;
                                        color: #000;
                                        border-left: #fff 1px solid;
                                    }
                                }
                                td {
                                    padding: 12px;
                                    vertical-align: middle;
                                    text-align: left;
                                    border: #d9a76f 1px solid;
                                    font-size: 11px;
                                    &.r2 {
                                        border-left: #fff 1px solid;
                                    }
                                    &.r3 {
                                        border-left: #fff 1px solid;
                                    }
                                    &.r4 {
                                        border-left: #fff 1px solid;
                                    }
                                    span{
                                        color: #d9a76f;
                                    }
                                }
                            }
                        }
                    }

                    ul{
                        overflow: hidden;
                        @include sizing(100%);
                        max-width: 960px;
                        margin: 0 auto;
                        li{
                            @include sizing(100%);
                            padding: 2%;
                            float: left;
                            margin: 0 0 60px;
                            .txt{
                                @include sizing(70%);
                                float: left;
                                margin: 0 0 30px;
                                @media only screen and (max-width: 768px) {
                                    @include sizing(100%);
                                }
                            }
                            .image{
                                @include sizing(30%);
                                padding: 0 0 0 2%;
                                float: left;
                                margin: 0 0 30px;
                                @media only screen and (max-width: 768px) {
                                    @include sizing(100%);
                                    padding: 0;
                                }
                            }
                            .phase{
                                overflow: hidden;
                                display: flex;
                                align-items: center;
                                @include sizing(100%);
                                @media only screen and (max-width: 768px) {
                                    display: block;
                                }
                                li{
                                    background-color: #fff;
                                    padding: 8px;
                                    text-align: center;
                                    font-size: 14px;
                                    position: relative;
                                    margin: 0;
                                    @media only screen and (max-width: 768px) {
                                        padding: 14px;
                                    }
                                    &.name{
                                        @include rad(4,4,0,0);
                                        color: #c39a63;
                                        font-weight: bold;
                                        font-size: 18px;
                                    }
                                    &.time{
                                        background-color: #c39a63;
                                        color:#fff;
                                    }
                                    &.first{
                                        color: #fff;
                                        text-shadow: 1px 1px 0 #7A3614;
                                        background-color: #f5e1c9;
                                        &:after{
                                            content: '';
                                            display: block;
                                            width: 0;
                                            height: 0;
                                            top: 35%;
                                            right: -15px;
                                            z-index: 10;
                                            position: absolute;
                                            border-style: solid;
                                            border-width: 10px 10px 0 10px;
                                            border-color: #f5e1c9 transparent transparent transparent;
                                            -moz-transform: rotate(270deg);
                                            -webkit-transform: rotate(270deg);
                                            -o-transform: rotate(270deg);
                                            -ms-transform: rotate(270deg);
                                            transform: rotate(270deg);
                                            @media only screen and (max-width: 768px) {
                                                top: inherit;
                                                bottom: -10px;
                                                left: 47%;
                                                -moz-transform: rotate(0deg);
                                                -webkit-transform: rotate(0deg);
                                                -o-transform: rotate(0deg);
                                                -ms-transform: rotate(0deg);
                                                transform: rotate(0deg);
                                            }
                                        }
                                    }
                                    &.second{
                                        color: #fff;
                                        text-shadow: 1px 1px 0 #7A3614;
                                        background-color: #f1d9bd;
                                        &:after{
                                            content: '';
                                            display: block;
                                            width: 0;
                                            height: 0;
                                            top: 35%;
                                            right: -15px;
                                            z-index: 10;
                                            position: absolute;
                                            border-style: solid;
                                            border-width: 10px 10px 0 10px;
                                            border-color: #f1d9bd transparent transparent transparent;
                                            -moz-transform: rotate(270deg);
                                            -webkit-transform: rotate(270deg);
                                            -o-transform: rotate(270deg);
                                            -ms-transform: rotate(270deg);
                                            transform: rotate(270deg);
                                            @media only screen and (max-width: 768px) {
                                                top: inherit;
                                                bottom: -10px;
                                                left: 47%;
                                                -moz-transform: rotate(0deg);
                                                -webkit-transform: rotate(0deg);
                                                -o-transform: rotate(0deg);
                                                -ms-transform: rotate(0deg);
                                                transform: rotate(0deg);
                                            }
                                        }
                                    }
                                    &.third{
                                        color: #fff;
                                        text-shadow: 1px 1px 0 #7A3614;
                                        background-color: #edd0b0;
                                        &:after{
                                            content: '';
                                            display: block;
                                            width: 0;
                                            height: 0;
                                            top: 35%;
                                            right: -15px;
                                            z-index: 10;
                                            position: absolute;
                                            border-style: solid;
                                            border-width: 10px 10px 0 10px;
                                            border-color: #edd0b0 transparent transparent transparent;
                                            -moz-transform: rotate(270deg);
                                            -webkit-transform: rotate(270deg);
                                            -o-transform: rotate(270deg);
                                            -ms-transform: rotate(270deg);
                                            transform: rotate(270deg);
                                            @media only screen and (max-width: 768px) {
                                                top: inherit;
                                                bottom: -10px;
                                                left: 47%;
                                                -moz-transform: rotate(0deg);
                                                -webkit-transform: rotate(0deg);
                                                -o-transform: rotate(0deg);
                                                -ms-transform: rotate(0deg);
                                                transform: rotate(0deg);
                                            }
                                        }
                                    }
                                    &.fourth{
                                        color: #fff;
                                        text-shadow: 1px 1px 0 #7A3614;
                                        background-color: #e9c49a;
                                        &:after{
                                            content: '';
                                            display: block;
                                            width: 0;
                                            height: 0;
                                            top: 35%;
                                            right: -15px;
                                            z-index: 10;
                                            position: absolute;
                                            border-style: solid;
                                            border-width: 10px 10px 0 10px;
                                            border-color: #e9c49a transparent transparent transparent;
                                            -moz-transform: rotate(270deg);
                                            -webkit-transform: rotate(270deg);
                                            -o-transform: rotate(270deg);
                                            -ms-transform: rotate(270deg);
                                            transform: rotate(270deg);
                                            @media only screen and (max-width: 768px) {
                                                top: inherit;
                                                bottom: -10px;
                                                left: 47%;
                                                -moz-transform: rotate(0deg);
                                                -webkit-transform: rotate(0deg);
                                                -o-transform: rotate(0deg);
                                                -ms-transform: rotate(0deg);
                                                transform: rotate(0deg);
                                            }
                                        }
                                    }
                                    &.fifth{
                                        color: #fff;
                                        text-shadow: 1px 1px 0 #7A3614;
                                        background-color: #e2b888;
                                        &:after{
                                            content: '';
                                            display: block;
                                            width: 0;
                                            height: 0;
                                            top: 35%;
                                            right: -15px;
                                            z-index: 10;
                                            position: absolute;
                                            border-style: solid;
                                            border-width: 10px 10px 0 10px;
                                            border-color: #e2b888 transparent transparent transparent;
                                            -moz-transform: rotate(270deg);
                                            -webkit-transform: rotate(270deg);
                                            -o-transform: rotate(270deg);
                                            -ms-transform: rotate(270deg);
                                            transform: rotate(270deg);
                                            @media only screen and (max-width: 768px) {
                                                top: inherit;
                                                bottom: -10px;
                                                left: 47%;
                                                -moz-transform: rotate(0deg);
                                                -webkit-transform: rotate(0deg);
                                                -o-transform: rotate(0deg);
                                                -ms-transform: rotate(0deg);
                                                transform: rotate(0deg);
                                            }
                                        }
                                    }
                                    &.sixth{
                                        color: #fff;
                                        text-shadow: 1px 1px 0 #7A3614;
                                        background-color: #d9a76f;
                                        &:after{
                                            content: '';
                                            display: block;
                                            width: 0;
                                            height: 0;
                                            top: 35%;
                                            right: -15px;
                                            z-index: 10;
                                            position: absolute;
                                            border-style: solid;
                                            border-width: 10px 10px 0 10px;
                                            border-color: #d9a76f transparent transparent transparent;
                                            -moz-transform: rotate(270deg);
                                            -webkit-transform: rotate(270deg);
                                            -o-transform: rotate(270deg);
                                            -ms-transform: rotate(270deg);
                                            transform: rotate(270deg);
                                            @media only screen and (max-width: 768px) {
                                                top: inherit;
                                                bottom: -10px;
                                                left: 47%;
                                                -moz-transform: rotate(0deg);
                                                -webkit-transform: rotate(0deg);
                                                -o-transform: rotate(0deg);
                                                -ms-transform: rotate(0deg);
                                                transform: rotate(0deg);
                                            }
                                        }
                                    }
                                    &.seventh{
                                        color: #fff;
                                        text-shadow: 1px 1px 0 #7A3614;
                                        background-color: #d39957;
                                        &:after{
                                            content: '';
                                            display: block;
                                            width: 0;
                                            height: 0;
                                            top: 35%;
                                            right: -15px;
                                            z-index: 10;
                                            position: absolute;
                                            border-style: solid;
                                            border-width: 10px 10px 0 10px;
                                            border-color: #d39957 transparent transparent transparent;
                                            -moz-transform: rotate(270deg);
                                            -webkit-transform: rotate(270deg);
                                            -o-transform: rotate(270deg);
                                            -ms-transform: rotate(270deg);
                                            transform: rotate(270deg);
                                            @media only screen and (max-width: 768px) {
                                                top: inherit;
                                                bottom: -10px;
                                                left: 47%;
                                                -moz-transform: rotate(0deg);
                                                -webkit-transform: rotate(0deg);
                                                -o-transform: rotate(0deg);
                                                -ms-transform: rotate(0deg);
                                                transform: rotate(0deg);
                                            }
                                        }
                                    }
                                    &.eith{
                                        color: #fff;
                                        text-shadow: 1px 1px 0 #7A3614;
                                        background-color: #c58b49;
                                        &:after{
                                            content: '';
                                            display: block;
                                            width: 0;
                                            height: 0;
                                            top: 35%;
                                            right: -15px;
                                            z-index: 10;
                                            position: absolute;
                                            border-style: solid;
                                            border-width: 10px 10px 0 10px;
                                            border-color: #c58b49 transparent transparent transparent;
                                            -moz-transform: rotate(270deg);
                                            -webkit-transform: rotate(270deg);
                                            -o-transform: rotate(270deg);
                                            -ms-transform: rotate(270deg);
                                            transform: rotate(270deg);
                                        }
                                    }
                                    &.last{
                                        &:after{
                                            display: none;
                                        }
                                    }
                                }
                            }
                            .prices{
                                margin: 40px 0 0;
                                clear: both;
                                overflow: hidden;
                                @include sizing(100%);
                                li{
                                    display: block;
                                    text-align: center;
                                    @include sizing(30%);
                                    color: #fff;
                                    text-shadow: 1px 1px 0 #7A3614;
                                    padding: 1% 2%;
                                    float: left;
                                    @media only screen and (max-width: 768px) {
                                        @include sizing(100%);
                                        padding: 1% 18%;
                                    }
                                    small{
                                        display: inline-block;
                                        float: left;
                                        font-size: 12px;
                                        line-height: 1.5em;
                                        margin: 6px 0 0 15px;
                                        &.one{
                                            margin: 15px 0 0 15px;
                                        }
                                    }
                                    span{
                                        display: inline-block;
                                        font-size: 28px;
                                        font-family: 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                                        em{
                                            font-size: 12px;
                                            float: right;
                                            clear: both;
                                            margin: 16px 0 0;
                                        }
                                    }
                                    &:nth-child(1){
                                        background-color: #e2c196; 
                                        margin: 0;                                   
                                    }
                                    &:nth-child(2){
                                        background-color: #c7a67b; 
                                        margin: 0 4.999%;
                                        @media only screen and (max-width: 768px) {
                                            margin: 0;
                                        }
                                    }
                                    &:nth-child(3){
                                        background-color: #c99f63; 
                                        margin: 0;                                    
                                    }
                                }
                            }
                            .review{
                                overflow: hidden;
                                margin: 50px 0 0;
                                @include sizing(100%);
                                .user{
                                    @include sizing(12%);
                                    padding: 0 2% 0 0;
                                    float: left;
                                    @media only screen and (max-width: 768px) {
                                        @include sizing(20%);
                                    }
                                    img{
                                        width: 100%;
                                    }
                                }
                                .uservoice{
                                    background-color: #f3f6f5;
                                    @include sizing(88%);
                                    padding: 2% 3%;
                                    float: left;
                                    position: relative;
                                    @media only screen and (max-width: 768px) {
                                        @include sizing(80%);
                                    }
                                    &:before{
                                        content: '';
                                        display: block;
                                        width: 0;
                                        height: 0;
                                        top: 20px;
                                        left: -14px;
                                        z-index: 10;
                                        position: absolute;
                                        border-style: solid;
                                        border-width: 14px 14px 0 14px;
                                        border-color: #f3f6f5 transparent transparent transparent;
                                        @media only screen and (max-width: 768px) {
                                            display: none;
                                        }
                                    }
                                    b{
                                        padding: 0 4px 0 10px;
                                        border-left: 2px solid #c39a63;
                                        border-bottom: 1px solid #c39a63;
                                        display: block;
                                        font-family: 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                                        font-size: 20px;
                                        color: #c39a63;
                                        line-height: 1.4em;
                                        margin: 0 0 10px;
                                        em{
                                            font-size: 14px;
                                        }
                                    }
                                    a{
                                        text-decoration: none;
                                        float: right;
                                        &:hover{
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }

                            .option{
                                max-width: 500px;
                                margin: 30px auto 0;
                                @media only screen and (max-width: 768px) {
                                    padding: 0 5%;
                                    width: 100%;
                                }
                                & > span{
                                    color: #c39a63;
                                    display: block;
                                    font-size: 30px;
                                    text-align: center;
                                    font-family: 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;                        
                                }
                                hr{
                                    width: 50%;
                                    display: block;
                                    margin: 10px auto;
                                    border: none;
                                    border-bottom: 2px dotted #c39a63;
                                }
                                ul{
                                    overflow: hidden;
                                    margin: 0 0 60px;
                                    li{
                                        text-align: left;
                                        font-size: 14px;
                                        line-height: 2em;
                                        margin: 0 0 10px;
                                        border-bottom: 1px dashed #c39a63;
                                        span{
                                            float: right;
                                        }
                                    }
                                }
                            }
                            a{
                                clear: both;
                                text-decoration: none;
                                img{
                                    width: 100%;
                                }
                                &.more{
                                    text-align: center;
                                    display: block;
                                    margin: 20px auto;
                                    padding: 6px 0px;
                                    width: 50%;
                                    @include rad(12,12,12,12);
                                    background-color: #c39a63;
                                    color: #fff;
                                    border:1px solid #fff;
                                    @include anm(0.2s);
                                    &:hover{
                                        background-color: #fff;
                                        color: #c39a63;
                                        border:1px solid #c39a63;
                                    }
                                }
                            }
                            p{
                                text-align: left;
                                font-size: 14px;
                                line-height: 2em;
                                .tag{
                                    font-size: 12px;
                                    padding: 0 8px;
                                    background-color: #c39a63;
                                    color: #fff;
                                    display: inline-block;
                                    margin: 0 0 6px;
                                }
                                &.caption{
                                    font-size: 12px;
                                }
                                b{
                                    display: block;
                                    font-family: 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                                    font-size: 28px;
                                    @media only screen and (max-width: 768px) {
                                        font-size: 21px;
                                    }
                                    color: #c39a63;
                                    line-height: 1.4em;
                                    margin: 0 0 10px;
                                    small{
                                        @include rad(4,4,4,4);
                                        border: 1px solid #c39a63;
                                        color: #c39a63;
                                        margin: 0 4px 0 0;
                                        padding: 4px 10px;
                                        background-color: #fff;
                                    }
                                }
                            }
                            @media only screen and (max-width: 768px) {
                                margin: 50px 0 40px;
                                @include sizing(100%);
                                padding: 0;
                                div{
                                    @include sizing(50%);
                                    overflow: hidden;
                                    float: left;
                                    img{
                                        width: 100%;
                                    }
                                    &.image{
                                        margin: 0;
                                    }
                                    &.txt{
                                        padding: 0 0 0 2%;
                                        p{
                                            height: auto;
                                            line-height: 1.5em;
                                            text-align: left;
                                            b{
                                                text-align: left;
                                                line-height: 1.2em;
                                                margin: 0 0 10px;
                                            }
                                        }
                                    }
                                }
                                a{
                                    clear: both;
                                    &.more{
                                        text-align: center;
                                        display: block;
                                        margin: 0 auto;
                                        padding: 10px 0px;
                                        width: 50%;
                                    }
                                }
                            }
                        }
                    }
                }
                .bridalplan{
                    @include sizing(100%);
                    background:transparent url('https://mewts.com/images/mt_bridal_scene.jpg') left top no-repeat;
                    background-size: cover;
                    background-color: #fff;
                    height: 100%;
                    max-height: 570px;
                    padding: 25px 45px 0 45px;
                    position: relative;

                    div{
                        img{
                            width: 25%;
                            max-width: 300px;
                            margin: 0 0 1%;
                        }
                        p{
                            font-size: 14px;
                            b{
                                font-family: 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                                display: block;
                                color: #c39a63;
                                font-size: 44px;
                                font-weight: normal;
                            }
                            a{
                                text-decoration: none;
                                &.more{
                                    text-align: center;
                                    display: inline-block;
                                    margin: 20px auto;
                                    padding: 6px 0px;
                                    width: 18%;
                                    @include rad(12,12,12,12);
                                    background-color: #c39a63;
                                    color: #fff;
                                    border:1px solid #fff;
                                    @include anm(0.2s);
                                    &:hover{
                                        background-color: #fff;
                                        color: #c39a63;
                                        border:1px solid #c39a63;
                                    }
                                }
                            }
                        }
                    }
                    @media only screen and (max-width: 768px) {
                        margin: 50px 0 0;
                        padding: 20px 5% 30px;
                        background-size: cover;
                        background-position: right top;
                        height: auto;
                        div{
                            padding: 0;
                            img{
                                width: 35%;
                                margin: 3% 0 6%;
                                float: right;
                            }
                            p{
                                b{
                                    clear: both;
                                    font-size: 30px;
                                    line-height: 1.5em;
                                }
                                a{
                                    &.more{
                                        border: none;
                                        width: 50%;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .blog{
                @include sizing(100%);
                max-width: 960px;
                margin: 60px auto;
                @media only screen and (max-width: 768px) {
                    padding: 0 3%;
                }
                .head{
                    border-bottom: 2px solid #c39a63;
                    padding: 1% 0;
                    margin: 0 0 20px;
                    font-size: 28px;
                    font-family: 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                    span{
                        display: block;
                        float: right;
                        font-family:"メイリオ", Meiryo,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                        a{
                            color: #000;
                            text-decoration: none;
                            @include anm(0.2s);
                            font-size: 14px;
                            &:hover{
                                color: #c39a63;
                            }
                        }
                    }
                }
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    li{
                        align-self: stretch;
                        @include sizing(23%);
                        padding: 3%;
                        margin: 1%;
                        border: 1px solid #bfbfbf;
                        @media only screen and (max-width: 768px) {
                            @include sizing(94%);
                            padding: 3%;
                            margin: 3%;
                        }
                        &.recent-list{
                            color: #999;
                            a{
                                display: block;
                                &:nth-child(1){
                                    color: #000;
                                    font-size: 10px;
                                    text-decoration: none;
                                    @include anm(0.2s);
                                    border-radius: 4px 4px 4px 4px;
                                    border: 1px solid #c39a63;
                                    color: #c39a63;
                                    display: inline-block;
                                    margin: 4px 0;
                                    padding: 2px 6px;
                                    background-color: #fff;
                                    @media only screen and (max-width: 768px) {
                                        margin: 0 4px 4px 4px;
                                    }
                                    &:hover{
                                        color: #fff;
                                        background-color: #c39a63;
                                    }
                                }
                                &:nth-child(2){
                                    color: #000;
                                    font-size: 14px;
                                    text-decoration: none;
                                    @include anm(0.2s);
                                    &:hover{
                                        text-decoration: underline;
                                        color: #c39a63;
                                    }
                                    img{
                                        width: 100%;
                                        height: auto;

                                        @media only screen and (max-width: 768px) {
                                            width: 70%;
                                            margin: 10px auto;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .footer{
            .line{
                padding: 40px 0;
                background-color: #00b900;
                @media only screen and (max-width: 768px) {
                    padding: 10px 0;
                }
                .contents{
                    width: 100%;
                    max-width: 960px;
                    margin: 0 auto;
                    overflow: hidden;
                    img{
                        @include sizing(10%);
                        float: left;  
                        margin: 2% 0 0;                  
                    }
                    .txt{
                        @include sizing(60%);
                        padding: 2%;
                        float: left;
                        p{
                            color: #fff;
                            font-size: 14px;
                            line-height: 2em;
                            &.copy{
                                font-size: 18px;
                            }
                            b{
                                font-size: 24px;
                                display: block;
                                span{
                                    color: #ffff3e;
                                }
                            }
                        }   
                    }
                    .images{
                        @include sizing(30%);
                        float: left;
                        img{
                            margin: 0;
                            padding: 1%;
                            width: 50%;
                            float: left;
                        }
                        span{
                            padding: 10px 0 0;
                            clear: both;
                            display: block;
                            text-align: center;
                            font-weight: bold;
                            color: #fff;
                            font-size: 14px;
                            font-family: 'Rounded Mplus 1c';
                        }
                        a{
                            display: none;
                        }
                    }
                    @media only screen and (max-width: 768px) {
                        @include sizing(100%);
                        padding: 5%;
                        img{
                            @include sizing(20%);
                        }
                        .txt{
                            @include sizing(80%);
                            p{
                                font-size: 12px;
                                &.copy{
                                    font-size: 12px;
                                }
                                b{
                                    font-size: 18px;
                                }
                            }
                        }
                        .images{
                            @include sizing(100%);
                            img{
                                display: none;
                            }
                            a{
                                @include rad(25,25,25,25);
                                color: #00b900;
                                background-color: #fff;
                                text-decoration: none;
                                display: block;
                                text-align: center;
                                margin: 20px auto;
                                padding: 12px 0;
                                font-size: 16px;
                                width: 75%;
                            }
                        }
                    }

                }
            }
            .access{
                overflow: hidden;
                .about{
                    @include sizing(100%);
                    max-width: 768px;
                    margin: 60px auto;
                    @media only screen and (max-width: 768px) {
                        padding: 0 3%;
                    }
                    span{
                        color: #c39a63;
                        display: block;
                        font-size: 40px;
                        text-align: center;
                        font-family: 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                        @media only screen and (max-width: 768px) {
                            font-size: 34px;
                        }
                    }
                    hr{
                        width: 50%;
                        display: block;
                        margin: 30px auto;
                        border: none;
                        border-bottom: 2px dotted #c39a63;
                    }
                    p{
                        text-align: center;
                        font-size: 14px;
                        line-height: 2em;
                        b{
                            display: block;
                            font-size: 16px;
                            line-height: 3em;
                        }
                    }
                }
                #map-canvas{
                    display: block;
                    width: 100%;
                    height: 520px;
                }
            }
            .gallery{
                .about{
                    @include sizing(100%);
                    max-width: 960px;
                    margin: 60px auto;
                    @media only screen and (max-width: 768px) {
                        padding: 0 3%;
                        margin: 30px auto;
                    }
                    span{
                        line-height: 1.4em;
                        color: #c39a63;
                        display: block;
                        font-size: 40px;
                        text-align: center;
                        font-family: 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                        @media only screen and (max-width: 768px) {                            
                            font-size: 26px;
                            line-height: 1.4em;
                        }
                    }
                }

                .slider {
                    width: 100%;
                    margin: 60px auto 100px;
                    @media only screen and (max-width: 768px) {
                        margin: 20px auto;
                    }
                }

                .slick-slide {
                    margin: 0;
                    transition: all ease-in-out .3s;
                    opacity: 1;
                    img {
                        width: 100%;
                    }
                }
                .slick-prev:before,
                .slick-next:before {
                    color: black;
                }
                .slick-active {
                    opacity: 1;
                }

                .slick-current {
                    opacity: 1;
                }
            }
            .contact{
                padding: 40px 0;
                background-color: #f3f6f5;
                overflow: hidden;
                a{
                    img{
                        width: 160px;
                        margin: 20px auto 40px;
                        @media only screen and (max-width: 768px) {
                            width: 50%;
                        }
                    }
                }
                p{
                    text-align: center;
                    font-size: 14px;
                    line-height: 2em;
                    b{
                        display: block;
                        line-height: 3em;
                        a{
                            margin: 20px 0;
                            font-size: 16px;
                            text-decoration: none;
                            @include anm(0.2s);
                            color: #000;
                            &:hover{
                                color: #c39a63;
                            }
                        }
                    }
                }
            }
            .sign{
                padding: 20px 0;
                background-color: #f3f6f5;
                overflow: hidden;
                small{
                    font-size: 14px;
                    display: block;
                    text-align: center;
                    font-family: 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                }
            }
        }
    }
}