@charset "utf-8";

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans';
    background: #fafafa;
    width: 100%;
    margin:0;
    background-color:#fffcee;
    h1 {
    width:100%;
    background-size: contain;
    background-image: url(https://den-tou.com/img/rank_header.jpg);
    background-repeat: no-repeat;
    height: 200px;
    text-indent: -9999px;
    }
    h2 {
        text-align: center;
    }
    p {
        text-align: right;
        width: 95%;
        margin: 0 auto;
    }
    #rankarea {
        width: 97%;
        margin: 0 auto;
        padding: 0;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-box;
        display: -webkit-flexbox;
        display: -moz-flexbox;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: flex;
        -webkit-box-lines: multiple;
        -moz-box-lines: multiple;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.l-card {
    float: left;
    position: relative;
    overflow: inherit;
    /*height: 600px;*/
    width: 48%;
    padding: 0;
    margin: 24px 1%;
    border: 0 solid #ddd;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1);
    &:hover {
        .thumbnail-wrapper {
            &:after {
                opacity: 0.9;
                width: calc(100% - 32px);
                height: calc(100% - 32px);
                display:none;
            }
            img {
                /*opacity: 0.9;*/
                transform: scale(1.1);
            }
        }
        .more-text {
            opacity: 1;
            letter-spacing: 4px;
            display:none;
        }
    }
    a {
        text-decoration: none;
    }
}

.l-thumbnail {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    /*background: rgba(12,245,198,1);*/
    /*background: -webkit-linear-gradient(-45deg, rgba(56,120,163,1) 0%, rgba(90,176,107,1) 100%);
  background: linear-gradient(135deg, rgba(56,120,163,1) 0%, rgba(90,176,107,1) 100%);
  background: -webkit-linear-gradient(-45deg, 100%);
  background: linear-gradient(135deg, 100%);*/
    .more-text {
        transition: 0.8s;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        display: block;
        color: #fff;
        font-size: 16px;
        letter-spacing: -1px;
        text-align: center;
    }
}

.thumbnail-wrapper {
    margin: 0;
    padding: 0;
    &:after {
        transition: 0.8s;
        content: "";
        box-sizing: border-box;
        display: block;
        transform: translate(-50%, -50%);
        position: absolute;
        left: 50%;
        top: 50%;
        width: 0;
        height: 0;
        border: 1px solid #fff;
        opacity: 0;
    }
    img {
        transition: 0.5s;
        display: block;
        max-width: 100%;
        opacity: 1;
        transform: scale(1);
    }
}

.text-content {
    padding: 16px;
    height: 13em;
    .title {
        color: #000;
        margin: 0 0 12px 0;
        font-size: 16px;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        height: 3em;
        overflow: hidden;
    }
    .caption {
        margin: 0 0 12px 0;
        font-size: 14px;
        color: #555;
        font-weight: lighter;
        text-align: left;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }
}

.content-meta {
    overflow: hidden;
    width: 100%;
    font-size: 12px;
    .shipfree {
        clear: both;
        float: right;
        color: #fff;
        display: block;
        text-align: center;
        padding: 2px 6px;
        background: #1a0bbf;
    }
    .tdship {
        float: right;
        color: #fff;
        display: block;
        text-align: center;
        padding: 2px 6px;
        background: #5ab06b;
    }
    .price {
        float: left;
        color: #e60f0f;
        font-size: 16px;
    }
    .rank {
        display: block;
        left: 1%;
        top: 1%;
        font-size: 20px;
        line-height: 33px;
        position: absolute;
        color: #ffffff;
        &:first-child {
            background-color: #00ccff;
        }
    }
}




#under {
    .l-card {
        width: 23%;
        .text-content {
            .title {
                font-size: 12px;
            }
            height: 7.5em;
            padding:10px;
        }
        .rank {
    display: block;
    left: -4%;
    top: -2%;
    font-size: 20px;
    text-align: center;
    line-height: 31px;
    position: absolute;
    color: #ffffff;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    background: #e4690a;
    border: 1px solid #fff;
        &:after{
    content: "位";
    position: absolute;
    left: 15px;
    top: 15px;
    font-size: 10px;
    color: #ffffff;
    font-weight: bold;                   
        }
    }
}
}



/* PConly */

@media screen and (min-width: 769px) {
    #top1 {
        .l-card {
            width: 98%;
            .l-thumbnail {
                width: 60%;
                float: left;
                margin-right: 10px;
            }
            .text-content {
                width: 35%;
                float: right;
                padding: 16px 16px 16px 0;
                .caption {
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 10;
                }
            }
            .content-meta {
                overflow: hidden;
                font-size: 12px;
                clear: none;
                .shipfree {
                    clear: both;
                    float: right;
                    color: #fff;
                    display: block;
                    text-align: center;
                    padding: 2px 6px;
                    background: #1a0bbf;
                }
                .tdship {
                    float: right;
                    color: #fff;
                    display: block;
                    text-align: center;
                    padding: 2px 6px;
                    background: #5ab06b;
                }
                .price {
                    float: right;
                    color: #e60f0f;
                    font-size: 16px;
                }
            }
        }
    }

}




/* tablet  */

@media only screen and (min-width: 481px) and (max-width: 768px) {

    #top1 {
        .l-card {
            width: 98%;
            .l-thumbnail {
                width: 60%;
                float: left;
                margin-right: 10px;
            }
            .text-content {
                width: 35%;
                float: right;
                padding: 16px 16px 16px 0;
                .caption {
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 6;
                }
            }
            .content-meta {
                overflow: hidden;
                font-size: 12px;
                clear: none;
                .shipfree {
                    clear: both;
                    float: right;
                    color: #fff;
                    display: block;
                    text-align: center;
                    padding: 2px 6px;
                    background: #1a0bbf;
                }
                .tdship {
                    float: right;
                    color: #fff;
                    display: block;
                    text-align: center;
                    padding: 2px 6px;
                    background: #5ab06b;
                }
                .price {
                    float: left;
                    color: #e60f0f;
                    font-size: 16px;
                }
            }
        }
    }

    #under {
        .l-card {
            width: 31.3%;
            /*.rank {
                display: block;
                left: 1%;
                top: 1%;
                font-size: 30px;
                text-align: center;
                line-height: 41px;
                position: absolute;
                color: #ffffff;
                border-radius: 50%;
                width: 43px;
                height: 43px;
                background: #e4690a;
                border: 1px solid #fff;
            }*/
        }
    }
}




/* smartPhone */

@media screen and (max-width: 480px) {
    body{
    h1 {
        height: 140px;
        background-image: url(https://den-tou.com/img/rank_header.jpg);}
    h2{
        font-size:13px;
    }
}
    #top5,
    #top1 {
        .l-card {
            height: auto;
            overflow: inherit;
            width: 97%;
            margin: 10px 1%;
            border: 1px solid #ddd;
        }
    }
    #under {
        .l-card {
            width: 47%;
            /*.rank {
                display: block;
                left: 1%;
                top: 1%;
                font-size: 20px;
                text-align: center;
                position: absolute;
                color: #ffffff;
                border-radius: 50%;
                line-height: 33px;
                width: 33px;
                height: 33px;
                background: #e4690a;
                border: 1px solid #fff;

            }*/
        }
    }
}