/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$arrow-x: 384px;
$arrow-y: 200px;
$arrow-offset-x: -384px;
$arrow-offset-y: -200px;
$arrow-width: 9px;
$arrow-height: 9px;
$arrow-total-width: 464px;
$arrow-total-height: 268px;
$arrow-image: '../img/sprites/spritesheet_leftnav.png';
$arrow: 384px 200px -384px -200px 9px 9px 464px 268px '../img/sprites/spritesheet_leftnav.png';
$btn_contact_hover-x: 158px;
$btn_contact_hover-y: 238px;
$btn_contact_hover-offset-x: -158px;
$btn_contact_hover-offset-y: -238px;
$btn_contact_hover-width: 148px;
$btn_contact_hover-height: 30px;
$btn_contact_hover-total-width: 464px;
$btn_contact_hover-total-height: 268px;
$btn_contact_hover-image: '../img/sprites/spritesheet_leftnav.png';
$btn_contact_hover: 158px 238px -158px -238px 148px 30px 464px 268px '../img/sprites/spritesheet_leftnav.png';
$btn_contact_normal-x: 316px;
$btn_contact_normal-y: 160px;
$btn_contact_normal-offset-x: -316px;
$btn_contact_normal-offset-y: -160px;
$btn_contact_normal-width: 148px;
$btn_contact_normal-height: 30px;
$btn_contact_normal-total-width: 464px;
$btn_contact_normal-total-height: 268px;
$btn_contact_normal-image: '../img/sprites/spritesheet_leftnav.png';
$btn_contact_normal: 316px 160px -316px -160px 148px 30px 464px 268px '../img/sprites/spritesheet_leftnav.png';
$btn_guide_hover-x: 158px;
$btn_guide_hover-y: 80px;
$btn_guide_hover-offset-x: -158px;
$btn_guide_hover-offset-y: -80px;
$btn_guide_hover-width: 148px;
$btn_guide_hover-height: 30px;
$btn_guide_hover-total-width: 464px;
$btn_guide_hover-total-height: 268px;
$btn_guide_hover-image: '../img/sprites/spritesheet_leftnav.png';
$btn_guide_hover: 158px 80px -158px -80px 148px 30px 464px 268px '../img/sprites/spritesheet_leftnav.png';
$btn_guide_normal-x: 0px;
$btn_guide_normal-y: 238px;
$btn_guide_normal-offset-x: 0px;
$btn_guide_normal-offset-y: -238px;
$btn_guide_normal-width: 148px;
$btn_guide_normal-height: 30px;
$btn_guide_normal-total-width: 464px;
$btn_guide_normal-total-height: 268px;
$btn_guide_normal-image: '../img/sprites/spritesheet_leftnav.png';
$btn_guide_normal: 0px 238px 0px -238px 148px 30px 464px 268px '../img/sprites/spritesheet_leftnav.png';
$btn_search_hover-x: 350px;
$btn_search_hover-y: 200px;
$btn_search_hover-offset-x: -350px;
$btn_search_hover-offset-y: -200px;
$btn_search_hover-width: 24px;
$btn_search_hover-height: 24px;
$btn_search_hover-total-width: 464px;
$btn_search_hover-total-height: 268px;
$btn_search_hover-image: '../img/sprites/spritesheet_leftnav.png';
$btn_search_hover: 350px 200px -350px -200px 24px 24px 464px 268px '../img/sprites/spritesheet_leftnav.png';
$btn_search_normal-x: 316px;
$btn_search_normal-y: 200px;
$btn_search_normal-offset-x: -316px;
$btn_search_normal-offset-y: -200px;
$btn_search_normal-width: 24px;
$btn_search_normal-height: 24px;
$btn_search_normal-total-width: 464px;
$btn_search_normal-total-height: 268px;
$btn_search_normal-image: '../img/sprites/spritesheet_leftnav.png';
$btn_search_normal: 316px 200px -316px -200px 24px 24px 464px 268px '../img/sprites/spritesheet_leftnav.png';
$lft_budget-x: 0px;
$lft_budget-y: 158px;
$lft_budget-offset-x: 0px;
$lft_budget-offset-y: -158px;
$lft_budget-width: 148px;
$lft_budget-height: 70px;
$lft_budget-total-width: 464px;
$lft_budget-total-height: 268px;
$lft_budget-image: '../img/sprites/spritesheet_leftnav.png';
$lft_budget: 0px 158px 0px -158px 148px 70px 464px 268px '../img/sprites/spritesheet_leftnav.png';
$lft_calender-x: 158px;
$lft_calender-y: 158px;
$lft_calender-offset-x: -158px;
$lft_calender-offset-y: -158px;
$lft_calender-width: 148px;
$lft_calender-height: 70px;
$lft_calender-total-width: 464px;
$lft_calender-total-height: 268px;
$lft_calender-image: '../img/sprites/spritesheet_leftnav.png';
$lft_calender: 158px 158px -158px -158px 148px 70px 464px 268px '../img/sprites/spritesheet_leftnav.png';
$lft_delivery-x: 0px;
$lft_delivery-y: 0px;
$lft_delivery-offset-x: 0px;
$lft_delivery-offset-y: 0px;
$lft_delivery-width: 148px;
$lft_delivery-height: 148px;
$lft_delivery-total-width: 464px;
$lft_delivery-total-height: 268px;
$lft_delivery-image: '../img/sprites/spritesheet_leftnav.png';
$lft_delivery: 0px 0px 0px 0px 148px 148px 464px 268px '../img/sprites/spritesheet_leftnav.png';
$lft_gift-x: 316px;
$lft_gift-y: 0px;
$lft_gift-offset-x: -316px;
$lft_gift-offset-y: 0px;
$lft_gift-width: 148px;
$lft_gift-height: 70px;
$lft_gift-total-width: 464px;
$lft_gift-total-height: 268px;
$lft_gift-image: '../img/sprites/spritesheet_leftnav.png';
$lft_gift: 316px 0px -316px 0px 148px 70px 464px 268px '../img/sprites/spritesheet_leftnav.png';
$lft_interior-x: 316px;
$lft_interior-y: 80px;
$lft_interior-offset-x: -316px;
$lft_interior-offset-y: -80px;
$lft_interior-width: 148px;
$lft_interior-height: 70px;
$lft_interior-total-width: 464px;
$lft_interior-total-height: 268px;
$lft_interior-image: '../img/sprites/spritesheet_leftnav.png';
$lft_interior: 316px 80px -316px -80px 148px 70px 464px 268px '../img/sprites/spritesheet_leftnav.png';
$lft_kitchen-x: 158px;
$lft_kitchen-y: 0px;
$lft_kitchen-offset-x: -158px;
$lft_kitchen-offset-y: 0px;
$lft_kitchen-width: 148px;
$lft_kitchen-height: 70px;
$lft_kitchen-total-width: 464px;
$lft_kitchen-total-height: 268px;
$lft_kitchen-image: '../img/sprites/spritesheet_leftnav.png';
$lft_kitchen: 158px 0px -158px 0px 148px 70px 464px 268px '../img/sprites/spritesheet_leftnav.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
