@mixin r-sprite-width($sprite,$size) {
  width: nth($sprite, 5)/$size;
}

@mixin r-sprite-height($sprite,$size) {
  height: nth($sprite, 6)/$size;
}

@mixin r-sprite-position($sprite,$size) {
  $sprite-offset-x: nth($sprite, 3)/$size;
  $sprite-offset-y: nth($sprite, 4)/$size;
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin r-sprite-size($sprite,$size) {
  background-size: nth($sprite, 7)/$size nth($sprite, 8)/$size;
}

@mixin r-sprite($sprite,$size) {
  @include sprite-image($sprite);
  @include r-sprite-position($sprite,$size);
  @include r-sprite-width($sprite,$size);
  @include r-sprite-height($sprite,$size);
  @include r-sprite-size($sprite,$size); 
}