/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$brandicon_kutani-x: 654px;
$brandicon_kutani-y: 339px;
$brandicon_kutani-offset-x: -654px;
$brandicon_kutani-offset-y: -339px;
$brandicon_kutani-width: 229px;
$brandicon_kutani-height: 229px;
$brandicon_kutani-total-width: 2334px;
$brandicon_kutani-total-height: 2164px;
$brandicon_kutani-image: '../img/sprites/spritesheet.png';
$brandicon_kutani: 654px 339px -654px -339px 229px 229px 2334px 2164px '../img/sprites/spritesheet.png';
$pc_ip_cartbtn-x: 1927px;
$pc_ip_cartbtn-y: 1967px;
$pc_ip_cartbtn-offset-x: -1927px;
$pc_ip_cartbtn-offset-y: -1967px;
$pc_ip_cartbtn-width: 50px;
$pc_ip_cartbtn-height: 50px;
$pc_ip_cartbtn-total-width: 2334px;
$pc_ip_cartbtn-total-height: 2164px;
$pc_ip_cartbtn-image: '../img/sprites/spritesheet.png';
$pc_ip_cartbtn: 1927px 1967px -1927px -1967px 50px 50px 2334px 2164px '../img/sprites/spritesheet.png';
$pc_ip_cartbtn_on-x: 1867px;
$pc_ip_cartbtn_on-y: 1967px;
$pc_ip_cartbtn_on-offset-x: -1867px;
$pc_ip_cartbtn_on-offset-y: -1967px;
$pc_ip_cartbtn_on-width: 50px;
$pc_ip_cartbtn_on-height: 50px;
$pc_ip_cartbtn_on-total-width: 2334px;
$pc_ip_cartbtn_on-total-height: 2164px;
$pc_ip_cartbtn_on-image: '../img/sprites/spritesheet.png';
$pc_ip_cartbtn_on: 1867px 1967px -1867px -1967px 50px 50px 2334px 2164px '../img/sprites/spritesheet.png';
$review_star01-x: 518px;
$review_star01-y: 2124px;
$review_star01-offset-x: -518px;
$review_star01-offset-y: -2124px;
$review_star01-width: 249px;
$review_star01-height: 40px;
$review_star01-total-width: 2334px;
$review_star01-total-height: 2164px;
$review_star01-image: '../img/sprites/spritesheet.png';
$review_star01: 518px 2124px -518px -2124px 249px 40px 2334px 2164px '../img/sprites/spritesheet.png';
$review_star02-x: 259px;
$review_star02-y: 2124px;
$review_star02-offset-x: -259px;
$review_star02-offset-y: -2124px;
$review_star02-width: 249px;
$review_star02-height: 40px;
$review_star02-total-width: 2334px;
$review_star02-total-height: 2164px;
$review_star02-image: '../img/sprites/spritesheet.png';
$review_star02: 259px 2124px -259px -2124px 249px 40px 2334px 2164px '../img/sprites/spritesheet.png';
$review_star03-x: 0px;
$review_star03-y: 2124px;
$review_star03-offset-x: 0px;
$review_star03-offset-y: -2124px;
$review_star03-width: 249px;
$review_star03-height: 40px;
$review_star03-total-width: 2334px;
$review_star03-total-height: 2164px;
$review_star03-image: '../img/sprites/spritesheet.png';
$review_star03: 0px 2124px 0px -2124px 249px 40px 2334px 2164px '../img/sprites/spritesheet.png';
$review_star04-x: 2071px;
$review_star04-y: 1967px;
$review_star04-offset-x: -2071px;
$review_star04-offset-y: -1967px;
$review_star04-width: 249px;
$review_star04-height: 40px;
$review_star04-total-width: 2334px;
$review_star04-total-height: 2164px;
$review_star04-image: '../img/sprites/spritesheet.png';
$review_star04: 2071px 1967px -2071px -1967px 249px 40px 2334px 2164px '../img/sprites/spritesheet.png';
$review_star05-x: 777px;
$review_star05-y: 2124px;
$review_star05-offset-x: -777px;
$review_star05-offset-y: -2124px;
$review_star05-width: 249px;
$review_star05-height: 39px;
$review_star05-total-width: 2334px;
$review_star05-total-height: 2164px;
$review_star05-image: '../img/sprites/spritesheet.png';
$review_star05: 777px 2124px -777px -2124px 249px 39px 2334px 2164px '../img/sprites/spritesheet.png';
$reviw_chara_01-x: 1954px;
$reviw_chara_01-y: 234px;
$reviw_chara_01-offset-x: -1954px;
$reviw_chara_01-offset-y: -234px;
$reviw_chara_01-width: 147px;
$reviw_chara_01-height: 192px;
$reviw_chara_01-total-width: 2334px;
$reviw_chara_01-total-height: 2164px;
$reviw_chara_01-image: '../img/sprites/spritesheet.png';
$reviw_chara_01: 1954px 234px -1954px -234px 147px 192px 2334px 2164px '../img/sprites/spritesheet.png';
$reviw_chara_02-x: 1497px;
$reviw_chara_02-y: 234px;
$reviw_chara_02-offset-x: -1497px;
$reviw_chara_02-offset-y: -234px;
$reviw_chara_02-width: 154px;
$reviw_chara_02-height: 193px;
$reviw_chara_02-total-width: 2334px;
$reviw_chara_02-total-height: 2164px;
$reviw_chara_02-image: '../img/sprites/spritesheet.png';
$reviw_chara_02: 1497px 234px -1497px -234px 154px 193px 2334px 2164px '../img/sprites/spritesheet.png';
$reviw_chara_03-x: 1793px;
$reviw_chara_03-y: 234px;
$reviw_chara_03-offset-x: -1793px;
$reviw_chara_03-offset-y: -234px;
$reviw_chara_03-width: 151px;
$reviw_chara_03-height: 192px;
$reviw_chara_03-total-width: 2334px;
$reviw_chara_03-total-height: 2164px;
$reviw_chara_03-image: '../img/sprites/spritesheet.png';
$reviw_chara_03: 1793px 234px -1793px -234px 151px 192px 2334px 2164px '../img/sprites/spritesheet.png';
$reviw_chara_04-x: 1172px;
$reviw_chara_04-y: 234px;
$reviw_chara_04-offset-x: -1172px;
$reviw_chara_04-offset-y: -234px;
$reviw_chara_04-width: 170px;
$reviw_chara_04-height: 194px;
$reviw_chara_04-total-width: 2334px;
$reviw_chara_04-total-height: 2164px;
$reviw_chara_04-image: '../img/sprites/spritesheet.png';
$reviw_chara_04: 1172px 234px -1172px -234px 170px 194px 2334px 2164px '../img/sprites/spritesheet.png';
$reviw_chara_05-x: 1661px;
$reviw_chara_05-y: 234px;
$reviw_chara_05-offset-x: -1661px;
$reviw_chara_05-offset-y: -234px;
$reviw_chara_05-width: 122px;
$reviw_chara_05-height: 193px;
$reviw_chara_05-total-width: 2334px;
$reviw_chara_05-total-height: 2164px;
$reviw_chara_05-image: '../img/sprites/spritesheet.png';
$reviw_chara_05: 1661px 234px -1661px -234px 122px 193px 2334px 2164px '../img/sprites/spritesheet.png';
$reviw_chara_06-x: 1172px;
$reviw_chara_06-y: 438px;
$reviw_chara_06-offset-x: -1172px;
$reviw_chara_06-offset-y: -438px;
$reviw_chara_06-width: 189px;
$reviw_chara_06-height: 190px;
$reviw_chara_06-total-width: 2334px;
$reviw_chara_06-total-height: 2164px;
$reviw_chara_06-image: '../img/sprites/spritesheet.png';
$reviw_chara_06: 1172px 438px -1172px -438px 189px 190px 2334px 2164px '../img/sprites/spritesheet.png';
$reviw_chara_07-x: 2111px;
$reviw_chara_07-y: 234px;
$reviw_chara_07-offset-x: -2111px;
$reviw_chara_07-offset-y: -234px;
$reviw_chara_07-width: 151px;
$reviw_chara_07-height: 191px;
$reviw_chara_07-total-width: 2334px;
$reviw_chara_07-total-height: 2164px;
$reviw_chara_07-image: '../img/sprites/spritesheet.png';
$reviw_chara_07: 2111px 234px -2111px -234px 151px 191px 2334px 2164px '../img/sprites/spritesheet.png';
$reviw_chara_08-x: 1352px;
$reviw_chara_08-y: 234px;
$reviw_chara_08-offset-x: -1352px;
$reviw_chara_08-offset-y: -234px;
$reviw_chara_08-width: 135px;
$reviw_chara_08-height: 193px;
$reviw_chara_08-total-width: 2334px;
$reviw_chara_08-total-height: 2164px;
$reviw_chara_08-image: '../img/sprites/spritesheet.png';
$reviw_chara_08: 1352px 234px -1352px -234px 135px 193px 2334px 2164px '../img/sprites/spritesheet.png';
$reviw_chara_09-x: 1371px;
$reviw_chara_09-y: 438px;
$reviw_chara_09-offset-x: -1371px;
$reviw_chara_09-offset-y: -438px;
$reviw_chara_09-width: 142px;
$reviw_chara_09-height: 190px;
$reviw_chara_09-total-width: 2334px;
$reviw_chara_09-total-height: 2164px;
$reviw_chara_09-image: '../img/sprites/spritesheet.png';
$reviw_chara_09: 1371px 438px -1371px -438px 142px 190px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ftr_budget-x: 936px;
$sp_ftr_budget-y: 1616px;
$sp_ftr_budget-offset-x: -936px;
$sp_ftr_budget-offset-y: -1616px;
$sp_ftr_budget-width: 697px;
$sp_ftr_budget-height: 80px;
$sp_ftr_budget-total-width: 2334px;
$sp_ftr_budget-total-height: 2164px;
$sp_ftr_budget-image: '../img/sprites/spritesheet.png';
$sp_ftr_budget: 936px 1616px -936px -1616px 697px 80px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ftr_call-x: 327px;
$sp_ftr_call-y: 339px;
$sp_ftr_call-offset-x: -327px;
$sp_ftr_call-offset-y: -339px;
$sp_ftr_call-width: 317px;
$sp_ftr_call-height: 317px;
$sp_ftr_call-total-width: 2334px;
$sp_ftr_call-total-height: 2164px;
$sp_ftr_call-image: '../img/sprites/spritesheet.png';
$sp_ftr_call: 327px 339px -327px -339px 317px 317px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ftr_category-x: 0px;
$sp_ftr_category-y: 1616px;
$sp_ftr_category-offset-x: 0px;
$sp_ftr_category-offset-y: -1616px;
$sp_ftr_category-width: 926px;
$sp_ftr_category-height: 81px;
$sp_ftr_category-total-width: 2334px;
$sp_ftr_category-total-height: 2164px;
$sp_ftr_category-image: '../img/sprites/spritesheet.png';
$sp_ftr_category: 0px 1616px 0px -1616px 926px 81px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ftr_contact-x: 1484px;
$sp_ftr_contact-y: 2046px;
$sp_ftr_contact-offset-x: -1484px;
$sp_ftr_contact-offset-y: -2046px;
$sp_ftr_contact-width: 665px;
$sp_ftr_contact-height: 57px;
$sp_ftr_contact-total-width: 2334px;
$sp_ftr_contact-total-height: 2164px;
$sp_ftr_contact-image: '../img/sprites/spritesheet.png';
$sp_ftr_contact: 1484px 2046px -1484px -2046px 665px 57px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ftr_event-x: 0px;
$sp_ftr_event-y: 2046px;
$sp_ftr_event-offset-x: 0px;
$sp_ftr_event-offset-y: -2046px;
$sp_ftr_event-width: 734px;
$sp_ftr_event-height: 68px;
$sp_ftr_event-total-width: 2334px;
$sp_ftr_event-total-height: 2164px;
$sp_ftr_event-image: '../img/sprites/spritesheet.png';
$sp_ftr_event: 0px 2046px 0px -2046px 734px 68px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ftr_info-x: 896px;
$sp_ftr_info-y: 1882px;
$sp_ftr_info-offset-x: -896px;
$sp_ftr_info-offset-y: -1882px;
$sp_ftr_info-width: 782px;
$sp_ftr_info-height: 70px;
$sp_ftr_info-total-width: 2334px;
$sp_ftr_info-total-height: 2164px;
$sp_ftr_info-image: '../img/sprites/spritesheet.png';
$sp_ftr_info: 896px 1882px -896px -1882px 782px 70px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ftr_mail-x: 0px;
$sp_ftr_mail-y: 339px;
$sp_ftr_mail-offset-x: 0px;
$sp_ftr_mail-offset-y: -339px;
$sp_ftr_mail-width: 317px;
$sp_ftr_mail-height: 317px;
$sp_ftr_mail-total-width: 2334px;
$sp_ftr_mail-total-height: 2164px;
$sp_ftr_mail-image: '../img/sprites/spritesheet.png';
$sp_ftr_mail: 0px 339px 0px -339px 317px 317px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ftr_menu_annivers-x: 2256px;
$sp_ftr_menu_annivers-y: 1480px;
$sp_ftr_menu_annivers-offset-x: -2256px;
$sp_ftr_menu_annivers-offset-y: -1480px;
$sp_ftr_menu_annivers-width: 71px;
$sp_ftr_menu_annivers-height: 54px;
$sp_ftr_menu_annivers-total-width: 2334px;
$sp_ftr_menu_annivers-total-height: 2164px;
$sp_ftr_menu_annivers-image: '../img/sprites/spritesheet.png';
$sp_ftr_menu_annivers: 2256px 1480px -2256px -1480px 71px 54px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ftr_menu_baby-x: 2154px;
$sp_ftr_menu_baby-y: 1796px;
$sp_ftr_menu_baby-offset-x: -2154px;
$sp_ftr_menu_baby-offset-y: -1796px;
$sp_ftr_menu_baby-width: 62px;
$sp_ftr_menu_baby-height: 53px;
$sp_ftr_menu_baby-total-width: 2334px;
$sp_ftr_menu_baby-total-height: 2164px;
$sp_ftr_menu_baby-image: '../img/sprites/spritesheet.png';
$sp_ftr_menu_baby: 2154px 1796px -2154px -1796px 62px 53px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ftr_menu_birth-x: 2272px;
$sp_ftr_menu_birth-y: 299px;
$sp_ftr_menu_birth-offset-x: -2272px;
$sp_ftr_menu_birth-offset-y: -299px;
$sp_ftr_menu_birth-width: 47px;
$sp_ftr_menu_birth-height: 53px;
$sp_ftr_menu_birth-total-width: 2334px;
$sp_ftr_menu_birth-total-height: 2164px;
$sp_ftr_menu_birth-image: '../img/sprites/spritesheet.png';
$sp_ftr_menu_birth: 2272px 299px -2272px -299px 47px 53px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ftr_menu_build-x: 2272px;
$sp_ftr_menu_build-y: 362px;
$sp_ftr_menu_build-offset-x: -2272px;
$sp_ftr_menu_build-offset-y: -362px;
$sp_ftr_menu_build-width: 53px;
$sp_ftr_menu_build-height: 53px;
$sp_ftr_menu_build-total-width: 2334px;
$sp_ftr_menu_build-total-height: 2164px;
$sp_ftr_menu_build-image: '../img/sprites/spritesheet.png';
$sp_ftr_menu_build: 2272px 362px -2272px -362px 53px 53px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ftr_menu_celeb-x: 2253px;
$sp_ftr_menu_celeb-y: 1616px;
$sp_ftr_menu_celeb-offset-x: -2253px;
$sp_ftr_menu_celeb-offset-y: -1616px;
$sp_ftr_menu_celeb-width: 50px;
$sp_ftr_menu_celeb-height: 53px;
$sp_ftr_menu_celeb-total-width: 2334px;
$sp_ftr_menu_celeb-total-height: 2164px;
$sp_ftr_menu_celeb-image: '../img/sprites/spritesheet.png';
$sp_ftr_menu_celeb: 2253px 1616px -2253px -1616px 50px 53px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ftr_menu_company-x: 2272px;
$sp_ftr_menu_company-y: 234px;
$sp_ftr_menu_company-offset-x: -2272px;
$sp_ftr_menu_company-offset-y: -234px;
$sp_ftr_menu_company-width: 31px;
$sp_ftr_menu_company-height: 55px;
$sp_ftr_menu_company-total-width: 2334px;
$sp_ftr_menu_company-total-height: 2164px;
$sp_ftr_menu_company-image: '../img/sprites/spritesheet.png';
$sp_ftr_menu_company: 2272px 234px -2272px -234px 31px 55px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ftr_menu_gold-x: 2256px;
$sp_ftr_menu_gold-y: 1544px;
$sp_ftr_menu_gold-offset-x: -2256px;
$sp_ftr_menu_gold-offset-y: -1544px;
$sp_ftr_menu_gold-width: 49px;
$sp_ftr_menu_gold-height: 48px;
$sp_ftr_menu_gold-total-width: 2334px;
$sp_ftr_menu_gold-total-height: 2164px;
$sp_ftr_menu_gold-image: '../img/sprites/spritesheet.png';
$sp_ftr_menu_gold: 2256px 1544px -2256px -1544px 49px 48px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ftr_menu_married-x: 2260px;
$sp_ftr_menu_married-y: 1707px;
$sp_ftr_menu_married-offset-x: -2260px;
$sp_ftr_menu_married-offset-y: -1707px;
$sp_ftr_menu_married-width: 59px;
$sp_ftr_menu_married-height: 53px;
$sp_ftr_menu_married-total-width: 2334px;
$sp_ftr_menu_married-total-height: 2164px;
$sp_ftr_menu_married-image: '../img/sprites/spritesheet.png';
$sp_ftr_menu_married: 2260px 1707px -2260px -1707px 59px 53px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ftr_menu_old-x: 2291px;
$sp_ftr_menu_old-y: 984px;
$sp_ftr_menu_old-offset-x: -2291px;
$sp_ftr_menu_old-offset-y: -984px;
$sp_ftr_menu_old-width: 32px;
$sp_ftr_menu_old-height: 53px;
$sp_ftr_menu_old-total-width: 2334px;
$sp_ftr_menu_old-total-height: 2164px;
$sp_ftr_menu_old-image: '../img/sprites/spritesheet.png';
$sp_ftr_menu_old: 2291px 984px -2291px -984px 32px 53px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ftr_menu_retire-x: 2226px;
$sp_ftr_menu_retire-y: 1796px;
$sp_ftr_menu_retire-offset-x: -2226px;
$sp_ftr_menu_retire-offset-y: -1796px;
$sp_ftr_menu_retire-width: 74px;
$sp_ftr_menu_retire-height: 51px;
$sp_ftr_menu_retire-total-width: 2334px;
$sp_ftr_menu_retire-total-height: 2164px;
$sp_ftr_menu_retire-image: '../img/sprites/spritesheet.png';
$sp_ftr_menu_retire: 2226px 1796px -2226px -1796px 74px 51px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ftr_menu_wedding-x: 1987px;
$sp_ftr_menu_wedding-y: 1967px;
$sp_ftr_menu_wedding-offset-x: -1987px;
$sp_ftr_menu_wedding-offset-y: -1967px;
$sp_ftr_menu_wedding-width: 74px;
$sp_ftr_menu_wedding-height: 47px;
$sp_ftr_menu_wedding-total-width: 2334px;
$sp_ftr_menu_wedding-total-height: 2164px;
$sp_ftr_menu_wedding-image: '../img/sprites/spritesheet.png';
$sp_ftr_menu_wedding: 1987px 1967px -1987px -1967px 74px 47px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ftr_pickupevent-x: 0px;
$sp_ftr_pickupevent-y: 1796px;
$sp_ftr_pickupevent-offset-x: 0px;
$sp_ftr_pickupevent-offset-y: -1796px;
$sp_ftr_pickupevent-width: 736px;
$sp_ftr_pickupevent-height: 76px;
$sp_ftr_pickupevent-total-width: 2334px;
$sp_ftr_pickupevent-total-height: 2164px;
$sp_ftr_pickupevent-image: '../img/sprites/spritesheet.png';
$sp_ftr_pickupevent: 0px 1796px 0px -1796px 736px 76px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ftr_popular-x: 0px;
$sp_ftr_popular-y: 1707px;
$sp_ftr_popular-offset-x: 0px;
$sp_ftr_popular-offset-y: -1707px;
$sp_ftr_popular-width: 849px;
$sp_ftr_popular-height: 79px;
$sp_ftr_popular-total-width: 2334px;
$sp_ftr_popular-total-height: 2164px;
$sp_ftr_popular-image: '../img/sprites/spritesheet.png';
$sp_ftr_popular: 0px 1707px 0px -1707px 849px 79px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_hdr_icon_search-x: 2134px;
$sp_hdr_icon_search-y: 1480px;
$sp_hdr_icon_search-offset-x: -2134px;
$sp_hdr_icon_search-offset-y: -1480px;
$sp_hdr_icon_search-width: 112px;
$sp_hdr_icon_search-height: 112px;
$sp_hdr_icon_search-total-width: 2334px;
$sp_hdr_icon_search-total-height: 2164px;
$sp_hdr_icon_search-image: '../img/sprites/spritesheet.png';
$sp_hdr_icon_search: 2134px 1480px -2134px -1480px 112px 112px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_hdr_logo-x: 1172px;
$sp_hdr_logo-y: 984px;
$sp_hdr_logo-offset-x: -1172px;
$sp_hdr_logo-offset-y: -984px;
$sp_hdr_logo-width: 834px;
$sp_hdr_logo-height: 137px;
$sp_hdr_logo-total-width: 2334px;
$sp_hdr_logo-total-height: 2164px;
$sp_hdr_logo-image: '../img/sprites/spritesheet.png';
$sp_hdr_logo: 1172px 984px -1172px -984px 834px 137px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_hdr_menu_cart-x: 2016px;
$sp_hdr_menu_cart-y: 984px;
$sp_hdr_menu_cart-offset-x: -2016px;
$sp_hdr_menu_cart-offset-y: -984px;
$sp_hdr_menu_cart-width: 105px;
$sp_hdr_menu_cart-height: 129px;
$sp_hdr_menu_cart-total-width: 2334px;
$sp_hdr_menu_cart-total-height: 2164px;
$sp_hdr_menu_cart-image: '../img/sprites/spritesheet.png';
$sp_hdr_menu_cart: 2016px 984px -2016px -984px 105px 129px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_hdr_menu_favorite-x: 2118px;
$sp_hdr_menu_favorite-y: 438px;
$sp_hdr_menu_favorite-offset-x: -2118px;
$sp_hdr_menu_favorite-offset-y: -438px;
$sp_hdr_menu_favorite-width: 188px;
$sp_hdr_menu_favorite-height: 129px;
$sp_hdr_menu_favorite-total-width: 2334px;
$sp_hdr_menu_favorite-total-height: 2164px;
$sp_hdr_menu_favorite-image: '../img/sprites/spritesheet.png';
$sp_hdr_menu_favorite: 2118px 438px -2118px -438px 188px 129px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_hdr_menu_login-x: 2131px;
$sp_hdr_menu_login-y: 984px;
$sp_hdr_menu_login-offset-x: -2131px;
$sp_hdr_menu_login-offset-y: -984px;
$sp_hdr_menu_login-width: 150px;
$sp_hdr_menu_login-height: 128px;
$sp_hdr_menu_login-total-width: 2334px;
$sp_hdr_menu_login-total-height: 2164px;
$sp_hdr_menu_login-image: '../img/sprites/spritesheet.png';
$sp_hdr_menu_login: 2131px 984px -2131px -984px 150px 128px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_hdr_menu_menu-x: 893px;
$sp_hdr_menu_menu-y: 339px;
$sp_hdr_menu_menu-offset-x: -893px;
$sp_hdr_menu_menu-offset-y: -339px;
$sp_hdr_menu_menu-width: 150px;
$sp_hdr_menu_menu-height: 127px;
$sp_hdr_menu_menu-total-width: 2334px;
$sp_hdr_menu_menu-total-height: 2164px;
$sp_hdr_menu_menu-image: '../img/sprites/spritesheet.png';
$sp_hdr_menu_menu: 893px 339px -893px -339px 150px 127px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_hdr_menu_search-x: 2027px;
$sp_hdr_menu_search-y: 438px;
$sp_hdr_menu_search-offset-x: -2027px;
$sp_hdr_menu_search-offset-y: -438px;
$sp_hdr_menu_search-width: 81px;
$sp_hdr_menu_search-height: 130px;
$sp_hdr_menu_search-total-width: 2334px;
$sp_hdr_menu_search-total-height: 2164px;
$sp_hdr_menu_search-image: '../img/sprites/spritesheet.png';
$sp_hdr_menu_search: 2027px 438px -2027px -438px 81px 130px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ip_brand-x: 0px;
$sp_ip_brand-y: 1480px;
$sp_ip_brand-offset-x: 0px;
$sp_ip_brand-offset-y: -1480px;
$sp_ip_brand-width: 824px;
$sp_ip_brand-height: 126px;
$sp_ip_brand-total-width: 2334px;
$sp_ip_brand-total-height: 2164px;
$sp_ip_brand-image: '../img/sprites/spritesheet.png';
$sp_ip_brand: 0px 1480px 0px -1480px 824px 126px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ip_careful-x: 893px;
$sp_ip_careful-y: 476px;
$sp_ip_careful-offset-x: -893px;
$sp_ip_careful-offset-y: -476px;
$sp_ip_careful-width: 107px;
$sp_ip_careful-height: 91px;
$sp_ip_careful-total-width: 2334px;
$sp_ip_careful-total-height: 2164px;
$sp_ip_careful-image: '../img/sprites/spritesheet.png';
$sp_ip_careful: 893px 476px -893px -476px 107px 91px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ip_cart-x: 0px;
$sp_ip_cart-y: 666px;
$sp_ip_cart-offset-x: 0px;
$sp_ip_cart-offset-y: -666px;
$sp_ip_cart-width: 1162px;
$sp_ip_cart-height: 224px;
$sp_ip_cart-total-width: 2334px;
$sp_ip_cart-total-height: 2164px;
$sp_ip_cart-image: '../img/sprites/spritesheet.png';
$sp_ip_cart: 0px 666px 0px -666px 1162px 224px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ip_cart_on-x: 0px;
$sp_ip_cart_on-y: 900px;
$sp_ip_cart_on-offset-x: 0px;
$sp_ip_cart_on-offset-y: -900px;
$sp_ip_cart_on-width: 1162px;
$sp_ip_cart_on-height: 224px;
$sp_ip_cart_on-total-width: 2334px;
$sp_ip_cart_on-total-height: 2164px;
$sp_ip_cart_on-image: '../img/sprites/spritesheet.png';
$sp_ip_cart_on: 0px 900px 0px -900px 1162px 224px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ip_cart_soldput-x: 1172px;
$sp_ip_cart_soldput-y: 0px;
$sp_ip_cart_soldput-offset-x: -1172px;
$sp_ip_cart_soldput-offset-y: 0px;
$sp_ip_cart_soldput-width: 1162px;
$sp_ip_cart_soldput-height: 224px;
$sp_ip_cart_soldput-total-width: 2334px;
$sp_ip_cart_soldput-total-height: 2164px;
$sp_ip_cart_soldput-image: '../img/sprites/spritesheet.png';
$sp_ip_cart_soldput: 1172px 0px -1172px 0px 1162px 224px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ip_caterank-x: 859px;
$sp_ip_caterank-y: 1707px;
$sp_ip_caterank-offset-x: -859px;
$sp_ip_caterank-offset-y: -1707px;
$sp_ip_caterank-width: 1149px;
$sp_ip_caterank-height: 78px;
$sp_ip_caterank-total-width: 2334px;
$sp_ip_caterank-total-height: 2164px;
$sp_ip_caterank-image: '../img/sprites/spritesheet.png';
$sp_ip_caterank: 859px 1707px -859px -1707px 1149px 78px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ip_contact-x: 1172px;
$sp_ip_contact-y: 638px;
$sp_ip_contact-offset-x: -1172px;
$sp_ip_contact-offset-y: -638px;
$sp_ip_contact-width: 1162px;
$sp_ip_contact-height: 163px;
$sp_ip_contact-total-width: 2334px;
$sp_ip_contact-total-height: 2164px;
$sp_ip_contact-image: '../img/sprites/spritesheet.png';
$sp_ip_contact: 1172px 638px -1172px -638px 1162px 163px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ip_delivery-x: 0px;
$sp_ip_delivery-y: 1882px;
$sp_ip_delivery-offset-x: 0px;
$sp_ip_delivery-offset-y: -1882px;
$sp_ip_delivery-width: 886px;
$sp_ip_delivery-height: 75px;
$sp_ip_delivery-total-width: 2334px;
$sp_ip_delivery-total-height: 2164px;
$sp_ip_delivery-image: '../img/sprites/spritesheet.png';
$sp_ip_delivery: 0px 1882px 0px -1882px 886px 75px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ip_favorite-x: 0px;
$sp_ip_favorite-y: 1134px;
$sp_ip_favorite-offset-x: 0px;
$sp_ip_favorite-offset-y: -1134px;
$sp_ip_favorite-width: 1162px;
$sp_ip_favorite-height: 163px;
$sp_ip_favorite-total-width: 2334px;
$sp_ip_favorite-total-height: 2164px;
$sp_ip_favorite-image: '../img/sprites/spritesheet.png';
$sp_ip_favorite: 0px 1134px 0px -1134px 1162px 163px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ip_favorite_hv-x: 0px;
$sp_ip_favorite_hv-y: 1307px;
$sp_ip_favorite_hv-offset-x: 0px;
$sp_ip_favorite_hv-offset-y: -1307px;
$sp_ip_favorite_hv-width: 1162px;
$sp_ip_favorite_hv-height: 163px;
$sp_ip_favorite_hv-total-width: 2334px;
$sp_ip_favorite_hv-total-height: 2164px;
$sp_ip_favorite_hv-image: '../img/sprites/spritesheet.png';
$sp_ip_favorite_hv: 0px 1307px 0px -1307px 1162px 163px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ip_favorite_on-x: 1172px;
$sp_ip_favorite_on-y: 811px;
$sp_ip_favorite_on-offset-x: -1172px;
$sp_ip_favorite_on-offset-y: -811px;
$sp_ip_favorite_on-width: 1162px;
$sp_ip_favorite_on-height: 163px;
$sp_ip_favorite_on-total-width: 2334px;
$sp_ip_favorite_on-total-height: 2164px;
$sp_ip_favorite_on-image: '../img/sprites/spritesheet.png';
$sp_ip_favorite_on: 1172px 811px -1172px -811px 1162px 163px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ip_fb-x: 1859px;
$sp_ip_fb-y: 438px;
$sp_ip_fb-offset-x: -1859px;
$sp_ip_fb-offset-y: -438px;
$sp_ip_fb-width: 158px;
$sp_ip_fb-height: 158px;
$sp_ip_fb-total-width: 2334px;
$sp_ip_fb-total-height: 2164px;
$sp_ip_fb-image: '../img/sprites/spritesheet.png';
$sp_ip_fb: 1859px 438px -1859px -438px 158px 158px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ip_gift-x: 0px;
$sp_ip_gift-y: 0px;
$sp_ip_gift-offset-x: 0px;
$sp_ip_gift-offset-y: 0px;
$sp_ip_gift-width: 1162px;
$sp_ip_gift-height: 329px;
$sp_ip_gift-total-width: 2334px;
$sp_ip_gift-total-height: 2164px;
$sp_ip_gift-image: '../img/sprites/spritesheet.png';
$sp_ip_gift: 0px 0px 0px 0px 1162px 329px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ip_gift_on-x: 1172px;
$sp_ip_gift_on-y: 1134px;
$sp_ip_gift_on-offset-x: -1172px;
$sp_ip_gift_on-offset-y: -1134px;
$sp_ip_gift_on-width: 1162px;
$sp_ip_gift_on-height: 163px;
$sp_ip_gift_on-total-width: 2334px;
$sp_ip_gift_on-total-height: 2164px;
$sp_ip_gift_on-image: '../img/sprites/spritesheet.png';
$sp_ip_gift_on: 1172px 1134px -1172px -1134px 1162px 163px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ip_gifticon_card-x: 1688px;
$sp_ip_gifticon_card-y: 1882px;
$sp_ip_gifticon_card-offset-x: -1688px;
$sp_ip_gifticon_card-offset-y: -1882px;
$sp_ip_gifticon_card-width: 303px;
$sp_ip_gifticon_card-height: 69px;
$sp_ip_gifticon_card-total-width: 2334px;
$sp_ip_gifticon_card-total-height: 2164px;
$sp_ip_gifticon_card-image: '../img/sprites/spritesheet.png';
$sp_ip_gifticon_card: 1688px 1882px -1688px -1882px 303px 69px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ip_gifticon_delivery-x: 2001px;
$sp_ip_gifticon_delivery-y: 1882px;
$sp_ip_gifticon_delivery-offset-x: -2001px;
$sp_ip_gifticon_delivery-offset-y: -1882px;
$sp_ip_gifticon_delivery-width: 303px;
$sp_ip_gifticon_delivery-height: 69px;
$sp_ip_gifticon_delivery-total-width: 2334px;
$sp_ip_gifticon_delivery-total-height: 2164px;
$sp_ip_gifticon_delivery-image: '../img/sprites/spritesheet.png';
$sp_ip_gifticon_delivery: 2001px 1882px -2001px -1882px 303px 69px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ip_gifticon_early-x: 928px;
$sp_ip_gifticon_early-y: 1967px;
$sp_ip_gifticon_early-offset-x: -928px;
$sp_ip_gifticon_early-offset-y: -1967px;
$sp_ip_gifticon_early-width: 303px;
$sp_ip_gifticon_early-height: 69px;
$sp_ip_gifticon_early-total-width: 2334px;
$sp_ip_gifticon_early-total-height: 2164px;
$sp_ip_gifticon_early-image: '../img/sprites/spritesheet.png';
$sp_ip_gifticon_early: 928px 1967px -928px -1967px 303px 69px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ip_gifticon_name-x: 1241px;
$sp_ip_gifticon_name-y: 1967px;
$sp_ip_gifticon_name-offset-x: -1241px;
$sp_ip_gifticon_name-offset-y: -1967px;
$sp_ip_gifticon_name-width: 303px;
$sp_ip_gifticon_name-height: 69px;
$sp_ip_gifticon_name-total-width: 2334px;
$sp_ip_gifticon_name-total-height: 2164px;
$sp_ip_gifticon_name-image: '../img/sprites/spritesheet.png';
$sp_ip_gifticon_name: 1241px 1967px -1241px -1967px 303px 69px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ip_gifticon_noshi-x: 1554px;
$sp_ip_gifticon_noshi-y: 1967px;
$sp_ip_gifticon_noshi-offset-x: -1554px;
$sp_ip_gifticon_noshi-offset-y: -1967px;
$sp_ip_gifticon_noshi-width: 303px;
$sp_ip_gifticon_noshi-height: 69px;
$sp_ip_gifticon_noshi-total-width: 2334px;
$sp_ip_gifticon_noshi-total-height: 2164px;
$sp_ip_gifticon_noshi-image: '../img/sprites/spritesheet.png';
$sp_ip_gifticon_noshi: 1554px 1967px -1554px -1967px 303px 69px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ip_gifticon_wrap-x: 1841px;
$sp_ip_gifticon_wrap-y: 1796px;
$sp_ip_gifticon_wrap-offset-x: -1841px;
$sp_ip_gifticon_wrap-offset-y: -1796px;
$sp_ip_gifticon_wrap-width: 303px;
$sp_ip_gifticon_wrap-height: 69px;
$sp_ip_gifticon_wrap-total-width: 2334px;
$sp_ip_gifticon_wrap-total-height: 2164px;
$sp_ip_gifticon_wrap-image: '../img/sprites/spritesheet.png';
$sp_ip_gifticon_wrap: 1841px 1796px -1841px -1796px 303px 69px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ip_giftservice-x: 0px;
$sp_ip_giftservice-y: 1967px;
$sp_ip_giftservice-offset-x: 0px;
$sp_ip_giftservice-offset-y: -1967px;
$sp_ip_giftservice-width: 918px;
$sp_ip_giftservice-height: 69px;
$sp_ip_giftservice-total-width: 2334px;
$sp_ip_giftservice-total-height: 2164px;
$sp_ip_giftservice-image: '../img/sprites/spritesheet.png';
$sp_ip_giftservice: 0px 1967px 0px -1967px 918px 69px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ip_info-x: 744px;
$sp_ip_info-y: 2046px;
$sp_ip_info-offset-x: -744px;
$sp_ip_info-offset-y: -2046px;
$sp_ip_info-width: 730px;
$sp_ip_info-height: 58px;
$sp_ip_info-total-width: 2334px;
$sp_ip_info-total-height: 2164px;
$sp_ip_info-image: '../img/sprites/spritesheet.png';
$sp_ip_info: 744px 2046px -744px -2046px 730px 58px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ip_line-x: 1691px;
$sp_ip_line-y: 438px;
$sp_ip_line-offset-x: -1691px;
$sp_ip_line-offset-y: -438px;
$sp_ip_line-width: 158px;
$sp_ip_line-height: 158px;
$sp_ip_line-total-width: 2334px;
$sp_ip_line-total-height: 2164px;
$sp_ip_line-image: '../img/sprites/spritesheet.png';
$sp_ip_line: 1691px 438px -1691px -438px 158px 158px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ip_pay_american-x: 1599px;
$sp_ip_pay_american-y: 1796px;
$sp_ip_pay_american-offset-x: -1599px;
$sp_ip_pay_american-offset-y: -1796px;
$sp_ip_pay_american-width: 111px;
$sp_ip_pay_american-height: 72px;
$sp_ip_pay_american-total-width: 2334px;
$sp_ip_pay_american-total-height: 2164px;
$sp_ip_pay_american-image: '../img/sprites/spritesheet.png';
$sp_ip_pay_american: 1599px 1796px -1599px -1796px 111px 72px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ip_pay_atm-x: 654px;
$sp_ip_pay_atm-y: 578px;
$sp_ip_pay_atm-offset-x: -654px;
$sp_ip_pay_atm-offset-y: -578px;
$sp_ip_pay_atm-width: 112px;
$sp_ip_pay_atm-height: 73px;
$sp_ip_pay_atm-total-width: 2334px;
$sp_ip_pay_atm-total-height: 2164px;
$sp_ip_pay_atm-image: '../img/sprites/spritesheet.png';
$sp_ip_pay_atm: 654px 578px -654px -578px 112px 73px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ip_pay_bank-x: 1010px;
$sp_ip_pay_bank-y: 476px;
$sp_ip_pay_bank-offset-x: -1010px;
$sp_ip_pay_bank-offset-y: -476px;
$sp_ip_pay_bank-width: 112px;
$sp_ip_pay_bank-height: 73px;
$sp_ip_pay_bank-total-width: 2334px;
$sp_ip_pay_bank-total-height: 2164px;
$sp_ip_pay_bank-image: '../img/sprites/spritesheet.png';
$sp_ip_pay_bank: 1010px 476px -1010px -476px 112px 73px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ip_pay_cash-x: 1022px;
$sp_ip_pay_cash-y: 578px;
$sp_ip_pay_cash-offset-x: -1022px;
$sp_ip_pay_cash-offset-y: -578px;
$sp_ip_pay_cash-width: 112px;
$sp_ip_pay_cash-height: 73px;
$sp_ip_pay_cash-total-width: 2334px;
$sp_ip_pay_cash-total-height: 2164px;
$sp_ip_pay_cash-image: '../img/sprites/spritesheet.png';
$sp_ip_pay_cash: 1022px 578px -1022px -578px 112px 73px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ip_pay_diners-x: 1720px;
$sp_ip_pay_diners-y: 1796px;
$sp_ip_pay_diners-offset-x: -1720px;
$sp_ip_pay_diners-offset-y: -1796px;
$sp_ip_pay_diners-width: 111px;
$sp_ip_pay_diners-height: 72px;
$sp_ip_pay_diners-total-width: 2334px;
$sp_ip_pay_diners-total-height: 2164px;
$sp_ip_pay_diners-image: '../img/sprites/spritesheet.png';
$sp_ip_pay_diners: 1720px 1796px -1720px -1796px 111px 72px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ip_pay_jcb-x: 1478px;
$sp_ip_pay_jcb-y: 1796px;
$sp_ip_pay_jcb-offset-x: -1478px;
$sp_ip_pay_jcb-offset-y: -1796px;
$sp_ip_pay_jcb-width: 111px;
$sp_ip_pay_jcb-height: 72px;
$sp_ip_pay_jcb-total-width: 2334px;
$sp_ip_pay_jcb-total-height: 2164px;
$sp_ip_pay_jcb-image: '../img/sprites/spritesheet.png';
$sp_ip_pay_jcb: 1478px 1796px -1478px -1796px 111px 72px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ip_pay_master-x: 898px;
$sp_ip_pay_master-y: 578px;
$sp_ip_pay_master-offset-x: -898px;
$sp_ip_pay_master-offset-y: -578px;
$sp_ip_pay_master-width: 114px;
$sp_ip_pay_master-height: 73px;
$sp_ip_pay_master-total-width: 2334px;
$sp_ip_pay_master-total-height: 2164px;
$sp_ip_pay_master-image: '../img/sprites/spritesheet.png';
$sp_ip_pay_master: 898px 578px -898px -578px 114px 73px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ip_pay_npay-x: 1643px;
$sp_ip_pay_npay-y: 1616px;
$sp_ip_pay_npay-offset-x: -1643px;
$sp_ip_pay_npay-offset-y: -1616px;
$sp_ip_pay_npay-width: 112px;
$sp_ip_pay_npay-height: 73px;
$sp_ip_pay_npay-total-width: 2334px;
$sp_ip_pay_npay-total-height: 2164px;
$sp_ip_pay_npay-image: '../img/sprites/spritesheet.png';
$sp_ip_pay_npay: 1643px 1616px -1643px -1616px 112px 73px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ip_pay_paypal-x: 2018px;
$sp_ip_pay_paypal-y: 1707px;
$sp_ip_pay_paypal-offset-x: -2018px;
$sp_ip_pay_paypal-offset-y: -1707px;
$sp_ip_pay_paypal-width: 111px;
$sp_ip_pay_paypal-height: 72px;
$sp_ip_pay_paypal-total-width: 2334px;
$sp_ip_pay_paypal-total-height: 2164px;
$sp_ip_pay_paypal-image: '../img/sprites/spritesheet.png';
$sp_ip_pay_paypal: 2018px 1707px -2018px -1707px 111px 72px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ip_pay_post-x: 2131px;
$sp_ip_pay_post-y: 1616px;
$sp_ip_pay_post-offset-x: -2131px;
$sp_ip_pay_post-offset-y: -1616px;
$sp_ip_pay_post-width: 112px;
$sp_ip_pay_post-height: 73px;
$sp_ip_pay_post-total-width: 2334px;
$sp_ip_pay_post-total-height: 2164px;
$sp_ip_pay_post-image: '../img/sprites/spritesheet.png';
$sp_ip_pay_post: 2131px 1616px -2131px -1616px 112px 73px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ip_pay_rkbank-x: 2009px;
$sp_ip_pay_rkbank-y: 1616px;
$sp_ip_pay_rkbank-offset-x: -2009px;
$sp_ip_pay_rkbank-offset-y: -1616px;
$sp_ip_pay_rkbank-width: 112px;
$sp_ip_pay_rkbank-height: 73px;
$sp_ip_pay_rkbank-total-width: 2334px;
$sp_ip_pay_rkbank-total-height: 2164px;
$sp_ip_pay_rkbank-image: '../img/sprites/spritesheet.png';
$sp_ip_pay_rkbank: 2009px 1616px -2009px -1616px 112px 73px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ip_pay_rkedy-x: 1887px;
$sp_ip_pay_rkedy-y: 1616px;
$sp_ip_pay_rkedy-offset-x: -1887px;
$sp_ip_pay_rkedy-offset-y: -1616px;
$sp_ip_pay_rkedy-width: 112px;
$sp_ip_pay_rkedy-height: 73px;
$sp_ip_pay_rkedy-total-width: 2334px;
$sp_ip_pay_rkedy-total-height: 2164px;
$sp_ip_pay_rkedy-image: '../img/sprites/spritesheet.png';
$sp_ip_pay_rkedy: 1887px 1616px -1887px -1616px 112px 73px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ip_pay_store-x: 1765px;
$sp_ip_pay_store-y: 1616px;
$sp_ip_pay_store-offset-x: -1765px;
$sp_ip_pay_store-offset-y: -1616px;
$sp_ip_pay_store-width: 112px;
$sp_ip_pay_store-height: 73px;
$sp_ip_pay_store-total-width: 2334px;
$sp_ip_pay_store-total-height: 2164px;
$sp_ip_pay_store-image: '../img/sprites/spritesheet.png';
$sp_ip_pay_store: 1765px 1616px -1765px -1616px 112px 73px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ip_pay_visa-x: 2139px;
$sp_ip_pay_visa-y: 1707px;
$sp_ip_pay_visa-offset-x: -2139px;
$sp_ip_pay_visa-offset-y: -1707px;
$sp_ip_pay_visa-width: 111px;
$sp_ip_pay_visa-height: 72px;
$sp_ip_pay_visa-total-width: 2334px;
$sp_ip_pay_visa-total-height: 2164px;
$sp_ip_pay_visa-image: '../img/sprites/spritesheet.png';
$sp_ip_pay_visa: 2139px 1707px -2139px -1707px 111px 72px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ip_pay_yawallet-x: 776px;
$sp_ip_pay_yawallet-y: 578px;
$sp_ip_pay_yawallet-offset-x: -776px;
$sp_ip_pay_yawallet-offset-y: -578px;
$sp_ip_pay_yawallet-width: 112px;
$sp_ip_pay_yawallet-height: 73px;
$sp_ip_pay_yawallet-total-width: 2334px;
$sp_ip_pay_yawallet-total-height: 2164px;
$sp_ip_pay_yawallet-image: '../img/sprites/spritesheet.png';
$sp_ip_pay_yawallet: 776px 578px -776px -578px 112px 73px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ip_payment-x: 746px;
$sp_ip_payment-y: 1796px;
$sp_ip_payment-offset-x: -746px;
$sp_ip_payment-offset-y: -1796px;
$sp_ip_payment-width: 722px;
$sp_ip_payment-height: 75px;
$sp_ip_payment-total-width: 2334px;
$sp_ip_payment-total-height: 2164px;
$sp_ip_payment-image: '../img/sprites/spritesheet.png';
$sp_ip_payment: 746px 1796px -746px -1796px 722px 75px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ip_rankicon_01-x: 1053px;
$sp_ip_rankicon_01-y: 339px;
$sp_ip_rankicon_01-offset-x: -1053px;
$sp_ip_rankicon_01-offset-y: -339px;
$sp_ip_rankicon_01-width: 93px;
$sp_ip_rankicon_01-height: 125px;
$sp_ip_rankicon_01-total-width: 2334px;
$sp_ip_rankicon_01-total-height: 2164px;
$sp_ip_rankicon_01-image: '../img/sprites/spritesheet.png';
$sp_ip_rankicon_01: 1053px 339px -1053px -339px 93px 125px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ip_rankicon_02-x: 834px;
$sp_ip_rankicon_02-y: 1480px;
$sp_ip_rankicon_02-offset-x: -834px;
$sp_ip_rankicon_02-offset-y: -1480px;
$sp_ip_rankicon_02-width: 93px;
$sp_ip_rankicon_02-height: 125px;
$sp_ip_rankicon_02-total-width: 2334px;
$sp_ip_rankicon_02-total-height: 2164px;
$sp_ip_rankicon_02-image: '../img/sprites/spritesheet.png';
$sp_ip_rankicon_02: 834px 1480px -834px -1480px 93px 125px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ip_rankicon_03-x: 937px;
$sp_ip_rankicon_03-y: 1480px;
$sp_ip_rankicon_03-offset-x: -937px;
$sp_ip_rankicon_03-offset-y: -1480px;
$sp_ip_rankicon_03-width: 93px;
$sp_ip_rankicon_03-height: 125px;
$sp_ip_rankicon_03-total-width: 2334px;
$sp_ip_rankicon_03-total-height: 2164px;
$sp_ip_rankicon_03-image: '../img/sprites/spritesheet.png';
$sp_ip_rankicon_03: 937px 1480px -937px -1480px 93px 125px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ip_rankicon_04-x: 1040px;
$sp_ip_rankicon_04-y: 1480px;
$sp_ip_rankicon_04-offset-x: -1040px;
$sp_ip_rankicon_04-offset-y: -1480px;
$sp_ip_rankicon_04-width: 93px;
$sp_ip_rankicon_04-height: 125px;
$sp_ip_rankicon_04-total-width: 2334px;
$sp_ip_rankicon_04-total-height: 2164px;
$sp_ip_rankicon_04-image: '../img/sprites/spritesheet.png';
$sp_ip_rankicon_04: 1040px 1480px -1040px -1480px 93px 125px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ip_recomm-x: 1172px;
$sp_ip_recomm-y: 1307px;
$sp_ip_recomm-offset-x: -1172px;
$sp_ip_recomm-offset-y: -1307px;
$sp_ip_recomm-width: 1142px;
$sp_ip_recomm-height: 133px;
$sp_ip_recomm-total-width: 2334px;
$sp_ip_recomm-total-height: 2164px;
$sp_ip_recomm-image: '../img/sprites/spritesheet.png';
$sp_ip_recomm: 1172px 1307px -1172px -1307px 1142px 133px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ip_review-x: 1143px;
$sp_ip_review-y: 1480px;
$sp_ip_review-offset-x: -1143px;
$sp_ip_review-offset-y: -1480px;
$sp_ip_review-width: 981px;
$sp_ip_review-height: 112px;
$sp_ip_review-total-width: 2334px;
$sp_ip_review-total-height: 2164px;
$sp_ip_review-image: '../img/sprites/spritesheet.png';
$sp_ip_review: 1143px 1480px -1143px -1480px 981px 112px 2334px 2164px '../img/sprites/spritesheet.png';
$sp_ip_tweet-x: 1523px;
$sp_ip_tweet-y: 438px;
$sp_ip_tweet-offset-x: -1523px;
$sp_ip_tweet-offset-y: -438px;
$sp_ip_tweet-width: 158px;
$sp_ip_tweet-height: 158px;
$sp_ip_tweet-total-width: 2334px;
$sp_ip_tweet-total-height: 2164px;
$sp_ip_tweet-image: '../img/sprites/spritesheet.png';
$sp_ip_tweet: 1523px 438px -1523px -438px 158px 158px 2334px 2164px '../img/sprites/spritesheet.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
