/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$arrow-x: 257px;
$arrow-y: 49px;
$arrow-offset-x: -257px;
$arrow-offset-y: -49px;
$arrow-width: 9px;
$arrow-height: 9px;
$arrow-total-width: 380px;
$arrow-total-height: 345px;
$arrow-image: '../img/sprites/spritesheet_footer.png';
$arrow: 257px 49px -257px -49px 9px 9px 380px 345px '../img/sprites/spritesheet_footer.png';
$ftr_about-x: 0px;
$ftr_about-y: 0px;
$ftr_about-offset-x: 0px;
$ftr_about-offset-y: 0px;
$ftr_about-width: 178px;
$ftr_about-height: 39px;
$ftr_about-total-width: 380px;
$ftr_about-total-height: 345px;
$ftr_about-image: '../img/sprites/spritesheet_footer.png';
$ftr_about: 0px 0px 0px 0px 178px 39px 380px 345px '../img/sprites/spritesheet_footer.png';
$ftr_budget-x: 0px;
$ftr_budget-y: 170px;
$ftr_budget-offset-x: 0px;
$ftr_budget-offset-y: -170px;
$ftr_budget-width: 154px;
$ftr_budget-height: 30px;
$ftr_budget-total-width: 380px;
$ftr_budget-total-height: 345px;
$ftr_budget-image: '../img/sprites/spritesheet_footer.png';
$ftr_budget: 0px 170px 0px -170px 154px 30px 380px 345px '../img/sprites/spritesheet_footer.png';
$ftr_contact-x: 0px;
$ftr_contact-y: 248px;
$ftr_contact-offset-x: 0px;
$ftr_contact-offset-y: -248px;
$ftr_contact-width: 296px;
$ftr_contact-height: 27px;
$ftr_contact-total-width: 380px;
$ftr_contact-total-height: 345px;
$ftr_contact-image: '../img/sprites/spritesheet_footer.png';
$ftr_contact: 0px 248px 0px -248px 296px 27px 380px 345px '../img/sprites/spritesheet_footer.png';
$ftr_gift-x: 0px;
$ftr_gift-y: 49px;
$ftr_gift-offset-x: 0px;
$ftr_gift-offset-y: -49px;
$ftr_gift-width: 247px;
$ftr_gift-height: 31px;
$ftr_gift-total-width: 380px;
$ftr_gift-total-height: 345px;
$ftr_gift-image: '../img/sprites/spritesheet_footer.png';
$ftr_gift: 0px 49px 0px -49px 247px 31px 380px 345px '../img/sprites/spritesheet_footer.png';
$ftr_giftservice-x: 188px;
$ftr_giftservice-y: 0px;
$ftr_giftservice-offset-x: -188px;
$ftr_giftservice-offset-y: 0px;
$ftr_giftservice-width: 192px;
$ftr_giftservice-height: 32px;
$ftr_giftservice-total-width: 380px;
$ftr_giftservice-total-height: 345px;
$ftr_giftservice-image: '../img/sprites/spritesheet_footer.png';
$ftr_giftservice: 188px 0px -188px 0px 192px 32px 380px 345px '../img/sprites/spritesheet_footer.png';
$ftr_guide-x: 0px;
$ftr_guide-y: 90px;
$ftr_guide-offset-x: 0px;
$ftr_guide-offset-y: -90px;
$ftr_guide-width: 243px;
$ftr_guide-height: 30px;
$ftr_guide-total-width: 380px;
$ftr_guide-total-height: 345px;
$ftr_guide-image: '../img/sprites/spritesheet_footer.png';
$ftr_guide: 0px 90px 0px -90px 243px 30px 380px 345px '../img/sprites/spritesheet_footer.png';
$ftr_interior-x: 0px;
$ftr_interior-y: 285px;
$ftr_interior-offset-x: 0px;
$ftr_interior-offset-y: -285px;
$ftr_interior-width: 246px;
$ftr_interior-height: 25px;
$ftr_interior-total-width: 380px;
$ftr_interior-total-height: 345px;
$ftr_interior-image: '../img/sprites/spritesheet_footer.png';
$ftr_interior: 0px 285px 0px -285px 246px 25px 380px 345px '../img/sprites/spritesheet_footer.png';
$ftr_kitchen-x: 0px;
$ftr_kitchen-y: 320px;
$ftr_kitchen-offset-x: 0px;
$ftr_kitchen-offset-y: -320px;
$ftr_kitchen-width: 323px;
$ftr_kitchen-height: 25px;
$ftr_kitchen-total-width: 380px;
$ftr_kitchen-total-height: 345px;
$ftr_kitchen-image: '../img/sprites/spritesheet_footer.png';
$ftr_kitchen: 0px 320px 0px -320px 323px 25px 380px 345px '../img/sprites/spritesheet_footer.png';
$ftr_season-x: 0px;
$ftr_season-y: 210px;
$ftr_season-offset-x: 0px;
$ftr_season-offset-y: -210px;
$ftr_season-width: 260px;
$ftr_season-height: 28px;
$ftr_season-total-width: 380px;
$ftr_season-total-height: 345px;
$ftr_season-image: '../img/sprites/spritesheet_footer.png';
$ftr_season: 0px 210px 0px -210px 260px 28px 380px 345px '../img/sprites/spritesheet_footer.png';
$ftr_special-x: 164px;
$ftr_special-y: 170px;
$ftr_special-offset-x: -164px;
$ftr_special-offset-y: -170px;
$ftr_special-width: 155px;
$ftr_special-height: 30px;
$ftr_special-total-width: 380px;
$ftr_special-total-height: 345px;
$ftr_special-image: '../img/sprites/spritesheet_footer.png';
$ftr_special: 164px 170px -164px -170px 155px 30px 380px 345px '../img/sprites/spritesheet_footer.png';
$ftr_type-x: 0px;
$ftr_type-y: 130px;
$ftr_type-offset-x: 0px;
$ftr_type-offset-y: -130px;
$ftr_type-width: 259px;
$ftr_type-height: 30px;
$ftr_type-total-width: 380px;
$ftr_type-total-height: 345px;
$ftr_type-image: '../img/sprites/spritesheet_footer.png';
$ftr_type: 0px 130px 0px -130px 259px 30px 380px 345px '../img/sprites/spritesheet_footer.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
