/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$btn_budget_hover-x: 0px;
$btn_budget_hover-y: 73px;
$btn_budget_hover-offset-x: 0px;
$btn_budget_hover-offset-y: -73px;
$btn_budget_hover-width: 115px;
$btn_budget_hover-height: 25px;
$btn_budget_hover-total-width: 274px;
$btn_budget_hover-total-height: 203px;
$btn_budget_hover-image: '../img/sprites/spritesheet_header.png';
$btn_budget_hover: 0px 73px 0px -73px 115px 25px 274px 203px '../img/sprites/spritesheet_header.png';
$btn_budget_normal-x: 159px;
$btn_budget_normal-y: 105px;
$btn_budget_normal-offset-x: -159px;
$btn_budget_normal-offset-y: -105px;
$btn_budget_normal-width: 115px;
$btn_budget_normal-height: 25px;
$btn_budget_normal-total-width: 274px;
$btn_budget_normal-total-height: 203px;
$btn_budget_normal-image: '../img/sprites/spritesheet_header.png';
$btn_budget_normal: 159px 105px -159px -105px 115px 25px 274px 203px '../img/sprites/spritesheet_header.png';
$btn_event_hover-x: 0px;
$btn_event_hover-y: 108px;
$btn_event_hover-offset-x: 0px;
$btn_event_hover-offset-y: -108px;
$btn_event_hover-width: 115px;
$btn_event_hover-height: 25px;
$btn_event_hover-total-width: 274px;
$btn_event_hover-total-height: 203px;
$btn_event_hover-image: '../img/sprites/spritesheet_header.png';
$btn_event_hover: 0px 108px 0px -108px 115px 25px 274px 203px '../img/sprites/spritesheet_header.png';
$btn_event_normal-x: 159px;
$btn_event_normal-y: 0px;
$btn_event_normal-offset-x: -159px;
$btn_event_normal-offset-y: 0px;
$btn_event_normal-width: 115px;
$btn_event_normal-height: 25px;
$btn_event_normal-total-width: 274px;
$btn_event_normal-total-height: 203px;
$btn_event_normal-image: '../img/sprites/spritesheet_header.png';
$btn_event_normal: 159px 0px -159px 0px 115px 25px 274px 203px '../img/sprites/spritesheet_header.png';
$btn_genre_hover-x: 159px;
$btn_genre_hover-y: 35px;
$btn_genre_hover-offset-x: -159px;
$btn_genre_hover-offset-y: -35px;
$btn_genre_hover-width: 115px;
$btn_genre_hover-height: 25px;
$btn_genre_hover-total-width: 274px;
$btn_genre_hover-total-height: 203px;
$btn_genre_hover-image: '../img/sprites/spritesheet_header.png';
$btn_genre_hover: 159px 35px -159px -35px 115px 25px 274px 203px '../img/sprites/spritesheet_header.png';
$btn_genre_normal-x: 159px;
$btn_genre_normal-y: 70px;
$btn_genre_normal-offset-x: -159px;
$btn_genre_normal-offset-y: -70px;
$btn_genre_normal-width: 115px;
$btn_genre_normal-height: 25px;
$btn_genre_normal-total-width: 274px;
$btn_genre_normal-total-height: 203px;
$btn_genre_normal-image: '../img/sprites/spritesheet_header.png';
$btn_genre_normal: 159px 70px -159px -70px 115px 25px 274px 203px '../img/sprites/spritesheet_header.png';
$btn_search_hover-x: 125px;
$btn_search_hover-y: 108px;
$btn_search_hover-offset-x: -125px;
$btn_search_hover-offset-y: -108px;
$btn_search_hover-width: 24px;
$btn_search_hover-height: 24px;
$btn_search_hover-total-width: 274px;
$btn_search_hover-total-height: 203px;
$btn_search_hover-image: '../img/sprites/spritesheet_header.png';
$btn_search_hover: 125px 108px -125px -108px 24px 24px 274px 203px '../img/sprites/spritesheet_header.png';
$btn_search_normal-x: 125px;
$btn_search_normal-y: 73px;
$btn_search_normal-offset-x: -125px;
$btn_search_normal-offset-y: -73px;
$btn_search_normal-width: 24px;
$btn_search_normal-height: 24px;
$btn_search_normal-total-width: 274px;
$btn_search_normal-total-height: 203px;
$btn_search_normal-image: '../img/sprites/spritesheet_header.png';
$btn_search_normal: 125px 73px -125px -73px 24px 24px 274px 203px '../img/sprites/spritesheet_header.png';
$btn_season_hover-x: 125px;
$btn_season_hover-y: 143px;
$btn_season_hover-offset-x: -125px;
$btn_season_hover-offset-y: -143px;
$btn_season_hover-width: 115px;
$btn_season_hover-height: 25px;
$btn_season_hover-total-width: 274px;
$btn_season_hover-total-height: 203px;
$btn_season_hover-image: '../img/sprites/spritesheet_header.png';
$btn_season_hover: 125px 143px -125px -143px 115px 25px 274px 203px '../img/sprites/spritesheet_header.png';
$btn_season_normal-x: 0px;
$btn_season_normal-y: 178px;
$btn_season_normal-offset-x: 0px;
$btn_season_normal-offset-y: -178px;
$btn_season_normal-width: 115px;
$btn_season_normal-height: 25px;
$btn_season_normal-total-width: 274px;
$btn_season_normal-total-height: 203px;
$btn_season_normal-image: '../img/sprites/spritesheet_header.png';
$btn_season_normal: 0px 178px 0px -178px 115px 25px 274px 203px '../img/sprites/spritesheet_header.png';
$btn_type_hover-x: 125px;
$btn_type_hover-y: 178px;
$btn_type_hover-offset-x: -125px;
$btn_type_hover-offset-y: -178px;
$btn_type_hover-width: 115px;
$btn_type_hover-height: 25px;
$btn_type_hover-total-width: 274px;
$btn_type_hover-total-height: 203px;
$btn_type_hover-image: '../img/sprites/spritesheet_header.png';
$btn_type_hover: 125px 178px -125px -178px 115px 25px 274px 203px '../img/sprites/spritesheet_header.png';
$btn_type_normal-x: 0px;
$btn_type_normal-y: 143px;
$btn_type_normal-offset-x: 0px;
$btn_type_normal-offset-y: -143px;
$btn_type_normal-width: 115px;
$btn_type_normal-height: 25px;
$btn_type_normal-total-width: 274px;
$btn_type_normal-total-height: 203px;
$btn_type_normal-image: '../img/sprites/spritesheet_header.png';
$btn_type_normal: 0px 143px 0px -143px 115px 25px 274px 203px '../img/sprites/spritesheet_header.png';
$logo-x: 0px;
$logo-y: 0px;
$logo-offset-x: 0px;
$logo-offset-y: 0px;
$logo-width: 149px;
$logo-height: 63px;
$logo-total-width: 274px;
$logo-total-height: 203px;
$logo-image: '../img/sprites/spritesheet_header.png';
$logo: 0px 0px 0px 0px 149px 63px 274px 203px '../img/sprites/spritesheet_header.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
