/* ¥¹¥¿¥¤¥ë¥¬¥¤¥ÉÕi¤ßÞz¤ß */

@import '../frameworks/_scss/guide.scss';

body {

/*固定バナー*/

div#abs {
    position: absolute !important;
    /* top: expression((documentElement.scrollTop || document.body.scrollTop) + document.body.clientHeight - this.offsetHeight - 150 + 'px');
    left: expression((documentElement.scrollLeft || document.body.scrollLeft) + document.body.clientWidth -105 + 'px'); */
}




/*QUOカードここから*/

div#abs a#side_leave {
    float: right;
    clear: both;
    display: block;
    position: fixed;
    position: relative\9;
    top: 50px\9;
    right: -200px;
    top: 100px;
    z-index: 10;
    outline: none;
    background: url(https://den-tou.com/img/campaign/side_bnr_01.jpg) no-repeat;
    width: 300px;
    height: 180px;
    -webkit-transition: .2s;
    transition: .2s;
}

div#abs a#side_leave:hover {
    right: 0px;
    padding-right: 50px\9;
}




/*QUOカードここまで*/


/*送料・代引き手数料*/


/* div#abs a#side_leave2 {
        float: right;
        clear: both;
        display: block;
        position: fixed;
        position: relative\9;
        top: 50px\9;
        right: -50px;
        top: 270px;
        z-index: 10;
        outline: none;
        background: url(https://shopping.c.yimg.jp/lib/dentouhonpo/side_bn_02.gif) no-repeat;
        background-size: 100px;
        width: 100px;
        height: 200px;
    }
    div#abs a#side_leave2:hover {
        right: 0px;
        padding-right: 50px\9;
    } */


/* 感謝祭会場 ここから */

div#abs a#side_leave3 {
    float: right;
    clear: both;
    display: none;
    position: fixed;
    position: relative\9;
    top: 60px\9;
    left: -200px;
    top: 150px;
    z-index: 10;
    outline: none;
    background: url(https://den-tou.com/img/campaign/side_bnr_02_l.jpg) no-repeat;
    width: 300px;
    height: 180px;
    -webkit-transition: .2s;
    transition: .2s;
}

div#abs a#side_leave3:hover {
    left: 0px;
    padding-right: 50px\9;
}




/* 感謝祭会場 ここまで */


/* クリスマス会場 ここから */

div#abs a#side_leave7 {
    float: right;
    clear: both;
    display: none;
    position: fixed;
    position: relative\9;
    top: 60px\9;
    right: -232px;
    top: 315px;
    z-index: 10;
    outline: none;
    background: url(https://den-tou.com/img/campaign/sp_chri_entbnr.png) no-repeat;
    width: 400px;
    height: 100px;
    -webkit-transition: .2s;
    transition: .2s;
}

div#abs a#side_leave7:hover {
    right: 0px;
    padding-right: 50px\9;
}




/* クリスマス会場 ここまで */


/* ランキング会場 ここから */

div#abs a#side_leave8 {
    float: right;
    clear: both;
    display: block;
    position: fixed;
    position: relative\9;
    top: 60px\9;
    right: -232px;
    top: 300px;
    z-index: 10;
    outline: none;
    background: url(https://den-tou.com/img/sp_ranking.png) no-repeat;
    width: 400px;
    height: 120px;
    -webkit-transition: .2s;
    transition: .2s;
}

div#abs a#side_leave8:hover {
    right: 0px;
    padding-right: 50px\9;
}




/* ランキング会場 ここまで */


/* お正月 */
/*お正月　ここまで*/


/* 母の日のバナー */

div#abs a#side_leave5 {
    float: right;
    clear: both;
    display: none;
    position: fixed;
    left: 5px;
    top: 200px;
    z-index: 10;
    outline: none;
    background: url(https://den-tou.com/img/campaign/sp_fg_leftbnr.png) no-repeat;
    width: 170px;
    height: 279px;
    -webkit-transition: .2s;
    transition: .2s;
}

div#abs a#side_leave5:hover {
    top: 205px;
}


/* 母の日のバナーここまで */


/* 会員登録ここから */

div#abs a#side_leave9 {
    float: right;
    clear: both;
    display: block;
    position: fixed;
    position: relative\9;
    top: 60px\9;
    right: 0px;
    top: 460px;
    z-index: 10;
    outline: none;
    background: url(https://den-tou.com/img/campaign/sp_membership_leftbnr.jpg) no-repeat;
    width: 170px;
    height: 200px;
    -webkit-transition: .2s;
    transition: .2s;
}

div#abs a#side_leave9:hover {
    top: 465px;
}


/* 会員登録ここまで */


    /* Bnr----スクロールで表示、×で非表示にする-----*/
    .Bnr {
        position: relative;
        margin: 0 auto;
        width: 1200px;
        display: none;
        font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", Osaka, sans-serif !important;
    }

    .Bnr p.close {
        position: absolute;
        right: 15px;
        top: 2px;
    }

    .Bnr p.close a {
        display: block;
        width: 20px;
        height: 25px;
        text-align: center;
    }

    .Bnr p.close a span {
        display: block;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }

    .Bnr p.close i {
        font-size: 20px;
        z-index: 888;
        color: #fff;
    }

    /* Bnr-----------------------------------------*/

    /*　クーポン位置を下に　*/
    #fixed_bottom_banner {
        display: block;
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 10000;
        width: 100%;
        height: 80px;
        background-color: rgba(153, 0, 0, 0.7);
        margin: 0;
        padding: 0;
        color: #ffffff !important;
        text-align: center;
    }

    /*　クーポン位置を下に　*/

    /*　クーポンボックス　*/
    .box30 {
        position: absolute;
        background: #fff0cd;
        box-shadow: 0px 0px 0px 5px #900;
        padding: 0.2em 0.5em;

        // margin: 2em 0;
        // background: #b51616;
        // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
        // font-weight: bold;
        &:after {
            position: absolute;
            content: '';
            right: 0px;
            top: -6px;
            border-width: 0 15px 15px 0;
            border-style: solid;
            border-color: #900 #fff #900;
            box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
        }

        .box-title {
            font-size: 1.1em;
            background: #900;
            padding: 4px;
            text-align: center;
            color: #FFF;
            font-weight: bold;
            letter-spacing: 0.05em;
        }

        p {
            font-size: 16px;
            padding: 2;
            line-height: 2.5em;
            margin: 0;
            font-weight: bold;

            b {
                font-size: 1.4em;
                text-decoration: underline;
            }

            span {
                font-size: 1.2em;

                &.cpcd {
                    background-color: #fff;
                    color: #000;
                    font-size: 0.9em;
                    padding: 5px 5px 0;

                    em {
                        font-size: 1.3em;
                        color: #900;
                    }
                }
            }

            button {
                background-color: #900;
                font-size: 0.8em;
                margin: 0 0 0px 6px;
                border: solid #fff 1px;
            }
        }



    }

    /*　クーポンボックス　*/

    .wrap {
        overflow: hidden;

        width: 1250px;
        margin: 0 auto;
        padding: 5px 15px;

        &.clear {
            overflow: inherit;
        }

        .slider {
            clear: both;

            height: 145px;

            &.giftscene {
                height: 500px;

                .slick-track {
                    height: 500px;

                    .slick-slide {
                        padding: .25%;

                        @include sizing(100%);
                    }
                }
            }

            .gallery {
                &:hover {

                    .slick-prev,
                    .slick-next {
                        opacity: 1;

                        filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
                    }
                }
            }

            .header_slider {
                display: block;

                width: 1280px;
                height: 145px;
                margin: 0 auto 30px;
            }

            /* Slider */
            .slick-slider {
                position: relative;

                display: block;

                box-sizing: border-box;

                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;

                -webkit-touch-callout: none;
                -khtml-user-select: none;
                -ms-touch-action: pan-y;
                touch-action: pan-y;
                -webkit-tap-highlight-color: transparent;
            }

            .slick-list {
                position: relative;

                display: block;
                overflow: hidden;

                margin: 0;
                padding: 0;
            }

            .slick-list:focus {
                outline: none;
            }

            .slick-list.dragging {
                cursor: pointer;
                cursor: hand;
            }

            .slick-slider .slick-track,
            .slick-slider .slick-list {
                -webkit-transform: translate3d(0, 0, 0);
                -moz-transform: translate3d(0, 0, 0);
                -ms-transform: translate3d(0, 0, 0);
                -o-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }

            .slick-track {
                position: relative;
                top: 0;
                left: 0;

                display: block;

                margin-right: auto;
                margin-left: auto;
            }

            .slick-track:before,
            .slick-track:after {
                display: table;

                content: '';
            }

            .slick-track:after {
                clear: both;
            }

            .slick-loading .slick-track {
                visibility: hidden;
            }

            .slick-slide {
                display: none;
                float: left;

                height: 100%;
                min-height: 1px;

                a {
                    img {
                        width: 100%;
                    }
                }
            }

            [dir='rtl'] .slick-slide {
                float: right;
            }

            .slick-slide img {
                display: block;
            }

            .slick-slide.slick-loading img {
                display: none;
            }

            .slick-slide.dragging img {
                pointer-events: none;
            }

            .slick-initialized .slick-slide {
                display: block;
            }

            .slick-loading .slick-slide {
                visibility: hidden;
            }

            .slick-vertical .slick-slide {
                display: block;

                height: auto;

                border: 1px solid transparent;
            }

            .slick-arrow.slick-hidden {
                display: none;
            }

            /* Slider */
            .slick-loading .slick-list {
                background: #fff url('./ajax-loader.gif') center center no-repeat;
            }

            /* Icons */
            @font-face {
                font-family: 'slick';
                font-weight: normal;
                font-style: normal;

                src: url('./fonts/slick.eot');
                src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
            }

            /* Arrows */
            .slick-prev,
            .slick-next {
                font-size: 0;
                line-height: 0;

                position: absolute;
                top: 50%;

                display: block;

                width: 20px;
                height: 20px;
                padding: 0;

                cursor: pointer;
                -webkit-transform: translate(0, -50%);
                -ms-transform: translate(0, -50%);
                transform: translate(0, -50%);

                opacity: 0;
                color: transparent;
                border: none;
                outline: none;
                background: transparent;

                @include anm(.2s);
                filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
            }

            .slick-prev:hover,
            .slick-prev:focus,
            .slick-next:hover,
            .slick-next:focus {
                /* color: transparent;
                    outline: none;
                    background: transparent; */
            }

            .slick-prev:hover:before,
            .slick-prev:focus:before,
            .slick-next:hover:before,
            .slick-next:focus:before {
                opacity: 1;
            }

            .slick-prev.slick-disabled:before,
            .slick-next.slick-disabled:before {
                opacity: .25;
            }

            .slick-prev:before,
            .slick-next:before {
                font-family: 'slick';
                font-size: 20px;
                line-height: 1;

                opacity: .75;
                color: white;

                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }

            .slick-prev {
                z-index: 10;
                left: 20px;

                width: 22px;
                height: 22px;

                background: transparent url('https://den-tou.com/img/h_btn_prev.png') left top no-repeat;
            }

            [dir='rtl'] .slick-prev {
                right: 20px;
                left: auto;
            }

            .slick-prev:before {
                content: ' ';
            }

            [dir='rtl'] .slick-prev:before {
                content: ' ';
            }

            .slick-next {
                z-index: 10;
                right: 20px;

                width: 22px;
                height: 22px;

                background: transparent url('https://den-tou.com/img/h_btn_next.png') left top no-repeat;
            }

            [dir='rtl'] .slick-next {
                right: auto;
                left: 20px;
            }

            .slick-next:before {
                content: ' ';
            }

            [dir='rtl'] .slick-next:before {
                content: ' ';
            }

            /* Dots */
            .slick-dotted.slick-slider {
                margin-bottom: 30px;
            }

            .slick-dots {
                position: absolute;
                bottom: 25px;

                display: block;

                width: 100%;
                margin: 0;
                padding: 0;

                list-style: none;

                text-align: center;
            }

            .slick-dots li {
                position: relative;

                display: inline-block;

                width: 20px;
                height: 20px;
                margin: 0 5px;
                padding: 0;

                cursor: pointer;
            }

            .slick-dots li button {
                font-size: 0;
                line-height: 0;

                display: block;

                width: 20px;
                height: 20px;
                padding: 5px;

                cursor: pointer;

                color: transparent;
                border: 0;
                outline: none;
                background: transparent;
            }

            .slick-dots li button:hover,
            .slick-dots li button:focus {
                outline: none;
            }

            .slick-dots li button:hover:before,
            .slick-dots li button:focus:before {
                opacity: 1;
            }

            .slick-dots li button:before {
                font-family: 'slick';
                font-size: 6px;
                line-height: 20px;

                position: absolute;
                top: 0;
                left: 0;

                width: 20px;
                height: 20px;

                content: ' ';
                text-align: center;

                opacity: .25;
                color: black;

                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }

            .slick-dots li.slick-active button:before {
                opacity: .75;
                color: black;
            }
        }
    }

    a {
        img {
            /* @include anm(0.2s); */
            opacity: 1;

            filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
        }

        &:hover {
            img {
                opacity: .7;

                filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
            }
        }
    }

    #header {
        .mainslider {
            width: 1250px;
            height: 430px;
            margin: 0;

            .slider {
                width: 100%;
                height: 100%;
                margin: 0 auto;

                .gallery {
                    .slick-prev {
                        top: 45%;
                        left: 20px;
                    }

                    .slick-next {
                        top: 45%;
                        right: 20px;
                    }
                }
            }
        }

        &>iframe {
            display: block;

            margin: 0 0 20px;
        }

        .onepoint {
            color: $white;
            background-color: #fdf1e2;

            a {
                font-size: 12px;

                display: block;

                margin: -2px auto;

                text-align: center;
                letter-spacing: 1px;

                color: #000;

                em {
                    font-size: 16px;
                    font-weight: normal;

                    color: #bbae3e;
                }
            }
        }

        .topbar {
            color: $white;
            background-color: $acc;

            ul {
                display: block;
                float: left;

                margin: 4px 0;

                li {
                    float: left;

                    margin: 0 10px 0 0;
                    padding: 0 10px 0 0;

                    letter-spacing: 1px;

                    border-right: 1px solid #fff;

                    a {
                        color: $link;
                    }

                    &:last-child {
                        border: none;
                    }
                }

                &.submenu {
                    float: right;
                    ;

                    li {
                        margin: 0 0 0 10px;
                        padding: 0 0 0 10px;

                        border: none;
                        border-left: 1px solid #fff;

                        &:first-child {
                            border: none;
                        }
                    }
                }
            }
        }

        .main {
            padding: 15px 0;

            .title {
                float: left;

                b {
                    font-size: 14px;
                    font-weight: normal;
                    line-height: 1.3;

                    display: block;

                    margin: 0 0 8px;
                }

                h1 {
                    a {
                        display: block;
                    }
                }

                ul {
                    margin: 8px 0 0;

                    li {
                        float: left;

                        a {
                            font-size: 12px;

                            display: block;

                            margin: 0 8px 0 0;
                            padding: 3px 10px;

                            color: #000;
                            border: 1px solid #000;

                            @include anm(.2s);

                            &:hover {
                                text-decoration: none;

                                color: #fff;
                                border: 1px solid #f4c07d;
                                background-color: #f4c07d;
                            }

                            img {
                                width: 20px;
                                height: 20px;
                            }
                        }

                        &.img {
                            padding: 0;

                            border: none;

                            a {
                                padding: 0;

                                border: none;

                                &:hover {
                                    border: none;
                                    background-color: #fff;
                                }
                            }
                        }
                    }
                }
            }

            .info {
                float: left;

                margin: 0 0 0 12px;

                img {
                    display: block;
                }

                div {
                    float: left;

                    &>a {
                        display: block;
                        float: left;

                        margin: 0 5px 0 0;
                    }

                    div {
                        float: left;

                        a {
                            display: block;
                            float: left;

                            margin: 5px 5px 0 0;
                        }
                    }
                }

                ul {
                    float: left;

                    li {
                        margin: 0 0 5px 5px;
                    }
                }
            }

            .sub {
                float: right;

                img {
                    float: left;
                }

                form {
                    display: block;
                    float: left;
                }
                p.shopcopy {
                    font-size: 13px;
                    width: 100%;
                    height: 40px;
                    clear: both;
                    display: block;
                    b{
                        font-size:15px;
                        color:#c3081c;
                    }
                }

                #form {
                    font-size: 14px;

                    float: left;

                    width: 230px;
                    margin: 0 0 4px 0;
                    padding: 6px 10px;

                    border: 1px solid #a5a5a5;
                }

                #btn {
                    width: 35px;
                    height: 35px;

                    border: 1px solid #a1a1a1;
                    border-left: none;
                    background: url('https://den-tou.com/img/icon_search.png') 6px 6px no-repeat;
                }

                p {
                    font-size: 12px;

                    display: block;

                    padding: 0;

                    a {
                        margin: 0 5px 0 0;

                        color: #000;
                    }
                }

                .cart {
                    display: inline-block;
                    float: right;

                    margin: 8px 0 0;
                    padding: 7px 10px;

                    background-color: #c3081c;

                    img {
                        display: block;

                        margin: 0 auto;
                    }
                }
            }
        }

        .maincontents {
            padding: 15px 0;

            .menu01 {
                float: left;

                width: 1019px;

                ul {
                    li {
                        width: 169px;

                        img {
                            width: 100%;
                        }
                    }
                }
            }

            .menu03 {
                float: left;

                width: 1250px;

                ul {
                    li {
                        width: 103px;

                        img {
                            width: 100%;
                        }
                    }
                }
            }

            .menu02,
            .menu04 {
                float: left;

                width: 207px;
                margin: 0 0 0 22px;
            }

            .menu01,
            .menu02,
            .menu03,
            .menu04 {
                margin-bottom: 5px;

                h2 {
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 1;

                    small {
                        font-size: 12px;
                        font-weight: normal;

                        display: inline-block;

                        text-indent: 1em;

                        color: #000;
                    }
                }

                &>ul {
                    position: relative;

                    margin: 0 0 11px 0;
                    padding: 9px 0 0;

                    border-top: 1px solid #000;

                    &>li {
                        float: left;

                        margin: 0 1px 0 0;

                        &:last-child,
                        &:nth-child(6) {
                            margin: 0;
                        }

                        &.area {
                            margin: 0 1px 9px 0;
                        }

                        &>div {
                            @include anm(.2);

                            .submenu {
                                display: none;
                            }

                            &:hover {
                                .submenu {
                                    position: absolute;
                                    z-index: 9999;
                                    right: auto;

                                    display: block;

                                    width: 267px;
                                    margin: 0;
                                    padding: 0;

                                    border: 1px solid #f4c07d;
                                    border-top: none;
                                    background-color: #fde6c8;

                                    ul {
                                        li {
                                            float: left;

                                            width: 109px;
                                            padding: 8px 12px;

                                            &:nth-child(odd) {
                                                width: 110px;
                                            }

                                            a {
                                                font-size: 12px;

                                                display: block;

                                                padding: 0 0 4px;

                                                color: #000;
                                                border-bottom: 1px dotted #ba8f57;

                                                &:after {
                                                    display: block;
                                                    float: right;

                                                    margin: 0 4px 0 0;

                                                    content: '>';
                                                }

                                                &:hover {
                                                    text-decoration: none;
                                                }
                                            }

                                            &:hover {
                                                background-color: #fff;
                                            }
                                        }
                                    }

                                    &.last {
                                        right: 0;
                                    }

                                    &.wide {
                                        right: 0;

                                        width: 407px;

                                        ul {
                                            li {
                                                float: left;
                                                clear: inherit;

                                                width: 179px;
                                                padding: 8px 12px;

                                                &:nth-child(odd) {
                                                    width: 180px;
                                                }
                                            }
                                        }
                                    }

                                    &.kitchen,
                                    &.stationery,
                                    &.interior {
                                        width: 401px;

                                        ul {
                                            li {
                                                width: 109px;

                                                &:nth-child(odd) {
                                                    width: 110px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.category {
                        display: block;

                        width: 1248px;
                        margin: 0 auto;

                        &>li {
                            float: left;

                            margin: 0 1px 9px 0;
                        }
                    }
                }
            }
        }
    }

    #information {
        width: 100%;
        max-width: 1000px;
        margin: 50px auto;

        a {
            display: block;

            img {
                display: block;

                width: 100%;
            }
        }
    }

    #main {
        #topcontents {
            float: left;

            &.subcontents {
                width: 1000px;
                margin: 0 0 0 49px;
            }

            &>div {
                margin: 0 0 20px;

                h2 {
                    font-size: 18px;
                    line-height: 1.5;

                    display: inline-block;

                    text-align: left;

                    border: none;
                    border-bottom: 2px solid $acc;

                    small {
                        font-size: 14px;
                        font-weight: normal;

                        color: #000;
                    }
                }

                hr {
                    display: block;

                    margin: 0;
                    padding: 0;

                    border: none;
                    border-top: 1px solid $acc;
                }

                &.newitem {
                    hr {
                        margin: 0 0 6px;
                    }
                }

                .slider {
                    width: 98%;
                    margin: 0 auto;

                    .gallery {

                        .slick-prev,
                        .slick-next {
                            opacity: 1;

                            filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
                        }

                        .slick-prev {
                            top: 40%;
                            left: -20px;
                        }

                        .slick-next {
                            top: 40%;
                            right: -20px;
                        }

                        div {
                            a {
                                font-size: 14px;

                                position: relative;

                                color: #000;

                                img {
                                    display: block;

                                    margin: 0 0 5px;
                                }

                                &:hover {
                                    color: #000;
                                }

                                p {
                                    font-size: 12px;
                                    line-height: 1.25;

                                    margin: 0 0 4px;

                                    &.price {
                                        font-size: 13px;
                                        font-weight: bold;
                                        text-align: right;
                                    }

                                    small {
                                        font-size: 10px;
                                        font-weight: normal;

                                        color: #000;
                                    }

                                    &.catch {
                                        font-style: italic;
                                        position: relative;
                                        margin: 5px 0 0;
                                        padding: 3% 7%;
                                        text-align: left;

                                        &:before {
                                            font-size: 20px;

                                            position: absolute;
                                            top: 0;
                                            left: -12px;

                                            display: block;

                                            content: "\300C";
                                        }

                                        &:after {
                                            font-size: 20px;

                                            position: absolute;
                                            right: -12px;
                                            bottom: 0;

                                            display: block;

                                            content: "\300D";
                                        }
                                    }
                                }

                                span {
                                    font-size: 10px;
                                    position: absolute;
                                    top: 5px;
                                    left: 0;
                                    display: block;
                                    padding: 4px 8px;
                                    color: #fff;

                                    &.new {
                                        background-color: #c3081c;
                                    }

                                    &.renewal {
                                        background-color: #356a71;
                                    }

                                    &.delifree {
                                        display: inline;
                                        font-size: .75em;
                                        position: static;
                                        color: #fff;
                                        background-color: #900;
                                        margin: 0 4px;
                                        padding: 0 2px;
                                    }
                                }
                            }
                        }
                    }
                }

                &.event {
                    height: 440px;

                    .slider {
                        width: 100%;
                    }
                }

                &.originalitem {
                    .contents {
                        padding: 1%;

                        background-color: #fdf6ee;

                        @include sizing(100%);

                        ul {
                            overflow: hidden;

                            li {
                                float: left;

                                width: 25%;
                                padding: 1%;

                                @include sizing(100%);

                                &:nth-child(5) {
                                    float: left;
                                    clear: both;
                                }

                                a {
                                    font-size: 14px;
                                    position: relative;
                                    display: block;
                                    height: 330px;
                                    padding: 6%;
                                    color: #000;
                                    background-color: #fff;

                                    img {
                                        display: block;

                                        width: 100%;
                                        margin: 0 0 5px;
                                    }

                                    &:hover {
                                        color: #000;
                                    }

                                    p {
                                        font-size: 12px;
                                        line-height: 1.25;
                                        margin: 0 0 4px;

                                        &.price {
                                            font-size: 13px;
                                            font-weight: bold;

                                            text-align: right;
                                        }

                                        small {
                                            font-size: 10px;
                                            font-weight: normal;
                                            color: #000;
                                        }

                                        &.catch {
                                            font-style: italic;
                                            position: absolute;
                                            bottom: 10px;
                                            left: 10px;
                                            width: 75%;
                                            margin: 5px 0 0;
                                            padding: 3% 7%;

                                            &:before {
                                                font-size: 20px;
                                                position: absolute;
                                                top: 0;
                                                left: -12px;
                                                display: block;
                                                content: "\300C";
                                            }

                                            &:after {
                                                font-size: 20px;
                                                position: absolute;
                                                right: -12px;
                                                bottom: 0;
                                                display: block;
                                                content: "\300D";
                                            }
                                        }
                                    }

                                    span {
                                        font-size: 10px;
                                        position: absolute;
                                        top: 10px;
                                        left: 0;
                                        display: block;
                                        padding: 2px 4px;
                                        color: #fff;

                                        &.new {
                                            background-color: #c3081c;
                                        }

                                        &.renewal {
                                            background-color: #356a71;
                                        }

                                        &.delifree {
                                            display: inline;
                                            font-size: .75em;
                                            position: static;
                                            color: #fff;
                                            background-color: #900;
                                            margin: 0 4px;
                                            padding: 0 2px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &.lifeitem {
                    .contents {
                        padding: 1%;

                        @include sizing(100%);

                        ul {
                            overflow: hidden;

                            li {
                                float: left;
                                overflow: hidden;

                                width: 25%;
                                height: 300px;
                                padding: 1%;

                                border-right: 1px solid #dfdfdf;
                                border-bottom: 1px solid #dfdfdf;

                                @include sizing(100%);

                                &:nth-child(4),
                                &:nth-child(8) {
                                    border-right: none;
                                }

                                a {
                                    font-size: 14px;

                                    position: relative;

                                    display: block;

                                    padding: 6%;

                                    color: #000;
                                    background-color: #fff;

                                    img {
                                        display: block;

                                        width: 100%;
                                        margin: 0 0 5px;
                                    }

                                    &:hover {
                                        color: #000;
                                    }

                                    p {
                                        line-height: 1.25;

                                        small {
                                            font-weight: normal;

                                            color: #000;
                                        }

                                        &.catch {
                                            font-size: 12px;
                                            font-style: italic;

                                            position: relative;

                                            margin: 5px 0 0;
                                            padding: 3% 7%;

                                            &:before {
                                                font-size: 20px;

                                                position: absolute;
                                                top: 0;
                                                left: -12px;

                                                display: block;

                                                content: "\300C";
                                            }

                                            &:after {
                                                font-size: 20px;

                                                position: absolute;
                                                right: -12px;
                                                bottom: 0;

                                                display: block;

                                                content: "\300D";
                                            }
                                        }
                                    }

                                    span {
                                        font-size: 11px;

                                        position: absolute;
                                        top: 5px;
                                        left: 0;

                                        display: block;

                                        padding: 4px 8px;

                                        color: #fff;

                                        &.season {
                                            color: #4e2e0f;
                                            background-color: #ffe1c3;
                                        }

                                        &.pro {
                                            background-color: #356a71;
                                        }

                                        &.gift {
                                            background-color: #d2bf58;
                                        }

                                        &.premium {
                                            background-color: #f47ea5;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            /* ¥¿¥ÖÇÐ¤êÌæ¤¨²¿·Ö */
            label.panel-label {
                display: block;

                width: 100%;

                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                -webkit-transition-duration: 200ms;
                transition-duration: 200ms;
                -webkit-transition-property: background-color, color;
                transition-property: background-color, color;

                color: #000;
                background-color: #ecf0f1;
            }

            label.panel-label:hover {
                color: $acc;
            }

            .slider {
                height: auto;

                &.new {
                    .slick-slide {
                        height: auto;
                        padding: 0;

                        a {
                            display: block;

                            padding: 8% 4%;

                            @include sizing(100%);
                        }
                    }

                    .slick-track {
                        height: auto;
                    }
                }

                &.giftscene {
                    .slick-slide {
                        height: auto;
                        padding: 0;

                        a {
                            display: block;

                            padding: 14% 10%;

                            @include sizing(100%);
                        }
                    }

                    .otherLinks {
                        font-size: 14px;

                        display: block;
                        float: right;

                        padding: 8px 16px;

                        color: #5e3f17;
                        border: 1px solid #5e3f17;

                        &:after {
                            display: block;
                            float: right;

                            margin: -1px 0 0 10px;

                            content: '>';
                        }
                    }

                    .slick-track {
                        height: auto;
                    }

                    .gallery {
                        div {
                            a {
                                position: relative;

                                span {
                                    font-size: 10px;
                                    position: absolute;
                                    top: 3px;
                                    left: 15px;
                                    display: block;
                                    width: 30px;
                                    padding: 2px 4px;
                                    color: #fff;

                                    &.new {
                                        background-color: #c3081c;
                                    }

                                    &.renewal {
                                        background-color: #356a71;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            #panels {
                background-color: white;

                .conianer {
                    width: 90%;
                    margin: 0 auto;
                }

                section {
                    header {
                        label {
                            &.panel-label {
                                box-sizing: border-box;
                                padding: 12px 24px;
                            }
                        }
                    }

                    main {
                        overflow-y: hidden;

                        box-sizing: border-box;
                        max-height: 0;

                        -webkit-transition: opacity 600ms;
                        transition: opacity 600ms;

                        opacity: 0;
                    }
                }
            }

            #panel-1-ctrl:checked~#panels #panel-1 main,
            #panel-2-ctrl:checked~#panels #panel-2 main,
            #panel-3-ctrl:checked~#panels #panel-3 main,
            #panel-4-ctrl:checked~#panels #panel-4 main,
            #panel-5-ctrl:checked~#panels #panel-5 main,
            #panel-6-ctrl:checked~#panels #panel-6 main {
                max-height: initial;
                padding: 0;

                opacity: 1;
            }

            #panel-1-ctrl:checked~#tabs-list #li-for-panel-1 {
                cursor: default;
                -webkit-transform: translate3d(0, 1px, 0);
                transform: translate3d(0, 1px, 0);
                pointer-events: none;

                border-right: none;
                box-shadow: none;
            }

            #panel-1-ctrl:checked~#tabs-list #li-for-panel-1.last {
                border-right: 1px solid transparent;
            }

            #panel-1-ctrl:checked~#tabs-list #li-for-panel-1+li {
                border-left: 1px solid #dfdfdf;
            }

            #panel-1-ctrl:checked~#tabs-list #li-for-panel-1 label.panel-label {
                padding-top: 14px;

                color: $acc;
                background-color: white;
            }

            #panel-1-ctrl:checked~#tabs-list #li-for-panel-1 label.panel-label::after {
                height: 0;
            }

            #panel-2-ctrl:checked~#tabs-list #li-for-panel-2 {
                cursor: default;
                -webkit-transform: translate3d(0, 1px, 0);
                transform: translate3d(0, 1px, 0);
                pointer-events: none;

                border-right: none;
                box-shadow: none;
            }

            #panel-2-ctrl:checked~#tabs-list #li-for-panel-2.last {
                border-right: 1px solid transparent;
            }

            #panel-2-ctrl:checked~#tabs-list #li-for-panel-2+li {
                border-left: 1px solid #dfdfdf;
            }

            #panel-2-ctrl:checked~#tabs-list #li-for-panel-2 label.panel-label {
                padding-top: 14px;

                color: $acc;
                background-color: white;
            }

            #panel-2-ctrl:checked~#tabs-list #li-for-panel-2 label.panel-label::after {
                height: 0;
            }

            #panel-3-ctrl:checked~#tabs-list #li-for-panel-3 {
                cursor: default;
                -webkit-transform: translate3d(0, 1px, 0);
                transform: translate3d(0, 1px, 0);
                pointer-events: none;

                border-right: none;
                box-shadow: none;
            }

            #panel-3-ctrl:checked~#tabs-list #li-for-panel-3.last {
                border-right: 1px solid transparent;
            }

            #panel-3-ctrl:checked~#tabs-list #li-for-panel-3+li {
                border-left: 1px solid #dfdfdf;
            }

            #panel-3-ctrl:checked~#tabs-list #li-for-panel-3 label.panel-label {
                padding-top: 14px;

                color: $acc;
                background-color: white;
            }

            #panel-3-ctrl:checked~#tabs-list #li-for-panel-3 label.panel-label::after {
                height: 0;
            }

            #panel-4-ctrl:checked~#tabs-list #li-for-panel-4 {
                cursor: default;
                -webkit-transform: translate3d(0, 1px, 0);
                transform: translate3d(0, 1px, 0);
                pointer-events: none;

                border-right: none;
                box-shadow: none;
            }

            #panel-4-ctrl:checked~#tabs-list #li-for-panel-4.last {
                border-right: 1px solid transparent;
            }

            #panel-4-ctrl:checked~#tabs-list #li-for-panel-4+li {
                border-left: 1px solid #dfdfdf;
            }

            #panel-4-ctrl:checked~#tabs-list #li-for-panel-4 label.panel-label {
                padding-top: 14px;

                color: $acc;
                background-color: white;
            }

            #panel-4-ctrl:checked~#tabs-list #li-for-panel-4 label.panel-label::after {
                height: 0;
            }

            #panel-5-ctrl:checked~#tabs-list #li-for-panel-5 {
                cursor: default;
                -webkit-transform: translate3d(0, 1px, 0);
                transform: translate3d(0, 1px, 0);
                pointer-events: none;

                border-right: none;
                box-shadow: none;
            }

            #panel-5-ctrl:checked~#tabs-list #li-for-panel-5.last {
                border-right: 1px solid transparent;
            }

            #panel-5-ctrl:checked~#tabs-list #li-for-panel-5+li {
                border-left: 1px solid #dfdfdf;
            }

            #panel-5-ctrl:checked~#tabs-list #li-for-panel-5 label.panel-label {
                padding-top: 14px;

                color: $acc;
                background-color: white;
            }

            #panel-5-ctrl:checked~#tabs-list #li-for-panel-5 label.panel-label::after {
                height: 0;
            }

            #panel-6-ctrl:checked~#tabs-list #li-for-panel-6 {
                cursor: default;
                -webkit-transform: translate3d(0, 1px, 0);
                transform: translate3d(0, 1px, 0);
                pointer-events: none;

                border-right: none;
                box-shadow: none;
            }

            #panel-6-ctrl:checked~#tabs-list #li-for-panel-6.last {
                border-right: 1px solid transparent;
            }

            #panel-6-ctrl:checked~#tabs-list #li-for-panel-6+li {
                border-left: 1px solid #dfdfdf;
            }

            #panel-6-ctrl:checked~#tabs-list #li-for-panel-6 label.panel-label {
                padding-top: 14px;

                color: $acc;
                background-color: white;
            }

            #panel-6-ctrl:checked~#tabs-list #li-for-panel-6 label.panel-label::after {
                height: 0;
            }

            ul#tabs-list {
                display: flex;

                margin: 0 0 10px;
                padding: 0;

                list-style: none;

                text-align: center;
                text-align: center;

                border-bottom: 1px solid #dfdfdf;
                border-bottom: 1px solid #dfdfdf;

                justify-content: left;

                li {
                    font-size: .875em;

                    position: relative;

                    display: flex;

                    width: 25%;

                    text-align: center;

                    border-right: 1px solid #dfdfdf;

                    &:hover {
                        -webkit-transition: none;
                        transition: none;

                        border-right: none;

                        &.last {
                            border-right: 1px solid transparent;
                        }

                        &+li {
                            border-left: 1px solid #dfdfdf;
                        }
                    }

                    label {
                        &.panel-label {
                            font-size: 14px;

                            position: relative;

                            padding: 14px 0;

                            &:after {
                                position: absolute;
                                bottom: 100%;
                                left: 0;

                                width: 100%;
                                height: 0;

                                content: '';
                                -webkit-transition-duration: 200ms;
                                transition-duration: 200ms;
                                -webkit-transition-property: height;
                                transition-property: height;

                                background-color: $acc;
                            }

                            &:hover {
                                padding-top: 14px;
                            }

                            &:hover::after {
                                height: 0;
                            }
                        }
                    }
                }
            }

            main {
                width: 100%;
                margin: 0 auto;
            }

            .panel-radios {
                display: none;
            }

            main p {
                line-height: 1.8;
            }
        }

        #leftnav {
            width: auto;
        }
    }

    #leftnav {
        float: left;
        overflow: hidden;

        width: 100%;

        @media only screen and (min-width: 201px) {

            .newitem,
            .rank,
            .menu .scene,
            .menu .recommend,
            .recommend,
            .popular {
                display: none;
            }
        }

        &>iframe {
            display: block;

            margin: 0 0 30px;
        }

        .maincontents {
            h4 {
                font-size: 20px;

                display: block;

                margin: 0 0 10px;

                text-indent: 0;
            }

            &>div {
                margin: 0 0 30px;
            }

            .news {
                h4 {
                    border-bottom: 1px #999999;
                    border-bottom-style: solid;
                    font-weight: bold;
                }

                a {
                    text-decoration: none;

                    color: #000;
                }
            }

            .newitem {
                h4 {
                    position: relative;

                    small {
                        font-size: 12px;
                        font-weight: normal;

                        position: absolute;
                        bottom: 2px;
                        left: 25%;

                        color: #000;
                    }
                }

                ul {
                    overflow: hidden;

                    margin: 0 0 30px;

                    li {
                        overflow: hidden;

                        margin: 0 0 10px;

                        a {
                            color: #000;

                            .image {
                                float: left;

                                width: 70px;

                                img {
                                    display: block;

                                    width: 100%;
                                }
                            }

                            .text {
                                float: left;

                                width: 125px;
                                padding: 0 0 0 5px;

                                p {
                                    font-size: 12px;
                                    line-height: 1.25;
                                    display: -webkit-box;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 3;
                                    text-overflow: ellipsis;
                                    overflow: hidden;

                                    em {
                                        font-weight: normal;

                                        display: block;
                                        display: inline-block;

                                        margin: 0 0 3px;
                                        padding: 2px 4px;

                                        color: $white;

                                        &.new {
                                            background-color: #c3081c;
                                        }

                                        &.renewal {
                                            background-color: #356a71;
                                        }
                                    }
                                }

                                hr {
                                    display: block;

                                    margin: 5px 0;

                                    border: none;
                                    border-bottom: 1px dotted #000;
                                }
                            }
                        }
                    }
                }
            }

            .pickup {
                img {
                    display: block;

                    width: 100%;
                }

                h4 {
                    position: relative;

                    small {
                        font-size: 12px;
                        font-weight: normal;

                        position: absolute;
                        bottom: 2px;
                        left: 25%;

                        color: #000;
                    }
                }
            }

            .calender {
                a {
                    font-size: 16px;
                    font-weight: normal;

                    display: block;

                    padding: 12px 0;

                    text-align: center;

                    color: #fff;
                    border: 1px solid #c3081c;
                    background-color: #c3081c;

                    @include anm(.2s);

                    &:hover {
                        text-decoration: none;

                        color: #c3081c;
                        background-color: #fff;
                    }
                }
            }

            .popular {
                ul {
                    li {
                        margin: 0 0 5px;
                    }
                }
            }

            .service {
                ul {
                    li {
                        margin: 0 0 10px;
                    }
                }
            }

            .rank {
                ul {
                    overflow: hidden;

                    margin: 0 0 30px;

                    li {
                        overflow: hidden;

                        margin: 0 0 10px;

                        a {
                            color: #000;

                            .image {
                                float: left;

                                width: 70px;

                                img {
                                    display: block;
                                    width: 100%;
                                }
                            }

                            .text {
                                float: left;

                                width: 125px;
                                padding: 0 0 0 5px;

                                p {
                                    font-size: 12px;
                                    line-height: 1.25;
                                    display: -webkit-box;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 3;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                }

                                hr {
                                    display: block;

                                    margin: 5px 0;

                                    border: none;
                                    border-bottom: 1px dotted #000;
                                }
                            }
                        }
                    }
                }

                .title {
                    margin: 0 0 10px;
                }
            }

            .menu {
                ul {
                    overflow: hidden;

                    margin: 0 0 30px;

                    list-style-position: inside;
                    list-style-type: disc;

                    li {
                        font-size: 14px;

                        overflow: hidden;

                        margin: 0 0 10px;
                        padding: 0 0 0 1em;

                        list-style-type: disc;

                        a {
                            display: inline-block;

                            color: #000;
                        }
                    }

                    &.budget {
                        @media only screen and (min-width: 201px) {
                            li {
                                font-size: 14px;

                                position: relative;

                                overflow: hidden;

                                margin: 0 0 0;
                                padding: 15px 12px;

                                list-style-type: none;

                                border: 1px solid #bfbfbf;
                                border-bottom: none;

                                &:last-child {
                                    border-bottom: 1px solid #bfbfbf;
                                }

                                &:after {
                                    position: absolute;
                                    top: 14px;
                                    right: 15px;

                                    display: inline-block;

                                    margin: 0 0 0 6px;

                                    content: '>';

                                    color: #bfbfbf;
                                }

                                &:hover {
                                    &:after {
                                        color: #000;
                                    }
                                }

                                a {
                                    display: block;

                                    width: 100%;

                                    color: #000;
                                }
                            }
                        }
                    }

                    &.recommend {
                        list-style: none;

                        li {
                            margin: 0 0 20px;
                            padding: 0;

                            a {
                                .image {
                                    margin: 0 0 5px;

                                    img {
                                        display: block;

                                        width: 100%;
                                    }
                                }

                                .text {
                                    p {
                                        font-size: 12px;
                                        line-height: 1.25;
                                    }

                                    hr {
                                        display: block;

                                        margin: 5px 0;

                                        border: none;
                                        border-bottom: 1px dotted #000;
                                    }
                                }

                                &:hover {
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }

                .title {
                    margin: 0 0 10px;
                }
            }

            /* calender */
            .calenderstyle {
                clear: both;
                overflow: hidden;

                width: 100%;
                margin: 0;


                p {
                    font-size: 12px;

                    clear: both;

                    padding: 0;

                    text-align: center;

                    .sat {
                        display: block;
                        float: left;

                        width: 14px;
                        height: 14px;
                        margin: 0 10px 5px 0;

                        background-color: #f4c07d;
                    }

                    .sun {
                        display: block;
                        float: left;

                        width: 14px;
                        height: 14px;
                        margin: 0 10px 5px 0;

                        background-color: #f4c07d;
                    }
                }

                b {
                    font-family: AGaramond-Regular, 'ÓÎÃ÷³¯Ìå', 'Yu Mincho', YuMincho, 'Hiragino Mincho ProN', 'HiraMinProN-W6', '¥Ò¥é¥®¥ÎÃ÷³¯ ProN W6', 'HGÃ÷³¯E', '£Í£Ó £ÐÃ÷³¯', 'MS PMincho', 'MS Ã÷³¯', serif;
                    font-weight: normal;

                    &.main {
                        font-family: '¥Ò¥é¥®¥Î½Ç¥´ Pro W3', 'Hiragino Kaku Gothic Pro', '¥á¥¤¥ê¥ª', Meiryo, Osaka, '£Í£Ó £Ð¥´¥·¥Ã¥¯', 'MS PGothic', sans-serif;
                        font-size: 18px;
                        font-weight: normal;

                        display: block;

                        margin: 0;
                        padding: 12px 0;
                    }
                }

                hr {
                    margin: 0 0 10px;
                    padding: 0;

                    border: none;
                    border-bottom: 1px solid $acc;
                }

                .ifCal {
                    display: block;

                    margin: 0;
                    padding: 0;
                }

                .cal_wrapper {
                    position: relative;

                    display: block;
                    float: right;

                    width: 100%;
                    margin: 0;

                    table.cal {
                        width: 100%;
                        padding: 0;

                        @include marg(0,
                        10,
                        0,
                        0);

                        tr {
                            th {
                                p {
                                    float: left;

                                    margin: 0;
                                    padding: 5px 0 0;

                                    color: #666;

                                    @include fsize(10,
                                    1.5);
                                }

                                div.cal_ui {
                                    float: right;

                                    @include fsize(10,
                                    0);

                                    input {
                                        margin: 0;
                                        margin: 0 1px;
                                        padding: 0;
                                        padding: 1px 5px;

                                        list-style: none;

                                        color: #000;
                                        border-style: none;
                                        background-color: #efefef;

                                        @include fsize(10,
                                        1);
                                    }
                                }
                            }

                            td {
                                font-size: 10px;

                                padding: 0;

                                text-align: center;

                                border-top: solid 1px #eee;

                                div {
                                    text-align: center;

                                    @include fsize(10,
                                    1.5);

                                    span {
                                        font-size: 13px;
                                        font-weight: normal;
                                        line-height: 1.5em;

                                        position: absolute;
                                        z-index: 10;
                                        top: 20px;
                                        left: 10px;

                                        display: none;

                                        width: 130px;
                                        padding: 5px;

                                        text-align: left;

                                        color: #000;
                                        border: solid 1px #eee;
                                        background-color: #fff;
                                        box-shadow: 1px 1px 6px #ccc;

                                        @include rad(6,
                                        6,
                                        6,
                                        6);
                                    }

                                    /* ÒÔÏÂê×ÈÕ„eÖ¸¶¨ */
                                    &.Holyday {
                                        background-color: #f4c07d;

                                        &:hover {
                                            background-color: #f4c07d;
                                        }
                                    }

                                    &.Sat,
                                    &.Sun {
                                        background-color: #f4c07d;
                                    }

                                    &.Business {
                                        background-color: #fff;
                                    }

                                    &.Today {
                                        font-weight: bolder;
                                    }

                                    &.Deli {
                                        background-color: #efe;
                                    }

                                    &.Birthday {
                                        font-weight: bolder;

                                        color: #090;
                                        border-radius: 3px;
                                    }

                                    &.backward {
                                        font-weight: normal;

                                        color: #bbb;
                                        border-radius: 3px;
                                    }

                                    &.pointer {
                                        cursor: pointer;

                                        &:hover {
                                            color: #fff;
                                            background-color: $acc;
                                        }
                                    }

                                    &.Business {
                                        background-color: #fff;
                                    }
                                }
                            }

                            &.headline td {
                                padding: 5px 0;

                                color: #666;
                                background-color: #eee;
                            }
                        }
                    }
                }

                &.mainCal {
                    float: left;
                    clear: right;

                    width: 46%;
                    margin: 0 0 30px;
                    padding: 0 2%;

                    p {
                        text-align: left;

                        &.careful {
                            margin: 115px 0 0;
                        }
                    }

                    table.cal {
                        tr {
                            th {
                                p {
                                    font-weight: bold;

                                    padding: 5px 0 6px;

                                    @include fsize(14,
                                    1.5);
                                }

                                div.cal_ui {
                                    @include fsize(12,
                                    0);

                                    input {
                                        padding: 4px 5px;

                                        @include fsize(14,
                                        1);
                                    }
                                }
                            }

                            td {
                                font-size: 13px;

                                padding: 0;

                                text-align: center;

                                border-top: solid 1px #eee;

                                div {
                                    padding: 5px 0;

                                    text-align: center;

                                    @include fsize(12,
                                    1.5);

                                    &.Holyday {
                                        background-color: #f4c07d;

                                        &:hover {
                                            background-color: #f4c07d;
                                        }
                                    }

                                    &.Sat,
                                    &.Sun {
                                        background-color: #f4c07d;
                                    }

                                    &.Business {
                                        background-color: #fff;
                                    }
                                }
                            }

                            &.headline td {
                                padding: 0;

                                color: #666;
                                background-color: #eee;
                            }
                        }
                    }
                }
            }
        }
    }

    #footer {
        .maincontents {
            padding: 35px 0 0;

            .sns {
                overflow: hidden;

                width: 1040px;
                margin: 0 auto 20px;

                div {
                    float: left;

                    width: 338px;

                    border: 1px solid #f4eee6;

                    &.instagram {
                        ul {
                            li {
                                float: left;

                                width: 33.333%;

                                a {
                                    display: block;

                                    img {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }

                    &.facebook {
                        margin: 0 10px;

                        iframe {
                            height: 226px;
                        }
                    }

                    h5 {
                        font-size: 19px;

                        display: block;

                        margin: 16px 0;

                        text-align: center;
                    }

                    iframe {
                        width: 100%;

                        border: none;
                    }

                    #slide {
                        position: relative;

                        width: 338px;
                        height: 338px;
                        margin: 0 auto;

                        a {
                            display: block;

                            img {
                                position: absolute;
                                top: 0;
                                left: 0;

                                display: block;

                                width: 100%;
                            }
                        }
                    }
                }
            }

            .ourinfo {
                overflow: hidden;

                margin: 0 0 20px;

                border: 1px solid #f4eee6;

                h5 {
                    font-size: 26px;
                    font-weight: normal;

                    padding: 20px 0;

                    text-align: center;

                    color: #000;
                }

                ul {
                    @include sizing(100%);

                    li {
                        float: left;

                        width: 33.333%;

                        img {
                            display: block;

                            width: 100%;
                        }
                    }
                }
            }

            .media {
                overflow: hidden;

                margin: 0 0 20px;
                padding: 25px 20px;

                border: 1px solid #f4eee6;

                @include sizing(100%);

                .text {
                    float: left;

                    padding: 0 50px;

                    border-right: 1px solid #e18f47;

                    @include sizing(40%);

                    h5 {
                        font-size: 32px;
                        font-weight: normal;

                        text-align: center;

                        color: #e18f47;

                        small {
                            font-size: 20px;
                            font-weight: normal;

                            display: block;

                            color: #e18f47;
                        }
                    }

                    p {
                        font-size: 14px;
                        line-height: 27px;

                        text-align: center;
                    }
                }

                .magazine {
                    float: left;

                    @include sizing(60%);

                    ul {
                        li {
                            float: left;

                            padding: 0 0 0 45px;
                        }
                    }
                }
            }

            .shopinfo {
                overflow: hidden;

                margin: 0 0 20px;
                padding: 25px 20px;

                border: 1px solid #f4eee6;

                @include sizing(100%);

                .catch {
                    float: left;

                    width: 30%;
                    padding: 0 2%;

                    h5 {
                        font-size: 32px;
                        font-weight: normal;

                        text-align: center;

                        color: #e18f47;

                        small {
                            font-size: 20px;
                            font-weight: normal;

                            display: block;

                            color: #e18f47;
                        }
                    }

                    p {
                        font-size: 16px;
                        line-height: 27px;
                    }

                    img {
                        display: block;

                        margin: 0 0 10px;
                    }

                    hr {
                        display: block;

                        margin: 16px 0;

                        border: none;
                        border-bottom: 1px solid #e18f47;
                    }
                }

                .contents {
                    float: left;

                    width: 63%;
                    padding: 1%;

                    border: 1px dotted #000;

                    em {
                        font-size: 18px;
                        font-weight: normal;

                        display: block;

                        color: #000;
                    }

                    hr {
                        display: block;

                        margin: 10px 0;

                        border: none;
                        border-bottom: 1px dotted #000;
                    }

                    p {
                        font-size: 14px;
                    }

                    ul {
                        font-size: 14px;

                        li {
                            line-height: 18px;
                        }
                    }
                }
            }

            .article {
                font-size: 14px;

                position: relative;

                float: left;

                width: 613px;

                border: 1px solid $acc;
                background-color: $white;

                h3 {
                    font-size: 20px;

                    display: block;

                    margin: 0 0 15px;
                    padding: 8px 0;

                    text-align: center;

                    color: $white;
                    background-color: $acc;

                    a {
                        font-size: 14px;

                        display: inline-block;

                        margin: 0 0 0 20px;

                        text-decoration: underline;

                        color: $white;
                    }
                }

                &.payment,
                &.secure,
                &.order {
                    margin: 0 19px 19px 0;
                }

                &.delivery,
                &.oversea,
                &.stock,
                &.contact {
                    margin: 0 0 19px;
                }

                &.payment,
                &.delivery {
                    height: 245px;
                    padding: 0 0 15px;

                    p {
                        padding: 0 20px 0;

                        em {
                            font-size: 18px;
                            font-weight: normal;

                            text-decoration: underline;

                            color: #e69833;
                        }
                    }

                    ul {
                        font-size: 14px;

                        padding: 10px 20px 20px;

                        li {
                            margin: 0 0 8px;
                        }
                    }

                    img {
                        position: absolute;
                        right: 15px;
                        bottom: 15px;

                        display: block;
                    }
                }

                &.secure,
                &.oversea {
                    height: 135px;
                    padding: 0 0 15px;

                    p {
                        padding: 0 0 15px;

                        text-align: center;
                    }
                }

                &.order,
                &.stock {
                    height: 285px;
                    padding: 0 0 15px;

                    p {
                        padding: 0 20px 15px;
                    }

                    hr {
                        display: block;

                        width: 93%;
                        margin: 0 auto;

                        border: none;
                        border-bottom: 1px solid #000;
                    }

                    img {
                        display: block;

                        margin: 15px auto 0;
                    }
                }

                &.contact {
                    width: 100%;
                    height: 225px;

                    .address {
                        float: left;

                        width: 60%;

                        p {
                            padding: 0 20px 15px;
                        }
                    }

                    .company {
                        float: left;

                        width: 40%;

                        p {
                            padding: 0 20px 15px;

                            text-align: center;
                        }

                        a {
                            display: inline-block;

                            margin: 5px auto;
                            padding: 30px 20px;

                            text-align: center;

                            border: 1px solid #000;
                        }
                    }
                }
            }
        }

        .bottombar {
            color: $white;
            background-color: $acc;

            ul {
                display: block;
                float: left;

                margin: 4px 0;
                padding: 6px 0;

                border: none;
                border-top: 1px solid #fff;
                border-bottom: 1px solid #fff;

                li {
                    float: left;

                    margin: 0 10px 0 0;
                    padding: 0 10px 0 0;

                    letter-spacing: 1px;

                    border-right: 1px solid #fff;

                    a {
                        color: $link;
                    }

                    &:last-child {
                        margin: 0;
                        padding: 0;

                        border: none;
                    }
                }

                &.submenu {
                    float: right;

                    li {
                        margin: 0 0 0 10px;
                        padding: 0 0 0 10px;

                        border: none;
                        border-left: 1px solid #fff;

                        &:first-child {
                            border: none;
                        }
                    }
                }
            }

            small {
                font-size: 10px;
                font-weight: normal;

                display: block;
                clear: both;

                color: #fff;
            }
        }
    }
}