@import "../styleguide/_scss/default.scss";
html,
body {
    height: 100%;
    #wrapper{
        #contents{
            #Detail{
                #main-column,#Journal{
                    width: 1080px !important;
                    iframe{
                        margin: 0 auto;
                        display: block;
                    }
                }
                #sub-column{
                    display: none;
                }
            }
        }
    }
}