@import "../styleguide/_scss/styleguide.scss";

body {
    @include fsize(12, 1.5);

    /* カートボタン */
    .ipcartBtn{
        display: block;
        width: 40px;
        height: 40px;
        background: url(https://den-tou.com/img/sh_cartBtn.gif) 0 0 no-repeat;
        right: 0;
        bottom: 0;
        position: fixed;
    }

    #page-top{
        display: none !important;
    }

    .header {
        .headerWrap {
            background-color: #dfdfdf;
            .headerWrap_container {
                width: 990px;
                margin: 0 auto;
                overflow: hidden;
                strong{
                    color: #fff;
                    float: left;
                    margin: 2px 0 0;
                    @include fsize(12,1.5);
                    font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                }
            }
            .fb_iframe_widget{
                float: left;
                margin: 10px 0 0 30px;
                height: 20px;
                width: 280px;
                overflow: hidden;
            }
            &.headerWrap-topbar {
                z-index: 10;
                height: 100%;
                background: url('https://den-tou.com/img/bg_lp.gif');
                .headerWrap_container{
                    overflow: auto;
                }
                a {
                    @include fsize(10, 1.5);
                    font-weight: normal;
                    color: $bc;
                    text-decoration: none;
                    &.headerWrap_container_delivery {
                        text-align: center;
                        display: block;
                        font-size: 10px;
                        float: left;
                        width: 450px;
                        margin: 3px 0 0 60px;
                        span{
                            text-decoration: underline;
                        }
                    }
                }
                .headerWrap_container_submenu {
                    float: right;
                    margin: 2px 0 0;
                    li {
                        color: $bc;
                        float: left;
                        padding: 0 0 0 4px;
                    }
                    .headerWrap_container_submenu_drop{
                        display: none;
                    }
                    .shopguide{
                        position: relative;
                        &:hover .headerWrap_container_submenu_drop{
                            display: block;
                            position: fixed;
                            top: 20px;
                            left: auto;
                            width: 300px;
                            height: auto;
                            padding: 4px;
                            background: url('https://den-tou.com/img/bg_lp.gif');
                            z-index: 10;
                            border: 1px solid $mc;
                            a{
                                color: $bc;
                                &:hover{
                                    text-decoration: underline;
                                }
                            }
                            ul{
                                li{
                                    margin: 0 4px 0;
                                }
                            }
                        }
                    }
                    ul{
                        float: left;
                    }
                    a{
                        @include fsize(12,1.5);
                    }
                }
            }
            /* end topbar */
            
            &.headerWrap-subnav {
                z-index: 1;
                /* background: url('https://den-tou.com/img/hdr_bg_lp.jpg'); */
                background-color: $bc;
                padding: 0;
                .headerWrap_container {
                    position: relative;
                    height: 160px;
                    z-index: 1;
                }
                .subnav_title {
                    background: url('https://den-tou.com/img/logo.png') no-repeat;
                    width: 95px;
                    height: 61px;
                    margin: 10px 0 0;
                    display: block;
                    float: left;
                    text-indent: -9999px;
                    a{
                        display: block;
                    }
                }
                .headerWrap_container_holiday{
                    margin: -36px 0 0;
                    clear: both;
                    float: left;
                    height: 40px;
                    font-size: 10px;
                    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                    span{
                        font-weight: bold;
                    }
                }
                .headerWrap_container_result{
                    float: left;
                    margin: -35px 0 0 20px;
                    img{
                        float: left;
                        display: block;
                    }
                    span{
                        font-size: 10px;
                        float: left;
                        display: block;
                        margin: 5px 0 0 5px;
                    }
                }

                .subnav_campaign{
                    @include anm(0.2s);
                    display: block;
                    float: left;
                    background: url(https://den-tou.com/img/deli_servicebnr.jpg) no-repeat;
                    width: 270px;
                    height: 32px;
                    margin: 8px 0 0 30px;
                    &:hover{
                        background: url(https://den-tou.com/img/deli_servicebnr_hv.jpg) no-repeat;
                    }
                }
                .subnav_mainmenu {
                    margin: 10px 8px 0 0;
                    float: right;
                    ul {
                        li {
                            float: left;
                            margin: 0 0 0 6px;
                            a {
                                display: block;
                                background-repeat: no-repeat;
                                @include anm(0.2s);
                                text-indent: -9999px;
                                height: 21px;
                                &.mainmenu_memberbtn {
                                    background: url('https://den-tou.com/img/hdr_member.png');
                                    width: 231px;
                                    &:hover {
                                        background: url('https://den-tou.com/img/hdr_member_hv.png');
                                    }
                                }
                                &.mainmenu_cartbtn {
                                    background: url('https://den-tou.com/img/hdr_cart.png');
                                    width: 102px;
                                    &:hover {
                                        background: url('https://den-tou.com/img/hdr_cart_hv.png');
                                    }
                                }
                                &.mainmenu_loginbtn {
                                    background: url('https://den-tou.com/img/hdr_login.png');
                                    width: 92px;
                                    &:hover {
                                        background: url('https://den-tou.com/img/hdr_login_hv.png');
                                    }
                                }
                            }
                        }
                    }
                }
                .subnav_contact {
                    position: absolute;
                    top: 40px;
                    right: 260px;
                    font-size:10px;
                    a {
                        display: block;
                    }

                    /* テスト */
                    div{
                        float: left;
                        &.subnav_contact_number{
                            line-height: 0.75;
                            padding: 2px 0 0 4px;
                            font-size: 1.7em;
                            small{
                                font-size:10px;
                            }
                        }
                        &.subnav_contact_other{
                            font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                            font-size: 11px;
                            padding: 0 0 0 10px;
                            line-height: 1;
                            a{
                                text-decoration: none;
                                color: $tc;
                                span{
                                    color: $sbc01;
                                    font-weight: bold;
                                    margin: 0 5px 0 0;
                                }
                            }
                        }
                    }
                    width: 300px;
                    span{
                    }
                }
                .subnav_search {
                    position: absolute;
                    top: 40px;
                    right: 125px;
                    background-color: #dfdfdf;
                    form {
                        position: relative;
                        .search_form {
                            border: none;
                            border: 1px solid $mc;
                            height: 21px;
                            width: 120px;
                        }
                        .search_btn {
                            border-style: none;
                            background: url('https://den-tou.com/img/hdr_searchbtn.png') no-repeat;
                            width: 27px;
                            height: 23px;
                            position: absolute;
                            right: 0;
                            @include anm(0.2s);
                            &:hover {
                                background: url('https://den-tou.com/img/hdr_searchbtn_hv.png') no-repeat;
                            }
                        }
                    }
                }
                .deliveryInfo{
                    float: right;
                    a{
                        @include anm(0.2s);
                        display: block;
                        position: relative;
                        color: #fff;
                        text-decoration: none;
                        background: url(https://den-tou.com/img/hdr_delivery_bnr.png) 0 0 no-repeat;
                        width: 115px;
                        height: 123px;
                        &:hover{
                            background: url(https://den-tou.com/img/hdr_delivery_bnr_hv.png) 0 0 no-repeat;
                        }
                        p{
                            position: absolute;
                            top: 29px;
                            left: 12px;
                            font-size: 22px;
                            font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                            span{
                                font-size: 14px;
                            }
                        }
                    }
                }

            }
            /* end subnav */
            
            &.headerWrap-gnav {
                padding: 8px 0 2px;
                background-color: $bc;
                border-bottom: 1px solid #dfdfdf;
                .headerWrap_container {
                    overflow: visible;
                    padding: 10px 0 0;
                    height: 50px;
                    ul {
                        width: 100%;
                        .gnavMenu {

                        }
                        &.subPages{
                            line-height: 0.9;
                        } 
                        .slits {
                            float: left;
                            position: relative;
                            top: -30px;
                            &.last {
                                float: right;
                                right: 0;
                            }
                        }
                        .gnavMenu_contents {
                            width: 100%;
                            background-color: #fff\9;
                            background-color: rgba(255,255,255,0.95);
                            display: none;
                            position: absolute;
                            overflow: hidden;
                            border-bottom: 1px solid #dfdfdf;
                            border-top: 1px solid #dfdfdf;
                            height: auto;
                            left: 0;
                            top: 240px;
                            z-index: 1000;
                        }
                        .gnavMenu_contentsWrap {
                            margin: 0 auto;
                            height: 120px;
                            padding: 30px 0 0;
                            width: 990px;
                            overflow: hidden;
                        }
                        .gnavMenu_lists {
                            width: 100%;
                            float: left;
                            overflow: hidden;
                            li {
                                width: 12.5%;
                                margin: 0 2% 20px;
                                float: left;
                                a {
                                    text-align: center;
                                    margin: 0 auto;
                                    display: block;
                                    text-decoration: none;
                                    color: $tc;
                                    img {
                                        display: block;
                                        float: left;
                                        max-width: 100%;
                                        margin: 0 0 6px;
                                    }
                                    p {
                                        float: left;
                                        display: inline-block;
                                        margin: 0 auto;
                                        text-align: center;
                                    }
                                    span {
                                        padding: 0;
                                    }
                                    span:before {
                                        content: '';
                                        background: url('https://den-tou.com/img/menu_listicon.png') 0 2px no-repeat;
                                        padding: 0 0 0 16px;
                                    }
                                    span:after {
                                        content: '';
                                        background: url('https://den-tou.com/img/menu_listicon.png') 6px 2px no-repeat;
                                        padding: 0 16px 0 0;
                                    }
                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                        .gnavMenu_title {
                            width: 30%;
                            float: left;
                            span {
                                display: block;
                                margin: 0 auto;
                                width: 64px;
                                height: 264px;
                            }
                            &.gnavMenu_title-event {
                                span {
                                    background: url('https://den-tou.com/img/menu_event_title.png') no-repeat;
                                }
                            }
                            &.gnavMenu_title-genre {
                                span {
                                    background: url('https://den-tou.com/img/menu_genre_title.png') no-repeat;
                                }
                            }
                            &.gnavMenu_title-season {
                                span {
                                    background: url('https://den-tou.com/img/menu_season_title.png') no-repeat;
                                }
                            }
                            &.gnavMenu_title-budget {
                                span {
                                    background: url('https://den-tou.com/img/menu_budget_title.png') no-repeat;
                                }
                            }
                        }
                        .gnavMenu:hover {

                        }
                        .gnavMenu:hover .gnavMenu_contents {
                            display: block;
                        }
                        li {
                            width: 20%;
                            float: left;
                            color: #dfdfdf;
                            .gnavMenu-concept, .gnavMenu-event, .gnavMenu-genre, .gnavMenu-season, .gnavMenu-budget {
                                text-indent: -9999px;
                                margin: 0 auto;
                                display: block;
                                @include anm(0.2s);
                                width: 130px;
                                height: 42px;
                            }
                            .gnavMenu-concept {
                                background: url('https://den-tou.com/img/btn_concept_normal.png') no-repeat;
                                &:hover {
                                    background: url('https://den-tou.com/img/btn_concept_hover.png') no-repeat;
                                }
                                ;
                            }
                            .gnavMenu-event {
                                background: url('https://den-tou.com/img/btn_event_normal.png') no-repeat;
                                &:hover {
                                    background: url('https://den-tou.com/img/btn_event_hover.png') no-repeat;
                                }
                            }
                            .gnavMenu-genre {
                                background: url('https://den-tou.com/img/btn_genre_normal.png') no-repeat;
                                &:hover {
                                    background: url('https://den-tou.com/img/btn_genre_hover.png') no-repeat;
                                }
                            }
                            .gnavMenu-season {
                                background: url('https://den-tou.com/img/btn_season_normal.png') no-repeat;
                                &:hover {
                                    background: url('https://den-tou.com/img/btn_season_hover.png') no-repeat;
                                }
                            }
                            .gnavMenu-budget {
                                background: url('https://den-tou.com/img/btn_budget_normal.png') no-repeat;
                                &:hover {
                                    background: url('https://den-tou.com/img/btn_budget_hover.png') no-repeat;
                                }
                            }
                        }
                    }
                }
                /* end headerWrap_container */
            }
            /* end gnav */
            &.headerWrap-service{
                padding: 20px 0 10px;
                width: 100%;
                background-color: $bc;
                ul{
                    width: 990px;
                    margin: 0 auto;
                    overflow: hidden;
                    li{
                        float: left;
                        width: 33%;
                        a{
                            display: block;
                            width: 304px;
                            height: 52px;
                            margin: 0 auto 10px;
                            @include anm(0.2s);
                            &.noshi{
                                background:url('https://den-tou.com/img/hdr_bnr_noshi.png') no-repeat;
                                &:hover{
                                    background:url('https://den-tou.com/img/hdr_bnr_noshi_hv.png') no-repeat;
                                }
                            }
                            &.wrap{
                                background:url('https://den-tou.com/img/hdr_bnr_wrap.png') no-repeat;
                                &:hover{
                                    background:url('https://den-tou.com/img/hdr_bnr_wrap_hv.png') no-repeat;
                                }
                            }
                            &.delivery{
                                background:url('https://den-tou.com/img/hdr_bnr_delivery.png') no-repeat;
                                &:hover{
                                    background:url('https://den-tou.com/img/hdr_bnr_delivery_hv.png') no-repeat;
                                }
                            }
                            &.paperbag{
                                background:url('https://den-tou.com/img/hdr_bnr_paperbag.png') no-repeat;
                                &:hover{
                                    background:url('https://den-tou.com/img/hdr_bnr_paperbag_hv.png') no-repeat;
                                }
                            }
                            &.check{
                                background:url('https://den-tou.com/img/hdr_bnr_check.png') no-repeat;
                                &:hover{
                                    background:url('https://den-tou.com/img/hdr_bnr_check_hv.png') no-repeat;
                                }
                            }
                            &.bundle{
                                background:url('https://den-tou.com/img/hdr_bnr_bundle.png') no-repeat;
                                &:hover{
                                    background:url('https://den-tou.com/img/hdr_bnr_bundle_hv.png') no-repeat;
                                }
                            }
                        }
                    }
                }
            }
            &.headerWrap-lineup{
                padding: 20px 0;
                width: 100%;
                background-color: $bc;
                ul{
                    width: 990px;
                    margin: 0 auto;
                    overflow: hidden;
                    li{
                        float: left;
                        width: 24%;
                        margin: 0 0.5% 0.5%;
                        a{
                            opacity:1;
                            filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
                            img{
                                width: 100%;
                            }
                            &:hover{
                                opacity:0.7;
                                filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
                            }
                        }
                    }
                }
            }
        }
    }
    /* end header */
}
