/* IMPORT RESET */
@import"../styleguide/_scss/styleguide.scss";
@import"../frameworks/_scss/responsive.gs.24col.scss";
@import "sprite-header.scss";
$line : 1px solid $sbc01;

@mixin main($url) {
    background: url($url);
    background-size:cover;
    background-position: 50% 50%;
    article{
        padding: 0;
    }
    
}


body {
    font-family: sans-serif;
    background-color: $bgc;
}

aside {
    border:1px solid #ddd;
}

.container{
    overflow: hidden;
}

span.title{
    height: 30px;
    display: block;
    overflow: hidden;
    margin: 0 0 10px;
    img{
        height: 25px;
    }
}


.header{
    padding: 20px 0 0;
    &.sp{
        display: none;
    }
    &.pc{
        @include sizing(100%);
        h1{
            width: 20%;
            float: left;
            .logo{
                display: block;
                @include sprite($logo);
            }
            a{
                text-indent: -9999px;
            }
        }
        .nav{
            width: 80%;
            float: right;
            ul{
                margin: 10px 0;
                float: right;
                li{
                    float: left;
                    a{
                        color: $tc;
                        text-decoration: none;
                        @include fsize(10,1.5);
                        margin: 10px;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
                &.gnav{
                    clear: both;
                    li{
                        border-right: 1px solid $tc;
                        height: 10px;
                        a{
                            top: 0;
                            margin: 0 10px;
                            left: 0;
                            display: block;
                            float: left;
                            width: 115px;
                            height: 25px;
                            position: relative;
                            top: -4px;
                            &.genre{
                                @include sprite($btn_genre_normal);
                                &:hover{
                                    @include sprite($btn_genre_hover);
                                }
                            }
                            &.event{
                                @include sprite($btn_event_normal);
                                &:hover{
                                    @include sprite($btn_event_hover);
                                }
                            }
                            &.type{
                                @include sprite($btn_type_normal);
                                &:hover{
                                    @include sprite($btn_type_hover);
                                }
                            }
                            &.budget{
                                @include sprite($btn_budget_normal);
                                &:hover{
                                    @include sprite($btn_budget_hover);
                                }
                            }
                            &.season{
                                @include sprite($btn_season_normal);
                                &:hover{
                                    @include sprite($btn_season_hover);
                                }
                            }
                            &:hover{
                                text-decoration: none;
                            }
                            
                        }
                    }
                }
            }
        }
    }

}


/* careful */
.careful{
    font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
    background-color: $bc;
    margin: 20px 0;
    padding: 2px 10px;
    position: relative;
    em{
        font-weight: bold;
        padding: 0 6px 0 0;
        border-right: 1px dotted $sbc01;
    }
    form{
        .form{
            display: block;
            width: 140px;
            border-style: none;
            border: 1px solid $sbc01;
            height: 24px;
            padding: 0 0 0 8px;
            position: absolute;
            top: 0;
            right: 24px;
            @include fsize(10,2.5);
            @include rad(0,0,0,0);
        }
        .btn{
            position: absolute;
            top: 0;
            right: 0;
            border-style: none;
            width: 24px;
            height: 24px;
            @include rad(0,0,0,0);
            @include sprite($btn_search_normal);
            &:hover{
                @include sprite($btn_search_hover);
                cursor: pointer;
            }
        }
    }
}








