/* IMPORT RESET */
@import"../styleguide/_scss/styleguide.scss";
@import"../frameworks/_scss/responsive.gs.24col.scss";
@import "sprite-footer.scss";
@import "sprite-r.scss";
$line : 1px solid $sbc01;

@mixin main($url) {
    background: url($url);
    background-size:cover;
    background-position: 50% 50%;
    article{
        padding: 0;
    }
    
}


body {
    background-color: $bgc;
}

.container{
    overflow: hidden;
}

span.title{
    height: 30px;
    display: block;
    overflow: hidden;
    margin: 0 0 10px;
    img{
        height: 25px;
    }
    &.ftr_giftservice{
        @include r-sprite($ftr_giftservice,1.5);
    }
    &.ftr_about{
        @include r-sprite($ftr_about,1.5);
    }
}




/* serviceContents */
.serviceContents{
    overflow: hidden;
    margin: 0 0 40px;
    a{
        display: block;
        width: 100%;
        position: relative;
        img{
            max-width: 100%;
        }
        span{
            display: block;
            width: 100%;
            height: 100%;
            text-align: center;
            @include fsize(20,8);
            font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
            position: absolute;
            top: 0;
            left: 0;
            color: $bc;
            @include anm(0.2s);
            opacity:0;
            filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
        }
        &:hover span{
            opacity:1.0;
            filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
            &.c01{
                background-color: $sbc01;
            }
            &.c02{
                background-color: $acc;
            }
            &.c03{
                background-color: $mc;
            }
        }
    }
}


/* infoContent */
.infoContents{
    overflow: hidden;
    margin: 0 0 40px;
    p{
        @include fsize(11,1.5);
        em{
            @include fsize(12,2.5);
        }
    }
}

.ftr{
    margin: 60px 0 40px;
}


/* footer */
.footer{
    overflow: hidden;
    .title{
        display: block;
        margin: 0 0 10px;
    }

    .ftr_kitchen{
        @include r-sprite($ftr_kitchen,2);
    }

    .ftr_gift{
        @include r-sprite($ftr_gift,2);
    }

    .ftr_interior{
        @include r-sprite($ftr_interior,2);
    }

    .ftr_budget{
        @include r-sprite($ftr_budget,2);
    }

    .ftr_type{
        @include r-sprite($ftr_type,2);
    }

    .ftr_season{
        @include r-sprite($ftr_season,2);
    }

    .ftr_guide{
        @include r-sprite($ftr_guide,2);
    }

    .ftr_contact{
        @include r-sprite($ftr_contact,2);
    }

    ul{
        margin: 0 0 20px;
        li{
            list-style-type: normal;
            padding: 0;
            line-height: 1.4;
            span{
                display: block;
                float: left;
                margin: 3px 6px 0 0;
                @include sprite($arrow);
            }
            a{
                @include fsize(10,1.2);
                text-decoration: none;
                color: $tc;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    p{
        clear: both;
        margin: 10px 0 0;
        @include fsize(10,1.5);
    }
}

/* credit */
.credit{
    overflow: hidden;
    padding: 0 0 10px;
    ul{
        li{
            float: left;
            a{
                display: block;
                @include fsize(10,1.5);
                padding: 0 10px 0;
                color: $tc;
                border-right: 1px solid $tc;
                text-decoration: none;
                &:hover{
                    color: $sbc01;
                    text-decoration: underline;

                }
            }
            &:first-child a{
                padding: 0 10px 0 0;
            }
        }
    }
    .line{
        border-bottom: 1px dashed $sbc01;
    }

}







