/* IMPORT RESET */
/* タブレット端末、スマートフォン用設定 */
@mixin addquery($point) {
    @media screen and (max-width: $point) {
        @content;
    }
}


@include addquery(768px) {
    .ftrService{
        /* display: none; */
    }
    .orderFrame{
        display: none;
    }
}