@import "../styleguide/_scss/styleguide.scss";
body {
    @include fsize(10, 1.5);
    .main {
        .concept{
            background: url("https://den-tou.com/img/pickup_bg.jpg") center 0 repeat;
            padding: 30px 0 5px;
            margin: 30px 0;
            img{
                display: block;
                margin: 0 auto 60px;
            }
        }
        .mainWrap {
            width: 990px;
            margin: 0 auto;
            overflow: hidden;
            position: relative;
            &.categoryWrap{
                width: 800px;
            }
            .sepalate {
                width: 100%;
                display: block;
                margin: 20px 0 30px;
                border: none;
                border-bottom: 1px dashed #dfdfdf;
            }
            .mainWrap_container {
                width: 100%;
                a {
                    text-decoration: none;
                    color: $mc;
                    &:hover {
                        text-decoration: underline;
                    }
                    &.mainWrap_container_moreLink span {
                        background: url('https://den-tou.com/img/otherlink_icon.png') no-repeat;
                        width: 14px;
                        height: 10px;
                        display: inline-block;
                        margin: 0 0 0 4px;
                        @include anm(0.2s);
                    }
                    &.mainWrap_container_moreLink:hover span {
                        background: url('https://den-tou.com/img/otherlink_icon_hv.png') no-repeat;
                    }
                }
                &.mainWrap_container-howto{
                    margin: 0 0 50px;
                }
                /* tabcontents rankContents */
                &.mainWrap_container-giftRank{
                    .mainWrap_container-giftRank_title {
                        float: left;
                        display: block;
                    }
                    hr {
                        display: block;
                        border: none;
                        margin: 10px 0;
                        clear: both;
                        border-bottom: 1px solid #dfdfdf;
                    }
                    .mainWrap_container-giftRank_update{
                        display: inline-block;
                        float: right;
                        color: $sbc01;
                        margin: 30px 0 0;
                    }
                    #tabwrap { 
                        overflow: hidden; 
                        background-color: $bc;
                        width: 100%;
                        min-height: 300px;
                        margin: 0 auto 30px;
                    }
                    #tabs li {
                        a{
                            color: $tc;
                            @include fsize(12,1.5);
                            float: left; 
                            display: block;
                            width: 12.38%;
                            text-decoration: none;
                            text-align: center;
                            border: 1px solid #dfdfdf;
                            border-left: none;
                            background: url('https://den-tou.com/img/tabs_listicon.png') no-repeat left center;
                            padding: 6px 0;
                            &:hover{
                                background: url(https://den-tou.com/img/bg_lp.gif);
                                color: $bc;
                            }
                        }
                        &:first-child a{

                            border-left: 1px solid #dfdfdf;
                        }

                        &:last-child a{
                        }

                        &.current a{
                            background: url(https://den-tou.com/img/bg_lp.gif);
                            color: $bc;
                            border-bottom: none;
                            &:hover{
                                color: $bc;
                            }
                        }
                    }
                    #content{
                        & >div {
                            width: 100%;
                            clear: both;
                            padding: 20px 0;
                            line-height: 19px;
                            color: #666;
                            display: none;
                            a.otherLinks{
                                @include fsize(12,1.5);
                                text-align: center;
                                width: 200px;
                                padding: 4px 6px;
                                clear: both;
                                display: block;
                                margin: 0 auto;
                                background-color: $mc;
                                color: $bc;
                                text-decoration: none;
                            }
                            ul{
                                width: 87%;
                                float: left;
                            }
                            .title{
                                width: 13%;
                                float: left;
                                h3{
                                    margin: 0 0 5px 10px;
                                    /* text-indent: -9999px; */
                                    &.retire,&.married,&.baby,&.baby_c,&.build,&.build_c,&.birth{
                                        width: 69px;
                                        height: 249px;
                                        display: block;
                                    }
                                    &.retire{
                                        background: url('https://den-tou.com/img/tabs_retire_title.png') no-repeat;
                                    }
                                    &.married{
                                        background: url('https://den-tou.com/img/tabs_married_title.png') no-repeat;
                                    }
                                    &.married_c{
                                        background: url('https://den-tou.com/img/tabs_c_married_title.png') no-repeat;
                                    }
                                    &.baby{
                                        background: url('https://den-tou.com/img/tabs_baby_title.png') no-repeat;
                                    }
                                    &.baby_c{
                                        background: url('https://den-tou.com/img/tabs_c_baby_title.png') no-repeat;
                                    }
                                    &.build{
                                        background: url('https://den-tou.com/img/tabs_build_title.png') no-repeat;
                                    }
                                    &.build_c{
                                        background: url('https://den-tou.com/img/tabs_c_build_title.png') no-repeat;
                                    }
                                    &.birth{
                                        background: url('https://den-tou.com/img/tabs_birth_title.png') no-repeat;
                                    }
                                }
                            }

                        }
                        .span_4{
                            float: left;
                            width: 23.0%;
                            margin: 0 0 0 2%;
                        }
                        .current{
                            display: block;
                        }
                        #home.first{
                            display: block;
                        }
                        a{
                            position: relative;
                            color: $tc;

                            text-decoration: none;
                            &:hover{
                                text-decoration: underline;
                            }
                            .rank01,.rank02,.rank03,.rank04,.rank05,.rank06,.rank07,.rank08,.rank09,.rank10{
                                display: block;
                                width: 70px;
                                height: 14px;
                                margin: 0 0 8px;
                            }
                            .rank01{
                                background:url('https://den-tou.com/img/tabs_rank01.png') no-repeat;
                            }
                            .rank02{
                                background:url('https://den-tou.com/img/tabs_rank02.png') no-repeat;
                            }
                            .rank03{
                                background:url('https://den-tou.com/img/tabs_rank03.png') no-repeat;
                            }
                            .rank04{
                                background:url('https://den-tou.com/img/tabs_rank04.png') no-repeat;
                            }
                            .rank05{
                                background:url('https://den-tou.com/img/tabs_rank05.png') no-repeat;
                            }
                            .rank06{
                                background:url('https://den-tou.com/img/tabs_rank06.png') no-repeat;
                            }
                            .rank07{
                                background:url('https://den-tou.com/img/tabs_rank07.png') no-repeat;
                            }
                            .rank08{
                                background:url('https://den-tou.com/img/tabs_rank08.png') no-repeat;
                            }
                            .rank09{
                                background:url('https://den-tou.com/img/tabs_rank09.png') no-repeat;
                            }
                            .rank10{
                                background:url('https://den-tou.com/img/tabs_rank10.png') no-repeat;
                            }
                            img{
                                max-width: 100%;
                                margin: 0 0 2px;
                            }

                            p{
                                margin: 0 0 20px 0;
                                @include fsize(11,1.5);
                                .price{
                                    display: block;
                                    text-align: right;
                                    @include fsize(10,1.5);
                                }
                            }
                        }
                    }
                }/* end rank */


                /* tabcontents brandContents */
                &.mainWrap_container-brandContents{
                    margin: 100px auto 0;
                    .mainWrap_container-brandContents_title {
                        float: left;
                        display: block;
                    }
                    hr {
                        display: block;
                        border: none;
                        margin: 10px 0;
                        clear: both;
                        border-bottom: 1px solid #dfdfdf;
                    }
                    #tabwrap { 
                        overflow: hidden; 
                        background-color: $bc;
                        width: 100%;
                        min-height: 300px;
                        margin: 0 auto 30px;
                    }
                    .mainWrap_container-brandContents_update{
                        display: inline-block;
                        float: right;
                        color: $sbc01;
                        margin: 10px 0 0;
                    }
                    #tabs li {
                        a{
                            color: $tc;
                            @include fsize(12,1.5);
                            float: left; 
                            display: block;
                            width: 13.66%;
                            text-decoration: none;
                            text-align: center;
                            border: 1px solid #dfdfdf;
                            border-left: none;
                            background: url('https://den-tou.com/img/tabs_listicon.png') no-repeat left center;
                            padding: 6px 0;
                            &:hover{
                                background: url(https://den-tou.com/img/bg_lp.gif);
                                color: $bc;
                            }
                        }
                        &:first-child a{

                            border-left: 1px solid #dfdfdf;
                        }

                        &:last-child a{
                        }

                        &.current a{
                            background: url(https://den-tou.com/img/bg_lp.gif);
                            color: $bc;
                            border-bottom: none;
                            &:hover{
                                color: $bc;
                            }
                        }
                        /* 九谷焼 */
                        &.kutani a{
                            width: 8.2%;
                        }
                    }

                    #content{
                        &.kutani{
                            height: 500px;
                            border-bottom: 1px dashed #dfdfdf;
                            margin: 0 0 40px;
                        }
                        & >div {
                            width: 100%;
                            clear: both;
                            padding: 20px 0;
                            line-height: 19px;
                            color: #666;
                            display: none;
                            a.otherLinks{
                                @include fsize(12,1.5);
                                text-align: center;
                                width: 200px;
                                padding: 4px 6px;
                                clear: both;
                                display: block;
                                margin: 0 auto;
                                background-color: $mc;
                                color: $bc;
                                text-decoration: none;
                            }
                            .title{
                                width: 30%;
                                padding: 8% 5%;
                                float: left;
                                h3{
                                    margin: 0 0 5px;
                                    @include fsize(30,1.5);
                                }
                            }.images{
                                width: 58%;
                                padding: 1%;
                                float: left;
                                img{
                                    width: 100%;
                                }
                            }

                        }
                        .span_4{
                            float: left;
                            width: 23.0%;
                            margin: 0 0 0 2%;
                        }
                        .current{
                            display: block;
                        }
                        #home.first{
                            display: block;
                        }
                        a{
                            position: relative;
                            display: block;
                            margin: 20px 0 0;
                            text-align: right;
                            color: $tc;

                            text-decoration: none;
                            &:hover{
                                text-decoration: underline;
                            }
                            .rank01,.rank02,.rank03,.rank04,.rank05,.rank06,.rank07,.rank08,.rank09,.rank10{
                                display: block;
                                width: 70px;
                                height: 14px;
                                margin: 0 0 8px;
                            }
                            .rank01{
                                background:url('https://den-tou.com/img/tabs_rank01.png') no-repeat;
                            }
                            .rank02{
                                background:url('https://den-tou.com/img/tabs_rank02.png') no-repeat;
                            }
                            .rank03{
                                background:url('https://den-tou.com/img/tabs_rank03.png') no-repeat;
                            }
                            .rank04{
                                background:url('https://den-tou.com/img/tabs_rank04.png') no-repeat;
                            }
                            .rank05{
                                background:url('https://den-tou.com/img/tabs_rank05.png') no-repeat;
                            }
                            .rank06{
                                background:url('https://den-tou.com/img/tabs_rank06.png') no-repeat;
                            }
                            .rank07{
                                background:url('https://den-tou.com/img/tabs_rank07.png') no-repeat;
                            }
                            .rank08{
                                background:url('https://den-tou.com/img/tabs_rank08.png') no-repeat;
                            }
                            .rank09{
                                background:url('https://den-tou.com/img/tabs_rank09.png') no-repeat;
                            }
                            .rank10{
                                background:url('https://den-tou.com/img/tabs_rank10.png') no-repeat;
                            }
                            img{
                                max-width: 100%;
                                margin: 0 0 2px;
                            }

                            p{
                                margin: 0 0 20px 0;
                                @include fsize(11,1.5);
                                .price{
                                    display: block;
                                    text-align: right;
                                    @include fsize(10,1.5);
                                }
                            }
                        }
                    }
                }/* end rank */

                &.mainWrap_container-genreRank{
                    #tabs li {
                        a{
                            color: $tc;
                            @include fsize(12,1.5);
                            float: left; 
                            display: block;
                            width: 24.8%;
                            text-decoration: none;
                            text-align: center;
                            border: 1px solid #dfdfdf;
                            border-left: none;
                            background: url('https://den-tou.com/img/tabs_listicon.png') no-repeat left center;
                            padding: 6px 0;
                            &:hover{
                                background: url(https://den-tou.com/img/bg_lp.gif);
                                color: $bc;
                            }
                        }
                    }
                    #content{
                        & >div {
                            ul{
                                width: 100%;
                            }
                        }
                        .span_4{
                            float: left;
                            width: 18%;
                            margin: 0 1%;
                            &.pos{
                                clear: both;
                            }
                        }
                    }
                }
                
                &.mainWrap_container-seasonEvent {
                    background-color: $bc;
                    margin: 60px auto 0;
                    overflow: hidden;
                    .mainWrap_container-seasonEvent_title {
                        float: left;
                        display: block;
                        /* 臨時 */
                        margin: 0 0 6px;
                    }
                    .mainWrap_container-seasonEvent_contents {
                        padding: 20px 0;
                        width: 100%;
                    }
                    .seasonEvent_contents_info {
                        width: 15%;
                        margin: 0 3% 0 0;
                        float: left;
                        p {
                            @include fsize(11, 1.75);
                        }
                        .seasonEvent_contents_title {
                            display: block;
                            text-align: center;
                            margin: 0 0 20px;
                            /* seo */
                            width: 113px;
                            height: 91px;
                            text-indent: -9999px;
                            background: url('https://den-tou.com/img/season_txt.png') no-repeat;
                        }
                    }
                    .seasonEvent_contents_lists {
                        width: 82%;
                        float: left;
                        li {
                            border: 1px solid #dfdfdf;
                            width: 30%;
                            float: left;
                            margin: 0 0 0 3%;
                            a {
                                float: left;
                                display: block;
                                span {
                                    color: $sbc01;
                                    display: block;
                                    margin: 0;
                                }
                                img {
                                    width: 100%;
                                }
                                p {
                                    display: block;
                                    padding: 4px 12px;
                                    color: $mc;
                                    @include fsize(10, 1.5);
                                }
                            }
                        }
                    }
                    .mainWrap_container_moreLink {
                        float: right;
                        margin: 30px 0 0;
                    }
                    hr {
                        display: block;
                        border: none;
                        margin: 10px 0;
                        clear: both;
                        border-bottom: 1px solid #dfdfdf;
                    }
                }
                /* end mainWrap_container-seasonEvent */
            }
            /* end mainWrap_container */
        }
        /* end mainWrap */
    }
    /* end main */

    .footer {
        margin: 80px 0 0;
        width: 100%;
        .footerWrap {
            background: url('https://den-tou.com/img/pickup_bg.jpg') center 150px repeat-x;
            .footerWrap_container {
                width: 990px;
                margin: 0 auto;
                position: relative;
                &.footerWrap_container-contact {
                    .footerWrap_container-contact_contents {
                        margin: 0 auto;
                        background: url('https://den-tou.com/img/contact.png') no-repeat;
                        width: 946px;
                        height: 88px;
                        position: relative;
                        .contactContents-tel, .contactContents-mail {
                            display: block;
                            float: left;
                            position: absolute;
                            top: 11px;
                        }
                        .contactContents-tel {
                            right: 356px;
                        }
                        .contactContents-mail {
                            right: 25px;
                        }
                    }
                }
                /* end footerWrap_container-contact */
                
                
                &.footerWrap_container-campaign {
                    .footerWrap_container-gotoTop{
                        position: relative;
                        top: 40px;
                        @include anm(0.2s);
                        display: block;
                        float: right;
                        background: url('https://den-tou.com/img/gototop.png') no-repeat;
                        width: 84px;
                        height: 21px;
                        &:hover{
                            background: url('https://den-tou.com/img/gototop_hv.png') no-repeat;
                        }
                    }
                    clear: both;
                    overflow: hidden;
                    .footerWrap_container-campaign_lists {
                        margin: 100px 0 50px;
                        li {
                            margin: 0 20px 0 0;
                            float: left;
                            a {
                                display: block;
                                width: 180px;
                                height: 111px;
                                text-indent: -9999px;
                                @include anm(0.2s);
                                &.campaignLists-fb {
                                    background: url('https://den-tou.com/img/pickup_fb.png') no-repeat;
                                    &:hover {
                                        background: url('https://den-tou.com/img/pickup_fb_hv.png');
                                    }
                                }
                                &.campaignLists-magazine {
                                    background: url('https://den-tou.com/img/pickup_magazine.png') no-repeat;
                                    &:hover {
                                        background: url('https://den-tou.com/img/pickup_magazine_hv.png');
                                    }
                                }
                                &.campaignLists-gift {
                                    background: url('https://den-tou.com/img/pickup_gift.png') no-repeat;
                                    &:hover {
                                        background: url('https://den-tou.com/img/pickup_gift_hv.png');
                                    }
                                }
                            }
                        }
                    }
                    /* end footerWrap_container-campaign_lists */
                }
                /* end footerWrap_container-campaign */
                
                &.footerWrap_container-info {
                    clear: both;
                    margin: 70px auto 0;
                    .footerWrap_container-info_menu {
                        width: 69%;
                        float: left;
                        ul {
                            padding: 0 0 0 1%;
                            width: 23.5%;
                            height: 180px;
                            float: left;
                            border-left: 1px solid #dfdfdf;
                            li {
                                height: 16px;
                                span {
                                    display: block;
                                    height: 13px;
                                }
                                a {
                                    text-decoration: none;
                                    color: $tc;
                                    @include fsize(10, 1.0);
                                    background: url('https://den-tou.com/img/menu_listicon.png') 0 1px no-repeat;
                                    padding: 0 0 0 15px;
                                    &:hover{
                                        text-decoration: underline;
                                    }
                                }
                                &:first-child {
                                    margin: 0 0 2px;
                                }
                            }
                            .lists-event-first {
                                span {
                                    display: block;
                                    background: url('https://den-tou.com/img/ftr_event.png') no-repeat;
                                    width: 89px;
                                }
                            }
                            .lists-genre-first {
                                span {
                                    display: block;
                                    background: url('https://den-tou.com/img/ftr_genre.png') no-repeat;
                                    width: 75px;
                                }
                            }
                            .lists-season-first {
                                span {
                                    display: block;
                                    background: url('https://den-tou.com/img/ftr_season.png') no-repeat;
                                    width: 75px;
                                }
                            }
                            .lists-budget-first {
                                span {
                                    display: block;
                                    background: url('https://den-tou.com/img/ftr_budget.png') no-repeat;
                                    width: 75px;
                                    height: 14px;
                                }
                            }
                        }
                    }
                    /* end footerWrap_container-info_menu */
                    
                    .footerWrap_container-info_subguide {
                        width: 29.8%;
                        float: left;
                        padding: 0 0 0 1%;
                        margin: 0 0 10px;
                        border-left: 1px solid #dfdfdf;
                        p {
                            @include fsize(10, 1.5);
                        }
                        .infoGuide {
                            padding: 0 0 8px 0;
                            &.infoGuide-delivery {
                                border-bottom: 1px solid #dfdfdf;
                            }
                            &.infoGuide-payment {
                                margin: 10px 0 0;
                                img{
                                    max-width: 100%;
                                }
                            }
                            .infoGuide_title {
                                display: block;
                                margin: 0 0 6px;
                            }
                        }
                    }
                    /* end footerWrap_container-info_subguide */
                    
                    .footerWrap_container-info_shopguide {
                        clear: both;
                        margin: 0 0 10px;
                        padding: 10px 0 0;
                        overflow: hidden;
                        border-top: 1px solid #dfdfdf;
                        .shopGuide_title {
                            display: block;
                            margin: 0 0 6px;
                        }
                        .shopGuide_lists {
                            width: 100%;
                            li {
                                width: 16.6%;
                                float: left;
                                a {
                                    @include fsize(10, 1.5);
                                    color: $tc;
                                    text-decoration: none;
                                    background: url('https://den-tou.com/img/menu_listicon.png') 0 1px no-repeat;
                                    padding: 0 0 0 15px;
                                }
                            }
                        }
                    }
                    /* end footerWrap_container-info_shopguide */
                    
                    .footerWrap_container-info_footerMenu {
                        border-top: 1px solid $mc;
                        clear: both;
                        ul {
                            margin: 2px 0 0;
                            float: left;
                            li {
                                float: left;
                                margin: 0 4px 0 0;
                                a {
                                    text-decoration: none;
                                    color: $tc;
                                    @include fsize(10, 1.5);
                                }
                            }
                        }
                        small {
                            display: block;
                            margin: 2px 0 0;
                            @include fsize(10, 1.5);
                            float: right;
                        }
                        .footerWrap_container-info_logo {
                            clear: both;
                            padding: 60px 0;
                            img {
                                display: block;
                                margin: 0 auto;
                            }
                        }
                    }
                    /* end footerWrap_container-info_footerMenu */
                }
            }
        }
        /* end footerWrap */
    }
    /* end footer */
}
