@import "style-header-new.scss";
@import "style-footer-new.scss";
body {
    .main {
        line-height: 0;
        .mainWrap {
            &.mainWrap-december{
                width: 100%;
            }
            .mainWrap_container {
                width: 990px;
                margin: 0 auto;
                &.mainWrap_container-monthly{
                    &.december{
                        background: url('https://den-tou.com/event/img/december_bg.jpg') no-repeat center top;
                        background-size: cover;
                    }
                    width: 100%;
                    height: 500px;
                    position: relative;
                    margin: 0 auto;

                    .containerMonthly_title{
                        margin: 0 auto;
                        padding: 110px 0 0;
                        width: 990px;
                        h2{
                            display: block;
                            margin: 0 auto;
                            text-indent: -9999px;
                            background: url('https://den-tou.com/img/monthbnr_dec.png');
                            width: 731px;
                            height: 261px;
                        }
                        &.jan{
                            h2{
                                background: url('https://den-tou.com/event/img/monthbnr_jan.png');
                                width: 728px;
                                height: 260px;
                            }
                        }
                    }
                }
                &.monthlyWrap{
                    overflow: hidden;
                    margin: 40px auto 100px;
                }
                .monthlyContents_title{
                    h3{
                        display: block;
                        margin: 40px auto;
                        text-indent: -9999px;
                        &.dec01{
                            background: url('https://den-tou.com/img/dec_title01.jpg') no-repeat;
                            width: 600px;
                            height: 73px;
                        }
                        &.dec02{
                            background: url('https://den-tou.com/img/dec_title02.jpg') no-repeat;
                            width: 600px;
                            height: 73px;
                        }
                        &.jan01{
                            background: url('https://den-tou.com/img/dec_title02.jpg') no-repeat;
                            width: 600px;
                            height: 73px;
                        }
                        &.campaign_title{
                            background: url('https://den-tou.com/img/campaign_title.jpg') no-repeat;
                            width: 600px;
                            height: 73px;
                        }
                    }
                }
                .monthlyContents{
                    overflow: hidden;
                    ul{
                        margin: 0 auto;
                        border-top: 2px dotted $sbc01;
                        li{
                            float: left;
                            width: 43.9%;
                            width: 43%\9;
                            padding: 3%;
                            border: none;
                            border-bottom: 1px dashed $mc;
                            b{
                                display: block;
                                padding: 0 0 10px;
                                margin: 0 0 20px;
                                @include fsize(20,1.5);
                                border-bottom: 1px dotted $sbc01;
                            }
                            a{
                                @include anm(0.2s);
                                text-decoration: none;
                                &.ipLink{
                                    color: $bc;
                                    width: 120px;
                                    padding: 6px 10px;
                                    border: 1px solid $bc;
                                    text-align: center;
                                    display: block;
                                    margin: 20px auto;
                                    background: url('https://den-tou.com/img/bg_lp.gif');   
                                    -webkit-border-radius: 4px 4px 4px 4px;
                                    border-radius: 4px 4px 4px 4px;
                                    &:hover{
                                        background: none;
                                        background-color: $bc;
                                        border: 1px solid $mc;
                                        color: $mc;
                                        -webkit-border-radius: 4px 4px 4px 4px;
                                        border-radius: 4px 4px 4px 4px;
                                    }
                                }
                            }
                            img{
                                max-width: 100%;
                            }
                            &.monthlyContents_lists-border{
                                border-right: 1px dotted $sbc01;
                            }
                            p{
                                height: 4em;
                                display: block;
                                margin:10px 0 0;
                                @include fsize(14,1.5); 
                            }
                        }
                    }
                }
                .campaign_links{
                    margin: 0 auto;
                    overflow: hidden;
                    ul{
                        margin: 20px;
                        li{
                            width: 50%;
                            float: left;
                            a{
                                @include anm(0.2s);
                                display: block;
                                width: 402px;
                                height: 102px;
                                margin: 0 auto;
                                text-align: center;
                                &.campaign_linkBnr01{
                                    background: url('https://den-tou.com/img/campaign_service01.png') no-repeat;
                                    &:hover{
                                        background: url('https://den-tou.com/img/campaign_service01_hv.png') no-repeat;
                                    }
                                }
                                &.campaign_linkBnr02{
                                    background: url('https://den-tou.com/img/campaign_service02.png') no-repeat;
                                    &:hover{
                                        background: url('https://den-tou.com/img/campaign_service02_hv.png') no-repeat;
                                    }
                                }
                            }
                        }
                    }
                }


                &.mainWrap_container-giftService{
                    background: url('https://den-tou.com/img/c_giftservice.jpg') no-repeat;
                    width: 990px;
                    height: 449px;
                    margin: 100px auto;
                    ul{
                        width: 530px;
                        padding: 320px 0 0 60px;
                        li{
                            a{
                                float: left;
                                margin: 0 12px 12px 0;
                                @include anm(0.2s);
                                display: block;
                                width: 253px;
                                height: 38px;
                                &.containerGiftservice-giftWrap{
                                    background: url('https://den-tou.com/img/gift_wrapbtn.png') no-repeat;
                                    &:hover{
                                        background: url('https://den-tou.com/img/gift_wrapbtn_hv.png') no-repeat;
                                    }
                                }
                                &.containerGiftservice-paperBag{
                                    background: url('https://den-tou.com/img/gift_bagbtn.png') no-repeat;
                                    &:hover{
                                        background: url('https://den-tou.com/img/gift_bagbtn_hv.png') no-repeat;
                                    }
                                }
                                &.containerGiftservice-card{
                                    background: url('https://den-tou.com/img/gift_messagebtn.png') no-repeat;
                                    &:hover{
                                        background: url('https://den-tou.com/img/gift_messagebtn_hv.png') no-repeat;
                                    }
                                }
                                &.containerGiftservice-noshi{
                                    background: url('https://den-tou.com/img/gift_noshibtn.png') no-repeat;
                                    &:hover{
                                        background: url('https://den-tou.com/img/gift_noshibtn_hv.png') no-repeat;
                                    }
                                }
                            }
                        }
                    }
                }

                &.mainWrap_container-mainGift {
                    clear: both;
                    background: url('https://den-tou.com/img/popgifts_bg.jpg') no-repeat;
                    width: 969px;
                    height: 668px;
                    margin: 70px auto 0;
                    padding: 26px 0;
                    .mainWrap_container-mainGift_title {
                        display: block;
                        clear: both;
                        margin: 0 auto 40px;
                        width: 264px;
                        height: 33px;
                        overflow: hidden;
                    }
                    .mainGift-leftSide_title, .mainGift-rightSide_title {
                        text-align: center;
                        margin: 10px 0 20px;
                    }
                    .mainGift-leftSide {
                        border-right: 1px solid #dfdfdf;
                    }
                    .mainGift-leftSide, .mainGift-rightSide {
                        width: 46%;
                        padding: 0 2%;
                        margin: 0;
                        float: left;
                    }
                    .mainGift-leftSide {
                        width: 45.9%;
                        border-right: 1px solid #dfdfdf;
                    }
                    .mainGift-leftSide_lists, .mainGift-rightSide_lists {
                        li {
                            margin: 0 0 15px;
                            a {
                                display: block;
                                text-align: center;
                            }
                        }
                    }
                }
                /* end mainWrap_container-mainGift */
                
                &.mainWrap_container-news {
                    margin: 80px auto 0;
                    width: 90%;
                    .mainWrap_container-news_title {
                        width: 6%;
                        float: left;
                        text-align: center;
                    }
                    .mainWrap_container_contents {
                        width: 90%;
                        margin: 0 0 0 4%;
                        float: left;
                        .newsContents_lists {
                            width: 80%;
                            li {
                                a {
                                    background: url('https://den-tou.com/img/menu_listicon.png') 0 2px no-repeat;
                                    padding: 0 0 0 17px;
                                }
                            }
                        }
                        .mainWrap_container_moreLink {
                            float: right;
                        }
                        .newsContents_title-new, .newsContents_title-important {
                            padding: 0;
                            height: 13px;
                            margin: 0 0 10px;
                            line-height: 0;
                        }
                        hr {
                            clear: both;
                        }
                    }
                }
            }
            /* end mainWrap_container */
        }
        /* end mainWrap */
    }
    /* end main */
}
