/* IMPORT RESET */
@import "style-footer.scss";
@import "style-header.scss";
@import "sprite.scss";
@import "sprite-r.scss";
$line : 1px solid $sbc01;

@mixin main($url) {
    background: url($url);
    background-size:cover;
    background-position: 50% 50%;
    article{
        padding: 0;
    }
    
}

/* スタイルガイドの修正 */
table {
    td {
        border: none;
        padding: 0;
        vertical-align: middle;
        margin: 0;
    }
}


body {
    font-family: sans-serif;
    background-color: $bgc;
}

aside {
    border:1px solid #ddd;
}

.container{
    overflow: hidden;
    max-width: 800px;
}

.ev_iframe{
    width: 100%;
    max-width: 800px;
    height: 270px;
    overflow: hidden;
    border: none;
}

span.title{
    height: 30px;
    display: block;
    overflow: hidden;
    margin: 0 0 10px;
    img{
        height: 25px;
    }
    /* sprite */
    &.top_pickup{
        @include r-sprite($top_pickup,1.5);
    }
    &.top_topick{
        /* @include r-sprite($top_topick,1.5); */
    }
    &.top_event{
        @include r-sprite($top_event,1.5);
    }
    &.top_staff{
        @include r-sprite($top_staff,1.25);
    }
    &.top_season{
        @include r-sprite($top_season,1.5);
    }
    &.top_news{
        @include r-sprite($top_news,1.5);
    }
    &.top_popular{
        @include r-sprite($top_popular,1.25);
    }
}

/* tabcontents rankContents */
#tabwrap { 
    overflow: hidden; 
    background-color: $bc;
    width: 100%;
    min-height: 300px;
    margin: 0 auto 30px;
    border: 1px solid #e8e8e8;
}
#tabs li {
    list-style: none;
    a{
        float: left; 
        display: block;
        padding: 6px;
        color: $tc;
        width: 33.3%;
        text-decoration: none;
        text-align: center;
        border-right: 1px solid #e8e8e8;
        border-bottom: 1px solid #e8e8e8;;
        &:hover{
            background: $mc;
            color: $bc;
            border:none;
        }
    }
    &:first-child a{
        border-left: 0;
    }

    &:last-child a{
        border-right: 0;
    }
    &.current a{
        color: $tc; 
        border-bottom: none;
        &:hover{
            color: $bc;
        }
    }
    &:nth-child(5){
        clear: both;
    }
}
#content{
    & >div {
        clear: both;
        padding: 20px;
        line-height: 19px;
        color: #666;
        display: none;
    }
    ul{
        li{
            @include sizing(18.4%);
        }
    }
    .current{
        display: block;
    }
    #home.first{
        display: block;
    }
    a{
        position: relative;
        color: $tc;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
        .rank01,.rank02,.rank03,.rank04,.rank05,.rank06{
            display: block;
            width: 30px;
            height: 32px;
            margin: 0 auto;
        }
        .rank01{
            background:url('../img/top_rank01.png') no-repeat;
        }
        .rank02{
            background:url('../img/top_rank02.png') no-repeat;
        }
        .rank03{
            background:url('../img/top_rank03.png') no-repeat;
        }
        .rank04{
            background:url('../img/top_rank04.png') no-repeat;
        }
        .rank05{
            background:url('../img/top_rank05.png') no-repeat;
        }
        .rank06{
            background:url('../img/top_rank06.png') no-repeat;
        }
        img{
            max-width: 100%;
            margin: 0 0 5px;
        }

        p{
            margin: 0 0 20px 0;
            text-align-last: left;
            @include fsize(11,1.5);
            .price{
                font-weight: bold;
                @include fsize(10,1.5);
            }
        }
    }
}






/* --------------------------------スマートフォン-------------------------------- */





/* タブレット端末、スマートフォン用設定 */
@mixin addquery($point) {
    @media screen and (max-width: $point) {
        @content;
    }
}


@include addquery(768px) {
    .span_8,.span_4{
        overflow: hidden;

    }
    .ev_iframe{
        width: 100%;
        height: 760px;
        overflow: hidden;
        border: none;
    }

    span.title{
        margin: 0 auto 10px;
        &.top_pickup,&.top_event,&.top_staff,&.top_season{
            display: block;
        }
        &.top_pickup{
            @include r-sprite($top_pickup,1.75);
        }
        &.top_topick{
            /* @include r-sprite($top_topick,1.5); */
            display: none;
        }
        &.top_event{
            @include r-sprite($top_event,1.5);
        }
        &.top_staff{
            @include r-sprite($top_staff,1.75);
        }
        &.top_season{
            @include r-sprite($top_season,1.5);
        }
        &.top_news{
            @include r-sprite($top_news,1.5);
        }
        &.top_popular{
            @include r-sprite($top_popular,1.5);
        }

        /* pc用タイトルの削除 */
        &.pc{
            display: none;
        }
    }

    /* mainContents */
    .mainContents{
        margin: 0;
    }

    .header{
        padding: 0;
        &.pc{
            display: none;
        }
        &.sp{
            background-color: $bc;
            overflow: hidden;
            display: block;
            @include sizing(100%);
            h2{
                padding: 2%;
                width: 30%;
                float: left;
                .logo{
                    display: block;
                    @include r-sprite($logo,2);
                }
            }
            .search{
                float: left;
                width: 56%;
                padding: 0 4%;
                form{
                    margin: 10px 0;
                    .form{
                        @include rad(0,0,0,0);
                        display: block;
                        float: left;
                        width: 83%;
                        border-style: none;
                        border: 1px solid $sbc01;
                        height: 24px;
                        padding: 2px 0 0 8px;
                        position: relative;
                        top: 0;
                        right: 0;
                        @include fsize(14,2.5);
                    }
                    .btn{
                        @include rad(0,0,0,0);
                        position: relative;
                        float: left;
                        top: 0;
                        right: 4px;
                        width: 17%;
                        height: 24px;
                        @include sprite($btn_search_normal);
                    }
                }
            }
            ul{
                width: 80%;
                float: right;
                li{
                    float: left;
                    width: 14%;
                    margin: 0 2%;
                    height: 35px;
                    a{
                        display: block;
                        &.sp_cart{
                            @include r-sprite($sp_cart,2);
                        }
                        &.sp_guide{
                            @include r-sprite($sp_guide,2);
                        }
                        &.sp_member{
                            @include r-sprite($sp_member,2);
                        }
                        &.sp_login{
                            @include r-sprite($sp_login,2);
                        }                        
                    }
                    &#mobile-bar{
                        a{
                            display: block;
                            width: 100%;
                            height: 100%;
                            background: url(../img/sp_menu.png) no-repeat center;
                            background-size: cover;
                        }
                    }
                }
            }
            #mobile-bar{
                float: right;
                display: block;
                padding: 1%;
                width: 14%;
                height: 40px;
                a{
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: url(../img/sp_menu.png) no-repeat center;
                    background-size: cover;
                }
            }
            .submenu{
                width: 100%;
                height: 34px;
                clear: both;
                background-color: $mc;
                a{
                    color: $bc;
                    text-decoration: none;
                    display: block;
                    margin: 8px;
                    float: left;
                    &.sp_cart{
                        float: right;
                        text-align: right;
                        margin: 6px 12px 6px 0;
                        @include r-sprite($sp_cart,2);
                    }
                }
            }
        }
    }

    /* careful */
    .careful{
        .span_20,.span_4{
            @include sizing(100%);
        }
        background-color: $bc;
        margin: 0;
        padding: 2px 9px 6px;
        .form_pc{
            display: none;
        }
    }

    /* セパレート */
    .line{
        margin: 0;
        border-bottom: 1px dashed $mc;
    }


    /* tabcontents rankContents */
    .rankContents{
        padding: 0;
        article{
            margin: 0 0 30px;
        }
    }
    #tabs li {
        a{
            width: 33.333%;
        }
    }
    #content{
        & >div {
            padding: 10px;
        }
        ul{
            li{
                &.col{
                    width: 50%;
                    padding: 3% 3% 0;
                }
                &.hide{
                    display: none;
                }
            }
        }
    }


    .menu{
        font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
        @include sizing(100%);
        p{
            width: 100%;
            background-color: $mc;
            color: $bc;
            text-align: center;
            @include fsize(16,2.5);
        }
        ul {
            display: none;
            li{
                @include fsize(12,1.5);
                width: 100%;
                border-bottom: 1px solid $sbc01;
                display: block;
                cursor: pointer;
                padding: 10px 12px;
                ul{
                    li{
                        @include fsize(12,1.5);
                        border-bottom: 1px dashed $sbc01;
                        &:last-child{
                            border: none;
                        }
                    }
                }
                a{
                    display: block;
                    width: 100%;
                    text-decoration: none;
                    color: $tc;
                }
            }
        }
        span {
            width: 100%;
            background-color: $bc;
            border-bottom: 1px solid $mc;
            display: block;
            cursor: pointer;
            padding: 10px 8px;
            &:first-child{
                border-top: 1px solid $mc;
            }
            &:after{
                content: '>';
                color: $mc;
                position: absolute;
                right: 10px;
            }
            &.current:after{
                content: '>';
                color: $mc;
                position: absolute;
                right: 10px;
                -moz-transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                transform: rotate(90deg);
            }
        }
        li {
            cursor: pointer;
        }
    }

    .ftr{
        display: none;
    }


    /* footer */
    .footer{
        padding: 20px 0 0;
        background-color: $bc;
        overflow: hidden;
        .title{
            display: block;
            margin: 0 10px 10px;
            clear: both;
        }

        ul{
            overflow: hidden;
            padding: 0 10px 30px;
            margin: 0 0 30px;
            @include sizing(100%);
            border-bottom: 1px dashed $sbc01;
            list-style-type: none;
            li{
                list-style-type: none;
                border: 1px solid #dfdfdf;
                border-top: none;
                width: 50%;
                float: left;
                padding: 0 0 0 10px;
                text-align: center;
                background: none;
                span{
                    display: none;
                }
                a{
                    display: block;
                    width: 100%;
                    height: 100%;
                    @include fsize(11,1.2);
                    line-height: 3.0;
                }
                &:nth-child(2n){
                    border-left: none;
                }
                &:nth-child(1),&:nth-child(2){
                    border-top: 1px solid #dfdfdf;
                }
            }
        }
        p{
            padding: 0 10px;
        }
    }

    /* credit */
    .credit{
        margin: 10px 0 0;
        padding: 0 10px 10px;
        ul{
            li{
                float: left;
                margin: 0 0 6px;
            }
        }
        small{
            display: block;
            margin: 10px 0 0;
            text-align: center;
        }
    }
}






/* 480px以上の時 */
@media only screen and (min-width: 480px) {

}







/* drawermenu */
#build-menu-page {
  left: 0;
  position: relative;
}

#build-menu {
    background-color: #fff;
    visibility: visible;
    z-index: 0;
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
    display: none;
    width: 64%;
    padding: 0;
    position: static;
    z-index: 0;
    top: 0;
    height: 100%;
    overflow-y: auto;
    left: 0;
    ul{
        li{
            border-bottom: 1px solid #dfdfdf;
            padding: 8px 10px;
            a{
                display: block;
                width: 100%;
                color: $tc;
                text-decoration: none;
            }
            &:first-child{
                background-color: $bgc;
                border-bottom: 1px solid $sbc01;
                border-top:  1px solid $sbc01;
                a{
                    text-align: center;
                    font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
                    @include fsize(14,1.5);
                    font-weight: bold;
                }
            }
        }
    }
}

.build-menu-animating #build-menu-page {
    position: fixed;
    overflow: hidden;
    width: 100%;
    top: 0;
    bottom: 0;
}

.build-menu-animating.build-menu-close #build-menu-page,
.build-menu-animating.build-menu-open #build-menu-page {
    -webkit-transition: -webkit-transform 250ms;
    -moz-transition: -moz-transform 250ms;
    -o-transition: -o-transform 250ms;
    -ms-transition: -ms-transform 250ms;
    transition: transform 250ms;
}

.build-menu-animating.build-menu-open #build-menu-page {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.build-menu-animating #build-menu { display: block }

.build-menu-open #build-menu {
    display: block;
    -webkit-transition-delay: 0ms, 0ms, 0ms;
    -moz-transition-delay: 0ms, 0ms, 0ms;
    -o-transition-delay: 0ms, 0ms, 0ms;
    -ms-transition-delay: 0ms, 0ms, 0ms;
    transition-delay: 0ms, 0ms, 0ms;
}

.build-menu-open #build-menu,
.build-menu-close #build-menu {
    -webkit-transition: -webkit-transform 250ms, opacity 250ms, visibility 0ms 250ms;
    -moz-transition: -moz-transform 250ms, opacity 250ms, visibility 0ms 250ms;
    -o-transition: -o-transform 250ms, opacity 250ms, visibility 0ms 250ms;
    -ms-transition: -ms-transform 250ms, opacity 250ms, visibility 0ms 250ms;
    transition: transform 250ms, opacity 250ms, visibility 0ms 250ms;
}
