@import "style-header-new.scss";
@import "style-footer-new.scss";
body {
    .main {
        line-height: 0;
        .mainWrap {
            &.mainWrap-sp{
                width: 100%;
            }
            .mainWrap_container {
                width: 990px;
                margin: 0 auto;
                &.mainWrap_container-sp{
                    width: 100%;
                    height: 600px;
                    position: relative;
                    margin: 0 auto;
                    .containerSp_title{
                        margin: 0 auto;
                        padding: 0;
                        width: 990px;
                        overflow: hidden;
                    }
                    &.kutani01{
                        background: url('../event/img/b_kutani_bg01.jpg') no-repeat center top;
                        background-size: cover;
                        h2{
                            background: url('../event/img/b_kutani_title01.png') no-repeat;
                            width: 120px;
                            height: 260px;
                            display: block;
                            text-indent: -9999px;
                            position: absolute;
                            left: 46%;
                            top: 160px;
                        }
                    }
                    &.kutani02{
                        background: url('../event/img/b_kutani_bg02.jpg') no-repeat center top;
                        background-size: cover;
                        h2{
                            background: url('../event/img/b_kutani_title02.png') no-repeat;
                            width: 486px;
                            height: 201px;
                            display: block;
                            position: absolute;
                            top: 70px;
                            left: 70px;
                            text-indent: -9999px;
                        }
                    }
                    &.kutani03{
                        background: url('../event/img/b_kutani_bg03.jpg') no-repeat center top;
                        background-size: cover;
                        h2{
                            background: url('../event/img/b_kutani_title03.png') no-repeat;
                            width: 475px;
                            height: 170px;
                            display: block;
                            position: absolute;
                            top: 70px;
                            right: 70px;
                            text-indent: -9999px;
                        }
                    }
                    &.kutani04{
                        background: url('../event/img/b_kutani_bg04.jpg') no-repeat center top;
                        background-size: cover;
                        h2{
                            background: url('../event/img/b_kutani_title04.png') no-repeat;
                            width: 543px;
                            height: 253px;
                            display: block;
                            position: absolute;
                            top: 70px;
                            left: 70px;
                            text-indent: -9999px;
                        }
                    }
                    &.kutani05{
                        background: url('../event/img/b_kutani_bg05.jpg') no-repeat center top;
                        background-size: cover;
                        h2{
                            background: url('../event/img/b_kutani_title05.png') no-repeat;
                            width: 481px;
                            height: 201px;
                            display: block;
                            position: absolute;
                            top: 70px;
                            right: 70px;
                            text-indent: -9999px;
                        }
                    }
                }
                &.spWrap{
                    overflow: hidden;
                    margin: 0 auto 100px;
                }
                .spContents_title{
                    h3{
                        display: block;
                        margin: 40px auto;
                        @include fsize(14,2.5);
                        &.campaign_title{
                            margin: 40px auto 10px;
                            @include fsize(28,1.5);
                            font-weight: normal;
                        }
                    }
                }
                .spContents{
                    overflow: hidden;
                    border-bottom: 1px dashed #dfdfdf;
                    border-top: 1px dashed $sbc01;
                    
                    ul{
                        margin: 0 auto;
                        li{
                            float: left;
                            width: 43.9%;
                            width: 43%\9;
                            margin: 8% 2%;
                            border: none;
                            position: relative;
                            b{
                                display: block;
                                position: relative;
                                left: -40px;
                                padding: 0 0 10px;
                                margin: 0 0 20px;
                                @include fsize(34,1.5);
                            }
                            span{
                                @include fsize(18,1.0);
                                &.price{
                                    @include fsize(10,1.0);
                                }
                            }
                            a{
                                @include anm(0.2s);
                                text-decoration: none;
                                &.ipLink{
                                    color: $bc;
                                    clear: both;
                                    width: 120px;
                                    padding: 6px 10px;
                                    border: 1px solid $bc;
                                    text-align: center;
                                    display: block;
                                    margin: 90px auto 60px;
                                    background: url('../img/bg_lp.gif');   
                                    -webkit-border-radius: 4px 4px 4px 4px;
                                    border-radius: 4px 4px 4px 4px;
                                    &:hover{
                                        background: none;
                                        background-color: $bc;
                                        border: 1px solid $mc;
                                        color: $mc;
                                        -webkit-border-radius: 4px 4px 4px 4px;
                                        border-radius: 4px 4px 4px 4px;
                                    }
                                }
                            }
                            img{
                                max-width: 100%;
                                &.subImages{
                                    width: 40%;
                                    margin: 0 5%;
                                    display: block;
                                    float: left;
                                }
                            }
                            &.spContents_info{
                                background: url('../img/sp_bg_lp.gif');
                                border-top: 2px solid $sbc01;
                                height: 540px;
                                padding: 3% 2%;
                                display: block;
                            }
                            p{
                                height: 4em;
                                display: block;
                                margin:10px 0 0;
                                @include fsize(14,1.5); 
                            }
                        }
                    }
                }
                .campaign_links{
                    margin: 0 auto;
                    overflow: hidden;
                    ul{
                        margin: 20px;
                        li{
                            width: 50%;
                            float: left;
                            a{
                                @include anm(0.2s);
                                display: block;
                                width: 402px;
                                height: 102px;
                                margin: 0 auto;
                                text-align: center;
                                &.campaign_linkBnr01{
                                    background: url('../img/campaign_service01.png') no-repeat;
                                    &:hover{
                                        background: url('../img/campaign_service01_hv.png') no-repeat;
                                    }
                                }
                                &.campaign_linkBnr02{
                                    background: url('../img/campaign_service02.png') no-repeat;
                                    &:hover{
                                        background: url('../img/campaign_service02_hv.png') no-repeat;
                                    }
                                }
                            }
                        }
                    }
                }


                &.mainWrap_container-giftService{
                    background: url('../img/c_giftservice.jpg') no-repeat;
                    width: 990px;
                    height: 449px;
                    margin: 100px auto;
                    ul{
                        width: 530px;
                        padding: 320px 0 0 60px;
                        li{
                            a{
                                float: left;
                                margin: 0 12px 12px 0;
                                @include anm(0.2s);
                                display: block;
                                width: 253px;
                                height: 38px;
                                &.containerGiftservice-giftWrap{
                                    background: url('../img/gift_wrapbtn.png') no-repeat;
                                    &:hover{
                                        background: url('../img/gift_wrapbtn_hv.png') no-repeat;
                                    }
                                }
                                &.containerGiftservice-paperBag{
                                    background: url('../img/gift_bagbtn.png') no-repeat;
                                    &:hover{
                                        background: url('../img/gift_bagbtn_hv.png') no-repeat;
                                    }
                                }
                                &.containerGiftservice-card{
                                    background: url('../img/gift_messagebtn.png') no-repeat;
                                    &:hover{
                                        background: url('../img/gift_messagebtn_hv.png') no-repeat;
                                    }
                                }
                                &.containerGiftservice-noshi{
                                    background: url('../img/gift_noshibtn.png') no-repeat;
                                    &:hover{
                                        background: url('../img/gift_noshibtn_hv.png') no-repeat;
                                    }
                                }
                            }
                        }
                    }
                }

                &.mainWrap_container-mainGift {
                    clear: both;
                    background: url('../img/popgifts_bg.jpg') no-repeat;
                    width: 969px;
                    height: 668px;
                    margin: 70px auto 0;
                    padding: 26px 0;
                    .mainWrap_container-mainGift_title {
                        display: block;
                        clear: both;
                        margin: 0 auto 40px;
                        width: 264px;
                        height: 33px;
                        overflow: hidden;
                    }
                    .mainGift-leftSide_title, .mainGift-rightSide_title {
                        text-align: center;
                        margin: 10px 0 20px;
                    }
                    .mainGift-leftSide {
                        border-right: 1px solid #dfdfdf;
                    }
                    .mainGift-leftSide, .mainGift-rightSide {
                        width: 46%;
                        padding: 0 2%;
                        margin: 0;
                        float: left;
                    }
                    .mainGift-leftSide {
                        width: 45.9%;
                        border-right: 1px solid #dfdfdf;
                    }
                    .mainGift-leftSide_lists, .mainGift-rightSide_lists {
                        li {
                            margin: 0 0 15px;
                            a {
                                display: block;
                                text-align: center;
                            }
                        }
                    }
                }
                /* end mainWrap_container-mainGift */
                
                &.mainWrap_container-news {
                    margin: 80px auto 0;
                    width: 90%;
                    .mainWrap_container-news_title {
                        width: 6%;
                        float: left;
                        text-align: center;
                    }
                    .mainWrap_container_contents {
                        width: 90%;
                        margin: 0 0 0 4%;
                        float: left;
                        .newsContents_lists {
                            width: 80%;
                            li {
                                a {
                                    background: url('../img/menu_listicon.png') 0 2px no-repeat;
                                    padding: 0 0 0 17px;
                                }
                            }
                        }
                        .mainWrap_container_moreLink {
                            float: right;
                        }
                        .newsContents_title-new, .newsContents_title-important {
                            padding: 0;
                            height: 13px;
                            margin: 0 0 10px;
                            line-height: 0;
                        }
                        hr {
                            clear: both;
                        }
                    }
                }
            }
            /* end mainWrap_container */
        }
        /* end mainWrap */
    }
    /* end main */
}
