@import "style-header-new.scss";
@import "style-footer-new.scss";
body {
    /* seo対策 */
    .header {
        .headerWrap {
            &.headerWrap-gnav {
                .headerWrap_container {
                    ul {
                        .gnavMenu_contents {
                            top: 230px;
                        }
                    }
                }
            }
        }
    }
    .main {
        /* slide */
        #container {
            width: 100%;
            text-align: center;
        }
        .wideslider {
            padding-bottom: 80px;
            width: 100%;
            text-align: left;
            position: relative;
            margin: 0;
            bottom: 10px;
            overflow: hidden;
        }
        .wideslider ul, .wideslider ul li {
            float: left;
            display: inline;
            overflow: hidden;
            outline: 10px solid #fff;
        }
        .wideslider ul li a{
            padding: 0 12px;
        }
        .wideslider ul li img {
            width: 100%;
            display: none;
        }
        .wideslider_base {
            top: 0;
            position: absolute;
        }
        .wideslider_wrap {
            top: 0;
            position: absolute;
            overflow: hidden;
        }
        .slider_prev, .slider_next {
            bottom: 0;
            overflow: hidden;
            position: absolute;
            z-index: 100;
            cursor: pointer;
        }
        .slider_prev {
            background: #fff url('../img/gallery_prebtn.png') no-repeat right center;
        }
        .slider_next {
            background: #fff url('../img/gallery_nextbtn.png') no-repeat -10px center;
        }
        .pagination {
            bottom: 0;
            left: 0;
            width: 100%;
            height: 70px;
            text-align: center;
            position: absolute;
            z-index: 200;
        }
        .pagination a {
            margin: 0 5px;
            width: 180px;
            height: 70px;
            display: inline-block;
            overflow: hidden;
        }
        .pagination a.pn1 {
            background: transparent url('../img/slideimages_ic.jpg') no-repeat left top;
            background-size: 180px;
        }
        .pagination a.pn2 {
            background: transparent url('../img/slideimages_k1-1159.jpg') no-repeat left top;
            background-size: 180px;
        }
        .pagination a.pn3 {
            background: transparent url('../img/slideimages_k1-3163.jpg') no-repeat left top;
            background-size: 180px;
        }
        .pagination a.pn4 {
            background: transparent url('../img/slideimages_k1-984.jpg') no-repeat left top;
            background-size: 180px;
        }
        .pagination a.pn5 {
            background: transparent url('../img/slideimages_k3-455.jpg') no-repeat left top;
            background-size: 180px;
        }
        .pagination a.active {
            filter: alpha(opacity=100)!important;
            -moz-opacity: 1!important;
            opacity: 1!important;
        }


        .wideslider ul:after {
            content: ".";
            height: 0;
            clear: both;
            display: block;
            visibility: hidden;
        }
        .wideslider ul {
            display: inline-block;
            overflow: hidden;
        }

        #wrapper {
            margin: 0 auto;
            padding: 0 40px;
            text-align: left;
        }
        #wrapper p {
            padding: 0 0 20px 0;
            font-size: 100%;
            line-height: 180%;
        }
        /* end slide */
        
        .mainWrap {
            .mainWrap_container {
                &.mainWrap_container-month, &.mainWrap_container-staff {
                    width: 46%;
                    margin: 0 2%;
                    float: left;
                    .mainWrap_container_title {
                        width: 20%;
                        float: left;
                        h2 {
                            display: block;
                            margin: 0 0 6px;
                            img {
                                display: block;
                            }
                        }
                        a {
                            display: block;
                            clear: both;
                        }
                    }
                    .mainWrap_container_box {
                        padding: 0 0 0 0;
                        width: 80%;
                        float: left;
                        a {
                            display: block;
                            margin: 0 5% 4%;
                            float: left;
                            width: 40%;
                            img {
                                max-width: 100%;
                            }
                            p {
                                display: block;
                                @include fsize(8, 1.5);
                                span {
                                    float: right;
                                }
                            }
                        }
                        .mainWrap_container_comments {
                            clear: both;
                            width: 85.5%;
                            margin: 0 5%;
                            padding: 2%;
                            outline: 1px solid $sbc01;
                            overflow: hidden;
                            span {
                                width: 20%;
                                float: left;
                            }
                            img {
                                display: block;
                                float: left;
                                width: 3%;
                                margin: 3% 1%;
                                height: auto;
                            }
                            p {
                                margin: 0 0 0 2%;
                                width: 73%;
                                float: left;
                                display: block;
                                @include fsize(8, 1.5);
                            }
                        }
                    }
                }
                /* end month,staff */
                &.mainWrap_container-mainGift{
                    background: url('../img/popgifts_bg.jpg') no-repeat;
                    width: 969px;
                    height: 668px;
                    .mainWrap_container-mainGift_title {
                        margin: 0 auto 40px;
                    }
                }
                &.mainWrap_container-mainService{
                    background: url('../img/giftservice_bg.jpg') no-repeat;
                    width: 969px;
                    height: 492px;
                    .mainWrap_container-mainGift_title {
                        margin: 0 auto 60px;
                    }
                }
                &.mainWrap_container-mainCategory{
                    background: url('../img/categoryitem_bg.jpg') no-repeat;
                    width: 969px;
                    height: 248px;
                    .mainWrap_container-mainGift_title {
                        margin: 0 auto 60px;
                    }
                }
                &.mainWrap_container-mainGift,&.mainWrap_container-mainService,&.mainWrap_container-mainCategory {
                    clear: both;
                    margin: 70px auto 0;
                    padding: 26px 0;
                    .mainWrap_container-mainGift_title {
                        display: block;
                        clear: both;
                        width: 350px;
                        height: 33px;
                        overflow: hidden;
                    }
                    .mainGift-leftSide_title, .mainGift-rightSide_title {
                        text-align: center;
                        margin: 10px auto 20px;
                    }
                    .mainGift-rightSide_title{
                        width: 323px;
                        height: 67px;
                        text-indent: -9999px;
                        background: url('https://den-tou.com/img/returngift_title.png') no-repeat;
                    }
                    .mainGift-leftSide_title{
                        width: 323px;
                        height: 67px;
                        text-indent: -9999px;
                        background: url('https://den-tou.com/img/gift_title.png') no-repeat;
                    }
                    .mainGift-leftSide {
                        border-right: 1px solid #dfdfdf;
                    }
                    .mainGift-leftSide, .mainGift-rightSide {
                        width: 46%;
                        padding: 0 2%;
                        margin: 0;
                        float: left;
                    }
                    .mainGift-leftSide {
                        width: 45.9%;
                        border-right: 1px solid #dfdfdf;
                    }
                    .mainGift-leftSide_lists, .mainGift-rightSide_lists {
                        li {
                            margin: 0 0 15px;
                            a {
                                @include anm(0.2s);
                                display: block;
                                margin: 0 auto;
                                width: 440px;
                                &:hover{
                                    -webkit-box-shadow: 0 0 6px 0 rgba(0,0,0,0.25);
                                    box-shadow: 0 0 6px 0 rgba(0,0,0,0.25);
                                    position: relative;
                                    right: 2px;
                                    bottom: 2px;
                                }
                            }
                        }
                    }
                }
                /* end mainWrap_container-mainGift */
                
                &.mainWrap_container-news {
                    margin: 80px auto 0;
                    width: 90%;
                    .mainWrap_container-news_title {
                        width: 6%;
                        float: left;
                        text-align: center;
                    }
                    .mainWrap_container_contents {
                        width: 90%;
                        margin: 0 0 0 4%;
                        float: left;
                        .newsContents_lists {
                            width: 80%;
                            li {
                                a {
                                    background: url('../img/menu_listicon.png') 0 2px no-repeat;
                                    padding: 0 0 0 17px;
                                }
                            }
                        }
                        .mainWrap_container_moreLink {
                            float: right;
                        }
                        .newsContents_title-new, .newsContents_title-important {
                            padding: 0;
                            width: 103px;
                            height: 13px;
                            text-indent: -9999px;
                            background: url('https://den-tou.com/img/new_info.png') no-repeat;
                            margin: 0 0 10px;
                            line-height: 0;
                        }
                        hr {
                            clear: both;
                        }
                    }
                }
            }
            /* end mainWrap_container */
        }
        /* end mainWrap */
    }
    /* end main */
}
