/* IMPORT RESET */
@import '../styleguide/_scss/styleguide.scss';
@import '../styleguide/_scss/default.scss';
@import '../frameworks/_scss/responsive.gs.24col.scss';
@import 'sprite-sp.scss';
@import 'sprite-r.scss';
@import 'mmenu.scss';
@import 'default.scss';
$line: 1px solid $sbc01;
$color01: #eee6e1;

@mixin main($url) {
    background: url($url);
    background-position: 50% 50%;
    background-size: cover;

    article {
        padding: 0;
    }
}

/*強み*/
.sp_strong {
    width: 100%;

    text-align: center;

    color: #fff;
    background: #f66241;
}

/*クーポン*/
#sps-floating-menu {
    position: fixed;
    z-index: 10000;
    right: 15px;
    bottom: 100px;
    /*カートボタン・上へ戻るボタンを上にする*/
}

/* Bnr----スクロールで表示、×で非表示にする-----*/
.Bnr {
    font-family: 'メイリオ', 'Meiryo', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', Osaka, sans-serif !important;

    position: relative;

    display: none;

    width: 1200px;
    margin: 0 auto;
}

.Bnr p.close {
    position: absolute;
    top: 10px;
    right: 0;
}

.Bnr p.close a {
    display: block;

    width: 20px;
    height: 25px;

    text-align: center;
}

.Bnr p.close a span {
    display: block;
    overflow: hidden;

    width: 1px;
    height: 1px;
}

.Bnr p.close i {
    font-size: 10px;

    z-index: 888;

    color: #fff;
}

/* Bnr-----------------------------------------*/


#fixed_bottom_banner {
    position: fixed;
    z-index: 10000;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 80px;
    margin: 0;
    padding: 0;

    text-align: center;

    color: #fff !important;
    background-color: rgba(153, 0, 0, .7);

    &.box30 {
        position: absolute;

        padding: .2em .5em;

        background: #fff0cd;
        box-shadow: 0 0 0 5px #900;

        // margin: 2em 0;
        // background: #b51616;
        // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
        // font-weight: bold;
        &:after {
            position: absolute;
            top: -6px;
            right: 0;

            content: '';

            border-width: 0 15px 15px 0;
            border-style: solid;
            border-color: #900 #fff #900;
            box-shadow: -1px 1px 1px rgba(0, 0, 0, .15);
        }

        .box-title {
            font-size: 1.1em;
            font-weight: bold;

            padding: 4px;

            text-align: center;
            letter-spacing: .05em;

            color: #fff;
            background: #900;
        }

        p {
            font-weight: bold;

            margin: 0;
            padding: 2;
        }

        input {
            width: 10em;
            height: 1.3em;

            color: #000;
            background-color: #fff;
        }

        button {
            font-size: .8em;

            margin: 0 0 0 6px;

            color: #fff;
            border: solid #fff 1px;
            background: #900;
        }
    }
}

#fixed_bottom_banner2 {
    position: fixed;
    z-index: 10000;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 30px;
    margin: 0;
    padding: 0;

    text-align: center;

    color: #fff !important;
    background-color: rgba(153, 0, 0, .7);
    p{
        line-height:30px;
    }
    a{
        text-decoration:none;
    }
}


/*スマホ用名入れサービス*/
/*.nmInfo{
    padding: 2%;
    font-size:12px;
    b{
    font-size: 14px;
    line-height: 1.8;
        }
        p{
            padding-top:10px;
            }
}*/



/*フッター部分インラインフレーム長さの設定*/
iframe.ifcmn {
    width: 100%;
    height: 910vw;

    &.cat {
        height: 910vw;
    }
}

/*ヘッダー部分インラインフレーム長さの設定*/
iframe.hdrSS {
    display: none;

    height: 110vw;
}

/*カテゴリリンク部分ここから*/

.catlink {
    clear: both;

    width: 100%;
    margin-top: 0 0 30px;

    a.catlinkbtn {
        font-size: 12px;

        display: block;

        width: 80%;
        margin: 10px auto 40px;

        text-align: center;
        text-decoration: none;

        color: #222;
        border: 5px solid #fff;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background: -moz-linear-gradient(top,
            #f9f4ee 0%,
            #fbe7d4);
        background: -webkit-gradient(linear, left top, left bottom,
            from(#f9f4ee),
            to(#fbe7d4));
        -webkit-box-shadow: 0 1px 4px rgba(000, 000, 000, .5),
            inset 0 0 2px rgba(255, 255, 255, .7);
        -moz-box-shadow: 0 1px 4px rgba(000, 000, 000, .5),
            inset 0 0 2px rgba(255, 255, 255, .7);
        box-shadow: 0 1px 4px rgba(000, 000, 000, .5),
            inset 0 0 2px rgba(255, 255, 255, .7);
    }

    b {
        font-size: 14px;
        font-weight: normal;

        padding: 0 5px 0 0;
    }
}

/*カテゴリリンク部分ここまで*/

/* 関連商品紹介部分 ここから */

.relation {
    float: left;
    clear: both;

    width: 100%;
    margin: 30px 0 0;

    &>p {
        font-size: 16px;
        font-weight: bold;

        padding: 10px 20px;

        color: #000;
        background-color: #f1f1f1;

        @include sizing(100%);
    }

    &.item {
        ul {
            padding: 0 0 0 3%;

            list-style-type: none;

            @include sizing(100%);

            li {
                float: left;

                width: 30%;
                margin: 1% 3% 1% 0;

                &:nth-child(3n) {
                    margin: 1% 0 1% 0;
                }

                &:nth-child(4) {
                    float: left;
                    clear: both;
                }

                a {
                    display: block;

                    text-decoration: none;
                    letter-spacing: 0;

                    opacity: 1;
                    color: #000;

                    @include anm(.2s);
                    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);

                    // overflow: hidden;
                    // height: 190px;
                    img {
                        width: 100%;
                    }

                    p {
                        font-size: 12px;
                        line-height: 1.3;

                        margin: 8px 0 0;
                        padding: 5px;

                        letter-spacing: 1;

                        // display: -webkit-box;
                        // -webkit-box-orient: vertical;
                        // -webkit-line-clamp: 3;
                        span {
                            display: block;

                            margin: 8px 0 0;

                            color: #900;

                            small {
                                font-size: 10px;
                            }
                        }
                    }

                    &:hover {
                        text-decoration: underline;

                        opacity: .7;

                        filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
                    }
                }
            }
        }
    }

    &.category {
        ul {
            li {
                width: 100%;
                margin: 15px 0;

                list-style: none;

                a {
                    display: block;

                    opacity: 1;

                    @include anm(.2s);
                    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);

                    img {
                        width: 100%;
                    }

                    &:hover {
                        opacity: .7;

                        filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
                    }
                }
            }
        }
    }
}


/* 関連商品紹介部分 ここまで */

/* 名入れサービス紹介部分 ここから */

.naire_service {
    float: left;
    clear: both;

    width: 100%;
    margin: 30px 0 40px;
    padding: 0 0 10px 0;

    border: 1px solid #ccc;

    // &>p {
    //     @include sizing(100%);
    //     font-weight: bold;
    //     padding: 10px 20px;
    //     font-size: 14px;
    //     color: #000;
    //     background-color: #f1f1f1;
    // }
    .naire_psbl {
        font-size: 14px;
        font-weight: bold;

        padding: 10px 10px;

        border-bottom: 1px solid #ccc;
        background-color: #f1f1f1;
    }

    .naire_flow {
        font-size: 14px;
        font-weight: bold;

        clear: both;

        padding: 10px 10px;

        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        background-color: #f1f1f1;
    }

    &.item {
        ul {
            padding: 0 0 0 3%;

            list-style-type: none;

            @include sizing(100%);

            li {
                float: left;

                width: 30%;
                margin: 1% 3% 1% 0;

                &:nth-child(3n) {
                    margin: 1% 0 1% 0;
                }

                &:nth-child(4) {
                    float: left;
                    clear: both;
                }

                a {
                    display: block;

                    text-decoration: none;
                    letter-spacing: 0;

                    opacity: 1;
                    color: #000;

                    @include anm(.2s);
                    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);

                    img {
                        width: 100%;
                    }

                    p {
                        font-size: 10px;
                        line-height: 1.3;

                        margin: 8px 0 0;

                        letter-spacing: 1;

                        span {
                            display: block;

                            margin: 8px 0 0;

                            color: #900;

                            small {
                                font-size: 10px;
                            }
                        }
                    }

                    &:hover {
                        text-decoration: underline;

                        opacity: .7;

                        filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
                    }
                }
            }
        }
    }
}


/* 名入れサービス紹介部分 ここまで */


div#spsVarpriceBox {
    margin: 50px 0 20px;
    padding: 10px 0;

    background-color: #eee !important;

    @include rad(3, 3, 3, 3);

    div {
        table {
            &.remark {
                top: 0 !important;

                tr {
                    &:last-child {
                        td {
                            text-align: right !important;
                        }
                    }
                }
            }
        }
    }

    &>div {
        #btnKagoService {
            input[type='submit'] {
                background-position: 0 -156.70588px !important;
            }
        }
    }
}

.nameService {
    font-size: 12px;

    padding-bottom: 40px;

    background-color: #fff;

    span {
        font-weight: bold;

        color: #f00;
    }

    .nmTitle {
        font-size: 14px;

        display: block;

        width: 98%;
        padding: 6px 1%;

        background-color: #cecece;
    }

    .nmInfo {
        width: 98%;
        margin: 0 auto;

        b {
            font-size: 13px;
        }

        p {
            font-size: 12px;

            padding-top: 10px;

            .nmEm {
                font-size: 14px;

                color: #000;
            }
        }

        div {
            width: 100%;
            padding: 3% 2%;

            &.nmImage_main {
                width: 100%;

                img {
                    display: block;

                    margin: 0 auto 15px;
                }
            }
        }
    }

    .nm_mainContents {
        width: 100%;
        margin: 0 auto;
    }

    .nmContents {
        width: 100%;
        margin: 0 auto 40px;

        border-spacing: 0;
        border-collapse: collapse;

        a {
            color: #7f3a3a;
        }

        em {
            font-size: 1.7em;
        }

        .nmText_center {
            font-size: 16px;
            font-weight: bold;

            text-align: center;

            color: #333;
            background-color: #cecece;
        }

        b {
            font-family: 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;

            border-bottom: none;
        }

        &.howto {
            tr {
                td {
                    &:first-child {
                        font-size: 12px;
                        font-weight: bold;

                        width: 40%;
                    }
                }
            }
        }

        tr {
            td {
                padding: 12px 12px;

                border: 1px solid #000;

                img {
                    display: block;
                    float: left;

                    width: 100%;
                    padding: 2%;
                }

                hr {
                    width: 94%;
                    margin-top: 8px;
                    margin-bottom: 8px;

                    border: none;
                    border-bottom: 1px dotted;
                }

                &:first-child {
                    font-size: 13px;

                    width: 30%;
                    padding: 20px 0 20px 0;

                    text-align: center;
                    text-align: center;
                    vertical-align: top;
                }

                ul {
                    overflow: hidden;

                    list-style-type: none;

                    li {
                        float: left;

                        width: 100%;
                        padding: 0;

                        text-align: center;

                        img {
                            display: block;
                            clear: both;

                            width: 100%;
                            margin: 0 auto;
                        }
                    }

                    &.nmSampletxt {
                        li {
                            font-size: 14px;

                            width: 100%;
                            margin-bottom: 20px;
                        }

                        li.first {
                            font-size: .8em;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}


body {

    /* スマホ用キャッチ画像 */
    .evhbnr {
        display: block;

        margin: 0 0 5px;
    }

    img.catch_if {
        margin-bottom: 10px;
    }

    /* 週間表示 */
    .ifweekly {
        display: inline-block;
        float: left;

        width: 100%;
        height: 16px;
        margin: 0;
    }

    /* 商品ページ動画再生用iframeの指定 */
    iframe.ipmov {
        display: block;

        width: 320px;
        height: 240px;
        margin: 30px auto;
    }

    .itempage {
        float: left;
        overflow: hidden;

        img {
            display: block;

            margin: 40px auto 0;

            &.first {
                margin: 0 auto;
            }

            &.left {
                float: left;
            }

            &.right {
                float: right;
            }

            &.alignCh {
                margin: 10px 0;
            }
        }

        .alignment {
            clear: both;
            overflow: hidden;

            margin: 0 auto;

            img {
                float: left;

                margin: 20px 10px;
            }
        }

        &.k3-743s {
            &.sp {
                width: 96%;
                padding: 2%;

                img {
                    width: 100%;

                    &.first {
                        margin: 0 auto;
                    }
                }

                .skillinfo {
                    width: 92%;
                    padding: 4%;

                    div {
                        width: 90%;

                        img {
                            width: 40%;
                        }

                        .left {
                            margin: 0;
                        }
                    }

                    img {
                        width: 100%;
                    }
                }

                .alignCh {
                    width: 50%;
                }

                .alignment {
                    @include sizing(100%);

                    img {
                        margin: 4% 2% 0;

                        &:first-child {
                            width: 40%;
                        }

                        &:nth-child(2) {
                            width: 52%;
                        }
                    }
                }
            }
        }
    }

    /* 特典情報 */
    .privilege {
        margin: 10px auto;

        background-size: cover !important;

        /* 専用の台付き */
        &.plate {
            width: 100%;
            height: 150px;

            background: url('https://den-tou.com/common/img/ipftr_bnr_plate.jpg') no-repeat;
        }

        &.plate_m {
            width: 100%;
            height: 150px;

            background: url('https://den-tou.com/common/img/ipftr_bnr_plate_m.jpg') no-repeat;
        }

        /* 送料無料 */
        &.del_m {
            width: 100%;
            height: 270px;

            background: url('https://den-tou.com/common/img/ipftr_bnr_del_m.jpg') no-repeat;
        }

        &.del {
            width: 100%;
            height: 125px;

            background: url('https://den-tou.com/common/img/ipftr_bnr_del_m.jpg') no-repeat;
        }

        /* レビューを書いて送料無料(商品の合計金額が8,000円以上の場合) */
        &.review_m {
            width: 100%;
            height: 440px;

            background: url('https://den-tou.com/common/img/ipftr_bnr_review_m.jpg') no-repeat;
        }

        &.review {
            width: 100%;
            height: 190px;

            background: url('https://den-tou.com/common/img/ipftr_bnr_review.jpg') no-repeat;
        }

        /* 座布団付き */
        &.sheet_m {
            width: 100%;
            height: 150px;

            background: url('https://den-tou.com/common/img/ipftr_bnr_sheet_m.jpg') no-repeat;
        }

        &.sheet {
            width: 100%;
            height: 150px;

            background: url('https://den-tou.com/common/img/ipftr_bnr_sheet.jpg') no-repeat;
        }

        /* 皿立て付き */
        &.stand_m {
            width: 100%;
            height: 150px;

            background: url('https://den-tou.com/common/img/ipftr_bnr_stand_m.jpg') no-repeat;
        }

        &.stand {
            width: 100%;
            height: 150px;

            background: url('https://den-tou.com/common/img/ipftr_bnr_stand.jpg') no-repeat;
        }

        /* 専用木箱サービス */
        &.wood_m {
            width: 100%;
            height: 580px;

            background: url('https://den-tou.com/common/img/ipftr_bnr_wood_m.jpg') no-repeat;
        }

        &.wood {
            width: 100%;
            height: 190px;

            background: url('https://den-tou.com/common/img/ipftr_bnr_wood.jpg') no-repeat;
        }

        /* 茶托オプション */
        &.saucer_m {
            width: 100%;
            height: 1560px;

            background: url('https://den-tou.com/common/img/ipftr_bnr_saucer_m.jpg') no-repeat;
        }

        &.saucer {
            width: 100%;
            height: 700px;

            background: url('https://den-tou.com/common/img/ipftr_bnr_saucer_m.jpg') no-repeat;
            background-size: cover !important;
        }

        &.name_m {
            width: 100%;
            height: 440px;

            background: url('https://shopping.c.yimg.jp/lib/dentouhonpo/ipftr_bnr_name_m.jpg') no-repeat;
        }

        &.name {
            width: 100%;
            height: 364px;

            background: url('https://shopping.c.yimg.jp/lib/dentouhonpo/ipftr_bnr_name.jpg') no-repeat;
        }

        &.hina_m {
            width: 100%;
            height: 781px;

            background: url('https://shopping.c.yimg.jp/lib/dentouhonpo/ipftr_bnr_hina_m.jpg') no-repeat;
        }

        &.hina {
            width: 100%;
            height: 561px;

            background: url('https://shopping.c.yimg.jp/lib/dentouhonpo/ipftr_bnr_hina.jpg') no-repeat;
        }

        &.hinaop_m {
            width: 100%;
            height: 510px;

            background: url('https://shopping.c.yimg.jp/lib/dentouhonpo/ipftr_bnr_hinaop_m.jpg') no-repeat;
        }

        &.hinaop {
            width: 100%;
            height: 364px;

            background: url('https://shopping.c.yimg.jp/lib/dentouhonpo/ipftr_bnr_hinaop.jpg') no-repeat;
        }

        &.hinawp {
            width: 100%;
            height: 319px;

            background: url('https://shopping.c.yimg.jp/lib/dentouhonpo/ipftr_bnr_hinawp.jpg') no-repeat;
        }

        &.tng_m {
            width: 100%;
            height: 781px;

            background: url('https://shopping.c.yimg.jp/lib/dentouhonpo/ipftr_bnr_tng_m.jpg') no-repeat;
        }

        &.tng {
            width: 100%;
            height: 1037px;

            background: url('https://shopping.c.yimg.jp/lib/dentouhonpo/ipftr_bnr_tng.jpg') no-repeat;
        }

        &.tngop_m {
            width: 100%;
            height: 510px;

            background: url('https://shopping.c.yimg.jp/lib/dentouhonpo/ipftr_bnr_tngop_m.jpg') no-repeat;
        }

        &.tngop {
            width: 100%;
            height: 364px;

            background: url('https://shopping.c.yimg.jp/lib/dentouhonpo/ipftr_bnr_tngop.jpg') no-repeat;
        }

        &.mgop {
            width: 100%;
            height: 420px;

            background: url('https://den-tou.com/common/img/ipftr_bnr_mother_s.jpg') no-repeat;
        }

        &.mgop_m {
            width: 100%;
            height: 1139px;

            background: url('https://den-tou.com/common/img/ipftr_bnr_mother_sp_s.jpg') no-repeat;
        }
    }
}

.mainIpcontents {
    margin: 15px 0 0;
}



/* iframe設定 */
.spTngif {
    width: 100%;
}

.mainHeader {
    .onepoint {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 2%;

        background-color: #fdf1e2;

        -ms-box-sizing: border-box;

        img {
            display: block;

            width: 100%;
        }
    }

    .sp_hdr_logo {
        width: 80%;
        height: 103px;
        margin: 10px auto;

        background: url('https://den-tou.com/img/sp_h_logo.png') left top no-repeat;
        background-size: 100%;

        a {
            display: block;

            width: 100%;
            height: 100%;
        }
    }

    .sp_hdr_title {
        margin: 8px auto;

        background: none;

        a {
            display: block;

            width: 100%;

            img {
                display: block;

                width: 126px;
                margin: 10px auto 2px;
            }
        }
    }

    .sp_hdr_menu_menu {
        @include r-sprite($sp_hdr_menu_menu, 3.5);
    }

    .sp_hdr_menu_login {
        @include r-sprite($sp_hdr_menu_login, 3.5);
    }

    .sp_hdr_menu_search {
        @include r-sprite($sp_hdr_menu_search, 3.5);
    }

    .sp_hdr_menu_favorite {
        @include r-sprite($sp_hdr_menu_favorite, 3.5);
    }

    .sp_hdr_menu_cart {
        @include r-sprite($sp_hdr_menu_cart, 3.5);
    }

    /* header */
    .spCatch {
        display: none;
        overflow: hidden;

        padding: 2px 4px 5px;

        text-align: center;

        background-color: $color01;

        h1 {
            float: left;

            margin: 0;
            padding: 4px 0 2px;

            @include fsize(12, 1.8);
        }
    }

    .headerMenu {
        ul.menu {
            li {
                float: left;

                width: 16%;
                margin: 0 2%;

                a {
                    display: block;

                    margin: 0 auto;
                }
            }
        }
    }

    .hdrInfo {
        color: #f00;
        background-color: #ff0;
        -webkit-box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, .5);
        box-shadow: inset 0 0 0 0 rgba(0, 0, 0, .5);

        p {
            font-size: 14px;
            font-weight: bold;
            line-height: 1.4;

            margin: 0 0 6px;
            padding: 3px 6px;

            text-align: center;

            b {
                font-size: 16px;
                font-weight: bold;

                color: #f00;
            }
        }

        .blink {
            animation-name: flash;
            /* <!--CSS側で定義したアニメーションの名前--> */
            animation-duration: .7s;
            /* <!--アニメーションの長さ--> */
            animation-play-state: running;
            /* <!--アニメーションを実行中の状態にする--> */
            animation-iteration-count: infinite;
            /* <!--アニメーションを何回実行するか, infiniteだと無限ループ--> */
            animation-direction: alternate;
            /* <!--alternateにすると、行って帰ってという風にアニメーションを実行する--> */
        }

        /* <!--全体の何％進んだところで要素をどうするかの指定。今回は不透明度を0にする--> */
        @keyframes flash {
            0% {
                visibility: hidden;
            }

            50% {
                visibility: hidden;
            }

            100% {
                visibility: visible;
            }
        }

        .hdrifdelivery {
            display: block;

            width: 100%;
            height: 1.25em;
            margin: 1px 0 0;
        }
    }

    .selectForm {
        .search {
            select {
                display: block;
                clear: both;

                margin: 10px auto 0;

                border: .5px solid $mc;
                border-style: none;

                @include sizing(95%);
                @include rad(0, 0, 0, 0);
                @include fsize(13, 1.0);
            }
        }
    }
}

/* mainHeader fin */


/* mainbnr */
#mainbnr {
    ul {
        li {
            clear: both;

            margin: 0 0 6px;

            a {
                display: block;

                img {
                    display: block;

                    width: 100%;
                }
            }
        }
    }
}

/* mainbnr fin */

#menu {
    ul {
        li {
            clear: both;

            &.member {
                a {
                    float: left;

                    width: 33.333%;
                    margin: 10px 0 0;
                    padding: 4px 0;

                    text-align: center;

                    color: #fff;
                    border-left: .5px solid $color01;
                    background-color: $mc;

                    &:first-child {
                        border: none;
                    }
                }
            }

            form {
                margin: 5% 8% 0;

                @include sizing(100%);
            }

            .search_form {
                float: left;

                width: 70%;
                height: 37px;
                margin: 0;
                padding: 0 4px;

                border: none;
                border: .5px solid $mc;
                border-style: none;

                @include fsize(14, 1.5);
                @include rad(0, 0, 0, 0);
            }

            .sp_hdr_icon_search {
                float: left;

                border: none;
                border-style: none;
                background-color: $mc;

                @include rad(0, 0, 0, 0);
                @include r-sprite($sp_hdr_icon_search, 3);
            }

            a {
                @include fsize(13, 2.5);

                img {
                    width: 100%;
                }
            }
        }
    }
}

/* drawermenyu */



/* ip */
.mainIpcontents {
    .brandInfo {
        overflow: hidden;

        margin: 10px 0 0;
        padding: 20px 5%;

        border-top: 1px dotted $mc;
        border-bottom: 1px dotted $mc;

        @include sizing(100%);

        .ipBrandtitle {
            .sp_ip_brand {
                display: block;

                @include r-sprite($sp_ip_brand, 4);
            }
        }

        .brandContents {
            .brandTitle {
                overflow: hidden;

                margin: 10px 0;

                .brandicon_kutani {
                    display: block;
                    float: left;

                    @include r-sprite($brandicon_kutani, 4);
                }

                a {
                    display: block;
                    float: left;

                    margin: 0 0 0 10px;

                    color: $tc;

                    @include fsize(15, 3.5);

                    b {
                        font-weight: normal;
                    }
                }
            }

            p {
                clear: both;

                @include fsize(11, 1.5);
            }

            .brandOtherlink {
                position: relative;

                display: block;
                float: left;

                width: 48%;
                margin: 0 1%;
                padding: 4px 10px;

                text-align: center;
                text-decoration: none;

                border: 1px solid $mc;

                @include fsize(10, 1.5);

                &:before {
                    /* content: ">>";
                    position: absolute;
                    top: 0; */
                }

                &:hover {
                    color: #fff;
                    background-color: $mc;
                }
            }
        }
    }

    .reviewGroup {
        padding: 5%;

        @include sizing(100%);

        .ipReviewtitle {
            .sp_ip_review {
                display: block;
                float: left;

                margin: 0 0 10px;

                @include r-sprite($sp_ip_review, 4);
            }

            .reviewTotalinfo {
                display: block;
                float: right;

                width: 100%;
                margin: 0 0 15px;
                padding: 5px 0;

                border-top: 2px solid $color01;
                border-bottom: 2px solid $color01;

                @include fsize(13, 1.5);

                span {
                    display: inline-block;

                    margin: 0 8px 0 0;

                    &.review_star01 {
                        @include r-sprite($review_star01, 3.5);
                    }

                    &.review_star02 {
                        @include r-sprite($review_star02, 3.5);
                    }

                    &.review_star03 {
                        @include r-sprite($review_star03, 3.5);
                    }

                    &.review_star04 {
                        @include r-sprite($review_star04, 3.5);
                    }

                    &.review_star05 {
                        @include r-sprite($review_star05, 3.5);
                    }
                }
            }
        }

        .reviewOpen {
            font-family: 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;

            display: block;

            width: 100%;
            padding: 5px;

            cursor: pointer;
            text-align: center;

            color: $red;
            background: #fff;
        }

        #hideReview {
            display: none;
        }

        .reviewContents {
            margin: 10px 0;

            border: none;
            border-bottom: 1px dotted $red;

            p {
                clear: both;

                @include fsize(10, 1.5);
            }

            .reviewUser {
                overflow: hidden;

                margin: 0 0 5px;

                @include sizing(100%);

                .icon {
                    float: left;

                    width: 16%;

                    span {
                        display: block;

                        &.father {
                            @include r-sprite($reviw_chara_01, 4);
                        }

                        &.mother {
                            @include r-sprite($reviw_chara_02, 4);
                        }

                        &.girl {
                            @include r-sprite($reviw_chara_03, 4);
                        }

                        &.mother02 {
                            @include r-sprite($reviw_chara_04, 4);
                        }

                        &.man {
                            @include r-sprite($reviw_chara_05, 4);
                        }

                        &.family {
                            @include r-sprite($reviw_chara_06, 4);
                        }

                        &.lady {
                            @include r-sprite($reviw_chara_07, 4);
                        }

                        &.gmother {
                            @include r-sprite($reviw_chara_08, 4);
                        }

                        &.gfather {
                            @include r-sprite($reviw_chara_09, 4);
                        }
                    }
                }

                .userInfo {
                    float: left;

                    width: 84%;

                    .reviewCatch {
                        font-weight: bold;
                        line-height: 1.0;

                        display: block;
                        float: left;

                        color: $red;

                        @include fsize(15, 1.0);

                        small {
                            font-weight: normal;
                        }
                    }

                    .reviewDate {
                        clear: both;

                        @include fsize(10, 2.5);

                        span {
                            display: inline-block;

                            margin: 0 4px 0 0;

                            &.review_star01 {
                                @include r-sprite($review_star01, 4);
                            }

                            &.review_star02 {
                                @include r-sprite($review_star02, 4);
                            }

                            &.review_star03 {
                                @include r-sprite($review_star03, 4);
                            }

                            &.review_star04 {
                                @include r-sprite($review_star04, 4);
                            }

                            &.review_star05 {
                                @include r-sprite($review_star05, 4);
                            }
                        }
                    }
                }
            }
        }

        .reviewNot {
            a {
                display: block;
                clear: both;

                text-align: center;
            }
        }
    }

    .ipDelivery,
    .ipPayment,
    .ipGiftservice,
    .ipInfo {
        @include sizing(100%);

        table {
            width: 100%;

            border-collapse: collapse;

            tr {
                &:nth-child(odd) {
                    background-color: $color01;
                }

                td {
                    padding: 6px;

                    &:first-child {
                        width: 60px;
                    }

                    span {
                        display: block;
                        float: left;

                        margin: 3px 6px 3px 0;

                        &.sp_ip_pay_master {
                            display: block;

                            @include r-sprite($sp_ip_pay_master, 4);
                        }

                        &.sp_ip_pay_diners {
                            display: block;

                            @include r-sprite($sp_ip_pay_diners, 4);
                        }

                        &.sp_ip_pay_jcb {
                            display: block;

                            @include r-sprite($sp_ip_pay_jcb, 4);
                        }

                        &.sp_ip_pay_american {
                            display: block;

                            @include r-sprite($sp_ip_pay_american, 4);
                        }

                        &.sp_ip_pay_visa {
                            display: block;

                            @include r-sprite($sp_ip_pay_visa, 4);
                        }

                        &.sp_ip_pay_paypal {
                            display: block;

                            @include r-sprite($sp_ip_pay_paypal, 4);
                        }

                        &.sp_ip_pay_yawallet {
                            display: block;

                            @include r-sprite($sp_ip_pay_yawallet, 4);
                        }

                        &.sp_ip_pay_rkedy {
                            display: block;

                            @include r-sprite($sp_ip_pay_rkedy, 4);
                        }

                        &.sp_ip_pay_store {
                            display: block;

                            @include r-sprite($sp_ip_pay_store, 4);
                        }

                        &.sp_ip_pay_cash {
                            display: block;

                            @include r-sprite($sp_ip_pay_cash, 4);
                        }

                        &.sp_ip_pay_bank {
                            display: block;

                            @include r-sprite($sp_ip_pay_bank, 4);
                        }

                        &.sp_ip_pay_rkbank {
                            display: block;

                            @include r-sprite($sp_ip_pay_rkbank, 4);
                        }

                        &.sp_ip_pay_post {
                            display: block;

                            @include r-sprite($sp_ip_pay_post, 4);
                        }

                        &.sp_ip_pay_npay {
                            display: block;

                            @include r-sprite($sp_ip_pay_npay, 4);
                        }
                    }

                    ul {
                        padding: 0;

                        li {
                            position: relative;

                            float: left;

                            list-style-type: none;

                            div {
                                font-size: 10px;

                                position: absolute;
                                z-index: 2;
                                top: 30px;
                                left: auto;

                                display: none;

                                width: 100px;
                                padding: 4px;

                                color: #fff;
                                -moz-border-radius: 3px 3px 3px 3px;
                                border-radius: 3px 3px 3px 3px;
                                ;
                                background-color: $mc;
                            }

                            &:hover div {
                                display: block;
                            }
                        }
                    }
                }
            }
        }

        .ipInfotitle {
            padding: 8px 8px 7px 8px;

            background-color: $mc;

            .sp_ip_info {
                display: block;

                @include r-sprite($sp_ip_info, 4);
            }
        }

        .ipDeliverytitle {
            padding: 8px 8px 7px 8px;

            background-color: $mc;

            .sp_ip_delivery {
                display: block;

                @include r-sprite($sp_ip_delivery, 4);
            }
        }

        .ipPaymenttitle {
            padding: 8px 8px 7px 8px;

            background-color: $mc;

            .sp_ip_payment {
                display: block;

                @include r-sprite($sp_ip_payment, 4);
            }
        }

        .ipGiftservicetitle {
            padding: 8px 8px 7px 8px;

            background-color: $red;

            .sp_ip_giftservice {
                display: block;

                @include r-sprite($sp_ip_giftservice, 4);
            }
        }
    }

    .ipInfo {
        .ipCheck {
            padding: 10px;

            border-top: 1px solid $color01;

            @include sizing(100%);

            ol {
                clear: both;

                margin: 0 16px;
                padding: 0;

                list-style-position: inside;

                li {
                    list-style: decimal;
                }
            }

            ul {
                clear: both;

                li {
                    float: left;

                    width: 33.333%;
                    padding: 2% 1%;

                    list-style-type: none;

                    img {
                        width: 100%;
                    }
                }
            }

            b {
                color: $red;

                .sp_ip_careful {
                    display: block;
                    float: left;

                    @include r-sprite($sp_ip_careful, 4);
                }
            }
        }
    }

    .ipGiftservice {
        overflow: hidden;

        padding: 0 0 8px;

        border-bottom: 1px solid $red;

        ul {
            padding: 0;

            li {
                position: relative;

                float: left;

                width: 33.333%;
                padding: 0 0 4px;

                list-style-type: none;

                a {
                    span {
                        display: block;

                        margin: 8px auto 4px;

                        &.sp_ip_gifticon_card {
                            display: block;

                            @include r-sprite($sp_ip_gifticon_card, 3.5);
                        }

                        &.sp_ip_gifticon_name {
                            display: block;

                            @include r-sprite($sp_ip_gifticon_name, 3.5);
                        }

                        &.sp_ip_gifticon_delivery {
                            display: block;

                            @include r-sprite($sp_ip_gifticon_delivery, 3.5);
                        }

                        &.sp_ip_gifticon_early {
                            display: block;

                            @include r-sprite($sp_ip_gifticon_early, 3.5);
                        }

                        &.sp_ip_gifticon_wrap {
                            display: block;

                            @include r-sprite($sp_ip_gifticon_wrap, 3.5);
                        }

                        &.sp_ip_gifticon_noshi {
                            display: block;

                            @include r-sprite($sp_ip_gifticon_noshi, 3.5);
                        }
                    }

                    div {
                        font-size: 10px;

                        position: absolute;
                        z-index: 2;
                        top: 0;

                        display: none;

                        padding: 4px;

                        color: #fff;
                        -moz-border-radius: 3px 3px 3px 3px;
                        border-radius: 3px 3px 3px 3px;
                        background-color: $red;

                        &:after {
                            position: absolute;
                            top: auto;

                            content: '>';
                        }
                    }
                }

                &:hover div {
                    display: block;
                }

                &.wide {
                    clear: both;

                    width: 100%;

                    border-top: 1px dotted $red;

                    a {
                        clear: both;

                        margin: 10px auto 0;
                    }
                }
            }
        }
    }

    /* recommend */
    .ipRecommend,
    .ipCaterank {
        overflow: hidden;

        margin: 0 0 15px;

        @include sizing(100%);

        .ipRecommendtitle,
        .ipCateranktitle {
            padding: 10px 5% 5px;

            .sp_ip_recomm {
                display: block;

                @include r-sprite($sp_ip_recomm, 4);
            }

            .sp_ip_caterank {
                display: block;

                @include r-sprite($sp_ip_caterank, 4);
            }
        }

        .ipRecommitem_list,
        .ipCaterankitem_list {
            padding: 0;

            @include sizing(100%);

            li {
                float: left;

                list-style-type: none;

                @include sizing(50%);

                img {
                    width: 100%;
                }

                a {
                    position: relative;

                    display: block;

                    text-decoration: none;

                    p {
                        margin: 4px 0 0;

                        @include fsize(10, 1.25);
                    }

                    span {
                        font-weight: normal;

                        display: block;

                        text-align: right;

                        @include fsize(10, 1.5);
                    }

                    .sp_ip_rankicon_01 {
                        @include r-sprite($sp_ip_rankicon_01, 3.75);
                    }

                    .sp_ip_rankicon_02 {
                        @include r-sprite($sp_ip_rankicon_02, 3.75);
                    }

                    .sp_ip_rankicon_03 {
                        @include r-sprite($sp_ip_rankicon_03, 3.75);
                    }

                    .sp_ip_rankicon_04 {
                        @include r-sprite($sp_ip_rankicon_04, 3.75);
                    }

                    .sp_ip_rankicon_01,
                    .sp_ip_rankicon_02,
                    .sp_ip_rankicon_03,
                    .sp_ip_rankicon_04 {
                        position: absolute;
                        top: -2px;
                        left: 4px;

                        display: block;
                    }
                }

                &:nth-child(even) {
                    padding: 5px 4% 5px 2%;
                }

                &:nth-child(odd) {
                    padding: 5px 2% 5px 4%;
                }
            }
        }
    }

    .sp_ip_gift {
        display: block;

        margin: 0 auto 25px;

        @include r-sprite($sp_ip_gift, 4.25);
    }



    /* @media only screen and (min-width: 768px) {
        .ipPointgroup{
            @include sizing(100%);
            max-width: 990px;
            overflow: hidden;
            margin: 40px auto 20px;
            .reviewGroup,.brandInfo{
                max-width: 480px;
                margin: 0 7px;
                border: 1px dotted $mc;
                float: left;
                padding: 2%;
            }   
        }
        .ipInfogroup{
            overflow: hidden;
            clear: both;
            @include sizing(100%);
            max-width: 990px;
            margin: 0 auto 30px;
            .ipDelivery,.ipPayment,.ipGiftservice,.ipInfo{
                max-width: 480px;
                margin: 0 7px;
                border: 1px solid $mc;
                float: left;
            }
            .ipGiftservice{
                margin-top: 10px;
            }
        }
        .ipRecommgroup{
            overflow: hidden;
            clear: both;
            @include sizing(100%);
            max-width: 990px;
            margin: 0 auto;
            .ipRecommend,.ipCaterank{
                width: 100%;
                margin: 0 auto 20px;
                padding: 0 0 20px;
                border-bottom: 1px dotted $mc;
                .ipRecommendtitle,.ipCateranktitle{
                    padding: 10px 1% 5px;
                    .sp_ip_recomm{
                        @include r-sprite($sp_ip_recomm,3);
                    }
                    .sp_ip_caterank{
                        @include r-sprite($sp_ip_caterank,3);
                    }
                }
                .ipRecommitem_list,.ipCaterankitem_list{
                    li{
                        width: 25%;
                        padding: 5px 2% 5px !important;
                    }
                }
            }
        }
    } */
}

/* mainIpcontents fin */


/* footer */
.mainFooter {

    .ftrPopitem,
    .ftrEvent,
    .ftrImprove {
        clear: both;
        overflow: hidden;

        max-width: 990px;
        margin: 10px auto 0;
        padding: 0 3%;

        @include sizing(100%);

        .sp_ftr_popular {
            display: block;

            @include r-sprite($sp_ftr_popular, 3);
        }


        .sp_ftr_pickupevent {
            display: block;

            margin: 0 0 0 5%;

            @include r-sprite($sp_ftr_pickupevent, 3);
        }

        .ftrPopitem_list {
            padding: 0;

            @include sizing(100%);

            li {
                float: left;

                padding: 5px 4% 5px 0;

                list-style-type: none;

                @include sizing(34.333%);

                img {
                    width: 100%;
                }

                a {
                    text-decoration: none;

                    p {
                        margin: 4px 0 0;

                        @include fsize(10, 1.25);
                    }

                    span {
                        font-weight: normal;

                        display: block;

                        text-align: right;

                        @include fsize(10, 1.5);
                    }
                }

                &:nth-child(3n) {
                    padding: 5px 0;

                    @include sizing(30.333%);
                }

                &:nth-child(4) {
                    clear: both;
                }
            }
        }

        .ftrEvent_list {
            padding: 0;

            @include sizing(100%);

            li {
                width: 100%;
                padding: 5px 0 0;

                list-style-type: none;

                a {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    .ftrEvent {
        padding: 0;
    }

    .ftrImprove {
        width: 100%;

        img {
            width: 100%;
        }
    }

    /* @media only screen and (min-width: 768px) {

        .ftrPopitem,.ftrEvent{
            padding: 0;
            .sp_ftr_popular{
                @include r-sprite($sp_ftr_popular,2.5);
            }  

            .sp_ftr_pickupevent{
                margin: 0;
                @include r-sprite($sp_ftr_pickupevent,2.5);
            }

            .ftrPopitem_list{
                li{
                    @include sizing(16.666%);
                    padding: 5px 2% 5px;
                    list-style-type: none;
                    float: left;
                    img{
                        width: 100%;
                    }
                    a{
                        text-decoration: none;
                        p{
                            @include fsize(10,1.25);
                            margin: 4px 0 0;
                        }
                        span{
                            text-align: right;
                            display: block;
                            color: $mc;
                        }
                    }
                    &:nth-child(3){
                        @include sizing(16.666%);
                        padding: 5px 2% 5px;
                    }
                    &:nth-child(4){
                        clear: none;
                    }
                    &:nth-child(6){
                        padding: 5px 2% 5px;
                        @include sizing(16.666%);
                    }
                }
            }
            .ftrEvent_list{
                li{
                    width: 50%;
                    float: left;
                    padding: 1% 1% 0 0;
                    a{
                        img{
                            width: 100%;
                        }
                    }
                }
            } 
        }
    } */

    .ftrInfo {
        clear: both;
        overflow: hidden;

        margin: 0 auto;

        border-top: 1px solid $color01;

        @include sizing(100%);

        .ftrInfotitle {
            padding: 8px 8px 7px 8px;

            background-color: $mc;

            p {
                font-family: 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;

                margin: 1px 0 0;

                color: #fff;

                @include fsize(10, 1.5);
            }

            .sp_ftr_event {
                display: block;

                @include r-sprite($sp_ftr_event, 4);
            }

            .sp_ftr_category {
                display: block;

                @include r-sprite($sp_ftr_category, 4);
            }

            .sp_ftr_budget {
                display: block;

                @include r-sprite($sp_ftr_budget, 4);
            }

            .sp_ftr_contact {
                display: block;

                @include r-sprite($sp_ftr_contact, 4);
            }

            .sp_ftr_info {
                display: block;

                @include r-sprite($sp_ftr_info, 4);
            }

            &.guide {
                background-color: #fff;
            }
        }

        .ftrInfo_list {
            overflow: hidden;

            padding: 0;

            @include sizing(100%);

            li {
                position: relative;

                float: left;

                width: 50%;
                height: 38px;
                padding: 2px 6px;

                list-style-type: none;

                border: none;
                border-right: .5px solid $mc;
                border-bottom: .5px solid $mc;

                &.last {
                    width: 100%;
                }

                &:nth-child(2n) {
                    border-right: none;
                }

                &:after {
                    position: absolute;
                    top: 8px;
                    right: 12px;

                    content: '>';

                    color: $mc;
                }

                a {
                    font-family: 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;

                    display: block;

                    width: 100%;
                    height: 100%;

                    text-decoration: none;

                    @include fsize(13, 2.75);
                }

                span {
                    display: block;
                    float: left;

                    margin: 7px 6px 7px 4px;

                    &.sp_ftr_menu_married {
                        @include r-sprite($sp_ftr_menu_married, 3);
                    }

                    &.sp_ftr_menu_baby {
                        @include r-sprite($sp_ftr_menu_baby, 3);
                    }

                    &.sp_ftr_menu_build {
                        @include r-sprite($sp_ftr_menu_build, 3);
                    }

                    &.sp_ftr_menu_celeb {
                        @include r-sprite($sp_ftr_menu_celeb, 3);
                    }

                    &.sp_ftr_menu_retire {
                        @include r-sprite($sp_ftr_menu_retire, 3);
                    }

                    &.sp_ftr_menu_old {
                        @include r-sprite($sp_ftr_menu_old, 3);
                    }

                    &.sp_ftr_menu_birth {
                        @include r-sprite($sp_ftr_menu_birth, 3);
                    }

                    &.sp_ftr_menu_wedding {
                        @include r-sprite($sp_ftr_menu_wedding, 3);
                    }

                    &.sp_ftr_menu_gold {
                        @include r-sprite($sp_ftr_menu_gold, 3);
                    }

                    &.sp_ftr_menu_annivers {
                        @include r-sprite($sp_ftr_menu_annivers, 3);
                    }
                }
            }
        }

        .contact {
            overflow: hidden;

            background-color: $mc;

            @include sizing(100%);

            hr {
                width: 100%;
                margin: 0 auto;
                padding: 0 5%;

                border: none;
                border-bottom: .5px solid $color01;
            }

            a {
                display: block;
                float: left;

                width: 50%;

                span {
                    display: block;

                    margin: 10px auto;

                    &.sp_ftr_call {
                        @include r-sprite($sp_ftr_call, 4);
                    }

                    &.sp_ftr_mail {
                        @include r-sprite($sp_ftr_mail, 4);
                    }
                }
            }
        }

        .ftrshopGuide {
            background-color: $color01;

            ul {
                overflow: hidden;

                padding: 0;

                border-top: 1px dotted $mc;

                @include sizing(100%);

                li {
                    position: relative;

                    float: left;

                    width: 50%;

                    list-style-type: none;

                    border: none;
                    border-right: 1px dotted $mc;
                    border-bottom: 1px dotted $mc;

                    &:nth-child(2n) {
                        border-right: none;
                    }

                    &:after {
                        position: absolute;
                        top: 10px;
                        right: 15px;

                        content: '>';
                    }

                    a {
                        font-family: 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;

                        display: block;

                        padding: 10px;

                        text-decoration: none;

                        @include fsize(13, 1.5);
                    }
                }
            }
        }

        .ftrcopy {
            font-family: 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;

            display: block;

            padding: 10px;

            text-align: center;

            @include fsize(10, 1.5);
        }
    }
}








/* ip-style.scss引き継ぎ */

/* ビアカップ　完売情報　スタイル */

body.infoSale {
    table {
        font-size: 12px;

        background-color: none;

        @include sizing(100%);

        & tr td.first {
            &:nth-child(1) {
                background-color: #fff;
            }

            p {
                text-align: center;

                background-color: #fff;
            }
        }

        & tr td {
            padding: 10px;

            border: 1px solid #000;

            &:nth-child(1) {
                color: #000;
                background-color: #efefef;

                @include sizing(30%);
            }

            &:nth-child(2n) {
                font-weight: normal;

                text-align: center;

                color: #000;
                background-color: #efefef;

                @include sizing(70%);
            }
        }

        & tr.Sale td {
            &:nth-child(1) {
                color: #fff;
                background-color: #900;

                @include sizing(30%);
            }

            &:nth-child(2n) {
                font-weight: bold;

                text-align: center;

                color: #900;
                background-color: #fff;

                @include sizing(70%);
            }
        }
    }
}



/* スマートフォン設定 */

@media only screen and (max-width: 768px) {
    #asb001 {
        display: none;
    }

    .deli_bnr {
        display: none;
    }

    .careful {
        p {
            font-size: 14px;

            text-align: center;

            em {
                display: none;
            }

            a {
                font-size: 16px;
                font-weight: bold;
            }
        }
    }

    #pi_sns {
        display: none;
    }

    #pi_sub2 {
        .freearea {
            .contentArea01 {
                .caption {
                    p {
                        em {
                            font-family: 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
                            font-size: 13px;

                            display: block;

                            height: auto;
                            padding: 0 0 6px;

                            border-bottom: 1px dashed $mc;
                        }
                    }
                }

                table.service {
                    display: none;

                    padding: 10px;

                    border-spacing: 0;
                    border-collapse: collapse;

                    border: 1px solid $mc;

                    tbody {
                        &>tr:first-child {
                            text-align: center;

                            color: #fff;
                            background-color: $mc;
                        }

                        tr {
                            td {
                                padding: 6px;

                                border: 1px solid $mc;

                                &:first-child {
                                    width: 30%;
                                }
                            }
                        }
                    }
                }
            }

            .info {
                width: 100%;
                margin: 0;
                padding: 0;

                border-spacing: 0;
                border-collapse: collapse;

                border: 1px solid $mc;

                tbody {
                    tr {
                        &:first-child {
                            text-align: center;

                            color: #fff;
                            background-color: $mc;
                        }

                        td {
                            padding: 6px;

                            border: 1px solid $mc;

                            &:first-child {
                                width: 30%;
                            }
                        }
                    }
                }
            }
        }
    }
}



/* カートボタン設定 */

.ipcartBtn {
    position: fixed;
    z-index: 1;
    right: 6px;
    bottom: 6px;

    display: none;

    width: 40px;
    height: 40px;

    @include r-sprite($pc_ip_cartbtn, 1);

    &:hover {
        @include r-sprite($pc_ip_cartbtn_on, 1);
    }
}

/* zoom.css */

img[data-action='zoom'] {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
}

.zoom-img,
.zoom-img-wrap {
    position: relative;
    z-index: 666;

    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}

img.zoom-img {
    cursor: pointer;
    cursor: -webkit-zoom-out;
    cursor: -moz-zoom-out;
}

.zoom-overlay {
    position: fixed;
    z-index: 420;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    -webkit-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    transition: opacity 300ms;
    pointer-events: none;

    opacity: 0;
    background: #fff;

    filter: 'alpha(opacity=0)';
}

.zoom-overlay-open .zoom-overlay {
    opacity: 1;

    filter: 'alpha(opacity=100)';
}

.zoom-overlay-open,
.zoom-overlay-transitioning {
    cursor: default;
}





/* カテゴリーページコンテンツ部分 */
.cp {
    margin: 0 0 40px;

    .cpTitle {
        width: 98%;
        margin: 0 auto 70px;

        h3 {
            font-size: 32px;

            text-align: center;
        }

        div {
            font-family: 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
            font-size: 13px;
            line-height: 2;

            display: block;

            width: 100%;
            margin: 40px auto;

            letter-spacing: .1em;
        }

        hr {
            display: block;

            height: 2px;
            margin: 20px 0 40px;

            border: none;
            border-top: 1px dotted $lc;
            border-bottom: 1px dotted $lc;
        }
    }

    .cpMain {
        margin: 0 0 80px;

        img {
            display: block;

            width: 98%;
            margin: 0 auto;
        }

        .cpMaintxt {
            overflow: hidden;

            margin: 15px 0 0;

            em {
                font-family: 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
                font-size: 24px;
                line-height: 1.75;

                display: block;

                width: 80%;
                margin: 30px auto 15px;

                text-align: center;
            }

            .txt {
                font-size: 12px;
                line-height: 2;

                float: left;

                width: 98%;
                padding: 4% 2%;

                letter-spacing: .1em;
            }
        }

        .cpitemLink {
            font-size: 14px;

            display: block;

            width: 96%;
            margin: 25px auto;

            text-decoration: underline;

            color: #04c;
        }
    }

    .cpSub {
        position: relative;

        overflow: hidden;

        .cpSubtxt {
            font-size: 11px;
            line-height: 2;

            width: 100;
            margin: 0 0 80px;

            letter-spacing: .1em;

            color: $tc;
            background-color: rgba($bcw, .9);

            &.posR {
                top: 8%;
                right: 4%;
                left: auto;
            }

            &.sh {
                //text-shadow: 0 0 7px #2E2E2E;
            }

            em {
                font-family: 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
                font-size: 24px;
                line-height: 1.75;

                display: block;

                width: 100%;
                margin: 10px auto 15px;
            }
        }

        .cpitemLink {
            font-size: 14px;

            display: block;

            width: 98%;
            margin: 15px auto 25px;

            text-decoration: underline;

            color: #04c;
        }
    }
}


@media only screen and (max-width: 768px) {
    .ip_main {
        .ipMaincontents {
            .ipSubcontents {
                ul {
                    overflow: hidden;

                    list-style-type: none;

                    li {
                        float: left;

                        width: 50%;
                        padding: 4%;
                    }
                }
            }
        }
    }

    .wrapcontents {
        width: 100%;
        padding: 0;

        .wrapcontents_ip {
            width: 100%;

            .ip_main {
                margin: 0 0 80px;

                .txt {
                    h3 {
                        font-size: 1em;
                    }

                    span {
                        font-size: .85em;
                    }

                    b {
                        font-size: .85em;
                    }

                    p {
                        font-size: .85em;
                    }
                }
            }

            .ip_main,
            .ip_sub {
                .txt {
                    width: 90%;
                    padding: 0 5%;
                }

                /* 関連商品 */
                .recommend {
                    .recommend_title {
                        clear: both;
                        overflow: hidden;

                        li {
                            font-family: 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
                            font-weight: bold;

                            float: left;

                            width: 33.333% !important;

                            list-style-type: none;

                            text-align: center;

                            p {
                                font-size: 15px;
                                line-height: 1.5;
                            }

                            hr {
                                display: block;

                                width: 100%;
                                margin: 0 auto;
                                padding: 10px 0 0;

                                border: none;
                                border-bottom: 1px dotted $tc;
                            }

                            span {
                                font-size: 10px;

                                display: block;

                                margin: 0 6px 0 0;
                            }
                        }
                    }

                    .recommend_item {
                        display: table;

                        li {
                            display: table-cell;

                            padding: 50px 14px 100px;

                            p {
                                font-size: 10px;

                                color: $tc;
                            }

                            span {
                                font-size: 10px;
                                font-size: 14px;

                                color: $tc;

                                em {
                                    font-size: 10px;

                                    margin: 0 0 0 5px;

                                    color: $tc;
                                }
                            }

                            img {
                                outline: 1px solid #f6f6f6;
                            }
                        }
                    }
                }
            }

            .caption {
                width: 100% !important;
                padding: 5% 5% 0 !important;

                @include sizing(100%);
            }
        }
    }
}


/*商品ページ内商品情報ここから*/
.ipdscarea {
    img.pc {
        display: none;
    }

    img.sp {
        display: block;
    }
}

/*納期・アウトレット テキスト*/
.outlet,
.mkts,
.trys,
.cantonly {
    width: 100%;
    margin: 0 auto;
    margin: 10px auto;
    padding: 10px;

    background-color: #f1f1f1;

    p {
        width: 100%;

        text-align: center;

        b {
            font-size: 1.2em;
        }

        span {
            font-size: 1.1em;

            text-decoration: underline;

            color: #dc0c0c;
        }
    }
}

.daibiki {
    margin: 10px auto;
}




/*商品ページ内のギフトサービスバナーここから*/

.ip_giftbnr {
    clear: both;
    overflow: hidden;

    margin: 0 auto 20px;

    background: #e1e1e1;

    img.pc {
        display: none;
    }

    img.sp {
        display: block;
    }

    ul.giftbtn {
        width: 100%;
        padding: 0;

        list-style-type: none;

        li {
            margin: 0 4px 4px;

            a {
                font-size: 14px;
                line-height: 2em;

                display: block;

                width: 100%;
                height: 2em;
                padding-left: 10px;

                text-decoration: none;

                color: #fff;
                background: #321;

                :hover {
                    background: #25160c;
                }
            }
        }
    }
}

/*商品ページ内のギフトサービスバナーここまで*/