/* IMPORT RESET */
@import"../styleguide/_scss/styleguide.scss";
@import"../frameworks/_scss/responsive.gs.24col.scss";
@import "sprite-leftnav.scss";
$line : 1px solid $sbc01;

@mixin main($url) {
    background: url($url);
    background-size:cover;
    background-position: 50% 50%;
    article{
        padding: 0;
    }   
}


body {
    font-family: sans-serif;
    background-color: $bc;
}

header {
}

article {
}

aside {
    border:1px solid #ddd;
}

footer {
}

.container{
    overflow: hidden;
}

span.title{
    height: 30px;
    display: block;
    overflow: hidden;
    margin: 0 0 10px;
    img{
        height: 25px;
    }
}




/* leftnav */
.leftnav{
    .menu{
        article > ul > li{
            margin: 0 0 30px;
        }
        a {
            text-decoration:none;
        }
        ul, ul.sub_menu{
            list-style:none;
            margin:0;
            padding:0;
        }
        .menu{
            width:148px;
            border-bottom:none;
            span{
                display: block;
                float: left;
                margin: 5px 4px 0 0;
                @include sprite($arrow);
            }
            li{
                padding: 0 0 0 10px;
                a{
                    color: $tc;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
        .main_menu{
            padding:13px 10px 0;
            cursor:pointer;
            height:70px;
            &.sub{
                padding:0;
                height:auto;
            }

            &.gift{
                @include sprite($lft_gift);
            }
            &.kitchen{
                @include sprite($lft_kitchen);
            }
            &.interior{
                @include sprite($lft_interior);
            }
            &.budget{
                @include sprite($lft_budget);
            }
        }
        .sub_menu li{
            position: relative;
            padding: 0 0 0 10px;
            &:last-child{
                margin: 0 0 15px;
            }
        }
        .sub_menu li a{
            color:$tc;
            display:block;
        }
    }
    /* menu-fin */
    .form{
        width: 148px;
        position: relative;
        .form{
            display: block;
            width: 124px;
            border-style: none;
            border: 1px solid $sbc01;
            height: 24px;
            padding: 0 0 0 8px;
            left: 0;
            @include fsize(10,2.5);
            @include rad(0,0,0,0);
        }
        .btn{
            border-style: none;
            position: absolute;
            top: 0;
            right: 0;
            width: 24px;
            height: 24px;
            @include rad(0,0,0,0);
            @include sprite($btn_search_normal);
            &:hover{
                @include sprite($btn_search_hover);
                cursor: pointer;
            }
        }
    }
    .calender{
        overflow: hidden;
        margin: 30px 0 0;
        font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
        p{
            @include fsize(10,1.5);
            width: 148px;
            .sat{
                color: $acc;
            }
            .sun{
                color: $acc;
            }
            &.caption{
                margin: 10px 0 0;
                font-weight: bold;
                @include fsize(13,1.5);
            }
        }
        .caltitle{
            height:70px;
            margin: 0 0 15px;
            @include sprite($lft_calender);
        }
        div.cal_wrapper {
            display: block;
            margin: 0;
            width: 148px;
            position: relative;
            table.cal{
                padding: 0;
                tr{
                    th{
                        p {
                            float: left;
                            padding: 5px 0 0;
                            margin: 0;
                            color: #666;
                            @include fsize(11,1.5);
                        }
                        div.cal_ui {
                            float: right;
                            @include fsize(10,0);
                            cursor: pointer;
                            input {
                                background-color: #efefef;
                                border: 1px solid $sbc01;
                                @include fsize(10,1);
                                margin: 0px 1px;
                                padding: 4px 5px;
                                color: $tc;
                                cursor: pointer;
                            }
                        }
                    }
                    td{
                        border: none;
                        font-size: 10px;
                        text-align: center;
                        padding: 2px 0;
                        div {
                            @include fsize(14,1.5);
                            text-align: center;
                            padding: 0 1px;
                            span {
                                display: none;
                                position: absolute;
                                top: 120px;
                                right: 10px;
                                width: 130px;
                                background-color: #FFF;
                                text-align: left;
                                padding: 5px;
                                z-index: 10;
                                color: #000;
                                font-weight: normal;
                                line-height: 1.5em;
                                box-shadow: 1px 1px 3px #666;
                            }
                            /* 以下曜日別指定 */
                            &.Sat {
                                color: $bc;
                                background-color: $acc;
                            }
                            &.Sun {
                                color: $bc;
                                background-color: $acc;
                            }
                            &.Today {
                                font-weight: bolder;
                            }
                            &.Deli {
                                background-color: #EFE;
                            }
                            &.Holyday {
                                color: $bc;
                                background-color: $acc;
                            }
                            &.Birthday {
                                font-weight: bolder;
                                color: #090;
                            }
                            &.backward {
                                color: $tc;
                                font-weight: normal;
                            }
                            &.pointer {
                                cursor: pointer;
                                &:hover {
                                    color: $bc;
                                    background-color: $acc;
                                }
                            }
                        }
                    }
                    &.headline{ 
                        margin: 14px 0;
                        overflow: hidden;
                        td {
                            padding: 4px 0;
                            color: #666;
                            @include fsize(14,1.5);
                            border-bottom: 1px dashed $tc;
                        }
                    }
                }
            }
        }
    }
    .banner{
        margin: 30px 0;
        .lft_bnr_delivery{
            display: block;
            @include sprite($lft_delivery);
        }
    }

    .info{
        .guide,.contact{
            display: block;
            width: 148px;
            height: 30px;
            margin: 20px 0;
            cursor: pointer;
        }
        .guide{
            @include sprite($btn_guide_normal);
            &:hover{
                @include sprite($btn_guide_hover);
            }
        }
        .contact{
            @include sprite($btn_contact_normal);
            &:hover{
                @include sprite($btn_contact_hover);
            }
        }
    }
}




