@import "style-header-new.scss";
@import "style-footer-new.scss";
body {
    .main {
        .mainWrap {
            .mainWrap_container {
                &.mainWrap_container-concept{
                    background: url('../img/intro.jpg') no-repeat;
                    width: 990px;
                    height: 1190px;
                    position: relative;
                    .containerConcept_menmber{
                        @include anm(0.2s);
                        display: block;
                        position: absolute;
                        bottom: 40px;
                        left: 255px;
                        background:transparent url('../img/c_member_regist.png') left top no-repeat;
                        width: 480px;
                        height: 71px;
                        &:hover{
                            background:transparent url('../img/c_member_regist_hv.png') left top no-repeat;
                        }
                    }
                }
                &.mainWrap_container-intro{
                    width: 988px;
                    border: 1px solid $mc;
                    padding: 0 0 40px;
                    margin: 40px 0 0;
                    .mainWrap_container-intro-section{
                        background-color: #fff;
                        height: 300px;
                        float: left;
                        &.left{
                            width: 58%;
                            padding: 4% 4% 8%;
                        }
                        &.right{
                            width: 34%;
                            padding: 4% 0 8%;
                            img{
                                display: block;
                                margin: 0 auto;
                            }
                        }
                        h3{
                            font-size: 26px;
                        }
                        p{
                            margin: 20px 0 0;
                        }
                        b{
                            position: relative;
                            padding: 0 20px;
                            font-size: 16px;
                            color: $mc;
                            &.price{
                                padding: 0;
                                &:before,&:after{
                                    display: none;
                                }
                            }
                        }
                        b:before,b:after{
                            content: '';
                            float: left;
                            position: absolute;
                            background: url('https://den-tou.com/img/menu_listicon.png') no-repeat;
                            display: block;
                            width: 10px;
                            height: 10px;
                        }
                        b:before{
                            left: 0;
                            top: 5px;
                        }
                        b:after{
                            right: 0;
                            top: 5px;
                        }
                    }
                    .containerConcept_menmber{
                        @include anm(0.2s);
                        display: block;
                        margin: 20px auto 0;
                        clear: both;
                        background:transparent url('../img/c_member_regist.png') left top no-repeat;
                        width: 480px;
                        height: 71px;
                        &:hover{
                            background:transparent url('../img/c_member_regist_hv.png') left top no-repeat;
                        }
                    }
                }
                &.mainWrap_container-giftService{
                    background: url('../img/c_giftservice.jpg') no-repeat;
                    width: 990px;
                    height: 449px;
                    margin: 50px 0;
                    ul{
                        width: 530px;
                        padding: 320px 0 0 60px;
                        li{
                            a{
                                float: left;
                                margin: 0 12px 12px 0;
                                @include anm(0.2s);
                                display: block;
                                width: 253px;
                                height: 38px;
                                &.containerGiftservice-giftWrap{
                                    background: url('../img/gift_wrapbtn.png') no-repeat;
                                    &:hover{
                                        background: url('../img/gift_wrapbtn_hv.png') no-repeat;
                                    }
                                }
                                &.containerGiftservice-paperBag{
                                    background: url('../img/gift_bagbtn.png') no-repeat;
                                    &:hover{
                                        background: url('../img/gift_bagbtn_hv.png') no-repeat;
                                    }
                                }
                                &.containerGiftservice-card{
                                    background: url('../img/gift_messagebtn.png') no-repeat;
                                    &:hover{
                                        background: url('../img/gift_messagebtn_hv.png') no-repeat;
                                    }
                                }
                                &.containerGiftservice-noshi{
                                    background: url('../img/gift_noshibtn.png') no-repeat;
                                    &:hover{
                                        background: url('../img/gift_noshibtn_hv.png') no-repeat;
                                    }
                                }
                            }
                        }
                    }
                }

                &.mainWrap_container-mainGift {
                    clear: both;
                    background: url('../img/popgifts_bg.jpg') no-repeat;
                    width: 969px;
                    height: 668px;
                    margin: 70px auto 0;
                    padding: 26px 0;
                    .mainWrap_container-mainGift_title {
                        display: block;
                        clear: both;
                        margin: 0 auto 40px;
                        width: 264px;
                        height: 33px;
                        overflow: hidden;
                    }
                    .mainGift-leftSide_title, .mainGift-rightSide_title {
                        text-align: center;
                        margin: 10px 0 20px;
                    }
                    .mainGift-leftSide {
                        border-right: 1px solid #dfdfdf;
                    }
                    .mainGift-leftSide, .mainGift-rightSide {
                        width: 46%;
                        padding: 0 2%;
                        margin: 0;
                        float: left;
                    }
                    .mainGift-leftSide {
                        width: 45.9%;
                        border-right: 1px solid #dfdfdf;
                    }
                    .mainGift-leftSide_lists, .mainGift-rightSide_lists {
                        li {
                            margin: 0 0 15px;
                            a {
                                display: block;
                                text-align: center;
                            }
                        }
                    }
                }
                /* end mainWrap_container-mainGift */
                
                &.mainWrap_container-news {
                    margin: 80px auto 0;
                    width: 90%;
                    .mainWrap_container-news_title {
                        width: 6%;
                        float: left;
                        text-align: center;
                    }
                    .mainWrap_container_contents {
                        width: 90%;
                        margin: 0 0 0 4%;
                        float: left;
                        .newsContents_lists {
                            width: 80%;
                            li {
                                a {
                                    background: url('../img/menu_listicon.png') 0 2px no-repeat;
                                    padding: 0 0 0 17px;
                                }
                            }
                        }
                        .mainWrap_container_moreLink {
                            float: right;
                        }
                        .newsContents_title-new, .newsContents_title-important {
                            padding: 0;
                            height: 13px;
                            margin: 0 0 10px;
                            line-height: 0;
                        }
                        hr {
                            clear: both;
                        }
                    }
                }
            }
            /* end mainWrap_container */
        }
        /* end mainWrap */
    }
    /* end main */
}
