@import "../styleguide/_scss/styleguide.scss";
@import "sprite.scss";

$line : 1px solid $sbc01;
$color01 : #eee6e1;


body{
    .mainIpcontents{
        &.gift{
            @include sizing(100%);
            padding: 2%;
            max-width: 990px;
            margin: 0 auto;
            .giftHeader{
                h2{
                    text-align: center;
                    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                    img{
                        width: 100%;
                    }
                }
                span{
                    @include fsize(16,1.5);
                    font-weight: bold;
                    text-align: center;
                    display: block;
                    margin: 10px 0;
                }
                ul{
                    overflow: hidden;
                    li{
                        float: left;
                        width: 50%;
                        padding: 1% 2%;
                        position: relative;
                        border: 1px solid $color01;
                        &:after{
                            content: ">";
                            position: absolute;
                            top: 4px;
                            right: 10px;
                        }
                        a{
                            width: 100%;
                            height: 100%;
                            display: block;
                            text-decoration: none;
                        }
                    }
                }
            }
            .giftContents{
                margin: 30px 0 0;
                padding: 0 0 40px;
                overflow: hidden;
                border-bottom: 1px dotted $mc;
                h3,p span{
                    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                    @include fsize(16,1.5);
                    font-weight: bold;
                    display: block;
                    margin: 10px 0;
                }
                h3{
                    img{
                        width: 100%;
                        border: 1px solid $color01;
                    }
                }
                .moreContents{
                    display: block;
                    margin: 0 auto 15px;
                    border: 1px solid $mc;
                    padding: 2% 2%;
                    width: 160px;
                    @include fsize(13,1.5);
                    display: block;
                    width: 160px;
                    text-align: center;
                    text-decoration: none;
                    &.multi{
                        width: 48%;
                        float: left;
                        margin: 0 1% 15px;
                        display: block;
                    }
                    &.back{
                        background-color: $mc;
                        color: #fff;
                    }
                }

                .giftHowto{
                    clear: both;
                    margin: 0;
                    display: none;
                    background-color: #efefef;
                    padding: 2%;
                    ol{
                        clear: both;
                        list-style-position: inside;
                        padding: 0;
                        margin: 0 16px;
                        li{
                            list-style: decimal;
                            margin: 0 0 30px;
                            img{
                                width: 100%;
                            }
                        }
                    }
                }
                &.careful,&.option{
                    ol{
                        clear: both;
                        list-style-position: inside;
                        padding: 0;
                        margin: 0 0 0 16px;
                        li{
                            list-style: decimal;
                            margin: 0 0 10px;
                            img{
                                width: 100%;
                            }
                            a{
                                display: block;
                                text-align: right;
                            }
                        }
                    }
                }
                &.wrap{
                    ul{
                        margin: 0 0 15px;
                        overflow: hidden;
                        li{
                            width: 50%;
                            float: left;
                            padding: 2%;
                            border: 1px solid $color01;
                            img{
                                width: 100%;
                            }
                        }
                    }
                }
                &.backLinks{
                    background-color: $bc;
                    bottom: 0;
                    right: 0;
                    padding: 5px 0 0;
                    position: fixed;
                    width: 100%;
                    .moreContents.multi{
                        margin: 0 1% 5px;
                    }
                }
            }
        }
    }
}





















