/* スタイルガイド読み込み */

@import "../frameworks/_scss/guide.scss";
@import "mmenu.scss";

body {
    img {
        display: block;
    }

/*強み*/
.sp_strong {
    width: 100%;
    background: #f66241;
    color: #fff;
    text-align: center;
    p{
        font-size: 11px;
    }
}
    /* Bnr----スクロールで表示、×で非表示にする-----*/
    .Bnr {
        position: relative;
        margin: 0 auto;
        width: 1200px;
        display: none;
        font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", Osaka, sans-serif !important;
    }

    .Bnr p.close {
        position: absolute;
        right: 0px;
        top: 10px;
    }

    .Bnr p.close a {
        display: block;
        width: 20px;
        height: 25px;
        text-align: center;
    }

    .Bnr p.close a span {
        display: block;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }

    .Bnr p.close i {
        font-size: 10px;
        z-index: 888;
        color: #fff;
    }

    /* Bnr-----------------------------------------*/

    #fixed_bottom_banner {
        display: block;
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 10000;
        width: 100%;
        height: 80px;
        background-color: rgba(153, 0, 0, 0.7);
        margin: 0;
        padding: 0;
        color: #ffffff !important;
        text-align: center;
    }
    #fixed_bottom_banner2 {
        display: block;
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 10000;
        width: 100%;
        height: 80px;
        background-color: rgba(153, 0, 0, 0.7);
        margin: 0;
        padding: 0;
        color: #ffffff !important;
        text-align: center;
    }

    .box30 {
        position: absolute;
        background: #fff0cd;
        box-shadow: 0px 0px 0px 5px #900;
        padding: 0.2em 0.5em;

        // margin: 2em 0;
        // background: #b51616;
        // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
        // font-weight: bold;
        &:after {
            position: absolute;
            content: '';
            right: 0px;
            top: -6px;
            border-width: 0 15px 15px 0;
            border-style: solid;
            border-color: #900 #fff #900;
            box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
        }

        .box-title {
            font-size: 1.1em;
            background: #900;
            padding: 4px;
            text-align: center;
            color: #FFF;
            font-weight: bold;
            letter-spacing: 0.05em;
        }

        p {
            padding: 2;
            margin: 0;
            font-weight: bold;
        }
        input{
            color:#000;
            background-color:#fff;
            width:10em;
            height:1.2em;
        }

        button {
            background: #900;
            font-size: 0.8em;
            margin: 0 0 0px 6px;
            border: solid #fff 1px;
        }
    }



    #information_sp {
        a {
            display: block;

            img {
                width: 100%;
            }
        }
    }

    .wrap {
        @include sizing(100%);
        padding: 4%;
        overflow: hidden;

        .title {
            img {
                display: block;
                width: 100%;
                margin: 0 0 20px;
            }
        }

        &.new,
        &.info,
        &.original,
        &.season {
            padding: 6% 4%;
        }
    }

    #main_sp {

        .scene,
        .more {
            .menu {
                width: 100%;

                li {
                    @include sizing(100%);
                    width: 50%;
                    padding: 0 1% 1% 0;
                    float: left;

                    &:nth-child(even) {
                        padding: 0 0 1% 0;
                    }

                    a {
                        display: block;

                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }

        .new {
            .items {
                width: 100%;

                li {
                    @include sizing(100%);
                    width: 33.333%;
                    float: left;
                    padding: 0 0 3%;

                    &:nth-child(2),
                    &:nth-child(5) {
                        padding: 0 1% 3%;
                    }

                    &:nth-child(4) {
                        clear: both;
                        float: left;
                    }

                    &:nth-child(1),
                    &:nth-child(4) {
                        padding: 0 2% 3% 0;
                    }

                    &:nth-child(3),
                    &:nth-child(6) {
                        padding: 0 0 3% 2%;
                    }

                    a {
                        display: block;
                        color: #000;
                        text-decoration: none;
                        position: relative;

                        img {
                            width: 100%;
                        }

                        span {
                            display: block;
                            position: absolute;
                            left: -4px;
                            top: -4px;
                            padding: 4px 6px 4px 4px;
                            color: #fff;
                            text-align: center;
                            font-size: 10px;
                            font-style: italic;

                            &.delifree {
                                display: list-item;
                                font-size: .75em;
                                position: static;
                                color: #fff;
                                background-color: #900;
                                margin: 0 4px;
                                padding: 0 2px;
                            }

                            &.new {
                                background-color: #c3081c;
                            }

                            &.renewal {
                                background-color: #a79b2e;
                            }
                        }

                        p {
                            font-size: 10px;

                            &.price {
                                color: #c3081c;
                                text-align: right;
                                font-weight: bold;

                                small {
                                    font-weight: normal;
                                    font-size: 9px;
                                    color: #000;
                                }
                            }
                        }
                    }
                }
            }
        }

        .info {
            background-color: #f1f1f1;

            .news {
                overflow: hidden;

                li {
                    width: 100%;
                    background-color: #fff;
                    padding: 0;
                    margin: 0 0 20px;
                    overflow: hidden;

                    &:last-child {
                        margin: 0;
                    }

                    a {
                        display: block;
                        color: #000;

                        img {
                            width: 50%;
                            display: block;
                            float: left;
                        }

                        p {
                            display: block;
                            @include sizing(100%);
                            width: 50%;
                            font-size: 11px;
                            float: left;
                            padding: 3% 3% 0;
                            margin: 0;

                            span {
                                color: #a79b2e;
                                display: block;
                                font-weight: bold;
                                margin: 0 0 6px;
                            }
                        }
                    }
                }
            }
        }

        .original {
            background-color: #fdf6ee;

            .items {
                width: 100%;

                li {
                    @include sizing(100%);
                    width: 33.333%;
                    float: left;
                    padding: 0 0 3%;

                    &:nth-child(2),
                    &:nth-child(5) {
                        padding: 0 1% 3%;
                    }

                    &:nth-child(4) {
                        clear: both;
                        float: left;
                    }

                    &:nth-child(1),
                    &:nth-child(4) {
                        padding: 0 2% 3% 0;
                    }

                    &:nth-child(3),
                    &:nth-child(6) {
                        padding: 0 0 3% 2%;
                    }

                    a {
                        display: block;
                        color: #000;
                        text-decoration: none;
                        position: relative;

                        img {
                            width: 100%;
                        }

                        span {
                            display: block;
                            position: absolute;
                            left: -4px;
                            top: -4px;
                            padding: 4px 6px 4px 4px;
                            color: #fff;
                            text-align: center;
                            font-size: 10px;
                            font-style: italic;

                            &.delifree {
                                display: list-item;
                                font-size: .75em;
                                position: static;
                                color: #fff;
                                background-color: #900;
                                margin: 0 4px;
                                padding: 0 2px;
                            }

                            &.new {
                                background-color: #c3081c;
                            }

                            &.renewal {
                                background-color: #a79b2e;
                            }
                        }

                        p {
                            font-size: 10px;

                            &.price {
                                color: #c3081c;
                                text-align: right;
                                font-weight: bold;

                                small {
                                    font-weight: normal;
                                    font-size: 9px;
                                    color: #000;
                                }
                            }
                        }
                    }
                }
            }
        }

        .season {
            .items {
                li {
                    margin: 0 0 20px;
                    overflow: hidden;

                    a {
                        text-decoration: none;
                        display: block;

                        img {
                            width: 100%;
                        }
                    }

                    &:last-child {
                        margin: 0;
                    }
                }
            }
        }

        .giftscene {
            .subtitle {
                display: block;

                img {
                    width: 100%;
                    margin: 0 0 15px;
                }
            }

            .category {
                clear: both;
                float: left;
                margin: 0 0 40px;

                li {
                    width: 100%;
                    padding: 0;
                    margin: 0 0 20px;
                    clear: both;
                    float: left;
                    position: relative;

                    &:last-child {
                        margin: 0;
                    }

                    a {
                        display: block;
                        color: #000;

                        img {
                            width: 50%;
                            display: block;
                            float: left;
                        }

                        div {
                            @include sizing(100%);
                            width: 50%;
                            float: left;
                            padding: 4% 0 4% 4%;

                            span {
                                display: block;
                                position: absolute;
                                left: -10px;
                                top: -10px;
                                width: 35px;

                                &.delifree {
                                    display: inline;
                                    font-size: .75em;
                                    position: static;
                                    color: #fff;
                                    background-color: #900;
                                    margin: 0 4px;
                                    padding: 0 2px;
                                }

                                img {
                                    width: 100%;
                                }
                            }

                            p {
                                display: block;
                                font-size: 11px;
                                line-height: 1.25;

                                &.catch {
                                    font-size: 13px;
                                    font-weight: bold;
                                    margin: 0 0 10px;
                                }

                                &.price {
                                    text-align: right;
                                    color: #c3081c;
                                    font-weight: bold;

                                    small {
                                        font-weight: normal;
                                        color: #000;
                                    }
                                }
                            }

                            em {
                                position: absolute;
                                bottom: 0;
                                right: 0;
                                text-decoration: underline;
                                font-weight: normal;
                                color: #000;
                            }
                        }
                    }
                }
            }
        }

        .gift {
            .contents {
                li {
                    margin: 0 0 20px;
                    overflow: hidden;

                    a {
                        display: block;

                        img {
                            width: 100%;
                        }
                    }

                    &:last-child {
                        margin: 0;
                    }
                }
            }
        }

        .insta {
            .images {
                width: 100%;

                li {
                    @include sizing(100%);
                    width: 33.333%;
                    float: left;
                    padding: 0 0 3%;

                    &:nth-child(2),
                    &:nth-child(5) {
                        padding: 0 1% 3%;
                    }

                    &:nth-child(4) {
                        clear: both;
                        float: left;
                    }

                    &:nth-child(1),
                    &:nth-child(4) {
                        padding: 0 2% 3% 0;
                    }

                    &:nth-child(3),
                    &:nth-child(6) {
                        padding: 0 0 3% 2%;
                    }

                    a {
                        display: block;
                        color: #000;
                        position: relative;

                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }

        .award {
            .images {
                img {
                    display: block;
                    width: 100%;
                }
            }
        }
    }

    #header_sp {
        .onepoint {
            background-color: #fdf1e2;
            @include sizing(100%);
            padding: 2%;

            img {
                width: 100%;
            }
        }

        .logo {
            width: 79%;
            float: left;

            a {
                display: block;

                img {
                    width: 100%;
                }
            }
        }

        .menu {
            width: 12%;
            padding: 2% 0% 2% 9%;
            float: left;

            img {
                display: block;
                width: 100%;
            }

            .cart {
                width: 100%;
                float: left;
                height: 40px;
                margin: 25% 0 0 0%;
                background-color: #c3081c;
                @include rad(2, 2, 2, 2);

                a {
                    @include sizing(100%);
                    padding: 3%;
                    display: block;

                    img {
                        display: block;
                        margin: 0 auto;
                        width: 100%;
                    }
                }
            }
        }

        .search {
            width: 100%;
            float: left;
            padding: 3% 0;

            form {
                width: 100%;
                position: relative;

                .form {
                    border: 1px solid #a3a3a3;
                    @include rad(2, 2, 2, 2);
                    width: 100%;
                    height: 40px;
                    padding: 7px 10px;
                }

                .btn {
                    border: 1px solid #a3a3a3;
                    position: absolute;
                    height: 40px;
                    width: 40px;
                    top: 0;
                    right: 0;
                    @include rad(2, 2, 2, 2);
                    background: url('../img/sp_h_searchbtn.png') 7px 7px no-repeat;
                    display: inline-block;
                    background-size: 65%;
                }
            }
        }
    }

    #footer_sp {
        background-color: #5e3f17;

        .guide {
            padding: 1% 4% 3%;

            .submenu {
                li {
                    padding: 3% 0;
                    border-bottom: 1px solid #fdf6ee;

                    a {
                        img {
                            display: block;
                            width: 100%;
                        }
                    }
                }
            }

            .logo {
                display: block;
                margin: 30px auto;
                width: 70%;

                img {
                    width: 100%;
                }
            }

            .sns {
                display: flex;
                width: 50%;
                overflow: hidden;
                margin: 0 auto 30px;

                li {
                    margin: 0 5%;

                    a {
                        display: block;

                        img {
                            width: 100%;
                        }
                    }
                }
            }

            .menu {
                overflow: hidden;

                li {
                    @include sizing(100%);
                    width: 33.333%;
                    float: left;
                    padding: 0 0 3%;

                    &:nth-child(2) {
                        padding: 0 1% 3%;
                    }

                    &:nth-child(1) {
                        padding: 0 2% 3% 0;
                    }

                    &:nth-child(3) {
                        padding: 0 0 3% 2%;
                    }

                    a {
                        display: block;

                        img {
                            width: 100%;
                        }
                    }
                }
            }

            p {
                color: #fff;
                font-size: 10px;

                &.copyright {
                    margin: 10px 0 0;
                    text-align: center;
                }
            }
        }
    }

    .slider {
        clear: both;
        height: 40vw;

        .gallery {
            &:hover {

                .slick-prev,
                .slick-next {
                    opacity: 1;
                    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
                }
            }
        }

        .header_slider {
            width: 1280px;
            margin: 0 auto 30px;
            height: 145px;
            display: block;
        }

        /* Slider */
        .slick-slider {
            position: relative;

            display: block;
            box-sizing: border-box;

            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            -webkit-touch-callout: none;
            -khtml-user-select: none;
            -ms-touch-action: pan-y;
            touch-action: pan-y;
            -webkit-tap-highlight-color: transparent;
        }

        .slick-list {
            position: relative;

            display: block;
            overflow: hidden;

            margin: 0;
            padding: 0;
        }

        .slick-list:focus {
            outline: none;
        }

        .slick-list.dragging {
            cursor: pointer;
            cursor: hand;
        }

        .slick-slider .slick-track,
        .slick-slider .slick-list {
            -webkit-transform: translate3d(0, 0, 0);
            -moz-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }

        .slick-track {
            position: relative;
            top: 0;
            left: 0;

            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .slick-track:before,
        .slick-track:after {
            display: table;

            content: '';
        }

        .slick-track:after {
            clear: both;
        }

        .slick-loading .slick-track {
            visibility: hidden;
        }

        .slick-slide {
            display: none;
            float: left;

            height: 100%;
            min-height: 1px;

            a {
                img {
                    width: 100%;
                }
            }
        }

        [dir='rtl'] .slick-slide {
            float: right;
        }

        .slick-slide img {
            display: block;
        }

        .slick-slide.slick-loading img {
            display: none;
        }

        .slick-slide.dragging img {
            pointer-events: none;
        }

        .slick-initialized .slick-slide {
            display: block;
        }

        .slick-loading .slick-slide {
            visibility: hidden;
        }

        .slick-vertical .slick-slide {
            display: block;

            height: auto;

            border: 1px solid transparent;
        }

        .slick-arrow.slick-hidden {
            display: none;
        }

        /* Slider */
        .slick-loading .slick-list {
            background: #fff url('./ajax-loader.gif') center center no-repeat;
        }

        /* Icons */
        @font-face {
            font-family: 'slick';
            font-weight: normal;
            font-style: normal;

            src: url('./fonts/slick.eot');
            src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
        }

        /* Arrows */
        .slick-prev,
        .slick-next {
            @include anm(0.2s);
            opacity: 0;
            filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
            font-size: 0;
            line-height: 0;

            position: absolute;
            top: 45%;

            display: block;

            width: 20px;
            height: 20px;
            padding: 0;
            -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);

            cursor: pointer;

            color: transparent;
            border: none;
            outline: none;
            background: transparent;
        }

        .slick-prev:hover,
        .slick-prev:focus,
        .slick-next:hover,
        .slick-next:focus {
            /* color: transparent;
                    outline: none;
                    background: transparent; */
        }

        .slick-prev:hover:before,
        .slick-prev:focus:before,
        .slick-next:hover:before,
        .slick-next:focus:before {
            opacity: 1;
        }

        .slick-prev.slick-disabled:before,
        .slick-next.slick-disabled:before {
            opacity: .25;
        }

        .slick-prev:before,
        .slick-next:before {
            font-family: 'slick';
            font-size: 20px;
            line-height: 1;

            opacity: .75;
            color: white;

            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .slick-prev {
            left: 10px;
            z-index: 10;
            background: transparent url('https://den-tou.com/img/h_btn_prev.png') left top no-repeat;
            width: 22px;
            height: 22px;
        }

        [dir='rtl'] .slick-prev {
            right: 20px;
            left: auto;
        }

        .slick-prev:before {
            content: ' ';
        }

        [dir='rtl'] .slick-prev:before {
            content: ' ';
        }

        .slick-next {
            right: 10px;
            z-index: 10;
            background: transparent url('https://den-tou.com/img/h_btn_next.png') left top no-repeat;
            width: 22px;
            height: 22px;
        }

        [dir='rtl'] .slick-next {
            right: auto;
            left: 20px;
        }

        .slick-next:before {
            content: ' ';
        }

        [dir='rtl'] .slick-next:before {
            content: ' ';
        }

        /* Dots */
        .slick-dotted.slick-slider {
            margin-bottom: 30px;
        }

        .slick-dots {
            position: absolute;
            bottom: 25px;

            display: block;

            width: 100%;
            padding: 0;
            margin: 0;

            list-style: none;

            text-align: center;
        }

        .slick-dots li {
            position: relative;

            display: inline-block;

            width: 20px;
            height: 20px;
            margin: 0 5px;
            padding: 0;

            cursor: pointer;
        }

        .slick-dots li button {
            font-size: 0;
            line-height: 0;

            display: block;

            width: 20px;
            height: 20px;
            padding: 5px;

            cursor: pointer;

            color: transparent;
            border: 0;
            outline: none;
            background: transparent;
        }

        .slick-dots li button:hover,
        .slick-dots li button:focus {
            outline: none;
        }

        .slick-dots li button:hover:before,
        .slick-dots li button:focus:before {
            opacity: 1;
        }

        .slick-dots li button:before {
            font-family: 'slick';
            font-size: 6px;
            line-height: 20px;

            position: absolute;
            top: 0;
            left: 0;

            width: 20px;
            height: 20px;

            content: ' ';
            text-align: center;

            opacity: .25;
            color: black;

            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .slick-dots li.slick-active button:before {
            opacity: .75;
            color: black;
        }
    }

    .spbnr {
        clear: both;
        height: 40vw;
    }

    #menu {

        /* -webkit-box-shadow: 2px 0 3px 0 rgba(0,0,0,0.5);
        box-shadow: 2px 0 3px 0 rgba(0,0,0,0.5); */
        //outline: 1px solid #000;
        a {
            &.close {
                position: absolute;
                display: block;
                right: 10px;
                z-index: 10;
                top: 10px;
                width: 40px;

                img {
                    width: 100%;
                }
            }
        }

        ul {
            @include sizing(100%);
            padding: 6%;
            overflow: hidden;

            li {
                @include sizing(100%);
                width: 50%;
                float: left;

                a {
                    @include sizing(100%);
                    padding: 0 2% 4%;
                    font-size: 15px;
                    line-height: 2.5;
                }

                /* &:nth-child(odd){
                    a{
                        padding: 0 0 2% 0;
                    }
                }
                &:nth-child(even){
                    a{
                        padding: 0 2% 2% 0;
                    }
                } */
                &.wide {
                    width: 100%;

                    a {
                        padding: 0 0 2%;
                    }
                }

                &.text {
                    border-bottom: 1px dashed #bbb;

                    a {
                        padding: 0;
                        font-size: 16px;
                    }
                }

                &.title {
                    @include sizing(100%);
                    background-color: $color02;
                    border: 1px solid $color03;
                    margin: 0 0 10px;
                    padding: 4%;
                    font-size: 18px;
                }

                &.last {
                    margin: 0 0 8%;
                }

                &.member {
                    a {
                        width: 33.333%;
                        border-left: 0.5px solid #bfbfbf;
                        float: left;
                        text-align: center;
                        background-color: $mc;
                        margin: 10px 0 0;
                        padding: 4px 0;
                        color: #fff;

                        &:first-child {
                            border: none;
                        }
                    }
                }

                form {
                    @include sizing(100%);
                    margin: 5% 8% 0;
                }

                .search_form {
                    border-style: none;
                    border: none;
                    height: 37px;
                    border: 0.5px solid $mc;
                    float: left;
                    margin: 0;
                    padding: 0 4px;
                    @include fsize(14,
                    1.5);
                    width: 70%;
                    @include rad(0,
                    0,
                    0,
                    0);
                }

                .sp_hdr_icon_search {
                    border-style: none;
                    border: none;
                    @include rad(0,
                    0,
                    0,
                    0);
                    float: left;
                    background-color: $mc;
                }

                a {
                    img {
                        width: 100%;
                    }
                }
            }

            &.min {
                li {
                    border-bottom: 1px dashed #dfdfdf;

                    a {
                        padding: 0 2% 0;
                    }

                    &.last {
                        width: 100%;
                    }
                }
            }
        }
    }

    /* drawermenyu */
}