@import "../styleguide/_scss/styleguide.scss";
body {
    .wrapcontents_cat {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        &.hina {
            .cat_header {
                overflow: hidden;
                position: relative;
                img {
                    width: 100%;
                    position: relative;
                }
                .cat_title {
                    position: absolute;
                    left: 3%;
                    top: 20px;
                    width: 88%;
                    background-color: #fff;
                    color: $tc;
                    padding: 3%;
                    h1 {
                        font-size: 24px !important;
                    }
                }
            }
            .cat_contents {
                h2 {
                    font-size: 20px;
                    margin: 60px 0 30px;
                    padding: 0 0 0 8px;
                    border-left: 3px solid $tc;
                }
                .cat_wrap {
                    & > div {
                        overflow: hidden;
                        position: relative;
                    }
                    margin: 0 0 60px;
                    overflow: hidden;
                    width: 100%;
                    .cat_scene {
                        width: 60%;
                        float: left;
                        img {
                            width: 100%;
                        }
                        ul {
                            clear: both;
                            display: table;
                            li {
                                margin: 2%;
                                display: table-cell;
                                img {
                                    display: block;
                                    width: 100%;
                                }
                            }
                        }
                    }
                    .cat_text {
                        width: 35%;
                        padding: 0 0 2% 2%;
                        margin: 0 0 0 3%;
                        float: left;
                        h3 {
                            border: none;
                            /* border-top: 1px solid $tc;
                        border-bottom: 1px solid $tc; */
                        padding: 0;
                        margin: 0 0 10px;
                    }
                    .cat_item {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        img {
                            width: 100px;
                            display: block;
                            float: left;
                        }
                        a {
                            span {
                                margin: 0 0 0 5px;
                                float: left;
                                color: $tc;
                                font-size: 11px;
                                display: block;
                            }
                            text-decoration: none;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
                .cat_howto {
                    padding: 4%;
                    overflow: hidden;
                    border: 1px solid #999;
                    margin: 20px 0 0;
                    font-size: 13px;
                    li {
                        margin: 0 0 10px;
                        text-indent: -1em;
                        padding-left: 1em;
                        &:last-child {
                            margin: 0;
                        }
                        &:first-child {
                            font-size: 13px;
                            font-weight: bold;
                            font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                        }
                    }
                }
            }
            hr {
                clear: both;
                content: "";
                display: block;
                margin: 40px 0;
                border: none;
                border-bottom: 1px solid #999;
            }
            @media only screen and (max-width: 768px) {
                .cat_header {
                    .cat_title {
                        position: relative;
                        display: block;
                        margin: 0 0 20px;
                        width: 100%;
                        left: 0;
                    }
                }
                .cat_contents {
                    i {
                        display: block;
                        clear: both;
                    }
                    h2 {
                        margin: 40px auto;
                        width: 100%;
                    }
                    .cat_wrap {
                        & > div {
                            overflow: hidden;
                            position: relative;
                        }
                        .cat_scene {
                            width: 100%;
                            ul {
                                padding: 0;
                            }
                        }
                        .cat_text {
                            padding: 0 0% 2%;
                            margin: 10px 0 0;
                            width: 100%;
                            .cat_item {
                                position: relative;
                                float: right;
                                margin: 20px 0 0;
                            }
                        }
                        .cat_howto {
                            list-style-type: none;
                        }
                    }
                }
            }
        }
    }
    &.about {
        overflow: hidden;
        .cat_header {
            overflow: hidden;
            background: url('https://den-tou.com/img/contents/about_header.jpg') 50% 50% no-repeat;
            width: 820px;
            height: 399px;
            margin: 60px 0 0;
            position: relative;
            img {
                position: absolute;
                top: 30px;
                left: 30px;
            }
        }
        @media only screen and (max-width: 768px) {
            .cat_header{
                width: 100%;
                height: 399px;
                img{
                    position: relative;
                    top: auto;
                    display: block;
                    left: auto;
                    margin: 60px auto 0;
                }
            }
        }
        .cat_intro {
            width: 90%;
            padding: 10% 5%;
            line-height: 1.75;
            font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
            p{
                font-size: 13px;   
            }
        }
        @media only screen and (max-width: 768px) {
            .cat_intro {
                width: 100%;
                padding: 10% 0;
                p{
                    line-height: 1.75;
                    font-size: 15px;
                }
            }
        }
        .cat_points{
            overflow: hidden;
            .header{
                background: url('https://den-tou.com/img/contents/about_catch.jpg') 50% 50% no-repeat;
                width: 800px;
                height: 206px;
                padding: 10px 0;
                .catch{
                    display: block;
                    margin: 38px auto 0;
                    background: url('https://den-tou.com/img/contents/about_catch_text.png') top left no-repeat;           
                    width: 707px;
                    height: 134px;
                }
                img{
                    display: block;
                    width: 100%;
                    max-width: 707px;
                    margin: 38px auto 0;
                }
            }
            @media only screen and (max-width: 768px) {
                .header{
                    width: 100%;
                    padding: 1%;
                    height: 220px;
                    .catch{
                        display: block;
                        margin: 25px auto 0;
                        background: url('https://den-tou.com/img/contents/about_catch_text_sp.png') top left no-repeat;           
                        width: 90%;
                        background-size: cover;
                        height: 168px;
                    }
                }
            }
            .contents{
                & > div{
                    width: 100%;
                    @include sizing(100%);
                    overflow: hidden;
                    margin: 30px 0;
                    em{
                        display: block;
                        padding: 0 2%;
                        width: 96%;
                        font-size: 34px;
                        font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                        font-weight: normal;
                        small{
                            margin: 0 0 0 20px;
                            font-size: 18px;
                        }
                    }
                    div{
                        width: 46%;
                        padding: 2%;
                        float: left;
                        img{
                            display: block;
                            width: 100%;
                        }
                        p{
                            font-size: 13px;
                            font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                            line-height: 2.25;
                        }
                    }
                    @media only screen and (max-width: 768px) {
                        div{
                            width: 100%;
                            float: left;
                            p{
                                font-size: 15px;
                            }
                        }
                        em{
                            padding: 5% 0;
                            font-size: 27px;
                            small{
                                margin: 0 0 0 33px;
                                font-size: 13px;
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}
}
