@charset "UTF-8";
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    font: 12px/100% 'Acme', sans-serif;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h2 {
    margin: 0 0 30px;
    font-size: 48px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -2px;
}

a,
a:visited {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


#menu-wrap {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, .75);
    font-family: 'Open Sans', sans-serif;
    transition: .3s
}

#menu {
    list-style-type: none;
    width: 100%;
    margin: 0px auto 0px;
    padding: 0;
    li{
        width: 25%;
        float: left;
        margin: 0;
        padding: 0;
        text-align: center;
        border-right: 1px solid #fff;
        a{
            display: block;
            width: 100%;
            padding: 8px 0;
            color: #fff;
            font-size: 100%;
            line-height: 1;
            text-decoration: none;
            transition: .3s;
            &:hover{
                background: rgba(0, 0, 0, .3);
            }
        }
        &:nth-child(4){
            border-right: none;
        }
        &:nth-child(5){
            width: 100%;
            border-right: none;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;
            a{
                padding: 8px 0 8px;
            }
            margin: 0 0 8px;
        }
        &:last-child{
            width: 100%;
            border-right: none;
        }    
    }
}


.submenu__search {
    width: 96%;
    margin: 0 auto 6px;
}

form {
    display: flex;
    width: 100%;
}

.submenu__search__input {
    font-size: 10px;
    float: left;
    width: 100%;
    height: 32px;
    border: none;
    padding: 0 0 0 6px;
    display: block;
    flex-basis: auto;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
}

.submenu__search__btn {
    height: 36px;
    width: 36px;
    margin: -2px 2px 0 4px;
    display: block;
    background: url(https://www.rakuten.ne.jp/gold/dentouhonpo/frameworks/img/search_w.png) 50% 50% no-repeat;
    background-size: 76%;
    border: none;
    float: left;
    flex-basis: 36px;
}