@import "../styleguide/_scss/default.scss";

body{

    #wrapper{
        background-color: #ddd;
        #contents{
            width: 1080px;
            margin: 0 auto;
            padding: 30px 10px;
            article{
                #main-column{
                    width: 96%;
                    padding: 2%;
                    background-color: #fff;
                    section{
                        .header_area{
                            width: 100%;
                        }
                    }
                }
            }
            #sub-column{
                display: none;
            }
        }
    }

}