@charset "UTF-8";
/* CSS Document */

body{
    padding:0;
    margin:0;
}
img {border:0;}
#slideshow {
    padding:0;
    margin:0;
    width: 600px;
}
#slideshow.width {
    width: 800px;
}
#slideshow.wide {
    width: 820px;
    .itemInfo{
        position: absolute;
        bottom: 40px;
        right: 40px;
        text-align: right;
        max-width: 910px;
        &.white{
            color: #fff;
        }
        b{
            display: block;
            font-size: 19px;
            margin: 0 0 10px;
            padding: 0 0 10px;
            border-bottom: 1px solid #000;
            font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
            &.white{
                border-bottom: 1px solid #fff;
            }
        }
    }
}
#slideshow div {
    width: 630px;
    overflow: hidden;
    position: relative;
}
#slideshow span {
    position: absolute;
    font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
    right: 15px;
    bottom: 15px;
    font-weight: bold;
    font-size: 20px;
}
#slideshow.width div {
    width: 800px;
}
#slideshow.wide div {
    width: 820px;
}

#slideshow.small div {
    height: 600px;
}
#slideshow.cate div {
    height: 355px;
}
#slideshow.large div {
    height: 800px;
}
#slideshow.width div {
    height: 600px;
}
#slideshow.wide div {
    height: 580px;
}
#slideshow.min div {
    height: 450px;
}

#slideshow div div {
    top: 0;
    left: 0;
    position: absolute;
}

#slideshow ul {
    width: 600px;
    padding:0;
    margin:5px 0 0;
}

#slideshow ul.cateLi {
    width: 630px;
    padding:0;
    margin:5px 0 0;
}
#slideshow.width ul {
    width: 800px;
}
#slideshow.wide ul {
    width: 820px;
}

#slideshow ul li {
    width: 50px;
    padding:0 0 5px 5px;
    float: right;
    display:block;
}
#slideshow ul.cateLi li {
    width: 73px;
    padding: 0;
    margin:0 0 0 6px;
    float: left;
    display:block;
    background-color: #000;
}

#slideshow ul.cateLi li:first-child {
    margin: 0 0 0 0;
    padding: 0;
}

#slideshow .active {
    filter:alpha(opacity=100)!important;
    -moz-opacity: 1!important;
    opacity: 1!important;
}


/* =======================================
    ClearFixElements
======================================= */
#slideshow ul:after {
    content: ".";
    height: 0;
    clear: both;
    display: block;
    visibility: hidden;
}

#slideshow ul {
    display: inline-block;
    overflow: hidden;
}
