@charset "UTF-8";
/* CSS Document */

body{
    padding:0;
    margin:0;
}
img {border:0;}
#slideshow {
    padding:0;
    margin:0;
    width: 600px;
}
#slideshow.width {
    width: 800px;
}
#slideshow div {
    width: 630px;
    overflow: hidden;
    position: relative;
}
#slideshow span {
    position: absolute;
    font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
    right: 15px;
    bottom: 15px;
    font-weight: bold;
    font-size: 20px;
}
#slideshow.width div {
    width: 800px;
}

#slideshow.small div {
    height: 600px;
}
#slideshow.cate div {
    height: 355px;
}
#slideshow.large div {
    height: 800px;
}
#slideshow.width div {
    height: 600px;
}
#slideshow.min div {
    height: 450px;
}

#slideshow div div {
    top: 0;
    left: 0;
    position: absolute;
}

#slideshow ul {
    width: 600px;
    padding:0;
    margin:5px 0 0;
}

#slideshow ul.cateLi {
    width: 630px;
    padding:0;
    margin:5px 0 0;
}
#slideshow.width ul {
    width: 800px;
}

#slideshow ul li {
    width: 50px;
    padding:0 0 5px 5px;
    float: right;
    display:block;
}
#slideshow ul.cateLi li {
    width: 73px;
    padding: 0;
    margin:0 0 0 6px;
    float: left;
    display:block;
    background-color: #000;
}

#slideshow ul.cateLi li:first-child {
    margin: 0 0 0 0;
    padding: 0;
}

#slideshow .active {
    filter:alpha(opacity=100)!important;
    -moz-opacity: 1!important;
    opacity: 1!important;
}


/* =======================================
    ClearFixElements
======================================= */
#slideshow ul:after {
    content: ".";
    height: 0;
    clear: both;
    display: block;
    visibility: hidden;
}

#slideshow ul {
    display: inline-block;
    overflow: hidden;
}
