@import "../../styleguide/_scss/styleguide.scss";

	


/* 読みものページトップページ用スタイルシート */

			.yomimono_wrap{
				width: 800px;
				margin: 0 auto;
				.yomimono_header{
					position: relative;
					padding: 0;
					/*b{
						display: block;　
						text-align:center;
						font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
						font-weight: normal;
						font-size: 36px;
						padding: 7% 0;
					}*/
					img{
						width: 100%;
					}
					a{
						width: 100%;
						height: 100%;
						display: block;
						text-decoration: none;
						div{
							position: absolute;
							right: 3%;
							bottom: 3%;
							font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
							padding: 2% 3%;
							background-color: rgba(255, 255, 255, 0.5);
							display: block;
							line-height: 1.75;
							font-size: 24px;
							color: #000;
							span{
								text-align: right;
								display: block;
								font-size: 14px;
								small{
									font-size: 12px;
								}
							}
						}
						&:hover{
							div{
								text-decoration: underline;   
							}
						}
					}
				}
				.leadtext{
					    width: 90%;
						margin: 25px auto;
						p{
							margin-bottom:20px;
							font-size:13px;
							line-height:2;
							}
					}
				.yomimono_contents{
					/*background-image: url('https://www.zutto.co.jp/images/special/newlife2015/ranking_bg.png');*/
					padding: 3%;
					.yomimono_popular,.yomimono_badget01,.yomimono_badget02,.yomimono_badget03{
						b{
							display: block;
							text-align: left;
							font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
							font-size: 20px;
							line-height: 1.75;
							margin: 0 2%;
						}
						ul{
							overflow: hidden;
							/* display: flex;
							justify-content: space-between; */
							li{
								/* flex: 1;
								flex-grow: 1; */
								float: left;
								width: 29%;
								margin: 1% 2% 3%;
								position: relative;
								a{
									display: block;
									position: relative;
									text-decoration: none;
									font-size: 13px;
									color: #000;
									img{
										width: 100%;
										height: 140px;
										display: block;
										margin: 0 0 6px;
										&.rank{
											max-width: 50px;
											position: absolute;
											left: 6px;
											top: 6px;
										}
									}
									span{
										line-height: 1.75;
										font-size: 12px;
										display: block;
										text-align: right;
										small{
											font-size: 10px;
										}
									}
									&:hover{
										text-decoration: underline;
									}
								}
								&:nth-child(4){
									clear: both;
									float: left;
								}
								&:before{
									content: '';
									display: block;
									z-index: 2;
									position: absolute;
									top: 5px;
									left: 5px;
									background-size: cover;
									width: 50px;
									height: 50px;
								}

							}
						}
					}
				}
			}
@media only screen and (max-width: 768px) {
				.yomimono_wrap{
				width: 100%;
				margin: 0 auto;
				.yomimono_header{
					position: relative;
					padding: 0;
					b{
						display: block;
						text-align: center;
						font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
						font-weight: normal;
						font-size: 36px;
						padding: 7% 0;
					}
					a{
						width: 100%;
						height: 100%;
						display: block;
						text-decoration: none;
						div{
							position: absolute;
							right: 3%;
							bottom: 3%;
							font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
							padding: 2% 3%;
							background-color: rgba(255, 255, 255, 0.5);
							display: block;
							line-height: 1.75;
							font-size: 24px;
							color: #000;
							span{
								text-align: right;
								display: block;
								font-size: 14px;
								small{
									font-size: 12px;
								}
							}
						}
						&:hover{
							div{
								text-decoration: underline;   
							}
						}
					}
				}
				.leadtext{
					    width: 90%;
						margin: 25px auto;
						p{
							margin-bottom:20px;
							font-size:15px;
							line-height:2.5;
							text-align:left;
							}
					}
				.yomimono_contents{
					/*background-image: url('https://www.zutto.co.jp/images/special/newlife2015/ranking_bg.png');*/
					padding: 3%;
					.yomimono_popular,.yomimono_badget01,.yomimono_badget02,.yomimono_badget03{
						b{
							display: block;
							text-align: left;
							font-family: AGaramond-Regular, "游明朝体", "Yu Mincho", YuMincho, 'Hiragino Mincho ProN', "HiraMinProN-W6", "ヒラギノ明朝 ProN W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
							font-size: 22px;
							line-height: 1.75;
							margin: 0 2%;
						}
						ul{
							overflow: hidden;
							list-style:none;
							padding:0;
							/* display: flex;
							justify-content: space-between; */
							li:nth-child(4){
									clear:none;
									}
							li{
								/* flex: 1;
								flex-grow: 1; */
								float: left;
								width: 45%;
								min-height:200px;
								margin: 1% 2% 3%;
								position: relative;
								a{
									display: block;
									position: relative;
									text-decoration: none;
									font-size: 14px;
									color: #000;
									img{
										display: block;
										margin: 0 0 6px;
										height:inherit;
										&.rank{
											max-width: 50px;
											position: absolute;
											left: 6px;
											top: 6px;
										}
									}
									span{
										line-height: 1.75;
										font-size: 12px;
										display: block;
										text-align: left;
										small{
											font-size: 10px;
										}
									}
									&:hover{
										text-decoration: underline;
									}
								}
								p{
									text-align:left;
									}

							}
						}
					}
				}
			}
			}


/*個別ページ*/
     
    .wrapcontents_yomimono{
		color:#000;
		width:640px;
		margin:0 auto;
        img{
			width:100%;
            display: block;
        }
		.header{
			h1{
				border:none;
				font-size:40px !important;
				margin-bottom:-5px !important;

				background-image:none !important;
				}
			p{
				margin-bottom:10px;
				text-align:left;
				}
		
		}
        p{
            font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
            font-size: 15px;
            line-height: 2.5;
        }
        hr{
            margin: 0;
            padding: 0;
            border: none;
            border-bottom: 1px dotted ;
        }
        .ip_info{
            width: 100%;
            margin: 0 0 10px;
            overflow: hidden;
            line-height: 2;
            hr{
                display: none;
                /* margin: 0 0 20px;
                display: block;
                clear: both;
                border: none;
                border-top: 2px dotted $lc;
                border-bottom: 2px dotted $lc; */
            }
            .infoTable{
                font-size: 12px;
                border-collapse: collapse;
                border-spacing: 0; 
                width: 100%;
                margin: 0 1% 3% 0;
                float: left;
                &:before{
                    content: '商品情報';
                    display: block;
                    color: $tc;
                    font-size: 13px;
                    font-weight: bold;
                    padding: 0;
                    text-indent: 1.5em;
                    background:url('https://den-tou.com/img/contents/info_icon_data.png') left 2px no-repeat;
                    width: 100%;
                    height: 25px;
                    margin: 0 0 2px;
                }
                tr{
                    /* border-bottom: 1px dotted $lc; */
                    &:nth-child(odd){
                        background-color: $bc;
                    }
                    &:first-child{
                        /* border-top: 1px dotted $lc; */
                    }
                }
                td{
                    padding: 2px 0;
                    width: 30%;
                    /* clear: both;
                    float: left; */
                    &:nth-child(even){
                        float: left;
                        width: 100%;
                    }
                    &:first-child{
                        font-weight: bold;
                        padding: 2px 10px;
                    }
                }
            }

            .aboutLink {
                display: block;
                margin: 10px auto;
                text-align: center;
                font-size: 12px;
                background-color: $mc;
                color: #fff;
                padding: 10px;
                @include anm(0.2s);
                @include rad(3,3,3,3);
                border: 1px solid $mc;
                text-decoration: none;
                -webkit-box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0);
                box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0);
                small {
                    font-size: 12px;
                }
                &:hover {
                    color: #fff;
                    background-color: #518990;
                    border: 1px solid #518990;
                    -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
                    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
                }
            }
        }
        .ip_main{
            margin: 0 0 120px;
            .txt{
                padding: 0 30px 0px;
				
            }
        }
        .ip_sub{
            margin: 0;
            .txt{
                padding: 0 30px 160px;
				ul{
					font-size:1.05rem;
					li{
						margin-bottom:10px;
						list-style:none;
						}
					}
            }
        }
        .ip_main,.ip_sub{
            img{
                margin: 0 0 10px;
            }
            .posL{
                float: left;
            } 
            .posR{
                float: right;
            }
            .posC{
                margin: 0 auto;
                text-align: center;
            }
            .txt{
                
                h3{
                    width: auto;
                    display: inline-block;
                    margin: 0;
                    letter-spacing: 3px;
                    font-size: 20px;
                    padding: 0 0 5px;
                    font-weight: normal;
                    border-bottom: 1px dotted ;
                    font-family: "Lucida Grande", "segoe UI", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Meiryo, Verdana, Arial, sans-serif;
                }
                b{
                    font-size: 18px;
                    display: block;
                    margin: 20px 0 20px;
					line-height: 1.7;
                }
				b.onepoint{
					padding-left: 10px;
					padding-top: 8px;
					padding-bottom: 8px;
					border-bottom: 1px dotted;
					border-top: 1px dotted;
					}
					
                p{
                    margin: 10px 0 0;
					color:#000;
                }
                span{
                    display: block;
                    clear: both;
                    font-size: 14px;
                    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                    margin: 4px 0 25px;   
                }
            }
            .ym_caption{
                border: 1px dotted #333333 !important;
                padding: 30px 30px 15px;
                width: 580px;
                margin: 50px auto 20px !important;
                overflow: hidden;
				font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
				dl{
					overflow: hidden;
					padding: 5% 2% 2% 2%;
					border-top: 1px dotted #000;
					width: 96%;
					font-size:0.9em;
					line-height:1.6;
				dt{	
					width: 20%;
					float: left;
					clear: both; 
					margin: 0 0 10px;
					span{
						float:right;
						}
					}
					dd{
					width: 73%;
					float: left;
					margin: 0 0 10px;
					padding: 0 0 0 5%;
					dl{
					dt{
						width:45%
						}
						dd{
							width:50%;
							text-align:center;
							}
							
						}
						}
						}
				
                div{
                    margin: 0 0 10px;
                    b{
                        font-size: 18px;
                        display: block;
                        margin: 0 0 16px;
                        width: 100%;
                    }
                    em{

                        display: block;
                        font-weight: bold;
                        font-size: 18px !important;
                        margin: 0 0 6px;
                    }
                    .caption_img{
                        width: 30%;
                        float: left;
                        img{
                            margin: 0 0 15px !important;
                            display: block;
                            float: left;
                        }
                        a{
                            clear: both;
                            width: auto;
                            font-size: 12px;
                            margin: 0 auto;
                            text-align: center;
                            display: block;
                            padding: 6px;
                            border: 1px solid ; 
                            /*background-color: ;*/
                            color: $tc;
                            @include anm(0.2s);
                            &:hover{
                                /*color: $bcw;*/
                                border: 1px solid $mc;
                                background-color: $mc;
                                text-decoration: none;
                            }
                        }
                    }
                    .caption_txt{
                        width: 65%;
                        padding: 0 0 0 5%;
                        float: left;
						min-height: 240px;
                        p{
                            font-size: 14px;   
                        }
                    }
                }
                hr{
                    margin: 50px 0;
                    display: block;
                    clear: both;
                    border: none;
                    border-bottom: 1px dotted ;
                    border-top: 1px dotted;
                }
            }
            /* 購入前にご注意下さい */
            .careful{
                padding: 15px 10px;
                width: 808px;
                margin: 60px auto 120px;
                overflow: hidden;
                border: 1px dotted;
                background-color: $bc;
                b{
                    color: $tc;
                    display: inline-block;
                    margin: 0 0 15px;
                    font-size: 14px;
                    border-bottom: 1px dotted $tc;
                }
                ul{
                    display: table;
                    overflow: hidden;
                    li{
                        display: table-cell;
                        padding: 0 15px;
                        p{
                            font-size: 11px;
                        }
                        img{
                            margin: 0;
                        }
                        color: $tc;
                    }
                }
            }
            /* 関連商品 */
            .recommend{
                .recommend_title{
                    clear: both;
                    overflow: hidden;
                    li{
                        float: left;
                        width: 33.333%;
                        font-weight: bold;
                        text-align: center;
                        font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                        p{
                            font-size: 15px;
                            line-height: 1.5;
                        }
                        hr{
                            display: block;
                            width: 100%;
                            margin: 0 auto;
                            padding: 2px 0 0;
                            border: none;
                            border-bottom: 1px dotted $tc;
                        }
                        span{
                            margin: 0 6px 0 0;
                            display: block;
                            font-size: 10px;
                        }
                    }
                }
                .recommend_item{
                    display: table;
                    li{
                        display: table-cell;
                        padding: 20px 6px 10px !important;
                        p{
                            color: $tc;
                            font-size: 10px;
                        }
                        span{
                            font-size: 10px;
                            color: $tc;
                            font-size: 14px;
                            em{
                                font-size: 10px;
                                margin: 0 0 0 5px;
                                color: $tc;
                            }
                        }
                        img{
                            outline: 1px solid #f6f6f6;
                        }
                    }
                }
            }
			/*フッター・ページ移動*/
			.yomimono_footer{
			max-width:640px;
			margin:0 auto;
			backgoround-color:#C0C0C0;
			text-align:center;
			a{
					tetx-decotation:none;
					}
    }
	
				}
			}
    
	
	
	@media only screen and (max-width: 768px) {
        .wrapcontents_yomimono{
            width: 100%;
            .ip_main{
                margin: 0;
                .txt{
                    h3{
                        font-size: 18px;
                    }
                    span{
                        font-size: 14px;
                    }
                    b{
                        font-size: 18px;
                    }
                    p{
                        font-size: 14px;
                    }
                }
            }
			 .ip_sub{
            margin: 0;
            .txt{
                padding: 0 30px 160px;
				ul{
					font-size:1.05rem;
					padding:0;
					li{
						margin-bottom:10px;
						list-style:none;
						}
					}
            }
        }
            .ip_main,.ip_sub{
                .txt{
                    
                    padding: 0 5%;
                    margin: 0 0 15%;
                    h3{
                        font-size: 18px;
                    }
                    span{
                        font-size: 14px; 
                    }
                    b{
                        font-size: 18px;
                    }
                    p{
						    font-size: 15px;
							line-height: 1.8;
							text-align: left;
                    }
                }
				.ym_caption{
                border: 1px dotted $mc !important;
                padding: 30px 30px 15px;
                width: 580px;
                margin: 50px auto 20px !important;
                overflow: hidden;
				font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
				dl{
					overflow: hidden;
					padding: 5% 2% 2% 2%;
					border-top: 1px dotted #000;
					width: 96%;
					font-size:0.9em;
				dt{	
					width: 25%;
					float: left;
					clear: both; 
					margin: 0 0 5px;
					span{
						float:right;
						}
					}
					dd{
					width: 75%;
					float: left;
					margin: 0 0 5px;
					padding: 0 0 0 5%;
					
						}}
				
                div{
                    margin: 0 0 10px;
                    b{
                        font-size: 18px;
                        display: block;
                        margin: 0 0 16px;
                        width: 100%;
                    }
                    em{

                        display: block;
                        font-weight: bold;
                        font-size: 18px !important;
                        margin: 10px 0 0px;
                    }
                    .caption_img{
                        width: 80%;
						margin:4px auto; 
						float:none;
                        img{
                            margin: 0 0 15px !important;
                            display: block;
                        }
                        a{
                            clear: both;
                            width: auto;
                            font-size: 12px;
                            margin: 0 auto;
                            text-align: center;
                            display: block;
                            padding: 6px;
                            border: 1px solid ; 
                            /*background-color: ;*/
                            color: $tc;
                            @include anm(0.2s);
                            &:hover{
                                /*color: $bcw;*/
                                border: 1px solid $mc;
                                background-color: $mc;
                                text-decoration: none;
                            }
                        }
                    }
                    .caption_txt{
                        width: 100%;
                        padding: 0 0 0 5%;
						min-height: 240px;
                        p{
                            font-size: 14px;
							text-align:right;   
                        }
                    }
                }
                hr{
                    margin: 50px 0;
                    display: block;
                    clear: both;
                    border: none;
                    border-bottom: 1px dotted ;
                    border-top: 1px dotted;
                }
            }

                    /* 関連商品 */
                    .recommend{
                        .recommend_title{
                            clear: both;
                            overflow: hidden;
                            padding: 0 5px;
                            li{
                                list-style-type: none;
                                float: left;
                                width: 100% !important;
                                font-weight: bold;
                                text-align: center;
                                font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                                p{
                                    padding: 10px 0 0;
                                    font-size: 15px;
                                    line-height: 1.5;
                                }
                                hr{
                                    display: block;
                                    width: 100%;
                                    margin: 0 auto;
                                    padding: 2px 0 0;
                                    border: none;
                                    border-bottom: 1px dotted $tc;
                                }
                                span{
                                    margin: 0 6px 0 0;
                                    display: block;
                                    font-size: 10px;
                                }
                            }
                        }
                        .recommend_item{
                            display: table;
                            padding: 0;
                            li{
                                display: table-cell;
                                padding: 20px 6px 10px !important;
                                p{
                                    /*color: $tcg;*/
                                    font-size: 11px;
                                    line-height: 1.3;
                                    max-height: 2.6em;
                                    overflow: hidden;
                                    margin: 0;
                                }
                                span{
                                    /*color: $tcg;*/
                                    font-size: 11px;
                                    em{
                                        font-size: 10px;
                                        margin: 0 0 0 5px;
                                        /*color: $tcg;*/
                                    }
                                }
                                img{
                                    margin: 0 0 5px;
                                    outline: 1px solid #f6f6f6;
                                }
                            }
                        }
                    }
                }
                .ym_caption{
                    @include sizing(100%);
                    width: 100% !important;
                    padding: 5% 5% 0 !important;
                    .caption_txt{
                        width: 70%;
                    }
                }
            }
        }






