/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$cmn_hdr_logo-x: 0px;
$cmn_hdr_logo-y: 0px;
$cmn_hdr_logo-offset-x: 0px;
$cmn_hdr_logo-offset-y: 0px;
$cmn_hdr_logo-width: 132px;
$cmn_hdr_logo-height: 85px;
$cmn_hdr_logo-total-width: 343px;
$cmn_hdr_logo-total-height: 270px;
$cmn_hdr_logo-image: '../img/sprites/spritesheet.png';
$cmn_hdr_logo: 0px 0px 0px 0px 132px 85px 343px 270px '../img/sprites/spritesheet.png';
$cmn_hdr_m01-x: 142px;
$cmn_hdr_m01-y: 0px;
$cmn_hdr_m01-offset-x: -142px;
$cmn_hdr_m01-offset-y: 0px;
$cmn_hdr_m01-width: 105px;
$cmn_hdr_m01-height: 66px;
$cmn_hdr_m01-total-width: 343px;
$cmn_hdr_m01-total-height: 270px;
$cmn_hdr_m01-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m01: 142px 0px -142px 0px 105px 66px 343px 270px '../img/sprites/spritesheet.png';
$cmn_hdr_m01_01-x: 0px;
$cmn_hdr_m01_01-y: 220px;
$cmn_hdr_m01_01-offset-x: 0px;
$cmn_hdr_m01_01-offset-y: -220px;
$cmn_hdr_m01_01-width: 86px;
$cmn_hdr_m01_01-height: 20px;
$cmn_hdr_m01_01-total-width: 343px;
$cmn_hdr_m01_01-total-height: 270px;
$cmn_hdr_m01_01-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m01_01: 0px 220px 0px -220px 86px 20px 343px 270px '../img/sprites/spritesheet.png';
$cmn_hdr_m01_01h-x: 0px;
$cmn_hdr_m01_01h-y: 130px;
$cmn_hdr_m01_01h-offset-x: 0px;
$cmn_hdr_m01_01h-offset-y: -130px;
$cmn_hdr_m01_01h-width: 86px;
$cmn_hdr_m01_01h-height: 20px;
$cmn_hdr_m01_01h-total-width: 343px;
$cmn_hdr_m01_01h-total-height: 270px;
$cmn_hdr_m01_01h-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m01_01h: 0px 130px 0px -130px 86px 20px 343px 270px '../img/sprites/spritesheet.png';
$cmn_hdr_m01_02-x: 257px;
$cmn_hdr_m01_02-y: 0px;
$cmn_hdr_m01_02-offset-x: -257px;
$cmn_hdr_m01_02-offset-y: 0px;
$cmn_hdr_m01_02-width: 86px;
$cmn_hdr_m01_02-height: 20px;
$cmn_hdr_m01_02-total-width: 343px;
$cmn_hdr_m01_02-total-height: 270px;
$cmn_hdr_m01_02-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m01_02: 257px 0px -257px 0px 86px 20px 343px 270px '../img/sprites/spritesheet.png';
$cmn_hdr_m01_02h-x: 96px;
$cmn_hdr_m01_02h-y: 130px;
$cmn_hdr_m01_02h-offset-x: -96px;
$cmn_hdr_m01_02h-offset-y: -130px;
$cmn_hdr_m01_02h-width: 86px;
$cmn_hdr_m01_02h-height: 20px;
$cmn_hdr_m01_02h-total-width: 343px;
$cmn_hdr_m01_02h-total-height: 270px;
$cmn_hdr_m01_02h-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m01_02h: 96px 130px -96px -130px 86px 20px 343px 270px '../img/sprites/spritesheet.png';
$cmn_hdr_m01_03-x: 0px;
$cmn_hdr_m01_03-y: 160px;
$cmn_hdr_m01_03-offset-x: 0px;
$cmn_hdr_m01_03-offset-y: -160px;
$cmn_hdr_m01_03-width: 86px;
$cmn_hdr_m01_03-height: 20px;
$cmn_hdr_m01_03-total-width: 343px;
$cmn_hdr_m01_03-total-height: 270px;
$cmn_hdr_m01_03-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m01_03: 0px 160px 0px -160px 86px 20px 343px 270px '../img/sprites/spritesheet.png';
$cmn_hdr_m01_03h-x: 96px;
$cmn_hdr_m01_03h-y: 160px;
$cmn_hdr_m01_03h-offset-x: -96px;
$cmn_hdr_m01_03h-offset-y: -160px;
$cmn_hdr_m01_03h-width: 86px;
$cmn_hdr_m01_03h-height: 20px;
$cmn_hdr_m01_03h-total-width: 343px;
$cmn_hdr_m01_03h-total-height: 270px;
$cmn_hdr_m01_03h-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m01_03h: 96px 160px -96px -160px 86px 20px 343px 270px '../img/sprites/spritesheet.png';
$cmn_hdr_m01_04-x: 0px;
$cmn_hdr_m01_04-y: 190px;
$cmn_hdr_m01_04-offset-x: 0px;
$cmn_hdr_m01_04-offset-y: -190px;
$cmn_hdr_m01_04-width: 86px;
$cmn_hdr_m01_04-height: 20px;
$cmn_hdr_m01_04-total-width: 343px;
$cmn_hdr_m01_04-total-height: 270px;
$cmn_hdr_m01_04-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m01_04: 0px 190px 0px -190px 86px 20px 343px 270px '../img/sprites/spritesheet.png';
$cmn_hdr_m01_04h-x: 96px;
$cmn_hdr_m01_04h-y: 190px;
$cmn_hdr_m01_04h-offset-x: -96px;
$cmn_hdr_m01_04h-offset-y: -190px;
$cmn_hdr_m01_04h-width: 86px;
$cmn_hdr_m01_04h-height: 20px;
$cmn_hdr_m01_04h-total-width: 343px;
$cmn_hdr_m01_04h-total-height: 270px;
$cmn_hdr_m01_04h-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m01_04h: 96px 190px -96px -190px 86px 20px 343px 270px '../img/sprites/spritesheet.png';
$cmn_hdr_m01_05-x: 0px;
$cmn_hdr_m01_05-y: 250px;
$cmn_hdr_m01_05-offset-x: 0px;
$cmn_hdr_m01_05-offset-y: -250px;
$cmn_hdr_m01_05-width: 86px;
$cmn_hdr_m01_05-height: 20px;
$cmn_hdr_m01_05-total-width: 343px;
$cmn_hdr_m01_05-total-height: 270px;
$cmn_hdr_m01_05-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m01_05: 0px 250px 0px -250px 86px 20px 343px 270px '../img/sprites/spritesheet.png';
$cmn_hdr_m01_05h-x: 96px;
$cmn_hdr_m01_05h-y: 220px;
$cmn_hdr_m01_05h-offset-x: -96px;
$cmn_hdr_m01_05h-offset-y: -220px;
$cmn_hdr_m01_05h-width: 86px;
$cmn_hdr_m01_05h-height: 20px;
$cmn_hdr_m01_05h-total-width: 343px;
$cmn_hdr_m01_05h-total-height: 270px;
$cmn_hdr_m01_05h-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m01_05h: 96px 220px -96px -220px 86px 20px 343px 270px '../img/sprites/spritesheet.png';
$cmn_hdr_m01_06-x: 115px;
$cmn_hdr_m01_06-y: 95px;
$cmn_hdr_m01_06-offset-x: -115px;
$cmn_hdr_m01_06-offset-y: -95px;
$cmn_hdr_m01_06-width: 86px;
$cmn_hdr_m01_06-height: 20px;
$cmn_hdr_m01_06-total-width: 343px;
$cmn_hdr_m01_06-total-height: 270px;
$cmn_hdr_m01_06-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m01_06: 115px 95px -115px -95px 86px 20px 343px 270px '../img/sprites/spritesheet.png';
$cmn_hdr_m01_06h-x: 257px;
$cmn_hdr_m01_06h-y: 30px;
$cmn_hdr_m01_06h-offset-x: -257px;
$cmn_hdr_m01_06h-offset-y: -30px;
$cmn_hdr_m01_06h-width: 86px;
$cmn_hdr_m01_06h-height: 20px;
$cmn_hdr_m01_06h-total-width: 343px;
$cmn_hdr_m01_06h-total-height: 270px;
$cmn_hdr_m01_06h-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m01_06h: 257px 30px -257px -30px 86px 20px 343px 270px '../img/sprites/spritesheet.png';
$cmn_hdr_m01_07-x: 257px;
$cmn_hdr_m01_07-y: 60px;
$cmn_hdr_m01_07-offset-x: -257px;
$cmn_hdr_m01_07-offset-y: -60px;
$cmn_hdr_m01_07-width: 86px;
$cmn_hdr_m01_07-height: 20px;
$cmn_hdr_m01_07-total-width: 343px;
$cmn_hdr_m01_07-total-height: 270px;
$cmn_hdr_m01_07-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m01_07: 257px 60px -257px -60px 86px 20px 343px 270px '../img/sprites/spritesheet.png';
$cmn_hdr_m01_07h-x: 257px;
$cmn_hdr_m01_07h-y: 90px;
$cmn_hdr_m01_07h-offset-x: -257px;
$cmn_hdr_m01_07h-offset-y: -90px;
$cmn_hdr_m01_07h-width: 86px;
$cmn_hdr_m01_07h-height: 20px;
$cmn_hdr_m01_07h-total-width: 343px;
$cmn_hdr_m01_07h-total-height: 270px;
$cmn_hdr_m01_07h-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m01_07h: 257px 90px -257px -90px 86px 20px 343px 270px '../img/sprites/spritesheet.png';
$cmn_hdr_m01_08-x: 257px;
$cmn_hdr_m01_08-y: 120px;
$cmn_hdr_m01_08-offset-x: -257px;
$cmn_hdr_m01_08-offset-y: -120px;
$cmn_hdr_m01_08-width: 86px;
$cmn_hdr_m01_08-height: 20px;
$cmn_hdr_m01_08-total-width: 343px;
$cmn_hdr_m01_08-total-height: 270px;
$cmn_hdr_m01_08-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m01_08: 257px 120px -257px -120px 86px 20px 343px 270px '../img/sprites/spritesheet.png';
$cmn_hdr_m01_08h-x: 257px;
$cmn_hdr_m01_08h-y: 150px;
$cmn_hdr_m01_08h-offset-x: -257px;
$cmn_hdr_m01_08h-offset-y: -150px;
$cmn_hdr_m01_08h-width: 86px;
$cmn_hdr_m01_08h-height: 20px;
$cmn_hdr_m01_08h-total-width: 343px;
$cmn_hdr_m01_08h-total-height: 270px;
$cmn_hdr_m01_08h-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m01_08h: 257px 150px -257px -150px 86px 20px 343px 270px '../img/sprites/spritesheet.png';
$cmn_hdr_m01_09-x: 257px;
$cmn_hdr_m01_09-y: 180px;
$cmn_hdr_m01_09-offset-x: -257px;
$cmn_hdr_m01_09-offset-y: -180px;
$cmn_hdr_m01_09-width: 86px;
$cmn_hdr_m01_09-height: 20px;
$cmn_hdr_m01_09-total-width: 343px;
$cmn_hdr_m01_09-total-height: 270px;
$cmn_hdr_m01_09-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m01_09: 257px 180px -257px -180px 86px 20px 343px 270px '../img/sprites/spritesheet.png';
$cmn_hdr_m01_09h-x: 257px;
$cmn_hdr_m01_09h-y: 210px;
$cmn_hdr_m01_09h-offset-x: -257px;
$cmn_hdr_m01_09h-offset-y: -210px;
$cmn_hdr_m01_09h-width: 86px;
$cmn_hdr_m01_09h-height: 20px;
$cmn_hdr_m01_09h-total-width: 343px;
$cmn_hdr_m01_09h-total-height: 270px;
$cmn_hdr_m01_09h-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m01_09h: 257px 210px -257px -210px 86px 20px 343px 270px '../img/sprites/spritesheet.png';
$cmn_hdr_m02-x: 0px;
$cmn_hdr_m02-y: 95px;
$cmn_hdr_m02-offset-x: 0px;
$cmn_hdr_m02-offset-y: -95px;
$cmn_hdr_m02-width: 105px;
$cmn_hdr_m02-height: 25px;
$cmn_hdr_m02-total-width: 343px;
$cmn_hdr_m02-total-height: 270px;
$cmn_hdr_m02-image: '../img/sprites/spritesheet.png';
$cmn_hdr_m02: 0px 95px 0px -95px 105px 25px 343px 270px '../img/sprites/spritesheet.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
