@charset "utf-8";
/* CSS Document */
@import "../../styleguide/_scss/styleguide.scss";
$spmc : #605623;



#nav {
    list-style: none;
    position: fixed;
    right: 10px;
    top: 10px;
}
#nav li {
    margin: 0 0 15px 0;
    a{
        span{
            display: block;
            float: left;
            width: 72px;
            margin: 3px 0 0;
            overflow: hidden;
        }

        img{
            height: 26px;
        }
        text-decoration: none;
        font-size: 12px;
        color: $spmc;
        font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    }
}


.sp-n705{
    margin: 0;
    width: 100%;
    background:url('https://shopping.geocities.jp/dentouhonpo/item/img/n705_bglp.jpg');
    .wideContents{
        &.review{
            background: url('https://shopping.geocities.jp/dentouhonpo/item/img/n705_bglp02.jpg');   
            & > div{
                width: 990px;
                margin: 0 auto;
            }
        }
        &.ftr{
            margin: 60px 0 0;
        }
        .scene{
            padding: 20px 0 160px;
            overflow: hidden;
            &.sep{
                padding: 20px 0 60px; 
            }
            img{
                display: block;
                margin: 0 auto;
            }
        }
        .slideArea{
            margin: 30px auto 0;
            height: 450px !important;
            .slider{
                position: relative;
                @include sizing(90%);
                ul{
                    overflow: hidden;
                    width: 85%;
                    margin: 30px auto;
                    li{
                        margin: 0 20px;
                        width: 149px;
                        padding: 10px 40px 0 50px;
                        height: 383px;
                        float: left;
                        background: url('https://shopping.geocities.jp/dentouhonpo/item/img/sp_n705_c08_label.png') no-repeat;
                        b{
                            font-size: 20px;
                            display: block;
                            text-align: center;
                        }
                        p{
                            font-size: 12px;
                        }
                        span{
                            display: block;
                            text-align: center;
                            font-weight: bold;
                            margin: 0 0 20px;
                            font-size: 14px;
                        }
                    }
                }
            }


            .sr-pager{
                z-index: 2;
                position: absolute;
                width: 100%;
                list-style: none;
                top: 200px;
                li{
                    float: left;
                    a{
                        cursor: pointer;
                        display: block;
                        padding: 2px;
                        text-indent: -9999px;
                    }
                }
                .sr-prev{
                    position: absolute;
                    left: 60px;
                    background: url('https://shopping.geocities.jp/dentouhonpo/item/img/sp_n705_slide_pre.png') no-repeat;
                    width: 28px;
                    height: 61px;
                }
                .sr-next{
                    position: absolute;
                    right: 60px;
                    background: url('https://shopping.geocities.jp/dentouhonpo/item/img/sp_n705_slide_next.png') no-repeat;
                    width: 28px;
                    height: 61px;
                }
            }
        }

        .itemLinks{
            overflow: hidden;
            height: 1800px;
            background:transparent url('https://shopping.geocities.jp/dentouhonpo/item/img/sp_n705_c10.jpg') 50% bottom no-repeat;
            ul{
                clear: both;
                width: 990px;
                margin: 0 auto;
                li{
                    display: table-cell;
                    vertical-align: bottom;
                    width: 290px;
                    height: 275px;
                    margin: 0 15px 60px;
                    float: left;
                    span{

                        background-color: $spmc;
                        color: #fff;
                        font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                        @include rad(4,4,4,4);
                        display: block;
                        margin: 20px auto 0;
                        width: 100px;
                        font-size: 12px;
                        padding: 3px 20px;
                        text-align: center;
                        text-decoration: none;
                        border: 1px solid $spmc;
                        @include anm(0.2s);
                        &:hover{
                            background: none;
                            color: $spmc;
                        }
                    }
                }
            }
            hr{
                clear: both;
                display: block;
                margin: 80px auto;
                border: none;
                width: 990px;
                border-bottom: 1px solid #605623;
            }
        }
    }
    .wrapContents{
        width: 990px;
        margin: 0 auto;
        .scene{
            padding: 20px 0 160px;
            overflow: hidden;
            &.sep{
                padding: 20px 0 60px; 
            }
        }
        &.ftr{
         position: relative;
         .bgLast{
            z-index: 0;
            position: absolute;
            bottom: 0;
            left: auto;
        }   
    }
    .detail{
        overflow: hidden;
        div{
            float: left;
            a{
                background-color: $spmc;
                color: #fff;
                font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                @include rad(4,4,4,4);
                display: block;
                margin: 20px auto 0;
                width: 100px;
                padding: 3px 20px;
                text-align: center;
                text-decoration: none;
                border: 1px solid $spmc;
                @include anm(0.2s);
                &:hover{
                    background: none;
                    color: $spmc;
                }
            }
        }
        table{
            display: block;
            float: right;
            margin: 120px 0 0;
            border: none;
            td{
                border: 1px solid #dfdfdf;
                font-size: 13px;
            }
            tr{
                &:first-child{
                    text-align: center;
                }
            }
        }
    }
    img{
        display: block;
        margin: 0 auto;
    }
    .slideArea{
        margin: 30px auto 0;
        height: 320px !important;
        .slider{
            position: relative;
            @include sizing(90%);
            .info,.image{
                float: left;
            }
            .info{
                @include sizing(35%);
                padding: 60px 0 60px 60px;
                p{
                    font-size: 16px;
                    margin: 30px 0 0;
                    color: $spmc;
                }
            }
            .image{
                @include sizing(65%);
            }
        }
        .sr-pager{
            z-index: 2;
            position: absolute;
            width: 100%;
            list-style: none;
            top: 120px;
            li{
                float: left;
                a{
                    cursor: pointer;
                    display: block;
                    padding: 2px;
                    text-indent: -9999px;
                }
            }
            .sr-prev{
                position: absolute;
                left: 0;
                background: url('https://shopping.geocities.jp/dentouhonpo/item/img/sp_n705_slide_pre.png') no-repeat;
                width: 28px;
                height: 61px;
            }
            .sr-next{
                position: absolute;
                right: 0;
                background: url('https://shopping.geocities.jp/dentouhonpo/item/img/sp_n705_slide_next.png') no-repeat;
                width: 28px;
                height: 61px;
            }
        }
    }


    #slideshow{
        float:left;
        padding:0;
        margin:15px 0 0 15px;
        width:990px;
        position:relative;
        .mainImage{
            float:left;
            width:475px;
            height:475px;
            z-index:0;
            div{
                top: 0;
                left: 0;
                position: absolute;
                a{
                    img{
                        width: 475px;
                        height: 475px;
                    }
                }
            }
        }
        ul{
            height:auto;
            width: 440px;
            z-index:10;
            display: block;
            float: left;
            margin: 0 0 0 50px;
            li{
                width:60px;
                margin:0 5px 10px;
                padding:0;
                float: left;
                display:block;
                transition:all 0.2s ease-in-out;
                -o-transition:all 0.2s ease-in-out;
                -webkit-transition:all 0.2s ease-in-out;
                -moz-transition:all 0.2s ease-in-out;
                border:none;
                img{
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }

}
}











