/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$cmn_hdr_asu-x: 388px;
$cmn_hdr_asu-y: 435px;
$cmn_hdr_asu-offset-x: -388px;
$cmn_hdr_asu-offset-y: -435px;
$cmn_hdr_asu-width: 111px;
$cmn_hdr_asu-height: 21px;
$cmn_hdr_asu-total-width: 566px;
$cmn_hdr_asu-total-height: 557px;
$cmn_hdr_asu-image: '../../img/header/sprites/spritesheet.png';
$cmn_hdr_asu: 388px 435px -388px -435px 111px 21px 566px 557px '../../img/header/sprites/spritesheet.png';
$cmn_hdr_asu_hv-x: 194px;
$cmn_hdr_asu_hv-y: 323px;
$cmn_hdr_asu_hv-offset-x: -194px;
$cmn_hdr_asu_hv-offset-y: -323px;
$cmn_hdr_asu_hv-width: 111px;
$cmn_hdr_asu_hv-height: 21px;
$cmn_hdr_asu_hv-total-width: 566px;
$cmn_hdr_asu_hv-total-height: 557px;
$cmn_hdr_asu_hv-image: '../../img/header/sprites/spritesheet.png';
$cmn_hdr_asu_hv: 194px 323px -194px -323px 111px 21px 566px 557px '../../img/header/sprites/spritesheet.png';
$cmn_hdr_cal-x: 0px;
$cmn_hdr_cal-y: 0px;
$cmn_hdr_cal-offset-x: 0px;
$cmn_hdr_cal-offset-y: 0px;
$cmn_hdr_cal-width: 178px;
$cmn_hdr_cal-height: 68px;
$cmn_hdr_cal-total-width: 566px;
$cmn_hdr_cal-total-height: 557px;
$cmn_hdr_cal-image: '../../img/header/sprites/spritesheet.png';
$cmn_hdr_cal: 0px 0px 0px 0px 178px 68px 566px 557px '../../img/header/sprites/spritesheet.png';
$cmn_hdr_comp-x: 194px;
$cmn_hdr_comp-y: 491px;
$cmn_hdr_comp-offset-x: -194px;
$cmn_hdr_comp-offset-y: -491px;
$cmn_hdr_comp-width: 111px;
$cmn_hdr_comp-height: 21px;
$cmn_hdr_comp-total-width: 566px;
$cmn_hdr_comp-total-height: 557px;
$cmn_hdr_comp-image: '../../img/header/sprites/spritesheet.png';
$cmn_hdr_comp: 194px 491px -194px -491px 111px 21px 566px 557px '../../img/header/sprites/spritesheet.png';
$cmn_hdr_comp_hv-x: 194px;
$cmn_hdr_comp_hv-y: 267px;
$cmn_hdr_comp_hv-offset-x: -194px;
$cmn_hdr_comp_hv-offset-y: -267px;
$cmn_hdr_comp_hv-width: 111px;
$cmn_hdr_comp_hv-height: 21px;
$cmn_hdr_comp_hv-total-width: 566px;
$cmn_hdr_comp_hv-total-height: 557px;
$cmn_hdr_comp_hv-image: '../../img/header/sprites/spritesheet.png';
$cmn_hdr_comp_hv: 194px 267px -194px -267px 111px 21px 566px 557px '../../img/header/sprites/spritesheet.png';
$cmn_hdr_del-x: 194px;
$cmn_hdr_del-y: 211px;
$cmn_hdr_del-offset-x: -194px;
$cmn_hdr_del-offset-y: -211px;
$cmn_hdr_del-width: 123px;
$cmn_hdr_del-height: 38px;
$cmn_hdr_del-total-width: 566px;
$cmn_hdr_del-total-height: 557px;
$cmn_hdr_del-image: '../../img/header/sprites/spritesheet.png';
$cmn_hdr_del: 194px 211px -194px -211px 123px 38px 566px 557px '../../img/header/sprites/spritesheet.png';
$cmn_hdr_del_hv-x: 194px;
$cmn_hdr_del_hv-y: 155px;
$cmn_hdr_del_hv-offset-x: -194px;
$cmn_hdr_del_hv-offset-y: -155px;
$cmn_hdr_del_hv-width: 123px;
$cmn_hdr_del_hv-height: 38px;
$cmn_hdr_del_hv-total-width: 566px;
$cmn_hdr_del_hv-total-height: 557px;
$cmn_hdr_del_hv-image: '../../img/header/sprites/spritesheet.png';
$cmn_hdr_del_hv: 194px 155px -194px -155px 123px 38px 566px 557px '../../img/header/sprites/spritesheet.png';
$cmn_hdr_form-x: 71px;
$cmn_hdr_form-y: 78px;
$cmn_hdr_form-offset-x: -71px;
$cmn_hdr_form-offset-y: -78px;
$cmn_hdr_form-width: 89px;
$cmn_hdr_form-height: 21px;
$cmn_hdr_form-total-width: 566px;
$cmn_hdr_form-total-height: 557px;
$cmn_hdr_form-image: '../../img/header/sprites/spritesheet.png';
$cmn_hdr_form: 71px 78px -71px -78px 89px 21px 566px 557px '../../img/header/sprites/spritesheet.png';
$cmn_hdr_formbtn-x: 309px;
$cmn_hdr_formbtn-y: 112px;
$cmn_hdr_formbtn-offset-x: -309px;
$cmn_hdr_formbtn-offset-y: -112px;
$cmn_hdr_formbtn-width: 26px;
$cmn_hdr_formbtn-height: 21px;
$cmn_hdr_formbtn-total-width: 566px;
$cmn_hdr_formbtn-total-height: 557px;
$cmn_hdr_formbtn-image: '../../img/header/sprites/spritesheet.png';
$cmn_hdr_formbtn: 309px 112px -309px -112px 26px 21px 566px 557px '../../img/header/sprites/spritesheet.png';
$cmn_hdr_guide-x: 0px;
$cmn_hdr_guide-y: 536px;
$cmn_hdr_guide-offset-x: 0px;
$cmn_hdr_guide-offset-y: -536px;
$cmn_hdr_guide-width: 111px;
$cmn_hdr_guide-height: 21px;
$cmn_hdr_guide-total-width: 566px;
$cmn_hdr_guide-total-height: 557px;
$cmn_hdr_guide-image: '../../img/header/sprites/spritesheet.png';
$cmn_hdr_guide: 0px 536px 0px -536px 111px 21px 566px 557px '../../img/header/sprites/spritesheet.png';
$cmn_hdr_guide_hv-x: 188px;
$cmn_hdr_guide_hv-y: 112px;
$cmn_hdr_guide_hv-offset-x: -188px;
$cmn_hdr_guide_hv-offset-y: -112px;
$cmn_hdr_guide_hv-width: 111px;
$cmn_hdr_guide_hv-height: 21px;
$cmn_hdr_guide_hv-total-width: 566px;
$cmn_hdr_guide_hv-total-height: 557px;
$cmn_hdr_guide_hv-image: '../../img/header/sprites/spritesheet.png';
$cmn_hdr_guide_hv: 188px 112px -188px -112px 111px 21px 566px 557px '../../img/header/sprites/spritesheet.png';
$cmn_hdr_logo-x: 0px;
$cmn_hdr_logo-y: 78px;
$cmn_hdr_logo-offset-x: 0px;
$cmn_hdr_logo-offset-y: -78px;
$cmn_hdr_logo-width: 61px;
$cmn_hdr_logo-height: 67px;
$cmn_hdr_logo-total-width: 566px;
$cmn_hdr_logo-total-height: 557px;
$cmn_hdr_logo-image: '../../img/header/sprites/spritesheet.png';
$cmn_hdr_logo: 0px 78px 0px -78px 61px 67px 566px 557px '../../img/header/sprites/spritesheet.png';
$cmn_hdr_m01-x: 0px;
$cmn_hdr_m01-y: 211px;
$cmn_hdr_m01-offset-x: 0px;
$cmn_hdr_m01-offset-y: -211px;
$cmn_hdr_m01-width: 184px;
$cmn_hdr_m01-height: 46px;
$cmn_hdr_m01-total-width: 566px;
$cmn_hdr_m01-total-height: 557px;
$cmn_hdr_m01-image: '../../img/header/sprites/spritesheet.png';
$cmn_hdr_m01: 0px 211px 0px -211px 184px 46px 566px 557px '../../img/header/sprites/spritesheet.png';
$cmn_hdr_m01_hv-x: 0px;
$cmn_hdr_m01_hv-y: 267px;
$cmn_hdr_m01_hv-offset-x: 0px;
$cmn_hdr_m01_hv-offset-y: -267px;
$cmn_hdr_m01_hv-width: 184px;
$cmn_hdr_m01_hv-height: 46px;
$cmn_hdr_m01_hv-total-width: 566px;
$cmn_hdr_m01_hv-total-height: 557px;
$cmn_hdr_m01_hv-image: '../../img/header/sprites/spritesheet.png';
$cmn_hdr_m01_hv: 0px 267px 0px -267px 184px 46px 566px 557px '../../img/header/sprites/spritesheet.png';
$cmn_hdr_m02-x: 0px;
$cmn_hdr_m02-y: 323px;
$cmn_hdr_m02-offset-x: 0px;
$cmn_hdr_m02-offset-y: -323px;
$cmn_hdr_m02-width: 184px;
$cmn_hdr_m02-height: 46px;
$cmn_hdr_m02-total-width: 566px;
$cmn_hdr_m02-total-height: 557px;
$cmn_hdr_m02-image: '../../img/header/sprites/spritesheet.png';
$cmn_hdr_m02: 0px 323px 0px -323px 184px 46px 566px 557px '../../img/header/sprites/spritesheet.png';
$cmn_hdr_m02_hv-x: 382px;
$cmn_hdr_m02_hv-y: 0px;
$cmn_hdr_m02_hv-offset-x: -382px;
$cmn_hdr_m02_hv-offset-y: 0px;
$cmn_hdr_m02_hv-width: 184px;
$cmn_hdr_m02_hv-height: 46px;
$cmn_hdr_m02_hv-total-width: 566px;
$cmn_hdr_m02_hv-total-height: 557px;
$cmn_hdr_m02_hv-image: '../../img/header/sprites/spritesheet.png';
$cmn_hdr_m02_hv: 382px 0px -382px 0px 184px 46px 566px 557px '../../img/header/sprites/spritesheet.png';
$cmn_hdr_m03-x: 382px;
$cmn_hdr_m03-y: 56px;
$cmn_hdr_m03-offset-x: -382px;
$cmn_hdr_m03-offset-y: -56px;
$cmn_hdr_m03-width: 184px;
$cmn_hdr_m03-height: 46px;
$cmn_hdr_m03-total-width: 566px;
$cmn_hdr_m03-total-height: 557px;
$cmn_hdr_m03-image: '../../img/header/sprites/spritesheet.png';
$cmn_hdr_m03: 382px 56px -382px -56px 184px 46px 566px 557px '../../img/header/sprites/spritesheet.png';
$cmn_hdr_m03_hv-x: 382px;
$cmn_hdr_m03_hv-y: 112px;
$cmn_hdr_m03_hv-offset-x: -382px;
$cmn_hdr_m03_hv-offset-y: -112px;
$cmn_hdr_m03_hv-width: 184px;
$cmn_hdr_m03_hv-height: 46px;
$cmn_hdr_m03_hv-total-width: 566px;
$cmn_hdr_m03_hv-total-height: 557px;
$cmn_hdr_m03_hv-image: '../../img/header/sprites/spritesheet.png';
$cmn_hdr_m03_hv: 382px 112px -382px -112px 184px 46px 566px 557px '../../img/header/sprites/spritesheet.png';
$cmn_hdr_m04-x: 382px;
$cmn_hdr_m04-y: 168px;
$cmn_hdr_m04-offset-x: -382px;
$cmn_hdr_m04-offset-y: -168px;
$cmn_hdr_m04-width: 184px;
$cmn_hdr_m04-height: 46px;
$cmn_hdr_m04-total-width: 566px;
$cmn_hdr_m04-total-height: 557px;
$cmn_hdr_m04-image: '../../img/header/sprites/spritesheet.png';
$cmn_hdr_m04: 382px 168px -382px -168px 184px 46px 566px 557px '../../img/header/sprites/spritesheet.png';
$cmn_hdr_m04_hv-x: 0px;
$cmn_hdr_m04_hv-y: 155px;
$cmn_hdr_m04_hv-offset-x: 0px;
$cmn_hdr_m04_hv-offset-y: -155px;
$cmn_hdr_m04_hv-width: 184px;
$cmn_hdr_m04_hv-height: 46px;
$cmn_hdr_m04_hv-total-width: 566px;
$cmn_hdr_m04_hv-total-height: 557px;
$cmn_hdr_m04_hv-image: '../../img/header/sprites/spritesheet.png';
$cmn_hdr_m04_hv: 0px 155px 0px -155px 184px 46px 566px 557px '../../img/header/sprites/spritesheet.png';
$cmn_hdr_m05-x: 188px;
$cmn_hdr_m05-y: 0px;
$cmn_hdr_m05-offset-x: -188px;
$cmn_hdr_m05-offset-y: 0px;
$cmn_hdr_m05-width: 184px;
$cmn_hdr_m05-height: 46px;
$cmn_hdr_m05-total-width: 566px;
$cmn_hdr_m05-total-height: 557px;
$cmn_hdr_m05-image: '../../img/header/sprites/spritesheet.png';
$cmn_hdr_m05: 188px 0px -188px 0px 184px 46px 566px 557px '../../img/header/sprites/spritesheet.png';
$cmn_hdr_m05_hv-x: 382px;
$cmn_hdr_m05_hv-y: 224px;
$cmn_hdr_m05_hv-offset-x: -382px;
$cmn_hdr_m05_hv-offset-y: -224px;
$cmn_hdr_m05_hv-width: 184px;
$cmn_hdr_m05_hv-height: 46px;
$cmn_hdr_m05_hv-total-width: 566px;
$cmn_hdr_m05_hv-total-height: 557px;
$cmn_hdr_m05_hv-image: '../../img/header/sprites/spritesheet.png';
$cmn_hdr_m05_hv: 382px 224px -382px -224px 184px 46px 566px 557px '../../img/header/sprites/spritesheet.png';
$cmn_hdr_m06-x: 382px;
$cmn_hdr_m06-y: 280px;
$cmn_hdr_m06-offset-x: -382px;
$cmn_hdr_m06-offset-y: -280px;
$cmn_hdr_m06-width: 184px;
$cmn_hdr_m06-height: 46px;
$cmn_hdr_m06-total-width: 566px;
$cmn_hdr_m06-total-height: 557px;
$cmn_hdr_m06-image: '../../img/header/sprites/spritesheet.png';
$cmn_hdr_m06: 382px 280px -382px -280px 184px 46px 566px 557px '../../img/header/sprites/spritesheet.png';
$cmn_hdr_m06_hv-x: 0px;
$cmn_hdr_m06_hv-y: 491px;
$cmn_hdr_m06_hv-offset-x: 0px;
$cmn_hdr_m06_hv-offset-y: -491px;
$cmn_hdr_m06_hv-width: 184px;
$cmn_hdr_m06_hv-height: 35px;
$cmn_hdr_m06_hv-total-width: 566px;
$cmn_hdr_m06_hv-total-height: 557px;
$cmn_hdr_m06_hv-image: '../../img/header/sprites/spritesheet.png';
$cmn_hdr_m06_hv: 0px 491px 0px -491px 184px 35px 566px 557px '../../img/header/sprites/spritesheet.png';
$cmn_hdr_m07-x: 0px;
$cmn_hdr_m07-y: 435px;
$cmn_hdr_m07-offset-x: 0px;
$cmn_hdr_m07-offset-y: -435px;
$cmn_hdr_m07-width: 184px;
$cmn_hdr_m07-height: 46px;
$cmn_hdr_m07-total-width: 566px;
$cmn_hdr_m07-total-height: 557px;
$cmn_hdr_m07-image: '../../img/header/sprites/spritesheet.png';
$cmn_hdr_m07: 0px 435px 0px -435px 184px 46px 566px 557px '../../img/header/sprites/spritesheet.png';
$cmn_hdr_m07_hv-x: 194px;
$cmn_hdr_m07_hv-y: 435px;
$cmn_hdr_m07_hv-offset-x: -194px;
$cmn_hdr_m07_hv-offset-y: -435px;
$cmn_hdr_m07_hv-width: 184px;
$cmn_hdr_m07_hv-height: 35px;
$cmn_hdr_m07_hv-total-width: 566px;
$cmn_hdr_m07_hv-total-height: 557px;
$cmn_hdr_m07_hv-image: '../../img/header/sprites/spritesheet.png';
$cmn_hdr_m07_hv: 194px 435px -194px -435px 184px 35px 566px 557px '../../img/header/sprites/spritesheet.png';
$cmn_hdr_m08-x: 360px;
$cmn_hdr_m08-y: 379px;
$cmn_hdr_m08-offset-x: -360px;
$cmn_hdr_m08-offset-y: -379px;
$cmn_hdr_m08-width: 184px;
$cmn_hdr_m08-height: 46px;
$cmn_hdr_m08-total-width: 566px;
$cmn_hdr_m08-total-height: 557px;
$cmn_hdr_m08-image: '../../img/header/sprites/spritesheet.png';
$cmn_hdr_m08: 360px 379px -360px -379px 184px 46px 566px 557px '../../img/header/sprites/spritesheet.png';
$cmn_hdr_m08_hv-x: 188px;
$cmn_hdr_m08_hv-y: 56px;
$cmn_hdr_m08_hv-offset-x: -188px;
$cmn_hdr_m08_hv-offset-y: -56px;
$cmn_hdr_m08_hv-width: 184px;
$cmn_hdr_m08_hv-height: 46px;
$cmn_hdr_m08_hv-total-width: 566px;
$cmn_hdr_m08_hv-total-height: 557px;
$cmn_hdr_m08_hv-image: '../../img/header/sprites/spritesheet.png';
$cmn_hdr_m08_hv: 188px 56px -188px -56px 184px 46px 566px 557px '../../img/header/sprites/spritesheet.png';
$cmn_hdr_next-x: 382px;
$cmn_hdr_next-y: 336px;
$cmn_hdr_next-offset-x: -382px;
$cmn_hdr_next-offset-y: -336px;
$cmn_hdr_next-width: 30px;
$cmn_hdr_next-height: 33px;
$cmn_hdr_next-total-width: 566px;
$cmn_hdr_next-total-height: 557px;
$cmn_hdr_next-image: '../../img/header/sprites/spritesheet.png';
$cmn_hdr_next: 382px 336px -382px -336px 30px 33px 566px 557px '../../img/header/sprites/spritesheet.png';
$cmn_hdr_next_hv-x: 422px;
$cmn_hdr_next_hv-y: 336px;
$cmn_hdr_next_hv-offset-x: -422px;
$cmn_hdr_next_hv-offset-y: -336px;
$cmn_hdr_next_hv-width: 30px;
$cmn_hdr_next_hv-height: 33px;
$cmn_hdr_next_hv-total-width: 566px;
$cmn_hdr_next_hv-total-height: 557px;
$cmn_hdr_next_hv-image: '../../img/header/sprites/spritesheet.png';
$cmn_hdr_next_hv: 422px 336px -422px -336px 30px 33px 566px 557px '../../img/header/sprites/spritesheet.png';
$cmn_hdr_phonecall-x: 0px;
$cmn_hdr_phonecall-y: 379px;
$cmn_hdr_phonecall-offset-x: 0px;
$cmn_hdr_phonecall-offset-y: -379px;
$cmn_hdr_phonecall-width: 350px;
$cmn_hdr_phonecall-height: 46px;
$cmn_hdr_phonecall-total-width: 566px;
$cmn_hdr_phonecall-total-height: 557px;
$cmn_hdr_phonecall-image: '../../img/header/sprites/spritesheet.png';
$cmn_hdr_phonecall: 0px 379px 0px -379px 350px 46px 566px 557px '../../img/header/sprites/spritesheet.png';
$cmn_hdr_pr-x: 315px;
$cmn_hdr_pr-y: 491px;
$cmn_hdr_pr-offset-x: -315px;
$cmn_hdr_pr-offset-y: -491px;
$cmn_hdr_pr-width: 111px;
$cmn_hdr_pr-height: 21px;
$cmn_hdr_pr-total-width: 566px;
$cmn_hdr_pr-total-height: 557px;
$cmn_hdr_pr-image: '../../img/header/sprites/spritesheet.png';
$cmn_hdr_pr: 315px 491px -315px -491px 111px 21px 566px 557px '../../img/header/sprites/spritesheet.png';
$cmn_hdr_pr_hv-x: 436px;
$cmn_hdr_pr_hv-y: 491px;
$cmn_hdr_pr_hv-offset-x: -436px;
$cmn_hdr_pr_hv-offset-y: -491px;
$cmn_hdr_pr_hv-width: 111px;
$cmn_hdr_pr_hv-height: 21px;
$cmn_hdr_pr_hv-total-width: 566px;
$cmn_hdr_pr_hv-total-height: 557px;
$cmn_hdr_pr_hv-image: '../../img/header/sprites/spritesheet.png';
$cmn_hdr_pr_hv: 436px 491px -436px -491px 111px 21px 566px 557px '../../img/header/sprites/spritesheet.png';
$cmn_hdr_pre-x: 462px;
$cmn_hdr_pre-y: 336px;
$cmn_hdr_pre-offset-x: -462px;
$cmn_hdr_pre-offset-y: -336px;
$cmn_hdr_pre-width: 30px;
$cmn_hdr_pre-height: 33px;
$cmn_hdr_pre-total-width: 566px;
$cmn_hdr_pre-total-height: 557px;
$cmn_hdr_pre-image: '../../img/header/sprites/spritesheet.png';
$cmn_hdr_pre: 462px 336px -462px -336px 30px 33px 566px 557px '../../img/header/sprites/spritesheet.png';
$cmn_hdr_pre_hv-x: 502px;
$cmn_hdr_pre_hv-y: 336px;
$cmn_hdr_pre_hv-offset-x: -502px;
$cmn_hdr_pre_hv-offset-y: -336px;
$cmn_hdr_pre_hv-width: 30px;
$cmn_hdr_pre_hv-height: 33px;
$cmn_hdr_pre_hv-total-width: 566px;
$cmn_hdr_pre_hv-total-height: 557px;
$cmn_hdr_pre_hv-image: '../../img/header/sprites/spritesheet.png';
$cmn_hdr_pre_hv: 502px 336px -502px -336px 30px 33px 566px 557px '../../img/header/sprites/spritesheet.png';
$cmn_hdr_sptxt01-x: 121px;
$cmn_hdr_sptxt01-y: 536px;
$cmn_hdr_sptxt01-offset-x: -121px;
$cmn_hdr_sptxt01-offset-y: -536px;
$cmn_hdr_sptxt01-width: 115px;
$cmn_hdr_sptxt01-height: 17px;
$cmn_hdr_sptxt01-total-width: 566px;
$cmn_hdr_sptxt01-total-height: 557px;
$cmn_hdr_sptxt01-image: '../../img/header/sprites/spritesheet.png';
$cmn_hdr_sptxt01: 121px 536px -121px -536px 115px 17px 566px 557px '../../img/header/sprites/spritesheet.png';
$cmn_hdr_sptxt02-x: 71px;
$cmn_hdr_sptxt02-y: 109px;
$cmn_hdr_sptxt02-offset-x: -71px;
$cmn_hdr_sptxt02-offset-y: -109px;
$cmn_hdr_sptxt02-width: 94px;
$cmn_hdr_sptxt02-height: 17px;
$cmn_hdr_sptxt02-total-width: 566px;
$cmn_hdr_sptxt02-total-height: 557px;
$cmn_hdr_sptxt02-image: '../../img/header/sprites/spritesheet.png';
$cmn_hdr_sptxt02: 71px 109px -71px -109px 94px 17px 566px 557px '../../img/header/sprites/spritesheet.png';
$cmn_hdr_sptxt03-x: 246px;
$cmn_hdr_sptxt03-y: 536px;
$cmn_hdr_sptxt03-offset-x: -246px;
$cmn_hdr_sptxt03-offset-y: -536px;
$cmn_hdr_sptxt03-width: 115px;
$cmn_hdr_sptxt03-height: 17px;
$cmn_hdr_sptxt03-total-width: 566px;
$cmn_hdr_sptxt03-total-height: 557px;
$cmn_hdr_sptxt03-image: '../../img/header/sprites/spritesheet.png';
$cmn_hdr_sptxt03: 246px 536px -246px -536px 115px 17px 566px 557px '../../img/header/sprites/spritesheet.png';
$cmn_hdr_sptxt04-x: 371px;
$cmn_hdr_sptxt04-y: 536px;
$cmn_hdr_sptxt04-offset-x: -371px;
$cmn_hdr_sptxt04-offset-y: -536px;
$cmn_hdr_sptxt04-width: 94px;
$cmn_hdr_sptxt04-height: 17px;
$cmn_hdr_sptxt04-total-width: 566px;
$cmn_hdr_sptxt04-total-height: 557px;
$cmn_hdr_sptxt04-image: '../../img/header/sprites/spritesheet.png';
$cmn_hdr_sptxt04: 371px 536px -371px -536px 94px 17px 566px 557px '../../img/header/sprites/spritesheet.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
